<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span> {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{DEDUCTION_CODE_CREATE_LABEL['helpMessage']}}">{{DEDUCTION_CODE_CREATE_LABEL['helpMessage']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{DEDUCTION_CODE_SEARCH['helpMessage']}}"
                            placeholder="{{DEDUCTION_CODE_SEARCH['fieldValue']}}" (keyup)='updateFilter($event)' />
                    </div>
                </div>
            </div>

            <div class="setting-btn-wrap">
                <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i
                        class="fa fa-gear"></i></button>
                <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)"
                    title="Reset">Reset</button>
                <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)"
                    title="Save"><i class="fa fa-save"></i></button>
            </div>

            <div class="algo-table algo-table-department">
                <!-- Data Grid Starts-->
                <div class="table-responsive">
                    <ngx-datatable id="deductionCodeGrid1" class="material" [rows]="rows" [columnMode]="'force'"
                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements"
                        [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected"
                        [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

                        <!-- Data Grid checkbox -->
                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                            [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
                        </ngx-datatable-column>

                        <!-- Data Grid Columns -->
                        <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                            <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">
                                <ngx-datatable-column *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "
                                    name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false"
                                    [draggable]="true" [resizeable]="false">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <input type="checkbox" class="daynamic-position" *ngIf="isConfigure" [checked]="grid.isVisible == 1"
                                            name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                        <div [draggable]="isConfigure" (dragstart)="commonService.drag($event,0,i,grid.colOrder)"
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)"
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                                    </ng-template>
                                </ngx-datatable-column>
                            </div>
                        </div>
                        <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false"
                            [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                {{DEDUCTION_CODE_ACTION['fieldValue']}}
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <!-- Data Grid Ends-->
            </div>

            <div class="button-row">
                <!-- Table View Starts -->
                <div class="table-view table-view-fix">
                    <span>{{DEDUCTION_CODE_TABLEVIEW['fieldValue']}}</span>
                    <div class="select-outer">
                        <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize"
                            #cityId="ngModel">
                            <option *ngFor="let tv of tableViews" [value]="tv.id">{{tv.name}}</option>
                        </select>
                    </div>
                </div>
                <!-- Table View Ends -->

                <div class="bottom-view">
                </div>
                <button class="blue-btn" (click)="varifyDelete()">{{DEDUCTION_CODE_DELETE_LABEL['fieldValue']}}</button>

                <!-- Create / Update Form start -->
                <div *ngIf="showCreateForm">
                    <div class="col-md-12 mt-30">
                        <hr>
                    </div>
                    <div class="col-md-12 mb-30">
                        <h3 *ngIf="!model.id">{{DEDUCTION_CODE_CREATE_FORM_LABEL['fieldValue']}}</h3>
                        <h3 *ngIf="model.id">{{DEDUCTION_CODE_UPDATE_FORM_LABEL['fieldValue']}}</h3>
                    </div>
                    <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="clearfix"></div>
                    <form class="form-horizontal" (ngSubmit)="f.form.valid &&  !error.isError && frequency.value!=0 && method.value!=0  && islifeTimeValidperperiod && islifeTimeValidamount && CreateDeductionCode(f, $event) "
                        #f="ngForm" novalidate>

                        <div class="row com-form">
                            <div class="col-md-8">
                                <!-- frmstar Id field -->
                                <div class="form-group">
                                    <div *ngIf="isUnderUpdate; then update else create"></div>
                                    <ng-template #update>
                                        <div [ngClass]="{ 'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                                            <div class="col-md-4">
                                                <label class="control-label" for="diductionId">{{DEDUCTION_CODE_ID['fieldValue']}}</label>
                                                <span *ngIf="DEDUCTION_CODE_ID['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="text" [ngClass]="'form-control fm-txt'" name="diductionId"
                                                            value="{{diductionIdvalue}}" title="{{DEDUCTION_CODE_ID['helpMessage']}}"
                                                            [readonly]="DEDUCTION_CODE_ID['readAccess']" maxlength="15" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-1">
                                                            <input type="checkbox" (click)="checkDeductionCodeForm($event)"
                                                                name="inActive" [(ngModel)]="model.inActive" #inActive="ngModel">
                                                        </div>
                                                        <div class="col-md-5" style="padding-top: 9px;">
                                                            <label for="inactive">{{DEDUCTION_CODE_INACTIVE['fieldValue']}}</label>
                                                            <span *ngIf="DEDUCTION_CODE_INACTIVE['isMandatory']">*</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>


                                    <ng-template #create>
                                        <div [ngClass]="{ 'has-error': f.submitted && !diductionId.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                                            <div class="col-md-4">
                                                <label class="control-label" for="diductionId">{{DEDUCTION_CODE_ID['fieldValue']}}</label>
                                                <span *ngIf="DEDUCTION_CODE_ID['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <input type="text" [ngClass]="'form-control fm-txt'" name="diductionId"
                                                            [(ngModel)]="model.diductionId" #diductionId="ngModel"
                                                            title="{{DEDUCTION_CODE_ID['helpMessage']}}" [required]="DEDUCTION_CODE_ID['isMandatory']"
                                                            maxlength="15" class="search-id" autocomplete="off"
                                                            [typeahead]="deductioncodeIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                                                            (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                                            typeaheadOptionField="diductionId" />
                                                        <div *ngIf="f.submitted && diductionId.invalid">
                                                            <div [hidden]="!diductionId.errors.required">
                                                                {{DEDUCTION_CODE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                            </div>
                                                            <div [hidden]="!diductionId.errors?.maxlength" *ngIf="DEDUCTION_CODE_ID['listDtoFieldValidationMessage'][1]">
                                                                {{DEDUCTION_CODE_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-1">
                                                            <input type="checkbox" (click)="checkDeductionCodeForm($event)"
                                                                name="inActive" [(ngModel)]="model.inActive" #inActive="ngModel">
                                                        </div>
                                                        <div class="col-md-5" style="padding-top: 9px;">
                                                            <label for="inactive">{{DEDUCTION_CODE_INACTIVE['fieldValue']}}</label>
                                                            <span *ngIf="DEDUCTION_CODE_INACTIVE['isMandatory']">*</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <!-- frmstar Description Field -->
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && !discription.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="discription">{{DEDUCTION_CODE_DESCRIPTION['fieldValue']}}</label>
                                            <span *ngIf="DEDUCTION_CODE_DESCRIPTION['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="discription"
                                                [(ngModel)]="model.discription" #discription="ngModel" title="{{DEDUCTION_CODE_DESCRIPTION['helpMessage']}}"
                                                [required]="DEDUCTION_CODE_DESCRIPTION['isMandatory']" maxlength="31" />
                                            <div *ngIf="f.submitted && discription.invalid">
                                                <div [hidden]="!discription.errors.required">
                                                    {{DEDUCTION_CODE_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!discription.errors?.maxlength" *ngIf="DEDUCTION_CODE_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                    {{DEDUCTION_CODE_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Arabic Deduction Code description -->
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && !arbicDiscription.valid,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="arbicDiscription">{{DEDUCTION_CODE_ARABIC_DESCRIPTION['fieldValue']}}</label>
                                            <span *ngIf="DEDUCTION_CODE_ARABIC_DESCRIPTION['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-8 arabic-mode">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="arbicDiscription"
                                                [(ngModel)]="model.arbicDiscription" #arbicDiscription="ngModel" title="{{DEDUCTION_CODE_ARABIC_DESCRIPTION['helpMessage']}}"
                                                maxlength="61" [required]="DEDUCTION_CODE_ARABIC_DESCRIPTION['isMandatory']" />
                                            <div *ngIf="f.submitted && arbicDiscription.invalid">
                                                <div [hidden]="!arbicDiscription.errors.required">
                                                    {{DEDUCTION_CODE_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!arbicDiscription.errors?.maxlength" *ngIf="DEDUCTION_CODE_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                    {{DEDUCTION_CODE_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && method.value==0,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="method">{{DEDUCTION_CODE_METHOD['fieldValue']}}</label>
                                            <span *ngIf="DEDUCTION_CODE_METHOD['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="method"
                                                [(ngModel)]="model.method" #method="ngModel" title="{{DEDUCTION_CODE_METHOD['helpMessage']}}"
                                                [required]="DEDUCTION_CODE_METHOD['isMandatory']" (change)="selectedMethod($event.target.selectedIndex)">
                                                <option value="0">-- Select Deduction Method --</option>
                                                <option *ngFor="let method of methods" [value]="method.id">{{method.name}}</option>
                                            </select>
                                            <div *ngIf="f.submitted && method.value==0">
                                                <div [hidden]="method.value!=0">
                                                    {{DEDUCTION_CODE_METHOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!method.errors?.maxlength" *ngIf="DEDUCTION_CODE_METHOD['listDtoFieldValidationMessage'][1]">
                                                    {{DEDUCTION_CODE_METHOD['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Based On Paycode Dropdown -->
                                <div class="form-group" *ngIf="(model.method == 5)">
                                    <div class="col-md-10 col-sm-6 col-xs-12">
                                        <div class="col-md-4">
                                            <label class="control-label" for="method">Based On Pay Code</label>
                                        </div>
                                        <div class="col-md-8">
                                            <angular2-multiselect name="selectBasedOnPaycode" [data]="AllBasedOnPayCodeList"
                                                [(ngModel)]="showSelectedPaycode" [settings]="payCodeSettings"
                                                (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                    </div>
                                </div>

                                <!-- Paycode Factor -->
                                <div class="form-group" *ngIf="(model.method == 5)">
                                    <div [ngClass]="{'has-error': (f.submitted && !Payfactor.valid),'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="method">Pay Factor</label>
                                            <span>*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="payFactor"
                                                [(ngModel)]="model.payFactor" #Payfactor="ngModel" title="Pay Factor"
                                                maxlength="11" min="0" (keypress)="keyPress($event)" onKeyPress="if(this.value.length==10) return false;"
                                                max="9999999999" onkeypress="return check_digit(event,this,10,7);" (keyup)="checkdecimalpayRate(Payfactor.value)"
                                                [required]="true" (focus)="amountCal()" (input)="totalAmount(model.payFactor)" />
                                            <div *ngIf="(f.submitted && Payfactor.invalid)">
                                                <div [hidden]="!Payfactor.errors?.required">
                                                    This field is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Amount -->
                                <div *ngIf="(model.method == 0 ||model.method ==  1 || model.method == 2 || model.method == 5); then normalamount else percent"></div>
                                <ng-template #normalamount>
                                    <div class="form-group">
                                        <div [ngClass]="{'has-error': (f.submitted && (model.amount== '' || model.amount== null)),'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="amount">{{DEDUCTION_CODE_AMOUNT['fieldValue']}}</label>
                                                <span *ngIf="DEDUCTION_CODE_AMOUNT['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="number" [ngClass]="'form-control fm-txt'" name="amount"
                                                    [(ngModel)]="model.amount" #Amount="ngModel" title="{{DEDUCTION_CODE_AMOUNT['helpMessage']}}"
                                                     maxlength="11" min="0" (keypress)="keyPress($event)"
                                                    onKeyPress="if(this.value.length==10) return false;" max="9999999999"
                                                    [disabled]="model.method == 5" [required]="DEDUCTION_CODE_AMOUNT['isMandatory']"/>
                                                    <!--  (keyup)="amountComp(amount.value)"
                                                    (change)="amountComp(amount.value)" -->
                                                <div *ngIf="(f.submitted && (model.amount== '' || model.amount== null)) || !islifeTimeValidamount">
                                                    <div [hidden]="!islifeTimeValidamount && !amount.errors?.required">
                                                        {{DEDUCTION_CODE_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div *ngIf="!islifeTimeValidamount">
                                                        {{DEDUCTION_CODE_AMOUNT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                                <div *ngIf="isCompAmount">
                                                    <div>
                                                        {{ errorDeductn }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>


                                <!-- // Deduction Percent -->

                                <ng-template #percent>
                                    <div class="form-group">
                                        <div [ngClass]="{'has-error': (f.submitted && !percent.valid) || !islifeTimeValidamountPercent,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="percent">{{DEDUCTION_CODE_AMOUNT_PERCENT['fieldValue']}}</label>
                                                <span *ngIf="DEDUCTION_CODE_AMOUNT_PERCENT['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8">
                                                <input type="number" [ngClass]="'form-control fm-txt'" name="percent"
                                                    [(ngModel)]="model.percent" #percent="ngModel" title="{{DEDUCTION_CODE_AMOUNT_PERCENT['helpMessage']}}"
                                                    [required]="DEDUCTION_CODE_AMOUNT_PERCENT['isMandatory']" maxlength="11"
                                                    min="0" (keypress)="keyPress($event)" (keyup)="checkdecimalamountPercent(percent.value)"
                                                    onKeyPress="if(this.value.length==10) return false;" max="9999999999"
                                                    onkeypress="return check_digit(event,this,10,5);" />
                                                <div *ngIf="(f.submitted && percent.invalid) || !islifeTimeValidamountPercent">
                                                    <div [hidden]="!percent.errors?.required">
                                                        {{DEDUCTION_CODE_AMOUNT_PERCENT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div *ngIf="!percent.errors?.required && !islifeTimeValidamountPercent">
                                                        {{DEDUCTION_CODE_AMOUNT_PERCENT['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                                <!-- Frequency -->
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && frequency.value==0,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="frequency">{{DEDUCTION_CODE_FREQUENCY['fieldValue']}}</label>
                                            <span *ngIf="DEDUCTION_CODE_FREQUENCY['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="frequency"
                                                [(ngModel)]="model.frequency" #frequency="ngModel" title="{{DEDUCTION_CODE_FREQUENCY['helpMessage']}}"
                                                [required]="DEDUCTION_CODE_FREQUENCY['isMandatory']">
                                                <option value="0">-- Select {{DEDUCTION_CODE_FREQUENCY['fieldValue']}}
                                                    --</option>
                                                <option *ngFor="let frequency of frequencies" [value]="frequency.id">{{frequency.name}}</option>
                                            </select>
                                            <div *ngIf="f.submitted && frequency.value==0">
                                                <div [hidden]="frequency.value!=0">
                                                    {{DEDUCTION_CODE_FREQUENCY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Second Section -->
                            <div class="col-md-4">
                                <div class="form-group" style="margin-bottom: 10px">

                                        <div class="col-md-6">
                                            <label class="control-label" for="type">Type</label>
                                            <select name="type" [ngClass]="'form-control fm-txt'" [(ngModel)]="model.deductionTypeId"
                                                #type="ngModel">
                                                <option value= "0">-- Select Type --</option>
                                                <option *ngFor="let val of typeData" value="{{val.id}}">{{val.value}}</option>
                                            </select>
                                        </div>
            
                                        <div class="col-md-6">
                                            <label class="control-label" for="round">Rounding</label>
                                            <!-- <span *ngIf="PAYCODE_DESCRIPTION['isMandatory']">*</span> -->
                                            <select name="round" [ngClass]="'form-control fm-txt'" [(ngModel)]="model.roundOf"
                                                #round="ngModel">
                                                <option value= "0">0</option>
                                                <option value= "1">0.0</option>
                                                <option value= "2">0.00</option>
                                                <option value= "3">0.000</option>
                                                <option value= "4">0.0000</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="borderbox">
                                    <h4 class="margin-bottom">{{DEDUCTION_CODE_MAXDEDUCTION['fieldValue']}}</h4>
                                    <!-- Pay Period -->
                                    <div class="form-group">
                                        <div [ngClass]="{'has-error': f.submitted && !perPeriod.valid, 'col-xs-12':true, '': currentLanguage == 2}">
                                            <div class="col-md-6">
                                                <label class="control-label" for="perPeriod">{{DEDUCTION_CODE_PER_PERIOD['fieldValue']}}</label>
                                                <!-- <span *ngIf="DEDUCTION_CODE_PER_PERIOD['isMandatory']">*</span> -->
                                            </div>
                                            <div class="col-md-6">
                                                <input type="number" [ngClass]="'form-control fm-txt'" name="perPeriod"
                                                    [(ngModel)]="model.perPeriod" #perPeriod="ngModel" title="{{DEDUCTION_CODE_PER_PERIOD['helpMessage']}}"
                                                    (keypress)="keyPress($event)" (keyup)="checkdecimalperperiod(perPeriod.value)"
                                                    [required]="DEDUCTION_CODE_PER_PERIOD['isMandatory']" onKeyPress="if(this.value.length==10) return false;"
                                                    max="9999999999" maxlength="11" min="0" onkeypress="return check_digit(event,this,10,3);"
                                                    (keyup)="amountTrnsDeductnPp(perPeriod.value); maxAmountCompPp(perPeriod.value);RequiredValidation(perPeriod.value)"
                                                    (change)="amountTrnsDeductnPp(perPeriod.value); maxAmountCompPp(perPeriod.value);RequiredValidation(perPeriod.value)" />
                                                <div *ngIf="(f.submitted && perPeriod.invalid) || !islifeTimeValidperperiod">
                                                    <div [hidden]="!islifeTimeValidperperiod && !perPeriod.errors?.required">
                                                        {{DEDUCTION_CODE_PER_PERIOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div *ngIf="!islifeTimeValidperperiod">
                                                        {{DEDUCTION_CODE_PER_PERIOD['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                                <div *ngIf="isCompMaxTrxnPp">
                                                    <div>
                                                        {{ errorMaxPp }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- per Year -->
                                    <div class="form-group">
                                        <div [ngClass]="{'col-xs-12':true, '': currentLanguage == 2}">
                                            <div class="col-md-6">
                                                <label class="control-label" for="perYear">{{DEDUCTION_CODE_PER_YEAR['fieldValue']}}</label>
                                                <!-- <span *ngIf="DEDUCTION_CODE_PER_YEAR['isMandatory']">*</span> -->
                                            </div>
                                            <div class="col-md-6">
                                                <input type="number" [ngClass]="'form-control fm-txt'" name="perYear"
                                                    [(ngModel)]="model.perYear" #perYear="ngModel" title="{{DEDUCTION_CODE_PER_YEAR['helpMessage']}}"
                                                    maxlength="11"  min="0" onkeypress="return check_digit(event,this,10,3);" />
                                                    <!-- (keypress)="keyPress($event)" (keyup)="checkdecimalperyear(perYear.value)"
                                                    min="0" [required]="false"
                                                    onKeyPress="if(this.value.length==10) return false;" max="9999999999"
                                                    onkeypress="return check_digit(event,this,10,3);" (keyup)="maxAmountCompPy(perYear.value);maxAmountCompPp(perPeriod.value);RequiredValidation(perYear.value)"
                                                    (change)="maxAmountCompPy(perYear.value);maxAmountCompPp(perPeriod.value);RequiredValidation(perYear.value)" /> -->
                                                <!-- <div *ngIf="!islifeTimeValidperyear">
                                                    <div [hidden]="!islifeTimeValidperyear && !perYear.errors?.required">
                                                        {{DEDUCTION_CODE_PER_YEAR['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                    <div *ngIf="!islifeTimeValidperyear">
                                                        {{DEDUCTION_CODE_PER_YEAR['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                </div> -->
                                                <!-- <div *ngIf="isCompMaxTrxnPy">
                                                    <div>
                                                        {{ errorMaxPy }}
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Life Time -->
                                    <div class="form-group">
                                        <div [ngClass]="{'col-xs-12':true, '': currentLanguage == 2}">
                                            <div class="col-md-6">
                                                <label class="control-label" for="lifeTime">{{DEDUCTION_CODE_LIFETIME['fieldValue']}}</label>
                                                <!-- <span *ngIf="DEDUCTION_CODE_LIFETIME['isMandatory']">*</span> -->
                                            </div>
                                            <div class="col-md-6">
                                                <input type="number" [ngClass]="'form-control fm-txt'" name="lifeTime"
                                                    [(ngModel)]="model.lifeTime" #lifeTime="ngModel" title="{{DEDUCTION_CODE_LIFETIME['helpMessage']}}"
                                                    maxlength="11"  onkeypress="return check_digit(event,this,10,3);" />
                                                     <!-- (keypress)="keyPress($event)" (keyup)="checkdecimal(lifeTime.value)"
                                                    min="0" [required]="false"
                                                    onKeyPress="if(this.value.length==10) return false;" max="9999999999"
                                                    onkeypress="return check_digit(event,this,10,3);" (keyup)="maxAmountCompLt(lifeTime.value);maxAmountCompPy(perYear.value);RequiredValidation(lifeTime.value)"
                                                    (change)="maxAmountCompLt(lifeTime.value);maxAmountCompPy(perYear.value);RequiredValidation(lifeTime.value)" /> -->

                                                <!-- <div *ngIf="(f.submitted && lifeTime.invalid) || !islifeTimeValid">
                                                    <div [hidden]="!islifeTimeValid && !lifeTime.errors?.required">
                                                        {{DEDUCTION_CODE_LIFETIME['listDtoFieldValidationMessage'][0]['validationMessage']}}

                                                    </div>
                                                    <div *ngIf="!islifeTimeValid">
                                                        {{DEDUCTION_CODE_LIFETIME['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                                <div *ngIf="isCompMaxTrxnLt">
                                                    <div>
                                                        {{ errorMaxLt }}
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Date Section -->
                        <div class="borderbox">
                            <div class="row com-form">
                                <div class="col-md-4">
                                    <!-- Start Date -->
                                    <div class="form-group">
                                        <div [ngClass]="{'has-error': f.submitted && !frmStartDate.valid && isRadioSelected,'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                            <div class="col-md-6">
                                                <input type="radio" name="date" #date (change)="dateSelection($event)" [checked]="dateSectionDateDisplay">
                                                <label class="control-label">{{DEDUCTION_CODE_STARTDATE['fieldValue']}}</label>
                                                <!-- <span *ngIf="DEDUCTION_CODE_STARTDATE['isMandatory']">*</span> -->
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input [ngClass]="'form-control fm-txt'" placeholder="Select a date"
                                                        ngx-mydatepicker name="frmStartDate" [(ngModel)]="modelStartDate"
                                                        [options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onStartDateChanged($event)"
                                                        (change)="onStartDateChanged($event.target.value)"
                                                        #frmStartDate="ngModel" [required]="isRadioSelected" [readonly]="DEDUCTION_CODE_STARTDATE['readAccess']"
                                                        title="{{DEDUCTION_CODE_STARTDATE['helpMessage']}}" id="start_date" />
                                                    <span class="input-group-btn input-btn-group-fix">
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                                                            (click)="dp1.clearDate()">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                                                            (click)="dp1.toggleCalendar()" [disabled]="!isRadioSelected">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                 <div *ngIf="f.submitted && frmStartDate.invalid">
                                                    <div [hidden]="!frmStartDate.errors.required">
                                                        {{DEDUCTION_CODE_STARTDATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <!-- End Date -->
                                    <div class="form-group">
                                        <div [ngClass]="{'has-error': (f.submitted  && !frmEndDate.valid && isRadioSelected) || ( !frmEndDate.errors?.required && error.isError),'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                            <div class="col-md-6">
                                                <label class="control-label">{{DEDUCTION_CODE_ENDDATE['fieldValue']}}</label>
                                                <!-- <span *ngIf="DEDUCTION_CODE_ENDDATE['isMandatory']">*</span> -->
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input [ngClass]="'form-control fm-txt'" placeholder="Select a date"
                                                        ngx-mydatepicker name="frmEndDate" [(ngModel)]="modelEndDate"
                                                        [options]="myOptions" #dp2="ngx-mydatepicker" (dateChanged)="onEndDateChanged($event)"
                                                        #frmEndDate="ngModel" [required]="isRadioSelected" [readonly]="DEDUCTION_CODE_ENDDATE['readAccess']"
                                                        (change)="compareTwoDates(f)" (change)="onEndDateChanged($event.target.value)"
                                                        title="{{DEDUCTION_CODE_ENDDATE['helpMessage']}}" id="end_date" />
                                                    <span class="input-group-btn input-btn-group-fix">
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                                                            (click)="dp2.clearDate()">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" [disabled]="!isRadioSelected"
                                                            (click)="dp2.toggleCalendar()">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                 <div *ngIf="f.submitted && frmEndDate.invalid">
                                                    <div [hidden]="!frmEndDate.errors.required">
                                                        {{DEDUCTION_CODE_ENDDATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                </div>
                                                <div *ngIf="!frmEndDate.errors?.required && error.isError" class="r">
                                                    {{ error.errorMessage }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row com-form">
                                    <!-- Employee Joining Date -->
                                    <div class="col-md-4">
                                        <div class="">
                                            <div [ngClass]="{'has-error': (f.submitted  && !noOfDays.valid && isJoiningDateRadioSelected),'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                                <div class="col-md-6">
                                                    <input type="radio" name="joiningDate" #joiningDate (change)="daySelection($event)"
                                                           [checked]="dateSectionDayDisplay">
                                                    <label class="control-label">Employee Joining Date</label>
                                                    <!-- <span>*</span> -->
                                                </div>
                                                <div class="col-md-6">
                                                    <input [ngClass]="'form-control fm-txt'" name="empJoingDate"
                                                           [readonly]="true" title="Employee Joining Date"  />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="">
                                            <div [ngClass]="{'has-error': (f.submitted  && !noOfDays.valid && isJoiningDateRadioSelected) || ( !noOfDays.errors?.required && error.isError && isJoiningDateRadioSelected),'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                                <!-- Numbers Of days -->
                                                <div class="col-md-6">
                                                    <label class="control-label">Number Of days</label>
                                                    <!-- <span>*</span> -->
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="number" [ngClass]="'form-control fm-txt'" name="noOfDays" #noOfDays="ngModel"
                                                           [(ngModel)]="model.noOfDays" title="Number of Days" maxlength="11"
                                                           (keypress)="keyPress($event)" (keyup)="checkdecimalamount(noOfDays.value)"
                                                           onKeyPress="if(this.value.length==10) return false;" max="9999999999" min="0" [required]="isJoiningDateRadioSelected"
                                                           onkeypress="return check_digit(event,this,10,3);" [disabled]="numOfDays" />
                                                    <div *ngIf="f.submitted && noOfDays.invalid">
                                                        <div [hidden]="!noOfDays.errors.required">
                                                            This field is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="">
                                            <div [ngClass]="{'has-error': (f.submitted  && !endDateDays.valid && isJoiningDateRadioSelected) || ( !endDateDays.errors?.required && error.isError && isJoiningDateRadioSelected),'row':true, '': currentLanguage == 2}">
                                                <!-- End Date after # days -->
                                                <div class="col-md-6">
                                                    <label class="control-label">#days</label>
                                                    <!-- <span style="margin-left: -2px;">*</span> -->
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="number" [ngClass]="'form-control fm-txt'" name="endDateDays" #endDateDays="ngModel"
                                                           [(ngModel)]="model.endDateDays" title="End Date After Days"
                                                           maxlength="11" min="0" (keypress)="keyPress($event)" (keyup)="checkdecimalamount(endDateDays.value)"
                                                           onKeyPress="if(this.value.length==10) return false;" max="9999999999" [required]="isJoiningDateRadioSelected"
                                                           onkeypress="return check_digit(event,this,10,3);" [disabled]="numDays" />
                                                    <div *ngIf="f.submitted && endDateDays.invalid">
                                                        <div [hidden]="!endDateDays.errors.required">
                                                            This field is required.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        <!-- transction -->
                        <div class="form-group com-form">
                            <div class="col-md-10 col-xs-12">
                                <div class="col-md-12">
                                    <div class="col-md-1" style="padding-left: 1px;">
                                        <input type="checkbox" name="transction" [(ngModel)]="model.transction"
                                            #transction="ngModel">
                                    </div>
                                    <div class="col-md-7" style="padding-top: 9px;">
                                        <label for="transactionRequired">
                                            {{DEDUCTION_CODE_TRANSREQURIED['fieldValue']}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div [ngClass]="'button-row'" class="com-form">
                            <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12': true, '': currentLanguage == 2}">
                                <div [ngClass]="'col-xs-12'">
                                    <span class="pull-right">
                                        <button *ngIf="model.id" [ngClass]="'grey-btn'">{{DEDUCTION_CODE_UPDATE_LABEL['fieldValue']}}</button>
                                        <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{DEDUCTION_CODE_SAVE_LABEL['fieldValue']}}</button>
                                        <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)" (click)="onEndDateChanged($event.target.value)"
                                            (click)="onStartDateChanged($event.target.value)" (click)="islifeTimeValidamount=true"
                                            (click)="islifeTimeValidperperiod=true" (click)="islifeTimeValidperyear=true"
                                            (click)="islifeTimeValid=true">{{DEDUCTION_CODE_CLEAR_LABEL['fieldValue']}}</button>
                                        <button [ngClass]="'blue-btn'" (click)="dp1.clearDate()" (click)="dp2.clearDate()"
                                            (click)="islifeTimeValidamount=true" (click)="islifeTimeValidperperiod=true"
                                            (click)="islifeTimeValidperyear=true" (click)="islifeTimeValid=true"
                                            (click)="showCreateForm = false;">{{DEDUCTION_CODE_CANCEL_LABEL['fieldValue']}}</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </form>
                </div>
                <!-- Create Update form ends -->
            </div>
        </section>
    </section>
</div>