<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[12]['helpMessage']}}">{{defaultFormValues[12]['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <div class="algo-table algo-table-department" width="70% !important;">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="ShiftCodeSetupgrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <!-- Data Grid Shift Code Id -->
                            <ngx-datatable-column name="shiftCodeId" [width]="175" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('shiftCodeId')">{{defaultFormValues[1]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>

                            <!-- Data Grid Shift Code Description -->
                            <ngx-datatable-column name="desc" [width]="175" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('desc')">{{defaultFormValues[2]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>

                            <!-- Data Grid  Arabic Location Description -->
                            <ngx-datatable-column name="arabicDesc" [width]="175" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('arabicDesc')">{{defaultFormValues[3]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>

                            <!-- Data Grid Action -->
                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{defaultFormValues[11]['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>

                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>
                    <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[8]['fieldValue']}}</button>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model.id">{{defaultFormValues[12]['fieldValue']}} Shift Code Setup</h3>
                            <h3 *ngIf="model.id">{{defaultFormValues[13]['fieldValue']}} Shift Code Setup</h3>
                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>
                        <form class="form-horizontal" (ngSubmit)="f.form.valid && islifeTimeValidEmployerpay  && createShiftCodeSetup(f, $event)" #f="ngForm" novalidate>

                            <!-- Location Id field -->
                            <div class="form-group">

                                <div *ngIf="isUnderUpdate; then update else create"></div>
                                <ng-template #update>
                                    <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label class="control-label" for="shiftCodeId">{{defaultFormValues[1]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="shiftCodeId" value="{{shiftCodeIdvalue}}" (keyup)="CheckNumber($event)"
                                                title="{{defaultFormValues[1]['helpMessage']}}" maxlength="15" readonly required
                                            />
                                            <div *ngIf="f.submitted && shiftCodeId.invalid">
                                                <div [hidden]="!shiftCodeId.errors.required">
                                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Shift Code inActive -->

                                        <div class="col-md-4" style="top:10px;">
                                            <div [ngClass]="{'has-error': f.submitted && !inActive.valid,'col-md-offset-4': currentLanguage == 2}">
                                                <input style="margin: 0 10px 0 10px;"  (click)="checkShiftcodeForm($event)" type="checkbox" name="inActive" [(ngModel)]="model.inActive" #inActive="ngModel" title="{{defaultFormValues[4]['helpMessage']}}"
                                                    ng-reflect-model="true" [checked]="true" ng-init="model.inActive=true" />{{defaultFormValues[4]['fieldValue']}}
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>


                                <ng-template #create>
                                    <div [ngClass]="{ 'has-error': f.submitted && !shiftCodeId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4" style="top:10px;">
                                            <label for="shiftCodeId">{{defaultFormValues[1]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="ccccccc" [(ngModel)]="model.shiftCodeId" #shiftCodeId="ngModel"
                                                (keyup)="CheckNumber($event)" title="{{defaultFormValues[1]['helpMessage']}}"
                                                maxlength="15" required [typeahead]="dataSource" (typeaheadLoading)="changeTypeaheadLoading($event)"
                                                autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                                typeaheadOptionField="shiftCodeId" />
                                            <div *ngIf="f.submitted && shiftCodeId.invalid">
                                                <div [hidden]="!shiftCodeId.errors.required">
                                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
										</div>
                                        <!-- Shift Code inActive -->

                                        <div class="col-md-4" style="top:10px;">
                                            <div [ngClass]="{'has-error': f.submitted && !inActive.valid,'col-md-offset-4': currentLanguage == 2}">
                                                <input style="margin: 0 10px 0 10px;" type="checkbox" (click)="checkShiftcodeForm($event)" name="inActive" [(ngModel)]="model.inActive" #inActive="ngModel" title="{{defaultFormValues[4]['helpMessage']}}"
                                                    ng-reflect-model="true" [checked]="true" ng-init="model.inActive=true" />{{defaultFormValues[4]['fieldValue']}}
                                            </div>
                                        </div>
                                    
                                </ng-template>
                            </div>

                            <!-- Shift Code Description Field -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && !desc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="desc">{{defaultFormValues[2]['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model.desc" #desc="ngModel" title="{{defaultFormValues[2]['helpMessage']}}"
                                            maxlength="31" required />
                                        <div *ngIf="f.submitted && desc.invalid">
                                            <div [hidden]="!desc.errors.required">
                                                {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Arabic Shift Code description -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && !arabicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="arabicDesc">{{defaultFormValues[3]['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-8 arabic-mode">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDesc" [(ngModel)]="model.arabicDesc" #arabicDesc="ngModel"
                                            title="{{defaultFormValues[3]['helpMessage']}}" maxlength="61" required  />
                                        <div *ngIf="f.submitted && arabicDesc.invalid">
                                            <div [hidden]="!arabicDesc.errors.required">
                                                {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Shift Premium -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': (f.submitted && !shitPremium.valid) || !islifeTimeValidEmployerpay ,'col-md-8':true}">
                                    <div class="col-md-12">
                                        <label class="control-label" for="shitPremium">{{defaultFormValues[5]['fieldValue']}}</label>
                                    </div>
                                    <br>
                                    <div class="col-md-4" style="top:10px;" >
                                        <input type="radio" name="shitPremium" [value]="1" title="{{defaultFormValues[5]['helpMessage']}}" [(ngModel)]="model.shitPremium"
                                            #shitPremium="ngModel" required [checked]="true" (click)="model.percent=null;model.amount=null;" /> {{defaultFormValues[6]['fieldValue']}}

                                        <input style="margin: 0 0 0 10px;" type="radio" [value]="2" name="shitPremium" title="{{defaultFormValues[5]['helpMessage']}}"
                                            [(ngModel)]="model.shitPremium" #shitPremium="ngModel" (click)="model.percent=null;model.amount=null;" required />{{defaultFormValues[7]['fieldValue']}}
                                    </div>

                                    <div>
                                        <div *ngIf="model.shitPremium==1" [ngClass]="{'has-error': (f.submitted && !amount.valid) || (amount.errors?.pattern),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-0': currentLanguage == 2}">

                                            <div>
                                                <input 
                                                type="number" 
                                                [ngClass]="'form-control fm-txt'" 
                                                name="amount" 
                                                [(ngModel)]="model.amount" 
                                                #amount="ngModel" 
                                                title="{{defaultFormValues[6]['helpMessage']}}"
                                                required 
                                                min="1"
                                                max="9999999999"
                                                onkeypress="return check_digit(event,this,10,3);" 
                                                (keyup)="checkdecimalemployeepay(amount.value)" />
                                                <div *ngIf="(f.submitted && amount.invalid) || !islifeTimeValidEmployerpay || (!amount.errors?.required && amount.value == 0)">
                                                <div *ngIf="f.submitted && amount.invalid">
                                                    <div [hidden]="!amount.errors.required">
                                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                </div>
                                                <div *ngIf="!islifeTimeValidEmployerpay">                                                    
                                                        Invalid input                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="model.shitPremium==2" [ngClass]="{'has-error': (f.submitted && !percent.valid) || !islifeTimepercent,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                        <div>
                                            <input type="number" [ngClass]="'form-control fm-txt'" name="percent" [(ngModel)]="model.percent" #percent="ngModel" 

                                                title="{{defaultFormValues[7]['helpMessage']}}" maxlength="16" required  onkeypress="return check_digit(event,this,10,5);" (keyup)="checkdecimalpercent(percent.value)" />
                                                <div *ngIf="(f.submitted && percent.invalid) || !islifeTimepercent">
                                                <div *ngIf="f.submitted && percent.invalid">
                                                    <div [hidden]="!percent.errors.required">
                                                        {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                </div>
                                                <div *ngIf="!islifeTimepercent">                                                    
                                                        Invalid input                                                    
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
						  </div>
                            <!-- Buttons -->
                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[13]['fieldValue']}}</button>
                                            <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[9]['fieldValue']}}</button>
                                            <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[10]['fieldValue']}}</button>
                                            <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[14]['fieldValue']}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
						   
						   
                        </form>
                    </div>
					</div>
                    <!-- Create Update form ends -->
               
            </div>
        </section>
    </section>
</div>