/* here you can put your own css to customize and override the theme */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{ font-weight: 500;}
*:focus{ outline: 0 !important;border:0;}

/*--------- Login Pages CSS -----------*/

.user-login-5 .login-container>.login-content .login-form .form-control{ direction: rtl;}
.login-content-right{text-align: right;}
.login-content-right ul{ margin:0 20px 0 0;direction: rtl;}
.login-content-right ul li::before{ right: -16px;top:27px;}
.lang-navbar.navbar-nav>li.dropdown .dropdown-menu:before { 
    position: absolute;
    top: -8px;
    left: 27px;right:auto;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #eee;
    border-left: 8px solid transparent;
    border-bottom-color: rgba(0,0,0,.2);
    content: '';    
}
.lang-navbar.navbar-nav>li.dropdown .dropdown-menu:after { 
    position: absolute;
    top: -7px;
    left: 28px;right:auto;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: '';
}
.login-content .mt-checkbox, .mt-radio { padding-left: 0;padding-right: 30px;}

/*--------- Login Pages CSS End -----------*/    

/*--------- Common Pages CSS -----------*/   

.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
padding: 18px 15px;text-align: right;
}
.page-sidebar .page-sidebar-menu .sub-menu li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>a{
padding: 8px 15px 8px 43px;text-align:right;
}
.page-header-inner:after{ text-indent: -999px;}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:before{ right:auto;left: 25px;}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:after{ right:auto;left: 25px;}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-lang .dropdown-menu>li>a>img{ 
position: absolute;top: 8px;right: 15px;}
.page-header.navbar .top-menu .dropdown-menu>li>a> svg{ float: right;margin-left: 6px;margin-top: 2px;}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-lang .dropdown-menu>li>a{ height: 55px;
padding-right: 64px;padding-top: 18px;padding-bottom: 18px;}
.page-header.navbar .page-logo{ width: 272px;}

.page-header.navbar .top-menu .navbar-nav>li.dropdown.dropdown-lang .dropdown-menu:before, 
.page-header.navbar .top-menu .navbar-nav>li.dropdown.dropdown-lang .dropdown-menu:after{ right:auto;left: 30px;}

.nav-top-left{ margin: 0;padding: 0;}
.nav-top-left li{ display: inline-block;}
.nav-top-left li a{ color:#fff;padding: 18px 15px;display: inline-block;
text-decoration: none;}
.nav-top-left li a i, .nav-top-left li a svg{ margin-left: 10px;}
.page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
font-size: 14px;margin-right:10px;}
.page-sidebar .page-sidebar-menu>li>a>svg, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>svg{
margin-left: 10px;margin-right:0;
}
    
.page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a>svg, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.>li>a>svg {
font-size: 14px;margin-left:10px;float: right;}    
.page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a>svg, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-closed>li>a>svg{ 
float: right;
}
.page-sidebar .page-sidebar-menu .sub-menu>li>a>svg{ float: right;margin-left: 10px;margin-top: 2px;}
.badge.badge-default{ min-width: 18px;background-color:rgba(255, 255, 255, 0.1)}
.page-header.navbar .menu-toggler{ opacity: .9;}
.page-header.navbar .menu-toggler.sidebar-toggler{ margin: 21.5px 0 0;}
.page-header.navbar .menu-toggler.sidebar-toggler i{ color:#fff;}
.page-header.navbar .menu-toggler.sidebar-toggler svg{ color:#fff;}
.page-footer { text-align:center;padding: 0 272px 0 0;}
.page-sidebar .page-sidebar-menu li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before{
    content: "\f104";}
.page-sidebar-menu-closed .page-sidebar .page-sidebar-menu>li>a>svg, .page-sidebar-menu-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>svg{
float: left;
}    

/*--------- Workflow CSS -----------*/ 

.theme-panel>.theme-options>.theme-option { color: #09142b;text-align:right;}
.page-container-bg-solid .theme-panel, .page-content-white .theme-panel{ margin-top:0;right: auto;left: 10px;}

/*--------- Inner Pages CSS -----------*/   
.form-group.form-md-line-input>.input-icon.right>svg { left: 0;right: auto;}
.head-top-right{ text-align:left;}
.m-right-10{ margin-left:10px;margin-right:0;}
.page-sidebar-closed .page-footer{ padding-right:45px;padding-left:0;}
.mt-checkbox, .mt-radio { padding-left: 15px;padding-right: 0;}
.table-secondary .table .header-table td.heading-inner:before{ content: "\f104";float:right;
    padding: 2px 0 3px 10px;
}
.table-secondary .table tr td.inner-row .heading-inner{ padding-right: 50px;padding-left:0;}
.table-secondary .table tr td.heading-inner{ padding-left: 0;}
.table-secondary .table tr td.inner-row .heading-sun-inner { padding-left: 0;padding-right: 80px;}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 24px;
    border-top-right-radius: 24px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
}
.modal-confirmation button.close { margin: 20px 0 0 20px;}
.search-input-form .btn.btn-default.btn-default-input{ font-size: 14px !important;border-radius: 0px !important;}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{ text-align: right !important;}
.bootstrap-select.btn-group .dropdown-toggle .caret{ right:auto !important;left:0 !important;}
.form-select-date .fa-chevron-down { float: left;}

/*--------- Responsive CSS -----------*/
@media (max-width: 991px){
.page-header.navbar .page-logo .logo-default { margin: 10px 15px 0 0 !important;}
}  

@media (max-width: 767px) {

}

@media (max-width: 320px) {

}

@media (min-width: 768px){
.login-container .navbar-nav { margin: 0;padding: 0 0 0 20px;}
}

@media (min-width: 768px) and (max-width: 991px) {

}


@media (min-width: 992px) and (max-width: 1199px) {

/*--------- Login Pages CSS -----------*/    
.login-content-right{ padding: 55px 55px;}
}

@media (min-width: 992px){
    .page-sidebar{ z-index: 9999;margin-top: -56px;width:272px;}
    .page-content-wrapper .page-content { margin-right: 272px;margin-left: 0;padding: 30px 30px 10px;position: relative;}
    .page-footer .page-footer-inner{ float: none;}
    .nav-top-left.col-xs-offset-3{ margin-right: 285px;}
    .page-sidebar-closed .nav-top-left.col-xs-offset-3{ margin-right: 65px;}
    .page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
        min-height: 56px;
    }
    }