/* here you can put your own css to customize and override the theme */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{ font-weight: 500;}
*:focus{ outline: 0 !important;}

/*--------- Login Pages CSS -----------*/

.login-content{ text-align: center;}
.heading, .user-login-5 .login-container>.login-content>h1{ font-weight: 500;font-size: 20px;color: #0d1c3e;}
.user-login-5 .login-container>.login-content .login-form { margin-top: 20px;}
.user-login-5 .login-container>.login-content .login-form .form-control{ border-radius: 0;margin:0;height: 45px;padding: 15px 0;
border:0;border-bottom: solid 1px #d9d9dd;color: #0d1c3e;font-weight:400;font-size: 13px;background-color: transparent;}
.user-login-5 .login-container>.login-content .login-form .form-control:focus, .user-login-5 .login-container>.login-content .login-form .form-control:hover
{outline: 0 !important;border-bottom:solid 1px #0d1c3e;}
.btn-group.bootstrap-select.dropup.open .form-control{ border-bottom:solid 1px #0d1c3e;}
.form-control::-moz-placeholder{color:#878787;opacity:1}.form-control:-ms-input-placeholder{color:#878787}.form-control::-webkit-input-placeholder{color:#878787}
.user-login-5 .login-logo{ position: inherit;top: 0;left: 0;margin-bottom: 30px;}
.user-login-5 .login-container>.login-footer{ left:0;}
.user-login-5 .login-container>.login-content { margin-top: 0;width: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.user-login-5 .login-container>.login-content .login-content-inner{ padding: 0 70px;}

.remember-me{ margin-top: 25px;margin-bottom: 25px;}
.remember-me .mt-checkbox, .remember-me .mt-radio{ font-size: 13px;font-weight:400;color: #878787;}
.remember-me .mt-checkbox>span:after{ border-color: #1aa79c;}
.user-login-5 .login-container>.login-content .login-form .forgot-password{ margin-right: 0;}
.remember-me .mt-checkbox>span, .remember-me .mt-radio>span{ border-radius: 3px;width:20px;height:20px;margin-top: -2px;border-color: #887788;}
.remember-me .mt-checkbox>span, .remember-me .mt-radio>span:hover{ border-color:#878787; }
.user-login-5 .login-container>.login-content .login-form .forgot-password{ font-size: 13px;}
.user-login-5 .login-container>.login-content .login-form .forgot-password>a{ color: #1aa79c;}
.user-login-5 .login-container>.login-content .login-form .forgot-password>a:hover {
color: #0d1c3e;text-decoration: none;}
.btn.btn-rounded{ border-radius: 50px !important;font-size:13px !important;font-weight:300 !important;
text-transform: inherit !important;height:50px;padding: 12px 35px 10px !important;}
.btn.green{ background-color: #1aa79c !important;border-color: #1aa79c !important;}    
.user-login-5 .login-container{ background:url(../img/algorasLogo_circle.png) no-repeat center center;}
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-checkbox-outline>input:checked~span, .mt-checkbox.mt-checkbox-outline>input:focus~span, .mt-checkbox.mt-checkbox-outline>span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-radio-outline>input:checked~span, .mt-checkbox.mt-radio-outline>input:focus~span, .mt-checkbox.mt-radio-outline>span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-radio.mt-checkbox-outline>input:checked~span, .mt-radio.mt-checkbox-outline>input:focus~span, .mt-radio.mt-checkbox-outline>span, .mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-radio-outline:hover>input:not([disabled])~span, .mt-radio.mt-radio-outline>input:checked~span, .mt-radio.mt-radio-outline>input:focus~span, .mt-radio.mt-radio-outline>span{
border-color: #878787;}
.user-login-5 .bs-reset{ position: relative;min-height: 100vh;}
.overlay-bg{ background-color: rgba(138, 197, 65, 0.3);position: absolute;top:0;left:0;right:0;bottom: 0;}
.login-content-right{  position: absolute;top:50%;width:100%;color: #fff;  
    background: 
    linear-gradient(
      rgba(138, 197, 65, 0.8),
      rgba(26, 167, 156, 0.8)
    ),
    url(../img/loginBg.jpg);padding:55px 100px;background-position:top center;background-repeat:no-repeat;
    background-size:cover;min-height: 50vh;
}
.login-content-right h1{ font-weight: 500;}
.login-content-right ul{ margin:0 0 0 20px;padding:0;list-style-type: circle;}
.login-content-right ul li{ font-size: 18px;margin-top: 25px;position: relative;}
.login-content-right ul li::before{ content: "";width:1px;height:45px;background-color:#fff;
position: absolute;left: -16px;top:27px;}
.login-content-right ul li:last-child::before{ width: 0;height:0;}
.video-player{ position: absolute;width: 100%; height: 50%}
.video-player:hover .overlay-bg{ display: none;}
.user-login-5 .alert { margin-top: 0;}
.forget-form .form-control{ border-radius: 0;margin:30px 0;height: 45px;padding: 15px 0;
border:0;border-bottom: solid 1px #d9d9dd;color: #343434;font-weight: 300;font-size: 13px;background-color: transparent;}
.form-control::-moz-placeholder{color:#878787;opacity:1}.form-control:-ms-input-placeholder{color:#878787}.form-control::-webkit-input-placeholder{color:#878787}
.btn.orange{ background-color: #f15a29 !important;border-color: #f15a29 !important;color: #fff;}        
.form-actions .btn{ margin: 0 6px;}
.right-col{ color: #fff;
    background: 
    linear-gradient(
      rgba(26, 167, 156, 0.94),
      rgba(241, 90, 41, 0.94)
    ),
    url(../img/company-proceed-bg.jpg);background-position:top center;background-repeat:no-repeat;
    background-size: 100%; background-size:cover;
}
.content-panel{ text-align: center;position:absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 100%;}
.content-panel h1{ margin-bottom: 50px;}
.btn-group.bootstrap-select{
    width: 100% !important;margin-top: 15px;margin-bottom: 50px;
}
.btn-group.bootstrap-select.dropup .bs-placeholder{ color: #878787 !important; }
.bootstrap-select .dropdown-toggle:focus{ outline: 0 !important;}
.user-login-5 .login-container>.login-content .login-form .btn-select.form-control{ color:#878787;
text-transform: inherit;}
.right-col-otp{ color: #fff;
    background: 
    linear-gradient(
      rgba(26, 167, 156, 0.86),
      rgba(241, 90, 41, 0.86)
    ),
    url(../img/otp-bg.jpg);background-position:top center;background-repeat:no-repeat;
    background-size: 100%; background-size:cover;
}
.user-login-5 .login-container>.login-content p{ color: #878787;}
.user-login-5 .login-container>.login-content .login-form .form-control.otp-form-control{ 
    margin-top: 10px;margin-bottom: 50px;text-align: center;}
.nav.navbar-nav.lang-navbar{ margin-right: 15px;}    
.nav.lang-navbar .open>a, .nav.lang-navbar .open>a:focus, .nav.lang-navbar .open>a:hover{ background-color: transparent;}
.nav.lang-navbar>li>a:focus, .nav.lang-navbar>li>a:hover { background-color:transparent;}
.lang-navbar.navbar-nav>li.dropdown .dropdown-menu:before { right: 25px;}    
.lang-navbar.navbar-nav>li.dropdown .dropdown-menu:before {
    position: absolute;
    top: -8px;
    right: 26px;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #eee;
    border-left: 8px solid transparent;
    border-bottom-color: rgba(0,0,0,.2);
    content: '';
}
.lang-navbar.navbar-nav>li.dropdown .dropdown-menu:after { right: 25px;}
.lang-navbar.navbar-nav>li.dropdown .dropdown-menu:after {
    position: absolute;
    top: -7px;
    right: 27px;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: '';
}
.lang-navbar.navbar-nav>li .dropdown-menu{
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1) !important;
-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1) !important;
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1) !important;
}
.lang-navbar.navbar-nav>li .dropdown-menu img{ margin-right: 6px;}
.login-content .mt-checkbox, .mt-radio{ padding-left:30px;}

/*--------- Login Pages CSS End -----------*/    

/*--------- Common Pages CSS -----------*/   
.img-block{ display: block;margin: 0 auto;}
.page-header.navbar .page-logo{ height: 68px;}
.page-header.navbar{ height: 124px;
    -webkit-box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.44);
    box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.44);
    position: relative;
}

.page-header-top{ height: 68px;}
.page-header-top{ background-color:#fff;text-align: center;padding: 15px 0;}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a{
    padding: 18px 15px;
}
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar .page-sidebar-menu .sub-menu li>a{ opacity: 1;color: #ebf4f2;}
.page-sidebar .page-sidebar-menu>li>a:hover, .page-sidebar .page-sidebar-menu .sub-menu li>a:hover, .page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a{ opacity: 1;}
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a{ opacity: 1;}
.page-sidebar .page-sidebar-menu>li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.arrow:before {
    top: 15px;
}
.page-sidebar .page-sidebar-menu .sub-menu li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>a{
    padding: 8px 15px 8px 43px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img{ height: 38px;}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    padding: 14px 6px 13px 8px;
}
.page-header-inner{ position: relative;}
.page-header-inner:after{position: absolute;bottom:-1px;width:100%;text-indent: -9px;
    content: "-";
    -webkit-box-shadow: 0px 6px 10px -5px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 6px 10px -5px rgba(0,0,0,0.24);
    box-shadow: 0px 6px 10px -5px rgba(0,0,0,0.24);
    z-index: 1;}
.page-header.navbar .top-menu{ float: none;}
.page-header.navbar .top-menu .navbar-nav>li.dropdown{ height: 55px;}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:before{ right:25px;}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:after{ right:25px;}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-menu>li>a>img{ margin-right: 6px;}

.page-header.navbar .page-logo{ width: 272px;}

.nav-top-left{ margin: 0;padding: 0;}
.nav-top-left li{ display: inline-block;}
.nav-top-left li a{ color:#fff;padding: 18px 15px;display: inline-block;
text-decoration: none;}
.nav-top-left li a:hover{ background-color:rgba(000, 000, 000, 0.1);}
.nav-top-left li a i, .nav-top-left li a svg{ margin-right: 10px;}
.page-sidebar .page-sidebar-menu>li>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
    font-size: 14px;margin-right:10px;}
    .page-sidebar .page-sidebar-menu>li>a>svg, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>svg {
        font-size: 14px;margin-right:10px;}    
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i{ margin-right: 6px;}
.page-sidebar .page-sidebar-menu .sub-menu>li>a>svg{ margin-right: 6px;}
.badge.badge-default{ min-width: 18px;background-color:rgba(255, 255, 255, 0.1)}
.page-header.navbar .menu-toggler{ opacity: .9;}
.page-header.navbar .menu-toggler.sidebar-toggler{ margin: 21.5px 0 0;}
.page-header.navbar .menu-toggler.sidebar-toggler i{ color:#fff;}
.page-header.navbar .menu-toggler.sidebar-toggler svg{ color:#fff;}
.page-footer { /*position: absolute;bottom: 0;left:0;width: 100%;*/min-height:63px;text-align:center;
    padding: 0 0 0 272px;font-size: 14px;
    
}
.theme-panel>.theme-options>.theme-option.theme-colors>ul>li.color-default { background: #060401;}
.theme-panel>.theme-options>.theme-option.theme-colors>ul>li.color-blue { background: #3f9384;}
.theme-panel>.theme-options>.theme-option.theme-colors>ul>li.color-grey { background: #e36900;}
.theme-panel>.theme-options>.theme-option.theme-colors>ul>li.color-light { background: #fad768;}
.theme-panel>.theme-options>.theme-option.theme-colors>ul>li.color-light2 { background: #f1f4fa;}
.page-sidebar .page-sidebar-menu li>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li>a>.arrow:before{
    content: "\f105";}

/*--------- Workflow CSS -----------*/ 
.features-box{ text-align: center;padding:30px;display: block;color: #0d1c3e;border:solid 1px transparent;
    -webkit-transition: -webkit-transform .5s ease-out;
    transition: -webkit-transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    transition: transform .5s ease-out; 
    transition: transform .5s,-webkit-transform .5s ease-out;
    margin-bottom: 30px;
}
.features-box:hover{ border-radius: 4px;color: #0d1c3e;text-decoration:none;
    -webkit-box-shadow: 0 0 12px 0 rgba(173, 173, 173, 0.4);
    -moz-box-shadow: 0 0 12px 0 rgba(173, 173, 173, 0.4);
    box-shadow: 0 0 12px 0 rgba(173, 173, 173, 0.4);
    -webkit-transform: scale(1.01);
transform: scale(1.01);

}
.features-box .circle-icon{ width: 85px;height:85px;border:solid 1px #cccccc;border-radius: 85px;display:table;
margin: 0 auto;}
.features-box .circle-icon span{  display: table-cell;vertical-align: middle;}
.features-box h3{ font-size: 18px;margin-bottom: 0;}
.page-footer .page-footer-inner{ color: #343434;}
.page-footer a{ color: #343434;}
.page-container-bg-solid .theme-panel, .page-content-white .theme-panel{ right: 10px;top: 15px;}
.theme-panel>.toggler{ background-color: #0d1c3e;}
.theme-panel>.toggler:hover { background-color: #09142b!important;}
.theme-panel>.theme-options{ background: #d8d8d8;}
.theme-panel>.theme-options>.theme-option { color: #09142b;}
.theme-panel>.toggler-close{ background-color: #09142b !important;}
.theme-panel>.toggler-close:hover{ background-color: #0d1c3e !important;}
.theme-panel>.theme-options>.theme-option.theme-colors>ul>li.color-darkblue{ background-color: #0d1c3e;}
.theme-panel>.theme-options>.theme-option.theme-colors>ul>li.current, .theme-panel>.theme-options>.theme-option.theme-colors>ul>li:hover {
    border: 2px solid #fff;
}
.page-container-bg-solid .theme-panel, .page-content-white .theme-panel{ margin-top:0;}


/*--------- Inner Pages CSS -----------*/   
.page-content-inner{ background-color:#f2f3f8;}
.portlet-box.light{ padding:30px;}
.page-content-white .page-title { margin: 15px 0 30px 0;font-size: 22px;font-weight:500;letter-spacing:1px;}
.form-group.form-md-line-input>.input-icon.right>svg { position:absolute;left: auto;right: 8px;bottom: 0;margin: 11px 2px 10px 10px;
color:#0d1c3e;}
.form-group.form-md-line-input .form-control.edited:not([readonly])~.form-control-focus:after, .form-group.form-md-line-input .form-control.edited:not([readonly])~label:after, .form-group.form-md-line-input .form-control:focus:not([readonly])~.form-control-focus:after, .form-group.form-md-line-input .form-control:focus:not([readonly])~label:after{
    background: #0d1c3e;
}
.form-group.form-md-line-input .form-control~.form-control-focus:after, .form-group.form-md-line-input .form-control~label:after{
    height:1px;
}
.btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-sm {
    font-size: 11px;
    padding: 10px 30px;
    font-size: 13px;
    font-weight: normal;
    text-transform: inherit;
}
.head-top-right{ text-align:right;}
.form-group.form-md-line-input.search-input-form{ padding-top:0;}
.mt-checkbox.mt-checkbox-outline.mt-checkbox-default>span{ border-color: #cccccc;border-radius:4px;}
.table-default .table thead tr th { font-size: 14px;font-weight: 500;text-transform: inherit;color:#0d1c3e;}
.table-default .table tr td{ color:#676c7b;padding:15px 8px;border-top: 1px solid #ccc;}
.text-green{ color:#1aa79c;}
.table-default .table-hover>tbody>tr:hover, .table-default .table-hover>tbody>tr:hover>td {
    background: #f2f3f8 !important;color:#0d1c3e;
}
.table-default .table-hover>tbody>tr.active, .table-default .table-hover>tbody>tr.active>td{ 
    background: transparent !important;color:#0d1c3e;
}
.table-default .table>thead>tr>th { vertical-align: bottom;border-bottom: 1px solid #ccc;text-transform:none;}
.table-default .table tr:last-child td{ border-bottom: 1px solid #ccc;}
.dataTables_info_footer{ margin-top:30px;}
.text-blue{ color:#0d1c3e;}
.text-orange{ color:#f05422;}
.m-right-10{ margin-right:10px;}
.portlet.light.bordered>.portlet-title { border-bottom: 1px solid #cccccc;}
.portlet.light.form-fit>.portlet-title h3{ font-size:18px;margin:0;color: #2b2562;}
.portlet.light.form-fit>.portlet-title.portlet-subtitle{ padding: 30px;margin-bottom: 0;}
.portlet-inner-box{ padding:30px;}
.form-group.form-md-line-input.search-input-form .form-control{ border-bottom: 1px solid #cccccc;}
.form-control-rtl{ text-align: right;}
.form-group.form-md-line-input.search-input-form{ margin-bottom: 15px;}
.search-input-form .show>.btn.btn-default.btn-default-input.dropdown-toggle{ border-color: #0d1c3e;background-color: #fff;}
.search-input-form .btn.btn-default.btn-default-input{ height: 46px;border-color: #ccc;box-shadow:none !important;border:0;border-bottom:solid 1px #ccc;
border-radius: 0 !important;padding:0;font-size:14px !important;text-transform:inherit;}
.btn.btn-default.btn-default-input:focus, .btn.btn-default.btn-default-input:hover{ border-color: #0d1c3e;background-color: transparent;}
.search-input-form .btn-group.bootstrap-select{ margin-top: 0;}
.search-input-form .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all){ border-radius: 0;}
.search-input-form .bootstrap-select .dropdown-toggle .filter-option-inner { color: #808080;}
.search-input-form .btn-default:active, .btn-default:hover, .btn-default:focus, .open>.btn-default.dropdown-toggle{ 
    background-color: transparent;color:#808080;border-color:#0d1c3e !important;outline:0;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{ color:#878787;font-weight:normal;}
.search-input-form .dropdown-menu.open{ border-radius: 0 !important;border:solid 1px #ccc !important;
box-shadow: none !important;}
.search-input-form .bootstrap-select .dropdown-toggle:focus{ outline: 0px auto -webkit-focus-ring-color !important;}
.search-input-form .input-icon svg{font-size:1.111113em;}
.search-input-form .input-icon svg path{ color:#878787;}
.tabbable-line.table-line-secondary>.tab-content{ border-top: solid 1px #ccc;margin-top: -1px;}
.tabbable-line.table-line-secondary>.nav-tabs>li>a{ font-size:16px;padding-bottom:15px;}
.tabbable-line.table-line-secondary>.nav-tabs>li.active{ border-bottom: solid 2px #1aa79c;}
.tabbable-line.table-line-secondary>.nav-tabs>li.active>a { color: #0d1c3e;}
.tabbable-line.table-line-secondary>.nav-tabs>li { border-bottom: 2px solid transparent;}
.tabbable-line.table-line-secondary>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover { border-bottom: 2px solid #1aa79c;}
.mt-checkbox, .mt-radio{ padding-left: 20px;}
.tabbable-line.table-line-secondary .table thead, .tabbable-line.table-line-secondary .table tbody{
    width:50%;
}
.table-line-secondary .accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled {
    background: url(../img/accordion-plusminus.png) left -19px no-repeat;
    margin-left: 15px;
}
.accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled.collapsed {
    background-position: left 12px;
}
.table-line-secondary .accordion .panel .panel-title .accordion-toggle {
    display: block;
    padding: 10px 15px 10px 25px;
}
.tabbable-line.table-line-secondary .table .table-data-inner{ padding: 0;border:0;}
.datepicker .active, .datepicker .active:hover{ background-color: #1f858e !important;}
.datepicker.dropdown-menu { box-shadow: 4px 4px rgba(102,102,102,.1) !important;
border: 1px solid #ccc !important;}
.datepicker table th { color: #0d1c3e;font-weight: 600!important;}    
.datepicker table tr td, .datepicker table tr th { width: 34px;height: 30px;}
.datepicker table td { color: #0d1c3e;font-weight: 400!important;}

.table-secondary .table tr.header-table {
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
  }
.table-secondary .table tr.header-table td{ color:#0d1c3e;}
.table-secondary .table tr.heading-row th{ color:#0d1c3e;font-weight:600;border-top:0;}
  
.table-secondary .table tr:not(.header-table) {
    display: none;
  } 
.table-secondary .table tr.heading-row{
    display: contents;
}
.table-secondary .table tr th, .table-secondary .table tr td{ padding: 15px 8px;border-left:0;border-right: 0;
}  
   
.table-secondary .table .header-table td.heading-inner:before{
    content: "\f105";
    position: relative;
    top: 0;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    color: #0d1c3e;
    text-align: center;
    padding: 2px 10px 3px 0px;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
    font-size: 1.5em;
    line-height: 0.7em;
  }
  
 .table-secondary .table .header-table.active td.heading-inner:before{
    content: "\f107";
  }
  .table-secondary .table tr td.inner-row{ padding:0;}
  
  .table-secondary .table tr td.heading-inner{ padding-left:30px;}
  .table-secondary .table tr td.inner-row .heading-inner{ padding-left:50px;}
  .table-secondary .table tr td.inner-row .heading-sun-inner{ padding-left:80px;}
  .page-content-white .page-title span{ border-left: solid 1px #ccc;padding-left:25px;margin-left:20px;
  font-weight: 400;font-size:18px;}
  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch input:focus{ outline:0;}
  
  .slider-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider-switch:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider-switch {
    background-color: #1aa79c;
  }
  
  input:focus + .slider-switch {
    box-shadow: 0 0 1px #1aa79c;
  }
  
  input:checked + .slider-switch:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  
  /* Rounded sliders */
  .slider-switch.round {
    border-radius: 34px;
  }
  
  .slider-switch.round:before {
    border-radius: 50%;
  }

 .data-table-info{ float:left;margin:0 30px 0 0;}
 .datatable-paginate{ float: right;margin-top:0;border-radius:50px;}
 .datatable-paginate>li>a{ padding:10px 16px;color:#0d1c3e;    border: 1px solid #ccc;}
 .datatable-paginate>.active>a, .datatable-paginate>.active>a:focus, .datatable-paginate>.active>a:hover, 
 .datatable-paginate>.active>span, .datatable-paginate>.active>span:focus, .datatable-paginate>.active>span:hover{
    background-color: #0d1c3e;border-color: #0d1c3e;color:#fff;
 }
 .pagination>li:first-child>a, .pagination>li:first-child>span { border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;}
.pagination>li:last-child>a, .pagination>li:last-child>span { border-bottom-right-radius: 24px;
        border-top-right-radius: 24px;
}

.modal-confirmation .modal-body{ padding:50px 30px;}
.modal-confirmation h3{ font-size: 26px;color:#0d1c3e;margin:15px 0 0px 0;}
.modal-confirmation p{ font-size: 20px;color:#878787;margin-bottom:40px;margin-top:15px;} 
.modal-confirmation button.close{ margin: 20px 20px 0 0px;position:relative;z-index:4;
    background:url(../img/close-icon.png) no-repeat !important;width:13px;height:13px;opacity: 1;}
.modal-confirmation button.close svg{ font-size:21px;}
.modal-confirmation .popup-icon{ position: absolute;top:-50px;left:0;right:0;margin:0 auto;}
.modal-confirmation .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-sm{ font-size:14px;font-weight:500;padding:12px 35px;margin:0 5px;}
.modal-backdrop, .modal-backdrop.fade.in{ opacity: .8;background-color: #0d1c3e !important;}
.page-sidebar-closed .page-footer{ padding-left:45px;}
.btn-group.open>.dropdown-menu { transition: none !important;}
.btn.btn-label:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all){ font-weight:normal;padding:4px 12px 4px;
font-size:11px;}
.form-select-date{ margin-bottom:15px !important;padding-top:0 !important;}
.form-select-date .form-control{ font-size:14px !important;color:#878787 !important;}
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background: #0d1c3e!important;
    border: 1px solid #0d1c3e!important;
    color: #fff;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #0d1c3e;
    border-color: #0d1c3e;
    color: #fff;
}
button.cancelBtn.btn.default{ background-color: #f15a29 !important;border-color:#f15a29 !important;
color:#fff !important;}
.form-select-date .fa-chevron-down{ float:right;width: 0.575em;margin-right:12px;margin-top:5px;}
.form-group.form-md-line-input.form-time-select{ margin-bottom: 0;padding-top:0;}
.form-time-select .form-control{ font-size:14px !important;color:#878787 !important;}
.form-time-select .fa-lg{ color:#878787;width:1em;}
.from-to-text{ display:block;margin-top:15px;}
.lang-orien-label{ margin-top:15px;}
.lang-radio-input{ margin-top:15px;}
.upload-excel-file{ margin-top:10px;}

/*--------- Responsive CSS -----------*/
@media (max-width: 991px){
.page-header.navbar{ padding: 0;}
.page-header-top { clear:both;padding: 15px 15px;height: auto;}
.page-header.navbar .page-logo { height: 58px;}
.page-header.navbar .page-logo .logo-default { margin: 10px 0px 0 15px !important;}
.page-header.navbar .menu-toggler.responsive-toggler{ margin: 20.5px 16px 0;}
.page-footer{ text-align: center;}
.page-footer .page-footer-inner{ float: none;}
.features-box{ margin-bottom: 0;}
.page-header-inner:after{ bottom: 0;}
}  

@media (max-width: 767px) {
/*--------- Login Pages CSS -----------*/
.user-login-5 .login-container>.login-content .login-content-inner{ padding: 0;}
.user-login-5 .login-logo.login-6 { margin: 0;left: 0;top: 0;}
.user-login-5 .login-container{ background-size: 100%;}
.login-content-right{ padding: 10px 30px 30px 30px;}
.login-content-right h1{ font-size: 24px;}
.login-content-right ul li { font-size: 16px;}
.right-col{ width: 100%;}
.right-col-otp{ width: 100%;}
.user-login-5 .login-container>.login-content .text-right { text-align: right;}
.content-panel h1{ font-size: 30px;}
.content-panel img{ height: 170px;}
.page-content-wrapper .page-content { padding: 20px 10px 65px!important;}
.head-top-right { text-align: center;}

}

@media (max-width: 320px) {
/*--------- Login Pages CSS -----------*/
.user-login-5 .login-container .login-copyright, .user-login-5 .login-container .login-social, .user-login-5 .login-container>.login-content{
padding: 0 20px;}
.remember-me .mt-checkbox, .remember-me .mt-radio{ padding-left: 26px;}
}

@media (min-width: 768px){
.navbar { border-radius: 0;}   
.modal-confirmation .modal-dialog { width: 500px;margin: 100px auto;} 
.modal.modal-confirmation .modal-content{ border-radius:6px;}

}

@media (min-width: 768px) and (max-width: 991px) {

/*--------- Login Pages CSS -----------*/
.user-login-5 .login-logo.login-6 { margin: 0;left: 0;top: 0;}
.user-login-5 .login-container>.login-content .login-content-inner{ padding: 0;}
.user-login-5 .login-container{ background-size: 100%;}
.login-content-right{ padding: 20px 40px;}
.login-content-right h1{ font-size: 24px;}
.login-content-right ul li { font-size: 16px;}
.content-panel h1{ font-size: 30px;}
.content-panel img{ height: 170px;}
}


@media (min-width: 992px) and (max-width: 1199px) {

/*--------- Login Pages CSS -----------*/    
.login-content-right{ padding: 55px 55px;}
}

@media (min-width: 992px){
.page-sidebar{ z-index: 9999;margin-top: -56px;width:272px;}
.page-content-wrapper .page-content { margin-left: 272px;padding: 30px 30px 10px;position: relative;}
.page-footer .page-footer-inner{ float: none;background-color:#fff;padding:22px 0;width:100%;
    position:relative;
    -webkit-box-shadow: -1px -6px 10px -4px rgba(0,0,0,0.14);
    -moz-box-shadow: -1px -6px 10px -4px rgba(0,0,0,0.14);
    box-shadow: -1px -6px 10px -4px rgba(0,0,0,0.14);}
.page-footer .page-footer-inner:before{ content:"-";position: absolute;top:0;text-indent:-999px;
    -webkit-box-shadow: -1px -6px 10px -4px rgba(0,0,0,0.14);
    -moz-box-shadow: -1px -6px 10px -4px rgba(0,0,0,0.14);
    box-shadow: -1px -6px 10px -4px rgba(0,0,0,0.14);}
    .nav-top-left.col-xs-offset-3{ margin-left: 285px;}
    .page-sidebar-closed .nav-top-left.col-xs-offset-3{ margin-left: 65px;}
}

