<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
    <div class="modal-content" >
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='DeleteBatches(f)' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper user-view" >
    <section class="content">
        <div class="section-heading"><h2>{{moduleName}}</h2></div><!-- section Heading Ends -->
        <section class="inner-content">
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <div class="row">
                    <form (ngSubmit)="!hasMsg && f.form.valid" #f="ngForm" novalidate>
                        <div class="form-row" *ngIf="defaultAddFormValues[0]['readAccess']">
                            <div class="bt-row">
                                <div  [ngClass]="{ 'has-error': f.submitted && !batchId.valid,'col-md-6 col-sm-6 col-xs-12':true }">
                                    <div class="label-outer">
                                        <label for="batchId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                    </div>
                                    <!-- Label Outer Ends -->
                                    <div class="value-outer"> 
                                        <input type="text" [ngClass]="'form-control fm-txt'" myAutofocus name="batchId" [(ngModel)]="model.batchId" 
                                        #batchId="ngModel" id="batchId" [readonly]="isModify" maxlength="15" title="{{defaultAddFormValues[0]['helpMessage']}}" required >
                                        <div *ngIf="f.submitted && batchId.invalid">
                                            <div class='error-msg' *ngIf="batchId.errors.required">
                                                {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- BT Row  Ends -->
                        </div><!-- Form Row Ends -->
                        <div class="form-row" *ngIf="defaultAddFormValues[1]['readAccess']">
                            <div class="bt-row">
                                <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !description.valid,'col-md-6 col-sm-6 col-xs-12':true }">
                                    <div class="label-outer">
                                        <label for="description">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                    </div>
                                    <!-- Label Outer Ends -->
                                    <div class="value-outer"> 
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="model.description" [readonly]="!defaultAddFormValues[1]['writeAccess']"
                                        #description="ngModel" id="description" maxlength="61" title="{{defaultAddFormValues[1]['helpMessage']}}" required >
                                        <div *ngIf="f.submitted && description.invalid">
                                            <div class='error-msg' *ngIf="description.errors.required">
                                                {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div><!-- Bt Row Ends -->
                        </div><!-- Form Row Ends -->
                        <div class="form-row" *ngIf="defaultAddFormValues[2]['readAccess']">
                            <div class="bt-row">
                                <div *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeTransactionType[0].id == '0','col-md-6 col-sm-6 col-xs-12':true }">
                                    <div class="label-outer">
                                        <label>{{defaultAddFormValues[2]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer"> 
                                        <ng-select [allowClear]="false" 
                                        [active]="activeTransactionType"
                                        [items]="arrTransactionType"
                                        [disabled]=""
                                        (data)="bindSelectedItem($event)" 
                                        title="{{defaultAddFormValues[2]['helpMessage']}}"                                           
                                        placeholder="{{select}}">
                                    </ng-select>
                                    <div *ngIf="f.submitted && activeTransactionType[0].id == '0'">
                                        <div class='error-msg'>
                                            {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>
                                </div><!-- Value Outer ENds -->  
                            </div><!-- Bt Row Ends -->
                        </div>
                    </div><!-- Form Row Ends -->
                    <div class="form-row" *ngIf="defaultAddFormValues[3]['readAccess']">    
                        <div *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{'has-error': f.submitted && !postingDate.valid,'col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6 col-xs-12 dob-row':true}">
                            <div class="bt-row">
                                <div class="label-outer">
                                    <label>{{defaultAddFormValues[3]['fieldValue']}}</label>
                                </div>
                                <div class="value-outer">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="postingDate" [(ngModel)]="model.postingDate" 
                                    (dateChanged)="onDateChanged($event)" ngx-mydatepicker #dp="ngx-mydatepicker" [options]="myOptions" #postingDate="ngModel" id="postingDate" title="{{defaultAddFormValues[3]['helpMessage']}}" required readonly>
                                    <span class="input-group-btn db--date">
                                        <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                        <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span> 
                                    <div *ngIf="f.submitted && postingDate.invalid">
                                        <div class='error-msg' *ngIf="postingDate.errors.required">
                                            {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>       
                                </div> 
                            </div>
                        </div>
                    </div><!-- Form Row Ends -->
                    <div class="form-row" *ngIf="defaultAddFormValues[4]['readAccess']">
                        <div *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{'has-error': f.submitted && !totalTransactions.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                            <div class="bt-row">
                                <label for="totalTransactions">{{defaultAddFormValues[4]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="totalTransactions" OnlyNumber="true" 
                                (keydown)="onlyDecimalNumberKey($event)"  [(ngModel)]="model.totalTransactions" 
                                #totalTransactions="ngModel" id="totalTransactions" title="{{defaultAddFormValues[4]['helpMessage']}}" readonly>
                                <div *ngIf="f.submitted && totalTransactions.invalid">
                                    <div class='error-msg' *ngIf="totalTransactions.errors.required">
                                        {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div> 
                            </div> 
                        </div><!-- Bt Row Ends -->
                    </div><!-- Form Row Ends -->
                    <div class="form-row" *ngIf="defaultAddFormValues[5]['readAccess']">
                        <div *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{'has-error': f.submitted && !quantityTotal.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                            <div class="bt-row">
                                <div class="label-outer">
                                    <label>{{defaultAddFormValues[5]['fieldValue']}}</label>
                                </div><!-- Label Outer Ends -->
                                <div class="value-outer">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="quantityTotal" [(ngModel)]="model.quantityTotal"
                                    #quantityTotal="ngModel" id="quantityTotal" title="{{defaultAddFormValues[5]['helpMessage']}}" OnlyNumber="true" 
                                    (keydown)="onlyDecimalNumberKey($event)"   readonly>
                                    <div *ngIf="f.submitted && quantityTotal.invalid">
                                        <div class='error-msg' *ngIf="quantityTotal.errors.required">
                                            {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>
                                </div><!-- Value Outer ENds -->  
                            </div><!-- Bt Row Ends -->
                        </div>
                    </div><!-- Form Row Ends -->
                    <!--<div class="form-row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="bt-row">
                                <div class="value-outer">
                                    <label>{{model.isApprovedCheck}}
                                        <input title="{{defaultAddFormValues[6]['helpMessage']}}" type="checkbox" [checked]="model.isApproved" name="isApprovedCheck" [checked]="model.isApproved" [(ngModel)]="model.isApprovedCheck" #isApproved="ngModel"/>{{defaultAddFormValues[6]['fieldValue']}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- Form Row Ends -->
                    <!--<div class="form-row"  *ngIf="model.isApprovedCheck">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="bt-row">
                                <div class="label-outer">
                                    <label>{{defaultAddFormValues[7]['fieldValue']}}</label>
                                </div>
                                <div class="value-outer"> 
                                    <input type="text" title="{{defaultAddFormValues[7]['helpMessage']}}" [ngClass]="'form-control fm-txt'" [(ngModel)]="userId" readonly />
                                </div> 
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="bt-row">
                                <div class="label-outer">
                                    <label>{{defaultAddFormValues[8]['fieldValue']}}</label>
                                </div>
                                <div class="value-outer"> 
                                    <input type="text" title="{{defaultAddFormValues[8]['helpMessage']}}" [ngClass]="'form-control fm-txt'" [(ngModel)]="approvedDate" readonly />
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="form-row"  *ngIf="!isScreenLock">
                        <div class="button-row">
                            <div class="col-sm-12">
                                <input type="submit" class="orange-btn" title="{{defaultAddFormValues[9]['helpMessage']}}" value="{{defaultAddFormValues[9]['fieldValue']}}"  (click)="CreateBatchSetup(f)" [disabled]="btndisabled"/>
                                <input type="button" class="blue-btn" title="{{defaultAddFormValues[10]['helpMessage']}}" value="{{defaultAddFormValues[10]['fieldValue']}}"   (click)="varifyDelete()" [disabled]="!this.isModify"/>
                                <input type="submit" class="blue-btn" title="{{defaultAddFormValues[11]['helpMessage']}}" value="{{defaultAddFormValues[11]['fieldValue']}}"   (click)="PostBatchSetup(f)" [disabled]="btndisabled"/>
                                <input type="button" class="blue-btn" title="{{defaultAddFormValues[12]['helpMessage']}}" value="{{defaultAddFormValues[12]['fieldValue']}}"  (click)="clear()"/>
                                <input type="button" class="blue-btn" title="{{defaultAddFormValues[13]['helpMessage']}}" value="{{defaultAddFormValues[13]['fieldValue']}}" *ngIf="showBtns" (click)="cancel(f)"/>
                            </div>
                        </div><!-- Buton Row Ends -->
                    </div><!-- Form Row Ends -->
                </form>  
            </div><!-- Content OUter Ends -->
        </div>   
    </section>
</section>
<div class="form-row">  
    <div class="col-xs-12">
        <div class="content-heading">
            <div class="search-top">
                <input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
            </div>
        </div>
        <div class="algo-table">
            <div class="table-responsive">
                <ngx-datatable id="vatDetailGrid" class="material" [rows]="rows"
                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [externalPaging]="true"
                [count]="page.totalElements" [offset]="page.pageNumber"
                [limit]="page.size" (page)='getAllBatch($event)'
                [selected]="selected"
                (select)='onSelect($event)' [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"> 
                <ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="batchId" [width]="200"
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn"
                ngx-datatable-header-template> <span class="sort-btn"
                (click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
                let-value="value" ngx-datatable-cell-template>
                {{value}} 
            </ng-template> 
        </ngx-datatable-column> 
        <ngx-datatable-column name="description" *ngIf="defaultManageFormValues[1]['readAccess']" 
        [width]="200" [canAutoResize]="false" [draggable]="false"
        [resizeable]="false"> <ng-template
        let-column="column" let-sort="sortFn"
        ngx-datatable-header-template> <span class="sort-btn"
        (click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> 
    </ng-template> <ng-template
    let-value="value" ngx-datatable-cell-template>
    {{value}} 
</ng-template>
</ngx-datatable-column> 
<ngx-datatable-column name="transactionType" *ngIf="defaultManageFormValues[2]['readAccess']" 
[width]="150" [canAutoResize]="false" [draggable]="false"
[resizeable]="false"> <ng-template
let-column="column" let-sort="sortFn"
ngx-datatable-header-template> <span class="sort-btn"
(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> 
<ng-template
let-value="value" ngx-datatable-cell-template>
{{value}} 
</ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="totalTransactions" *ngIf="defaultManageFormValues[4]['readAccess']" 
[width]="150" [canAutoResize]="false" [draggable]="false"
[resizeable]="false"> <ng-template
let-column="column" let-sort="sortFn"
ngx-datatable-header-template> <span class="sort-btn"
(click)="sort()">{{defaultManageFormValues[4]['fieldValue']}}</span> </ng-template> 
<ng-template
let-value="value" ngx-datatable-cell-template>
{{value}} 
</ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="quantityTotal" *ngIf="defaultManageFormValues[5]['readAccess']" 
[width]="200" [canAutoResize]="false" [draggable]="false"
[resizeable]="false"> <ng-template
let-column="column" let-sort="sortFn"
ngx-datatable-header-template> <span class="sort-btn"
(click)="sort()">{{defaultManageFormValues[5]['fieldValue']}}</span> </ng-template> 
<ng-template
let-value="value" ngx-datatable-cell-template>
{{value}} 
</ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Action" [width]="150" *ngIf="defaultManageFormValues[6]['readAccess']" 
[canAutoResize]="false" [draggable]="false" [resizeable]="false">
<ng-template let-column="column" let-sort="sortFn"
ngx-datatable-header-template>
{{defaultManageFormValues[6]['fieldValue']}} </ng-template> <ng-template let-row="row"
let-value="value" ngx-datatable-cell-template>
<a class="edit-ico" (click)="getbatchById(row)" title="{{defaultManageFormValues[8]['helpMessage']}}"></a>
</ng-template> 
</ngx-datatable-column> 
</ngx-datatable>
</div>
</div><!-- Algo Table Ends -->
</div>
<div class="button-row" *ngIf="page.totalElements > 0">
    <!-- Table View Starts -->
    <div class="table-view">
        <span>{{tableViewtext}}</span>
        <div class="select-outer">
            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
                <option value="5">5 {{atATimeText}} </option>
                <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                <option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                <option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
            </select>
        </div>
    </div>
    <!-- Table View Ends -->
</div>
</div>
</div>