
 <div class="content-wrapper user-view">
    <section class="content">
        <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
            <section class="inner-content">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                    <div class="content-outer com-form">
                      <div class="row">
                        <div class="content-heading">
                            <div class="search-top">
                                <input type="text" class="search-txt form-control"
                                    (keyup)='updateFilter($event)' />
                            </div>
						</div>
                            <div class="form-row">  
                                <div class="col-xs-12">
                                    <div class="algo-table">
                                        <div class="table-responsive">
                                            <ngx-datatable id="cardId" class="material" [rows]="rows"
                                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                                [rowHeight]="'auto'" [externalPaging]="true"
                                                [count]="page.totalElements" [offset]="page.pageNumber"
                                                [limit]="page.size" (page)='setPage($event)'
                                                [selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
                                                (select)='onSelect($event)'>
                                            <ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="vendorClassId" [width]="300"
                                                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template> <span class="sort-btn"
                                                (click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> 
                                            </ng-template> 
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                 {{value}} 
                                            </ng-template> 
                                            </ngx-datatable-column> 
						                    <ngx-datatable-column name="classDescription" *ngIf="defaultManageFormValues[1]['readAccess']" 
                                                [width]="220" [canAutoResize]="false" [draggable]="false"
                                                [resizeable]="false"> 
                                            <ng-template
                                                let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template> <span class="sort-btn"
							                    (click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> 
                                            </ng-template> 
                                            <ng-template let-value="value" ngx-datatable-cell-template>
						                        {{value}} 
                                            </ng-template>
						                    </ngx-datatable-column> 
                                            <ngx-datatable-column name="classDescriptionArabic" *ngIf="defaultManageFormValues[2]['readAccess']" 
                                                [width]="300" [canAutoResize]="false" [draggable]="false"
                                                [resizeable]="false"> 
                                            <ng-template
                                                let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template> <span class="sort-btn"
                                                (click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span>
                                            </ng-template> 
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}} 
                                            </ng-template>
						                    </ngx-datatable-column> 
                                            <ngx-datatable-column name="Action" [width]="100" *ngIf="defaultManageFormValues[3]['readAccess']" 
                                                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                            <ng-template let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template>
                                                {{defaultManageFormValues[3]['fieldValue']}} 
                                            </ng-template> 
                                            <ng-template let-row="row"  let-value="value" ngx-datatable-cell-template>
                                                <a class="edit-ico" (click)="getAcountPayableClassSetupGetById(row)" title="{{defaultManageFormValues[3]['helpMessage']}}"></a>
                                            </ng-template> 
                                            </ngx-datatable-column> 
                                            </ngx-datatable>
					                    </div>
                                        <div class="button-row" *ngIf="page.totalElements > 0">
                                            <!-- Table View Starts -->
                                            <div class="table-view">
                                                <span>{{tableViewtext}}</span>
                                                    <div class="select-outer">
                                                        <select class="form-control"  (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
                                                            <option value="5">5 {{atATimeText}} </option>
                                                            <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                                                            <option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                                                            <option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
                                                        </select>
                                                    </div>
                                            </div>
                                            <!-- Table View Ends -->
                                            <div class="bottom-view">
                                            </div>
                                        </div>
		                            </div><!-- Algo Table Ends -->
		                        </div>
                            </div>
                       <form (ngSubmit)="!hasMsg && f.form.valid && saveAccountPayblesClass(f)" #f="ngForm" novalidate> 
                            <div class="form-row"  >
                                <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !vendorClassId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                  <label for="vendorClassId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                    <input type="text" myAutofocus id="txtvendorClassId" class="form-control fm-txt auto-focus {{myHtml}}" name="vendorClassId" [(ngModel)]="model.vendorClassId" 		
                                        #vendorClassId="ngModel" 	[disabled]="disableId"	
                                        title="{{defaultAddFormValues[0]['helpMessage']}}"	(blur)='IsIdAlreadyExist()'	
                                        maxlength="15"  [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>
                                    <div *ngIf="f.submitted && vendorClassId.invalid">
                                        <div class='error-msg' *ngIf="vendorClassId.errors.required">
                                            {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div class='error-msg' *ngIf="vendorClassId.errors.maxlength">
                                            {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !classDescription.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                    <label for="classDescription">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="classDescription" [(ngModel)]="model.classDescription" 		
                                        #classDescription="ngModel" 		
                                        title="{{defaultAddFormValues[1]['helpMessage']}}"		
                                        maxlength="31"  [readonly]="!defaultAddFormValues[1]['writeAccess']" required/>
                             <div *ngIf="f.submitted && classDescription.invalid">
                                    <div class='error-msg' *ngIf="classDescription.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="classDescription.errors.maxlength">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !classDescriptionArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="classDescriptionArabic">{{defaultAddFormValues[2]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="classDescription" [(ngModel)]="model.classDescriptionArabic" 		
                                        #classDescriptionArabic="ngModel" 		
                                        title="{{defaultAddFormValues[2]['helpMessage']}}"		
                                        maxlength="61"  [readonly]="!defaultAddFormValues[2]['writeAccess']" required/>
                             <div *ngIf="f.submitted && classDescriptionArabic.invalid">
                                    <div class='error-msg' *ngIf="classDescriptionArabic.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="classDescriptionArabic.errors.maxlength">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
     
                        </div>


   
     <div class="form-row">

                          <div class="col-sm-12">

                            <div class="row border-box full-bx-width">

                              <div class="col-sm-4">
                                <div class="cm-row">
                                  <label>{{defaultAddFormValues[3]['fieldValue']}}</label>
                                </div>
                                <div class="cm-row">
                                  <label>{{defaultAddFormValues[6]['fieldValue']}}</label>
                                </div>
                                <div class="cm-row">
                                  <label>{{defaultAddFormValues[10]['fieldValue']}}</label>
                                </div>
                              </div>

                              <div class="col-sm-2">
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" title="{{defaultAddFormValues[4]['helpMessage']}}" name="inamount" value="0" [(ngModel)]="model.maximumInvoiceAmount"  (change)="handleInvoiceOptionChange($event,'inamount')"		
                                   >{{defaultAddFormValues[4]['fieldValue']}}</label></span>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" title="{{defaultAddFormValues[7]['helpMessage']}}" name="minimumPayment"  value="0"  [(ngModel)]="model.minimumCharge"  	(change)="handleInvoiceOptionChange($event,'minimumCharge')"		
                                   > {{defaultAddFormValues[7]['fieldValue']}}</label></span>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" name="creditLimit"  title="{{defaultAddFormValues[11]['helpMessage']}}" value="0"  [(ngModel)]="model.creditLimit" 	(change)="handleInvoiceOptionChange($event,'creditLimit')"		
                                   >{{defaultAddFormValues[11]['fieldValue']}}</label></span>
                                </div>
                              </div>

                              <div class="col-sm-2">
                                <div class="cm-row">
                                 <label class="choose-opt"> &nbsp; &nbsp;</label>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" title="{{defaultAddFormValues[8]['helpMessage']}}" name="minimumPayment" value="1" [(ngModel)]="model.minimumCharge"  (change)="handleInvoiceOptionChange($event,'minimumCharge')"		> {{defaultAddFormValues[8]['fieldValue']}}</label></span>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" name="creditLimit"   value="1"  [(ngModel)]="model.creditLimit" (change)="handleInvoiceOptionChange($event,'creditLimit')" title="{{defaultAddFormValues[12]['helpMessage']}}"	> {{defaultAddFormValues[12]['fieldValue']}}</label></span>
                                </div>
                              </div>

                              <div class="col-sm-2">
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" name="inamount" value="1" [(ngModel)]="model.maximumInvoiceAmount" (change)="handleInvoiceOptionChange($event,'inamount')"	title="{{defaultAddFormValues[5]['helpMessage']}}" > {{defaultAddFormValues[5]['fieldValue']}}</label></span>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" name="minimumPayment" value="2" [(ngModel)]="model.minimumCharge" (change)="handleInvoiceOptionChange($event,'minimumCharge')" title="{{defaultAddFormValues[9]['helpMessage']}}" > {{defaultAddFormValues[9]['fieldValue']}}</label></span>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" name="creditLimit" value="2" [(ngModel)]="model.creditLimit" (change)="handleInvoiceOptionChange($event,'creditLimit')" title="{{defaultAddFormValues[13]['helpMessage']}}" > {{defaultAddFormValues[13]['fieldValue']}}</label></span>
                                </div>
                              </div>

                              <div class="col-sm-2 arabic-mode">
                                <input type="text" id = "maximumInvoiceAmountValue"  title="{{defaultAddFormValues[3]['helpMessage']}}" maxlength="10" class="form-control fm-txt "  OnlyNumber="true"  
                                [readonly]="isMaxAmountOption"  [(ngModel)]="model.maximumInvoiceAmountValue"  #maximumInvoiceAmountValue="ngModel"   
                                [ngModelOptions]="{standalone: true}" #maximumInvoiceAmountValue="ngModel" (ngModelChange) = "getMaximumInvoiceAmountValue($event)" 
                                (blur)= "formatMaximumInvoiceAmountValue()" (focus)='formatMaximumInvoiceAmountValueChanged()' >		
                                     		
                                <input type="text" id = "minimumChargeAmount" title="{{defaultAddFormValues[6]['helpMessage']}}" maxlength="10" class="form-control fm-txt"  OnlyNumber="true"  
                                 [readonly]="isMinAmountOption" [(ngModel)]="model.minimumChargeAmount"  
                                 #minimumChargeAmount="ngModel"  [ngModelOptions]="{standalone: true}" (ngModelChange) = "getminimumChargeAmountValue($event)"
                                  (blur)= "formatminimumChargeAmount()" (focus)='formatminimumChargeAmountChanged()' >		
                                       	
                                <input type="text" id = "creditLimitAmount" title="{{defaultAddFormValues[10]['helpMessage']}}" maxlength="10" 
                                class="form-control fm-txt"  OnlyNumber="true" 
                               [readonly]="isCreditLimitOption" [(ngModel)]="model.creditLimitAmount"   #creditLimitAmount="ngModel"   
                                [ngModelOptions]="{standalone: true}" (ngModelChange) = "getCreditLimitAmountValue($event)" (blur)= "formatCreditLimitAmount()"
                                (focus)='formatCreditLimitAmountChanged()'>
                                       	
                              </div>

                            </div>

                          </div>
                        </div><!-- Form Row Ends -->
                      
                           <div class="form-row">
                            
                            <div  *ngIf="defaultAddFormValues[14]['readAccess']" [ngClass]="{'has-error': f.submitted && !tradeDiscountPercent.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="tradeDiscountPercent">{{defaultAddFormValues[14]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt '" name="tradeDiscountPercent" id = "tradeDiscountPercent" [(ngModel)]="model.tradeDiscountPercent" 		
                                        #tradeDiscountPercent="ngModel"  title="{{defaultAddFormValues[14]['helpMessage']}}" OnlyNumber="true" [readonly]="!defaultAddFormValues[14]['writeAccess']" 
                                        (ngModelChange) = "getTradeDiscountPercent($event)" (blur)= "formatTradeDiscountPercent()" (focus)='formatTradeDiscountPercentChanged()'required>
                             <div *ngIf="f.submitted && tradeDiscountPercent.invalid">
                                    <div class='error-msg' *ngIf="tradeDiscountPercent.errors.required">
                                        {{defaultAddFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                     
                                </div>
                            </div>

                         <div  *ngIf="defaultAddFormValues[19]['readAccess']" [ngClass]="{'has-error': f.submitted && checkBookId.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="checkBookId">{{defaultAddFormValues[19]['fieldValue']}}</label>
                             <div [ngClass]="'select-outer'">
                                    <!--<select [ngClass]="'form-control '" name="checkBookId" [(ngModel)]="model.checkBookId" #checkBookId="ngModel" 
                                           title="{{defaultAddFormValues[19]['helpMessage']}}" required>
                                          <option value="">--{{select}}--<option>
                                          <option *ngFor="let checkbook of checkbookoptions"  value="{{checkbook.checkBookId}}" >
                                            {{checkbook.checkBookId}}
                                        </option>
                                    </select>-->
                                   <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCheckBookId" [(ngModel)]="checkBookId" id="checkBookId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlCheckBookIdSetting" 
									 (onSelect)="getCheckBookByID($event)" (onDeSelect)="OnCheckBookIdDeSelect($event)"></angular2-multiselect>  
                                </div>
                             <div *ngIf="f.submitted && checkBookId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                     
                                </div>
                            </div> 

                        </div><!-- Form Row Ends -->
                          <div class="form-row">
                            
                             <div  *ngIf="defaultAddFormValues[15]['readAccess']" [ngClass]="{'has-error': f.submitted && !minimumOrderAmount.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="minimumOrderAmount">{{defaultAddFormValues[15]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="minimumOrderAmount" [(ngModel)]="model.minimumOrderAmount" 		
                                        #minimumOrderAmount="ngModel" OnlyNumber="true" maxlength="6"
                                        (keydown)="onlyDecimalNumberKey($event)" 
                                       title="{{defaultAddFormValues[15]['helpMessage']}}"		
                                       [readonly]="!defaultAddFormValues[15]['writeAccess']" required/>
                             <div *ngIf="f.submitted && minimumOrderAmount.invalid">
                                    <div class='error-msg' *ngIf="minimumOrderAmount.errors.required">
                                        {{defaultAddFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                     
                                </div>
                            </div>

                             <div  *ngIf="defaultAddFormValues[18]['readAccess']" [ngClass]="{'has-error': f.submitted && currencyId.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="currencyId">{{defaultAddFormValues[18]['fieldValue']}}</label>
                             <div [ngClass]="'select-outer'">
                                    <!--<select [ngClass]="'form-control '" name="currencyId" [(ngModel)]="model.currencyId" #currencyId="ngModel" 
                                           title="{{defaultAddFormValues[18]['helpMessage']}}" required>
                                          <option value="">--{{select}}--</option>
                                          <option *ngFor="let currency of currencyoptions"  value="{{currency.currencyId}}" >
                                            {{currency.currencyId}}
                                        </option>
                                    </select>-->
                                     <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCurrencyId" [(ngModel)]="currencyId" id="currencyId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlCurrencyIdSetting" 
									 (onSelect)="getCurrencyByID($event)" (onDeSelect)="OnCurrencyIdDeSelect($event)"></angular2-multiselect>  
                                </div>
                             <div *ngIf="f.submitted && currencyId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                     
                                </div>
                            </div> 

                        </div><!-- Form Row Ends -->
                         <div class="form-row">
                            
                            <div  *ngIf="defaultAddFormValues[16]['readAccess']" [ngClass]="{'has-error': f.submitted && shipmentMethodId.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="shipmentMethodId">{{defaultAddFormValues[16]['fieldValue']}}</label>
                             <div [ngClass]="'select-outer'">
                                    <!--<select [ngClass]="'form-control '" name="shipmentMethodId" [(ngModel)]="model.shipmentMethodId" #shipmentMethodId="ngModel" 
                                           title="{{defaultAddFormValues[16]['helpMessage']}}" required>
                                          <option *ngFor="let shippingmethod of shippingoptions"  value="{{shippingmethod.shipmentMethodId}}" >
                                            {{shippingmethod.shipmentMethodId}}
                                        </option>
                                    </select>-->
                                    <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrShipmentMethodId" [(ngModel)]="shipmentMethodId" id="shipmentMethodId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlShipmentMethodIDSetting" 
									 (onSelect)="getShipmentMethodByID($event)" (onDeSelect)="OnShipmentMethodIdDeSelect($event)"></angular2-multiselect>  
                                </div>
                             <div *ngIf="f.submitted && shipmentMethodId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                     
                                </div>
                            </div> 

                          <div  *ngIf="defaultAddFormValues[31]['readAccess']" [ngClass]="{'has-error': f.submitted && paymentTermId.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="paymentTermId">{{defaultAddFormValues[31]['fieldValue']}}</label>
                             <div [ngClass]="'select-outer'">
                                    <!--<select [ngClass]="'form-control '" name="paymentTermId" [(ngModel)]="model.paymentTermId" #paymentTermId="ngModel" 
                                           title="{{defaultAddFormValues[31]['helpMessage']}}" required>
                                          <option value="">--{{select}}</option>
                                          <option *ngFor="let payment of paymentoptions"  value="{{payment.paymentTermId}}" >
                                            {{payment.paymentTermId}}
                                        </option>
                                    </select>-->
                                     <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrPaymentTermId" [(ngModel)]="paymentTermId" id="paymentTermId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlPaymentTermIDSetting" 
									 (onSelect)="getPaymentTermByID($event)" (onDeSelect)="OnPaymentTermIdDeSelect($event)"></angular2-multiselect>  
                                </div>
                             <div *ngIf="f.submitted && paymentTermId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[31]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                     
                                </div>
                            </div> 

                        </div><!-- Form Row Ends -->
                           <div class="form-row">
                            
                              <div  *ngIf="defaultAddFormValues[17]['readAccess']" [ngClass]="{'has-error': f.submitted && vatScheduleId.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="vatScheduleId">{{defaultAddFormValues[17]['fieldValue']}}</label>
                             <div [ngClass]="'select-outer'">
                                    <!--<select [ngClass]="'form-control '" name="vatScheduleId" [(ngModel)]="model.vatScheduleId" #vatScheduleId="ngModel" 
                                           title="{{defaultAddFormValues[17]['helpMessage']}}" required>
                                          <option *ngFor="let vat of vatoptions"  value="{{vat.vatScheduleId}}" >
                                            {{vat.vatScheduleId}}
                                        </option>
                                    </select>-->
                                      <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrVatScheduleId" [(ngModel)]="vatScheduleId" id="vatScheduleId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlVatScheduleIDSetting" 
									 (onSelect)="getVatScheduleByID($event)" (onDeSelect)="OnVatScheduleIdDeSelect($event)"></angular2-multiselect>  
                                </div>
                             <div *ngIf="f.submitted && vatScheduleId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                     
                                </div>
                            </div> 

                        </div><!-- Form Row Ends --> 
              

                <div class="form-row">
                            
                           <div class="col-md-6 col-sm-6 col-xs-12">

                              <div *ngIf="defaultAddFormValues[25]['readAccess']" [ngClass]="{'has-error': f.submitted && !userDefine1.valid,'form-row ':true}">
                                  <label for="userDefine1">{{defaultAddFormValues[25]['fieldValue']}}</label>
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="userDefine1" [(ngModel)]="model.userDefine1" 		
                                                #userDefine1="ngModel" 	maxlength="21"	
                                                title="{{defaultAddFormValues[25]['helpMessage']}}"		
                                              [readonly]="!defaultAddFormValues[25]['writeAccess']" />
                                    <div *ngIf="f.submitted && userDefine1.invalid">
                                          
                                              <div class='error-msg' *ngIf="userDefine1.errors.maxlength">
                                                {{defaultAddFormValues[25]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            
                                        </div>
                                  </div>

                                  <div *ngIf="defaultAddFormValues[26]['readAccess']" [ngClass]="{'has-error': f.submitted && !userDefine2.valid,'form-row ':true}">
                                      <label for="userDefine2">{{defaultAddFormValues[26]['fieldValue']}}</label>
                                      <input type="text" [ngClass]="'form-control fm-txt'" name="userDefine2" [(ngModel)]="model.userDefine2" 		
                                                  #userDefine2="ngModel" 	maxlength="21"	
                                                  title="{{defaultAddFormValues[26]['helpMessage']}}"		
                                                [readonly]="!defaultAddFormValues[26]['writeAccess']" />
                                      <div *ngIf="f.submitted && userDefine2.invalid">
                                            
                                                <div class='error-msg' *ngIf="userDefine2.errors.maxlength">
                                                  {{defaultAddFormValues[26]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                              </div>
                                              
                                          </div>
                                  </div>

                                  <div *ngIf="defaultAddFormValues[27]['readAccess']" [ngClass]="{'has-error': f.submitted && !userDefine3.valid,'form-row ':true}">
                                       <label for="userDefine3">{{defaultAddFormValues[27]['fieldValue']}}</label>
                                      <input type="text" [ngClass]="'form-control fm-txt'" name="userDefine3" [(ngModel)]="model.userDefine3" 		
                                                  #userDefine3="ngModel" 	maxlength="21"	
                                                  title="{{defaultAddFormValues[27]['helpMessage']}}"		
                                                [readonly]="!defaultAddFormValues[27]['writeAccess']" />
                                      <div *ngIf="f.submitted && userDefine3.invalid">
                                            
                                                <div class='error-msg' *ngIf="userDefine3.errors.maxlength">
                                                  {{defaultAddFormValues[27]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                              </div>
                                              
                                          </div>

                                  </div>

                            </div>

                      <div class="col-md-4 col-sm-6 col-xs-12 border-box">
                         <div class="content-heading"><h3>{{defaultAddFormValues[20]['fieldValue']}}</h3></div><!-- Content Heading Ends --> 
                          <ul class="check-list">
                                  <li><label><input title="{{defaultAddFormValues[21]['helpMessage']}}" type="checkbox" name="openMaintenanceHistoryCalendarYear" [checked]="model.openMaintenanceHistoryCalendarYear" [(ngModel)]="model.openMaintenanceHistoryCalendarYear" #openMaintenanceHistoryCalendarYear="ngModel"/>{{defaultAddFormValues[21]['fieldValue']}}</label></li>
                                 <li><label><input title="{{defaultAddFormValues[23]['helpMessage']}}" type="checkbox" name="openMaintenanceHistoryTransaction" [checked]="model.openMaintenanceHistoryTransaction" [(ngModel)]="model.openMaintenanceHistoryTransaction" #openMaintenanceHistoryTransaction="ngModel"/>{{defaultAddFormValues[23]['fieldValue']}}</label></li>
                                   <li><label><input title="{{defaultAddFormValues[22]['helpMessage']}}" type="checkbox" name="openMaintenanceHistoryFiscalYear" [checked]="model.openMaintenanceHistoryFiscalYear" [(ngModel)]="model.openMaintenanceHistoryFiscalYear" #openMaintenanceHistoryFiscalYear="ngModel"/>{{defaultAddFormValues[22]['fieldValue']}}</label></li>
                                <li><label><input title="{{defaultAddFormValues[24]['helpMessage']}}" type="checkbox" name="openMaintenanceHistoryDistribution" [checked]="model.openMaintenanceHistoryDistribution" [(ngModel)]="model.openMaintenanceHistoryDistribution" #openMaintenanceHistoryDistribution="ngModel"/>{{defaultAddFormValues[24]['fieldValue']}}</label></li>
                             
                                </ul>
                    </div><!-- Form Row Ends -->

                </div><!-- Form Row Ends -->
                 
                       <div class="button-row">
                      <div class="col-sm-12">
                            <input type="submit" [disabled]="LockScreen(defaultAddFormValues[28]['writeAccess'])" value="{{defaultAddFormValues[28]['fieldValue']}}" title="{{defaultAddFormValues[28]['helpMessage']}}" class="orange-btn">
                       <input type="button" class="blue-btn" title="{{defaultAddFormValues[29]['helpMessage']}}" (click)="resetMe(f)" value="{{defaultAddFormValues[29]['fieldValue']}}"/>
                        <input type="button" class="blue-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                         <input type="button"  class="blue-btn"   (click)="redirect1(currentvendorClassId)" [disabled]="disableButton" title="{{defaultAddFormValues[30]['helpMessage']}}" value="{{defaultAddFormValues[30]['fieldValue']}}"/>
                         <!-- <a class="grey-btn" title="{{defaultAddFormValues[31]['helpMessage']}}" ng-disabled="true">{{defaultAddFormValues[31]['fieldValue']}}</a> -->
                         
                        </div>

                    </div><!-- Buton Row Ends -->

                    
</form>
                       

                      
                      </div> 
                      <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                  </section>
                </section>
            </div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>
