<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
      <div class="modal-header">
        <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
        {{confirmationModalTitle}}
      </div>
      <div class="modal-body">
          <p *ngIf='!isDeleteAction'>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
          <p *ngIf='isDeleteAction'>
              <i class="fa fa-exclamation-circle" asssria-hidden="true"></i>{{deleteConfirmationText}}</p>
      </div>
      <div class="modal-footer">
              <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
              <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
              <button  class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

      </div>
  </div>
</div>

<div class="modal" *ngIf="isattConfirmationModalOpen" style="display:block !important" >
  <div class="modal-content">
      <div class="modal-header">
        <span class="btnClose" (click)='attcloseModal()'><i class="fa fa-close"></i></span>
          {{confirmationModalTitle}}
      </div>
      <div class="modal-body">
         
          <p>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
      </div>
      <div class="modal-footer">
           
              <button class="green-btn" (click)='attdelete()'>{{OkText}}</button>
              <button  class="blue-btn" (click)='attcloseModal()'>{{CancelText}}</button>

      </div>
  </div>
</div>

<!-- Attach file Modal -->

<div class="modal" *ngIf="isFileAttachModalOpen" style="display:block !important">
  <div class="modal-content">
      <div class="modal-header">
        <span class="btnClose" (click)='CancelUpload()'><i class="fa fa-close"></i></span>
          <span *ngIf="!attmodel.id">{{POSITION_ATTACHMENT_CREATE_FORM_LABEL['fieldValue']}}</span>
          <span *ngIf="attmodel.id">{{POSITION_ATTACHMENT_UPDATE_FORM_LABEL['fieldValue']}}</span>
      </div>
      <div class="modal-body">
               <!-- Create / Update Form start -->
          <div>
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
           
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
<!-- attachment for starts -->
         
            <form class="form-horizontal" (ngSubmit)=" f3.form.valid && !isSelected && CreatePositionAttachment(f3, $event)" #f3="ngForm" novalidate>
              <div class="form-group">
                
                <div class="col-md-12">
                 

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="form-group row">
                        <div class="floating-label col-md-12" [ngClass]="{'col-md-10 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                          <input class="floating-input" type="text" placeholder=" " name="positionIds" value={{positionIds}} title="{{POSITION_ID['helpMessage']}}"
                            readonly tabindex="30"/>
                          <span class="highlight"></span>
                          <label class="control-label" for="positionIds">{{POSITION_ID['fieldValue']}}</label>
                  
                        </div>
                      </div>
                    </div>
                    </div>
                  
                    <div class="form-group row">
                    <div class="col-sm-12">
                      <div class="form-group row">
                        <div class="floating-label col-md-12" [ngClass]="{'col-md-10 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <input class="floating-input" type="text" placeholder=" " tabindex="31" name="description" value={{positionDesc}} title="{{POSITION_DESCRIPTION['helpMessage']}}"
                            readonly/>
                  
                          <span class="highlight"></span>
                          <label class="control-label" for="positionDesc">{{POSITION_DESCRIPTION['fieldValue']}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                
  
  
                  <!-- Arabic position class description -->
                  <div class="form-group row">
                      <div class="col-sm-12">
                        <div class="form-group row">
                          <div class="floating-label col-md-12" [ngClass]="{'has-error': f3.submitted && !documentAttachmenDesc.valid,'col-md-10 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <input class="floating-input" name="documentAttachmenDesc" placeholder=" " [(ngModel)]="attmodel.documentAttachmenDesc"
                            #documentAttachmenDesc="ngModel" title="Attach {{POSITION_ATTACHMENT_DESCRIPTION['helpMessage']}}" maxlength="61" required
                            tabindex="32"/>
                            <div *ngIf="f3.submitted && documentAttachmenDesc.invalid">
                                <div class="error-msg" [hidden]="!documentAttachmenDesc.errors.required">
                                  {{POSITION_ATTACHMENT_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="!documentAttachmenDesc.errors?.maxlength">
                                  {{POSITION_ATTACHMENT_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                              </div>
                            <span class="highlight"></span>
                            <label class="control-label" for="documentAttachmenDesc">Attach {{POSITION_ATTACHMENT_DESCRIPTION['fieldValue']}}</label>
                          </div>
                        </div>
                      </div>
                                       
                    
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-12">
                          <div class="form-group row">
                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f3.submitted && !documentAttachmenDesc.valid,'col-md-10 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <select class="floating-select" (change) = "checkAttachedFile(attachmentType.value);" name="traningCourseId"
                                tabindex="33" [(ngModel)]="attmodel.attachmentType" #attachmentType="ngModel" title="Attach {{POSITION_ATTACHMENT_TYPE['helpMessage']}}"
                          required>
                          <option value="null">--Select File Type--</option>
                          <option value=1>Document</option>
                          <option value=2>Image</option>
                          <!-- <option value=3>Other</option> -->
  
                        </select>
                        <div *ngIf="f.submitted && attachmentType.invalid" >
                          
                            {{POSITION_ATTACHMENT_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            
                          </div>
                          <div *ngIf="attachmentType.valid && isSelected" >
                            Invalid File.
                          </div>
                              <span class="highlight"></span>
                              <label class="control-label"for="attachmentType">Attach {{POSITION_ATTACHMENT_TYPE['fieldValue']}}</label>
                      
                            </div>
                          </div>
                        </div>
                                         
                      
                      </div>


                
  
                  <!-- Position Course ID DropDown-->
           
  
                  <!-- selectedFile -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': f3.submitted && !documentAttachmentName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
  
                      <div class="col-md-8">
                        <input type="file" name="documentAttachmentName" [(ngModel)]="attmodel.documentAttachmentName" (change)="onSelectFile($event)" 
                        #documentAttachmentName="ngModel" #file class="hide" >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Position  Id field -->
                
                <div class="col-md-3"  style="width: 350">
                  <span *ngIf="attmodel.attachmentType == 2" ><img [src]="attmodel.id?_DomSanitizationService.bypassSecurityTrustUrl(url | secure | async):url" height="200"></span>
                  {{fileName}}
                </div>
                <!-- Buttons -->
                <div [ngClass]="'button-row'">
                  <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
                      <span class="">
                        <button tabindex="34" [ngClass]="'grey-btn'" type="button" (click)="file.click(); isattachFiles = false;">{{POSITION_TRAINING_ATTACH_FORM_LABEL['fieldValue']}}</button>
                        <button tabindex="35" *ngIf="attmodel.id" type="button" [ngClass]="'grey-btn'" [disabled]="FileNotFetched" (click) = "updateStatus(f)">{{POSITION_TRAINING_UPDATE_LABEL['fieldValue']}}</button>
                        <button tabindex="36" *ngIf="!attmodel.id" [ngClass]="'green-btn'">{{POSITION_TRAINING_SAVE_LABEL['fieldValue']}}</button>
                        <!-- <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{POSITION_TRAINING_CLEAR_LABEL['fieldValue']}}</button> -->
                        <button [ngClass]="'blue-btn'" (click)="CancelUpload()">{{POSITION_TRAINING_CANCEL_LABEL['fieldValue']}}</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <!-----------------------------------------------attachment form ends ------------------------->
          </div>
          <!-- Create Update form ends -->
      </div>
      <div class="modal-footer">
              <!-- <button class="green-btn" (click)='saveClass()' *ngIf='!isDeleteAction'>Save</button>
          
              <button  class="blue-btn" (click)='closeClassModal()'>Cancel</button> -->

      </div>
  </div>
</div>

<!-- Add class Modal starts -->
<div class="modal" *ngIf="isAddClassModalOpen" style="display:block !important">
        <div class="modal-content">
            <div class="modal-header">
              <span class="btnClose" (click)='closeClassModal()'><i class="fa fa-close"></i></span>
              {{POSITION_CLASS_CREATE_FORM_LABEL['fieldValue']}}
            </div>
            <div class="modal-body">
                         
                          <div class="content-wrapper">
                          <section class="content">
                            <!-- section Heading Starts -->
                            <!-- <div class="section-heading">
                                <h2></h2>
                            </div> -->
                            <!-- section Heading Ends -->
                            <section class="inner-content">
                                <!-- Content Outer Starts -->


                                <div class="content-outer com-form">
                                    <div *ngIf="hasclsMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isclsSuccessMsg,'alert-danger':isclsfailureMsg,'btiMsg':true,'showAlert':showclsMsg}">
                                        {{messageText}}
                                    </div>
                          
                                    <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isclsSuccessMsg,'alert-danger':isclsfailureMsg,'btiMsg':true,'showAlert':showclsMsg}">
                                            {{message.text}}
                                        </div>
                                    <!-- Content Heading Starts -->
                                    <div class="content-heading">
                                        <!-- <h3> {{screenName}}</h3> -->
                                           <div *ngIf="showloader" class="loader">
                                        </div>
                                    </div>
                                    <!-- Content Heading Ends -->
                                    
                                    <!--adding form starts-->
                          <!-- Basic Form Inputs card start -->
                          <app-card [title]="">
                          <!-- <h4 class="sub-title">Create company</h4> -->
                          
                          
                            <!-------------------------------------------create position class starts here ---------------------------------------------->
                          <form class="form-horizontal" (ngSubmit)="f1.form.valid && CreatePositionClass(f1, $event)"
                          #f1="ngForm" novalidate>
                       
                          <!-- <ng-template> -->
                               <div class="form-group row">
                                   
                                      <div class="col-sm-12">
                                            <div class="form-group row">
                                        <div class="floating-label col-md-12">  
                                            <input  class="floating-input"   tabindex="23" [(ngModel)]="posclsmodel.positionClassId"  name=" #positionClassId"   #positionClassId="ngModel" required/>
                                            
                                            <div *ngIf="f1.submitted && positionClassId.invalid">
                                                    <div class="error-msg" [hidden]="!positionClassId.errors.required">
                                                        {{POSITION_CLASS_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div class="error-msg" [hidden]="!positionClassId.errors?.maxlength" *ngIf="POSITION_CLASS_ID['listDtoFieldValidationMessage'][1]">
                                                        {{POSITION_CLASS_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                            <span class="highlight"></span>
                                            <label  for="positionClassId">{{POSITION_CLASS_ID['fieldValue']}}</label>
                                          
                                           
                                          </div>
                                      </div>
                                      </div>
                                </div>
                          
                          
                           
                          <!-- </ng-template> -->
                          
                                <div class="form-group row">  
                                        <div class="col-sm-12">
                                            <div class="form-group row">
                                                <div class="floating-label col-md-12" [ngClass]="{'has-error': f1.submitted && !positionClassDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                                      <input class="floating-input" type="text" placeholder=" " tabindex="24" name="positionClassDescription" [(ngModel)]="posclsmodel.positionClassDescription"
                                                      #positionClassDescription="ngModel" title="{{POSITION_CLASS_DESCRIPTION['helpMessage']}}" maxlength="31" [required]="POSITION_CLASS_DESCRIPTION['isMandatory']"
                                                    />
                                                    <div *ngIf="f1.submitted && positionClassDescription.invalid">
                                                        <div class="error-msg" [hidden]="!positionClassDescription.errors.required">
                                                            {{POSITION_CLASS_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                        <div class="error-msg" [hidden]="!positionClassDescription.errors?.maxlength" *ngIf="POSITION_CLASS_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                            {{POSITION_CLASS_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                        </div>
                                                    </div>
                                                    <span class="highlight"></span>
                                                    <label class="control-label" for="positionClassDescription">{{POSITION_CLASS_DESCRIPTION['fieldValue']}}</label>
                                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                          
                                       
                                    <div class="form-group row">   
                                                    <div class="col-sm-12">
                                                            <div class="form-group row">
                                                                <div class="floating-label col-md-12" [ngClass]="{'has-error': f1.submitted && !arabicPositionClassDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                                                    <input  class="floating-input" type="text" placeholder=" " tabindex="25" name="arabicPositionClassDescription" [(ngModel)]="posclsmodel.arabicPositionClassDescription"
                                                                        #arabicPositionClassDescription="ngModel" title="{{POSITION_CLASS_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61"
                                                                        [required]="POSITION_CLASS_ARABIC_DESCRIPTION['isMandatory']" dir="rtl" />
                                                                    <div *ngIf="f1.submitted && arabicPositionClassDescription.invalid">
                                                                        <div class="error-msg" [hidden]="!arabicPositionClassDescription.errors.required">
                                                                            {{POSITION_CLASS_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                        </div>
                                                                        <div class="error-msg" [hidden]="!arabicPositionClassDescription.errors?.maxlength" *ngIf="POSITION_CLASS_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                                            {{POSITION_CLASS_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                                        </div>
                                                                    </div>
                                                                    <span class="highlight"></span>
                                                                    <label class="control-label" for="arabicPositionClassDescription">{{POSITION_CLASS_ARABIC_DESCRIPTION['fieldValue']}}</label>
                                                                </div>
                                                            </div>
                                                    </div>
                                       
                                      
                          
                                      
                                       
                                 </div>
                           
                          
                          
                                <div [ngClass]="'button-row'">
                                        <div [ngClass]="'col-sm-12'">
                                            <!-- <button *ngIf="model.id" class="green-btn">{{POSITION_CLASS_UPDATE_LABEL['fieldValue']}}</button> -->
                                            <button tabindex="26" class="green-btn">{{POSITION_CLASS_SAVE_LABEL['fieldValue']}}</button>
                                            <button tabindex="27" class="blue-btn" (click)="closeClassModal()">{{POSITION_CLASS_CANCEL_LABEL['fieldValue']}}</button>
                                         
                                            <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
                                            <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
                                        </div>
                                        
                                </div>
                           
                          </form>
                            <!---create position class ends here -->
                          
                          
                          </app-card>        
                                   
                          
                          <!--adding form ends-->
                          </div>
                          <!-- Content Outer Ends -->
                          </section>
                          </section>
                          </div>
            </div>
            <div class="modal-footer">
                    <!-- <button class="green-btn" (click)='saveClass()' *ngIf='!isDeleteAction'>Save</button>
                
                    <button  class="blue-btn" (click)='closeClassModal()'>Cancel</button> -->
      
            </div>
        </div>
      </div>
      <!-- Add class Modal ends -->

      <!-- Add skillset Modal starts -->
<div class="modal" *ngIf="isAddSkillsetModalOpen" style="display:block !important">
        <div  id="skillsetModal" class="modal-content">
            <div class="modal-header">
              <span class="btnClose" (click)='closeSkillsetPopup()'><i class="fa fa-close"></i></span>
              {{SKILL_SET_SETUP_CREATE_FORM_LABEL['fieldValue']}}
            </div>
            <div class="modal-body">
                         
                    <div class="content-wrapper">
                            <section class="content">
                              <!-- section Heading Starts -->
                              <!-- <div class="section-heading">
                                <h2></h2>
                            </div> -->
                              <!-- section Heading Ends -->
                              <section class="inner-content">
                                <!-- Content Outer Starts -->
                                <div class="content-outer com-form">
                                  <div *ngIf="hasskillsetMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isskillsetSuccessMsg,'alert-danger':isskillsetfailureMsg,'btiMsg':true,'showAlert':showskillsetMsg}">
                                    {{skillsetmessageText}}
                                  </div>
                          
                                  <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isskillsetSuccessMsg,'alert-danger':isskillsetfailureMsg,'btiMsg':true,'showAlert':showskillsetMsg}">
                                    {{message.text}}
                                  </div>
                                  <!-- Content Heading Starts -->
                                  <div class="content-heading">
                                    <!-- <h3> {{screenName}}</h3> -->
                                    <div *ngIf="showloader" class="loader">
                                    </div>
                                  </div>
                                  <!-- Content Heading Ends -->
                          
                                  <!--adding form starts-->
                                  <!-- Basic Form Inputs card start -->
                                  <app-card [title]="">
                                    <!-- <h4 class="sub-title">Create company</h4> -->
                          
                                    <!--create skill set setup(f2)-->
                                    <form class="form-horizontal" (ngSubmit)="f2.form.valid && CreateSkillsSetup(f2, $event)"
                                      #f2="ngForm" novalidate>
                                      <!-- <form class="form-horizontal" (ngSubmit)="f1.form.valid && CreatePositionClass(f1, $event)"
                                      #f1="ngForm" novalidate> -->
                          
                                      <!-- <ng-template> -->
                                      <div class="form-group row">
                                        <div class="col-sm-6">
                                          <div class="form-group row">
                                          
                                        <div class="floating-label col-md-12">  
                                            <input  class="floating-input" tabindex="12"   name="skillSetId" [(ngModel)]="skillSetmodel.skillsetId" #skillSetId="ngModel" required/>
                                            
                                            <div *ngIf="f2.submitted && skillSetId.invalid">
                                                    <div class="error-msg" [hidden]="!skillSetId.errors.required">
                                                      {{SKILL_SET_SETUP_SET_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div class="error-msg" [hidden]="!skillSetId.errors?.maxlength" *ngIf="SKILL_SET_SETUP_SET_ID['listDtoFieldValidationMessage'][1]">
                                                      {{SKILL_SET_SETUP_SET_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                  </div>
                                            <span class="highlight"></span>
                                            <label  for="positionClassId">{{SKILL_SET_SETUP_SET_ID['fieldValue']}}</label>
                                          </div>
                                        </div>
                                        </div>
                                      </div>
                          
                          
                                      <!-- </ng-template> -->
                          
                                      <div class="form-group row">
                                        <div class="col-sm-6">
                                          <div class="form-group row">
                                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f2.submitted && !skillSetDiscription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                              <input class="floating-input" type="text" placeholder=" " tabindex="13" name="skillSetDiscription" [(ngModel)]="skillSetmodel.skillSetDesc"
                                                #skillSetDiscription="ngModel" title="{{SKILL_SET_SETUP_DESCRIPTION['helpMessage']}}" [required]="SKILL_SET_SETUP_DESCRIPTION['isMandatory']"
                                                maxlength="31" />
                                              <div *ngIf="f2.submitted && skillSetDiscription.invalid">
                                                <div class="error-msg" [hidden]="!skillSetDiscription.errors.required">
                                                  {{SKILL_SET_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div class="error-msg" [hidden]="!skillSetDiscription.errors?.maxlength" *ngIf="SKILL_SET_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                  {{SKILL_SET_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                              </div>
                                              <span class="highlight"></span>
                                              <label class="control-label" for="skillSetDiscription">{{SKILL_SET_SETUP_DESCRIPTION['fieldValue']}}</label>
                                            </div>
                                          </div>
                                        </div>
                          
                                        <div class="col-sm-6">
                                          <div class="form-group row">
                                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f2.submitted && !arabicDiscription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                              <input class="floating-input" type="text" placeholder=" " tabindex="14" name="arabicDiscription" [(ngModel)]="skillSetmodel.skillSetArbicDesc"
                                                #arabicDiscription="ngModel" title="{{SKILL_SET_SETUP_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61"
                                                [required]="SKILL_SET_SETUP_ARABIC_DESCRIPTION['isMandatory']" dir="rtl"/>
                                              <div *ngIf="f2.submitted && arabicDiscription.invalid">
                                                <div class="error-msg" [hidden]="!arabicDiscription.errors.required">
                                                  {{SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div class="error-msg" [hidden]="!arabicDiscription.errors?.maxlength" *ngIf="SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                  {{SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                              </div>
                                              <span class="highlight"></span>
                                              <label class="control-label" for="arabicDiscription">{{SKILL_SET_SETUP_ARABIC_DESCRIPTION['fieldValue']}}</label>
                                            </div>
                                          </div>
                                        </div>
                          
                                      </div>
                                      <div class="form-group row">
                          
                                        <div class="col-sm-6">
                                          <div class="form-group row">
                                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f2.submitted && SelectedSkill.length==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                             
                          
                          
                                              <angular4-multiselect [data]="ddl_skillSetIdOptions"  [(ngModel)]="SelectedSkill" [ngModelOptions]="{standalone: true}"
                                              on-focusin="onAutocompleteFocus('lblskills')" tabindex="15"
                                              [settings]="ddlCompanySetting" 
                                              (onSelect)="onItemSelect($event)" 
                                              (onDeSelect)="OnItemDeSelect($event)"
                                              (onSelectAll)="onSelectAll($event)"
                                              (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
                          
                          
                          
                                              <div *ngIf="f2.submitted && SelectedSkill.length==0">
                                                <div class="error-msg" [hidden]="SelectedSkill.length!=0">
                                                  {{SKILL_SET_SETUP_SKILL_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                              </div>
                                              <span class="highlight"></span>
                                              <label id="lblskills" for="skillSetIndexId">{{SKILL_SET_SETUP_SKILL_ID['fieldValue']}}</label>
                                            </div>
                                          </div>
                                        </div>
                          
                                        <div class="col-sm-6">
                          
                                          <div class="form-group row">
                                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f2.submitted && SelectedSkill.length==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                              <textarea [ngClass]="'form-control fm-txt'" [readonly]="SKILL_SET_SETUP_SKILL_ID['readAccess']" rows="3" cols="30" name="skillsetiddesc"
                                                [value]="skillsetupindexdesc" tabindex="16">{{skillsetupindexdesc}}</textarea>
                          
                          
                                              <span class="highlight"></span>
                                              <label for="skillSetIndexId"></label>
                                            </div>
                                          </div>
                          
                                        </div>
                          
                                      </div>
                          
                                      <div class="form-group row">
                          
                          
                                        <div class="col-sm-6">
                                          <div class="form-group row">
                                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f2.submitted && !comment.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                              <input class="floating-input" type="text" placeholder=" " tabindex="17" name="comment" [(ngModel)]="model.comment" #comment="ngModel"
                                                title="{{SKILL_SET_SETUP_COMMENT['helpMessage']}}" maxlength="31" [required]="SKILL_SET_SETUP_COMMENT['isMandatory']"
                                              />
                                              <div *ngIf="f2.submitted && comment.invalid">
                                                <div class="error-msg" [hidden]="!comment.errors.required">
                                                  {{SKILL_SET_SETUP_COMMENT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div class="error-msg" [hidden]="!comment.errors?.maxlength" *ngIf="SKILL_SET_SETUP_COMMENT['listDtoFieldValidationMessage'][1]">
                                                  {{SKILL_SET_SETUP_COMMENT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                              </div>
                                              <span class="highlight"></span>
                                              <label class="control-label" for="comment">{{SKILL_SET_SETUP_COMMENT['fieldValue']}}</label>
                                            </div>
                                          </div>
                                        </div>
                          
                          
                          
                          
                                        <div class="col-sm-6">
                                          <div class="form-group row">
                                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f2.submitted && !skillSetSeqn.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                              <input class="floating-input" type="text" placeholder=" " tabindex="18" name="skillSetSeqn" [(ngModel)]="model.skillSetSeqn"
                                                #skillSetSeqn="ngModel" title="{{SKILL_SET_SETUP_SEQUENCE['helpMessage']}}" maxlength="5" [required]="SKILL_SET_SETUP_SEQUENCE['isMandatory']"
                                                min="0" max="99999" onkeypress="return check_digit(event,this,5,3);" dir="rtl" />
                                              <div *ngIf="f2.submitted && skillSetSeqn.invalid">
                                                <div class="error-msg" [hidden]="!skillSetSeqn.errors.required">
                                                  {{SKILL_SET_SETUP_SEQUENCE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div class="error-msg" [hidden]="!skillSetSeqn.errors?.maxlength" *ngIf="SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                  {{SKILL_SET_SETUP_SEQUENCE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                              </div>
                                              <span class="highlight"></span>
                                              <label class="control-label" for="skillSetSeqn">{{SKILL_SET_SETUP_SEQUENCE['fieldValue']}}</label>
                                            </div>
                                          </div>
                                        </div>
                          
                          
                                      </div>
                          
                                      <div class="form-group row">
                                        <div class="col-sm-4">
                                         
                                            <div [ngClass]="{'text-left': currentLanguage=='1', 'text-right':currentLanguage=='2' }" class="col-xs-6">
                                              <span class="datatable-checkbox">
                                                <input type="checkbox" tabindex="19" name="skillRequired" [(ngModel)]="model.skillRequired" #skillRequired="ngModel"> {{SKILL_SET_SETUP_SKILL_REQUIRED['fieldValue']}}
                                      
                                              </span>
                                            </div>
                                        
                                        </div>
                                      </div>
                          
                                      <div [ngClass]="'button-row'">
                                        <div [ngClass]="'col-sm-12'">
                                          <!-- <button *ngIf="model.id" class="green-btn">{{SKILL_SET_SETUP_UPDATE_LABEL['fieldValue']}}</button> -->
                                          <button tabindex="20" class="green-btn">{{SKILL_SET_SETUP_SAVE_LABEL['fieldValue']}}</button>
                                          <button tabindex="21" class="blue-btn" (click)="closeSkillsetPopup()">{{SKILL_SET_SETUP_CANCEL_LABEL['fieldValue']}}</button>
                                          <!-- <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)" (click)="islifeTimeValid=true">{{SKILL_SET_SETUP_CLEAR_LABEL['fieldValue']}}</button> -->
                                          <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
                                        <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
                                        </div>
                          
                                      </div>
                          
                                    </form>
                                    <!--create skill set setup ends here-->
                          
                          
                                  </app-card>
                          
                          
                                  <!--adding form ends-->
                                </div>
                                <!-- Content Outer Ends -->
                              </section>
                            </section>
                          </div>
            </div>
            <div class="modal-footer">
                    <!-- <button class="green-btn" (click)='saveClass()' *ngIf='!isDeleteAction'>Save</button>
                
                    <button  class="blue-btn" (click)='closeClassModal()'>Cancel</button> -->
      
            </div>
        </div>
      </div>
      <!-- Add skill Modal ends -->
<!-- screen header -->
<div class="page-header">
<div class="page-header-title">
<span>  <h3 *ngIf="!model.id">{{POSITION_SETUP_CREATE_FORM_LABEL['fieldValue']}}</h3>
  <h3 *ngIf="model.id">{{POSITION_SETUP_UPDATE_FORM_LABEL['fieldValue']}}</h3></span>
</div>
<!-- <div class="page-header-breadcrumb">
  <i class="ti-settings"></i>
</div> -->
</div>
<!-- screen header -->

<div class="content-wrapper"  (keyup)='EscapeModal($event)'>
<section class="content">
  <!-- section Heading Starts -->
  <!-- <div class="section-heading">
      <h2></h2>
  </div> -->
  <!-- section Heading Ends -->
  <section class="inner-content">
      <!-- Content Outer Starts -->
      <div class="content-outer com-form">
          <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{messageText}}
          </div>

          <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                  {{message.text}}
              </div>
          <!-- Content Heading Starts -->
          <div class="content-heading">
              <!-- <h3> {{screenName}}</h3> -->
                 <div *ngIf="showloader" class="loader">
              </div>
          </div>
          <!-- Content Heading Ends -->
          
          <!--adding form starts-->
<!-- Basic Form Inputs card start -->
<app-card [title]="">
<!-- <h4 class="sub-title">Create company</h4> -->


<!---main screen starts here-->

<form class="form-horizontal" (ngSubmit)="f.form.valid && CreatePositionSetup(f, $event)" 
#f="ngForm" novalidate>


<!-- <ng-template> -->
    <div class="form-group row">
    
        <div class="col-sm-4">
            <div class="form-group row">
              <div class="col-sm-4">
                <div class="floating-label" class="col-md-offset-4">
                  <!-- &nbsp;&nbsp; -->
                 
                        <input auto-complete [source]="rows" class="floating-input" list-formatter="positionId" [readonly]="isUnderUpdate" [(ngModel)]="model.positionId"
                        [ngModelOptions]="{standalone: true}" name="positionId" #positionId="ngModel"  (valueChanged)="getPositionData($event)"
                        placeholder="" on-focus="onAutocompleteFocus('lblPositionId');positionFocusIn(positionId)" on-focusout="positionFocusOut(positionId)"
                        tabindex="1" #filterInput required />
                       
                                     
                    <div *ngIf="f.submitted && positionId.invalid">
                        <div class="error-msg" [hidden]="!positionId.errors.required">
                            {{POSITION_SETUP_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div class="error-msg" [hidden]="!positionId.errors?.maxlength">
                            {{POSITION_SETUP_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                    </div>
                    <span class="highlight"></span>
                    <label id="lblPositionId" for="positionClassId">{{POSITION_SETUP_ID['fieldValue']}}</label>
                    <input type="hidden" />
                    <span class="search-icon">
                        <!-- <i class="ti-angle-down"></i> -->
                        <i (click)="toggle()" [ngClass]="{'ti-angle-down': !isPositionOpen, 'ti-angle-up':isPositionOpen }"></i>
                        
                    </span>
                </div>
            </div>
            </div>
        </div>
    </div>


 
<!-- </ng-template> -->

      <div class="form-group row">  
              <div class="col-sm-4">
                  <div class="form-group row">
                      <div class="floating-label col-md-12" [ngClass]="{'has-error': isAttached && !description.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                            <input class="floating-input" type="text" placeholder=" " tabindex="2"name="description" [(ngModel)]="model.description" #description="ngModel" title="{{POSITION_SETUP_DESCRIPTION['helpMessage']}}" maxlength="31" [required]="POSITION_SETUP_DESCRIPTION['isMandatory']"
                          />
                          <div *ngIf="f.submitted && description.invalid">
                            <div class="error-msg" [hidden]="!description.errors.required">
                              {{POSITION_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                            <div class="error-msg" [hidden]="!description.errors?.maxlength">
                              {{POSITION_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                            </div>
                          </div>
                          <span class="highlight"></span>
                          <label class="control-label" for="description">{{POSITION_SETUP_DESCRIPTION['fieldValue']}}</label>
              
                      </div>
                  </div>
              </div>


             
              
                          <div class="col-sm-4">
                                  <div class="form-group row">
                                      <div class="floating-label col-md-12"  [ngClass]="{'has-error': isAttached && !arabicDescription.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                          <input  class="floating-input" type="text" placeholder=" " tabindex="3"  name="arabicDescription" [(ngModel)]="model.arabicDescription" #arabicDescription="ngModel" 
                                          title="{{POSITION_SETUP_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61"
                                              [required]="POSITION_SETUP_ARABIC_DESCRIPTION['isMandatory']" dir="rtl"/>
                                              <div *ngIf="f.submitted  && arabicDescription.invalid">
                                                <div class="error-msg" [hidden]="!arabicDescription.errors.required">
                                                  {{POSITION_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div class="error-msg" [hidden]="!arabicDescription.errors?.maxlength">
                                                  {{POSITION_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                              </div>
                                          <span class="highlight"></span>
                                          <label class="control-label" for="arabicDescription">{{POSITION_SETUP_ARABIC_DESCRIPTION['fieldValue']}}</label>
                                      </div>
                                  </div>
                                </div>
       </div>
 
    <div class="form-group row">
        <div class="col-sm-4">
            <div class="form-group row">
                <div class="floating-label  col-md-12" [ngClass]="{'has-error': isAttached && !positionClassId.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <input auto-complete [source]="positionClassOptions" class="floating-input" list-formatter="positionClassId" 
                        [ngModelOptions]="{standalone: true}" name="positionClassId" [(ngModel)]="selectedPositionClass" #positionClassId="ngModel" (valueChanged)="changePositionClass($event)"
                          placeholder="" 
                          on-focus="onAutocompleteFocus('lblPositionClassId');positionClassFocusIn(positionClassId)"
                          on-focusout="positionClassFocusOut(positionClassId)"
                        tabindex="4" required #filterInput1/>
                       
                    <div *ngIf="f.submitted  && positionClassId.invalid">
                        <div class="error-msg" [hidden]="!positionClassId.errors.required">
                            {{POSITION_CLASS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                    </div>
                    <span class="highlight" class=""></span>
                  
                    <label id="lblPositionClassId" ng-click='addClassPopup()'   for="positionClassId"><span>{{POSITION_CLASS['fieldValue']}}</span></label>
                    <input type="hidden"  />
                    <span class="search-icon">
                        <!-- <i class="ti-angle-down"></i> -->
                        <i (click)="toggle1()" [ngClass]="{'ti-angle-down': !isPositionClassOpen, 'ti-angle-up':isPositionClassOpen }"></i>
                        <span (click)="addClassPopup()"><i  class="fa fa-plus-square"></i></span>
                       
                    </span>
                
                </div>
            </div>
        </div>
    
    
    
    
        <div class="col-sm-4">
            <div class="form-group row">
                <div class="floating-label  col-md-12" [ngClass]="{'has-error': isAttached && !skillSetId.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <input auto-complete [source]="skillSetIdOptions" class="floating-input" list-formatter="skillSetId" 
                        [ngModelOptions]="{standalone: true}" name="skillSetId" [(ngModel)]="selectedSkillset" #skillSetId="ngModel"  (valueChanged)="changeSkillset($event)"
                          placeholder="" on-focus="onAutocompleteFocus('lblSkillSetId')"
                        on-focusout="skillFocusOut(skillSetId)" 
                        on-focus="onAutocompleteFocus('lblSkillSetId');skillFocusIn(skillSetId)" tabindex="5" #filterInput2 required/>
                  
    
                    <div *ngIf="f.submitted  && skillSetId.invalid">
                        <div class="error-msg" [hidden]="!skillSetId.errors.required">
                            {{POSITION_SETUP_DEFAULT_SKILL_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                    </div>
                    <span class="highlight"></span>
                    <label id="lblSkillSetId" for="skillSetId">{{POSITION_SETUP_DEFAULT_SKILL_ID['fieldValue']}}</label>
                    <input type="hidden" />
                    <span class="search-icon">
                        <!-- <i class="ti-angle-down"></i> -->
                        <span (click)="addSkillsetPopup()"><i  class="fa fa-plus-square"></i></span>
                        <i (click)="toggle2()" [ngClass]="{'ti-angle-down': !isSkillOpen, 'ti-angle-up':isSkillOpen }"></i>
                       
                    </span>
                </div>
            </div>
        </div>
    
    
    
    
    
    </div>


    <div class="form-group row">
            <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label  col-md-12" >
                            <input auto-complete [source]="rows" class="floating-input" list-formatter="positionId" [readonly]="isUnderUpdate" tabindex="6"
                                [ngModelOptions]="{standalone: true}" name="reportToPosition" [(ngModel)]="selectedreportToPostion" #reportToPosition="ngModel"
                                title="{{POSITION_SETUP_REPORT_TO_POSITION['helpMessage']}}" maxlength="15"   #filterInput3
                                on-focus="onAutocompleteFocus('lblreporttoPositionId');reportFocusIn(reportToPosition)" 
                                on-focusout="reportFocusOut(reportToPosition)">
                               
                            <span class="highlight"></span>
                            <label id="lblreporttoPositionId" for="reportToPosition">{{POSITION_SETUP_REPORT_TO_POSITION['fieldValue']}}</label>
                            <input type="hidden" />
                            <span class="search-icon">
                                <!-- <i class="ti-angle-down"></i> -->
                                <i (click)="toggle3()" [ngClass]="{'ti-angle-down': !isReportOpen, 'ti-angle-up':isReportOpen }"></i>
                            </span>
                        </div>
                    </div>
                </div>
        
        
        
        
                <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label  col-md-12">
                            <textarea class="floating-textarea" name="postionLongDesc" [(ngModel)]="model.postionLongDesc" #postionLongDesc="ngModel" tabindex="7"
                                title="{{POSITION_SETUP_LONG_DESCRIPTION['helpMessage']}}" maxlength="255" [required]="POSITION_SETUP_LONG_DESCRIPTION['isMandatory']"></textarea>
                         
                            <div *ngIf="f.submitted  && postionLongDesc.invalid">
                                <div class="error-msg" [hidden]="!postionLongDesc.errors?.maxlength">
                                    {{POSITION_SETUP_LONG_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label for="postionLongDesc">{{POSITION_SETUP_LONG_DESCRIPTION['fieldValue']}}</label>
                            <input type="hidden" />
                          
                        </div>
                    </div>
                </div>
        
        </div>


        <div class="form-group row">
          <div class="col-sm-4">
                  <div class="form-group row">
                      <div class="floating-label  col-md-3">
                          <span class="highlight"></span>
                          <label>Attach File:</label><div></div>
                      </div>
                      <div class="floating-label  col-md-3">
                    
                                                 
                            <span>
                               
                                <i class="fa fa-paperclip fa-3x"  id="attachico" tabindex="8"   (click)="goToAttachment()"></i>
                              
                            </span>

                        
                       
                      </div>
                      <div class="col-md-6">
                      <div class="col-md-12">{{fileName}}</div>
                      </div>
                  </div>
              </div>      
         </div>

         <div class="form-group row">
           <div class="col-sm-8">
              <div class="table-responsive">
                  <ngx-datatable 
                  id="AttMainGrid" 
                  class="material"
                  [rows]="attachmentrows" 
                  [columnMode]="'force'" 
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="50" 
                  [externalPaging]="true" 
                  [count]="attpage.totalElements" 
                  [offset]="attpage.pageNumber"
                  
                  [limit]="attpage.size" 
                  (page)='attsetPage($event)'
                  [selected]="selected"
                  [selectionType]="'checkbox'"
                  (select)='onSelect($event)'
                  (activate)="download($event)"
                  
                  [scrollbarH]="true"
                  >
                  <!-- (activate)="edit($event)"
                  [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText,selectedMessage:selectedText}" -->
                  <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                  [checkboxable]="true">
                </ngx-datatable-column>
        
                <!-- Data Column Position Id -->
                <!-- <ngx-datatable-column name="positionIds" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sortColumn('positionId')">{{attdefaultFormValues[1]['fieldValue']}}</span>
                  </ng-template>
                  <ng-template  ngx-datatable-cell-template>
                    {{positionIds}}
                  </ng-template>
                </ngx-datatable-column> -->
        
                <!-- Data Column Position Training Description -->
                <ngx-datatable-column name="documentAttachmenDesc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sortColumn('documentAttachmenDesc')">{{attdefaultFormValues[3]['fieldValue']}}</span>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
        
                <!-- Data Column Attachment Date -->
                <ngx-datatable-column name="attachmentDate" [width]="110" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sortColumn('attachmentDate')">{{attdefaultFormValues[5]['fieldValue']}}</span>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date: 'dd-MM-yyyy'}}
                  </ng-template>
                </ngx-datatable-column>
        
                <!-- Data Column Attachment Time -->
                <ngx-datatable-column name="attachmentTime" [width]="121" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sortColumn('attachmentTate')">{{attdefaultFormValues[6]['fieldValue']}}</span>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value | date: 'hh:mm:ss a'}}
                  </ng-template>
                </ngx-datatable-column>
        
                <!-- Data Column UserId -->
                <ngx-datatable-column name="userId" [width]="90" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sortColumn('userId')">{{attdefaultFormValues[7]['fieldValue']}}</span>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
        
                <!-- Data Column Attachment Type -->
                <ngx-datatable-column name="attachmentType" [width]="125" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sortColumn('attachmentType')">File {{attdefaultFormValues[4]['fieldValue']}}</span>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span *ngIf="value==1">Document</span>
                    <span *ngIf="value==2">Image</span>
                    <span *ngIf="value==3">Other</span>
                  </ng-template>
                </ngx-datatable-column>
        
                <!-- Data Column Action -->
                <!-- <ngx-datatable-column name="Download" [width]="90" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                      {{attdefaultFormValues[8]['fieldValue']}}
                    </ng-template>
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      <button class="download-ico" (click)="download(row)" title="Download" style="margin-right: 5px;"></button>
                      <button class="edit-ico" (click)="edit(row)" title="Edit" style="margin-left: 5px;"></button>
                    </ng-template>
                  </ngx-datatable-column> -->
            
             
             
            </ngx-datatable>
            
            
            
            </div>
            <div class="button-row" *ngIf="attpage.totalElements > 0">
              <!-- Table View Starts -->
              <div class="table-view" *ngIf="attdefaultFormValues[13]['readAccess']" >
                  <span>{{MANAGE_USER_TABLE_VIEW['fieldValue']}}</span>
                  <div class="select-outer">
                      <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                              <option [disabled]="!attdefaultFormValues[13]['writeAccess']"value="5">5 {{atATimeText}} </option>
                              <option [disabled]="!attdefaultFormValues[13]['writeAccess']" value="15" *ngIf="attpage.totalElements > 5">15 {{atATimeText}} </option>
                              <option [disabled]="!attdefaultFormValues[13]['writeAccess']" value="50" *ngIf="attpage.totalElements > 15">50 {{atATimeText}} </option>
                              <option [disabled]="!attdefaultFormValues[13]['writeAccess']" value="100"  *ngIf="attpage.totalElements > 50">100 {{atATimeText}} </option>
                      </select>
                  </div>
              </div>
              <!-- Table View Ends -->
            
            
            </div>
           </div>

         </div>

      <div [ngClass]="'button-row'">
              <div [ngClass]="'col-sm-12'">
                  <button tabindex="9" *ngIf="model.id" class="green-btn">{{POSITION_SETUP_UPDATE_LABEL['fieldValue']}}</button>
                  <button tabindex="9" *ngIf="!model.id" class="green-btn">{{POSITION_SETUP_SAVE_LABEL['fieldValue']}}</button>
                  <button tabindex="10" class="blue-btn" (click)="goBack()">{{POSITION_SETUP_CANCEL_LABEL['fieldValue']}}</button>
                  <button tabindex="11" [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{POSITION_SETUP_CLEAR_LABEL['fieldValue']}}</button>
                  <input type="button" class="red-btn" *ngIf="!isScreenLock || attdefaultFormValues[4]['readAccess']" title="{{POSITION_SETUP_DELETE_LABEL['helpMessage']}}"  [disabled]="!POSITION_SETUP_DELETE_LABEL['writeAccess'] || selected.length == 0" value="{{POSITION_SETUP_DELETE_LABEL['fieldValue']}}" (click)="attvarifyDelete()" style="margin-left: 23px;"/>
                  <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
                  <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
              </div>
              
      </div>
 
</form>
<!---main screen ends here -->


</app-card>        
         

<!--adding form ends-->
</div>
<!-- Content Outer Ends -->
</section>
</section>
</div>

<!-- File attachment List -->
<!-- <div *ngIf="isUnderUpdate" class="row">
   
    <div class="page-header">
          <div class="page-header-title">
                <span><h3>Attachments</h3></span>
          </div>
         
        </div>
        
    
     
    
  
    <div class="col-sm-12">
    <app-card [title]="">
      <div class="content-heading">
          <div class="search-top">
                  <div class="form-group row nopaddingnopadding">
                          <div class="floating-label col-sm-4">      
                              <input class="floating-input"  (keyup)='updateFilter($event)' [readonly]="!POSITION_ATTACHMENT_SEARCH['writeAccess']" type="text"
                               placeholder=" "  tabindex="37">
                              <span class="highlight"></span>
                              <label id="countryLabel">{{POSITION_ATTACHMENT_SEARCH['fieldValue']}}</label>
                              <input type="hidden"/><span class="search-icon">
                                  <i class="fa fa-search"></i>
                                  </span>
                            </div>
                    
                          
                      </div>
    
             
          </div>
      </div>
    
      
  
    
    </app-card>
    
    
    </div>
    </div> -->

