<div class="content-wrapper user-view" >
        <section class="content">
          <div class="section-heading"><h2>Angular 2 Session</h2></div>
          <section class="inner-content">
            <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                {{messageText}}
            </div>
            <div class="content-outer com-form">
                <div class="row">
                        <form (ngSubmit)="!hasMsg && f.form.valid && SaveUpdateRetirementSetup(f)" #f="ngForm" novalidate> 
                            <div class="form-row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                   <label for="faRetirementId">Retirement ID</label>
                                    <input  type="text" class="form-control fm-txt auto-focus" name="faRetirementId" 
                                    [(ngModel)]="model.faRetirementId" 		
                                        #faRetirementId="ngModel" [readonly]="isModify"
                                        	id="faRetirementIdText"
                                        title="Retirement ID" required />	
                                             
                                    <div *ngIf="f.submitted && faRetirementId.invalid">
                                        <div class='error-msg' *ngIf="faRetirementId.errors.required">
                                            RetirementId required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                   <label for="descriptionPrimary">Description</label>
                                    <input  type="text" class="form-control fm-txt auto-focus" name="descriptionPrimary" [(ngModel)]="model.descriptionPrimary" 		
                                        #descriptionPrimary="ngModel" 	id="descriptionPrimary" 
                                        title="Description" required/>
                                    <div *ngIf="f.submitted && descriptionPrimary.invalid">
                                        <div class='error-msg' *ngIf="descriptionPrimary.errors.required">
                                            Description required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                   <label for="faRetirementId"> Arabic Description</label>
                                    <input  type="text" class="form-control fm-txt auto-focus" name="descriptionSecondary" [(ngModel)]="model.descriptionSecondary" 		
                                        #descriptionSecondary="ngModel" 	id="descriptionSecondary"
                                        title="Arabic Description" required	/>	
                                              
                                    <div *ngIf="f.submitted && descriptionSecondary.invalid">
                                        <div class='error-msg' *ngIf="descriptionSecondary.errors.required">
                                                Arabic Description required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-row">
                                <div class="col-sm-12">
                                    <input type="submit" class="orange-btn" value="Save" title="Save">
                                    <input type="button" class="blue-btn" title="Reset" (click)="Reset()" value="Reset"/>
                                    <input type="button" class="grey-btn" *ngIf="showCancel" (click)="Cancel(f)" 
                                    title="Cancel" value="Cancel"/>
                                </div>
                            </div>
                    </form>
                </div>  
            </div>  

            <div class="algo-table">
                    <div class="table-responsive">          
                      <table class="table">
                        <thead>
                          <tr> 
                            <th width="20%">Retirement ID</th>
                            <th width="35%">Description</th>
                            <th width="35%">Arabic Description</th>
                            <th width="5%">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr  *ngFor="let lstSetup of lstRetirementSetup">
                             <td>
                                 {{lstSetup.faRetirementId}}
                             </td>
                             <td>
                                 {{lstSetup.descriptionPrimary}}
                             </td>
                             <td>
                                 {{lstSetup.descriptionSecondary}}
                             </td>
                             <td>
                                <a class="edit-ico" (click)="GetRetirementSetupById(lstSetup.faRetirementId)"></a>
                             </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div><!-- Algo Table Ends -->
        </section>
    </section>
</div>  

