
 <div class="content-wrapper user-view" >
    <!-- section Heading Ends -->
        <section class="content">
            <div class="section-heading">
                <h2>{{screenName}}</h2>
            </div>
    <!-- section Heading Ends -->
                <section class="inner-content">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                       <div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
								</div>
						 </div>
                     
                    <div class="content-outer com-form">
                      <div class="row">
                          <div class="form-row">  
                        	<div class="col-xs-12">
		                        <div class="algo-table">
		                        <div class="table-responsive">
						<ngx-datatable id="configurationGrid" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							(select)='onSelect($event)'> 
                             
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="seriesId" [width]="100"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="seriesNamePrimary" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="seriesNameSecondary" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column> 
						 <ngx-datatable-column name="originNamePrimary" [width]="200" *ngIf="defaultManageFormValues[3]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column>
                         <ngx-datatable-column name="originNameSecondary" [width]="200" *ngIf="defaultManageFormValues[4]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[4]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column>
                        
						<ngx-datatable-column name="Action" [width]="100" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[8]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getConfigurationById(row)" title="{{defaultManageFormValues[6]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
		                    </div>
                             <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
                        </div><!-- Form Row Ends -->
                        
					    <form (ngSubmit)="!hasMsg && f.form.valid && saveConfigurationDetails(f)" #f="ngForm" novalidate>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !seriesNamePrimary.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                <label for="seriesNamePrimary">{{defaultAddFormValues[3]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt auto-focus'" myAutofocus name="seriesNamePrimary" [(ngModel)]="model.seriesNamePrimary" 
                                #seriesNamePrimary="ngModel" 
                                title="{{defaultAddFormValues[3]['helpMessage']}}"
                                 maxlength="50"   required >
                                <div *ngIf="f.submitted && seriesNamePrimary.invalid">
                                    <div class='error-msg' *ngIf="seriesNamePrimary.errors.required">
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="seriesNamePrimary.errors.maxlength">
                                        {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 arabic-mode">
                               <div *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !seriesNameSecondary.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                <label for="seriesNameSecondary">{{defaultAddFormValues[4]['fieldValue']}}</label>
                                 <input type="text" [ngClass]="'form-control fm-txt'"  name="seriesNameSecondary" [(ngModel)]="model.seriesNameSecondary" 
                                #seriesNameSecondary="ngModel" 
                                title="{{defaultAddFormValues[4]['helpMessage']}}"
                                 maxlength="50"   required >
                                <div *ngIf="f.submitted && seriesNameSecondary.invalid">
                                    <div class='error-msg' *ngIf="seriesNameSecondary.errors.required">
                                        {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                     <div class='error-msg' *ngIf="seriesNameSecondary.errors.maxlength">
                                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                               </div>
                            </div>
                            
                        </div><!-- Form Row Ends -->

                            <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !originNamePrimary.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                <label for="originNamePrimary">{{defaultAddFormValues[5]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"  name="originNamePrimary" [(ngModel)]="model.originNamePrimary" 
                                #originNamePrimary="ngModel" 
                                title="{{defaultAddFormValues[5]['helpMessage']}}"
                                 maxlength="50"   required >
                                <div *ngIf="f.submitted && originNamePrimary.invalid">
                                    <div class='error-msg' *ngIf="originNamePrimary.errors.required">
                                        {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="originNamePrimary.errors.maxlength">
                                                {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 arabic-mode">
                               <div *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !originNameSecondary.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                <label for="originNamePrimary">{{defaultAddFormValues[6]['fieldValue']}}</label>
                                 <input type="text" [ngClass]="'form-control fm-txt'"  name="originNameSecondary" [(ngModel)]="model.originNameSecondary" 
                                #originNameSecondary="ngModel" 
                                title="{{defaultAddFormValues[6]['helpMessage']}}"
                                 maxlength="50"   required >
                                <div *ngIf="f.submitted && originNameSecondary.invalid">
                                    <div class='error-msg' *ngIf="originNameSecondary.errors.required">
                                        {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="originNameSecondary.errors.maxlength">
                                            {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                               </div>
                            </div>
                            
                        </div><!-- Form Row Ends -->

                        <div class="button-row">
                      <div class="col-sm-12">
                        <input type="submit"  class="orange-btn" title="{{defaultAddFormValues[1]['helpMessage']}}"
                         value="{{defaultAddFormValues[1]['fieldValue']}}" [disabled]="LockScreen(defaultAddFormValues[1]['writeAccess'])"/>
                        <input type="button" class="blue-btn" (click)="resetMe(f);" title="{{defaultAddFormValues[0]['helpMessage']}}" value="{{defaultAddFormValues[0]['fieldValue']}}"/>
                        <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                        </div>
                        </div>
                    </form>

					
                      </div> <!-- Row Ends -->
				  </div><!-- Content OUter Ends -->
                  </section>
                </section>
            </div>
