<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[11]['fieldValue']}}">{{defaultFormValues[11]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="SkillsSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                           [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                           [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">
              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true" [checkboxable]="true">
              </ngx-datatable-column>
			
			<!-- Data Grid SkillsSteup Id -->
              <ngx-datatable-column name="orientationId" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('orientationId')">{{defaultFormValues[1]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>	
			  
			  <!-- Data Grid SkillsSteup Description -->
              <ngx-datatable-column name="orientationDesc" [width]="170" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('orientationDesc')">{{defaultFormValues[2]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
			  
			   <!-- Data Grid  Arabic SkillsSteup Description -->
              <ngx-datatable-column name="orientationArbicDesc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('orientationArbicDesc')">{{defaultFormValues[3]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              
			
              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{defaultFormValues[13]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->		  
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[8]['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
              <h3 *ngIf="!model.id">{{defaultFormValues[15]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{defaultFormValues[16]['fieldValue']}}</h3>
            </div>
            <div class="col-md-12 mt-30"></div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && subgrid.valid && CreateOrientationSetup(f, $event)" #f="ngForm" novalidate>

                <!-- SkillsSteup Id field -->
                <div class="form-group">

                  <div *ngIf="isUnderUpdate; then update else create"></div>
                  <ng-template #update>
                      
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="orientationId">{{defaultFormValues[1]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="orientationId" value="{{skillIdvalue}}"
                             title="{{defaultFormValues[1]['helpMessage']}}"  readonly required />
                      <div *ngIf="f.submitted && orientationId.invalid">
                        <div [hidden]="!orientationId.errors?.required">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!orientationId.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                  </ng-template>


                  <ng-template #create>
                   
                  <div [ngClass]="{ 'has-error': f.submitted && !orientationId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="orientationId">{{defaultFormValues[1]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="orientationId" [(ngModel)]="model.orientationId" #orientationId="ngModel" title="{{defaultFormValues[1]['helpMessage']}}" maxlength="15" required />
                      <div *ngIf="f.submitted && orientationId.invalid">
                        <div [hidden]="!orientationId.errors.required">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!orientationId.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                  </ng-template>



                </div>

                <!-- SkillsSteup Description Field -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !orientationDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="orientationDesc">{{defaultFormValues[2]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="orientationDesc" [(ngModel)]="model.orientationDesc"
                             #orientationDesc="ngModel" title="{{defaultFormValues[2]['helpMessage']}}"
                             required maxlength="31" />
                      <div *ngIf="f.submitted && orientationDesc.invalid">
                        <div [hidden]="!orientationDesc.errors.required">
                          {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!orientationDesc.errors?.maxlength" *ngIf="defaultFormValues[2]['listDtoFieldValidationMessage'][1]"> 
                          {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}} 
                        </div> 
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Arabic location description -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !orientationArbicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="orientationArbicDesc">{{defaultFormValues[3]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8 arabic-mode">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="orientationArbicDesc" [(ngModel)]="model.orientationArbicDesc"
                             #orientationArbicDesc="ngModel" title="{{defaultFormValues[3]['helpMessage']}}"
                             maxlength="61" required />
                      <div *ngIf="f.submitted && orientationArbicDesc.invalid">
                        <div [hidden]="!orientationArbicDesc.errors.required">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!orientationArbicDesc.errors?.maxlength" *ngIf="defaultFormValues[3]['listDtoFieldValidationMessage'][1]">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !orientationPredefinedCheckListItemId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="orientationPredefinedCheckListItemId">{{defaultFormValues[17]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                     
						<select [ngClass]="'form-control fm-txt'" [(ngModel)]="model.orientationPredefinedCheckListItemId" name="orientationPredefinedCheckListItemId" (change)="checklistbyChanged(orientationPredefinedCheckListItemId.value)" #orientationPredefinedCheckListItemId="ngModel" >
							<option value="0">--Select Predefined Checklist Item--</option>
							<option *ngFor="let predefined of predfinedOption" [value]="predefined.id">{{predefined.preDefineCheckListItemDescription}}</option>
						</select>
                      <div *ngIf="f.submitted && orientationPredefinedCheckListItemId.invalid">
                        <div [hidden]="!orientationPredefinedCheckListItemId.errors.required">
                          {{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!orientationPredefinedCheckListItemId.errors?.maxlength" *ngIf="defaultFormValues[17]['listDtoFieldValidationMessage'][1]"> 
                          {{defaultFormValues[17]['listDtoFieldValidationMessage'][1]['validationMessage']}} 
                        </div> 
                      </div>
                    </div>

                  </div>
                </div>
               <h4>Sub Items</h4>
                      <hr>
                      <div>
					  <form #subgrid="ngForm">
                          <table class="table" id = "subitems">
                              <tr>
								<th>Select</th>
                                <th>Checklist Item</th>
                                <th>Sequence</th>
								<th>Person Responsible</th>
								<th>Start Date</th>
								<th>Start Time</th>
								<th>End Date</th>
								<th>End Time</th>
                                <th>Action</th>
                              </tr>
							 
                             <tr *ngFor="let item of model.subItems;let num = index" >
								<td><input type="checkbox"></td>
                                <td [ngClass]="{ 'has-error': f.submitted && checklistitem.invalid}"><input class="fm-txt" type="text" name="checklistitem[{{num}}]" 
                                  style="width:180px; height:35px; margin: -7px -7px -8px -7px; padding-left: 10px" required  [(ngModel)]="model.subItems[num].checklistitem" [value]="model.subItems[num].checklistitem" #checklistitem="ngModel" readonly ></td>
                                <td [ngClass]="{ 'has-error': f.submitted && sequence.invalid }"><input class="fm-txt" type="text" name="sequence[{{num}}]" 
                                   style="width:180px; height:35px; margin: -7px -7px -8px -7px;" required [(ngModel)]="model.subItems[num].sequence" #sequence="ngModel" [value]="model.subItems[num].sequence"></td>
								 <td [ngClass]="{ 'has-error': f.submitted && personResponsible.invalid}"><input class="fm-txt" type="text" name="personResponsible[{{num}}]" 
                                  [value]="model.subItems[num].personResponsible" style="width:180px; height:35px; margin: -7px -7px -8px -7px;" [(ngModel)]="model.subItems[num].personResponsible" #personResponsible="ngModel" required></td>
								  <td [ngClass]="{ 'has-error': f.submitted && startdate.invalid}"><input class="fm-txt" type="text" name="startdate[{{num}}]" 
                                   style="width:100px; height:35px; margin: -7px -7px -8px -7px;" [(ngModel)]="model.subItems[num].startdate" #startdate="ngModel" required [value]="model.subItems[num].startdate"></td>
								    <td [ngClass]="{ 'has-error': f.submitted && starttime.invalid}"><input class="fm-txt" type="text" name="starttime[{{num}}]" 
                                   style="width:100px; height:35px; margin: -7px -7px -8px -7px;" [(ngModel)]="model.subItems[num].starttime" #starttime="ngModel" required [value]="model.subItems[num].starttime"></td>
								    <td [ngClass]="{ 'has-error': f.submitted && enddate.invalid}"><input class="fm-txt" type="text" name="enddate[{{num}}]" 
                                   style="width:100px; height:35px; margin: -7px -7px -8px -7px;" [(ngModel)]="model.subItems[num].enddate" #enddate="ngModel" required [value]="model.subItems[num].enddate"></td>
								    <td [ngClass]="{ 'has-error': f.submitted && endtime.invalid}"><input class="fm-txt" type="text" name="endtime[{{num}}]" 
                                   style="width:100px; height:35px; margin: -7px -7px -8px -7px;" [(ngModel)]="model.subItems[num].endtime" #endtime="ngModel" required [value]="model.subItems[num].endtime"></td>
                                <td><button (click) = "varifySubDelete(model.subItems[num])" >Del Row</button> </td>
									
                                <input  type="hidden" [(ngModel)]="model.subItems[num].id" name="id">
								
                              </tr> 
							  
                                    
						
                            </table>
							</form>
                      </div>
              
                <!-- Buttons -->
                <div [ngClass]="'button-row'">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
          						<span class="pull-right">
          							<button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[12]['fieldValue']}}</button>
          							<button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[9]['fieldValue']}}</button>
          							<button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)" (click)="islifeTimeValid=true">{{defaultFormValues[10]['fieldValue']}}</button>
          							<button [ngClass]="'blue-btn'" (click)="islifeTimeValid=true" (click)="showCreateForm = false;">{{defaultFormValues[14]['fieldValue']}}</button>
          						</span>
                    </div>
                  </div>
                </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
