
 <div class="content-wrapper user-view" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{messageText}}
                        </div>
                      
                    <div class="content-outer com-form">
                      <div class="row">
                        <div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
								</div>
						 </div>
                         <div class="form-row">  
                        	<div class="col-xs-12">
		                        <div class="algo-table">
		                        <div class="table-responsive">
						<ngx-datatable id="dimensionGrid" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							(select)='onSelect($event)'> 
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="checkBookId" [width]="120"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="checkbookDescription" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column>
                         <ngx-datatable-column name="checkbookDescriptionArabic" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column>
                         <ngx-datatable-column name="currencyId" *ngIf="defaultManageFormValues[3]['readAccess']" 
							[width]="150" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
                         <ngx-datatable-column name="bankId" *ngIf="defaultManageFormValues[4]['readAccess']" 
							[width]="150" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[4]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column>   
						
                        <ngx-datatable-column name="Action" [width]="99" *ngIf="defaultManageFormValues[7]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[7]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getFinancialDimentionsById(row)" title="{{defaultManageFormValues[5]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column>  
						</ngx-datatable>
					</div>
		                          </div>
		                    </div>

                            <div class="button-row" *ngIf="page.totalElements > 0">
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<div class="bottom-view">
									</div>
								</div>
                        </div>

						   <form (ngSubmit)="!hasMsg && f.form.valid && saveCheckbook(f)" #f="ngForm" novalidate>
                         <div class="form-row">
                             
                            <div *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !checkBookId.valid,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="checkBookId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                               
                                <input myAutofocus type="text" class="form-control fm-txt auto-focus" name="checkBookId" [(ngModel)]="model.checkBookId" 
                                #checkBookId="ngModel" [readonly]="isModify" id="checkBookIdText" (blur)="IsIdAlreadyExist()"
                                title="{{defaultAddFormValues[0]['helpMessage']}}" required />
                                <div *ngIf="f.submitted && checkBookId.invalid">
                                    <div class='error-msg' *ngIf="checkBookId.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12"> <span class="choose-opt"><label><input type="checkbox" name="inactive" [checked]="active" [(ngModel)]="model.inactive" #inactive="ngModel"/> {{defaultAddFormValues[22]['fieldValue']}}</label></span></div>
                        </div><!-- Form Row Ends -->
                          <div class="form-row">
                            <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !checkbookDescription.valid,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="checkbookDescription">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="checkbookDescription" [(ngModel)]="model.checkbookDescription" 
                                #checkbookDescription="ngModel" 
                                title="{{defaultAddFormValues[1]['helpMessage']}}"
                                 maxlength="31"   required />
                                <div *ngIf="f.submitted && checkbookDescription.invalid">
                                    <div class='error-msg' *ngIf="checkbookDescription.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="checkbookDescription.errors.maxlength">
										{{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
                                </div>
                            </div>
                           
                             <div *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !checkbookDescriptionArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true }">
                                <label for="checkbookDescriptionArabic">{{defaultAddFormValues[2]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"  name="checkbookDescriptionArabic" [(ngModel)]="model.checkbookDescriptionArabic" 
                                #checkbookDescriptionArabic="ngModel" 
                                title="{{defaultAddFormValues[2]['helpMessage']}}"
                                 maxlength="61"   required />
                                <div *ngIf="f.submitted && checkbookDescriptionArabic.invalid">
                                    <div class='error-msg' *ngIf="checkbookDescriptionArabic.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="checkbookDescriptionArabic.errors.maxlength">
										{{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
                                </div>
                            </div>
                            
                        </div>
                         <div class="form-row">
                            <div *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{ 'has-error': f.submitted && currencyId.length==0,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="currencyId">{{defaultAddFormValues[3]['fieldValue']}}</label>
                               <div class="select-outer"> 
                                   <!--<select [ngClass]="'form-control fm-txt'" name="currencyId" [(ngModel)]="model.currencyId" #currencyId="ngModel" 
                                           title="{{defaultAddFormValues[3]['helpMessage']}}" required>
                                          <option *ngFor="let currencyIdArray of currencyIdOptions"  value="{{currencyIdArray.currencyId}}" >
                                            {{currencyIdArray.currencyDescription}}
                                        </option>
                                    </select> -->
                                     <angular2-multiselect  required [ngClass]="'form-control fm-txt'" [data]="ArrCurrencyId" [(ngModel)]="currencyId" id="currencyId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlCurrencyIdSetting" 
									 (onSelect)="getCurrencyByID($event)" (onDeSelect)="OnCurrencyIdDeSelect($event)"></angular2-multiselect>
                               </div>
                                <div *ngIf="f.submitted && currencyId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>

                            
                        </div><!-- Form Row Ends -->

                        <div class="form-row">
                            <div *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{ 'has-error': f.submitted && glAccountId.length==0,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="glAccountId">{{defaultAddFormValues[4]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                   <angular2-multiselect  required [ngClass]="'form-control fm-txt'" [data]="ArrglAccountId" [(ngModel)]="glAccountId" id="glAccountId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlglAccountIdSetting" 
									 (onSelect)="getglAccountByID($event)" (onDeSelect)="OnglAccountIdDeSelect($event)">
                                     </angular2-multiselect>
                                    <div *ngIf="f.submitted && glAccountId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                                </div>  
                            </div>  
                              <a  class="add-ico-tb">
										  <i class="fa fa-plus-circle" aria-hidden="true" (click)="openAccountWindow()"></i>
									   </a>  
                        
                        </div><!-- Form Row Ends -->
  
                        <div class="form-row">
                            <div *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !nextCheckNumber.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true }">
                                <label for="nextCheckNumber">{{defaultAddFormValues[5]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="nextCheckNumber" [(ngModel)]="model.nextCheckNumber" 
                                #nextCheckNumber="ngModel" maxlength="21" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   
                                title="{{defaultAddFormValues[5]['helpMessage']}}"  required />
                                <div *ngIf="f.submitted && nextCheckNumber.invalid">
                                    <div class='error-msg' *ngIf="nextCheckNumber.errors.required">
                                        {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="nextCheckNumber.errors.maxlength">
										{{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
                                </div>
                            </div>
                           
                             <div *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !lastReconciledBalance.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true }">
                                <label for="lastReconciledBalance">{{defaultAddFormValues[7]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt '" id = "lastReconciledBalance" name="lastReconciledBalance"
                                 [(ngModel)]="model.lastReconciledBalance" 
                                 (blur)="formatLastReconciledBalanceAmount()"
                                 (ngModelChange) = "getAmountValue('LastReconciledBalance',$event)" 
                                 (focus)='formatAmountChanged("LastReconciledBalance")'
                                #lastReconciledBalance="ngModel" OnlyNumber="true"   
                                title="{{defaultAddFormValues[7]['helpMessage']}}" required />
                                <div *ngIf="f.submitted && lastReconciledBalance.invalid">
                                    <div class='error-msg' *ngIf="lastReconciledBalance.errors.required">
                                        {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-row dob-row full-dob">
                            <div *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !nextDepositNumber.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true }">
                                <label for="nextDepositNumber">{{defaultAddFormValues[6]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="nextDepositNumber" [(ngModel)]="model.nextDepositNumber" 
                                #nextDepositNumber="ngModel" OnlyNumber="true"  
                                (keydown)="onlyDecimalNumberKey($event)"   
                                title="{{defaultAddFormValues[6]['helpMessage']}}"  required />
                                <div *ngIf="f.submitted && nextDepositNumber.invalid">
                                    <div class='error-msg' *ngIf="nextDepositNumber.errors.required">
                                        {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                           
                             <div *ngIf="defaultAddFormValues[8]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !lastReconciledDate.valid,'col-md-6 col-sm-6 col-xs-12 cl_calnRtl acc-rece':true }">
                                <label for="lastReconciledDate">{{defaultAddFormValues[8]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"  name="lastReconciledDate" [(ngModel)]="model.lastReconciledDate" 
                                #lastReconciledDate="ngModel" ngx-mydatepicker   [options]="DateBalanceOptions"
                                  readonly   #dp2="ngx-mydatepicker" (dateChanged)="onlastDateChanged($event)"
                                title="{{defaultAddFormValues[8]['helpMessage']}}"  required />
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" (click)="this.model.lastReconciledDate=''">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                       <button  type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
                                           <i class="glyphicon glyphicon-calendar"></i>
                                       </button>
                                      </span>
                                <div *ngIf="f.submitted && lastReconciledDate.invalid">
                                    <div class='error-msg' *ngIf="lastReconciledDate.errors.required">
                                        {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-row">

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div *ngIf="defaultAddFormValues[9]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !officialBankAccountNumber.valid,'form-row':true }">
                                    <label for="officialBankAccountNumber">{{defaultAddFormValues[9]['fieldValue']}}</label>
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="officialBankAccountNumber" [(ngModel)]="model.officialBankAccountNumber" 
                                    #officialBankAccountNumber="ngModel" 
                                    title="{{defaultAddFormValues[9]['helpMessage']}}" required />
                                    
                                    <div *ngIf="f.submitted && officialBankAccountNumber.invalid">
                                        <div class='error-msg' *ngIf="officialBankAccountNumber.errors.required">
                                            {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="defaultAddFormValues[10]['readAccess']" [ngClass]="{ 'has-error': f.submitted && bankId.length==0,'form-row':true }">
                                    <label for="bankId">{{defaultAddFormValues[10]['fieldValue']}}</label>
                                    <div class="select-outer">
                                        <!--<select [ngClass]="'form-control fm-txt'" name="bankId" [(ngModel)]="model.bankId" #bankId="ngModel" 
                                            title="{{defaultAddFormValues[10]['helpMessage']}}" required>
                                            <option *ngFor="let bankIdArray of bankIdOptions"  value="{{bankIdArray.bankId}}" >
                                                {{bankIdArray.bankDescription}}
                                            </option>
                                        </select> -->
                                         <angular2-multiselect  required [ngClass]="'form-control fm-txt'" [data]="ArrBankId" [(ngModel)]="bankId" id = "bankId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlBankIdSetting" 
									 (onSelect)="getBankByID($event)" (onDeSelect)="OnBankIdDeSelect($event)"></angular2-multiselect>
                                    </div>
                                    <div *ngIf="f.submitted && bankId.length==0">
                                        <div class='error-msg'>
                                            {{defaultAddFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="defaultAddFormValues[11]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !userDefine1.valid,'form-row':true }">
                                <label for="userDefine1">{{defaultAddFormValues[11]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="userDefine1" [(ngModel)]="model.userDefine1" 
                                #userDefine1="ngModel" 
                                title="{{defaultAddFormValues[11]['helpMessage']}}" />
                            </div>

                            <div *ngIf="defaultAddFormValues[12]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !userDefine2.valid,'form-row':true }">
                                <label for="userDefine2">{{defaultAddFormValues[12]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="userDefine2" [(ngModel)]="model.userDefine2" 
                                #userDefine2="ngModel" 
                                title="{{defaultAddFormValues[12]['helpMessage']}}" />
                            </div>

                             <div *ngIf="defaultAddFormValues[13]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !currentCheckbookBalance.valid,'form-row arabic-mode':true }">
                                <label for="currentCheckbookBalance">{{defaultAddFormValues[13]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"  id="currentCheckbookBalance" 
                                name="currentCheckbookBalance" [(ngModel)]="model.currentCheckbookBalance" 
                                #currentCheckbookBalance="ngModel" OnlyNumber="true"  
                                (blur)="formatCheckBookBalanceAmount()"
                                (ngModelChange) = "getAmountValue('CurrentCheckbookBalance',$event)" 
                                (focus)='formatAmountChanged("CurrentCheckbookBalance")'
                                 title="{{defaultAddFormValues[13]['helpMessage']}}" id = "currentCheckbookBalance" required />
                                <div *ngIf="f.submitted && currentCheckbookBalance.invalid">
                                    <div class='error-msg' *ngIf="currentCheckbookBalance.errors.required">
                                        {{defaultAddFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="defaultAddFormValues[14]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !cashAccountBalance.valid,'form-row arabic-mode':true }">
                                <label for="cashAccountBalance">{{defaultAddFormValues[14]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" id="cashAccountBalance"
                                 name="cashAccountBalance" [(ngModel)]="model.cashAccountBalance" 
                                #cashAccountBalance="ngModel" OnlyNumber="true" 
                                (blur)="formatCashAccountBalanceAmount()"
                                (ngModelChange) = "getAmountValue('CashAccountBalance',$event)" 
                                (focus)='formatAmountChanged("CashAccountBalance")'
                                title="{{defaultAddFormValues[14]['helpMessage']}}" required />
                                <div *ngIf="f.submitted && cashAccountBalance.invalid">
                                    <div class='error-msg' *ngIf="cashAccountBalance.errors.required">
                                        {{defaultAddFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                             <div class="col-md-6 col-sm-6 col-xs-12">
                                 <div class="form-row border-box">
                                <div class="content-heading"><h3>{{defaultAddFormValues[15]['fieldValue']}}</h3> </div>
                                    <div class="form-row">
                                        <div *ngIf="defaultAddFormValues[16]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !exceedMaxCheckAmount.valid,'form-row arabic-mode':true }">
                                            <label for="exceedMaxCheckAmount">{{defaultAddFormValues[16]['fieldValue']}}</label>
                                            <input type="text" [ngClass]="'form-control fm-txt'"
                                             id="exceedMaxCheckAmount" name="exceedMaxCheckAmount"
                                             [(ngModel)]="model.exceedMaxCheckAmount" 
                                            #exceedMaxCheckAmount="ngModel" OnlyNumber="true"  
                                            (blur)="formatExceedMaxCheckAmount()"
                                            (ngModelChange) = "getAmountValue('ExceedMaxCheckAmount',$event)" 
                                            (focus)='formatAmountChanged("ExceedMaxCheckAmount")'
                                             title="{{defaultAddFormValues[16]['helpMessage']}}" required />
                                            <div *ngIf="f.submitted && exceedMaxCheckAmount.invalid">
                                                <div class='error-msg' *ngIf="exceedMaxCheckAmount.errors.required">
                                                    {{defaultAddFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="defaultAddFormValues[17]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !passwordOfMaxCheckAmount.valid,'form-row':true }">
                                            <label for="passwordOfMaxCheckAmount">{{defaultAddFormValues[17]['fieldValue']}}</label>
                                            <input type="password" [ngClass]="'form-control fm-txt'" name="passwordOfMaxCheckAmount" [(ngModel)]="model.passwordOfMaxCheckAmount" 
                                            #passwordOfMaxCheckAmount="ngModel" minlength="8" maxlength="21"
                                            title="{{defaultAddFormValues[17]['helpMessage']}}" required />
                                            <div *ngIf="f.submitted && passwordOfMaxCheckAmount.invalid">
                                                <div class='error-msg' *ngIf="passwordOfMaxCheckAmount.errors.required">
                                                    {{defaultAddFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div class='error-msg' *ngIf="passwordOfMaxCheckAmount.errors.maxlength">
                                                    {{defaultFormValues[17]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                                <div class='error-msg' *ngIf="passwordOfMaxCheckAmount.errors.minlength">
                                                    Minimum length is 8 character.
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- Form Row Ends -->
                                
                                    <div class="form-row" *ngIf="defaultAddFormValues[18]['readAccess']">
                                   
                                            <ul class="check-list wd100">
                                            <li><span class="choose-opt"><label><input type="checkbox" name="duplicateCheckNumber" [checked]="active" [(ngModel)]="model.duplicateCheckNumber" #duplicateCheckNumber="ngModel"/>{{defaultAddFormValues[18]['fieldValue']}}</label></span></li>
                                            <li><span class="choose-opt"><label><input type="checkbox" name="overrideCheckNumber" [checked]="active" [(ngModel)]="model.overrideCheckNumber" #overrideCheckNumber="ngModel"/>{{defaultAddFormValues[19]['fieldValue']}}</label></span></li>
                                            </ul>
                                  
                                </div><!-- Form Row Ends -->
                                 </div>
                            </div>
                        </div><!-- Form Row Ends -->
                        <div class="button-row">
                      <div class="col-sm-12">
                        <input type="submit" [disabled]="LockScreen(defaultAddFormValues[20]['writeAccess'])" 
                        value="{{defaultAddFormValues[20]['fieldValue']}}" class="orange-btn" title="{{defaultAddFormValues[20]['helpMessage']}}">
                        <input type="button" class="blue-btn" (click)="resetMe(f)" title="{{defaultAddFormValues[21]['helpMessage']}}" value="{{defaultAddFormValues[21]['fieldValue']}}" />
                        <input type="button" class="blue-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                        </div>
                        </div>
                       </form>
                      </div> <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                       
                  </section>
                </section>
            </div>
<div class="modal"  *ngIf="isModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{accountNumberTitleLabel}}
    </div>
    <div class="modal-body">
      	<span *ngFor="let segment of arrSegment;let i=index; let j=index;">
																<input id="txtfirstSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
																  (blur)="fetchFirstAccountIndexInfo(j)" *ngIf="j==0" style="width:65px" />
																   <input id="txtSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
																  (blur)="fetchOtherAccountIndexInfo(j)" *ngIf="j > 0" style="width:65px"  [disabled]='segment.isReadOnly'/> 
															      <i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus"
																      style="float: left;padding: 3px 0px;" *ngIf="j + 1 != arrSegment.length"></i>	
															</span>
    </div>
    <div class="modal-footer">
           <button class="orange-btn-sm" (click)='createNewGlAccountNumber()'>{{createAccountNumberLabel}}</button>
					 <button class="blue-btn-sm" (click)='closeModal()'>{{btnCancelLabel}}</button>
    </div>
  </div>
</div>