<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
                <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
                <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
                <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
                <button  class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

        </div>
    </div>
</div>

<!-- screen header -->
<div class="page-header">
<div class="page-header-title">
  <!-- <span><h3>Create Location Setup</h3></span> -->
  <span><h3 *ngIf="!model.id">{{LOCATION_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{LOCATION_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </span>
</div>
<!-- <div class="page-header-breadcrumb">
    <i class="ti-settings"></i>
</div> -->
</div>
<!-- screen header -->

<div class="content-wrapper" (keyup)='EscapeModal($event)'>
<section class="content" (keyup)='EscapeModal($event)'>
    <!-- section Heading Starts -->
    <!-- <div class="section-heading">
        <h2></h2>
    </div> -->
    <!-- section Heading Ends -->
    <section class="inner-content">
        <!-- Content Outer Starts -->
        <div class="content-outer com-form">
            <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                {{messageText}}
            </div>

            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{message.text}}
                </div>
            <!-- Content Heading Starts -->
            <div class="content-heading">
                <!-- <h3> {{screenName}}</h3> -->
                   <div *ngIf="showloader" class="loader">
                </div>
            </div>
            <!-- Content Heading Ends -->
            
            <!--adding form starts-->
  <!-- Basic Form Inputs card start -->
<app-card [title]="">
<!-- <h4 class="sub-title">Create company</h4> -->


<form class="form-horizontal" (ngSubmit)="f.form.valid && CreateLocation(f, $event)"
#f="ngForm" novalidate>

       <div class="form-group row">
            <div class="col-sm-2">
                <div class="floating-label" class="col-md-offset-4">  
                     <!-- <input auto-complete [source]="rows" class="floating-input" list-formatter="locationId" [readonly]="isUnderUpdate"   [(ngModel)]="selectedLocation" [ngModelOptions]="{standalone: true}" name="locationId"  #locationId="ngModel"
                     (valueChanged)="getLocationData($event)" placeholder="" on-focus="onAutocompleteFocus('lbllocationId',selectedLocation)" on-focusout="onAutocompleteFocusOut('lbllocationId',selectedLocation)"
                    #filterInput3 tabindex="1" required/>                                    -->
                       <!-- on-focus="onAutocompleteFocus('companyLabel');companyFocusIn()" on-focusout="onAutocompleteFocusOut('companyLabel');companyFocusOut(companyId)" -->
                
                       <input auto-complete [source]="rows" class="floating-input" list-formatter="locationId" [readonly]="isUnderUpdate"   [(ngModel)]="selectedLocation" [ngModelOptions]="{standalone: true}" name="locationId"  #locationId="ngModel"
                     (valueChanged)="getLocationData($event)" placeholder="" on-focus="onAutocompleteFocus('lbllocationId');locationFocusIn(locationId)" on-focusout="onAutocompleteFocusOut('lbllocationId',selectedLocation);locationFocusOut(locationId)"
                    #filterInput3 tabindex="1" required/>                                   
                     <!-- on-focus="onAutocompleteFocus('lblCountry',selectedLocation);countryFocusIn(country)" on-focusout="onAutocompleteFocusOut('lblCountry',selectedLocation);countryFocusout(country)" --> 
                    <div *ngIf="f.submitted && locationId.invalid">
                            <div class="error-msg" [hidden]="!locationId.errors.required">
                                {{LOCATION_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                            <div class="error-msg" [hidden]="!locationId.errors?.maxlength" *ngIf="LOCATION_ID['listDtoFieldValidationMessage'][1]">
                                {{LOCATION_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                            </div>
                        </div>
                    <span class="highlight"></span>
                    <label id="lbllocationId" for="locationId">{{LOCATION_ID['fieldValue']}}</label>
                    <!-- <label id="companyLabel" for="companyId">{{defaultFormValues[0]['fieldValue']}}</label> -->
                    <input type="hidden"/><span  class="search-icon">
                    <!-- <i class="ti-angle-down"></i> -->
                    <i (click)="toggle3()" [ngClass]="{'ti-angle-down': !isLocationOpen, 'ti-angle-up':isLocationOpen }"></i>
                    </span>
                  </div>
                </div>
        </div>



        <div class="form-group row">  
                <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !description.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <input class="floating-input" type="text" placeholder=" " tabindex="2" name="description" [(ngModel)]="model.description"
                                #description="ngModel" title="{{LOCATION_DESCRIPTION['helpMessage']}}" maxlength="31" [required]="LOCATION_DESCRIPTION['isMandatory']"
                            />
                            <div *ngIf="f.submitted && description.invalid">
                                <div class="error-msg" [hidden]="!description.errors.required">
                                    {{LOCATION_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="!description.errors?.maxlength" *ngIf="LOCATION_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                    {{LOCATION_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label class="control-label" for="description">{{LOCATION_DESCRIPTION['fieldValue']}}</label>
                
                        </div>
                    </div>
                </div>


               
                
                            <div class="col-sm-4">
                                    <div class="form-group row">
                                        <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !arabicDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <input  class="floating-input" type="text" placeholder=" " tabindex="3" name="arabicDescription" [(ngModel)]="model.arabicDescription"
                                                #arabicDescription="ngModel" title="{{LOCATION_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61"
                                                [required]="LOCATION_ARABIC_DESCRIPTION['isMandatory']" dir="rtl" />
                                            <div *ngIf="f.submitted && arabicDescription.invalid">
                                                <div class="error-msg" [hidden]="!arabicDescription.errors.required">
                                                    {{LOCATION_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div class="error-msg" [hidden]="!arabicDescription.errors?.maxlength" *ngIf="LOCATION_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                    {{LOCATION_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                            <span class="highlight"></span>
                                            <label class="control-label" for="arabicDescription">{{LOCATION_ARABIC_DESCRIPTION['fieldValue']}}</label>
                                        </div>
                                    </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !contactName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                        <input  class="floating-input" type="text" placeholder=" " tabindex="3" name="contactName" [(ngModel)]="model.contactName"
                                            #contactName="ngModel" title="{{LOCATION_CONTACT_NAME['helpMessage']}}" maxlength="61"
                                            [required]="LOCATION_CONTACT_NAME['isMandatory']" tabindex="4"/>
                                        <div *ngIf="f.submitted && contactName.invalid">
                                            <div class="error-msg" [hidden]="!contactName.errors.required">
                                                {{LOCATION_CONTACT_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div class="error-msg" [hidden]="!contactName.errors?.maxlength" *ngIf="LOCATION_CONTACT_NAME['listDtoFieldValidationMessage'][1]">
                                                {{LOCATION_CONTACT_NAME['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                        <span class="highlight"></span>
                                        <label class="control-label" for="contactName">{{LOCATION_CONTACT_NAME['fieldValue']}}</label>
                                    </div>
                                </div>
                        </div>
               
                <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !locationAddress.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <input  class="floating-input" type="text" placeholder=" " tabindex="5" name="locationAddress" [(ngModel)]="model.locationAddress"
                                #locationAddress="ngModel" title="{{LOCATION_ADDRESS['helpMessage']}}" maxlength="61" [required]="LOCATION_ADDRESS['isMandatory']"
                            />
                            <div *ngIf="f.submitted && locationAddress.invalid">
                                <div class="error-msg" [hidden]="!locationAddress.errors.required">
                                    {{LOCATION_ADDRESS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="!locationAddress.errors?.maxlength" *ngIf="LOCATION_ADDRESS['listDtoFieldValidationMessage'][1]">
                                    {{LOCATION_ADDRESS['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label class="control-label" for="locationAddress">{{LOCATION_ADDRESS['fieldValue']}}</label>
                        </div>
                    </div>
                </div>

              
                <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && country.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <input auto-complete [source]="countries" class="floating-input" list-formatter="countryName" [(ngModel)]="selectedCountry"
                                [ngModelOptions]="{standalone: true}" name="country" #country="ngModel"  (valueChanged)="getCountryData($event)"
                                placeholder="" on-focus="onAutocompleteFocus('lblCountry',selectedCountry);countryFocusIn(country)" on-focusout="onAutocompleteFocusOut('lblCountry',selectedCountry)"
                                tabindex="6" required  #filterInput/>
                                <!-- on-focus="onAutocompleteFocus('countryLabel',selectedCountry);countryFocusIn(countryId)" on-focusout="onAutocompleteFocusOut('countryLabel',selectedCountry);countryFocusout(countryId)" -->
                            <div *ngIf="f.submitted && country.invalid">
                                <div class="error-msg" [hidden]="!country.invalid">
                                    {{LOCATION_COUNTRY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label id="lblCountry" class="control-label" for="country">{{LOCATION_COUNTRY['fieldValue']}}</label>
                            <input type="hidden" />
                            <span class="search-icon">
                                <!-- <i class="ti-angle-down"></i> -->
                                <i (click)="toggle()" [ngClass]="{'ti-angle-down': !isCountryOpen, 'ti-angle-up':isCountryOpen }"></i>
                            </span>
                        </div>
                    </div>
                
                
                </div>

        <div class="col-sm-4">
            <div class="form-group row">
                <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && state.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input auto-complete [source]="states" class="floating-input" list-formatter="stateName" [(ngModel)]="selectedState" [ngModelOptions]="{standalone: true}"
                        name="state" #state="ngModel"  (valueChanged)="getStateData($event)" placeholder="" on-focus="onAutocompleteFocus('lblState',selectedCountry);stateFocusIn(state)"
                        on-focusout="onAutocompleteFocusOut('lblState',selectedState)" tabindex="7" required #filterInput1/>

                        <!-- on-focus="onAutocompleteFocus('stateLabel');stateFocusIn(stateId)" on-focusout="onAutocompleteFocusOut('stateLabel');stateFocusout(stateId)" -->
                    <div *ngIf="f.submitted && state.invalid">
                        <div class="error-msg" [hidden]="!state.invalid">
                            {{LOCATION_STATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
    
                    </div>
                    <span class="highlight"></span>
                    <label id="lblState" class="control-label" for="state">{{LOCATION_STATE['fieldValue']}}</label>
                    <input type="hidden" />
                    <span class="search-icon">
                        <i (click)="toggle1()" [ngClass]="{'ti-angle-down': !isStateOpen, 'ti-angle-up':isStateOpen }"></i>
                    </span>
                </div>
    
    
    
    
    
            </div>
        </div>
              
               
         </div>
    <!-- <div class="sub-title"></div> -->
    <div class="form-group row">

          

        <div class="col-sm-4">
            <div class="form-group row">
                <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && city.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input auto-complete [source]="cities" class="floating-input" list-formatter="cityName" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}"
                        name="city" #city="ngModel"  (valueChanged)="getCityData($event)" placeholder="" on-focus="onAutocompleteFocus('lblCity',selectedCountry);cityFocusIn(city)"
                        on-focusout="onAutocompleteFocusOut('lblCity',selectedState)" tabindex="8" required #filterInput2/>


                        <!-- on-focus="onAutocompleteFocus('cityLabel');cityFocusIn(cityId)" on-focusout="onAutocompleteFocusOut('cityLabel');cityFocusout(cityId)"  -->
                    <div *ngIf="f.submitted && city.invalid">
                        <div class="error-msg" [hidden]="!city.invalid">
                            {{LOCATION_CITY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
    
                    </div>
                    <span class="highlight"></span>
                    <label id="lblCity" class="control-label" for="city">{{LOCATION_CITY['fieldValue']}}</label>
                    <input type="hidden" />
                    <span class="search-icon">
                        <!-- <i class="ti-angle-down"></i> -->
                        <i (click)="toggle2()" [ngClass]="{'ti-angle-down': !isCityOpen, 'ti-angle-up':isCityOpen }"></i>
                    </span>
                </div>
            </div>
        </div>
    
        <div class="col-sm-4">
            <div class="form-group row">
                <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !phone.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="9" name="phone" [(ngModel)]="model.phone" (keydown)="onlyDecimalNumberKey($event)"
                        #phone="ngModel" PhonenumberFaxDirective="true" [pattern]="phonePattern" title="{{LOCATION_PHONE['helpMessage']}}"
                        maxlength="21" [required]="LOCATION_PHONE['isMandatory']" />
                    <div *ngIf="f.submitted && phone.invalid">
                        <div class="error-msg" [hidden]="!phone.errors.required">
                            {{LOCATION_PHONE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div class="error-msg" [hidden]="!phone.errors?.maxlength" *ngIf="LOCATION_PHONE['listDtoFieldValidationMessage'][1]">
                            {{LOCATION_PHONE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                        <div class="error-msg" *ngIf="phone.dirty && phone.value.length!=0">
                            {{LOCATION_PHONE['listDtoFieldValidationMessage'][2]['validationMessage']}}
                        </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="">{{LOCATION_PHONE['fieldValue']}}</label>
                </div>
            </div>
    </div>

<div class="col-sm-4">
        <div class="form-group row">
            <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !fax.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                <input  class="floating-input" type="text" placeholder=" " tabindex="10" name="fax" [(ngModel)]="model.fax" #fax="ngModel"
                    title="{{LOCATION_FAX['helpMessage']}}" phoneFaxDirective="true" maxlength="21" [pattern]="phonePattern" (keydown)="onlyDecimalNumberKey($event)"
                    [required]="LOCATION_FAX['isMandatory']" />
                <div *ngIf="f.submitted && fax.invalid">
                    <div class="error-msg" [hidden]="!fax.errors.required">
                        {{LOCATION_FAX['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div class="error-msg" [hidden]="!fax.errors?.maxlength" *ngIf="LOCATION_FAX['listDtoFieldValidationMessage'][1]">
                        {{LOCATION_FAX['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                    <div class="error-msg" *ngIf="fax.dirty && fax.value.length!=0">
                        {{LOCATION_FAX['listDtoFieldValidationMessage'][2]['validationMessage']}}
                    </div>
                </div>
                <span class="highlight"></span>
                <label class="control-label" for="fax">{{LOCATION_FAX['fieldValue']}}</label>
            </div>
        </div>
</div>
    
    </div>
    
    <div class="form-group row">

          
        
      
       
      
    </div>
    <!-- <div [ngClass]="'button-row'">
            <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                        <button *ngIf="model.id" [ngClass]="'grey-btn'">{{DIVISION_UPDATE_LABEL['fieldValue']}}</button>
                        <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{DIVISION_SAVE_LABEL['fieldValue']}}</button>
                        <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{DIVISION_CLEAR_LABEL['fieldValue']}}</button>
                        <button [ngClass]="'blue-btn'" (click)="showCreateForm = false">{{DIVISION_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                </div>
            </div>
        </div> -->


        <div [ngClass]="'button-row'">
                <div [ngClass]="'col-sm-12'">
                    <button tabindex="11" *ngIf="model.id" class="green-btn">{{LOCATION_UPDATE_LABEL['fieldValue']}}</button>
                    <button tabindex="11"   *ngIf="!model.id" class="green-btn">{{LOCATION_SAVE_LABEL['fieldValue']}}</button>
                    <button tabindex="12" class="blue-btn" (click)="goBack()">{{LOCATION_CANCEL_LABEL['fieldValue']}}</button>
                    <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{LOCATION_CLEAR_LABEL['fieldValue']}}</button>

                    <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
                    <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
                </div>
                
            </div>
   
  </form>


</app-card>        
           

<!--adding form ends-->
</div>
<!-- Content Outer Ends -->
</section>
</section>
</div>



