<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
        </div>

        <form class="form-horizontal" (ngSubmit)="f.form.valid && CreateDeductionCodesSetup(f, $event)" #f="ngForm" novalidate>
          <div class="row">
            <div class="col-md-8">
              <fieldset class="fieldsetclass row form-row" style="border-radius: 0px;min-height:0px;">
                <div>
                  <div class="form-group">
                    <div class="col-md-3">
                      <label class="control-label"  style="padding-left: 6px;" for="include">{{defaultFormValues[0]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-3">
                      <input style="margin: 0 0 0 5px;" type="radio" name="include" [value]="1" title="{{defaultFormValues[5]['helpMessage']}}" [(ngModel)]="model['include']"
                        #include="ngModel" (change)="onOptionChange()" required [checked]="true" /> {{defaultFormValues[1]['fieldValue']}}
                    </div>
                    <div class="col-md-3">
                      <input style="margin: 0 0 0 5px;" type="radio" [value]="2" name="include" title="{{defaultFormValues[5]['helpMessage']}}"
                        [(ngModel)]="model['include']" #include="ngModel" (change)="onOptionChange()" required />{{defaultFormValues[2]['fieldValue']}}
                    </div>
                    <div class="col-md-3">
                      <input style="margin: 0 0 0 5px;" type="radio" [value]="3" name="include" title="{{defaultFormValues[5]['helpMessage']}}"
                        [(ngModel)]="model['include']" #include="ngModel" (change)="onOptionChange()" [disabled]="disabled" [checked]="selectedRadiobutton" required />{{defaultFormValues[3]['fieldValue']}}
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row" style="display: flex;align-items: flex-start;">
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">

                  <!-- Data Grid Starts-->
                  <div class="algo-table algo-table-department">
                    <div [ngClass]="table-responsive">
                      <span style="padding-left: 14px;">{{defaultFormValues[4]['fieldValue']}}</span>
                      <ngx-datatable id="DeductionCodeGrid" class="material" [rows]="applicableRows" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="100" [rowHeight]="'auto'" [trackByProp]="'codeId'" [externalPaging]="false" (page)="setPage($event)"
                        [selected]="selectedCode" [selectionType]="'checkbox'" [count]="page.totalElements" [offset]="page.pageNumber"
                        [limit]="page.size" (select)='onSelectInsert($event)' >

                        <!-- Data Grid checkbox -->
                        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                            <input type="checkbox" [checked]="applicableRows.length == selectedCode.length" [disabled]="disabled" (change)="selectAllApp() && selectFn(!allRowsSelected)"/>
                          </ng-template>                          
                          <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                            <input type="checkbox" [checked]="isSelected" [disabled]="disabled" (change)="changeSelection(row,row.$$index) && onCheckboxChangeFn($event) "/>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid Deduction Code Id -->
                        <ngx-datatable-column name="codeId" [width]="300" [canAutoResize]="false" [draggable]="false" [resizeable]="false" prop="" [comparator]="sortComparator">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort()">{{defaultFormValues[6]['fieldValue']}}</span>
                          </ng-template>
                          <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.codeId}}
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
                  <!-- Data Grid Ends-->

                  <!-- Table View Starts -->
                  <!-- <div class="button-row">
                    <div class="table-view">
                      <span>TABLE VIEW</span>
                      <div class="select-outer">
                        <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                          <option value="5">5 at a time </option>
                          <option value="15">15 at a time </option>
                          <option value="50">50 at a time </option>
                          <option value="100">100 at a time </option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-md-2" style="align-self: center;display: flex;">
              <div class="row">
                <button type="button" class="grey-btn" style="margin-bottom: 20px;" [disabled]="selectedCode.length<1 || disabled" (click)="insert()">{{defaultFormValues[7]['fieldValue']}}</button>
                <br>
                <button type="button" class="grey-btn" [disabled]="selectedMaster.length<1 || disabled" (click)="remove()">{{defaultFormValues[8]['fieldValue']}}</button>
              </div>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <div class="algo-table algo-table-department">
                    <div class="table-responsive">
                      <span style="padding-left: 14px;">{{defaultFormValues[0]['fieldValue']}}</span>
                      <ngx-datatable id="DeductionMasterGrid" class="material" [rows]="includedRows" [columnMode]="'force'" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false" [selected]="selectedMaster" [selectionType]="'checkbox'"
                        (select)='onSelectRemove($event)'>

                        <!-- Data Grid checkbox -->
                        <ngx-datatable-column name="include" [width]="50" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                            <input type="checkbox" [checked]="includedRows.length == selectedMaster.length" [disabled]="disabled" (change)="selectAllInclude() && selectFn(!allRowsSelected)"/>
                          </ng-template>                          
                          <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                            <input type="checkbox" [checked]="isSelected" [disabled]="disabled" (change)="changeSelection2(row,row.$$index) && onCheckboxChangeFn($event) "/>
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid Deduction Code Id -->
                        <ngx-datatable-column name="codeId" [width]="300" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort()" (focus)="sort()">{{defaultFormValues[6]['fieldValue']}}</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>
                  </div>
                  <!-- Data Grid Ends-->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <div class="col-md-12">
                <span class="pull-right">
                  <button [disabled]="disabled" class="grey-btn">{{defaultFormValues[9]['fieldValue']}}</button>
                  <button [ngClass]="'blue-btn'" (click)="Cancel()">Cancel</button>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </section>
</div>