
<div class="content-wrapper user-view">
<!--<pre>{{accountPayables|json}}</pre>-->
    <section class="content">
		<!--<pre>{{defaultFormValues|json}}</pre>-->
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<!--<pre>{{gridDefaultFormValues|json}}</pre>-->
            <section class="inner-content">
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>                     
						<form class="search-batch" name="massCloseFiscal" (ngSubmit)="massCloseFiscal.form.valid && save(massCloseFiscal)" #massCloseFiscal="ngForm" novalidate>						
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': massCloseFiscal.submitted && !Year.valid }">
									 <label>{{defaultFormValues[0]['fieldValue']}}</label>
									  <div class="select-outer">
										  <select myAutofocus title="{{defaultFormValues[0]['helpMessage']}}" class="form-control auto-focus" name='Year' [(ngModel)]="year"  #Year="ngModel" (change)='ChangeYear()' required>
													<option value="">--{{select}}--</option>
													<option *ngFor="let y of years" [value]="y">{{y}}</option>
										 </select>
									</div>  
									<div *ngIf="massCloseFiscal.submitted && Year.invalid">
										<div class='error-msg' *ngIf="Year.errors.required">
											{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									</div>
								</div>
                        </div><!-- Form Row Ends -->
				
						<div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{ 'has-error': massCloseFiscal.submitted && !seriesid.valid }">
                                <label>{{defaultFormValues[1]['fieldValue']}}</label>
                                  <div class="select-outer">
										  <select class="form-control" title="{{defaultFormValues[1]['helpMessage']}}" name='seriesid' [(ngModel)]="seriesId"  #seriesid="ngModel" (change)='getOrigin()' required>
													<!--<option value="">--{{select}}--</option>-->
													<option *ngFor="let s of series" [value]="s.typeId">{{s.name}}</option>
										 </select>
									</div>  
									<div *ngIf="massCloseFiscal.submitted && seriesid.invalid">
										<div class='error-msg' *ngIf="seriesid.errors.required">
											{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									</div>  
                            </div>
                        </div><!-- Form Row Ends -->

												 <div class="form-row">
						 <!-- <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{ 'has-error': massCloseFiscal.submitted && originId == '' }"> -->
								<div class="col-md-6 col-sm-6 col-xs-12">
                                <label>{{defaultFormValues[2]['fieldValue']}}</label>
                                  <div class="select-outer">
																 <select class="form-control" name="originId"  [(ngModel)]="originId"
																  title="{{defaultFormValues[2]['helpMessage']}}"  [ngModelOptions]="{standalone: true}" 
																 (change)='this.finalGridObj=[]' >
                                  <option value="">--{{select}}--</option>
															  	<option *ngFor="let s of arrOrigin" [value]="s.originId">{{s.originName}}</option>
                                 </select>
                                </div>   
																<!-- <div *ngIf="massCloseFiscal.submitted && originId == ''">
										<div class='error-msg' >
											{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									</div>   -->
                            
                        </div>
											  </div>
						
						<div class="form-row pd-setup">                            
                            <div class="col-md-6 col-sm-12 col-xs-12">
								<label>{{defaultFormValues[3]['fieldValue']}}</label>
									<div class="select-outer">
										<div class="col-xs-12 col-md-3">
											<span class="choose-opt"><label>
												<input type="radio" title="{{defaultFormValues[4]['helpMessage']}}" name="displayy" value="1" 
												(click)="getAllPeriods($event)" [(ngModel)]="display"> {{defaultFormValues[4]['fieldValue']}}</label></span>
										</div>
										<div class="col-xs-12 col-md-9">
												<div class="row">
													<div class="col-xs-12">
														  <div class="selection period-select">
															<span class="choose-opt"><label><input type="radio" title="{{defaultFormValues[5]['helpMessage']}}" name="displayy" value="2" (click)="getAllPeriods($event)" [(ngModel)]="display"> {{defaultFormValues[5]['fieldValue']}}</label></span>
														   <div class="select-dt">															 
															   <select class="form-control" name="firstDrop" [(ngModel)]="firstDrop" (change)="getFirstPeriodName()">
																  <option value="">--{{select}}--</option>
																  <option *ngFor="let g of getMax" [value]="g.periodNumber">{{g.periodNumber}}</option>
															   </select>															  
														   </div>
														   <input type="text" name="firstText" class="fm-txt" [(ngModel)]="firstText">
														</div>
													</div>
													<div class="col-xs-12">
													<div class="selection period-select">
														   <span class="choose-opt" style="width:100%"><label> {{defaultFormValues[6]['fieldValue']}}</label></span>
														   <div class="select-dt">															  
																 <select class="form-control" name="secondDrop" title="{{defaultFormValues[6]['helpMessage']}}" [(ngModel)]="secondDrop" (change)="getSecondPeriodName()">
																	<option value="">--{{select}}--</option>
																   <option *ngFor="let g of getMax" [value]="g.periodNumber">{{g.periodNumber}}</option>
																 </select>
																
														   </div>
														   <input type="text" name="secondText" class="fm-txt" [(ngModel)]="secondText"> 
														</div>
													</div>
												</div>
										</div>
									</div>
								</div>                              
                            </div>
							
							 <div class="algo-table">
								<div class="content-heading text-right" *ngIf="finalGridObj.length>0">
								  <a class="blue-btn" (click)="openAll()" title="{{defaultFormValues[7]['helpMessage']}}">{{defaultFormValues[7]['fieldValue']}}</a>
								  <a class="grey-btn" (click)="closeAll()" title="{{defaultFormValues[8]['helpMessage']}}">{{defaultFormValues[8]['fieldValue']}}</a>
								</div>
								  <div class="table-responsive" *ngIf="finalGridObj.length>0">          
									<table class="table">
									  <thead>
										<tr>
										  <th width="20%">{{defaultFormValues[9]['fieldValue']}}</th>
										  <th width="40%">{{defaultFormValues[10]['fieldValue']}}</th>
										  <th width="20%">{{defaultFormValues[11]['fieldValue']}}</th>
										  <th width="10%">{{defaultFormValues[12]['fieldValue']}}</th>
										</tr>
									  </thead>
									  <tbody>
										<tr *ngFor="let item of finalGridObj;let i=index;">
											<td>{{item.seriesName}}</td>
											<td>{{item.origin}}</td>
										  <td>{{item.periodName}}</td>
											<td><input type="checkbox" title="{{defaultFormValues[12]['helpMessage']}}" name="isclose_{{i}}" 
												(click)="openClose($event.target.checked,i)" [(ngModel)]="item.isClose"
												 [checked]="item.isClose"/></td>
										</tr>
									  </tbody>
									</table>
									</div>
                          </div><!-- Algo Table Ends -->
						  
						  <div class="button-row">
                         <a class="blue-btn" title="{{defaultFormValues[15]['helpMessage']}}" (click)="calculate()">{{defaultFormValues[15]['fieldValue']}}</a>
						 </div>

                      <div class="button-row">
						<div *ngIf="finalGridObj.length>0">
						<input [disabled]="btndisabled" type="submit" class="orange-btn" *ngIf="defaultFormValues[14]['readAccess']" title="{{defaultFormValues[14]['helpMessage']}}" value="{{defaultFormValues[14]['fieldValue']}}"/>
							<input type="button" class="blue-btn" value="{{defaultFormValues[13]['fieldValue']}}" *ngIf="defaultFormValues[13]['readAccess']" (click)="calculate()" title="{{defaultFormValues[13]['helpMessage']}}" />
						</div>
                        </div>
						
						</form>
						<!--<pre>{{finalGridObj|json}}</pre>-->
                   
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>

<!--<style>
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
</style>-->