
<div class="content-wrapper user-view">
	<section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<!--<pre>{{gridDefaultFormValues|json}}</pre>-->
		<section class="inner-content">
			<!--<pre>{{generalSetup|json}}</pre>-->
			<div class="content-outer com-form">
				<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
					<div class="row">
						<form class="search-batch" name="vendorMaintenanceOptions" (ngSubmit)="vendorMaintenanceOptions.form.valid && save(vendorMaintenanceOptions)" #vendorMaintenanceOptions="ngForm" novalidate>
							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': vendorMaintenanceOptions.submitted && currentVendorId.length == 0  }">
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
									<!--<div class="select-outer">-->
										<!--<select  myAutofocus title="{{defaultFormValues[0]['helpMessage']}}" class="form-control {{myHtml}}" name='vendorId'  id="ddl_insClassId" [(ngModel)]="vendorMaintenance.vendorId"  (change)="getNames()" #vendorId="ngModel" required>
											<option value="">{{select}}</option>
											<option *ngFor="let v of vendors" [value]="v.venderId">{{v.venderNamePrimary}}</option>
										</select>-->
										<!--<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrVendorId" [(ngModel)]="vendorId" [ngModelOptions]="{standalone: true}"
											[settings]="ddlVendorIdSetting" 
											(onSelect)="getVendorByID($event)" (onDeSelect)="OnVendorIdDeSelect($event)">
										</angular2-multiselect>-->
										<input type="text" class="form-control fm-txt" name="vendorId" title="{{defaultFormValues[0]['helpMessage']}}" [(ngModel)]="currentVendorId" readonly>
										<div *ngIf="vendorMaintenanceOptions.submitted && currentVendorId.length == 0 ">
											<div class='error-msg'>
												{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
												<!--</div>										-->
											</div>
										</div>
									</div>
								</div><!-- Form Row Ends -->
								
								<div class="form-row">                            
									<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']">
										<label>{{defaultFormValues[1]['fieldValue']}}</label>
										<input type="text" class="form-control fm-txt" name="simpleName" title="{{defaultFormValues[1]['helpMessage']}}" [(ngModel)]="simpleName" readonly>
									</div>
									
									<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultFormValues[2]['readAccess']">
										<label>{{defaultFormValues[2]['fieldValue']}}</label>
										<input type="text" title="{{defaultFormValues[2]['helpMessage']}}" class="form-control fm-txt" name="arabicName" [(ngModel)]="arabicName" readonly>
									</div>                            
								</div><!-- Form Row Ends -->
								
								
								
								<div class="form-row">
									
									<div class="col-sm-12">
										
										<div class="row border-box full-bx-width">
											
											<div class="col-sm-4">
												<div class="cm-row">
													<label>{{defaultFormValues[3]['fieldValue']}}</label>
												</div>
												<div class="cm-row">
													<label>{{defaultFormValues[6]['fieldValue']}}</label>
												</div>
												<div class="cm-row">
													<label>{{defaultFormValues[10]['fieldValue']}}</label>
												</div>
											</div>
											
											<div class="col-sm-2">
												<div class="cm-row">
													<span class="choose-opt"><label><input title="{{defaultFormValues[4]['helpMessage']}}"  type="radio" (click)="set('none')" name="maximumInvoiceAmount" [(ngModel)]="vendorMaintenance.maximumInvoiceAmount"  value="1" #maximumInvoiceAmount="ngModel"> {{defaultFormValues[4]['fieldValue']}}</label></span>
												</div>
												<div class="cm-row">
													<span class="choose-opt"><label><input type="radio" title="{{defaultFormValues[7]['helpMessage']}}"  (click)="set1('none')" name="minimumCharge" [(ngModel)]="vendorMaintenance.minimumCharge"  value="0" #minimumCharge="ngModel"> {{defaultFormValues[7]['fieldValue']}}</label></span>
												</div>
												<div class="cm-row">
													<span class="choose-opt"><label><input type="radio" title="{{defaultFormValues[11]['helpMessage']}}"  (click)="set2('none')" name="creditLimit" [(ngModel)]="vendorMaintenance.creditLimit"  value="0" #creditLimit="ngModel"> {{defaultFormValues[11]['fieldValue']}}</label></span>
												</div>
											</div>
											
											<div class="col-sm-2">
												<div class="cm-row">
													<label class="choose-opt"> &nbsp; &nbsp;</label>
												</div>
												<div class="cm-row">
													<span class="choose-opt"><label><input type="radio" title="{{defaultFormValues[8]['helpMessage']}}"  (click)="set1('percent')" name="minimumCharge" [(ngModel)]="vendorMaintenance.minimumCharge" value="1" #minimumCharge="ngModel"> {{defaultFormValues[8]['fieldValue']}}</label></span>
												</div>
												<div class="cm-row">
													<span class="choose-opt"><label><input type="radio" title="{{defaultFormValues[12]['helpMessage']}}"  (click)="set2('unlimited')" name="creditLimit" [(ngModel)]="vendorMaintenance.creditLimit" value="1" #creditLimit="ngModel"> {{defaultFormValues[12]['fieldValue']}}</label></span>
												</div>
											</div>
											
											<div class="col-sm-2">
												<div class="cm-row">
													<span class="choose-opt"><label><input title="{{defaultFormValues[5]['helpMessage']}}"  type="radio" (click)="set('amount')" name="maximumInvoiceAmount" [(ngModel)]="vendorMaintenance.maximumInvoiceAmount" value="2" #maximumInvoiceAmount="ngModel">{{defaultFormValues[5]['fieldValue']}}</label></span>
												</div>
												<div class="cm-row">
													<span class="choose-opt"><label><input type="radio" title="{{defaultFormValues[9]['helpMessage']}}"  (click)="set1('amount')" name="minimumCharge" [(ngModel)]="vendorMaintenance.minimumCharge" value="2" #minimumCharge="ngModel"> {{defaultFormValues[9]['fieldValue']}}</label></span>
												</div>
												<div class="cm-row">
													<span class="choose-opt"><label><input title="{{defaultFormValues[13]['helpMessage']}}"  type="radio" (click)="set2('amount')" name="creditLimit" [(ngModel)]="vendorMaintenance.creditLimit" value="2" #creditLimit="ngModel"> {{defaultFormValues[13]['fieldValue']}}</label></span>
												</div>
											</div>
											
											<div class="col-sm-2 arabic-mode">
												<input type="text" class="form-control fm-txt" id="maximumInvoiceAmountValue" title="{{defaultFormValues[4]['helpMessage']}}"  name="maximumInvoiceAmountValue" [(ngModel)]="vendorMaintenance.maximumInvoiceAmountValue " #maximumInvoiceAmountValue ="ngModel" [disabled]="mtextDisabled" 
												(ngModelChange) = "getMaximumInvoiceAmountValue($event)" (blur)= "formatMaximumInvoiceAmountValue()" (focus)='formatMaximumInvoiceAmountValueChanged()'>		
												
												<input type="text" class="form-control fm-txt"  id="minimumChargeAmount" title="{{defaultFormValues[7]['helpMessage']}}"  name="minimumChargeAmount" [(ngModel)]="vendorMaintenance.minimumChargeAmount" #minimumChargeAmount="ngModel" [disabled]="mintextDisabled"
												(ngModelChange) = "getminimumChargeAmountValue($event)"
												(blur)= "formatminimumChargeAmount()" (focus)='formatminimumChargeAmountChanged()'>		
												
												<input type="text" class="form-control fm-txt"  id="cardLimitAmount" name="cardLimitAmount" title="{{defaultFormValues[11]['helpMessage']}}"  [(ngModel)]="vendorMaintenance.cardLimitAmount" #cardLimitAmount="ngModel" [disabled]="credittextDisabled"
												(ngModelChange) = "getcardLimitAmountValue($event)" (blur)= "formatcardLimitAmount()"
												(focus)='formatcardLimitAmountChanged()'>
												
											</div>
											
										</div>
										
									</div>
								</div><!-- Form Row Ends -->
								
								<!--
									<div class="form-row">                            
										<div class="col-md-6 col-sm-12 col-xs-12">
											<label>{{defaultFormValues[3]['fieldValue']}}</label>
											<span class="choose-opt"><label><input type="radio" (click)="set('none')" name="maximumInvoiceAmount" [(ngModel)]="vendorMaintenance.maximumInvoiceAmount"  value="1" #maximumInvoiceAmount="ngModel"> {{defaultFormValues[4]['fieldValue']}}</label></span>
											<span class="choose-opt"><label><input type="radio" (click)="set('amount')" name="maximumInvoiceAmount" [(ngModel)]="vendorMaintenance.maximumInvoiceAmount" value="2" #maximumInvoiceAmount="ngModel">{{defaultFormValues[5]['fieldValue']}}</label></span>
											<input type="text" class="form-control fm-txt" name="maximumInvoiceAmountValue " [(ngModel)]="vendorMaintenance.maximumInvoiceAmountValue " #maximumInvoiceAmountValue ="ngModel" [disabled]="mtextDisabled" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
										</div>
										
										<div class="col-md-6 col-sm-12 col-xs-12">
											<label>{{defaultFormValues[6]['fieldValue']}}</label>
											<span class="choose-opt"><label><input type="radio" (click)="set1('none')" name="minimumCharge" [(ngModel)]="vendorMaintenance.minimumCharge"  value="0" #minimumCharge="ngModel"> {{defaultFormValues[7]['fieldValue']}}</label></span>
											<span class="choose-opt"><label><input type="radio" (click)="set1('percent')" name="minimumCharge" [(ngModel)]="vendorMaintenance.minimumCharge" value="1" #minimumCharge="ngModel"> {{defaultFormValues[8]['fieldValue']}}</label></span>
											<span class="choose-opt"><label><input type="radio" (click)="set1('amount')" name="minimumCharge" [(ngModel)]="vendorMaintenance.minimumCharge" value="2" #minimumCharge="ngModel"> {{defaultFormValues[9]['fieldValue']}}</label></span>
											<input type="text" class="form-control fm-txt" name="minimumChargeAmount" [(ngModel)]="vendorMaintenance.minimumChargeAmount" #minimumChargeAmount="ngModel" [disabled]="mintextDisabled">
										</div>
									</div>
									
									<div class="form-row">                            
										<div class="col-md-6 col-sm-12 col-xs-12">
											<label>{{defaultFormValues[10]['fieldValue']}}</label>
											<span class="choose-opt"><label><input type="radio" (click)="set2('none')" name="creditLimit" [(ngModel)]="vendorMaintenance.creditLimit"  value="0" #creditLimit="ngModel"> {{defaultFormValues[11]['fieldValue']}}</label></span>
											<span class="choose-opt"><label><input type="radio" (click)="set2('unlimited')" name="creditLimit" [(ngModel)]="vendorMaintenance.creditLimit" value="1" #creditLimit="ngModel"> {{defaultFormValues[12]['fieldValue']}}</label></span>
											<span class="choose-opt"><label><input type="radio" (click)="set2('amount')" name="creditLimit" [(ngModel)]="vendorMaintenance.creditLimit" value="2" #creditLimit="ngModel"> {{defaultFormValues[13]['fieldValue']}}</label></span>
											<input type="text" class="form-control fm-txt" name="cardLimitAmount" [(ngModel)]="vendorMaintenance.cardLimitAmount" #cardLimitAmount="ngModel" [disabled]="credittextDisabled">
										</div>								
									</div> -->
									
									<div class="form-row">    
										<div class="col-md-6 col-sm-6 col-xs-12">
											
											<div class="form-row" *ngIf="defaultFormValues[14]['readAccess']" [ngClass]="{ 'has-error': vendorMaintenanceOptions.submitted && !tradeDiscountPercent.valid }">
												<label>{{defaultFormValues[14]['fieldValue']}}</label>
												<input type="text" class="form-control fm-txt" id="tradeDiscountPercent" title="{{defaultFormValues[14]['helpMessage']}}" name="tradeDiscountPercent" [(ngModel)]="vendorMaintenance.tradeDiscountPercent" #tradeDiscountPercent="ngModel" 
												(ngModelChange) = "getTradeDiscountPercent($event)" (blur)= "formatTradeDiscountPercent()" (focus)='formatTradeDiscountPercentChanged()' required>
												<div *ngIf="vendorMaintenanceOptions.submitted && tradeDiscountPercent.invalid">
													<div class='error-msg' *ngIf="tradeDiscountPercent.errors.required">
														{{defaultFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
													</div>
												</div>
											</div>
											
											<div class="form-row" *ngIf="defaultFormValues[15]['readAccess']" [ngClass]="{ 'has-error': vendorMaintenanceOptions.submitted && !minimumOrderAmount.valid }">
												<label>{{defaultFormValues[15]['fieldValue']}}</label>
												<input type="text" class="form-control fm-txt" title="{{defaultFormValues[15]['helpMessage']}}" name="minimumOrderAmount" [(ngModel)]="vendorMaintenance.minimumOrderAmount" #minimumOrderAmount="ngModel" required>
												<div *ngIf="vendorMaintenanceOptions.submitted && minimumOrderAmount.invalid">
													<div class='error-msg' *ngIf="minimumOrderAmount.errors.required">
														{{defaultFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
													</div>
												</div>
											</div>
											
											<div class="form-row" *ngIf="defaultFormValues[16]['readAccess']" [ngClass]="{ 'has-error': vendorMaintenanceOptions.submitted && shipmentMethodId.length == 0 }">
												<label>{{defaultFormValues[16]['fieldValue']}}</label>
												<div class="select-outer">
													<!--<select class="form-control" name='shipmentMethodId' title="{{defaultFormValues[16]['helpMessage']}}" [(ngModel)]="vendorMaintenance.shipmentMethodId"  #shipmentMethodId="ngModel" required>
														<option value="">--{{select}}--</option>
														<option *ngFor="let shipping of shippingMethod" [value]="shipping.shipmentMethodId">{{shipping.shipmentDescription}}</option>
													</select>-->
													<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrShipmentMethodId" id="shipmentMethodId" [(ngModel)]="shipmentMethodId" [ngModelOptions]="{standalone: true}"
													[settings]="ddlShipmentMethodSetting" 
													(onSelect)="getShipmentMethodByID($event)" (onDeSelect)="OnShipmentMethodIdDeSelect($event)">
												</angular2-multiselect>  
											</div>
											<div *ngIf="vendorMaintenanceOptions.submitted && shipmentMethodId.length == 0 ">
												<div class='error-msg'>
													{{defaultFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
												</div>										
											</div>
										</div>
										
										<div class="form-row" *ngIf="defaultFormValues[17]['readAccess']" [ngClass]="{ 'has-error': vendorMaintenanceOptions.submitted && vatScheduleId.length == 0 }">
											<label>{{defaultFormValues[17]['fieldValue']}}</label>
											<div class="select-outer">
												<!--<select class="form-control" name='vatScheduleId' title="{{defaultFormValues[17]['helpMessage']}}" [(ngModel)]="vendorMaintenance.vatScheduleId"  #vatScheduleId="ngModel" required>
													<option value="">--{{select}}--</option>
													<option *ngFor="let v of vat" [value]="v.vatScheduleId">{{v.vatDescription}}</option>
												</select>-->
												
												<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrVatScheduleId" id="vatScheduleId" [(ngModel)]="vatScheduleId" [ngModelOptions]="{standalone: true}"
												[settings]="ddlVatScheduleSetting" 
												(onSelect)="getVatScheduleByID($event)" (onDeSelect)="OnVatScheduleIdDeSelect($event)">
											</angular2-multiselect>
										</div> 
										<div *ngIf="vendorMaintenanceOptions.submitted && vatScheduleId.length == 0">
											<div class='error-msg'>
												{{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
										</div>
									</div>
									
								</div>
								
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-row" *ngIf="defaultFormValues[18]['readAccess']" [ngClass]="{ 'has-error': vendorMaintenanceOptions.submitted && currencyId.length == 0  }">
										<label>{{defaultFormValues[18]['fieldValue']}}</label>
										<div class="select-outer">
											<!--<select class="form-control" name='currencyId' title="{{defaultFormValues[18]['helpMessage']}}" [(ngModel)]="vendorMaintenance.currencyId"  #currencyId="ngModel" required>
												<option value="">--{{select}}--</option>
												<option *ngFor="let c of currency" [value]="c.currencyId">{{c.currencyDescription}}</option>
											</select>-->
											<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCurrencyId" id="currencyId" [(ngModel)]="currencyId" [ngModelOptions]="{standalone: true}"
											[settings]="ddlCurrencyIdSetting" 
											(onSelect)="getCurrencyByID($event)" (onDeSelect)="OnCurrencyIdDeSelect($event)">
										</angular2-multiselect>
									</div> 
									<div *ngIf="vendorMaintenanceOptions.submitted && currencyId.length == 0 ">
										<div class='error-msg'>
											{{defaultFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									</div>
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[19]['readAccess']" [ngClass]="{ 'has-error': vendorMaintenanceOptions.submitted && checkBookId.length == 0  }">
									<label>{{defaultFormValues[19]['fieldValue']}}</label>
									<div class="select-outer">
										<!--<select class="form-control" name='checkBookId' title="{{defaultFormValues[19]['helpMessage']}}" [(ngModel)]="vendorMaintenance.checkBookId"  #checkBookId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let check of checkbook" [value]="check.checkBookId">{{check.checkbookDescription}}</option>
										</select>-->
										<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCheckBookId" id="checkBookId" [(ngModel)]="checkBookId" [ngModelOptions]="{standalone: true}"
										[settings]="ddlCheckBookIdSetting" 
										(onSelect)="getCheckBookByID($event)" (onDeSelect)="OnCheckBookIdDeSelect($event)">
									</angular2-multiselect>
								</div> 
								<div *ngIf="vendorMaintenanceOptions.submitted && checkBookId.length == 0 ">
									<div class='error-msg'>
										{{defaultFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								</div>
							</div>
							
							<div class="form-row" *ngIf="defaultFormValues[18]['readAccess']" [ngClass]="{ 'has-error': vendorMaintenanceOptions.submitted && paymentTermId.length == 0  }">
								<label>{{defaultFormValues[20]['fieldValue']}}</label>
								<div class="select-outer">
									<!--<select class="form-control" name='paymentTermId'  title="{{defaultFormValues[20]['helpMessage']}}" [(ngModel)]="vendorMaintenance.paymentTermId"  #paymentTermId="ngModel" required>
										<option value="">--{{select}}--</option>
										<option *ngFor="let payment of payments" [value]="payment.paymentTermId">{{payment.description}}</option>
									</select>-->
									<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrPaymentTermId" id="paymentTermId" [(ngModel)]="paymentTermId" [ngModelOptions]="{standalone: true}"
									[settings]="ddlPaymentTermIdSetting" 
									(onSelect)="getPaymentTermByID($event)" (onDeSelect)="OnPaymentTermIdDeSelect($event)">
								</angular2-multiselect>
							</div> 
							<div *ngIf="vendorMaintenanceOptions.submitted && paymentTermId.length == 0 ">
								<div class='error-msg'>
									{{defaultFormValues[20]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>										
							</div>
						</div>
						
						
					</div>
				</div><!-- Form Row Ends -->
				
				
				
				
				
				<div class="form-row">
					<div class="col-md-6 col-sm-12 col-xs-12">  
						<div class="form-row" *ngIf="defaultFormValues[26]['readAccess']" [ngClass]="{ 'has-error': vendorMaintenanceOptions.submitted && !userDefine1.valid }">
							<label>{{defaultFormValues[26]['fieldValue']}}</label>
							<input type="text" class="form-control fm-txt" title="{{defaultFormValues[26]['helpMessage']}}" name="userDefine1" [(ngModel)]="vendorMaintenance.userDefine1" #userDefine1="ngModel" maxlength="21" >
							<!-- <div *ngIf="vendorMaintenanceOptions.submitted && userDefine1.invalid">
								<div class='error-msg' *ngIf="userDefine1.errors.required">
									This field is required
								</div>
								<div class='error-msg' *ngIf="userDefine1.errors.maxlength">
									{{defaultFormValues[26]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div> -->
						</div>
						
						<div class="form-row" *ngIf="defaultFormValues[27]['readAccess']" [ngClass]="{ 'has-error': vendorMaintenanceOptions.submitted && !userDefine2.valid }">
							<label>{{defaultFormValues[27]['fieldValue']}}</label>
							<input type="text" class="form-control fm-txt" name="userDefine2" title="{{defaultFormValues[27]['helpMessage']}}" [(ngModel)]="vendorMaintenance.userDefine2" #userDefine2="ngModel" maxlength="21" >
							<!-- <div *ngIf="vendorMaintenanceOptions.submitted && userDefine2.invalid">
								<div class='error-msg' *ngIf="userDefine2.errors.required">
									This field is required
								</div>
								<div class='error-msg' *ngIf="userDefine2.errors.maxlength">
									{{defaultFormValues[27]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div> -->
						</div>
						
						<div class="form-row" *ngIf="defaultFormValues[26]['readAccess']" [ngClass]="{ 'has-error': vendorMaintenanceOptions.submitted && !userDefine3.valid }">
							<label>{{defaultFormValues[28]['fieldValue']}}</label>
							<input type="text" class="form-control fm-txt" name="userDefine3" title="{{defaultFormValues[28]['helpMessage']}}" [(ngModel)]="vendorMaintenance.userDefine3" #userDefine3="ngModel" maxlength="21" >
							<!-- <div *ngIf="vendorMaintenanceOptions.submitted && userDefine3.invalid">
								<div class='error-msg' *ngIf="userDefine3.errors.required">
									This field is required
								</div>
								<div class='error-msg' *ngIf="userDefine3.errors.maxlength">
									{{defaultFormValues[28]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div> -->
						</div>
						
						
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">   
						<div class="col-xs-12 border-box">  
							<div class="content-heading"><h3>{{defaultFormValues[21]['fieldValue']}}</h3> </div>                          
							<ul class="check-list">
								<li><label><input title="{{defaultFormValues[22]['helpMessage']}}"  type="checkbox" name="openMaintenanceHistoryCalendarYear" [checked]="vendorMaintenance.openMaintenanceHistoryCalendarYear" [(ngModel)]="vendorMaintenance.openMaintenanceHistoryCalendarYear" #openMaintenanceHistoryCalendarYear="ngModel"/>{{defaultFormValues[22]['fieldValue']}}</label></li> 
								<li><label><input title="{{defaultFormValues[23]['helpMessage']}}"  type="checkbox" name="openMaintenanceHistoryFiscalYear" [checked]="vendorMaintenance.openMaintenanceHistoryFiscalYear" [(ngModel)]="vendorMaintenance.openMaintenanceHistoryFiscalYear" #openMaintenanceHistoryFiscalYear="ngModel"/>{{defaultFormValues[23]['fieldValue']}}</label></li>
								<li><label><input title="{{defaultFormValues[24]['helpMessage']}}"  type="checkbox" name="openMaintenanceHistoryTransaction" [checked]="vendorMaintenance.openMaintenanceHistoryTransaction" [(ngModel)]="vendorMaintenance.openMaintenanceHistoryTransaction" #openMaintenanceHistoryTransaction="ngModel"/>{{defaultFormValues[24]['fieldValue']}}</label></li>
								<li><label><input title="{{defaultFormValues[25]['helpMessage']}}"  type="checkbox" name="openMaintenanceHistoryDistribution" [checked]="vendorMaintenance.openMaintenanceHistoryDistribution" [(ngModel)]="vendorMaintenance.openMaintenanceHistoryDistribution" #openMaintenanceHistoryDistribution="ngModel"/>{{defaultFormValues[25]['fieldValue']}}</label></li>
							</ul>
						</div>
					</div>
				</div><!-- Form Row Ends -->
				
				<div class="button-row">
					<input type="submit"  class="orange-btn" *ngIf="defaultFormValues[29]['readAccess']" 
					title="{{defaultFormValues[29]['helpMessage']}}" value="{{defaultFormValues[29]['fieldValue']}}" 
					[disabled]="LockScreen(defaultFormValues[29]['writeAccess'])"/>
					<input type="button" class="blue-btn" *ngIf="defaultFormValues[30]['readAccess']" (click)="ClearForm(vendorMaintenanceOptions);" title="{{defaultFormValues[30]['helpMessage']}}" value="{{defaultFormValues[30]['fieldValue']}}"/>
					<!--<a  class="blue-btn" title="{{defaultFormValues[31]['fieldValue']}}" [routerLink]="['/vendorAccountMaintenance']" vendorAccountMaintenance>{{defaultFormValues[31]['fieldValue']}}</a>-->
					<input type="button" (click)="redirect()" class="blue-btn" title="{{defaultFormValues[31]['fieldValue']}}" value="{{defaultFormValues[31]['fieldValue']}}"/>
					<input type="button" (click)="redirect1()" class="grey-btn" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
				</div><!-- Buton Row Ends -->
				
			</form>
			
			<div class="form-row">
				<div class="col-xs-12">
					<!--<div class="content-heading">
						<div class="search-top">
							<input type="text" class="search-txt form-control" placeholder="search"
							(keyup)='updateFilter($event)' />
						</div>
					</div>-->
				</div>
			</div><!-- Form Row Ends -->
		</div>
	</div><!-- Content OUter Ends -->
</section>
</section>
</div>
<style>
	.border-vanish{border:2px solid #d9d9d9;}
</style>