<div class="content-wrapper">
	<section class="content">
		<!-- section Heading Starts -->
		<div class="section-heading">
			<h2>{{moduleName}}</h2>
		</div>
		<div *ngIf="showloader" class="loader">
		</div>
		<!-- section Heading Ends -->
		<section class="inner-content">
			<!-- content Outer starts -->
			<div class="content-outer com-form">
				<div *ngIf="hasMsg"
				[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
				{{messageText}}</div>
				<div class="content-heading">
					<h3>{{screenName}}</h3>
				</div>
				<form (ngSubmit)="f.form.valid && CreateGroup(f)" #f="ngForm"
				novalidate>
				<!-- Row Starts -->
				<div class="row">
					<fieldset [disabled]="isScreenLock">
						<!-- Form Row Starts -->
						<div class="form-row">
							<div  *ngIf="defaultFormValues[0]['readAccess']" class="col-md-6 col-sm-6 col-xs-12"
							[ngClass]="{ 'has-error': f.submitted && !roleGroupName.valid }">
							<label for="roleGroupName">{{defaultFormValues[0]['fieldValue']}}</label>
							<input type="text" class="form-control fm-txt"
							name="roleGroupName" [(ngModel)]="model.roleGroupName" myAutofocus
							#roleGroupName="ngModel" pattern="(?!^\d+$)^.+$"
							title="{{defaultFormValues[0]['helpMessage']}}" maxlength="25" 
							required  [readonly]="!defaultFormValues[0]['writeAccess']" />
							<div *ngIf="f.submitted && roleGroupName.invalid">
								<div class='error-msg' *ngIf="roleGroupName.errors.required">
									{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
								<div class='error-msg' *ngIf="roleGroupName.errors.maxlength">
									{{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
								</div>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12 "
						[ngClass]="{ 'has-error': f.submitted && !roleIdList.valid }">
						<label for="roleIdList">{{defaultFormValues[1]['fieldValue']}}</label>
						<div class="select-outer multiselect-dd selected-list">
							<ss-multiselect-dropdown [options]="ddOptions"
							[settings]="ddSettings" [texts]="ddTexts"
							[(ngModel)]="model.roleIdList" #roleIdList="ngModel"
							name="roleIdList" (ngModelChange)="onChange($event)"
							title="{{defaultFormValues[1]['helpMessage']}}" required>
						</ss-multiselect-dropdown>
					</div>
					<div *ngIf="f.submitted && roleIdList.invalid">
						<div class='error-msg' [hidden]="!roleIdList.errors.required">
							{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
						</div>
					</div>
				</div>
			</div>
			<!-- Form Row Ends -->
			
			<!-- Form Row Starts -->
			<div class="form-row">
				<div *ngIf="defaultFormValues[2]['readAccess']" class="col-md-6 col-sm-6 col-xs-12"
				[ngClass]="{ 'has-error': f.submitted && !roleGroupDescription.valid }">
				<label for="roleGroupDescription">{{defaultFormValues[2]['fieldValue']}}</label>
				<textarea class="form-control fm-txt" pattern="(?!^\d+$)^.+$"
				name="roleroleGroupDescriptionription"
				[(ngModel)]="model.roleGroupDescription"
				#roleGroupDescription="ngModel"
				title="{{defaultFormValues[2]['helpMessage']}}" minlength="1" maxlength="150"  [readonly]="!defaultFormValues[2]['writeAccess']"></textarea>
				<div *ngIf="f.submitted && roleGroupDescription.invalid">
					<div class='error-msg'
					[hidden]="!roleGroupDescription.errors.maxlength">
					{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
				</div>
				<!--<div class='error-msg'
					[hidden]="!roleGroupDescription.errors.pattern">
					"Wrong Pattern"
				</div>-->
			</div>
			
			<!--<div *ngIf="f.submitted && roleGroupDescription.invalid">
				<div class='error-msg' *ngIf="roleGroupDescription.errors.maxlength">
					{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
				</div>
			</div>-->
		</div>
		
	</div>
</fieldset>
<!-- Form Row Ends -->

<div class="button-row">
	<div class="col-sm-12">
		<button class="orange-btn"  *ngIf="defaultFormValues[3]['readAccess']" 
		[disabled]="LockScreen(defaultFormValues[3]['writeAccess'])"
		title="{{defaultFormValues[3]['helpMessage']}}">{{defaultFormValues[3]['fieldValue']}}</button>
		<button [ngClass]="'blue-btn'" [routerLink]="['/rolegroup']" *ngIf="defaultFormValues[4]['readAccess']" 
		title="{{defaultFormValues[4]['helpMessage']}}">{{defaultFormValues[4]['fieldValue']}}</button>
	</div>
	
</div>

</div>
<!-- Row Ends -->
</form>
</div>
<!-- Content Outer Ends -->
</section>
</section>
</div>

<!--<footer class="main-footer">@ 2017 BIT. All rights reserved. </footer>-->