<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
    </div>
    <div class="modal-footer">
           <button class="orange-btn-sm" (click)='delete()'>{{OkText}}</button>
		   <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
	<section class="content">
		<!-- section Heading Starts -->
		<div class="section-heading">
			<h2>{{moduleName}}</h2>
			<button class="orange-btn" [routerLink]="['/rolegroup/createrolegroup']" 
			[disabled]="LockScreen(defaultFormValues[0]['writeAccess'])"
				title="{{defaultFormValues[0]['helpMessage']}}">{{defaultFormValues[0]['fieldValue']}}</button>
		</div>
		<!-- section Heading Ends -->
		<section class="inner-content">
			<!-- Content Outer Starts -->
			<div class="content-outer com-form">
				<div *ngIf="hasMsg"
					[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
				<!-- Content Heading Starts -->
				<div class="content-heading">
					<div class="search-top">
						<input type="text" *ngIf="defaultFormValues[1]['readAccess']" class="search-txt form-control"
							title="{{defaultFormValues[1]['helpMessage']}}"
							placeholder="{{defaultFormValues[1]['fieldValue']}}"
							(keyup)='updateFilter($event)' [readonly]="!defaultFormValues[1]['writeAccess']" />
					</div>
				</div>
				<!-- Content Heading Ends -->
				<!-- Algo Table Starts -->
				<div class="algo-table">
					<div class="table-responsive">
						<ngx-datatable id="RoleGroupGrid" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [selectionType]="'checkbox'"
							(select)='onSelect($event)' [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText,selectedMessage:selectedText}">
							 <ngx-datatable-column
							[width]="50" [sortable]="false" [canAutoResize]="false"
							[draggable]="false" [resizeable]="false"
							[headerCheckboxable]="true" [checkboxable]="true">
						</ngx-datatable-column> 
						<ngx-datatable-column *ngIf="defaultFormValues[2]['readAccess']"  name="roleGroupCode" [width]="150"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="roleGroupName" *ngIf="defaultFormValues[3]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="roleGroupDescription" *ngIf="defaultFormValues[4]['readAccess']" 
							[width]="350" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultFormValues[4]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column> 
						 <ngx-datatable-column name="roleIdList" [width]="200" *ngIf="defaultFormValues[5]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultFormValues[5]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column>
						<ngx-datatable-column name="Action" [width]="99" *ngIf="defaultFormValues[7]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultFormValues[7]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<button class="edit-ico" *ngIf="defaultFormValues[10]['readAccess']" 
						[disabled]="LockScreen(defaultFormValues[10]['writeAccess'])"
						 (click)="edit(row)" title="{{defaultFormValues[10]['helpMessage']}}"></button>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
				</div>
				<!-- Algo Table Ends -->
				<div class="button-row" *ngIf="page.totalElements > 0">
					<!-- Table View Starts -->
					<div class="table-view" *ngIf="defaultFormValues[8]['readAccess']">
					   <span>{{defaultFormValues[8]['fieldValue']}}</span>
						<div class="select-outer">
							<select class="form-control" (change)="changePageSize($event)"
								name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                    <option [disabled]="!defaultFormValues[8]['writeAccess']"value="5">5 {{atATimeText}} </option>
                                    <option [disabled]="!defaultFormValues[8]['writeAccess']" value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                                    <option [disabled]="!defaultFormValues[8]['writeAccess']" value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                                    <option [disabled]="!defaultFormValues[8]['writeAccess']" value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
							</select>
						</div>
					</div>
					<!-- Table View Ends -->
					<div class="bottom-view"></div>
					<button class="blue-btn" *ngIf="!isScreenLock"  [disabled]="!defaultFormValues[11]['writeAccess'] || selected.length == 0" title="{{defaultFormValues[11]['fieldValue']}}" (click)="varifyDelete()">{{defaultFormValues[11]['fieldValue']}}</button>
				</div>

			</div>

			<!-- Content Outer Ends -->
		</section>
	</section>
</div>
<!--<footer class="main-footer">@ 2017 BIT. All rights reserved. </footer>-->