@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
body{font-family: 'Open Sans', sans-serif;}
button,a,i,img,input{outline: 0; border:none;}
ul,li{list-style-type: none;}
.wrapper{    background-color: #ecf0f5;}
.print-tabel{display:none;}
/* General */
@keyframes rotate{0%{transform:rotate(0deg)}to{transform:rotate(-90deg)}}
@-webkit-keyframes rotate{0%{transform:rotate(0deg)}to{transform:rotate(-90deg)}}
@-moz-keyframes rotate{0%{transform:rotate(0deg)}to{transform:rotate(-90deg)}}
@-o-keyframes rotate{0%{transform:rotate(0deg)}to{transform:rotate(-90deg)}}
.sidebar-menu li.active>a>.pull-right-container>.fa-angle-left{animation-name:rotate;animation-duration:.2s;animation-fill-mode:forwards}
h1,h2,h3,h4,h5,h6{margin: 0; padding: 0;}
.table-responsive{border:0;}
/* General */


/* Buttons */
.orange-btn{padding:10px 30px; background:#f69321; border-radius: 30px; border:none; color:#fff; text-transform: uppercase; display:inline-block;}
.orange-btn:hover,.orange-btn:focus{background:#fb9e32; color:#fff !important; }
.orange-btn-sm{font-size: 12px;padding: 10px 25px;width: 90px;text-align: CENTER; background:#f69321; border-radius: 30px; border:none; color:#fff; text-transform: uppercase; display:inline-block;}
.orange-btn-sm:hover,.orange-btn-sm:focus{background:#fb9e32; color:#fff !important; }
.white-btn{padding:10px 30px; background:#e6e6e6; border-radius: 30px; border:none; color:#3c3c3c; font-weight: 600; text-transform: uppercase; display:inline-block;}
.white-btn:hover,.white-btn:focus{background:#fff;}
.blue-btn{padding:10px 40px; background:#03485e; border-radius: 30px; border:none; color:#fff; font-weight: 600; text-transform: uppercase; display:inline-block;}
.blue-btn.disabled{background: gray}
.blue-btn:hover,.blue-btn:focus{background:#055872; color:#fff !important; }
.setting-btn-wrap{ position: relative; top: 0; right: 0; margin-bottom: 15px; margin-right: 16px; text-align: right; }
.setting-btn{padding: 8px 12px; background:#f69321; border-radius: 30px; border:none; color:#fff; display:inline-block; }
.daynamic-position { float: right; }
.blue-btn-sm{
    font-size: 12px;
    padding: 10px 25px;
    width: 90px;
    text-align: CENTER;
    margin: 0px 11px;
    background:#03485e;
    border-radius: 30px;
    border:none; 
    color:#fff;
     font-weight: 600;
      text-transform: uppercase; 
      display:inline-block;
}
.blue-btn-sm:hover,.blue-btn:focus{font-size: 12px;
    background:#055872; color:#fff !important;
    }

.grey-btn{padding:10px 40px; background:#707070; border-radius: 30px; border:none; color:#fff; text-transform: uppercase; display:inline-block;}
.grey-btn:hover,.grey-btn:focus{background:#5c5c5c; color:#fff !important; }
/* Buttons */

/* Main Header */
.main-header>.navbar{padding:10px 0;}
.main-header .logo{margin:10px 0 0 0;}
.navbar-nav>.user-menu .user-image{width:64px; height:64px; overflow: hidden;}
.user-menu span{margin:15px 0 0 0; display: inline-block; color:#4b5463; font-size: 14px;}
.navbar-custom-menu .nav>li>a{padding:0 15px; display: inline-block; vertical-align: middle;}
.user-menu{padding:0 15px;}
.navbar-custom-menu>.navbar-nav>li.highlight{position: relative;}
.navbar-custom-menu>.navbar-nav>li.highlight img{margin:15px 0 0 0;}
.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus{background:transparent; }
.navbar-custom-menu>.navbar-nav>li.highlight:after{position: absolute; content: ""; background:#eaeaea; top:-10px; height:82px; width: 100%; left: 0;}
.navbar-custom-menu>.navbar-nav>li.highlight a{position: relative; z-index: 99;}
.navbar-custom-menu>.navbar-nav>li{border-left: 2px solid #fff;}

/* Top Header Nav */
.top-header-nav .navbar{margin:0; background:#006181; border-radius:0; border:none; width: 100%; text-align:center;}
.top-header-nav{display: block;}
.top-header-nav .navbar-nav{float:none;}
.navbar-custom-menu > .navbar-nav > li.user-menu .orange-btn {margin-top: 18px; margin-bottom:16px; margin-right: 10px;padding: 6px 20px;text-transform: none;}
.top-header-nav .navbar-nav>li{float:none; display: inline-block; padding:9px 0;}
.top-header-nav .navbar-nav>li a{color:#fff; padding:6px 20px; border-radius: 20px; text-transform: uppercase;}
.top-header-nav .navbar-nav>li a:hover,.top-header-nav .navbar-nav>li a:focus{ background:#03485e; color:#fff;}
/* Top Header Nav */

/* Main Header */

/* SideBar */
.main-sidebar, .left-side{background-color:#03485e; }
.sidebar-menu li>a{font-size: 13px; color:#fff; text-transform: uppercase;}
.main-sidebar, .left-side{padding-top:0px;}
.sidebar-menu li{border-bottom: 1px dashed #fff;}
.side-icon{display: inline-block; vertical-align: middle; margin: 0px 8px 0 0;}
.manage-company{width:18px; height:25px;  background:url(../img/manage-company-icon.png) no-repeat;}
.manage-user{width:23px; height:22px;  background:url(../img/manage-user-icon.png) no-repeat;}
.manage-group{width:24px; height:22px;  background:url(../img/manage-group-icon.png) no-repeat;}
.manage-dashboard{width:24px; height:22px;  background:url(../img/dashoard-icon.png) no-repeat;}
.manage-rl{width:24px; height:22px;  background:url(../img/manage-rl-icon.png) no-repeat;}
.manage-ip{width:24px; height:22px;  background:url(../img/ip-icon.png) no-repeat;}
.manage-role{width:24px; height:20px;  background:url(../img/manage-role-icon.png) no-repeat;}
.authorization-icon{width:25px; height:25px;  background:url(../img/authorization-icon.png) no-repeat;}
.setting-icon{width:23px; height:23px;  background:url(../img/setting-icon.png) no-repeat;}
.sidebar-menu>li>a{padding-left:10px;}
.sidebar-menu>li>a span.page{padding:5px 10px; display: inline-block; width: 82%; vertical-align: middle;}
.sidebar-menu>li:hover>a,.sidebar-menu>li.active>a{/*background: #03485e;*/}
.user-image{border:1px solid rgba(0,0,0,0.13);}
.sidebar-menu>li.active span.page{border-radius: 20px;
    background: #f69321;
    border: none;
    color: #fff;
    width: 50%;
    text-align: center; 
}
.sidebar-menu .treeview-menu>li> a:hover {
    background: #f69321;
    border: none;
    color: #fff;
    width: 100%;
}
.sidebar-menu>li.active .manage-company{background:url(../img/manage-company-icon-hover.png) no-repeat;}
.sidebar-menu>li.active .manage-user{background:url(../img/manage-user-icon-hover.png) no-repeat;}
.sidebar-menu>li.active .manage-group{background:url(../img/manage-group-icon-hover.png) no-repeat;}
.sidebar-menu>li.active .manage-role{background:url(../img/manage-role-icon-hover.png) no-repeat;}
.sidebar-menu>li.active .authorization-icon{background:url(../img/authorization-icon-hover.png) no-repeat;}
.sidebar-menu>li.active .setting-icon{background:url(../img/setting-icon-hover.png) no-repeat;}
.sidebar-menu .treeview-menu{background: #022e3c; padding:0;}
.sidebar-menu .treeview-menu li:last-child{border-bottom:none;}
.sidebar-menu .treeview-menu>li>a{padding:10px 10px 10px 30px;  
    font-size: 12px;
    vertical-align: middle;
    display: inline-table;
    text-transform: capitalize;
    width: 100%;}
.sidebar-menu .treeview-menu>li .active
{
    background: #f69321;
    border: none;
    color: #fff;
    width: 100%;
}
.sidebar-menu .treeview-menu li{border-bottom:1px solid #055068;}
.sidebar-menu>li>a {padding: 14px 5px 14px 10px;display: block; position: relative;  word-wrap: break-word;
    white-space: normal;}
.sidebar-mini.sidebar-collapse .sidebar-menu>li .pull-right-container{width:20px !important;left:225px !important; background: transparent;}
.sidebar-mini.sidebar-collapse .sidebar-menu>li span.page{left:105% !important; }
.sidebar-menu>li span.pull-right-container {position: absolute;right: 10px;}
.main-sidebar .sidebar-toggle {top:0; background:#033646; display:block; height: 50px;position: relative;   width: 100%;z-index: 999;}
.sidebar-menu{margin-top:0px; /*min-height: 800px;*/}
.main-sidebar .sidebar-toggle:before{content:"\f0c9";  font-family:'FontAwesome'; color:#fff; position: absolute; right:15px; top:8px; font-size: 24px}
.sidebar-collapse .main-sidebar .sidebar-toggle:before { right: 10px; }
.sidebar-menu{overflow:hidden; overflow-y:auto; }
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{display: none !important;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: transparent;}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
/* SideBar */

/* Login */
.login-wrapper{margin:0; }
.login-outer{max-width: 538px; width: 100%; margin: 0 auto;}
.login-inner{float: left; width: 100%; margin: 10% 0 0 0;}
.login-inner h2{margin: 0; text-align: center; color: #fff;}
.login-box{float:left; width:100%; background: #006181; padding:40px 40px 40px 70px;  border-top:9px solid #f69321; box-shadow: 0 0 5px rgba(0,0,0,0.35);}
.login-box h3{color:#fff; margin: 0 0 30px 0; font-size: 20px; font-weight: 400;}
.login-box p{color:#e6e6e6; font-size: 15px; font-weight: normal; margin: 0 0 20px 0;}
.common-txt {border-radius: 5px;min-height: 45px; border:2px solid #d9d9d9; }
.form-row {float: left;width: 100%;min-height: 70px; position: relative;}
.button-row {display:inline-block; clear:both; width: 100%; margin: 20px 0 0 0;}
.fg-pass{float:right; font-size: 13px; color:#fff; font-weight:bold; margin: 1px 0 0 0;}
.fg-pass:hover,.fg-pass:focus{text-decoration: underline; color:#fff;}
.default-check{display: inline-block;}
.default-check label{color:#fff; cursor: pointer; font-size: 13px; font-weight: normal;}
.default-check input[type="checkbox"]{ vertical-align: middle; display: inline-block; margin: 0; }
.default-check span{margin:0 5px 0 0; display: inline-block;} 
.login-box .orange-btn,.login-box .white-btn {vertical-align:top; display:inline-block;}
.login-box .button-row a + button {margin-left:20px;}
.login-box .form-row + .button-row{margin:0;}
.user-row:before {content: '';width: 21px;height: 21px;position: absolute;left: -32px;background: url(../img/user-ico.png) no-repeat;top: 10px;}
.key-row:before {content: '';width: 21px;height: 21px;position: absolute;left: -32px;background: url(../img/key-ico.png) no-repeat;top: 10px;}
.mail-row:before {content: '';width: 21px;height: 21px;position: absolute;left: -32px;background: url(../img/mail-ico.png) no-repeat;top: 10px;}
/* Login */

/* Add Company */
.section-heading{display:inline-block; clear: both; width: 100%; background-color: #fff; margin: 0 0 30px 0; position: relative;}
.section-heading h2{padding:15px 20px; color:#323232; font-size: 24px; font-weight: normal; text-transform: uppercase;}
.inner-content{display:inline-block; clear: both; width: 100%; padding:20px 20px; padding-top:0;}
.content-outer{display:inline-block; clear: both; width: 100%; margin: 0 0 0 0;}
.content-heading{display:inline-block; clear: both; width:100%; margin: 0 0 30px 0;}
.content-heading h3{color:#f69321; font-size: 18px; font-weight: normal; font-weight: 600;}
.fm-txt{border-radius: 2px;min-height: 40px; border:2px solid #d9d9d9; }
.fm-smalltxt{border-radius: 2px;height: 25px; border:2px dotted #d9d9d9;width:26%;float: left;margin: 0px 5px;text-align: center }
.com-form .form-row label{color:#4b5463; font-weight: normal; font-size: 14px; display: block; text-transform: uppercase;} 
.com-form .form-row label.label_normal{color:#4b5463; font-weight: normal; font-size: 14px; display: block; text-transform: capitalize;} 
.com-form .form-row{margin-bottom:30px;}
.com-form .form-row div[class^="col-"]{float: left;}
.short-text{float: left;width: 37%; margin:0 3% 0 0;}
.right-fm-text{float: left;width: 60%; margin:0 0 0 0;}
textarea.fm-txt{min-height: 85px; resize: none;}
.btn { min-height: 40px; }
.com-form .button-row{margin: 0 0 20px 0; }
/* .com-form .button-row button{float: left;} */
/* .com-form .button-row button + button{margin-left:20px;} */
.com-form .button-row button + a{margin-left:20px; display: inline-block; vertical-align:top;}
.com-form .button-row button + a:hover{color:#fff;}
select{-webkit-appearance: menulist-button !important;}
.select-outer{background: #fff;}
.select-outer select{border:none; margin: 3px 0 0 0; border: 2px solid #d9d9d9; min-height:40px;}
.section-heading .orange-btn{position: absolute; right:30px; top:9px; padding:8px 25px;}
.search-txt{border-radius: 30px;min-height: 42px; width:30%; padding: 0 15px; border:2px solid #d9d9d9; outline: 0; background: url('../img/search-ico.png') #fff no-repeat;   background-position: 94% 10px;}
.search-id{border-radius: 0;min-height: 42px; width:100%; padding: 0 15px; border:2px solid #d9d9d9; outline: 0; background: url('../img/search-ico.png') #fff no-repeat;   background-position: 94% 10px;}
.algo-table,.ngx-datatable{display:inline-block; clear: both; width: 100%; margin: 0 0 15px 0;}
.algo-table table th,.algo-table .ngx-datatable .datatable-header-cell{background: #03485e; color: #fff; font-size: 14px; font-weight: normal; text-align: left; padding:15px 15px !important; border-right:1px solid #cfcfcf; border-bottom: none !important;}
.algo-table table th:first-child,.algo-table .ngx-datatable .datatable-header-cell:first-child{border-top-left-radius: 20px; }
.algo-table table th:last-child,.algo-table .ngx-datatable .datatable-header-cell:last-child{border-top-right-radius: 20px; border:none;}
.algo-table table,.algo-table .ngx-datatable{border:none; border-bottom: 0px solid #dbdbdb;}
.algo-table table td,.algo-table .ngx-datatable .datatable-body-cell{padding:8px 15px 2px 15px !important; border-right:1px solid #cfcfcf; background: #fff; border-bottom: 2px solid #f0f0f0; font-size: 14px; color: #4b5463;}
.algo-table table td:last-child,.algo-table .ngx-datatable .datatable-body-cell:last-child{border-right: none;}
.algo-table .ngx-datatable .datatable-body-cell-label{word-wrap: break-word;}
/* .ngxmdp .selectorarrow {position: relative !important;} */
#EmployeeQuickAssignmentGrid1 .datatable-footer{padding-bottom: 75px;padding-top: 50px;}
.ngxmdp .daycell{word-wrap: normal;line-height: 1.42857143; color: #333;}
.ngxmdp th {border: none !important; }
.ngxmdp .weekdaytitle{padding: 4px !important;border-radius: 0px !important;}
.ngxmdp table td{    border-right: 0px;border-bottom: 0px;}
.bottom-view{float: right;}
.bottom-pagination ul,.datatable-pager ul{margin: 0; padding: 0;} 
.bottom-pagination .pagination>li,.datatable-pager li{float: left;}
.bottom-pagination .pagination>li:first-child>a,.bottom-pagination .pagination>li:first-child>span{border-radius: 0;}
.datatable-pager li a{border-radius: 0;  background: #fafafa; color: #666;}
.datatable-pager li.pages.active a {
    background: #23527c;
    float: left;
    color: #ffffff;
}
.datatable-pager li.disabled a{color:#bdbdbd;}
.table-view{float: right;}
.table-view span,.table-view .select-outer{float: left;}
.table-view .select-outer{/*min-height: 30px;*/ max-width: 150px; background: transparent;}
.table-view .select-outer select{height: 30px;}
.table-view span {margin: 9px 10px 0 30px;}
.company-info{float: left; text-align: left; display: inline-block; width: 100%;}
.company-info p{color: #4b5463; font-size: 14px;}
.company-info p span{color:#006181; float: left;}
.wide-table{max-width: 1800px; width: 1800px;}
.view-ico{width: 31px; height: 16px; float: left; background: url('../img/view-ico.png'); border:none; margin: 3px 15px 0 0;}
.edit-ico{width: 18px; height: 18px; float: left; background: url('../img/edit-ico.png'); border:none;}
.add-to-list-ico{margin-bottom:30px;width:50px; height:50px; float: left; background: url('../img/add-to-list.png'); background-size:contain; padding: 10px;border:none;}
.remove-from-list-ico{width:50px; height:50px; float: left; background: url('../img/remove-from-list.png'); background-size:contain; padding: 10px; border:none;}
.add-to-list-ico:hover {margin-bottom:30px;width:50px; height:50px; float: left; background: url('../img/add-to-list.png'); background-size:contain;  background-color: rgba(0,0,0,.075); padding: 10px;border:none;}
.remove-from-list-ico:hover{width:50px; height:50px; float: left; background: url('../img/remove-from-list.png'); background-size:contain; background-color: rgba(0,0,0,.075); padding: 10px; border:none;}
.add-to-list-ico:active {margin-bottom:30px;width:50px; height:50px; float: left; background: url('../img/add-to-list.png'); background-size:contain;  background-color: rgba(0,0,0,0.13); padding: 10px;border:none;}
.remove-from-list-ico:active{width:50px; height:50px; float: left; background: url('../img/remove-from-list.png'); background-size:contain; background-color:rgba(0,0,0,0.13); padding: 10px; border:none;}
.remove-from-list-ico:disabled{width:50px; height:50px; float: left; background: url('../img/remove-from-list.png'); background-size:contain; padding: 10px; border:none; opacity: 0.3;}
.download-ico{width: 20px; height: 20px; float: left; background: url('../img/download-ico.png') no-repeat;  border:none; margin: 0;}
.restore-ico{width: 20px; height: 20px; float: left; background: url('../img/restroe.png'); border:none; margin: 0px 15px 0 0px;}
.block{color: #f62121; margin: 0 0px 0 10px;}
.allow{color: #297b0d; margin: 0 0px 0 10px;}
.formm-dd{height:36px; border:none;background: #fff; width: 100%; float: left; text-align: left; border-radius: 0;}
.formm-dd:active, .formm-dd:hover, .formm-dd:focus{background-color: #fff;}
.formbtn-group .dropdown-menu{width: 100%; left:0; margin: 0; padding: 0; top:38px; text-align:left; border-radius: 0; }
.formbtn-group{position: relative;}
.formbtn-group .dropdown-menu>li>a{font-size: 14px;}
.formbtn-group .dropdown-menu>li>a input[type="checkbox"]{margin:0 10px 0 0;}

.tb-heading{float:left; width: 100%; padding:0px 15px;background: #03485e; border-top-left-radius: 10px; border-top-right-radius: 10px;}
.tb-heading h3{float: left; color:#fff; line-height: 40px; font-weight: 400; font-size: 20px;}
.module{clear: both;}
.module .panel-body{padding:0;}
.module .panel-group .panel+.panel{margin:0;}
.module .panel{border-radius: 0; border:none; border-bottom:1px solid #d5d5d5;}
.module .panel-group{margin-bottom: 0;}
.permission-list{float: right; margin: 0; padding: 0;}
.module .panel-heading{padding:0px 15px; border-radius: 0; border:none; background-color: #fff; display: inline-block; width: 100%;}
.permission-list li{float:left; border-left: 1px solid #d5d5d5; padding: 10px 0px; min-width:75px; text-align: center;}
.tb-heading .permission-list li{border-color:#fff; color:#fff;}
.module .panel-title{display:inline-block; margin: 10px 0 0 0;}
.panel-inner{float:left; padding:0 15px; width: 100%;}
.panel-text{margin: 10px 0 0 0; padding:0 0 0 40px; display: inline-block;}
.module .panel-title a:hover,.module .panel-title a:active,.module .panel-title a:focus{color:#03485e;} 
.module .panel-collapse .panel-heading{padding-left:30px;}
hr{border-color: #ccc; margin-top: 0;}
.selection{display: inline-block; width: 100%;}
.select-dt{display: inline-block; width: 42%;}
.select-dt .fm-txt{width:87%; display: inline-block;}
.select-dt a{display: inline-block; vertical-align: middle;}
.select-dt a i{font-size: 26px; color:#404040;}
.small-seprator{display: inline-block; margin: 0 5%; vertical-align:top;}
.select-dt .select-outer{width: 100%;}
.arabic-mode input,.arabic-mode textarea{/*direction: rtl;*/ text-align: right}
.com-form .arabic-mode div[class^="col-"] {/*float: right;*/}
td.arabic-mode + td{border-left: 1px solid #cfcfcf;}
th.arabic-mode + th{border-left: 1px solid #fff;}
.tooltip{width: 200px;}
.tooltip-inner{padding: 10px;}
.required{position: relative;}
.required:after{content:"*"; position: relative; font-size: 16px; color:red;}
.error-msg{color:red; font-size: 13px; display: block;font-weight:normal}
.arabic-mode .error-msg{text-align: right;}
.com-form .arabic-mode label{direction: rtl;}
.formm-dd .caret{/*float: right; margin: 9px 0 0 0;*/   position: absolute;right: 10px;
    top: 16px;}
select.form-control{padding:3px 12px;}

ul.language-check{position: relative;}
ul.language-check li{display: inline-block;  border-right:1px solid #666;}
ul.language-check li a{margin: 0 10px; color:#3c3c3c;}
ul.language-check li.active a{color:#006181; font-weight: 600;}
ul.language-check li:last-child{border:none;}
.login-wrapper ul.language-check{position: absolute; right:5%; top:30px; }
.navbar-static-top ul.language-check{float: right; margin: 22px 0 0 0;}
.role-tabs .button-row{margin-top:30px;}

.access-btn {margin-left: 8px; float: left; margin-top: -5px;background: white}
/* Add Company */
a {color: #3c8dbc;cursor: pointer}
/* MultiSelect Dropdown Start*/
.c-token {
    margin: 2px 4px;
	background: #337ab7 !important;
}
span.fa.fa-remove {
    margin-left: 5px !important;
}
/* MultiSelect Dropdown End*/
/* NG CSS */
#MainGrid{width:1781px;}
.has-error .fm-txt{border-color:#a94442;}
.has-error .form-check-input{border-color:#a94442;}

#UserGrid1{width:1362px;}
#UserGroupGrid{width:1048px;}
#RoleGroupGrid{width:1048px;}
#AuthGrid{width:1797px;}
#RoleGrid{width:1052px;}
#whiteListGrid{width:1056px;}
#PostedJournal{width:1690px}
#unPostedJournal{width: 1690px}
/* NG CSS */


/* Footer */
.main-footer {background: #e1e1e1 none repeat scroll 0 0;border: medium none;color: #59616e; float: left; font-size: 14px; height:60px; margin: 0; max-height: 60px;position: relative;text-align: center; width: 100%; z-index: 999; padding:0; line-height: 25px; transform: none !important;}
.sidebar-mini.sidebar-collapse .main-footer{margin-left:0 !important;position: relative; z-index: 999;}
/* Footer */
.pie-label{font-size:10px !important;}

/* Manage role edit */
.role-tabs{display: inline-block; width: 100%; margin: 0 0 20px 0;}
.role-tabs .nav-tabs>li>a{background-color: #03485e; color:#fff; border:1px solid #ddd; border-bottom: 0;}
.role-tabs .nav-tabs>li.active>a,.role-tabs .nav-tabs>li.active>a:focus,.role-tabs .nav-tabs>li.active>a:hover{background-color: #fff; color:#03485e;border-bottom:0;}
.role-tabs .tab-content{background: #fff; border:1px solid #ddd; border-top:none; padding:30px;}
.module .panel-group{clear: both;}
.input-group-btn{display: inline-block;  margin: -2px 0 0;}
.select-dt .ngxmdp .selectorarrow::after,.select-dt-full .ngxmdp .selectorarrow::after,.select-dt .ngxmdp .selectorarrow::before,.select-dt-full .ngxmdp .selectorarrow::before{display: none;}
.select-dt .ngxmdp,.select-dt-full .ngxmdp{position: absolute;  top: -250px; z-index: 9999;}
.select-dt input[type="text"]{width: 60%; background: #fff;}
.select-dt,.select-dt-full{position: relative;}
.input-group-btn{display:inline-block;}
.select-dt{position: relative; vertical-align: top;}
.select-outer .dropdown{ border: 2px solid #d9d9d9;}
.dob{width:81%; display: inline-block;}
.dob-row .ngxmdp{position: absolute; top: -227px; right:20px;}
.form-row .ngxmdp .selector{position: absolute;}
.dropdown.dropdown-inline {float: left; width: 100%; background: #fff;}
.select-outer .dropdown-toggle{width:100%; text-align: left; border:none; background-color: #fff !important; background: #fff !important; border-radius: 0; }
.select-outer .dropdown-toggle:focus,.select-outer .dropdown-toggle:active{background: #fff !important; background-color: #fff !important;}
.multiselect-dd .dropdown-toggle,.select-outer .dropdown{border:none;}
.multiselect-dd .form-control{padding:0 12px; height:40px; border:2px solid #d5d5d5;}
.multiselect-dd{padding:0;}
.has-error .form-control{border-color: #a94442;border: 2px solid #a94442;}
.multiselect-dd .form-control:focus{ border-color: #3c8dbc;}
.dob-row .input-group-btn {position: absolute;right: 92px; top: 30px;}
.ngxmdp .selectorarrowleft:after, .ngxmdp .selectorarrowleft:before{display: none;}
.picker-input{padding:0 10px;background: transparent;}
.dt-picker .select-outer{background: transparent;}
.owl-moment-picker-banner,.owl-moment-time{padding:20px 20px !important;}
.bti-modal .modal-header{background: #006181; color:#fff;}
.bti-modal .close{color:#fff; opacity: 1;}
.bti-modal .modal-footer{text-align: left;}
.modal .company-info{float:none; display: inline-block;}
.modal div[class^="col-"]{float:none; display:inline-block; vertical-align: top;}
.modal .col-md-6{width:48%;}
.select-dt-full {width: 42%; display: inline-block; vertical-align: top;}
.select-dt-full .fm-txt{width:60%; display:inline-block;}
.dt-picker .select-dt-full .fm-txt{width:100%; display:inline-block;}
.selected-list  button{box-shadow: none !important;  text-align: left; padding:8px !important;}
.selected-list .c-btn,.selected-list button.dropdown-toggle{border:none !important; border: 2px solid #d9d9d9 !important;}
.selected-list .c-btn:focus,.selected-list button.dropdown-toggle:focus{border-color: #3c8dbc !important; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;; -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;}
.has-error .selected-list .c-btn{border-color: #a94442 !important;}
.dropdown-list   ul{max-height:250px !important; position: relative;}
login-header + .wrapper + #footer{display: none;}
login-header + .wrapper .main-footer{bottom:0; position: absolute;}
.tooltip-inner{background-color:#03485e;}
.tooltip-inner p{color:#fff !important;}
.tooltip.top .tooltip-arrow {border-top-color: #03485e;}

/* Manage role edit */

/* Milestone 2 pages */
.short-text-half{float: left; width: 57%; margin: 0 3% 0 0;}
.right-short-text{float: left; width: 40%;}
.del-ico{ width: 16px;height: 19px; float: left;background: url(../img/del-ico.png); border: none; margin: 0px 0px 0 13px;}
.form-row .fm-txt + input{margin-top: 10px;}
.com-form .form-row .choose-opt label{width: auto; display: inline-block; margin: 0 10px 0 0; text-transform: none; cursor: pointer;}
.form-row label > input[type="checkbox"] {margin: -1px 4px 0 0; display: inline-block;    vertical-align: middle;}
.form-row label > input{cursor:pointer;}
ul.check-list{margin: 0; padding:0 0px;}
ul.check-list li{margin: 0 0 10px 0;}
.com-form .form-row ul.check-list li label{display: inline-block; width: 100%; margin: 0; cursor: pointer; text-transform: none;}
.tview-left{float: left !important;}
.content-heading button + h3,.content-heading.text-right h3{/*margin-top:20px;*/ float: left;}
.period-select{margin: 0px 0 0 0;}
.period-select .select-dt{width:36%;}
.select-dt-full{width:100%;}
.select-dt-full input[type="text"]{width:94%;}
.content-heading .choose-opt{display: inline-block; margin-left: 10px;}
/*
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}*/
.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
button[disabled], html input[disabled] {
    cursor: default;
    background-color: #aaa;
}
button[disabled]:hover, html input[disabled] {
    cursor: default;
    background-color: #aaa;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}
.select-wrap-bg .select-outer{background: transparent;}
.select-outer .fa-percent{position: absolute; top: 4px; right: 85px; z-index: 999; }
.select-outer .fa-usd{position: absolute; top:27px; right:15px; z-index: 999; }
.button-row.text-left .table-view{float: left;}
.table-view span {margin: 14px 10px 0 10px;}
.cm-row{display: inline-block; width: 100%; margin:0 0 30px 0;}
.button-row .grey-btn{display: inline-block; margin: 0px;}
.user-view .com-form .form-row{margin-bottom:8px;}
.user-view .fm-txt {min-height: 30px; width: 55%; display: inline-block;}
.user-view .fm-txt-sm {min-height: 30px; width: 55%; display: inline-block;}
.fm-txt-sm {
    min-height: 30px;
    width: 22%;
    display: inline-block;    
}
.border-box{border:1px solid #d5d5d5; margin: 0; padding:20px; margin-bottom: 20px; margin-right: 10px;}
.user-view .com-form .form-row label{display: inline-block !important; width:39%; margin: 0 5% 0 0; text-align: left;}
.user-view .full-bx-width .fm-txt,.user-view .full-bx-width label{width: 100%;}
.user-view .full-bx-width label{text-align: left;}
.user-view .select-outer{display: inline-block; width: 55%; background: transparent; }
.user-view .select-outer select{min-height: 36px;}
.user-view .check-list label{text-align: left;}
.user-view .form-row{min-height:36px;}
.user-view .error-msg{margin: 0 0 0 45%;}
/*.user-view .arabic-mode .error-msg{margin: 0 31% 0 0;}*/
.user-view .content-heading{margin-bottom: 10px;}
.user-view  ul.check-list li {margin: 0 0 10px 0; width: 40%; display: inline-block;}
.user-view .cm-row:last-child{margin-bottom:0;}
.border-vanish{border:2px solid #d9d9d9;}
.user-view select.fm-txt{width:100%;}
.user-view .com-form .form-row label{text-transform: capitalize;}
.sm-selects .select-outer{width:54%;}
.user-view .arabic-mode label{text-align:left; margin:0 5% 0 0;}
.user-view .table-view .select-outer { width: 130px;}
.wd100{width:100% !important;}
.user-view ul.wd100 li{width:100%;}
.user-view  select.wd55{width:55%;}
.user-view .algo-table .button-row{margin-bottom: 0;}
.wht-bg{background: #fff !important;}
.user-view .select-dt-full {width: 55%;}
.user-view .select-dt-full input[type="text"] {width: 100%;}
.user-view .dob-row .input-group-btn{right: 76px !important; top: 4px !important;}
.user-view .dob-row .input-group-btn .btn{padding-top:4px; padding-bottom:4px;top:-1px;right:-2px}
.user-view .cm-row{margin-bottom:25px;}
.user-view .algo-table .fm-smalltxt{padding:2px 4px; width:30%;}
.user-view .lg-headings .dob-row .fm-txt,.user-view .lg-headings label{vertical-align: top;}
.table-heading{display: inline-block; width:100%;}
.table-heading h5 {font-size: 14px;float: left; width: 45%;text-align: right;}
.table-heading span{float:right; width:50%;}
.table-heading label{width:auto !important;}
.choose-opt input{margin-right:2px;}
.user-view .com-form .button-row button{float: none;}
.user-view .button-row {text-align: right;}
.error-mg .error-msg{margin:0 !important;}
.user-view .min-max label{width:30%;}
.user-view .algo-table .error-msg{margin: 0;}
.period-outer{display: inline-block; width:54%;}
.add-ico-tb { margin: 0 0 0 0%; font-size: 20px; vertical-align: middle;}
.add-ico-tb i.fa-plus-circle{color: #3c8dbc;}
.add-ico-tb i.fa-minus-circle{color:rgb(161, 10, 40);}
/* Milestone 2 pages */

/* Sidebar */
.sidebar {padding-bottom: 50px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden;}
@media (min-width: 768px){
.sidebar-mini.sidebar-collapse .main-sidebar {
    width: 61px !important;
    }
}
/* Sidebar */

/****15Sep*****/
.display-sign-opt { width: 100%; float: left; padding: 0 15px; margin: 0;}
.percent-sign{ padding-top: 10px;margin-left: 10px;}
.series-module-hdr { width: 100%; text-align: right; float: left; margin-top: 30px; margin-bottom: -10px;}
.series-module-hdr h4 {width: 47.8%; text-align: center;float: right;background: #03485e;color: #fff;   padding: 8px 0;
margin-right: 16px;font-size: 13px; border-bottom: 1px solid #d5d5d5; border-radius: 8px 8px 0 0px;}
.credit-row{position: relative;}
.c-option{position: absolute;width: 100%;top: 23px; z-index: 999;}
.c-option .choose-opt{position: absolute; top: -15px;}
.user-view .com-form .credit-row > label{margin-left:21%; margin-right:0; width:23%;}
.c-option .choose-opt + .choose-opt{top: 29px;}
.has-error .c-option .choose-opt + .choose-opt{top: 50px;}
.user-view .wd54{width:54%;}
.select-dt .tb-top .ngxmdp{top: 26px;}
/****15Sep*****/

/* 19 sep */
.add-ico-act {color: #3c8dbc;margin: -8px 0 0 0;font-size: 24px; padding: 0;}
.period-outer{display: inline-block; width:54%;}
.pd-setup .select-outer div[class^="col-"]{padding:0 5px;}
.com-form .pd-setup span.choose-opt label{min-width:90%; margin:0;}
.pd-setup .period-select .select-dt {width: 31%;}
.pd-setup label{vertical-align:top;}
.pd-setup .period-select .fm-txt {min-height: 36px;width: 39%; margin: 3px 0 0 0; padding-left:3px;padding-right:3px;}
.user-view .algo-table .acc-txt{border:1px solid #d5d5d5; width:19%;}
.has-error .border-vanish{border:2px solid rgb(217, 217, 217) !important;}
.arabic-mode td .error-msg{text-align: left;}
.com-form .form-row .add-days label{width:22%; margin-right:2%;} 
.user-view .add-days .error-msg {margin: 0 0 0 26%; text-align:left;}
/* 19 sep */

/*start gurmeet-21-sept--*/
.com-form .arabic-mode label.dirlabel_left{ direction: ltr ;} 
/*end gurmeet-21-sept--*/

/* User Module  Settings*/
.user-md-select{width: 42%;}
.user-md-select input[type="text"]{width: 60%;}
input[ng-reflect--only-number="true"],input[onlynumber="true"]{text-align: right; direction: ltr;}
/* R Css Changes  19 sep*/

/* New CSS 10 oct*/

.childrenField:before {
    background-image:none !important;
}
.sidebar-menu >.pageLink >.active {
    background: #f69321;
    border: none;
    color: #fff;
    width: 100%;
}

.language-dp {float:right; margin:13px 0 0 0; }
.language-dp .btn-primary{border:none; background-color:#006181;}
.language-dp .dropdown-menu{box-shadow:0 0 10px #acacac;}

/* The Modal (background) */
.modal {
   /* display: none;*/ /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1; */ /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    /* width: 50%; */ /* Full width */
    /* height: 50%; */ /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    max-width:500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 12px;
    border-radius: 8px 8px 0px 0px;
    /* min-height: 250px; */
    /* float: left; */
}
.modal-lg .modal-content {
    max-width: 100%;
}
#cashReceiptEntryDistribution .modal-content
{
    max-width: 700px;
}

.pure-checkbox[_ngcontent-c2]   input[type="checkbox"][_ngcontent-c2]    + label[_ngcontent-c2]{width: 100% !important;}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */

.modal-header {
    padding: 8px 16px;
    background-color: #03485e;
    color: white;
    font-size: 17px;
    border-radius: 8px 8px 0px 0px;
}

.modal-body {
    padding: 26px 16px;
    min-height: 100px;
    font-size: 14px;
    font-weight: bold;
}

.modal-footer {
    padding: 8px 16px;
    background-color:#e1e1e1;
    color: white;
    font-size: 17px;
    padding: 15px 10px;
    text-align:center;
 
}
.btnClose{   
     width: 24px;
    height: 24px;
    background: url(../img/close.png) no-repeat;
    float: right;
    cursor: pointer;
    }
  .modal-body  .fa-exclamation-circle{font-size:30px; color:#f69321; vertical-align: middle; margin-right: 5px;}
  .modal-body p{font-size: 20px; font-weight: 600; text-align: center;}
.ct-msg {position: absolute; margin: 0 0 0 20px !important; left: 0;}
.user-view .com-form .form-row .cm-row label{width:100%}
/* New CSS 10 oct*/

.visible
{
    display: block !important;
}
.hide
{
    display: none !important;
}
.dotterTextBox
{
    border: 2px dotted #d3d3d3;width: 100px;padding: 0px 4px;text-align:center
}

.loader {
  /*border: 16px solid #000000;
  border-radius: 50%;
  border-top: 16px solid #e3e3e3;
  border-bottom: 16px solid #e3e3e3;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;*/
    width: 30px;
    height: 30px;
    background: url(../img/loader.gif);
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
}



@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.user-view .com-form .form-row .c-option label{width:100% !important;}
.c-btn[_ngcontent-c2]{min-height: 35px;}
.user-view .min-max .fm-txt{width:53%;}
.com-form .pd-setup .period-select span.choose-opt label{width:26%;}


/* BTI Milstone 2 */
.bt-row{display: inline-block; width: 100%;}
.user-view .com-form .form-row .label-outer, .modal .label-outer{
    display: inline-block !important;
    margin: 0 5% 0 0;
    text-align: left;
    width: 39%;
     vertical-align: top;
}
.user-view .com-form .form-row .label-outer label{width: 100% !important; margin:0 !important;}
.user-view .value-outer, .modal .value-outer{
    display: inline-block;
    width: 55%;
}
.user-view .value-outer .fm-txt{ min-height: 30px; width: 100%;font-weight:normal;}
.hf-txt{display: inline-block; width: 45%; margin-right:5%;}
.hf-txt+.hf-txt{width:48%; margin: 0;}
.user-view .hf-txt ul.check-list li {width: 100%;}
span.dm{display: inline-block; margin-right: 5px;}
span.dm + input {width: 75% !important;}

/** 18 dec **/
#FrmClearingEntry .hf-txt {
    display: inline-block;
    width: 19%;
    margin-right: 10px;
    text-align: center;
}
#FrmClearingEntry .JournalEntry {
    display: inline-block;
    width: 76%;
    vertical-align: top;
}

#clearingEntry .hf-txt {
    display: inline-block;
    width: 19%;
    margin-right: 10px;
    text-align: center;
}
#clearingEntry .JournalEntry {
    display: inline-block;
    width: 76%;
    vertical-align: top;
}
.user-view .dob-row .input-group-btn {
    right: 92px !important;
}
.dob-row input.fm-txt.dob {
    width: 100%;
    padding-right: 95px;
}
#JOURNALENTRY .hf-txt {
    display: inline-block;
    width: 19%;
    margin-right: 5px;
    text-align: center;
}
#JOURNALENTRY  input#journalID {   
    text-align: center;
}

#JOURNALENTRY #originalJournalID {
    display: inline-block;
    width: 32%;
    vertical-align: top;
}
#JOURNALENTRY .hf-txt#Intercompany {
    width: auto;
    padding-left: 7px;
    vertical-align: middle;
}
button.close-button.btn {
    float: none;
    border-radius: 30px;
    padding: 10px 25px;
    width: 90px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.modal-content .form-row:last-child {
   /* margin-bottom: 0;*/
    min-height: 1px;
}
.modal-content  .button-row{
    text-align: center;
    margin: 0 ;
}
.modal-content input.orange-btn-sm, .modal-content .blue-btn-sm, .modal-content button.close-button.btn {
    padding: 8px;
    width: 80px;
    margin: 0 3px;
   
}
.modal-content .close
{
    opacity: 3.7;
    color: white
}

.ReversingDate{
    margin-top: 8px;
}
.ReversingDate.dob-row span.input-group-btn {
    right: 77px !important;
}
/** 19 dec **/
table#CLEARINGENTRY {
    min-height: 180px;
}
.user-view .dob-row .input-group-btn.calender {
    right: 77px !important;
}
.dob-row .ngxmdp {
    z-index: 9999;
}
/** 20 dec **/

.form-control{border: 2px solid #ccc !important; }
 .form-control:focus{border: 2px solid #3c8dbc !important; }
 .dropdown.open ul.dropdown-menu{border: 2px solid #3c8dbc !important;}
#originalJournalID {
    width: 100%;
}
.hf-txt.receiptNumber-input {
    width: 100%;
    margin: 0;
}
.padding0{
    padding:0;
    }
.padding-rt-0{
    padding-right: 0;
}
.hf-txt.Expire-Date-input{
    width: 100%;
}
.Expire-Date-input span.dm + input {
    width: 65% !important;
    display: inline-block;
}
.has-error .form-control:focus {
    border-color: #843534 !important;
}
.has-error .form-control {
    border-color: #a94442 !important;
}
#cashReceiptEntryDistribution .value-outer {
    float: right;
    width: 68%;
}
#cashReceiptEntryDistribution .label-outer {
    width: 27%;
    float: left;
}
#cashReceiptEntryDistribution .form-row {
    margin: 0;
}
.has-error .disable-input .form-control {
    border-color: #ccc !important;
}
.has-error .disable-input .form-control:focus {
    border-color: #ccc !important;
}
.user-view .dob-row .cl_calnRtlpos .input-group-btn {
    right: 76px !important;
    top: 24px !important;
}
.user-view .com-form .form-row .cl_calnRtlpos label {
    width: 100%;
}
input[name="debitAmount"],input[name="creditAmount"]{    direction: ltr;}
.padding-lt-0{padding-left: 0; padding-right: 15px;}
.modal .ui-select-choices[_ngcontent-c1]{max-height: 130px !important;}
.user-view .value-outer .error-msg{margin:0;}
/* 27 dec */

/* 3 Jan 2018 */
.modal .button-row .grey-btn{margin:0}
.modal .button-row input,.modal .button-row button{margin-bottom:10px;}

.user-view .dob--inner .input-group-btn {
    right: 76px !important;
}
.w100{width: 100% !important}
#apCashReceiptEntryDistribution .modal-dialog{margin: 0 auto}
#apCashReceiptEntryDistribution .modal .ui-select-choices[_ngcontent-c1],#distributionEntry .modal .ui-select-choices[_ngcontent-c1]{max-height: 95px !important;}
.modal .ui-select-toggle{overflow: hidden; word-wrap: break-word; white-space: normal}
.algo-table .add-ico-tb{margin-top:0; float: right;}
/* loader */
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
/* loader */

.modal .algo-table td{padding: 4px 10px !important;}
.table-responsive { min-height: 220px;}
.no-border-table td{border:none !important}
.algo--total-tb table{margin-bottom:0;}
.algo--total-tb + .form-row .algo-table{border-top:2px solid #d9d9d9}
span.ui-select-match-text{width: 90%;overflow: hidden;}
.form-row table#tblFiscalPeriod .ngxmdp .selector{position: absolute;}
.form-row table#tblFiscalPeriod tr:nth-last-child(-n+4) .ngxmdp .selector{
    /*declarations*/
    bottom:0 !important;
    height: auto !important;
}
table#tblFiscalPeriod .period-outer{width:100%; position: relative;}
table#tblFiscalPeriod ngx-my-date-picker{position: absolute; bottom: 0;}
.form-row .fs--period{overflow-x: initial;overflow-y: initial}
.algo-table table#tblFiscalPeriod td {
    padding: 15px 5px !important;}
/* Manage Division */
.mb-30{	margin-bottom: 30px;}
.mt-30{	margin-top: 30px;}
/* Manage Division */

/* Responsive */
@media (max-width: 1024px){
.com-form .form-row div[class^="col-"] {margin-bottom: 15px;}
.search-txt{width: 50%;}
.select-dt{width: 100%;}

}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 9px;
		text-align:left;
    }
}

@media (max-width: 767px){
.main-header .logo, .main-header .navbar{ width:auto; }
.main-header > .navbar{width:100%;}
.main-sidebar .sidebar-toggle{width: 117%;}
.main-sidebar .sidebar-toggle::before{right:12px;}
.main-sidebar, .left-side {transform: translate(-260px, 0px); -webkit-transform: translate(-260px, 0px); -moz-transform: translate(-260px, 0px); -ms-transform: translate(-260px, 0px); -o-transform: translate(-260px, 0px);}
.main-header .logo, .main-header .navbar{width: auto;}
.navbar-custom-menu > .navbar-nav > li.highlight{height: 74px; background-color: #eaeaea;}
.navbar-custom-menu > .navbar-nav > li.highlight::after{height: 100%;}
.top-header-nav .navbar-nav > li a {border-radius: 20px;color: #fff; display: inline-block;padding: 6px 20px;}
.top-header-nav .navbar-nav > li{width: 100%;}
.main-header > .navbar{padding-bottom: 0;}


/* Login */
.login-outer{width: 95%;}
/* Login */

/* Add Company */
.com-form .form-row div[class^="col-"] {margin-bottom: 20px;}
.section-heading h2{padding-left:70px; font-size: 20px;}
.com-form .form-row .short-text label{font-size: 12px;}
.search-txt{width: 100%;}
/* Add Company */

.tooltip.right{left:50px !important; top:-40px !important;}
.tooltip.left{left:50px !important; top:-40px !important;}
.tooltip.left .tooltip-arrow{border-width: 0px 5px 10px 5px;border-bottom-color: #000; top:100% !important;  left: 50% !important; transform: rotate(-45deg);}
.tooltip.right .tooltip-arrow {border-width: 0px 5px 10px 5px;border-bottom-color: #000; top:100% !important; transform: rotate(45deg); left: 50% !important; }

.login-wrapper ul.language-check{position: static; float: right; margin:10px 10px 0 0 ;}
.navbar-static-top ul.language-check{position: absolute; left:0px; top:67px;}
.navbar-static-top ul.language-check li{border-color: #fff;}
.navbar-static-top ul.language-check li a{color:#ccc;}
.navbar-static-top ul.language-check li.active a{color:#fff;}

.bottom-view,.table-view,.button-row{width: 100%; text-align: center;}
.com-form .button-row button{display: inline-block; float: none; margin: 10px 0 0 0;}
.table-view span, .table-view .select-outer{display: inline-block; float: none;}
.table-view{margin:0 0 20px 0;}
}

@media (max-width: 639px){
	.logo-mini{float: left; width: 100%; text-align: center; padding: 0 0 20px 0; border-bottom: 1px solid #eaeaea;}
	.main-header .logo{float: none; display: inline-block;}
	.main-header > .navbar{float: left; width: 100%;}
	.navbar-custom-menu > .navbar-nav,.navbar-custom-menu {width: 100%;}
	.top-header-nav{clear: both;}
	.main-header > .navbar{padding:0;}
	.navbar-custom-menu > .navbar-nav > li.highlight::after {background: #eaeaea none repeat scroll 0 0;content: "";height: 77px;left: 0;position: absolute;top: -10px;width: 100%;}
	.navbar-nav > .user-menu .user-image{margin-top:5px;}
	.main-header > .navbar .orange-btn,.navbar-custom-menu .nav > li > a{vertical-align: middle;}
	.navbar-custom-menu > .navbar-nav > li.highlight::after {height: 100%;top:0; }
	.navbar-custom-menu > .navbar-nav > li.highlight{position:absolute; right: 61px; }
	.navbar-custom-menu > .navbar-nav > li.highlight + li{right:0;}
	.navbar-custom-menu .nav > li.user-menu > a{padding-left:0;}
	.navbar-custom-menu > .navbar-nav > li{height: 74px;}

/* Login */
.login-box{ padding: 30px 20px 30px 50px;}
.login-box .button-row > button  {margin-bottom:20px; }
.login-box .button-row > button +button{margin-right:0;}
/* Login */	

.select-dt {width: 100%;}
.small-seprator{width: 100%; margin: 15px 0; text-align: center;}

}

@media (max-width: 479px){
/* Manage Company */
.table-view{margin: 0 0 10px 0;}
.section-heading .orange-btn{position: static; float: left; margin: 10px;}
.module-outer{overflow-x: auto;}
.module{width:480px;}
/* Manage Company */
}

/* Responsive */

@media (min-width: 768px){
	.sidebar-mini.sidebar-collapse .sidebar-menu>li .pull-right-container {width: 20px !important;left: 225px !important;background: transparent;}
	.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {top: 42px;}
	.navbar-custom-menu>.navbar-nav>li.highlight:after{height: 86px;}
}

.fieldsetclass{
    border: 1px solid #ddd !important;
    margin: 0;
    xmin-width: 0;
    padding: 5px;
    position: relative;
    border-radius:4px;
    background-color:#f5f5f5;
    padding-left:5px!important;

}
#calculate-check-section .fieldsetclass{padding: 10px 5px 5px 5px;}

.attendancelabel
{color:#4b5463; font-weight: normal; font-size: 14px; display: block; text-transform: capitalize;}

form label {
    text-transform: capitalize;
	font-weight: normal;
}
.borderbox{
    border: 1px solid grey;
    padding: 10px;	
}
.datatable-header-cell div span{
	cursor: pointer;
}
.datatable-checkbox input[type=checkbox]{
	cursor: pointer;
}

.datatable-footer-inner{display: block !important;}
#filtersubmit{
    position: absolute;
    z-index: 1;
    top: 13px;
    color: #7B7B7B;
    cursor: pointer;
    width: 0;
    right: 41px;
}

.has-error2.table-responsive
{
    border: 2px solid #a94442;
    border-radius: 21px 21px 0px 0px;
    padding: 1px;
}
.table input
{
     border: 1px solid #dedede;
     padding:4px
}
.greenbtn {
    color: #FFFFFF;
    background-color: #88c057;
    padding: 5px;
    font-size: 12px;
    float:left;
    width:100%
}
.greenbtn:hover {
    color: #FFFFFF;
    background-color: #88c057;
}.requi-descript {
padding-right:0px;
}
.requi-description {
padding-left:0px;
}

.datatable-footer .datatable-footer-inner > div {
    float: left;
    padding-right: 15px;
}

.datatable-footer .datatable-footer-inner .page-count {
    line-height: 30px;
}

.list-group-item1 {
	background-color: #03485e;
	color: white;
	padding: 14px 5px 14px 10px;
    display: block;
    position: relative;
    word-wrap: break-word;
    white-space: normal;
	border-bottom: 1px dashed #fff;
}

.list-group-item1> li.active span.page {
	border-radius: 20px;
    background: #f69321;
    border: none;
    color: #fff;
    width: 75%;
    text-align: center;
}

#sidebar {
    overflow: hidden;
    z-index: 3;
}
#sidebar .list-group {
    min-width: 400px;
    background-color: #03485e;
    min-height: 100vh;
	color: #fff;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #03485e;
    color: #fff;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding: 14px 5px 14px 10px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
  background-color: #f69321; 
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
  padding: 14px 5px 14px 10px;
}

@media (max-width:768px) {
    #sidebar {
        min-width: 35px;
        max-width: 40px;
        overflow-y: auto;
        overflow-x: visible;
        transition: all 0.25s ease;
        transform: translateX(-45px);
        position: fixed;
    }
    
    #sidebar.show {
        transform: translateX(0);
    }

    #sidebar::-webkit-scrollbar{ width: 0px; }
    
    #sidebar, #sidebar .list-group {
        min-width: 35px;
        overflow: visible;
    }
    /* overlay sub levels on small screens */
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing {
        position: relative;
        z-index: 1;
        width: 190px;
        top: 0;
    }
    #sidebar .list-group > .list-group-item {
        text-align: center;
        padding: .75rem .5rem;
    }
    /* hide caret icons of top level when collapsed */
    #sidebar .list-group > .list-group-item[aria-expanded="true"]::after,
    #sidebar .list-group > .list-group-item[aria-expanded="false"]::after {
        display:none;
    }
}

.collapse.show {
  visibility: visible;
}
.collapsing {
  visibility: visible;
  height: 0;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: 100%;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* Calendar Style */
.isObsolete{
    pointer-events: none;
  }
  
  #datePicker .ngb-dp-day {
    width: 4.5rem !important;
    height: 2rem !important;
  }
  #datePicker .ngb-dp-weekday {
    width: 4.5rem !important;
    height: 2rem !important;
    line-height: 0.5rem !important;
    margin-left: 0rem !important;
  }
  #datePicker .ngb-dp-week-number {
    width: 4.5rem !important;
    height: 2rem !important;
    line-height: 1.5rem !important;
    margin-left: 0rem !important;
  }
  #datePicker .d-block {
    width: 28.5rem !important;
  }
  #datePicker .custom-day {
    width: 3.9rem !important;
  }
  #datePicker .d-flex {
    width: 28.5rem !important;
      margin: 2px 4px 4px 4px !important;
  }
  #datePicker .btn-link {
    font-weight: 0 !important;
    color: #95999c !important;
    border-radius: 0 !important;
    display: none !important;
  }
  
  #timePicker .btn-link {
    font-weight: 0 !important;
    color: #95999c !important;
    border-radius: 0 !important;
    display: none !important;
  }
  
  .d-none {
      display: none !important;
    }
    
    .d-inline {
      display: inline !important;
    }
    
    .d-inline-block {
      display: inline-block !important;
    }
    
    .d-block {
      display: block !important;
    }
    
    .d-table {
      display: table !important;
    }
    
    .d-table-row {
      display: table-row !important;
    }
    
    .d-table-cell {
      display: table-cell !important;
    }
    
    .d-flex {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
    }
    
    .d-inline-flex {
      display: -webkit-inline-box !important;
      display: -ms-inline-flexbox !important;
      display: inline-flex !important;
    }
    .bg-light {
      background-color: #f8f9fa!important;
  }
  
  small {
    font-size: 100% !important;
  }
  small,
  .small {
    font-size: 100% !important;
    font-weight: 400 !important;
  }
  
  #datePicker .custom-select:focus {
      border-color: #80bdff !important;
      outline: 0;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(128, 189, 255, 0.5);
    }
    
    #datePicker .custom-select:focus::-ms-value {
      color: #95999c !important;
      background-color: #fff !important;
    }
    
    .custom-select[multiple], .custom-select[size]:not([size="1"]) {
      height: auto;
      padding-right: 0.75rem;
      background-image: none;
    }
    
    .custom-select:disabled {
      color: #95999c !important;
      background-color: #e9ecef;
    }
    
    .custom-select::-ms-expand {
      opacity: 0;
    }
    
    .custom-select-sm {
      height: calc(1.8125rem + 2px) !important;
      padding-top: 0.375rem !important;
      padding-bottom: 0.375rem !important;
      font-size: 75% !important;
    }
    
    .custom-select-lg {
      height: calc(2.875rem + 2px) !important;
      padding-top: 0.375rem !important;
      padding-bottom: 0.375rem !important;
      font-size: 125% !important;
    }
  
    #datePicker .custom-day {
      text-align: center !important;
      padding: 0.185rem 0.25rem !important;
      border-radius: 0.25rem !important;
      display: inline-block !important;
      width: 3.5rem !important;
      padding-left: 0.1rem !important;
    }
    .custom-day:hover, .custom-day.focused {
      background-color: #95999c !important;
    }
    #datePicker .weekend {
      background-color: #95999c !important;
      color: white !important;
    }
      /* border-radius: 1rem !important; */
      #datePicker .hidden {
      display: none !important;
    }
    input[type=checkbox], input[type=radio] {
      margin: 13px 0 0 !important;
      margin-top: 1px\9;
      line-height: normal;
  }
  h2 {
    margin-left: 16px !important;
    padding: 0;
  }
  #datePicker select {
    padding: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    height: 0 !important;
    width: 0% !important;
    visibility: hidden !important;
    display: none !important;
  }
  #timePicker .btn {
  min-height: 34px !important;  
    display: inline-block !important; 
    padding: 6px 12px !important;
    margin-bottom: 0 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
  }
#isActiveEmployee input[type=checkbox] {
    margin: 7px 0 0 0 !important;
}
#isActiveEmployer input[type=checkbox] {
    margin: 7px 0 0 0 !important;
}
/* .button-row button{font-size: 12px; padding: 10px 10px;} */
.typeaheadcontainer1 .dropdown-menu{
    max-height: 155px;
    overflow-y: scroll;
}
@media print{
    * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important;  /*Firefox*/
      }
    
      @page:first { 
        margin-top: 0.5cm;
        margin-right: 0.5cm;
        margin-bottom: 1.5cm;
        margin-left: 0.5cm;
        font-size: 10px;
    }

    @page { 
        margin-top: 1.5cm;
        margin-right: 0.5cm;
        margin-bottom: 2.5cm;
        margin-left: 0.5cm;
        font-size: 10px;
    }

    body:before {
        content:url(../img/logo.png);
        position: absolute;
        z-index: 1;
    }

    .printBreakAfter{page-break-after:always !important;page-break-before:"" !important;float: none !important;}
    .printBreakBefore{page-break-before:always !important;page-break-after:"" !important;float: none !important;}
    .printBreak{page-break-before: always  !important;page-break-after:always !important;float: none !important;}

    /* @page:left{
        @bottom-left {
          content: "Page " counter(page) " of " counter(pages);
        }
      } */
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left !important;
    }
    .col-md-12 {
            width: 100rem;
    }
    .col-md-11 {
            width: 100rem;
    }
    .col-md-10 {
            width:100rem;
    }
    .col-md-9 {
            width: 100rem;
    }
    .col-md-8 {
            width: 100rem;
    }
    .col-md-7 {
            width: 58.33333333%;
    }
    .col-md-6 {
            width: 50%;
    }
    .col-md-5 {
            width: 41.66666667%;
    }
    .col-md-4 {
            width: 33.33333333%;
    }
    .col-md-3 {
            width: 25%;
    }
    .col-md-2 {
            width: 16.66666667%;
    }
    .col-md-1 {
            width: 8.33333333%;
    }

    hr, .doNotPrint, i.fa-gear, .button-row, .orange-btn, .blue-btn, .grey-btn, .input-group-btn, .main-footer
    {display:none !important;}

    a {
        color: rgb(79, 79, 79);
    } 
    .form-horizontal .form-group{
        overflow:visible;
        line-height: 1.1em;
    }

    img {
        page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-inside: avoid; /* or 'auto' */
    }

    .padd-0{
        padding:0px;
    }

    input.noBorderPrint {
        border: none;
        page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-inside: avoid; /* or 'auto' */
        overflow:visible;
    }
    .form-horizontal .control-label {
        font-size: 1rem;
        padding-top: 9px;
		text-align:left;
    }
    .fm-txt {
        min-height: 1.1rem;
    }
    .form-control
    {
        border-right: 0;
        border-left: 0;
        border-top: 0;
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 0;
        line-height: 1.1em;
    }

    #EmployeeMasterForm.form-horizontal .form-group{
        margin: 0 !important;
    }
    .control-label{
        /* margin-top: 0.4em; */
        font-weight: bold;
        page-break-inside:avoid !important;
    }
    .control-label:after {
        content: ":";
      }   

    input {
        line-height: 1.1em !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        border-right: 0;
        border-left: 0;
        border-top: 0;
        border-bottom: 1px solid #d9d9d9;
        page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
        page-break-inside: avoid; /* or 'auto' */
        overflow:visible;
    }
    /* #checkboxCol{displayCheck:false !important;}
    #actionCol{displayCheck:false !important;} */

    h2{font-weight: bold; margin-top: 1.4cm;margin-bottom: 0;text-align: center; justify-self: center;}
    #masterH2{margin-top: 0.5cm !important; }
    .content-heading{display:none !important;}
    .section-heading{margin:0;}

    #EmpMasterGrid1 {width: 100vw;}
    table {page-break-inside: avoid;}
    /* tr    { page-break-before: auto  !important;page-break-inside:avoid; page-break-after:auto; }
    td    { page-break-inside:avoid; page-break-after:auto; }
    thead { display:table-header-group; }
    tfoot { display:table-footer-group; } */

    .ngx-datatable{ max-width: 100%;page-break-inside:avoid;}
    .ngx-datatable .datatable-footer .datatable-footer-inner{display:none !important;}    
    .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{background-color: #cfcfcf !important;}
    /* .algo-table table td, .algo-table .ngx-datatable .datatable-body-cell{border:1px solid #cfcfcf;} */
 
    select {
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
    }
    
    /* For IE10 */
    select::-ms-expand {
        display: none;
    }

    #passportImg{
        height: 2in;
    }
  }
  .modal-lg{
      width: 1750px;
  }

  .up-padding{
      padding-top: 10px;
  }

.dobCustomRow .input-group-btn .btn {    
    line-height: normal !important;
    margin: -2px 0px 0px 0px !important;
}

.dobCustomRow .input-group-btn {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 2px;
    right: 85px;
}

.dobCustomRow2 .input-group-btn {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 26px;
    right: 91px;
}

.myNotifyCount {
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    padding: 1px 5px !important;
    top: 10px;
    right: 0;
    font-size: 12px;
}

.myExtraMenu:hover .dropdown-notification-menu {
    display: block;
}

ul.dropdown-notification-menu {
    display: none;
    position: absolute;
    width: 400px;
    top:30px;
    padding: 0px; left: 15px;
    overflow:auto;
}
ul.dropdown-notification-menu li {
    display: list-item;
    border-bottom: 1px solid #ccced0;
    padding: 5px 0px;
    background-color: #ecf0f5;
    border: 1px solid #ccced0;
}

.dropdown-notification-menu li:last-child {
    border-bottom:none;
}
ul.dropdown-notification-menu li a {
    color: #006181 !important;
    text-align: left !important;
    text-transform: inherit !important;
    padding: 2px 10px !important;
    width: auto;
    display: block;
    font-size: 12px;
}
.dropdown-notification-menu li:hover {
    background-color: rgba(0, 97, 129, 0.9) !important;
}
.dropdown-notification-menu li:hover a {
    color: #fff !important;
    background-color: transparent !important;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* 
.clickable{
    cursor: pointer;
  } */

@media (max-width: 479px){
    .create-lead-page .custom-section .form-group, .create-lead-page .custom-section .form-group div {margin-bottom: 10px !important;}
    .activityTimeline .main-timeline {margin-left: 0px !important;}
    .activityTimeline .container {padding-right: 0px !important; padding-left: 0px !important;}
    .activityTimeline .main-timeline.solid::before, .main-timeline.solid::before {left:7% !important;}
   /* .grid-leve-2 div {
        display: inline-block;
        width: 50% !important;
        height: 40px !important;
    }*/
    .create-account-pg .custom-section div {
        margin-bottom: 8px;
    }
    .com-form .form-row div {
        margin-bottom: 10px !important;
        margin-top: 0px;
    }
    .guidance-section {
        background-color: #FFF;
        padding: 20px 15px;
        margin: 0 15px 20px 15px;
        border-radius: 5px;
    }

    }

    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.report-action-btns button {padding:10px 25px;}
.grid-leve-2 .dobCustomRow {width: 30%;}
.grid-leve-2 .report-action-btns {width: 100%; margin: 0px !important;}
.add-lead-source {width: auto;}
.com-form .form-row label {font-size: 12px;}
.content-wrapper {min-height: auto !important;}
.set-stage-btn { width: 150px;}
    }

    @media screen and (min-width: 768px) and (max-width: 850px) { 

        .customRowForListing div {width: 25%;}
        .customRowForListing div label {font-size: 12px;}
        .grid-leve-2 div {margin-bottom: 5px;width: 23%;}

        .custom-section div.form-group div {width: 100%;}
        .ngx-datatable .datatable-header {overflow: visible !important;}
    }
  .center-column {
    margin: 0 auto;
    float:  none !important;
  }

  .fix-print{
    clear: both;
  }
