@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
body{font-family: 'Open Sans', sans-serif; direction: rtl;  /* Right to Left */ font-weight: normal;}
button,a,i,img,input{outline: 0; border:none;  direction: rtl;}
.wrapper{background-color: #ecf0f5;}
.print-tabel{display:none;}

/* General */
@keyframes rotate{0%{transform:rotate(0deg)}to{transform:rotate(-90deg)}}
@-webkit-keyframes rotate{0%{transform:rotate(0deg)}to{transform:rotate(-90deg)}}
@-moz-keyframes rotate{0%{transform:rotate(0deg)}to{transform:rotate(-90deg)}}
@-o-keyframes rotate{0%{transform:rotate(0deg)}to{transform:rotate(-90deg)}}
.sidebar-menu li.active>a>.pull-right-container>.fa-angle-left{animation-name:rotate;animation-duration:.2s;animation-fill-mode:forwards}
h1,h2,h3,h4,h5,h6{margin: 0; padding: 0;}
.table-responsive{border:0;}
ul,li{list-style-type: none;}
/* General */
a {color: #3c8dbc;cursor: pointer}

/* Buttons */
.orange-btn{padding:10px 40px; background:#f69321; border-radius: 30px; border:none; color:#fff; text-transform: uppercase; display:inline-block;}
.orange-btn:hover,.orange-btn:focus{background:#fb9e32; color:#fff !important; }
.orange-btn-sm{font-size: 12px;padding: 10px 25px;width: 90px;text-align: CENTER; background:#f69321; border-radius: 30px; border:none; color:#fff; text-transform: uppercase; display:inline-block;}
.orange-btn-sm:hover,.orange-btn-sm:focus{background:#fb9e32; color:#fff !important; }
.white-btn{padding:10px 40px; background:#e6e6e6; border-radius: 30px; border:none; color:#3c3c3c; font-weight: 600; text-transform: uppercase; display:inline-block;}
.white-btn:hover,.white-btn:focus{background:#fff;}
.blue-btn{padding:10px 40px; background:#03485e; border-radius: 30px; border:none; color:#fff; font-weight: 600; text-transform: uppercase; display:inline-block;}
.blue-btn:hover,.blue-btn:focus{background:#055872; color:#fff !important; }
.blue-btn.disabled{background: gray}
.grey-btn{padding:10px 40px; background:#707070; border-radius: 30px; border:none; color:#fff; text-transform: uppercase; display:inline-block;}
.grey-btn:hover,.grey-btn:focus{background:#5c5c5c; color:#fff !important; }

.white-btn{padding:10px 40px; background:#e6e6e6; border-radius: 30px; border:none; color:#3c3c3c; font-weight: 600; text-transform: uppercase; display:inline-block;}
.white-btn:hover,.white-btn:focus{background:#fff;}
.blue-btn{padding:10px 40px; background:#03485e; border-radius: 30px; border:none; color:#fff; font-weight: 600; text-transform: uppercase; display:inline-block;}
.blue-btn:hover,.blue-btn:focus{background:#055872; color:#fff !important; }
.setting-btn-wrap{ position: relative; top: 0; right: 0; margin-bottom: 15px; margin-right: 16px; text-align: left; }
.setting-btn{padding: 8px 12px; background:#f69321; border-radius: 30px; border:none; color:#fff; display:inline-block; }
.daynamic-position { float: left; }
.blue-btn-sm{
    font-size: 12px;
    padding: 10px 25px;
    width: 90px;
    text-align: CENTER;
    margin: 0px 11px;
    background:#03485e;
    border-radius: 30px;
    border:none; 
    color:#fff;
     font-weight: 600;
      text-transform: uppercase; 
      display:inline-block;
}
.blue-btn-sm:hover,.blue-btn:focus{font-size: 12px;
    background:#055872; color:#fff !important;
    }


/* Buttons */

/* Main Header */
.main-header>.navbar{padding:10px 0;}
.main-header .logo{margin:10px 0 0 0;}
.navbar-nav>.user-menu .user-image{width:64px; height:64px; overflow: hidden;}
.user-menu span{margin:15px 0 0 0; display: inline-block; color:#4b5463; font-size: 14px;}
.navbar-custom-menu .nav>li>a{padding:0 15px; display: inline-block; vertical-align: middle;}
.user-menu{padding:0 15px;}
.navbar-custom-menu>.navbar-nav>li.highlight{position: relative;}
.navbar-custom-menu>.navbar-nav>li.highlight img{margin:15px 0 0 0;}
.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus{background:transparent; }
.navbar-custom-menu>.navbar-nav>li.highlight:after{position: absolute; content: ""; background:#eaeaea; top:-10px; height:82px; width: 100%; left: 0;}
.navbar-custom-menu>.navbar-nav>li.highlight a{position: relative; z-index: 99;}
.navbar-custom-menu>.navbar-nav>li{border-left: 2px solid #fff;}
.main-header > .navbar{margin-right:230px; margin-left: 0;}
.main-header .logo{float: right;}
.main-header .navbar-custom-menu, .main-header .navbar-right{float: left;}
.main-header .navbar-custom-menu ul{padding: 0;}
.navbar-custom-menu > .navbar-nav > li,.navbar-custom-menu .nav > li > a{float: right;}
.navbar-custom-menu > .navbar-nav > li.user-menu .orange-btn{margin-top:18px; margin-right: 10px; margin-bottom:16px; padding:6px 20px; text-transform: none;}

/* Top Header Nav */
.top-header-nav .navbar{margin:0; background:#006181; border-radius:0; border:none; width: 100%; text-align:center;}
.top-header-nav{display: block;}
.top-header-nav .navbar-nav{float:none;}
.top-header-nav .navbar-nav>li{float:none; display: inline-block; padding:9px 0;}
.top-header-nav .navbar-nav>li a{color:#fff; padding:6px 20px; border-radius: 20px;}
.top-header-nav .navbar-nav>li a:hover,.top-header-nav .navbar-nav>li a:focus{ background:#03485e; color:#fff;}
/* Top Header Nav */

/* Main Header */

/* SideBar */
.main-sidebar, .left-side{background-color:#03485e; }
.sidebar-menu li>a{font-size: 13px; color:#fff;}
.main-sidebar, .left-side{padding-top:0px;}
.sidebar-menu li{border-bottom: 1px dashed #fff;}
.side-icon{display: inline-block;  margin: 0px 8px 0 0; vertical-align: middle}
.manage-company{width:18px; height:25px;  background:url(../img/manage-company-icon.png) no-repeat;}
.manage-user{width:23px; height:22px;  background:url(../img/manage-user-icon.png) no-repeat;}
.manage-group{width:24px; height:22px;  background:url(../img/manage-group-icon.png) no-repeat;}
.manage-dashboard{width:24px; height:22px;  background:url(../img/dashoard-icon.png) no-repeat;}
.manage-rl{width:24px; height:22px;  background:url(../img/manage-rl-icon.png) no-repeat;}
.manage-ip{width:24px; height:22px;  background:url(../img/ip-icon.png) no-repeat;}
.manage-role{width:24px; height:20px;  background:url(../img/manage-role-icon.png) no-repeat;}
.authorization-icon{width:25px; height:25px;  background:url(../img/authorization-icon.png) no-repeat;}
.setting-icon{width:23px; height:23px;  background:url(../img/setting-icon.png) no-repeat;}
.sidebar-menu>li>a{padding-left:10px;}
.sidebar-menu>li>a span.page{padding:5px 10px; display: inline-block; width: 82%; vertical-align: middle;}
.sidebar-menu>li:hover>a,.sidebar-menu>li.active>a{background: #03485e;}
.user-image{border:1px solid rgba(0,0,0,0.13);}
.sidebar-menu>li.active span.page{border-radius: 20px;
    background: #f69321;
    border: none;
    color: #fff;
    width: 75%;
    text-align: center; 
}
.sidebar-menu .treeview-menu>li> a:hover {
    background: #f69321;
    border: none;
    color: #fff;
    width: 100%;
}
.sidebar-menu>li.active .manage-company{background:url(../img/manage-company-icon-hover.png) no-repeat;}
.sidebar-menu>li.active .manage-user{background:url(../img/manage-user-icon-hover.png) no-repeat;}
.sidebar-menu>li.active .manage-group{background:url(../img/manage-group-icon-hover.png) no-repeat;}
.sidebar-menu>li.active .manage-role{background:url(../img/manage-role-icon-hover.png) no-repeat;}
.sidebar-menu>li.active .authorization-icon{background:url(../img/authorization-icon-hover.png) no-repeat;}
.sidebar-menu>li.active .setting-icon{background:url(../img/setting-icon-hover.png) no-repeat;}
.sidebar-menu .treeview-menu{background: #022e3c; padding:0;}
.sidebar-menu .treeview-menu li:last-child{border-bottom:none;}
.sidebar-menu .treeview-menu>li>a
{padding:10px 10px 10px 30px;  
    font-size: 12px;
    vertical-align: middle;
    display: inline-table;
    text-transform: capitalize;
    width: 100%;}
.sidebar-menu .treeview-menu>li .active
{
    background: #f69321;
    border: none;
    color: #fff;
    width: 100%;
}
.sidebar-menu .treeview-menu li{border-bottom:1px solid #055068;}
.sidebar-menu>li>a {padding: 14px 5px 14px 10px;display: block; position: relative; word-wrap: break-word;
    white-space: normal;}
.sidebar-mini.sidebar-collapse .sidebar-menu>li .pull-right-container{width:20px !important;left:225px !important; background: transparent;}
.sidebar-mini.sidebar-collapse .sidebar-menu>li span.page{left:105% !important; }
.sidebar-menu>li span.pull-right-container {position: absolute;left: 10px;}
.main-sidebar .sidebar-toggle {top:0; background:#033646; display:block; height: 50px;position: relative; text-align: left;  width: 100%;z-index: 999;}
.sidebar-menu{margin-top:0px; min-height:800px; }
.main-sidebar .sidebar-toggle:before{content:"\f0c9"; left: 15px;  font-family: fontawesome; color:#fff; position: absolute; top:8px; font-size: 24px}
.sidebar-collapse .main-sidebar .sidebar-toggle:before { right: 10px; }
.sidebar-menu{overflow:hidden; overflow-y:auto; }
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{display: none !important;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: transparent;}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
/* SideBar */

/* Login */
.login-wrapper{margin:0; }
.login-outer{max-width: 538px; width: 100%; margin: 0 auto;}
.login-inner{float: left; width: 100%; margin: 10% 0 0 0;}
.login-inner h2{margin: 0; text-align: center; color: #fff;}
.login-box{float:left; width:100%; background: #006181; padding:40px 70px 40px 40px;  border-top:9px solid #f69321; box-shadow: 0 0 5px rgba(0,0,0,0.35);}
.login-box h3{color:#fff; margin: 0 0 30px 0; font-size: 20px; font-weight: 400;}
.login-box p{color:#e6e6e6; font-size: 15px; font-weight: normal; margin: 0 0 20px 0;}
.common-txt {border-radius: 5px;min-height: 45px; border:2px solid #d9d9d9; }
.form-row {float: left;width: 100%;min-height: 70px; position: relative;}
.button-row {display:inline-block; clear:both; width: 100%; margin: 20px 0 0 0;}
.fg-pass{float:left; font-size: 13px; color:#fff; font-weight:bold; margin: 1px 0 0 0;}
.fg-pass:hover,.fg-pass:focus{text-decoration: underline; color:#fff;}
.default-check{display: inline-block;}
.default-check label{color:#fff; cursor: pointer; font-size: 13px; font-weight: normal;}
.default-check input[type="checkbox"]{ vertical-align: middle; display: inline-block; margin: 0; }
.default-check span{margin:0 5px 0 0; display: inline-block;} 
.login-box .orange-btn,.login-box .white-btn {vertical-align: top; display:inline-block;}
.login-box .button-row a + button {margin-right:20px;}
.login-box .form-row + .button-row{margin:0;}
.user-row:before {content: '';width: 21px;height: 21px;position: absolute;right: -32px;background: url(../img/user-ico.png) no-repeat;top: 10px;}
.key-row:before {content: '';width: 21px;height: 21px;position: absolute;right: -32px;background: url(../img/key-ico.png) no-repeat;top: 10px;}
.mail-row:before {content: '';width: 21px;height: 21px;position: absolute;right: -32px;background: url(../img/mail-ico.png) no-repeat;top: 10px;}
/* Login */

/* Add Company */
.section-heading{display:inline-block; clear: both; width: 100%; background-color: #fff; margin: 0 0 30px 0; position: relative;}
.section-heading h2{padding:15px 20px; color:#323232; font-size: 24px; font-weight: normal; }
.inner-content{display:inline-block; clear: both; width: 100%; padding:20px 20px; padding-top:0;}
.content-outer{display:inline-block; clear: both; width: 100%; margin: 0 0 0 0;}
.content-heading{display:inline-block; clear: both; width:100%; margin: 0 0 30px 0;}
.content-heading h3{color:#f69321; font-size: 18px; font-weight: normal; font-weight: 600;}
.fm-txt{border-radius: 2px;min-height: 40px; border:2px solid #d9d9d9; position: relative; }
.com-form .form-row label{color:#4b5463; font-weight: normal; font-size: 14px; display: block; text-transform: uppercase;} 
.com-form .form-row label_normal{color:#4b5463; font-weight: normal; font-size: 14px; display: block;} 
.com-form .form-row{margin-bottom:30px;}
.com-form .form-row div[class^="col-"],.com-form .form-row div[class^="has-"]{float: right !important;}
.short-text{float: right;width: 37%; margin:0 0 0 3%;}
.right-fm-text{float: right;width: 60%; margin:0 0 0 0;}
textarea.fm-txt{min-height: 85px; resize: none;}
.fm-smalltxt{border-radius: 2px;height: 25px; border:2px dotted #d9d9d9;width:26%;float: left;margin: 0px 5px;text-align: center }
.btn {min-height: 40px;}
.cm-row{display: inline-block; width: 100%; margin:0 0 30px 0;}
.com-form .button-row{margin: 0 0 20px 0; }
.com-form .button-row button{float: right;}
.com-form .button-row button + button{margin-right:20px;}
.com-form .button-row button + a{margin-right:20px; display: inline-block; vertical-align:top;}
.com-form .button-row button + a:hover{color:#fff;}
select{-webkit-appearance: menulist-button !important;}
/*.select-outer{background: #fff;}*/

.select-outer select{border:none; margin: 3px 0 0 0; border: 2px solid #d9d9d9; min-height:40px;}
.section-heading .orange-btn{position: absolute; left:30px; top:9px; padding:8px 25px;}
.search-txt{border-radius: 30px;min-height: 42px; width:30%; padding: 0 15px; border:2px solid #d9d9d9; outline: 0; background: url('../img/search-ico.png') #fff no-repeat;   background-position: 18px 10px;}
.algo-table,.ngx-datatable{display:inline-block; clear: both; width: 100%; margin: 0 0 15px 0;}
.algo-table table th,.algo-table .ngx-datatable .datatable-header-cell{background: #03485e; color: #fff; font-size: 14px; font-weight: normal; text-align: right; padding:15px 15px !important; border-right:1px solid #cfcfcf; border-bottom: none !important;}
.algo-table table th:first-child,.algo-table .ngx-datatable .datatable-header-cell:first-child{border-top-right-radius: 20px; border:none;}
.algo-table table th:last-child,.algo-table .ngx-datatable .datatable-header-cell:last-child{border-top-left-radius: 20px;}
.algo-table table,.algo-table .ngx-datatable{border:none; }
.algo-table table td,.algo-table .ngx-datatable .datatable-body-cell{padding:15px 15px !important; border-right:1px solid #cfcfcf; background: #fff; border-bottom: 2px solid #f0f0f0; font-size: 14px; color: #4b5463;font-weight:normal}
.algo-table table td:first-child,.algo-table .ngx-datatable .datatable-body-cell:first-child{border-right: none;}
.algo-table .ngx-datatable .datatable-body-cell-label{word-wrap: break-word;}
.bottom-view{float: left;}
.bottom-pagination ul,.datatable-pager ul{margin: 0; padding: 0;} 
.bottom-pagination .pagination>li,.datatable-pager li{float: right;}
.bottom-pagination .pagination>li:first-child>a,.bottom-pagination .pagination>li:first-child>span{border-radius: 0;}
.datatable-pager li a{border-radius: 0;  background: #fafafa; color: #666;}
.datatable-pager li.pages.active a {
    background: #23527c;
    float: left;
    color: #ffffff;
}
.datatable-pager li.disabled a{color:#bdbdbd;}
/*.table-view{float: left;}*/
.table-view span,.table-view .select-outer{float: right;}
.table-view .select-outer{/*min-height: 30px;*/ max-width: 150px;}
.table-view .select-outer select{height: 30px;}
.table-view span {margin: 9px 30px 0 10px;}
.company-info{float: right; text-align: right; display: inline-block; width: 100%;}
.company-info p{color: #4b5463; font-size: 14px;}
.company-info p span{color:#006181; float: right;}
.wide-table{max-width: 1800px; width: 1800px;}
.view-ico{width: 31px; height: 16px; float: right; background: url('../img/view-ico.png'); margin: 3px 0 0 15px;}
.edit-ico{width: 18px; height: 18px; float: right; background: url('../img/edit-ico.png');}
.restore-ico{width: 20px; height: 20px; float: right; background: url('../img/restroe.png'); margin: 0px 0 0 15px;}
.block{color: #f62121; margin: 0 10px 0 0;}
.allow{color: #297b0d; margin: 0 10px 0 0;}
.formm-dd{height:36px; border:none;background: #fff; width: 100%; float: right; text-align: right; border-radius: 0;}
.formm-dd:active, .formm-dd:hover, .formm-dd:focus{background-color: #fff;}
.formbtn-group .dropdown-menu{width: 100%; right:0; margin: 0; padding: 0; top:38px; text-align:right; border-radius: 0; }
.formbtn-group{position: relative;}
.formbtn-group .dropdown-menu>li>a{font-size: 14px;}
.formbtn-group .dropdown-menu>li>a input[type="checkbox"]{margin:0 0 0 10px;}
a {
    color: #3c8dbc;
    cursor: pointer
}

.access-btn {margin-left: 8px; float: left; margin-top: -5px;background: white}
.tb-heading{float:left; width: 100%; padding:0px 15px;background: #03485e; border-top-left-radius: 10px; border-top-right-radius: 10px;}
.tb-heading h3{float: left; color:#fff; line-height: 40px; font-weight: 400; font-size: 20px;}
.module{clear: both;}
.module .panel-body{padding:0;}
.module .panel-group .panel+.panel{margin:0;}
.module .panel{border-radius: 0; border:none; border-bottom:1px solid #d5d5d5;}
.module .panel-group{margin-bottom: 0;}
.permission-list{float: right; margin: 0; padding: 0;}
.module .panel-heading{padding:0px 15px; border-radius: 0; border:none; background-color: #fff; display: inline-block; width: 100%;}
/*.permission-list li{float:right; border-right: 1px solid #d5d5d5; padding: 10px 0px; min-width:75px; text-align: center;}*/
.permission-list li{float:left; border-left: 1px solid #d5d5d5; padding: 10px 0px; min-width:75px; text-align: center;}
.tb-heading .permission-list li{border-color:#fff; color:#fff;}
.module .panel-title{display:inline-block; margin: 10px 0 0 0;}
.panel-inner{float:left; padding:0 15px; width: 100%;}
.panel-text{margin: 10px 0 0 0; padding:0 0 0 40px; display: inline-block;}
.module .panel-title a:hover,.module .panel-title a:active,.module .panel-title a:focus{color:#03485e;} 
.module .panel-collapse .panel-heading{padding-left:30px;}
hr{border-color: #ccc; margin-top: 0;}
.selection{display: inline-block; width: 100%;}
.select-dt{display: inline-block; width: 42%;}
.select-dt .fm-txt{width:87%; display: inline-block;}
.select-dt a{display: inline-block; vertical-align: middle;}
.select-dt a i{font-size: 26px; color:#404040;}
.small-seprator{display: inline-block; margin: 0 5%;}
.select-dt .select-outer{width: 100%;}
.com-form .arabic-mode div[class^="col-"] {float: right;}
.com-form div[class^="col-"] {float: right;}
td.arabic-mode + td{border-left: 1px solid #cfcfcf;}
th.arabic-mode + th{border-left: 1px solid #fff;}
.tooltip{min-width: 250px; direction: rtl;}
.tooltip-inner{padding: 10px;}
.tooltip.right{left:-240px !important;}
.tooltip.right .tooltip-arrow {right: 0; margin-top: -5px;border-width: 5px 0px 5px 5px;border-left-color: #000;}
.tooltip.left{right:-200px !important; left:auto !important;}
.tooltip.left .tooltip-arrow {right: auto !important; left: 40px !important; margin-top: -5px;border-width: 5px 5px 5px 0px;border-right-color: #000;}

.required{position: relative;}
.required:after{content:"*"; position: relative; font-size: 16px; color:red;}
.error-msg{color:red; font-size: 13px; display: block;font-weight:normal}
.arabic-mode .error-msg{text-align: right;}
.formm-dd .caret{/*float: left; margin: 9px 0 0 0;*/ position: absolute;left: 10px;
    top: 16px;}
select.form-control{padding:3px 12px;}
.select-outer ss-multiselect-dropdown .dropdown-toggle{text-align: right;}
.select-outer ss-multiselect-dropdown .dropdown-menu{left:auto; right:0; }
ul.pager li:last-child a,ul.pager li:nth-last-child(2) a{transform:rotate(180deg);}
ul.pager li:first-child a,ul.pager li:nth-child(2) a{transform:rotate(180deg);}
ul.language-check{position: relative;}
ul.language-check li{display: inline-block;  border-left:1px solid #666;}
ul.language-check li a{margin: 0 10px; color:#3c3c3c;}
ul.language-check li.active a{color:#006181; font-weight: 600;}
ul.language-check li:last-child{border:none;}
.login-wrapper ul.language-check{position: absolute; left:5%; top:30px; }
.navbar-static-top ul.language-check{float: left; margin: 15px 0 0 0;}
/* Add Company */

/* Footer */
.main-footer {background: #e1e1e1 none repeat scroll 0 0;border: medium none;color: #59616e; float: left; font-size: 13px; height: 50px; margin: 0; max-height: 50px;position: relative;text-align: center; width: 100%; z-index: 999; padding:0; line-height: 50px; transform: none !important;}
.sidebar-mini.sidebar-collapse .main-footer{margin-left:0 !important;position: relative; z-index: 999;}
/* Footer */

/* Manage role edit */
.role-tabs{display: inline-block; width: 100%; margin: 0 0 20px 0;}
.role-tabs .nav-tabs>li>a{background-color: #03485e; color:#fff; border:1px solid #ddd; border-bottom: 0;}
.role-tabs .nav-tabs>li.active>a,.role-tabs .nav-tabs>li.active>a:focus,.role-tabs .nav-tabs>li.active>a:hover{background-color: #fff; color:#03485e;border-bottom:0;}
.role-tabs .tab-content{background: #fff; border:1px solid #ddd; border-top:none; padding:30px;}
.module .panel-group{clear: both;}
.tb-heading h3 {float: right;}
.permission-list {float: left;}
.module .panel-collapse .panel-heading{padding-left:15px; }

.input-group-btn{display: inline-block;  margin: -2px 0 0;}
.checkbox label, .radio label { margin-left:0; margin-right:20px; }
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] { margin-left:0; margin-right:-20px; }
.select-dt .ngxmdp .selectorarrow::after,.select-dt .ngxmdp .selectorarrow::before{display: none;}
.select-dt .ngxmdp{position: absolute;  top: -250px;}
.select-dt input[type="text"]{width: 60%; background:#fff;}
.select-dt{position: relative; vertical-align: top;}
.select-outer .dropdown{ border: 2px solid #d9d9d9;}
.dob{width:81%; display: inline-block;}
 .form-row .ngxmdp{position: absolute; top: -227px; right:20px;}
.form-row .ngxmdp .selector{position: relative;}
.dropdown.dropdown-inline {float: left; width: 100%; background: #fff;}
.select-outer .dropdown-toggle{width:100%; text-align: left; border:none; background-color: #fff !important; background: #fff !important; border-radius: 0; }
.select-outer .dropdown-toggle:focus,.select-outer .dropdown-toggle:active{background: #fff !important; background-color: #fff !important;}
.cd-accordion-menu label::before{right:0;}
.cd-accordion-menu label, .cd-accordion-menu a {
    padding: 11px 36px 11px 10px !important;
}
.cd-accordion-menu > li {
    padding: 0 0px 0 15px !important;
}
.permission-list span{    border-right: 1px solid #d5d5d5; border-left: 0 !important;}
.role-tabs .button-row{margin-top:30px;}
.cd-accordion-menu ul label, .cd-accordion-menu ul a {
    border-bottom: 1px solid #d5d5d5;
    padding-right: 82px !important;
}
i.datatable-icon-right:before{transform:rotate(180deg);}
/* Manage role edit */
/* MultiSelect Dropdown Start*/
.c-token {
    margin: 2px 4px;
	background: #337ab7 !important;
}
span.fa.fa-remove {
    margin-left: 5px !important;
}
/* MultiSelect Dropdown End*/
/* NG CSS */
#MainGrid{width:1781px;}
.has-error .fm-txt{border-color:#a94442;}
.has-error .form-control{border-color: #a94442;border: 2px solid #a94442;}
#UserGrid1{width:1362px;}
#UserGroupGrid{width:1048px;}
#RoleGroupGrid{width:1048px;}
#AuthGrid{width:1797px;}
#RoleGrid{width:1052px;}
#whiteListGrid{width:1056px;}
/* NG CSS */
.arabic-left{direction: ltr;}
.pie-label{font-size:10px !important;}
ul.dropdown-menu{text-align: right;}
.dropdown-list   ul{max-height:250px !important;}
.selected-list  button{box-shadow: none !important;  text-align: right; padding:8px !important;}
.selected-list .c-btn{border:none !important; border: 2px solid #d9d9d9 !important;}
.selected-list button.dropdown-toggle{border:none !important; }
.selected-list button.dropdown-toggle:focus{border: 2px solid #d9d9d9 !important;}
.selected-list .c-btn:focus,.selected-list button.dropdown-toggle:focus{border-color: #3c8dbc !important; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;; -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;}
.has-error .selected-list .c-btn{border-color: #a94442 !important;}
.cuppa-dropdown ul li{text-align:right !important;}
.selected-list .fa-angle-down, .selected-list .fa-angle-up{left: 10px !important; right:auto !important;}
.cuppa-dropdown .select-all{text-align: right !important;}
.dropdown-list   ul{max-height:250px !important;}
login-header + .wrapper + #footer{display: none;}
login-header + .wrapper .main-footer{bottom:0; position: absolute;}
.tooltip-inner{background-color:#03485e;}
.tooltip-inner p{color:#fff !important;}
.tooltip.top .tooltip-arrow {border-top-color: #03485e;}


/* Milestone 2 pages */
.short-text-half{float: left; width: 57%; margin: 0 3% 0 0;}
.right-short-text{float: left; width: 40%;}
.del-ico{ width: 16px;height: 19px; float: left;background: url(../img/del-ico.png); border: none; margin: 0px 0px 0 13px;}
.form-row .fm-txt + input{margin-top: 10px;}
.com-form .form-row .choose-opt label{width: auto; display: inline-block; margin: 0 0px 0 10px; text-transform: none; cursor: pointer;}
.form-row label > input[type="checkbox"] {margin: 2px 0px 0 4px; display: inline-block; vertical-align: middle; float:right;}
.form-row label > input{cursor:pointer;}
ul.check-list{margin: 0; padding:0 15px;}
ul.check-list li{margin: 0 0 10px 0;}
.com-form .form-row ul.check-list li label{display: inline-block; width: 100%; margin: 0; cursor: pointer; text-transform: none;}
.tview-left{float: left !important;}
.content-heading button + h3,.content-heading.text-right h3{/*margin-top:20px;*/ float: left;}
.period-select{margin: 0 0 0 0;}
.period-select .select-dt{width:36%;}
.select-dt-full{width:100%;}
.select-dt-full input[type="text"]{width:94%;}
.content-heading .choose-opt{display: inline-block; margin-right: 10px;}

/*
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}*/
.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
button[disabled], html input[disabled] {
    cursor: default;
    background-color: #aaa;
}
button[disabled]:hover, html input[disabled] {
    cursor: default;
    background-color: #aaa;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}
.select-wrap-bg .select-outer{background: transparent;}
.select-outer .fa-percent{position: absolute; top: 4px; right: 85px; z-index: 999; }
.select-outer .fa-usd{position: absolute; top:27px; left:15px; z-index: 999; }
.cm-row{display: inline-block; width: 100%; margin:0 0 30px 0;}


.user-view .com-form .form-row{margin-bottom:8px;}
.user-view .fm-txt {min-height: 30px; width: 55%; display: inline-block;}
.user-view .fm-txt-sm {min-height: 30px; width: 55%; display: inline-block;}
.fm-txt-sm {
    min-height: 30px;
    width: 22%;
    display: inline-block;    
}
.border-box{border:1px solid #d5d5d5; margin: 0; padding:20px; margin-bottom: 20px;}
.com-form .form-row label{vertical-align:top;display: inline-block !important; width:39%; margin: 0 5% 0 0; text-align: right;}
.user-view .full-bx-width .fm-txt,.user-view .full-bx-width label{width: 100%;}
.user-view .full-bx-width label{text-align: right;}
.user-view .select-outer{display: inline-block; width: 55%; background: transparent; }
.user-view .select-outer select{min-height: 36px;}
.user-view .check-list label{text-align: right;}
.user-view .form-row{min-height:36px;}
.user-view .error-msg{margin: 0 45% 0 0;}/*gurmeet*/
.user-view .arabic-mode .error-msg{margin: 0 45% 0 0;}
.user-view .content-heading{margin-bottom: 10px;}
.user-view  ul.check-list li {margin: 0 0 10px 0; width: 40%; display: inline-block;}
.user-view .cm-row:last-child{margin-bottom:0;}
.border-vanish{border:2px solid #d9d9d9;}
.user-view select.fm-txt{width:100%;}
.user-view .com-form .form-row label{text-transform: capitalize;}
.sm-selects .select-outer{width:54%;}
.user-view .arabic-mode label{text-align:right; margin:0 5% 0 0;}
.user-view .table-view .select-outer { width: 130px;}
.wd100{width:100% !important;}
.user-view ul.wd100 li{width:100%;}
.user-view  select.wd55{width:55%;}
.user-view .algo-table .button-row{margin-bottom: 0;}
.wht-bg{background: #fff !important;}
.user-view .select-dt-full {width: 55%;}
.user-view .select-dt-full input[type="text"] {width: 100%;}
.user-view .dob-row .input-group-btn{left: 76px !important; top: 4px !important; right: auto !important;}
.user-view .dob-row .input-group-btn .btn{padding-top:4px; padding-bottom:4px;top: -1px;right: -2px;}
.user-view .cm-row{margin-bottom:25px;}
.user-view .algo-table .fm-smalltxt{padding:2px 4px; width:30%;}
.user-view .lg-headings .dob-row .fm-txt,.user-view .lg-headings label{vertical-align: top;}
.table-heading{display: inline-block; width:100%;}
.table-heading h5 {font-size: 14px;float: right; width: 45%;text-align: right;}
.table-heading span{float:left; width:50%;}
.table-heading label{width:auto !important;}
.choose-opt input{margin-left:2px;}
.user-view .com-form .button-row button{float: none;}
.user-view .min-max label{width:30%;}
.add-ico-tb { margin: 6px 0% 0 0; font-size: 20px; vertical-align: top; display: inline-block}
.add-ico-tb i.fa-plus-circle{color: #3c8dbc;}
.add-ico-tb i.fa-minus-circle{color:rgb(161, 10, 40);}
/* Milestone 2 pages */

/* Sidebar */
.sidebar {padding-bottom: 50px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden;}
@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .main-sidebar {
        width: 61px !important;
        }
    }
/* Sidebar */

/****15Sep*****/
.display-sign-opt { width: 100%; float: left; padding: 0 15px; margin: 0;}
.percent-sign{ padding-top: 10px;margin-left: 10px;}
.series-module-hdr { width: 100%; text-align: right; float: left; margin-top: 30px; margin-bottom: -10px;}
.series-module-hdr h4 {width: 47.8%; text-align: center;float: right;background: #03485e;color: #fff;   padding: 8px 0;
margin-right: 16px;font-size: 13px; border-bottom: 1px solid #d5d5d5; border-radius: 8px 8px 0 0px;}
.credit-row{position: relative;}
.c-option{position: absolute;width: 100%;top: 23px; left:70px; z-index: 999;}
.c-option .choose-opt{position: absolute; top: -20px;  right: 84px;}
.choose-opt input{margin:4px 0 0 10px; float: right;}
.user-view .com-form .credit-row > label{margin-right:23%; width:21%;}
.c-option .choose-opt + .choose-opt{top: 33px;}
.has-error .c-option .choose-opt + .choose-opt{top: 50px;}
.user-view .wd54{width:54%;}
.select-dt .tb-top .ngxmdp{top: 26px;}
/****15Sep*****/

/* 19 sep */
.add-ico-act {color: #3c8dbc;margin: -8px 0 0 0;font-size: 24px; padding: 0;}
.period-outer{display: inline-block; width:54%;}
.pd-setup .select-outer div[class^="col-"]{padding:0 5px;}
.com-form .pd-setup span.choose-opt label{min-width:26%; margin:0;}
.pd-setup .period-select .select-dt {width: 31%;}
.pd-setup label{vertical-align:top;}
.pd-setup .period-select .fm-txt {min-height: 36px;width: 30%; margin: 3px 0 0 0; padding-left:3px;padding-right:3px;}
.user-view .algo-table .acc-txt{border:1px solid #d5d5d5; width:19%;}
.has-error .border-vanish{border:2px solid #d9d9d9 !important;}
/* 19 sep */

/*start gurmeet-21-sept--*/
.user-view .dob-row .cl_calnRtl span.input-group-btn{left:92px !important; position: absolute;}
.user-view .dob-row .cl_calnRtlpos span.input-group-btn{ position: absolute;}
.algo-table .arabic-mode .error-msg{ margin: 0 !important;}
.algo-table .error-msg{ margin: 0 !important;}
.algo-table .has-error .fm-txt{ width:84%;}
.arabic-mode .error-mg .error-msg{ margin: 0;}
.error-mg .error-msg{ margin: 0;}
.vathasview .has-error{ width:100%;}
.accountTableRowIndex{ margin-top:9px !important; }
.choose-opt{float: right;     margin: 0 0 0 20px;}
/*end gurmeet-21-sept--*/

/* User Module  Settings*/
.user-md-select{width: 42%; float: right;}
.user-md-select input[type="text"]{width: 60%;}
input[ng-reflect--only-number="true"]{direction:rtl;}
.pure-checkbox[_ngcontent-c2]   input[type="checkbox"][_ngcontent-c2]    + label[_ngcontent-c2]{width: 100% !important;}
.user-view .com-form .form-row .cm-row label{width:100%}
/* R Css Changes  19 sep*/

/* BTI Milstone 2 */
.bt-row{display: inline-block; width: 100%;}
.user-view .com-form .form-row .label-outer{
    display: inline-block !important;
    margin: 0 5% 0 0;
    text-align: left;
    width: 39%;
     vertical-align: top;
}
.user-view .com-form .form-row .label-outer label{width: 100% !important; margin:0 !important;}
.user-view .value-outer{
    display: inline-block;
    width: 55%;
    position: relative
}
.user-view .value-outer .fm-txt{ min-height: 30px; width: 100%;font-weight:normal}
.hf-txt{display: inline-block; width: 45%; vertical-align: top; margin-left:5%;}
.hf-txt+.hf-txt{width:48%; margin: 0;}
.user-view .hf-txt ul.check-list li {width: 100%;}
span.dm{display: inline-block; margin-right: 5px;}
span.dm + input {width: 75% !important;}

/** 18 dec **/

#FrmClearingEntry .hf-txt {
    display: inline-block;
    width: 19%;
    margin-right: 10px;
    text-align: center;
}
#FrmClearingEntry .JournalEntry {
    display: inline-block;
    width: 76%;
    vertical-align: top;
}

#clearingEntry .hf-txt {
    display: inline-block;
    width: 19%;
    margin-right: 10px;
    text-align: center;
}
#clearingEntry .JournalEntry {
    display: inline-block;
    width: 76%;
    vertical-align: top;
}
.user-view .dob-row .input-group-btn {
    right: 92px !important;
}
.dob-row input.fm-txt.dob {
    width: 100%;
    padding-right: 95px;
}
#JOURNALENTRY .hf-txt {
    display: inline-block;
    width: 18%;
    margin-right: 5px;
    text-align: center;
}
#JOURNALENTRY  input#journalID {   
    text-align: center;
}

#JOURNALENTRY #originalJournalID {
    display: inline-block;
    width: 29%;
    vertical-align: top;
}
#JOURNALENTRY .hf-txt#Intercompany {
    width: auto;
    padding-left: 7px;
    vertical-align: middle;
}
button.close-button.btn {
    float: none;
    border-radius: 30px;
    padding: 10px 25px;
    width: 90px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.modal-content .form-row:last-child {
    margin-bottom: 0;
    min-height: 1px;
}
.modal-content  .button-row{
    text-align: center;
    margin: 0 ;
}
.modal-content input.orange-btn-sm, .modal-content .blue-btn-sm, .modal-content button.close-button.btn {
    padding: 8px;
    width: 80px;
    margin: 0 3px;
}
.ReversingDate{
    margin-top: 8px;
}

/** 19 dec **/
table#CLEARINGENTRY {
    min-height: 180px;
}
.user-view .dob-row .input-group-btn.calender {
    right: 77px !important;
}
.dob-row .ngxmdp {
    z-index: 9999;
}

/** 20 dec **/

.form-control{border: 2px solid #ccc !important; }
 .form-control:focus{border: 2px solid #3c8dbc !important; }
 .dropdown.open ul.dropdown-menu{border: 2px solid #3c8dbc !important;}
#originalJournalID {
    width: 100%;
}
.hf-txt.receiptNumber-input {
    width: 100%;
    margin: 0;
}
.padding0{
    padding:0;
    }
.padding-rt-0{
    padding-right: 15px;
    padding-left:0;
}
.hf-txt.Expire-Date-input{
    width: 100%;
}
.Expire-Date-input span.dm + input {
    width: 65% !important;
    display: inline-block;
}
.has-error .form-control:focus {
    border-color: #843534 !important;
}
.has-error .form-control {
    border-color: #a94442 !important;
}
/*#cashReceiptEntryDistribution .value-outer {
    float: right;
    width: 68%;
}
#cashReceiptEntryDistribution .label-outer {
    width: 30%;
    float: left;
}

#cashReceiptEntryDistribution .form-row {
    margin: 0;
}*/
.has-error .disable-input .form-control {
    border-color: #ccc !important;
}
.has-error .disable-input .form-control:focus {
    border-color: #ccc !important;
}
.user-view .dob-row .cl_calnRtlpos .input-group-btn {
    right: 76px !important;
    top: 24px !important;
}

.user-view .com-form .form-row .cl_calnRtlpos label {
    width: 100%;
}
.table-responsive.has-error2 {
    border-radius: 20px 20px 0px 0px;
    float: left;
    border: 2px solid #a94442;
    padding: 1px;
}
.has-error2.table-responsive
{
    border: 2px solid #a94442;
    border-radius: 21px 21px 0px 0px;
    padding: 1px;
}

/* 27 dec */
.db--date{position: absolute;}
.user-view .dob-row .db--date{left: 78px !important;right: auto !important;}
.fa-arrow-right{ transform: rotate(180deg);}
.bt-row .fa-arrow-right{padding-left:10px;}
.user-view .com-form .form-row label > input + span{padding:0 3px 0 0;}
.padding-lt-0{padding-left: 15px; padding-right: 0px;}
.modal .ui-select-choices[_ngcontent-c1]{max-height: 130px !important;}
.user-view .value-outer .error-msg{margin:0;}
/* 27 dec */


select.form-control{direction: rtl !important}
select.form-control i.caret{float:left !important}
.modal-header .close{float:left}


.algo-table .dropdown-menu{left:auto; right:0}
#apCashReceiptEntryDistribution .modal-dialog{margin: 0 auto}
#apCashReceiptEntryDistribution .modal .ui-select-choices[_ngcontent-c1],#distributionEntry .modal .ui-select-choices[_ngcontent-c1],#arCashReceiptEntryDistribution .modal .ui-select-choices[_ngcontent-c1]{max-height: 95px !important;}
.modal .ui-select-toggle{overflow: hidden; word-wrap: break-word; white-space: normal}


/* loader */
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
/* loader */

.dropdown-list .list-area ul > li label:before{left:auto; right:0}
.dropdown-list .list-area ul > li label:after{left:auto; right:4px}
.dropdown-list .list-area ul > li label{padding-right: 2em; padding-left:0}
.algo-table .add-ico-tb{margin-top:0; float: left;}
.user-md-select span.input-group-btn{display: inline-block}
.user-md-select + .small-seprator{float: right}
.user-md-select input[type="text"]{display: inline-block}


.selected-list .c-list,.selected-list .c-list .c-token{float:right !important}
.user-view .full-dob .input-group-btn {right: 46% !important;}
.owl-time-panel-sliders,.time-inform{direction: ltr;}
.user-view .acc-rece .input-group-btn.calender {right: 73% !important;}
.user-view .acc-rece .cl_calnRtlpos .input-group-btn {right: 84% !important;}
.user-view .acc-rece.cl_calnRtl .input-group-btn {right: 84% !important;}
.form-row .acc-rece .ngxmdp {position: absolute; top: -247px; left: 20px; right:auto}
.algo--total-tb table{margin-bottom:0;}
.algo--total-tb + .form-row .algo-table{margin:-15px 0 0 0}
span.ui-select-match-text{width: 90%;overflow: hidden;}
.ui-select-choices-row[_ngcontent-c1] > a[_ngcontent-c1]{direction: ltr !important;}
.form-row table#tblFiscalPeriod .ngxmdp .selector{position: absolute;}
.form-row table#tblFiscalPeriod tr:nth-last-child(-n+4) .ngxmdp .selector{
    /*declarations*/
    bottom:0 !important;
    height: auto !important;
}
table#tblFiscalPeriod .period-outer{width:100%; position: relative;}
table#tblFiscalPeriod ngx-my-date-picker{    position: absolute;
    bottom: -190px;}
.form-row .fs--period{overflow-x: initial;overflow-y: initial}
.algo-table table#tblFiscalPeriod td {
    padding: 15px 5px !important;}


/* Manage Division */
.mb-30{	margin-bottom: 30px;}
.mt-30{	margin-top: 30px;}
/* Manage Division */

@media only screen and (min-width: 600px){
.cd-accordion-menu ul label, .cd-accordion-menu ul a {
    padding-right: 56px !important;
}
.cd-accordion-menu ul label::before {
    right: 34px !important;
}
.cd-accordion-menu ul ul label, .cd-accordion-menu ul ul a {
    padding-right: 100px !important;
}
.cd-accordion-menu ul ul label::before {
    right: 78px !important;
}
}


/* Responsive */

@media (max-width: 1024px){
.com-form .form-row div[class^="col-"] {margin-bottom: 15px;}
.search-txt{width: 50%;}
.select-dt{width: 100%;}
}

@media (max-width: 767px){
.main-header .logo, .main-header .navbar{ width:auto; }
.main-header > .navbar{width:100%;}
.main-sidebar .sidebar-toggle{width: 117%;}
.main-sidebar .sidebar-toggle::before{right:12px;}
.main-sidebar, .left-side {transform: translate(260px, 0px); -webkit-transform: translate(260px, 0px); -moz-transform: translate(260px, 0px); -ms-transform: translate(260px, 0px); -o-transform: translate(260px, 0px);}
.main-header .logo, .main-header .navbar{width: auto;}
.navbar-custom-menu > .navbar-nav > li.highlight{height: 74px; background-color: #eaeaea;}
.navbar-custom-menu > .navbar-nav > li.highlight::after{height: 100%;}
.top-header-nav .navbar-nav > li a {border-radius: 20px;color: #fff; display: inline-block;padding: 6px 20px;}
.top-header-nav .navbar-nav > li{width: 100%;}
.main-header > .navbar{padding-bottom: 0;}

/* Login */
.login-outer{width: 95%;}
/* Login */

/* Add Company */
.com-form .form-row div[class^="col-"] {margin-bottom: 20px;}
.section-heading h2{padding-right:70px; font-size: 20px;}
.com-form .form-row .short-text label{font-size: 12px;}
.search-txt{width: 100%;}
/* Add Company */

.tooltip.right{left:50px !important; top:-40px !important;}
.tooltip.left{right:75px !important; top:-40px !important;}
.tooltip.left .tooltip-arrow{border-width: 0px 5px 10px 5px;border-bottom-color: #000; top:100% !important; transform: rotate(45deg); left: 55% !important; }
.tooltip.right .tooltip-arrow {border-width: 0px 5px 10px 5px;border-bottom-color: #000; top:100% !important; transform: rotate(45deg); right: 40% !important; }

.login-wrapper ul.language-check{position: static; float: left; margin:10px 10px 0 0 ;}
.navbar-static-top ul.language-check{position: absolute; left:0px; top:73px;}
.navbar-static-top ul.language-check li{border-color: #fff;}
.navbar-static-top ul.language-check li a{color:#ccc;}
.navbar-static-top ul.language-check li.active a{color:#fff;}

.bottom-view,.table-view,.button-row{width: 100%; text-align: center;}
.com-form .button-row button{display: inline-block; float: none; margin: 10px 0 0 0;}
.table-view span, .table-view .select-outer{display: inline-block; float: none;}
.table-view{margin:0 0 20px 0;}
}

@media (max-width: 639px){
	.logo-mini{float: left; width: 100%; text-align: center; padding: 0 0 20px 0; border-bottom: 1px solid #eaeaea;}
	.main-header .logo{float: none; display: inline-block;}
	.main-header > .navbar{float: left; width: 100%;}
	.navbar-custom-menu > .navbar-nav,.navbar-custom-menu {width: 100%;}
	.top-header-nav{clear: both;}
	.main-header > .navbar{padding:0;}
	.navbar-custom-menu > .navbar-nav > li.highlight::after {background: #eaeaea none repeat scroll 0 0;content: "";height: 77px;left: 0;position: absolute;top: -10px;width: 100%;}
	.navbar-nav > .user-menu .user-image{margin-top:5px;}
	.main-header > .navbar .orange-btn,.navbar-custom-menu .nav > li > a{vertical-align: middle;}
	.navbar-custom-menu > .navbar-nav > li.highlight::after {height: 100%;top:0; }
	.navbar-custom-menu > .navbar-nav > li.highlight{position:absolute; left: 61px; }
	.navbar-custom-menu > .navbar-nav > li.highlight + li{left:0;}
	.navbar-custom-menu .nav > li.user-menu > a{padding-left:0;}
	.navbar-custom-menu > .navbar-nav > li{height: 74px;}

/* Login */
.login-box{ padding: 30px 50px 30px 20px;}
.login-box .button-row > button  {margin-bottom:20px; }
.login-box .button-row > button +button{margin-right:0;}
/* Login */	

.select-dt {width: 100%;}
.small-seprator{width: 100%; margin: 15px 0; text-align: center;}
}


@media (max-width: 479px){
/* Manage Company */
.table-view{margin: 0 0 10px 0;}
.section-heading .orange-btn{position: static; float: left; margin: 10px;}
.module-outer{overflow-x: auto;}
.module{width:480px;}
/* Manage Company */
}


#sidebar {
    overflow: hidden;
    z-index: 3;
}
#sidebar .list-group {
    min-width: 400px;
    background-color: #03485e;
    min-height: 100vh;
    color: #fff;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #03485e;
    color: #fff;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */
#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: left;
    padding: 14px 5px 14px 10px;
}

/* open state */
#sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #f69321;
}
#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: left;
    padding-left: 5px;
}

/* level 1*/
#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item  {
    padding: 14px 5px 14px 10px;
}

/* Responsive */

@media (min-width: 768px){
	.sidebar-mini.sidebar-collapse .sidebar-menu>li .pull-right-container {width: 20px !important;left: 225px !important;background: transparent;}
	.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {top: 42px;}
	.navbar-custom-menu>.navbar-nav>li.highlight:after{height: 82px;}
}

.dropdown.dropdown-inline {
    float: left;
    width: 100%;
	background: #fff;
}

.sidebar-menu >.pageLink >.active {
    background: #f69321;
    border: none;
    color: #fff;
    width: 100%;
}
.language-dp {float:right; margin:13px 0 0 0; }
.language-dp .btn-primary{border:none; background-color:#006181;}
.language-dp .dropdown-menu{box-shadow:0 0 10px #acacac;}

/* The Modal (background) */
.modal {
   /* display: none;*/ /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1; */ /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    /* width: 50%; */ /* Full width */
    /* height: 50%; */ /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    max-width:500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-size: 12px;
    border-radius: 8px 8px 0px 0px;
    /* min-height: 250px; */
    /* float: left; */
}
.modal-lg .modal-content {
    max-width: 100%;
}
#cashReceiptEntryDistribution .modal-content
{
    max-width: 700px;
}

.modal-content .close
{
    opacity: 3.7;
    color: white
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */

.modal-header {
    padding: 8px 16px;
    background-color: #03485e;
    color: white;
    font-size: 17px;
    border-radius: 8px 8px 0px 0px;
}

.modal-body {
    padding: 26px 16px;
    min-height: 100px;
    font-size: 14px;
    font-weight: bold;
}

.modal-footer {
    padding: 8px 16px;
    background-color:#e1e1e1;
    color: white;
    font-size: 17px;
    padding: 15px 10px;
    text-align:center;
 
}
.btnClose{   
     width: 24px;
    height: 24px;
    background: url(../img/close.png) no-repeat;
    float: left;
    cursor: pointer;
    }
  .modal-body  .fa-exclamation-circle{font-size:30px; color:#f69321; vertical-align: middle; margin-left: 5px;}
  .modal-body p{font-size: 20px; font-weight: 600; text-align: center;}
.ct-msg {position: absolute; margin: 0 0 0 20px !important; right: 0;}
/* New CSS 10 oct*/
.dotterTextBox
{
    border: 2px dotted #d3d3d3;width: 100px;padding: 0px 4px;text-align:center
}

.loader {
  /*border: 16px solid #000000;
  border-radius: 50%;
  border-top: 16px solid #e3e3e3;
  border-bottom: 16px solid #e3e3e3;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;*/
    width: 30px;
    height: 30px;
    background: url(../img/loader.gif);
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 10px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.table input
{
     border: 1px solid #dedede;
     padding:4px
}
.greenbtn {
    color: #FFFFFF;
    background-color: #88c057;
    padding: 5px;
    font-size: 12px;
    float: left;
    width: 100%
}
.greenbtn:hover {
    color: #FFFFFF;
    background-color: #88c057;
}
.borderbox{
    border: 1px solid grey;
    padding: 10px;	
}

/* Ali Css Fix Arabic */

/*fix position of view option for grids */
.table-view-fix{
    float: left;
}

/*fix position for date button */
.input-btn-group-fix{
    right: 185px;
    top: -38px;
}

.clear-date-button-fix{
    right: 36px;
}

.date-button-fix{
    right: 16px;
    margin: 0;
}

.modal-lg{
    width: 1400px;
}
