<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{PAY_SCHEDULE_SETUP_CREATE_LABEL['helpMessage']}}">{{PAY_SCHEDULE_SETUP_CREATE_LABEL['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{PAY_SCHEDULE_SETUP_SEARCH['helpMessage']}}" placeholder="{{PAY_SCHEDULE_SETUP_SEARCH['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>

                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                </div>
               
        <div class="algo-table algo-table-department">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="InterviewTypeGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div 
                                            [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>  
                                </div>
                              </div>

                            <!-- Data Grid Action -->
                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{PAY_SCHEDULE_SETUP_ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>

            <div class="button-row">
                <!-- Table View Starts -->
                <div class="table-view table-view-fix">
                    <span>TABLE VIEW</span>
                    <div class="select-outer">
                        <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                            <option value="5">5 at a time </option>
                            <option value="15">15 at a time </option>
                            <option value="50">50 at a time </option>
                            <option value="100">100 at a time </option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Table View Ends -->

            <button class="blue-btn" (click)="varifyDelete()">{{PAY_SCHEDULE_SETUP_DELETE_LABEL['fieldValue']}}</button>

            <!-- Create / Update Form start -->
            <div *ngIf="showCreateForm">
                <div class="col-md-12 mt-30">
                    <hr>
                </div>
                <div class="col-md-12 mb-30">
                    <h3 *ngIf="!model.payScheduleIndexId">{{PAY_SCHEDULE_SETUP_CREATE_FORM_LABEL['fieldValue']}}</h3>
                    <h3 *ngIf="model.payScheduleIndexId">{{PAY_SCHEDULE_SETUP_UPDATE_FORM_LABEL['fieldValue']}}</h3>
                </div>
                <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{message.text}}
                </div>
                <div class="clearfix"></div>

                <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && isEndDateValid && CreatePayScheduleSetup(f, $event)" #f="ngForm"
                    novalidate>


                    <!-- Pay Schedule ID -->
                    <div [ngClass]="'form-group'">
                        <div *ngIf="isUnderUpdate; then update else create"></div>
                        <ng-template #update>
                            <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                <div class="col-md-4">
                                    <label class="control-label" for="payScheduleId">{{PAY_SCHEDULE_SETUP_SCHEDULE_ID['fieldValue']}}</label>
                                    <span *ngIf="PAY_SCHEDULE_SETUP_SCHEDULE_ID['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="payScheduleId" value="{{payScheduleIdvalue}}" title="{{PAY_SCHEDULE_SETUP_SCHEDULE_ID['helpMessage']}}"
                                        maxlength="15" [required]="PAY_SCHEDULE_SETUP_SCHEDULE_ID['isMandatory']" [readonly]="!PAY_SCHEDULE_SETUP_SCHEDULE_ID['writeAccess']" [(ngModel)]="model.payScheduleId" #payScheduleId="ngModel"
                                    />
                                    <div *ngIf="f.submitted && payScheduleId.invalid">
                                        <div [hidden]="!payScheduleId.errors.required">
                                            {{PAY_SCHEDULE_SETUP_SCHEDULE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div [hidden]="!payScheduleId.errors?.maxlength">
                                            {{PAY_SCHEDULE_SETUP_SCHEDULE_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <!-- Pay Schedule ID -->
                        <ng-template #create>
                            <div [ngClass]="{ 'has-error': f.submitted && !payScheduleId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                <div class="col-md-4">
                                    <label class="control-label" for="payScheduleId">{{PAY_SCHEDULE_SETUP_SCHEDULE_ID['fieldValue']}}</label>
                                    <span *ngIf="PAY_SCHEDULE_SETUP_SCHEDULE_ID['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="payScheduleId" [(ngModel)]="model.payScheduleId" #payScheduleId="ngModel"
                                        title="{{PAY_SCHEDULE_SETUP_SCHEDULE_ID['helpMessage']}}" maxlength="15" [required]="PAY_SCHEDULE_SETUP_SCHEDULE_ID['isMandatory']"
                                           class="search-id" [typeahead]="payscheduleIdList" (typeaheadLoading)="changeTypeaheadLoading($event)" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="payScheduleId"/>
                                    <div *ngIf="f.submitted && payScheduleId.invalid">
                                        <div [hidden]="!payScheduleId.errors.required">
                                            {{PAY_SCHEDULE_SETUP_SCHEDULE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div [hidden]="!payScheduleId.errors?.maxlength">
                                            {{PAY_SCHEDULE_SETUP_SCHEDULE_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>

                    <!-- Description -->
                    <div [ngClass]="'form-group'">
                        <div [ngClass]="{'has-error': f.submitted && !payScheduleDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                                <label class="control-label" for="payScheduleDescription">{{PAY_SCHEDULE_SETUP_DESCRIPTION['fieldValue']}}</label>
                                <span *ngIf="PAY_SCHEDULE_SETUP_DESCRIPTION['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                                <input type="text" [ngClass]="'form-control fm-txt'" name="payScheduleDescription" [(ngModel)]="model.payScheduleDescription"
                                    #payScheduleDescription="ngModel" title="{{PAY_SCHEDULE_SETUP_DESCRIPTION['helpMessage']}}" [required]="PAY_SCHEDULE_SETUP_DESCRIPTION['isMandatory']"
                                    maxlength="31" />
                                <div *ngIf="f.submitted && payScheduleDescription.invalid">
                                    <div [hidden]="!payScheduleDescription.errors.required">
                                        {{PAY_SCHEDULE_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div [hidden]="!payScheduleDescription.errors?.maxlength">
                                        {{PAY_SCHEDULE_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Arabic Description  -->
                    <div [ngClass]="'form-group'">
                        <div [ngClass]="{'has-error': f.submitted && !payScheduleDescriptionArabic.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                                <label class="control-label" for="payScheduleDescriptionArabic">{{PAY_SCHEDULE_SETUP_ARABIC_DESCRIPTION['fieldValue']}}</label>
                                <span *ngIf="PAY_SCHEDULE_SETUP_ARABIC_DESCRIPTION['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8 arabic-mode">
                                <input type="text" [ngClass]="'form-control fm-txt'" name="payScheduleDescriptionArabic" [(ngModel)]="model.payScheduleDescriptionArabic"
                                    #payScheduleDescriptionArabic="ngModel" title="{{PAY_SCHEDULE_SETUP_ARABIC_DESCRIPTION['helpMessage']}}"
                                    [required]="PAY_SCHEDULE_SETUP_ARABIC_DESCRIPTION['isMandatory']" maxlength="61" />
                                <div *ngIf="f.submitted && payScheduleDescriptionArabic.invalid">
                                    <div [hidden]="!payScheduleDescriptionArabic.errors.required">
                                        {{PAY_SCHEDULE_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div [hidden]="!payScheduleDescriptionArabic.errors?.maxlength">
                                        {{PAY_SCHEDULE_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- paySchedulePayPeriod -->
                    <div [ngClass]="'form-group'">
                        <div [ngClass]="{'has-error': f.submitted && paySchedulePayPeriod.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                                <label class="control-label" for="paySchedulePayPeriod">{{PAY_SCHEDULE_SETUP_PAY_PERIOD['fieldValue']}}</label>
                                <span *ngIf="PAY_SCHEDULE_SETUP_PAY_PERIOD['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="paySchedulePayPeriod" [(ngModel)]="model.paySchedulePayPeriod"
                                    #paySchedulePayPeriod="ngModel" title="{{PAY_SCHEDULE_SETUP_PAY_PERIOD['fieldValue']}}" (ngModelChange)="setPayPeriod($event)"
                                    [required]="PAY_SCHEDULE_SETUP_PAY_PERIOD['isMandatory']">
                                    <option value="0" selected="selected">---Select Pay Period---</option>
                                    <option value="1">Weekly</option>
                                    <option value="2">Biweekly</option>
                                    <option value="3">Semimonthly</option>
                                    <option value="4">Monthly</option>
                                    <option value="5">Quarterly</option>
                                    <option value="6">Semiannually</option>
                                    <option value="7">Annually</option>
                                </select>
                                <div *ngIf="f.submitted && paySchedulePayPeriod.value=='0'">
                                    <div>
                                        {{PAY_SCHEDULE_SETUP_PAY_PERIOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Begin Date -->
                    <div [ngClass]="'form-group'">
                        <div [ngClass]="{'has-error': f.submitted && !frmStartDate.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                                <label class="control-label" for="frmStartDate">{{PAY_SCHEDULE_SETUP_BEGIN_DATE['fieldValue']}}</label>
                                <span *ngIf="PAY_SCHEDULE_SETUP_BEGIN_DATE['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input [ngClass]="'form-control fm-txt'" placeholder="" ngx-mydatepicker name="frmStartDate" [(ngModel)]="payScheduleBeggingDate"
                                        [options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onStartDateChanged($event)"
                                        (change)="onStartDateChanged($event.target.value)" #frmStartDate="ngModel" [required]="PAY_SCHEDULE_SETUP_BEGIN_DATE['isMandatory']" [readonly]="!PAY_SCHEDULE_SETUP_BEGIN_DATE['writeAccess']"
                                        title="{{PAY_SCHEDULE_SETUP_BEGIN_DATE['helpMessage']}}" id="begin_date" />
                                    <span class="input-group-btn">
                                        <button type="button" [disabled]="isDeductionCodeFormdisabled" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                                            (click)="dp1.clearDate()">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                        <button type="button" [disabled]="isDeductionCodeFormdisabled" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                                            (click)="dp1.toggleCalendar()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                                <div *ngIf="f.submitted && frmStartDate.invalid && !isDeductionCodeFormdisabled">
                                    <div [hidden]="!frmStartDate.errors.required">
                                        {{PAY_SCHEDULE_SETUP_BEGIN_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <!-- Year -->
                    <div [ngClass]="'form-group'">
                        <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                                <label class="control-label" for="payScheduleYear">{{PAY_SCHEDULE_SETUP_YEAR['fieldValue']}}</label>
                                <span *ngIf="PAY_SCHEDULE_SETUP_YEAR['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                                <input type="text" OnlyNumber1="true" disabled [ngClass]="'form-control fm-txt'" name="currentyear" [(ngModel)]="model.payScheduleYear"
                                    #payScheduleYear="ngModel" title="{{PAY_SCHEDULE_SETUP_YEAR['helpMessage']}}" [required]="PAY_SCHEDULE_SETUP_YEAR['isMandatory']" maxlength="4"
                                />
                                
                            </div>

                        </div>
                    </div>
                    <ul class="nav nav-tabs" style="padding-top: 30px;">
                        <li class="active">
                            <a data-toggle="tab" href="#schedule">{{PAY_SCHEDULE_SETUP_SCHEDULE['fieldValue']}}</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#location">{{PAY_SCHEDULE_SETUP_LOCATION['fieldValue']}}</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#position">{{PAY_SCHEDULE_SETUP_POSITION['fieldValue']}}</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#department">{{PAY_SCHEDULE_SETUP_DEPARTMENT['fieldValue']}}</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#employee">{{PAY_SCHEDULE_SETUP_DEPARTMENT['fieldValue']}}</a>
                        </li>
                    </ul>
                    <div class="tab-content" style="padding-top: 25px;">
                        <div id="schedule" class="tab-pane fade in active">
                            <div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <table class="table" id="subitems">
                                            <thead>
                                                <th style="border-top-left-radius: 25px; border:white; text-align: center; width:20%" rules="rows">{{PAY_SCHEDULE_SETUP_SCHEDULE_TAB_YEAR['fieldValue']}}</th>
                                                <th style="border-top: #144859; text-align: center; width: 20%">{{PAY_SCHEDULE_SETUP_SCHEDULE_TAB_PERIOD['fieldValue']}}</th>
                                                <th style="border-top: #144859; text-align: center; width: 20%">{{PAY_SCHEDULE_SETUP_SCHEDULE_TAB_PERIOD_NAME['fieldValue']}}</th>
                                                <th style="border-top: #144859; text-align: center; width: 20%">{{PAY_SCHEDULE_SETUP_SCHEDULE_TAB_START_DATE['fieldValue']}}</th>
                                                <th style="border-top: #144859; text-align: center; width: 20%">{{PAY_SCHEDULE_SETUP_SCHEDULE_TAB_END_DATE['fieldValue']}}</th>

                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of model.subItems; let num = index; ">
                                                    <td [ngClass]="{'has-error' : year.invalid && f.submitted}" style="background-color: whitesmoke">
                                                        <input type="number" disabled OnlyNumber1="true" maxlength="4" #year="ngModel" name="year[{{num}}]" id="year[{{num}}]" [(ngModel)]="model.subItems[num].year"
                                                            class="form-control" required>
                                                        <div *ngIf="f.submitted && year.invalid">
                                                            <div [hidden]="!year.errors.required">
                                                                This field is required
                                                            </div>

                                                        </div>
                                                    </td>
                                                    <td [ngClass]="{'has-error' : periodNameId.invalid && f.submitted}" style="background-color: whitesmoke">
                                                        <input type="text" disabled class="form-control" name="periodId[{{num}}]" id="periodNameId[{{num}}]" [(ngModel)]="model.subItems[num].periodNameId"
                                                            #periodNameId="ngModel" maxlength="30" required>
                                                        <div *ngIf="f.submitted && periodNameId.invalid">
                                                            <div [hidden]="!periodNameId.errors.required">
                                                                This field is required
                                                            </div>
                                                            <div [hidden]="!periodNameId.errors.MAXLENGTH">
                                                                MAXIMUM 21
                                                            </div>

                                                        </div>
                                                    </td>
                                                    <td [ngClass]="{'has-error' : periodName.invalid && f.submitted}" style="background-color: whitesmoke">
                                                        <input type="text" disabled class="form-control" name="periodName[{{num}}]" id="periodName[{{num}}]" [(ngModel)]="model.subItems[num].periodName"
                                                            #periodName="ngModel" maxlength="21" required>
                                                        <div *ngIf="f.submitted && periodName.invalid">
                                                            <div [hidden]="!periodName.errors.required">
                                                                This field is required
                                                            </div>
                                                            <div [hidden]="!periodName.errors.MAXLENGTH">
                                                                MAXIMUM 21
                                                            </div>

                                                        </div>
                                                    </td>
                                                    <td [ngClass]="{'has-error' : periodStartDate.invalid && f.submitted}" style="background-color: whitesmoke">
                                                        <div class="input-group">
                                                            <input [ngClass]="'form-control fm-txt'" placeholder="" ngx-mydatepicker [(ngModel)]="model.subItems[num].periodStartDate"
                                                                [options]="myOptions" #dp2="ngx-mydatepicker" (change)="onperiodStartDate($event, num)"
                                                                name="periodStartDate[{{num}}]" id="periodStartDate[{{num}}]"
                                                                (ngModelChange)="onperiodStartDate($event, num)" #periodStartDate="ngModel"
                                                                required readonly />

                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.clearDate()">
                                                                    <i class="glyphicon glyphicon-remove"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>

                                                        </div>
                                                        <div *ngIf="f.submitted && periodStartDate.invalid && !isDeductionCodeFormdisabled">
                                                            <div [hidden]="!periodStartDate.errors.required">
                                                                This field is required
                                                            </div>

                                                        </div>
                                                    </td>
                                                    <td [ngClass]="{'has-error' : (model.subItems[num].invalid && f.submitted) || (!model.subItems[num].errors?.required && model.subItems[num].invalid) || (periodEndDate.invalid && f.submitted)}"
                                                        style="background-color: whitesmoke">
                                                        <div class="input-group">
                                                            <input [ngClass]="'form-control fm-txt'" placeholder="" ngx-mydatepicker name="periodEndDate[{{num}}]" [(ngModel)]="model.subItems[num].periodEndDate"
                                                                [options]="myOptions" #dp3="ngx-mydatepicker" (change)="onperiodEndDate($event,num)"
                                                                id="periodEndDate[{{num}}]" (ngModelChange)="onperiodEndDate($event,num)"
                                                                #periodEndDate="ngModel" required readonly />

                                                            <span class="input-group-btn">
                                                                <button type="button" [disabled]="isDeductionCodeFormdisabled" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                                                                    (click)="dp3.clearDate();makeValid(num)">
                                                                    <i class="glyphicon glyphicon-remove"></i>
                                                                </button>
                                                                <button type="button" [disabled]="isDeductionCodeFormdisabled" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                                                                    (click)="dp3.toggleCalendar()">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>

                                                        </div>
                                                        <span id="dateID" style="font-size: smaller"></span>
                                                        <div [hidden]="!model.subItems[num].invalid">
                                                            Invalid End Date
                                                        </div>
                                                        <div *ngIf="f.submitted && periodEndDate.invalid && !isDeductionCodeFormdisabled && !model.subItems[num].invalid">
                                                            <div [hidden]="!periodEndDate.errors.required">
                                                                This field is required
                                                            </div>

                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                            </div>

                        </div>

                        <div id="location" class="tab-pane fade">

                            <div class="form-group col-md-12">
                                <div class="col-md-2" style="padding-left: 0px;margin-right: -55px;padding-top: 3px;">Display</div>
                                <!--All  Selected Not Selected-->
                                <div class="col-md-10" style="margin-top: -5px;">
                                    <div class="col-md-2">
                                        <div class="col-md-1">
                                        <input type="radio" name="accrueType" id="location0" value="0" [(ngModel)]="allLocation" #accrueType="ngModel" [checked]="true" (change)="getSelectedLocation($event)" >
                                        </div>
                                        <div class="col-md-2" style="padding-top: 9px;">
                                            <label for="all">All</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="col-md-1">
                                            <input type="radio" name="accrueType" id="location1" value="1" [(ngModel)]="allLocation" #accrueType="ngModel" (change)="getSelectedLocation($event)" >
                                        </div>
                                        <div class="col-md-2" style="padding-top: 9px;">
                                            <label for="all">Selected</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-1">
                                            <input type="radio" name="accrueType" id="location2" value="2" [(ngModel)]="allLocation" #accrueType="ngModel" (change)="getSelectedLocation($event)" >
                                        </div>
                                        <div class="col-md-4" style="padding-top: 9px;">
                                            <label for="all">Not Selected</label>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="algo-table algo-table-department">
                                <!-- Data Grid Starts-->
                                <div class="table-responsive">
                                    <ngx-datatable #locationGrid id="PayScheduleSetupScheduleGrid1" class="material" [rows]="rowsLocation" [columnMode]="'force'"
                                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [count]="pageLocation.totalElements"
                                        [offset]="pageLocation.pageNumber" [limit]="pageLocation.size" [selected]="selectedLocation"
                                        [selectionType]="'checkbox'" [externalPaging]="false" (select)='onSelectLocation($event)'>

                                        <ngx-datatable-footer>
                                            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                                                let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                                                <div class="page-count">
                                                    <div *ngIf="allLocation==0">
                                                        {{selectedCount}} selected / {{rowsLocationTemp.length}} total
                                                    </div>
                                                    <div *ngIf="allLocation==1">
                                                        {{selectedCount}} selected / {{rowsLocationTemp.length}} total
                                                    </div>
                                                    <div *ngIf="allLocation==2">
                                                        {{rowsLocation.length}} not selected / {{rowsLocationTemp.length}} total
                                                    </div>
                                                </div>
                                                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                                                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
                                                    [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="locationGrid.onFooterPage($event)">
                                                </datatable-pager>
                                            </ng-template>
                                        </ngx-datatable-footer>

                                        <!-- Data Grid checkbox -->
                                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                            [checkboxable]="true">
                                        </ngx-datatable-column>

                                        <!-- Data Grid locationId -->
                                        <ngx-datatable-column name="locationId" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumnLocation('locationId')">{{PAY_SCHEDULE_SETUP_LOCATION_TAB_LOCATION_ID['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid Description -->
                                        <ngx-datatable-column name="description" [sortable]="true" [width]="250" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumnLocation('description')">{{PAY_SCHEDULE_SETUP_LOCATION_TAB_DESCRIPTION['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid Arebic Description -->
                                        <ngx-datatable-column name="arabicDescription" [sortable]="true" [width]="250" [canAutoResize]="false" [draggable]="false"
                                            [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumnLocation('arabicDescription')">{{PAY_SCHEDULE_SETUP_LOCATION_TAB_ARABIC_DESCRIPTION['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>


                                        <!-- Data Grid Action -->
                                        <!--<ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                {{PAY_SCHEDULE_SETUP_ACTION['fieldValue']}}
                                            </ng-template>
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                            </ng-template>
                                        </ngx-datatable-column>-->

                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>

                        <div id="position" class="tab-pane fade">

                            <div class="form-group">
                                <label class="col-sm-1 control-label">Display</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="accrueType1" id="position0" value="0" [(ngModel)]="allPosition" #accrueType="ngModel" [checked]="true"
                                            (change)="getSelectedPosition($event)" /> All </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="accrueType1" id="position1" value="1" [(ngModel)]="allPosition" #accrueType="ngModel" (change)="getSelectedPosition($event)"
                                        /> Selected </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="accrueType1" id="position2" value="2" [(ngModel)]="allPosition" #accrueType="ngModel" (change)="getSelectedPosition($event)"
                                        /> Not Selected </label>
                                </div>
                            </div>

                            <div class="algo-table algo-table-department">
                                <!-- Data Grid Starts-->
                                <div class="table-responsive">
                                    <ngx-datatable #positionGrid id="PayScheduleSetupScheduleGrid1" class="material" [rows]="rowsPosition" [columnMode]="'force'"
                                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false"
                                        [count]="pagePosition.totalElements" [offset]="pagePosition.pageNumber" [limit]="pagePosition.size"
                                        [selected]="selectedPosition" [selectionType]="'checkbox'" (select)='onSelectPosition($event)'>

                                        <ngx-datatable-footer>
                                            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                                                let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                                                <div class="page-count">
                                                    <div *ngIf="allPosition==0">
                                                        {{selectedCount.toLocaleString()}} selected / {{rowsPositionTemp.length}} total
                                                    </div>
                                                    <div *ngIf="allPosition==1">
                                                        {{selectedCount.toLocaleString()}} selected / {{rowsPositionTemp.length}} total
                                                    </div>
                                                    <div *ngIf="allPosition==2">
                                                        {{rowsPosition.length}} not selected / {{rowsPositionTemp.length}} total
                                                    </div>
                                                </div>
                                                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                                                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
                                                    [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="positionGrid.onFooterPage($event)">
                                                </datatable-pager>
                                            </ng-template>
                                        </ngx-datatable-footer>

                                        <!-- Data Grid checkbox -->
                                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                            [checkboxable]="true">
                                        </ngx-datatable-column>

                                        <!-- Data Grid PositionId -->
                                        <ngx-datatable-column name="positionId" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumnPosition('positionId')">{{PAY_SCHEDULE_SETUP_POSITION_TAB_POSITION_ID['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid description -->
                                        <ngx-datatable-column name="description" [sortable]="true" [width]="250" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumnPosition('description')">{{PAY_SCHEDULE_SETUP_POSITION_TAB_DESCRIPTION['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid  arabicDescription -->
                                        <ngx-datatable-column name="arabicDescription" [sortable]="true" [width]="250" [canAutoResize]="false" [draggable]="false"
                                            [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumnPosition('arabicDescription')">{{PAY_SCHEDULE_SETUP_POSITION_TAB_ARABIC_DESCRIPTION['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid Action -->
                                        <!--<ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                {{PAY_SCHEDULE_SETUP_ACTION['fieldValue']}}
                                            </ng-template>
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                            </ng-template>
                                        </ngx-datatable-column>-->

                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>

                        <div id="department" class="tab-pane fade">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Display</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="accrueType2" id="department0" value="0" [(ngModel)]="allDepartment" #accrueType="ngModel" [checked]="true"
                                            (change)="getSelectedDepartment($event)" /> All </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="accrueType2" id="department1" value="1" [(ngModel)]="allDepartment" #accrueType="ngModel" (change)="getSelectedDepartment($event)"
                                        /> Selected </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="accrueType2" id="department2" value="2" [(ngModel)]="allDepartment" #accrueType="ngModel" (change)="getSelectedDepartment($event)"
                                        /> Not Selected </label>
                                </div>
                            </div>

                            <div class="algo-table algo-table-department">
                                <!-- Data Grid Starts-->
                                <div class="table-responsive">
                                    <ngx-datatable #departmentGrid id="PayScheduleSetupScheduleGrid1" class="material" [rows]="rowsDepartment" [columnMode]="'force'"
                                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false"
                                        [count]="pageDepartment.totalElements" [offset]="pageDepartment.pageNumber" [limit]="pageDepartment.size"
                                        [selected]="selectedDepartment" [selectionType]="'checkbox'" (select)='onSelectDepartment($event)'>

                                        <ngx-datatable-footer>
                                            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                                                let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                                                <div class="page-count">
                                                    <div *ngIf="allDepartment==0">
                                                        {{selectedCount.toLocaleString()}} selected / {{rowsDepartmentTemp.length}} total
                                                    </div>
                                                    <div *ngIf="allDepartment==1">
                                                        {{selectedCount.toLocaleString()}} selected / {{rowsDepartmentTemp.length}} total
                                                    </div>
                                                    <div *ngIf="allDepartment==2">
                                                        {{rowsDepartment.length}} not selected / {{rowsDepartmentTemp.length}} total
                                                    </div>
                                                </div>
                                                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                                                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
                                                    [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="departmentGrid.onFooterPage($event)">
                                                </datatable-pager>
                                            </ng-template>
                                        </ngx-datatable-footer>
                                        <!-- Data Grid checkbox -->
                                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                            [checkboxable]="true">
                                        </ngx-datatable-column>

                                        <!-- Data Grid DepartmentId -->
                                        <ngx-datatable-column name="departmentId" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumnDepartment('departmentId')">{{PAY_SCHEDULE_SETUP_DEPARTMENT_TAB_DEPARTMENT_ID['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid departmentDescription -->
                                        <ngx-datatable-column name="departmentDescription" [sortable]="true" [width]="250" [canAutoResize]="false" [draggable]="false"
                                            [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumnDepartment('departmentDescription')">{{PAY_SCHEDULE_SETUP_DEPARTMENT_TAB_DESCRIPTION['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid Arebic Description -->
                                        <ngx-datatable-column name="arabicDepartmentDescription" [sortable]="true" [width]="250" [canAutoResize]="false" [draggable]="false"
                                            [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumnLocation('arabicDepartmentDescription')">{{PAY_SCHEDULE_SETUP_DEPARTMENT_TAB_ARABIC_DESCRIPTION['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <!-- Data Grid Action -->
                                        <!--<ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                {{PAY_SCHEDULE_SETUP_ACTION['fieldValue']}}
                                            </ng-template>
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                            </ng-template>
                                        </ngx-datatable-column>-->

                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                        <div id="employee" class="tab-pane fade">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Display</label>
                                <div class="col-sm-8">
                                    <label class="radio-inline">
                                        <input type="radio" name="accrueType3" id="employee0" value="0" [(ngModel)]="allEmployee" #accrueType="ngModel" [checked]="true"
                                            (change)="getSelectedEmployee($event)" /> All </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="accrueType3" id="employee1" value="1" [(ngModel)]="allEmployee" #accrueType="ngModel" (change)="getSelectedEmployee($event)"
                                        /> Selected </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="accrueType3" id="employee2" value="2" [(ngModel)]="allEmployee" #accrueType="ngModel" (change)="getSelectedEmployee($event)"
                                        /> Not Selected </label>
                                </div>
                            </div>

                            <div class="algo-table algo-table-Employee">
                                <!-- Data Grid Starts-->
                                <div class="table-responsive">
                                    <ngx-datatable #employeeGrid id="PayScheduleSetupScheduleGrid11" class="material" [rows]="rowsEmployee" [columnMode]="'force'"
                                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false"
                                        [count]="pageEmployee.totalElements" [offset]="pageEmployee.pageNumber" [limit]="pageEmployee.size"
                                        [selected]="selectedEmployee" [limit]="page.size" [selectionType]="'checkbox'" (select)='onSelectEmployee($event)'>

                                        <ngx-datatable-footer>
                                            <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
                                                let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                                                <div class="page-count">
                                                    <div *ngIf="allEmployee==0">
                                                        {{selectedCount.toLocaleString()}} selected / {{rowsEmployeeTemp.length}} total
                                                    </div>
                                                    <div *ngIf="allEmployee==1">
                                                        {{selectedCount.toLocaleString()}} selected / {{rowsEmployeeTemp.length}} total
                                                    </div>
                                                    <div *ngIf="allEmployee==2">
                                                        {{rowsEmployee.length}} not selected / {{rowsEmployeeTemp.length}} total
                                                    </div>
                                                </div>
                                                <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                                                    [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
                                                    [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)" (change)="employeeGrid.onFooterPage($event)">
                                                </datatable-pager>
                                            </ng-template>
                                        </ngx-datatable-footer>

                                        <!-- Data Grid checkbox -->
                                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                            [checkboxable]="true">
                                        </ngx-datatable-column>

                                        <!-- Data Grid EmployeeId -->
                                        <ngx-datatable-column name="employeeId" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumnEmployee('employeeId')">{{PAY_SCHEDULE_SETUP_EMPLOYEE_TAB_EMPLOYEE_ID['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid EmployeeFullName -->
                                        <ngx-datatable-column name="employeeFirstName" [sortable]="true" [width]="250" [canAutoResize]="false" [draggable]="false"
                                            [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumnEmployee('employeeFirstName')">{{PAY_SCHEDULE_SETUP_EMPLOYEE_TAB_EMPLOYEE_NAME['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>


                                        <!-- Data Grid Action -->
                                        <!--<ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                {{PAY_SCHEDULE_SETUP_ACTION['fieldValue']}}
                                            </ng-template>
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                            </ng-template>
                                        </ngx-datatable-column>-->

                                    </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div [ngClass]="'button-row'">
                        <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                            <div [ngClass]="'col-xs-12'">
                                <span class="pull-right">
                                    <button *ngIf="model.payScheduleIndexId" style="margin-right: 18px" [ngClass]="'grey-btn'">{{PAY_SCHEDULE_SETUP_UPDATE_LABEL['fieldValue']}}</button>
                                    <button *ngIf="!model.payScheduleIndexId" style="margin-right: 18px" [ngClass]="'grey-btn'">{{PAY_SCHEDULE_SETUP_SAVE_LABEL['fieldValue']}}</button>
                                    <button [ngClass]="'orange-btn'" type="button" style="margin-right: 18px" (click)="Clear(f)">{{PAY_SCHEDULE_SETUP_CLEAR_LABEL['fieldValue']}}</button>
                                    <button type="button" [ngClass]="'blue-btn'" style="margin-right: 18px" (click)="cancelModel();showCreateForm = false;">{{PAY_SCHEDULE_SETUP_CANCEL_LABEL['fieldValue']}}</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="algo-table algo-table-department">
                <!-- Data Grid Starts-->
                <div class="table-responsive">
                </div>
            </div>
            </div>
        </section>
    </section>
</div>
