<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <!-- <span class="btnClose" (click)='closeModal()'></span> -->
            <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
                <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
                <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
                <button  class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

        </div>
    </div>
</div>

<!-- screen header -->
<div class="page-header">
<div class="page-header-title">
  <span><h3>Create Paycode Setup</h3></span>
</div>
<!-- <div class="page-header-breadcrumb">
    <i class="ti-settings"></i>
</div> -->
</div>
<!-- screen header -->

<div class="content-wrapper">
<section class="content" (keyup)='EscapeModal($event)'>
    <!-- section Heading Starts -->
    <!-- <div class="section-heading">
        <h2></h2>
    </div> -->
    <!-- section Heading Ends -->
    <section class="inner-content">
        <!-- Content Outer Starts -->
        <div class="content-outer com-form">
            <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                {{messageText}}
            </div>

            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{message.text}}
                </div>
            <!-- Content Heading Starts -->
            <div class="content-heading">
                <!-- <h3> {{screenName}}</h3> -->
                   <div *ngIf="showloader" class="loader">
                </div>
            </div>
            <!-- Content Heading Ends -->
            
            <!--adding form starts-->
  <!-- Basic Form Inputs card start -->
<app-card [title]="">
<!-- <h4 class="sub-title">Create company</h4> -->


<form class="form-horizontal" (ngSubmit)="f.form.valid && CreatePayCode(f, $event)" 
#f="ngForm" novalidate >

<!-- [formGroup]="registerForm" (ngSubmit)="onSubmit()" -->


<!-- <div *ngIf="isUnderUpdate; then update else create"></div>
<ng-template #update>
    <div class="floating-label" [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
        <div class="col-md-4">
            <label class="control-label" for="payCodeId">{{PAY_CODE['fieldValue']}}</label>
            <span *ngIf="PAY_CODE['isMandatory']">*</span>
        </div>
        <div class="col-md-8">
            <input type="text" class="floating-input" name="payCodeId" value="{{payCodeIdvalue}}" title="{{PAY_CODE['helpMessage']}}"
                maxlength="15" [readonly]="PAY_CODE['readAccess']" />
        </div>
    </div>
</ng-template> -->


<!-- <ng-template> -->
       <div class="form-group row">
            <div class="col-sm-2">
                <div class="floating-label" class="col-md-offset-4">

                    <input auto-complete [source]="rows" class="floating-input" list-formatter="payCodeId" [readonly]="isUnderUpdate"   
                    [(ngModel)]="selectedPaycode" [ngModelOptions]="{standalone: true}" name="payCodeId"  #payCodeId="ngModel"
                     placeholder=""   tabindex="1" required
                     #filterInput1  on-focus="onAutocompleteFocus('lblpayCodeId')" (valueChanged)="getPayCodeData($event)" />      
                                  
                  
                    <div *ngIf="f.submitted && payCodeId.invalid">
                            <div class="error-msg" [hidden]="!payCodeId.errors.required">
                                {{PAY_CODE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                            <div class="error-msg" [hidden]="!payCodeId.errors?.maxlength" *ngIf="PAY_CODE['listDtoFieldValidationMessage'][1]">
                                {{PAY_CODE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                            </div>
                        </div>
                    <span class="highlight"></span>
                    <label id="lblpayCodeId" for="payCodeId">{{PAY_CODE['fieldValue']}}</label>
                    <input type="hidden" />
                    <span class="search-icon">
                        <i (click)="toggle1()" [ngClass]="{'ti-angle-down': !isPayCodeOpen, 'ti-angle-up':isPayCodeOpen }"></i>                        
                    </span>
                  
                  </div>
                </div>

                <div class="col-sm-8">


                        <div class="row remember-me">
                              
                                <div  [ngClass]="{'text-left': currentLanguage=='1', 'text-right':currentLanguage=='2' }" class="col-xs-6">
                                        <span class="datatable-checkbox control-label">
                                                <input type='checkbox' name="inActive" (click)="checkPaycodeForm($event)" [(ngModel)]="model.inActive" #inActive="ngModel"
                                                    title="{{PAYCODE_INACTIVE['helpMessage']}}" [checked]="isSelected" />&nbsp;&nbsp;{{PAYCODE_INACTIVE['fieldValue']}}
                                                    <!-- <label class="control-label" for="Inactive">{{PAYCODE_INACTIVE['fieldValue']}}</label> -->
                                            </span>
                                </div>
                              
                            </div>

                    <!-- <div class="col-sm-6">
                        <span class="datatable-checkbox">
                            <input type='checkbox' name="inActive" (click)="checkPaycodeForm($event)" [(ngModel)]="model.inActive" #inActive="ngModel"
                                title="{{PAYCODE_INACTIVE['helpMessage']}}" [checked]="isSelected" />&nbsp;&nbsp;
                                <label class="control-label" for="Inactive">{{PAYCODE_INACTIVE['fieldValue']}}</label>
                        </span>
                    </div>
                    <div class="col-sm-6">
                        
                    </div>
                 -->
                </div>

          
        </div>
   
        <div class="form-group row">  
                <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !description.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <input class="floating-input" type="text" placeholder=" " tabindex="2" name="description" [(ngModel)]="model.description"
                                #description="ngModel" title="{{PAYCODE_DESCRIPTION['helpMessage']}}" maxlength="31" [required]="PAYCODE_DESCRIPTION['isMandatory']"
                                tabindex="2" />
                            <div *ngIf="f.submitted && description.invalid">
                                <div class="error-msg" [hidden]="!description.errors.required">
                                    {{PAYCODE_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="!description.errors?.maxlength" *ngIf="PAYCODE_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                    {{PAYCODE_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label class="control-label" for="description">{{PAYCODE_DESCRIPTION['fieldValue']}}</label>
                
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !arabicdescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <input class="floating-input" type="text" placeholder=" " tabindex="3" name="arabicdescription" [(ngModel)]="model.arbicDescription"
                                #arabicdescription="ngModel" title="{{PAYCODE_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61" [required]="PAYCODE_ARABIC_DESCRIPTION['isMandatory']"
                                tabindex="3" />
                            <div *ngIf="f.submitted && arabicdescription.invalid">
                                <div class="error-msg" [hidden]="!arabicdescription.errors.required">
                                    {{PAYCODE_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="!arabicdescription.errors?.maxlength" *ngIf="PAYCODE_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                    {{PAYCODE_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label class="control-label" for="arabicdescription">{{PAYCODE_ARABIC_DESCRIPTION['fieldValue']}}</label>
                        </div>
                    </div>
                </div>
               
               
  <!-- Main account -->
<div class="col-sm-4">
    <div class="form-group row">
        <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && mainacc.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
            <input auto-complete [source]="mainAccList" class="floating-input" list-formatter="value" on-focus="onAutocompleteFocus('lblmainAccount')"
                [(ngModel)]="selectedMainAccount" [ngModelOptions]="{standalone: true}" name="mainacc" #mainacc="ngModel" placeholder=""
                tabindex="5" #filterInput required />
            <!-- on-focus="onAutocompleteFocus('methodLabel',selectedmethod);methodFocusIn(methodId)" on-focusout="onAutocompleteFocusOut('methodLabel',selectedmethod);methodFocusout(methodId)" -->
            <div *ngIf="f.submitted && mainacc.invalid">
                <div class="error-msg" [hidden]="!mainacc.invalid">
                    {{DEDUCTION_CODE_METHOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
            </div>
            <span class="highlight"></span>
            <label id="lblmainAccount" class="control-label" for="mainacc">MAIN ACCOUNT</label>
            <input type="hidden" />
            <span class="search-icon">
                <!-- <i class="ti-angle-down"></i> (click)="toggle()-->
                <i [ngClass]="{'ti-angle-down': !ismethodOpen, 'ti-angle-up':ismethodOpen }"></i>
            </span>
        </div>
    </div>
</div>

              
               
         </div>
    <!-- <div class="sub-title"></div> -->
    <div class="form-group row">

            <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label col-md-12" >
                           
                                <input auto-complete [source]="typeData" class="floating-input" list-formatter="value"   
                                    [(ngModel)]="selectedPayType" [ngModelOptions]="{standalone: true}" name="type"  #type="ngModel"
                                    placeholder=""  on-focus="onAutocompleteFocus('lblType')"
                                      tabindex="10" required title="{{PAYCODE_PAY_TYPE['helpMessage']}}"
                                      #filterInput6/>
                                   
                            <!-- <div *ngIf="f.submitted && payperiod.invalid">
                                <div class="error-msg" [hidden]="!payperiod.errors.required">
                                    {{PAYCODE_PAY_PERIOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="!payperiod.errors?.maxlength" *ngIf="PAYCODE_PAY_RATE['listDtoFieldValidationMessage'][1]">
                                    {{PAYCODE_PAY_PERIOD['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                                <div class="error-msg" *ngIf="payperiod.dirty && payperiod.value.length!=0">
                                    {{PAYCODE_PAY_PERIOD['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                </div>
                            </div> -->
                            <span class="highlight"></span>
                            <label id="lblType" class="control-label" for="type">TYPE</label>
            
                            <input type="hidden" />
                            <span class="search-icon">
                                <i (click)="toggle6()" [ngClass]="{'ti-angle-down': !isTypeOpen, 'ti-angle-up':isTypeOpen }"></i>
                            </span>
                        </div>
                   </div>
              </div>


                <div class="col-sm-4">
                        <div class="form-group row">
                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !round.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                              
                                    <input auto-complete [source]="roundings" class="floating-input" list-formatter="name"   
                                        [(ngModel)]="selectedRoundOf" [ngModelOptions]="{standalone: true}" name="round"  #round="ngModel" on-focus="onAutocompleteFocus('lblRound')"
                                        placeholder="" (valueChanged)="getRoundOfData($event)"  tabindex="10" required [ngClass]="form-control"
                                          #filterInput7/>
                                
                                <span class="highlight"></span>
                                <label id="lblRound" class="control-label" for="payperiod">ROUNDING</label>
                    
                                <input type="hidden" />
                                <span class="search-icon">
                                    <i (click)="toggle7()" [ngClass]="{'ti-angle-down': !isRoundOpen, 'ti-angle-up':isRoundOpen }"></i>
                                </span>
                            </div>
                       </div>
                    </div>

                    <div class="col-sm-4">
                            <div class="form-group row">
                                <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !payCodeTypeId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <!-- <input  class="floating-input" type="text" placeholder=" " tabindex="4" name="payCodeTypeId" [(ngModel)]="model.payCodeTypeId"
                                        #payCodeTypeId="ngModel" title="{{PAYCODE_PAY_TYPE['helpMessage']}}" maxlength="61" [required]="PAYCODE_PAY_TYPE['isMandatory']"
                                        filterInput2/> -->
        
                                        <input auto-complete [source]="PayTypeDropdownList" class="floating-input" list-formatter="desc"   
                                         [(ngModel)]="SelectedpayCodeTypeId" [ngModelOptions]="{standalone: true}" name="payCodeTypeId"  #payCodeTypeId="ngModel"
                                         placeholder=""  on-focus="onAutocompleteFocus('lblPaycodetype')"
                                            tabindex="4" required title="{{PAYCODE_PAY_TYPE['helpMessage']}}"
                                           #filterInput2  [required]="PAYCODE_PAY_TYPE['isMandatory']" />
        
        
                                    <!-- <div *ngIf="f.submitted && payCodeTypeId.invalid">
                                        <div class="error-msg" [hidden]="!payCodeTypeId.errors.required">
                                            {{PAYCODE_PAY_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div class="error-msg" [hidden]="!payCodeTypeId.errors?.maxlength" *ngIf="PAYCODE_PAY_TYPE['listDtoFieldValidationMessage'][1]">
                                            {{PAYCODE_PAY_TYPE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                    </div> -->
                                    <div *ngIf="f.submitted && payCodeTypeId.value==''">
                                        <div [hidden]="!payCodeTypeId.value==''">
                                          {{PAYCODE_PAY_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                      </div>
                                    <span class="highlight"></span>
                                    <label id="lblPaycodetype" class="control-label" for="payCodeTypeId">{{PAYCODE_PAY_TYPE['fieldValue']}}</label>
        
                                      <input type="hidden" />
                                     <span class="search-icon">
                                         <i (click)="toggle2()" [ngClass]="{'ti-angle-down': !isPaycodeTypeOpen, 'ti-angle-up':isPaycodeTypeOpen }"></i>
                                     </span>
                                </div>
                            </div>
                        </div>


                  

            <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label col-md-6" [ngClass]="{'has-error': f.submitted && baseOnPayCode.invalid,'col-md-4 col-sm-3 col-xs-6':true, 'col-md-offset-4': currentLanguage == 2}">
                            <!-- <input auto-complete [source]="countries" class="floating-input" list-formatter="baseOnPayCodeName" [(ngModel)]="selectedbaseOnPayCode"
                                [ngModelOptions]="{standalone: true}" name="baseOnPayCode" #baseOnPayCode="ngModel"  (valueChanged)="getbaseOnPayCodeData($event)"
                                placeholder="" on-focus="onAutocompleteFocus('lblbaseOnPayCode',selectedbaseOnPayCode);baseOnPayCodeFocusIn(baseOnPayCode)" on-focusout="onAutocompleteFocusOut('lblbaseOnPayCode',selectedbaseOnPayCode)"
                                tabindex="5"  #filterInput required #filterInput3/> -->
                                
                                <input auto-complete [source]="rows" class="floating-input" list-formatter="payCodeId"   
                                [(ngModel)]="SelectedbaseOnPayCode" [ngModelOptions]="{standalone: true}" name="baseOnPayCode"  #baseOnPayCode="ngModel"
                                placeholder="" (valueChanged)="changeBasedOnPaycode($event)" on-focus="onAutocompleteFocus('lblbaseOnPayCode')"
                                  tabindex="5"  title="{{PAYCODE_BASE_ON_PAYCODE['helpMessage']}}"
                                  #filterInput3/>
 

                                <!-- on-focus="onAutocompleteFocus('baseOnPayCodeLabel',selectedbaseOnPayCode);baseOnPayCodeFocusIn(baseOnPayCodeId)" on-focusout="onAutocompleteFocusOut('baseOnPayCodeLabel',selectedbaseOnPayCode);baseOnPayCodeFocusout(baseOnPayCodeId)" -->
                            <!-- <div *ngIf="f.submitted && baseOnPayCode.invalid">
                                <div class="error-msg" [hidden]="!baseOnPayCode.invalid">
                                    {{PAYCODE_BASE_ON_PAYCODE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div> -->
                            <span class="highlight"></span>
                            <label id="lblbaseOnPayCode" class="control-label" for="baseOnPayCode">{{PAYCODE_BASE_ON_PAYCODE['fieldValue']}}</label>
                            <input type="hidden" />
                            <span class="search-icon">
                                <!-- <i class="ti-angle-down"></i> -->
                                <i (click)="toggle3()" [ngClass]="{'ti-angle-down': !isbaseOnPayCodeOpen, 'ti-angle-up':isbaseOnPayCodeOpen }"></i>
                            </span>
                        </div>

                        <!-- basedonpaycode amount -->
                        <div class="floating-label col-md-6">
                            <input  class="floating-input" [ngClass]="{'read-only': !setBasePayCode }" [readonly]="!setBasePayCode"  type="number" placeholder=" " tabindex="6" name="baseOnPayCodeAmount" [pattern]="pattern" [(ngModel)]="model.baseOnPayCodeAmount"
                                #baseOnPayCodeAmount="ngModel" title="{{PAYCODE_BASE_ON_PAYCODE['helpMessage']}}" maxlength="150" (input)="calculatePayRate($event);" 
                                baseOnPayCodeAmount="true" [readonly]="model.baseOnPayCode == ''"  (change)="calculatePayRate($event);" min='0' 
                                [ngClass]="form-control"/>

                            <div *ngIf="f.submitted && baseOnPayCodeAmount.invalid">
        
                                <div class="error-msg" [hidden]="!baseOnPayCodeAmount.errors?.required">
                                    {{PAYCODE_BASE_ON_PAYCODE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="baseOnPayCodeAmount.errors?.required && baseOnPayCodeAmount.errors?.baseOnPayCodeAmount">
                                    {{PAYCODE_BASE_ON_PAYCODE['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label class="control-label" for="baseOnPayCodeAmount"></label>
                        </div>
                    </div>

                  
                
                
                </div>

        <!-- <div class="col-sm-4"> -->
            <!-- <div class="form-group row"> -->
                 



                <div class="col-sm-4">
                    <div class="form-group row">
                        <!-- <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !payFactor.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                            <div  class="floating-label  col-md-12"   [ngClass]="{'has-error': f.submitted && !payFactor.valid || !decimalValue,'col-md-8 col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <input  class="floating-input" type="text" [ngClass]="{'read-only': !setBasePayCode }"  placeholder=" " tabindex="7" name="payFactor" [readonly]="model.baseOnPayCode == '' && !setBasePayCode" [pattern]="pattern" [(ngModel)]="model.payFactor"
                                #payFactor="ngModel" title="{{PAYCODE_PAY_FACTOR['helpMessage']}}" maxlength="150" [required]="PAYCODE_PAY_FACTOR['isMandatory']"
                                payFactor="true" maxlength="150" max="9999999999" (change)="calculatePayRate($event);" title="{{PAYCODE_PAY_FACTOR['helpMessage']}}"
                                onKeyPress="if(this.value.length==10) return false;"/>

                                <!-- <input type="text" [readonly]="model.baseOnPayCode == ''" [pattern]="pattern" [ngClass]="'form-control fm-txt'" name="payFactor" [(ngModel)]="model.payFactor"
                      #payFactor="ngModel" title="{{PAYCODE_PAY_FACTOR['helpMessage']}}" maxlength="150" (change)="calculatePayRate($event);"
                      onKeyPress="if(this.value.length==10) return false;" max="9999999999" > -->
                    
                            <!-- <div *ngIf="f.submitted && payFactor.invalid"> -->
                                 

                                <div class="error-msg" *ngIf="f.submitted && payFactor.invalid">
                                    <div [hidden]="!payFactor.errors.required">
                                      {{PAYCODE_PAY_FACTOR['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                  </div>
                                  <div class="error-msg" *ngIf="!decimalValue">  
                                    <div *ngIf="payFactor.dirty && payFactor.value.length!=0 || !decimalValue">
                                      {{PAYCODE_PAY_FACTOR['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                  </div>



                                <!-- <div class="error-msg" [hidden]="!payFactor.errors?.required">
                                    {{PAYCODE_PAY_FACTOR['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="payFactor.errors?.required && payFactor.errors?.payFactor">
                                    {{PAYCODE_PAY_FACTOR['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                            </div> -->
                            <span class="highlight"></span>
                            <label class="control-label" for="payFactor">{{PAYCODE_PAY_FACTOR['fieldValue']}}</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                <div class="form-group row"> 
                    <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && payRate.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                        <input   class="floating-input" [ngClass]="{'read-only': isUnderUpdate || setBasePayCode }"  [(ngModel)]="model.payRate" [ngModelOptions]="{standalone: true}"
                            name="payRate" #payRate="ngModel"  (valueChanged)="getpayRateData($event)" placeholder=" "  tabindex="8" #filterInput1 required
                            title="{{PAYCODE_PAY_RATE['helpMessage']}}" [pattern]="pattern" maxlength="150" max="9999999999" onKeyPress="if(this.value.length==10) return false;"
                            [readonly]="isUnderUpdate"/>
                               <!-- on-focus="onAutocompleteFocus('lblpayRate',selectedpayRate);payRateFocusIn(payRate)"
                            on-focusout="onAutocompleteFocusOut('lblpayRate',selectedpayRate)" -->
                            <!-- on-focus="onAutocompleteFocus('payRateLabel');payRateFocusIn(payRateId)" on-focusout="onAutocompleteFocusOut('payRateLabel');payRateFocusout(payRateId)" -->
                        <div *ngIf="f.submitted && payRate.invalid">
                            <div class="error-msg" [hidden]="!payRate.invalid">
                                {{PAYCODE_PAY_RATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
        
                        </div>
                        <span class="highlight"></span>
                        <label id="lblpayRate" class="control-label" for="payRate">{{PAYCODE_PAY_RATE['fieldValue']}}</label>
                        
                        <input type="hidden" />
                        
                    </div>
                </div>
            </div>
          


            <div class="col-sm-4">
             
            <div class="form-group row">
                    <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && unitofPay.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                        <!-- <input auto-complete [source]="unitofPays" class="floating-input" list-formatter="unitofPayName" [(ngModel)]="model.unitofPay" [ngModelOptions]="{standalone: true}"
                            name="unitofPay" #unitofPay="ngModel"  (valueChanged)="getunitofPayData($event)" placeholder="" on-focus="onAutocompleteFocus('lblunitofPay',selectedunitofPay)"
                            on-focusout="onAutocompleteFocusOut('lblPaycodetype',selectedunitofPay)" tabindex="6" #filterInput4 required/> -->

                            <input auto-complete [source]="unitofPays" class="floating-input" list-formatter="name"   
                                [(ngModel)]="SelectedunitofPay" [ngModelOptions]="{standalone: true}" name="unitofPay"  #unitofPay="ngModel"
                                placeholder="" (valueChanged)="getunitofPayData($event)" on-focus="onAutocompleteFocus('lblUnitoofPay')"
                                  tabindex="9"  [required]="PAYCODE_UNIT_OF_PAY['isMandatory']"
                                  #filterInput4  [value]="unitofPay.id"/>
                        <div *ngIf="f.submitted && unitofPay.invalid">
                            <div class="error-msg" [hidden]="!unitofPay.invalid">
                                {{PAYCODE_UNIT_OF_PAY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
        
                        </div>
                        <span class="highlight"></span>
                        <label id="lblUnitoofPay" class="control-label" for="unitofPay">{{PAYCODE_UNIT_OF_PAY['fieldValue']}}</label>
                        <input type="hidden" />
                        <span class="search-icon">
                            <i (click)="toggle4()" [ngClass]="{'ti-angle-down': !isunitofPayOpen, 'ti-angle-up':isunitofPayOpen }"></i>
                        </span>
                    </div>
         
    
            </div>
        </div>
        

        <div class="col-sm-4">
            <div class="form-group row">
                <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !payperiod.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <!-- <input  class="floating-input" type="text" placeholder=" " tabindex="9" name="payperiod" [(ngModel)]="model.payperiod" #payperiod="ngModel"
                        title="{{PAYCODE_PAY_RATE['helpMessage']}}"  maxlength="21" 
                        
                        [required]="PAYCODE_PAY_RATE['isMandatory']" filterInput5 /> -->

                        <input auto-complete [source]="payperiods" class="floating-input" list-formatter="name"   
                            [(ngModel)]="Selectedpayperiod" [ngModelOptions]="{standalone: true}" name="payperiod"  #payperiod="ngModel"
                            placeholder=""  on-focus="onAutocompleteFocus('lblPayPeriod')"
                               tabindex="10" title="{{PAYCODE_PAY_PERIOD['helpMessage']}}" required
                              #filterInput5 [value]="payperiod.id"/>
                        <!-- on-focus="onAutocompleteFocus('lblPayPeriod'SelectedPayPeriod);payperiodFocusIn(payperiod)"
                        on-focusout="onAutocompleteFocusOut('lblPayPeriod',SelectedPayPeriod)" -->
                    <div *ngIf="f.submitted && payperiod.invalid">
                        <div class="error-msg" [hidden]="!payperiod.errors.required">
                            {{PAYCODE_PAY_PERIOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div class="error-msg" [hidden]="!payperiod.errors?.maxlength" *ngIf="PAYCODE_PAY_PERIOD['listDtoFieldValidationMessage'][1]">
                            {{PAYCODE_PAY_PERIOD['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                        <div class="error-msg" *ngIf="payperiod.dirty && payperiod.value.length!=0">
                            {{PAYCODE_PAY_PERIOD['listDtoFieldValidationMessage'][2]['validationMessage']}}
                        </div>
                    </div>
                    <span class="highlight"></span>
                    <label id="lblPayPeriod" class="control-label" for="payperiod">{{PAYCODE_PAY_PERIOD['fieldValue']}}</label>

                    <input type="hidden" />
                    <span class="search-icon">
                        <i (click)="toggle5()" [ngClass]="{'ti-angle-down': !isPayPeriodOpen, 'ti-angle-up':isPayPeriodOpen }"></i>
                    </span>
                </div>
           </div>
      </div>


     
    

 




     

           </div>
    
    

    
          
        
 
        <div [ngClass]="'button-row'">
                <div [ngClass]="'col-sm-12'">
                    <button tabindex="13" *ngIf="isUnderUpdate" class="green-btn">{{UpdateText}}</button>
                    <button tabindex="13" *ngIf="!isUnderUpdate" class="green-btn">{{PAYCODE_SAVE_LABEL['fieldValue']}}</button>
                    <button tabindex="14" class="blue-btn" (click)="goBack()">{{PAYCODE_CANCEL_LABEL['fieldValue']}}</button>
                    <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{PAYCODE_CLEAR_LABEL['fieldValue']}}</button>
                    <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
                    <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
                </div>
                
            <!-- </div> -->
   </div>
  </form>


</app-card>        
           

<!--adding form ends-->
</div>
<!-- Content Outer Ends -->
</section>
</section>
</div>



