
<div class="content-wrapper user-view" >
    <section class="content">
        <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
        <section class="inner-content">
            <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                {{messageText}}
            </div>
            
            <div class="content-outer com-form">
                <div class="row">
                    <div class="content-heading">
                        <div class="search-top">
                            <input type="text" class="search-txt form-control"  (keyup)='updateFilter($event)' />
                        </div>
                    </div>
                    <div class="form-row">  
                        <div class="col-xs-12">
                            <div class="algo-table">
                                <div class="table-responsive">
                                    <ngx-datatable id="exchangeId" class="material" [rows]="rows"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'auto'" [externalPaging]="true"
                                    [count]="page.totalElements" [offset]="page.pageNumber"
                                    [limit]="page.size" (page)='setPage($event)'
                                    [selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
                                    (select)='onSelect($event)'> 
                                    <ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="exchangeId" [width]="200"
                                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                    <ng-template let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn"
                                    (click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
                                    let-value="value" ngx-datatable-cell-template>
                                    {{value}} </ng-template> 
                                </ngx-datatable-column> 
                                <ngx-datatable-column name="description" *ngIf="defaultManageFormValues[1]['readAccess']" 
                                [width]="220" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false"> <ng-template
                                let-column="column" let-sort="sortFn"
                                ngx-datatable-header-template> <span class="sort-btn"
                                (click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
                                let-value="value" ngx-datatable-cell-template>
                                {{value}} </ng-template>
                            </ngx-datatable-column> 
                            <ngx-datatable-column name="descriptionArabic" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="220" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
                            {{value}} 
						</ng-template>
                    </ngx-datatable-column> 
                    <ngx-datatable-column name="currencyId" *ngIf="defaultManageFormValues[3]['readAccess']" 
                    [width]="150" [canAutoResize]="false" [draggable]="false"
                    [resizeable]="false"> <ng-template
                    let-column="column" let-sort="sortFn"
                    ngx-datatable-header-template> <span class="sort-btn"
                    (click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
                    let-value="value" ngx-datatable-cell-template>
                    {{value}} 
                </ng-template>
            </ngx-datatable-column> 
            
            <ngx-datatable-column name="Action" [width]="150" *ngIf="defaultManageFormValues[5]['readAccess']" 
            [canAutoResize]="false" [draggable]="false" [resizeable]="false">
            <ng-template let-column="column" let-sort="sortFn"
            ngx-datatable-header-template>
            {{defaultManageFormValues[6]['fieldValue']}} </ng-template> <ng-template let-row="row"
            let-value="value" ngx-datatable-cell-template>
            <a class="edit-ico" (click)="getExchangeTableSetupById(row)" title="{{defaultManageFormValues[4]['helpMessage']}}"></a>
        </ng-template> 
    </ngx-datatable-column> 
</ngx-datatable>
</div>

<div class="button-row" *ngIf="page.totalElements > 0">
    <!-- Table View Starts -->
    <div class="table-view">
        <span>{{tableViewtext}}</span>
        <div class="select-outer">
            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
                <option value="5">5 {{atATimeText}} </option>
                <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                <option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                <option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
            </select>
        </div>
    </div>
    <!-- Table View Ends -->
    <div class="bottom-view">
    </div>
</div>

</div><!-- Algo Table Ends -->
</div>

</div>


<form (ngSubmit)="!hasMsg && f.form.valid && saveExchangeTableSetUp(f)" #f="ngForm" novalidate>
    <div class="form-row">
        <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !exchangeId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            
            <label for="exchangeId">{{defaultAddFormValues[0]['fieldValue']}}</label>
            <input myAutofocus type="text" [ngClass]="'form-control fm-txt auto-focus'" name="exchangeId" [(ngModel)]="model.exchangeId" 		
            #exchangeId="ngModel" 	class="{{myHtml}}" [disabled]="disableId" id="exchangeIdText"
            title="{{defaultAddFormValues[0]['helpMessage']}}" (blur)='IsIdAlreadyExist()'		
            maxlength="10"  [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>
            <div *ngIf="f.submitted && exchangeId.invalid">
                <div class='error-msg' *ngIf="exchangeId.errors.required">
                    {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="exchangeId.errors.maxlength">
                    {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        
        
    </div>
    
    
    
    <!-- Form Row Ends -->
    <div [ngClass]="'form-row'">
        
        <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !description.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            
            <label for="description">{{defaultAddFormValues[1]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="model.description" 		
            #description="ngModel" 		
            title="{{defaultAddFormValues[1]['helpMessage']}}"		
            maxlength="25"  [readonly]="!defaultAddFormValues[1]['writeAccess']" required/>
            <div *ngIf="f.submitted && description.invalid">
                <div class='error-msg' *ngIf="description.errors.required">
                    {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="description.errors.maxlength">
                    {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        
        <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !descriptionArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
            
            <label for="descriptionArabic">{{defaultAddFormValues[2]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="descriptionArabic" [(ngModel)]="model.descriptionArabic" 		
            #descriptionArabic="ngModel" 		
            title="{{defaultAddFormValues[2]['helpMessage']}}"		
            maxlength="50"  [readonly]="!defaultAddFormValues[2]['writeAccess']" required/>
            <div *ngIf="f.submitted && descriptionArabic.invalid">
                <div class='error-msg' *ngIf="descriptionArabic.errors.required">
                    {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="descriptionArabic.errors.maxlength">
                    {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        
    </div><!-- Form Row Ends -->
    
    <div [ngClass]="'form-row'">
        <div  *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{'has-error': f.submitted && currencyId.length == 0,'col-md-6 col-sm-6 col-xs-12':true}">
            
            <label for="currencyId">{{defaultAddFormValues[3]['fieldValue']}}</label>
            <div [ngClass]="'select-outer'">
                <!--<select [ngClass]="'form-control '" name="currencyId" [(ngModel)]="model.currencyId" #currencyId="ngModel" 
                    title="{{defaultAddFormValues[3]['helpMessage']}}" required>
                    <option *ngFor="let currency of currencyoptions"  value="{{currency.currencyId}}" >
                        {{currency.currencyId}}
                    </option>
                </select>-->
                <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCurrencyId" [(ngModel)]="currencyId" [ngModelOptions]="{standalone: true}"
                [settings]="ddlCurrencyIdSetting" 
                (onSelect)="getCurrencyByID($event)" (onDeSelect)="OnCurrencyIdDeSelect($event)"></angular2-multiselect>
            </div>
            <div *ngIf="f.submitted && currencyId.length == 0">
                <div class='error-msg'>
                    {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                
            </div>
        </div>
    </div>
    <!-- Form Row Ends -->
    <div [ngClass]="'form-row'">
        
        <div  *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{'has-error': f.submitted && !exchangeRateSource.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            
            <label for="exchangeRateSource">{{defaultAddFormValues[4]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="exchangeRateSource" [(ngModel)]="model.exchangeRateSource" 		
            #exchangeRateSource="ngModel" 		
            title="{{defaultAddFormValues[4]['helpMessage']}}"		
            maxlength="50"  [readonly]="!defaultAddFormValues[4]['writeAccess']" required/>
            <div *ngIf="f.submitted && exchangeRateSource.invalid">
                <div class='error-msg' *ngIf="exchangeRateSource.errors.required">
                    {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="exchangeRateSource.errors.maxlength">
                    {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        
        <div  *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{'has-error': f.submitted && !exchangeRateSourceArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
            
            <label for="exchangeRateSourceArabic">{{defaultAddFormValues[5]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="exchangeRateSourceArabic" [(ngModel)]="model.exchangeRateSourceArabic" 		
            #exchangeRateSourceArabic="ngModel" 		
            title="{{defaultAddFormValues[5]['helpMessage']}}"		
            maxlength="50"  [readonly]="!defaultAddFormValues[5]['writeAccess']" required/>
            <div *ngIf="f.submitted && exchangeRateSourceArabic.invalid">
                <div class='error-msg' *ngIf="exchangeRateSourceArabic.errors.required">
                    {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="exchangeRateSourceArabic.errors.maxlength">
                    {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        
    </div><!-- Form Row Ends -->
    <div class="form-row">
        <div  *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{'has-error': f.submitted && !rateFrequency.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            <label for="rateFrequency">{{defaultAddFormValues[6]['fieldValue']}}</label>
            <div [ngClass]="'select-outer'">
                <select [ngClass]="'form-control fm-txt'" name="ddldecimalType" [(ngModel)]="model.rateFrequency" 
                #rateFrequency="ngModel" title="{{defaultAddFormValues[6]['helpMessage']}}" required>
                <option *ngFor="let rateFrequencyType of ArrrateFrequencyType" [value]="rateFrequencyType.typeId">
                    {{rateFrequencyType.typeValue}}
                </option>
            </select>
            
        </div>
        <div *ngIf="f.submitted && rateFrequency.invalid">
            <div class='error-msg' [hidden]="!rateFrequency.errors.required">
                {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>
        
    </div>
    
    
    
</div><!-- Form Row Ends -->

<div class="form-row">
    <div  *ngIf="defaultAddFormValues[7]['readAccess']" class="arabic-mode" [ngClass]="{'has-error ': f.submitted && !rateVariance.valid,'col-md-6 col-sm-6 col-xs-12':true}">
        
        <label for="rateVariance">{{defaultAddFormValues[7]['fieldValue']}}</label>
        <input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="rateVariance" [(ngModel)]="model.rateVariance" 		
        #rateVariance="ngModel" 	OnlyNumber="true" 
        (keydown)="onlyDecimalNumberKey($event)"  	
        title="{{defaultAddFormValues[7]['helpMessage']}}"		
        maxlength="10"  [readonly]="!defaultAddFormValues[5]['writeAccess']" required/>
        <div *ngIf="f.submitted && rateVariance.invalid">
            <div class='error-msg' *ngIf="rateVariance.errors.required">
                {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
            <div class='error-msg' *ngIf="rateVariance.errors.maxlength">
                {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
            </div>
        </div>
    </div>
</div><!-- Form Row Ends -->
<div class="form-row">
    
    <div class="content-heading"><div class="col-xs-12"><h3>{{defaultAddFormValues[8]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->
    
    <div class="col-md-6 col-sm-12 col-xs-12">
        
        <div class="col-sm-6 border-box">
            <span class="choose-opt"><label><input type="radio" name="rateCalcMethod" [(ngModel)]="model.rateCalcMethod" 		
                value="multiply" 	
                title="{{defaultAddFormValues[8]['helpMessage']}}"> {{defaultAddFormValues[9]['fieldValue']}}</label></span>
                
                <span class="choose-opt"><label><input type="radio" value="divide" name="rateCalcMethod" [(ngModel)]="model.rateCalcMethod"> {{defaultAddFormValues[10]['fieldValue']}}</label></span>
            </div>
            
            
        </div>
        
    </div><!-- Form Row Ends -->
    
    <div class="button-row">
        <div class="col-sm-12">
            <input type="submit" [disabled]="LockScreen(defaultAddFormValues[12]['writeAccess'])" class="orange-btn" title="{{defaultAddFormValues[11]['helpMessage']}}" value="{{defaultAddFormValues[11]['fieldValue']}}"/>
            <input type="button" class="blue-btn" title="{{defaultAddFormValues[12]['helpMessage']}}" (click)="clearForm()" value="{{defaultAddFormValues[12]['fieldValue']}}"/>
            <input type="button" class="blue-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
            <input type="button" class="blue-btn" [disabled]="disableButton" title="{{defaultAddFormValues[13]['helpMessage']}}" (click)="redirect1(exchangeId)" value="{{defaultAddFormValues[13]['fieldValue']}}"/>
            
        </div>
        
    </div>
</form>

</div> <!-- Row Ends -->
</div><!-- Content OUter Ends -->

</section>
</section>
</div>
<style>
    .border-vanish{border:2px solid #d9d9d9;}
</style>