<form id="EmployeeMasterForm" class="form-horizontal" (ngSubmit)="f.form.valid && CreateEmployeeMaster(f, $event)" #f="ngForm"
novalidate>
<div class="col-md-12 col-sm-12 col-xs-12">
  <!-- <div> -->
    <h4>General</h4>
   
    <!-- EMPLOYEE_ID -->
    <div class="form-group row">
      <div class="col-sm-4">
        <div class="form-group row">
          <div class="floating-label col-md-12 multi-select" [ngClass]="{'has-error': f.submitted && !employeeId.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
      
            <angular4-multiselect [data]="empList" class="floating-input" [(ngModel)]="selectedEmployee" [ngModelOptions]="{standalone: true}"
              on-focusin="onAutocompleteFocus('EmployeeIdLabel')" name="employeeId" #employeeId="ngModel" (valueChanged)="getEmployeeData($event)"
              [settings]="{singleSelection: true,text:this.selectUser,enableSearchFilter: true,classes:'myclass custom-class'}" (onSelect)="onItemSelect($event)"
              tabindex="1" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
            <div *ngIf="f.submitted && RouteIdLabel.invalid">
              <!-- <div class='error-msg' [hidden]="!countryId.errors.required">
                                                                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                            </div> -->
            </div>
            <span class="highlight"></span>
            <label id="EmployeeIdLabel" for="employeeId">{{defaultFormValues[0]['fieldValue']}}</label>
          </div>
        </div>
      </div>
    
    
      <!-- isActive checkbox -->
      <div class="col-sm-4">
        <div class="form-group row">
          <div class="form-group doNotPrint row" [ngClass]="{'has-error': f.submitted && !employeeTitle.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
            <div class="col-md-12" style="margin-top: 33px;">
              <span class="datatable-checkbox control-label">
                <!-- <input type='checkbox' name="inActive" (click)="checkDeductionCodeForm($event)" [(ngModel)]="model.inActive" #inActive="ngModel"
                                                                                                  title="{{PAYCODE_INACTIVE['helpMessage']}}" [checked]="isSelected" /> -->
                <input title="{{defaultFormValues[37]['helpMessage']}}" type="checkbox" name="employeeInactive" [checked]="model.employeeInactive"
                  [(ngModel)]="model.employeeInactive" (change)="CheckIsInactive()" #employeeInactive="ngModel" />&nbsp;&nbsp;{{defaultFormValues[37]['fieldValue']}}
              </span>
              <span class="highlight"></span>
              <!-- <label class="control-label" for="inactive">{{DEDUCTION_CODE_INACTIVE['fieldValue']}}</label> -->
            </div>
          </div>
        </div>
      </div>
    
    
    </div>


     
       <div class="form-group row"> 
            <!-- employeeTitle -->
        <div class="col-md-3">
          <div class="form-group row">
            <div class="floating-label col-md-4" [ngClass]="{'has-error': f.submitted && !employeeTitle.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              <input class="floating-input" type="text" placeholder=" " tabindex="2" name="employeeTitle" [(ngModel)]="model.employeeTitle"
                #employeeTitle="ngModel" title="{{defaultFormValues[1]['helpMessage']}}" required maxlength="5" />
              <div *ngIf="f.submitted && employeeTitle.invalid">
                <div [hidden]="!employeeTitle.errors.required">
                  {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
              </div>
              <span class="highlight"></span>
              <label class="control-label" for="employeeTitle">{{defaultFormValues[1]['fieldValue']}}</label>
            </div>
          </div>
        </div>
            <!-- employeeLastName -->
            <div class="col-md-3">
              <div class="form-group row">
                <div class="floating-label col-md-4" [ngClass]="{'has-error': f.submitted && !employeeLastName.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <input class="floating-input" type="text" placeholder=" " tabindex="2" name="employeeLastName" [(ngModel)]="model.employeeLastName"
                    #employeeLastName="ngModel" title="{{defaultFormValues[3]['helpMessage']}}" required maxlength="31" />
                  <div *ngIf="f.submitted && employeeLastName.invalid">
                    <div [hidden]="!employeeLastName.errors.required">
                      {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                  </div>
                  <span class="highlight"></span>
                  <label class="control-label" for="employeeLastName">{{defaultFormValues[3]['fieldValue']}}</label>
                </div>
              </div>
            </div>

              <!-- employeeFirstName -->
              <div class="col-md-3">
                <div class="form-group row">
                  <div class="floating-label col-md-4" [ngClass]="{'has-error': f.submitted && !employeeFirstName.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="2" name="employeeFirstName" [(ngModel)]="model.employeeFirstName"
                      #employeeFirstName="ngModel" title="{{defaultFormValues[4]['helpMessage']}}" required maxlength="31" />
                    <div *ngIf="f.submitted && employeeFirstName.invalid">
                      <div [hidden]="!employeeFirstName.errors.required">
                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="employeeLastName">{{defaultFormValues[4]['fieldValue']}}</label>
              
                  </div>
                </div>
              </div>

                <!-- employeeMiddleName -->
                <div class="col-md-3">
                  <div class="form-group row">
                    <div class="floating-label col-md-4" [ngClass]="{'has-error': f.submitted && !employeeMiddleName.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <input class="floating-input" type="text" placeholder=" " tabindex="2" name="employeeMiddleName" [(ngModel)]="model.employeeMiddleName"
                        #employeeMiddleName="ngModel" title="{{defaultFormValues[5]['helpMessage']}}" maxlength="31" />
                      <div *ngIf="f.submitted && employeeMiddleName.invalid">
                        <div [hidden]="!employeeMiddleName.errors.required">
                          {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                      <span class="highlight"></span>
                      <label class="control-label" for="employeeMiddleName">{{defaultFormValues[5]['fieldValue']}}</label>
                    </div>
                  </div>
                </div>
    
        
        </div>
 
          <!-- second row -->
          <div class="form-group row">
            <!-- employeeTitleArabic -->
            <div class="col-md-3">
              <div class="form-group row">
                <div class="floating-label col-md-4" [ngClass]="{'has-error': f.submitted && !employeeTitleArabic.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <input class="floating-input" type="text" placeholder=" " tabindex="2" name="employeeTitleArabic" [(ngModel)]="model.employeeTitleArabic"
                    #employeeTitleArabic="ngModel" title="{{defaultFormValues[2]['helpMessage']}}" required maxlength="5" />
                  <div *ngIf="f.submitted && employeeTitleArabic.invalid">
                    <div [hidden]="!employeeTitleArabic.errors.required">
                      {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                  </div>
                  <span class="highlight"></span>
                  <label class="control-label" for="employeeTitleArabic">{{defaultFormValues[2]['fieldValue']}}</label>
                </div>
              </div>
            </div>

              <!-- employeeLastNameArabic -->
              <div class="col-md-3">
                <div class="form-group row">
                  <div class="floating-label col-md-4" [ngClass]="{'has-error': f.submitted && !employeeLastNameArabic.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="2" name="employeeLastNameArabic" [(ngModel)]="model.employeeLastNameArabic"
                      #employeeLastNameArabic="ngModel" title="{{defaultFormValues[6]['helpMessage']}}" required maxlength="31" />
                    <div *ngIf="f.submitted && employeeLastNameArabic.invalid">
                      <div [hidden]="!employeeLastNameArabic.errors.required">
                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="employeeLastNameArabic">{{defaultFormValues[6]['fieldValue']}}</label>
                  </div>
                </div>
              </div>

              <!-- employeeFirstNameArabic -->
              <div class="col-md-3">
                <div class="form-group row">
                  <div class="floating-label col-md-4" [ngClass]="{'has-error': f.submitted && !employeeFirstNameArabic.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="2" name="employeeFirstNameArabic" [(ngModel)]="model.employeeFirstNameArabic"
                      #employeeFirstNameArabic="ngModel" title="{{defaultFormValues[7]['helpMessage']}}" required maxlength="31" />
                    <div *ngIf="f.submitted && employeeFirstNameArabic.invalid">
                      <div [hidden]="!employeeFirstNameArabic.errors.required">
                        {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="employeeFirstNameArabic">{{defaultFormValues[7]['fieldValue']}}</label>
                  </div>
                </div>
              </div>

                <!-- employeeMiddleNameArabic -->
                <div class="col-md-3">
                  <div class="form-group row">
                    <div class="floating-label col-md-4" [ngClass]="{'has-error': f.submitted && !employeeMiddleNameArabic.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <input class="floating-input" type="text" placeholder=" " tabindex="2" name="employeeMiddleNameArabic" [(ngModel)]="model.employeeMiddleNameArabic"
                        #employeeMiddleNameArabic="ngModel" title="{{defaultFormValues[8]['helpMessage']}}" maxlength="31" />
                      <div *ngIf="f.submitted && employeeMiddleNameArabic.invalid">
                        <div [hidden]="!employeeMiddleNameArabic.errors.required">
                          {{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                      <span class="highlight"></span>
                      <label class="control-label" for="employeeMiddleNameArabic">{{defaultFormValues[8]['fieldValue']}}</label>
                    </div>
                  </div>
                </div>


          </div>

    <!-- third row -->
    <div class="form-group row">
        <!-- employeeNationalitiesId -->
       
            <div class="col-sm-3">
              <div class="form-group row">
                <div class="floating-label col-md-12 multi-select" [ngClass]="{'has-error': f.submitted && !employeeId.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
            
                  <angular4-multiselect [data]="empNationalityList" class="floating-input" [(ngModel)]="selectedNationality" [ngModelOptions]="{standalone: true}"
                    on-focusin="onAutocompleteFocus('NationalitiesLabel')" name="employeeNationalitiesId" #employeeNationalitiesId="ngModel" (valueChanged)="getEmployeeData($event)"
                    [settings]="{singleSelection: true,text:this.selectUser,enableSearchFilter: true,classes:'myclass custom-class'}" (onSelect)="onItemSelect($event)"
                    tabindex="1" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
                  <div *ngIf="f.submitted && RouteIdLabel.invalid">
                    <!-- <div class='error-msg' [hidden]="!countryId.errors.required">
                                                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                </div> -->
                  </div>
                  <span class="highlight"></span>
                  <label id="NationalitiesLabel" for="employeeNationalitiesId">{{defaultFormValues[40]['fieldValue']}}</label>
                </div>
              </div>
            </div>

       
        <!-- employeeBirthDate -->
        <div class="col-sm-3">
            <div class="form-group row">
                <!-- <div [ngClass]="{'has-error': f.submitted && !frmEmployeeBirthDate.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                  <div [ngClass]="{'col-md-12': printDetails, 'col-md-4': !printDetails}">
                    <div class="input-group">
                      <input class="floating-input" ngx-mydatepicker name="frmEmployeeBirthDate" [(ngModel)]="modelEmployeeBirthDate"
                        [options]="myOptions" #dp5="ngx-mydatepicker" (dateChanged)="onEmployeeBirthDateChangedd($event)" (change)="onEmployeeBirthDateChangedd($event.target.value)"
                        #frmEmployeeBirthDate="ngModel" required readonly title="{{defaultFormValues[32]['helpMessage']}}" id="emp_birth_date"
                      />
              
                      <span id="datePickerbtn" class="input-group-btn input-btn-group-fix ">
                        <button type="button" class="btn btn-default  " style="float:none; height: 40px; width: 40px;" (click)="dp5.clearDate()">
                          <i class="fa fa-remove"></i>
                        </button>
                        <button type="button" class="btn btn-default  " style="float:none; height: 40px; width: 40px;" (click)="dp5.toggleCalendar()">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                    <div *ngIf="f.submitted && frmEmployeeBirthDate.invalid">
                      <div [hidden]="!frmEmployeeBirthDate.errors.required">
                        {{defaultFormValues[32]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label id="dobLabel"  for="frmEmployeeBirthDate">{{defaultFormValues[32]['fieldValue']}}</label>
                  </div>
                <!-- </div> -->
              </div>
        </div>

        <!-- employeegender -->
        <div class="col-sm-3">
        
          <div class="form-group row" [ngClass]="{'has-error': f.submitted && employeeGender.value==='','col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
            <div [ngClass]="{'col-md-12': printDetails, 'col-md-4': !printDetails}">
                <angular4-multiselect [data]="GenderList" class="floating-input" [(ngModel)]="selectedGender" [ngModelOptions]="{standalone: true}"
              on-focusin="onAutocompleteFocus('GenderLabel')" name="employeeGender" #employeeGender="ngModel"
              [settings]="{singleSelection: true,text:this.selectUser,enableSearchFilter: true,classes:'myclass custom-class'}" (onSelect)="getEmployeeGender($event)"
              tabindex="1" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
              <div *ngIf="f.submitted && employeeGender.value==='' ">
                <div [hidden]="!employeeGender.value===''">
                  {{defaultFormValues[30]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
              </div>
              <span class="highlight"></span>
              <label id="GenderLabel"  for="employeeGender">{{defaultFormValues[30]['fieldValue']}}</label>
            </div>
          </div>
        
        </div>

      
     
      </div>
  
  
  <!-- fourth row -->
  <div class="form-group row">
     <!-- employeeCitizen -->
     <div class="col-sm-3">
        <div class="form-group row">
            <div [ngClass]="{'has-error': f.submitted && !employeeCitizen.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              <div class="col-md-12">
                     <span class="datatable-checkbox control-label">
                      <input title="{{defaultFormValues[35]['helpMessage']}}" type="checkbox" name="employeeCitizen" [checked]="model.employeeCitizen"
                      [(ngModel)]="model.employeeCitizen" #employeeCitizen="ngModel" />&nbsp;&nbsp;{{defaultFormValues[35]['fieldValue']}}
                      </span>
                      <span class="highlight"></span>
              </div>
            </div>
          </div>
     </div>
   

        <!-- employeeSmoker -->
        <div class="col-sm-3">
            <div class="form-group row">
                <div [ngClass]="{'has-error': f.submitted && !employeeSmoker.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-12">
                        <span class="datatable-checkbox control-label">
                          <input title="{{defaultFormValues[36]['helpMessage']}}" type="checkbox" name="employeeSmoker" [checked]="model.employeeSmoker"
                            [(ngModel)]="model.employeeSmoker" #employeeSmoker="ngModel" />&nbsp;&nbsp;{{defaultFormValues[36]['fieldValue']}}
                        </span>
                        <span class="highlight"></span>
                    </div>
                  </div>
                </div>
              </div>
        
        

          <!-- employeeImmigration -->
          <div class="col-sm-3">
            <div class="form-group row">
              <div [ngClass]="{'has-error': f.submitted && !employeeImmigration.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                <div class="col-md-12">
                      <span class="datatable-checkbox control-label">
                        <input title="{{defaultFormValues[38]['helpMessage']}}" type="checkbox" name="employeeImmigration" [checked]="model.employeeImmigration"
                          [(ngModel)]="model.employeeImmigration" #employeeImmigration="ngModel" />&nbsp;&nbsp;{{defaultFormValues[38]['fieldValue']}}
                      </span>
                      <span class="highlight"></span>
                </div>
              </div>
            </div>
          </div>
  </div>
  <!-- </div> -->
  <div>
  
  </div>
</div>

<!-- Contact Section -->
<hr size="30">
<div class="col-md-12 col-sm-12 col-xs-12">
    <h4>Contact</h4>
   
    <!-- row 1 -->
    <div class="form-group row">
      <!-- employeeAddress1 -->
      <div class="col-sm-4">
        <div class="form-group">
          <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              <input type="text" class="floating-input" name="employeeAddress1" [(ngModel)]="AddressDetails.address1" #employeeAddress1="ngModel"
                title="{{defaultFormValues[15]['helpMessage']}}" placeholder=" " readonly />
                <span class="highlight"></span>
                <label id="Address1Label" for="employeeAddress1">{{defaultFormValues[15]['fieldValue']}}</label>
          </div>
        </div>
      </div>
   
      <!-- employeeAddress2 -->
      <div class="col-sm-4">
          <div class="form-group">
              <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              
                  <input type="text" class="floating-input" name="employeeAddress2" [(ngModel)]="AddressDetails.address2" #employeeAddress2="ngModel"
                    title="{{defaultFormValues[16]['helpMessage']}}" placeholder=" " readonly />
                    <span class="highlight"></span>
                    <label id="Address2Label" for="employeeAddress2">{{defaultFormValues[16]['fieldValue']}}</label>
               
              </div>
            </div>
      </div>
     
      <!-- employeePersonalEmail -->
      <div class="col-sm-4">
          <div class="form-group">
              <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              
                  <input type="text" class="floating-input" name="employeePersonalEmail" [(ngModel)]="AddressDetails.personalEmail"
                    #employeePersonalEmail="ngModel" title="{{defaultFormValues[17]['helpMessage']}}" placeholder=" " readonly/>
                    <span class="highlight"></span>
                    <label id="employeePersonalEmailLabel"  for="employeePersonalEmail">{{defaultFormValues[17]['fieldValue']}}</label>
              
              </div>
            </div>
      </div>
     
      <!-- employeeBusinessEmail -->
      <div class="col-sm-4">
        <div class="form-group">
          <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
           
              <input type="text" class="floating-input" name="employeeBusinessEmail" [(ngModel)]="AddressDetails.businessEmail"
                #employeeBusinessEmail="ngModel" title="{{defaultFormValues[18]['helpMessage']}}" placeholder=" " readonly />
                <span class="highlight"></span>
                <label id="employeeBusinessEmailLabel" for="employeeBusinessEmail">{{defaultFormValues[18]['fieldValue']}}</label>
           
          </div>
        </div>
      </div>
     
      <!-- employeeCountry -->
      <div class="col-sm-4">
          <div class="form-group">
              <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              
                  <input type="text" class="floating-input" name="employeeCountry" [(ngModel)]="AddressDetails.countryName" #employeeCountry="ngModel"
                    title="{{defaultFormValues[19]['helpMessage']}}" placeholder=" " readonly />
                    <span class="highlight"></span>
                    <label id="employeeCountryLabel" for="employeeCountry">{{defaultFormValues[19]['fieldValue']}}</label>
              
              </div>
            </div>
      </div>
    
      <!-- employeeCity -->
      <div class="col-sm-4">
          <div class="form-group">
              <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
               
                  <input type="text" class="floating-input" name="employeeCity" [(ngModel)]="AddressDetails.cityName" #employeeCity="ngModel"
                    title="{{defaultFormValues[20]['helpMessage']}}" placeholder=" " readonly />
                    <span class="highlight"></span>
                    <label id="employeeCityLabel" for="employeeCity">{{defaultFormValues[20]['fieldValue']}}</label>
              
              </div>
            </div>
      </div>
    
      <!-- employeePersonalPhone -->
      <div class="col-sm-4">
        <div class="form-group">
          <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
           
              <input type="text" class="floating-input" name="employeePersonalPhone" [(ngModel)]="AddressDetails.personalPhone"
                #employeePersonalPhone="ngModel" title="{{defaultFormValues[21]['helpMessage']}}" placeholder=" " readonly />
                <span class="highlight"></span>
                <label id="employeePersonalPhoneLabel" for="employeePersonalPhone">{{defaultFormValues[21]['fieldValue']}}</label>
            
          </div>
        </div>
      </div>
  
      <!-- employeeBusinessPhone -->
      <div class="col-sm-4">
        <div class="form-group row">
            <!-- <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                <div class="floating-label col-md-8">
                    <input type="text" class="floating-input" name="employeeBusinessPhone" [(ngModel)]="AddressDetails.businessPhone"
                      #employeeBusinessPhone="ngModel" title="{{defaultFormValues[22]['helpMessage']}}" placeholder=" " readonly />
                      <span class="highlight"></span>
                      <label id="employeeBusinessPhoneLabel" for="employeeBusinessPhone">{{defaultFormValues[22]['fieldValue']}}</label>
                    </div>
                  <!-- employeeExt -->
                  <div class="floating-label col-md-3">
                    <input type="text" class="floating-input" name="employeeExt" [(ngModel)]="AddressDetails.ext" #employeeExt="ngModel"
                      title="{{defaultFormValues[23]['helpMessage']}}" placeholder=" " readonly />
                      <span class="highlight"></span>
                      <label id="employeeExtLabel" for="employeeExt">{{defaultFormValues[23]['fieldValue']}}.</label>
                  </div>
            <!-- </div> -->
      
         
        </div>
      </div>

        <!-- employeeEmergencyContact -->
        <div class="col-sm-4">
            <div class="form-group">
              <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <input type="text" class="floating-input" name="emergencyContactNo" [(ngModel)]="AddressDetails.emergencyContactNo"
                    #emergencyContactNo="ngModel"  placeholder=" " readonly />
                    <span class="highlight"></span>
                    <label id="emergencyContactNoLabel" for="emergencyContactNo">Emergency Contact No.</label>
              </div>
            </div>
          </div>

            <!-- employeeEmergencyContact Name -->
        <div class="col-sm-4">
            <div class="form-group">
              <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <input type="text" class="floating-input" name="emergencyContactName" [(ngModel)]="AddressDetails.emergencyContactName"
                    #emergencyContactName="ngModel"  placeholder=" " readonly />
                    <span class="highlight"></span>
                    <label id="emergencyContactNameLabel" for="emergencyContactName">Emergency Contact Name</label>
              </div>
            </div>
          </div>

          <!-- employeeEmergencyContact Relation -->
        <div class="col-sm-4">
            <div class="form-group">
              <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <input type="text" class="floating-input" name="emergencyContactRelation" [(ngModel)]="AddressDetails.emergencyContactRelation"
                    #emergencyContactRelation="ngModel"  placeholder=" " readonly />
                    <span class="highlight"></span>
                    <label id="emergencyContactRelationLabel" for="emergencyContactRelation">Emergency Contact Relation</label>
              </div>
            </div>
          </div>

           <!-- employeeEmergencyContact Address -->
        <div class="col-sm-4">
            <div class="form-group">
              <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <input type="text" class="floating-input" name="emergencyContactAddress" [(ngModel)]="AddressDetails.emergencyContactAddress"
                    #emergencyContactAddress="ngModel"  placeholder=" " readonly />
                    <span class="highlight"></span>
                    <label id="emergencyContactAddresseLabel" for="emergencyContactAddresseLabel">Emergency Contact Address</label>
              </div>
            </div>
          </div>

            <!-- employeeEmergencyContact Telephone -->
        <div class="col-sm-4">
            <div class="form-group">
              <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <input type="text" class="floating-input" name="emergencyContactTelephone" [(ngModel)]="AddressDetails.emergencyContactTelephone"
                    #emergencyContactTelephone="ngModel"  placeholder=" " readonly />
                    <span class="highlight"></span>
                    <label id="emergencyContactTelephoneLabel" for="emergencyContactTelephoneLabel">Emergency Contact Telephone</label>
              </div>
            </div>
          </div>
   
    </div>
</div>



<!-- Buttons -->
<div [ngClass]="'button-row  '">
  <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
    <div [ngClass]="'col-xs-12'">
      <span class="pull-right">
          <button [ngClass]="'grey-btn  '" type="button" (click)="printEmployeeDetails()" *ngIf="model.employeeIndexId">Print</button>
          <button *ngIf="model.employeeIndexId" class="green-btn">{{defaultFormValues[48]['fieldValue']}}</button>
          <button *ngIf="!model.employeeIndexId" class="green-btn">{{defaultFormValues[42]['fieldValue']}}</button>
          <button class="blue-btn" (click)="goBack()">{{CancelText}}</button>
          <button [ngClass]="'orange-btn  '" type="button" (click)="Clear(f)">{{defaultFormValues[44]['fieldValue']}}</button>
      </span>
    </div>
  </div>
</div>


<div [ngClass]="'button-row'">
    <div [ngClass]="'col-sm-12'">
       
        <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
        <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
    </div>
    
</div>
</form>
