
<script>
function objectType(val)
{
var params={
	url : "http://10.0.0.6:8080/elegantjbi",
			objectid : "r1638bf51d64.rpt",
			accesskey : "",
			username : "soham",
			password : "soham",
			toolbar : "true",
			showobjectname : "true",
			type : "object",
			containerid : "contentId",
			tokenid : "",
			autoHeight: true,
			width : "100%",
			height : "100%",
			responsive:"false",
			teamup:"false"
			//State : "Arizona$*$Ohio"
			//filter:"State|$|Arizona$*$Ohio$|$"
		}
		new EJBIapi(params).loadObject();
}
</script>
			
<div class="content-wrapper">
	<section class="content">
		<div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div>
		
		<section class="inner-content">
			<div class="content-outer com-form">
				<div class="button-row">
					<div>
						<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
						<div id="contentId" style="overflow:auto;">
						</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>			
						