
<div class="content-wrapper user-view" >
  <section class="content">
    <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
    <section class="inner-content">
      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
        {{messageText}}
      </div>
      <div class="content-outer com-form">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-row">
              <div class="col-xs-3" style="margin:20px 0px">
                <span style="float:left"> {{defaultAddFormValues[0]['fieldValue']}} </span> 
                <input myAutofocus title="{{defaultAddFormValues[0]['helpMessage']}}" type="text" id="txtsegmentNumber"  [ngClass]="'form-control fm-smalltxt auto-focus arabic-mode'" OnlyNumber="true"  
                (keydown)="onlyDecimalNumberKey($event)"  name="segmentNumber" [disabled]="isModify"
                [(ngModel)]="model.segmentNumber" maxlength="3" #segmentNumber="ngModel" (blur)="createSegments()" />
              </div>
              <div class="algo-table">
                <!--{{selectedDimention | json}}-->
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr> 
                        <th width="5%">{{defaultAddFormValues[1]['fieldValue']}} </th>
                        <th width="15%">{{defaultAddFormValues[2]['fieldValue']}}</th>
                        <th width="15%">{{defaultAddFormValues[3]['fieldValue']}}</th>
                        <th width="20%">{{defaultAddFormValues[4]['fieldValue']}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          1
                        </td>
                        <td>
                          {{defaultAddFormValues[5]['fieldValue']}}
                          <input type="checkbox" name="isMainAccount" [checked]="isMainAccount" [(ngModel)]="model.isMainAccount" #isMainAccount="ngModel" (change)="getMainAccountList($event)" [disabled]="isModify"/>
                        </td>    
                        <td>
                          <div [ngClass]="'select-outer'">
                            <select [ngClass]="'form-control '" [(ngModel)]="model.coaMainAccountsFromActIndexId" name="coaMainAccountsFromActIndexId" [(ngModel)]="model.coaMainAccountsFromActIndexId"
                            #coaMainAccountsFromActIndexId="ngModel" [disabled]="isModify">
                            <option *ngFor="let arr of arrMainAccountList" [value]="arr.actIndx">
                              {{arr.mainAccountNumber}}
                            </option>
                          </select>
                        </div>
                      </td>    
                      <td>
                        <!-- here -->
                        <div [ngClass]="'select-outer'" >
                          <select [ngClass]="'form-control '" name="coaMainAccountsToActIndexId" [(ngModel)]="model.coaMainAccountsToActIndexId"
                          #coaMainAccountsToActIndexId="ngModel" >
                          <option *ngFor="let arr of arrMainAccountList;" [value]="arr.actIndx" >
                            {{arr.mainAccountNumber}}
                          </option>
                        </select>
                        
                      </div>
                    </td> 
                    
                  </tr>
                  <tr *ngFor="let arrlst of arrNewdimensionList;let in = index; " >
                    <td>{{arrlst.Id }} </td>
                    <td>
                      <select id="DimentionList_{{in}}" [ngClass]="'form-control '" name="coaMainAccountsToActIndexId{{in}}" 
                      [(ngModel)]="arrlst.coaFinancialDimensionsIndexId" 
                      (change)="getFinancialDimensionsValuesByFinancialDimensionId($event,arrlst.Id)"  [disabled]="in > 0 || isModify ? true : false" >
                      <option *ngFor="let arr of arrDimensionsList;" [value]="arr.dimInxd" >
                        {{arr.dimensionName}} 
                      </option>
                    </select>
                    <!--<select [ngClass]="'form-control '" name="coaMainAccountsToActIndexId{{in}}" 
                      [(ngModel)]="arrlst.coaFinancialDimensionsIndexId" 
                      (change)="getFinancialDimensionsValuesByFinancialDimensionId($event,arrlst.Id)"  >
                      <option *ngFor="let arr of arrDimensionsList;" [value]="arr.dimInxd">
                        {{arr.dimensionName}} 
                      </option>
                    </select>-->
                  </td>
                  <td>
                    <select [ngClass]="'form-control '" name="coaFinancialDimensionsFromIndexValue{{in}}" 
                    id="ddlDimensionsFrom_{{arrlst.Id }}" [(ngModel)]="arrlst.coaFinancialDimensionsFromIndexValue" 
                    (change)="UpdateArrayValue($event,arrlst.Id,'FromValue')" >
                    <option *ngFor="let arr of arrlst.From" [value]="arr.dimInxValue">
                      {{arr.dimensionValue}}
                    </option>
                  </select>
                </td>
                <td>
                  <select [ngClass]="'form-control '" name="coaFinancialDimensionsToIndexValue{{in}}"
                  id="ddlDimensionsTo_{{arrlst.Id }}" [(ngModel)]="arrlst.coaFinancialDimensionsToIndexValue"
                  (change)="UpdateArrayValue($event,arrlst.Id,'ToValue')" >
                  <option *ngFor="let arr of arrlst.To" [value]="arr.dimInxValue">
                    {{arr.dimensionValue}} 
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- Algo Table Ends -->
  </div>
</div><!-- Form Row Ends -->
<div class="button-row">
  <div class="col-sm-12">
    <input type="submit" [disabled]="LockScreen(defaultAddFormValues[6]['writeAccess'])" class="orange-btn"  title="{{defaultAddFormValues[6]['helpMessage']}}" (click)="CreateStructureSetup()" value="{{defaultAddFormValues[6]['fieldValue']}}"/>
    <!--<input type="button" class="blue-btn" id="btnReset" title="{{defaultAddFormValues[7]['helpMessage']}}" (click)="resetMe()" value="{{defaultAddFormValues[7]['fieldValue']}}"/>-->
  </div>
  
</div><!-- Buton Row Ends -->
</div>
</div><!-- Content OUter Ends -->
</section>
</section>
</div>
