
<div class="content-wrapper user-view" >
	<section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<section class="inner-content">
			<div class="content-outer com-form">
				<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
					<div class="row">
						<!--<pre>{{exchangeTableRateDetail|json}}</pre>
							<pre>{{infoMaintenance|json}}</pre>
							<pre>{{exchangeDate|json}}</pre>
							<pre>{{exchangeExpireDate|json}}</pre>
							<pre>{{exchangeTime|json}}</pre>-->
							<form class="search-batch" name="informationMaintenance" (ngSubmit)="informationMaintenance.form.valid && save(informationMaintenance)" #informationMaintenance="ngForm" novalidate>
								<div class="form-row">
									<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" 
									>
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
									<div class="value-outer">
										<div class="hf-txt" [ngClass]="{ 'has-error': informationMaintenance.submitted && !assetId.valid }">
											<input myAutofocus type="text" class="form-control fm-txt {{myHtml}} auto-focus" title="{{defaultFormValues[0]['helpMessage']}}" id="ddl_insClassId" name="assetId" [(ngModel)]="infoMaintenance.assetId" #assetId="ngModel"(blur)='IsIdAlreadyExist()' maxlength="2" required [disabled]="disableId">
										</div>
										<div class="hf-txt" *ngIf="add">
											<select  class="form-control auto-focus" id="ddlAssetIdSerial" name="assetIdSerial"
											[(ngModel)]="infoMaintenance.assetIdSerial" 		
											title="{{defaultFormValues[0]['helpMessage']}}" 
											#assetIdSerial="ngModel" [ngModelOptions]="{standalone: true}">
											<option *ngFor="let serialNumber of arrAssetIdSerial">
												{{serialNumber}}
											</option>  
										</select>
									</div>  
								</div>			
								
								<div *ngIf="informationMaintenance.submitted && assetId.invalid">
									<div class='error-msg' *ngIf="assetId.errors.required">
										{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="assetId.errors.maxlength">
										{{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
							</div>
						</div><!-- Form Row Ends -->
						
						<div class="form-row">
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !faDescription.valid }">
								<label>{{defaultFormValues[1]['fieldValue']}}</label>
								<input type="text" title="{{defaultFormValues[1]['helpMessage']}}" class="form-control fm-txt" name="faDescription" [(ngModel)]="infoMaintenance.faDescription" #faDescription="ngModel" maxlength="31" required>
								<div *ngIf="informationMaintenance.submitted && faDescription.invalid">
									<div class='error-msg' *ngIf="faDescription.errors.required">
										{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="faDescription.errors.maxlength">
										{{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
							</div>
							
							<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !faDescriptionArabic.valid }">
								<label>{{defaultFormValues[2]['fieldValue']}}</label>
								<input type="text" title="{{defaultFormValues[2]['helpMessage']}}" class="form-control fm-txt" 
								name="faDescriptionArabic" [(ngModel)]="infoMaintenance.faDescriptionArabic" #faDescriptionArabic="ngModel" maxlength="61" required>
								<div *ngIf="informationMaintenance.submitted && faDescriptionArabic.invalid">
									<div class='error-msg' *ngIf="faDescriptionArabic.errors.required">
										{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="faDescriptionArabic.errors.maxlength">
										{{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
							</div>
							
						</div><!-- Form Row Ends -->
						
						<div class="form-row">
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[3]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !assetExtendedDescription.valid }">
								<label>{{defaultFormValues[3]['fieldValue']}}</label>
								<input type="text" title="{{defaultFormValues[3]['helpMessage']}}" class="form-control fm-txt" name="assetExtendedDescription" [(ngModel)]="infoMaintenance.assetExtendedDescription" #assetExtendedDescription="ngModel" maxlength="50" required>
								<div *ngIf="informationMaintenance.submitted && assetExtendedDescription.invalid">
									<div class='error-msg' *ngIf="assetExtendedDescription.errors.required">
										{{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="assetExtendedDescription.errors.maxlength">
										{{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
							</div>
							
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[4]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !assetStatus.valid }">
								<label>{{defaultFormValues[4]['fieldValue']}}</label>
								<div class="select-outer">
									<select class="form-control" title="{{defaultFormValues[4]['helpMessage']}}" name='assetStatus' [(ngModel)]="infoMaintenance.assetStatus"  #assetStatus="ngModel" required>
										<option value="">--{{select}}--</option>
										<option *ngFor="let sta of status" [value]="sta.typeId">{{sta.typeValue}}</option>
									</select>										
								</div> 
								<div *ngIf="informationMaintenance.submitted && assetStatus.invalid">
									<div class='error-msg' *ngIf="assetStatus.errors.required">
										{{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								</div>
							</div>
						</div><!-- Form Row Ends -->
						
						<div class="form-row">
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[5]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !faShortName.valid }">
								<label>{{defaultFormValues[5]['fieldValue']}}</label>
								<input type="text" title="{{defaultFormValues[5]['helpMessage']}}" class="form-control fm-txt" name="faShortName" [(ngModel)]="infoMaintenance.faShortName" #faShortName="ngModel" maxlength="21" required>
								<div *ngIf="informationMaintenance.submitted && faShortName.invalid">
									<div class='error-msg' *ngIf="faShortName.errors.required">
										{{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="faShortName.errors.maxlength">
										{{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
							</div>
							
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[6]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && faClassSetupId.length==0 }">
								<label>{{defaultFormValues[6]['fieldValue']}}</label>
								<div class="select-outer">
									<!--<select class="form-control" title="{{defaultFormValues[6]['helpMessage']}}" name='faClassSetupId' [(ngModel)]="infoMaintenance.faClassSetupId"  #faClassSetupId="ngModel" required>
										<option value="">--{{select}}--</option>
										<option *ngFor="let gc of getClass" [value]="gc.classId">{{gc.description}}</option>
									</select>-->
									<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrfaClassSetupId" [(ngModel)]="faClassSetupId" id="faClassSetupId" [ngModelOptions]="{standalone: true}"
									[settings]="ddlfaClassSetupIdSetting" 
									(onSelect)="getfaClassSetupByID($event)" (onDeSelect)="OnfaClassSetupIdDeSelect($event)"></angular2-multiselect> 
								</div> 
								<div *ngIf="informationMaintenance.submitted && faClassSetupId.length==0">
									<div class='error-msg'>
										{{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								</div>
							</div>
						</div><!-- Form Row Ends -->
						
						<div class="form-row">
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[7]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !faMasterAssetId.valid }">
								<label>{{defaultFormValues[7]['fieldValue']}}</label>
								<input type="text" class="form-control fm-txt" title="{{defaultFormValues[7]['helpMessage']}}"
								name="faMasterAssetId" [(ngModel)]="infoMaintenance.faMasterAssetId" #faMasterAssetId="ngModel" maxlength="15" required>
								<div *ngIf="informationMaintenance.submitted && faMasterAssetId.invalid">
									<div class='error-msg' *ngIf="faMasterAssetId.errors.required">
										{{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="faMasterAssetId.errors.maxlength">
										{{defaultFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
							</div>
							
							
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[8]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !faAccountGroupIndex.valid }">
								<label>{{defaultFormValues[8]['fieldValue']}}</label>
								<div class="select-outer">
									<select class="form-control" title="{{defaultFormValues[8]['helpMessage']}}" name='faAccountGroupIndex'
									[(ngModel)]="infoMaintenance.faAccountGroupIndex"  #faAccountGroupIndex="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let a of accountGroup" [value]="a.accountGroupIndex">{{a.accountGroupId}}{{a.accountGroupIndex}}</option>
								</select>	
							</div> 
							<div *ngIf="informationMaintenance.submitted && faAccountGroupIndex.invalid">
								<div class='error-msg' *ngIf="faAccountGroupIndex.errors.required">
									{{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>										
							</div>
						</div>
					</div><!-- Form Row Ends -->	
					
					<div class="form-row">
						<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[9]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !assetType.valid }">
							<label>{{defaultFormValues[9]['fieldValue']}}</label>
							<div class="select-outer">
								<select class="form-control" title="{{defaultFormValues[9]['helpMessage']}}" name='assetType' [(ngModel)]="infoMaintenance.assetType"  #assetType="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let at of assetstType" [value]="at.typeId">{{at.typeValue}}</option>
								</select>										
							</div> 
							<div *ngIf="informationMaintenance.submitted && assetType.invalid">
								<div class='error-msg' *ngIf="assetType.errors.required">
									{{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>										
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12 dob-row acc-rece" *ngIf="defaultFormValues[12]['readAccess']" [ngClass]="{'has-error': informationMaintenance.submitted && !acquisitionDate.valid }">
							<label>{{defaultFormValues[12]['fieldValue']}}</label>
							<div class="select-dt select-dt-full">
								<input type="text" class="fm-txt form-control" title="{{defaultFormValues[12]['helpMessage']}}" name="acquisitionDate" readonly [(ngModel)]="faAcquisitionDate" #acquisitionDate="ngModel" ngx-mydatepicker [options]="myOptions" #dp1="ngx-mydatepicker" required>
								<span class="input-group-btn calender" style="position: absolute;right: 105px;top: 5px;">
									<button type="button" class="btn btn-default" (click)="clearStartDate()">
										<i class="glyphicon glyphicon-remove"></i>
									</button>
									<button type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
								
							</div>
							<div *ngIf="informationMaintenance.submitted && acquisitionDate.invalid">
								<div class='error-msg' *ngIf="acquisitionDate.errors.required">
									{{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div>
						</div>
					</div><!-- Form Row Ends -->
					
					<div class="form-row">
						<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[10]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !faPropertyTypes.valid }">
							<label>{{defaultFormValues[10]['fieldValue']}}</label>
							<div class="select-outer">
								<select class="form-control" title="{{defaultFormValues[10]['helpMessage']}}" name='faPropertyTypes' [(ngModel)]="infoMaintenance.faPropertyTypes"  #faPropertyTypes="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let p of property" [value]="p.typeId">{{p.propertyName}}</option>
								</select>										
							</div> 
							<div *ngIf="informationMaintenance.submitted && faPropertyTypes.invalid">
								<div class='error-msg' *ngIf="faPropertyTypes.errors.required">
									{{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>										
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[13]['readAccess']" [ngClass]="{ 'has-error arabic-mode': informationMaintenance.submitted && !faAcquisitionCost.valid }">
							<label>{{defaultFormValues[13]['fieldValue']}}</label>
							<input type="text" class="form-control fm-txt" title="{{defaultFormValues[13]['helpMessage']}}" name="faAcquisitionCost" 
							[(ngModel)]="infoMaintenance.faAcquisitionCost" #faAcquisitionCost="ngModel"
							maxlength="15" required OnlyNumber="true"  
							(blur)="formatAmount()"
							(ngModelChange) = "getreceiptAmountValue($event)" 
							(focus)='formatAmountChanged()' 
							id = "faAcquisitionCost"   >
							<div *ngIf="informationMaintenance.submitted && faAcquisitionCost.invalid">
								<div class='error-msg' *ngIf="faAcquisitionCost.errors.required">
									{{defaultFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div>
						</div>
					</div><!-- Form Row Ends -->
					
					<div class="form-row">
						<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[11]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && currencyId.length==0 }">
							<label>{{defaultFormValues[11]['fieldValue']}}</label>
							<div class="select-outer">
								<!--<select class="form-control" name='currencyId' title="{{defaultFormValues[11]['helpMessage']}}" [(ngModel)]="infoMaintenance.currencyId"  #currencyId="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let c of currency" [value]="c.currencyId">{{c.currencyDescription}}</option>
								</select>										-->
								<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCurrencyId" [(ngModel)]="currencyId" id= "currencyId" [ngModelOptions]="{standalone: true}"
								[settings]="ddlCurrencyIdSetting" 
								(onSelect)="getCurrencyByID($event)" 
								(onDeSelect)="OnCurrencyIdDeSelect($event)"></angular2-multiselect> 
							</div> 
							<div *ngIf="informationMaintenance.submitted && currencyId.length==0">
								<div class='error-msg'>
									{{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>										
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[14]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !assetLabelId.valid }">
							<label>{{defaultFormValues[14]['fieldValue']}}</label>
							<input type="text" class="form-control fm-txt" title="{{defaultFormValues[14]['helpMessage']}}" name="assetLabelId" [(ngModel)]="infoMaintenance.assetLabelId" #assetLabelId="ngModel" maxlength="31" required>
							<div *ngIf="informationMaintenance.submitted && assetLabelId.invalid">
								<div class='error-msg' *ngIf="assetLabelId.errors.required">
									{{defaultFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
								<div class='error-msg' *ngIf="assetLabelId.errors.maxlength">
									{{defaultFormValues[14]['listDtoFieldValidationMessage'][1]['validationMessage']}}
								</div>
							</div>
						</div>
					</div><!-- Form Row Ends -->
					
					<div class="form-row">
						<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[15]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !faLocationId.valid }">
							<label>{{defaultFormValues[15]['fieldValue']}}</label>
							<div class="select-outer">
								<select class="form-control" name='faLocationId' title="{{defaultFormValues[15]['helpMessage']}}" [(ngModel)]="infoMaintenance.faLocationId"  #faLocationId="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let l of location" [value]="l.locationId">{{l.locationId}}</option>
								</select>										
							</div> 
							<div *ngIf="informationMaintenance.submitted && faLocationId.invalid">
								<div class='error-msg' *ngIf="faLocationId.errors.required">
									{{defaultFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>										
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[20]['readAccess']" [ngClass]="{ 'has-error arabic-mode': informationMaintenance.submitted && !assetQuantity.valid }">
							<label>{{defaultFormValues[20]['fieldValue']}}</label>
							<input type="text" class="form-control fm-txt" name="assetQuantity" title="{{defaultFormValues[20]['helpMessage']}}" [(ngModel)]="infoMaintenance.assetQuantity" #assetQuantity="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
							<div *ngIf="informationMaintenance.submitted && assetQuantity.invalid">
								<div class='error-msg' *ngIf="assetQuantity.errors.required">
									{{defaultFormValues[20]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div>
						</div>
					</div><!-- Form Row Ends -->
					
					<div class="form-row">
						<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[16]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && faPhysicalLocationId.length==0 }">
							<label>{{defaultFormValues[16]['fieldValue']}}</label>
							<div class="select-outer">
								<!--<select class="form-control" title="{{defaultFormValues[16]['helpMessage']}}" name='faPhysicalLocationId' [(ngModel)]="infoMaintenance.faPhysicalLocationId"  #faPhysicalLocationId="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let pl of physicalLocation" [value]="pl.physicalLocationId">{{pl.descriptionPrimary}}</option>
								</select>-->
								<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrfaPhysicalLocationId" [(ngModel)]="faPhysicalLocationId" id="faPhysicalLocationId" [ngModelOptions]="{standalone: true}"
								[settings]="ddlfaPhysicalLocationIdSetting" 
								(onSelect)="getfaPhysicalLocationyByID($event)" (onDeSelect)="OnfaPhysicalLocationIdDeSelect($event)"></angular2-multiselect>  
							</div> 
							<div *ngIf="informationMaintenance.submitted && faPhysicalLocationId.length==0 ">
								<div class='error-msg'>
									{{defaultFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>										
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12 dob-row acc-rece" *ngIf="defaultFormValues[21]['readAccess']" [ngClass]="{'has-error': informationMaintenance.submitted && !lastMaintenanceDate.valid }">
							<label>{{defaultFormValues[21]['fieldValue']}}</label>
							<div class="select-dt select-dt-full">
								<input type="text" class="fm-txt form-control" title="{{defaultFormValues[21]['helpMessage']}}" name="lastMaintenanceDate" [(ngModel)]="lastMaintenance" #lastMaintenanceDate="ngModel" ngx-mydatepicker [options]="myOptions1" #dp2="ngx-mydatepicker" readonly>
								<span class="input-group-btn calender" style="position: absolute;right: 105px;top: 5px;">
									<button type="button" class="btn btn-default" (click)="clearMaintenanceDate()">
										<i class="glyphicon glyphicon-remove"></i>
									</button>
									<button type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
								
							</div>
							<!--<div *ngIf="informationMaintenance.submitted && lastMaintenanceDate.invalid">
								<div class='error-msg' *ngIf="lastMaintenanceDate.errors.required">
									{{defaultFormValues[21]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div>-->
						</div>
						
					</div><!-- Form Row Ends -->
					
					<div class="form-row">
						<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[17]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && faStructureId.length==0 }">
							<label>{{defaultFormValues[17]['fieldValue']}}</label>
							<div class="select-outer">
								<!--<select class="form-control" title="{{defaultFormValues[17]['helpMessage']}}" name='faStructureId' [(ngModel)]="infoMaintenance.faStructureId"  #faStructureId="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let s of structure" [value]="s.structureId">{{s.structureDescription}}</option>
								</select>-->
								<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrfaStructureId" [(ngModel)]="faStructureId" id="faStructureId" [ngModelOptions]="{standalone: true}"
								[settings]="ddlfaStructureIdSetting" 
								(onSelect)="getfaStructureByID($event)" (onDeSelect)="OnfaStructureIdDeSelect($event)"></angular2-multiselect>  
							</div> 
							<div *ngIf="informationMaintenance.submitted && faStructureId.length==0">
								<div class='error-msg'>
									{{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>										
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12 dob-row acc-rece" *ngIf="defaultFormValues[22]['readAccess']" [ngClass]="{'has-error': informationMaintenance.submitted && !addedDate.valid }">
							<label>{{defaultFormValues[22]['fieldValue']}}</label>
							<div class="select-dt select-dt-full">
								<input type="text"  readonly class="fm-txt form-control" title="{{defaultFormValues[22]['helpMessage']}}" name="addedDate" [(ngModel)]="faAddedDate" #addedDate="ngModel" ngx-mydatepicker [options]="myOptions2" #dp3="ngx-mydatepicker" required>
								<span class="input-group-btn calender" style="position: absolute;right: 105px;top: 5px;">
									<button type="button" class="btn btn-default" (click)="clearAddedDate()">
										<i class="glyphicon glyphicon-remove"></i>
									</button>
									<button type="button" class="btn btn-default" (click)="dp3.toggleCalendar()">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
								
							</div>
							<div *ngIf="informationMaintenance.submitted && addedDate.invalid">
								<div class='error-msg' *ngIf="addedDate.errors.required">
									{{defaultFormValues[22]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div>
						</div>
						
					</div><!-- Form Row Ends -->
					
					<div class="form-row">
						<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[18]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !employeeId.valid }">
							<label>{{defaultFormValues[18]['fieldValue']}}</label>
							<input type="text" title="{{defaultFormValues[18]['helpMessage']}}" class="form-control fm-txt" name="employeeId" [(ngModel)]="infoMaintenance.employeeId" #employeeId="ngModel" required>
							<div *ngIf="informationMaintenance.submitted && employeeId.invalid">
								<div class='error-msg' *ngIf="employeeId.errors.required">
									{{defaultFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div>
						</div>
						
					</div><!-- Form Row Ends -->
					
					<div class="form-row">
						
						
						<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[19]['readAccess']" [ngClass]="{ 'has-error': informationMaintenance.submitted && !manufacturerName.valid }">
							<label>{{defaultFormValues[19]['fieldValue']}}</label>
							<input type="text" class="form-control fm-txt" title="{{defaultFormValues[19]['helpMessage']}}" name="manufacturerName" [(ngModel)]="infoMaintenance.manufacturerName" #manufacturerName="ngModel" maxlength="31" required>
							<div *ngIf="informationMaintenance.submitted && manufacturerName.invalid">
								<div class='error-msg' *ngIf="manufacturerName.errors.required">
									{{defaultFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
								<div class='error-msg' *ngIf="manufacturerName.errors.maxlength">
									{{defaultFormValues[19]['listDtoFieldValidationMessage'][1]['validationMessage']}}
								</div>
							</div>
						</div>
					</div><!-- Form Row Ends -->
					
					<div class="button-row">
						<div class="col-sm-12">
							<input type="submit" [disabled]="LockScreen(defaultFormValues[23]['writeAccess'])"
							 title="{{defaultFormValues[23]['helpMessage']}}" value="{{defaultFormValues[23]['fieldValue']}}" *ngIf="add" class="orange-btn">
							<input type="submit" [disabled]="LockScreen(defaultFormValues[23]['writeAccess'])" 
							title="{{defaultFormValues[23]['helpMessage']}}" value="{{defaultFormValues[23]['fieldValue']}}" *ngIf="!add" class="orange-btn">
							<input type="button" style="margin-left:18px" (click)="ClearForm(informationMaintenance);" class="blue-btn" title="{{defaultFormValues[24]['helpMessage']}}" value="{{defaultFormValues[24]['fieldValue']}}">
							<input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(informationMaintenance)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
						</div>
					</div>
				</form>
				<div class="content-heading">
					<div class="search-top">
						<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
					</div>
				</div>
				<div class="form-row">
					<div class="col-xs-12">
						<!--<div class="content-heading">
							<div class="search-top">
								<input type="text" class="search-txt form-control" placeholder="search"
								(keyup)='updateFilter($event)' />
							</div>
						</div>--> 
						<div class="algo-table">
							<div class="table-responsive"> 
								<ngx-datatable id="grdfaInformation" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="Searchselected" (select)='onSelect($event)' [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}">
									<ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
									</ngx-datatable-column>
									
									<ngx-datatable-column *ngIf="defaultFormValues[0]['readAccess']" name="assetId" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
										<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
											<span class="sort-btn" (click)="sort()">{{defaultFormValues[0]['fieldValue']}}</span>
										</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>
											{{value}}
										</ng-template>
									</ngx-datatable-column>
									
									<ngx-datatable-column *ngIf="defaultFormValues[1]['readAccess']" name="faDescription" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
										<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
											<span class="sort-btn" (click)="sort()">{{defaultFormValues[1]['fieldValue']}}</span>
										</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>
											{{value}}
										</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column *ngIf="defaultFormValues[2]['readAccess']" name="faDescriptionArabic" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
										<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
											<span class="sort-btn" (click)="sort()">{{defaultFormValues[2]['fieldValue']}}</span>
										</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>
											{{value}}
										</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column *ngIf="defaultFormValues[3]['readAccess']" name="faClassSetupId" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
										<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
											<span class="sort-btn" (click)="sort()">{{defaultFormValues[3]['fieldValue']}}</span>
										</ng-template>
										<ng-template let-value="value" ngx-datatable-cell-template>
											{{value}}
										</ng-template>
									</ngx-datatable-column>
									<ngx-datatable-column *ngIf="defaultFormValues[5]['readAccess']" name="Action" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
										<ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
											Action
										</ng-template>
										<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
											<a class="edit-ico" (click)="edit(row)" *ngIf="gridDefaultFormValues[7]['readAccess']" title="{{gridDefaultFormValues[7]['helpMessage']}}"></a>
										</ng-template>
									</ngx-datatable-column>
								</ngx-datatable>
							</div>
						</div><!-- Algo Table Ends -->
						<div class="button-row" *ngIf="page.totalElements > 0">
							<!-- Table View Starts -->
							<div class="table-view">
								<span>{{tableViewtext}}</span>
								<div class="select-outer">
									<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
										<option value="5">5 {{atATimeText}} </option>
										<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
										<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
										<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
									</select>
								</div>
							</div>
							<!-- Table View Ends -->
							<div class="bottom-view">
							</div>
							<!--<button class="blue-btn" (click)="delete()"  title="delete">Delete</button>-->
						</div>
					</div>
				</div><!-- Form Row Ends -->
			</div>
		</div><!-- Content OUter Ends -->
	</section>
</section>
</div>
<style>
	.border-vanish{border:2px solid #d9d9d9;}
</style>
<!--<style>
	.ng-valid[required], .ng-valid.required  {
		border-left: 5px solid #42A948;
	}
	.ng-invalid:not(form)  {
		border-left: 5px solid #a94442;
	}
</style>-->