<!-- screen header -->
<div class="page-header">
  <div class="page-header-title">
    <span>
      <h3>Restrict IP</h3>
    </span>
  </div>
  <!-- <div class="page-header-breadcrumb">
            <i class="ti-settings"></i>
        </div> -->
</div>
<!-- screen header -->

<div class="content-wrapper">
  <section class="content">
      <!-- section Heading Starts -->
      <!-- <div class="section-heading">
          <h2></h2>
      </div> -->
      <!-- section Heading Ends -->
      <section class="inner-content">
          <!-- Content Outer Starts -->
          <div class="content-outer com-form">
              <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                  {{messageText}}
              </div>
              <!-- Content Heading Starts -->
              <div class="content-heading">
                  <!-- <h3> {{screenName}}</h3> -->
                     <div *ngIf="showloader" class="loader">
                  </div>
              </div>
              <!-- Content Heading Ends -->
              
              <!--adding form starts-->
    <!-- Basic Form Inputs card start -->



<app-card [title]="">
  <!-- <h4 class="sub-title">Create company</h4> -->
 
 
  <form (ngSubmit)="f.form.valid && UpdateIpSetting(f)" (keydown.enter)="f.form.valid && UpdateIpSetting(f)" #f="ngForm"
  novalidate>
  <!-- Row Starts -->

  <div class="form-group row">
    <div class="col-sm-4">
      <div class="form-group row">
  
        <!-- <div class="form-group row"> -->
        <div class="floating-label col-sm-12" [ngClass]="{'has-error': f.submitted && SelectedUsers.length == 0,'col-md-6 col-sm-6 col-xs-12':true}">
          <!-- <label >{{defaultFormValues[3]['fieldValue']}}</label> -->
  
          <angular4-multiselect [data]="ddl_MultiSelectUser" [(ngModel)]="SelectedUsers" [ngModelOptions]="{standalone: true}" [settings]="ddlUserSetting"
            myAutofocus (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" on-focusin="onAutocompleteFocus('selectUserLabel')">
          </angular4-multiselect>
       
          <div *ngIf="f.submitted && SelectedUsers.length==0">
            <div class='error-msg'>
              This field is required.
            </div>
          </div>
          <span class="highlight"></span>
          <label id="selectUserLabel">{{selectUser}}</label>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>

  
  <div class="form-group row"> 
    <div class="col-sm-4">
      
      <div class="form-group row">
        <div class="floating-label col-sm-12" [ngClass]="{'has-error': f.submitted && !ipChecked.valid}">
            <span class="datatable-checkbox">
                <input type='checkbox' [checked]='ipChecked' (click)='onCheckboxChange()' required/> &nbsp; &nbsp;:&nbsp;&nbsp;Ip Permission</span>
          <!--orignal code<span class="datatable-checkbox">
            <input type='checkbox' [checked]='ipChecked' (click)='onCheckboxChange()' required/>
            &nbsp; &nbsp;:&nbsp;&nbsp;Ip Permission</span>-->
          <div *ngIf="f.submitted && ipChecked.invalid">
            <div class='error-msg' *ngIf="ipChecked.errors.required">
              Required.
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
   
    
      <div class="button-row">
        <div class="col-sm-12">
          <button [ngClass]="'green-btn'" [disabled]="btndisabled" title="Update" click="resetform()">Save</button>
          <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{clearText}}</button>
        </div>
    
      </div>


<!-- Row Ends -->
</form>
 
 
</app-card> 
             
  
  <!--adding form ends-->
</div>
<!-- Content Outer Ends -->
</section>
</section>
</div>