<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="modal" *ngIf="isConfirmationModalOpen1" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal1()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction1'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction1'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='deleteRow()' *ngIf='isDeleteAction1'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal1()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
  <section class="content">
      <!-- section Heading Starts -->
      <div class="section-heading">
          <h2>{{moduleName}}</h2>
          <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[9]['helpMessage']}}">{{defaultFormValues[9]['fieldValue']}}</button>
      </div>
      <!-- section Heading Ends -->
      <section class="inner-content">
          <!-- content outer Starts -->
          <div class="content-outer com-form">
              <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                  {{messageText}}
              </div>
              <!-- Content Heading Starts -->
              <div class="content-heading">
                  <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                      {{message.text}}
                  </div>
                  <div class="search-top">
                      <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                          (keyup)='updateFilter($event)' />
                  </div>
              </div>
              <div class="algo-table algo-table-Interview Type">
                <!-- Data Grid Starts-->
                <div class="table-responsive">
                    <ngx-datatable id="InterviewTypeGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                        <!-- Data Grid checkbox -->
                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                            [checkboxable]="true">
                        </ngx-datatable-column>

                        <!-- Data Grid Interview Type Id -->
                        <ngx-datatable-column name="interviewTypeId" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('interviewTypeId')">{{defaultFormValues[1]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid Interview Type Description -->
                        <ngx-datatable-column name="interviewTypeDescription" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('interviewTypeDescription')">{{defaultFormValues[2]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid  Arabic Interview Type Description -->
                        <ngx-datatable-column name="interviewTypeDescriptionArabic" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('interviewTypeDescriptionArabic')">{{defaultFormValues[3]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid Action -->
                        <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                {{defaultFormValues[4]['fieldValue']}}
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <!-- Data Grid Ends-->
            </div>
          </div>
          <div class="button-row">
            <!-- Table View Starts -->
            <div class="table-view">
                <span>TABLE VIEW</span>
                <div class="select-outer">
                    <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                        <option value="5">5 at a time </option>
                        <option value="15">15 at a time </option>
                        <option value="50">50 at a time </option>
                        <option value="100">100 at a time </option>
                    </select>
                </div>
            </div>
            <!-- Table View Ends -->

            <div class="bottom-view">
            </div>
            <button class="blue-btn" title="{{defaultFormValues[14]['fieldValue']}}" (click)="varifyDelete()">{{defaultFormValues[14]['fieldValue']}}</button>

            <!-- Create / Update Form start -->
            <div *ngIf="showCreateForm">
                <div class="col-md-12 mt-30">
                    <hr>
                </div>
                <div class="col-md-12 mb-30">
                    <h3 *ngIf="!model.id">{{defaultFormValues[15]['fieldValue']}}</h3>
                    <h3 *ngIf="model.id">{{defaultFormValues[16]['fieldValue']}}</h3>
                </div>
                <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{message.text}}
                </div>
                <div class="clearfix"></div>

                <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateInteviewTypeSetup(f, $event)" #f="ngForm" novalidate>


                        <!-- Interview Type Setup Id field -->
                        <div [ngClass]="'form-group'">
                        <div *ngIf="isUnderUpdate; then update else create"></div>
                            <ng-template #update>
                            <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                <div class="col-md-4">
                                    <label class="control-label" for="interviewTypeId">{{defaultFormValues[1]['fieldValue']}}</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="interviewTypeId" value="{{interviewTypeIdvalue}}"
                                        title="{{defaultFormValues[1]['helpMessage']}}" maxlength="15" required readonly />
                                    <div *ngIf="f.submitted && interviewTypeId.invalid">
                                        <div [hidden]="!interviewTypeId.errors.required">
                                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div [hidden]="!interviewTypeId.errors?.maxlength">
                                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </ng-template>

                            <ng-template #create>
                            <div [ngClass]="{ 'has-error': f.submitted && !interviewTypeId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                <div class="col-md-4">
                                    <label for="interviewTypeId">{{defaultFormValues[1]['fieldValue']}}</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="interviewTypeId" [(ngModel)]="model.interviewTypeId" #interviewTypeId="ngModel"
                                           title="{{defaultFormValues[1]['helpMessage']}}" maxlength="15" required />
                                    <div *ngIf="f.submitted && interviewTypeId.invalid">
                                        <div [hidden]="!interviewTypeId.errors.required">
                                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div [hidden]="!interviewTypeId.errors?.maxlength">
                                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </ng-template>


                        </div>

                        <!-- Interview Type Setup Description Field -->
                        <div [ngClass]="'form-group'">
                            <div [ngClass]="{'has-error': f.submitted && !interviewTypeDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label" for="interviewTypeDescription">{{defaultFormValues[2]['fieldValue']}}</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="interviewTypeDescription" [(ngModel)]="model.interviewTypeDescription"
                                        #interviewTypeDescription="ngModel" title="{{defaultFormValues[2]['helpMessage']}}"
                                        required maxlength="31" />
                                    <div *ngIf="f.submitted && interviewTypeDescription.invalid">
                                        <div [hidden]="!interviewTypeDescription.errors.required">
                                            {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div [hidden]="!interviewTypeDescription.errors?.maxlength">
                                            {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Arabic Interview Type Setup description -->
                        <div [ngClass]="'form-group'">
                            <div [ngClass]="{'has-error': f.submitted && !interviewTypeDescriptionArabic.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label" for="interviewTypeDescriptionArabic">{{defaultFormValues[3]['fieldValue']}}</label>
                                </div>
                                <div class="col-md-8 arabic-mode">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="interviewTypeDescriptionArabic" [(ngModel)]="model.interviewTypeDescriptionArabic"
                                        #interviewTypeDescriptionArabic="ngModel" title="{{defaultFormValues[3]['helpMessage']}}"
                                        maxlength="50" required />
                                    <div *ngIf="f.submitted && interviewTypeDescriptionArabic.invalid">
                                        <div [hidden]="!interviewTypeDescriptionArabic.errors.required">
                                            {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div [hidden]="!interviewTypeDescriptionArabic.errors?.maxlength">
                                            {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Interview Type Setup interviewRange -->
                        
                        <div [ngClass]="'form-group'">
                            <div [ngClass]="{'has-error': f.submitted && !interviewRange.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label" for="interviewRange">{{defaultFormValues[18]['fieldValue']}}</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number"  max="10" min="1" [ngClass]="'form-control fm-txt'" name="interviewRange" [(ngModel)]="model.interviewRange"
                                        #interviewRange="ngModel" title="{{defaultFormValues[18]['helpMessage']}}"
                                        required maxlength="2" (keyup)="checkNo();"/>
                                    <div *ngIf="f.submitted && interviewRange.invalid">
                                        <div [hidden]="!interviewRange.errors.required">
                                            {{defaultFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div [hidden]="!interviewRange.errors?.maxlength">
                                            {{defaultFormValues[18]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                        <div [hidden]="!interviewRange.errors?.minlength">
                                            {{defaultFormValues[18]['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>

                            </div> 
                        </div> 

                        <div style="padding-top: 30px;"> 
                            <div class="col-md-12">
                                <div class="row">
                                      <table class="table" id = "subitems">
                                        <thead>
                                            <th width="10" style="border-top-right-radius: 25px;border:white; text-align: center;">
                                                <input type="checkbox" class="form-check" selectedAllSub="ngModel" 
                                                name="selectedAllSub" (ngModelChange)="selectAllChild()" [(ngModel)]="selectAll.select"/></th>
                                            <th width="30" style="border-top-left-radius: 25px; border:white; text-align: center;" rules="rows" >{{defaultFormValues[17]['fieldValue']}}</th>
                                            <th width="30" style="border-top: #144859; text-align: center;">{{defaultFormValues[20]['fieldValue']}}</th>
                                            <th width="30" style="border-top: #144859; text-align: center;">{{defaultFormValues[19]['fieldValue']}}</th>
                                            <!-- <th width="10" style="border-top-right-radius: 25px;border:white; text-align: center;">{{defaultFormValues[4]['fieldValue']}}</th> -->
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let item of model.dtoInterviewTypeSetupDetail; let num = index; ">
                                                
                                            <td style="background-color: whitesmoke; align-items: center" >
                                                <input type="checkbox" class="form-check" selected="ngModel" name="selected[{{num}}]" (change)="selectParent()" [(ngModel)]="model.dtoInterviewTypeSetupDetail[num].selected"/>
                                            </td>      
                                                
                                          <!--  <form #newsubitems = "ngForm" style="background-color: whitesmoke">-->
                                              
                                            <td style="background-color: whitesmoke"    [ngClass]="{'has-error' : interviewTypeSetupDetailDescription.invalid}">
                                                <input type="text" class="form-control" #interviewTypeSetupDetailDescription="ngModel"  name="interviewTypeSetupDetailDescription[{{num}}]" [(ngModel)]="model.dtoInterviewTypeSetupDetail[num].interviewTypeSetupDetailDescription"
                                                maxlength="30" required>
                                              <div *ngIf="f.submitted && interviewTypeSetupDetailDescription.invalid">
                                                    <div style="margin-top: 12px;" [hidden]="!interviewTypeSetupDetailDescription.errors.required">
                                                        This field is required
                                                    </div>
                                                </div>
                                            </td>
                                              
                                              <td style="background-color: whitesmoke"   [ngClass]="{'has-error' : interviewTypeSetupDetailCategoryWeight.invalid}">
                                                <input type="number" class="form-control" #interviewTypeSetupDetailCategoryWeight="ngModel" name="interviewTypeSetupDetailCategoryWeight[{{num}}]" [(ngModel)]="model.dtoInterviewTypeSetupDetail[num].interviewTypeSetupDetailCategoryWeight"  
                                                maxlength="150" required>
                                            
                                                <div *ngIf="f.submitted && interviewTypeSetupDetailCategoryWeight.invalid">
                                                        <div style="margin-top: 12px;" [hidden]="!interviewTypeSetupDetailCategoryWeight.errors.required">
                                                            This field is required
                                                        </div>
                                                    </div>
                                            
                                            </td>


                                                <td style="background-color: whitesmoke"  [ngClass]="{'has-error' : interviewTypeSetupDetailCategorySequance.invalid}">
                                                <input type="number" class="form-control"  #interviewTypeSetupDetailCategorySequance="ngModel" name="interviewTypeSetupDetailCategorySequance[{{num}}]" [(ngModel)]="model.dtoInterviewTypeSetupDetail[num].interviewTypeSetupDetailCategorySequance"  
                                                    maxlength="150" required>
                                                
                                                    <div *ngIf="f.submitted && interviewTypeSetupDetailCategorySequance.invalid">
                                                            <div  style="margin-top: 12px;" [hidden]="!interviewTypeSetupDetailCategorySequance.errors.required">
                                                                This field is required
                                                            </div>
                                                        </div>
                                                
                                                </td>
                                                
                                            <!-- <td style="background-color: whitesmoke; border-right-color: whitesmoke; border-bottom-color: whitesmoke">
                                              <button (click) = "varifyDelete1(num, model.dtoInterviewTypeSetupDetail[num])" ><i class="glyphicon glyphicon-trash" style = "font-size:18px; color:red;"></i></button> </td> -->
                                       <!--   </form>-->
                                          </tr>
                                          
                                        </tbody>
                                      </table>
                                  </div>
      
                              </div>
                              
                                
                          </div>
                          <div style="padding-top: 15px;">
                            <form class="form-horizontal" #subItemData = "ngForm" (ngSubmit)="addSubItem(subItemData, subItemData.value)">
                                
                                <div class="form-group" hidden >
                                  <label class="col-md-2 control-label">Desc</label>
                                  <div class="col-md-4" >
                                    <input  type="text" class="form-control" name="interviewTypeSetupDetailDescription" ngModel   />
                                  </div>
                                </div>
                                <div class="form-group" hidden >
                                  <label class="col-md-2 control-label">Weight</label>
                                  <div class="col-md-4 arabic-mode">
                                    <input type="number" class="form-control" name="interviewTypeSetupDetailCategoryWeight" ngModel   />
                                  </div>
                                </div>
                                <div class="form-group" hidden >
                                    <label class="col-md-2 control-label">Sequence</label>
                                    <div class="col-md-4 arabic-mode">
                                      <input type="number" class="form-control" name="interviewTypeSetupDetailCategorySequance" ngModel   />
                                    </div>
                                  </div>
                                  
                                <div class="form-group pull-right">								
                                  <div>
                                    <input type="submit" title="Add Item" value="Add Item" class="btn btn-primary" style="width: 100px; border-radius: 20px;" />
                                  </div>
                                </div>
                              </form> 
                        </div>
                      
                        
                        <!-- Buttons -->
                        <div [ngClass]="'button-row'">
                            <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                <div [ngClass]="'col-xs-12'">
                                    <span class="pull-right">
                                        <button title="Delete Row" [ngClass]="'grey-btn'" type="button" (click) = "deleteRows()">Deletes Row</button>
                                        <button title="{{defaultFormValues[13]['fieldValue']}}" *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[13]['fieldValue']}}</button>
                                        <button title="{{defaultFormValues[10]['fieldValue']}}" *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[10]['fieldValue']}}</button>
                                        <button title="{{defaultFormValues[11]['fieldValue']}}" [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[11]['fieldValue']}}</button>
                                        <button title="{{defaultFormValues[12]['fieldValue']}}" [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[12]['fieldValue']}}</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                </form>
            </div>
            <!-- Create Update form ends -->
        </div>
    
      </section>
  </section>
</div>