

 @import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';



.datatable-row-center.datatable-row-group {
        cursor: pointer !important;
      }



  
    
    .datatable-row-center.datatable-row-group {
        cursor: pointer !important;
      }