<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- content heading Starts -->
                <div class="content-heading">
                    <h3> {{screenName}}</h3>
                </div>
                <!-- content heading Ends -->
                <!--adding form starts-->
                <form (ngSubmit)="!hasMsg && f.form.valid && CreateUser(f)" #f="ngForm" novalidate>
                    
                    <div [ngClass]="'row'">
                        <div *ngIf="model.userId" [ngClass]="'form-row'">
                            <div [ngClass]="{ 'has-error': f.submitted && !userId.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                                <label for="userId">{{defaultFormValues[19]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="userId"
                                 [(ngModel)]="model.userId" #userId="ngModel" title="{{defaultFormValues[19]['helpMessage']}}"
                                     myAutofocus  readonly />
                            </div>
                        </div>
                        <div [ngClass]="'form-row'">
                            <div *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !firstName.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                                <label for="firstName">{{defaultFormValues[0]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"  name="firstName" [(ngModel)]="model.firstName" 
                                #firstName="ngModel" onlyAlphabet="true"   
                                (keydown)="onlyAlphabets($event)" 
                                title="{{defaultFormValues[0]['helpMessage']}}"
                                 maxlength="15"   required />
                                <div *ngIf="f.submitted && firstName.invalid">
                                    <div class='error-msg' *ngIf="firstName.errors.required">
                                        {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="firstName.errors.maxlength">
                                        {{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{ 'has-error': f.submitted && !middleName.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                                <label for="middleName">{{defaultFormValues[1]['fieldValue']}}</label>
                                <input type="text" onlyAlphabet="true" 
                                (keydown)="onlyAlphabets($event)" [ngClass]="'form-control fm-txt'" name="middleName" [(ngModel)]="model.middleName" #middleName="ngModel" title="{{defaultFormValues[1]['helpMessage']}}"
                                     maxlength="15"/>
                                <div *ngIf="f.submitted && middleName.invalid">
                                  
                                    <div class='error-msg' *ngIf="middleName.errors.maxlength">
                                        {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{ 'has-error': f.submitted && !lastName.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                                <label for="lastName">{{defaultFormValues[2]['fieldValue']}}</label>
                                <input type="text" onlyAlphabet="true"  
                                (keydown)="onlyAlphabets($event)"  [ngClass]="'form-control fm-txt'" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" title="{{defaultFormValues[2]['helpMessage']}}"
                                    required maxlength="15" />
                                <div *ngIf="f.submitted && lastName.invalid">
                                   <div class='error-msg' *ngIf="lastName.errors.required">
                                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                     <div class='error-msg' *ngIf="lastName.errors.maxlength">
                                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="'form-row arabic-mode'">
                            <div [ngClass]="{ 'has-error': f.submitted && !secondaryFirstName.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                                <label for="secondaryFirstName">{{defaultFormValues[3]['fieldValue']}}</label>
                                <input type="text" onlyAlphabet="true"  
                                (keydown)="onlyAlphabets($event)" [ngClass]="'form-control fm-txt'" name="secondaryFirstName" [(ngModel)]="model.secondaryFirstName" #secondaryFirstName="ngModel" title="{{defaultFormValues[3]['helpMessage']}}"
                                       required maxlength="15"/>
                                <div *ngIf="f.submitted && secondaryFirstName.invalid">
                                    <div class='error-msg' *ngIf="secondaryFirstName.errors.required">
                                        {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="secondaryFirstName.errors.maxlength">
                                        {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{ 'has-error': f.submitted && !secondaryMiddleName.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                                <label for="secondaryMiddleName">{{defaultFormValues[4]['fieldValue']}}</label>
                                <input type="text" onlyAlphabet="true"   
                                (keydown)="onlyAlphabets($event)" [ngClass]="'form-control fm-txt'" name="secondaryMiddleName" [(ngModel)]="model.secondaryMiddleName" #secondaryMiddleName="ngModel" title="{{defaultFormValues[4]['helpMessage']}}"
                                        maxlength="15"/>
                                <div *ngIf="f.submitted && secondaryMiddleName.invalid">
                              
                                    <div class='error-msg' *ngIf="secondaryMiddleName.errors.maxlength">
                                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{ 'has-error': f.submitted && !secondaryLastName.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                               <label for="secondaryLastName">{{defaultFormValues[5]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" 
                                onlyAlphabet="true"    
                                (keydown)="onlyAlphabets($event)"  name="secondaryLastName" [(ngModel)]="model.secondaryLastName" #secondaryLastName="ngModel" title="{{defaultFormValues[5]['helpMessage']}}"
                                       required maxlength="15"/>
                                <div *ngIf="f.submitted && secondaryLastName.invalid">
                                    <div class='error-msg' *ngIf="secondaryLastName.errors.required">
                                        {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="secondaryLastName.errors.maxlength">
                                        {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="'form-row'">
                            <div [ngClass]="{'has-error': f.submitted && !email.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="email">{{defaultFormValues[6]['fieldValue']}}</label>
                                <input type="email" [ngClass]="'form-control fm-txt'" name="email" (blur)="validateEmail()" [(ngModel)]="model.email" #email="ngModel" title="{{defaultFormValues[6]['helpMessage']}}"
                                   required maxlength="50" pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" [readonly]="iSEmailReadonly"/>
                                <div *ngIf="f.submitted && email.invalid">
                                    <div class='error-msg' *ngIf="email.errors.required">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                     <div class='error-msg' *ngIf="email.errors.maxlength">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="email.errors.pattern">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'has-error': f.submitted && !address.valid,'col-sm-6 col-md-6 col-xs-12':true}">
                                <label for="address">{{defaultFormValues[7]['fieldValue']}}</label>
                                <textarea [ngClass]="'form-control fm-txt'" name="address" [(ngModel)]="model.address" #address="ngModel" title="{{defaultFormValues[7]['helpMessage']}}"
                                 required maxlength="150"></textarea>
                                <div *ngIf="f.submitted && address.invalid">
                                            <div class='error-msg' *ngIf="address.errors.required">
                                        {{defaultFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                              <div class='error-msg' *ngIf="address.errors.maxlength">
                                        {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="'form-row'">
                            <div [ngClass]="{ 'has-error': f.submitted && !countryId.valid, 'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="countryId">{{defaultFormValues[8]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                    <select [ngClass]="'form-control '" name="countryId" [(ngModel)]="model.countryId" #countryId="ngModel" (change)="getCountryData($event)"
                                            title="{{defaultFormValues[8]['helpMessage']}}" required>
                                        <option *ngFor="let country of countryOptions" [value]="country.countryId">
                                            {{country.countryName}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="f.submitted && countryId.invalid">
                                    <div class='error-msg' *ngIf="stateId.errors.required">
                                        {{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{ 'has-error': f.submitted && !phone.valid, 'col-md-6 col-sm-12 col-xs-12':true }">
                                <div [ngClass]="'short-text'">
                                    <label for="countryCode">{{defaultFormValues[9]['fieldValue']}}</label>
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="countryCode" [(ngModel)]="model.countryCode" #countryCode="ngModel"
                                           title="{{defaultFormValues[9]['helpMessage']}}" readonly />
                                </div>
                                <div [ngClass]="'right-fm-text'">
                                    <label for="phone">{{defaultFormValues[10]['fieldValue']}}</label>
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="phone" 
                                    [(ngModel)]="model.phone" #phone="ngModel"
                                     maxlength="10" minlength="10"
                                           title="{{defaultFormValues[10]['helpMessage']}}"  
                                           (keydown)="onlyDecimalNumberKey($event)"  required />
                                </div>
                                <div *ngIf="f.submitted && phone.invalid">
                                     <div class='error-msg' style="margin-left:207px" *ngIf="phone.errors.required">
                                        {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                   <div class='error-msg' style="margin-left:207px"  *ngIf="phone.errors.maxlength">
                                        {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="'form-row'">
                            <div [ngClass]="{'has-error': f.submitted && !userGroupId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="userGroupId">{{defaultFormValues[11]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                    <select [ngClass]="'form-control '" name="userGroupId" [(ngModel)]="model.userGroupId" #userGroupId="ngModel" title="{{defaultFormValues[11]['helpMessage']}}" required>
                                        <option *ngFor="let userGroup of userGroupOptions" [value]="userGroup.id">
                                            {{userGroup.groupName}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="f.submitted && userGroupId.invalid">
                                     <div class='error-msg' *ngIf="userGroupId.errors.required">
                                        {{defaultFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                  </div>
                            </div>
                             <div [ngClass]="{'has-error': f.submitted && SelectedCompany.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="companyIds">{{defaultFormValues[12]['fieldValue']}}</label>
                                 <angular2-multiselect [data]="ddl_MultiSelectCompany" [(ngModel)]="SelectedCompany" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlCompanySetting" 
                                    (onSelect)="onItemSelect($event)" 
                                    (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                                <div *ngIf="f.submitted && SelectedCompany.length == 0">
                                    <div class='error-msg'>
                                        {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <!--<div [ngClass]="{'has-error': f.submitted && !companyIds.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="companyIds">{{defaultFormValues[12]['fieldValue']}}</label>
                                  <div class="select-outer multiselect-dd">
                                    <ss-multiselect-dropdown  [options]="companyOptions" [settings]="ddSettings" [texts]="ddTexts" [(ngModel)]="model.companyIds" 
                                        #companyIds="ngModel" name="companyIds" (ngModelChange)="onChange($event)"  title="{{defaultFormValues[12]['helpMessage']}}" required>
                                    </ss-multiselect-dropdown>
                                </div>
                                <div *ngIf="f.submitted && companyIds.invalid">
                                    <div class='error-msg' *ngIf="companyIds.errors.required">
                                        {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <div [ngClass]="'form-row'">
                            <div [ngClass]="{'has-error': f.submitted && !stateId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="stateId">{{defaultFormValues[15]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                    <select [ngClass]="'form-control '" name="stateId" [(ngModel)]="model.stateId" #stateId="ngModel" (change)="getStateData($event)"
                                        title="{{defaultFormValues[15]['helpMessage']}}" required>
                                    <option *ngFor="let state of stateOptions" [value]="state.stateId">
                                        {{state.stateName}}
                                    </option>
                                    </select>
                                </div>
                                <div *ngIf="f.submitted && stateId.invalid">
                                       <div class='error-msg' *ngIf="stateId.errors.required">
                                        {{defaultFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'has-error': f.submitted && !cityId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="cityId">{{defaultFormValues[16]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                    <select [ngClass]="'form-control '" name="cityId" [(ngModel)]="model.cityId" #cityId="ngModel" title="{{defaultFormValues[16]['helpMessage']}}"
                                        required>
                                    <option *ngFor="let city of cityOptions" [value]="city.cityId">
                                        {{city.cityName}}
                                    </option>
                                    </select>
                                </div>
                                <div *ngIf="f.submitted && cityId.invalid">
                                   <div class='error-msg' *ngIf="cityId.errors.required">
                                        {{defaultFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="'form-row'">
                            <div [ngClass]="{ 'has-error': f.submitted && !zipCode.valid, 'col-md-6 col-sm-6 col-xs-12':true  }">
                                <label for="zipCode">{{defaultFormValues[17]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="zipCode" OnlyNumber="true"
                                (keydown)="onlyDecimalNumberKey($event)"    [(ngModel)]="model.zipCode" #zipCode="ngModel" title="{{defaultFormValues[17]['helpMessage']}}"
                                       required />
                                <div *ngIf="f.submitted && zipCode.invalid">
                                   <div class='error-msg' *ngIf="zipCode.errors.required">
                                        {{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>

                            <div [ngClass]="{'has-error': f.submitted && !dob.valid,'col-md-6 col-sm-6 col-xs-12 dob-row':true}">
                                <label for="dob">{{defaultFormValues[18]['fieldValue']}}</label>
                                
                                <input type="text" [ngClass]="'form-control fm-txt dob'" ngx-mydatepicker
                                  [options]="myOptions"  #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"
                                    name="dob" [(ngModel)]="model.dob" #dob="ngModel"  title="{{defaultFormValues[18]['helpMessage']}}" required readonly/>
                           
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                  <i class="glyphicon glyphicon-remove"></i>
                                </button>
                                <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                  <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                             <div *ngIf="f.submitted && dob.invalid">
                                   <div class='error-msg' *ngIf="dob.errors.required">
                                        {{defaultFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       <div [ngClass]="'button-row'">
                            <div [ngClass]="'col-sm-12'">
                                <button *ngIf="model.userId" (click)="resetUserPassword($event)" 
                                title="{{defaultFormValues[20]['fieldValue']}}" [ngClass]="'grey-btn'"
                                [disabled]="LockScreen(defaultFormValues[20]['writeAccess'])" >{{defaultFormValues[20]['fieldValue']}}</button>
                                <button title="{{defaultFormValues[13]['fieldValue']}}" 
                                [disabled]="LockScreen(defaultFormValues[13]['writeAccess'])" [ngClass]="'orange-btn'">{{defaultFormValues[13]['fieldValue']}}</button>
                                <button title="{{defaultFormValues[14]['fieldValue']}}" [ngClass]="'blue-btn'" [routerLink]="['/user']">{{defaultFormValues[14]['fieldValue']}}</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!--adding form ends-->
            </div>
            <!-- Content Outer Ends -->
        </section>
    </section>
</div>
<!--<footer class="main-footer">@ 2017 BIT. All rights reserved.
</footer>-->
