<div class="modal smtModalSMid" *ngIf="isDetailModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            Remaining Amount Details
        </div>
        <div class="modal-body">
            <div class="algo-table algo-table-department">
                <!-- <label #lblName *ngIf="isGridError" class="lbl=danger" style="color: red">
                Enter Proper Amount
                </label> -->
                <!-- Data Grid Starts-->
                <div class="table-responsive">
                    <ngx-datatable id="" class="material" [rows]="detailsRows" [columnMode]="'force'"
                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
                        [count]="page2.totalElements" [offset]="page2.pageNumber" [limit]="page2.size"
                        (page)='setPage2($event)' [selected]="selected" [selectionType]="'checkbox'"
                        (select)='onSelect($event)'>

                        <!-- Data Grid checkbox -->
                        <ngx-datatable-column name="serialNo" [sortable]="true" [width]="70" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="true">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('transcationNumber')">No.#</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                {{serialNoDisplayArr[row.$$index]}}

                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [width]="100" name="Refrence No." [sortable]="false" prop="refId">

                            <template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [width]="140" name="Deduction Amount" [sortable]="false"
                            prop="deductionAmount">

                            <template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <!-- <input type="number" class="form-control" [ngClass]="'customAmt-'+ row.$$index"
                                    (blur)="calculateGridDeductionAmt($event,row.$$index)" value="{{value}}" /> -->
                                    {{value}}
                            </template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [width]="90" name="Month" [sortable]="false" prop="month">

                            <template let-value="value" ngx-datatable-cell-template>
                                {{value |  date:'MMM yyyy'}}
                            </template>
                        </ngx-datatable-column>


                    </ngx-datatable>

                </div>
                <!-- Data Grid Ends-->
            </div>
        </div>
        <div class="modal-footer">
            <!-- <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
        <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button> -->
            <button class="blue-btn-sm" (click)='closeModal()'>Close</button>
        </div>
    </div>
</div>


<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>Loan And Advance Payments</h2>
            <button class="orange-btn" (click)="Create()" title="Create">Create</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg"
                    [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage"
                        [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                  <input type="text" class="search-txt form-control" title="Search Loan Entry"
                      placeholder="Search Loan Entry" (keyup)='updateFilter($event)' />
              </div>
                </div>
            </div>

            <!-- <div class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i
                  class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;"
              title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure"
              (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)"
              title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure"
              (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)"
              title="Save"><i class="fa fa-save"></i></button>
      </div> -->

            <div class="algo-table algo-table-department">

                <div class="table-responsive">
                    <ngx-datatable id="deductionCodeGrid1" class="material" [rows]="rows" [columnMode]="'force'"
                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
                        [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                        (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'"
                        (select)='onSelectBatches($event)' [scrollbarH]="true">


                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
                        </ngx-datatable-column>

                        <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                            <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                        <div 
                                        [draggable]="isConfigure"
                                        (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                        (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                        (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                        (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                                    </ng-template>
                                </ngx-datatable-column>  
                            </div>
                        </div>

                        <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false"
                            [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                Action
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <!-- Data Grid Ends-->
            </div>
            <!-- Content Heading Ends -->

            <div class="button-row">
                <!-- Table View Starts -->
                <div class="table-view table-view-fix">
                    <span>TABLE VIEW</span>
                    <div class="select-outer">
                        <select class="form-control" (change)="changePageSize($event)" name="ddPageSize"
                            [(ngModel)]="ddPageSize" #cityId="ngModel">
                            <option value="5">5 at a time </option>
                            <option value="15">15 at a time </option>
                            <option value="50">50 at a time </option>
                            <option value="100">100 at a time </option>
                        </select>
                    </div>
                </div>
                <!-- Table View Ends -->

                <div class="bottom-view">
                </div>
                <!-- <button class="blue-btn" type="button"
              (click)="varifyDeleteBatch()">{{TRANSACTION_ENTRY_DELETE_LABEL['fieldValue']}}</button> -->


                <!-- Create / Update Form start -->
                <div *ngIf="showCreateForm">
                    <div class="col-md-12 mt-30">
                        <hr>
                    </div>
                    <div class="col-md-12 mb-30">
                        <h3>Create Loan And Advance Payments</h3>
                        <!-- <h3 *ngIf="model.id">{{TRANSACTION_ENTRY_UPDATE_FORM_LABEL['fieldValue']}}</h3> -->
                    </div>
                    <div *ngIf="duplicateWarning"
                        [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                            <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && Save(f, $event)" #f="ngForm"
                            novalidate>
                        <div class="col-md-6">
                            <div [ngClass]="'row form-group'">
                                    <!-- <div
                                    [ngClass]="{'has-error': f.submitted && !refrenceNum.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="refrenceNum">{{LOANANDADVANCE_REFRENCENUMBER['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_REFRENCENUMBER['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="refrenceNum"
                                        [(ngModel)]="model.refId"  #refrenceNum="ngModel"
                                        title="{{LOANANDADVANCE_REFRENCENUMBER['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_REFRENCENUMBER['writeAccess']"
                                        [required]="LOANANDADVANCE_REFRENCENUMBER['isMandatory']" maxlength="120"
                                        [disabled]="true" />
                                        <!-- <div *ngIf="f.submitted && refrenceNum.invalid">
                                                <div [hidden]="!refrenceNum.errors.required">
                                                  Refrence Number is Required
                                                </div>
                                              </div> -->
                                <!-- </div> -->
                            </div>
                        </div>

                                    <div
                                    [ngClass]="{'has-error': f.submitted && !transDate.valid,'row form-group':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="transDate">{{LOANANDADVANCE_TRANSACTIONDATE['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_TRANSACTIONDATE['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input [ngClass]="'form-control fm-txt'" placeholder="Select a date"
                                            ngx-mydatepicker name="transDate" [(ngModel)]="transsactionDate"
                                            [options]="myOptions" #dp1="ngx-mydatepicker" #transDate="ngModel"
                                            (dateChanged)="onStartDateChanged($event)"
                                            (change)="onStartDateChanged($event.target.value)"
                                            [required]="LOANANDADVANCE_TRANSACTIONDATE['isMandatory']"
                                            [readonly]="!LOANANDADVANCE_TRANSACTIONDATE['writeAccess']"  [attr.disabled]="model.id != 0"/>

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                style="float:none; height: 40px; width: 40px;"
                                                (click)="dp1.clearDate()"  [disabled]="model.id != 0">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                            <button type="button" class="btn btn-default"
                                                style="float:none; height: 40px; width: 40px;"
                                                (click)="dp1.toggleCalendar()"
                                                [disabled]="model.id != 0">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>

                                    </div>
                                </div>
                            </div>

                            
                                    <div
                                    [ngClass]="{'has-error': f.submitted && !employeeId.valid,'row form-group':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label "
                                        for="employeeId">{{LOANANDADVANCE_EMPLOYEEID['fieldValue']}}</label>
                                        <span *ngIf="LOANANDADVANCE_EMPLOYEEID['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="employeeId"
                                        [(ngModel)]="model.employeeId" #employeeId="ngModel"
                                        title="{{LOANANDADVANCE_EMPLOYEEID['helpMessage']}}" [required]="LOANANDADVANCE_EMPLOYEEID['isMandatory']"
                                        [typeahead]="employeeIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                                        (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                        typeaheadOptionField="employeeId" class="search-id" autocomplete="off"
                                        maxlength="10" [disabled]="model.id != 0"/>
                                </div>
                            </div>
                        

                           
                                    <div
                                    [ngClass]="{'has-error': f.submitted && !amountReq.valid,'row form-group':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="amountReq">{{LOANANDADVANCE_AMOUNTREQUESTED['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_AMOUNTREQUESTED['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" [ngClass]="'form-control fm-txt'" name="amountReq"
                                        [(ngModel)]="model.loanAmt" #amountReq="ngModel"
                                        title="{{LOANANDADVANCE_AMOUNTREQUESTED['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_AMOUNTREQUESTED['writeAccess']"
                                        [required]="LOANANDADVANCE_AMOUNTREQUESTED['isMandatory']" maxlength="120" [disabled]="model.id != 0"/>
                                </div>
                            </div>
                       

                            
                                    <div
                                    [ngClass]="{'has-error': f.submitted && !deductionAmt.valid,'row form-group':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="deductionAmt">{{LOANANDADVANCE_DEDUCTIONPERMONTH['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_DEDUCTIONPERMONTH['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" [ngClass]="'form-control fm-txt'" name="deductionAmt"
                                        [(ngModel)]="model.deductionPerMonthDefault" #deductionAmt="ngModel"
                                        title="{{LOANANDADVANCE_DEDUCTIONPERMONTH['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_DEDUCTIONPERMONTH['writeAccess']"
                                        [required]="LOANANDADVANCE_DEDUCTIONPERMONTH['isMandatory']"
                                        (blur)="onAmountChange()" maxlength="120" [disabled]="model.id != 0"/>

                                    <span #lblName *ngIf="isDeductionAmtError" class="lbl=danger" style="color: red">
                                        Enter Valid Amount
                                    </span>
                                </div>
                            </div>


                            
                                    <div
                                    [ngClass]="{'has-error': f.submitted && !totalMonths.valid,'row form-group':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="totalMonths">{{LOANANDADVANCE_TOTALNUMBEROFMONTHS['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_TOTALNUMBEROFMONTHS['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" [ngClass]="'form-control fm-txt'" name="totalMonths"
                                        [(ngModel)]="model.numOfMonths" #totalMonths="ngModel"
                                        title="{{LOANANDADVANCE_TOTALNUMBEROFMONTHS['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_TOTALNUMBEROFMONTHS['writeAccess']"
                                        [required]="LOANANDADVANCE_TOTALNUMBEROFMONTHS['isMandatory']"
                                        (blur)="onMonthChange()" maxlength="120" [disabled]="model.id != 0"/>
                                </div>
                            </div>
                       

                            <div [ngClass]="'row form-group'">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="startingFrom">{{LOANANDADVANCE_STARTINGFROM['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_STARTINGFROM['isMandatory']">*</span>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" [(ngModel)]="model.startingFromMonth"
                                        (change)="onStartMonthChange()" name="startingFrom" #startingFrom="ngModel" id="" [disabled]="model.id != 0">
                                        <option *ngFor="let item of startingMonth" value="{{item}}">{{item}}</option>
                                        <!-- <option value="2">Feb</option>
                                        <option value="3">Mar</option> -->
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" [(ngModel)]="model.startingFromYear"
                                        (change)="onStartYearChange()" name="startingFromYear"  #startingFromYear="ngModel" id="" [disabled]="model.id != 0">
                                        <option *ngFor="let item of startingYear" value="{{item}}">{{item}}</option>
                                        <!-- <option value="2">2020</option>
                                        <option value="3">2021</option> -->
                                    </select>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>

                        <div class="col-md-6" style="border:1px solid black; padding-top: 10px;margin-bottom: 15px">

                            <div [ngClass]="'row form-group'">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="employeeName">{{LOANANDADVANCE_EMPLOYEENAME['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_EMPLOYEENAME['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="employeeName"
                                        [(ngModel)]="model.employeeName"
                                        title="{{LOANANDADVANCE_EMPLOYEENAME['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_EMPLOYEENAME['writeAccess']"
                                        [required]="LOANANDADVANCE_EMPLOYEENAME['isMandatory']" maxlength="120"
                                        [disabled]="true" />
                                </div>
                            </div>

                            <div [ngClass]="'row form-group'">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="hiringDate">{{LOANANDADVANCE_HIRINGDATE['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_HIRINGDATE['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="hiringDate"
                                        [(ngModel)]="model.hiringDate"
                                        title="{{LOANANDADVANCE_HIRINGDATE['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_HIRINGDATE['writeAccess']"
                                        [required]="LOANANDADVANCE_HIRINGDATE['isMandatory']" maxlength="120"
                                        [disabled]="true" />
                                </div>
                            </div>

                            <div [ngClass]="'row form-group'">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="position">{{LOANANDADVANCE_POSITION['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_POSITION['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="position"
                                        [(ngModel)]="model.position" title="{{LOANANDADVANCE_POSITION['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_POSITION['writeAccess']"
                                        [required]="LOANANDADVANCE_POSITION['isMandatory']" maxlength="120"
                                        [disabled]="true" />
                                </div>
                            </div>

                            <div [ngClass]="'row form-group'">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="site">{{LOANANDADVANCE_SITE['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_SITE['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="site"
                                        [(ngModel)]="model.site" title="{{LOANANDADVANCE_SITE['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_SITE['writeAccess']"
                                        [required]="LOANANDADVANCE_SITE['isMandatory']" maxlength="120"
                                        [disabled]="true" />
                                </div>
                            </div>

                            <div [ngClass]="'row form-group'">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="totPackage">{{LOANANDADVANCE_TOTALPACKAGE['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_TOTALPACKAGE['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="totPackage"
                                        [(ngModel)]="model.totPackage"
                                        title="{{LOANANDADVANCE_TOTALPACKAGE['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_TOTALPACKAGE['writeAccess']"
                                        [required]="LOANANDADVANCE_TOTALPACKAGE['isMandatory']" maxlength="120"
                                        [disabled]="true" />
                                </div>
                            </div>

                            <div [ngClass]="'row form-group'">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="model.prevLoan">{{LOANANDADVANCE_PREVIOUSLOAN['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_PREVIOUSLOAN['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="prevLoan"
                                        [(ngModel)]="model.prevLoan" title="{{LOANANDADVANCE_PREVIOUSLOAN['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_PREVIOUSLOAN['writeAccess']"
                                        [required]="LOANANDADVANCE_PREVIOUSLOAN['isMandatory']" maxlength="120"
                                        [disabled]="true" />
                                </div>
                            </div>

                            <div [ngClass]="'row form-group'">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="totDeduction">{{LOANANDADVANCE_TOTALDEDUCTION['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_TOTALDEDUCTION['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="totDeduction"
                                        [(ngModel)]="model.totDeduction"
                                        title="{{LOANANDADVANCE_TOTALDEDUCTION['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_TOTALDEDUCTION['writeAccess']"
                                        [required]="LOANANDADVANCE_TOTALDEDUCTION['isMandatory']" maxlength="120"
                                        [disabled]="true" />
                                </div>
                            </div>

                            <div [ngClass]="'row form-group'">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="totRemaining">{{LOANANDADVANCE_TOTALREMAINING['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_TOTALREMAINING['isMandatory']">*</span>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="totRemaining"
                                        [(ngModel)]="model.totRemaining"
                                        title="{{LOANANDADVANCE_TOTALREMAINING['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_TOTALREMAINING['writeAccess']"
                                        [required]="LOANANDADVANCE_TOTALREMAINING['isMandatory']" maxlength="120"
                                        [disabled]="true" />
                                </div>
                                <div class="col-md-2">
                                    <input type="button" [ngClass]="'smt-white-btn'" maxlength="120"
                                        (click)="getRemaining()" value="Details" />
                                </div>
                            </div>

                            <div [ngClass]="'row form-group'">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="currentESB">{{LOANANDADVANCE_CURRENTESB['fieldValue']}}</label>
                                    <span *ngIf="LOANANDADVANCE_CURRENTESB['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="currentESB"
                                        [(ngModel)]="model.currentESB"
                                        title="{{LOANANDADVANCE_CURRENTESB['helpMessage']}}"
                                        [readonly]="!LOANANDADVANCE_CURRENTESB['writeAccess']"
                                        [required]="LOANANDADVANCE_CURRENTESB['isMandatory']" maxlength="120"
                                        [disabled]="true" />
                                </div>
                            </div>
                        </div>


                        <div *ngIf="isGridError"
                            [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            Enter Proper Amount
                        </div>

                        <div *ngIf="loaderImg" style="margin-left: 40%;height: 6rem;">
                            <img src="assets/img/loader.gif" style="width: 5rem;" alt="Loader">
                          </div>
                        <div class="algo-table algo-table-department">
                            <!-- <label #lblName *ngIf="isGridError" class="lbl=danger" style="color: red">
                                    Enter Proper Amount
                                    </label> -->
                            <!-- Data Grid Starts-->
                            <div class="table-responsive">
                                <ngx-datatable id="" class="material" [rows]="model.loanDetailsList" [columnMode]="'force'"
                                    [headerHeight]="50" [footerHeight]="0" [rowHeight]="'auto'"
                                    (page)='setPage1($event)' [selectionType]="'checkbox'" (select)='onSelect($event)'>

                                    <!-- Data Grid checkbox -->
                                    <ngx-datatable-column name="serialNo" [sortable]="true" [width]="100"
                                        [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                        <ng-template let-column="column" let-sort="sortFn"
                                            ngx-datatable-header-template>
                                            <span (click)="sortColumn('transcationNumber')">No.#</span>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.$$index + 1}}

                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="100" name="Month" [sortable]="false" prop="monthYear">

                                        <template let-value="value" ngx-datatable-cell-template>
                                            {{value |  date:'MMM yyyy'}}
                                        </template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="100" name="Deduction Amount" [sortable]="false"
                                        prop="deductionAmount">

                                        <template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <input type="number" class="form-control"
                                                [ngClass]="'customAmt-'+ row.$$index" [ngModelOptions]="{standalone: true}"
                                                (blur)="calculateGridDeductionAmt($event,row.$$index)"
                                                value="{{value}}"  [disabled]="model.loanDetailsList[row.$$index].isPostpone || model.loanDetailsList[row.$$index].isPaid"/>
                                        </template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="100" name="Postponed" [sortable]="false"
                                        prop="isPostpone">

                                        <template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <input type="checkbox" [ngClass]="'custom-'+ row.$$index"
                                                [(ngModel)]="model.loanDetailsList[row.$$index].isPostpone" [ngModelOptions]="{standalone: true}"
                                                (change)="checkValue(row.$$index,$event)" value="{{value}}"  [disabled]="model.loanDetailsList[row.$$index].isPostpone || model.loanDetailsList[row.$$index].isPaid"/>
                                        </template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="100" name="Status" [sortable]="false" prop="status">

                                        <template let-value="value" let-row="row" ngx-datatable-cell-template>
                                            <select [(ngModel)]="model.loanDetailsList[row.$$index].status"
                                                class="form-control" [disabled]="true" [ngModelOptions]="{standalone: true}">
                                                <option value="1">Paid</option>
                                                <option value="2">Not Paid</option>
                                                <option value="3">Postponed</option>
                                            </select>
                                        </template>
                                    </ngx-datatable-column>



                                    <!-- Data Grid Action -->
                                    <!-- <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false"
                                  [resizeable]="true">
                                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    Action
                                  </ng-template>
                                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                    <button class="del-ico" (click)="varifyDelete(row)" title="Delete"></button>
                                  </ng-template>
                                </ngx-datatable-column> -->

                                </ngx-datatable>

                            </div>
                            <!-- Data Grid Ends-->
                        </div>


                        <div [ngClass]="'button-row'">
                            <div
                                [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                <div [ngClass]="'col-xs-12'">
                                    <span class="pull-right">
                                        <!-- <button *ngIf="model.id" [ngClass]="'grey-btn'">{{TRANSACTION_ENTRY_UPDATE_LABEL['fieldValue']}}</button> -->
                                        <button [ngClass]="'grey-btn'">{{LOANANDADVANCE_SAVE['fieldValue']}}</button>
                                        <button [ngClass]="'grey-btn  '" type="button"
                                            (click)="printEmployeeDetails()">{{LOANANDADVANCE_ACTIVATE['fieldValue']}}</button>
                                        <button [ngClass]="'grey-btn'" type="button"
                                            (click)="printEmployeeDetails()">{{LOANANDADVANCE_PRINT['fieldValue']}}</button>
                                        <!-- <button [ngClass]="'blue-btn'" type="button">{{TRANSACTION_ENTRY_PRINT_LABEL['fieldValue']}}</button> -->
                                        <button [ngClass]="'orange-btn'"
                                            type="button">{{LOANANDADVANCE_CANCEL['fieldValue']}}</button>
                                        <!-- <button [ngClass]="'blue-btn'" type="button" (click)="Cancel()">Cancel</button> -->
                                    </span>
                                </div>
                            </div>
                        </div>
                            </form>
                    </div>
                </div>
                <!-- Create Update form ends -->
            </div>

        </section>
    </section>
</div>