<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
        </div>
        <!-- Content Heading Ends -->

        <!-- Create / Update Form start -->
        <div>
          <div class="clearfix"></div>
          <form class="form-horizontal" #f="ngForm" novalidate>

            
              <div class="col-lg-6">

                <!-- Address Id field -->
                <div [ngClass]="'form-group'">
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="year">{{RECONCILE_EMPLOYEE_INFO_YEAR['fieldValue']}}</label>
                      <span *ngIf="RECONCILE_EMPLOYEE_INFO_YEAR['isMandatory']">*</span>
                    </div>
                    <div class="col-md-4">
                      <select [ngClass]="'form-control fm-txt'" name="year" #year1="ngModel" [(ngModel)]="year" title="{{RECONCILE_EMPLOYEE_INFO_YEAR['helpMessage']}}"
                        maxlength="10" [required]="RECONCILE_EMPLOYEE_INFO_YEAR['isMandatory']">
                        <option value="0">Select Year</option>
                      </select>
                      <div *ngIf="f.submitted && Year.invalid">
                        <div [hidden]="!Year.errors.required">
                          {{RECONCILE_EMPLOYEE_INFO_YEAR['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="">
                  <div class="col-md-8">
                    <div class="form-group">
                      <div [ngClass]="{'has-error': f.submitted && !address1.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                        <div class="col-md-4">
                          <label class="control-label" for="ranges">{{RECONCILE_EMPLOYEE_INFO_RANGE['fieldValue']}}</label>
                          <span *ngIf="RECONCILE_EMPLOYEE_INFO_RANGE['isMandatory']">*</span>
                        </div>
                        <div class="col-md-6">
                          <select #range="ngModel" [pattern]="pattern" type="text" [ngClass]="'form-control fm-txt'"
                            name="ranges" [(ngModel)]="ranges" #range1="ngModel" title="{{RECONCILE_EMPLOYEE_INFO_RANGE['helpMessage']}}"
                            maxlength="90" [required]="RECONCILE_EMPLOYEE_INFO_RANGE['isMandatory']">
                            <option value="0">Select Ranges</option>
                          </select>
                          <div *ngIf="f.submitted && ranges.invalid && this.checkclear !=0">
                            <div [hidden]="!ranges.errors.required && this.checkclear !=0 ">
                              {{RECONCILE_EMPLOYEE_INFO_RANGE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <input type="checkbox" name="all" [(ngModel)]="all" #all1="ngModel" value="1">
                          <label>{{RECONCILE_EMPLOYEE_INFO_ALL['fieldValue']}}</label>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="col-md-4">
                      <input type="checkbox" name="all" name="all" [(ngModel)]="all" #all1="ngModel" value="0">
                     
                    </div>
                    <div class="col-md-8">
                      
                        <label for="year" class="control-label">{{RECONCILE_EMPLOYEE_INFO_FROM['fieldValue']}}</label>
                        <span *ngIf="RECONCILE_EMPLOYEE_INFO_FROM['isMandatory']">*</span>
                      
                      <input type="text" [pattern]="pattern" type="text" [ngClass]="'form-control fm-txt'" name="from"
                        [(ngModel)]="from" #from1="ngModel" title="{{RECONCILE_EMPLOYEE_INFO_FROM['helpMessage']}}"
                        maxlength="90" [required]="RECONCILE_EMPLOYEE_INFO_FROM['isMandatory']" />


                      <div *ngIf="f.submitted && from.invalid && this.checkclear !=0">
                        <div [hidden]="!from.errors.required && this.checkclear !=0 ">
                          {{RECONCILE_EMPLOYEE_INFO_FROM['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                      <label for="to" class="control-label">{{RECONCILE_EMPLOYEE_INFO_TO['fieldValue']}}</label>
                      <span *ngIf="RECONCILE_EMPLOYEE_INFO_TO['isMandatory']">*</span>
                      <input type="text" [pattern]="pattern" type="text" [ngClass]="'form-control fm-txt'" name="to"
                        [(ngModel)]="to" #to1="ngModel" title="{{RECONCILE_EMPLOYEE_INFO_TO['helpMessage']}}" maxlength="90"
                        [required]="RECONCILE_EMPLOYEE_INFO_TO['isMandatory']" />
                    </div>
                  </div>
                  </div>
                </div>
              
              <div class="form-group">

                <div class="col-md-4">
                  <button [ngClass]="'mb-30 blue-btn'">{{RECONCILE_EMPLOYEE_INFO_INSERT['fieldValue']}}</button>
                  <button [ngClass]="'blue-btn'">{{RECONCILE_EMPLOYEE_INFO_REMOVE['fieldValue']}}</button>
                </div>
                <div class="col-md-8">
                  <textarea [ngClass]="'form-control fm-txt'" name="restriction" [(ngModel)]="restriction"
                    #restriction1="ngModel" title="{{RECONCILE_EMPLOYEE_INFO_RESTRICTIONS['helpMessage']}}" maxlength="31"></textarea>

                </div>
              </div>
            </div>

            <!-- Buttons -->
            <div [ngClass]="'button-row'">
              <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                <div [ngClass]="'col-xs-12'">
                  <span class="pull-right">
                    <button [ngClass]="'grey-btn'">{{RECONCILE_EMPLOYEE_INFO_CLEAR['fieldValue']}}</button>

                    <button [ngClass]="'blue-btn'">{{RECONCILE_EMPLOYEE_INFO_PROCESS['fieldValue']}}</button>
                  </span>
                </div>
              </div>
            </div>
          </form>

          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>