
 <div class="content-wrapper user-view" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                         {{messageText}}
                      </div>

                         <div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control"
										(keyup)='updateFilter($event)' />
								</div>
						 </div>

                    <div class="content-outer com-form">
                      <div class="row">
                        <div class="form-row">  
                    <div class="col-xs-12">
		                <div class="algo-table">
		                    <div class="table-responsive">
						        <ngx-datatable id="configurationGrid" class="material" [rows]="rows"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'auto'" [externalPaging]="true"
                                    [count]="page.totalElements" [offset]="page.pageNumber"
                                    [limit]="page.size" (page)='setPage($event)'
                                    [selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
                                    (select)='onSelect($event)'>
						        <ngx-datatable-column 
                                    *ngIf="defaultManageFormValues[0]['readAccess']"  name="seriesName" [width]="150"
                                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
						        <ng-template 
                                    let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn" (click)="sort()">
                                    {{defaultManageFormValues[0]['fieldValue']}}</span> 
                                </ng-template>
                                <ng-template
                                    let-value="value" ngx-datatable-cell-template>
                                    {{value}} 
                                </ng-template> 
						        </ngx-datatable-column> 
						        <ngx-datatable-column 
                                    name="sourceDocument" *ngIf="defaultManageFormValues[2]['readAccess']" 
                                    [width]="250" [canAutoResize]="false" [draggable]="false"
                                    [resizeable]="false"> 
                                <ng-template
                                    let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn"
                                    (click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span>
                                </ng-template> 
                                <ng-template
                                    let-value="value" ngx-datatable-cell-template>
                                    {{value}} 
                                </ng-template>
                                </ngx-datatable-column> 
						        <ngx-datatable-column 
                                    name="sequenceNumber" *ngIf="defaultManageFormValues[1]['readAccess']" 
                                    [width]="150" [canAutoResize]="false" [draggable]="false"
                                    [resizeable]="false"> <ng-template
                                    let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn"
                                    (click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
                                    let-value="value" ngx-datatable-cell-template>
						            {{value}} 
                                </ng-template>
                                </ngx-datatable-column> 
								<ngx-datatable-column 
                                    name="sourceCode" *ngIf="defaultManageFormValues[3]['readAccess']" 
                                    [width]="150" [canAutoResize]="false" [draggable]="false"
                                    [resizeable]="false"> <ng-template
                                    let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn"
                                    (click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
                                    let-value="value" ngx-datatable-cell-template>
						            {{value}} 
                                </ng-template>
                                </ngx-datatable-column> 
                                <ngx-datatable-column 
                                    name="seriesNumber" *ngIf="defaultManageFormValues[7]['readAccess']" 
                                    [width]="150" [canAutoResize]="false" [draggable]="false"
                                    [resizeable]="false"> 
                                <ng-template
                                    let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn"
                                    (click)="sort()">{{defaultManageFormValues[7]['fieldValue']}}</span>
                                </ng-template> 
                                <ng-template
                                    let-value="value" ngx-datatable-cell-template>
                                    {{value}} 
                                </ng-template>
                                </ngx-datatable-column> 
						        <ngx-datatable-column 
                                    name="Action" [width]="99" *ngIf="defaultManageFormValues[4]['readAccess']" 
                                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
						        <ng-template let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template>
                                    {{defaultManageFormValues[4]['fieldValue']}} </ng-template> <ng-template let-row="row"
                                    let-value="value" ngx-datatable-cell-template>
						          <a class="edit-ico" (click)="getAuditTrialById(row)" title="{{defaultManageFormValues[6]['helpMessage']}}"></a>
						        </ng-template> 
						        </ngx-datatable-column> 
						        </ngx-datatable>
					        </div>
		                </div><!-- Algo Table Ends -->
		            </div>

                        <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
									<!--<button class="blue-btn" (click)="delete()"  title="delete">Delete</button>-->
								</div>

                </div>
						<!-- Form Row Ends -->


						 <form (ngSubmit)="!hasMsg && f.form.valid && saveAuditTrial(f)" #f="ngForm" novalidate>
						  <div class="form-row">
							<div [ngClass]="{ 'has-error': f.submitted && !seriesId.valid, 'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="seriesId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                    <select myAutofocus [ngClass]="'form-control fm-txt auto-focus'" title="{{defaultAddFormValues[0]['helpMessage']}}" name="seriesId" [(ngModel)]="model.seriesId" #seriesId="ngModel"
                                          [disabled]="condition"   required>
                                        <option *ngFor="let series of seriesOptions" [value]="series.typeId">
                                            {{series.name}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="f.submitted && seriesId.invalid">
                                            <div class='error-msg' *ngIf="seriesId.errors.required">
                                                {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                            </div>	
                         </div>
                         	<div class="form-row">
                            <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !sourceDocument.valid,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="sourceDocument">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"  name="sourceDocument" [(ngModel)]="model.sourceDocument" 
                                #sourceDocument="ngModel" 
                                title="{{defaultAddFormValues[1]['helpMessage']}}"
                                 maxlength="25"   required >
                                <div *ngIf="f.submitted && sourceDocument.invalid">
                                            <div class='error-msg' *ngIf="sourceDocument.errors.required">
                                                {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
											<div class='error-msg' *ngIf="sourceDocument.errors.maxlength">
                                                {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                            </div>
                         </div>
                         
			
							      <!--<div *ngIf="f.submitted && sourceDocument.invalid">
                                            <div class='error-msg' *ngIf="sourceDocument.errors.required">
                                               {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
											<div class='error-msg' *ngIf="sourceDocument.errors.maxlength">
                                                {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>-->
                        <!-- Form Row Ends -->
						<div class="form-row">
                            <div *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !sourceCode.valid,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="sourceCode">{{defaultAddFormValues[2]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"   name="sourceCode" [(ngModel)]="model.sourceCode" 
                                #sourceCode="ngModel" 
                                title="{{defaultAddFormValues[2]['helpMessage']}}"
                                 maxlength="5"   required >
                                <div *ngIf="f.submitted && sourceCode.invalid">
                                            <div class='error-msg' *ngIf="sourceCode.errors.required">
                                                {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
											<div class='error-msg' *ngIf="sourceCode.errors.maxlength">
                                                {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                            </div>
                         </div>
                         <div class="form-row">
                            <div *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !seriesNumber.valid,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="seriesNumber">{{defaultAddFormValues[5]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"  name="seriesNumber" [(ngModel)]="model.seriesNumber" 
                                #seriesNumber="ngModel" [disabled]="isModify" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    title="{{defaultAddFormValues[5]['helpMessage']}}"
                                 maxlength="5" required >
                                <div *ngIf="f.submitted && seriesNumber.invalid">
                                            <div class='error-msg' *ngIf="seriesNumber.errors.required">
                                                {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
											<div class='error-msg' *ngIf="seriesNumber.errors.maxlength">
                                                {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                            </div>
                         </div>
                        <div class="button-row">
                      <div class="col-sm-12">
                            <input type="submit" [disabled]="LockScreen(defaultAddFormValues[4]['writeAccess'])" class="orange-btn" title="{{defaultAddFormValues[3]['helpMessage']}}" value="{{defaultAddFormValues[3]['fieldValue']}}"/>
                            <input type="button" class="blue-btn" (click)="resetMe(f)" title="{{defaultAddFormValues[4]['helpMessage']}}" value="{{defaultAddFormValues[4]['fieldValue']}}"/>
                            <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                        </div>
                        </div>
  					</form>
						  
                      </div> <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                     
                  </section>
                </section>
            </div>
