<div class="content-wrapper user-view" >
  <section class="content">
    <div class="section-heading"><h2>Clear Session</h2></div><!-- section Heading Ends -->
      <section class="inner-content">
          <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{messageText}}
          </div>
        <div class="content-outer com-form">
          <div class="form-row">
            <div class="col-xs-12">
              <div class="algo-table">
                <div class="table-responsive">  
                    <table class="table">
                        <thead>
                          <tr> 
                              <th width="15%">User Id</th>
                              <th width="20%">First Name</th>
                              <th width="15%">Email</th>
                              <th width="10%">Action</th>
                          </tr>
                        </thead>
                          <tbody>
                              <tr *ngFor="let arr of arrUserList;let i = index">
                                  <td>{{arr.userId}}</td>
                                  <td>{{arr.firstName}}</td>
                                  <td>{{arr.email}}</td>
                                  <td>
                                    <a  class="orange-btn" (click)="killSession(arr)" style="
                                    padding: 5px 10px;
                                    font-size: 11px;">Kill Session</a>
                                  </td>
                                </tr>
                          </tbody>
                      </table>  
                  
                </div>
              </div><!-- Algo Table Ends -->
            </div>
          </div><!-- Form Row Ends -->
        </div>
    </section>
  </section>
</div><!-- Content OUter Ends -->