<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{TIME_CODE_CREATE_LABEL['helpMessage']}}">{{TIME_CODE_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{TIME_CODE_SEARCH['helpMessage']}}" placeholder="{{TIME_CODE_SEARCH['fieldValue']}}"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>

        <div class="algo-table algo-table-department" width="70% !important;">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="LocationGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                           [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                           [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                    [checkboxable]="true">
              </ngx-datatable-column>

               <!-- Data Grid Columns -->
               <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                    </div>
            </div>
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{TIME_CODE_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
			  
              
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>{{TIME_CODE_TABLEVIEW['fieldValue']}}</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option *ngFor="let tv of tableViews" [value]="tv.id">{{tv.name}}</option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{TIME_CODE_DELETE['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{TIME_CODE_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{TIME_CODE_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && CreateTimeCode(f, $event)" #f="ngForm" novalidate>

                <!-- TIME CODE field -->
                <div class="form-group">

                  <div *ngIf="isUnderUpdate; then update else create"></div>
                  <ng-template #update>
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="timeCodeId">{{TIME_CODE_ID['fieldValue']}}</label>
                      <span *ngIf="TIME_CODE_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-8">
                          <input type="text" [ngClass]="'form-control fm-txt'" name="timeCodeId" value="{{timeCodeIdvalue}}"
                          title="{{TIME_CODE_ID['fieldValue']}}"  [readonly]="TIME_CODE_ID['readAccess']" maxlength="15" />
                          
                        </div>
                        <div class="col-md-4">
                          <div class="col-md-1">
                            <input type="checkbox" (click)="checkTimeCodeForm($event)" name="inActive" [(ngModel)]="model.inActive" #inActive="ngModel">
                          </div>
                          <div class="col-md-3" style="padding-top: 9px">
                            {{TIME_CODE_INACTIVE['fieldValue']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </ng-template>


                  <ng-template #create>
                  <div [ngClass]="{ 'has-error': f.submitted && !timeCodeId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label for="timeCodeId" class="control-label">{{TIME_CODE_ID['fieldValue']}}</label>
                      <span *ngIf="TIME_CODE_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-8">
                          <input type="text" [ngClass]="'form-control fm-txt'" name="timeCodeId" [(ngModel)]="model.timeCodeId" #timeCodeId="ngModel"
                            title="{{TIME_CODE_ID['fieldValue']}}"  class="search-id" [required]="TIME_CODE_ID['isMandatory']" maxlength="15"
                                 [typeahead]="timecodeIdList" (typeaheadLoading)="changeTypeaheadLoading($event)" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="timeCodeId"/>
                          <div *ngIf="f.submitted && timeCodeId.invalid">
                          <div [hidden]="!timeCodeId.errors.required">
                            {{TIME_CODE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!timeCodeId.errors?.maxlength" *ngIf="TIME_CODE_ID['listDtoFieldValidationMessage'][1]">
                            {{TIME_CODE_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="col-md-1">
                            <input type="checkbox"  (click)="checkTimeCodeForm($event)" name="inActive" [(ngModel)]="model.inActive" #inActive="ngModel">
                          </div>
                          <div class="col-md-3" style="padding-top: 9px">
                            {{TIME_CODE_INACTIVE['fieldValue']}}
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  </ng-template>

                </div>

                <!-- DESCRIPTION Field -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !desc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="desc">{{TIME_CODE_DECRIPTION['fieldValue']}}</label>
                      <span *ngIf="TIME_CODE_DECRIPTION['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model.desc"
                             #desc="ngModel" title="{{TIME_CODE_DECRIPTION['fieldValue']}}"
                             [required]="TIME_CODE_DECRIPTION['isMandatory']"  maxlength="31" />
                      <div *ngIf="f.submitted && desc.invalid">
                        <div [hidden]="!desc.errors.required">
                          {{TIME_CODE_DECRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!desc.errors?.maxlength" *ngIf="TIME_CODE_DECRIPTION['listDtoFieldValidationMessage'][1]">
                          {{TIME_CODE_DECRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Arabic description -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !arbicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="arbicDesc">{{TIME_CODE_ARABIC_DESCRIPTION['fieldValue']}}</label>
                      <span *ngIf="TIME_CODE_ARABIC_DESCRIPTION['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8 arabic-mode">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="arbicDesc" [(ngModel)]="model.arbicDesc"
                             #arbicDesc="ngModel" title="{{TIME_CODE_ARABIC_DESCRIPTION['fieldValue']}}"
                             maxlength="61" [required]="TIME_CODE_ARABIC_DESCRIPTION['isMandatory']"  />
                      <div *ngIf="f.submitted && arbicDesc.invalid">
                        <div [hidden]="!arbicDesc.errors.required">
                          {{TIME_CODE_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!arbicDesc.errors?.maxlength" *ngIf="TIME_CODE_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                          {{TIME_CODE_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- ACCRUAL PERIOD -->
               <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !accrualPeriod.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="accrualPeriod">{{TIME_CODE_ACCRUAL_PERIOD['fieldValue']}}</label>
                      <span *ngIf="TIME_CODE_ACCRUAL_PERIOD['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="accrualPeriod" [(ngModel)]="model.accrualPeriod" #accrualPeriod="ngModel" title="{{TIME_CODE_ACCRUAL_PERIOD['fieldValue']}}" 
                      [required]="TIME_CODE_ACCRUAL_PERIOD['isMandatory']" >
                        <option value="" selected>-- Select {{TIME_CODE_ACCRUAL_PERIOD['fieldValue']}} --</option>
                        <option value="1">{{frequencyArray[1-1]}}</option>
                        <option value="2">{{frequencyArray[2-1]}}</option>
                        <option value="3">{{frequencyArray[3-1]}}</option>
                        <option value="4">{{frequencyArray[4-1]}}</option>
                        <option value="5">{{frequencyArray[5-1]}}</option>
                        <option value="6">{{frequencyArray[6-1]}}</option>
                        <option value="7">{{frequencyArray[7-1]}}</option>
                      </select>
                      <div *ngIf="f.submitted && accrualPeriod.invalid">
                        <div [hidden]="!accrualPeriod.errors?.required">
                            {{TIME_CODE_ACCRUAL_PERIOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- TIME TYPE -->
				        <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !timeType.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="timeType">{{TIME_CODE_TIME_TYPE['fieldValue']}}</label>
                      <span *ngIf="TIME_CODE_TIME_TYPE['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="timeType" [(ngModel)]="model.timeType" #timeType="ngModel" title="{{TIME_CODE_TIME_TYPE['fieldValue']}}" 
                      [required]="TIME_CODE_TIME_TYPE['isMandatory']" >
                        <option value="" selected>-- Select {{TIME_CODE_TIME_TYPE['fieldValue']}} --</option>
                        <option value="1">{{timeTypeArray[1-1]}}</option>
                        <option value="2">{{timeTypeArray[2-1]}}</option>
                        <option value="3">{{timeTypeArray[3-1]}}</option>
                        <option value="4">{{timeTypeArray[4-1]}}</option>
                        <option value="5">{{timeTypeArray[5-1]}}</option>
                        <option value="6">{{timeTypeArray[6-1]}}</option>
                      </select>
                      <div *ngIf="f.submitted && timeType.invalid">
                        <div [hidden]="!timeType.errors?.required">
                            {{TIME_CODE_TIME_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- DEFAULT ACCRUAL SCHEDULE -->
                <div class="form-group">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="scheduleId">{{TIME_CODE_ACCRUAL_SCHEDULE['fieldValue']}}</label>
                      <span *ngIf="TIME_CODE_ACCRUAL_SCHEDULE['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">                   
                      <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="scheduleId" [(ngModel)]="model.schedulePrimaryId" #scheduleId="ngModel"  title="{{TIME_CODE_ACCRUAL_SCHEDULE['fieldValue']}}"  >
                        <option value="0" >-- Select {{TIME_CODE_ACCRUAL_SCHEDULE['fieldValue']}} --</option>
                        <option *ngFor="let schedules of accrualScheduleList" value="{{schedules.id}}"  >{{schedules.desc}}</option>
                      </select>
                    </div>
                  </div>
                </div>
				
				        <!-- LINKED PAY CODE -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && payCodeId.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="payCodeId">{{TIME_CODE_LINKED_PAY_CODE['fieldValue']}}</label>
                      <span *ngIf="TIME_CODE_LINKED_PAY_CODE['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">                   
                      <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="payCodeId" [(ngModel)]="model.payPrimaryId" #payCodeId="ngModel" title="{{TIME_CODE_LINKED_PAY_CODE['fieldValue']}}" 
                      [required]="TIME_CODE_LINKED_PAY_CODE['isMandatory']" >
                        <option value="0" selected="selected">-- Select {{TIME_CODE_LINKED_PAY_CODE['fieldValue']}} --</option>
                        <option *ngFor="let paycode of linkedPayCodeList" value="{{paycode.id}}" >{{paycode.payCodeId}}</option>
                      </select>
                      <div *ngIf="f.submitted && payCodeId.value==0">
                        <div [hidden]="!payCodeId.value==0">
                          {{TIME_CODE_LINKED_PAY_CODE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!payCodeId.errors?.maxlength" *ngIf="TIME_CODE_LINKED_PAY_CODE['listDtoFieldValidationMessage'][1]">
                          {{TIME_CODE_LINKED_PAY_CODE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
				
                <!-- Buttons -->
                <div [ngClass]="'button-row'">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{TIME_CODE_UPDATE['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{TIME_CODE_SAVE['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{TIME_CODE_CLEAR['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{TIME_CODE_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                    </div>
                  </div>
                </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
