  <!-- screen header -->
  <div class="page-header">
        <div class="page-header-title">
          <span><h3>{{screenName}}</h3></span>
        </div>
        <!-- <div class="page-header-breadcrumb">
            <i class="ti-settings"></i>
        </div> -->
      </div>
<!-- screen header -->

<div class="content-wrapper">
  <section class="content">
      <!-- section Heading Starts -->
      <!-- <div class="section-heading">
          <h2>{{moduleName}}</h2>
      </div> -->
      <!-- section Heading Ends -->
      <section class="inner-content">
          <!-- content outer Starts -->
          <div class="content-outer com-form">
              <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                  {{messageText}}
              </div>
              <!-- content heading Starts -->
              <!-- <div class="content-heading">
                  <h3> {{screenName}}</h3>
              </div> -->
              <!-- content heading Ends -->
              <!--adding form starts-->
              <app-card [title]="">
                <form (ngSubmit)="!hasMsg && f.form.valid && CreateUser(f)" (keydown.enter)="!hasMsg && f.form.valid && CreateUser(f)" #f="ngForm" novalidate>
                  
                    <div [ngClass]="'row'">
                        <div *ngIf="model.userId" [ngClass]="'form-row'" hidden="hidden">
                            <div [ngClass]="{ 'has-error': f.submitted && !userId.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                                <label for="userId">{{defaultFormValues[19]['fieldValue']}}</label>
                                <input type="text"   name="userId"
                                 [(ngModel)]="model.userId" #userId="ngModel" title="{{defaultFormValues[19]['helpMessage']}}"
                                     myAutofocus  readonly />
                            </div>
                        </div>
                        <div [ngClass]="'form-row'">
                          
  
                            <!-- <div class="form-group row"> -->
                           <div class="col-sm-4">
                               <div class="form-group row">
                                  <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !firstName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> 


                              <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6"  *ngIf="defaultFormValues[0]['readAccess']" 
                                           [ngClass]="{ 'has-error': f.submitted && !firstName.valid,'col-md-4 col-sm-6 col-xs-12':true }">       -->
                                  <input class="floating-input" type="text"   placeholder=" "  name="firstName" [(ngModel)]="model.firstName" 
                                  #firstName="ngModel" onlyAlphabet="true"   
                                  (keydown)="onlyAlphabets($event)" tabindex="1"
                                  title="{{defaultFormValues[0]['helpMessage']}}"
                                   maxlength="15"   required />
                                   <div *ngIf="f.submitted && firstName.invalid">
                                      <div class='error-msg' *ngIf="firstName.errors.required">
                                          {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                      </div>
                                      <div class='error-msg' *ngIf="firstName.errors.maxlength">
                                          {{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                      </div>
                                  </div>
                                  <span class="highlight"></span>
                                  <label>{{defaultFormValues[0]['fieldValue']}}</label>
                                </div>
                              
                          </div>
                          </div>
  
                         
                          <div class="col-sm-4">
                                <div class="form-group row">
                                   <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !middleName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> 
                            <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6"  [ngClass]="{ 'has-error': f.submitted && !middleName.valid,'col-md-4 col-sm-6 col-xs-12':true }">       -->
                              <input class="floating-input" type="text"   placeholder=" "  onlyAlphabet="true" 
                              (keydown)="onlyAlphabets($event)"  name="middleName" [(ngModel)]="model.middleName" #middleName="ngModel" title="{{defaultFormValues[1]['helpMessage']}}"
                                   maxlength="15" tabindex="2"/>
                                   <div *ngIf="f.submitted && middleName.invalid">
                                  
                                      <div class='error-msg' *ngIf="middleName.errors.maxlength">
                                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                      </div>
                                  </div>
                              <span class="highlight"></span>
                              <label>{{defaultFormValues[1]['fieldValue']}}</label>
                            </div>
                                </div>
                                </div>
  

                                <div class="col-sm-4">
                                        <div class="form-group row">
                                           <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !lastName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">       
                               <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6"  [ngClass]="{ 'has-error': f.submitted && !lastName.valid,'col-md-4 col-sm-6 col-xs-12':true }">       -->
                              <input class="floating-input" type="text"   placeholder=" " onlyAlphabet="true"  
                              (keydown)="onlyAlphabets($event)"   name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" title="{{defaultFormValues[2]['helpMessage']}}"
                                  required maxlength="15" tabindex="3"/>
                                  <div *ngIf="f.submitted && lastName.invalid">
                                      <div class='error-msg' *ngIf="lastName.errors.required">
                                           {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                       </div>
                                        <div class='error-msg' *ngIf="lastName.errors.maxlength">
                                           {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                       </div>
                                   </div>
                              <span class="highlight"></span>
                              <label for="lastName">{{defaultFormValues[2]['fieldValue']}}</label>
                            </div>
                        </div>
                                </div>
                    </div>

                        <div [ngClass]="'form-row arabic-mode'">

                                <div class="col-sm-4">
                                        <div class="form-group row">
                                           <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !secondaryFirstName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6"  [ngClass]="{ 'has-error': f.submitted && !secondaryFirstName.valid,'col-md-4 col-sm-6 col-xs-12':true }">       -->
                              <input class="floating-input" type="text"   placeholder=" " onlyAlphabet="true"  
                              (keydown)="onlyAlphabets($event)"  name="secondaryFirstName" [(ngModel)]="model.secondaryFirstName"
                               #secondaryFirstName="ngModel" title="{{defaultFormValues[3]['helpMessage']}}"
                                     required maxlength="15" tabindex="4"/>
                                     <div *ngIf="f.submitted && secondaryFirstName.invalid">
                                          <div class='error-msg' *ngIf="secondaryFirstName.errors.required">
                                              {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                          </div>
                                          <div class='error-msg' *ngIf="secondaryFirstName.errors.maxlength">
                                              {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                          </div>
                                      </div>
                              <span class="highlight"></span>
                              <label for="secondaryFirstName">{{defaultFormValues[3]['fieldValue']}}</label>
                            </div>
                          </div>
                                </div>   
  
  


                                <div class="col-sm-4">
                                        <div class="form-group row">
                                           <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !secondaryMiddleName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                           <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6"  [ngClass]="{ 'has-error': f.submitted && !secondaryMiddleName.valid,'col-md-4 col-sm-6 col-xs-12':true }">       -->
                                  <input class="floating-input" type="text"   placeholder=" " onlyAlphabet="true"  
                                  (keydown)="onlyAlphabets($event)"   name="secondaryMiddleName" [(ngModel)]="model.secondaryMiddleName" #secondaryMiddleName="ngModel" title="{{defaultFormValues[4]['helpMessage']}}"
                                        maxlength="15" tabindex="5"/>
                                        <div *ngIf="f.submitted && secondaryMiddleName.invalid">
                              
                                              <div class='error-msg' *ngIf="secondaryMiddleName.errors.maxlength">
                                                  {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                              </div>
                                          </div>
                                  <span class="highlight"></span>
                                  <label for="secondaryMiddleName">{{defaultFormValues[4]['fieldValue']}}</label>
                                </div>
                           </div>
                           </div>
  
                            <!-- <div [ngClass]="{ 'has-error': f.submitted && !secondaryLastName.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                               <label for="secondaryLastName">{{defaultFormValues[5]['fieldValue']}}</label>
                                <input type="text"   
                                onlyAlphabet="true"    
                                (keydown)="onlyAlphabets($event)"  name="secondaryLastName" [(ngModel)]="model.secondaryLastName" #secondaryLastName="ngModel" title="{{defaultFormValues[5]['helpMessage']}}"
                                       required maxlength="15"/>
                                <div *ngIf="f.submitted && secondaryLastName.invalid">
                                    <div class='error-msg' *ngIf="secondaryLastName.errors.required">
                                        {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="secondaryLastName.errors.maxlength">
                                        {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-4">
                                    <div class="form-group row">
                                       <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !secondaryLastName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6"  [ngClass]="{ 'has-error': f.submitted && !secondaryLastName.valid,'col-md-4 col-sm-6 col-xs-12':true }">       -->
                                  <input class="floating-input" type="text"   placeholder=" "   
                                  onlyAlphabet="true"    tabindex="6"
                                  (keydown)="onlyAlphabets($event)"  name="secondaryLastName" [(ngModel)]="model.secondaryLastName" #secondaryLastName="ngModel" title="{{defaultFormValues[5]['helpMessage']}}"
                                         required maxlength="15"/>
                                         <div *ngIf="f.submitted && secondaryLastName.invalid">
                                              <div class='error-msg' *ngIf="secondaryLastName.errors.required">
                                                  {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                              </div>
                                              <div class='error-msg' *ngIf="secondaryLastName.errors.maxlength">
                                                  {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                              </div>
                                          </div>
                                  <span class="highlight"></span>
                                  <label for="secondaryLastName">{{defaultFormValues[5]['fieldValue']}}</label>
                                </div>
                          </div>
                        </div>  
  
                        </div>
                        <div [ngClass]="'form-row'">
  
                            <!-- <div [ngClass]="{'has-error': f.submitted && !email.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="email">{{defaultFormValues[6]['fieldValue']}}</label>
                                <input type="email"   name="email" (blur)="validateEmail()" [(ngModel)]="model.email" #email="ngModel" title="{{defaultFormValues[6]['helpMessage']}}"
                                   required maxlength="50" pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" [readonly]="iSEmailReadonly"/>
                                <div *ngIf="f.submitted && email.invalid">
                                    <div class='error-msg' *ngIf="email.errors.required">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                     <div class='error-msg' *ngIf="email.errors.maxlength">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="email.errors.pattern">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                    </div>
                                </div>
                            </div> -->
  
                            <div class="col-sm-6">
                                    <div class="form-group row">
                                       <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !email.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6"  [ngClass]="{'has-error': f.submitted && !email.valid,'col-md-6 col-sm-6 col-xs-12':true}">       -->
                                  <input class="floating-input" type="text"   placeholder=" "   name="email" (blur)="validateEmail()" [(ngModel)]="model.email" #email="ngModel" title="{{defaultFormValues[6]['helpMessage']}}"
                                  required maxlength="50" pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" [readonly]="iSEmailReadonly"
                                  tabindex="7"/>
                                  <div *ngIf="f.submitted && email.invalid">
                                          <div class='error-msg' *ngIf="email.errors.required">
                                              {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                          </div>
                                           <div class='error-msg' *ngIf="email.errors.maxlength">
                                              {{defaultFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                          </div>
                                          <div class='error-msg' *ngIf="email.errors.pattern">
                                              {{defaultFormValues[6]['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                          </div>
                                      </div>
                                  <span class="highlight"></span>
                                  <label for="email">{{defaultFormValues[6]['fieldValue']}}</label>
                                </div>
                             </div>
                            </div>
  
  
                            <!-- <div [ngClass]="{'has-error': f.submitted && !address.valid,'col-sm-6 col-md-6 col-xs-12':true}">
                                <label for="address">{{defaultFormValues[7]['fieldValue']}}</label>
                                <textarea   name="address" [(ngModel)]="model.address" #address="ngModel" title="{{defaultFormValues[7]['helpMessage']}}"
                                 required maxlength="150"></textarea>
                                <div *ngIf="f.submitted && address.invalid">
                                            <div class='error-msg' *ngIf="address.errors.required">
                                        {{defaultFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                              <div class='error-msg' *ngIf="address.errors.maxlength">
                                        {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div> -->
  
                            <div class="col-sm-6">
                                    <div class="form-group row">
                                       <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !address.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">   
                            <!-- <div class="floating-label col-md-6 col-sm-6 col-xs-12"  [ngClass]="{'has-error': f.submitted && !address.valid,'col-sm-6 col-md-6 col-xs-12':true}"> -->
                                  <textarea class="floating-textarea"  name="address" [(ngModel)]="model.address" #address="ngModel" title="{{defaultFormValues[7]['helpMessage']}}"
                                  required maxlength="150" tabindex="8"></textarea>
                                  
                                  <div *ngIf="f.submitted && address.invalid">
                                          <div class='error-msg' *ngIf="address.errors.required">
                                      {{defaultFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                  </div>
                                            <div class='error-msg' *ngIf="address.errors.maxlength">
                                      {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                  </div>
                              </div>
                                  <span class="highlight"></span>
                                  <label for="address">{{defaultFormValues[7]['fieldValue']}}</label>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div [ngClass]="'form-row'">
  
                            <!-- <div [ngClass]="{ 'has-error': f.submitted && !countryId.valid, 'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="countryId">{{defaultFormValues[8]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                    <select [ngClass]="'form-control '" name="countryId" [(ngModel)]="model.countryId" #countryId="ngModel" (change)="getCountryData($event)"
                                            title="{{defaultFormValues[8]['helpMessage']}}" required>
                                        <option *ngFor="let country of countryOptions" [value]="country.countryId">
                                            {{country.countryName}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="f.submitted && countryId.invalid">
                                    <div class='error-msg' *ngIf="stateId.errors.required">
                                        {{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div> -->
                         
                            <div class="col-sm-6">
                                    <div class="form-group row">
                                       <div class="floating-label col-md-12" [ngClass]="{ 'has-error': f.submitted && !countryId.valid, 'col-md-6 col-sm-6 col-xs-12':true }">  
                            <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6" [ngClass]="{ 'has-error': f.submitted && !countryId.valid, 'col-md-6 col-sm-6 col-xs-12':true }">       -->
                                 
                                        <input auto-complete [source]="countryOptions" class="floating-input" list-formatter="countryName" style="overflow: auto;overflow-y: hidden;" 
                                         [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}" name="countryId"  #countryId="ngModel"
                                           (valueChanged)="getCountryData($event)" placeholder="" on-focus="onAutocompleteFocus('countryLabel',selectedCountry);countryFocusIn(countryId)" on-focusout="onAutocompleteFocusOut('countryLabel',selectedCountry)"
                                           tabindex="9" required #filterInput/>
                                           <!-- on-focus="onAutocompleteFocus('countryLabel',selectedCountry);countryFocusIn(countryId)" on-focusout="onAutocompleteFocusOut('countryLabel',selectedCountry);countryFocusout(countryId)" -->
                                           <!-- <select [ngClass]="'form-control '" name="countryId" [(ngModel)]="model.countryId" #countryId="ngModel" (change)="getCountryData($event)"
                                                  title="{{defaultFormValues[8]['helpMessage']}}" required>
                                              <option *ngFor="let country of countryOptions" [value]="country.countryId">
                                                  {{country.countryName}}
                                              </option>
                                          </select> -->

                                          <!-- <div class="arrow-down" onclick="this.classList.toggle('active')">
                                        </div> -->


                                          <!-- <div class="col-xs-6"> -->
<!--                                              
                                          <select class="form-control" ng-model="selectedCountry"   
                                           placeholder=""  *ngFor="let country of countryOptions" ng-model= required></select> -->
                                        <!-- </div> -->
                                      <div *ngIf="f.submitted && countryId.invalid">
                                              <div class='error-msg' *ngIf="stateId.errors.required">
                                                  {{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                              </div>
                                          </div>
                                  <span class="highlight"></span>
                                  <label id="countryLabel">{{defaultFormValues[8]['fieldValue']}}</label>
                                  <input type="hidden"/><a class="search-icon">
                                  <!-- <i class="fa fa-search"></i> -->
                                  <!-- <i class="ti-angle-down"></i> -->
                                  <i (click)="toggle()" [ngClass]="{'ti-angle-down': !isCountryOpen, 'ti-angle-up':isCountryOpen }"></i>
                                  </a>
                                </div>
                                </div>
                                </div>
  
                         
                                <!-- <div [ngClass]="'short-text'">
                                    <label for="countryCode">{{defaultFormValues[9]['fieldValue']}}</label>
                                    <input type="text"   name="countryCode" [(ngModel)]="model.countryCode" #countryCode="ngModel"
                                           title="{{defaultFormValues[9]['helpMessage']}}" readonly />
                                </div>
                                <div [ngClass]="'right-fm-text'">
                                    <label for="phone">{{defaultFormValues[10]['fieldValue']}}</label>
                                    <input type="text"   name="phone" 
                                    [(ngModel)]="model.phone" #phone="ngModel"
                                     maxlength="10" minlength="10"
                                           title="{{defaultFormValues[10]['helpMessage']}}"  
                                           (keydown)="onlyDecimalNumberKey($event)"  required />
                                </div>
                                <div *ngIf="f.submitted && phone.invalid">
                                     <div class='error-msg' style="margin-left:207px" *ngIf="phone.errors.required">
                                        {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                   <div class='error-msg' style="margin-left:207px"  *ngIf="phone.errors.maxlength">
                                        {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div> -->
  
  
                                <div class="col-sm-6">
                                        <div class="form-group row">
                                           <div class="floating-label col-md-12" [ngClass]="{ 'has-error': f.submitted && !phone.valid, 'col-md-6 col-sm-12 col-xs-12':true }"> 
                                <!-- <div class="col-md-6 col-sm-6 col-xs-12"  [ngClass]="{ 'has-error': f.submitted && !phone.valid, 'col-md-6 col-sm-12 col-xs-12':true }">  -->
  
  
                                      <div class="floating-label col-sm-3" [ngClass]="'short-text'">      
                                              <input class="floating-input" type="text"   placeholder=" "    name="countryCode" [(ngModel)]="model.countryCode" #countryCode="ngModel"
                                                  title="{{defaultFormValues[9]['helpMessage']}}" readonly tabindex="10" />
                                              <span class="highlight"></span>
                                              <label for="countryCode">{{defaultFormValues[9]['fieldValue']}}</label>
                                            </div>
                                       
                                            <div class="floating-label col-sm-8" [ngClass]="'right-fm-text'">      
                                                  <input class="floating-input" type="text"   placeholder=" "    name="phone" 
                                                  [(ngModel)]="model.phone" #phone="ngModel"
                                                   maxlength="10" minlength="10"  tabindex="11"
                                                         title="{{defaultFormValues[10]['helpMessage']}}"  
                                                         (keydown)="onlyDecimalNumberKey($event)"  required  />
                                                         <div *ngIf="f.submitted && phone.invalid">
                                                              <div class='error-msg' style="margin-left:207px" *ngIf="phone.errors.required">
                                                                 {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                             </div>
                                                            <div class='error-msg' style="margin-left:207px"  *ngIf="phone.errors.maxlength">
                                                                 {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                             </div>
                                                         </div>
                                                <span class="highlight"></span>
                                                <label for="phone">{{defaultFormValues[10]['fieldValue']}}</label>
                                              </div>
                                    </div>
                              </div>
                        </div>
                        </div>
  
  
                        <div [ngClass]="'form-row'">
  
                            <!-- <div [ngClass]="{'has-error': f.submitted && !userGroupId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="userGroupId">{{defaultFormValues[11]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                    <select [ngClass]="'form-control '" name="userGroupId" [(ngModel)]="model.userGroupId" #userGroupId="ngModel" title="{{defaultFormValues[11]['helpMessage']}}" required>
                                        <option *ngFor="let userGroup of userGroupOptions" [value]="userGroup.id">
                                            {{userGroup.groupName}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="f.submitted && userGroupId.invalid">
                                     <div class='error-msg' *ngIf="userGroupId.errors.required">
                                        {{defaultFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                  </div>
                            </div> -->
  
                            <div class="col-sm-6">
                                    <div class="form-group row">
                                       <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !userGroupId.valid,'col-md-6 col-sm-6 col-xs-12':true}"> 
                            <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6" [ngClass]="{'has-error': f.submitted && !userGroupId.valid,'col-md-6 col-sm-6 col-xs-12':true}">       -->
                                 
                                    <input auto-complete  [source]="userGroupOptions" class="floating-input" list-formatter="groupName" [(ngModel)]="selectedUserGroup" [ngModelOptions]="{standalone: true}" 
                                    name="userGroupId"  #userGroupId="ngModel"
                                    title="{{defaultFormValues[7]['helpMessage']}}" required #filterInput3
                                     placeholder="" tabindex="12" on-focus="onAutocompleteFocus('userGroupLabel');userGroupFocusIn()" on-focusout="onAutocompleteFocusOut('userGroupLabel');userGroupFocusOut(userGroupId)" />
                                          <!-- <select [ngClass]="'form-control '" name="userGroupId" [(ngModel)]="model.userGroupId" #userGroupId="ngModel" title="{{defaultFormValues[11]['helpMessage']}}" required>
                                                  <option *ngFor="let userGroup of userGroupOptions" [value]="userGroup.id">
                                                      {{userGroup.groupName}}
                                                  </option>
                                              </select> -->
                                     
                                      <div *ngIf="f.submitted && userGroupId.invalid">
                                              <div class='error-msg' *ngIf="userGroupId.errors.required">
                                                 {{defaultFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                             </div>
                                           </div>
                                  <span class="highlight"></span>
                                  <label for="userGroupId"  id="userGroupLabel">{{defaultFormValues[11]['fieldValue']}}</label>
                                  <input type="hidden"/><span class="search-icon">
                                        <!-- <i class="ti-angle-down"></i> -->
                                        <i (click)="toggle3()" [ngClass]="{'ti-angle-down': !isUserGroupOpen, 'ti-angle-up':isUserGroupOpen }"></i>
                                        </span>
                                </div>
                               </div>
                               </div> 
  
  
  
  
                             <!-- <div [ngClass]="{'has-error': f.submitted && SelectedCompany.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="companyIds">{{defaultFormValues[12]['fieldValue']}}</label>
                                 <angular4-multiselect [data]="ddl_MultiSelectCompany" [(ngModel)]="SelectedCompany" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlCompanySetting" 
                                    (onSelect)="onItemSelect($event)" 
                                    (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
                                <div *ngIf="f.submitted && SelectedCompany.length == 0">
                                    <div class='error-msg'>
                                        {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-6">
                                    <div class="form-group row">
                                       <!-- <div class="floating-label col-md-12 multi-select create-user-sel-company" [ngClass]="{'has-error': f.submitted && SelectedCompany.length==0,'col-md-6 col-sm-6 col-xs-12':true}">  -->
                                      <div class="floating-label col-md-12  multi-select create-user-sel-company" [ngClass]="{'has-error': f.submitted && SelectedCompany.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
                            <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6 multi-select create-user-sel-company" [ngClass]="{'has-error': f.submitted && SelectedCompany.length==0,'col-md-6 col-sm-6 col-xs-12':true}">    oc   -->
                                  <angular4-multiselect [data]="ddl_MultiSelectCompany"  [(ngModel)]="SelectedCompany" [ngModelOptions]="{standalone: true}"
                                  on-focusin="onAutocompleteFocus('companyLabel')"
                                  [settings]="ddlCompanySetting" 
                                  (onSelect)="onItemSelect($event)"  tabindex="13"
                                  (onDeSelect)="OnItemDeSelect($event)"
                                  (onSelectAll)="onSelectAll($event)"
                                  (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
                                  <div *ngIf="f.submitted && SelectedCompany.length == 0">
                                          <div class='error-msg'>
                                              {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                          </div>
                                      </div>
                                  <span class="highlight"></span>
                                  <label id="companyLabel" for="companyIds">{{defaultFormValues[12]['fieldValue']}}</label>
                                </div>
                                </div>
                                </div>
  
  
  
  
                            <!--<div [ngClass]="{'has-error': f.submitted && !companyIds.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="companyIds">{{defaultFormValues[12]['fieldValue']}}</label>
                                  <div class="select-outer multiselect-dd">
                                    <ss-multiselect-dropdown  [options]="companyOptions" [settings]="ddSettings" [texts]="ddTexts" [(ngModel)]="model.companyIds" 
                                        #companyIds="ngModel" name="companyIds" (ngModelChange)="onChange($event)"  title="{{defaultFormValues[12]['helpMessage']}}" required>
                                    </ss-multiselect-dropdown>
                                </div>
                                <div *ngIf="f.submitted && companyIds.invalid">
                                    <div class='error-msg' *ngIf="companyIds.errors.required">
                                        {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <div [ngClass]="'form-row'">
                            <!-- <div [ngClass]="{'has-error': f.submitted && !stateId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="stateId">{{defaultFormValues[15]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                    <select [ngClass]="'form-control '" name="stateId" [(ngModel)]="model.stateId" #stateId="ngModel" (change)="getStateData($event)"
                                        title="{{defaultFormValues[15]['helpMessage']}}" required>
                                    <option *ngFor="let state of stateOptions" [value]="state.stateId">
                                        {{state.stateName}}
                                    </option>
                                    </select>
                                </div>
                                <div *ngIf="f.submitted && stateId.invalid">
                                       <div class='error-msg' *ngIf="stateId.errors.required">
                                        {{defaultFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div> -->
  
                            <div class="col-sm-6">
                                    <div class="form-group row">
                                       <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !stateId.valid,'col-md-6 col-sm-6 col-xs-12':true}"> 
                            <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6" [ngClass]="{'has-error': f.submitted && !stateId.valid,'col-md-6 col-sm-6 col-xs-12':true}">       -->
                                 
                                          <input auto-complete  [source]="stateOptions" class="floating-input" list-formatter="stateName" [(ngModel)]="selectedState" [ngModelOptions]="{standalone: true}" name="stateId"  #stateId="ngModel" (valueChanged)="getStateData($event)"
                                          title="{{defaultFormValues[15]['helpMessage']}}" required #filterInput1
                                            placeholder="" tabindex="14" on-focus="onAutocompleteFocus('stateLabel');stateFocusIn(stateId)" on-focusout="onAutocompleteFocusOut('stateLabel')"
                                            />
                                          <!-- <select [ngClass]="'form-control '" name="stateId" [(ngModel)]="model.stateId" #stateId="ngModel" (change)="getStateData($event)"
                                          title="{{defaultFormValues[15]['helpMessage']}}" required>
                                      <option *ngFor="let state of stateOptions" [value]="state.stateId">
                                          {{state.stateName}}
                                      </option>
                                      </select> -->
                                   
                                      <div *ngIf="f.submitted && stateId.invalid">
                                              <div class='error-msg' *ngIf="stateId.errors.required">
                                               {{defaultFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                           </div>
                                       </div>
                                  <span class="highlight"></span>
                                  <label id="stateLabel">{{defaultFormValues[15]['fieldValue']}}</label>
                                                  <input type="hidden"/><a  class="search-icon">
                                                  <!-- <i class="fa fa-search"></i> -->
                                                  <i (click)="toggle1()" [ngClass]="{'ti-angle-down': !isStateOpen, 'ti-angle-up':isStateOpen }"></i>
                                                </a>
                                                <!--delete below code-->
                                                
                                </div>
                                </div>
                                </div>
  
  
  
  <!-- 
                            <div [ngClass]="{'has-error': f.submitted && !cityId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label for="cityId">{{defaultFormValues[16]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                    <select [ngClass]="'form-control '" name="cityId" [(ngModel)]="model.cityId" #cityId="ngModel" title="{{defaultFormValues[16]['helpMessage']}}"
                                        required>
                                    <option *ngFor="let city of cityOptions" [value]="city.cityId">
                                        {{city.cityName}}
                                    </option>
                                    </select>
                                </div>
                                <div *ngIf="f.submitted && cityId.invalid">
                                   <div class='error-msg' *ngIf="cityId.errors.required">
                                        {{defaultFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-sm-6">
                                    <div class="form-group row">
                                       <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !cityId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> 
  
                            <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6" [ngClass]="{'has-error': f.submitted && !cityId.valid,'col-md-6 col-sm-6 col-xs-12':true}">       -->
                              
                              <input auto-complete [disabled]="!defaultFormValues[16]['writeAccess']"  [source]="cityOptions" class="floating-input" list-formatter="cityName" name="cityId" [(ngModel)]="selectedCity" #cityId="ngModel" (valueChanged)="getCityData($event)"
                              title="{{defaultFormValues[16]['helpMessage']}}" required #filterInput2
                               placeholder="" tabindex="15" on-focus="onAutocompleteFocus('cityLabel');cityFocusIn(cityId)" on-focusout="onAutocompleteFocusOut('cityLabel')" 
                                />
                                          <!-- <select [ngClass]="'form-control '" name="cityId" [(ngModel)]="model.cityId" #cityId="ngModel" title="{{defaultFormValues[16]['helpMessage']}}"
                                          required>
                                      <option *ngFor="let city of cityOptions" [value]="city.cityId">
                                          {{city.cityName}}
                                      </option>
                                      </select> -->
                                    
                                      <div *ngIf="f.submitted && cityId.invalid">
                                              <div class='error-msg' *ngIf="cityId.errors.required">
                                                   {{defaultFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                               </div>
                                           </div>
                                  <span class="highlight"></span>
                                  <label for="cityId" id="cityLabel">{{defaultFormValues[16]['fieldValue']}}</label>
                                  <input type="hidden"/><span class="search-icon">
                                        <!-- <i class="fa fa-search"></i> -->
                                        <i (click)="toggle2()" [ngClass]="{'ti-angle-down': !isCityOpen, 'ti-angle-up':isCityOpen }"></i>
                                        </span>
                              </div>
  
                             </div>
                          </div>
  
                        </div>
                        <div [ngClass]="'form-row'">
  
                            <!-- <div [ngClass]="{ 'has-error': f.submitted && !zipCode.valid, 'col-md-6 col-sm-6 col-xs-12':true  }">
                                <label for="zipCode">{{defaultFormValues[17]['fieldValue']}}</label>
                                <input type="text"   name="zipCode" OnlyNumber="true"
                                (keydown)="onlyDecimalNumberKey($event)"    [(ngModel)]="model.zipCode" #zipCode="ngModel" title="{{defaultFormValues[17]['helpMessage']}}"
                                       required />
                                <div *ngIf="f.submitted && zipCode.invalid">
                                   <div class='error-msg' *ngIf="zipCode.errors.required">
                                        {{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div> -->
  
                            <div class="col-sm-6">
                                    <div class="form-group row">
                                       <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !zipCode.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6" [ngClass]="{ 'has-error': f.submitted && !zipCode.valid, 'col-md-6 col-sm-6 col-xs-12':true  }">       -->
                                  <input class="floating-input" type="text" maxlength="10"   placeholder=" "   name="zipCode" OnlyNumber="true"
                                  (keydown)="onlyDecimalNumberKey($event)"    [(ngModel)]="model.zipCode" #zipCode="ngModel" title="{{defaultFormValues[17]['helpMessage']}}"
                                         required tabindex="16" />

                                         <!-- <input auto-complete [disabled]="!defaultFormValues[16]['writeAccess']"  [source]="cityOptions" class="floating-input"
                                          list-formatter="cityName" 
                                         name="cityId" [(ngModel)]="selectedCity" #cityId="ngModel" (valueChanged)="getCityData($event)"
                                         title="{{defaultFormValues[16]['helpMessage']}}" required
                                         max-num-list="5"  placeholder="" tabindex="7" on-focus="onAutocompleteFocus('cityLabel')" on-focusout="onAutocompleteFocusOut('cityLabel')" /> -->
                                      <div *ngIf="f.submitted && zipCode.invalid">
                                              <div class='error-msg' *ngIf="zipCode.errors.required">
                                                   {{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                               </div>
                                           </div>
                                  <span class="highlight"></span>
                                  <label for="zipCode" id="zipCodeLabel">{{defaultFormValues[17]['fieldValue']}}</label>
                              </div>
                            </div>
                            </div>
  
                            <!-- <div [ngClass]="{'has-error': f.submitted && !dob.valid,'col-md-6 col-sm-6 col-xs-12 dob-row':true}">
                                <label for="dob">{{defaultFormValues[18]['fieldValue']}}</label>
                                
                                <input type="text" [ngClass]="'form-control fm-txt dob'" ngx-mydatepicker
                                  [options]="myOptions"  #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"
                                    name="dob" [(ngModel)]="model.dob" #dob="ngModel"  title="{{defaultFormValues[18]['helpMessage']}}" required readonly/>
                           
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                  <i class="glyphicon glyphicon-remove"></i>
                                </button>
                                <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                  <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                             <div *ngIf="f.submitted && dob.invalid">
                                   <div class='error-msg' *ngIf="dob.errors.required">
                                        {{defaultFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
   -->
  
   <div class="col-sm-6">
        <div class="form-group row">
           <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !dob.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <!-- <div class="floating-label col-md-4 col-sm-4 col-xs-6" [ngClass]="{'has-error': f.submitted && !dob.valid,'col-md-6 col-sm-6 col-xs-12 dob-row':true}">       -->
                                  <input class="floating-input" type="text"   placeholder=" "   [ngClass]="'dob'" ngx-mydatepicker
                                  [options]="myOptions"  #dp="ngx-mydatepicker"  tabindex="17"
                                    name="dob" [(ngModel)]="selecteddob" #dob="ngModel"  title="{{defaultFormValues[18]['helpMessage']}}" required readonly/>
                                   
                                    <span id="datePickerbtn" class="input-group-btn pull-right">
                                          <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                            <i class="fa fa-remove"></i>
                                          </button>
                                          <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                            <i class="fa fa-calendar"></i>
                                          </button>
                                      </span>
                                       <div *ngIf="f.submitted && dob.invalid">
                                             <div class='error-msg' *ngIf="dob.errors.required">
                                                  {{defaultFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                              </div>
                                          </div>
                                  <span class="highlight"></span>
                                  <label for="dob">{{defaultFormValues[18]['fieldValue']}}</label>
                              </div>
                           </div>
                          </div> 
  
  <!-- 
                            <div class="floating-label col-md-4 col-sm-4 col-xs-6" [ngClass]="{ 'has-error': f.submitted && !zipCode.valid, 'col-md-6 col-sm-6 col-xs-12':true  }">      
                                  <input class="floating-input" type="text"   placeholder=" "   name="zipCode" OnlyNumber="true"
                                  (keydown)="onlyDecimalNumberKey($event)"    [(ngModel)]="model.zipCode" #zipCode="ngModel" title="{{defaultFormValues[17]['helpMessage']}}"
                                         required />
                                   
                                      <div *ngIf="f.submitted && zipCode.invalid">
                                              <div class='error-msg' *ngIf="zipCode.errors.required">
                                                   {{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                               </div>
                                           </div>
                                  <span class="highlight"></span>
                                  <label for="zipCode">{{defaultFormValues[17]['fieldValue']}}</label>
                              </div> -->
  
  
                        </div>
                        
                       <div [ngClass]="'button-row'">
                            <div [ngClass]="'col-sm-12'">
                                <button *ngIf="isUnderupdate" class="green-btn">{{updateField}}</button>
                                <button  *ngIf="!isUnderupdate" title="{{defaultFormValues[13]['fieldValue']}}" tabindex="19"
                                   [disabled]="LockScreen(defaultFormValues[13]['writeAccess'])" [ngClass]="'green-btn'">{{defaultFormValues[13]['fieldValue']}}</button>
                                <button title="{{defaultFormValues[14]['fieldValue']}}" [ngClass]="'blue-btn'" tabindex="20"
                                         [routerLink]="['/user']">{{defaultFormValues[14]['fieldValue']}}</button>
                               &nbsp; <input type="button" value="{{clearText}}" [ngClass]="'orange-btn'"  (click)="Clear(f)">
                            </div>
                        </div>
                    </div>
                </form>
              </app-card>
            
              <!--adding form ends-->
          </div>
          <!-- Content Outer Ends -->
      </section>
  </section>
</div>
<!--<footer class="main-footer">@ 2017 BIT. All rights reserved.
</footer>-->

