#datePicker .ngb-dp-day {
  width: 4.5rem !important;
  height: 2rem !important;
}
#datePicker .ngb-dp-weekday {
  width: 4.5rem !important;
  height: 2rem !important;
  line-height: 0.5rem !important;
  margin-left: 0rem !important;
}
#datePicker .ngb-dp-week-number {
  width: 4.5rem !important;
  height: 2rem !important;
  line-height: 1.5rem !important;
  margin-left: 0rem !important;
}
#datePicker .d-block {
  width: 28.5rem !important;
}
#datePicker .custom-day {
  width: 3.9rem !important;
}
#datePicker .d-flex {
  width: 28.5rem !important;
    margin: 2px 4px 4px 4px !important;
}
#datePicker .btn-link {
  font-weight: 0 !important;
  color: #95999c !important;
  border-radius: 0 !important;
  display: none !important;
}

/* app card */
.card {
  border-radius: 2px;
  border-top: 1px solid rgb(0, 97, 129);
  
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 30px;
}
.card .card-footer {
  background-color: #fff;
}
.card .card-header {
  background-color: transparent;
  padding: 15px 20px;
}
.card .card-header .card-header-left {
  display: inline-block;
}
.card .card-header .card-header-right {
  border-radius: 0 0 0 5px;
  right: 0;
  top: 0;
  background: #f6f7f7;
  display: inline-block;
  float: right;
  padding: 7px 0;
  position: absolute;
  display:none;
}
.card .card-header .card-header-right i {
  margin: 0 20px;
  cursor: pointer;
}
.card .card-header span {
  color: #9f9f9f;
  display: block;
  font-size: 13px;
  margin-top: 5px;
}
.card h5 {
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
}
.card .card-body table tr {
  padding-bottom: 20px;
}
.card .card-body .sub-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.card .card-body .custom-fieldstitle {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
  padding: 8px 8px;
  background-color: #f69321;
  color: #FFF;
}


.card .card-body code {
  background-color: #eee;
}
.card .card-body .dropdown-menu {
  top: 38px;
}
.card .card-body p {
  line-height: 25px;
}
.card .card-body a.dropdown-item {
  margin-bottom: 0;
  font-size: 14px;
  transition: 0.25s;
}
.card .card-body a.dropdown-item:active,
.card .card-body a.dropdown-item .active {
  background-color: #0073aa;
}
.card .card-body.remove-label i {
  margin: 0;
  padding: 0;
}
.card .card-body.button-list span.badge {
  margin-left: 5px;
}
.card .card-body .dropdown-menu {
  background-color: #fff;
  padding: 0;
}
.card .card-body .dropdown-menu .dropdown-divider {
  background-color: #ddd;
  margin: 3px 0;
}
.card .card-body .dropdown-menu > a {
  padding: 10px 16px;
  line-height: 1.429;
}
.card .card-body .dropdown-menu > li > a:focus,
.card .card-body .dropdown-menu > li > a:hover {
  background-color: rgba(202, 206, 209, 0.5);
}
.card .card-body .dropdown-menu > li:first-child > a:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.card .card-body .badge-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 12px 0;
}
.card .inner-card-body {
  border: 1px solid #ddd;
}
.card-header-text {
  margin-bottom: 0;
  font-size: 1rem;
  color: rgba(51, 51, 51, 0.85);
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}
.card-notification {
  position: relative;
}
.card-notification:before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #0073aa;
  border-radius: 50%;
  position: absolute;
}
.card-notification:after {
  content: "";
  background: #bdc3c7;
  height: 55px;
  width: 2px;
  position: absolute;
  top: 20px;
  left: 7px;
}
.card-notification .card-noti-conatin {
  margin-left: 30px;
}
.card-notification .card-noti-conatin span {
  color: #2ecc71;
}
.card-status p {
  display: inline-block;
}
.card-comment-icon .btn-primary,
.card-comment-icon .sweet-alert button.confirm,
.sweet-alert .card-comment-icon button.confirm,
.card-comment-icon .wizard > .actions a,
.wizard > .actions .card-comment-icon a {
  background-color: #0a847a;
  border: 3px solid #28bbb0;
}
.card-comment-icon .btn-warning {
  background-color: #c29d0b;
  border: 3px solid #f4d03f;
}
.card-comment-icon .btn-success {
  background-color: #25a25a;
  border: 3px solid #54d98c;
}
.card-comment-icon .btn-icon {
  border-radius: 50%;
  width: 80px;
  line-height: 30px;
  height: 80px;
  padding: 3px;
  text-align: center;
  font-size: 25px;
}
.card-comment-icon .btn-icon i {
  margin: 0;
}

/*======= Nestable-color css starts  ======= */

.nestable-primary {
  background-color: #1aa79c !important;
  border-color: #1aa79c;
  color: #fff !important;
}
.nestable-warning {
  background-color: #f69321 !important;
    border-color: #f69321;
    color: #fff !important;
}
.nestable-default {
  background-color: #bdc3c7 !important;
  border-color: #bdc3c7;
  color: #fff !important;
}
.nestable-danger {
  background-color: #e74c3c !important;
  border-color: #e74c3c;
  color: #fff !important;
}
.nestable-success {
  background-color: #8bc541 !important;
  border-color: #8bc541;
  color: #fff !important;
}
.nestable-inverse {
  background-color: #34495e !important;
  border-color: #34495e;
  color: #fff !important;
}
.nestable-info {
  background-color: #3498DB !important;
  border-color: #3498DB;
  color: #fff !important;
}
/*======= Nestable-color css ends  ======= */

.icofont-rounded-down {
  -webkit-transition: all ease-in 0.3s;
  display: inline-block;
  transition: all ease-in 0.3s;
}
.icon-up {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#timePicker .btn-link {
  font-weight: 0 !important;
  color: #95999c !important;
  border-radius: 0 !important;
  display: none !important;
}

.d-none {
    display: none !important;
  }
  
  .d-inline {
    display: inline !important;
  }
  
  .d-inline-block {
    display: inline-block !important;
  }
  
  .d-block {
    display: block !important;
  }
  
  .d-table {
    display: table !important;
  }
  
  .d-table-row {
    display: table-row !important;
  }
  
  .d-table-cell {
    display: table-cell !important;
  }
  
  .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  
  .d-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  .bg-light {
    background-color: #f8f9fa!important;
}

small {
  font-size: 100% !important;
}
small,
.small {
  font-size: 100% !important;
  font-weight: 400 !important;
}

#datePicker .custom-select:focus {
    border-color: #80bdff !important;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(128, 189, 255, 0.5);
  }
  
  #datePicker .custom-select:focus::-ms-value {
    color: #95999c !important;
    background-color: #fff !important;
  }
  
  .custom-select[multiple], .custom-select[size]:not([size="1"]) {
    height: auto;
    padding-right: 0.75rem;
    background-image: none;
  }
  
  .custom-select:disabled {
    color: #95999c !important;
    background-color: #e9ecef;
  }
  
  .custom-select::-ms-expand {
    opacity: 0;
  }
  
  .custom-select-sm {
    height: calc(1.8125rem + 2px) !important;
    padding-top: 0.375rem !important;
    padding-bottom: 0.375rem !important;
    font-size: 75% !important;
  }
  
  .custom-select-lg {
    height: calc(2.875rem + 2px) !important;
    padding-top: 0.375rem !important;
    padding-bottom: 0.375rem !important;
    font-size: 125% !important;
  }

  #datePicker .custom-day {
    text-align: center !important;
    padding: 0.185rem 0.25rem !important;
    border-radius: 0.25rem !important;
    display: inline-block !important;
    width: 3.5rem !important;
    padding-left: 0.1rem !important;
  }
  .custom-day:hover, .custom-day.focused {
    background-color: #95999c !important;
  }
  #datePicker .weekend {
    background-color: #95999c !important;
    color: white !important;
  }
    /* border-radius: 1rem !important; */
    #datePicker .hidden {
    display: none !important;
  }
  input[type=checkbox], input[type=radio] {
    margin: 0px 0 0 !important;
    margin-top: 1px\9;
    line-height: normal;
}
h2 {
  margin-left: 16px !important;
  padding: 0;
}
#datePicker select {
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  height: 0 !important;
  width: 0% !important;
  visibility: hidden !important;
  display: none !important;
}
#timePicker .btn {
min-height: 34px !important;  
  display: inline-block !important; 
  padding: 6px 12px !important;
  margin-bottom: 0 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.42857143 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: middle !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  background-image: none !important;
  border: 1px solid transparent !important;
  border-radius: 4px !important;
}

.checkbox-fade {
  display: inline-block;
  margin-right: 15px;
}

.checkbox-fade.fade-in-default .cr {
  border: 2px solid #bdc3c7;
}

/*05102018*/
.btn-success {    background-color: #8bc541; border-color: #8bc541;}
.btn-danger {background-color: #f15a2b; border-color: #f15a2b;}
.quill-editor, .ql-editor {background-color: #FFF !important;}
ul.nav-tabs {
  border-bottom: 1px solid #146d8b; margin-bottom: 10px;
}
.md-tabs ul.nav-tabs li.nav-item a {color: #033646;}
.md-tabs .nav-tabs>li>a:hover {
  border-color: transparent;
}

.lead-detail-page .inner-content .card {border-top: 0px !important;}

.clickable{
  cursor: pointer;
}.dobCustomRow .input-group-btn .btn {    
  line-height: normal !important;
  margin: -2px 0px 0px 0px !important;
}

.dobCustomRow .input-group-btn {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 2px;
  right: 85px;
}

.dobCustomRow2 .input-group-btn {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 26px;
  right: 91px;
}

.smtBadge{
  position: absolute;
  top: 10px;
  background-color: red;
}


body.ArabicLang .col-lg-1, 
body.ArabicLang .col-lg-10, 
body.ArabicLang .col-lg-11, 
body.ArabicLang .col-lg-12, 
body.ArabicLang .col-lg-2, 
body.ArabicLang .col-lg-3, 
body.ArabicLang .col-lg-4, 
body.ArabicLang .col-lg-5, 
body.ArabicLang .col-lg-6, 
body.ArabicLang .col-lg-7, 
body.ArabicLang .col-lg-8, 
body.ArabicLang .col-lg-9,
body.ArabicLang .col-md-1, 
body.ArabicLang .col-md-10, 
body.ArabicLang .col-md-11, 
body.ArabicLang .col-md-12, 
body.ArabicLang .col-md-2, 
body.ArabicLang .col-md-3, 
body.ArabicLang .col-md-4, 
body.ArabicLang .col-md-5, 
body.ArabicLang .col-md-6, 
body.ArabicLang .col-md-7, 
body.ArabicLang .col-md-8, 
body.ArabicLang .col-md-9,
body.ArabicLang .col-sm-1, 
body.ArabicLang .col-sm-10, 
body.ArabicLang .col-sm-11, 
body.ArabicLang .col-sm-12, 
body.ArabicLang .col-sm-2, 
body.ArabicLang .col-sm-3, 
body.ArabicLang .col-sm-4, 
body.ArabicLang .col-sm-5, 
body.ArabicLang .col-sm-6, 
body.ArabicLang .col-sm-7, 
body.ArabicLang .col-sm-8, 
body.ArabicLang .col-sm-9,
body.ArabicLang .col-xs-1, 
body.ArabicLang .col-xs-10, 
body.ArabicLang .col-xs-11, 
body.ArabicLang .col-xs-12, 
body.ArabicLang .col-xs-2, 
body.ArabicLang .col-xs-3, 
body.ArabicLang .col-xs-4, 
body.ArabicLang .col-xs-5, 
body.ArabicLang .col-xs-6, 
body.ArabicLang .col-xs-7, 
body.ArabicLang .col-xs-8, 
body.ArabicLang .col-xs-9 {
    float: right !important;
}