
 <div class="content-wrapper user-view" >
     <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                          {{messageText}}
                        </div>
                       
                    <div class="content-outer com-form">
                      <div class="row">
                        <form (ngSubmit)="!hasMsg && f.form.valid && saveShippingMethodSetup(f)" #f="ngForm" novalidate>
                       <div [ngClass]="'form-row'">
                              <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !shipmentMethodId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="shipmentMethodId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                             <input type="text" myAutofocus [ngClass]="'form-control fm-txt auto-focus'" name="shipmentMethodId" [(ngModel)]="model.shipmentMethodId" 		
                                        #shipmentMethodId="ngModel" class="{{myHtml}}"	id="txtshipmentMethodId"	[disabled]="disableId"	
                                        title="{{defaultAddFormValues[0]['helpMessage']}}"	(blur)='IsIdAlreadyExist()'	
                                          [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>
                             <div *ngIf="f.submitted && shipmentMethodId.invalid">
                                    <div class='error-msg' *ngIf="shipmentMethodId.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div><!-- Form Row Ends -->
                    <div [ngClass]="'form-row'">
                              <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !shipmentDescription.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         <label for="shipmentDescription">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                  <input type="text" [ngClass]="'form-control fm-txt'" name="shipmentDescription" [(ngModel)]="model.shipmentDescription" 		
                                        #shipmentDescription="ngModel" 		
                                        title="{{defaultAddFormValues[1]['helpMessage']}}"		
                                        maxlength="31"  [readonly]="!defaultAddFormValues[1]['writeAccess']" required />
                             <div *ngIf="f.submitted && shipmentDescription.invalid">
                                    <div class='error-msg' *ngIf="shipmentDescription.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                      <div class='error-msg' *ngIf="shipmentDescription.errors.maxlength">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                    
                                </div>
                            </div>

                        <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !shipmentDescriptionArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="shipmentDescriptionArabic">{{defaultAddFormValues[2]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="shipmentDescriptionArabic" [(ngModel)]="model.shipmentDescriptionArabic" 		
                                        #shipmentDescriptionArabic="ngModel" 		
                                        title="{{defaultAddFormValues[2]['helpMessage']}}"		
                                        maxlength="61"  [readonly]="!defaultAddFormValues[2]['writeAccess']" required />
                          
                                 <div *ngIf="f.submitted && shipmentDescriptionArabic.invalid">
                                    <div class='error-msg' *ngIf="shipmentDescriptionArabic.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                      <div class='error-msg' *ngIf="shipmentDescriptionArabic.errors.maxlength">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                   
                                </div>
                            </div>
                            
                        </div><!-- Form Row Ends -->
                           <div class="form-row">

                            

                         <div class="col-md-6 col-sm-12 col-xs-12">
							<div class="row">
							 <div class="col-md-5">
								 <label class="wd100">{{defaultAddFormValues[3]['fieldValue']}}</label>
							</div>	 
							 <div class="col-md-7">
								 <span class="choose-opt"  *ngFor = "let disshippingtype of ArrShippmentStatus" ><label>
                                  <input type="radio" name="shipmentMethodType" [(ngModel)]="model.shipmentMethodType" 		
                                    [value]="disshippingtype.typeId" title="{{defaultAddFormValues[3]['helpMessage']}}" required>{{disshippingtype.name}}</label></span>
							 </div>
							  <div  class='error-msg' *ngIf="f.submitted && !model.shipmentMethodType">
                                            {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
							</div>
                              
               </div>
                            
                        </div><!-- Form Row Ends -->
                         

                       <div class="form-row">

                            <div  *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{'has-error': f.submitted && !shipmentCarrier.valid,'col-md-6 col-sm-6 col-xs-12':true}">
							 <label for="shipmentCarrier">{{defaultAddFormValues[6]['fieldValue']}}</label>
									  <input type="text" [ngClass]="'form-control fm-txt'" name="shipmentCarrier" [(ngModel)]="model.shipmentCarrier" 		
											#shipmentCarrier="ngModel" 		
											title="{{defaultAddFormValues[6]['helpMessage']}}"		
											maxlength="25"  [readonly]="!defaultAddFormValues[6]['writeAccess']" required />
								 <div *ngIf="f.submitted && shipmentCarrier.invalid">
										<div class='error-msg' *ngIf="shipmentCarrier.errors.required">
											{{defaultAddFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										  <div class='error-msg' *ngIf="shipmentCarrier.errors.maxlength">
											{{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										
									</div>
								</div>
                            
                        </div><!-- Form Row Ends -->
                       
                  
                             <div class="form-row">
							   <div  *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{'has-error': f.submitted && !shipmentCarrierAccount.valid,'col-md-6 col-sm-6 col-xs-12':true}">
							 <label for="shipmentCarrierAccount">{{defaultAddFormValues[7]['fieldValue']}}</label>
									  <input type="text" [ngClass]="'form-control fm-txt'" name="shipmentCarrierAccount" [(ngModel)]="model.shipmentCarrierAccount" 		
											#shipmentCarrierAccount="ngModel" 		
											title="{{defaultAddFormValues[7]['helpMessage']}}"		
											maxlength="25"  [readonly]="!defaultAddFormValues[7]['writeAccess']" required />
								 <div *ngIf="f.submitted && shipmentCarrierAccount.invalid">
										<div class='error-msg' *ngIf="shipmentCarrierAccount.errors.required">
											{{defaultAddFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										  <div class='error-msg' *ngIf="shipmentCarrierAccount.errors.maxlength">
											{{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										
									</div>
								</div>

		
								
							</div><!-- Form Row Ends -->
                               <div class="form-row">
							   <div  *ngIf="defaultAddFormValues[8]['readAccess']" [ngClass]="{'has-error': f.submitted && !shipmentCarrierContactName.valid,'col-md-6 col-sm-6 col-xs-12':true}">
							 <label for="shipmentCarrierContactName">{{defaultAddFormValues[8]['fieldValue']}}</label>
									  <input type="text" [ngClass]="'form-control fm-txt'" name="shipmentCarrierContactName" [(ngModel)]="model.shipmentCarrierContactName" 		
											#shipmentCarrierContactName="ngModel" 		
											title="{{defaultAddFormValues[8]['helpMessage']}}"		
											maxlength="25"  [readonly]="!defaultAddFormValues[8]['writeAccess']" required />
								 <div *ngIf="f.submitted && shipmentCarrierContactName.invalid">
										<div class='error-msg' *ngIf="shipmentCarrierContactName.errors.required">
											{{defaultAddFormValues[8]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										  <div class='error-msg' *ngIf="shipmentCarrierContactName.errors.maxlength">
											{{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										
									</div>
								</div>

		
								
							</div><!-- Form Row Ends -->
                              
                   
                              <div class="form-row">
							   <div  *ngIf="defaultAddFormValues[9]['readAccess']" [ngClass]="{'has-error': f.submitted && !shipmentPhoneNumber.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
							 <label for="shipmentPhoneNumber">{{defaultAddFormValues[9]['fieldValue']}}</label>
									  <input type="text" [ngClass]="'form-control fm-txt'" name="shipmentPhoneNumber" [(ngModel)]="model.shipmentPhoneNumber" 		
											#shipmentPhoneNumber="ngModel" 		
											title="{{defaultAddFormValues[9]['helpMessage']}}"		
											maxlength="10"  [readonly]="!defaultAddFormValues[9]['writeAccess']" OnlyNumber="true" 
											(keydown)="onlyDecimalNumberKey($event)"   required />
								 <div *ngIf="f.submitted && shipmentPhoneNumber.invalid">
										<div class='error-msg' *ngIf="shipmentPhoneNumber.errors.required">
											{{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										  <div class='error-msg' *ngIf="shipmentPhoneNumber.errors.maxlength">
											{{defaultAddFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										
									</div>
								</div>

		
								
							</div><!-- Form Row Ends -->
                        <div class="button-row">
                    <div [ngClass]="'col-sm-12'" >
									<input type="submit" [disabled]="LockScreen(defaultAddFormValues[10]['writeAccess'])" [ngClass]="'orange-btn'" *ngIf="defaultAddFormValues[10]['readAccess']" 
									title="{{defaultAddFormValues[10]['fieldValue']}}" 
									 value="{{defaultAddFormValues[10]['helpMessage']}}"/>
                                <input type="button" [ngClass]="'blue-btn'" title="{{defaultAddFormValues[11]['fieldValue']}}" (click)="clearForm(f);" value="{{defaultAddFormValues[11]['helpMessage']}}"/>
																<input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>

                            </div>


                        </div>
						</form>

						<div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
								</div>
						 </div>

          <div class="form-row">  
					<div class="col-xs-12">
					<div class="algo-table">
					<div class="table-responsive">
						<ngx-datatable id="shipping" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)' [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							[selected]="selected" (select)='onSelect($event)'> 
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="shipmentMethodId" [width]="200"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="shipmentDescription" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="250" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="shipmentDescriptionArabic" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="250" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column> 
						 <ngx-datatable-column name="shipmentCarrier" [width]="150" *ngIf="defaultManageFormValues[3]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column>
						<ngx-datatable-column name="Action" [width]="150" *ngIf="defaultManageFormValues[6]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[6]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getShipmentMethodSetupById(row)" title="{{defaultManageFormValues[4]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
		                    </div>
							<div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
                        </div><!-- Form Row Ends -->

               

                        
                    

                      </div> <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                       
                  </section>
                </section>
            </div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>