
<div class="content-wrapper user-view">
    <section class="content">
	<!--<pre>{{defaultFormValues|json}}</pre>-->
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
            <section class="inner-content">
                <div class="content-outer com-form">
								<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
								     {{messageText}}
										 </div>
                     <div class="row">
						 <form class="search-batch" name="location" (ngSubmit)="location.form.valid && save(location)" #location="ngForm" novalidate>
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': location.submitted && !locationid.valid }">
								  <label>{{defaultFormValues[0]['fieldValue']}}</label>
								  <input myAutofocus type="text" class="form-control fm-txt {{myHtml}} auto-focus" id="ddl_insClassId" name="locationid" title="{{defaultFormValues[0]['helpMessage']}}" [(ngModel)]="locationId" (blur)='IsIdAlreadyExist()' #locationid="ngModel" required [disabled]="disableId">
								    <div *ngIf="location.submitted && locationid.invalid">
										<div class='error-msg' *ngIf="locationid.errors.required">
											{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-sm-6 col-xs-12" [ngClass]="{ 'has-error': location.submitted && !country.valid }" *ngIf="defaultFormValues[3]['readAccess']">
									<label>{{defaultFormValues[3]['fieldValue']}}</label>
									<div class="select-outer">
										<select class="form-control fm-txt" name='country' title="{{defaultFormValues[3]['helpMessage']}}" [(ngModel)]="formCountries" (change)="selected($event)" #country="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let c of countries" [value]="c.countryId">{{c.countryName}}</option>
										</select>
									</div>
									<div *ngIf="location.submitted && country.invalid">
										<div class='error-msg' *ngIf="country.errors.required">
												{{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
							</div><!-- Form Row Ends -->
							
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{ 'has-error': location.submitted && !state.valid }">
									<label>{{defaultFormValues[2]['fieldValue']}}</label>
									<div class="select-outer">
										<select class="form-control fm-txt" name='state' title="{{defaultFormValues[2]['helpMessage']}}" [(ngModel)]="formStates"  (change)="selectedState($event)" #state="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let s of states" [ngValue]="s.stateId">{{s.stateName}}</option>
									</select>
									</div>
									
								   <div *ngIf="location.submitted && state.invalid">
										<div class='error-msg' *ngIf="state.errors.required">
											{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{ 'has-error': location.submitted && !city.valid }">
									  <label>{{defaultFormValues[1]['fieldValue']}}</label>
									  <div class="select-outer">
										<select class="form-control fm-txt" name='city' title="{{defaultFormValues[1]['helpMessage']}}" [(ngModel)]="formCities" #city="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let c of cities" [ngValue]="c.cityId">{{c.cityName}}</option>
										</select>
									</div>
									  <div *ngIf="location.submitted && city.invalid">
										<div class='error-msg' *ngIf="city.errors.required">
											{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
							</div><!-- Form Row Ends -->

							<div class="button-row">
								<div class="col-sm-12">
										<input type="submit" *ngIf="add" class="orange-btn" 
										value="{{defaultFormValues[4]['fieldValue']}}" 
										title="{{defaultFormValues[4]['helpMessage']}}"
										[disabled]="LockScreen(defaultFormValues[4]['writeAccess'])">
										<input type="submit" *ngIf="!add" class="orange-btn"
										 value="{{defaultFormValues[4]['fieldValue']}}" 
										 title="{{defaultFormValues[4]['helpMessage']}}" [disabled]="LockScreen(defaultFormValues[4]['writeAccess'])">
										<input type="button" class="blue-btn" (click)="ClearForm(location);" title="{{defaultFormValues[5]['helpMessage']}}" value="{{defaultFormValues[5]['fieldValue']}}"/>
										<input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(location)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
							</div>
							</div><!-- Buton Row Ends -->	
						</form>
						<div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control"  (keyup)='updateFilter($event)' />
									</div>
								</div>
						<div class="form-row">
							<div class="col-xs-12">
								
								<div class="algo-table" *ngIf="rows.length>0">
									<div class="table-responsive">          
										<ngx-datatable id="locationSetup" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="Searchselected" (select)='onSelect($event)'>
											
											 <ngx-datatable-column *ngIf="gridDefaultFormValues[0]['readAccess']" name="locationId" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[0]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[1]['readAccess']" name="city" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[1]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[2]['readAccess']" name="state" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[2]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[3]['readAccess']" name="country" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[3]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											
											 <ngx-datatable-column *ngIf="gridDefaultFormValues[4]['readAccess']" name="Action" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													Action
												</ng-template>
												<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
													<button class="edit-ico" (click)="edit(row)" title="{{gridDefaultFormValues[6]['helpMessage']}}" *ngIf="gridDefaultFormValues[6]['readAccess']"></button>
													<!--<button class="del-ico" (click)="delete(row)" title="Delete"></button>-->
												</ng-template>
											</ngx-datatable-column>
										 </ngx-datatable>
									</div>
								</div><!-- Algo Table Ends -->
								 <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
							</div>
						</div><!-- Form Row Ends -->
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>