



  <!-- screen header -->
  <div class="page-header">
    <div class="page-header-title">
      <span><h3>{{screenName}}</h3></span>
    </div>
    <!-- <div class="page-header-breadcrumb">
        <i class="ti-settings"></i>
    </div> -->
  </div>
<!-- screen header -->




<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <!-- <div class="section-heading">
            <h2></h2>
        </div> -->
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- Content Outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <!-- <h3> {{screenName}}</h3> -->
                       <div *ngIf="showloader" class="loader-bg">
                    </div>
                </div>
                <!-- Content Heading Ends -->
                
                <!--adding form starts-->
      <!-- Basic Form Inputs card start -->
<app-card [title]="">
    <!-- <h4 class="sub-title">Create company</h4> -->
   
   
    <form (ngSubmit)="f.form.valid && CreateWhiteListIP(f)" #f="ngForm" novalidate>
            <!-- Row Starts -->
          <div class="form-group row">  
                <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label col-md-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !ipAddress.valid}">
                            <input class="floating-input" type="text"   placeholder=" "  
                            [readonly]="!defaultFormValues[0]['writeAccess']" myAutofocus type="text" 
                             name="ipAddress" [(ngModel)]="model.ipAddress" 
                            #ipAddress="ngModel" title="{{defaultFormValues[0]['helpMessage']}}" required />
                            <div *ngIf="f.submitted && ipAddress.invalid">
                              <div *ngIf="f.submitted && ipAddress.invalid">
                                  <div class='error-msg' *ngIf="ipAddress.errors.required">
                                      {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                  </div>
                                  <div class='error-msg' *ngIf="ipAddress.errors.maxlength">
                                      {{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                  </div>
                                  <div class='error-msg' *ngIf="ipAddress.errors.pattern">
                                      {{defaultFormValues[0]['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                  </div>
                              </div>
                          </div>
                            <span class="highlight"></span>
                            <label>{{defaultFormValues[0]['fieldValue']}}</label>
                          </div>
                    </div>
                                        
                        </div>
         </div>
         
         <div class="form-group row">
                              
            <div class="col-sm-4">
                <div class="form-group row smtFullDropdown">
                    <div class="floating-label col-md-12" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !description.valid}">
                        <textarea class="floating-input floating-textarea" placeholder=" "[readonly]="!defaultFormValues[1]['writeAccess']"  name="description" [(ngModel)]="model.description" #description="ngModel" title="{{defaultFormValues[1]['helpMessage']}}" minlength="5" maxlength="150"></textarea>
                        <div *ngIf="f.submitted && description.invalid">
                            <div class='error-msg' *ngIf="description.errors.maxlength">
                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                            <div class='error-msg' *ngIf="description.errors.minlength">
                                Minlength required is 5
                            </div>
                        </div>
                        <span class="highlight"></span>
                        <label>{{defaultFormValues[1]['fieldValue']}}</label>
                      </div>
                    </div>
    
        </div>
                            
         </div>
      

         <div [ngClass]="'button-row'">
            <div [ngClass]="'col-sm-12'">
                <button *ngIf="model.id" [ngClass]="'green-btn'">{{updateField}}</button>
                <button *ngIf="!model.id" [disabled]="LockScreen(defaultFormValues[2]['writeAccess'])" [ngClass]="'green-btn'" title="{{defaultFormValues[2]['helpMessage']}}">{{defaultFormValues[2]['fieldValue']}}</button>
                <button *ngIf="defaultFormValues[3]['readAccess']" [ngClass]="'blue-btn'" title="{{defaultFormValues[3]['fieldValue']}}" [routerLink]="['/whiteListIP']">{{defaultFormValues[3]['fieldValue']}}</button>
                <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{clearText}}</button>
            </div>
        </div>

<!-- Row Ends -->
</form>
   
   
  </app-card>        
               
    
    <!--adding form ends-->
</div>
<!-- Content Outer Ends -->
</section>
</section>
</div>