
<div class="content-wrapper user-view" >
    <section class="content">
        <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
        <section class="inner-content">
            <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                {{messageText}}
            </div>
            
            <div class="content-outer com-form">
                <div class="row">
                    <div class="content-heading">
                        <div class="search-top">
                            <input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
                        </div>
                    </div>
                    <div class="form-row">  
                        <div class="col-xs-12">
                            <div class="algo-table">
                                <div class="table-responsive">
                                    <ngx-datatable id="salesmanId" class="material" [rows]="rows"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'auto'" [externalPaging]="true"
                                    [count]="page.totalElements" [offset]="page.pageNumber"
                                    [limit]="page.size" (page)='setPage($event)'
                                    [selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
                                    (select)='onSelect($event)'> 
                                    <ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="salesmanId" [width]="150"
                                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                    <ng-template let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn"
                                    (click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
                                    let-value="value" ngx-datatable-cell-template>
                                    {{value}} </ng-template> 
                                </ngx-datatable-column> 
                                <ngx-datatable-column name="salesmanFirstName" *ngIf="defaultManageFormValues[1]['readAccess']" 
                                [width]="200" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false"> <ng-template
                                let-column="column" let-sort="sortFn"
                                ngx-datatable-header-template> <span class="sort-btn"
                                (click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
                                let-value="value" ngx-datatable-cell-template>
                                {{value}} </ng-template>
                            </ngx-datatable-column> 
                            <ngx-datatable-column name="salesmanFirstNameArabic" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
                            {{value}} 
						</ng-template>
                    </ngx-datatable-column> 
                    <ngx-datatable-column name="salesTerritoryId" *ngIf="defaultManageFormValues[3]['readAccess']" 
                    [width]="150" [canAutoResize]="false" [draggable]="false"
                    [resizeable]="false"> <ng-template
                    let-column="column" let-sort="sortFn"
                    ngx-datatable-header-template> <span class="sort-btn"
                    (click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
                    let-value="value" ngx-datatable-cell-template>
                    {{value}} 
                </ng-template>
            </ngx-datatable-column> 
            <ngx-datatable-column name="employeeId" *ngIf="defaultManageFormValues[4]['readAccess']" 
            [width]="150" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false"> <ng-template
            let-column="column" let-sort="sortFn"
            ngx-datatable-header-template> <span class="sort-btn"
            (click)="sort()">{{defaultManageFormValues[4]['fieldValue']}}</span> </ng-template> <ng-template
            let-value="value" ngx-datatable-cell-template>
            {{value}} 
        </ng-template>
    </ngx-datatable-column> 
    
    <ngx-datatable-column name="Action" [width]="150" *ngIf="defaultManageFormValues[5]['readAccess']" 
    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
    <ng-template let-column="column" let-sort="sortFn"
    ngx-datatable-header-template>
    {{defaultManageFormValues[5]['fieldValue']}} </ng-template> <ng-template let-row="row"
    let-value="value" ngx-datatable-cell-template>
    <a class="edit-ico" (click)="getSalesmanMaintenanceById(row)" title="{{defaultManageFormValues[7]['helpMessage']}}"></a>
</ng-template> 
</ngx-datatable-column> 
</ngx-datatable>
</div>
<div class="button-row" *ngIf="page.totalElements > 0">
    <!-- Table View Starts -->
    <div class="table-view">
        <span>{{tableViewtext}}</span>
        <div class="select-outer">
            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
                <option value="5">5 {{atATimeText}} </option>
                <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                <option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                <option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
            </select>
        </div>
    </div>
    <!-- Table View Ends -->
    <div class="bottom-view">
    </div>
</div>
</div>
</div><!-- Algo Table Ends -->
</div>


<form (ngSubmit)="!hasMsg && f.form.valid && saveSalespersonMaintenance(f)" #f="ngForm" novalidate>
    <div class="form-row" >
        <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !salesmanId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            <div class="row">
                <div class="col-sm-5">
                    <label for="salesmanId" class="wd100">{{defaultAddFormValues[0]['fieldValue']}}</label>
                </div>
                
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-8">
                            <input myAutofocus type="text" class="form-control fm-txt wd100 {{myHtml}} auto-focus" [readonly]="isModify"  name="salesmanId" [(ngModel)]="model.salesmanId" 		
                            #salesmanId="ngModel" 	[disabled]="disableId" id="salesmanIdText"	(blur)="IsIdAlreadyExist()"
                            title="{{defaultAddFormValues[0]['helpMessage']}}"		
                            [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>
                            
                        </div>   
                        <div class="col-sm-4">
                            <span class="choose-opt"><label><input type="checkbox" name="inactive" [checked]="active" [(ngModel)]="model.inactive" #inactive="ngModel"/> {{defaultAddFormValues[20]['fieldValue']}}</label></span>
                        </div>
                        
                    </div> 
                </div>
            </div>   
            
            
            <div *ngIf="f.submitted && salesmanId.invalid">
                <div class='error-msg' *ngIf="salesmanId.errors.required">
                    {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                
            </div>
            
            
        </div>
        
        
    </div>
    
    
    
    <!-- Form Row Ends -->
    <div [ngClass]="'form-row'">
        
        <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !salesmanFirstName.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            
            <label for="salesmanFirstName">{{defaultAddFormValues[1]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="salesmanFirstName" [(ngModel)]="model.salesmanFirstName" 		
            #salesmanFirstName="ngModel" 		
            title="{{defaultAddFormValues[1]['helpMessage']}}"		
            maxlength="21"  [readonly]="!defaultAddFormValues[1]['writeAccess']" required/>
            <div *ngIf="f.submitted && salesmanFirstName.invalid">
                <div class='error-msg' *ngIf="salesmanFirstName.errors.required">
                    {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="salesmanFirstName.errors.maxlength">
                    {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        
        <div  *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{'has-error': f.submitted && !salesmanFirstNameArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
            
            <label for="salesmanFirstNameArabic">{{defaultAddFormValues[4]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="salesmanFirstNameArabic" [(ngModel)]="model.salesmanFirstNameArabic" 		
            #salesmanFirstNameArabic="ngModel" 		
            title="{{defaultAddFormValues[4]['helpMessage']}}"		
            maxlength="21"  [readonly]="!defaultAddFormValues[4]['writeAccess']" required/>
            <div *ngIf="f.submitted && salesmanFirstNameArabic.invalid">
                <div class='error-msg' *ngIf="salesmanFirstNameArabic.errors.required">
                    {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="salesmanFirstNameArabic.errors.maxlength">
                    {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        
    </div><!-- Form Row Ends -->
    
    <div [ngClass]="'form-row'">
        <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !salesmanMidName.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
            
            <label for="salesmanMidName">{{defaultAddFormValues[2]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="salesmanMidName" [(ngModel)]="model.salesmanMidName" 		
            #salesmanMidName="ngModel" 	
            title="{{defaultAddFormValues[2]['helpMessage']}}"		
            maxlength="21"  [readonly]="!defaultAddFormValues[2]['writeAccess']" />
            <div *ngIf="f.submitted && salesmanMidName.invalid">
                
                <div class='error-msg' *ngIf="salesmanMidName.errors.maxlength">
                    {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
            </div>
        </div>
        <div  *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{'has-error': f.submitted && !salesmanMidNameArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
            
            <label for="salesmanMidNameArabic">{{defaultAddFormValues[5]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="salesmanMidNameArabic" [(ngModel)]="model.salesmanMidNameArabic" 		
            #salesmanMidNameArabic="ngModel" 	
            title="{{defaultAddFormValues[5]['helpMessage']}}"		
            maxlength="21"  [readonly]="!defaultAddFormValues[5]['writeAccess']" />
            <div *ngIf="f.submitted && salesmanMidNameArabic.invalid">
                
                <div class='error-msg' *ngIf="salesmanMidNameArabic.errors.maxlength">
                    {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
            </div>
        </div>
    </div>
    <!-- Form Row Ends -->
    <div [ngClass]="'form-row'">
        <div  *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{'has-error': f.submitted && !salesmanLastName.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            <label for="salesmanLastName">{{defaultAddFormValues[3]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="salesmanLastName" [(ngModel)]="model.salesmanLastName" 		
            #salesmanLastName="ngModel" 
            title="{{defaultAddFormValues[3]['helpMessage']}}"		
            maxlength="21"  [readonly]="!defaultAddFormValues[3]['writeAccess']" required/>
            <div *ngIf="f.submitted && salesmanLastName.invalid">
                <div class='error-msg' *ngIf="salesmanLastName.errors.required">
                    {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="salesmanLastName.errors.maxlength">
                    {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        <div  *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{'has-error': f.submitted && !salesmanLastNameArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
            
            <label for="salesmanLastNameArabic">{{defaultAddFormValues[6]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="salesmanLastNameArabic" [(ngModel)]="model.salesmanLastNameArabic" 		
            #salesmanLastNameArabic="ngModel" 
            title="{{defaultAddFormValues[6]['helpMessage']}}"		
            maxlength="21"  [readonly]="!defaultAddFormValues[6]['writeAccess']" onlynumber="true" required/>
            <div *ngIf="f.submitted && salesmanLastNameArabic.invalid" >
                <div class='error-msg' *ngIf="salesmanLastNameArabic.errors.required">
                    {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="salesmanLastNameArabic.errors.maxlength">
                    {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
    </div><!-- Form Row Ends -->
    
    <div class="form-row">
        <div  *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{'has-error': f.submitted && !employeeId.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
            
            <label for="employeeId">{{defaultAddFormValues[7]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="employeeId" [(ngModel)]="model.employeeId" 		
            #employeeId="ngModel" 		
            title="{{defaultAddFormValues[7]['helpMessage']}}"		
            [readonly]="!defaultAddFormValues[7]['writeAccess']" required/>
            <div *ngIf="f.submitted && employeeId.invalid">
                <div class='error-msg' *ngIf="employeeId.errors.required">
                    {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                
            </div>
        </div>
        <div  *ngIf="defaultAddFormValues[11]['readAccess']" [ngClass]="{'has-error': f.submitted && !phone1.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
            
            <label for="phone1">{{defaultAddFormValues[11]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt '" name="phone1" [(ngModel)]="model.phone1" 		
            #phone1="ngModel" 	OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   
            title="{{defaultAddFormValues[11]['helpMessage']}}"		
            maxlength="10"  [readonly]="!defaultAddFormValues[11]['writeAccess']" />
            <div *ngIf="f.submitted && phone1.invalid">
                <!-- <div class='error-msg' *ngIf="phone1.errors.required">
                    {{defaultAddFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div> -->
                <div class='error-msg' *ngIf="phone1.errors.maxlength">
                    {{defaultAddFormValues[11]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
    </div><!-- Form Row Ends -->
    
    <div class="form-row">
        <div  *ngIf="defaultAddFormValues[8]['readAccess']" [ngClass]="{'has-error': f.submitted && salesTerritoryId.length==0,'col-md-6 col-sm-6 col-xs-12 ':true}">
            <label for="salesTerritoryId">{{defaultAddFormValues[8]['fieldValue']}}</label>
            <div [ngClass]="'select-outer'">
                <angular2-multiselect  required [ngClass]="'form-control fm-txt'" id="salesTerritoryId" [data]="ArrsalesTerritoryId" [(ngModel)]="salesTerritoryId" [ngModelOptions]="{standalone: true}"
                [settings]="ddlsalesTerritorySetting" 
                (onSelect)="getsalesTerritoryByID($event)" (onDeSelect)="OnsalesTerritoryDeSelect($event)"></angular2-multiselect>
                
                
                <div *ngIf="f.submitted && salesTerritoryId.length==0">
                    <div class='error-msg'>
                        {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                </div>
            </div>
        </div>
        <div  *ngIf="defaultAddFormValues[12]['readAccess']" [ngClass]="{'has-error': f.submitted && !phone2.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
            
            <label for="phone2">{{defaultAddFormValues[12]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="phone2" [(ngModel)]="model.phone2" 		
            #phone2="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   		
            title="{{defaultAddFormValues[12]['helpMessage']}}"		
            maxlength="10"  [readonly]="!defaultAddFormValues[12]['writeAccess']" />
            <div *ngIf="f.submitted && phone2.invalid">
                <div class='error-msg' *ngIf="phone2.errors.maxlength">
                    {{defaultAddFormValues[12]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        
        
    </div><!-- Form Row Ends -->
    <div class="form-row">
        
        <div  *ngIf="defaultAddFormValues[9]['readAccess']" [ngClass]="{'has-error': f.submitted && !address1.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
            
            <label for="address1">{{defaultAddFormValues[9]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="address1" [(ngModel)]="model.address1" 		
            #address1="ngModel" 		
            title="{{defaultAddFormValues[9]['helpMessage']}}"		
            maxlength="21"  [readonly]="!defaultAddFormValues[9]['writeAccess']" required/>
            <div *ngIf="f.submitted && address1.invalid">
                <div class='error-msg' *ngIf="address1.errors.required">
                    {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="address1.errors.maxlength">
                    {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        
        
        
    </div><!-- Form Row Ends -->
    <div class="form-row">
        <div  *ngIf="defaultAddFormValues[10]['readAccess']" [ngClass]="{'has-error': f.submitted && !address2.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
            
            <label for="address2">&nbsp;</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="address2" [(ngModel)]="model.address2" 		
            #address2="ngModel" 		
            title="{{defaultAddFormValues[10]['helpMessage']}}"		
            maxlength="21"  [readonly]="!defaultAddFormValues[10]['writeAccess']" />
            
        </div>
    </div>
    <div class="form-row" *ngIf="defaultAddFormValues[17]['readAccess']">
        <div class="col-xs-12">
            <div class="algo-table">
                <div class="table-responsive">          
                    <table class="table arabic-mode">
                        <thead>
                            <tr> 
                                <th width="40%">&nbsp; &nbsp; &nbsp;</th>
                                <th width="30%">{{defaultAddFormValues[16]['fieldValue']}}</th>
                                <th width="30%">{{defaultAddFormValues[17]['fieldValue']}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{defaultAddFormValues[13]['fieldValue']}}</td>
                                
                                <td><div [ngClass]="{'has-error': f.submitted && !salesCommissionsYTD.valid,'':true}">
                                    <input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="salesCommissionsYTD" [(ngModel)]="model.salesCommissionsYTD" 		
                                    #salesCommissionsYTD ="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   	maxlength="8"
                                    title="{{defaultAddFormValues[13]['helpMessage']}}"	required	
                                    />
                                    <div *ngIf="f.submitted && salesCommissionsYTD.invalid">
                                        <div class='error-msg' *ngIf="salesCommissionsYTD.errors.required">
                                            {{requiredValid}}
                                        </div>
                                        
                                    </div>
                                </div>
                                
                            </td>
                            <td><div [ngClass]="{'has-error': f.submitted && !salesCommissionsLastYear.valid,'':true}"><input type="text" [ngClass]="'form-control fm-txt'" name="salesCommissionsLastYear" [(ngModel)]="model.salesCommissionsLastYear" 		
                                #salesCommissionsLastYear ="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    	maxlength="8"	
                                title="{{defaultAddFormValues[13]['helpMessage']}}"		required
                                /> <div *ngIf="f.submitted && salesCommissionsLastYear.invalid">
                                    <div class='error-msg' *ngIf="salesCommissionsLastYear.errors.required">
                                        {{requiredValid}}
                                    </div>
                                    
                                </div>
                            </div></td>
                            
                        </tr>
                        <tr>
                            <td>{{defaultAddFormValues[14]['fieldValue']}}</td>
                            <td><div [ngClass]="{'has-error': f.submitted && !totalCommissionsYTD.valid,'':true}"><input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="totalCommissionsYTD" [(ngModel)]="model.totalCommissionsYTD" 		
                                #totalCommissionsYTD ="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   	maxlength="8"	
                                title="{{defaultAddFormValues[14]['helpMessage']}}"		required
                                />
                                <div *ngIf="f.submitted && totalCommissionsYTD.invalid">
                                    <div class='error-msg' *ngIf="totalCommissionsYTD.errors.required">
                                        {{requiredValid}}
                                    </div>
                                    
                                </div>
                            </div></td>
                            <td><div [ngClass]="{'has-error': f.submitted && !totalCommissionsLastYear.valid,'':true}"><input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="totalCommissionsLastYear" [(ngModel)]="model.totalCommissionsLastYear" 		
                                #totalCommissionsLastYear ="ngModel" 	OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   	maxlength="8"
                                title="{{defaultAddFormValues[14]['helpMessage']}}"		required
                                />
                                <div *ngIf="f.submitted && totalCommissionsLastYear.invalid">
                                    <div class='error-msg' *ngIf="totalCommissionsLastYear.errors.required">
                                        {{requiredValid}}
                                    </div>
                                    
                                </div></div></td>
                                
                            </tr>
                            
                            <tr>
                                <td>{{defaultAddFormValues[15]['fieldValue']}}</td>
                                <td><div [ngClass]="{'has-error': f.submitted && !costOfSalesYTD.valid,'':true}"><input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="costOfSalesYTD" [(ngModel)]="model.costOfSalesYTD" 		
                                    #costOfSalesYTD ="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   		
                                    title="{{defaultAddFormValues[12]['helpMessage']}}"		required
                                    />   <div *ngIf="f.submitted && costOfSalesYTD.invalid">
                                        <div class='error-msg' *ngIf="costOfSalesYTD.errors.required">
                                            {{requiredValid}}
                                        </div>
                                        
                                    </div>
                                </div></td>
                                <td><div [ngClass]="{'has-error': f.submitted && !costOfSalesLastYear.valid,'':true}"><input type="text" [ngClass]="'form-control fm-txt'" name="costOfSalesLastYear" [(ngModel)]="model.costOfSalesLastYear" 		
                                    #costOfSalesLastYear ="ngModel" 	OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   	required
                                    title="{{defaultAddFormValues[12]['helpMessage']}}"		
                                    />
                                    <div *ngIf="f.submitted && costOfSalesLastYear.invalid">
                                        <div class='error-msg' *ngIf="costOfSalesLastYear.errors.required">
                                            {{requiredValid}}
                                        </div>
                                        
                                    </div>
                                </div></td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div><!-- Algo Table Ends -->
        </div>
    </div><!-- Form Row Ends -->
    <div class="button-row">
        <div class="col-sm-12">
            <input type="submit"  [disabled]="LockScreen(defaultAddFormValues[18]['writeAccess'])"
             class="orange-btn" value="{{defaultAddFormValues[18]['fieldValue']}}" class="orange-btn" 
             title="{{defaultAddFormValues[18]['helpMessage']}}">
            <input type="button" class="blue-btn" title="{{defaultAddFormValues[19]['helpMessage']}}" (click)="clearForm()" value="{{defaultAddFormValues[19]['fieldValue']}}"/>
            <input type="button" class="blue-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
        </div>
        
    </div>
</form>

</div> <!-- Row Ends -->
</div><!-- Content OUter Ends -->

</section>
</section>
</div>
