<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Algoras</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="#1 selling multi-purpose bootstrap admin theme sold in themeforest marketplace packed with angularjs, material design, rtl support with over thausands of templates and ui elements and plugins to power any type of web applications including saas and admin dashboards. Preview page of Theme #1 for "
            name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        !-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" /> -->
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <!-- <link href="../assets/pages/css/login-5.min.css" rel="stylesheet" type="text/css" /> -->
        <!-- END PAGE LEVEL STYLES -->
        <!-- <link href="../assets/layouts/layout/css/custom.css" rel="stylesheet" type="text/css" /> -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> 
        <link rel="stylesheet" href="../assets/global/plugins/bootstrap/css/bootstrap-select.css">
        

    </head>
    <!-- END HEAD -->

    <body class="login">
        <!-- BEGIN : LOGIN PAGE 5-2 -->
        <div class="user-login-5 login_page">
            <div class="row bs-reset">
                <div class="col-sm-6 login-container bs-reset">
                        <!-- <div class="nav navbar-nav lang-navbar pull-right">
                        <select   class="form-control auto-focus" name='currentLanguage' [(ngModel)]="currentLanguage"  (change)="ChangeLanguage()">
                        <option *ngFor="let language of arrLanguage" [value]="language.languageId">{{language.languageName}}</option>
                        </select>
                    </div>  -->

                    <div  class="dropdown nav navbar-nav lang-navbar pull-right">
                        <div class="dropbtn  auto-focus"><i class="ti-world"></i>{{currentLanguageName}}</div>
                        <div class="dropdown-content">
                            <a *ngFor="let language of arrLanguage"  (click)="ChangeLanguage(language)">{{language.languageName}}</a>
                        </div>
                        </div>
                           
                            <!-- <ul class="nav navbar-nav lang-navbar pull-right">
                                <li class="dropdown dropdown-user">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="ti-world"></i> English
                                      </a>
                                      
                                    <ul class="dropdown-menu dropdown-menu-default">
                                        <li>
                                            <a href="page_user_profile_1.html">Arabic</a>
                                        </li>
                                        
                                    </ul>
                            </ul> -->
                    <div class="login-content">
                        <div class="login-content-inner">
                        <img class="login-logo login-6" src="../assets/layouts/layout/img/logo-algoras.png" />
                        <h1 class="heading">{{screenName}}</h1>   
                        <p>{{defaultFormValues[0]['fieldValue']}}</p>
                        	<form name="form" (ngSubmit)="f.form.valid && verifyOTP()" (keydown.enter)="f.form.valid && verifyOTP()"	#f="ngForm" novalidate>
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                <span>Enter currect OTP. </span>
                            </div>

                            <div class="floating-label">      
                                <input class="floating-input" type="text" placeholder=" " tabindex="1" name="otp"
                                [(ngModel)]="model.otp" #otp="ngModel"
                                title=""
                                required>
                                <div class='error-msg' *ngIf="f.submitted && !otp.valid">
                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <span class="highlight"></span>
                                <label>{{defaultFormValues[1]['fieldValue']}}</label>
                              </div>
                            
                            <!-- <div class="form-group form-group-lg form-md-line-input search-input-form">
                                <input class="form-control form-control-solid placeholder-no-fix form-group otp-form-control" type="otp" autocomplete="off" placeholder="OTP" name="OTP" required/>
                                <label for="form_control_1"></label>
                            </div>    -->

                            <div class="form-actions">
                                    <button type="button" id="back-btn" class="btn orange btn-rounded btn-lg" (click)="Resend();false">{{defaultFormValues[2]['fieldValue']}}</button>
                            <button class="btn green btn-rounded btn-lg" type="submit">{{defaultFormValues[3]['fieldValue']}}</button>
                                    </div>
                        </form>
                        </div>
                    </div>
                    
                </div>
                <div class="col-sm-6 bs-reset right-col-otp">
                      <div class="content-panel">
                            <h1>Verify Account</h1>
                            <img src="../assets/layouts/layout/img/otp-icon.png">
                      </div>
                </div>
            </div>
        </div>
        <!-- END : LOGIN PAGE 5-2 -->
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap-select.js"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/pages/scripts/login-5.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
    </body>

</html>