
<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
        <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      
    </div>
    <div class="modal-footer">
           <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
           <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
           <button  class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

    </div>
  </div>
</div>


<!-- screen header -->
<div class="page-header">
  <div class="page-header-title">
    <span>
      <h3>{{TICKETCLASS_TICKETCLASS_LIST['fieldValue']}}</h3>
    </span>
  </div>
  <!-- <div class="page-header-breadcrumb">
  <i class="ti-settings"></i>
</div> -->
</div>
<!-- screen header -->

<div class="content-wrapper">
  <section class="content" (keyup)='EscapeModal($event)'>
    <!-- section Heading Starts -->
    <!-- <div class="section-heading">
      <h2></h2>
  </div> -->
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- Content Outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>

        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{message.text}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <!-- <h3> {{screenName}}</h3> -->
          <div *ngIf="showloader" class="loader">
          </div>
        </div>
        <!-- Content Heading Ends -->

        <!--adding form starts-->
        <!-- Basic Form Inputs card start -->
        <app-card [title]="" class="smtResponsiveContent">

            <div class="content-heading">
                <div class="search-top">
                        <div class="form-group row nopaddingnopadding">
                                <div class="floating-label col-sm-4">      
                                    <input class="floating-input" [readonly]="!TICKETCLASS_SEARCH['writeAccess']" *ngIf="TICKETCLASS_SEARCH['readAccess']" (keyup)='updateFilter($event)' type="text"
                                     placeholder=" " tabindex="1">
                                    <span class="highlight"></span>
                                    <label id="countryLabel">{{TICKETCLASS_SEARCH['fieldValue']}}</label>
                                    <input type="hidden"/><span class="search-icon">
                                        <i class="fa fa-search"></i>
                                        </span>
                                  </div>
                             <div class="col-sm-8 pull-right">
                                    <button class="green-btn" *ngIf="defaultFormValues[4]['readAccess']" 
                                    title="{{defaultFormValues[4]['helpMessage']}}"
                                    (click)="goToCreate()">{{createbtnText}}</button>
                             </div>
                                
                            </div>
          
                   
                </div>
            </div>

              <div class="table-responsive" style="overflow: auto;overflow-y: hidden;">
                <ngx-datatable 
                id="MainGrid" 
                class="material"
                [rows]="rows" 
                [columnMode]="'force'" 
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50" 
                [externalPaging]="true" 
                [count]="page.totalElements" 
                [offset]="page.pageNumber"
                
                [limit]="page.size" 
                (page)='setPage($event)'
                [selected]="selected"
                [selectionType]="'checkbox'"
                (select)='onSelect($event)'
                (activate)="edit($event)"
                
              
                >
                <!-- (activate)="edit($event)"
                [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText,selectedMessage:selectedText}" -->
                <ngx-datatable-column   [width]="70" [sortable]="false"  [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                [checkboxable]="true"></ngx-datatable-column>
          
          
            
            <!-- Data Grid Columns -->
            <div *ngIf="commonService.gridLists && commonService.gridLists[0]">
              <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                  <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                          <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)" >
                          <div 
                          [draggable]="isConfigure"
                          (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                          (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                          (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                          (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                      </ng-template>
                  </ngx-datatable-column>  
                  </div>
          </div>
          
           
           
          </ngx-datatable>
          
          
          
          </div>

              <div class="button-row" *ngIf="page.totalElements > 0">
              <!-- Table View Starts -->
              <div class="table-view" >
                <!-- <span>{{defaultFormValues[14]['fieldValue']}}</span> -->
                <div class="select-outer">
                    <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                            <option value="5">5 {{atATimeText}} </option>
                            <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                            <option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                            <option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
                    </select>
                </div>
              </div>
              <!-- Table View Ends -->
              <div class="bottom-view">
              </div>
              <button class="red-btn" *ngIf="!isScreenLock || defaultFormValues[9]['readAccess']" title="{{defaultFormValues[9]['helpMessage']}}"  [disabled]="!defaultFormValues[9]['writeAccess'] || selected.length == 0" (click)="varifyDelete()">{{defaultFormValues[9]['fieldValue']}}</button>
              </div>

          </app-card>


          <!--adding form ends-->
        </div>
        <!-- Content Outer Ends -->
      </section>
    </section>
  </div>








