#heading {
    padding-left: 14px;
}

#subitems td, #subitems th {
    border: 1px solid #ddd;
    padding: 8px;
}

#subitems tr:nth-child(even){background-color: #f2f2f2;}

#subitems tr:hover {background-color: #ddd;}

#subitems th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #144859;
    color: white;
    font-weight: normal;
    

}
