<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
        <div class="modal-content">
            <div class="modal-header">
                <span class="btnClose" (click)='closeModal()'></span>
                {{confirmationModalTitle}}
            </div>
            <div class="modal-body">
                <p *ngIf='!isDeleteAction'>
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
                <p *ngIf='isDeleteAction'>
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
            </div>
            <div class="modal-footer">
                <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
                <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
                <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
            </div>
        </div>
    </div>
<div class="content-wrapper">
    <section class="content" *ngIf="!EmployeeTrainingWindow">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>

        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <!--<div *ngIf="hasMessage" style="margin-bottom:10px;color:red;">
                            {{message.text}}
                        </div>-->
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <!-- <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{ACTION['helpMessage']}}" placeholder="{{ACTION['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div> -->
                </div>
                <!-- Content Heading Ends -->
                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                  </div>
                <div class="algo-table">

                    <!-- Data Grid checkbox -->
                    <ngx-datatable-column [width]="5" [sortable]="false" [canAutoResize]="true" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                        [checkboxable]="true">
                    </ngx-datatable-column>

                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="DivisionGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div 
                                            [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>  
                                </div>
                              </div>

                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">


                    <!-- Table View Starts -->
                    <div class="table-view">
                        <input type="radio" name="filter" [(ngModel)]="model.filter" value="all"  (change)="onFilterChange()">{{ALL['fieldValue']}}
                        <div class="clearfix"></div>
                        <input type="radio" name="filter" [(ngModel)]="model.filter" value="currentcompleted"  (change)="onFilterChange(entry)">{{CURRENTLY_COMPLETED['fieldValue']}}
                        <div class="clearfix"></div>
                        <input type="radio" name="filter" [(ngModel)]="model.filter" value="currentenrolled"  (change)="onFilterChange(entry)">{{CURRENTLY_ENROLLED['fieldValue']}}
                    </div>

                    <div class="bottom-view">
                    </div>
                    <!-- <button class="blue-btn" (click)="varifyDelete()">{{EMPLOYEE_NAME['fieldValue']}}</button> -->

                    <!-- Create / Update Form start -->
                    <div>

                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>
                        <form class="form-horizontal" (ngSubmit)="f1.form.valid && trainingCourse.value!=0 && trainingClass.value!=0 && CreateClassSkill(f, $event)"
                            #f1="ngForm" novalidate>



                            <!-- trainingCourse Id -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f1.submitted && trainingCourse.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="trainingCourse">{{TRAINING_ID['fieldValue']}}</label>
                                        <span *ngIf="TRAINING_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="trainingCourse" [(ngModel)]="model.trainingCourse.id"
                                            #trainingCourse="ngModel" title="{{TRAINING_ID['fieldValue']}}" [required]="TRAINING_ID['isMandatory']" (change)="onChangeTrainingCourse($event)">
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option *ngFor="let course of AllTraningCourseId" value="{{course.id}}" [selected]="course.id == model.trainingCourse.id">{{course.traningId}}</option>
                                        </select>
                                        <div *ngIf="f1.submitted && trainingCourse.value==0">
                                            <div [hidden]="!trainingCourse.value==0">
                                                {{TRAINING_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- DESC -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f1.submitted && !desc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="">{{DESCRIPTION['fieldValue']}}</label>
                                        <span *ngIf="DESCRIPTION['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input disabled type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model.desc" #desc="ngModel" title="{{DESCRIPTION['helpMessage']}}"
                                            maxlength="21" [required]="DESCRIPTION['isMandatory']" />
                                        <div *ngIf="f1.submitted && desc.invalid">
                                            <div [hidden]="!desc.errors.required">
                                                {{DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!desc.errors?.maxlength" *ngIf="DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                {{DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>






                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">

                                            <button [ngClass]="'grey-btn'" type="button" (click)="zoom()">{{ZOOM['fieldValue']}}</button>
                                            <button [ngClass]="'orange-btn'"  type="button" (click)="refreshClassEnrolment()"  type="button">{{REDISPLAY['fieldValue']}}</button>
                                            <button [ngClass]="'blue-btn'" type="button" [routerLink]="['/hcm/trainingCourse']">{{OK['fieldValue']}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Create / Update Form Ends -->
                </div>
            </div>
        </section>
    </section>


    <!-- Training Course and Class Definition setup – Employee Training -->
    <section class="content" *ngIf="EmployeeTrainingWindow">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{TRAINING_COURSE_AND_CLASS_DEFINCATION_SETUP_EMPLOYEE_TRAINING['fieldValue']}}</h2>
            <!-- <button class="orange-btn" (click)="createEmployeeTraining(f)" title="{{CREATE['helpMessage']}}">{{CREATE['fieldValue']}}</button> -->
        </div>

        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <!-- <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{defaultFormValues[34]['helpMessage']}}" placeholder="{{defaultFormValues[34]['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div> -->
                </div>
                <!-- Content Heading Ends -->
                <div class="algo-table algo-table-department">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">

                        <ngx-datatable id="TrainingCourseGrid1" class="material" [rows]="rowsEmployeeTraining" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPageEmployeeTraining($event)' [selected]="selectedEmployeeTraining" [selectionType]="'checkbox'" (select)='onSelectEmployeeTraining($event)'>



                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <!-- Data Grid TRAINING_ID -->
                            <ngx-datatable-column name="traningCourse" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('traningCourse.traningId')">{{TRAINING_ID['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.traningId}}
                                </ng-template>
                            </ngx-datatable-column>

                            <!-- Data Grid TRAINING_DESCRIPTION -->
                            <ngx-datatable-column name="traningCourse" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('traningCourse.desc')">{{TRAINING_DESCRIPTION['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.desc}}
                                </ng-template>
                            </ngx-datatable-column>

                            <!-- Data Grid  CLASS_ID -->
                            <ngx-datatable-column name="trainingClassList" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('trainingClassList')">{{CLASS_ID['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span *ngFor="let val of value">{{val.classId}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <!-- Data Grid  COMPLETE -->
                            <ngx-datatable-column name="trainingClassStatus" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('trainingClassStatus')">{{COMPLETE['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                        <input type="checkbox"  [checked]="row.trainingClassStatus == 2" name="completed" (change)="markAsComplete(row, $event.target.checked)">
                                </ng-template>
                            </ngx-datatable-column>

                            <!-- Data Grid COMMENTS -->
                            <ngx-datatable-column name="courseComments" [canAutoResize]="false" [width]="200" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{COMMENTS['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>


                            <!-- Data Grid COMMENTS -->
                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <!-- <div class="bottom-view">
                    </div>-->
                    <button class="blue-btn" (click)="varifyDelete()">{{DELETE['fieldValue']}}</button>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30" id="heading">

                               
                                <h3 *ngIf="!modelEmployee.id">{{CREATE['fieldValue']}} {{TRAINING_COURSE_AND_CLASS_DEFINCATION_SETUP_EMPLOYEE_TRAINING['fieldValue']}}</h3>
                                <h3 *ngIf="modelEmployee.id">{{UPDATE['fieldValue']}} {{TRAINING_COURSE_AND_CLASS_DEFINCATION_SETUP_EMPLOYEE_TRAINING['fieldValue']}}</h3>

                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>

                        <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateEmployeeTraining(f, $event)" #f="ngForm" novalidate>


                            <!-- employeeIndexId Id -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error':f.submitted && employeeMaster.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="employeeMaster">{{EMPLOYEE_ID['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="employeeMaster" [(ngModel)]="modelEmployee.employeeMaster[0].employeeIndexId"
                                            #employeeMaster="ngModel" title="{{EMPLOYEE_ID['fieldValue']}}" [required]="EMPLOYEE_ID['isMandatory']">
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option *ngFor="let employee of AllEmployeeMaster" value="{{employee.employeeIndexId}}" [selected]="employee.employeeIndexId == modelEmployee.employeeMaster[0].employeeIndexId">{{employee?.employeeFirstName}} {{employee?.employeeLastName}}</option>
                                        </select>
                                      <div *ngIf="f.submitted && employeeMaster.value==0">
                                            <div [hidden]="!employeeMaster.value==0">
                                                {{EMPLOYEE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- dtoTrainingCourseDetail Id -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && dtoTrainingCourseDetail.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="dtoTrainingCourseDetail">{{TRAINING_ID['fieldValue']}}</label>
                                        <span *ngIf="TRAINING_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="dtoTrainingCourseDetail" [(ngModel)]="modelEmployee.traningCourse.id"
                                            #dtoTrainingCourseDetail="ngModel" title="{{TRAINING_ID['fieldValue']}}" [required]="TRAINING_ID['isMandatory']" (change)="changeTraningCourseId($event)">
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option *ngFor="let course of AllTraningCourseId" value="{{course.id}}" [selected]="course.id == modelEmployee.traningCourse.id">{{course.traningId}}</option>
                                        </select>
                                        <div *ngIf="f.submitted && dtoTrainingCourseDetail.value==0">
                                            <div [hidden]="!dtoTrainingCourseDetail.value==0">
                                                {{TRAINING_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- trainingClass Id -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && trainingClass.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="trainingClass">{{CLASS_ID['fieldValue']}}</label>
                                        <span *ngIf="CLASS_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="trainingClass" [(ngModel)]="modelEmployee.trainingClassList[0].id"
                                            #trainingClass="ngModel" title="{{CLASS_ID['fieldValue']}}" [required]="CLASS_ID['isMandatory']">
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option *ngFor="let class of getClass" value="{{class.id}}" [selected]="class.id == modelEmployee.trainingClassList[0].id">{{class.classId}}</option>
                                        </select>
                                        <div *ngIf="f.submitted && trainingClass.value==0">
                                            <div [hidden]="!trainingClass.value==0">
                                                {{CLASS_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- completeDate -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && !frmCompleteDate.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="completeDate">{{DATE_COMPLETED['fieldValue']}}</label>
                                        <span *ngIf="DATE_COMPLETED['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8 ">
                                        <div class="input-group">
                                            <input [ngClass]="'form-control fm-txt'" placeholder="{{DATE_COMPLETED['helpMessage']}}" ngx-mydatepicker name="frmCompleteDate"
                                                [(ngModel)]="modelEmployee.completeDate" [options]="myOptions" #dp1="ngx-mydatepicker"
                                                (dateChanged)="onStartDateChanged($event)" (change)="onStartDateChanged($event.target.value)"
                                                #frmCompleteDate="ngModel" [required]="DATE_COMPLETED['isMandatory']" [readonly]="!DATE_COMPLETED['writeAccess']" title="{{DATE_COMPLETED['helpMessage']}}"
                                                id="start_date" />

                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                                <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div *ngIf="f.submitted && frmCompleteDate.invalid">
                                            <div [hidden]="!frmCompleteDate.errors.required">
                                                {{DATE_COMPLETED['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- trainingClassStatus Field -->
                            <div class=" form-group">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="comptrainingClassStatusleted">{{COMPLETED['fieldValue']}}</label>
                                        
                                    </div>
                                    <div class="col-md-8">
                                            
                                        <input type="checkbox" [ngClass]="'fm-txt'" name="completed"[(ngModel)]="modelEmployee.trainingClassStatus"  [checked]="modelEmployee.trainingClassStatus == 2"   (change)="updateTrainingClassStatus($event.target.checked)">
                                        <!-- <div *ngIf="f.submitted && trainingClassStatus.invalid">
                                            <div [hidden]="!trainingClassStatus.errors.required">
                                                {{COMPLETED['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- COMMENTS Field -->
                            <div class=" form-group">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="courseComments">{{COMMENTS['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="courseComments" [(ngModel)]="modelEmployee.courseComments" #courseComments="ngModel" title="{{COMMENTS['helpMessage']}}"
                                             maxlength="61" />
                                        <!--<div *ngIf="f.submitted && courseComments.invalid">
                                            <div [hidden]="!courseComments.errors.required">
                                                {{COMMENTS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div> -->
                                    </div>
                                </div>
                            </div>




                            <!-- Buttons -->
                            <div class="button-row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-xs-12">
                                        <span class="pull-right">
                                            <button [ngClass]="'orange-btn'">{{SAVE['fieldValue']}}</button>
                                            <button [ngClass]="'blue-btn'" type="button" (click)="clear(f)">{{CLEAR['fieldValue']}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Create Update form ends -->
                </div>
            </div>
        </section>

    </section>
</div>