

<div class="content-wrapper user-view">
    <section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
            <section class="inner-content">
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
						<div class="form-row">
							<div class="col-xs-12">
								<div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control" 
											(keyup)='updateFilter($event)' />
									</div>
								</div>
								<div class="algo-table">
									<div class="table-responsive">          
										<ngx-datatable id="vendorMaintenance" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="Searchselected"> 
											 <ngx-datatable-column *ngIf="gridDefaultFormValues[0]['readAccess']" name="venderId" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[0]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[3]['readAccess']" name="venderNamePrimary" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[3]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[4]['readAccess']" name="venderNameSecondary" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[4]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<!--<ngx-datatable-column *ngIf="gridDefaultFormValues[5]['readAccess']" name="shortName" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[5]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>-->
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[6]['readAccess']" name="classID" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[6]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[6]['readAccess']" name="priority" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[21]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											 <ngx-datatable-column *ngIf="gridDefaultFormValues[20]['readAccess']" name="Action" [width]="99" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[20]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
													<a class="edit-ico" (click)="edit(row)" title="{{gridDefaultFormValues[18]['helpMessage']}}" *ngIf="gridDefaultFormValues[18]['readAccess']" ></a>
												</ng-template>
											</ngx-datatable-column>
										 </ngx-datatable>
									</div>
								</div><!-- Algo Table Ends -->
								  <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
							</div>
						</div><!-- Form Row Ends -->


						 <form class="search-batch" name="vendor" (ngSubmit)="vendor.form.valid && save(vendor)" #vendor="ngForm" novalidate>
							<div class="form-row" style=" min-height: 10px;margin-bottom: 10px;"> 
								<div class="col-sm-6" [ngClass]="{ 'has-error': vendor.submitted && !vendorID.valid }">
									<div class="row">
									<div class="col-sm-5" *ngIf="defaultFormValues[0]['readAccess']">
										<div [ngClass]="{ 'has-error': vendor.submitted && !vendorID.valid }">
										<label>{{defaultFormValues[0]['fieldValue']}}</label>
										 
									</div>
									</div>
									<div class="col-sm-7">
										<div class="row">
											<div class="col-sm-8" >
												
												<input myAutofocus type="text" class="form-control fm-txt wd100 {{myHtml}} auto-focus" id="txtvendorId" name="vendorID" [(ngModel)]="vendorMaintenance.vendorID" (blur)="IsIdAlreadyExist()" title="{{defaultFormValues[0]['helpMessage']}}" 
												#vendorID="ngModel" maxlength="10" [disabled]="disableId" required>
												
										</div>
											 <div class="col-md-4 col-sm-4 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']">
												<span class="choose-opt"><label><input type="checkbox" name="hold" [checked]="vendorMaintenance.hold" [(ngModel)]="vendorMaintenance.hold" title="{{defaultFormValues[1]['helpMessage']}}"/>{{defaultFormValues[1]['fieldValue']}}</label></span>
											</div>
										</div>
										
									</div>
								</div>

								<div *ngIf="vendor.submitted && vendorID.invalid">
													<div class='error-msg' *ngIf="vendorID.errors.required">
														{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
													</div>
													<div class='error-msg' *ngIf="vendorID.errors.maxlength">
														{{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
													</div>
												
											</div> 

								</div>
									
								<div class="col-md-6 col-sm-6 col-xs-12" [ngClass]="{ 'has-error': vendor.submitted && !status.valid }" *ngIf="defaultFormValues[2]['readAccess']">
									<span ><label>{{defaultFormValues[2]['fieldValue']}}</label></span>
									 <div class="select-outer">
										 <select class="form-control" title="{{defaultFormValues[2]['helpMessage']}}" name="status" [(ngModel)]="vendorMaintenance.status" #status="ngModel" required>
											<option value="">--{{select}}--</option>
											<option value="1">Active </option>
											<option value="2">Inactive</option>
										 </select>
										
									</div> 
									<div *ngIf="vendor.submitted && status.invalid">
										<div class='error-msg' *ngIf="status.errors.required">
											{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>

						    </div>
					

							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" title="{{defaultFormValues[3]['helpMessage']}}" *ngIf="defaultFormValues[3]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !firstName.valid }">
									<label>{{defaultFormValues[3]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="firstName" [(ngModel)]="vendorMaintenance.firstName" #firstName="ngModel" required maxlength="50">
									<div *ngIf="vendor.submitted && firstName.invalid">
										<div class='error-msg' *ngIf="firstName.errors.required">
											{{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="firstName.errors.maxlength">
											{{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12  arabic-mode" *ngIf="defaultFormValues[4]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !ArabicName.valid }">
								  <label>{{defaultFormValues[4]['fieldValue']}}</label>
								  <input type="text" class="form-control fm-txt" title="{{defaultFormValues[4]['helpMessage']}}" name="ArabicName" [(ngModel)]="vendorMaintenance.ArabicName" #ArabicName="ngModel" required maxlength="50">
									<div *ngIf="vendor.submitted && ArabicName.invalid">
										<div class='error-msg' *ngIf="ArabicName.errors.required">
											{{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="ArabicName.errors.maxlength">
											{{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
									</div>
								</div>
							</div><!-- Form Row Ends -->

							<div class="form-row">
								 <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[5]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !ShortName.valid }">
									<label>{{defaultFormValues[5]['fieldValue']}}</label>
									<input type="text" title="{{defaultFormValues[5]['helpMessage']}}" class="form-control fm-txt" name="ShortName" [(ngModel)]="vendorMaintenance.ShortName" #ShortName="ngModel" required maxlength="25">
									<div *ngIf="vendor.submitted && ShortName.invalid">
										<div class='error-msg' *ngIf="ShortName.errors.required">
											{{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="ShortName.errors.maxlength">
											{{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[6]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && classId.length == 0  }">
                              <label>{{defaultFormValues[6]['fieldValue']}}</label>
                              <div class="select-outer">
								<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrClassId" [(ngModel)]="classId" id="classId"[ngModelOptions]="{standalone: true}"
                                       [settings]="ddlClassIdSetting" 
									 (onSelect)="getClassByID($event)" (onDeSelect)="OnClassIdDeSelect($event)"></angular2-multiselect>
								</div>   
								<div *ngIf="vendor.submitted && classId.length == 0 ">
									<div class='error-msg'>
										{{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
								</div>
                            </div>

							</div>
							<!-- Form Row Ends -->

						   <div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[7]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !StatementName.valid }">
									<label>{{defaultFormValues[7]['fieldValue']}}</label>
									<input type="text" title="{{defaultFormValues[7]['helpMessage']}}" class="form-control fm-txt" name="StatementName" [(ngModel)]="vendorMaintenance.StatementName" #StatementName="ngModel" required maxlength="50">
									<div *ngIf="vendor.submitted && StatementName.invalid">
										<div class='error-msg' *ngIf="StatementName.errors.required">
											{{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="StatementName.errors.maxlength">
											{{defaultFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
									</div>
								</div>
							</div><!-- Form Row Ends -->

							<div class="form-row">
								
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="form-row" *ngIf="defaultFormValues[8]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !adress1.valid }">
										<label>{{defaultFormValues[8]['fieldValue']}}</label>
										<input type="text" title="{{defaultFormValues[8]['helpMessage']}}" class="form-control fm-txt" name="adress1" [(ngModel)]="vendorMaintenance.adress1" #adress1="ngModel" required>
										<div *ngIf="vendor.submitted && adress1.invalid">
													<div class='error-msg' *ngIf="adress1.errors.required">
														{{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
													</div>
												</div>
									</div>

									<div class="form-row" *ngIf="defaultFormValues[20]['readAccess']">
										 <label></label>
                              			<input type="text" class="form-control fm-txt" title="{{defaultFormValues[20]['helpMessage']}}" name="adress2" [(ngModel)]="vendorMaintenance.adress2">
									</div>

									<div class="form-row" *ngIf="defaultFormValues[21]['readAccess']">
										<label></label>
                              			<input type="text" title="{{defaultFormValues[21]['helpMessage']}}" class="form-control fm-txt" name="adress3" [(ngModel)]="vendorMaintenance.adress3">
									</div>
                                    <div class="form-row" *ngIf="defaultFormValues[15]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !country.valid }">
										<label>{{defaultFormValues[15]['fieldValue']}}</label>
										<select class="form-control fm-txt wd55" title="{{defaultFormValues[15]['helpMessage']}}"name='country' [(ngModel)]="formCountries"  #country="ngModel" (change)="selected($event)" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let c of countries" [value]="c.countryId">{{c.countryName}}</option>
										</select>
										<div *ngIf="vendor.submitted && country.invalid">
											<div class='error-msg' *ngIf="country.errors.required">
												{{defaultFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>
										</div>
									</div> 
									<div class="form-row" *ngIf="defaultFormValues[16]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !state.valid }">
										<label>{{defaultFormValues[16]['fieldValue']}}</label>
										<select class="form-control fm-txt wd55" title="{{defaultFormValues[16]['helpMessage']}}"name='state' [(ngModel)]="formStates" (change)="selectedState($event)" #state="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let s of states" [ngValue]="s.stateId">{{s.stateName}}</option>
										</select>
										<div *ngIf="vendor.submitted && state.invalid">
											<div class='error-msg' *ngIf="state.errors.required">
												{{defaultFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>
										</div>
										
									</div>

									<div class="form-row" *ngIf="defaultFormValues[17]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !city.valid }">
										<label>{{defaultFormValues[17]['fieldValue']}}</label>
										<select class="form-control fm-txt wd55" title="{{defaultFormValues[17]['helpMessage']}}" name='city' [(ngModel)]="formCities" #city="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let c of cities" [ngValue]="c.cityId">{{c.cityName}}</option>
										</select>
										<div *ngIf="vendor.submitted && city.invalid">
											<div class='error-msg' *ngIf="city.errors.required">
												{{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>
										</div>
									</div>

									
							  
                            </div>

                             <div class="col-md-6 col-sm-6 col-xs-12" >
								<div class="form-row arabic-mode" *ngIf="defaultFormValues[9]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !phone1.valid }">
									<label>{{defaultFormValues[9]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt " title="{{defaultFormValues[9]['helpMessage']}}" name="phone1" [(ngModel)]="vendorMaintenance.phone1" #phone1="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    required maxlength="10" pattern="[0-9]+">
									<div *ngIf="vendor.submitted && phone1.invalid">
												<div class='error-msg' *ngIf="phone1.errors.required">
													{{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
												</div>
												<div class='error-msg' *ngIf="phone1.errors.maxlength">
													{{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
												</div>
												<div class='error-msg' *ngIf="phone1.errors.pattern">
													Please enter valid mobile number
												</div>
											</div>

								</div>

								<div class="form-row arabic-mode" *ngIf="defaultFormValues[10]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !phone2.valid }">
									<label>{{defaultFormValues[10]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="phone2" title="{{defaultFormValues[10]['helpMessage']}}" [(ngModel)]="vendorMaintenance.phone2" #phone2="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    maxlength="10" pattern="[0-9]+">
									<div *ngIf="vendor.submitted && phone2.invalid">
												<!--<div class='error-msg' *ngIf="phone2.errors.required">
													{{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
												</div>-->
												<div class='error-msg' *ngIf="phone2.errors.maxlength">
													{{defaultFormValues[10]['listDtoFieldValidationMessage'][1]['validationMessage']}}
												</div>
												<div class='error-msg' *ngIf="phone2.errors.pattern">
													Please enter valid mobile number
												</div>
											</div>

								</div>

								<div class="form-row arabic-mode" *ngIf="defaultFormValues[11]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !phone3.valid }">
									<label>{{defaultFormValues[11]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt arabic-mode" name="phone3" title="{{defaultFormValues[11]['helpMessage']}}" [(ngModel)]="vendorMaintenance.phone3" #phone3="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    maxlength="10" pattern="[0-9]+">
										<div *ngIf="vendor.submitted && phone3.invalid">
												<!--<div class='error-msg' *ngIf="phone3.errors.required">
													{{defaultFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
												</div>-->
												<div class='error-msg' *ngIf="phone3.errors.maxlength">
													{{defaultFormValues[11]['listDtoFieldValidationMessage'][1]['validationMessage']}}
												</div>
												<div class='error-msg' *ngIf="phone3.errors.pattern">
													Please enter valid mobile number
												</div>
											</div>


								</div>

								<div class="form-row" *ngIf="defaultFormValues[12]['readAccess']" [ngClass]="{ 'has-error': vendor.submitted && !fax.valid }">
									<label>{{defaultFormValues[12]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="fax" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"     title="{{defaultFormValues[12]['helpMessage']}}" [(ngModel)]="vendorMaintenance.fax" #fax="ngModel" required maxlength="10">
										<div *ngIf="vendor.submitted && fax.invalid">
												<div class='error-msg' *ngIf="fax.errors.required">
													{{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
												</div>
												<div class='error-msg' *ngIf="fax.errors.maxlength">
													{{defaultFormValues[12]['listDtoFieldValidationMessage'][1]['validationMessage']}}
												</div>
											</div>

								</div>

								<div class="form-row" *ngIf="defaultFormValues[13]['readAccess']">
									<label>{{defaultFormValues[13]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="userDefine1" title="{{defaultFormValues[13]['helpMessage']}}" [(ngModel)]="vendorMaintenance.userDefine1">

								</div>

								<div class="form-row" *ngIf="defaultFormValues[14]['readAccess']">
								
									<label>{{defaultFormValues[14]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" title="{{defaultFormValues[14]['helpMessage']}}" name="userDefine2" [(ngModel)]="vendorMaintenance.userDefine2">
								
							</div>


                            </div>


							</div><!-- Form Row Ends -->
							<div class="button-row">
								<div class="col-sm-12">
									<input type="submit" *ngIf="(add && defaultFormValues[18]['readAccess'])" 
									value="{{defaultFormValues[18]['fieldValue']}}" class="orange-btn" 
									title="{{defaultFormValues[18]['helpMessage']}}" 
									[disabled]="LockScreen(defaultFormValues[18]['writeAccess'])" >
									<input type="submit" *ngIf="(!add && defaultFormValues[18]['readAccess'])" 
									value="{{defaultFormValues[18]['fieldValue']}}" class="orange-btn" 
									title="{{defaultFormValues[18]['helpMessage']}}" 
									[disabled]="LockScreen(defaultFormValues[18]['writeAccess'])">
									<input type="button"  class="blue-btn" title="{{defaultFormValues[19]['helpMessage']}}" 
									(click)="clear(vendor)" value="{{defaultFormValues[19]['fieldValue']}}" />
										<input type="button" class="blue-btn" *ngIf="showBtns" (click)="Cancel(vendor)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
									<input type="button" (click)="redirect()" 
									[disabled]="LockScreen(defaultFormValues[22]['writeAccess'])"
									class="blue-btn" title="{{defaultFormValues[22]['helpMessage']}}" 
									value="{{defaultFormValues[22]['fieldValue']}}"/>
									<input type="button"  (click)="redirect1()" 
									[disabled]="LockScreen(defaultFormValues[23]['writeAccess'])"
									 class="blue-btn" title="{{defaultFormValues[23]['helpMessage']}}" 
									 value="{{defaultFormValues[23]['fieldValue']}}"/>
										
									<!--<button class="blue-btn">Options</button>
									<button class="blue-btn">Accounts</button>-->
								</div>
							</div><!-- Buton Row Ends -->
						</form>
						
						
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>