<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{EMPLOYEE_CONTACTS_CREATE['fieldValue']}}">{{EMPLOYEE_CONTACTS_CREATE['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{SEARCH['helpMessage']}}" placeholder="{{SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
      </div>
        <div class="algo-table algo-table-department doNotPrint">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="SkillsSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">
              <!-- Data Grid checkbox -->
              <ngx-datatable-column id="checkboxCol" [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                </div>
              </div>
              <!-- Data Grid Action -->
              <ngx-datatable-column id="actionCol" class="doNotPrint" name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template class="doNotPrint"  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <!-- {{ACTION['fieldValue']}} -->Action
                </ng-template>
                <ng-template class="doNotPrint"  let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>

        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
        </div>
        <!-- Table View Ends -->
        <div *ngIf="(isUnderUpdate && doNotPrintHearder)" style="border: 1px solid gray" [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
          <div class="col-md-3">
              <label class="control-label" style="font-size: 24px" for="employeeIdForm">{{EMPLOYEE_ID['fieldValue']}}</label>
              <span *ngIf="EMPLOYEE_ID['isMandatory']">*</span>
          </div>
          <div class="col-md-2">
              <input disabled type="text" style="font-size: 21px" [ngClass]="'form-control fm-txt'" name="employeeIdForm" [(ngModel)]="employeeIndexId" #employeeIdForm="ngModel"
              />
          </div>
          <div class="col-md-2">
            <label class="control-label" for="name" style="font-size: 24px">Name</label>
          </div>
          <div class="col-md-5">
            <input type="text" name="empdesc" style="font-size: 21px" [ngClass]="'form-control fm-txt noBorderPrint'" [(ngModel)]="emcmname" readonly>
          </div>
        </div>
        <div class="bottom-view">
        </div>
        <button class="blue-btn" (click)="varifyDelete()">{{EMPLOYEE_CONTACTS_DELETE['fieldValue']}}</button>

        <!-- Create / Update Form start -->
        <div *ngIf="showCreateForm">
          <div class="col-md-12 mt-30 doNotPrint">
            <hr>
            <h3 *ngIf="model.listContact.length == 0 || !model.listContact[0].id">{{EMPLOYEE_CONTACTS_CREATE_FORM['fieldValue']}}</h3>
            <h3 *ngIf="model.listContact.length > 0 && model.listContact[0].id">{{EMPLOYEE_CONTACTS_UPDATE_FORM['fieldValue']}}</h3>
          </div>
          <div class="col-md-12 mt-30"></div>
          <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="clearfix"></div>
          <form class="form-horizontal" #f="ngForm" novalidate>
            <!--<div class="row">-->
            <!-- <div class="col-md-6">-->
            <div>
              <div class="form-group">

                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #update>
                  <!-- <input type="hidden" name="empId" [(ngModel)]="employeeIndexId" #empId="ngModel" value="{{skillSetDescId}}">   -->
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="empId">{{EMPLOYEE_ID['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-4">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="empId" value="{{employeeId}}" (keyup)="CheckNumber($event)" title="{{EMPLOYEE_ID['helpMessage']}}"
                      [readonly]="!EMPLOYEE_ID['writeAccess']"  [required]="EMPLOYEE_ID['isMandatory']" />
                      
                    </div>
                    <div class="col-md-4">
                      <input type="text" name="empdesc" [ngClass]="'form-control fm-txt'" [(ngModel)]="emcmname" readonly>
                    </div>
                  </div>
                </ng-template>


                <ng-template #create>
                
                  <div [ngClass]="{ 'has-error': (submitted && !empId.valid) || (submitted && employyeIdValid==false),'col-md-8 col-sm-6 col-xs-12':noPrintTable,'col-md-12 col-sm-10 col-xs-16':!noPrintTable, 'col-md-offset-4': currentLanguage == 2 }">
                    <div style="vertical-align:middle">
                      <div [ngClass]="{'col-md-4':noPrintTable, 'col-md-3':!noPrintTable}">
                        <label class="control-label" for="empId">{{EMPLOYEE_ID['fieldValue']}}</label>
                        <span *ngIf="EMPLOYEE_ID['isMandatory']">*</span>
                      </div>
                      <div [ngClass]="{'col-md-4':noPrintTable, 'col-md-8':!noPrintTable}" id="EmpId">
                        <input type="text" [ngClass]="'form-control fm-txt noBorderPrint'" name="empId" [(ngModel)]="employeeId" #empId="ngModel"
                          title="{{EMPLOYEE_ID['helpMessage']}}" maxlength="15"  [required]="EMPLOYEE_ID['isMandatory']" [typeahead]="setIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                          autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="employeeId" (input)="checkValid1($event)"
                          class="search-id" [readonly]="!EMPLOYEE_ID['writeAccess']" />
                        <div *ngIf="submitted && empId.invalid || (submitted && employyeIdValid==false)">
                          <div [hidden]="!empId.errors?.required">
                            {{EMPLOYEE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!empId.errors?.maxlength" *ngIf="EMPLOYEE_ID['listDtoFieldValidationMessage'][1]">
                            {{EMPLOYEE_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                          <div *ngIf="!empId.errors?.required && employyeIdValid==false">Invalid Employee Id</div>
                        </div>
                      </div>
                    </div>
                    <div style="vertical-align:middle">
                      <div class="col-md-3" [hidden]="noPrintTable">
                        <label class="control-label" for="empdesc">Employee Name</label>
                      </div>
                      <div [ngClass]="{'col-md-4':noPrintTable, 'col-md-8':!noPrintTable}" id="EmpName">
                        <input type="text" name="empdesc" [ngClass]="'form-control fm-txt noBorderPrint'" [(ngModel)]="emcmname" readonly>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>

              <!-- SkillsSteup Description Field -->
              <div class="form-group" [ngClass]="{'doNotPrint': !isUnderUpdate}">
                <div [ngClass]="{'has-error':submitted && !contactname.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="contactname">{{EMPLOYEE_CONTACT_NAME['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_CONTACT_NAME['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="contactname" [(ngModel)]="contactName" #contactname="ngModel"
                      title="{{EMPLOYEE_CONTACT_NAME['helpMessage']}}"  [required]="EMPLOYEE_CONTACT_NAME['isMandatory']" maxlength="150" />
                    <div *ngIf="submitted && contactname.invalid">
                      <div [hidden]="!contactname.errors.required">
                        {{EMPLOYEE_CONTACT_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!contactname.errors?.maxlength" *ngIf="EMPLOYEE_CONTACT_NAME['listDtoFieldValidationMessage'][1]">
                        {{EMPLOYEE_CONTACT_NAME['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Arabic location description -->
              <div class="form-group" [ngClass]="{'doNotPrint': !isUnderUpdate}">
                <div [ngClass]="{'has-error': submitted && !contactnamearbic.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="contactnamearbic">{{EMPLOYEE_CONTACT_NAME_ARABIC['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_CONTACT_NAME_ARABIC['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="contactnamearbic" [(ngModel)]="contactNameArbic" #contactnamearbic="ngModel"
                      title="{{EMPLOYEE_CONTACT_NAME_ARABIC['helpMessage']}}" maxlength="150" [required]="EMPLOYEE_CONTACT_NAME_ARABIC['isMandatory']" />
                    <div *ngIf="submitted && contactnamearbic.invalid">
                      <div [hidden]="!contactnamearbic.errors.required">
                        {{EMPLOYEE_CONTACT_NAME_ARABIC['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!contactnamearbic.errors?.maxlength" *ngIf="EMPLOYEE_CONTACT_NAME_ARABIC['listDtoFieldValidationMessage'][1]">
                        {{EMPLOYEE_CONTACT_NAME_ARABIC['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Arabic location description -->
              <div class="form-group" [ngClass]="{'doNotPrint': !isUnderUpdate}">
                <div [ngClass]="{'has-error': submitted && relationships.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="relationships">{{RELATIONSHIP['fieldValue']}}</label>
                    <span *ngIf="RELATIONSHIP['isMandatory']">*</span>
                  </div>
                  <div class="col-md-5">
                    <select [ngClass]="'form-control fm-txt'" name="relationships" [(ngModel)]="relation" #relationships="ngModel" title="{{RELATIONSHIP['helpMessage']}}"
                      maxlength="31">
                      <option value="">--Select Relationship--</option>
                      <option *ngFor="let data of relationship" [value]="data.desc">{{data.desc}}</option>
                    </select>
                    <div *ngIf="submitted && relationships.value==0">
                      <div [hidden]="!relationships.value==0">
                        {{RELATIONSHIP['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!relationships.errors?.maxlength" *ngIf="RELATIONSHIP['listDtoFieldValidationMessage'][1]">
                        {{RELATIONSHIP['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" [ngClass]="{'doNotPrint': !isUnderUpdate}">
                <div [ngClass]="{'has-error':submitted && !homephone.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="homephone">{{HOME_PHONE['fieldValue']}}</label>
                    <span *ngIf="HOME_PHONE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-5">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="homephone" [(ngModel)]="homePhone" #homephone="ngModel" title="{{HOME_PHONE['helpMessage']}}"
                      maxlength="21"  [required]="HOME_PHONE['isMandatory']" [pattern]="phonePattern" PhonenumberFaxDirective="true"/>
                    <div *ngIf="submitted && homephone.invalid">
                      <div [hidden]="!homephone.errors.required">
                        {{HOME_PHONE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!homephone.errors?.maxlength" *ngIf="HOME_PHONE['listDtoFieldValidationMessage'][1]">
                        {{HOME_PHONE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                      <div *ngIf="homephone.dirty && homephone.value.length!=0">
                        Invalid Home Phone Number
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group" [ngClass]="{'doNotPrint': !isUnderUpdate}">
                <div [ngClass]="{'has-error':submitted && !mobilephone.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="mobilephone">{{MOBILE_PHONE['fieldValue']}}</label>
                    <span *ngIf="MOBILE_PHONE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-5">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="mobilephone" [(ngModel)]="mobileNo" #mobilephone="ngModel" title="{{MOBILE_PHONE['helpMessage']}}"
                      maxlength="21"  [required]="MOBILE_PHONE['isMandatory']" [pattern]="phonePattern" PhonenumberFaxDirective="true" />
                    <div *ngIf="submitted && mobilephone.invalid">
                      <div [hidden]="!mobilephone.errors.required">
                        {{MOBILE_PHONE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!mobilephone.errors?.maxlength" *ngIf="MOBILE_PHONE['listDtoFieldValidationMessage'][1]">
                        {{MOBILE_PHONE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                      <div *ngIf="mobilephone.dirty && mobilephone.value.length!=0">
                        Invalid Mobile Phone Number
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group" [ngClass]="{'doNotPrint': !isUnderUpdate}">
                <div [ngClass]="{'has-error': submitted && !workno.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="workno">{{WORK_PHONE['fieldValue']}}</label>
                    <span *ngIf="WORK_PHONE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-5">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="workno" [(ngModel)]="workNo" #workno="ngModel" title="{{WORK_PHONE['helpMessage']}}"
                      maxlength="21" [pattern]="phonePattern" PhonenumberFaxDirective="true"/>
                    <div *ngIf="submitted && workno.invalid">
                      <div *ngIf="workno.dirty && workno.value.length!=0">
                        Invalid Work Phone Number
                      </div>
                    </div>
                  </div>

                  <div class="col-md-1">
                    <label class="control-label" for="workno">{{EXT['fieldValue']}}.</label>
                    <span *ngIf="EXT['isMandatory']">*</span>
                  </div>
                  <div class="col-md-2">
                    <input type="number" name="ext" [ngClass]="'form-control fm-txt'" [(ngModel)]="extention" #ext="ngModel">
                    <div *ngIf="submitted && ext.invalid">
                      <div [hidden]="!ext.errors.required">
                        {{EXT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!ext.errors?.maxlength" *ngIf="WORK_PHONE['listDtoFieldValidationMessage'][1]">
                        {{EXT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group" [ngClass]="{'doNotPrint': !isUnderUpdate}">
                <div [ngClass]="{'has-error': submitted && !add.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="add">{{ADDRESS['fieldValue']}}</label>
                    <span *ngIf="ADDRESS['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="add" [(ngModel)]="address" #add="ngModel" title="{{ADDRESS['helpMessage']}}"
                      maxlength="150" />
                    <div *ngIf="submitted && add.invalid">
                      <div [hidden]="!add.errors.required">
                        {{ADDRESS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!add.errors?.maxlength" *ngIf="ADDRESS['listDtoFieldValidationMessage'][1]">
                        {{ADDRESS['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isUnderUpdate; then showgrid else hidegrid"></div>
            <ng-template #hidegrid>
              <div class="col-md-12">
                <div [ngClass]="{'col-md-8':noPrintTable}">
                  <div class="algo-table algo-table-department">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                      <ngx-datatable id="SkillsSetupGrid1" class="material" [rows]="empDependent" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="'auto'" [externalPaging]="false" [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'
                       >
                        <!-- Data Grid checkbox -->
                        <ngx-datatable-column *ngIf="noPrintTable" class="doNotPrint" [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true"
                          [headerCheckboxable]="true" [checkboxable]="true">
                        </ngx-datatable-column>

                        <!-- Data Grid SkillsSteup Id -->
                        <ngx-datatable-column name="employeeContactName" [width]="140" [canAutoResize]="!noPrintTable" [draggable]="false" [resizeable]="true">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sortColumn('employeeContactName')">Contact Name</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid SkillsSteup Description -->
                        <ngx-datatable-column name="employeeContactNameRelationship" [width]="120" [canAutoResize]="!noPrintTable" [draggable]="false" [resizeable]="true">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sortColumn('employeeContactNameRelationship')">Relationship</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid  Arabic SkillsSteup Description -->
                        <ngx-datatable-column name="employeeContactHomePhone" [width]="125" [canAutoResize]="!noPrintTable" [draggable]="false" [resizeable]="true">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sortColumn('employeeContactHomePhone')">Home Phone</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="employeeContactMobilePhone" [width]="130" [canAutoResize]="!noPrintTable" [draggable]="false" [resizeable]="true">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sortColumn('employeeContactMobilePhone')">Mobile Phone</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>

                  </div>
                </div>

                <div [ngClass]="{'col-md-4':noPrintTable}" class="doNotPrint" style="height: 100%; text-align: center;margin-top:50px;">
                  <button type="button" (click)="submitted=true" (click)="f.valid  && employyeIdValid && moveToAllEmployee()" style="font-size: 25px;margin: 2px;">
                    <i class="fa fa-long-arrow-left"></i>
                  </button>
                  <div class="clearfix"></div>
                  <button type="button" (click)="moveToSelected()" style="font-size: 25px;margin: 2px;">
                    <i class="fa fa-long-arrow-right"></i>
                  </button>


                </div>

                <!-- Data Grid Ends-->
              </div>
            </ng-template>
            <!-- Buttons -->
            <div [ngClass]="'button-row'">
              <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                <div [ngClass]="'col-xs-12'">
                  <span class="pull-right">
                      <button [ngClass]="'grey-btn'" type="button" (click)="printEmployeeContactTable()" *ngIf="!model.employeeIndexId">Print</button>
                    <button *ngIf="model.listContact.length > 0 && model.listContact[0].id" [ngClass]="'grey-btn'" (click)="submitted=true"
                      (click)="f.valid && CreateSkillsSetup(f, $event)">{{EMPLOYEE_CONTACTS_UPDATE['fieldValue']}}</button>
                    <button *ngIf="model.listContact.length == 0 || !model.listContact[0].id" [ngClass]="'grey-btn'" (click)="CreateSkillsSetup(f, $event)">{{EMPLOYEE_CONTACTS_SAVE['fieldValue']}}</button>
                    <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)" (click)="islifeTimeValid=true">{{EMPLOYEE_CONTACTS_CLEAR['fieldValue']}}</button>
                    <button [ngClass]="'blue-btn'" (click)="islifeTimeValid=true" (click)="showCreateForm = false;">{{EMPLOYEE_CONTACTS_CANCLE['fieldValue']}}</button>
                  </span>
                </div>
              </div>
            </div>

          </form>
        </div>
        <!-- Create Update form ends -->
      </div>
    </section>
  </section>
</div>
<div id="print-section" class="print-tabel">
  <table border="0" class="table" style="width: 100% !important; min-width: 1200px;  table-layout: fixed; border-spacing: 0; border-collapse: separate; font-family: 'Open Sans', sans-serif;">
      <thead>
          <tr>
              <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                {{EMPLOYEE_ID['fieldValue']}}
              </th>
              <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                {{EMPLOYEE_CONTACT_NAME['fieldValue']}}
              </th>
              <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                {{MOBILE_PHONE['fieldValue']}}
              </th>
              <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                {{RELATIONSHIP['fieldValue']}}
              </th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                {{employeeId}}
              </td>
              <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                {{contactName}}
              </td>
              <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                {{mobileNo}}
              </td>
              <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                {{relationship[0]}}
              </td>
          </tr>
      </tbody>
  </table>
</div>
