/* You can add global styles to this file, and also import other style files */

aside.pcoded-slider.ng-sidebar {
    top: 56px;
}

.slimscroll-wrapper, .scroll-window {
    width: 100% !important;
}

.userlist-box.show {
    display: -webkit-box;
}

.userlist-box.hide {
    display: none;
}

.header_2{
    
    font-family: sans-serif;
    font-family: 'Open Sans';
    color: white !important;

    background-image: linear-gradient(#482e04, #81663b) !important;
   }

.header_1{
    background-color: #c3b9aa !important;
    text-align: center;
    font-family: 'Open Sans';
    color: white !important;
}

.sidebar{
    background-image: linear-gradient(#2c5a4d, #e9e9e9) !important;
   
}

.bottomLine{
    border-bottom-style: groove;
    border-bottom-color: #e9e9e9;
    border-bottom-width: 1px;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -10px;
    color:black;
}


.search-screen{
    margin-top: 0px;
}


.smtSearchOuter {
    display: block;
    position: relative;
    top: 0;
    left: 0;
}
.smtSearchOuter .form-control {
    position: relative;
    left: 0;
    top: 0;
}
/* .smtSearchOuter .smtIcon {
    position: absolute !important;
    top: 6px;
    right: 8px;
    color: #a7a7a7;
    font-size: 20px;
} */

.h1_company-name {
    color: white;
    font-weight: 800;
    font-size: 17px;
}

.pcoded .pcoded-navbar[navbar-theme="theme4"] .pcoded-item > li.pcoded-hasmenu .pcoded-submenu {
    background-color: #ffff !important;
    color: black;
}
.pcoded .pcoded-navbar[navbar-theme="theme4"] .pcoded-item li.pcoded-hasmenu .pcoded-submenu li > a {
    border-bottom-color: #0d1c3e;
    color: black;
}

.label {
    border-radius: 4px;
    font-size: 75%;
    padding: 4px 7px;
    margin-right: 5px;
    font-weight: 700;
    color: black !important;
}


/* .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
  }
   */