
 <div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content" >
    <div class="modal-header">
        <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
        {{confirmationModalTitle}}
      </div>
    <div class="modal-body">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{logoutConfirmation}}</p>
    </div>
    <div class="modal-footer">
     
           <button class="green-btn" (click)='Logout()'>{{OkText}}</button>
           <button class="red-btn" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>


<div id="pcoded"  (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect" vnavigation-view="view1" (keydown)='EscapeModal($event)'>
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    

      <!-- Header 1 -->
      
      <nav class="navbar header-navbar pcoded-header header_1" header-theme="theme4">
        <div class="row navbar header-navbar pcoded-header header_1" header-theme="theme4">
            <div class="navbar-wrapper">
                <div class="navbar-logo" style="width: 250px;" navbar-theme="theme4">
               
                  <div class="col-md-9"><a [routerLink]="['/']">
                    <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" />
                  </a></div>
                  <div class="col-md-3"><a (click)="gotoAllModules()">
                    <i class="fa fa-th fa-2x menu-toggler sidebar-toggler" ></i>
                   
                  </a></div>
                 
                 
                </div>
        
                
        
                <div class="header_1">
                 
                  <h1 style="color: black;font-family: initial;">{{currentCompany}}</h1>
                     
                 
               </div>
             </div>
           
        
          </div>
          <div class="row navbar header-navbar pcoded-header header_2"  header-theme="theme4">
              <div class="navbar-wrapper">
              
           
                <!-- Screen search starts -->
                <div class="navbar-logo" style="width: 250px;" navbar-theme="theme4">
                    <!-- search box -->
                    <div class="smtSearchOuter">
                      <input [(ngModel)]="selectedCountry" class="form-control" placeholder="Enter screen code" tabindex="" />
                      <span><i class="fa fa-search smtIcon"></i></span>
                    </div>
                    <!-- searchbox end -->
  
                  </div>
                  <!-- Screen search ends -->
                  
                  <!-- Company name start -->
                  <!-- <div class="navbar-logo h1_company-name">
                     
                      <h1 style="color: white;">{{currentCompany}}</h1>
                 
    
                    </div> -->
                  <!-- Company name ends -->
          
                  <div class="navbar-container">
                    <div>
                      
                      <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">
                        <!-- company selection starts -->
                        <li class="header-notification lng-dropdown">
                            <a href="javascript:;" id="dropdown-active-item" class="h1_company-name">
                              {{currentCompany}}
                            </a>
                            <ul  class="show-notification">
                              <li *ngFor="let comp of arrCompany" (click)="ChangeLanguage(lng)">
                                <a href="javascript:;" data-lng="en">
                                  <i></i><span (click)="changeCompany(comp)">{{comp.name}}</span>
                                </a>
                              </li>
                            </ul>
                          </li>
                          <!-- company selection ends -->
                        <li class="header-notification lng-dropdown">
                          <a href="javascript:;" id="dropdown-active-item">
                            <i class="ti-world"></i> {{currentLanguageName}}
                          </a>
                          <ul  class="show-notification">
                            <li *ngFor="let lng of arrLanguage" (click)="ChangeLanguage(lng)">
                              <a href="javascript:;" data-lng="en">
                                <i></i> {{lng.languageName}}
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="header-notification">
                          <a href="javascript:;">
                            <i class="ti-bell"></i>
                            <span class="badge">5</span>
                          </a>
                          <ul class="show-notification">
                            <li>
                              <h6>Notifications</h6>
                              <label class="label label-danger">New</label>
                            </li>
                            <li>
                              <div class="media">
                                <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="notification-user">John Doe</h5>
                                  <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                  <span class="notification-time">30 minutes ago</span>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="media">
                                <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="notification-user">Joseph William</h5>
                                  <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                  <span class="notification-time">30 minutes ago</span>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="media">
                                <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="notification-user">Sara Soudein</h5>
                                  <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                  <span class="notification-time">30 minutes ago</span>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </li>
                        <li class="header-notification">
                          <a href="javascript:;" (click)="toggleChat()" class="displayChatbox">
                            <i class="ti-comments"></i>
                            <span class="badge">9</span>
                          </a>
                        </li>
                        <li class="user-profile header-notification">
                          <a>
                            <img src="assets/images/user.png" alt="User-Profile-Image">
                            <span>Admin</span>
                            <i class="ti-angle-down"></i>
                          </a>
                          <!-- <ul class="pcoded-item pcoded-left-item ng-tns-c1-0"></ul> -->
                          <div class="vertical-menu" theme-layout="vertical" >
                          <ul  class="show-notification profile-notification" >
                            <li class=vertical-menu>
                              <a [routerLink]="['/crm-contact']">
                                <span>
                                <i class="ti-settings"></i> Settings
                              </span>
                              </a>
                            </li>
                            <li>
                              <a [routerLink]="['/user/profile']">
                                <span>
                                <i class="ti-user"></i> Profile
                              </span>
                              </a>
                            </li>
                            <li>
                              <a [routerLink]="['/advance/notifications']">
                                <span>
                                <i class="ti-email"></i> My Messages
                              </span>
                              </a>
                            </li>
                            <li>
                              <a [routerLink]="['/authentication/lock-screen']" target="_blank">
                               <span>
                                <i class="ti-lock"></i> Lock Screen
                              </span>
                              </a>
                            </li>
                            <li>
                              <a [routerLink]="" (click)="ConfirmLogout()">
                                <!-- <i class="ti-layout-sidebar-left"></i> Logout -->
                                <span>
                                <i class="fa fa-sign-out" style="font-size:24px; color:grey"></i></span>
                                Logout
                          &nbsp;&nbsp;
                              </a>
                            </li>
                          </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
           </div>
        </nav>
 <!-- Header 1 ends-->

 <!-- Header 2 -->
    <!-- <nav class="navbar header-navbar pcoded-header header_2" header-theme="theme4">
      
    </nav> -->
 <!-- Header 2 ends -->
  
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav id="main_navbar"  class="pcoded-navbar" (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'" navbar-theme="theme4" active-item-theme="theme4" sub-item-theme="theme2" active-item-style="style0" pcoded-navbar-position="absolute">
          <div class="sidebar_toggle"><a href="javascript:;"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu" appAccordion slimScroll width="100%" height="100%" size="4px" color="#fff" opacity="0.3" allowPageScroll="false">
            <div>
 <!-- search box -->
 <!-- <div class="search-screen col-md-12">  
    <input  [(ngModel)]="selectedCountry" placeholder="Enter screen code" tabindex=""/>
    <span><i class="fa fa-search"></i></span>
  </div> -->
  <!-- searchbox end -->

          <!-- <div  *ngIf="currentmodule == crmModule" > -->
            <!-- old style menus starts -->
            <!-- <div *ngFor="let asideItems of ItemsMenu">
          
                <ul class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid" subitem-border="solid" *ngFor="let asideItem of asideItems.main" appAccordionLink group="{{asideItem.state}}">
                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'external'" appAccordionLink group="{{asideItem.state}}">
                    <a href="{{asideItem.external}}" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
  
                  <li class="nav-item" [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink group="{{asideItem.state}}">
                    <a [routerLink]="['/', asideItem.main_state, asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle *ngIf="asideItem.main_state; else: mainContent">
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ng-template #mainContent>
                      <a [routerLink]="['/', asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                        <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                        <span class="pcoded-mtext">{{ asideItem.name }}</span>
                        <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </ng-template>
                  </li>
                  <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'" class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style6" appAccordionLink group="{{asideItem.state}}">
                    <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                      <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                      <span class="pcoded-mtext">{{ asideItem.name }}</span>
                      <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                      <ng-template ngFor let-asideChildren [ngForOf]="asideItem.children">
                      <li [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'">
                        <a [routerLink]="['/', asideItem.state, asideChildren.state]" target="{{asideChildren.target ? '_blank' : '_self'}}">
                          <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                          <span class="pcoded-mtext">{{ asideChildren.name }} </span>
                          <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                      </li>
  
                      <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style6" *ngIf="asideChildren.type === 'sub'" appAccordionLink group="sub-toggled">
                        <a href="javascript:;" appAccordionToggle>
                          <span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
                          <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                          <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                        <ul class="pcoded-submenu">
                          <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.children">
                            <li [routerLinkActive]="['active']" >
                              <a [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]" target="{{asideChildrenSub.target ? '_blank' : '_self'}}">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>
                                <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge" class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ng-template>
                        </ul>
                      </li>
                      </ng-template>
                    </ul>
                  </li>
                </ul>
              </div> -->
               <!-- old style menus ends -->

               <div>

                  <ul class="pcoded-item pcoded-left-item">
                      <li   class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style6" appAccordionLink >
                          <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                            <span class=""><i class="ti-list"></i></span>
                                
                            <span class="pcoded-mtext">Workflow</span>
                            <span  class="pcoded-badge label label"></span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu">
                            <!-- <ng-template> -->
                            <li [routerLinkActive]="['']">
                              <a [routerLink]="['/']">
                                <span class=""><i class="ti-email"></i></span>
                                <span class="">Inbox</span>
                                <span  class="pcoded-badge label label">20</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['']">
                                <a [routerLink]="['/']">
                                  <span class=""><i class="ti ti-list-ol"></i></span>
                                  <span class="">Tasks</span>=
                                  <span  class="pcoded-badge label label">4</span>
                                  <span class="pcoded-mcaret"></span>
                                </a>
                              </li>
                              <li [routerLinkActive]="['']">
                                  <a [routerLink]="['/']">
                                    <span class=""><i class="ti ti-write"></i></span>
                                    <span class="">To Do</span>
                                    <span  class="pcoded-badge label label">40</span>
                                    <span class="pcoded-mcaret"></span>
                                  </a>
                                </li>
                            <!-- <li [routerLinkActive]="['']">
                                <a [routerLink]="['/']">
                                  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                  <span class="pcoded-mtext">hshsfgf</span>
                                  <span  class="pcoded-badge label label">1</span>
                                  <span class="pcoded-mcaret"></span>
                                </a>
                              </li>
                            <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style6"  appAccordionLink group="sub-toggled">
                              <a href="javascript:;" appAccordionToggle>
                                <span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
                                <span class="pcoded-mtext">rer</span>
                                <span  class="pcoded-badge label">2</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                              <ul class="pcoded-submenu">
                                <ng-template>
                                  <li [routerLinkActive]="['active']" >
                                    <a [routerLink]="['/']" target="">
                                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                      <span class="pcoded-mtext">2</span>
                                      <span  class="pcoded-badge label label">2</span>
                                      <span class="pcoded-mcaret"></span>
                                    </a>
                                  </li>
                                </ng-template>
                              </ul>
                            </li> -->
                            <!-- </ng-template> -->
                          </ul>
                        </li>
                    </ul>
                    
                    <!-- favourite link -->
                    <ul class="pcoded-item pcoded-left-item"  item-border="none" item-border-style="solid" subitem-border="solid"  appAccordionLink >
                   
    
                      <li  [routerLinkActive]="['']"  appAccordionLink>
                        <a (click)="goToPage(asideItems.sideMenuURL)" appAccordionToggle>
                          <span  class="ti-star"><i>
                           
                          </i></span>
                          <span class="pcoded-mtext">Favourites</span>
                          <span  class="pcoded-badge label"></span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                        <!-- <ng-template #mainContent>
                          <a [routerLink]=""  appAccordionToggle>
                            <span class="pcoded-micon"><i></i></span>
                            <span class="pcoded-mtext">{{asideItem.sideMenuName }}</span>
                            <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label"></span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </ng-template> -->
                      </li>
                     
                    </ul>
                    <!-- faveourite link ends -->
                 
        <div  *ngIf="currentmodule==1 || currentmodule==13">
          <ul class="pcoded-item pcoded-left-item" *ngFor="let asideItems of sideMenus" item-border="none" item-border-style="solid" subitem-border="solid"  appAccordionLink >
                   
    
            <li *ngIf="asideItems.sideMenuURL!='dashboard' && asideItems.sideMenuURL!='settings' && asideItems.sideMenuURL!='manageLanguage' && asideItems.sideMenuURL!='dateConverter' && asideItems.sideMenuURL!='ur4' && asideItems.sideMenuURL!='ur5'" class="nav-item" [routerLinkActive]="['']"  appAccordionLink>
              <a (click)="goToPage(asideItems.sideMenuURL)" appAccordionToggle>
                <span  class="pcoded-micon"><i>
                  <img *ngIf="currentmodule==1 || currentmodule==13"  src="../assets\images\user.png" style="height: 30px;width: 30px">
                  <img *ngIf="currentmodule==12" src="../assets/layouts/layout/img/financial-module-icon.png" style="height: 30px;width: 30px">
                  <!-- <img *ngIf="currentmodule==2"  src="../assets/layouts/layout/img/HCM-module-icon.png" style="height: 30px;width: 30px"> -->
                  <img *ngIf="currentmodule==101" src="../assets/layouts/layout/img/CRM-module-icon.png" style="height: 30px;width: 30px">
                </i></span>
                <span class="pcoded-mtext">{{asideItems.sideMenuName}}</span>
                <span  class="pcoded-badge label"></span>
                <span class="pcoded-mcaret"></span>
              </a>
              <!-- <ng-template #mainContent>
                <a [routerLink]=""  appAccordionToggle>
                  <span class="pcoded-micon"><i></i></span>
                  <span class="pcoded-mtext">{{asideItem.sideMenuName }}</span>
                  <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label"></span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </ng-template> -->
            </li>
           
          </ul>
     
        </div>
           
                


                  <!-- sideMenuList -->

                  
                  <ul class="pcoded-item pcoded-left-item" *ngIf="currentmodule==2 || currentmodule==21">
                    <li   *ngFor="let asideItems of sideMenus"  class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style6" appAccordionLink >
                        <a  href="javascript:;" appAccordionToggle>
                          <span class=""><img  src="../assets/layouts/layout/img/HCM-module-icon.png" style="height: 30px;width: 30px"></span>
                              
                          <span class="pcoded-mtext">{{asideItems.screenCategoryName}}</span>
                          <span  class="pcoded-badge label label"></span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                        <ul class="pcoded-submenu">
                          <!-- <ng-template> -->
                          <li [routerLinkActive]="['']" *ngFor="let menus of asideItems.sideMenuList">
                            <a (click)="goToPage(menus.sideMenuURL)">
                              <!-- <span class=""><i class="ti-email"></i></span> -->
                              <span><img class="ng-tns-c1-0" src="../assets/layouts/layout/img/HCM-module-icon.png" style="height: 30px;width: 30px"></span>
                              <span class="">{{menus.sideMenuName}}</span><!--label name-->
                              <span  class="pcoded-badge label label"></span>
                              <span class="pcoded-mcaret"></span>
                            </a>
                          </li>
                        
                          <!-- </ng-template> -->
                        </ul>
                      </li>
                  </ul>
                  

                  <ul class="pcoded-item pcoded-left-item"  item-border="none" item-border-style="solid" subitem-border="solid"  appAccordionLink >
                   
    
                      <li class="nav-item" [routerLinkActive]="['']" (click)="ConfirmLogout()"  appAccordionLink>
                        <a [routerLink]=""  appAccordionToggle>
                          <!-- <span class="pcoded-micon"><i class="ti-share"></i></span> -->
                          <!-- <span><img   src="../assets\images\log2.png" style="height: 30px;width: 30px"></span> -->
                          <i class="fa fa-sign-out" style="font-size:24px; color:black"></i>
                          &nbsp;&nbsp;
                          <span class="pcoded-mtext">Log out</span>
                          <span  class="pcoded-badge label"></span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                        <!-- <ng-template #mainContent>
                          <a [routerLink]=""  appAccordionToggle>
                            <span class="pcoded-micon"><i></i></span>
                            <span class="pcoded-mtext">{{asideItem.sideMenuName }}</span>
                            <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label"></span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </ng-template> -->
                      </li>
                     
                    </ul>
                </div>
            <!-- </div> -->

            <!-- logout -->
            <!-- <div>
           
                <ul class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid" subitem-border="solid"  >
                    <li [routerLinkActive]="['active']"  appAccordionLink group="">
                        <a href="{{asideItem.external}}" target="" appAccordionToggle>
                          <span class="pcoded-micon"><i class=""></i></span>
                          <span class="pcoded-mtext">Logout</span>
                          
                          <span class="pcoded-mcaret"></span>
                        </a>
                      </li>
  
                </ul>
              </div> -->
            <!-- logout -->
          
             
            </div>
          </div>

        
        </nav>

        
     

        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <app-title></app-title>
                <!-- <app-breadcrumbs></app-breadcrumbs> -->
                <div class="page-body">
                  <router-outlet><spinner></spinner></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
