
<div class="content-wrapper user-view">
    <section class="content">
		<div class="section-heading">
			<h2>{{moduleName}}</h2>
		</div>
            <section class="inner-content">
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
						<form class="search-batch" name="accountPayablesClassAccountSetup" (ngSubmit)="classId.length > 0 && accountPayablesClassAccountSetup.form.valid && save(accountPayablesClassAccountSetup)" #accountPayablesClassAccountSetup="ngForm" novalidate>							
							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': accountPayablesClassAccountSetup.submitted && classId.length == 0 }">
								<label>{{defaultFormValues[0]['fieldValue']}}</label>
								<div class="select-outer">
									 <!--<select class="form-control auto-focus" myAutofocus name='classId' title="{{defaultFormValues[0]['helpMessage']}}" [(ngModel)]="accountPayables.classId"  #classId="ngModel" (change)="getDesc()" required>
										<option value="">--{{select}}--</option>
										<option *ngFor="let c of getClass" [value]="c.vendorClassId">{{c.vendorClassId}}</option>
									</select>-->
									<angular2-multiselect  required [ngClass]="'form-control fm-txt'" [data]="ArrClassId" [(ngModel)]="classId" id ="classId" 
									[ngModelOptions]="{standalone: true}"
									[settings]="ddlClassIdSetting" (onSelect)="getClassByID($event)"
									 (onDeSelect)="OnClassIdDeSelect($event)" >
									</angular2-multiselect>
								</div> 
								<div *ngIf="accountPayablesClassAccountSetup.submitted && classId.length == 0">
									<div class='error-msg'>
										*
									</div>										
								</div>								
							    </div>
							</div><!-- Form Row Ends -->		
								
							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']">
									<label>{{defaultFormValues[1]['fieldValue']}}</label>
									<input type="text" title="{{defaultFormValues[1]['helpMessage']}}" class="form-control fm-txt" name="descriptionn" [(ngModel)]="description" #descriptionn="ngModel" readonly>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultFormValues[2]['readAccess']">
								    <label>{{defaultFormValues[2]['fieldValue']}}</label>
									<input type="text" title="{{defaultFormValues[2]['helpMessage']}}" class="form-control fm-txt" name="descriptionArabic" [(ngModel)]="arabicDescription" #descriptionArabic="ngModel" readonly>
								</div>                            
							</div><!-- Form Row Ends -->
							<div class="form-row">
								<div class="col-xs-12">
									<div class="algo-table">
										<div class="table-responsive">          
											<table class="table">
												<thead>
													<tr> 
													  <th width="20%">{{defaultFormValues[3]['fieldValue']}}</th>
													  <th width="30%">{{defaultFormValues[4]['fieldValue']}}</th>
													  <th width="30%">{{defaultFormValues[5]['fieldValue']}}</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let item of accountNumberList; let i=index;">
														<td>{{item.typeValue}}</td>
														<td>
															<span *ngFor="let segment of arrSegment; let j=index;">
																<input id="txtfirstSegment_{{i}}{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_{{i}}"
																  (blur)="fetchFirstAccountIndexInfo(i,j)" *ngIf="j==0" style="width:65px" />
																   <input id="txtSegment_{{i}}{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_{{i}}"
																  (blur)="fetchOtherAccountIndexInfo(i,j)" *ngIf="j > 0" style="width:65px"  [disabled]='segment.isReadOnly'/> 
															      <i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus"
																      style="float: left;padding: 3px 0px;" *ngIf="j + 1 != arrSegment.length"></i>	
															</span>
														</td>										
														<td>
															<span *ngFor="let desc of item.accountDescription;">
																  <span *ngIf="desc != 0">
																		{{desc}}	
																  </span>
															</span>
															<!-- <span *ngFor="let desc1 of item.accountNumberIndex;">
																  <span *ngIf="desc1 != 0">
																		{{desc1}}	
																  </span>
															</span> -->
														</td>														
													</tr>
												</tbody>
											</table>
										</div>
									</div><!-- Algo Table Ends -->
								</div>
							</div><!-- Form Row Ends -->
							<div class="button-row">
								<div class="col-sm-12">
								<button class="orange-btn" [disabled]="LockScreen(defaultFormValues[6]['writeAccess'])"  title="{{defaultFormValues[6]['helpMessage']}}" *ngIf="defaultFormValues[6]['readAccess']">{{defaultFormValues[6]['fieldValue']}}</button>
									<input type="button" class="blue-btn" title="{{defaultFormValues[7]['helpMessage']}}" (click)="Clear(f)" *ngIf="defaultFormValues[7]['readAccess']" value="{{defaultFormValues[7]['fieldValue']}}"/>
								</div>
							</div>
						</form>
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
	.user-view .algo-table .acc-txt{border:1px solid #d5d5d5; width:19%;}
</style>