<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span> {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
            <button class="orange-btn"  (click)="Create()"   title="{{defaultFormValues[10]['helpMessage']}}">{{defaultFormValues[10]['helpMessage']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
            </div>
            <div class="algo-table algo-table-department">
                <!-- Data Grid Starts-->
                <div class="table-responsive">
                    <ngx-datatable id="deductionCodeGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                        [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                        <!-- Data Grid checkbox -->
                        <ngx-datatable-column [width]="40" [sortable]="false"  [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                            [checkboxable]="true">
                        </ngx-datatable-column>

                        <!-- Data Grid Deduction Code Id -->
                        <ngx-datatable-column name="accuralId" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('accuralId')">{{defaultFormValues[1]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid Deduction Code Description -->
                        <ngx-datatable-column name="desc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('desc')">{{defaultFormValues[2]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid  Arabic Deduction Code Description -->
                        <ngx-datatable-column name="arbic" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('arbic')">{{defaultFormValues[3]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid  City -->
                       <!-- <ngx-datatable-column name="numHour" [width]="50" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('numHour')">{{defaultFormValues[4]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value }}
                            </ng-template>
                        </ngx-datatable-column>-->

                        <!-- Data Grid  phone -->
                      <!--  <ngx-datatable-column name="maxAccrualHour" [width]="50" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('maxAccrualHour')">{{defaultFormValues[6]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value }}
                            </ng-template>
                        </ngx-datatable-column>-->

                        <!-- Data Grid  Contact Name -->
                       <!-- <ngx-datatable-column name="maxHour" [width]="100" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('maxHour')">{{defaultFormValues[7]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>-->
						
						<!--<ngx-datatable-column name="accrualTyepId" [width]="100" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('accrualTyepId')">{{defaultFormValues[26]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>-->
                        <!-- Data Grid Action -->
                    <!--    <ngx-datatable-column name="workHour" [canAutoResize]="true" [width]="30" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('workHour')">  {{defaultFormValues[8]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                               {{value}}
                            </ng-template>
                            
                        </ngx-datatable-column>
						
						<ngx-datatable-column name="numDay" [canAutoResize]="true" [width]="30" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('numDay')">  {{defaultFormValues[5]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                               {{value}}
                            </ng-template>
                            
                        </ngx-datatable-column>-->
						<ngx-datatable-column name="period" [canAutoResize]="false" [width]="120" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('period')">  {{defaultFormValues[9]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                               {{frequencyArray[value-1]}}
                            </ng-template>
                            
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                              {{defaultFormValues[27]['fieldValue']}}
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                              <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                            </ng-template>
                          </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <!-- Data Grid Ends-->
            </div>

            <div class="button-row">
                <!-- Table View Starts -->
                <div class="table-view">
                    <span>TABLE VIEW</span>
                    <div class="select-outer">
                        <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                            <option value="5">5 at a time </option>
                            <option value="15">15 at a time </option>
                            <option value="50">50 at a time </option>
                            <option value="100">100 at a time </option>
                        </select>
                    </div>
                </div>
                <!-- Table View Ends -->

                <div class="bottom-view">
                </div>
                <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[15]['helpMessage']}}</button>

                <!-- Create / Update Form start -->
                <div *ngIf="showCreateForm">
                    <div class="col-md-12 mt-30">
                        <hr>
                    </div>
                    <div class="col-md-12 mb-30">
                        <h3 *ngIf="!model.id">Create {{moduleName}}</h3>
                        <h3 *ngIf="model.id">Update {{moduleName}}</h3>
                    </div>
                    <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="clearfix"></div>
                    <form class="form-horizontal" (ngSubmit)="f.form.valid && (period.value!=0 || accrualPeriodDisabled) && accrualTyepId.value!=0 && reasons.value!=0 && type.value!=0 && numHour.value!=0 && numDay.value!=0 && maxAccrualHour.value!=0 && maxHour.value!=0 && workHour.value!=0 && !workHourcheck && !maxHourcheck && !maxAccrualHourcheck && !numHourcheck && CreateDeductionCode(f, $event) " #f="ngForm" novalidate>
                        <div class="row">
                            <div class="col-md-7">
                                <!-- frmstar Id field -->
                                <div class="form-group">
                                    <div *ngIf="isUnderUpdate; then update else create"></div>
                                    <ng-template #update>
                                        <div [ngClass]="{ 'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                                            <div class="col-md-4">
                                                <label class="control-label" for="accuralId">{{defaultFormValues[1]['fieldValue']}}</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="text" [ngClass]="'form-control fm-txt'" name="accuralId" value="{{accuralId}}" 
                                                            title="{{defaultFormValues[1]['helpMessage']}}" readonly required maxlength="15"
                                                        />
                                                        <div *ngIf="f.submitted && accuralId.invalid">
                                                            <div [hidden]="!accuralId.errors.required">
                                                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                            </div>
                                                            <div [hidden]="!accuralId.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]" >
                                                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>


                                    <ng-template #create>
                                        <div [ngClass]="{ 'has-error': f.submitted && !accuralId.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                                            <div class="col-md-4">
                                                <label for="accuralId">{{defaultFormValues[1]['fieldValue']}}</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        
														<!--<input type="text" [ngClass]="'form-control fm-txt'" name="accuralId" [(ngModel)]="model.accuralId" #accuralId="ngModel"
                                                             title="{{defaultFormValues[1]['helpMessage']}}"
                                                            required  maxlength="15" />-->
															
														
														<input type="text" [ngClass]="'form-control fm-txt'" name="accuralId" [(ngModel)]="model.accuralId" 
														#accuralId="ngModel" title="{{defaultFormValues[1]['helpMessage']}}" required maxlength="15"
														[typeahead]="dataSource"
														(typeaheadLoading)="changeTypeaheadLoading($event)"
														(typeaheadOnSelect)="typeaheadOnSelect($event)" autocomplete="off"
														typeaheadOptionField="accuralId" />
						  
						  
															
                                                        <div *ngIf="f.submitted && accuralId.invalid">
                                                            <div [hidden]="!accuralId.errors.required">
                                                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                            </div>
                                                            <div [hidden]="!accuralId.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                                                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <!-- frmstar Description Field -->
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && !desc.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="desc">{{defaultFormValues[2]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model.desc" #desc="ngModel"
                                                title="{{defaultFormValues[2]['helpMessage']}}" required maxlength="31" />
                                            <div *ngIf="f.submitted && desc.invalid">
                                                <div [hidden]="!desc.errors.required">
                                                    {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!desc.errors?.maxlength" *ngIf="defaultFormValues[2]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Arabic Deduction Code description -->
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && !arbic.valid,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="arbic">{{defaultFormValues[3]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8 arabic-mode">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="arbic" [(ngModel)]="model.arbic" #arbic="ngModel"
                                                title="{{defaultFormValues[3]['helpMessage']}}" maxlength="61" required />
                                            <div *ngIf="f.submitted && arbic.invalid">
                                                <div [hidden]="!arbic.errors.required">
                                                    {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!arbic.errors?.maxlength" *ngIf="defaultFormValues[3]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && accrualTyepId.value==0,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="accrualTyepId">{{defaultFormValues[26]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select [ngClass]="'form-control fm-txt'" name="accrualTyepId" [(ngModel)]="model.accrualTyepId"  #accrualTyepId="ngModel"
                                                title="{{defaultFormValues[26]['helpMessage']}}"  required (change)="accrualbyChanged($event)">
												<option value="0">--Select Accrual By--</option>
												<option  *ngFor="let accrualby of accrualbyOptions"  [value]="accrualby.id">{{accrualby.desc}}</option>
											</select>
                                            <div *ngIf="f.submitted && accrualTyepId.value==0">
                                                <div [hidden]="accrualTyepId.value!=0">
                                                    {{defaultFormValues[26]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!accrualTyepId.errors?.maxlength" *ngIf="defaultFormValues[26]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[26]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': (f.submitted && numHour.invalid) || (!numHour.errors?.required && numHour.value==0) || numHourcheck ,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="numHour">{{defaultFormValues[4]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" [ngClass]="'form-control fm-txt'" name="numHour" [(ngModel)]="model.numHour" #numHour="ngModel"
                                                title="{{defaultFormValues[4]['helpMessage']}}"  [disabled]="numHourDisabled" [required] = "!numHourDisabled" max="9999" (keyup)="maxlengthcheck(numHour.value,'numHour')" (change)="maxlengthcheck(numHour.value,'numHour');Check1($event.target.value)" min="1" onkeypress="return check_digit(event,this,4,0);" (keyup)="hoursToAccrualCheck(numHour.value,'numHour')"  />
                                            <div *ngIf="(f.submitted && numHour.invalid) ||(!numHour.errors?.required && numHour.value==0) || (!numHour.errors?.required && numHourcheck) ">
                                                <div [hidden]="!numHour.errors?.required">
                                                    {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!numHour.errors?.maxlength" *ngIf="defaultFormValues[4]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
												<div *ngIf="!numHour.errors?.required && numHour.value==0">
													Invalid input
												</div>
												<div *ngIf="numHourcheck && numHour.value!=0">
													Invalid input
												</div>
                                                

                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="form-group">
                                    <div [ngClass]="{'has-error': (f.submitted && numDay.invalid) || (!numDay.errors?.required && numDay.value==0) || (!numDay.errors?.required && !isHourToAccrual) ,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="numDay">{{defaultFormValues[5]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" [ngClass]="'form-control fm-txt'" name="numDay" [(ngModel)]="model.numDay" #numDay="ngModel"
                                                title="{{defaultFormValues[5]['helpMessage']}}" min="1"  (change)="Check2($event.target.value);Check3($event.target.value)" [disabled]="numDayDisabled" [required] = "!numDayDisabled" (keyup)="hoursToAccrualCheck(numDay.value,'numDay')" (keyup) = "maxAcrruaHourCheck(numDay.value,'numDay')" (keyup) = "workHourCheck(numDay.value,'numDay')"  />
                                            <div *ngIf="(f.submitted && numDay.invalid) ||(!numDay.errors?.required && numDay.value==0) || (!numDay.errors?.required && !isHourToAccrual)">
                                                <div [hidden]="!numDay.errors?.required">
                                                    {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!numDay.errors?.maxlength" *ngIf="defaultFormValues[5]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
												<div *ngIf="numDay.value==0 && !numDay.errors?.required">
													Invalid input
												</div>
												<div *ngIf="!isHourToAccrual && !numDay.errors?.required">
													must be greater than Number Of Hours To Accrue
												</div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
                                
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': (f.submitted && maxAccrualHour.invalid) ||(!maxAccrualHour.errors?.required && maxAccrualHour.value==0) || maxAccrualHourcheck || (!maxAccrualHour.errors?.required && !isMaxAccrualHour),'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="maxAccrualHour">{{defaultFormValues[6]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" [ngClass]="'form-control fm-txt'" name="maxAccrualHour" [(ngModel)]="model.maxAccrualHour" #maxAccrualHour="ngModel"
                                                title="{{defaultFormValues[6]['helpMessage']}}"  min="1" [disabled]="maxAccrualHourDisabled" [required] = "!maxAccrualHourDisabled" max="9999" (keyup)="maxlengthcheck(maxAccrualHour.value,'maxAccrualHour')" (change)="maxlengthcheck(maxAccrualHour.value,'maxAccrualHour')" (keyup) = "maxAcrruaHourCheck(maxAccrualHour.value,'maxAccrualHour')" />
                                            <div *ngIf="(f.submitted && maxAccrualHour.invalid) || (!maxAccrualHour.errors?.required && maxAccrualHour.value==0) || (!maxAccrualHour.errors?.required && maxAccrualHourcheck) || (!maxAccrualHour.errors?.required && !isMaxAccrualHour)">
                                                <div [hidden]="!maxAccrualHour.errors?.required">
                                                    {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!maxAccrualHour.errors?.maxlength" *ngIf="defaultFormValues[6]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
												<div *ngIf="!maxAccrualHour.errors?.required && maxAccrualHour.value==0 && !maxAccrualHourcheck">
													Invalid input
												</div>
												<div *ngIf="maxAccrualHourcheck && maxAccrualHour.value!=0">
													Invalid input
												</div>
												<div *ngIf="!maxAccrualHour.errors?.required && !isMaxAccrualHour">
													must be greater than Number Of Days Per Interval
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <div [ngClass]="{'has-error': (f.submitted && maxHour.invalid ) || (!maxHour.errors?.required && maxHour.value==0) || maxHourcheck,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="maxHour">{{defaultFormValues[7]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" [ngClass]="'form-control fm-txt'" name="maxHour" [(ngModel)]="model.maxHour" #maxHour="ngModel"
                                                title="{{defaultFormValues[7]['helpMessage']}}" min="1" max="9999" [disabled]="maxHourDisabled" [required] = "!maxHourDisabled"  max="9999" (keyup)="maxlengthcheck(maxHour.value,'maxHour')" (change)="maxlengthcheck(maxHour.value,'maxHour')" />
                                            <div *ngIf="(f.submitted && maxHour.invalid ) ||(!maxHour.errors?.required && maxHour.value==0) || (!maxHour.errors?.required && maxHourcheck)">
                                                <div [hidden]="!maxHour.errors?.required">
                                                    {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!maxHour.errors?.maxlength" *ngIf="defaultFormValues[7]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
												<div *ngIf="!maxHour.errors?.required && maxHour.value==0 && !maxHourcheck">
													Invalid input
												</div>
												<div *ngIf="maxHour.value!=0 && maxHourcheck">
													Invalid input
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <div [ngClass]="{'has-error':(f.submitted && workHour.invalid) || (!workHour.errors?.required && workHour.value==0) || workHourcheck || (!workHour.errors?.required && !isWorkHour),'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="workHour">{{defaultFormValues[8]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" [ngClass]="'form-control fm-txt'" name="workHour" [(ngModel)]="model.workHour" #workHour="ngModel"
                                                title="{{defaultFormValues[8]['helpMessage']}}"  min="1" [disabled]="workHourDisabled" [required] = "!workHourDisabled"  max="9999" (keyup)="maxlengthcheck(workHour.value,'workHour')" (change)="maxlengthcheck(workHour.value,'workHour')" (keyup) = "workHourCheck(workHour.value,'workHour')" />
                                            <div *ngIf="(f.submitted && workHour.invalid) ||(!workHour.errors?.required && workHour.value==0) || (!workHour.errors?.required && workHourcheck) || (!isWorkHour && !workHour.errors?.required)">
                                                <div [hidden]="!workHour.errors?.required">
                                                    {{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!workHour.errors?.maxlength" *ngIf="defaultFormValues[8]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[8]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
												<div *ngIf="!workHour.errors?.required && workHour.value==0 && !workHourcheck">
													Invalid input
												</div>
												<div *ngIf="!workHour.errors?.required && workHourcheck">
													Invalid input
												</div>
												<div *ngIf="!isWorkHour && !workHour.errors?.required">
													must be greater than Number Of Days Per Interval
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
								
								<div class="form-group">
                                    <div [ngClass]="{'has-error':(f.submitted && !accrualPeriodDisabled) && (f.submitted && period.value==0),'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="period">{{defaultFormValues[9]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select [ngClass]="'form-control fm-txt'" name="period" [(ngModel)]="model.period"  #period="ngModel"
                                                title="{{defaultFormValues[9]['helpMessage']}}"  [disabled]="accrualPeriodDisabled" [required] = "!accrualPeriodDisabled" >
												<option value="0">--Select Accrual Period--</option>
												<option value="1">Weekly</option>
												<option value="2">Biweekly</option>
												<option value="3">Semimonthly</option>
												<option value="4">Monthly</option>
												<option value="5">Quarterly</option>
												<option value="6">Semiannually</option>
												<option value="7">Annually</option>
											</select>
                                            <div *ngIf="(f.submitted && period.value==0)">
                                                <div [hidden]="period.value!=0 || accrualPeriodDisabled">
                                                    {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!period.errors?.maxlength" *ngIf="defaultFormValues[9]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                                                        
                            </div>
							<div class="col-md-5">
								<div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && reasons.value==0,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="reasons">{{defaultFormValues[29]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select [ngClass]="'form-control fm-txt'" name="reasons" [(ngModel)]="model.reasons"  #reasons="ngModel"
                                                title="{{defaultFormValues[29]['helpMessage']}}"   required >
												<option value="0">--Select Reason--</option>
												<option *ngFor="let reason of typereasonOptions" [value]="reason.reasonIndx">{{reason.reasonDesc}}</option>
											</select>
                                            <div *ngIf="f.submitted && reasons.value==0">
                                                <div [hidden]="reasons.value!=0">
                                                    {{defaultFormValues[29]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!reasons.errors?.maxlength" *ngIf="defaultFormValues[29]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[29]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && type.value==0,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="type">{{defaultFormValues[30]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select [ngClass]="'form-control fm-txt'" name="type" [(ngModel)]="model.type"  #type="ngModel"
                                                title="{{defaultFormValues[30]['helpMessage']}}"  required >
												<option value="0">--Select Type--</option>
												<option *ngFor="let type of typereasonOptions" [value]="type.atteandanceTypeIndx">{{type.atteandanceTypeDesc}}</option>
											</select>
                                            <div *ngIf="f.submitted && type.value==0">
                                                <div [hidden]="type.value!=0">
                                                    {{defaultFormValues[30]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!type.errors?.maxlength" *ngIf="defaultFormValues[30]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[30]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
							</div>
                           
                            <div class="clearfix"></div>
                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12': true, '': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button *ngIf="model.id" [ngClass]="'grey-btn'">Update</button>
                                            <button *ngIf="!model.id" [ngClass]="'grey-btn'">Save</button>
                                            <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)"  >Clear</button>
                                            <button [ngClass]="'blue-btn'"  (click)="showCreateForm = false;">Cancel</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Create Update form ends -->
            </div>
        </section>
    </section>
</div>