<app-modal-animation  [modalID]="'effect-15'" [modalClass]="'md-effect-15'">
  
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close">x</i></button>
      <app-card [title]="'Add country'">
      
      
            </app-card>   
            <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
            <button (click)="closeMyModal($event)" class="btn btn-primary md-close">Close Me!!</button>
</app-modal-animation>



<!-- <app-modal-animation [modalID]="'effect-13'" [modalClass]="'md-effect-13'">
    <h3 class="f-26">Add Contact</h3>
    <div class="text-center">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Full Name">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Email">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Position">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon4"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Office">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon5"><i class="icofont icofont-user"></i></span>
        <input type="number" class="form-control" placeholder="Age">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon6"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Phone Number">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon7"><i class="icofont icofont-user"></i></span>
        <input id="dropper-default" class="form-control" type="text" placeholder="Select Your Birth Date" readonly="readonly">
      </div>
      <button type="button" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block">Save</button>
      <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
  </app-modal-animation> -->


  <!-- screen header -->
  <div class="page-header">
      <div class="page-header-title">
        <span><h3>{{screenName}}</h3></span>
      </div>
      <!-- <div class="page-header-breadcrumb">
          <i class="ti-settings"></i>
      </div> -->
    </div>
<!-- screen header -->

<div class="content-wrapper">
        <section class="content">
            <!-- section Heading Starts -->
            <!-- <div class="section-heading">
                <h2></h2>
            </div> -->
            <!-- section Heading Ends -->
            <section class="inner-content">
                <!-- Content Outer Starts -->
                <div class="content-outer com-form">
                    <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{messageText}}
                    </div>
                    <!-- Content Heading Starts -->
                    <div class="content-heading">
                        <!-- <h3> {{screenName}}</h3> -->
                           <div *ngIf="showloader" class="loader">
                        </div>
                    </div>
                    <!-- Content Heading Ends -->
                    
                    <!--adding form starts-->
          <!-- Basic Form Inputs card start -->
<app-card [title]="">
        <!-- <h4 class="sub-title">Create company</h4> -->
       
       
        <form (ngSubmit)="f.form.valid && CreateGroup(f)" (keydown.enter)="f.form.valid && CreateGroup(f)" #f="ngForm"
				novalidate>
				<!-- Row Starts -->
			  <div class="form-group row">  
				
					<div class="col-sm-4">
						<div class="form-group row">
							<div class="floating-label col-sm-12" *ngIf="defaultFormValues[0]['readAccess']"  	[ngClass]="{ 'has-error': f.submitted && !groupName.valid }">      
								<input class="floating-input" type="text"   placeholder=" "  tabindex="1"
							
                name="groupName"
                [(ngModel)]="model.groupName" #groupName="ngModel" [readonly]="!defaultFormValues[0]['writeAccess']"
                title="{{defaultFormValues[0]['helpMessage']}}"  myAutofocus maxlength="25"
                required />
              <div *ngIf="f.submitted && groupName.invalid">
                <div class='error-msg' *ngIf="groupName.errors.required">
                  {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="groupName.errors.maxlength">
                  {{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
              </div>
									<span class="highlight"></span>
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
								</div>
						</div>
											
							</div>
          
              
              <div class="floating-label col-sm-12" *ngIf="defaultFormValues[1]['readAccess']"  [ngClass]="{'has-error': f.submitted && selectedRoleGroup.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
									<!-- <label >{{defaultFormValues[3]['fieldValue']}}</label> -->
									<angular4-multiselect [disabled]="true" [data]="ddl_RoleGroup" [(ngModel)]="selectedRoleGroup" [ngModelOptions]="{standalone: true}" on-focusin="onAutocompleteFocus('rolesLabel')" 
									[settings]="{singleSelection: false,text:this.selectUser,disabled : !defaultFormValues[1]['writeAccess'],selectAllText: this.selectAll,unSelectAllText: this.unselectAll,enableSearchFilter: true,classes:'myclass custom-class'}" 
									(onSelect)="onItemSelect($event)"  tabindex="2"
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
									<div *ngIf="f.submitted && selectedRoleGroup.length == 0">
													<div class='error-msg'>
															{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
													</div>
											</div>
									<span class="highlight"></span>
									<label id="rolesLabel">{{defaultFormValues[1]['fieldValue']}}</label>
							</div>
					
					<!-- <div class="col-sm-4">
							<div class="form-group row smtFullDropdown">
									<div class="floating-label col-sm-12"   [ngClass]="{ 'has-error': f.submitted && !roleGroupList.valid }"> 
											<div class="select-outer multiselect-dd selected-list">
                        <ss-multiselect-dropdown [options]="ddOptions" [settings]="ddSettings" [texts]="ddTexts" [(ngModel)]="model.roleGroupList"
                        #roleGroupList="ngModel" name="roleGroupList"   title="" required>
                  </ss-multiselect-dropdown>
											</div>
                      <div *ngIf="f.submitted && roleGroupList.invalid">
                        <div class='error-msg'
                          [hidden]="!roleGroupList.errors.required">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
											<span class="highlight"></span>
											<label>{{defaultFormValues[1]['fieldValue']}}</label>
										</div>
								</div>
				
					</div> -->
										
				
			 </div>
			 
			 <div class="form-group row">
				<div class="col-sm-4">
					<div class="form-group row">
						<div class="floating-label col-sm-12" *ngIf="defaultFormValues[2]['readAccess']"
            [ngClass]="{ 'has-error': f.submitted && !groupDesc.valid }">
								<textarea class="floating-textarea" placeholder=" " name="groupDesc" tabindex="3"
                [(ngModel)]="model.groupDesc" #groupDesc="ngModel" [readonly]="!defaultFormValues[2]['writeAccess']"
                title="{{defaultFormValues[2]['helpMessage']}}" maxlength="150"></textarea>
							  <div *ngIf="f.submitted && groupDesc.invalid">
                  <div class='error-msg' [hidden]="!groupDesc.errors.maxlength">
                    {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
								<span class="highlight"></span>
								<label>{{defaultFormValues[2]['fieldValue']}}</label>
							</div>
					</div>
										
						</div>
			</div>

      <div class="button-row">
        <div class="col-sm-12">
          <button *ngIf="model.id" class="green-btn">{{updateField}}</button>

          <button *ngIf="!model.id" class="green-btn" 
              [disabled]="LockScreen(defaultFormValues[3]['writeAccess'])" tabindex="4"
              title="{{defaultFormValues[3]['helpMessage']}}">{{defaultFormValues[3]['fieldValue']}}</button>
          <button [ngClass]="'blue-btn'" *ngIf="defaultFormValues[3]['readAccess']" tabindex="5"
           [disabled]="!defaultFormValues[4]['writeAccess']" [routerLink]="['/usergroup']"
            title="{{defaultFormValues[4]['helpMessage']}}">{{defaultFormValues[4]['fieldValue']}}</button>
            &nbsp; &nbsp;
            <input type="button" value="{{clearText}}" [ngClass]="'orange-btn'"  (click)="Clear(f)">
        </div>
  
      </div>
  



  <!-- Row Starts -->
  <div class="row">
    <!-- Form Row Starts -->
    
    <!-- Form Row Ends -->

   

  </div>
  <!-- Row Ends -->

<!-- Row Ends -->
</form>
       
       
      </app-card>        
                   
        
        <!--adding form ends-->
    </div>
    <!-- Content Outer Ends -->
    </section>
    </section>
    </div>
<!-- Basic Form Inputs card end -->


