<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <!-- <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button> -->
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[9]['helpMessage']}}">{{defaultFormValues[9]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable 
            id="PositionPlanSetupGrid1" 
            class="material" 
            [rows]="rows" 
            [columnMode]="'force'" 
            [headerHeight]="50" 
            [footerHeight]="50"
            [rowHeight]="'auto'" 
            [externalPaging]="true" 
            [count]="page.totalElements" 
            [offset]="page.pageNumber" 
            [limit]="page.size"
            (page)='setPage($event)' 
            [selected]="selected" 
            [selectionType]="'checkbox'" 
            (select)='onSelect($event)' >

              <!-- <ngx-datatable id="PositionPlanSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" 
              [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'> -->

              <!--Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Column Position Id -->
              <ngx-datatable-column name="positionId" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionId')">{{defaultFormValues[1]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{positionIds}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Position Training Description -->
              <ngx-datatable-column name="documentAttachmenDesc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('documentAttachmenDesc')">{{defaultFormValues[3]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Attachment Date -->
              <ngx-datatable-column name="attachmentDate" [width]="110" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('attachmentDate')">{{defaultFormValues[5]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'dd-MM-yyyy'}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Attachment Time -->
              <ngx-datatable-column name="attachmentTime" [width]="121" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('attachmentTate')">{{defaultFormValues[6]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'hh:mm:ss a'}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column UserId -->
              <ngx-datatable-column name="userId" [width]="90" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('userId')">{{defaultFormValues[7]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Attachment Type -->
              <ngx-datatable-column name="attachmentType" [width]="125" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('attachmentType')">File {{defaultFormValues[4]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span *ngIf="value==1">Document</span>
                  <span *ngIf="value==2">Image</span>
                  <span *ngIf="value==3">Other</span>
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Action -->
              <ngx-datatable-column name="Download" [width]="90" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    {{defaultFormValues[8]['fieldValue']}}
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button class="download-ico" (click)="download(row)" title="Download" style="margin-right: 5px;"></button>
                    <button class="edit-ico" (click)="edit(row)" title="Edit" style="margin-left: 5px;"></button>
                  </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #positionSetupId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button *ngIf="rows?.length != 0" class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[16]['fieldValue']}}</button>
          <span><button class="blue-btn" style="margin-left: 55px;" (click) = "navigateToPositionSetup()">BACK</button></span>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{defaultFormValues[10]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{defaultFormValues[11]['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <form class="form-horizontal" (ngSubmit)=" f.form.valid && !isSelected && CreatePositionAttachment(f, $event)" #f="ngForm" novalidate>
              <div class="form-group">
                <div class="col-md-7">
                  <div class="form-group">
                    <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                      <div class="col-md-4">
                        <label for="positionIds">{{defaultFormValues[1]['fieldValue']}}</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="positionIds" value={{positionIds}} title="{{defaultFormValues[1]['helpMessage']}}"
                          readonly/>
                      </div>
                    </div>
                  </div>
  
                  <!-- position Plan Description Field -->
                  <div class="form-group">
                    <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label for="positionDesc">{{defaultFormValues[2]['fieldValue']}}</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="description" value={{positionDesc}} title="{{defaultFormValues[2]['helpMessage']}}"
                          readonly/>
                      </div>
  
                    </div>
                  </div>
  
  
                  <!-- Arabic position class description -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': f.submitted && !documentAttachmenDesc.valid,'col-md-10 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label for="documentAttachmenDesc">Attach {{defaultFormValues[2]['fieldValue']}}</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="documentAttachmenDesc" [(ngModel)]="model.documentAttachmenDesc"
                          #documentAttachmenDesc="ngModel" title="Attach {{defaultFormValues[2]['helpMessage']}}" maxlength="61" required
                        />
                        <div *ngIf="f.submitted && documentAttachmenDesc.invalid">
                          <div [hidden]="!documentAttachmenDesc.errors.required">
                            {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!documentAttachmenDesc.errors?.maxlength">
                            {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <!-- Position Course ID DropDown-->
                  <div class="form-group">
                    <div [ngClass]="{'has-error':isSelected || (f.submitted && !attachmentType.valid) ,'col-md-10 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label for="attachmentType">Attach {{defaultFormValues[4]['fieldValue']}}</label>
                      </div>
                      <div class="col-md-8">
                        <select [ngClass]="'form-control fm-txt '" (change) = "checkAttachedFile(attachmentType.value);" name="traningCourseId" [(ngModel)]="model.attachmentType" #attachmentType="ngModel" title="Attach {{defaultFormValues[4]['helpMessage']}}"
                          required>
                          <option value="null">--Select File Type--</option>
                          <option value=1>Document</option>
                          <option value=2>Image</option>
                          <!-- <option value=3>Other</option> -->
  
                        </select>
                        <div *ngIf="f.submitted && attachmentType.invalid" >
                          
                          {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          
                        </div>
                        <div *ngIf="attachmentType.valid && isSelected" >
                          Invalid File.
                        </div>
                      </div>
  
  
                    </div>
                  </div>
  
                  <!-- selectedFile -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': f.submitted && !documentAttachmentName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
  
                      <div class="col-md-8">
                        <input type="file" name="documentAttachmentName" [(ngModel)]="model.documentAttachmentName" (change)="onSelectFile($event)" 
                        #documentAttachmentName="ngModel" #file class="hide" >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Position  Id field -->
                
                <div class="col-md-3"  style="width: 350">
                  <span *ngIf="model.attachmentType == 2" ><img [src]="model.id?_DomSanitizationService.bypassSecurityTrustUrl(url | secure | async):url" height="200"></span>
                  {{fileName}}
                </div>
                <!-- Buttons -->
                <div [ngClass]="'button-row'">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
                      <span class="pull-right">
                        <button [ngClass]="'grey-btn'" type="button" (click)="file.click(); isattachFiles = false;">{{defaultFormValues[20]['fieldValue']}}</button>
                        <button *ngIf="model.id" type="button" [ngClass]="'grey-btn'" [disabled]="FileNotFetched" (click) = "updateStatus(f)">{{defaultFormValues[15]['fieldValue']}}</button>
                        <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[12]['fieldValue']}}</button>
                        <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[13]['fieldValue']}}</button>
                        <button [ngClass]="'blue-btn'" (click)="Cancel(f)">{{defaultFormValues[14]['fieldValue']}}</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>