<style>
	.has-error .form-control {
		border-color: #a94442;
	}
	.auto-focus{border-color:#3c8dbc;}
	.add-ico-act {
		color: #3c8dbc;
		margin: -8px 0 0 0;
		font-size: 24px;
		padding: 0;
	}</style>
	<div class="content-wrapper user-view">
		<!--<pre>{{accountPayables|json}}</pre>-->
		<section class="content">
			<!--<pre>{{defaultFormValues|json}}</pre>-->
			<div class="section-heading"><h2>{{moduleName}}</h2></div>
			<!--<pre>{{gridDefaultFormValues|json}}</pre>-->
			<section class="inner-content">
				<div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
						{{messageText}}</div>
						<div class="row">
							<form class="search-batch" name="fixedAllocationSetup" (ngSubmit)="fixedAllocationSetup.form.valid && save(fixedAllocationSetup)" #fixedAllocationSetup="ngForm" novalidate>								
								<div class="form-row">                            
									<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': fixedAllocationSetup.submitted && accountTableIndex.length == 0}">
										<label>{{defaultFormValues[0]['fieldValue']}}</label>
										<div class="select-outer">
											<!--<select myAutofocus class="form-control auto-focus" title="{{defaultFormValues[0]['helpMessage']}}" title="{{defaultFormValues[0]['helpMessage']}}" name='accountTableIndex'
												[(ngModel)]="accountTableRowIndex"  #accountTableIndex="ngModel" (change)="getDesc()" required>
												<option value="">--{{select}}--</option>
												<option *ngFor="let c of getAccountList" [value]="c.accountTableRowIndex">{{c.accountNumber}}</option>
											</select>-->
											<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrAccountTableIndex" [(ngModel)]="accountTableIndex" [ngModelOptions]="{standalone: true}"
											[settings]="ddlAccountTableIndexSetting" 
											(onSelect)="getAccountTableIndexByID($event)" (onDeSelect)="OnAccountTableIndexDeSelect($event)"></angular2-multiselect>
										</div>   
										<div *ngIf="fixedAllocationSetup.submitted && accountTableIndex.length == 0 ">
											<div class='error-msg'>
												{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
										</div>	
									</div>
								</div><!-- Form Row Ends -->
								
								<div class="form-row">
									
									<div class="col-md-6 col-sm-6 col-xs-12">
										<label>{{defaultFormValues[1]['fieldValue']}}</label>
										<input type="text" title="{{defaultFormValues[1]['helpMessage']}}" class="form-control fm-txt" name="descriptionn" title="{{defaultFormValues[1]['helpMessage']}}" [(ngModel)]="description" #descriptionn="ngModel" readonly>
									</div>
									
									<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode">
										<label>{{defaultFormValues[2]['fieldValue']}}</label>
										<input type="text" title="{{defaultFormValues[2]['helpMessage']}}" class="form-control fm-txt" name="arabicDescription" title="{{defaultFormValues[2]['helpMessage']}}" [(ngModel)]="arabicDescription" #arabicDescriptions="ngModel" readonly>
										
									</div>
									
								</div><!-- Form Row Ends -->
								
								<div class="form-row">                            
									<div class="col-md-6 col-sm-6 col-xs-12">
										<label>{{defaultFormValues[3]['fieldValue']}}</label>
										<input type="text" title="{{defaultFormValues[3]['helpMessage']}}" class="form-control fm-txt" name="aliasName" title="{{defaultFormValues[3]['helpMessage']}}" [(ngModel)]="aliasName" readonly>
										
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode">
										<label>{{defaultFormValues[4]['fieldValue']}}</label>
										<input type="text" title="{{defaultFormValues[4]['helpMessage']}}" class="form-control fm-txt" name="aliasNameArabic" title="{{defaultFormValues[4]['helpMessage']}}" [(ngModel)]="aliasNameArabic"  readonly>
										
									</div>                            
								</div><!-- Form Row Ends -->
								
								<div class="button-row">
									<div class="col-sm-12">
										<input type="submit" [disabled]="LockScreen(defaultFormValues[9]['writeAccess'])" title="{{defaultFormValues[8]['helpMessage']}}" class="orange-btn" *ngIf="defaultFormValues[8]['readAccess']" value="{{defaultFormValues[8]['fieldValue']}}">
										<input type="button" title="{{defaultFormValues[9]['helpMessage']}}" class="blue-btn" (click)="clearForm(fixedAllocationSetup);" *ngIf="defaultFormValues[9]['readAccess']" value="{{defaultFormValues[9]['fieldValue']}}"/>
									</div>
								</div>
								
								<div class="form-row">
									<div class="col-xs-12">
										<div class="algo-table">
											<div class="table-responsive">          
												<table class="table">
													<thead>
														<tr> 
															<th width="40%">{{defaultFormValues[5]['fieldValue']}}</th>
															<th width="35%">{{defaultFormValues[1]['fieldValue']}}</th>
															<th width="35%">{{defaultFormValues[6]['fieldValue']}}</th>
															<th width="25%">&nbsp;</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngFor="let item of accountNumberListObj; let i = index;">
															<td>
																<div class="select-outer">
																	<select class="form-control" name='dropdown_{{i}}' [(ngModel)]="item.accountTableRowIndex">
																		<option value="">--{{select}}--</option>
																		<option *ngFor="let c of getAccountList" [value]="c.actIndx">{{c.mainAccountNumber}}</option>
																	</select>
																</div>
															</td>
															<td>
																<input type="text" readonly="true" class="form-control fm-txt" name="description" [(ngModel)]="description"/>
															</td>
															<td><input type="text" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    class="form-control fm-txt" name="percentage_{{i}}" [(ngModel)]="item.percentage" (blur)="setTotal(i)" /> </td>
															<td>
																
																<a class="add-ico-tb pull-left add-ico-act" *ngIf="i==accountNumberListObj.length-1"(click)="addMore(i);"><i class="fa fa-plus-circle"></i></a> <a  *ngIf="i>0" class="add-ico-tb" (click)="deleteMore(i);"><i class="fa fa-minus-circle"></i></a></td>
																
															</tr>			
															
															<tr>
																<td class="text-right">
																	<b>TOTAL</b>
																</td>
																<td>{{total}}<span *ngIf="total">%</span></td>
															</tr>
															
														</tbody>
													</table>
												</div>
											</div><!-- Algo Table Ends -->
										</div>
									</div><!-- Form Row Ends -->
								</form>
								
							</div>
						</div><!-- Content OUter Ends -->
					</section>
				</section>
			</div>
			<style>
				.user-view .algo-table .acc-txt{border:1px solid #d5d5d5; width:19%;}
			</style>
			<!--<style>
				.ng-valid[required], .ng-valid.required  {
					border-left: 5px solid #42A948;
				}
				.ng-invalid:not(form)  {
					border-left: 5px solid #a94442;
				}
			</style>-->