<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='isPrintAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{printConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='Print(f)' *ngIf='isPrintAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
        </div>
        <!-- Content Heading Ends -->

        <!-- Form start -->
        <div>
          <div *ngIf="Warning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="clearfix"></div>
          <form class="form-horizontal" (ngSubmit)="f.valid && CreateEmployeeQuickAss($event)" #f="ngForm" novalidate>

            <!-- Start Date -->
            <div class="form-group col-md-4">
              <div [ngClass]="{ 'has-error': f.submitted && !strtDate.valid,'col-md-12 col-sm-10 col-xs-16':true, 'col-md-offset-4': currentLanguage == 2 }">
                <div>
                  <label for="strtDate">{{defaultFormValues[0]['fieldValue']}}</label>
                </div>
                <div class="input-group">
                  <div class="col-md-12" style="padding:0px">
                    <input [style.border]="f.submitted && !strtDate.valid?'solid 1px red':'2px solid #d9d9d9'" placeholder="Select date" [ngClass]="'form-control fm-txt date'"
                      ngx-mydatepicker name="strtDate" [(ngModel)]="startDate" [options]="myOptions" #dp2="ngx-mydatepicker"
                      (dateChanged)="onStartDateChanged($event)" (change)="onStartDateChanged($event.target.value)" #strtDate="ngModel"
                      required readonly title="{{defaultFormValues[0]['helpMessage']}}" />
                  </div>
                  <span class="input-group-btn doNotPrintt">
                    <button type="button" class="btn btn-default doNotPrintt" style="float:none; height: 40px; width: 40px;" (click)="dp2.clearDate()">
                      <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <button type="button" class="btn btn-default doNotPrint" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </div>
                <div>
                  <div *ngIf="f.submitted && strtDate.invalid">
                    <div [hidden]="!strtDate.errors.required">
                      {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- End Date -->
            <div class="form-group col-md-4">
              <div [ngClass]="{ 'has-error': f.submitted && !enddate.valid,'col-md-12 col-sm-10 col-xs-16':true, 'col-md-offset-4': currentLanguage == 2 }">
                <div>
                  <label for="enddate">{{defaultFormValues[1]['fieldValue']}}</label>
                </div>
                <div class="input-group">
                  <div class="col-md-12" style="padding:0px">
                    <input [style.border]="f.submitted && !enddate.valid?'solid 1px red':'2px solid #d9d9d9'" placeholder="Select date" [ngClass]="'form-control fm-txt date'"
                      ngx-mydatepicker name="enddate" [(ngModel)]="startDate" [options]="myOptions" #dp2="ngx-mydatepicker"
                      (dateChanged)="onEndDateChanged($event)" (change)="onEndDateChanged($event.target.value)" #enddate="ngModel"
                      required readonly title="{{defaultFormValues[1]['helpMessage']}}" />
                  </div>
                  <span class="input-group-btn doNotPrintt">
                    <button type="button" class="btn btn-default doNotPrintt" style="float:none; height: 40px; width: 40px;" (click)="dp2.clearDate()">
                      <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <button type="button" class="btn btn-default doNotPrint" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </div>
                <div>
                  <div *ngIf="f.submitted && enddate.invalid">
                    <div [hidden]="!enddate.errors.required">
                      {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Get Data Button -->
            <div [ngClass]="'button-row'">
              <div [ngClass]="{'col-md-11 col-sm-9 col-xs-15': true, 'col-md-offset-4': currentLanguage == 2}">
                <div [ngClass]="'col-xs-15'">
                  <span class="pull-right">
                    <button [ngClass]="'blue-btn'" type="button" (click)="getData()">{{defaultFormValues[2]['fieldValue']}}</button>
                  </span>
                </div>
              </div>
            </div>

            <!-- Account Number -->
            <div class="form-group">
              <div [ngClass]="{ 'has-error': f.submitted && !accountNum.valid,'col-md-10 col-sm-8 col-xs-14':true, 'col-md-offset-4': currentLanguage == 2 }">
                <div class="col-md-4">
                  <label for="accountNum">{{defaultFormValues[3]['fieldValue']}}</label>
                </div>
                <div class="col-md-6" *ngIf="infoLoaded">
                  <input type="text" [ngClass]="'form-control fm-txt'" name="accountNum" [(ngModel)]="model['employeeMaster'].accountNum" #accountNum="ngModel"
                    title="{{defaultFormValues[3]['helpMessage']}}" [typeahead]="accountNumList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                    (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="accountNum" class="search-id" autocomplete="off"
                    maxlength="10" [readonly]="selectedChange" required />
                </div>
                <div *ngIf="infoLoaded" class="col-md-9 col-md-offset-3">
                  <div *ngIf="f.submitted && accountNum.invalid">
                    <div [hidden]="!accountNum.errors.required">
                      {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div [hidden]="!accountNum.errors?.maxlength">
                      {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Description -->
            <div class="form-group">
              <div [ngClass]="{'has-error': f.submitted && !codeTypeId.valid,'col-md-10 col-sm-8 col-xs-14':true, 'col-md-offset-4': currentLanguage == 2}">
                <div class="col-md-4">
                  <label class="control-label" for="codeTypeId">{{defaultFormValues[4]['fieldValue']}}</label>
                </div>
                <div class="col-md-6" style="padding: 0;">
                  <input type="text" [ngClass]="'form-control fm-txt'" name="employeeName" value="" #employeeName readonly />
                </div>
              </div>
            </div>

            <!-- Account Category -->
            <div class="form-group">
              <div [ngClass]="{'has-error': f.submitted && !codeTypeId.valid,'col-md-10 col-sm-8 col-xs-14':true, 'col-md-offset-4': currentLanguage == 2}">
                <div class="col-md-4">
                  <label class="control-label" for="codeTypeId">{{defaultFormValues[5]['fieldValue']}}</label>
                </div>
                <div class="col-md-6" style="padding: 0;">
                  <input type="text" [ngClass]="'form-control fm-txt'" name="employeeName" value="" #employeeName readonly />
                </div>
              </div>
            </div>

            <div [ngClass]="{'col-md-11 col-sm-9 col-xs-15': true, 'col-md-offset-4': currentLanguage == 2}">
              <div [ngClass]="'col-xs-15'">
                <span class="pull-right">
                  {{defaultFormValues[12]['fieldValue']}}: 0
                </span>
              </div>
            </div>

            <!-- SUB TABLE STARTS HERE // model['employeeMaster'].employeeFirstName != null && -->
            <div><!-- 
              <div class="col-md-12 mt-30">
                <hr>
              </div> -->

              <div class="algo-table algo-table-department">

                <!-- <div *ngIf="!infoLoaded" class="col-md-10 loader-outer" id="loader">
                  <div class="loader-inner">
                    <img src="/assets/img/loader.gif" alt="Loading table..." height="42" width="42">
                  </div>
                </div> -->

                <!-- Data Grid Starts-->
                <div class="table-responsive">
                  <ngx-datatable id="EmployeeQuickAssignmentGrid1" class="material" [rows]="model['rowsFromDB']" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                    [limit]="page.size" (page)='changePage($event)'>

                    <!-- Data Grid Journal Number -->
                    <ngx-datatable-column name="journalNum" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('code')">{{defaultFormValues[6]['fieldValue']}}</span>
                      </ng-template>
                      <ng-template let-value="value" ngx-datatable-cell-template>
                          {{value}}
                        </ng-template>
                        <ng-template ngx-datatable-footer-template>
                            cdcds
                        </ng-template>
                    </ngx-datatable-column>

                    <!-- Data Grid Journal Date -->
                    <ngx-datatable-column name="JournalDate" [width]="215" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('desc')">{{defaultFormValues[7]['fieldValue']}}</span>
                      </ng-template>
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        {{value}}
                      </ng-template>
                      <ng-template ngx-datatable-footer-template>
                          cdcds
                      </ng-template>
                    </ngx-datatable-column>

                    <!-- Data Grid Distribution Reference -->
                    <ngx-datatable-column name="distRef" [width]="130" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('employeeNationalityDescriptionArabic')">{{defaultFormValues[8]['fieldValue']}}</span>
                      </ng-template>
                      <ng-template let-row="row" class="shorten" ngx-datatable-cell-template>
                        {{value}}
                      </ng-template>
                      <ng-template ngx-datatable-footer-template>
                          cdcds
                      </ng-template>
                    </ngx-datatable-column>

                    <!-- Data Grid Debit Amount -->
                    <ngx-datatable-column name="debitAmt" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('debitAmt')">{{defaultFormValues[9]['fieldValue']}}</span>
                      </ng-template>
                      <ng-template let-row="row" style="padding: 0px !important;width: 200px;" ngx-datatable-cell-template>
                        {{value}}
                      </ng-template>
                      <ng-template ngx-datatable-footer-template>
                          cdcds
                      </ng-template>
                    </ngx-datatable-column>

                    <!-- Data Grid Credit Amount -->
                    <ngx-datatable-column name="creditAmt" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                          <span (click)="sortColumn('creditAmt')">{{defaultFormValues[10]['fieldValue']}}</span>
                        </ng-template>
                        <ng-template let-row="row" style="padding: 0px !important;width: 200px;" ngx-datatable-cell-template>
                          {{value}}
                        </ng-template>
                        <ng-template ngx-datatable-footer-template>
                            cdcds
                        </ng-template>
                      </ngx-datatable-column>

                       <!-- Data Grid Balance -->
                    <ngx-datatable-column name="balance" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                          <span (click)="sortColumn('balance')">{{defaultFormValues[11]['fieldValue']}}</span>
                        </ng-template>
                        <ng-template let-row="row" style="padding: 0px !important;width: 200px;" ngx-datatable-cell-template>
                          {{value}}
                        </ng-template>
                        <ng-template ngx-datatable-footer-template>
                            cdcds
                        </ng-template>
                      </ngx-datatable-column>

                  </ngx-datatable>
                </div>
                <!-- Data Grid Ends-->
              </div>

              <div class="button-row">
                <!-- Table View Starts -->
                <div class="table-view">
                  <span>TABLE VIEW</span>
                  <div class="select-outer">
                    <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #assId="ngModel">
                      <option value="5">5 at a time </option>
                      <option value="15">15 at a time </option>
                      <option value="50">50 at a time </option>
                      <option value="100">100 at a time </option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- Print Button -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-11 col-sm-9 col-xs-15': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-15'">
                    <span class="pull-right">
                      <button [ngClass]="'blue-btn'" type="button" (click)="toPrint()">{{defaultFormValues[14]['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>