<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}
      </p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}
      </p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{PROJECT_CREATE_LABEL['helpMessage']}}">{{PROJECT_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg"
          [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage"
            [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="Search" placeholder="Search"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
                  <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                  <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                  <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                  <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
              </div>

        <div class="algo-table algo-table-department">
        <!-- Data Grid Starts-->
        <div class="table-responsive">
                      <ngx-datatable id="DepartmentGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                          [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

        <!-- Data Grid checkbox -->
        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                              [checkboxable]="true">
                          </ngx-datatable-column>

        <!-- Data Grid Columns -->
        <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                              <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                  <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                          <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                          <div 
                                          [draggable]="isConfigure"
                                          (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                          (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                          (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                          (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                      </ng-template>
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                                      </ng-template>
                                  </ngx-datatable-column>  
                              </div>
                          </div>

        <!-- Data Grid Action -->
        <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                {{PROJECT_ACTION['fieldValue']}}
                              </ng-template>
                              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                              </ng-template>
                          </ngx-datatable-column>
                      </ngx-datatable>
                  </div>
        <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
                      <span>TABLE VIEW</span>
                      <div class="select-outer">
                          <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                              <option value="5">5 at a time </option>
                              <option value="15">15 at a time </option>
                              <option value="50">50 at a time </option>
                              <option value="100">100 at a time </option>
                          </select>
                      </div>
                  </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
                  </div> 
         <button class="blue-btn" (click)="varifyDelete()">{{PROJECT_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{PROJECT_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{PROJECT_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning"
              [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>

            <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateProject(f, $event)" #f="ngForm"
              novalidate>

              <!-- PROJECT Id field -->
              <div *ngIf="isUnderUpdate; then update else create"></div>
              <ng-template #update>
                <div [ngClass]="'form-group'">
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="projectId">{{PROJECT_ID['fieldValue']}}</label>
                    </div>
                    <div class="col-md-4">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="projectId" value="{{projectIdValue}}"
                      title="{{PROJECT_ID['helpMessage']}}" maxlength="15" [readonly]="!PROJECT_ID['writeAccess']" [required]="PROJECT_ID['isMandatory']"/>
                      <div *ngIf="f.submitted && projectId.invalid">
                        <div [hidden]="!projectId.errors.required">
                          {{PROJECT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!projectId.errors?.maxlength">
                          {{PROJECT_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>

              <ng-template #create>
                <div [ngClass]="'form-group'">
                  <div
                    [ngClass]="{ 'has-error': f.submitted && !projectId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="projectId">{{PROJECT_ID['fieldValue']}}</label>
                      <span *ngIf="PROJECT_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-4">
                      <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="projectId"
                        [(ngModel)]="model.projectId" #projectId="ngModel" autocomplete="off"
                        title="{{PROJECT_ID['helpMessage']}}" maxlength="15" [required]="PROJECT_ID['isMandatory']" [typeahead]="projectIdList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="projectId"/>
                      <div *ngIf="f.submitted && projectId.invalid">
                        <div [hidden]="!projectId.errors.required">
                          {{PROJECT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!projectId.errors?.maxlength">
                          {{PROJECT_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>

                 <!-- PROJECT NAME Field -->
                 <div [ngClass]="'form-group'">
                  <div
                    [ngClass]="{'has-error': f.submitted && !projectName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label"
                        for="projectName">{{PROJECT_NAME['fieldValue']}}</label>
                      <span *ngIf="PROJECT_NAME['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="projectName"
                        [(ngModel)]="model.projectName" #projectName="ngModel"
                        title="{{PROJECT_NAME['helpMessage']}}"
                        [readonly]="!PROJECT_NAME['writeAccess']" [required]="PROJECT_NAME['isMandatory']" maxlength="61" />
                      <div *ngIf="f.submitted && projectName.invalid">
                        <div [hidden]="!projectName.errors.required">
                          {{PROJECT_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!projectName.errors?.maxlength">
                          {{PROJECT_NAME['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>


                       <!-- Arabic PROJECT  NAME   -->
              <div [ngClass]="'form-group'">
                <div
                  [ngClass]="{'has-error': f.submitted && !projectArabicName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label"
                      for="projectArabicName">{{PROJECT_ARABIC_NAME['fieldValue']}}</label>
                    <span *ngIf="PROJECT_ARABIC_NAME['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="projectArabicName"
                      [(ngModel)]="model.projectArabicName" #projectArabicName="ngModel"
                      title="{{PROJECT_ARABIC_NAME['helpMessage']}}" [readonly]="!PROJECT_ARABIC_NAME['writeAccess']" [required]="PROJECT_ARABIC_NAME['isMandatory']" 
                      maxlength="61" />
                    <div *ngIf="f.submitted && projectArabicName.invalid">
                      <div [hidden]="!projectArabicName.errors.required">
                        {{PROJECT_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!projectArabicName.errors?.maxlength">
                        {{PROJECT_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- PROJECT Description Field -->
              <div [ngClass]="'form-group'">
                <div
                  [ngClass]="{'has-error': f.submitted && !projectDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label"
                      for="projectDescription">{{PROJECT_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="PROJECT_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="projectDescription"
                      [(ngModel)]="model.projectDescription" #projectDescription="ngModel"
                      title="{{PROJECT_DESCRIPTION['helpMessage']}}"
                      [readonly]="!PROJECT_DESCRIPTION['writeAccess']" [required]="PROJECT_DESCRIPTION['isMandatory']" maxlength="120" />
                    <div *ngIf="f.submitted && projectDescription.invalid">
                      <div [hidden]="!projectDescription.errors.required">
                        {{PROJECT_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!projectDescription.errors?.maxlength">
                        {{PROJECT_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Arabic PROJECT description -->
              <div [ngClass]="'form-group'">
                <div
                  [ngClass]="{'has-error': f.submitted && !projectArabicDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label"
                      for="projectArabicDescription">{{PROJECT_ARABIC_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="PROJECT_ARABIC_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="projectArabicDescription"
                      [(ngModel)]="model.projectArabicDescription" #projectArabicDescription="ngModel"
                      title="{{PROJECT_ARABIC_DESCRIPTION['helpMessage']}}" [readonly]="!PROJECT_ARABIC_DESCRIPTION['writeAccess']" [required]="PROJECT_ARABIC_DESCRIPTION['isMandatory']" 
                      maxlength="120" />
                    <div *ngIf="f.submitted && projectArabicDescription.invalid">
                      <div [hidden]="!projectArabicDescription.errors.required">
                        {{PROJECT_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!projectArabicDescription.errors?.maxlength">
                        {{PROJECT_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div
                    [ngClass]="{'has-error': f.submitted && !fromDate.valid,'col-md-8 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

                    <div class="col-md-4">
                        <label
                            class="control-label">{{PROJECT_START_DATE['fieldValue']}}</label>
                        <span *ngIf="PROJECT_START_DATE['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input [ngClass]="'form-control fm-txt'" placeholder="Select a date"
                                ngx-mydatepicker name="fromDate" [(ngModel)]="modelStartDate"
                                [options]="myOptions" #dp1="ngx-mydatepicker"
                                (dateChanged)="onStartDateChanged($event)"
                                (change)="onStartDateChanged($event.target.value)" #fromDate="ngModel"
                                [required]="PROJECT_START_DATE['isMandatory']"
                                [readonly]="!PROJECT_START_DATE['writeAccess']" [attr.disabled]="true"/>

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                    style="float:none; height: 40px; width: 40px;"
                                    (click)="dp1.clearDate()">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                                <button type="button" class="btn btn-default"
                                    style="float:none; height: 40px; width: 40px;"
                                    (click)="dp1.toggleCalendar()"
                                    [attr.disabled]="BatchTypeValid ? '' : null">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>

                        </div>
                        <div *ngIf="f.submitted && fromDate.invalid">
                            <div [hidden]="!fromDate.errors.required">
                                {{PROJECT_START_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- End Date -->
            <div class="form-group">

                <div
                    [ngClass]="{'has-error': (f.submitted  && !toDate.valid) || ( !toDate.errors?.required && error.isError),'col-md-8 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

                    <div class="col-md-4">
                        <label
                            class="control-label">{{PROJECT_END_DATE['fieldValue']}}</label>
                        <span *ngIf="PROJECT_END_DATE['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input [ngClass]="'form-control fm-txt'" placeholder="Select a date"
                                ngx-mydatepicker name="toDate" [(ngModel)]="modelEndDate"
                                [options]="myOptions" #dp2="ngx-mydatepicker"
                                (dateChanged)="onEndDateChanged($event)" #toDate="ngModel"
                                [required]="PROJECT_END_DATE['isMandatory']"
                                [readonly]="!PROJECT_END_DATE['writeAccess']"
                                (change)="compareTwoDates(f)"
                                (change)="onEndDateChanged($event.target.value)" [attr.disabled]="true"/>

                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                    style="float:none; height: 40px; width: 40px;"
                                    (click)="error.isError=false" (click)="dp2.clearDate()">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                                <button type="button" class="btn btn-default"
                                    style="float:none; height: 40px; width: 40px;"
                                    (click)="dp2.toggleCalendar()"
                                    [attr.disabled]="BatchTypeValid ? '' : null">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>

                        </div>
                        <div *ngIf="f.submitted && toDate.invalid">
                            <div [hidden]="!toDate.errors.required">
                                {{PROJECT_END_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>

                        </div>
                        <div *ngIf="!toDate.errors?.required && error.isError" class="r">
                            {{ error.errorMessage }}
                        </div>
                    </div>

                </div>
            </div>

              

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{PROJECT_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{PROJECT_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button"
                        (click)="Clear(f)">{{PROJECT_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'"
                        (click)="showCreateForm = false;">{{PROJECT_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>