<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction && !isDeleteBatch'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
            <p *ngIf="isDeleteBatch">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction && !isDeleteBatch'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='deleteBatch()' *ngIf='isDeleteBatch'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[5]['helpMessage']}}">{{defaultFormValues[2]['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->

                <div class="button-row">
                    <!-- Table View Starts -->
                    <!-- <div class="table-view">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div> -->
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>


                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <!-- <div class="col-md-12 mt-30">
                            <hr>
                        </div> -->
                        <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model.id">{{defaultFormValues[2]['fieldValue']}} {{moduleName}}</h3>
                            <h3 *ngIf="model.id">{{defaultFormValues[3]['fieldValue']}} {{moduleName}}</h3>
                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>

                        <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateActiveEmployeePostdatedPayrate(f, $event)" #f="ngForm"
                            novalidate>


                            <!-- Department Id field -->


                            <div *ngIf="isUnderUpdate; then update else create"></div>

                            <!-- <ng-template #update>
									<div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label class="control-label" for="batchId">{{defaultFormValues[1]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'"  name="batchId" value="{{batchIdvalue}}"
                                                title="{{defaultFormValues[0]['helpMessage']}}" maxlength="15" required readonly  />
                                            <div *ngIf="f.submitted && batchId.invalid">
                                                <div [hidden]="!batchId.errors.required">
                                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!batchId.errors?.maxlength">
                                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
									</div>
                                    </ng-template> -->
                            <div class="col-md-6">

                                <div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'has-error': f.submitted && !ranges.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-3">
                                            <label class="control-label" for="ranges">{{defaultFormValues[9]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select [ngClass]="'form-control fm-txt'" name="ranges" [(ngModel)]="model.ranges" #ranges="ngModel" autocomplete="off" title="{{defaultFormValues[9]['helpMessage']}}"
                                                maxlength="15">
                                                <option value='0'>--Select Ranges--</option>
                                                <option value='effectiveDates'>Effective Dates</option>
                                                <option value='employeeId'>Employee IDs</option>
                                                <option value='payCodes'>Pay Codes</option>
                                                <option value='reasonForChange'>Reasons For Change</option>
                                            </select>

                                            <div *ngIf="f.submitted && ranges.invalid">
                                                <div [hidden]="!ranges.errors.required">
                                                    {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!ranges.errors?.maxlength">
                                                    {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <input type='radio' name='filter' [(ngModel)]="all" [value]="true">All
                                        </div>

                                    </div>
                                </div>





                                <!-- Department Description Field -->
                                <div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'has-error': f.submitted && !BatchId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">

                                        <div class="col-md-3">
                                            <label class="control-label" for="batchId">{{defaultFormValues[13]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <select [ngClass]="'form-control fm-txt'" name="batchId" [(ngModel)]="batchId" #BatchId="ngModel" autocomplete="off" title="{{defaultFormValues[13]['helpMessage']}}"
                                                maxlength="15" [typeahead]="batchDropdownList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                                                (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="batchId"
                                                [ngModelOptions]="{standalone: true}">
                                                <option value='0'>--Select Sort--</option>
                                                <option value='1'>effective dates</option>
                                                <option value='2'>employee IDs</option>
                                                <option value='3'>pay codes</option>
                                                <option value='4'>reasons for change</option>
                                            </select>

                                            <div *ngIf="f.submitted && BatchId.invalid">
                                                <div [hidden]="!BatchId.errors.required">
                                                    {{defaultFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!BatchId.errors?.maxlength">
                                                    {{defaultFormValues[13]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Arabic department description -->
                            <div class='col-md-6'>

                                <div *ngIf="ranges.value=='effectiveDates'|| ranges.value=='0'">
                                    <div class="form-group">
                                        <div [ngClass]="{'has-error': f.submitted && !fromDate.valid,'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                            <div class="col-md-2">
                                                <input type='radio' name='filter' [(ngModel)]="all" [value]="false">&nbsp;&nbsp;&nbsp;From
                                            </div>
                                            <!-- <div class="col-md-2">
                                                <!-- <label class="control-label">{{defaultFormValues[10]['fieldValue']}}</label> 
                                            </div> -->
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input [ngClass]="'form-control fm-txt'" placeholder="Select a date" ngx-mydatepicker name="fromDate" [(ngModel)]="modelStartDate"
                                                        [options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onStartDateChanged($event)"
                                                        (change)="onStartDateChanged($event.target.value)" #fromDate="ngModel"
                                                        required readonly/>

                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>

                                                </div>
                                                <div *ngIf="f.submitted && fromDate.invalid">
                                                    <div [hidden]="!fromDate.errors.required">
                                                        {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- End Date -->
                                    <div class="form-group">

                                        <div [ngClass]="{'has-error': (f.submitted  && !toDate.valid) || ( !toDate.errors?.required && error.isError),'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                            <div class="col-md-2">
                                                <input type='hidden' name='test'>To
                                            </div>
                                            <!-- <div class="col-md-2">
                                                <label class="control-label">{{defaultFormValues[11]['fieldValue']}}</label>
                                            </div> -->
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input [ngClass]="'form-control fm-txt'" placeholder="Select a date" ngx-mydatepicker name="toDate" [(ngModel)]="modelEndDate"
                                                        [options]="myOptions" #dp2="ngx-mydatepicker" (dateChanged)="onEndDateChanged($event)"
                                                        #toDate="ngModel" required readonly (change)="compareTwoDates(f)" (change)="onEndDateChanged($event.target.value)"
                                                    />

                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="error.isError=false"
                                                            (click)="dp2.clearDate()">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>

                                                </div>
                                                <div *ngIf="f.submitted && toDate.invalid">
                                                    <div [hidden]="!toDate.errors.required">
                                                        {{defaultFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>

                                                </div>
                                                <div *ngIf="!toDate.errors?.required && error.isError" class="r">
                                                    {{ error.errorMessage }}
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>

                                <div *ngIf="ranges.value=='employeeId'">

                                    <div [ngClass]="'form-group'">
                                        <div [ngClass]="{ 'has-error': f.submitted && !fromemp.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                            <div class="col-md-2">
                                                <input type='radio' name='filter' [(ngModel)]="all" [value]="false">&nbsp;&nbsp;&nbsp;From EmployeeID
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="fromemp" [(ngModel)]="fromemployeeId" #fromemp="ngModel" autocomplete="off"
                                                    title="{{defaultFormValues[9]['helpMessage']}}" maxlength="15" [typeahead]="employeeIdList"
                                                    (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadEmployeeOnSelect($event)"
                                                    typeaheadOptionField="employeeId" class="search-id">


                                                <div *ngIf="f.submitted && fromemp.invalid">
                                                    <div [hidden]="!fromemp.errors.required">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div [hidden]="!fromemp.errors?.maxlength">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div [ngClass]="'form-group'">
                                        <div [ngClass]="{ 'has-error': f.submitted && !tomemp.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                            <div class="col-md-2">
                                                <input type='hidden' name='test'>To EmployeeID
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="tomemp" [(ngModel)]="toemployeeId" #tomemp="ngModel" autocomplete="off"
                                                    title="{{defaultFormValues[9]['helpMessage']}}" [typeahead]="toemployeeIdList"
                                                    (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadtoEmployeeOnSelect($event)"
                                                    typeaheadOptionField="employeeId" class="search-id">


                                                <div *ngIf="f.submitted && tomemp.invalid">
                                                    <div [hidden]="!tomemp.errors.required">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div [hidden]="!tomemp.errors?.maxlength">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>





                                </div>


                                <div *ngIf="ranges.value=='payCodes'">

                                    <div [ngClass]="'form-group'">
                                        <div [ngClass]="{ 'has-error': f.submitted && !frompaycode.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                            <div class="col-md-2">
                                                <input type='radio' name='filter' [(ngModel)]="all" [value]="false">&nbsp;&nbsp;&nbsp;From PaycodeID
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="frompaycode" [(ngModel)]="frompaycodeId" #frompaycode="ngModel"
                                                    autocomplete="off" title="{{defaultFormValues[9]['helpMessage']}}" [typeahead]="formpaycodeIdList"
                                                    (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadPayCodeOnSelect($event)"
                                                    typeaheadOptionField="payCodeId" class="search-id">


                                                <div *ngIf="f.submitted && frompaycode.invalid">
                                                    <div [hidden]="!frompaycode.errors.required">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div [hidden]="!frompaycode.errors?.maxlength">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div [ngClass]="'form-group'">
                                        <div [ngClass]="{ 'has-error': f.submitted && !topaycode.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                            <div class="col-md-2">
                                                <input type='hidden' name='test'>To PaycodeID
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="topaycode" [(ngModel)]="topaycodeId" #topaycode="ngModel" autocomplete="off"
                                                    title="{{defaultFormValues[9]['helpMessage']}}" [typeahead]="topaycodeIdList"
                                                    (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadtoPayCodeOnSelect($event)"
                                                    typeaheadOptionField="payCodeId" class="search-id">


                                                <div *ngIf="f.submitted && topaycode.invalid">
                                                    <div [hidden]="!topaycode.errors.required">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div [hidden]="!topaycode.errors?.maxlength">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>





                                </div>


                                <div *ngIf="ranges.value=='reasonForChange'">

                                    <div [ngClass]="'form-group'">
                                        <div [ngClass]="{ 'has-error': f.submitted && !fromReason.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                            <div class="col-md-2">
                                                <input type='radio' name='filter' [(ngModel)]="all" [value]="false">&nbsp;&nbsp;&nbsp;From Reason For Change
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="fromReason" [(ngModel)]="fromreason" #fromReason="ngModel" autocomplete="off"
                                                    title="{{defaultFormValues[9]['helpMessage']}}" [typeahead]="fromreasonIdList"
                                                    (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadFromreasonOnSelect($event)"
                                                    typeaheadOptionField="reasonforChange" class="search-id">


                                                <div *ngIf="f.submitted && fromReason.invalid">
                                                    <div [hidden]="!fromReason.errors.required">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div [hidden]="!fromReason.errors?.maxlength">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                    <div [ngClass]="'form-group'">
                                        <div [ngClass]="{ 'has-error': f.submitted && !toReason.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                            <div class="col-md-2">
                                                <input type='hidden' name='test'>To Reason For Change
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="toReason" [(ngModel)]="toreason" #toReason="ngModel" autocomplete="off"
                                                    title="{{defaultFormValues[9]['helpMessage']}}" [typeahead]="toreasonIdList"
                                                    (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadtoreasonOnSelect($event)"
                                                    typeaheadOptionField="reasonforChange" class="search-id">


                                                <div *ngIf="f.submitted && toReason.invalid">
                                                    <div [hidden]="!toReason.errors.required">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div [hidden]="!toReason.errors?.maxlength">
                                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>





                                </div>

                            </div>

                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button class="grey-btn" type="button" (click)="display()">{{defaultFormValues[6]['fieldValue']}}</button>
                                            <button *ngIf="!model.id" type="button" (click)="markAll()" [ngClass]="'grey-btn'">{{defaultFormValues[15]['fieldValue']}}</button>
                                            <!-- <button *ngIf="!model.id" [ngClass]="'grey-btn'">Save</button>
                                                    <button [ngClass]="'blue-btn'" type="button">Cancel</button> -->
                                            <button [ngClass]="'grey-btn'" (click)="unmarkAll()" type="button">{{defaultFormValues[16]['fieldValue']}}</button>
                                            <br>
                                            <br>

                                        </span>
                                    </div>
                                </div>
                            </div>


                            <div class="algo-table algo-table-department">
                                <!-- Data Grid Starts-->
                                <div class="table-responsive">
                                    <ngx-datatable id="DepartmentGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                        [rowHeight]="'auto'" [externalPaging]="false" [selected]="selected" [selectionType]="'checkbox'"
                                        (select)='onSelect($event)' [scrollbarH]='true'>

                                        <!-- Data Grid checkbox -->
                                        <ngx-datatable-column name="typeaheadOnSelect" [width]="70" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumn('include')">{{defaultFormValues[17]['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" [title]="defaultFormValues[17]['helpMessage']"
                                                />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid Department Id -->
                                        <ngx-datatable-column name="effectiveDate" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumn('effectiveDate')">{{defaultFormValues[18]['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value | date:"dd-MM-yyyy"}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="employeeMasterHcm" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false"
                                            [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumn('employeeMasterHcm')">{{defaultFormValues[19]['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value.employeeId}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid Department Description -->
                                        <ngx-datatable-column name="payCode" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumn('payCode')">{{defaultFormValues[20]['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value.payCodeId}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid  Arabic Department Description -->
                                        <ngx-datatable-column name="newPayRate" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumn('newPayRate')">{{defaultFormValues[21]['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="currentPayRate" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumn('currentPayRate')">{{defaultFormValues[22]['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="active" [width]="100" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true"
                                            [headerCheckboxable]="false" [checkboxable]="false">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span (click)="sortColumn('active')">{{defaultFormValues[25]['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                <input type="checkbox" [checked]="row.active" (click)="changeSelection(row, row.$$index)" [title]="defaultFormValues[4]['helpMessage']"
                                                />
                                            </ng-template>

                                        </ngx-datatable-column>

                                        <!-- Data Grid Action -->
                                        <!-- <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    {{defaultFormValues[4]['fieldValue']}}
                                                </ng-template>
                                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                                </ng-template>
                                            </ngx-datatable-column> -->
                                    </ngx-datatable>
                                </div>
                                <!-- Data Grid Ends-->
                            </div>
                            <!-- Buttons -->

                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button class="grey-btn" type="submit">{{defaultFormValues[23]['fieldValue']}}</button>
                                            <button *ngIf="!model.id" type="button" [ngClass]="'grey-btn'">{{defaultFormValues[24]['fieldValue']}}</button>
                                            <!-- <button *ngIf="!model.id" [ngClass]="'grey-btn'">Save</button>
                                                <button [ngClass]="'blue-btn'" type="button">Cancel</button> -->
                                            <button [ngClass]="'grey-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[5]['fieldValue']}}</button>

                                        </span>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                    <!-- Create Update form ends -->
                </div>
            </div>
        </section>
    </section>
</div>