<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
    </div>
    <div class="modal-footer">
           <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
           <button class="orange-btn-sm" (click)='DeleteBankTransferEntry(f)' *ngIf='isDeleteAction'>{{OkText}}</button>
					 <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>

<div class="content-wrapper user-view" >
    <section class="content">
        <!-- <pre>{{defaultAddFormValues | json}}</pre> -->
        <div class="section-heading"><h2>{{moduleName}}</h2></div><!-- section Heading Ends -->
            <section class="inner-content">
                <div class="content-outer com-form">
                        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                                {{messageText}}
                             </div>
                    <div class="row">
                        <form (ngSubmit)="!hasMsg && f.form.valid" #f="ngForm" id="BankTransferEntry" novalidate>
                        <div class="form-row">
                             <div *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && model.bankTransferNumber == '','col-md-6 col-sm-6 col-xs-12 dob-row':true}">
                                <div class="bt-row">
                                    <div class="label-outer">
                                      <label for="bankTransferNumber">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                    </div>
                                    <div class="value-outer">
                                        <div class="hf-txt">
                                            <input type="text" name="bankTransferNumber"  OnlyNumber="true"  
                                            (keydown)="onlyDecimalNumberKey($event)"  [ngClass]="'form-control fm-txt'" myAutofocus name="bankTransferNumber" [(ngModel)]="model.bankTransferNumber" 
                                                #bankTransferNumber="ngModel" id="bankTransferNumber" maxlength="15" 
                                                title="{{defaultAddFormValues[0]['helpMessage']}}" [readonly]="isModify" >
                                        </div>
                                        <div class="hf-txt">
                                        <ng-select [allowClear]="false"
                                        [active]="activeBankTransferNumberList"
                                        [items]="arrBankTransferNumberList"
                                        [disabled]="disableBankTrsansferList"
                                        (data)="bindSelectedItemFrom($event,'BankTransferNumber')"
                                         title="{{defaultAddFormValues[0]['helpMessage']}}">
                                    </ng-select>
                                    </div>
                                        <div *ngIf="f.submitted && model.bankTransferNumber == ''">
                                                <div class='error-msg'>
                                                    {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                        </div>   
                                    </div><!-- Value outer ENds -->
                                </div><!-- Bt row Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                        <div class="form-row">
                            <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !transferDate.valid,'col-md-6 col-sm-6 col-xs-12 dob-row':true}">
                             <div class="bt-row">
                                    <div class="label-outer">
                                        <label>{{defaultAddFormValues[1]['fieldValue']}}</label>
                                    </div>
                                    <div class="value-outer">
                                         <input type="text" [ngClass]="'form-control fm-txt'" name="transferDate" [(ngModel)]="model.transferDate" 
                                            (dateChanged)="onDateChanged($event)" ngx-mydatepicker #dp="ngx-mydatepicker" [options]="myOptions" #transferDate="ngModel" id="transferDate" title="{{defaultAddFormValues[1]['helpMessage']}}" required readonly>
                                        <span class="input-group-btn db--date">
                                            <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                            <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span> 
                                        <div *ngIf="f.submitted && transferDate.invalid">
                                            <div class='error-msg' *ngIf="transferDate.errors.required">
                                                    {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>       
                                    </div> 
                               </div>
                            </div>
                                  
                        <div *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeCurrency[0].id == '0','col-md-6 col-sm-6 col-xs-12':true }">
                                <div class="bt-row">
                                   <div class="label-outer">
                                       <label for="currencyID">{{defaultAddFormValues[3]['fieldValue']}}</label>
                                   </div><!-- Label Outer Ends --> 
                                   <div class="value-outer">
                                       <div class="">
                                       <ng-select [allowClear]="false"
                                           [active]="activeCurrency"
                                           [items]="arrCurrency"
                                           [disabled]="false"
                                           (data)="bindSelectedItemFrom($event,'Currency')"
                                            title="{{defaultAddFormValues[3]['helpMessage']}}">
                                       </ng-select>
                                       <div *ngIf="f.submitted && activeCurrency[0].id == '0'">
                                               <div class='error-msg'>
                                                   {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                               </div>
                                           </div>
                                       </div>
                                   </div><!-- Value Outer Ends -->
                               </div><!-- Form Row Ends -->
                                    </div>
                        </div><!-- Form Row Ends -->
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultAddFormValues[2]['readAccess']">
                                <div class="bt-row">
                             
                                    <div class="label-outer">
                                           <label for="glBatchId">{{defaultAddFormValues[2]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                             <ng-select [allowClear]="false"
                                               [active]="activeBatch"
                                               [items]="arrBatchList"
                                               [disabled]="false"
                                               (data)="bindSelectedItemFrom($event,'Batch')"
                                               title="{{defaultAddFormValues[2]['helpMessage']}}">
                                             </ng-select>
                                          
                                     </div><!-- Value Outer Ends -->
                                   </div><!-- Form Row Ends -->
                            </div>
                            <div *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{'has-error': f.submitted  && activeExchangeDetail[0].id == '0','col-md-6 col-sm-6 col-xs-12 dob-row':true}">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="exchangeTableID">{{defaultAddFormValues[4]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <!-- {{arrExchangeDetail | json}} -->
                                    <div class="value-outer"> 
                                            <ng-select [allowClear]="false"
                                            [active]="activeExchangeDetail"
                                            [items]="arrExchangeDetail"
                                            [disabled]="false"
                                            (data)="bindSelectedItemFrom($event,'ExchangeDetail')"
                                            title="{{defaultAddFormValues[4]['helpMessage']}}">
                                        </ng-select>
                                        <!-- <input type="text" [ngClass]="'form-control fm-txt'" name="exchangeTableID" [(ngModel)]="model.exchangeTableID" 
                                            #exchangeTableID="ngModel" id="exchangeTableID" title="{{defaultAddFormValues[4]['helpMessage']}}" required > -->
                                        <div *ngIf="f.submitted && activeExchangeDetail[0].id == '0'">
                                            <div class='error-msg'>
                                                {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> 
                                    </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-row">
                                        <div class="content-heading">
                                            <h3>{{defaultAddFormValues[5]['fieldValue']}}</h3>
                                        </div><!-- Content Heading Ends -->
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row" *ngIf="defaultAddFormValues[6]['readAccess']">
                                        <div class="bt-row">
                                            <div class="label-outer">
                                                <label for="companyTransferFrom">{{defaultAddFormValues[6]['fieldValue']}}</label>
                                            </div><!-- Label Outer Ends -->
                                            <div class="value-outer"  [ngClass]="{ 'has-error': f.submitted && activeCompanyFrom[0].id == '0'}">
                                                <ng-select [allowClear]="false"
                                                    [active]="activeCompanyFrom"
                                                    [items]="arrCompany"
                                                    [disabled]="false"
                                                    (data)="bindSelectedItemFrom($event,'CompanyFrom')"
                                                    title="{{defaultAddFormValues[6]['helpMessage']}}">
                                                </ng-select>
                                            </div>
                                                <div *ngIf="f.submitted && activeCompanyFrom[0].id == '0'">
                                                        <div class='error-msg'>
                                                            {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                
                                            </div><!-- Value Outer ENds -->    
                                        </div> <!-- BT Row  Ends -->
                                    </div><!-- Form Row Ends -->

                                    <div class="form-row">
                                        <!-- {{arrCheckbook | json}} -->
                                        
                                            <div *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{'has-error bt-row': f.submitted && activeCheckbookFrom[0].id == '0','':true}">
                                                <div class="label-outer">
                                                    <label for="checkbookIDFrom">{{defaultAddFormValues[7]['fieldValue']}}</label>
                                                </div><!-- Label Outer Ends -->
                                                <div class="value-outer"> 
                                                    <ng-select [allowClear]="false"
                                                        [active]="activeCheckbookFrom"
                                                        [items]="arrCheckbook"
                                                        [disabled]="false"
                                                        (data)="bindSelectedItemFrom($event,'Checkbook')"
                                                        title="{{defaultAddFormValues[7]['helpMessage']}}">
                                                    </ng-select>
                                                    <div *ngIf="f.submitted  && activeCheckbookFrom[0].id == '0'">
                                                        <div class='error-msg'>
                                                            {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div> 
                                                </div><!-- Value Outer ENds -->    
                                            </div> <!-- BT Row  Ends -->
                                        
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row" *ngIf="defaultAddFormValues[8]['readAccess']">
                                        <div class="bt-row">
                                            <div class="label-outer">
                                                <label>{{defaultAddFormValues[8]['fieldValue']}}</label>
                                            </div><!-- Label Outer Ends -->
                                            <div class="value-outer">
                                                <input type="text" [ngClass]="'form-control fm-txt'"  name="checkBookCurrencyFrom"
                                                 id="checkBookCurrency" [(ngModel)]="checkBookCurrencyFrom"  title="{{defaultAddFormValues[8]['helpMessage']}}"  readonly>
                                            </div><!-- Value Outer ENds -->    
                                        </div> <!-- BT Row  Ends -->
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row" *ngIf="defaultAddFormValues[9]['readAccess']">
                                        
                                            <div [ngClass]="{'has-error bt-row': f.submitted && !commentFrom.valid,'':true}">
                                            <div class="label-outer">
                                                <label for="commentFrom">{{defaultAddFormValues[9]['fieldValue']}}</label>
                                            </div><!-- Label Outer Ends -->
                                            <div class="value-outer"> 
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="commentFrom" [(ngModel)]="model.commentFrom" [readonly]="!defaultAddFormValues[9]['writeAccess']"
                                                        #commentFrom="ngModel" id="commentFrom" maxlength="61" title="{{defaultAddFormValues[9]['helpMessage']}}" required >
                                                    <div *ngIf="f.submitted && commentFrom.invalid">
                                                        <div class='error-msg' *ngIf="commentFrom.errors.required">
                                                            {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div> 
                                            </div><!-- Value Outer ENds -->    
                                        </div> <!-- BT Row  Ends -->
                                        
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row" *ngIf="defaultAddFormValues[10]['readAccess']">
                                       
                                            <div [ngClass]="{'has-error bt-row': f.submitted && !exchangeRateFrom.valid,'':true}">
                                            <div class="label-outer">
                                                <label for="exchangeRateFrom">{{defaultAddFormValues[10]['fieldValue']}}</label>
                                            </div><!-- Label Outer Ends -->
                                            <div class="value-outer"> 
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="exchangeRateFrom" [(ngModel)]="model.exchangeRateFrom" 
                                                        #exchangeRateFrom="ngModel" id="exchangeRateFrom" title="{{defaultAddFormValues[10]['helpMessage']}}" 
                                                        (blur)="GetCheckbookAmount('From')" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"
                                                          maxlength="10" [readonly]="!defaultAddFormValues[10]['writeAccess']" required >
                                                    <div *ngIf="f.submitted && exchangeRateFrom.invalid">
                                                        <div class='error-msg' *ngIf="exchangeRateFrom.errors.required">
                                                            {{defaultAddFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div>
                                            </div><!-- Value Outer ENds -->    
                                        </div> <!-- BT Row  Ends -->
                                        
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row" *ngIf="defaultAddFormValues[11]['readAccess']">
                                        <div class="bt-row">
                                            <div class="label-outer">
                                                <label for="rateCalculateMethodFrom">{{defaultAddFormValues[11]['fieldValue']}}</label>
                                            </div><!-- Label Outer Ends -->
                                            <div class="value-outer"> 
                                                <label><input name="rateCalculateMethodFrom" type="radio" id="rateCalculateMethodFrom_1" [(ngModel)]="model.rateCalculateMethodFrom"  value="1" #rateCalculateMethodFrom="ngModel" title="{{defaultAddFormValues[17]['helpMessage']}}" (change)="GetCheckbookAmount('From')" ><span>{{defaultAddFormValues[17]['fieldValue']}}</span></label>
                                                <label><input name="rateCalculateMethodFrom" type="radio" id="rateCalculateMethodFrom_2" [(ngModel)]="model.rateCalculateMethodFrom" value="2" #rateCalculateMethodFrom="ngModel" title="{{defaultAddFormValues[18]['helpMessage']}}" (change)="GetCheckbookAmount('From')" ><span>{{defaultAddFormValues[18]['fieldValue']}}</span></label>
                                            </div><!-- Value Outer ENds -->    
                                        </div> <!-- BT Row  Ends -->
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row" *ngIf="defaultAddFormValues[12]['readAccess']">
                                        
                                            <div [ngClass]="{'has-error bt-row': f.submitted && !transferAmountFrom.valid,'':true}">
                                            <div class="label-outer">
                                                <label for="transferAmountFrom">{{defaultAddFormValues[12]['fieldValue']}}</label>
                                            </div><!-- Label Outer Ends -->
                                            <div class="value-outer"> 
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="transferAmountFrom" [(ngModel)]="model.transferAmountFrom" 
                                                        #transferAmountFrom="ngModel" id="transferAmountFrom" OnlyNumber="true" 
                                                        (keypress)="onlyDecimalNumberKey($event)"     title="{{defaultAddFormValues[12]['helpMessage']}}"
                                                         [readonly]="!defaultAddFormValues[12]['writeAccess']" (blur)="GetCheckbookAmount('From')"
                                                          (ngModelChange) = "gettransferAmountFrom($event)" 
                                                          (focus)='formattransferAmountFromChanged()'required >
                                                    <div *ngIf="f.submitted && transferAmountFrom.invalid">
                                                        <div class='error-msg' *ngIf="transferAmountFrom.errors.required">
                                                            {{defaultAddFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div>
                                            </div><!-- Value Outer ENds -->    
                                        </div> <!-- BT Row  Ends -->
                                       
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row" *ngIf="defaultAddFormValues[13]['readAccess']">
                                        <div class="bt-row">
                                            <div class="label-outer">
                                                <label>{{defaultAddFormValues[13]['fieldValue']}}</label>
                                            </div><!-- Label Outer Ends -->
                                            <div class="value-outer"> 
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="checkbookFromAmount"  [(ngModel)]="checkbookFromAmount"
                                                 id="checkbookFromAmount" title="{{defaultAddFormValues[13]['helpMessage']}}" readonly>
                                            </div><!-- Value Outer ENds -->    
                                        </div> <!-- BT Row  Ends -->
                                    </div><!-- Form Row Ends -->
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-row">
                                    <div class="content-heading">
                                        <h3>{{defaultAddFormValues[19]['fieldValue']}}</h3>
                                    </div><!-- Content Heading Ends -->
                                </div><!-- Form Row Ends -->
                                <div class="form-row" *ngIf="defaultAddFormValues[19]['readAccess']">
                                        <div class="bt-row">
                                            <div class="label-outer">
                                                <label for="companyTransferTo">{{defaultAddFormValues[20]['fieldValue']}}</label>
                                            </div><!-- Label Outer Ends -->
                                           
                                            <div class="value-outer"  [ngClass]="{ 'has-error': f.submitted && activeCompanyTo[0].id == '0'}">
                                                <ng-select [allowClear]="false"
                                                    [active]="activeCompanyTo"
                                                    [items]="arrCompany"
                                                    [disabled]="false"
                                                    (data)="bindSelectedItemTo($event,'CompanyTo')"
                                                     title="{{defaultAddFormValues[20]['helpMessage']}}">
                                                </ng-select>
                                            </div>
                                                <div *ngIf="f.submitted && activeCompanyTo[0].id == '0'">
                                                        <div class='error-msg'>
                                                            {{defaultAddFormValues[20]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                </div>
                                               
                                        </div> <!-- BT Row  Ends -->
                                    </div><!-- Form Row Ends -->
                              
                                <div class="form-row" *ngIf="defaultAddFormValues[21]['readAccess']">
                                        <!-- {{arrCheckbook | json}} -->
                                        
                                            <div [ngClass]="{'has-error bt-row': f.submitted && activeCheckbookTo[0].id == '0','':true}">
                                                <div class="label-outer">
                                                    <label for="checkbookIDTo">{{defaultAddFormValues[21]['fieldValue']}}</label>
                                                </div><!-- Label Outer Ends -->
                                                <div class="value-outer"> 
                                                    <ng-select [allowClear]="false"
                                                        [active]="activeCheckbookTo"
                                                        [items]="arrCheckbookTo"
                                                        [disabled]="false"
                                                        (data)="bindSelectedItemTo($event,'CheckbookTo')"
                                                        title="{{defaultAddFormValues[21]['helpMessage']}}">
                                                    </ng-select>
                                                    <div *ngIf="f.submitted  && activeCheckbookTo[0].id == '0'">
                                                        <div class='error-msg'>
                                                            {{defaultAddFormValues[21]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div> 
                                                </div><!-- Value Outer ENds -->    
                                            </div> <!-- BT Row  Ends -->
                                        
                                    </div><!-- Form Row Ends -->
                                <div class="form-row" *ngIf="defaultAddFormValues[22]['readAccess']">
                                    <div class="bt-row">
                                        <div class="label-outer">
                                            <label for="">{{defaultAddFormValues[22]['fieldValue']}}</label>
                                        </div><!-- Label Outer Ends -->
                                        <div class="value-outer"> 
                                                  <input type="text" [ngClass]="'form-control fm-txt'"  name="checkBookCurrencyTo"
                                                  id="checkBookCurrencyTo" [(ngModel)]="checkBookCurrencyTo"  
                                                  title="{{defaultAddFormValues[22]['helpMessage']}}"  readonly>
                                        </div><!-- Value Outer ENds -->    
                                    </div> <!-- BT Row  Ends -->
                                </div><!-- Form Row Ends -->
                                <div class="form-row" *ngIf="defaultAddFormValues[23]['readAccess']">
                                    
                                        <div [ngClass]="{'has-error bt-row': f.submitted && !commentTo.valid,'':true}">
                                        <div class="label-outer">
                                            <label for="commentTo">{{defaultAddFormValues[23]['fieldValue']}}</label>
                                        </div><!-- Label Outer Ends -->
                                        <div class="value-outer"> 
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="commentTo" [(ngModel)]="model.commentTo" 
                                                        #commentTo="ngModel" id="commentTo" title="{{defaultAddFormValues[23]['helpMessage']}}" maxlength="61" required >
                                                    <div *ngIf="f.submitted && commentTo.invalid">
                                                        <div class='error-msg' *ngIf="commentTo.errors.required">
                                                            {{defaultAddFormValues[23]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div>
                                        </div><!-- Value Outer ENds -->    
                                    </div> <!-- BT Row  Ends -->
                                    
                                </div><!-- Form Row Ends -->
                                <div class="form-row" *ngIf="defaultAddFormValues[24]['readAccess']">
                                    
                                        <div [ngClass]="{'has-error bt-row': f.submitted && !exchangeRateTo.valid,'':true}">
                                        <div class="label-outer">
                                            <label for="exchangeRateTo">{{defaultAddFormValues[24]['fieldValue']}}</label>
                                        </div><!-- Label Outer Ends -->
                                        <div class="value-outer"> 
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="exchangeRateTo" [(ngModel)]="model.exchangeRateTo" 
                                                        #exchangeRateTo="ngModel" id="exchangeRateTo" OnlyNumber="true"  
                                                        (keydown)="onlyDecimalNumberKey($event)" title="{{defaultAddFormValues[24]['helpMessage']}}" 
                                                        (blur)="GetCheckbookAmount('To')" maxlength="10" required >
                                                    <div *ngIf="f.submitted && exchangeRateTo.invalid">
                                                        <div class='error-msg' *ngIf="exchangeRateTo.errors.required">
                                                            {{defaultAddFormValues[24]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div>
                                        </div><!-- Value Outer ENds -->    
                                    </div> <!-- BT Row  Ends -->
                                    
                                </div><!-- Form Row Ends -->
                                <div class="form-row" *ngIf="defaultAddFormValues[25]['readAccess']">
                                    <div class="bt-row">
                                        <div class="label-outer">
                                            <label for="rateCalculateMethodTo">{{defaultAddFormValues[25]['fieldValue']}}</label>
                                        </div><!-- Label Outer Ends -->
                                        <div class="value-outer">
                                            <label><input name="rateCalculateMethodTo" id="rateCalculateMethodTo_1" type="radio" [(ngModel)]="model.rateCalculateMethodTo"  value="1" #rateCalculateMethodTo="ngModel" title="{{defaultAddFormValues[31]['helpMessage']}}" (change)="GetCheckbookAmount('To')"><span>{{defaultAddFormValues[31]['fieldValue']}}</span></label>
                                            <label><input name="rateCalculateMethodTo" id="rateCalculateMethodTo_2" type="radio" [(ngModel)]="model.rateCalculateMethodTo" value="2" #rateCalculateMethodTo="ngModel" title="{{defaultAddFormValues[32]['helpMessage']}}" (change)="GetCheckbookAmount('To')"><span>{{defaultAddFormValues[32]['fieldValue']}}</span></label>
                                        </div><!-- Value Outer ENds -->    
                                    </div> <!-- BT Row  Ends -->
                                </div><!-- Form Row Ends -->
                                <div class="form-row" *ngIf="defaultAddFormValues[26]['readAccess']">
                                    <div class="bt-row">
                                        <!--<div [ngClass]="{'has-error': f.submitted && !transferAmountTo.valid,'':true}">-->
                                        <div class="label-outer">
                                            <label for="transferAmountTo">{{defaultAddFormValues[26]['fieldValue']}}</label>
                                        </div><!-- Label Outer Ends -->
                                        <div class="value-outer"> 
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="transferAmountTo" 
                                            OnlyNumber="true"   id="transferAmountTo"   #transferAmountTo="ngModel"
                                            (keydown)="onlyDecimalNumberKey($event)"   [(ngModel)]="model.transferAmountTo" 
                                            title="{{defaultAddFormValues[26]['helpMessage']}}"
                                            (blur)="GetCheckbookAmount('To')" (ngModelChange) = "gettransferAmountTo($event)" 
                                            (focus)='formattransferAmountToChanged()' 
                                            [readonly]="!defaultAddFormValues[26]['writeAccess']" >
                                                    <!-- <div *ngIf="f.submitted && transferAmountTo.invalid">
                                                        <div class='error-msg' *ngIf="transferAmountTo.errors.required">
                                                            {{defaultAddFormValues[26]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div> -->
                                        </div><!-- Value Outer ENds -->    
                                    </div> <!-- BT Row  Ends -->
                                    <!--</div>-->
                                </div><!-- Form Row Ends -->
                                <div class="form-row" *ngIf="defaultAddFormValues[27]['readAccess']">
                                    <div class="bt-row">
                                        <div class="label-outer">
                                            <label>{{defaultAddFormValues[27]['fieldValue']}}</label>
                                        </div><!-- Label Outer Ends -->
                                        <div class="value-outer"> 
                                            <input type="text" [ngClass]="'form-control fm-txt'"   name="checkbookToAmount" 
                                            [(ngModel)]="checkbookToAmount" 
                                                 id="checkbookToAmount" title="{{defaultAddFormValues[27]['helpMessage']}}" readonly>
                                        </div><!-- Value Outer ENds -->    
                                    </div> <!-- BT Row  Ends -->
                                </div><!-- Form Row Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                    <div class="form-row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="algo-table">
                                <div class="table-responsive">          
                                    <table class="table">
                                    <thead>
                                        <tr> 
                                        <th width="33%">{{defaultAddFormValues[14]['fieldValue']}}</th>
                                        <th width="33%">{{defaultAddFormValues[15]['fieldValue']}}</th>
                                        <th width="33%">{{defaultAddFormValues[16]['fieldValue']}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td><span *ngIf="activeCompanyFrom[0].id != '0'">{{activeCompanyFrom[0].text}}</span></td>
                                        <td><span *ngIf="activeCheckbookFrom[0].id != '0'">{{activeCheckbookFrom[0].text}}</span></td>
                                        <td>{{checkbookFromAmount}}</td>
                                        </tr>
                                    </tbody>
                                    </table>
                                </div>
                            </div><!-- Algo Table Ends -->
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="algo-table">
                                <div class="table-responsive">          
                                    <table class="table">
                                        <thead>
                                            <tr> 
                                                <th width="33%">{{defaultAddFormValues[14]['fieldValue']}}</th>
                                                <th width="33%">{{defaultAddFormValues[15]['fieldValue']}}</th>
                                                <th width="33%">{{defaultAddFormValues[16]['fieldValue']}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><span *ngIf="activeCompanyTo[0].id != '0'">{{activeCompanyTo[0].text}}</span></td>
                                                <td><span *ngIf="activeCheckbookTo[0].id != '0'">{{activeCheckbookTo[0].text}}</span></td>
                                                <td>{{checkbookToAmount}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- Algo Table Ends -->
                        </div>
                    </div><!-- Form Row Ends -->
                    <div class="form-row">
                        <div class="button-row">
                            <div class="col-sm-12" *ngIf="!isScreenLock">
                                <input type="button" class="blue-btn" title="{{defaultAddFormValues[33]['helpMessage']}}"
                                 value="{{defaultAddFormValues[33]['fieldValue']}}" 
                                 [disabled]="LockScreen(defaultAddFormValues[33]['writeAccess'])"
                                 (click)="openModel(distributionEntry,'distributionEntrySetup')"
                                 style="padding: 10px 25px;"/>
                                <input type="button" class="blue-btn-sm" title="{{defaultAddFormValues[34]['helpMessage']}}" value="{{defaultAddFormValues[34]['fieldValue']}}" (click)="varifyDelete()" [disabled]="!this.isModify"/>
                                <input type="submit" class="blue-btn-sm" 
                                title="{{defaultAddFormValues[35]['helpMessage']}}" 
                                value="{{defaultAddFormValues[35]['fieldValue']}}" 
                                (click)="PostBankTransferEntrySetup(f)" 
                                [disabled]="LockScreen(defaultAddFormValues[35]['writeAccess'])"/>
                                <input type="submit" class="orange-btn-sm" title="{{defaultAddFormValues[36]['helpMessage']}}" 
                                value="{{defaultAddFormValues[36]['fieldValue']}}" (click)="SaveUpdateBankTransferEntrySetup(f)"
                                [disabled]="LockScreen(defaultAddFormValues[36]['writeAccess'])"/>
                                <input type="button" class="blue-btn-sm" title="{{defaultAddFormValues[37]['helpMessage']}}" value="{{defaultAddFormValues[37]['fieldValue']}}" (click)="print()"/>
                                <input type="button" class="blue-btn-sm" title="{{defaultAddFormValues[38]['helpMessage']}}" value="{{defaultAddFormValues[38]['fieldValue']}}" (click)="clear(f)"/>
                                <input type="button" class="blue-btn-sm" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                                <input type="button" class="blue-btn" title="{{defaultAddFormValues[39]['helpMessage']}}" 
                                [disabled]="LockScreen(defaultAddFormValues[39]['writeAccess'])"
                                value="{{defaultAddFormValues[39]['fieldValue']}}"  [disabled]="!this.isModify"
                                 (click)="openModel(chargeEntry,'chargeEntry')" 
                                style="padding: 10px 25px;"/>
                            </div>
                        </div><!-- Buton Row Ends -->
                    </div><!-- Form Row Ends -->
                </form>    
            </div>
        </div><!-- Form Row Ends -->
    </section>    
    </section>

    <modal #distributionEntry id="distributionEntry" [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-lg">
        <modal-header>
           {{distributionScreenModuleName}}
        </modal-header>
        <modal-content>
            <div class="content-outer com-form">
                <div class="row">
                    <!--<form (ngSubmit)="!hasMsg && f2.form.valid && DistributionEntrySetup(f2)" #f2="ngForm" novalidate>-->
                        <div class="form-row" *ngIf="defaultDistributionFormValues[0]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="bankTransferNo">{{defaultDistributionFormValues[0]['fieldValue']}}</label>
                                    </div>
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="bankTransferNo" [(ngModel)]="arrDistributionEntry.bankTransferNumber" 
                                         title="{{defaultDistributionFormValues[0]['helpMessage']}}" required readonly>
                                    </div><!-- Value outer ENds -->
                                </div><!-- Bt row Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                        <div class="form-row" *ngIf="defaultDistributionFormValues[1]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="currencyID">{{defaultDistributionFormValues[1]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer"> 
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="currencyID" 
                                        [(ngModel)]="arrDistributionEntry.currencyID" 
                                         title="{{defaultDistributionFormValues[1]['helpMessage']}}" required readonly>
                                    </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                        <div class="form-row" *ngIf="defaultDistributionFormValues[2]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="transferFromBank">{{defaultDistributionFormValues[2]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends --> 
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="transferFromBank" [(ngModel)]="arrDistributionEntry.transferFromBank" 
                                         title="{{defaultDistributionFormValues[2]['helpMessage']}}" required readonly>
                                    </div><!-- Value Outer Ends -->
                                </div><!-- BT Row Ends -->
                            </div>
                        </div><!-- Form Row Ends -->

                        <div class="form-row" *ngIf="defaultDistributionFormValues[4]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                        <div class="label-outer">
                                            <label for="transferAmount">{{defaultDistributionFormValues[4]['fieldValue']}}</label>
                                        </div><!-- Label Outer Ends -->
                                        <div class="value-outer">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="transferAmount" [(ngModel)]="arrDistributionEntry.transferAmount" 
                                             title="{{defaultDistributionFormValues[4]['helpMessage']}}" required readonly>
                                        </div><!-- Value Outer Ends -->
                                </div><!-- BT Row Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                        <div class="form-row" *ngIf="defaultDistributionFormValues[3]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="transferToBank">{{defaultDistributionFormValues[3]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends --> 
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="transferToBank" [(ngModel)]="arrDistributionEntry.transferToBank" 
                                         title="{{defaultDistributionFormValues[3]['helpMessage']}}" required readonly>
                                    </div><!-- Value Outer Ends -->
                                </div><!-- BT Row Ends -->
                            </div>
                        </div><!-- Form Row Ends -->

                        <div class="form-row">    
                            <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="defaultDistributionFormValues[5]['readAccess']">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="originalAmount">{{defaultDistributionFormValues[5]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="originalAmount" [(ngModel)]="arrDistributionEntry.originalAmount" 
                                         title="{{defaultDistributionFormValues[5]['helpMessage']}}" required readonly>
                                    </div><!-- Value Outer Ends -->
                                </div><!-- BT Row Ends -->
                            </div>
                            <input type="hidden" [ngClass]="'form-control fm-txt'" name="accountTableRowIndexFrom" [(ngModel)]="arrDistributionEntry.accountTableRowIndexFrom">
                            <input type="hidden" [ngClass]="'form-control fm-txt'" name="accountTableRowIndexTo" [(ngModel)]="arrDistributionEntry.accountTableRowIndexTo">
                        </div><!-- Form Row Ends -->
						<div class="form-row">
							<div class="col-xs-12">
                            <div class="algo-table">
                              <div class="table-responsive">          
                                <table class="table">
                                  <thead>
                                    <tr> 
                                      <th width="25%">{{defaultDistributionFormValues[6]['fieldValue']}}</th>
                                      <th width="25%">{{defaultDistributionFormValues[7]['fieldValue']}}</th>
                                      <th width="25%">{{defaultDistributionFormValues[8]['fieldValue']}}</th>
                                      <th width="25%">{{defaultDistributionFormValues[9]['fieldValue']}}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                        <td>{{arrDistributionEntry.accountDetailDebit.accountNumber}}</td>
                                        <td>{{arrDistributionEntry.accountDetailDebit.accountDescription}}</td>
                                        <td>{{arrDistributionEntry.accountDetailDebit.debitAmount}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{{arrDistributionEntry.accountDetailCredit.accountNumber}}</td>
                                        <td>{{arrDistributionEntry.accountDetailCredit.accountDescription}}</td>
                                        <td></td>
                                        <td>{{arrDistributionEntry.accountDetailCredit.creditAmount}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{arrDistributionEntry.accountDetailCharge.accountNumber}}</td>
                                        <td>{{arrDistributionEntry.accountDetailCharge.accountDescription}}</td>
                                        <td>{{arrDistributionEntry.accountDetailCharge.debitAmount}}</td>
                                        <td></td>
                                    </tr>
                                  </tbody>
                                </table>
                                </div>
                              </div><!-- Algo Table Ends -->
							  </div>
							</div><!-- Form Row Ends -->
                    <div class="form-row">
                        <div class="button-row">
                            <div class="col-sm-12">
                                <input type="button" class="orange-btn" value="{{defaultDistributionFormValues[10]['fieldValue']}}" 
                                [disabled]="!arrDistributionEntry.bankTransferNumber" title="{{defaultDistributionFormValues[10]['helpMessage']}}" (click)="DistributionEntrySetup(distributionEntry);" />
                                <button class="blue-btn close-button" (click)="distributionEntry.close()">{{close}}</button>
                            </div>
                        </div><!-- Buton Row Ends -->
                      </div><!-- Form Row Ends -->
                        <!--</form>-->
                        </div>
                    </div><!-- Form Row Ends -->
        </modal-content>
    </modal>

    <modal #chargeEntry id="chargeEntry" [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-lg">
            <modal-header>
               {{chargesScreenModuleName}}
            </modal-header>
            <modal-content>
                <div class="content-outer com-form">
                    <div class="row">
                        <form (ngSubmit)="!hasMsg && f3.form.valid && ChargeEntrySetup(f3,chargeEntry)" #f3="ngForm" novalidate>
                            <div class="form-row" *ngIf="defaultChargesFormValues[0]['readAccess']">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="bt-row">
                                        <div class="label-outer">
                                            <label>{{defaultChargesFormValues[0]['fieldValue']}}</label>
                                        </div>
                                        <div class="value-outer">
                                            <input type="text" [ngClass]="'form-control fm-txt'" [(ngModel)]="activeCompanyTo[0].text" 
                                             title="{{defaultChargesFormValues[0]['helpMessage']}}" [ngModelOptions]="{standalone: true}"
                                            readonly>
                                        </div><!-- Value outer ENds -->
                                    </div><!-- Bt row Ends -->
                                </div>
                            </div><!-- Form Row Ends -->
                            <div class="form-row" *ngIf="defaultChargesFormValues[1]['readAccess']">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="bt-row">
                                        <div class="label-outer">
                                            <label for="checkbookID">{{defaultChargesFormValues[1]['fieldValue']}}</label>
                                        </div><!-- Label Outer Ends -->
                                        <div class="value-outer"> 
                                            <input type="text" [ngClass]="'form-control fm-txt'"  [(ngModel)]="activeCheckbookFrom[0].id" [ngModelOptions]="{standalone: true}"
                                               title="{{defaultChargesFormValues[1]['helpMessage']}}" readonly>
                                        </div><!-- Value Outer ENds -->  
                                    </div> <!-- BT Row  Ends -->
                                </div>
                            </div><!-- Form Row Ends -->
                        <div class="form-row">
                                
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row" *ngIf="defaultChargesFormValues[2]['readAccess']">
                                    <div [ngClass]="{'has-error': f3.submitted && !chargeNumber.valid,'':true}">
                                  <div class="label-outer">
                                    <label for="chargeNumber">{{defaultChargesFormValues[2]['fieldValue']}}</label>
                                  </div><!-- Label Outer Ends -->
                                  <div class="value-outer"> 
                                        <!-- isChargeNumberExist={{isChargeNumberExist}} -->
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="chargeNumber" [(ngModel)]="model.chargeNumber" OnlyNumber="true" 
                                    (keydown)="onlyDecimalNumberKey($event)"  [readonly]="!defaultChargesFormValues[2]['writeAccess']"
                                       #chargeNumber="ngModel" (blur)="ValidateChargeNumber()" id="chargeNumber" title="{{defaultChargesFormValues[2]['helpMessage']}}" required maxlength="15">
                                        <div *ngIf="f3.submitted && chargeNumber.invalid">
                                                <div class='error-msg' *ngIf="chargeNumber.errors.required">
                                                    {{defaultChargesFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                            <div *ngIf="isChargeNumberExist">
                                                <div class='error-msg'>
                                                   {{msgChargeNumberExist}}
                                                </div>
                                            </div>
                                  </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                                </div>
                            </div>
    
                        </div><!-- Form Row Ends -->
    
                        <div class="form-row">
                                
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row" *ngIf="defaultChargesFormValues[3]['readAccess']">
                                    <div [ngClass]="{'has-error': f3.submitted && activeAccountNumber[0].id == '0','':true}">
                                  <div class="label-outer">
                                    <label for="accountNumber">{{defaultChargesFormValues[3]['fieldValue']}}</label>
                                  </div><!-- Label Outer Ends -->
                                  <div class="value-outer"> 
                                        <ng-select [allowClear]="false"
                                        [active]="activeAccountNumber"
                                        [items]="arrAccountNumber"
                                        [disabled]="false"
                                        (data)="bindSelectedItemFrom($event,'AccountNumber')">
                                    </ng-select>
                                       <div *ngIf="f3.submitted && activeAccountNumber[0].id == '0'">
                                                <div class='error-msg'>
                                                    {{defaultChargesFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                  </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                                </div>
                            </div>
    
                        </div><!-- Form Row Ends -->
    
                        <div class="form-row">
                                
                            <div class="col-md-12 col-sm-12 col-xs-12" *ngIf="defaultChargesFormValues[4]['readAccess']">
                                <div class="bt-row">
                                  <div class="label-outer">
                                    <label>{{defaultChargesFormValues[4]['fieldValue']}}</label>
                                  </div><!-- Label Outer Ends -->
                                  <div class="value-outer"> 
                                    <input type="text" [ngClass]="'form-control fm-txt'" title="{{defaultChargesFormValues[4]['helpMessage']}}" 
                                    [(ngModel)]="accountDescription" [ngModelOptions]="{standalone: true}"   readonly>
                                  </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                            </div>
    
                        </div><!-- Form Row Ends -->
    
                        <div class="form-row">
                                
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row" *ngIf="defaultChargesFormValues[5]['readAccess']">
                                    <div [ngClass]="{'has-error': f3.submitted && !chargeComments.valid,'':true}">
                                  <div class="label-outer">
                                    <label for="chargeComments">{{defaultChargesFormValues[5]['fieldValue']}}</label>
                                  </div><!-- Label Outer Ends -->
                                  <div class="value-outer"> 
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="chargeComments" [(ngModel)]="model.chargeComments" [readonly]="!defaultChargesFormValues[5]['writeAccess']"
                                       #chargeComments="ngModel" id="chargeComments" maxlength="120" title="{{defaultChargesFormValues[5]['helpMessage']}}" required >
                                       <div *ngIf="f3.submitted && chargeComments.invalid">
                                                <div class='error-msg' *ngIf="chargeComments.errors.required">
                                                    {{defaultChargesFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                  </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                                </div>
                            </div>
    
                        </div><!-- Form Row Ends -->
    
                        <div class="form-row">
                                
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row" *ngIf="defaultChargesFormValues[6]['readAccess']">
                                <div [ngClass]="{'has-error': f3.submitted && !chargeAmount.valid,'':true}">
                                  <div class="label-outer">
                                    <label for="chargeAmount">{{defaultChargesFormValues[6]['fieldValue']}}</label>
                                  </div><!-- Label Outer Ends -->
                                  <div class="value-outer"> 
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="chargeAmount" OnlyNumber="true" 
                                    (keydown)="onlyDecimalNumberKey($event)"    [(ngModel)]="model.chargeAmount" 
                                       #chargeAmount="ngModel"
                                       (blur)="formatreceiptAmount()"
                                       (ngModelChange) = "getreceiptAmountValue($event)" 
                                       (focus)='formatreceiptAmountChanged()' 
                                        [readonly]="!defaultChargesFormValues[6]['writeAccess']" id="chargeAmount" 
                                       title="{{defaultChargesFormValues[6]['helpMessage']}}" required>
                                       <div *ngIf="f3.submitted && chargeAmount.invalid">
                                                <div class='error-msg' *ngIf="chargeAmount.errors.required">
                                                    {{defaultChargesFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                  </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                                </div>
                            </div>
    
                        </div><!-- Form Row Ends -->
                            
                        <div class="form-row">
                            <div class="button-row">
                                    <div class="col-sm-12">
                                        <input type="submit" class="orange-btn-sm" 
                                        value="{{defaultChargesFormValues[7]['fieldValue']}}" 
                                        title="{{defaultChargesFormValues[7]['helpMessage']}}" />
                                        <input type="button" class="blue-btn-sm" 
                                        value="{{defaultChargesFormValues[8]['fieldValue']}}" 
                                        title="{{defaultChargesFormValues[8]['helpMessage']}}" 
                                        (click)="DeleteChargesEntry(f3,chargeEntry)" [disabled]="!this.isChargeNumberExist"/>
                                        <input type="button" class="blue-btn-sm" value="{{defaultChargesFormValues[9]['fieldValue']}}" 
                                        title="{{defaultChargesFormValues[9]['helpMessage']}}" (click)="clearChargesForm(f3)"/>
                                        <button class="blue-btn-sm" (click)="chargeEntry.close()">{{close}}</button>
                                    </div>
                              </div><!-- Buton Row Ends -->
                          </div><!-- Form Row Ends -->
                        </form>
                    </div>
                </div><!-- Form Row Ends -->
            </modal-content>
        </modal>
        
</div><!-- Content OUter Ends -->

