
<div class="content-wrapper user-view" >
    <section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
            <section class="inner-content">
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
						 <!--<pre>{{exchangeTableRateDetail|json}}</pre>
						 <pre>{{exchangeDate|json}}</pre>
						 <pre>{{exchangeExpireDate|json}}</pre>
						 <pre>{{exchangeTime|json}}</pre>-->

                         	<div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
									</div>
								</div>
						 <div class="form-row">
							<div class="col-xs-12">
								<div class="algo-table">
									<div class="table-responsive"> 
										<ngx-datatable id="vendorMaintenance" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="Searchselected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}">
											<ngx-datatable-column *ngIf="gridDefaultFormValues[0]['readAccess']" name="assetId" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[0]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[1]['readAccess']" name="insClassId" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[1]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											<ngx-datatable-column *ngIf="gridDefaultFormValues[2]['readAccess']" name="insuranceYear" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[2]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[3]['readAccess']" name="insuranceValue" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[3]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[5]['readAccess']" name="Action" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													{{gridDefaultFormValues[5]['fieldValue']}}
												</ng-template>
												<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
													<a class="edit-ico" (click)="edit(row)" *ngIf="gridDefaultFormValues[7]['readAccess']" title="{{gridDefaultFormValues[7]['helpMessage']}}"></a>
												</ng-template>
											</ngx-datatable-column>
										 </ngx-datatable>
									</div>
								</div><!-- Algo Table Ends -->
								
							</div>
						</div><!-- Form Row Ends -->


						<form class="search-batch" name="insuranceMaintenance" (ngSubmit)="insuranceMaintenance.form.valid && save(insuranceMaintenance)" #insuranceMaintenance="ngForm" novalidate>
							<div class="form-row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-row" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': insuranceMaintenance.submitted && assetId.length == 0  }">
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
									<div class="select-outer">
										 <!--<select myAutofocus class="form-control auto-focus" name='assetId' title="{{defaultFormValues[0]['helpMessage']}}" [(ngModel)]="insurance.assetId"  #assetId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let a of assets" [value]="a.assetId">{{a.faDescription}}</option>
										</select>-->
										 <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrAssetId" id="assetId"  [(ngModel)]="assetId" [ngModelOptions]="{standalone: true}"
                                       [settings]="ddlAssetIdSetting" 
									 (onSelect)="getAssetByID($event)" (onDeSelect)="OnAssetIdDeSelect($event)"></angular2-multiselect>
									</div> 
									<div *ngIf="insuranceMaintenance.submitted && assetId.length == 0 ">
										<div class='error-msg'>
											{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									</div>
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{ 'has-error': insuranceMaintenance.submitted && insClassId.length==0 }">
									<label>{{defaultFormValues[1]['fieldValue']}}</label>
									<!--<input type="text" class="form-control fm-txt {{myHtml}}" title="{{defaultFormValues[1]['helpMessage']}}" name="insClassId" [(ngModel)]="insurance.insClassId" #insClassId="ngModel" required [disabled]="disableId">-->
									<div class="select-outer">
									<angular2-multiselect  required [ngClass]="'form-control fm-txt'" [data]="ArrInsClassId" id="insClassId" [(ngModel)]="insClassId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlInsClassIdSetting" 
									 (onSelect)="getInsClassIdByID($event)" (onDeSelect)="OnInsClassIdDeSelect($event)"></angular2-multiselect>
									</div>
									<div *ngIf="insuranceMaintenance.submitted && insClassId.length==0">
											<div class='error-msg'>
												{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>
										</div>
								</div>

								<div class="form-row" *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{ 'has-error arabic-mode': insuranceMaintenance.submitted && !insuranceYear.valid }">
									<label>{{defaultFormValues[2]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="insuranceYear" title="{{defaultFormValues[2]['helpMessage']}}" [(ngModel)]="insurance.insuranceYear" #insuranceYear="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    maxlength="4">
									<div *ngIf="insuranceMaintenance.submitted && insuranceYear.invalid">
										<div class='error-msg' *ngIf="insuranceYear.errors.required">
											{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="insuranceYear.errors.maxlength">
											MAximum 4 characters allowed
										</div>
									</div>
									
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[3]['readAccess']" [ngClass]="{ 'has-error arabic-mode': insuranceMaintenance.submitted && !insuranceValue.valid }">
									<label>{{defaultFormValues[3]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="insuranceValue" title="{{defaultFormValues[3]['helpMessage']}}" [(ngModel)]="insurance.insuranceValue" #insuranceValue="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="insuranceMaintenance.submitted && insuranceValue.invalid">
										<div class='error-msg' *ngIf="insuranceValue.errors.required">
											{{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>

								
								<div class="form-row" *ngIf="defaultFormValues[4]['readAccess']" [ngClass]="{ 'has-error arabic-mode': insuranceMaintenance.submitted && !replacementCost.valid }">
									<label>{{defaultFormValues[4]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="replacementCost" title="{{defaultFormValues[4]['helpMessage']}}" [(ngModel)]="insurance.replacementCost" #replacementCost="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="insuranceMaintenance.submitted && replacementCost.invalid">
										<div class='error-msg' *ngIf="replacementCost.errors.required">
											{{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[5]['readAccess']" [ngClass]="{ 'has-error': insuranceMaintenance.submitted && !reproductionCost.valid }">
									<label>{{defaultFormValues[5]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="reproductionCost" title="{{defaultFormValues[5]['helpMessage']}}" [(ngModel)]="insurance.reproductionCost" #reproductionCost="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="insuranceMaintenance.submitted && reproductionCost.invalid">
										<div class='error-msg' *ngIf="reproductionCost.errors.required">
											{{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								
							</div>
								
							</div><!-- Form Row Ends -->
							<div class="button-row">
								<div class="col-sm-12">
										<input type="submit" class="orange-btn" *ngIf="add" 
										value="{{defaultFormValues[6]['fieldValue']}}" 
										title="{{defaultFormValues[6]['helpMessage']}}"
										[disabled]="LockScreen(defaultFormValues[6]['writeAccess'])">
										<input type="submit" class="orange-btn" *ngIf="!add" 
										value="{{defaultFormValues[6]['fieldValue']}}" 
										title="{{defaultFormValues[6]['helpMessage']}}" 
										[disabled]="LockScreen(defaultFormValues[6]['writeAccess'])">
									<input type="button" style="margin-left:18px" (click)="clearForm(insuranceMaintenance)" class="blue-btn" title="{{gridDefaultFormValues[7]['helpMessage']}}" value="{{defaultFormValues[7]['fieldValue']}}"/>
									<input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(insuranceMaintenance)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
								</div>
							</div>
						</form>
						
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>