<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
    </div>

  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="button-row">
          <!-- Create / Update Form start -->
          <div>
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
            </div>
            <!-- <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div> -->
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && process(f, $event)" #f="ngForm" novalidate>

              <!-- Code Type -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !year1.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="codeType">{{PAYROLL_YEAR_END_CLOSING_WAGE_YEAR['fieldValue']}}</label>
                    <span *ngIf="PAYROLL_YEAR_END_CLOSING_WAGE_YEAR['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select [ngClass]="'form-control fm-txt'" name="year" [(ngModel)]="year" #year1="ngModel" title="{{PAYROLL_YEAR_END_CLOSING_WAGE_YEAR['helpMessage']}}"
                      [required]="PAYROLL_YEAR_END_CLOSING_WAGE_YEAR['isMandatory']">
                      <option value="">-- Select year --</option>
                      <option *ngFor="let yr of years" [value]="yr.name">{{yr.name}}</option>

                    </select>
                    <div *ngIf="f.submitted && year1.invalid">
                      <div [hidden]="!year1.errors.required">
                        {{PAYROLL_YEAR_END_CLOSING_WAGE_YEAR['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button [ngClass]="'grey-btn'">{{PAYROLL_YEAR_END_CLOSING_PROCESS['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{PAYROLL_YEAR_END_CLOSING_CLEAR['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>