@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';




@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

@import "~ng-pick-datetime/styles/picker.min.css";



.datatable-row-center.datatable-row-group {
        cursor: pointer !important;
      }

      


      .search-icon {
        position: absolute;
        top: 50%;
        right: 25px;
        margin-top: -10px;
        color:black;
      }