
 <div class="content-wrapper select-wrap-bg user-view vathasview" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                     

                    <div class="content-outer com-form">
                      <div class="row">
                             <form (ngSubmit)="!hasMsg && f.form.valid && savePaymentTerm(f)" #f="ngForm" novalidate>
                        <div class="form-row">
                          <div class="col-md-6 col-sm-6 col-xs-12">
                             <div *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !paymentTermId.valid,'':true }">
                                <label for="paymentTermId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                <input type="text" myAutofocus [ngClass]="'form-control fm-txt auto-focus'" name="paymentTermId" id="paymentTextId" [(ngModel)]="model.paymentTermId" 
                                #paymentTermId="ngModel"  [readonly]="isModify" maxlength="15" (blur)='IsIdAlreadyExist()'
                                title="{{defaultAddFormValues[0]['helpMessage']}}" 
                                 required />
                                <div *ngIf="f.submitted && paymentTermId.invalid">
                                    <div class='error-msg' *ngIf="paymentTermId.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div><!-- Form Row Ends -->

                        <div class="form-row lg-headings">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !description.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                <label for="description">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                <textarea type="text" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="model.description" 
                                #description="ngModel" 
                                title="{{defaultAddFormValues[1]['helpMessage']}}"
                                 maxlength="31"   required ></textarea>
                                <div *ngIf="f.submitted && description.invalid">
                                    <div class='error-msg' *ngIf="description.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="description.errors.maxlength">
                                        {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 arabic-mode">
                               <div *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !arabicDescription.valid,'col-md-12 col-sm-12 col-xs-12 arabic-mode':true }">
                                <label for="arabicDescription">{{defaultAddFormValues[2]['fieldValue']}}</label>
                                 <textarea type="text" [ngClass]="'form-control fm-txt'" name="arabicDescription" [(ngModel)]="model.arabicDescription" 
                                #arabicDescription="ngModel" 
                                title="{{defaultAddFormValues[2]['helpMessage']}}"
                                 maxlength="61"   required ></textarea>
                                <div *ngIf="f.submitted && arabicDescription.invalid">
                                    <div class='error-msg' *ngIf="arabicDescription.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="arabicDescription.errors.maxlength">
                                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                               </div>
                            </div>
                            
                        </div><!-- Form Row Ends -->

                        <div class="form-row">

                            <div class="content-heading"><div class="col-xs-12"><h3>{{defaultAddFormValues[3]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->
                           
                            <div  *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="'col-md-6 col-sm-6 col-xs-12 '">
                                <div [ngClass]="{ 'has-error': f.submitted && !dueType.valid,'col-md-12 col-sm-12 col-xs-12 ':true }">
                                  <label>{{defaultAddFormValues[4]['fieldValue']}}</label>
                                     <div [ngClass]="'select-outer'">
                                        <select [ngClass]="'form-control fm-txt'" name="ddldueType" [(ngModel)]="model.dueType" 
                                        #dueType="ngModel" title="{{defaultAddFormValues[4]['helpMessage']}}"
                                                   required>
                                               <option *ngFor="let dueType of ArrDueType" [value]="dueType.typeId">
                                                   {{dueType.typeValue}}
                                               </option>
                                           </select>
                                          
                                       </div>
                                       <div *ngIf="f.submitted && dueType.invalid">
                                        <div class='error-msg' *ngIf="dueType.errors.required">
                                            {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        
                                    </div>
                                    </div>
                                   </div>
                         
                            <div *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="' col-md-6 add-days col-sm-6 col-xs-12'" >
                                <div [ngClass]="{ 'has-error': f.submitted && !dueDays.valid,'col-md-12 col-sm-12 col-xs-12 ':true }">
                                
                                    <label>{{defaultAddFormValues[5]['fieldValue']}}</label>
                               
                              
                                 <div class="select-outer wd54">
                                 <select [ngClass]="'form-control fm-txt'" name="ddldueDays" [(ngModel)]="model.dueDays" 
                                 #dueDays="ngModel" required title="{{defaultAddFormValues[5]['helpMessage']}}" >
                                    <option>0</option>
                                    <option>1 </option>
                                    <option>2 </option>
                                    <option>3 </option>
                                    <option>4 </option>
                                    <option>5 </option>
                                    <option>6 </option>
                                    <option>7 </option>
                                    <option>8 </option>
                                    <option>9 </option>
                                    <option>10 </option>
                                    <option>11 </option>
                                    <option>12 </option>
                                    <option>13 </option>
                                    <option>14 </option>
                                    <option>15 </option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25 </option>
                                    <option>26 </option>
                                    <option>27 </option>
                                    <option>28 </option>
                                    <option>29 </option>
                                    <option>30 </option>
                                    <option>31 </option>
                                 </select>
                                  
                              </div>
                              <div *ngIf="f.submitted && dueDays.invalid">
                                <div class='error-msg' *ngIf="dueDays.errors.required">
                               {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                            </div>
                            </div>
                            
                        </div><!-- Form Row Ends -->

                        <div class="col-sm-12"><hr></div>
                         
                        <div class="form-row">
                            <div class="content-heading"><div class="col-xs-12"><h3>{{defaultAddFormValues[6]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->
                         
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !discountPeriod.valid,'col-md-12 col-sm-12 col-xs-12 ':true }">
                               
                                        <label>{{defaultAddFormValues[7]['fieldValue']}}</label>
                                        <div class="select-outer">
                                        <select [ngClass]="'form-control fm-txt'" name="ddldiscountTypePeriod" [(ngModel)]="model.discountPeriod" 
                                        #discountPeriod="ngModel" title="{{defaultAddFormValues[7]['helpMessage']}}">
                                            <option *ngFor="let disountPeriod of ArrDiscountTypePeriod" [value]="disountPeriod.typeId">
                                                {{disountPeriod.typeValue}}
                                            </option>
                                        </select>
                                          
                                        </div>
                                        <!-- <div *ngIf="f.submitted && discountPeriod.invalid">
                                            <div class='error-msg' *ngIf="discountPeriod.errors.required">
                                                {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> -->
                                 </div>
                            
                          
                            </div>

                            <div *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="'col-md-6 add-days col-sm-6 col-xs-12'" >
                                <div [ngClass]="{ 'has-error': f.submitted && !discountPeriodDays.valid,'col-md-12 col-sm-12 col-xs-12 ':true }">
                                <label>{{defaultAddFormValues[5]['fieldValue']}}</label>
                                  
                                 <div class="select-outer wd-54">
                                 <select [ngClass]="'form-control fm-txt'" name="discountPeriodDays" [(ngModel)]="model.discountPeriodDays" 
                                 #discountPeriodDays="ngModel"  title="{{defaultAddFormValues[5]['helpMessage']}}" >
                                    <option>0</option>
                                    <option>1 </option>
                                    <option>2 </option>
                                    <option>3 </option>
                                    <option>4 </option>
                                    <option>5 </option>
                                    <option>6 </option>
                                    <option>7 </option>
                                    <option>8 </option>
                                    <option>9 </option>
                                    <option>10 </option>
                                    <option>11 </option>
                                    <option>12 </option>
                                    <option>13 </option>
                                    <option>14 </option>
                                    <option>15 </option>
                                    <option>16</option>
                                    <option>17</option>
                                    <option>18</option>
                                    <option>19</option>
                                    <option>20</option>
                                    <option>21</option>
                                    <option>22</option>
                                    <option>23</option>
                                    <option>24</option>
                                    <option>25 </option>
                                    <option>26 </option>
                                    <option>27 </option>
                                    <option>28 </option>
                                    <option>29 </option>
                                    <option>30 </option>
                                    <option>31 </option>
                                 </select>
                                
                             
                                 
                            </div>
                            <!-- <div *ngIf="f.submitted && discountPeriodDays.invalid">
                                <div class='error-msg' *ngIf="discountPeriodDays.errors.required">
                                    {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div> -->
                         </div>
                         </div>
                           
                            
                        </div><!-- Form Row Ends -->

                        <div class="form-row">
                           
                        
                         
                           <div *ngIf="defaultAddFormValues[8]['readAccess']" >
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div [ngClass]="{ 'has-error': f.submitted && !discountType.valid,'col-md-12 col-sm-12 col-xs-12 ':true }">
                                <label>{{defaultAddFormValues[8]['fieldValue']}}</label>
                                 <div class="select-outer"  >
                                 <select [ngClass]="'form-control fm-txt'" name="ddldiscountType" [(ngModel)]="model.discountType" 
                                 #discountType="ngModel" title="{{defaultAddFormValues[8]['helpMessage']}}" >
                                        <option *ngFor="let discountType of ArrDiscountType" [value]="discountType.typeId">
                                            {{discountType.typeValue}}
                                        </option>
                                    </select>
                                   
                                </div>
                                <!-- <div *ngIf="f.submitted && discountType.invalid">
                                    <div class='error-msg' *ngIf="discountType.errors.required">
                                        {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div> -->
                              </div>
                              </div>
                              </div>


                               <div *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="'col-md-6 add-days col-sm-6 col-xs-12'" >
                                <div [ngClass]="{ 'has-error': f.submitted && !discountTypeValue.valid,'col-md-12 col-sm-12 col-xs-12 ':true }">
                           
                                <label>&nbsp;</label>
                                
                        
                                    <div class="select-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt wd100'"name="discountTypeValue" [(ngModel)]="model.discountTypeValue"  OnlyNumber="true"  
                                        (keydown)="onlyDecimalNumberKey($event)" 
                                        #discountTypeValue="ngModel"title="{{defaultAddFormValues[5]['helpMessage']}}" (ngModelChange)= "checkValue($event)">
                                        <i class="fa fa-percent percent-sign" aria-hidden="true"  *ngIf="model.discountType == 1"></i>
                                        <i class="fa fa-usd" aria-hidden="true" style=" float: left;padding-top: 10px;margin-right: 10px;" *ngIf="model.discountType == 2"></i>
                                    </div>
                                    <!-- <div *ngIf="f.submitted && discountTypeValue.invalid">
                                        <div class='error-msg' *ngIf="discountTypeValue.errors.required">
                                            {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div> -->
                             </div>
                              
                            </div>
                         
                           
                            
                        </div><!-- Form Row Ends -->
                        
                        <div class="button-row">
                      <div class="col-sm-12">
            <input type="submit" [disabled]="LockScreen(defaultAddFormValues[11]['writeAccess'])" class="orange-btn" title="{{defaultAddFormValues[10]['helpMessage']}}" value="{{defaultAddFormValues[10]['fieldValue']}}"/>
                        <input type="button" class="blue-btn" (click)="resetMe(f)" title="{{defaultAddFormValues[11]['helpMessage']}}" value="{{defaultAddFormValues[11]['fieldValue']}}"/>
                        <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                        </div>
                        </div>
                          </form>

                         
                        <div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
								</div>
						 </div>
                         
                        <div class="form-row">  
                        	<div class="col-xs-12">
		                        <div class="algo-table">
		                        <div class="table-responsive">
						<ngx-datatable id="paymentTermGrid" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							(select)='onSelect($event)'> 
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="paymentTermId" [width]="150"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="description" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="300" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="arabicDescription" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="300" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
                         </ngx-datatable-column>
                         <ngx-datatable-column name="dueTypeValue" *ngIf="defaultManageFormValues[3]['readAccess']" 
                         [width]="200" [canAutoResize]="false" [draggable]="false"
                         [resizeable]="false"> <ng-template
                         let-column="column" let-sort="sortFn"
                         ngx-datatable-header-template> <span class="sort-btn"
                         (click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
                         let-value="value" ngx-datatable-cell-template>
                     {{value}} 
                     </ng-template>
                      </ngx-datatable-column>
						<ngx-datatable-column name="Action" [width]="99" *ngIf="defaultManageFormValues[5]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[7]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
<button class="edit-ico" *ngIf="defaultManageFormValues[5]['readAccess']" [disabled]="LockScreen(defaultManageFormValues[5]['writeAccess'])" (click)="getpaymentTermById(row)" title="{{defaultManageFormValues[5]['helpMessage']}}"></button>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
		                    </div>
                             <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
                        </div><!-- Form Row Ends -->
                      </div> <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                      
                  </section>
                </section>
            </div>
