<div class="content-wrapper login-wrapper">

		 <div class="language-dp dropdown pull-right">
        	<div class="select-outer">
										<select   class="form-control auto-focus" 
                                                name='currentLanguage' [(ngModel)]="currentLanguage"  (change)="ChangeLanguage()">
											<option *ngFor="let language of arrLanguage" [value]="language.languageId">
                                                {{language.languageName}}
                                            </option>
										</select>
									</div> 
                                    	</div> 
	<!-- Login Outer Starts -->
	<div class="login-outer">
		<!-- Login Inner Starts -->
		<div class="login-inner">
			<h2>
				<a href="#"><img src="assets/img/logo.png" alt=""></a>
			</h2>
			<!-- Login Box Starts -->
			<div class="login-box">
				<h3>{{screenName}}</h3>
				<div *ngIf="hasMsg"
					[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
				<form (ngSubmit)="f.form.valid && getPassword()" #f="ngForm"
					novalidate>
					<p>{{defaultFormValues['0']['fieldValue']}}</p>

					<div class="form-row mail-row">
						<input type="text" autofocus class="form-control common-txt" name="email"
							[(ngModel)]="model.email" #email="ngModel"
							title="{{defaultFormValues[1]['helpMessage']}}"
							placeholder="{{defaultFormValues[1]['fieldValue']}}" required maxlength="50"  pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"/>
						<div class='error-msg' *ngIf="f.submitted && email.invalid">
							<div [hidden]="!email.errors.required">
								{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
							</div>
                            <div [hidden]="!email.errors.pattern">
								{{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
							</div>
						</div>
					</div>

					<div class="button-row text-center">
						<!--<button class="white-btn" title="{{defaultFormValues[2]['helpMessage']}}" [routerLink]="['/forgotpassword']">{{defaultFormValues[2]['fieldValue']}}</button>-->
						<a class="white-btn" title="{{defaultFormValues[2]['fieldValue']}}" [routerLink]="['/login']">{{defaultFormValues[2]['fieldValue']}}</a>
						<button class="orange-btn"
							title="{{defaultFormValues[3]['helpMessage']}}">{{defaultFormValues[3]['fieldValue']}}</button>

					</div>
				</form>
			</div>
			<!-- Login Box Ends -->
		</div>
		<!-- Login Inner Ends -->
	</div>
	<!-- Login Outer Ends -->
</div>

<!-- <footer class="main-footer">@ 2017 BIT. All rights reserved.
</footer> -->