<div class="content-wrapper login-wrapper">
	 <div class="language-dp dropdown pull-right">
        	<div class="select-outer">
										<select   class="form-control auto-focus" 
                                                name='currentLanguage' [(ngModel)]="currentLanguage"  (change)="ChangeLanguage()">
											<option *ngFor="let language of arrLanguage" [value]="language.languageId">
                                                {{language.languageName}}
                                            </option>
										</select>
									</div> 
                                    	</div> 
	<!--<ul class="language-check">
		<li [ngClass]="{'active':isActive==1}"><a href="#"
			data-langid="1" (click)="ChangeLanguage($event)">Eng</a></li>
		<li [ngClass]="{'active':isActive==2}"><a href="#"
			data-langid="2" (click)="ChangeLanguage($event)">Arabic</a></li>
		<li><a (click)="checkMyIp()">Check My IP</a> &nbsp; {{MyIP}}</li>
	</ul>-->
	<!-- Login Outer Starts -->
	<div class="login-outer">
		<!-- Login Inner Starts -->
		<div class="login-inner">
			<h2>
				<a href="#"><img src="assets/img/logo.png" alt=""></a>
			</h2>
			<!-- Login Box Starts -->
			<div class="login-box">
				<form (ngSubmit)="f.form.valid && Login()" #f="ngForm" novalidate>
					<h3>{{screenName}}</h3>
					<div *ngIf="hasMsg"
						[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
						{{messageText}}</div>
					<div class="form-row user-row">
						<input type="text" restrict-field="userName"
							class="form-control common-txt" ng-trim="false" name="userName"
							[(ngModel)]="model.username" #userName="ngModel"
							placeholder="{{defaultFormValues[0]['fieldValue']}}"
							title="{{defaultFormValues[0]['helpMessage']}}"
							pattern='^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$' required autofocus />
						<div *ngIf="f.submitted && userName.invalid">
							<div class='error-msg' *ngIf="userName.errors.required">
								{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
							</div>
							<div class='error-msg' *ngIf="userName.errors.pattern">
								{{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
							</div>
						</div>
					</div>
					<div class="form-row key-row">
						<input type="password" class="form-control common-txt"
							name="password" [(ngModel)]="model.password" #password="ngModel"
							placeholder="{{defaultFormValues[1]['fieldValue']}}"
							title="{{defaultFormValues[1]['helpMessage']}}" required />
						<div *ngIf="f.submitted && password.invalid">
							<div class='error-msg' [hidden]="!password.errors.required">
								{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
							</div>
						</div>
					</div>
					<div class="button-row">
						<div class="default-check">
							<label> <input type="checkbox" vlaue=""
								[(ngModel)]="model.remember" name="remember"
								title="{{defaultFormValues[2]['helpMessage']}}"> <span
								class="rem-me">{{defaultFormValues[2]['fieldValue']}}</span></label>
						</div>
						<a class="fg-pass" title="{{defaultFormValues[3]['helpMessage']}}"
							[routerLink]="['/forgotpassword']">{{defaultFormValues[3]['fieldValue']}}</a>
					</div>
					<div class="button-row text-center">
						<button class="orange-btn"
							title="{{defaultFormValues[4]['helpMessage']}}">{{defaultFormValues[4]['fieldValue']}}</button>
					</div>
				</form>
			</div>
			<!-- Login Box Ends -->
		</div>
		<!-- Login Inner Ends -->
	</div>
	<!-- Login Outer Ends -->
</div>

<!-- <footer class="main-footer">@ 2018 BIT. All rights reserved. </footer> -->
