<div class="content-wrapper login-wrapper">
	<!-- Login Outer Starts -->
	<div class="login-outer">
		<!-- Login Inner Starts -->
		<div class="login-inner">
			<h2>
				<a href="#"><img src="assets/img/logo.png" alt=""></a>
			</h2>
			<!-- Login Box Starts -->
			<div class="login-box">
				<form (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm"
					novalidate>
					<h3>
						<label for="title">{{defaultFormValues[0]['fieldValue']}}</label>
					</h3>

					<div *ngIf="hasMsg"
						[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
						{{messageText}}</div>

					<div class="form-row key-row">
						<input type="password" class="form-control common-txt"
							name="password" [(ngModel)]="model.password" #password="ngModel"
							placeholder="{{defaultFormValues[1]['fieldValue']}}"
							title="{{defaultFormValues[1]['helpMessage']}}"
							validateEqualTo="confirmpassword"  [tooltip]="myTooltip" maxlength="20" tooltipPlacement="top" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&_^~()])[A-Za-z\d$@$!%*?&_^~()]{8,}" required />
						 <div>
                                    <tooltip-content #myTooltip>
                                     
                                        <p style="color: #00b3ee">
                                       {{passwordPolicy}}
                                        </p>
                                       
                                    </tooltip-content>
<!--
                                    <button [tooltip]="myTooltip">Need Help!</button>-->
                                </div>
						<div *ngIf="f.submitted && password.invalid">
							<div class='error-msg' *ngIf="password.errors.required">
								{{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
							</div>
							<div class='error-msg' *ngIf="password.errors.minlength">
								{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
							</div>
							<div class='error-msg' *ngIf="password.errors.pattern">
                              {{invalidPassword}}
                            </div>
						</div>
					</div>
					<div class="form-row key-row">
						<input type="password" class="form-control common-txt" required
							name="confirmpassword" [(ngModel)]="model.confirmpassword"
							#confirmpassword="ngModel"
							placeholder="{{defaultFormValues[2]['fieldValue']}}"
							title="{{defaultFormValues[2]['helpMessage']}}" minlength="8" />
						<div *ngIf="f.submitted && confirmpassword.invalid">
							<div class='error-msg' *ngIf="confirmpassword.errors.required">
								{{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
							</div>
							<div class='error-msg' *ngIf="confirmpassword.errors.minlength">
								{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
							</div>
							<div class='error-msg' *ngIf="confirmpassword.errors.validateEqualTo">Passwords	don't match</div>
							
						</div>
					</div>



					<div class="button-row text-center">
						<button class="orange-btn">{{defaultFormValues[3]['fieldValue']}}</button>

					</div>
				</form>
			</div>
			<!-- Login Box Ends -->
		</div>
		<!-- Login Inner Ends -->
	</div>
	<!-- Login Outer Ends -->
</div>

<!--<footer class="main-footer">@ 2017 BIT. All rights reserved. </footer>-->