<div class="content-wrapper login-wrapper">
		 <div class="language-dp dropdown pull-right">
        	<div class="select-outer">
				<select   class="form-control auto-focus" 
                    name='currentLanguage' [(ngModel)]="currentLanguage"  (change)="ChangeLanguage()">
				<option *ngFor="let language of arrLanguage" [value]="language.languageId">
                     {{language.languageName}}
                </option>
				</select>
			</div> 
         </div>
	<!-- Login Outer Starts -->
	<div class="login-outer">
		<!-- Login Inner Starts -->
		<div class="login-inner">
			<!-- Login Box Starts -->
			<div class="login-box">
				<form name="form" (ngSubmit)="f.form.valid && Proceed()" #f="ngForm" novalidate>
					<h3>{{screenName}}</h3>
					<div *ngIf="hasMsg"
						[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
						{{messageText}}
					</div>
					<div [ngClass]="'form-row'">		
					<div class='col-md-12 col-sm-12 col-xs-12'>
                                <!--<label for="companyIds">{{defaultFormValues[12]['fieldValue']}}</label>-->
								 <!--<label for="companyIds">{{defaultFormValues[12]['fieldValue']}}</label>-->
                                 <angular2-multiselect [data]="ddl_MultiSelectCompany" [(ngModel)]="SelectedCompany" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlCompanySetting" 
                                    (onSelect)="onItemSelect($event)" 
                                    (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                            </div>
                     </div>
					<div class="button-row text-center">
						<a class="white-btn" title="{{defaultFormValues[1]['helpMessage']}}" (click)="cancel()">{{defaultFormValues[1]['fieldValue']}}</a>
     					<button class="orange-btn" title="{{defaultFormValues[0]['helpMessage']}}" (click)="Proceed();false">{{defaultFormValues[0]['fieldValue']}}</button>
					</div>
				</form>
			</div>
			<!-- Login Box Ends -->
		</div>
		<!-- Login Inner Ends -->
	</div>
	<!-- Login Outer Ends -->
</div>

