<div class="content-wrapper login-wrapper">
		 <div class="language-dp dropdown pull-right">
        	<div class="select-outer">
										<select   class="form-control auto-focus" 
                                                name='currentLanguage' [(ngModel)]="currentLanguage"  (change)="ChangeLanguage()">
											<option *ngFor="let language of arrLanguage" [value]="language.languageId">
                                                {{language.languageName}}
                                            </option>
										</select>
									</div> 
                                    	</div> 
	<!--<ul class="language-check"> 
        <li [ngClass]="{'active':isActive==1}"><a href="#" data-langid="1" (click)="ChangeLanguage($event)">Eng</a></li>
        <li [ngClass]="{'active':isActive==2}"><a href="#" data-langid="2" (click)="ChangeLanguage($event)">Arabic</a></li>
    </ul>   -->
	<!-- Login Outer Starts -->
	<div class="login-outer">
		<!-- Login Inner Starts -->
		<div class="login-inner">
			<h2>
				<a href="#"><img src="assets/img/logo.png" alt=""></a>
			</h2>
			<!-- Login Box Starts -->
			<div class="login-box">
				<form name="form" (ngSubmit)="f.form.valid && verifyOTP()"
					#f="ngForm" novalidate>
					<h3>{{screenName}}</h3>
					<p>{{defaultFormValues[0]['fieldValue']}}</p>
					<div *ngIf="hasMsg"
						[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
						{{messageText}}</div>
							
					<div class="form-row key-row">
						<input type="text" class="form-control common-txt" name="otp"
							[(ngModel)]="model.otp" #otp="ngModel"
							title="{{defaultFormValues[1]['helpMessage']}}"
							placeholder="{{defaultFormValues[1]['fieldValue']}}" required>
						<div class='error-msg' *ngIf="f.submitted && !otp.valid">
							{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
						</div>
					</div>

					<div class="button-row text-center">
						<a href="javascript;void()" class="white-btn"
							title="{{defaultFormValues[2]['helpMessage']}}"
							(click)="Resend();false">{{defaultFormValues[2]['fieldValue']}}</a>
						<a class="orange-btn" 
							title="{{defaultFormValues[3]['helpMessage']}}"
							(click)="verifyOTP()">{{defaultFormValues[3]['fieldValue']}}</a>
					</div>
				</form>
			</div>
			<!-- Login Box Ends -->
		</div>
		<!-- Login Inner Ends -->
	</div>
	<!-- Login Outer Ends -->
</div>

<!-- <footer class="main-footer">@ 2017 BIT. All rights reserved. </footer> -->