<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus(f)' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="modal" *ngIf="isErrorModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <!-- <span class="btnClose" (click)='closeErrorModal()'></span> -->
      <p>Error</p>
    </div>
    <div class="modal-body">
      <p>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Parent Record is Not Selected.
      </p>
    <!-- <div class="modal-footer">
    </div> -->
  </div>
</div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
        </div>
        <!-- Content Heading Ends -->
        <!-- print Header -->
        <div *ngIf="(showTable && doNotPrintHearder)" style="border: 1px solid gray; margin-bottom: 44px" [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
          <div class="col-md-3">
            <label class="control-label" for="employeeId" style="font-size: 24px">{{defaultFormValues[0]['fieldValue']}}</label>
          </div>
          <div class="col-md-2">
            <input type="text" [ngClass]="'form-control fm-txt'" style="font-size: 21px" name="employeeId" [(ngModel)]="model['employeeMaster'].employeeId"
              #employeeId="ngModel" title="{{defaultFormValues[0]['helpMessage']}}" [typeahead]="employeeIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
              (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="employeeId" class="search-id" autocomplete="off"
              maxlength="10"  required />
          </div>
          <div class="col-md-2">
            <label class="control-label" for="name" style="font-size: 24px">Name</label>
          </div>
          <div class="col-md-5">
            <input type="text" [ngClass]="'form-control fm-txt'" style="font-size: 21px" name="employeeName" value="{{model['employeeMaster'].employeeFirstName}} {{model['employeeMaster'].employeeMiddleName}} {{model['employeeMaster'].employeeLastName}}"
              #employeeName readonly />
          </div>
        </div>
        <!-- Form start -->
        <div>
          <div *ngIf="Warning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="clearfix"></div>
          <form class="form-horizontal" (ngSubmit)="f.valid && employeeName.value!='  '&& CreateEmployeeQuickAss($event)" #f="ngForm"
            novalidate>

            <!-- Employee Id field -->
            <div class="form-group">
              <div [ngClass]="{ 'has-error': f.submitted && (!employeeId.valid || employeeName.value=='  '),'col-md-7 col-sm-6 col-xs-9':false, 'col-md-offset-4': currentLanguage == 2 }">
                <div class="col-md-2">
                  <label for="employeeId">{{defaultFormValues[0]['fieldValue']}}</label>
                </div>
                <div class="col-md-3">
                  <input type="text" [ngClass]="'form-control fm-txt'" name="employeeId" [(ngModel)]="model['employeeMaster'].employeeId" #employeeId="ngModel"
                    title="{{defaultFormValues[0]['helpMessage']}}" [typeahead]="employeeIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                    (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="employeeId" class="search-id" autocomplete="off"
                    maxlength="10"  required />
                </div>
                <div class="col-md-5" style="padding: 0;">
                  <input type="text" [ngClass]="'form-control fm-txt'" name="employeeName" value="{{model['employeeMaster'].employeeFirstName}} {{model['employeeMaster'].employeeMiddleName}} {{model['employeeMaster'].employeeLastName}}"
                    #employeeName readonly />
                </div>
                <div class="col-md-9 col-md-offset-2">
                  <div *ngIf="f.submitted && employeeId.invalid;else noEmp">
                    <div [hidden]="!employeeId.errors.required">
                      {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div [hidden]="!employeeId.errors?.maxlength">
                      {{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                  </div>
                  <ng-template #noEmp>
                    <div *ngIf="f.submitted && employeeName.value=='  '">
                      Please enter a valid employee.
                    </div>
                  </ng-template>
                </div>
              </div>

             

            </div>

            <!-- Employee Code Type Field -->
            <div class="form-group">
              <div  [ngClass]="{'has-error': f.submitted && !codeTypeId.valid,'col-md-12 col-sm-10 col-xs-16':true, 'col-md-offset-4': currentLanguage == 2}">
                <!-- <div class="col-md-2">
                  <label class="control-label" for="codeTypeId">{{defaultFormValues[1]['fieldValue']}}</label>
                </div> 
                <div class="col-md-3">
                  <select [ngClass]="'form-control'" name="codeTypeId" [disabled]="selectedChange" [(ngModel)]="model['codeType']" (change)="setPage({offset:0})"
                    #codeTypeId="ngModel" title="{{defaultFormValues[1]['helpMessage']}}" required>
                    <option value="" [selected]="model['codeType'] == '' || model['codeType'] == null">-- Code Type --</option>
                    <option *ngFor='let option of codeSelect' [value]="option.value" [selected]="option.value == model['codeType']">{{option.code}}</option>
                  </select>
                  <div *ngIf="f.submitted && codeTypeId.invalid">
                    <div [hidden]="!codeTypeId.errors.required">
                      {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div [hidden]="!codeTypeId.errors?.maxlength">
                      {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                  </div>
                </div> -->
               
                <div class="col-md-6" style="text-align: center;margin: -2px 2px 0 0;padding: 10px;border: black solid 2px;">
                  <div style="float:left; width:50%;">
                    <input style="margin: 0 10px 0 0;" type="radio" [value]="true" name="allCompanyCode" title="{{defaultFormValues[5]['helpMessage']}}"
                      [(ngModel)]="model['allCompanyCode']" (change)="setPage({offset:0})"  required
                    /> {{defaultFormValues[2]['fieldValue']}}
                  </div>
                  <div style="float:right; width:50%;">
                    <input style="margin: 0 10px 0 0;" type="radio" [value]="false" name="allCompanyCode" title="{{defaultFormValues[5]['helpMessage']}}"
                      [(ngModel)]="model['allCompanyCode']" (change)="checkEmployeeSelect(allCompanyCode)" 
                      required />{{defaultFormValues[3]['fieldValue']}}
                  </div>
                </div>

            
              </div>

              <!-- <div  [ngClass]="'button-row,col-md-3'">
                <div [ngClass]="{'col-md-10 col-sm-8 col-xs-14':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-3 col-md-offset-6">
                    <button type="button" (click)="markAll()" [ngClass]="'grey-btn'">{{defaultFormValues[11]['fieldValue']}}</button>
                  </div>
                  <div style="margin:0px;">
                    <button type="button" (click)="unmarkAll()" [ngClass]="'grey-btn'">{{defaultFormValues[12]['fieldValue']}}</button>
                  </div>
                </div>
              </div> -->

             
            </div>

            <!-- SUB TABLE STARTS HERE // model['employeeMaster'].employeeFirstName != null && -->
            <div *ngIf="loadingInfo && !showTable" width="70% !important;z-index: 3;">
              <div class="col-md-12 mt-30" style="display: flex; justify-content: center;height:15vh;">
                <img src="/assets/img/loader.gif" alt="Loading table..." height="42" width="42">
              </div>
            </div>
            <div *ngIf="isEmpValid">
              <div class="col-md-12 mt-30">
                <hr>
              </div>
             

              <div class="algo-table algo-table-department">

                <div *ngIf="loadingInfo" class="col-md-10 loader-outer" id="loader">
                  <div class="loader-inner">
                    <img src="/assets/img/loader.gif" alt="Loading table..." height="42" width="42">
                  </div>
                </div>


                <div class="role-tabs">
                  <ul class="nav nav-tabs myCustomTabs activities-filter-btn">
                    <!-- <li class="active"><a data-toggle="tab" href="#All" (click)="FilterRecords('All')">Pay code</a></li> -->
                    <li *ngFor='let option of codeSelect'[ngClass]="{'active':activeTabid==option.value}" ><a data-toggle="tab"    (click)="model['codeType']=option.value;setPage({offset:0});codeTypeId=option.value">{{option.code}}</a></li>
                    <!-- <li> <button type="button" (click)="markAll()" [ngClass]="'grey-btn'">{{defaultFormValues[11]['fieldValue']}}</button></li>
                    <li> <button type="button" (click)="unmarkAll()" [ngClass]="'grey-btn'">{{defaultFormValues[12]['fieldValue']}}</button></li> -->
                  </ul>
                  <div class="tab-content" *ngIf="showTable">
                    <div id="All" class="tab-pane fade in active">
      
                      <ng-container>
                        <div class="algo-table">
                          <!-- Data Grid Starts-->
                <div class="table-responsive" style="z-index: 1;">
                  <ngx-datatable id="EmployeeQuickAssignmentGrid1" class="material" [rows]="model['rowsFromDB']" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                    [limit]="page.size" (page)='changePage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                    <!-- Data Grid checkbox -->
                    <ngx-datatable-column name="include" [width]="85" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('include')">{{defaultFormValues[4]['fieldValue']}}</span>
                      </ng-template>
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <input type="checkbox" [disabled]="employeeName.value=='  ' || row.inActive==true" [checked]="row.include" (click)="changeSelection(row, row.$$index,$event)"
                          [title]="employeeName.value=='  '? 'No employee selected' :defaultFormValues[4]['helpMessage']" />
                      </ng-template>
                    </ngx-datatable-column>


                    <!-- Data Grid  Code -->
                    <ngx-datatable-column name="code" [width]="90" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('code')">{{defaultFormValues[5]['fieldValue']}}</span>
                      </ng-template>
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value}}
                      </ng-template>
                    </ngx-datatable-column>



                    <!-- Data Grid Description -->
                    <ngx-datatable-column name="desc" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('desc')">{{defaultFormValues[6]['fieldValue']}}</span>
                      </ng-template>
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        {{value}}
                      </ng-template>
                    </ngx-datatable-column>

                    <!-- Data Grid Amount -->
                    <ngx-datatable-column name="amount" [width]="130" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('employeeNationalityDescriptionArabic')">{{defaultFormValues[7]['fieldValue']}}</span>
                      </ng-template>
                      <!-- <ng-template  let-value="value" let-row="row" ngx-datatable-cell-template>
                       <span *ngIf="row.isAmtType && model['codeType'] != '2'">{{value}}</span> 
                      </ng-template> -->
                      <ng-template let-row="row" let-value="value" class="shorten" ngx-datatable-cell-template>
                        <!-- <div *ngIf="row.isAmtType || model['codeType'] == '2'" class="white"> -->
                            <div *ngIf="model['codeType'] == '2' && !row.dtoPayCode" class="white">
                         
                          <input [style.border]="(pageChangeAttempt || f.submitted) && (row.amtInvalid) && row.include?'solid 1px red':'none'"
                            style="float:right;width: 100px; padding-left:0px;padding-right:0px;text-align: right;"
                            type="number" class="form-control fm-txt white" name="rowAmt{{row.$$index}}" [value]="row.payRate" [readonly]="row.amount != null"
                            (keyup)="checkdecimalcell(rowAmt, row.$$index)" (blur)="changeAmt($event,row.$$index)" (clickOutside)="checkdecimalcell(rowAmt, row.$$index)"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            onkeypress="return check_digit(event,this,10,3);" min=0 #rowAmt maxlength="11" [required]="row.include"
                            title="{{defaultFormValues[7]['helpMessage']}}" />
                        </div>

                        <div *ngIf="model['codeType'] == '2' && row.dtoPayCode "  class="white">
                          {{row.payFactor*row.parentPaycodeAmount | number:'1.2'}}
                         </div>

                         <div *ngIf="model['codeType'] != '2' && row.dtoPayCode"  class="white">
                          {{row.payFactor*row.parentPaycodeAmount | number:'1.2'}}
                        </div>

                        <div *ngIf="model['codeType'] != '2' && !row.dtoPayCode"  class="white">
                          {{row.amount | number:'1.2'}}
                        </div>
                      </ng-template>
                    </ngx-datatable-column>

                    <!-- Data Grid Start Date -->
                    <ngx-datatable-column *ngIf="model['codeType'] != '2'"  name="startDate" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span  (click)="sortColumn('startDate')">{{defaultFormValues[8]['fieldValue']}}</span>
                      </ng-template>
                      <ng-template   let-value="value"  ngx-datatable-cell-template>
                          <div *ngIf="model['codeType'] != '2'"> {{value | date: 'dd/MM/yyyy'}}</div>
                        </ng-template>
                      <!-- <ng-template let-row="row" style="padding: 0px !important;width: 200px;" ngx-datatable-cell-template>
                        <div *ngIf="model['codeType'] != '2'" class="input-group" style="margin: 0;">
                          <input [style.border]="(pageChangeAttempt || f.submitted) && row.startDateInvalid?'solid 1px red':'none'" [ngClass]="'form-control fm-txt date'"
                            ngx-mydatepicker name="employeeStartDates{{row.$$index}}" [(ngModel)]="employeeStartDate[row.$$index]"
                            [options]="myOptions" #dp2="ngx-mydatepicker" (dateChanged)="onEmployeeStartDateChanged($event, row.$$index)"
                            (change)="onEmployeeStartDateChanged($event.target.value, row.$$index)" #employeeStartDates="ngModel"
                            id="startDate{{row.$$index}}" [required]="row.include" readonly title="{{defaultFormValues[8]['helpMessage']}}"
                          />
                          <span>
                            <button type="button" class="btn btn-default " style="float:none; height: 40px; width: 40px;" (click)="dp2.clearDate()">
                              <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default doNotPrint" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </div>
                      </ng-template> -->
                    </ngx-datatable-column>

                    <!-- Data Grid End Date -->
                    <ngx-datatable-column *ngIf="model['codeType'] != '2'"  name="endDate" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('endDate')">{{defaultFormValues[9]['fieldValue']}}</span>
                      </ng-template>
                      <ng-template   let-value="value"  ngx-datatable-cell-template>
                        <div *ngIf="model['codeType'] != '2'"> {{value | date: 'dd/MM/yyyy'}}</div>
                      </ng-template>
                      <!-- <ng-template let-row="row" style="padding: 0px !important;width: 200px;" ngx-datatable-cell-template>
                        <div *ngIf="model['codeType'] != '2'" class="input-group" style="margin: 0;">
                          <input [style.border]="(pageChangeAttempt || f.submitted) && (row.endDateInvalid)?'solid 1px red':'none'" [ngClass]="'form-control fm-txt date'"
                            ngx-mydatepicker name="employeeEndDates{{row.$$index}}" [(ngModel)]="employeeEndDate[row.$$index]"
                            [options]="myOptions" #dp3="ngx-mydatepicker" (dateChanged)="onEmployeeEndDateChanged($event, row.$$index)"
                            (change)="onEmployeeEndDateChanged($event.target.value, row.$$index)" #employeeEndDates="ngModel"
                            id="endDate{{row.$$index}}" [required]="row.include" readonly title="{{defaultFormValues[9]['helpMessage']}}"
                          />
                          <span>
                            <button type="button" class="btn btn-default " style="float:none; height: 40px; width: 40px;" (click)="dp3.clearDate()">
                              <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default doNotPrint" style="float:none; height: 40px; width: 40px;" (click)="dp3.toggleCalendar()">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </div>
                      </ng-template> -->
                    </ngx-datatable-column>

                     <!-- Data Grid basedonpaycode -->
                    <ngx-datatable-column  *ngIf="model['codeType'] == '2'" name="parentPaycode" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('')">basedOnPayCode</span>
                      </ng-template>
                      <ng-template   let-value="value" let-row="row"  ngx-datatable-cell-template>
                        <div> {{value}}</div>
                      </ng-template>
                     
                    </ngx-datatable-column>

                    <!-- Data Grid payfactor -->
                    <ngx-datatable-column  *ngIf="model['codeType'] == '2'" name="payFactor" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('')">PayFactor</span>
                      </ng-template>
                      <ng-template   let-value="value" let-row="row"  ngx-datatable-cell-template>
                        <div> {{value}}</div>
                      </ng-template>
                     
                    </ngx-datatable-column>

                    <!-- Data Grid Inactive -->
                    <ngx-datatable-column name="inActive" [width]="85" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('inActive')">{{defaultFormValues[10]['fieldValue']}}</span>
                      </ng-template>
                      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <input type="checkbox" [checked]="row.inActive" (click)="changeInactive(row.$$index)" title="defaultFormValues[10]['helpMessage']"
                        />
                      </ng-template>
                    </ngx-datatable-column>

                  

                  </ngx-datatable>
                </div>
                <!-- Data Grid Ends-->
                        </div>
                        <div class="button-row">
                          <!-- Table View Starts -->
                          <div class="table-view">
                            <span>TABLE VIEW</span>
                            <div class="select-outer">
                              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #assId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>

               
              </div>

              <!-- 
              <div class="col-md-12 mt-30">
                <hr>
              </div>
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-10 col-sm-8 col-xs-14':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-3 col-md-offset-6">
                    <button type="button" (click)="markAll()" [ngClass]="'grey-btn'">{{defaultFormValues[11]['fieldValue']}}</button>
                  </div>
                  <div style="margin:0;">
                    <button type="button" (click)="unmarkAll()" [ngClass]="'grey-btn'">{{defaultFormValues[12]['fieldValue']}}</button>
                  </div>
                </div>
              </div>
              <div class="table-responsive table" #scrollable>
                <table id="subItems" class="material" width="100%" style="border: 1px solid #ddd !important;" align="center">
                  <tr>
                    <td class="head" height="42">
                      {{defaultFormValues[4]['fieldValue']}}
                    </td>
                    <td class="head" height="42">
                      {{defaultFormValues[5]['fieldValue']}}
                    </td>
                    <td class="head" height="42">
                      {{defaultFormValues[6]['fieldValue']}}
                    </td>
                    <td class="head" height="42">
                      {{defaultFormValues[7]['fieldValue']}}
                    </td>
                    <td class="head" height="42">
                      {{defaultFormValues[8]['fieldValue']}}
                    </td>
                    <td class="head" height="42">
                      {{defaultFormValues[9]['fieldValue']}}
                    </td>
                    <td class="head" height="42">
                      {{defaultFormValues[10]['fieldValue']}}
                    </td>
                  </tr>
                  <tr *ngFor="let row of model['rowsFromDB']; let row.$$index= index">
                    <td height="42" align="left" valign="top" class="other" border="1">
                      <input type="checkbox" [disabled]="employeeName.value=='  '" [checked]="model['rowsFromDB'][row.$$index].include" (change)="model['rowsFromDB'][row.$$index].include = !model['rowsFromDB'][row.$$index].include"
                        (click)="changeSelection(row, model['rowsFromDB'][row.$$index].include)" [title]="employeeName.value=='  '? 'No employee selected' :defaultFormValues[4]['helpMessage']"
                      />
                    </td>
                    <td height="42" align="left" valign="top" class="other" border="1">
                      {{row.code}}
                    </td>
                    <td height="42" align="left" valign="top" class="other" border="1">
                      {{row.desc}}
                    </td>
                    <td height="42" align="left" valign="middle" class="amt" border="1">
                      <div *ngIf="row.isAmtType || model['codeType'] == '2'" class="white">
                        <span class="white">$</span>
                        <input [style.border]="(pageChangeAttempt || f.submitted) && (row.amtInvalid || !rowAmt.valid) && row.include?'solid 1px red':'none'" style="float:right;width: 125px;text-align: right;"
                          type="number" class="form-control fm-txt white" name="rowAmt{{row.$$index}}" [(ngModel)]="row.amount" (clickOutside)="checkdecimalcell(rowAmt, row.$$index)"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          onkeypress="return check_digit(event,this,10,3);" min=0 #rowAmt="ngModel" maxlength="11" [required]="model['rowsFromDB'][row.$$index].include"
                          title="{{defaultFormValues[7]['helpMessage']}}" />
                      </div>
                      <div *ngIf="!row.isAmtType && model['codeType'] != '2'" class="white">
                        <input [style.border]="(pageChangeAttempt || f.submitted) && (row.amtInvalid || !rowPer.valid) && row.include?'solid 1px red':'none'" style="float:right;width: 125px;text-align: right;"
                          type="number" class="form-control fm-txt white" name="rowPer{{row.$$index}}" [(ngModel)]="row.amount" (clickOutside)="checkdecimalcell(rowPer, row.$$index)"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          onkeypress="return check_digit(event,this,10,3);" min=0 #rowPer="ngModel" maxlength="11" [required]="model['rowsFromDB'][row.$$index].include"
                          title="{{defaultFormValues[7]['helpMessage']}}" />
                        <span class="white">%</span>
                      </div>
                    </td>
                    <td height="42" align="left" valign="top" class="date" border="1">
                      <div *ngIf="model['codeType'] != '2'" class="input-group" style="margin: 0;">
                        <input [style.border]="(pageChangeAttempt || f.submitted) && !employeeStartDates.valid?'solid 1px red':'none'" [ngClass]="'form-control fm-txt date'"
                          ngx-mydatepicker name="employeeStartDates{{row.$$index}}" [(ngModel)]="employeeStartDate[row.$$index]" [options]="myOptions"
                          #dp2="ngx-mydatepicker" (dateChanged)="onEmployeeStartDateChanged($event, row.$$index)" (change)="onEmployeeStartDateChanged($event.target.value, row.$$index)"
                          #employeeStartDates="ngModel" id="startDate{{row.$$index}}" [required]="model['rowsFromDB'][row.$$index].include"
                          readonly title="{{defaultFormValues[8]['helpMessage']}}" />
                        <span >
                          <button type="button" class="btn btn-default " style="float:none; height: 40px; width: 40px;" (click)="dp2.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                          <button type="button" class="btn btn-default doNotPrint" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                      </div>
                    </td>
                    <td height="42" align="left" valign="top" class="date" border="1">
                      <div *ngIf="model['codeType'] != '2'" class="input-group" style="margin: 0;">
                        <input [style.border]="(pageChangeAttempt || f.submitted) &&  (!employeeEndDates.valid || row.endDateInvalid)?'solid 1px red':'none'" [ngClass]="'form-control fm-txt date'"
                          ngx-mydatepicker name="employeeEndDates{{row.$$index}}" [(ngModel)]="employeeEndDate[row.$$index]" [options]="myOptions"
                          #dp3="ngx-mydatepicker" (dateChanged)="onEmployeeEndDateChanged($event, row.$$index)" (change)="onEmployeeEndDateChanged($event.target.value, row.$$index)"
                          #employeeEndDates="ngModel" id="endDate{{row.$$index}}" [required]="model['rowsFromDB'][row.$$index].include" readonly
                          title="{{defaultFormValues[9]['helpMessage']}}" />
                        <span >
                          <button type="button" class="btn btn-default " style="float:none; height: 40px; width: 40px;" (click)="dp3.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                          <button type="button" class="btn btn-default doNotPrint" style="float:none; height: 40px; width: 40px;" (click)="dp3.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                      </div>
                    </td>
                    <td height="42" align="left" valign="top" class="other" border="1">
                      <input type="checkbox" [checked]="model['rowsFromDB'][row.$$index].inActive" />
                    </td>
                  </tr>
                </table>
              </div>
              <ngb-pagination [collectionSize]="120" [(page)]="page.pageNumber" (pageChange)="loadPage()" [maxSize]="5" [rotate]="true"
                [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
 -->
            

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button [ngClass]="'grey-btn'">{{defaultFormValues[13]['fieldValue']}}</button>
                      <button [ngClass]="'grey-btn'" type="button" (click)="printEmployeeDetails()">{{defaultFormValues[15]['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[14]['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>