tr td.other{border-bottom:1px solid #ddd; border-right:1px solid #ddd;padding: 10px; background-color:#fff;}
tr td.date{border-bottom:1px solid #ddd; border-right:1px solid #ddd;padding-left: 5px; width:180px; background-color:#fff;}
tr td.amt{width:150px; border-bottom:1px solid #ddd; border-right:1px solid #ddd;padding-left: 2.5px; padding-right: 2.5px; background-color:#fff;}
tr td.head{border-bottom:1px solid #ddd; border-right:1px solid #ddd;padding: 10px;  background-color:#03485e; color: #fff;}
tr td:last-child{border-bottom:1px solid #ddd; border-right:0px solid #ddd;}
input.amt{width:100px; margin: 0px !important; padding: 0px; height: 100%; border:0px; display: inline;background-color:#fff;}
input.date{width:80px; margin: 0px !important; padding: 0px; height: 100%; border:0px; display: inline;background-color:#fff;}
input.red{width:100%; padding: 0 2%; height: 100%; background:rgb(3, 72, 94); border: 1px solid #ff0000;}
/* .white{border-top: none;border-left: none;border-right: none;border-bottom: 1px solid #fff; background:#fff; color:#000;} */
input.white.red{width:95%; padding: 0 2%; height: 100%; background:#fff; border: 1px solid #ff0000;}
div.white{width:100%;display:table-row;vertical-align:middle;background-color:#fff;}
span.white{width:10px;display:table-cell;vertical-align:middle;background-color:#fff;}

ul {list-style: none;margin: 0;vertical-align: middle;display: inline-block;}
li{padding: 0;margin: 0;display: inline-block;list-style: none;}

div.loader-outer{height: 100vh;vertical-align:middle;z-index: 3; position: absolute; background-color: rgba(0,0,0,.075);}
div.loader-inner{padding-top: 25vh;display: flex; vertical-align:middle; justify-content: center;}

