
<div class="content-wrapper user-view">
	<section class="content">
		<!--<pre>{{defaultAddFormValues|json}}</pre>-->
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<!--<pre>{{gridDefaultFormValues|json}}</pre>-->
		<section class="inner-content">
			<div class="content-outer com-form">
				<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
					<div class="row">
						<form (ngSubmit)="!hasMsg && f.form.valid && savefaAccountMaintenance(f)" #f="ngForm" novalidate> 
							<div class="form-row">   
								<div [ngClass]="{'has-error': f.submitted && assetId.length==0,'col-md-6 col-sm-6 col-xs-12':true}">                         
									<label>{{defaultAddFormValues[0]['fieldValue']}}</label>
									<div class="select-outer">
										<!--<select [ngClass]="'form-control auto-focus'" myAutofocus name="assetId" [(ngModel)]="model.assetId" #assetId="ngModel" 
											title="{{defaultAddFormValues[0]['helpMessage']}}" required>
											<option *ngFor="let class of classOptions" [value]="class.assetId">
												{{class.faDescription}}
											</option>
										</select>-->
										<angular2-multiselect  required [ngClass]="'form-control fm-txt'" [data]="ArrAssetId" [(ngModel)]="assetId" id="assetId" [ngModelOptions]="{standalone: true}"
										[settings]="ddlAssetIdSetting" 
										(onSelect)="getAssetByID($event)" (onDeSelect)="OnAssetIdDeSelect($event)"></angular2-multiselect>
									</div>  
									<div *ngIf="f.submitted && assetId.length==0">
										<div class='error-msg'>
											{{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div> 
								</div>
							</div><!-- Form Row Ends -->	
							
							<div class="form-row">                            
								<!--<div class="col-md-6 col-sm-6 col-xs-12" [ngClass]="{'has-error': f.submitted && !accountGroupIndex.valid,'':true}">
									<label>{{defaultAddFormValues[1]['fieldValue']}}</label>
									<input type="text" [ngClass]="'form-control fm-txt'" name="accountGroupIndex" [(ngModel)]="model.accountGroupIndex" #accountGroupIndex="ngModel"
									title="{{defaultAddFormValues[1]['helpMessage']}}" required />
									<div *ngIf="f.submitted && accountGroupIndex.invalid">
										<div class='error-msg' *ngIf="accountGroupIndex.errors.required">
											{{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
									
								</div>-->
								<div [ngClass]="{'has-error': f.submitted && accountGroupIndex.length==0,'col-md-6 col-sm-6 col-xs-12':true}">                         
									<label>{{defaultAddFormValues[1]['fieldValue']}}</label>
									<div class="select-outer">
										<angular2-multiselect  required [ngClass]="'form-control fm-txt'" [data]="ArrAccountGroupIndex" [(ngModel)]="accountGroupIndex" id = "accountGroupIndex" [ngModelOptions]="{standalone: true}"
										[settings]="ddlAccountGroupIndexSetting" 
										(onSelect)="getAccountGroupIndexByID($event)" (onDeSelect)="OnAccountGroupIndexDeSelect($event)">
									</angular2-multiselect>
								</div>  
								<div *ngIf="f.submitted && accountGroupIndex.length==0">
									<div class='error-msg'>
										{{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
								</div> 
							</div>
						</div>
						<!--<pre>{{accountNumberList | json}}</pre>-->
						<div class="form-row">
							<div class="col-xs-12">
								<div class="algo-table">
									<div class="table-responsive">          
										<table class="table">
											<thead>
												<tr> 
													<th width="20%">{{defaultAddFormValues[2]['fieldValue']}}</th>
													<th width="30%">{{defaultAddFormValues[3]['fieldValue']}}</th>
													<th width="30%">{{defaultAddFormValues[4]['fieldValue']}}</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let item of accountNumberList; let i=index;">
													<td>{{item.typeValue}}</td>
													<td>
														<span *ngFor="let segment of arrSegment; let j=index;">
															<input id="txtfirstSegment_{{i}}{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_{{i}}"
															(blur)="fetchFirstAccountIndexInfo(i,j)" *ngIf="j==0" style="width:65px" />
															<input id="txtSegment_{{i}}{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_{{i}}"
															(blur)="fetchOtherAccountIndexInfo(i,j)" *ngIf="j > 0" style="width:65px"  [disabled]='segment.isReadOnly'/> 
															<i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus"
															style="float: left;padding: 3px 0px;" *ngIf="j + 1 != arrSegment.length"></i>	
														</span>
														<!--<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber1_{{i}}" [(ngModel)]="item.accountNumber1" (blur)="fetchRecordForFirstText(i)" /> 
															<i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus" style="float: left;padding: 3px 0px;"></i>	
															<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber2_{{i}}" [(ngModel)]="item.accountNumber2" (blur)="fetchRecordForSecondText(i)" [disabled]="item.disabled2"/> 
															<i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus" style="float: left;padding: 3px 0px;"></i>	
															<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber3_{{i}}" [(ngModel)]="item.accountNumber3" (blur)="fetchRecordForThirdText(i)" [disabled]="item.disabled3"/>
															<i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus" style="float: left;padding: 3px 0px;"></i>	
															<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber4_{{i}}" [(ngModel)]="item.accountNumber4" (blur)="fetchRecordForFourthText(i)" [disabled]="item.disabled4"/> -->
														</td>
														<td>
															<!--<p>accountDescription =  {{item.accountDescription | json}} </p>-->
															<span *ngFor="let desc of item.accountDescription;">
																<span *ngIf="desc != 0">
																	{{desc}}	
																</span>
															</span>
															<!--<p>	accountNumberIndex = {{item.accountNumberIndex | json}} </p>-->
															<!--<span *ngFor="let desc1 of item.accountNumberIndex;">
																<span *ngIf="desc1 != 0">
																	{{desc1}}	
																</span>
															</span>-->
														</td>													  
													</tr>
													
												</tbody>
											</table>
										</div>
									</div><!-- Algo Table Ends -->
								</div>
							</div><!-- Form Row Ends -->
							
							<div class="button-row">
								<div class="col-sm-12">
									<input type="submit" [disabled]="LockScreen(defaultAddFormValues[5]['writeAccess'])"
									 class="orange-btn" value="{{defaultAddFormValues[5]['fieldValue']}}" title="{{defaultAddFormValues[5]['fieldValue']}}">
									<input type="button" (click)="resetMe()" class="blue-btn" title="{{defaultAddFormValues[6]['fieldValue']}}" value="{{defaultAddFormValues[6]['fieldValue']}}"/>
								</div>
							</div>
							
						</form>
						<!--<pre>{{accountNumberList  | json}}</pre>-->
					</div>
				</div><!-- Content OUter Ends -->
			</section>
		</section>
	</div>
	<style>
		.user-view .algo-table .acc-txt{border:1px solid #d5d5d5; width:19%;}
	</style>
	<!--<style>
		.ng-valid[required], .ng-valid.required  {
			border-left: 5px solid #42A948;
		}
		.ng-invalid:not(form)  {
			border-left: 5px solid #a94442;
		}
	</style>-->