<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>

        <div class="button-row">
          <!-- Create / Update Form start -->
          <div>
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid &&  this.typeaheadNoResults.length == 0 && country.value!=0 && state.value!=0 && city.value!=0 && CreateEmployeeAddressMaster(f, $event)"
              #f="ngForm" novalidate>

              <!-- Update -->

              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !address1.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="code">{{EMPLOYEE_MASS_UPDATE_UPDATE['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_MASS_UPDATE_UPDATE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-4">
                    <select [pattern]="pattern" type="text" [ngClass]="'form-control fm-txt'" name="update" [(ngModel)]="update"
                      #update1="ngModel" title="{{EMPLOYEE_MASS_UPDATE_UPDATE['helpMessage']}}" maxlength="90"
                      [required]="EMPLOYEE_MASS_UPDATE_UPDATE['isMandatory']">
                      <option value="0">Select Update</option>
                    </select>
                    <div *ngIf="f.submitted && code.invalid && this.checkclear !=0">
                      <div [hidden]="!code.errors.required && this.checkclear !=0 ">
                        {{EMPLOYEE_MASS_UPDATE_UPDATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                  <!-- Code -->
                  <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !address1.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="code">{{EMPLOYEE_MASS_UPDATE_CODE['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_MASS_UPDATE_CODE['isMandatory']">*</span>
                    </div>
                    <div class="col-md-4">
                      <select [pattern]="pattern" type="text" [ngClass]="'form-control fm-txt'" name="code" [(ngModel)]="code"
                        #code1="ngModel" title="{{EMPLOYEE_MASS_UPDATE_CODE['helpMessage']}}" maxlength="90" [required]="EMPLOYEE_MASS_UPDATE_CODE['isMandatory']">
                        <option value="0">Select Code</option>
                      </select>
                      <div *ngIf="f.submitted && code.invalid && this.checkclear !=0">
                        <div [hidden]="!code.errors.required && this.checkclear !=0 ">
                          {{EMPLOYEE_MASS_UPDATE_CODE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <input type="text" name="codedescription" [(ngModel)]="description" [ngClass]="'form-control fm-txt'" readonly>
                    </div>
                  </div>
                </div>
              
                <!-- Id -->
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="col-md-2">
                        <input type="checkbox" name="employeeId">
                      </div>
                      <div class="col-md-4">
                        {{EMPLOYEE_MASS_UPDATE_ID['helpMessage']}}:
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="col-md-2">
                        <input type="checkbox" name="all" value="1" >
                        <label> {{EMPLOYEE_MASS_UPDATE_ALL['helpMessage']}}:</label>
                      </div>
                     
                     
                      <div class="col-md-5">
                        <div class="col-md-5">
                            <input type="checkbox" name="all" value="0" >
                            <label>{{EMPLOYEE_MASS_UPDATE_FROM['helpMessage']}}:</label> 
                            
                        </div>
                        <div class="col-md-7">
                            
                            <input type="text"  [ngClass]="'form-control fm-txt'">
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="col-md-2">
                          {{EMPLOYEE_MASS_UPDATE_TO['helpMessage']}}:
                        </div>
                        <div class="col-md-7">
                          <input type="text"  [ngClass]="'form-control fm-txt'">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Dept -->
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="col-md-2">
                        <input type="checkbox" name="department">
                      </div>
                      <div class="col-md-4">
                        {{EMPLOYEE_MASS_UPDATE_DEPARTMENT['helpMessage']}}:
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="col-md-2">
                        <input type="checkbox" name="all" value="1">
                        <label>{{EMPLOYEE_MASS_UPDATE_ALL['helpMessage']}}:</label>
                      </div>
                      
                      <div class="col-md-5">
                        <div class="col-md-5">                       
                          <input type="checkbox" name="all" value="0">
                          <label>{{EMPLOYEE_MASS_UPDATE_FROM['helpMessage']}}</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" value="" [ngClass]="'form-control fm-txt'">
                          </div>
                      </div>
                      

                      <div class="col-md-5">
                        <div class="col-md-2">
                        {{EMPLOYEE_MASS_UPDATE_TO['helpMessage']}}:
                        </div>
                          <div class="col-md-7">                       
                           <input type="text" value="" [ngClass]="'form-control fm-txt'">
                          </div>
                      </div>

                    </div>
                  </div>
                </div>

                <!-- position -->
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="col-md-2">
                        <input type="checkbox" name="position">
                      </div>
                      <div class="col-md-4">
                        {{EMPLOYEE_MASS_UPDATE_POSITION['helpMessage']}}:
                      </div>
                    </div>

                    <div class="col-md-8">
                      <div class="col-md-2">
                        <input type="checkbox" name="all" value="1">
                        <label>{{EMPLOYEE_MASS_UPDATE_ALL['helpMessage']}}:</label>
                      </div>
                      
                      <div class="col-md-5">
                        <div class="col-md-5">
                          <input type="checkbox" name="all" value="0">
                          <label> {{EMPLOYEE_MASS_UPDATE_FROM['helpMessage']}}:</label>
                        </div>
                        <div class="col-md-7">
                          <input type="text" value="" [ngClass]="'form-control fm-txt'">
                        </div>
                    </div>
                      <div class="col-md-5">
                        <div class="col-md-2">
                          {{EMPLOYEE_MASS_UPDATE_TO['helpMessage']}}:
                          </div>
                          <div class="col-md-7">
                            <input type="text" value="" [ngClass]="'form-control fm-txt'">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- start date -->
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="col-md-2">
                        <input type="checkbox" name="startdate">
                      </div>
                      <div class="col-md-4">
                        {{EMPLOYEE_MASS_UPDATE_START_DATE['helpMessage']}}:
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="col-md-2">
                        <input type="checkbox" name="all" value="1">
                        <label>{{EMPLOYEE_MASS_UPDATE_ALL['helpMessage']}}:</label>
                      </div>
                      
                      <div class="col-md-5">
                        <div class="col-md-5">
                          <input type="checkbox" name="all" value="0">
                          <label>{{EMPLOYEE_MASS_UPDATE_FROM['helpMessage']}}:</label>
                         </div>
                         <div class="col-md-7">
                            <input type="text" value="" [ngClass]="'form-control fm-txt'">
                          </div>
                      </div>
                      
                      <div class="col-md-5">
                        <div class="col-md-2">
                          {{EMPLOYEE_MASS_UPDATE_TO['helpMessage']}}:
                        </div>
                       <div class="col-md-7">
                        <input type="text" value=""  [ngClass]="'form-control fm-txt'">
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
  

                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !updateMethod.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="updateMethod">{{EMPLOYEE_MASS_UPDATE_METHOD['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_MASS_UPDATE_METHOD['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <select [pattern]="pattern" type="text" [ngClass]="'form-control fm-txt'" name="updateMethod"
                        [(ngModel)]="updateMethod" #updateMethod1="ngModel" title="{{EMPLOYEE_MASS_UPDATE_METHOD['helpMessage']}}"
                        maxlength="90" [required]="EMPLOYEE_MASS_UPDATE_METHOD['isMandatory']">
                        <option value="0">Select Method</option>
                      </select>
                      <div *ngIf="f.submitted && updateMethod.invalid && this.checkclear !=0">
                        <div [hidden]="!updateMethod.errors.required && this.checkclear !=0 ">
                          {{EMPLOYEE_MASS_UPDATE_METHOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                  <div class="form-group">
                    <div [ngClass]="{'has-error': f.submitted && !updateMethod.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="updateMethod">{{EMPLOYEE_MASS_UPDATE_AMOUNT['fieldValue']}}</label>
                        <span *ngIf="EMPLOYEE_MASS_UPDATE_AMOUNT['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <div class="col-md-6">
                          <input type="text" [pattern]="pattern" type="text" [ngClass]="'form-control fm-txt'" name="amount"
                            [(ngModel)]="amount" #amount1="ngModel" title="{{EMPLOYEE_MASS_UPDATE_AMOUNT['helpMessage']}}"
                            maxlength="90" [required]="EMPLOYEE_MASS_UPDATE_AMOUNT['isMandatory']" />


                          <div *ngIf="f.submitted && amount.invalid && this.checkclear !=0">
                            <div [hidden]="!amount.errors.required && this.checkclear !=0 ">
                              {{EMPLOYEE_MASS_UPDATE_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="col-md-4">
                            <input type="checkbox" name="increase">
                            <label> {{EMPLOYEE_MASS_UPDATE_INCREASE['helpMessage']}}</label>
                          </div>
                          
                          <div class="col-md-4">
                            <input type="checkbox" name="decrease">
                            <label>{{EMPLOYEE_MASS_UPDATE_DECREASE['helpMessage']}}</label>
                          </div>
                          <div class="col-md-4">
                            <button [ngClass]="'blue-btn'">{{EMPLOYEE_MASS_UPDATE_EDIT_RECORDS['helpMessage']}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
              <!-- edit -->
              
              <div [ngClass]="'form-group'">
                <div [ngClass]="{ 'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4':currentLanguage == 2}">
                  <div class="col-md-2">
                    <input type="checkbox" name="roundtonearesamount">
                  </div>
                  <div class="col-md-4">
                    {{EMPLOYEE_MASS_UPDATE_NEAREST_AMOUNT['helpMessage']}}
                  </div>
                </div>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button [ngClass]="'grey-btn'">{{EMPLOYEE_MASS_UPDATE_CLEAR['helpMessage']}}</button>
                      <button [ngClass]="'blue-btn'">{{EMPLOYEE_MASS_UPDATE_UPDATE['helpMessage']}}</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>