<app-modal-animation  [modalID]="'effect-15'" [modalClass]="'md-effect-15'">
  
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close">x</i></button>
      <app-card [title]="'Add country'">
      
      
            </app-card>   
            <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
            <button (click)="closeMyModal($event)" class="btn btn-primary md-close">Close Me!!</button>
</app-modal-animation>



<!-- <app-modal-animation [modalID]="'effect-13'" [modalClass]="'md-effect-13'">
    <h3 class="f-26">Add Contact</h3>
    <div class="text-center">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Full Name">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Email">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Position">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon4"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Office">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon5"><i class="icofont icofont-user"></i></span>
        <input type="number" class="form-control" placeholder="Age">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon6"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Phone Number">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon7"><i class="icofont icofont-user"></i></span>
        <input id="dropper-default" class="form-control" type="text" placeholder="Select Your Birth Date" readonly="readonly">
      </div>
      <button type="button" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block">Save</button>
      <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
  </app-modal-animation> -->

  <!-- screen header -->
  <div class="page-header">
		<div class="page-header-title">
		  <span><h3>{{screenName}}</h3></span>
		</div>
		<!-- <div class="page-header-breadcrumb">
			<i class="ti-settings"></i>
		</div> -->
	  </div>
<!-- screen header -->


<div class="content-wrapper">
        <section class="content">
            <!-- section Heading Starts -->
            <!-- <div class="section-heading">
                <h2></h2>
            </div> -->
            <!-- section Heading Ends -->
            <section class="inner-content">
                <!-- Content Outer Starts -->
                <div class="content-outer com-form">
                    <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{messageText}}
                    </div>
                    <!-- Content Heading Starts -->
                    <div class="content-heading">
                        <!-- <h3> {{screenName}}</h3> -->
                           <div *ngIf="showloader" class="loader-bg">
                        </div>
                    </div>
                    <!-- Content Heading Ends -->
                    
                    <!--adding form starts-->
          <!-- Basic Form Inputs card start -->
<app-card [title]="">
        <!-- <h4 class="sub-title">Create company</h4> -->
       
       
        <form (ngSubmit)="f.form.valid && CreateGroup(f)" (keydown.enter)="f.form.valid && CreateGroup(f)" #f="ngForm"
				novalidate>
				<!-- Row Starts -->
			  <div class="form-group row">  
				
					<div class="col-sm-4">
						<div class="form-group row">
							<div class="floating-label col-sm-12" *ngIf="defaultFormValues[0]['readAccess']"  
								[ngClass]="{ 'has-error': f.submitted && !roleGroupName.valid }">      
								<input class="floating-input" type="text"   placeholder=" "  
								name="roleGroupName" [(ngModel)]="model.roleGroupName" myAutofocus
							#roleGroupName="ngModel" pattern="(?!^\d+$)^.+$" tabindex="1"
							title="{{defaultFormValues[0]['helpMessage']}}" maxlength="25" 
							required  [readonly]="!defaultFormValues[0]['writeAccess']" />


							<div *ngIf="f.submitted && roleGroupName.invalid">
								<div class='error-msg' *ngIf="roleGroupName.errors.required">
									{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
								<div class='error-msg' *ngIf="roleGroupName.errors.maxlength">
									{{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
								</div>
								</div>
									<span class="highlight"></span>
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
								</div>
						</div>
											
							</div>
					



							<!-- <div class="floating-label col-sm-12" *ngIf="defaultFormValues[1]['readAccess']"  [ngClass]="{'has-error': f.submitted && !roleIdList.valid,'col-md-6 col-sm-6 col-xs-12':true}">
								
									<angular4-multiselect [disabled]="true" [data]="ddl_Roles" [(ngModel)]="selectedRoles" [ngModelOptions]="{standalone: true}" on-focusin="onAutocompleteFocus('companyLabel')" 
									[settings]="{singleSelection: false,text:this.selectUser,disabled : !defaultFormValues[1]['writeAccess'],selectAllText: this.selectAll,unSelectAllText: this.unselectAll,enableSearchFilter: true,classes:'myclass custom-class'}" 
									(onSelect)="onItemSelect($event)" 
									(onDeSelect)="OnItemDeSelect($event)" tabindex="2"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)"
									#roleIdList="ngModel"
									name="roleIdList"></angular4-multiselect>
									<div *ngIf="f.submitted && roleIdList.invalid">
													<div class='error-msg' [hidden]="!roleIdList.errors.required">
															{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
													</div>
											</div>
									<span class="highlight"></span>
									<label id="companyLabel">{{defaultFormValues[1]['fieldValue']}}</label>
							</div> -->


							<div class="floating-label col-md-4 col-sm-4 col-xs-6 multi-select" [ngClass]="{'has-error': f.submitted && selectedRoles.length==0,'col-md-6 col-sm-6 col-xs-12':true}">      
								<angular4-multiselect [data]="ddl_Roles" class="floating-input"  [(ngModel)]="selectedRoles" [ngModelOptions]="{standalone: true}"
								on-focusin="onAutocompleteFocus('lblRoles')"
								[settings]="{singleSelection: false,text:this.selectUser,disabled : !defaultFormValues[1]['writeAccess'],selectAllText: this.selectAll,unSelectAllText: this.unselectAll,enableSearchFilter: true,classes:'myclass custom-class'}" 
								(onSelect)="onItemSelect($event)"  tabindex="2"
								(onDeSelect)="OnItemDeSelect($event)"
								(onSelectAll)="onSelectAll($event)"
								(onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
								<div *ngIf="f.submitted && selectedRoles.length==0">
									<div class='error-msg'>
											{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
							</div>
								<span class="highlight"></span>
								<label id="lblRoles" for="companyIds">{{defaultFormValues[1]['fieldValue']}}</label>
							</div>
					
					<!-- <div class="col-sm-4">
							<div class="form-group row smtFullDropdown">
									<div class="floating-label col-sm-12"  [ngClass]="{ 'has-error': f.submitted && !roleIdList.valid }">    
											<div class="select-outer multiselect-dd selected-list">
													<ss-multiselect-dropdown [options]="ddOptions"
													[settings]="ddSettings" [texts]="ddTexts"
													[(ngModel)]="model.roleIdList" #roleIdList="ngModel"
													name="roleIdList" (ngModelChange)="onChange($event)"
													title="{{defaultFormValues[1]['helpMessage']}}" required>
												</ss-multiselect-dropdown>
											</div>
											<div *ngIf="f.submitted && roleIdList.invalid">
													<div class='error-msg' [hidden]="!roleIdList.errors.required">
														{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
													</div>
												</div>
											<span class="highlight"></span>
											<label>{{defaultFormValues[1]['fieldValue']}}</label>
										</div>
								</div>
				
					</div> -->
										
				
			 </div>
			 
			 <div class="form-group row">
				<div class="col-sm-4">
					<div class="form-group row">
						<div class="floating-label col-sm-12" *ngIf="defaultFormValues[2]['readAccess']" 
						[ngClass]="{ 'has-error': f.submitted && !roleGroupDescription.valid }">      
								<textarea class="floating-input floating-textarea" placeholder=" " pattern="(?!^\d+$)^.+$"
								name="roleGroupDescription" tabindex="3"
								[(ngModel)]="model.roleGroupDescription"
								#roleGroupDescription="ngModel"
								title="{{defaultFormValues[2]['helpMessage']}}" minlength="1" maxlength="150"  [readonly]="!defaultFormValues[2]['writeAccess']"></textarea>
								<div *ngIf="f.submitted && roleGroupDescription.invalid">
									<div class='error-msg'
									[hidden]="!roleGroupDescription.errors.maxlength">
									{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
								<div class='error-msg'
									[hidden]="!roleGroupDescription.errors.pattern">
									"Wrong Pattern"
								</div>
							</div>
								<span class="highlight"></span>
								<label>{{defaultFormValues[2]['fieldValue']}}</label>
							</div>
					</div>
										
						</div>
			</div>

	 <div class="button-row">
		<div class="col-sm-12">
			<button *ngIf="model.id" class="green-btn">{{updateField}}</button>
			<button *ngIf="!model.id" class="green-btn" 
		      	[disabled]="LockScreen(defaultFormValues[3]['writeAccess'])" tabindex="4"
			    title="{{defaultFormValues[3]['helpMessage']}}">{{defaultFormValues[3]['fieldValue']}}</button>
			<button [ngClass]="'blue-btn'" [routerLink]="['/rolegroup']" *ngIf="defaultFormValues[4]['readAccess']"  tabindex="5"
			title="{{defaultFormValues[4]['helpMessage']}}">{{defaultFormValues[4]['fieldValue']}}</button>
			<button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{clearText}}</button>
		</div>
		
	</div>

<!-- Row Ends -->
</form>
       
       
      </app-card>        
                   
        
        <!--adding form ends-->
    </div>
    <!-- Content Outer Ends -->
    </section>
    </section>
    </div>
<!-- Basic Form Inputs card end -->

