<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction && !isDeleteAction2'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction || isDeleteAction2'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction && !isDeleteAction2'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction || isDeleteAction2'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[8]['helpMessage']}}">{{defaultFormValues[8]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="accrualGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Accrual Schedule ID -->
              <ngx-datatable-column name="scheduleId" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('scheduleIdscheduleId')">{{defaultFormValues[1]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Accrual Description -->
              <ngx-datatable-column name="desc" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('desc')">{{defaultFormValues[2]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Accrual Arabic Description -->
              <ngx-datatable-column name="arbicDesc" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('arbicDesc')">{{defaultFormValues[3]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Accrual Start Date -->
              <ngx-datatable-column name="startDate" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('startDate')">{{defaultFormValues[4]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Accrual End Date -->
              <ngx-datatable-column name="endDate" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('endDate')">{{defaultFormValues[16]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="60" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{defaultFormValues[7]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>


        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #accrualId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[13]['fieldValue']}}</button>


          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model1.id">{{defaultFormValues[14]['fieldValue']}}</h3>
              <h3 *ngIf="model1.id">{{defaultFormValues[15]['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && CreateAccuralSchedule(f, $event)" #f="ngForm" novalidate>

              <!-- schedule Id field -->
              <div class="form-group">

                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #update>
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="scheduleId">{{defaultFormValues[1]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="number" [ngClass]="'form-control fm-txt'" name="scheduleId" value="{{accrualIdvalue}}" (keyup)="CheckNumber($event)"
                        title="{{defaultFormValues[1]['helpMessage']}}" readonly required />
                    </div>
                  </div>
                </ng-template>


                <ng-template #create>
                  <div [ngClass]="{ 'has-error': f.submitted && !scheduleId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label for="scheduleId">{{defaultFormValues[1]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="number" [ngClass]="'form-control fm-txt'" name="scheduleId" [(ngModel)]="model1.scheduleId" #scheduleId="ngModel"
                        (keyup)="CheckNumber($event)" title="{{defaultFormValues[1]['helpMessage']}}" required />
                      <div *ngIf="f.submitted && scheduleId.invalid">
                        <div [hidden]="!scheduleId.errors.required">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!scheduleId.errors?.maxlength">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

              </div>

              <!-- Accrual Schedule Description Field -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !desc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="desc">{{defaultFormValues[2]['fieldValue']}}</label>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model1.desc" #desc="ngModel" title="{{defaultFormValues[2]['helpMessage']}}"
                      required maxlength="31" />
                    <div *ngIf="f.submitted && desc.invalid">
                      <div [hidden]="!desc.errors.required">
                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!desc.errors?.maxlength">
                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Accrual Schedule Arabic description -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !arbicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="arbicDesc">{{defaultFormValues[3]['fieldValue']}}</label>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="arbicDesc" [(ngModel)]="model1.arbicDesc" #arbicDesc="ngModel"
                      title="{{defaultFormValues[3]['helpMessage']}}" maxlength="61" required />
                    <div *ngIf="f.submitted && arbicDesc.invalid">
                      <div [hidden]="!arbicDesc.errors.required">
                        {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!arbicDesc.errors?.maxlength">
                        {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Start Date -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !startDate.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="startDate">{{defaultFormValues[4]['fieldValue']}}</label>
                  </div>
                  <div class="col-md-8">
                    <input type="date" [ngClass]="'form-control fm-txt'" name="startDate" [(ngModel)]="model1.startDate" #startDate="ngModel"
                      title="{{defaultFormValues[4]['helpMessage']}}" maxlength="80" required />
                    <div *ngIf="f.submitted && startDate.invalid">
                      <div [hidden]="!startDate.errors.required">
                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!startDate.errors?.maxlength">
                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- End Date -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !endDate.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="endDate">{{defaultFormValues[16]['fieldValue']}}</label>
                  </div>
                  <div class="col-md-8">
                    <input type="date" [ngClass]="'form-control fm-txt'" name="endDate" [(ngModel)]="model1.endDate" #endDate="ngModel" title="{{defaultFormValues[16]['helpMessage']}}"
                      maxlength="61" required />
                    <div *ngIf="f.submitted && endDate.invalid">
                      <div [hidden]="!endDate.errors.required">
                        {{defaultFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!endDate.errors?.maxlength">
                        {{defaultFormValues[16]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- SUB TABLE STARTS HERE -->
              <div>
                <div class="col-md-12 mt-30">
                  <hr>
                </div>
                <div class="algo-table algo-table-department">

                  <!-- Data Grid Starts-->
                  <div class="table-responsive">
                    <ngx-datatable id="accrualGrid2" class="material" [rows]="rows2" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                      [rowHeight]="'auto'" [externalPaging]="true" [count]="page2.totalElements" [offset]="page2.pageNumber" 
                      [limit]="page2.size" (page)='setPage2($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect2($event)'>

                      <!-- Data Grid checkbox -->
                      <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                        [checkboxable]="true">
                      </ngx-datatable-column>

                      <!-- Data Grid Accrual Seniority -->
                      <ngx-datatable-column style="width: 100% !important;height: 100% !important; padding:0; margin: -7 -7 -7 -7;" name="scheduleSeniority" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                        <ng-template style="width: 100% !important;height: 100% !important;" let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                          <span (click)="sort('scheduleSeniority')">{{defaultFormValues[5]['fieldValue']}}</span>
                        </ng-template>
                        <ng-template style="width: 100% !important;height: 100% !important;" let-value="value" let-row="row" ngx-datatable-cell-template>
                          <div [ngClass]="{'has-error': f.submitted && subDesc.invalid}">
                          <input style="border-top: none;border-left: none;border-right: none; padding:0; border-spacing: 0; margin:0;float:right;width: 100% !important;text-align: right;"
                            type="number" [ngClass]="'form-control fm-txt'" name="subDesc{{page2.size*page2.pageNumber+row.$$index}}"
                            [(ngModel)]="model1.subItems[page2.size*page2.pageNumber+row.$$index].scheduleSeniority" #subDesc="ngModel" required /> 
                          </div>
                          </ng-template>
                      </ngx-datatable-column>

                      <!-- Data Grid Accrual -->
                      <ngx-datatable-column name="accrualSetupId" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                          <span *ngIf="!searchAccrualOpt" style="float: left;" (click)="sort('accrualSetupId')">{{defaultFormValues[6]['fieldValue']}}</span>
                          <!-- <input style="height: 100%;border:none !important;position: relative;top: -5px;float: right;" [ngStyle]="{'width': searchAccrualOpt?'100%':'', 'background': searchAccrualOpt? '':'url(\'../../../../assets/img/search-ico.png\') #03485e no-repeat scroll 94% 10px'}"
                            type="number" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{searchAccrualOpt?defaultFormValues[0]['fieldValue']:''}}"
                            (keyup)="updateFilter2($event)" (click)="searchAccrualOpt=!searchAccrualOpt;" /> -->
                        </ng-template>
                        <ng-template  let-value="value" let-row="row" ngx-datatable-cell-template>
                          <input style="border-top: none;border-left: none;border-right: none; padding:0; border-spacing: 0; margin:0;float:right;width: 100% !important;text-align: right;"
                            type="number" placeholder="Column {{page2.size*page2.pageNumber+row.$$index}} Desc" [ngClass]="'form-control fm-txt'" name="subAccrual{{page2.size*page2.pageNumber+row.$$index}}"
                            [(ngModel)]="model1.subItems[page2.size*page2.pageNumber+row.$$index].accrualSetupId" #subAccrual="ngModel" required /> 
                        </ng-template>

                      </ngx-datatable-column>

                      <!-- Data Grid Accrual Description -->
                      <ngx-datatable-column name="description" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                          <span (click)="sort('description')">{{defaultFormValues[17]['fieldValue']}}</span>
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                          {{value}}
                        </ng-template>
                      </ngx-datatable-column>

                      <!-- Data Grid Accrual By -->
                      <ngx-datatable-column name="accrualTypeId" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                          <span (click)="sort('accrualTypeId')">{{defaultFormValues[18]['fieldValue']}}</span>
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                          {{value}}
                        </ng-template>
                      </ngx-datatable-column>

                      <!-- Data Grid Amount -->
                      <ngx-datatable-column name="hours" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                          <span (click)="sort('hours')">{{defaultFormValues[19]['fieldValue']}}</span>
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                          {{value}}
                        </ng-template>
                      </ngx-datatable-column>

                      <!-- <ng-template #roleTemplate let-row="model2" let-value="value" let-i="index">
                        <strong> *{{ value }}* </strong>
                      </ng-template> -->

                    </ngx-datatable>
                  </div>
                  <!-- Data Grid Ends-->
                </div>

                <div class="button-row">
                  <!-- Table View Starts -->
                  <div class="table-view">
                    <span>TABLE VIEW</span>
                    <div class="select-outer">
                      <select class="form-control" (change)="changePageSize2($event)" name="ddPageSize2" [(ngModel)]="ddPageSize2" #accrualId2="ngModel">
                        <option value="5">5 at a time </option>
                        <option value="15">15 at a time </option>
                        <option value="50">50 at a time </option>
                        <option value="100">100 at a time </option>
                      </select>
                    </div>
                  </div>
                  <!-- Table View Ends -->

                  <div class="bottom-view">
                  </div>
                  <button type="button" class="blue-btn" (click)="varifyDelete2()">{{defaultFormValues[20]['fieldValue']}}</button>
                  <!-- <button type="button" class="blue-btn" (click)="addRow2()">Add new row</button> -->
                </div>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model1.id" [ngClass]="'grey-btn'">{{defaultFormValues[12]['fieldValue']}}</button>
                      <button *ngIf="!model1.id" [ngClass]="'grey-btn'">{{defaultFormValues[9]['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[10]['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[11]['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
        <!-- Create Update form ends -->
      </div>


    </section>
  </section>

</div>