<!--header-->
<router-outlet name="header">
</router-outlet>
<div class="wrapper">
  <!--sidebar-->
  <router-outlet name="sidebar">
  </router-outlet>
  <!--alert component-->
  <alert></alert>
  <!--content-->
  <router-outlet>
  </router-outlet>
  
</div>
<app-footer></app-footer>

