<div class="content-wrapper user-view" >
    <section class="content">
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div><!-- section Heading Ends -->
        <section class="inner-content">
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <div class="row">
                    <form (ngSubmit)="!hasMsg && f.form.valid" #f="ngForm" novalidate>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-row" *ngIf="defaultAddFormValues[0]['readAccess']">
                                    <div class="label-outer">
                                        <label>{{defaultAddFormValues[0]['fieldValue']}}</label>
                                    </div>
                                    <div class="value-outer">
                                        <div  [ngClass]="{ 'has-error': f.submitted && activeCustomer[0].id == '0','col-md-12 col-sm-12 col-xs-12 padding0':true }">
                                            <ng-select [allowClear]="false"
                                            [active]="activeCustomer"
                                            [items]="arrCustomer"
                                            [disabled]="false"
                                            (data)="bindSelectedItem($event,'Customer')"
                                            title="{{defaultAddFormValues[0]['helpMessage']}}">
                                        </ng-select>
                                    </div>  
                                    <div *ngIf="f.submitted && activeCustomer[0].id == '0'">
                                        <div class='error-msg'>
                                            {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>
                                    
                                </div><!-- Value outer ENds -->
                            </div><!-- Form Row Ends -->
                        </div>
                        
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            
                        </div>
                    </div><!-- Form Row Ends -->
                    
                    
                    <div class="form-row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            
                            <div class="form-row" *ngIf="defaultAddFormValues[1]['readAccess']">
                                <div class="label-outer">
                                    <label>{{defaultAddFormValues[1]['fieldValue']}}</label>
                                </div>
                                <div class="value-outer">
                                    <input type="text" class="form-control fm-txt"  name="customerName"  [(ngModel)]="customerName" disabled >
                                </div><!-- Value outer ENds -->
                            </div><!-- Form Row Ends -->
                        </div>
                        
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-row" *ngIf="defaultAddFormValues[6]['readAccess']">
                                <div class="label-outer">
                                    <label>{{defaultAddFormValues[6]['fieldValue']}}</label>
                                </div>
                                <div class="value-outer">
                                    <input type="text" class="form-control fm-txt" name="functionalAmount" [(ngModel)]="ModelApplyTransaction.functionalAmount" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    disabled>
                                </div><!-- Value outer ENds -->
                            </div><!-- Form Row Ends -->
                        </div>
                    </div><!-- Form Row Ends -->
                    
                    <div class="form-row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            
                            <div class="form-row" *ngIf="defaultAddFormValues[2]['readAccess']">
                                <div class="label-outer">
                                    <label>{{defaultAddFormValues[2]['fieldValue']}}</label>
                                </div>
                                
                                <div class="value-outer"  [ngClass]="{ 'has-error': f.submitted && documentType == '','':true }">
                                    <select [ngClass]="'form-control'" name="documentType" [(ngModel)]="documentType" (change)="GetDocumentNumberByCustomerAndDocType($event)"
                                    title="{{defaultAddFormValues[2]['helpMessage']}}"
                                    required>
                                    <option *ngFor="let type of arrDocumentType" [value]="type.typeId">
                                        {{type.name}}
                                    </option>
                                </select>
                                <div *ngIf="f.submitted && documentType == ''">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                                
                            </div><!-- Value outer ENds -->
                        </div><!-- Form Row Ends -->
                    </div>
                    
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-row" *ngIf="defaultAddFormValues[7]['readAccess']">
                            <div class="label-outer">
                                <label>{{defaultAddFormValues[7]['fieldValue']}}</label>
                            </div>
                            <div class="value-outer">
                                <input type="text" class="form-control fm-txt" name="originalAmount" [(ngModel)]="ModelApplyTransaction.originalAmount" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"  disabled>
                            </div><!-- Value outer ENds -->
                        </div><!-- Form Row Ends -->
                    </div>
                </div><!-- Form Row Ends -->
                
                <div class="form-row" *ngIf="defaultAddFormValues[3]['readAccess']">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-row">
                            <div class="label-outer">
                                <label>{{defaultAddFormValues[3]['fieldValue']}}</label>
                            </div>
                            
                            <div class="value-outer"  [ngClass]="{ 'has-error': f.submitted && activePaymentNumber[0].id == '0','':true }">
                                <ng-select [allowClear]="false"
                                [active]="activePaymentNumber"
                                [items]="arrPaymentNumber"
                                [disabled]="false"
                                (data)="bindSelectedItem($event,'PaymentNumber')"
                                title="{{defaultAddFormValues[3]['helpMessage']}}">
                            </ng-select>
                            
                            
                            
                        </div><!-- Value outer ENds -->
                        <div *ngIf="f.submitted && activePaymentNumber[0].id == '0'">
                            <div class='error-msg'>
                                {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                        </div>  
                    </div><!-- Form Row Ends -->
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12">
                    
                </div>
            </div><!-- Form Row Ends -->
            
            <div class="form-row">
                <div class="col-md-6 col-sm-6 col-xs-12 dob-row dob--inner">
                    
                    <div class="form-row" *ngIf="defaultAddFormValues[4]['readAccess']">
                        <div class="label-outer">
                            <label>{{defaultAddFormValues[4]['fieldValue']}}</label>
                        </div>
                        <div class="value-outer"  [ngClass]="{ 'has-error': f.submitted && ModelApplyTransaction.applyDate == '','':true }">
                            <input  readonly type="text" class="fm-txt form-control" title="{{defaultAddFormValues[4]['helpMessage']}}"
                            name="applyDate" [(ngModel)]="ModelApplyTransaction.applyDate" ngx-mydatepicker [options]="myOptions"
                            #dp1="ngx-mydatepicker"  required/>
                            <span class="input-group-btn db--date">
                                <button type="button" class="btn btn-default" (click)="clearApplyDate()">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                                <button [disabled]="!defaultAddFormValues[4]['writeAccess']" type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            
                        </div><!-- Value outer ENds -->
                        <div *ngIf="f.submitted && ModelApplyTransaction.applyDate == ''">
                            <div class='error-msg'>
                                {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                        </div>
                    </div><!-- Form Row Ends -->
                </div>
                
                <div class="col-md-6 col-sm-6 col-xs-12">
                    
                </div>
            </div><!-- Form Row Ends -->
            
            <div class="form-row">
                <div class="col-md-6 col-sm-6 col-xs-12 dob-row dob--inner">
                    
                    <div class="form-row" *ngIf="defaultAddFormValues[5]['readAccess']">
                        <div class="label-outer">
                            <label>{{defaultAddFormValues[5]['fieldValue']}}</label>
                        </div>
                        
                        <div class="value-outer"  [ngClass]="{ 'has-error': f.submitted && ModelApplyTransaction.postingDate == '','':true }">
                            <input  readonly type="text" class="fm-txt form-control" title="{{defaultAddFormValues[5]['helpMessage']}}"
                            name="postingDate" [(ngModel)]="ModelApplyTransaction.postingDate" ngx-mydatepicker [options]="myOptions"
                            #dp2="ngx-mydatepicker"   required/>
                            <span class="input-group-btn db--date">
                                <button type="button" class="btn btn-default" (click)="clearPostingDate()">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                                <button [disabled]="!defaultAddFormValues[4]['writeAccess']" type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div><!-- Value outer ENds -->
                        <div *ngIf="f.submitted && ModelApplyTransaction.postingDate ==''">
                            <div class='error-msg'>
                                {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                        </div>
                        
                    </div><!-- Form Row Ends -->
                </div>
                
                
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-row text-right">
                        <button class="blue-btn" title="{{defaultAddFormValues[8]['helpMessage']}}" (click)="GetOpenTransactionsByPostingDate(f)" >
                            {{defaultAddFormValues[8]['fieldValue']}}</button>
                        </div><!-- Form Row Ends -->
                    </div>
                </div><!-- Form Row Ends -->
                <div class="form-row">
                    <div class="col-xs-12">
                        <div class="algo-table">
                            <!-- transactionOriginalAmount = {{transactionOriginalAmount}}
                                <pre>
                                    {{tempOpenTransactionsList | json}}
                                </pre> -->
                                <!-- <pre>{{tempOpenTransactionsList | json}}</pre> -->
                                <div class="table-responsive">          
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>{{defaultAddFormValues[9]['fieldValue']}}</th>
                                                <th width="10%">{{defaultAddFormValues[10]['fieldValue']}}</th>
                                                <th width="20%">{{defaultAddFormValues[11]['fieldValue']}}</th>
                                                <th width="10%">{{defaultAddFormValues[12]['fieldValue']}}</th>
                                                <th width="20%">{{defaultAddFormValues[13]['fieldValue']}}</th>
                                                <th width="20%">{{defaultAddFormValues[14]['fieldValue']}}</th>
                                                <th width="20%">{{defaultAddFormValues[15]['fieldValue']}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let arr of ModelApplyTransaction.arYTDOpenTransactionsList;let i = index">
                                                <td><input type="checkbox" (change)="updateTransactionStatus($event,i)" /></td>
                                                <td>{{arr.arTransactionType}}</td>
                                                <td>{{arr.arTransactionNumber}}</td>
                                                <td>{{arr.dueDate}}</td>
                                                <td><span id="lblremainingAmount_{{i}}">{{arr.remainingAmount}}</span></td>
                                                <td>{{arr.arTransactionTotalAmount}}</td>
                                                <td>
                                                    <input type="text" value="{{arr.applyAmount}}" maxlength="14" id="applyAmount_{{i}}" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"  class="form-control" disabled *ngIf="arr.remainingAmount == 0"
                                                    (blur)="CalculateAmount(i,this)">
                                                    <input type="text" value="{{arr.applyAmount}}" maxlength="14" id="applyAmount_{{i}}" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"  class="form-control"   *ngIf="arr.remainingAmount != 0"
                                                    [readonly]="ModelApplyTransaction.originalAmount ==''" (blur)="CalculateAmount(i,this)">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- Algo Table Ends -->
                        </div>
                    </div><!-- Form Row ENds -->
                    
                    
                    <div class="form-row"  *ngIf="!isScreenLock">
                        <div class="button-row">
                            <div class="col-sm-12">
                                <button class="blue-btn"  [disabled]="!applyTxnIndex.length > 0" (click)="ApplyTransaction(f)" title="{{defaultAddFormValues[16]['helpMessage']}}">{{defaultAddFormValues[16]['fieldValue']}}</button>
                                <button class="blue-btn" [disabled]="!applyTxnIndex.length > 0" title="{{defaultAddFormValues[17]['helpMessage']}}" (click)="UnApplyTransaction(f)" >{{defaultAddFormValues[17]['fieldValue']}}</button>
                                <button class="orange-btn" title="{{defaultAddFormValues[18]['helpMessage']}}" routerLink="/dashboard">{{defaultAddFormValues[18]['fieldValue']}}</button>
                            </div>
                        </div><!-- Buton Row Ends -->
                    </div><!-- Form Row Ends -->
                </form>
                
            </div>
        </div><!-- Form Row Ends -->
    </section>  
</section>  



</div><!-- Content OUter Ends -->