<div class="content-wrapper user-view" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                         {{messageText}}
                      </div>
                      
                    <div class="content-outer com-form">
                      <div class="row">
                       <form (ngSubmit)="!hasMsg && f.form.valid && saveCalenderQuarterSetup(f)" #f="ngForm" novalidate> 
                            <div class="form-row" >
                                   <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !calendarId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="calendarId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                             <input type="text" class="form-control fm-txt auto-focus" myAutofocus name="structureId" [(ngModel)]="model.calendarId" 		
                                        #calendarId="ngModel"  [readonly]="calenderIdShow "		
                                        title="{{defaultAddFormValues[0]['helpMessage']}}"		
                                         required/>
                             <div *ngIf="f.submitted && calendarId.invalid">
                                    <div class='error-msg' *ngIf="calendarId.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                               <div class="form-row">
                        <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !calendarDescription.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
                         
                           <label for="calendarDescription">{{defaultAddFormValues[1]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="calendarDescription" [(ngModel)]="model.calendarDescription" 		
                                        #calendarDescription="ngModel" 		
                                        title="{{defaultAddFormValues[1]['helpMessage']}}"		
                                        maxlength="31"  [readonly]="!defaultAddFormValues[1]['writeAccess']" required/>
                             <div *ngIf="f.submitted && calendarDescription.invalid">
                                    <div class='error-msg' *ngIf="calendarDescription.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="calendarDescription.errors.maxlength">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                                <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !calendarDescriptionArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                            <label for="calendarDescriptionArabic">{{defaultAddFormValues[2]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="calendarDescriptionArabic" [(ngModel)]="model.calendarDescriptionArabic" 		
                                        #calendarDescriptionArabic="ngModel" 		
                                        title="{{defaultAddFormValues[2]['helpMessage']}}"		
                                        maxlength="61"  [readonly]="!defaultAddFormValues[2]['writeAccess']" required/>
                             <div *ngIf="f.submitted && calendarDescriptionArabic.invalid">
                                    <div class='error-msg' *ngIf="calendarDescriptionArabic.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="calendarDescriptionArabic.errors.maxlength">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
     
                        </div>
                           <div class="form-row">
                        
                           <div class="col-xs-12">
                         

                      <div class="button-row text-left">
                        <div class="table-view" *ngIf="defaultAddFormValues[3]['readAccess']">
                          <span>{{defaultAddFormValues[3]['fieldValue']}}</span>
                          <div class="select-outer">
                                 <select class=  "form-control auto-focus" id="ddlYear" name="year1" [(ngModel)]="model.year1" 		
                                                title="{{defaultAddFormValues[3]['helpMessage']}}"  (change)="getQuarterDetail($event)"   
                                                #year1="ngModel" [ngModelOptions]="{standalone: true}" required>
                                              <option *ngFor="let arryear of arrYears">
                                                    {{arryear.year}}
                                                  </option>  
                                            </select>
                            </div>  
                              
                             <!-- <div *ngIf="f.submitted && year1 != ''">
                                    <div class='error-msg' >
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                  
                                </div>  -->
                        </div><!-- Table View Ends -->

                          
                        </div>

                            <div class="algo-table"  *ngIf="showCalander">
                              <div class="table-responsive">          
                                <table class="table">
                                  <thead>
                                    <tr> 
                                      <th width="10%">{{defaultAddFormValues[4]['fieldValue']}}</th>
                                      <th width="35%">{{defaultAddFormValues[5]['fieldValue']}}</th>
                                      <th width="35%">{{defaultAddFormValues[7]['fieldValue']}}</th>
                                       <th width="15%">{{defaultAddFormValues[6]['fieldValue']}}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  
                                  
                                     <tr  *ngFor="let calendar of model.quarterCalendar">
                           <td>
                               
                              {{calendar.quarterIndex}}
                               <span *ngIf="calendar.quarterIndex == 1">
                                 <sup>{{firstQuarter}}</sup> &nbsp;   {{quarter}}
                               </span>
                               <span *ngIf="calendar.quarterIndex == 2">
                               <sup>{{secondQuarter}}</sup>  &nbsp;   {{quarter}}
                               </span>
                               <span *ngIf="calendar.quarterIndex == 3">
                                 <sup>{{thirdQuarter}}</sup>  &nbsp; {{quarter}}
                               </span>
                               <span *ngIf="calendar.quarterIndex == 4">
                                  <sup>{{forthQuarter}}</sup> &nbsp; {{quarter}}
                               </span>
                           </td>
                           <td>
                              {{calendar.startDate}}
                           </td>
                           <td>
                               <span *ngIf="calendar.quarterIndex == 4">{{calendar.endDate}}</span>
                                 <input id="txtEndDate{{calendar.quarterIndex}}" type="text" placeholder="DD/MM/YYYY"  value="{{calendar.endDate}}" (blur)="validateDate(calendar.quarterIndex)"
                                 class="dotterTextBox" *ngIf="calendar.quarterIndex != 4">
                           </td>
                           <td>
                               {{calendar.midDate}}
                           </td>
                       </tr>
                                  </tbody>
                                </table>
                                </div>
                              </div><!-- Algo Table Ends -->
                        </div>
                        </div><!-- Form Row Ends -->
                         <div class="button-row">
                      <div class="col-sm-12">
                        <input type="submit" [disabled]="LockScreen(defaultAddFormValues[8]['writeAccess'])"
                         class="orange-btn" title="{{defaultAddFormValues[8]['helpMessage']}}" value="{{defaultAddFormValues[8]['fieldValue']}}">
                          <input type="button" class="blue-btn" title="{{defaultAddFormValues[9]['helpMessage']}}" (click)=" this.showCalander=false;resetForm(f);this.model.calendarId=''" value="{{defaultAddFormValues[9]['fieldValue']}}"/>
                        
                        </div>

                        </div>
</form>
                     
                      
                      </div> 
                      <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                  </section>
                </section>
             <!--<pre>{{model.quarterCalendar | json}}</pre>-->
            </div>
