<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="create(f)" title="{{CREATE['helpMessage']}}">{{CREATE['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <!--<div *ngIf="hasMessage" style="margin-bottom:10px;color:red;">
                            {{message.text}}
                        </div>-->
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{SEARCH['helpMessage']}}" placeholder="{{SEARCH['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                </div>
                <!-- Content Heading Ends -->
                <div class="algo-table">

                    <!-- Data Grid checkbox -->
                    <ngx-datatable-column [width]="5" [sortable]="false" [canAutoResize]="true" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                        [checkboxable]="true">
                    </ngx-datatable-column>

                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="DivisionGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <!-- Data Grid TRAINING_ID -->
                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">
                                    <ngx-datatable-column *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) " name="{{grid.fieldName}}" width="{{grid.fieldWidth}}"
                                        [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure" [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div [draggable]="isConfigure" (dragstart)="commonService.drag($event,0,i,grid.colOrder)" (drop)="commonService.drop($event,0,i,grid.colOrder)"
                                                (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                </div>
                            </div>
                            <!-- <ngx-datatable-column name="trainingClass" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('trainingClass.classId')">{{CLASS_ID['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.classId}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="trainingClass" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('trainingClass.className')">{{CLASS_DESCRIPTION['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.className}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="trainingCourse" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('trainingCourse.traningId')">{{TRAINING_ID['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.traningId}}
                                </ng-template>
                            </ngx-datatable-column>
                            
                            <ngx-datatable-column name="trainingCourse" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('trainingCourse.desc')">{{TRAINING_DESCRIPTION['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.desc}}
                                </ng-template>
                            </ngx-datatable-column>
                            
                            <ngx-datatable-column name="skillSetSetup" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('skillSetSetup.skillSetDiscription')">{{SKILL_DESCRIPTION['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.skillSetDiscription}}
                                </ng-template>
                            </ngx-datatable-column>
                            
                            <ngx-datatable-column name="skillSetSetup" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('skillSetSetup.skillSetId')">{{SKILL_SET_ID['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.skillSetId}}
                                </ng-template>
                            </ngx-datatable-column> -->

                            <!-- Data Column Action -->
                            <ngx-datatable-column name="Action" [width]="80" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view table-view-fix">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>
                    <button class="blue-btn" (click)="varifyDelete()">{{DELETE['fieldValue']}}</button>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model.id">{{CREATE['fieldValue']}} {{moduleName}}</h3>
                            <h3 *ngIf="model.id">{{UPDATE['fieldValue']}} {{moduleName}}</h3>
                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>
                        <form class="form-horizontal" (ngSubmit)="f.form.valid && trainingCourse.value!=0 && trainingClass.value!=0 && CreateClassSkill(f, $event)"
                            #f="ngForm" novalidate>



                            <!-- trainingCourse Id -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && trainingCourse.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="trainingCourse">{{TRAINING_ID['fieldValue']}}</label>
                                        <span *ngIf="TRAINING_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="trainingCourse" [(ngModel)]="model.trainingCourse.id"
                                            #trainingCourse="ngModel" title="{{TRAINING_ID['fieldValue']}}" [required]="TRAINING_ID['isMandatory']" (change)="changeTrainingCourses($event)">
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option *ngFor="let course of AllTraningCourseId" value="{{course.id}}" [selected]="course.id == model.trainingCourse.id">{{course.traningId}}</option>
                                        </select>
                                        <div *ngIf="f.submitted && trainingCourse.value==0">
                                            <div [hidden]="!trainingCourse.value==0">
                                                {{TRAINING_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- trainingClass Id -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && trainingClass.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="trainingClass">{{CLASS_ID['fieldValue']}}</label>
                                        <span *ngIf="CLASS_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="trainingClass" [(ngModel)]="model.trainingClass.id"
                                            #trainingClass="ngModel" title="{{CLASS_ID['fieldValue']}}" [required]="CLASS_ID['isMandatory']" >
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option *ngFor="let class of AllTrainingClass" value="{{class.id}}" [selected]="class.id == model.trainingClass.id">{{class.className}}</option>
                                        </select>
                                        <div *ngIf="f.submitted && trainingClass.value==0">
                                            <div [hidden]="!trainingClass.value==0">
                                                {{CLASS_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- skillSetSetup Id -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && skillSetSetup.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="skillSetSetup">{{SKILL_SET_ID['fieldValue']}}</label>
                                        <span *ngIf="SKILL_SET_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="skillSetSetup" [(ngModel)]="model.skillSetSetup.id"
                                            #skillSetSetup="ngModel" title="{{SKILL_SET_ID['fieldValue']}}" [required]="SKILL_SET_ID['isMandatory']" (change)="changeSkillSetup($event)">
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option *ngFor="let employee of AllSkillSetSetup" value="{{employee.id}}" [selected]="employee.id == model?.skillSetSetup?.id">{{employee?.skillSetId}}</option>
                                        </select>
                                        <div *ngIf="f.submitted && skillSetSetup.value==0">
                                            <div [hidden]="!skillSetSetup.value==0">
                                                {{SKILL_SET_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-md-12">
                                <div class="col-md-5">
                                    <div class="algo-table">
                                        <div class="table-responsive">
                                            <ngx-datatable id="TrainingCourseGrid1" class="material" [rows]="AllSkillSet" [columnMode]="'force'" [headerHeight]="50"
                                                [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false" [selected]="selectedAllSkillSet"
                                                [selectionType]="'checkbox'" (select)='onSelectAllSkillSet($event)' [scrollbarH]="true" size="20">

                                                <!-- Data Grid checkbox -->
                                                <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                                    [checkboxable]="true">
                                                </ngx-datatable-column>

                                                <!-- Data Grid skillSetId -->
                                                <ngx-datatable-column name="skillDesc" [sortable]="true" [width]="300" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        <span (click)="sortColumn('skillDesc')">{{SKILL_DESCRIPTION['fieldValue']}}</span>
                                                    </ng-template>
                                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                                        {{value}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="height: 100%; text-align: center;margin-top:50px;">
                                    <button type="button" (click)="moveToSelected()" style="font-size: 25px;margin: 2px;">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </button>
                                    <div class="clearfix"></div>
                                    <button type="button" (click)="moveToAllEmployee()" style="font-size: 25px;margin: 2px;">
                                        <i class="fa fa-long-arrow-left"></i>
                                    </button>
                                </div>
                                <div class="col-md-5">
                                    <div class="algo-table">
                                        <div class="table-responsive">
                                            <ngx-datatable id="TrainingCourseGrid1" class="material" [rows]="SelectedSkillSets" [columnMode]="'force'" [headerHeight]="50"
                                                [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false" [selected]="selSkillSets"
                                                [selectionType]="'checkbox'" (select)='onSelectSkillSets($event)' [scrollbarH]="true">

                                                <!-- Data Grid checkbox -->
                                                <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                                    [checkboxable]="true">
                                                </ngx-datatable-column>

                                                <!-- Data Grid skillSetId -->
                                                <ngx-datatable-column name="skillDesc" [sortable]="true" [width]="300" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        <span (click)="sortColumn('skillDesc')">{{SKILLS_IN_CLASS['fieldValue']}}</span>
                                                    </ng-template>
                                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                                        {{value}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                        </div>
                                    </div>


                                </div>



                            </div>

                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">

                                            <button [ngClass]="'grey-btn'" *ngIf="!model.id">{{SAVE['fieldValue']}}</button>
                                            <button [ngClass]="'grey-btn'" *ngIf="model.id">{{UPDATE['fieldValue']}}</button>
                                            <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{CLEAR['fieldValue']}}</button>
                                             <button [ngClass]="'blue-btn'" (click)="showCreateForm = false">{{CANCEL['fieldValue']}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Create / Update Form Ends -->
                </div>
            </div>
        </section>
    </section>
</div>
