<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>

    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>

        </div>

      </div>

      <form class="form-horizontal" (ngSubmit)="f.form.valid && CreateAttendanceSetup(f, $event)" #f="ngForm" novalidate>
         <div [ngClass]="'row'">
        <div class="col-md-6" >
           <div>Accrual Type</div>
           <fieldset class="fieldsetclass"  style="border-radius: 0px;">
             <div [ngClass]="'form-row cust-bottom row'">
               <div [ngClass]="{'has-error': f.submitted && !accrueType.valid,'col-md-offset-4': currentLanguage == 2}">
                 <div class="col-md-4" >
                   <label class="attendancelabel" style="padding: 10px;" for="accrualType">{{defaultFormValues[2]['fieldValue']}}</label>
                 </div>
                   <div class="col-md-8" >
                       <input type="radio"  name="accrueType" value="1"
                              title="{{defaultFormValues[2]['helpMessage']}}"  [(ngModel)]="model.accrueType" #accrueType="ngModel" required [checked]="true" (click)="hideShowDiv($event)"/> Human Resources <br>
                       <input type="radio"   value="2" name="accrueType"
                              title="{{defaultFormValues[2]['helpMessage']}}" [(ngModel)]="model.accrueType" #accrueType="ngModel"  required (click)="hideShowDiv($event)"/> Payroll
                       <div *ngIf="f.submitted && accrueType.invalid">
                           <div [hidden]="!accrueType.errors.required">
                               {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                           </div>

                       </div>

                   </div>

               </div>
               </div>

             <div *ngIf="showDiv">
             <div [ngClass]="'form-row cust-bottom row'">
               <div [ngClass]="{'has-error': f.submitted && !attendance.valid,'col-md-offset-4': currentLanguage == 2}">
                 <div class="col-md-2"></div>
                 <div class="col-md-2">
                   <input type="checkbox" name="attendance"  [(ngModel)]="model.attendance" #attendance="ngModel"
                          title="{{defaultFormValues[0]['helpMessage']}}"   [checked]="isSelected" />
                 </div>
                 <div class="col-md-8">
                   {{defaultFormValues[3]['fieldValue']}}
                 </div>

               </div>
             </div>

             <div [ngClass]="'form-row cust-bottom row'">
               <div [ngClass]="{'has-error': f.submitted && !currentyear.valid,'col-md-offset-4': currentLanguage == 2}">
                 <div class="col-md-4">
                   <label class="attendancelabel" style="padding: 10px;" for="currentYear">{{defaultFormValues[4]['fieldValue']}}</label>
                 </div>
                   <div class="col-md-8">
                     <input type="text" [pattern]="pattern"  [ngClass]="'form-control fm-txt'" name="currentyear" [(ngModel)]="model.currentyear" #currentyear="ngModel"
                            title="{{defaultFormValues[4]['helpMessage']}}" required maxlength="4" (keypress)="keyPress($event)" />

                     <div *ngIf="f.submitted && currentyear.invalid">
                       <div [hidden]="!currentyear.errors.required">
                         {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                       </div>

                       <div [hidden]="!(currentyear.dirty && currentyear.value.length!=0)">
                         Invalid Current Year
                       </div>
                       <!--<div [hidden]="!currentyear.errors?.maxlength">
                         {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                       </div>-->
                     </div>
                   </div>

               </div>
             </div>



             <div [ngClass]="'form-row cust-bottom row'">
               <div [ngClass]="{'has-error': f.submitted && !latDayAcuurate.valid,'col-md-offset-4': currentLanguage == 2}">
                 <div class="col-md-4">
                   <label class="attendancelabel" style="padding: 10px;" for="lastDayAccrued">{{defaultFormValues[5]['fieldValue']}}</label>
                 </div>
                 <div class="col-md-8">
                   <div class="input-group">
                     <input [ngClass]="'form-control fm-txt'" style="float:none;" placeholder="Select a date" ngx-mydatepicker name="latDayAcuurate"
                            [(ngModel)]="startDateModel" [options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onEndDateChanged($event)"
                            #latDayAcuurate="ngModel" required readonly/>

                     <span class="input-group-btn">
                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                   </div>

                   <div *ngIf="f.submitted && latDayAcuurate.invalid">
                     <div [hidden]="!latDayAcuurate.errors.required">
                       {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                     </div>	
                     <!--<div [hidden]="!latDayAcuurate.errors?.maxlength">
                       {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                     </div>-->
                   </div>
                 </div>

               </div>
             </div>
              </div>
           </fieldset>
        </div>




           <div class="col-md-6 ">
             <div>Transaction Information</div>
             <fieldset class="fieldsetclass" style="border-radius: 0px;">

               <div [ngClass]="'form-row cust-bottom row'">
                 <div [ngClass]="{'has-error': f.submitted && !numberOfDayInWeek.valid,'col-md-offset-4': currentLanguage == 2}">
                   <div class="col-md-5">
                     <label class="attendancelabel " style="padding: 10px;" for="numofDaysinweek">{{defaultFormValues[6]['fieldValue']}}</label>
                   </div>
                   <div class="col-md-7">
                     <input type="text" [pattern]="pattern" [ngClass]="'form-control fm-txt'" name="numberOfDayInWeek" [(ngModel)]="model.numberOfDayInWeek" #numberOfDayInWeek="ngModel"
                            title="{{defaultFormValues[6]['helpMessage']}}" required maxlength="1" (keypress)="keyPress($event)" />

                     <div *ngIf="f.submitted && numberOfDayInWeek.invalid">
                       <div [hidden]="!numberOfDayInWeek.errors.required">
                         {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                       </div>

                       <div [hidden]="numberOfDayInWeek.errors.required && !(numberOfDayInWeek.dirty && numberOfDayInWeek.value.length!=0)">
                         Invalid Number of Days in week
                       </div>

                       <!--<div [hidden]="!numberOfDayInWeek.errors?.maxlength">
                         {{defaultFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                       </div>-->
                     </div>

                   </div>

                 </div>
               </div>

               <div [ngClass]="'form-row cust-bottom row'">
                 <div [ngClass]="{'has-error': (f.submitted && !numberOfHourInDay.valid) || errorhours,'col-md-offset-4': currentLanguage == 2}">
                   <div class="col-md-5">
                     <label class="attendancelabel" style="padding: 10px;" for="currentYear">{{defaultFormValues[7]['fieldValue']}}</label>
                   </div>
                   <div class="col-md-7">
                     <input type="text" [pattern]="pattern"  [ngClass]="'form-control fm-txt'" (keyup)="calculateDays($event)"  name="numberOfHourInDay" [(ngModel)]="model.numberOfHourInDay" #numberOfHourInDay="ngModel"
                            title="{{defaultFormValues[7]['helpMessage']}}" required maxlength="4" (keypress)="keyPress($event)" />

                     <div *ngIf="(f.submitted && !numberOfHourInDay.valid) || errorhours">
                       <div [hidden]="!numberOfHourInDay.errors?.required">
                         {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
						 
                       </div>
                       <div [hidden]="!numberOfHourInDay.valid && numberOfHourInDay.errors?.required && (numberOfHourInDay.value == null || (numberOfHourInDay.value != null && numberOfHourInDay.value.length==0))">
                         Invalid Number of hours in day
                       </div>
                       <div *ngIf="errorhours">
                        {{errorhoursMsg}}
                      </div>

                       <!--<div [hidden]="!numberOfHourInDay.errors?.maxlength">
                         {{defaultFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                       </div>-->
                     </div>
                   </div>

                 </div>
               </div>


               <div [ngClass]="'form-row cust-bottom row'">
                 <div [ngClass]="{'has-error': f.submitted && !nextTranscationNum.valid,'col-md-offset-4': currentLanguage == 2}">
                   <div class="col-md-5">
                     <label class="attendancelabel " style="padding: 10px;" for="currentYear">{{defaultFormValues[8]['fieldValue']}}</label>
                   </div>
                   <div class="col-md-7">
                     <input type="text" [pattern]="pattern" [ngClass]="'form-control fm-txt'" name="nextTranscationNum" [(ngModel)]="model.nextTranscationNum" #nextTranscationNum="ngModel"
                            title="{{defaultFormValues[8]['helpMessage']}}" required maxlength="7"  (keypress)="keyPress($event)"/>

                     <div *ngIf="f.submitted && nextTranscationNum.invalid">
                       <div [hidden]="!nextTranscationNum.errors.required">
                         {{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                       </div>

                       <div *ngIf="!nextTranscationNum.errors.required && nextTranscationNum.dirty && nextTranscationNum.value.length!=0">
                         Invalid Next Transaction Number
                       </div>
                       <!--<div [hidden]="!nextTranscationNum.errors?.maxlength">
                         {{defaultFormValues[8]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                       </div>-->
                     </div>
                   </div>

                 </div>
               </div>



             </fieldset>

           </div>
         </div>
        <div [ngClass]="'row'">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-12 com-form">
            <div [ngClass]="'button-row'">
              <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                        <button [ngClass]="'blue-btn'"  [routerLink]="['/hcm/attendanceSetupOptions']">Options</button>
                        <button  [ngClass]="'grey-btn'">Save</button>
                        <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">Clear</button>

                    </span>
                </div>
              </div>
            </div>

          </div>

        </div>
      </form>
      <br>
      <br>
      <br>
      <br>



    </section>
  </section>
</div>