<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{MISCELLANEOUS_BENEFITS_CREATE_LABEL['fieldValue']}}">{{MISCELLANEOUS_BENEFITS_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{MISCELLANEOUS_BENEFITS_SEARCH['helpMessage']}}" placeholder="{{MISCELLANEOUS_BENEFITS_SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="MiscellaneousBenefitsGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
              [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'
              [scrollbarH]="true">
              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid BenefitsId -->
              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">
                    <ngx-datatable-column *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) " name="{{grid.fieldName}}" width="{{grid.fieldWidth}}"
                        [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure" [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div [draggable]="isConfigure" (dragstart)="commonService.drag($event,0,i,grid.colOrder)" (drop)="commonService.drop($event,0,i,grid.colOrder)"
                                (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                        </ng-template>
                    </ngx-datatable-column>
                </div>
              </div>

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{MISCELLANEOUS_BENEFITS_ACTION_LABEL['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{MISCELLANEOUS_BENEFITS_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>

            </div>
            <div class="col-md-12 mb-30" style="margin-left: 12px">
              <h3 *ngIf="!model.id">{{MISCELLANEOUS_BENEFITS_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{MISCELLANEOUS_BENEFITS_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && !error.isError && frequency.value!=0 && method.value!=0 && empluyeeermethod.value!=0 && dudctionAmountPattern && monthlyAmountPattern && yearlyAmountPattern && lifetimeAmountPattern && benefitAmountPattern && employermonthlyAmountPattern && employeryearlyAmountPattern && employerlifetimeAmountPattern && CreateMiscellaneousBenefits(f, $event)"
              #f="ngForm" novalidate>
            <div class="row">
              <!-- BenefitsId field -->
              <div class="col-md-12">
                <div class="form-group">
                  <div *ngIf="isUnderUpdate; then update else create"></div>
                  <ng-template #update>
                    <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                      <div class="col-md-4">
                        <label class="control-label" for="benefitsId">{{MISCELLANEOUS_BENEFITS_ID['fieldValue']}}</label>
                        <span *ngIf="MISCELLANEOUS_BENEFITS_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="benefitsId" value="{{tempemployeeId}}" title="{{MISCELLANEOUS_BENEFITS_ID['helpMessage']}}"
                        [readonly]="!MISCELLANEOUS_BENEFITS_ID['writeAccess']" [required]="MISCELLANEOUS_BENEFITS_ID['isMandatory']" />
                        <div *ngIf="f.submitted && benefitsId.invalid">
                          <div [hidden]="!benefitsId.errors?.required">
                            {{MISCELLANEOUS_BENEFITS_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!benefitsId.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_ID['listDtoFieldValidationMessage'][1]">
                            {{MISCELLANEOUS_BENEFITS_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #create>
                    <div [ngClass]="{ 'has-error': f.submitted && !employeeId.valid || !isEmployeeIdExist,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                      <div class="col-md-4">
                        <label class="control-label" for="benefitsId">{{MISCELLANEOUS_BENEFITS_ID['fieldValue']}}</label>
                        <span *ngIf="MISCELLANEOUS_BENEFITS_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">

                        <input type="text" [ngClass]="'form-control fm-txt'" name="employeeMaster" [(ngModel)]="employeeMaster['employeeId']" #employeeId="ngModel"
                          title="{{MISCELLANEOUS_BENEFITS_ID['helpMessage']}}" [required]="MISCELLANEOUS_BENEFITS_ID['isMandatory']" maxlength="15" [typeahead]="employeeIdList"
                          (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect1($event)"
                          (typeaheadOnBlur)="typeaheadOnSelect1($event)" typeaheadOptionField="employeeId" autocomplete="off"
                          (input)="checkValid1($event)" class="search-id" />


                        <div *ngIf="f.submitted && employeeId.invalid">
                          <div [hidden]="!employeeId.errors.required">
                            {{MISCELLANEOUS_BENEFITS_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!employeeId.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_ID['listDtoFieldValidationMessage'][1]">
                            {{MISCELLANEOUS_BENEFITS_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                        </div>
                        <div [hidden]="isEmployeeIdExist">
                          Invalid Employee ID
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
                
                <!-- desc Field -->
                <div class="form-group">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="desc">{{MISCELLANEOUS_BENEFITS_NAME['fieldValue']}}</label>
                      <span *ngIf="MISCELLANEOUS_BENEFITS_NAME['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" title="{{MISCELLANEOUS_BENEFITS_NAME['helpMessage']}}" disabled maxlength="31"
                        value="{{employeeDesc}}" />
                      <!--<div *ngIf="f.submitted && desc.invalid">
                        <div [hidden]="!desc.errors.required">
                          {{MISCELLANEOUS_BENEFITS_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!desc.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                          {{MISCELLANEOUS_BENEFITS_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>-->
                    </div>
                  </div>
                </div>

              <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !benefitsId.valid || !isBenefitIdExist,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="desc">{{MISCELLANEOUS_BENEFITS_CODE['fieldValue']}}</label>
                      <span *ngIf="MISCELLANEOUS_BENEFITS_CODE['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="dtoMiscellaneousBenefits1" [(ngModel)]="benefitsMaster['benefitsId']"
                        #benefitsId="ngModel" title="{{MISCELLANEOUS_BENEFITS_CODE['helpMessage']}}" [required]="MISCELLANEOUS_BENEFITS_CODE['isMandatory']" class="search-id" maxlength="31"
                        [typeahead]="dataSource" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect2($event)"
                        (typeaheadOnBlur)="typeaheadOnSelect2($event)" typeaheadOptionField="benefitsId" autocomplete="off"
                        (input)="checkValid2($event)" />
                      <div *ngIf="f.submitted && benefitsId.invalid">
                        <div [hidden]="!benefitsId.errors.required">
                          {{MISCELLANEOUS_BENEFITS_CODE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!benefitsId.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_CODE['listDtoFieldValidationMessage'][1]">
                          {{MISCELLANEOUS_BENEFITS_CODE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                      <div [hidden]="isBenefitIdExist">
                        Invalid Miscellaneous Code
                      </div>
                    </div>
                  </div>
                </div> 

                <div class="form-group">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="desc">{{MISCELLANEOUS_BENEFITS_DESCRIPTION['fieldValue']}}</label>
                      <span *ngIf="MISCELLANEOUS_BENEFITS_DESCRIPTION['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" title="{{MISCELLANEOUS_BENEFITS_DESCRIPTION['helpMessage']}}" disabled maxlength="31"
                        value="{{BenefitDesc}}" />
                      <!--<div *ngIf="f.submitted && desc.invalid">
                        <div [hidden]="!desc.errors.required">
                          {{MISCELLANEOUS_BENEFITS_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!desc.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                          {{MISCELLANEOUS_BENEFITS_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>-->
                    </div>
                  </div>
                </div>

                <!-- Arabic arbicDesc -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && status.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="status">{{MISCELLANEOUS_BENEFITS_STATUS['fieldValue']}}</label>
                      <span *ngIf="MISCELLANEOUS_BENEFITS_STATUS['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <select [ngClass]="'form-control fm-txt'" name="status" [(ngModel)]="model.status" #status="ngModel" title="{{MISCELLANEOUS_BENEFITS_STATUS['helpMessage']}}"
                      [required]="MISCELLANEOUS_BENEFITS_STATUS['isMandatory']" (change)="checkFrequency($event);">
                        <option value="0" selected>-- Account Status --</option>
                        <option value="1">Active</option>
                        <option value="2">Inactive</option>
                        <option value="3">Waived</option>
                        <option value="4">Ineligible</option>
                        <option value="5">Terminated</option>
                        <option value="6">Family Leave</option>
                        <option value="7">Pending</option>
                      </select>
                      <div *ngIf="f.submitted && status.value==0">
                        <div [hidden]="status.value!=0">
                          {{MISCELLANEOUS_BENEFITS_STATUS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- frequency -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && frequency.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="frequency">{{MISCELLANEOUS_BENEFITS_FREQUENCY['fieldValue']}}</label>
                      <span *ngIf="MISCELLANEOUS_BENEFITS_FREQUENCY['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <select [ngClass]="'form-control fm-txt'" name="frequency" [(ngModel)]="model.frequency" #frequency="ngModel" title="{{MISCELLANEOUS_BENEFITS_FREQUENCY['helpMessage']}}"
                        [required]="MISCELLANEOUS_BENEFITS_STATUS['isMandatory']" (change)="checkFrequency($event);">
                        <option value="0" selected>-- Miscellaneous Benefits Frequency --</option>
                        <option value="1">{{frequencyArray[1-1]}}</option>
                        <option value="2">{{frequencyArray[2-1]}}</option>
                        <option value="3">{{frequencyArray[3-1]}}</option>
                        <option value="4">{{frequencyArray[4-1]}}</option>
                        <option value="5">{{frequencyArray[5-1]}}</option>
                        <option value="6">{{frequencyArray[6-1]}}</option>
                        <option value="7">{{frequencyArray[7-1]}}</option>
                      </select>
                      <div *ngIf="f.submitted && frequency.value==0">
                        <div [hidden]="frequency.value!=0">
                          {{MISCELLANEOUS_BENEFITS_FREQUENCY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Start Date -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !frmStartDate.valid,'col-md-8 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

                    <div class="col-md-4">
                      <label class="control-label">{{MISCELLANEOUS_BENEFITS_BENEFIT_START_DATE['fieldValue']}}</label>
                      <span *ngIf="MISCELLANEOUS_BENEFITS_BENEFIT_START_DATE['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group">
                        <input [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="frmStartDate" [(ngModel)]="modelStartDate"
                          [options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onStartDateChanged($event)" (change)="onStartDateChanged($event.target.value)"
                          #frmStartDate="ngModel" [required]="MISCELLANEOUS_BENEFITS_BENEFIT_START_DATE['isMandatory']" [readonly]="!MISCELLANEOUS_BENEFITS_BENEFIT_START_DATE['writeAccess']" title="{{MISCELLANEOUS_BENEFITS_BENEFIT_START_DATE['helpMessage']}}" id="start_date"
                        />

                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                          <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>

                      </div>
                      <div *ngIf="f.submitted && frmStartDate.invalid">
                        <div [hidden]="!frmStartDate.errors.required">
                          {{MISCELLANEOUS_BENEFITS_BENEFIT_START_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- End Date -->
                <div class="form-group">

                  <div [ngClass]="{'has-error': (f.submitted  && !frmEndDate.valid) || ( !frmEndDate.errors?.required && error.isError),'col-md-8 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

                    <div class="col-md-4">
                      <label class="control-label">{{MISCELLANEOUS_BENEFITS_BENEFIT_END_DATE['fieldValue']}}</label>
                      <span *ngIf="MISCELLANEOUS_BENEFITS_BENEFIT_END_DATE['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <div class="input-group">
                        <input [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="frmEndDate" [(ngModel)]="modelEndDate"
                          [options]="myOptions" #dp2="ngx-mydatepicker" (dateChanged)="onEndDateChanged($event)" #frmEndDate="ngModel"
                          [readonly]="!MISCELLANEOUS_BENEFITS_BENEFIT_END_DATE['writeAccess']" (change)="onEndDateChanged($event.target.value)" title="{{MISCELLANEOUS_BENEFITS_BENEFIT_END_DATE['helpMessage']}}"
                          id="end_date" />

                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                          <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>

                      </div>
                      <div *ngIf="f.submitted && frmEndDate.invalid">
                        <div [hidden]="!frmEndDate.errors.required">
                          {{MISCELLANEOUS_BENEFITS_BENEFIT_END_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>

                      </div>
                      <div *ngIf="!frmEndDate.errors?.required && error.isError" class="r">
                        {{ error.errorMessage }}
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="col-md-6">
                  <div class="row">

                    <div class="form-group">
                      <div class="col-md-12">
                        <h3>Employee</h3>
                      </div>
                    </div>

                    <div class="border-box">

                      <div class="form-group">
                        <div [ngClass]="{ 'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                          <div class="col-md-4">
                            <label for="inActive">{{MISCELLANEOUS_BENEFITS_INACTIVE['fieldValue']}}</label>
                            <span *ngIf="MISCELLANEOUS_BENEFITS_INACTIVE['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <div id="isActiveEmployee"> 
                                <input type="checkbox" (click)="checkEmployeeForm($event)" name="inActive" [(ngModel)]="model.inActive"
                                  #inactive="ngModel" [checked]="isSelected">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && method.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="method">{{MISCELLANEOUS_BENEFITS_METHOD['fieldValue']}}</label>
                            <span *ngIf="MISCELLANEOUS_BENEFITS_METHOD['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <select name="method" [ngClass]="'form-control fm-txt'" [(ngModel)]="model.method" #method="ngModel" required>
                              <option value="0">-- Select Method --</option>
                              <option value="1">{{employeeMethodArray[1-1]}}</option>
                              <option value="2">{{employeeMethodArray[2-1]}}</option>
                              <option value="3">{{employeeMethodArray[3-1]}}</option>
                              <option value="4">{{employeeMethodArray[4-1]}}</option>
                            </select>
                            <div *ngIf="f.submitted && method.value==0">
                              <div [hidden]="method.value!=0">
                                {{MISCELLANEOUS_BENEFITS_METHOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!method.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_METHOD['listDtoFieldValidationMessage'][1]">
                                {{MISCELLANEOUS_BENEFITS_METHOD['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                            </div>
                            <div *ngIf="f.submitted && method.value=='0' && method.disabled && isEmployeeFormdisabled">
                              {{MISCELLANEOUS_BENEFITS_END_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div *ngIf="method.value==3 || method.value==4; then sophasticated else default"></div>
                        <ng-template #default>
                          <div [ngClass]="{'has-error': (f.submitted && !dudctionAmount.valid) || (!dudctionAmount.errors?.required &&   !dudctionAmountPattern) ||(!dudctionAmount.errors?.required  && !isdedTotal )|| (!dudctionAmount.errors?.required  && dudctionAmount.value==0) ,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="dudctionAmount">{{MISCELLANEOUS_BENEFITS_DEDUCTION_AMOUNT['fieldValue']}}</label>
                              <span *ngIf="MISCELLANEOUS_BENEFITS_DEDUCTION_AMOUNT['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">

                              <input type="number" [ngClass]="'form-control fm-txt'" name="dudctionAmount" [(ngModel)]="model.dudctionAmount" #dudctionAmount="ngModel"
                                title="{{MISCELLANEOUS_BENEFITS_DEDUCTION_AMOUNT['helpMessage']}}" [required]="MISCELLANEOUS_BENEFITS_DEDUCTION_AMOUNT['isMandatory']" maxlength="14" min="0" (keyup)="checkdecimalamount(dudctionAmount.value,'dudctionAmountPattern')"
                                min="1" onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,3);"
                                (keyup)="checkdedlifetimeamount(dudctionAmount.value,'dedTotal')" />

                              <div *ngIf="(f.submitted && dudctionAmount.invalid) || !dudctionAmountPattern || !isdedTotal || (!dudctionAmount.errors?.required && dudctionAmount.value==0) ">
                                <div [hidden]="!dudctionAmountPattern && !dudctionAmount.errors?.required || !isdedTotal || dudctionAmount.value==0">
                                  {{MISCELLANEOUS_BENEFITS_DEDUCTION_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}

                                </div>
                                <div *ngIf="!dudctionAmount.errors?.required && !dudctionAmountPattern && dudctionAmount.value!=0">
                                  Invalid Input
                                </div>
                                <div *ngIf="!isdedTotal && !dudctionAmount.errors?.required && dudctionAmount.value!=0">
                                  This must be less than life time amount
                                </div>
                                <div *ngIf="isdedTotal && !dudctionAmount.errors?.required && dudctionAmount.value==0">
                                  Invalid input
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                        <ng-template #sophasticated>
                          <div [ngClass]="{'has-error': (f.submitted && !dudctionPercent.valid) || (!dudctionPercent.errors?.required &&   !dudctionAmountPercentPattern) || (!dudctionPercent.errors?.required  && dudctionPercent.value==0) ,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="dudctionAmount">Deduction Percent</label>
                            </div>
                            <div class="col-md-8">

                              <input type="number" [ngClass]="'form-control fm-txt'" name="dudctionPercent" [(ngModel)]="model.dudctionPercent" #dudctionPercent="ngModel"
                                title="Percent" required maxlength="14" min="0" (keyup)="checkdecimalamountforSophasticated(dudctionPercent.value,'dudctionAmountPercentPattern')"
                                min="1" onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,5);"
                              />

                              <div *ngIf="(f.submitted && dudctionPercent.invalid) || !dudctionAmountPercentPattern || (!dudctionPercent.errors?.required && dudctionPercent.value==0) ">
                                <div [hidden]="!dudctionAmountPercentPattern && !dudctionPercent.errors?.required || dudctionPercent.value==0">
                                  {{MISCELLANEOUS_BENEFITS_DEDUCTION_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}

                                </div>
                                <div *ngIf="!dudctionPercent.errors?.required && !dudctionAmountPercentPattern && dudctionPercent.value!=0">
                                  Invalid Input
                                </div>
                                <!--<div *ngIf="!isdedTotal && !dudctionPercent.errors?.required && dudctionPercent.value!=0">
                                  This must be less than life time amount
                                </div>-->
                                <div *ngIf="!dudctionPercent.errors?.required && dudctionPercent.value==0">
                                  Invalid input
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>

                      </div>

                      <div class="form-group">
                        <div class="col-md-12">
                          <div class="col-md-12">
                            <h4>Maximum Deduction</h4>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div [ngClass]="{'has-error': (f.submitted && !monthlyAmount.valid) || !monthlyAmountPattern,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="monthlyAmount">{{MISCELLANEOUS_BENEFITS_MONTHLY_AMOUNT['fieldValue']}}</label>
                            <span *ngIf="MISCELLANEOUS_BENEFITS_MONTHLY_AMOUNT['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <input type="number" [ngClass]="'form-control fm-txt'" name="monthlyAmount" [(ngModel)]="model.monthlyAmount" #monthlyAmount="ngModel"
                              title="{{MISCELLANEOUS_BENEFITS_MONTHLY_AMOUNT['helpMessage']}}" [required]="MISCELLANEOUS_BENEFITS_MONTHLY_AMOUNT['isMandatory']" maxlength="14" (keyup)="checkdecimalamount(monthlyAmount.value,'monthlyAmountPattern')"
                              min="1" onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,3);"
                              (keyup)="checkdedmonthlyamount(monthlyAmount.value,'dedmonthly')" />
                            <div *ngIf="(f.submitted && monthlyAmount.invalid) || !monthlyAmountPattern">
                              <div [hidden]="!monthlyAmountPattern && !monthlyAmount.errors?.required">
                                {{MISCELLANEOUS_BENEFITS_MONTHLY_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!monthlyAmount.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_MONTHLY_AMOUNT['listDtoFieldValidationMessage'][1]">
                                {{MISCELLANEOUS_BENEFITS_MONTHLY_AMOUNT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                              <div *ngIf="!monthlyAmountPattern">
                                Invalid Input
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div [ngClass]="{'has-error': (f.submitted && !yearlyAmount.valid) || (!yearlyAmount.errors?.required && !yearlyAmountPattern) || (!yearlyAmount.errors?.required && !isdedYearly),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="yearlyAmount">{{MISCELLANEOUS_BENEFITS_YEARLY_AMOUNT['fieldValue']}}</label>
                            <span *ngIf="MISCELLANEOUS_BENEFITS_YEARLY_AMOUNT['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <input type="number" [ngClass]="'form-control fm-txt'" name="yearlyAmount" [(ngModel)]="model.yearlyAmount" #yearlyAmount="ngModel"
                              title="{{MISCELLANEOUS_BENEFITS_YEARLY_AMOUNT['helpMessage']}}" [required]="MISCELLANEOUS_BENEFITS_YEARLY_AMOUNT['isMandatory']" maxlength="14" (keyup)="checkdecimalamount(yearlyAmount.value,'yearlyAmountPattern')"
                              min="1" onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,3);"
                              (keyup)="checkdedmonthlyamount(yearlyAmount.value,'dedyearly')" (keyup)="checkdedyearlyamount(yearlyAmount.value,'dedyearly')"
                            />
                            <div *ngIf="(f.submitted && yearlyAmount.invalid) || !yearlyAmountPattern || (!yearlyAmount.errors?.required && !isdedYearly)">
                              <div [hidden]="!yearlyAmountPattern && !yearlyAmount.errors?.required || !isdedYearly">
                                {{MISCELLANEOUS_BENEFITS_YEARLY_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}

                              </div>
                              <div [hidden]="!yearlyAmount.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_YEARLY_AMOUNT['listDtoFieldValidationMessage'][1]">
                                {{MISCELLANEOUS_BENEFITS_YEARLY_AMOUNT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                              <div *ngIf="!yearlyAmountPattern">
                                Invalid Input
                              </div>
                              <div *ngIf="!isdedYearly && !yearlyAmount.errors?.required">
                                This must be greater than monthly amount
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div [ngClass]="{'has-error': (f.submitted && !lifetimeAmount.valid) || (!lifetimeAmount.errors?.required && !lifetimeAmountPattern) || (!lifetimeAmount.errors?.required && !isdedLifetime),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="lifetimeAmount">{{MISCELLANEOUS_BENEFITS_LIFETIME_AMOUNT['fieldValue']}}</label>
                            <span *ngIf="MISCELLANEOUS_BENEFITS_LIFETIME_AMOUNT['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <input type="number" [ngClass]="'form-control fm-txt'" name="lifetimeAmount" [(ngModel)]="model.lifetimeAmount" #lifetimeAmount="ngModel"
                              title="{{MISCELLANEOUS_BENEFITS_LIFETIME_AMOUNT['helpMessage']}}" [required]="MISCELLANEOUS_BENEFITS_LIFETIME_AMOUNT['isMandatory']" maxlength="14" (keyup)="checkdecimalamount(lifetimeAmount.value,'lifetimeAmountPattern')"
                              min="1" onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,3);"
                              (keyup)="checkdedyearlyamount(lifetimeAmount.value,'dedlifetime')" (keyup)="checkdedlifetimeamount(lifetimeAmount.value,'dedlifetime')"
                            />
                            <div *ngIf="(f.submitted && lifetimeAmount.invalid) || !lifetimeAmountPattern || !isdedLifetime">
                              <div [hidden]="!lifetimeAmountPattern && !lifetimeAmount.errors?.required || !isdedLifetime">
                                {{MISCELLANEOUS_BENEFITS_LIFETIME_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <!--<div [hidden]="!lifetimeAmountPattern && !lifetimeAmount.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_LIFETIME_AMOUNT['listDtoFieldValidationMessage'][1]">
                                {{MISCELLANEOUS_BENEFITS_LIFETIME_AMOUNT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>-->
                              <div *ngIf="!lifetimeAmountPattern">
                                Invalid Input
                              </div>
                              <div *ngIf="!isdedLifetime && !lifetimeAmount.errors?.required">
                                This must be greater than yearly amount
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">

                    <div class="form-group">
                      <div class="col-md-12">
                        <h3>Employer</h3>
                      </div>
                    </div>

                    <div class="border-box">

                      <div class="form-group">
                        <div [ngClass]="{ 'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                          <div class="col-md-4">
                            <label for="inActive">{{MISCELLANEOUS_BENEFITS_EMPLOYER_INACTIVE['fieldValue']}}</label>
                            <span *ngIf="MISCELLANEOUS_BENEFITS_EMPLOYER_INACTIVE['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <div id="isActiveEmployer">
                                <input type="checkbox" (click)="checkEmployerForm($event)" name="empluyeeerinactive" [(ngModel)]="model.empluyeeerinactive"
                                  #empluyeeerinactive="ngModel">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && empluyeeermethod.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="empluyeeermethod">{{MISCELLANEOUS_BENEFITS_EMPLOYER_METHOD['fieldValue']}}</label>
                            <span *ngIf="MISCELLANEOUS_BENEFITS_EMPLOYER_METHOD['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <select name="empluyeeermethod" [ngClass]="'form-control fm-txt'" [(ngModel)]="model.empluyeeermethod" #empluyeeermethod="ngModel"
                              required>
                              <option value="0">-- Select Method --</option>
                              <option value="1">{{employerMethodArray[1-1]}}</option>
                              <option value="2">{{employerMethodArray[2-1]}}</option>
                              <option value="3">{{employerMethodArray[3-1]}}</option>
                              <option value="4">{{employerMethodArray[4-1]}}</option>
                            </select>
                            <div *ngIf="f.submitted && empluyeeermethod.value==0 && !empluyeeermethod.disabled">
                              <div [hidden]="empluyeeermethod.value!=0">
                                {{MISCELLANEOUS_BENEFITS_EMPLOYER_METHOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!empluyeeermethod.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_EMPLOYER_METHOD['listDtoFieldValidationMessage'][1]">
                                {{MISCELLANEOUS_BENEFITS_EMPLOYER_METHOD['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                            </div>
                            <div *ngIf="f.submitted && empluyeeermethod.value=='0' && empluyeeermethod.disabled && isEmployerFormdisabled">
                              {{MISCELLANEOUS_BENEFITS_END_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div *ngIf="empluyeeermethod.value==3 || empluyeeermethod.value==4; then sophasticated1 else default1"></div>
                        <ng-template #default1>
                          <div [ngClass]="{'has-error': (f.submitted && benefitAmount.invalid) || (!benefitAmount.errors?.required && !benefitAmountPattern) || (!benefitAmount.errors?.required && !isbenTotal) || (!benefitAmount.errors?.required && benefitAmount.value==0),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="benefitAmount">{{MISCELLANEOUS_BENEFITS_BENEFIT_AMOUNT['fieldValue']}}</label>
                              <span *ngIf="MISCELLANEOUS_BENEFITS_BENEFIT_AMOUNT['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                              <input type="number" [ngClass]="'form-control fm-txt'" name="benefitAmount" [(ngModel)]="model.benefitAmount" #benefitAmount="ngModel"
                                title="{{MISCELLANEOUS_BENEFITS_BENEFIT_AMOUNT['helpMessage']}}" required maxlength="14" (keyup)="checkdecimalamount(benefitAmount.value,'benefitAmountPattern')"
                                min="1" onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,3);"
                                (keyup)="checkbenlifetimeamount(benefitAmount.value,'benTotal')" />
                              <div *ngIf="(f.submitted && benefitAmount.invalid) || (!benefitAmount.errors?.required && !benefitAmountPattern) || (!benefitAmount.errors?.required && !isbenTotal) || (!benefitAmount.errors?.required && benefitAmount.value==0)">
                                <div [hidden]="!benefitAmountPattern && !benefitAmount.errors?.required || !isbenTotal || benefitAmount.value==0">
                                  {{MISCELLANEOUS_BENEFITS_BENEFIT_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="!benefitAmount.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_BENEFIT_AMOUNT['listDtoFieldValidationMessage'][1]">
                                  {{MISCELLANEOUS_BENEFITS_BENEFIT_AMOUNT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                                <div *ngIf="!benefitAmountPattern">
                                  Invalid Input
                                </div>
                                <div *ngIf="!isbenTotal && benefitAmount.value!=0 && !benefitAmount.errors?.required">
                                  This must be less than lifetime amount
                                </div>
                                <div *ngIf="benefitAmount.value==0 && isbenTotal && !benefitAmount.errors?.required">
                                  Invalid input
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>

                        <ng-template #sophasticated1>
                          <div [ngClass]="{'has-error': (f.submitted && benefitPercent.invalid) || (!benefitPercent.errors?.required && !benefitAmountPercentPattern) || (!benefitPercent.errors?.required && benefitPercent.value==0),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="benefitAmount">Benefit Percent</label>
                            </div>
                            <div class="col-md-8">
                              <input type="number" [ngClass]="'form-control fm-txt'" name="benefitPercent" [(ngModel)]="model.benefitPercent" #benefitPercent="ngModel"
                                title="Percent" required maxlength="14" (keyup)="checkdecimalamountforSophasticated(benefitPercent.value,'benefitAmountPercentPattern')"
                                min="1" onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,5);"
                              />
                              <div *ngIf="(f.submitted && benefitPercent.invalid) || (!benefitPercent.errors?.required && !benefitAmountPercentPattern) || (!benefitPercent.errors?.required && benefitPercent.value==0)">
                                <div [hidden]="!benefitAmountPercentPattern && !benefitPercent.errors?.required || benefitPercent.value==0">
                                  {{MISCELLANEOUS_BENEFITS_BENEFIT_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="!benefitPercent.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_BENEFIT_AMOUNT['listDtoFieldValidationMessage'][1]">
                                  {{MISCELLANEOUS_BENEFITS_BENEFIT_AMOUNT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                                <div *ngIf="!benefitAmountPercentPattern">
                                  Invalid Input
                                </div>
                                <!--<div *ngIf="!isbenTotal && benefitAmount.value!=0 && !benefitAmount.errors?.required" >
                                This must be less than lifetime amount
                              </div>-->
                                <div *ngIf="benefitPercent.value==0 && !benefitPercent.errors?.required">
                                  Invalid input
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </div>

                      <div class="form-group">
                        <div class="col-md-12">
                          <div class="col-md-12">
                            <h4>Maximum Benefit</h4>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div [ngClass]="{'has-error': (f.submitted && !employermonthlyAmount.valid)  || !employermonthlyAmountPattern,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="employermonthlyAmount">{{MISCELLANEOUS_BENEFITS_EMPLOYER_MONTHLY_AMOUNT['fieldValue']}}</label>
                            <span *ngIf="MISCELLANEOUS_BENEFITS_EMPLOYER_MONTHLY_AMOUNT['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <input type="number" [ngClass]="'form-control fm-txt'" name="employermonthlyAmount" [(ngModel)]="model.employermonthlyAmount"
                              #employermonthlyAmount="ngModel" title="{{MISCELLANEOUS_BENEFITS_EMPLOYER_MONTHLY_AMOUNT['helpMessage']}}" [required]="MISCELLANEOUS_BENEFITS_EMPLOYER_MONTHLY_AMOUNT['isMandatory']" maxlength="14"
                              (keyup)="checkdecimalamount(employermonthlyAmount.value,'employermonthlyAmountPattern')" min="1"
                              onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,3);"
                              (keyup)="checkbenmonthlyamount(employermonthlyAmount.value,'benmonthly')" />
                            <div *ngIf="(f.submitted && employermonthlyAmount.invalid)  || !employermonthlyAmountPattern">
                              <div [hidden]="!employermonthlyAmountPattern && !employermonthlyAmount.errors?.required">
                                {{MISCELLANEOUS_BENEFITS_EMPLOYER_MONTHLY_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!employermonthlyAmount.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_EMPLOYER_MONTHLY_AMOUNT['listDtoFieldValidationMessage'][1]">
                                {{MISCELLANEOUS_BENEFITS_EMPLOYER_MONTHLY_AMOUNT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                              <div *ngIf="!employermonthlyAmountPattern">
                                Invalid Input
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div [ngClass]="{'has-error': (f.submitted && !employeryearlyAmount.valid) || (!employeryearlyAmount.errors?.required && !employeryearlyAmountPattern) || (!employeryearlyAmount.errors?.required &&  !isbenYearly),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="employeryearlyAmount">{{MISCELLANEOUS_BENEFITS_EMPLOYER_YEARLY_AMOUNT['fieldValue']}}</label>
                            <span *ngIf="MISCELLANEOUS_BENEFITS_EMPLOYER_YEARLY_AMOUNT['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <input type="number" [ngClass]="'form-control fm-txt'" name="employeryearlyAmount" [(ngModel)]="model.employeryearlyAmount"
                              #employeryearlyAmount="ngModel" title="{{MISCELLANEOUS_BENEFITS_EMPLOYER_YEARLY_AMOUNT['helpMessage']}}" [required]="MISCELLANEOUS_BENEFITS_EMPLOYER_YEARLY_AMOUNT['isMandatory']" maxlength="14"
                              (keyup)="checkdecimalamount(employeryearlyAmount.value,'employeryearlyAmountPattern')" min="1"
                              onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,3);"
                              (keyup)="checkbenmonthlyamount(employeryearlyAmount.value,'benyearly')" (keyup)="checkbenyearlyamount(employeryearlyAmount.value,'benyearly')"
                            />
                            <div *ngIf="(f.submitted && employeryearlyAmount.invalid) || !employeryearlyAmountPattern || !isbenYearly">
                              <div [hidden]="(!employeryearlyAmountPattern && !employeryearlyAmount.errors?.required) || !isbenYearly || (!isbenYearly && !employeryearlyAmount.errors?.required)">
                                {{MISCELLANEOUS_BENEFITS_EMPLOYER_YEARLY_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!employeryearlyAmount.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_YEARLY_AMOUNT['listDtoFieldValidationMessage'][1]">
                                {{MISCELLANEOUS_BENEFITS_EMPLOYER_YEARLY_AMOUNT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                              <div *ngIf="!employeryearlyAmountPattern">
                                Invalid Input
                              </div>
                              <div *ngIf="!isbenYearly && !employeryearlyAmount.errors?.required">
                                This must be greater than monthly amount
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div [ngClass]="{'has-error': (f.submitted && !employerlifetimeAmount.valid) || ( !employerlifetimeAmount.errors?.required && !employerlifetimeAmountPattern) ||( !employerlifetimeAmount.errors?.required && !isbenLifetime) ,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="employerlifetimeAmount">{{MISCELLANEOUS_BENEFITS_LIFETIME_AMOUNT['fieldValue']}}</label>
                            <span *ngIf="MISCELLANEOUS_BENEFITS_LIFETIME_AMOUNT['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <input type="number" [ngClass]="'form-control fm-txt'" name="employerlifetimeAmount" [(ngModel)]="model.employerlifetimeAmount"
                              #employerlifetimeAmount="ngModel" title="{{MISCELLANEOUS_BENEFITS_EMPLOYER_LIFETIME_AMOUNT['helpMessage']}}" [required]="MISCELLANEOUS_BENEFITS_EMPLOYER_LIFETIME_AMOUNT['isMandatory']" maxlength="14"
                              (keyup)="checkdecimalamount(employerlifetimeAmount.value,'employerlifetimeAmountPattern')" min="1"
                              onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,3);"
                              (keyup)="checkbenyearlyamount(employerlifetimeAmount.value,'benlifetime')" (keyup)="checkbenlifetimeamount(employerlifetimeAmount.value,'benlifetime')"
                            />
                            <div *ngIf="(f.submitted && employerlifetimeAmount.invalid)  || !employerlifetimeAmountPattern || !isbenLifetime">
                              <div [hidden]="!employerlifetimeAmountPattern && !employerlifetimeAmount.errors?.required || !isbenLifetime">
                                {{MISCELLANEOUS_BENEFITS_EMPLOYER_LIFETIME_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!employerlifetimeAmount.errors?.maxlength" *ngIf="MISCELLANEOUS_BENEFITS_EMPLOYER_LIFETIME_AMOUNT['listDtoFieldValidationMessage'][1]">
                                {{MISCELLANEOUS_BENEFITS_EMPLOYER_LIFETIME_AMOUNT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                              <div *ngIf="!employerlifetimeAmountPattern">
                                Invalid Input
                              </div>
                              <div *ngIf="!isbenLifetime && !employerlifetimeAmount.errors?.required">
                                This must be greater than yearly amount
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="print-section" class="print-tabel">
                <table class="details" style="width: 100% !important; min-width: 1200px; table-layout: fixed; border-spacing: 0; border-collapse: separate;font-family: 'Open Sans', sans-serif;margin-bottom: 20px;">
                    <tr>
                       
                        <td align='left' style=" padding: 0; border: none; border-radius: 10px;font-size: 14px;">
                            <table style="width: 100% !important;  table-layout: fixed; border-spacing: 0; border-collapse: separate; font-family: 'Open Sans', sans-serif;">
                                <tr>
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{MISCELLANEOUS_BENEFITS_BENEFIT_START_DATE['fieldValue']}}</th>
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{MISCELLANEOUS_BENEFITS_BENEFIT_END_DATE['fieldValue']}}</th>
                                    
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{MISCELLANEOUS_BENEFITS_FREQUENCY['fieldValue']}}</th>
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{MISCELLANEOUS_BENEFITS_STATUS['fieldValue']}}</th>
                                    
                                </tr>
                                <tr>
                                  <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                    {{modelStartDate}}</td>
                                <td align="center" style="border: 1px solid #8e8e8e; font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                    {{modelEndDate}}</td>
                                       
                                    <td align="center" style="border: 1px solid #8e8e8e; font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                      {{model.frequency}}</td>
                                        <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                          {{model.status}}</td>
                                      
                                </tr> 
                            </table>
                        </td>
                    </tr>
                </table>
  </div>
              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{MISCELLANEOUS_BENEFITS_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{MISCELLANEOUS_BENEFITS_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'grey-btn  '" type="button" (click)="printEmployeeDetails()" *ngIf="model.id">Print</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)" (click)="islifeTimeValid=true">{{MISCELLANEOUS_BENEFITS_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="islifeTimeValid=true" (click)="showCreateForm = false;">{{MISCELLANEOUS_BENEFITS_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
