<div class="content-wrapper user-view">

    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{fld_header['fieldValue']}}</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <div class="content-outer com-form">
                <div class="row">
                    <div class="form-row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="label-outer">
                                    <div class="form-row">
                                            <label>{{fld_Year['fieldValue']}}</label> 
                                            <input disabled="true" value="2018" class="form-control fm-txt ng-pristine ng-invalid ng-touched" />
                                    </div>
                            </div>
                        </div>

                    </div>

                </div><!-- Form Row Ends -->
                <div class="button-row">
                    <div class="col-xs-12">
                        <input type="button" class="blue-btn" value="{{fld_getData['fieldValue']}}" title="{{fld_getData['fieldValue']}}"
                            (click)="GetBalancesheetReport()" />
                    </div>
                </div>

                <div class="content-outer com-form">

                        <div class="form-row">
                                <div class="col-xs-12">
                                  <div class="algo-table">
                                    <div class="table-responsive">          
                                      <table  class="table border-collapse: collapse; size: 7in 9.25in; margin: 27mm 27mm 27mm 27mm;">
                                        <thead>
                                          <tr> 
                                                <th width="15%">{{fld_accountCategory['fieldValue']}}</th>
                                                <th width="15%">{{fld_accountDescription['fieldValue']}}</th>
                                                <th width="20%"> {{fld_totalAccountTransactionYTD['fieldValue']}}</th>
                                          </tr>
                                        </thead>
        
        
                                          <tbody  *ngFor="let accountCategory of reportcategories.listOfAccountCategory;let i = index;let isLast=last  ">
                                            <tr>
                                                <td style="border-right:1px solid #03485e" class="text-center"  ><b>{{accountCategory.accountCategoryDescription}}</b></td>
                                                    
                                            </tr>
                                           
                                                
                                            <tr *ngFor="let accounts of accountCategory.listOfAccounts ; let i = index"  >
                                                <td></td>
                                                <td>
                                                    {{accounts.journalDescription}}
                                                </td>

                                                <td style="text-align:right">
                                                    
                                                    {{ accounts.balance | number:'1.2-3' }}
                                                </td>
                                                
                                            </tr>
                                            <tr>
                                                <td  colspan="2" style="text-align:right;color:#03485e ">
                                                    <b>Total {{accountCategory.accountCategoryDescription}} </b>
                                                </td>
                                                <td style="text-align:right">
                                                    <b>{{accountCategory.totalTransaction | number:'1.2-3'}}</b>
                                                </td>
                                            </tr>
        
                                           <tr *ngIf="i==6">
                                                <td  colspan="2" style="text-align:right;color:#03485e ">
                                                    <b>Total Current Assets </b>
                                                </td>
                                                <td style="text-align:right;color:#03485e">
                                                    <b>{{reportcategories.totals[0]  | number:'1.2-3'}}</b>
                                                </td>
                                           </tr>

                                           <tr *ngIf="i==11">
                                                <td  colspan="2" style="text-align:right;color:#03485e ">
                                                    <b>Total Assets </b>
                                                </td>
                                                <td style="text-align:right;color:#03485e">
                                                    <b>{{reportcategories.totals[1]  | number:'1.2-3'}}</b>
                                                </td>
                                            </tr>

                                            <tr *ngIf="i==20">
                                                <td  colspan="2" style="text-align:right;color:#03485e ">
                                                    <b>Total Current Liabilities </b>
                                                </td>
                                                <td style="text-align:right;color:#03485e">
                                                    <b >{{reportcategories.totals[2]  | number:'1.2-3'}}</b>
                                                </td>
                                            </tr>

                                            <tr *ngIf="i==21">
                                                <td  colspan="2" style="text-align:right;color:#03485e ">
                                                    <b>Total Liabilities </b>
                                                </td>
                                                <td  style="text-align:right;color:#03485e">{{reportcategories.totals[3]  | number:'1.2-3'}}</td>
                                            </tr>

                                            <tr *ngIf="isLast">
                                                <td colspan="2" style="text-align:right;color:#03485e ">
                                                    <b >{{fld_NetProfitAndLoss['fieldValue']}}</b>
                                                </td>
                                                <td  style="text-align:right;color:#03485e">
                                                    {{reportcategories.totals[5]  | number:'1.2-3'}}
                                                </td>
                                            </tr>


                                            <tr *ngIf="isLast">
                                                <td colspan="2" style="text-align:right;color:#03485e ">
                                                    <b>{{fld_TotalEquity['fieldValue']}}</b>
                                                </td>
                                                <td  style="text-align:right;color:#03485e"> 
                                                    {{reportcategories.totals[6]  | number:'1.2-3'}}
                                                </td>
                                            </tr>
                                            
                                            <tr *ngIf="isLast">
                                                <td colspan="2" style="text-align:right;color:#03485e ">
                                                    <b>{{fld_TotalLibilitiesAndEquity['fieldValue']}}</b>
                                                </td>
                                                <td  style="text-align:right;color:#03485e">
                                                    {{reportcategories.totals[7]  | number:'1.2-3'}}
                                                </td>
                                            </tr>
        
                                          </tbody>
                                      </table>
                                        
            
                                    </div>
        
        
                                  </div><!-- Algo Table Ends -->

                                </div>
                              </div><!-- Form Row Ends -->
        
     
                </div>
                <div class="form-row">
                    <div class="button-row">
                            <div class="col-sm-12">
                                <input type="button" title="{{fld_print['fieldValue']}}" class="blue-btn" (click)="openModel(ProfitAndLossReport)"  value="{{fld_print['fieldValue']}}" />
                            </div>
                    </div><!-- Buton Row Ends -->
                </div><!-- Form Row Ends -->
            </div>
        </section>
    </section>

    <modal #ProfitAndLossReport id="ProfitAndLossReport" [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-lg">
        <modal-header>
            {{fld_header['fieldValue']}}
        </modal-header>
        <modal-content>
                                    
        <div class="row">
            <div class="col col-lg-4 col-lg-push-5">
                <input type="radio" id="Landscape" name="state" (change)="changeWidth($event)" />
                <label for="scales" >Landscape</label>
                <input type="radio" id="Portrait" name="state" (change)="changeWidth($event)" />
                <label for="scales" >Portrait</label>
            </div>
        </div>

        <div id="ProfitAndLossReportPrintSection" class="content-outer com-form">
              <div class="row">
                  <div class="col col-lg-12 " [ngClass]="{'col  col-lg-12 ': check, 'col  col-lg-8 col-lg-push-2': !check }" >
                    <div class="center-block">
                            <table class="col col-lg-12" style="border-collapse: collapse; width: 100%; " border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col col-lg-12">
                                                    <table style="border-collapse: collapse; width: 100%; height: 104px;  " border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr style="height: 10px;">
                                                            <td class="xl63" style="height: 31.5pt; width: 50px; text-align: center;" colspan="5" rowspan="2" >
                                                                <h1><strong>{{fld_header['fieldValue']}}</strong></h1>
                                                            </td>
                                                            
                                                            </tr>
                                                        </tbody>
                                                    </table>   
                                                </div>
                                            </div>
                                            <div class="row" style="width:90%; text-align:right">
                                                <div class="col-xs-5 col-xs-offset-6 text-right">
                                                    <b>{{companyName}}</b>
                                                </div>
                                            </div>
                                          <div class="row">
                                                <div class="col col-lg-6">
                                                        <table style="width: 300px; height: 26px;">
                                                            <tbody>
                                                                <tr>
                                                                <td style="width: 93px;" >{{fld_Year['fieldValue']}}:</td>
                                                                <td style="width: 150px;">2018</td>

                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                </div>
                                            <div class="col col-lg-6">
                                                <table style="width: 220px; height: 42px; float: right; border-size: 1px;">
                                                    <tbody>
                                                        <tr>
                                                        <td style="width: 93px;"><label><b>{{fld_Year['fieldValue']}}: </b> </label></td>
                                                        <td style="border-color: black; width: 111px;"><label> {{today | date: 'dd/MM/yyyy'}} </label></td>
                                                        </tr>
                                                        <tr>
                                                        <td style="width: 93px;"><label><b>Print Time: </b></label></td>
                                                        <td style="border-color: black; width: 111px;"><label>{{today | date: 'h:mm a'}} </label></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 93px;"><label><b>User:</b></label></td>
                                                            <td style="border-color: black; width: 111px;"><label>{{userData}}</label></td> 
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                          </div>


                                          <div class="row">
                                              <div class="col col-lg-12">
                                                    <table border="1" width="100%" cellspacing="0" cellpadding="0">
                                                            <thead>
                                                              <tr> 
                                                                  <th width="20%" align="center">{{fld_accountCategory['fieldValue']}}</th>
                                                                  <th width="20%" align="center">{{fld_accountDescription['fieldValue']}}</th>
                                                                  <th width="30%" align="center">{{fld_totalAccountTransactionYTD['fieldValue']}}</th>
                                                              </tr>
                                                            </thead>
                                                              <tbody border="1" *ngFor="let accountCategory of reportcategories.listOfAccountCategory;let i = index;let isLast=last">
                                                                <tr>
                                                                    <td style="border-right:1px solid #03485e" class="text-center"  ><b>{{accountCategory.accountCategoryDescription}}</b></td>
                                                                        
                                                                </tr>
                                                               
                                                                    
                                                                <tr *ngFor="let accounts of accountCategory.listOfAccounts ; let i = index"  >
                                                                    <td></td>
                                                                    <td style="text-align:center">
                                                                        {{accounts.journalDescription}}
                                                                    </td>
                                                                    <td style="height: 35px; text-align:right">
                                                                        
                                                                        {{ accounts.balance  | number:'1.2-3' }}
                                                                    </td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td  colspan="2" style="text-align:right;color:#03485e ">
                                                                        <b>Total {{accountCategory.accountCategoryDescription}} </b>
                                                                    </td>
                                                                    <td style="text-align:right">
                                                                        <b>{{accountCategory.totalTransaction | number:'1.2-3'}}</b>
                                                                    </td>
                                                                </tr>
                                                            <tr *ngIf="i==6">
                                                                    <td  colspan="2" style="text-align:right;color:#03485e ">
                                                                        <b>Total Current Assets </b>
                                                                    </td>
                                                                    <td style="text-align:right;color:#03485e">
                                                                        <b>{{reportcategories.totals[0]  | number:'1.2-3'}}</b>
                                                                    </td>
                                                            </tr>

                                                            <tr *ngIf="i==11">
                                                                    <td  colspan="2" style="text-align:right;color:#03485e ">
                                                                        <b>Total Assets </b>
                                                                    </td>
                                                                    <td style="text-align:right;color:#03485e">
                                                                        <b>{{reportcategories.totals[1]  | number:'1.2-3'}}</b>
                                                                    </td>
                                                                </tr>

                                                                <tr *ngIf="i==20">
                                                                    <td  colspan="2" style="text-align:right;color:#03485e ">
                                                                        <b>Total Current Liabilities </b>
                                                                    </td>
                                                                    <td style="text-align:right;color:#03485e">
                                                                        <b >{{reportcategories.totals[2]  | number:'1.2-3'}}</b>
                                                                    </td>
                                                                </tr>

                                                                <tr *ngIf="i==21">
                                                                    <td  colspan="2" style="text-align:right;color:#03485e ">
                                                                        <b>Total Liabilities </b>
                                                                    </td>
                                                                    <td  style="text-align:right;color:#03485e">{{reportcategories.totals[3]  | number:'1.2-3'}}</td>
                                                                </tr>

                                                                <tr *ngIf="isLast">
                                                                    <td colspan="2" style="text-align:right;color:#03485e ">
                                                                        <b >{{fld_NetProfitAndLoss['fieldValue']}}</b>
                                                                    </td>
                                                                    <td  style="text-align:right;color:#03485e">
                                                                        {{reportcategories.totals[5]  | number:'1.2-3'}}
                                                                    </td>
                                                                </tr>
                    
                    
                                                                <tr *ngIf="isLast">
                                                                    <td colspan="2" style="text-align:right;color:#03485e ">
                                                                        <b>{{fld_TotalEquity['fieldValue']}}</b>
                                                                    </td>
                                                                    <td  style="text-align:right;color:#03485e"> 
                                                                        {{reportcategories.totals[6]  | number:'1.2-3'}}
                                                                    </td>
                                                                </tr>
                                                                
                                                                <tr *ngIf="isLast">
                                                                    <td colspan="2" style="text-align:right;color:#03485e ">
                                                                        <b>{{fld_TotalLibilitiesAndEquity['fieldValue']}}</b>
                                                                    </td>
                                                                    <td  style="text-align:right;color:#03485e">
                                                                        {{reportcategories.totals[7]  | number:'1.2-3'}}
                                                                    </td>
                                                                </tr>

                                                              </tbody>
                                                          </table>
                                              </div>
                                          </div>

                                        <table style="float: right;width: 100%">
                                            <tbody>

                                            </tbody>
                                        </table>

                                        </td>
                                        </tr>
                                    </tbody>
                            </table>
                    </div>
                  </div>
              </div>
        </div>
        </modal-content>
        <modal-footer>
                <input type="button" class="blue-btn" title="{{fld_print['helpMessage']}}" value="{{fld_print['fieldValue']}}" (click)="print()"/>
                <input type="button" class="blue-btn" title="Close" value="Close" (click)="closeModal(ProfitAndLossReport)"/>
            </modal-footer> 
    </modal>    

</div>