<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[6]['helpMessage']}}">{{defaultFormValues[6]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department" width="100% !important;">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="LocationGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                           [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                           [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="60" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                    [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Location Id -->
              <ngx-datatable-column name="exitInterviewId" [width]="160" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('exitInterviewId')">Code</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Location Description -->
              <ngx-datatable-column name="desc" [width]="170" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('desc')">{{defaultFormValues[3]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid  Arabic Location Description -->
              <ngx-datatable-column name="arbicDesc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('arbicDesc')">{{defaultFormValues[4]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>


			   <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{defaultFormValues[7]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
			  
              
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[10]['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{defaultFormValues[9]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{defaultFormValues[8]['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && CreateExitInterview(f, $event)" #f="ngForm" novalidate>

                <!-- TIME CODE field -->
                <div class="form-group">

                  <div *ngIf="isUnderUpdate; then update else create"></div>
                  <ng-template #update>
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="exitInterviewId">{{defaultFormValues[1]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-8">
                          <input type="text" [ngClass]="'form-control fm-txt'" name="exitInterviewId" value="{{exitInterviewIdvalue}}"
                          title="{{defaultFormValues[1]['fieldValue']}}"  readonly required maxlength="7" />
                          <div *ngIf="f.submitted && exitInterviewId.invalid">
                          <div [hidden]="!exitInterviewId.errors.required">
                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!exitInterviewId.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="checkbox">
                            <label><input type="checkbox"  (click)="checkExitInterviewForm($event)" name="inActive" [(ngModel)]="model.inActive" #inActive="ngModel"> Inactive</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </ng-template>


                  <ng-template #create>
                  <div [ngClass]="{ 'has-error': f.submitted && !exitInterviewId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label for="exitInterviewId" class="control-label">{{defaultFormValues[1]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-8">
                          <input type="text" [ngClass]="'form-control fm-txt'" name="exitInterviewId" [(ngModel)]="model.exitInterviewId" #exitInterviewId="ngModel"
                            title="{{defaultFormValues[1]['fieldValue']}}"  required maxlength="7" />
                          <div *ngIf="f.submitted && exitInterviewId.invalid">
                          <div [hidden]="!exitInterviewId.errors.required">
                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!exitInterviewId.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="checkbox">
                            <label><input type="checkbox"  (click)="checkExitInterviewForm($event)" name="inActive" [(ngModel)]="model.inActive" #inActive="ngModel"> Inactive</label>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  </ng-template>

                </div>

                <!-- DESCRIPTION Field -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !desc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="desc">{{defaultFormValues[3]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model.desc"
                             #desc="ngModel" title="{{defaultFormValues[3]['fieldValue']}}"
                             required  maxlength="100" />
                      <div *ngIf="f.submitted && desc.invalid">
                        <div [hidden]="!desc.errors.required">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!desc.errors?.maxlength" *ngIf="defaultFormValues[3]['listDtoFieldValidationMessage'][1]">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Arabic description -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !arbicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="arbicDesc">{{defaultFormValues[4]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8 arabic-mode">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="arbicDesc" [(ngModel)]="model.arbicDesc"
                             #arbicDesc="ngModel" title="{{defaultFormValues[4]['fieldValue']}}"
                             maxlength="100" required  />
                      <div *ngIf="f.submitted && arbicDesc.invalid">
                        <div [hidden]="!arbicDesc.errors.required">
                          {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!arbicDesc.errors?.maxlength" *ngIf="defaultFormValues[3]['listDtoFieldValidationMessage'][1]">
                          {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Add Button  -->

                <div>
                    <button *ngIf="!model.id" [ngClass]="'grey-btn'" (click) = "add(f, $event,'add')">Add</button>
                  <!-- <button (click) = "f.form.valid && add(f, $event)">Add</button> -->
                </div>
               

  
				
				
                <!-- Buttons -->
                <div [ngClass]="'button-row'">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[11]['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[14]['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[13]['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[12]['fieldValue']}}</button>
                    </span>
                    </div>
                  </div>
                </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
