<div class="content-wrapper"> 
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- Content Outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <div class="row">
                    <div class="form-row">
                        <div class="col-md-6 col-sm-6 col-xs-12 arabic-left">
                            <!-- Content Heading Starts -->
                            <div class="content-heading"><h3>{{defaultFormValues[0]['fieldValue']}}</h3>
                            </div><!-- Content Heading Ends -->
                            <div class="map-container">
                                <!-- Map Container starts -->
                                <ngx-charts-pie-chart
                                        [view]="view"
                                        [scheme]="colorScheme"
                                        [results]="single"
                                        [legend]="showLegend"
                                        [explodeSlices]="explodeSlices"
                                        [labels]="showLabels"
                                        [doughnut]="doughnut"
                                        [gradient]="gradient"
                                        (select)="onSelect($event)">
                                </ngx-charts-pie-chart>
                            </div>
                            <!-- Map Container Ends -->
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-row">
                                <label>{{defaultFormValues[1]['fieldValue']}}</label>
                                <div class="search-top">
                                    <div class="select-outer">
                                        <select [ngClass]="'form-control '" myAutofocus name="companyId" (change)="getCompanyData($event)"  title="{{defaultFormValues[1]['helpMessage']}}" required>
                                            <option *ngFor="let company of companyOptions" [value]="company.id">
                                                {{company.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- Content Heading Starts -->
                            <div class="content-heading">
                                <h3>{{defaultFormValues[2]['fieldValue']}}</h3>
                            </div><!-- Content Heading Ends -->
                            <div *ngIf="getFirstTime!=1" class="row">
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <!-- Map Container starts -->
                                        <div class="map-containerRight">
                                            {{activeUsers}} : {{activeUserCount}}
                                        </div><!-- Map Container Ends -->
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <!-- Map Container starts -->
                                        <div class="map-containerRight">
                                            {{inactiveUsers}} : {{inActiveUserCount}}
                                        </div><!-- Map Container Ends -->
                                    </div>
                                </div>
                                <!-- Form Row starts -->
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <!-- Map Container starts -->
                                        <div class="map-containerRight">
                                            {{userGroups}} : {{userGroupCount}}
                                        </div><!-- Map Container Ends -->
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <!-- Map Container starts -->
                                        <div class="map-containerRight">
                                            {{roleGroups}}: {{roleGroupCount}}
                                        </div><!-- Map Container Ends -->
                                    </div>
                                </div><!-- Form Row Ends -->
                                <!-- Form Row starts -->
                                <div class="form-row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <!-- Map Container starts -->
                                        <div class="map-containerRight">
                                            {{roles}} : {{roleCount}}
                                        </div><!-- Map Container Ends -->
                                    </div>
                                </div><!-- Form Row Ends -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Content Outer Ends -->
        </section>
    </section>
</div>
<!--<footer class="main-footer">@ 2017 BIT. All rights reserved.
</footer>-->