<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{EMPLOYEE_ADDRESS_MASTER_CREATE_LABEL['helpMessage']}}">{{EMPLOYEE_ADDRESS_MASTER_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{SEARCH_EMPLOYEE_ADDRESS_MASTER['helpMessage']}}" placeholder="Search Emp. Address Master"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>

        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="EmloyeeAddessGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                           [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                           [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                    [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Columns -->
              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false" [scrollbarH]="true">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                    </div>
              </div>

              <!-- Data Column Action -->
              <ngx-datatable-column name="Action" [width]="80" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    {{EMPLOYEE_ADDRESS_MASTER_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{EMPLOYEE_ADDRESS_MASTER_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.employeeAddressIndexId">{{EMPLOYEE_ADDRESS_MASTER_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.employeeAddressIndexId">{{EMPLOYEE_ADDRESS_MASTER_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>

            <form class="form-horizontal" (ngSubmit)="f.form.valid &&  this.typeaheadNoResults.length == 0 && country.value!=0 && state.value!=0 && city.value!=0 && CreateEmployeeAddressMaster(f, $event)" #f="ngForm" novalidate>

                <div [ngClass]="'row'">
                    <div class="col-lg-6" >
                      
                      <!-- Address Id field -->
                      <div [ngClass]="'form-group'">
                        <div *ngIf="isUnderUpdate; then update else create"></div>
                        <ng-template #update>
                          <div [ngClass]="{ 'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                              <div class="col-md-4">
                                <label class="control-label" for="addressId">{{ADDRESS_ID['fieldValue']}}</label>
                                <span *ngIf="ADDRESS_ID['isMandatory']">*</span>
                              </div>
                              <div class="col-md-8">
                                  <input type="text" [ngClass]="'form-control fm-txt'" name="addressId" [(ngModel)]="model.addressId"
                                      title="{{ADDRESS_ID['helpMessage']}}" maxlength="10" [readonly]="!ADDRESS_ID['writeAccess']" [required]="ADDRESS_ID['isMandatory']" />
                                  <div *ngIf="f.submitted && addressId.invalid">
                                      <div [hidden]="!addressId.errors.required">
                                          {{ADDRESS_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                      </div>
                                      <div [hidden]="!addressId.errors?.maxlength">
                                          {{ADDRESS_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </ng-template>
                        <ng-template #create>
                          <div [ngClass]="{ 'has-error': ((f.submitted && !addressId.valid) || (f.submitted && this.typeaheadNoResults.length >0?true:false)),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                              <div class="col-md-4">
                                  <label for="addressId" class="control-label">{{ADDRESS_ID['fieldValue']}}</label>
                                  <span *ngIf="ADDRESS_ID['isMandatory']">*</span>
                                </div>
                              <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'"   name="addressId" [(ngModel)]="model.addressId" #addressId="ngModel"
                                        title="{{ADDRESS_ID['helpMessage']}}" class="search-id"  [required]="ADDRESS_ID['isMandatory']" [typeahead]="addressIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                                        (typeaheadOnSelect)="typeaheadOnSelect($event, 'select')"  typeaheadOptionField="addressId" (input)="typeaheadOnSelect($event, 'input')" maxlength="10">

                                  <div *ngIf="(f.submitted && addressId.invalid) || (f.submitted && this.typeaheadNoResults.length >0?true:false)">
                                      <div [hidden]="!addressId.errors?.required">
                                          {{ADDRESS_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                      </div>
                                      <div [hidden]="(!addressId.errors?.maxlength) || (f.submitted && this.typeaheadNoResults.length >0?true:false)">
                                          {{ADDRESS_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                      </div>
                                      <!-- <div *ngIf="(f.submitted && duplicateMsgError)" >
                                        {{duplicateMsg}}
                                      </div> -->
                                  </div>
                                 
                              </div>
                          </div>
                        </ng-template>
                      </div>

                      <!-- Address 1 -->
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && !address1.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="address1">{{ADDRESS1['fieldValue']}}</label>
                            <span *ngIf="ADDRESS1['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <input id="address1" [pattern]="pattern" type="text"   [ngClass]="'form-control fm-txt'" name="address1" [(ngModel)]="model.address1"
                                  #address1="ngModel" title="{{ADDRESS1['helpMessage']}}" maxlength="90" [required]="ADDRESS1['isMandatory']"  />
                            <div *ngIf="f.submitted && address1.invalid && this.checkclear !=0">
                              <div [hidden]="!address1.errors.required && this.checkclear !=0 ">
                                {{ADDRESS1['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>

                              <div *ngIf="address1.dirty && address1.value.length!=0 && this.checkclear !=0">
                                Invalid Address1
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Address 2 -->
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && !address2.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="address2">{{ADDRESS2['fieldValue']}}</label>
                            <span *ngIf="ADDRESS2['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <input id="address2" [pattern]="pattern" type="text"   [ngClass]="'form-control fm-txt'" name="address2" [(ngModel)]="model.address2"
                                  #address2="ngModel" title="{{ADDRESS2['helpMessage']}}"
                                  maxlength="90" [required]="ADDRESS2['isMandatory']"  />
                            <div *ngIf="f.submitted && address2.invalid && this.checkclear !=0">
                              <div [hidden]="!address2.errors.required && this.checkclear !=0">
                                {{ADDRESS2['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div *ngIf="address2.dirty && address2.value.length!=0 && this.checkclear !=0">
                                Invalid Address2
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <!--Personal Email-->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && !personalEmail.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="personalEmail">{{PERSONAL_EMAIL['fieldValue']}}</label>
                              <span *ngIf="PERSONAL_EMAIL['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">

                              <input id="personalEmail" type="email"   [ngClass]="'form-control fm-txt'" name="personalEmail" [(ngModel)]="model.personalEmail"
                                    #personalEmail="ngModel" title="{{PERSONAL_EMAIL['helpMessage']}}"
                                    [required]="PERSONAL_EMAIL['isMandatory']" email="true"
                                    [pattern]="emailPattern"/>
                              <div *ngIf="f.submitted && personalEmail.invalid && this.checkclear !=0">
                                <div [hidden]="!personalEmail.errors.required && this.checkclear !=0">
                                  {{PERSONAL_EMAIL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="personalEmail.errors?.required && !personalEmail.errors?.pattern && this.checkclear !=0">
                                  Invalid personal email
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                
                      <!--Business Email-->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && !businessEmail.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="businessEmail">{{BUSINESS_EMAIL['fieldValue']}}</label>
                              <span *ngIf="BUSINESS_EMAIL['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                              <input id="businessEmail" type="email"   [ngClass]="'form-control fm-txt'" name="businessEmail" [(ngModel)]="model.businessEmail"
                                    #businessEmail="ngModel" title="{{BUSINESS_EMAIL['helpMessage']}}"
                                    [required]="BUSINESS_EMAIL['isMandatory']" email="true" [pattern]="emailPattern"/>
                              <div *ngIf="f.submitted && businessEmail.invalid && this.checkclear !=0">
                                <div [hidden]="!businessEmail.errors.required && this.checkclear !=0">
                                  {{BUSINESS_EMAIL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="businessEmail.errors?.required && !businessEmail.errors?.pattern && this.checkclear !=0">
                                  Invalid business email
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>

                    <!--Start English Location Fields-->
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && country.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="country">{{COUNTRY['fieldValue']}}</label>
                            <span *ngIf="COUNTRY['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="country" [(ngModel)]="model.countryId" #country="ngModel" (change)="onCountrySelect($event)" title="{{COUNTRY['helpMessage']}}" [required]="COUNTRY['isMandatory']">
                              <option value="0" disabled>-- Select Country --</option>
                              <option *ngFor="let country of countries" value="{{country.countryId}}" [selected]="country.countryId == model.countryId">{{country.countryName}}</option>
                            </select>
                            <div *ngIf="f.submitted && country.value==0">
                              <div [hidden]="!country.value==0">
                                {{COUNTRY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!country.errors?.maxlength">
                                {{COUNTRY['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- States -->
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && state.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="state">{{EMPLOYEE_ADDRESS_MASTER_STATE['fieldValue']}}</label>
                            <span *ngIf="EMPLOYEE_ADDRESS_MASTER_STATE['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="state" [(ngModel)]="model.stateId" #state="ngModel" (change)="onStateSelect($event)" title="{{EMPLOYEE_ADDRESS_MASTER_STATE['helpMessage']}}" [required]="EMPLOYEE_ADDRESS_MASTER_STATE['isMandatory']">
                              <option value="0" disabled>-- Select State --</option>
                              <option *ngFor="let state of states" value="{{state.stateId}}" [selected]="state.stateId == model.stateId">{{state.stateName}}</option>
                            </select>
                            <div *ngIf="f.submitted && state.value==0">
                              <div [hidden]="!state.value==0">
                                {{EMPLOYEE_ADDRESS_MASTER_STATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- City -->
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && city.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="city">{{CITY['fieldValue']}}</label>
                            <span *ngIf="CITY['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                            <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="city" [(ngModel)]="model.cityId" #city="ngModel"
                                    title="{{CITY['fieldValue']}}" [required]="CITY['isMandatory']">
                              <option value="0" disabled>-- Select City --</option>
                              <option *ngFor="let city of cities" value="{{city.cityId}}" [selected]="city.cityId == model.cityId">{{city.cityName}}</option>
                            </select>
                            <div *ngIf="f.submitted && city.value==0">
                              <div [hidden]="!city.value==0">
                                {{CITY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!city.errors?.maxlength">
                                {{CITY['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--End English Location Fields-->

                      <!--Start Arabic Location Fields-->
                      <!--<div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && country.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-5">
                            <label class="control-label" for="country">{{defaultFormValues[27]['fieldValue']}}</label>
                          </div>
                          <div class="col-md-7">
                            <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="country" [(ngModel)]="model.countryId" #country="ngModel" (change)="onCountrySelect($event)" title="{{defaultFormValues[27]['helpMessage']}}" required>
                              <option value="0" disabled>&#45;&#45; Select Country &#45;&#45;</option>
                              <option *ngFor="let country of countries" value="{{country.countryId}}" [selected]="country.countryId == model.countryId">{{country.countryName}}</option>
                            </select>
                            <div *ngIf="f.submitted && country.value==0">
                              <div [hidden]="!country.value==0">
                                {{defaultFormValues[27]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!country.errors?.maxlength">
                                {{defaultFormValues[27]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>-->

                      <!-- States -->
                      <!--<div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && state.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-5">
                            <label class="control-label" for="state">State-Arabic</label>
                          </div>
                          <div class="col-md-7">
                            <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="state" [(ngModel)]="model.stateId" #state="ngModel" (change)="onStateSelect($event)" title="State-Arabic" required>
                              <option value="0" disabled>&#45;&#45; Select State &#45;&#45;</option>
                              <option *ngFor="let state of states" value="{{state.stateId}}" [selected]="state.stateId == model.stateId">{{state.stateName}}</option>
                            </select>
                            <div *ngIf="f.submitted && state.value==0">
                              <div [hidden]="!state.value==0">
                                {{defaultFormValues[27]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>-->

                      <!-- City -->
                     <!-- <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && city.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-5">
                            <label class="control-label" for="city">{{defaultFormValues[25]['fieldValue']}}</label>
                          </div>
                          <div class="col-md-7">
                            <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="city" [(ngModel)]="model.cityId" #city="ngModel"
                                    title="{{defaultFormValues[25]['fieldValue']}}" required>
                              <option value="0" disabled>&#45;&#45; Select City &#45;&#45;</option>
                              <option *ngFor="let city of cities" value="{{city.cityId}}" [selected]="city.cityId == model.cityId">{{city.cityName}}</option>
                            </select>
                            <div *ngIf="f.submitted && city.value==0">
                              <div [hidden]="!city.value==0">
                                {{defaultFormValues[25]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!city.errors?.maxlength">
                                {{defaultFormValues[25]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>-->
                      <!--End Arabic Location Fields-->

                      <!--City-->
                      <!-- <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && !city.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="city">{{defaultFormValues[1]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-8">
                              <input id="city" [pattern]="pattern" type="text"   [ngClass]="'form-control fm-txt'" name="city" [(ngModel)]="model.city"
                                    #city="ngModel" title="{{defaultFormValues[1]['helpMessage']}}"
                                    />
                              <div *ngIf="f.submitted && city.invalid">
                                <div [hidden]="!city.errors.required">
                                  {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div *ngIf="city.dirty && city.value.length!=0">
                                  Invalid city
                                </div>
                              </div>
                            </div>
                          </div>
                      </div> -->

                      <!--Country-->
                      <!-- <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && !country.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="country">{{defaultFormValues[3]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-8">
                              <input id="country" [pattern]="pattern" type="text"   [ngClass]="'form-control fm-txt'" name="country" [(ngModel)]="model.country"
                                    #country="ngModel" title="{{defaultFormValues[3]['helpMessage']}}"  />
                              <div *ngIf="f.submitted && country.invalid">
                                <div [hidden]="!country.errors.required">
                                  {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div *ngIf="country.dirty && country.value.length!=0">
                                  Invalid country
                                </div>
                              </div>
                            </div>
                          </div>
                      </div> -->

                      <!--City Arabic-->
                      <!-- <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && !cityArabic.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="cityArabic">{{defaultFormValues[25]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-8 arabic-mode">
                              <input id="cityArabic" [pattern]="pattern" type="text"   [ngClass]="'form-control fm-txt'" name="cityArabic" [(ngModel)]="model.cityArabic"
                                    #city="ngModel" title="{{defaultFormValues[25]['helpMessage']}}"
                                      />
                              <div *ngIf="f.submitted && cityArabic.invalid">
                                <div [hidden]="!cityArabic.errors.required">
                                  {{defaultFormValues[25]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div *ngIf="cityArabic.dirty && cityArabic.value.length!=0">
                                  Invalid city Arabic
                                </div>
                              </div>
                            </div>
                          </div>
                      </div> -->

                      <!--Country Arabic-->
                      <!-- <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && !countryArabic.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="countryArabic">{{defaultFormValues[27]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-8 arabic-mode">
                              <input id="countryArabic" [pattern]="pattern" type="text"   [ngClass]="'form-control fm-txt'" name="countryArabic" [(ngModel)]="model.countryArabic"
                                    #country="ngModel" title="{{defaultFormValues[27]['helpMessage']}}"  />
                              <div *ngIf="f.submitted && countryArabic.invalid">
                                <div [hidden]="!countryArabic.errors.required">
                                  {{defaultFormValues[27]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div *ngIf="countryArabic.dirty && countryArabic.value.length!=0">
                                  Invalid country Arabic
                                </div>
                              </div>
                            </div>
                          </div>
                        </div> -->
                
                        <!--Po Box -->
                        <div class="form-group">
                            <div [ngClass]="{'has-error': f.submitted && !pOBox.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                              <div class="col-md-4">
                                <label class="control-label" for="pOBox">{{PO_BOX['fieldValue']}}</label>
                                <span *ngIf="PO_BOX['isMandatory']">*</span>
                              </div>
                              <div class="col-md-8">
                                <input id="pOBox" [pattern]="pattern" type="text" [ngClass]="'form-control fm-txt'" name="pOBox" [(ngModel)]="model.pOBox"
                                      #pOBox="ngModel" title="{{PO_BOX['helpMessage']}}"
                                      maxlength="31" [required]="PO_BOX['isMandatory']"  />
                                <div *ngIf="f.submitted && pOBox.invalid && this.checkclear !=0">
                                  <div [hidden]="!pOBox.errors.required && this.checkclear !=0">
                                    {{PO_BOX['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                  </div>
                                  <div *ngIf="pOBox.dirty && pOBox.value.length!=0 && this.checkclear !=0">
                                    Invalid P.O.Box
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <!--Post Code -->
                          <div class="form-group">
                              <div [ngClass]="{'has-error': f.submitted && !postCode.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                  <label class="control-label" for="postCode">{{POST_CODE['fieldValue']}}</label>
                                  <span *ngIf="POST_CODE['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                  <input id="postCode" [pattern]="pattern" type="number" [ngClass]="'form-control fm-txt'" name="postCode" [(ngModel)]="model.postCode"
                                        #postCode="ngModel" title="{{POST_CODE['helpMessage']}}"
                                         [required]="POST_CODE['isMandatory']" onKeyPress="if(this.value.length==9) return false;" min="0" onkeypress="return check_digit(event,this,9,0);" />
                                  <div *ngIf="f.submitted && postCode.invalid && this.checkclear !=0">
                                    <div [hidden]="!postCode.errors.required && this.checkclear !=0">
                                      {{POST_CODE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div *ngIf="postCode.dirty && postCode.value.length!=0 && this.checkclear !=0">
                                      Invalid Post Code
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>

                        </div>
                        
                        <div class="col-lg-6">
                          
                          <!-- Blaank Div -->
                          <div class="form-group" style="min-height: 40px">
                              <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4"></div>
                                <div class="col-md-8"></div>
                              </div>
                          </div>
                          
                          <!-- Address 1 Arabic -->
                          <div class="form-group">
                              <div [ngClass]="{'has-error': f.submitted && !addressArabic1.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                  <label class="control-label" for="addressArabic1">{{ADDRESS_ARABIC1['fieldValue']}}</label>
                                  <span *ngIf="ADDRESS_ARABIC1['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8 arabic-mode">
                                  <input id="addressArabic1" [pattern]="pattern" type="text"   [ngClass]="'form-control fm-txt'" name="addressArabic1" [(ngModel)]="model.addressArabic1"
                                        #addressArabic1="ngModel" title="{{ADDRESS_ARABIC1['helpMessage']}}"
                                         [required]="ADDRESS_ARABIC1['isMandatory']" maxlength="90" />
                                  <div *ngIf="f.submitted && addressArabic1.invalid && this.checkclear !=0">
                                    <div [hidden]="!addressArabic1.errors.required && this.checkclear !=0">
                                      {{ADDRESS_ARABIC1['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div *ngIf="addressArabic1.dirty && addressArabic1.value.length!=0 && this.checkclear !=0">
                                      Invalid Address1 Arabic
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>

                          <!-- Address 2 Arabic-->
                          <div class="form-group">
                              <div [ngClass]="{'has-error': f.submitted && !addressArabic2.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                  <label class="control-label" for="addressArabic2">{{ADDRESS_ARABIC2['fieldValue']}}</label>
                                  <span *ngIf="ADDRESS_ARABIC2['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8 arabic-mode">
                                  <input id="addressArabic2" [pattern]="pattern" type="text"   [ngClass]="'form-control fm-txt'" name="addressArabic2" [(ngModel)]="model.addressArabic2"
                                        #addressArabic2="ngModel" title="{{ADDRESS_ARABIC2['helpMessage']}}"
                                        [required]="ADDRESS_ARABIC2['isMandatory']" maxlength="90" />
                                  <div *ngIf="f.submitted && addressArabic2.invalid && this.checkclear !=0">
                                    <div [hidden]="!addressArabic2.errors.required && this.checkclear !=0">
                                      {{ADDRESS_ARABIC2['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div *ngIf="addressArabic2.dirty && addressArabic2.value.length!=0 && this.checkclear !=0">
                                      Invalid Address2 Arabic
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                
                            <!--Personal Phone -->
                            <div class="form-group">
                              <div [ngClass]="{'has-error': f.submitted && !personalPhone.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                  <label class="control-label" for="personalPhone">{{PERSONAL_PHONE['fieldValue']}}</label>
                                  <span *ngIf="PERSONAL_PHONE['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                  <input id="personalPhone" type="text"   [ngClass]="'form-control fm-txt'" name="personalPhone" [(ngModel)]="model.personalPhone"
                                        #personalPhone="ngModel" title="{{PERSONAL_PHONE['helpMessage']}}"
                                        maxlength="21" [required]="PERSONAL_PHONE['isMandatory']" PhonenumberFaxDirective="true" [pattern]="phonePattern"/>
                                  <div *ngIf="f.submitted && personalPhone.invalid && this.checkclear !=0">
                                    <div [hidden]="!personalPhone.errors.required && this.checkclear !=0">
                                      {{PERSONAL_PHONE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div *ngIf="personalPhone.dirty && personalPhone.value.length!=0 && this.checkclear !=0">
                                      Invalid Personal Phone
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!--Business Phone -->
                            <div class="form-group" style="margin-bottom: 0;">
                              <div class="col-md-12">
                                <div class="col-md-8">
                                  <div [ngClass]="{'has-error': f.submitted && !businessPhone.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-6" style="margin-left: -30px;">
                                      <label class="control-label" for="businessPhone">{{BUSINESS_PHONE['fieldValue']}}</label>
                                      <span *ngIf="BUSINESS_PHONE['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-6" style="margin-left: 30px;">
                                      <input id="businessPhone" type="text"   [ngClass]="'form-control fm-txt'" name="businessPhone" [(ngModel)]="model.businessPhone"
                                            #businessPhone="ngModel" title="{{BUSINESS_PHONE['helpMessage']}}"
                                            maxlength="21" [required]="BUSINESS_PHONE['isMandatory']"  PhonenumberFaxDirective="true" [pattern]="phonePattern" style="width: 155px;"/>
                                      <div *ngIf="f.submitted && businessPhone.invalid && this.checkclear !=0">
                                        <div [hidden]="!businessPhone.errors.required && this.checkclear !=0">
                                          {{BUSINESS_PHONE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div *ngIf="businessPhone.dirty && businessPhone.value.length!=0 && this.checkclear !=0">
                                          Invalid Business Phone
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-4">
                                  <div [ngClass]="{'has-error': f.submitted && !ext.valid && this.checkclear !=0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                      <div class="col-md-3" style="margin-left: -35px;">
                                        <label class="control-label" for="businessPhone">{{EXT['fieldValue']}}</label>
                                        <span *ngIf="EXT['isMandatory']">*</span>
                                      </div>
                                      <div class="col-md-9">
                                        <input id="ext" type="text" [ngClass]="'form-control fm-txt'" name="ext" [(ngModel)]="model.ext"
                                                #ext="ngModel" title="{{EXT['helpMessage']}}"
                                                maxlength="10" [required]="EXT['isMandatory']" style="width: 109px;"/>
                                        <div *ngIf="f.submitted && ext.invalid && this.checkclear !=0">
                                          <div [hidden]="!ext.errors.required && this.checkclear !=0">
                                            {{EXT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                          </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>

                              </div>
                            </div>
							
                          <!--Ext-->
                          <div class="form-group">
                            
                          </div>

                            <!--Other Phone -->
                            <div class="form-group">
                              <div [ngClass]="{'has-error': f.submitted && !otherPhone.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                  <label class="control-label" for="otherPhone">{{OTHER_PHONE['fieldValue']}}</label>
                                  <span *ngIf="OTHER_PHONE['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                  <input id="otherPhone" type="text"   [ngClass]="'form-control fm-txt'" name="otherPhone" [(ngModel)]="model.otherPhone"
                                        #otherPhone="ngModel" title="{{OTHER_PHONE['helpMessage']}}"
                                        maxlength="21" PhonenumberFaxDirective="true" [pattern]="phonePattern" [required]="OTHER_PHONE['isMandatory']"/>
                                  <div *ngIf="f.submitted && otherPhone.invalid">
                                    <!-- <div [hidden]="!otherPhone.errors.required">
                                      {{OTHER_PHONE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div> -->
                                    <div *ngIf="otherPhone.dirty && otherPhone.value.length!=0">
                                      Invalid Other Phone
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!--Location Link -->
                            <div class="form-group">
                              <div [ngClass]="{'has-error': f.submitted && !locationLinkGoogleMap.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                  <label class="control-label" for="locationLinkGoogleMap">{{LOCATION_LINK_GOOGLE_MAP['fieldValue']}}</label>
                                  <span *ngIf="LOCATION_LINK_GOOGLE_MAP['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                  <input id="locationLinkGoogleMap" [pattern]="pattern" type="text" [ngClass]="'form-control fm-txt'" name="locationLinkGoogleMap" [(ngModel)]="model.locationLinkGoogleMap"
                                        #locationLinkGoogleMap="ngModel" title="{{LOCATION_LINK_GOOGLE_MAP['helpMessage']}}" [required]="LOCATION_LINK_GOOGLE_MAP['isMandatory']" />
                                  <div *ngIf="f.submitted && locationLinkGoogleMap.invalid">
                                    <!-- <div [hidden]="!locationLinkGoogleMap.errors.required">
                                      {{LOCATION_LINK_GOOGLE_MAP['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div> -->
                                    <div *ngIf="locationLinkGoogleMap.dirty && locationLinkGoogleMap.value.length!=0">
                                      Invalid Location Link
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!--Ext -->
                            <!-- <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && !ext.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                  <div class="col-md-4">
                                    <label class="control-label" for="ext">{{defaultFormValues[28]['fieldValue']}}</label>
                                  </div>
                                  <div class="col-md-8">
                                    <input id="ext" [pattern]="pattern" type="text"   [ngClass]="'form-control fm-txt'" name="ext" [(ngModel)]="model.ext"
                                          #ext="ngModel" title="{{defaultFormValues[28]['helpMessage']}}"
                                          />
                                    <div *ngIf="f.submitted && ext.invalid">
                                      <div [hidden]="!ext.errors.required">
                                        {{defaultFormValues[28]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                      </div>
                                      <div *ngIf="ext.dirty && ext.value.length!=0">
                                        Invalid Ext
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->

                            </div>

                            <!-- Buttons -->
                            <div [ngClass]="'button-row'">
                              <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                <div [ngClass]="'col-xs-12'">
                                    <span class="pull-right">
                                        <button *ngIf="model.employeeAddressIndexId" (click)="ClearValue()" [ngClass]="'grey-btn'">{{EMPLOYEE_ADDRESS_MASTER_UPDATE_LABEL['fieldValue']}}</button>
                                        <button *ngIf="!model.employeeAddressIndexId" (click)="ClearValue()" [ngClass]="'grey-btn'">{{EMPLOYEE_ADDRESS_MASTER_SAVE_LABEL['fieldValue']}}</button>
                                        <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{EMPLOYEE_ADDRESS_MASTER_CLEAR_LABEL['fieldValue']}}</button>
                                        <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{EMPLOYEE_ADDRESS_MASTER_CANCEL_LABEL['fieldValue']}}</button>
                                    </span>
                                </div>
                              </div>
                            </div>
                          </div>
                    </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>

