<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[7]['helpMessage']}}">{{defaultFormValues[7]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="LocationGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                           [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                           [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                    [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Location Id -->
              <ngx-datatable-column name="positionPlan" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionPlan')">{{defaultFormValues[1]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Location Description -->
              <ngx-datatable-column name="payCodeId" [width]="110" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('payCodeId')">{{defaultFormValues[4]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Location Description -->
              <ngx-datatable-column name="positionPlanDesc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionPlanDesc')">{{defaultFormValues[15]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Location Description -->
              <ngx-datatable-column name="codeType" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('codeType')">{{defaultFormValues[3]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid  Arabic Location Description -->
              <ngx-datatable-column name="payRate" [width]="110" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('payRate')">{{defaultFormValues[5]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{defaultFormValues[6]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[12]['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{defaultFormValues[18]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{defaultFormValues[19]['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && CreatePositionPayCode(f, $event)" #f="ngForm" novalidate>


                <!-- Location Id field -->
                <div class="form-group">
                  <div [ngClass]="{ 'has-error': f.submitted && !positionPlanId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="positionPlanId">{{defaultFormValues[1]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-4">
                      <select (change)="changePosPlan($event)" [ngClass]="'form-control fm-txt'" name="positionPlanId" [(ngModel)]="model.positionPlanId" #positionPlanId="ngModel"
                             title="{{defaultFormValues[1]['helpMessage']}}"  required >
                      <option value="">-- Select ID --</option>
                      <option *ngFor="let position of positionPlanIds" [value]="position.id">
                        {{position.positionPlanId}}
                      </option>

                      </select>

                      <div *ngIf="f.submitted && positionPlanId.invalid">
                        <div [hidden]="!positionPlanId.errors.required">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>

                      </div>
                    </div>
                    <div class="col-md-4">
                      <input name="positionPlanDesc" type="text" [ngClass]="'form-control fm-txt'"  [(ngModel)]="model.positionPlanDesc" #positionPlanDesc="ngModel"
                      readonly />
                    </div>
                  </div>
                </div>


                <!-- Location Id field -->
                <div class="form-group">
                  <div [ngClass]="{ 'has-error': f.submitted && !positionId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="positionId">{{defaultFormValues[2]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-2">
                      <input [ngClass]="'form-control fm-txt'" name="positionId"  [(ngModel)]="model.positionId" #positionId="ngModel"
                              title="{{defaultFormValues[2]['helpMessage']}}" readonly />
                      <div *ngIf="f.submitted && positionId.invalid">
                        <div [hidden]="!positionId.errors.required">
                          {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <!--<div [hidden]="!positionId.errors?.maxlength">
                          {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>-->
                      </div>
                    </div>
                    <div class="col-md-6">
                      <input name="positiondescription" type="text" [ngClass]="'form-control fm-txt'" [(ngModel)]="model.positiondescription" #positiondescription="ngModel"
                             readonly />
                    </div>
                  </div>
                </div>

                <!-- Location Description Field -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !codeType.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="codeType">{{defaultFormValues[3]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <select [ngClass]="'form-control fm-txt'" name="codeType" [(ngModel)]="model.codeType"
                             #codeType="ngModel" title="{{defaultFormValues[3]['helpMessage']}}"
                             required  >
                      <option value="">-- Select Code Type --</option>
                      <option value="1">Pay Code</option>
                      <option value="2">Deduction</option>
                      <option value="3">Benefit</option>

                      </select>
                      <div *ngIf="f.submitted && codeType.invalid">
                        <div [hidden]="!codeType.errors.required">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <!--<div [hidden]="!codeType.errors?.maxlength">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>-->
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Arabic location description -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !payCodeId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="payCodeId">{{defaultFormValues[4]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-4 ">
                      <select [ngClass]="'form-control fm-txt'" name="payCodeId" [(ngModel)]="model.payCodeId"
                             #payCodeId="ngModel" title="{{defaultFormValues[4]['helpMessage']}}" required >
                      <option value="">-- Select PayCode ID --</option>
                      <option value="1" >1</option>
                      <!--<option value="2" >2</option>-->

                      </select>
                      <div *ngIf="f.submitted && payCodeId.invalid">
                        <div [hidden]="!payCodeId.errors.required">
                          {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <!--<div [hidden]="!payCodeId.errors?.maxlength">
                          {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>-->
                      </div>
                    </div>
                    <div class="col-md-4">
                      <input id="" type="text" [ngClass]="'form-control fm-txt'" value=""
                             readonly />

                    </div>
                  </div>
                </div>




                <!-- Location Address -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !payRate.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="payRate">{{defaultFormValues[5]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input id="payRateId" [pattern]="pattern" type="text"   [ngClass]="'form-control fm-txt'" name="ratePay" [(ngModel)]="model.payRate"
                             #payRate="ngModel" title="{{defaultFormValues[5]['helpMessage']}}"

                             required  onkeypress="return check_digit(event,this,10,3);" />
                      <div *ngIf="f.submitted && payRate.invalid">
                        <div [hidden]="!payRate.errors.required">
                          {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>

                        <div *ngIf="payRate.dirty && payRate.value.length!=0">
                          Invalid Pay Rate
                        </div>
                        <!--<div [hidden]="!payRate.errors?.maxlength">
                          {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>

                <!--&lt;!&ndash; Contact Name &ndash;&gt;
                <div [ngClass]="'form-row cust-bottom'">
                  <div [ngClass]="{'has-error': f.submitted && !employeeName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label for="employeeName">{{defaultFormValues[5]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" readonly [ngClass]="'form-control fm-txt'" name="employeeName" [(ngModel)]="model.employeeName"
                             #employeeName="ngModel" title="{{defaultFormValues[5]['helpMessage']}}"
                             maxlength="150" required />
                      <div *ngIf="f.submitted && employeeName.invalid">
                        <div [hidden]="!employeeName.errors.required">
                          {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!employeeName.errors?.maxlength">
                          {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
-->




                <!-- Buttons -->
                <div [ngClass]="'button-row'">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
                                            <span class="pull-right">
                                                <button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[11]['fieldValue']}}</button>
                                                <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[8]['fieldValue']}}</button>
                                                <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[9]['fieldValue']}}</button>
                                                <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[10]['fieldValue']}}</button>
                                            </span>
                    </div>
                  </div>
                </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>

