<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="create(f)" title="{{CREATE['helpMessage']}}">{{CREATE['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <!--<div *ngIf="hasMessage" style="margin-bottom:10px;color:red;">
                            {{message.text}}
                        </div>-->
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{SEARCH['helpMessage']}}" placeholder="{{SEARCH['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                </div>
                <div class="algo-table">

                    <!-- Data Grid checkbox -->
                    <ngx-datatable-column [width]="5" [sortable]="false" [canAutoResize]="true" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                        [checkboxable]="true">
                    </ngx-datatable-column>

                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="DivisionGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div 
                                            [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>  
                                    </div>
                            </div>

                            <!-- Data Column Action -->
                            <ngx-datatable-column name="Action" [width]="80" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view table-view-fix">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>
                    <button class="blue-btn" (click)="varifyDelete()">{{DELETE['fieldValue']}}</button>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model.id">{{CREATE['fieldValue']}} {{moduleName}}</h3>
                            <h3 *ngIf="model.id">{{UPDATE['fieldValue']}} {{moduleName}}</h3>
                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>
                        <form class="form-horizontal" (ngSubmit)="f.form.valid && trainingCourse.value!=0 && trainingClass.value!=0 && CreateTrainingBatchSignup(f, $event)"
                            #f="ngForm" novalidate>



                            <!-- TrainingBatchSignup Id -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && trainingCourse.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-2">
                                        <label class="control-label" for="trainingCoursedetail">{{TRAINING_ID['fieldValue']}}</label>
                                        <span *ngIf="TRAINING_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="traningCourse" [(ngModel)]="model.traningCourse.id"
                                            #trainingCourse="ngModel" title="{{TRAINING_ID['fieldValue']}}" [required]="TRAINING_ID['isMandatory']" (change)="changeTraningCourseId($event)">
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option *ngFor="let course of AllTraningCourseId" value="{{course.id}}" [selected]="course.id == model.traningCourse.id">{{course.traningId}}</option>
                                        </select>
                                        <div *ngIf="f.submitted && trainingCourse.value==0">
                                            <div [hidden]="!trainingCourse.value==0">
                                                {{TRAINING_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <input style="margin-left: -31px;" type="text" value="{{TraningCourseIdDesc}}"  disabled [ngClass]="'form-control fm-txt'" />
                                    </div>
                                </div>
                            </div>
                            <!-- trainingClass Id -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && trainingClass.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-2">
                                        <label class="control-label" for="trainingClass">{{CLASS_ID['fieldValue']}}</label>
                                        <span *ngIf="CLASS_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="trainingClass" [(ngModel)]="model.trainingClassList[0].id"
                                            #trainingClass="ngModel" title="{{CLASS_ID['fieldValue']}}" [required]="CLASS_ID['isMandatory']" (change)="changeTrainingClass($event)">
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option *ngFor="let class of AllTrainingClass" value="{{class.id}}" [selected]="class.id == model.trainingClassList[0].id">{{class.classId }}</option>
                                        </select>
                                        <div *ngIf="f.submitted && trainingClass.value==0">
                                            <div [hidden]="!trainingClass.value==0">
                                                {{CLASS_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" style="margin-left: -31px;" disabled value="{{TrainingClassDesc}}" [ngClass]="'form-control fm-txt'" />
                                    </div>
                                </div>
                            </div>

                            <!-- selectedEmployes Id -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && selectedEmployes.value=='' ,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-2">
                                        <label class="control-label" for="selectedEmployes">{{EMPLOYEES['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEES['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="selectedEmployes" [(ngModel)]="model.selectedEmployes"
                                            #selectedEmployes="ngModel" title="{{EMPLOYEES['fieldValue']}}" (change)="changeEmployee($event)">
                                            <option value="" selected="selected">-- Select --</option>
                                            <option value="Department ID">Department</option>
                                            <option value="Division ID">Division</option>
                                            <option value="Position ID">Position</option>
                                            <!-- <option *ngFor="let employee of AllEmployeeMaster" value="{{employee.id}}" [selected]="employee.id == model.selectedEmployes">{{employee?.employeeFirstName}} {{employee?.employeeLastName}}</option> -->
                                        </select>
                                        <div *ngIf="f.submitted && selectedEmployes.value==''">
                                            <div [hidden]="!selectedEmployes.value==''">
                                                {{EMPLOYEES['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && !courseComments.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-2">
                                        <label class="control-label" for="">{{model.selectedEmployes ? model.selectedEmployes : '@'+PARAMERER['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" style="width: 100%" [ngClass]="'search-id form-control'" name="courseComments" [(ngModel)]="model.courseComments" #courseComments="ngModel"
                                            title="{{PARAMERER['helpMessage']}}" maxlength="21"
                                                [typeahead]="itemsList" (typeaheadLoading)="changeTypeaheadLoading($event,courseComments.value)" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)" [typeaheadOptionField]="fieldval"/>

                                        <div *ngIf="f.submitted && courseComments.invalid">
                                            <div [hidden]="!courseComments.errors.required">
                                                {{PARAMERER['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!courseComments.errors?.maxlength" *ngIf="SELECTED_EMPLOYEES['listDtoFieldValidationMessage'][1]">
                                                {{PARAMERER['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" style="margin-left: -31px;" disabled [ngClass]="'form-control fm-txt'" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-5">

                                    <div class="algo-table">
                                        <div class="table-responsive">
                                            <ngx-datatable id="TrainingCourseGrid1" class="material" [rows]="AllEmployees" [columnMode]="'force'" [headerHeight]="50"
                                                [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false" [selected]="selectedAllEmployees"
                                                [selectionType]="'checkbox'" (select)='onSelectAllEmployees($event)' [scrollbarH]="true">

                                                <!-- Data Grid checkbox -->
                                                <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                                    [checkboxable]="true">
                                                </ngx-datatable-column>

                                                <!-- Data Grid employeeFirstName -->
                                                <ngx-datatable-column name="employeeFirstName" [sortable]="true" [width]="300" [canAutoResize]="false" [draggable]="false"
                                                    [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        <span (click)="sortColumn('employeeFirstName')">{{ALL_EMPLOYEES['fieldValue']}}</span>
                                                    </ng-template>
                                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                                        {{value}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-2" style="height: 100%; text-align: center;margin-top:50px;">
                                    <button type="button" (click)="moveToSelected()" style="font-size: 25px;margin: 2px;">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </button>
                                    <div class="clearfix"></div>
                                    <button type="button" (click)="moveToAllEmployee()" style="font-size: 25px;margin: 2px;">
                                        <i class="fa fa-long-arrow-left"></i>
                                    </button>
                                </div>
                                <div class="col-md-5">

                                    <div class="algo-table">
                                        <div class="table-responsive">
                                            <ngx-datatable id="TrainingCourseGrid1" class="material" [rows]="SelectedEmployees" [columnMode]="'force'" [headerHeight]="50"
                                                [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false" [selected]="selectedSelectedEmployees"
                                                [selectionType]="'checkbox'" (select)='onSelectSelectedEmployees($event)' [scrollbarH]="true">

                                                <!-- Data Grid checkbox -->
                                                <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                                    [checkboxable]="true">
                                                </ngx-datatable-column>

                                                <!-- Data Grid employeeFirstName -->
                                                <ngx-datatable-column name="employeeFirstName" [sortable]="true" [width]="300" [canAutoResize]="false" [draggable]="false"
                                                    [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        <span (click)="sortColumn('employeeFirstName')">{{SELECTED_EMPLOYEES['fieldValue']}}</span>
                                                    </ng-template>
                                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                                        {{value}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                        </div>
                                    </div>


                                </div>



                            </div>

                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">

                                            <button [ngClass]="'grey-btn'" *ngIf="!model.id">{{SAVE['fieldValue']}}</button>
                                            <button [ngClass]="'grey-btn'" *ngIf="model.id">{{UPDATE['fieldValue']}}</button>
                                            <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{CLEAR['fieldValue']}}</button>
                                            <button [ngClass]="'blue-btn'" (click)="Cancel();">Cancel</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Create / Update Form Ends -->
                </div>
            </div>
        </section>
    </section>
</div>
