<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DELETE['helpMessage']}}">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_CREATE_LABEL['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_SEARCH_LABEL['helpMessage']}}" placeholder="{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_SEARCH_LABEL['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                </div>
                <div class="algo-table algo-table-department">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="DepartmentGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <!-- Data Grid Department Id -->
                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div 
                                            [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>  
                                </div>
                            </div>
                            <!-- <ngx-datatable-column name="defaultID" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('defaultID')">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DEFAULT_ID['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    {{row.defaultID}}
                                </ng-template>
                            </ngx-datatable-column>

                            
                            <ngx-datatable-column name="desc" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('desc')">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DESCRIPTION['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>

                            
                            <ngx-datatable-column name="arabicDesc" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('arabicDesc')">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_ARABIC_DESCRIPTION['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column> -->

                            <!-- Data Grid Action -->
                        <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column> 
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view table-view-fix">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>
                    <button [ngClass]="'blue-btn'" (click)="varifyDelete()" type="button">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DELETE['fieldValue']}}</button>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model.id">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_CREATE_LABEL['fieldValue']}}&nbsp;{{moduleName}}</h3>
                            <h3 *ngIf="model.id">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_UPDATE['fieldValue']}}&nbsp;{{moduleName}}</h3>
                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>

                        <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateDefault(f, $event)" #f="ngForm" novalidate>


                                <!-- Department Id field -->
								
                                
                                <div *ngIf="isUnderUpdate; then update else create"></div>
                                <ng-template #update>
									<div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label class="control-label" for="defaultId">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DEFAULT_ID['fieldValue']}}</label>
                                            <span *ngIf="BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DEFAULT_ID['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'"  name="defaultId" value="{{defaultIdvalue}}"
                                                title="{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_SEARCH_LABEL['helpMessage']}}" maxlength="15" 
                                                [required]="BUILD_PAYROLL_CHECK_DEFAULT_SETUP_SEARCH_LABEL['isMandatory']" [readonly]="!BUILD_PAYROLL_CHECK_DEFAULT_SETUP_SEARCH_LABEL['writeAccess']"  />
                                            
                                        </div>
                                    </div>
									</div>
                                    </ng-template> 

                                    <ng-template #create>
									<div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'has-error': f.submitted && !defaultId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label class="control-label" for="defaultId">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DEFAULT_ID['fieldValue']}}</label>
                                            <span *ngIf="BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DEFAULT_ID['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'"  name="defaultId" [(ngModel)]="model.defaultID" class="search-id" #defaultId="ngModel" autocomplete="off"
                                                   title="{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DEFAULT_ID['helpMessage']}}" maxlength="15" 
                                                   [required]="BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DEFAULT_ID['isMandatory']" [typeahead]="defaultIdList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="defaultID" />
                                            <div *ngIf="f.submitted && defaultId.invalid">
                                                <div [hidden]="!defaultId.errors.required">
                                                    {{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DEFAULT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
									</div>
                                    </ng-template>


                                

                                <!-- Department Description Field -->
                                <div [ngClass]="'form-group'">
                                    <div [ngClass]="{'has-error': f.submitted && !desc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="desc">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DESCRIPTION['fieldValue']}}</label>
                                            <span *ngIf="BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DESCRIPTION['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model.desc"
                                                #desc="ngModel" title="{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DESCRIPTION['helpMessage']}}"
                                                [required]="BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DESCRIPTION['isMandatory']" maxlength="90" />
                                            <div *ngIf="f.submitted && desc.invalid">
                                                <div [hidden]="!desc.errors.required">
                                                    {{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Arabic department description -->
                                <div [ngClass]="'form-group'">
                                    <div [ngClass]="{'has-error': f.submitted && !arabicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="arabicDesc">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_ARABIC_DESCRIPTION['fieldValue']}}</label>
                                            <span *ngIf="BUILD_PAYROLL_CHECK_DEFAULT_SETUP_ARABIC_DESCRIPTION['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-8 arabic-mode">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDesc" [(ngModel)]="model.arabicDesc"
                                                #arabicDesc="ngModel" title="{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_ARABIC_DESCRIPTION['helpMessage']}}"
                                                maxlength="140" [required]="BUILD_PAYROLL_CHECK_DEFAULT_SETUP_ARABIC_DESCRIPTION['isMandatory']" />
                                            <div *ngIf="f.submitted && arabicDesc.invalid">
                                                <div [hidden]="!arabicDesc.errors.required">
                                                    {{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div [ngClass]="'button-row'">
                                    <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                        <div [ngClass]="'col-xs-12'">
                                            <span class="pull-right">
                                                
                                                <button *ngIf="model.id" [ngClass]="'grey-btn'">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_UPDATE['fieldValue']}}</button>
                                                <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_SAVE['fieldValue']}}</button>
                                                <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_CLEAR['fieldValue']}}</button>
                                                <button [ngClass]="'blue-btn'" type="button" (click)="showCreateForm=false">{{BUILD_PAYROLL_CHECK_DEFAULT_SETUP_CANCEL['fieldValue']}}</button>
                                                
                                            </span>
                                        </div>
                                    </div>
                                </div>

                        </form>
                    </div>
                    <!-- Create Update form ends -->
                </div>
            </div>
        </section>
    </section>
</div>
