
<div class="modal"  *ngIf="isModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{accountNumberTitleLabel}}
    </div>
    <div class="modal-body">
      	<span *ngFor="let segment of arrSegment;let i=index; let j=index;">
																<input id="txtfirstSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
																  (blur)="fetchFirstAccountIndexInfo(j)" *ngIf="j==0" style="width:65px" />
																   <input id="txtSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
																  (blur)="fetchOtherAccountIndexInfo(j)" *ngIf="j > 0" style="width:65px"  [disabled]='segment.isReadOnly'/> 
															      <i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus"
																      style="float: left;padding: 3px 0px;" *ngIf="j + 1 != arrSegment.length"></i>	
															</span>
    </div>
    <div class="modal-footer">
           <button class="orange-btn-sm" (click)='createNewGlAccountNumber()'>{{createAccountNumberLabel}}</button>
					 <button class="blue-btn-sm" (click)='closeModal()'>{{btnCancelLabel}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper user-view">
    <section class="content">
		
		<!--<pre>{{defaultFormValues|json}}</pre>-->
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<!--<pre>{{gridDefaultFormValues|json}}</pre>-->
            <section class="inner-content">
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
						<form class="search-batch" name="FaPurchasing" (ngSubmit)="FaPurchasing.form.valid && save(FaPurchasing)" #FaPurchasing="ngForm" novalidate>
							 						
						
						
						<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': FaPurchasing.submitted && classId.length == 0 }">
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
										<div class="select-outer">
											 <!--<select class="form-control" title="{{defaultFormValues[0]['helpMessage']}}" name='classId' [(ngModel)]="faPostingSetup.classId"  #classId="ngModel" required>
												<option value="">--{{select}}--</option>
												<option *ngFor="let a of getClass" [value]="a.classId">{{a.classId}}</option>
											</select>-->
										<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrClassId" [(ngModel)]="classId" id="classId" [ngModelOptions]="{standalone: true}"
                                       [settings]="ddlClassIdSetting" 
									 (onSelect)="getClassByID($event)" (ngModelChange)="getAccountNumber($event)" (onDeSelect)="OnClassIdDeSelect($event)"></angular2-multiselect>
										</div> 
										<div *ngIf="FaPurchasing.submitted && classId.length == 0">
											<div class='error-msg'>
												{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
										</div>
								</div>
							</div><!-- Form Row Ends -->
							
							<div class="form-row">                            
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{ 'has-error': FaPurchasing.submitted && accountTableRowIndex.length == 0  }">
                              <label>{{defaultFormValues[1]['fieldValue']}}</label>
                              <div class="select-outer">
									<!--<select myAutofocus class="form-control auto-focus" title="{{defaultFormValues[1]['helpMessage']}}" name='accountTableRowIndex' [(ngModel)]="faPostingSetup.accountTableRowIndex"  #accountTableRowIndex="ngModel" required>
										<option value="">--{{select}}--</option>
										<option *ngFor="let g of getAccountList" [value]="g.accountTableRowIndex">{{g.accountNumber}}</option>
									</select>-->
									<angular2-multiselect  required [ngClass]="'form-control fm-txt'" [data]="ArrAccountNoId" [(ngModel)]="accountTableRowIndex" id="accountTableRowIndex"[ngModelOptions]="{standalone: true}"
                                       [settings]="ddlAccountNoIdSetting" 
									 (onSelect)="getAccountNoByID($event)" (onDeSelect)="OnAccountNoDeSelect($event)"></angular2-multiselect>
									  
								</div> 
								<div *ngIf="FaPurchasing.submitted && accountTableRowIndex.length == 0 ">
									<div class='error-msg'>
										{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								</div>  
                            </div>
							<a  class="add-ico-tb">
										  <i class="fa fa-plus-circle" aria-hidden="true" (click)="openAccountWindow()"></i>
									   </a>
                        </div><!-- Form Row Ends -->
							<div class="button-row">
								<div class="col-sm-12">
									<input type="submit" [disabled]="LockScreen(defaultFormValues[2]['writeAccess'])" 
									title="{{defaultFormValues[2]['helpMessage']}}" value="{{defaultFormValues[2]['fieldValue']}}" class="orange-btn">
									<input type="button" title="{{defaultFormValues[3]['helpMessage']}}" style="margin-left:18px" (click)="clear(FaPurchasing)" class="blue-btn" value="{{defaultFormValues[3]['fieldValue']}}"/>
								</div>
							</div>
						</form>
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<!--<style>
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
</style>-->