<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>Field Management</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">

                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <!--<h3> {{screenName}}</h3>-->
                    <!--<div *ngIf="showloader" class="loader">-->
                    <!--</div>-->
                </div>
                <!-- Content Heading Ends -->
                <!--<div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">-->
                <!--{{messageText}}-->
                <!--</div>-->

                <div class="form-row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="role-tabs">
                            <div>
                                <div class="tab-pane fade in">
                                    <div class="tb-heading">
                                        <h3>Manage Fields</h3>
                                        <ul class="permission-list">
                                            <li>Is Mandatory</li>
                                            <li>Keyboard Input</li>
                                        </ul>
                                    </div>
                                    <ul class="cd-accordion-menu animated">
                                        <li class="has-children" *ngFor="let module of LstScreenModule;let i = index">
                                            <input type="checkbox" name="group-{{module.moduleId}}" id="group-{{module.moduleId}}">
                                            <div class="permission-list">
                                                <span><input type="checkbox" [checked]="value" [(ngModel)]="module.isMandatory" (change)='SelectModule(module.moduleId, "IsMandatory", $event)' /></span>
                                                <span>
                                                    <select [value]="value" [(ngModel)]="module.languageId" (change)='SelectModule(module.moduleId, "Keyboard", $event)'>
                                                        <option *ngFor="let language of arrLanguage" [value]="language.languageId">
                                                            {{language.languageName}}
                                                        </option>
                                                    </select>
                                                </span>
                                            </div>
                                            <label for="group-{{module.moduleId}}" (click)="showHideGroup(module.moduleId,'Level1','Module')"><b>{{module.moduleName}}</b></label>
                                            <ul id='ul_{{module.moduleId}}'>
                                                <li class="has-children" *ngFor="let Screen of module.screensList;let j = index">
                                                    <input type="checkbox" name="sub-group-{{Screen.screenId}}" id="sub-group-{{Screen.screenId}}">
                                                    <div class="permission-list">
                                                        <span><input type="checkbox" [checked]="value" [(ngModel)]="Screen.isMandatory" (change)='SelectScreen(module.moduleId, "IsMandatory", $event)' /></span>
                                                        <span>
                                                            <select [value]="value" [(ngModel)]="Screen.languageId" (change)='SelectScreen(module.moduleId, "Keyboard", $event)'>
                                                                <option *ngFor="let language of arrLanguage" [value]="language.languageId">
                                                                {{language.languageName}}
                                                                </option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                    <label  for="sub-group-{{Screen.screenId}}" (click)="showHideGroup(Screen.screenId,'Level2','Module')"><b>{{Screen.screenName}}</b> </label>
                                                    <ul id='ulsubgroup_{{Screen.screenId}}'>
                                                        <li *ngFor="let field of Screen.fieldList; let i = index; let row = value" [attr.data-index]="i">
                                                            <input  type="checkbox" name="sub-group-level-{{field.fieldId}}" id="sub-group-level-{{field.fieldId}}" >
                                                            <div class="permission-list">
                                                                <span><input type="checkbox" [checked]="value" [(ngModel)]="field.isMandatory" (change)='onSelect($event, field, i)'/></span>
                                                                <span>
                                                                    <select [value]="value" [(ngModel)]="field.languageId" (change)='onLanguageSelect($event ,field, i)'>
                                                                        <option *ngFor="let language of arrLanguage" [value]="language.languageId">
                                                                            {{language.languageName}}
                                                                        </option>
                                                                    </select>
                                                                </span>
                                                            </div>
                                                            <label class="childrenField" for="sub-group-level-{{field.fieldId}}">{{field.fieldName}}</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="row">
                                        <div class="button-row">
                                            <div class="col-sm-12">
                                                <button class="orange-btn" title="" (click)="saveFieldAccess(); changeStatus(); changeLanguages()">Save</button>
                                                <button class="orange-btn" title="" (click)="changeStatus()">Change Mandatory</button>
                                                <button class="orange-btn" title="" (click)="changeLanguages()">Change Language</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>