<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2> {{moduleName}}</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- Content Outer Starts -->
            <div class="content-outer com-form">
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <h3> {{screenName}}</h3> 
                    <div *ngIf="showloader" class="loader">
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                
                <div class="form-row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="role-tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#RoleModule">{{defaultFormValues[0]['fieldValue']}}</a></li>
                                <li *ngIf="model.accessRoleId"><a data-toggle="tab" href="#module" >{{defaultFormValues[1]['fieldValue']}}</a></li>
                                <!-- <li><a data-toggle="tab" href="#Transactions" >{{defaultFormValues[2]['fieldValue']}}</a></li>
                                    <li><a data-toggle="tab" href="#report" >{{defaultFormValues[3]['fieldValue']}}</a></li> -->
                                </ul>
                                <div class="tab-content">
                                    <div id="RoleModule" class="tab-pane fade in active">
                                        <!--form starts-->
                                        <form (ngSubmit)="f.form.valid && CreateRole(f)" #f="ngForm" novalidate>
                                            <fieldset [disabled]="isScreenLock">
                                                <div class="form-row">
                                                    <div *ngIf="defaultFormValues[4]['readAccess']" class="col-md-6 col-sm-6 col-xs-12"
                                                    [ngClass]="{ 'has-error': f.submitted && !roleName.valid }">
                                                    <label for="roleName">{{defaultFormValues[4]['fieldValue']}}</label>
                                                    <input type="text" class="form-control fm-txt" name="roleName" title="{{defaultFormValues[4]['helpMessage']}}"
                                                    [(ngModel)]="model.roleName" [readonly]="!defaultFormValues[4]['writeAccess']" 
                                                    #roleName="ngModel" myAutofocus maxlength="25" required />
                                                    <div *ngIf="f.submitted && roleName.invalid">
                                                        <div class='error-msg' *ngIf="roleName.errors.required">
                                                            {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                        <div class='error-msg' *ngIf="roleName.errors.maxlength">
                                                            {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[4]['readAccess']">
                                                    <label for="roleDescription">{{defaultFormValues[5]['fieldValue']}}</label>
                                                    <textarea class="form-control fm-txt" name="roleDescription" title="{{defaultFormValues[5]['helpMessage']}}" [(ngModel)]="model.roleDescription"
                                                    #roleDescription="ngModel" [readonly]="!defaultFormValues[5]['writeAccess']"  maxlength="250"></textarea>
                                                    
                                                    <div *ngIf="f.submitted && roleDescription.invalid">
                                                        <div class='error-msg' *ngIf="roleDescription.errors.maxlength">
                                                            {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <div class="row">
                                            <div class="button-row">
                                                <div class="col-sm-12">
                                                    <button class="orange-btn" *ngIf="defaultFormValues[6]['readAccess']" [disabled]="LockScreen(defaultFormValues[6]['writeAccess'])" title="{{defaultFormValues[6]['helpMessage']}}">{{defaultFormValues[6]['fieldValue']}}</button>
                                                    <button class="blue-btn" *ngIf="defaultFormValues[7]['readAccess']" title="{{defaultFormValues[7]['helpMessage']}}" [routerLink]="['/role']">{{defaultFormValues[7]['fieldValue']}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!--form ends-->
                                </div>
                                <div id="module" class="tab-pane fade in">
                                    <!--<pre>  {{LstScreenModule | json}}</pre>-->
                                    <div class="tb-heading">
                                        <h3>{{defaultFormValues[1]['fieldValue']}}</h3>
                                        <ul class="permission-list">
                                            <li>{{defaultFormValues[8]['fieldValue']}}</li>
                                            <li>{{defaultFormValues[9]['fieldValue']}}</li>
                                            <li>{{defaultFormValues[10]['fieldValue']}}</li>
                                        </ul>
                                    </div>
                                    <ul class="cd-accordion-menu animated">
                                        <div *ngIf="showloader2" class="loader">
                                        </div>
                                        <li class="has-children" *ngFor="let module of LstScreenModule;let i = index">
                                            <input type="checkbox" name="group-{{module.moduleId}}" id="group-{{module.moduleId}}">
                                            <div class="permission-list">
                                                <span><input type="checkbox" [checked]="module.readAccess" [(ngModel)]="module.readAccess" (change)="SelectModule(module.moduleId,'Read',$event)"/></span>
                                                <span><input type="checkbox" [checked]="module.writeAccess"  [(ngModel)]="module.writeAccess" (change)="SelectModule(module.moduleId,'Write',$event)" /></span>
                                                <span><input type="checkbox" [checked]="module.deleteAccess" [(ngModel)]="module.deleteAccess" (change)="SelectModule(module.moduleId,'Delete',$event)" /></span>
                                            </div>
                                            <label for="group-{{module.moduleId}}" (click)="showHideGroup(module.moduleId,'Level1','Module')"><b>{{module.moduleName}}</b></label>
                                            <ul id='ul_{{module.moduleId}}'>
                                                
                                                <li class="has-children" *ngFor="let Screen of module.screensList;let j = index">
                                                    <input type="checkbox" name="sub-group-{{Screen.screenId}}" id="sub-group-{{Screen.screenId}}">
                                                    <div class="permission-list">
                                                        <span><input type="checkbox"  [checked]="Screen.readAccess" [(ngModel)]="Screen.readAccess" (change)="SelectScreen(Screen.screenId,'Read',$event)" /></span>
                                                        <span><input type="checkbox"  [checked]="Screen.writeAccess" [(ngModel)]="Screen.writeAccess" (change)="SelectScreen(Screen.screenId,'Write',$event)" /></span>
                                                        <span><input type="checkbox"  [checked]="Screen.deleteAccess" [(ngModel)]="Screen.deleteAccess" (change)="SelectScreen(Screen.screenId,'Delete',$event)" /></span>
                                                    </div>
                                                    <label  for="sub-group-{{Screen.screenId}}" (click)="showHideGroup(Screen.screenId,'Level2','Module')"><b>{{Screen.screenName}}</b> </label>
                                                    <ul id='ulsubgroup_{{Screen.screenId}}'>
                                                        <li  *ngFor="let field of Screen.fieldList">
                                                            <input  type="checkbox" name="sub-group-level-{{field.fieldId}}" id="sub-group-level-{{field.fieldId}}">
                                                            <div class="permission-list">
                                                                <span><input type="checkbox" [checked]="field.readAccess" [(ngModel)]="field.readAccess" /></span>
                                                                <span><input type="checkbox" [checked]="field.writeAccess" [(ngModel)]="field.writeAccess" /></span>
                                                                <span><input type="checkbox" [checked]="field.deleteAccess" [(ngModel)]="field.deleteAccess" /></span>
                                                            </div>
                                                            <label class="childrenField" for="sub-group-level-{{field.fieldId}}">{{field.fieldName}}</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="row">
                                        <div class="button-row">
                                            <div class="col-sm-12">
                                                <button class="orange-btn" title="{{defaultFormValues[6]['helpMessage']}}"  [disabled]="LockScreen(defaultFormValues[6]['writeAccess'])" (click)="SaveorUpdateAccessRoleScreenAccess()">{{defaultFormValues[6]['fieldValue']}}</button>
                                                <button class="blue-btn" title="{{defaultFormValues[7]['helpMessage']}}" [routerLink]="['/role']">{{defaultFormValues[7]['fieldValue']}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Transactions" class="tab-pane fade">
                                    <div class="tb-heading">
                                        <h3>{{defaultFormValues[2]['fieldValue']}}</h3>
                                        <ul class="permission-list">
                                            <li>{{defaultFormValues[11]['fieldValue']}}</li>
                                            <li>{{defaultFormValues[12]['fieldValue']}}</li>
                                            <li>{{defaultFormValues[10]['fieldValue']}}</li>
                                        </ul>
                                    </div>
                                    <ul class="cd-accordion-menu animated">
                                        <li class="has-children" *ngFor="let module of LstTransactionModule;let i = index">
                                            <input type="checkbox" name="Transactiongroup-{{module.moduleId}}"
                                            id="Transactiongroup-{{module.moduleId}}">
                                            <div class="permission-list">
                                                <span><input type="checkbox" [checked]="module.viewAccess" [(ngModel)]="module.viewAccess"  /></span>
                                                <span><input type="checkbox" [checked]="module.postAccess" [(ngModel)]="module.postAccess" /></span>
                                                <span><input type="checkbox" [checked]="module.deleteAccess" [(ngModel)]="module.deleteAccess"  /></span>
                                            </div>
                                            <label for="Transactiongroup-{{module.moduleId}}" (click)="showHideGroup(module.moduleId,'Level1','Transaction')"><b>{{module.moduleName}}</b></label>
                                            <ul id='TR_{{module.moduleId}}'>
                                                <li class="has-children" *ngFor="let transactionType of module.transactionTypeList;let j = index">
                                                    <input type="checkbox" name="sub-transactiongroup-{{transactionType.transactionTypeId}}"
                                                    id="sub-transactiongroup-{{transactionType.transactionTypeId}}">
                                                    <div class="permission-list">
                                                        <span><input type="checkbox" [checked]="transactionType.viewAccess" [(ngModel)]="transactionType.viewAccess" /></span>
                                                        <span><input type="checkbox" [checked]="transactionType.postAccess" [(ngModel)]="transactionType.postAccess" /></span>
                                                        <span><input type="checkbox" [checked]="transactionType.deleteAccess" [(ngModel)]="transactionType.deleteAccess"  /></span>
                                                    </div>
                                                    <label for="sub-transactiongroup-{{transactionType.transactionTypeId}}" (click)="showHideGroup(transactionType.transactionTypeId,'Level2','Transaction')"><b>{{transactionType.transactionTypeName}}</b> </label>
                                                    <ul id='TRSubGroup_{{transactionType.transactionTypeId}}'>
                                                        <li class="has-children" *ngFor="let list of transactionType.transactionsList">
                                                            <input type="checkbox" name="sub-transactionsListgroup-level-{{list.transactionId}}"
                                                            id="sub-transactionsListgroup-level-{{list.transactionId}}">
                                                            <div class="permission-list">
                                                                <span><input type="checkbox" [checked]="list.viewAccess" [(ngModel)]="list.viewAccess" /></span>
                                                                <span><input type="checkbox" [checked]="list.postAccess" [(ngModel)]="list.postAccess" /></span>
                                                                <span><input type="checkbox" [checked]="list.deleteAccess" [(ngModel)]="list.deleteAccess"  /></span>
                                                            </div>
                                                            <label for="sub-transactionsListgroup-level-{{list.transactionId}}">{{list.transactionName}}</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="row">
                                        <div class="button-row">
                                            <div class="col-sm-12">
                                                <button class="orange-btn" title="{{defaultFormValues[5]['helpMessage']}}" [disabled]="LockScreen(defaultFormValues[6]['writeAccess'])" (click)="SaveorUpdateAccessTransactionScreenAccess()">{{defaultFormValues[6]['fieldValue']}}</button>
                                                <button class="blue-btn" title="{{defaultFormValues[7]['helpMessage']}}" [routerLink]="['/role']">{{defaultFormValues[7]['fieldValue']}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="report" class="tab-pane fade">
                                    <div class="tb-heading">
                                        <h3>{{defaultFormValues[3]['fieldValue']}}</h3>
                                        <ul class="permission-list">
                                            <li>{{defaultFormValues[11]['fieldValue']}}</li>
                                            <li>{{defaultFormValues[13]['fieldValue']}}</li>
                                            <li>{{defaultFormValues[14]['fieldValue']}}</li>
                                        </ul>
                                    </div>
                                    <ul class="cd-accordion-menu animated">
                                        <li class="has-children" *ngFor="let module of LstReportModule;let i = index">
                                            <input type="checkbox" name="reportgroup-{{module.moduleId}}"
                                            id="reportgroup-{{module.moduleId}}">
                                            <div class="permission-list">
                                                <span><input type="checkbox" [checked]="module.viewAccess" [(ngModel)]="module.viewAccess" /></span>
                                                <span><input type="checkbox" [checked]="module.exportAccess" [(ngModel)]="module.exportAccess" /></span>
                                                <span><input type="checkbox" [checked]="module.emailAccess" [(ngModel)]="module.emailAccess"  /></span>
                                            </div>
                                            <label for="reportgroup-{{module.moduleId}}" (click)="showHideGroup(module.moduleId,'Level1','Report')"><b>{{module.moduleName}} </b></label>
                                            <ul id='Rpt_{{module.moduleId}}'>
                                                <li class="has-children" *ngFor="let reportType of module.reportCategoryList;let j = index">
                                                    <input type="checkbox" name="sub-reportgroup-{{reportType.reportCategoryId}}"
                                                    id="sub-reportgroup-{{reportType.reportTypeId}}">
                                                    <div class="permission-list">
                                                        <span><input type="checkbox" [checked]="reportType.viewAccess" [(ngModel)]="reportType.viewAccess" /></span>
                                                        <span><input type="checkbox" [checked]="reportType.exportAccess" [(ngModel)]="reportType.exportAccess" /></span>
                                                        <span><input type="checkbox" [checked]="reportType.emailAccess" [(ngModel)]="reportType.emailAccess"  /></span>
                                                    </div>
                                                    <label for="sub-reportgroup-{{reportType.reportTypeId}}" (click)="showHideGroup(reportType.reportTypeId,'Level2','Report')"><b>{{reportType.reportCategoryName}} -  {{reportType.reportList.length}}</b> </label>
                                                    <ul id='RptSubGroup_{{reportType.reportTypeId}}}'>
                                                        <li class="has-children" *ngFor="let list of reportType.reportList">
                                                            <input type="checkbox" name="sub-reportListgroup-level-{{list.reportId}}"
                                                            id="sub-reportListgroup-level-{{list.reportId}}">
                                                            <div class="permission-list">
                                                                <span><input type="checkbox" [checked]="list.viewAccess" [(ngModel)]="list.viewAccess" /></span>
                                                                <span><input type="checkbox" [checked]="list.exportAccess" [(ngModel)]="list.exportAccess" /></span>
                                                                <span><input type="checkbox" [checked]="list.emailAccess" [(ngModel)]="list.emailAccess"  /></span>
                                                            </div>
                                                            <label for="sub-reportgroup-level-{{list.reportId}}">{{list.reportName}} </label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul> 
                                    <div class="row">
                                        <div class="button-row">
                                            <div class="col-sm-12">
                                                <button class="orange-btn" title="{{defaultFormValues[6]['helpMessage']}}" [disabled]="LockScreen(defaultFormValues[6]['writeAccess'])" (click)="SaveorUpdateAccessReportScreenAccess()">{{defaultFormValues[6]['fieldValue']}}</button>
                                                <button class="blue-btn" title="{{defaultFormValues[7]['helpMessage']}}" [routerLink]="['/role']">{{defaultFormValues[7]['fieldValue']}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Outer Ends -->
        </section>
    </section>
</div>
<!--<footer class="main-footer">
    @ 2017 BIT. All rights reserved.
</footer>-->