<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{SKILLS_SETUP_CREATE_LABEL['fieldValue']}}">{{SKILLS_SETUP_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{SKILLS_SETUP_SEARCH['helpMessage']}}" placeholder="{{SKILLS_SETUP_SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>

        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="SkillsSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">
              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                    </div>
            </div>

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{SKILLS_SETUP_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>{{SKILLS_SETUP_TABLEVIEW['fieldValue']}}</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option *ngFor="let tv of tableViews" [value]="tv.id">{{tv.name}}</option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{SKILLS_SETUP_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
              <h3 *ngIf="!model.id">{{SKILLS_SETUP_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{SKILLS_SETUP_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div class="col-md-12 mt-30"></div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && islifeTimeValid && frequency.value!=0 && CreateSkillsSetup(f, $event)"
              #f="ngForm" novalidate>

              <!-- SkillsSteup Id field -->
              <div class="form-group">

                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #update>
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label for="skillId">{{SKILLS_SETUP_ID['fieldValue']}}</label>
                      <span *ngIf="SKILLS_SETUP_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="skillId" value="{{skillIdvalue}}" (keyup)="CheckNumber($event)"
                        title="{{SKILLS_SETUP_ID['helpMessage']}}" [readonly]="SKILLS_SETUP_ID['readAccess']" />
                    </div>
                  </div>
                </ng-template>
                <ng-template #create>
                  <div [ngClass]="{ 'has-error': f.submitted && !skillId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="skillId">{{SKILLS_SETUP_ID['fieldValue']}}</label>
                      <span *ngIf="SKILLS_SETUP_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="skillId" [(ngModel)]="model.skillId" #skillId="ngModel" title="{{SKILLS_SETUP_ID['helpMessage']}}"
                        maxlength="15" [required]="SKILLS_SETUP_ID['isMandatory']" class="search-id" [typeahead]="skillIdList"
                        (typeaheadLoading)="changeTypeaheadLoading($event)" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                        typeaheadOptionField="skillId" />
                      <div *ngIf="f.submitted && skillId.invalid">
                        <div [hidden]="!skillId.errors.required">
                          {{SKILLS_SETUP_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!skillId.errors?.maxlength" *ngIf="SKILLS_SETUP_ID['listDtoFieldValidationMessage'][1]">
                          {{SKILLS_SETUP_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>

              <!-- SkillsSteup Description Field -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !skillDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="skillDesc">{{SKILLS_SETUP_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="SKILLS_SETUP_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="skillDesc" [(ngModel)]="model.skillDesc" #skillDesc="ngModel"
                      title="{{SKILLS_SETUP_DESCRIPTION['helpMessage']}}" [required]="SKILLS_SETUP_DESCRIPTION['isMandatory']"
                      maxlength="31" />
                    <div *ngIf="f.submitted && skillDesc.invalid">
                      <div [hidden]="!skillDesc.errors.required">
                        {{SKILLS_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!skillDesc.errors?.maxlength" *ngIf="SKILLS_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{SKILLS_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Arabic location description -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !arabicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="arabicDesc">{{SKILLS_SETUP_ARABIC_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="SKILLS_SETUP_ARABIC_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDesc" [(ngModel)]="model.arabicDesc" #arabicDesc="ngModel"
                      title="{{SKILLS_SETUP_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61" [required]="SKILLS_SETUP_ARABIC_DESCRIPTION['isMandatory']"
                    />
                    <div *ngIf="f.submitted && arabicDesc.invalid">
                      <div [hidden]="!arabicDesc.errors.required">
                        {{SKILLS_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!arabicDesc.errors?.maxlength" *ngIf="SKILLS_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{SKILLS_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- frequency -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && frequency.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="frequency">{{SKILLS_SETUP_FREQUENCY['fieldValue']}}</label>
                    <span *ngIf="SKILLS_SETUP_FREQUENCY['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select [ngClass]="'form-control fm-txt'" name="frequency" [(ngModel)]="model.frequency" #frequency="ngModel" title="{{SKILLS_SETUP_FREQUENCY['helpMessage']}}"
                      [required]="SKILLS_SETUP_FREQUENCY['isMandatory']" (change)="checkFrequency($event);">
                      <option value="0" selected>-- Select Pay Period --</option>
                      <option *ngFor="let frequency of frequencies" [value]="frequency.id">{{frequency.name}}</option>
                    </select>
                    <div *ngIf="f.submitted && frequency.value==0">
                      <div [hidden]="frequency.value!=0">
                        {{SKILLS_SETUP_FREQUENCY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- compensation -->
              <div class="form-group">
                <div [ngClass]="{'has-error': (f.submitted && !compensation.valid) ||  !islifeTimeValid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="compensation">{{SKILLS_SETUP_COMPENSATION['fieldValue']}}</label>
                    <span *ngIf="SKILLS_SETUP_COMPENSATION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="number" [ngClass]="'form-control fm-txt'" name="compensation" [(ngModel)]="model.compensation" #compensation="ngModel"
                      title="{{SKILLS_SETUP_COMPENSATION['fieldValue']}}" maxlength="11" (keyup)="checkdecimal(compensation.value)"
                      min="1" [required]="SKILLS_SETUP_COMPENSATION['isMandatory']" onkeypress="return check_digit(event,this,10,3);"
                    />
                    <div *ngIf="(f.submitted && compensation.invalid) ||  !islifeTimeValid ">
                      <div [hidden]="!islifeTimeValid && !compensation.errors?.required">
                        {{SKILLS_SETUP_COMPENSATION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div *ngIf="!islifeTimeValid">
                        {{SKILLS_SETUP_COMPENSATION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{SKILLS_SETUP_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{SKILLS_SETUP_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)" (click)="islifeTimeValid=true">{{SKILLS_SETUP_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="islifeTimeValid=true" (click)="showCreateForm = false;">{{SKILLS_SETUP_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
