<div class="content-wrapper user-view">
  <section class="content">
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
    </div>
    <div class="inner-content">
      <div class="content-outer com-form">

        <!-- Erro message div -->
        <div *ngIf="hasMsg" class="col-md-12 btiMsg alert"
          [ngClass]="{'alert-success':isSuccessMsg , 'alert-danger':isfailureMsg,'showAlert':showMsg}">
          {{messageText}}
        </div>

        <div class="row">
          <form id="PaymentVaoucher" #f="ngForm">
            <div class="col-md-6= col-sm-6 col-xs-12">

              <div class="form-row" *ngIf="defaultAddFormPaymentVoucher[0]['readAccess']">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[0]['fieldValue']}}</label>
                </div>
                <div class="value-outer">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <input name="paymentVoucherID" [(ngModel)]="model.paymentVoucherID" class="form-control fm-txt"
                        placeholder="{{model.paymentVoucherID}}" disabled="true">
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <ng-select [allowClear]="false" [active]="activePaymentVoucherID" [items]="arrPaymentVoucherIDs"
                        [disabled]="false" (data)="changePaymnetVoucherID($event)" title="Payment Voucher ID">

                      </ng-select>
                    </div>

                  </div>

                </div>
              </div>
              <div class="form-row" *ngIf="defaultAddFormPaymentVoucher[1]['readAccess']">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[1]['fieldValue']}}</label>
                </div>
                <div class="value-outer" [ngClass]="{ 'has-error': f.submitted && activePaymentType[0].id == '0'}">
                  <ng-select [allowClear]="false" [active]="activePaymentType" [items]="arrPaymentType"
                    title="Payment Type ID" (data)="changePaymentType($event)">
                  </ng-select>
                  <div *ngIf="f.submitted && activePaymentType[0].id == '0'">
                    <div class='error-msg'>
                      This field is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div>
                  <div class="label-outer">
                    <label for="">Audit Trial</label>
                  </div><!-- Label Outer Ends -->
                  <div class="value-outer">
                    <input class="form-control" disabled="true" name="audtiTrial" [(ngModel)]="audtiTrial" />
                  </div> <!-- BT Row  End -->
                </div><!-- Form Row Ends -->
              </div>

              <div class="form-row" *ngIf="defaultAddFormPaymentVoucher[10]['readAccess']">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[10]['fieldValue']}}</label>
                </div>
                <div class="value-outer" >
                  <ng-select [items]="arrBatchIDs" [active]="activeBatchID" (data)="cahngeBatchID($event)">

                  </ng-select>
                  <div *ngIf="false">
                    <div class="error-msg">
                      This Field Is Required
                    </div>
                  </div>
                </div>
              </div>

              <div [ngClass]="{ 'has-error': f.submitted && !creditCardExpireMonth.valid,'form-row':true }"
                *ngIf="(isCreditCard) && defaultAddFormPaymentVoucher[2]['readAccess']">
                <div class="bt-row">
                  <div class="label-outer">
                    <label for="">creditCardExpireDate</label>
                  </div><!-- Label Outer Ends -->
                  <div class="value-outer">

                    <div class="col-md-6 col-sm-6 col-xs-12 padding0">
                      <div class="hf-txt Expire-Date-input">
                        <span class="dm">MM</span>
                        <input type="text" [ngClass]="'form-control fm-txt'" name="creditCardExpireMonth"
                          [(ngModel)]="model.creditCardExpireMonth" (blur)="checkMonthValue()"
                          #creditCardExpireMonth="ngModel" id="creditCardExpireMonth" maxlength="2" OnlyNumber="true"
                          (keydown)="onlyDecimalNumberKey($event)" title="creditCardExpireMonth" required>
                        <div *ngIf="f.submitted && creditCardExpireMonth.invalid">
                          <div class='error-msg' *ngIf="creditCardExpireMonth.errors.required">
                            This Field Is Required
                          </div>
                        </div>
                      </div><!-- Half Text Ends -->
                    </div>
                    <div
                      [ngClass]="{ 'has-error': f.submitted && !creditCardExpireYear.valid,'col-md-6 col-sm-6 col-xs-12  padding0':true }"
                      *ngIf="(isCreditCard) && defaultAddFormPaymentVoucher[2]['readAccess']">
                      <div class="hf-txt Expire-Date-input">
                        <span class="dm">YYYY</span>
                        <input type="text" [ngClass]="'form-control fm-txt'" name="creditCardExpireYear"
                          [(ngModel)]="model.creditCardExpireYear" maxlength="4" (blur)="checkYearValue()"  #creditCardExpireYear="ngModel"
                          id="creditCardExpireYear" OnlyNumber="true" (keydown)="onlyDecimalNumberKey($event)"
                          title="creditCardExpireYear" required>
                        <div *ngIf="f.submitted && creditCardExpireYear.invalid">
                          <div class='error-msg' *ngIf="creditCardExpireYear.errors.required">
                            {{defaultAddFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                      </div><!-- Half Text Ends -->
                    </div><!-- BT Row Ends -->
                  </div>
                </div>
              </div>

              <div [ngClass]="{ 'has-error': f.submitted && activeCreditCard[0].id == '0','form-row':true }"
                *ngIf="(isCreditCard) && defaultAddFormPaymentVoucher[2]['readAccess']">
                <div class="label-outer">
                  <label for="creditCardID">creditCardID</label>
                </div><!-- Label Outer Ends -->
                <div class="value-outer">
                  <div class="col-md-12 col-sm-12 col-xs-12 padding0">
                    <ng-select [allowClear]="false" [active]="activeCreditCard" [items]="arrCreditCard"
                      [disabled]="false" (data)="cahngeCreditCardId($event)" title="creditCardID">
                    </ng-select>
                  </div>
                  <div *ngIf="f.submitted && activeCreditCard[0].id == '0'">
                    <div class='error-msg'>
                      This Field Is Required
                    </div>
                  </div>
                </div><!-- Value Outer ENds -->

              </div><!-- BT Row  Ends -->

              <div [ngClass]="{ 'has-error': f.submitted && !creditCardNumber.valid,'form-row':true }"
                *ngIf="(isCreditCard) && defaultAddFormPaymentVoucher[2]['readAccess']">
                <div class="label-outer">
                  <label for="creditCardNumber">creditCardNumber</label>
                </div><!-- Label Outer Ends -->
                <div class="value-outer">
                  <input type="text" [ngClass]="'form-control fm-txt'" name="creditCardNumber"
                    [(ngModel)]="model.creditCardNumber" maxlength="21" #creditCardNumber="ngModel"
                    id="creditCardNumber" title="creditCardNumber" required>
                  <div *ngIf="f.submitted && creditCardNumber.invalid">
                    <div class='error-msg' *ngIf="creditCardNumber.errors.required">
                      {{defaultAddFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                  </div>
                </div><!-- Value Outer ENds -->


              </div><!-- Form Row Ends -->

              <div *ngIf=" (isCheck || isBankTransfer) && defaultAddFormPaymentVoucher[2]['readAccess'] "
                class="form-row">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[2]['fieldValue']}} </label>
                </div>
                <div class="value-outer" [ngClass]="{'has-error':f.submitted && activeCheckbook[0].id == '0' }">
                  <ng-select [allowClear]="false" [active]="activeCheckbook" [items]="arrCheckbookList"
                    title="Checkbook ID" (data)="changeCheckbookID($event)">

                  </ng-select>
                  <div *ngIf="f.submitted && activeCheckbook[0].id == '0' ">
                    <div class="error-msg">
                      This Field Is Required
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf=" (isCheck || isBankTransfer) && defaultAddFormPaymentVoucher[3]['readAccess']"
                class="form-row">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[3]['fieldValue']}} </label>
                </div>
                <div class="value-outer" [ngClass]="{'has-error':f.submitted && activeCheckbook[0].id == '0'}">
                  <input [readonly]="!defaultAddFormPaymentVoucher[3]['writeAccess']" name="bankName" id="bankName"
                    #bankName="ngModel" disabled="true" [(ngModel)]="model.bankName" class="form-control fm-txt"
                    placeholder="Bank Name" />
                  <div *ngIf="f.submitted && activeCheckbook[0].id =='0' ">
                    <div class="error-msg">
                      This Field Is Required
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row" *ngIf="(isCash || isCheck) && defaultAddFormPaymentVoucher[5]['readAccess']">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[5]['fieldValue']}} </label>
                </div>
                <div class="value-outer" [ngClass]="{'has-error':f.submitted && activeAccountNumber[0].id == '0' }">
                  <ng-select [disabled]="!isCash" [items]="arrAccountNumber" [active]="activeAccountNumber"
                  (keyup.enter)="openSearchModal($event)" id="accountNumber"  (data)="changeCreditAccountNumber($event)">

                  </ng-select>
                  <div *ngIf="f.submitted && activeAccountNumber[0].id == '0'">
                    <div class="error-msg">
                      This Field Is Required
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="isCheck && !isBankTransfer && defaultAddFormPaymentVoucher[4]['readAccess']" class="form-row">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[4]['fieldValue']}} </label>
                </div>
                <div [ngClass]="{'has-error':f.submitted && !checkNumber.valid}" class="value-outer">
                  <input class="form-control fm-txt" type="number" name="checkNumber" id="checkNumber"
                    #checkNumber="ngModel" [(ngModel)]="model.checkNumber" required>
                  <div *ngIf="f.submitted && !checkNumber.valid">
                    <div class="error-msg">
                      This Field is Required
                    </div>
                  </div>
                </div>
              </div>




              <div class="form-row" *ngIf="defaultAddFormPaymentVoucher[6]['readAccess']">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[6]['fieldValue']}}</label>
                </div>
                <div class="value-outer" [ngClass]="{'has-error':f.submitted && !voucherDescription.valid}">
                  <input [readonly]="!defaultAddFormPaymentVoucher[6]['writeAccess']" name="voucherDescription"
                    id="voucherDescription" #voucherDescription="ngModel" [(ngModel)]="model.voucherDescription"
                    class="form-control fm-txt" placeholder="Description" required>
                  <div *ngIf="f.submitted && !voucherDescription.valid">
                    <div class="error-msg">
                      This Field is Required
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-row" *ngIf="defaultAddFormPaymentVoucher[7]['readAccess']">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[7]['fieldValue']}}</label>
                </div>
                <div class="value-outer" [ngClass]="{'has-error':f.submitted && !voucherDescriptionArabic.valid}">
                  <input [readonly]="!defaultAddFormPaymentVoucher[7]['writeAccess']" name="voucherDescriptionArabic"
                    id="voucherDescriptionArabic" #voucherDescriptionArabic="ngModel"
                    [(ngModel)]="model.voucherDescriptionArabic" class="form-control fm-txt"
                    placeholder="Arabic Description" required>

                  <div *ngIf="f.submitted && !voucherDescriptionArabic.valid">
                    <div class="error-msg">
                      This Field Is Required
                    </div>

                  </div>
                </div>
              </div>


              <div class="form-row" *ngIf="defaultAddFormPaymentVoucher[8]['readAccess']">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[8]['fieldValue']}}</label>
                </div>
                <div class="value-outer" [ngClass]="{'has-error':f.submitted && !transactionDate.valid,'dob-row':true}">
                  <input [readonly]="!defaultAddFormPaymentVoucher[8]['writeAccess']" name="transactionDate"
                    #transactionDate="ngModel" [(ngModel)]="model.transactionDate" type="text"
                    [ngClass]="'form-control fm-txt'" (dateChanged)="onDateChanged($event)" [readonly]="true"
                    ngx-mydatepicker #dp="ngx-mydatepicker" [options]="myOptions" required readonly>
                  <span style="right: 76px !important;" class="input-group-btn db--date">
                    <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                      <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                    <div *ngIf="f.submitted && transactionDate.invalid">
                      <div class="error-msg">
                        This Field Is Required
                      </div>
                    </div>
                  </span>
                </div>
              </div>


              <div class="form-row" *ngIf="defaultAddFormPaymentVoucher[9]['readAccess']">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[9]['fieldValue']}} </label>
                </div>
                <div class="value-outer" [ngClass]="{'has-error':f.submitted && activeCurrency[0].id == '0'}">
                  <div class="col-xs-11 padding-lt-0">
                    <ng-select [items]="arrCurrency" [active]="activeCurrency" (data)="changeCurrency($event)">
                    </ng-select>
                    <!-- Validation error message -->
                    <div *ngIf="f.submitted && activeCurrency[0].id == '0'">
                      <div class="error-msg">
                        This Field Is Required
                      </div>
                    </div>
                  </div>
                  <a><i (click)="openModel(exchangeRateDetail)" class="fa fa-arrow-right" aria-hidden="true"></i></a>

                </div>
              </div>

              <div class="form-row" *ngIf="defaultAddFormPaymentVoucher[11]['readAccess']">
                <div class="label-outer">
                  <label>{{defaultAddFormPaymentVoucher[11]['fieldValue']}}</label>
                </div>
                <div class="value-outer"
                  [ngClass]="{'has-error':(totalPaymentVoucherCredit.value == 0 && f.submitted) }">
                  <input [readonly]="!defaultAddFormPaymentVoucher[11]['writeAccess']" type="number"
                    id="totalPaymentVoucherCredit" #totalPaymentVoucherCredit="ngModel" name="totalPaymentVoucherCredit"
                    [(ngModel)]="model.totalPaymentVoucherCredit" class="form-control fm-txt"
                    placeholder="Payment Amount" required>
                  <div *ngIf=" (totalPaymentVoucherCredit.value == 0 && f.submitted)  ">
                    <div class="error-msg">
                      This Field Is Required
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">

            </div>
            <div class="form-row algo--total-tb">
              <div class="col-xs-12">
                <div class="algo-table">
                  <table>
                    <thead class="table">
                      <tr>
                        <th width="10%" *ngIf="!isIntercompany">{{defaultAddFormPaymentVoucher[12]['fieldValue']}} </th>
                        <th width="25%">{{defaultAddFormPaymentVoucher[13]['fieldValue']}}</th>
                        <th width="25%">Account Description</th>
                        <th width="25%">{{defaultAddFormPaymentVoucher[14]['fieldValue']}}</th>
                        <th width="20%">{{defaultAddFormPaymentVoucher[15]['fieldValue']}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td *ngIf="!isIntercompany">
                          <div class="col-xs-12"
                            [ngClass]="{'has-error':(f.submitted || isAddPaymentVaoucher) && (arrDebitVoucherList.length == '0' || isAddPaymentVaoucher) && activeCompany[0].id=='0'}">
                            <ng-select [items]="arrCompany" [active]="activeCompany" (data)="changeCompany($event)">

                            </ng-select>
                            <!-- Div for validation mEssage-->
                            <div
                              *ngIf="(f.submitted || isAddPaymentVaoucher ) && ( arrDebitVoucherList.length == '0' || isAddPaymentVaoucher ) && activeCompany[0].id == '0' ">
                              <div class="error-msg">
                                This Field Is Required
                              </div>
                            </div>
                          </div>
                        </td>
                        <td style="max-width: 500px;">
                          <div [ngClass]="{'has-error':(f.submitted || isAddPaymentVaoucher) && (arrDebitVoucherList.length == '0' || isAddPaymentVaoucher) && activeDebitAccountNumber[0].id=='0','col-xs-12':true}">
                            <ng-select  bindLabel="id" [items]="arrDebitAccountNumber" 
                              id="accountNumberDebit" #selectAccountNumber (keyup.enter)="openSearchModal($event)" [active]="activeDebitAccountNumber" (data)="changeDebitAccountNumber($event)">

                            </ng-select>
                            <!-- Div for validation mEssage-->


                            <div class="col-md-12"
                              *ngIf="(f.submitted || isAddPaymentVaoucher ) && ( arrDebitVoucherList.length == '0' || isAddPaymentVaoucher ) && activeDebitAccountNumber[0].id == '0' ">
                              <div class="error-msg">
                                This Field Is Required
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div>
                            <textarea style="resize: none;" title="{{accountDescription}}" name="accountDescription"
                              [(ngModel)]="accountDescription" class="form-control" disabled="true"></textarea>
                          </div>
                        </td>
                        <td>
                          <div class="col-xs-12"
                            [ngClass]="{'has-error':(f.submitted || isAddPaymentVaoucher) && (arrDebitVoucherList.length == '0' || isAddPaymentVaoucher) && !distribution }">
                            <input [readonly]="!defaultAddFormPaymentVoucher[14]['writeAccess']" class="form-control"
                              name="distribution" [(ngModel)]="distribution" id="distribution" />

                            <!-- Div for validation mEssage-->
                            <div
                              *ngIf=" (f.submitted || isAddPaymentVaoucher) && ( arrDebitVoucherList.length == '0' || isAddPaymentVaoucher ) && !distribution  ">
                              <div class="error-msg">
                                This Field Is Required
                              </div>
                            </div>
                          </div>

                        </td>
                        <td>
                          <div class="col-xs-10"
                            [ngClass]="{'has-error':(f.submitted || isAddPaymentVaoucher) && (arrDebitVoucherList.length == '0' || isAddPaymentVaoucher) && !debitAmount }">
                            <form>                            
                              <input type="number" (keyup.enter)="addPaymentVoucherDetail()" [readonly]="!defaultAddFormPaymentVoucher[15]['writeAccess']"
                                class="form-control" name="debitAmount" [(ngModel)]="debitAmount" />
                            </form>
                            <!-- Valisdation message-->
                            <!-- Div for validation mEssage-->
                            <div class="col-md-12"
                              *ngIf="(f.submitted || isAddPaymentVaoucher) && ( arrDebitVoucherList.length == '0' || isAddPaymentVaoucher ) && !debitAmount  ">
                              <div class="error-msg">
                                This Field Is Required
                              </div>
                            </div>
                          </div>
                          <a class="add-ico-tb"><i (click)="addPaymentVoucherDetail()" aria-hidden="true"
                              class="fa fa-plus-circle"></i></a>
                        </td>

                      </tr>

                      <tr *ngFor="let debitVoucher of arrDebitVoucherList ; let i = index">
                        <td *ngIf="!isIntercompany">{{debitVoucher.companyName}}</td>
                        <td>{{debitVoucher.accountNumber}}</td>
                        <td>{{debitVoucher.accountDecription}}</td>
                        <td>{{debitVoucher.distributionDescription}}</td>
                        <td>{{debitVoucher.originalDebitAmount}} <a class="add-ico-tb"><i class="fa fa-minus-circle"
                              aria-hidden="true" (click)="RemovepaymentVoucherDetial(i,debitVoucher)"></i></a></td>
                      </tr>
                    </tbody>
                  </table>

                  <div>

                    <div class="row">
                      <div class="col-md-3 col-xs-offset-8">
                        <div class="label-outer">
                          <label>{{defaultAddFormPaymentVoucher[16]['fieldValue']}}</label>
                        </div>
                        <div class="value-outer">
                          <input name="totalPaymentVoucherDebit" disabled="true"
                            [(ngModel)]="model.totalPaymentVoucherDebit" class="form-control" />
                        </div>
                      </div>
                    </div>
                    <div class="row"
                      *ngIf=" model.totalPaymentVoucherCredit != undefined && model.totalPaymentVoucherDebit != undefined">
                      <div class="col-md-3 col-xs-offset-8">
                        <div class="label-outer">
                          <label>{{defaultAddFormPaymentVoucher[23]['fieldValue']}}</label>
                        </div>
                        <div class="value-outer">
                          <input name="remainBalance" disabled="true"
                            [(ngModel)]="model.totalPaymentVoucherCredit - model.totalPaymentVoucherDebit"
                            class="form-control" />
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="form-row" *ngIf="!isScreenLock">
                    <div class="button-row">
                      <div class="col-sm-12">
                        <input *ngIf="defaultAddFormPaymentVoucher[17]['readAccess']" type="button" class="blue-btn"
                          data-toggle="modal" data-target="#conformDelete" [disabled]="this.isModify || btnDisabled"
                          title="{{defaultAddFormPaymentVoucher[17]['fieldValue']}}"
                          value="{{defaultAddFormPaymentVoucher[17]['fieldValue']}}" />
                        <input *ngIf="defaultAddFormPaymentVoucher[18]['readAccess']" type="submit"
                          [disabled]="btnDisabled" class="blue-btn" (click)="post(f)"
                          title="{{defaultAddFormPaymentVoucher[18]['fieldValue']}}"
                          value="{{defaultAddFormPaymentVoucher[18]['fieldValue']}}" />
                        <input type="submit" [disabled]="btnDisabled" class="orange-btn"
                          *ngIf="isUpdate && defaultAddFormPaymentVoucher[22]['readAccess']"
                          (click)="updatePaymentVoucher(f,exchangeRateDetail)"
                          title="{{defaultAddFormPaymentVoucher[22]['fieldValue']}}"
                          value="{{defaultAddFormPaymentVoucher[22]['fieldValue']}}" />
                        <input type="submit" [disabled]="btnDisabled" class="orange-btn"
                          *ngIf="isSave && defaultAddFormPaymentVoucher[19]['readAccess']"
                          (click)="savePaymentVoucher(f,exchangeRateDetail)"
                          title="{{defaultAddFormPaymentVoucher[19]['fieldValue']}}"
                          value="{{defaultAddFormPaymentVoucher[19]['fieldValue']}}" />
                        <input type="button" class="blue-btn" (click)="resetForm(f)"
                          *ngIf="defaultAddFormPaymentVoucher[20]['readAccess']"
                          title="{{defaultAddFormPaymentVoucher[20]['fieldValue']}}"
                          value="{{defaultAddFormPaymentVoucher[20]['fieldValue']}}" />
                        <input type="button" class="blue-btn" (click)="resetForm(f)"
                          *ngIf="defaultAddFormPaymentVoucher[21]['readAccess']"
                          title="{{defaultAddFormPaymentVoucher[21]['fieldValue']}}"
                          value="{{defaultAddFormPaymentVoucher[21]['fieldValue']}}" />
                        <input type="button" class="blue-btn" data-toggle="modal" data-target="#printPaymentVoucher"
                          title="Print" value="Print" />
                      </div>
                    </div><!-- Buton Row Ends -->
                  </div><!-- Form Row Ends -->
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<modal #exchangeRateDetail id="exchangeRateDetail" [closeOnEscape]="false" [closeOnOutsideClick]="false"
  [hideCloseButton]="false" modalClass="modal-lg">
  <modal-header>
    Exchange Detail
  </modal-header>
  <modal-content>

    <div class="content-outer ">
      <div class="row">
        <form id="exchangeRateDetail">
          <div class="form-row">

            <div class="bt-row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="label-outer">
                  <label>Payment Voucher ID</label>
                </div>
                <div class="value-outer">
                  <input type="text" [readonly]="true" [ngClass]="'form-control fm-txt'" name="paymentVoucherID"
                    [(ngModel)]="model.paymentVoucherID" maxlength="15" title="Payment Voucher ID">
                </div><!-- Value Outer ENds -->
              </div> <!-- BT Row  Ends -->
            </div>
          </div><!-- Form Row Ends -->
          <div class="form-row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="bt-row">
                <div class="label-outer">
                  <label>Currency ID</label>
                </div><!-- Label Outer Ends -->
                <div class="value-outer">
                  <!-- <input  type="text" class="form-control fm-txt" readonly required title="{{defaultExchangeRateFormValues[1]['helpMessage']}}"/> -->
                  <input type="text" [readonly]="true" [ngClass]="'form-control fm-txt'" name="currencyID"
                    [(ngModel)]="model.currencyID" id="currencyID" maxlength="15" title="Currency ID">
                </div><!-- Value Outer ENds -->
              </div><!-- Bt Row Ends -->
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="bt-row">
                <div class="label-outer">
                  <label>Exchange Table ID</label>
                </div><!-- Label Outer Ends -->
                <div class="value-outer" [ngClass]="{'has-error':f.submitted && activeExchangeDetail[0].id == '0'}">

                  <ng-select [allowClear]="false" [active]="activeExchangeDetail" [items]="arrExchangeDetail"
                    [disabled]="false" (data)="changeExchangeTableID($event)" title="Exchange Table ID">
                  </ng-select>

                  <div *ngIf="f.submitted && activeExchangeDetail[0].id == '0'">
                    <div class='error-msg'>
                      This Field Is Required
                    </div>
                  </div>
                </div><!-- Value Outer ENds -->
              </div><!-- Bt Row Ends -->
            </div><!-- Form Row Ends -->
          </div>
          <div class="form-row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="bt-row">
                <div class="label-outer">
                  <label>Exchange Rate</label>
                </div><!-- Label Outer Ends -->
                <div class="value-outer">

                  <!-- <input  type="text" class="form-control fm-txt" required title="{{defaultExchangeRateFormValues[3]['helpMessage']}}"/> -->
                  <input [readonly]="true" type="text" #exchangeRate="ngModel" class="form-control fm-txt"
                    name="exchangeRate" [(ngModel)]="model.exchangeRate" required title="Exchange Rate" />
                  <!-- Validation Rate -->
                  <div *ngIf="f.submitted && exchangeRate.invalid">
                    <div class='error-msg' *ngIf="exchangeRate.errors.required">
                      This Field Is Required
                    </div>
                  </div>

                </div>
              </div><!-- Bt Row Ends -->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="bt-row">
                <div class="label-outer">
                  <label>Expire Date</label>
                </div><!-- Label Outer Ends -->
                <div class="value-outer">
                  <input name="exchangeExpirationDate" [(ngModel)]="model.exchangeExpirationDate" type="text"
                    class="form-control fm-txt" readonly required title="Expire Date" />
                </div><!-- Value Outer ENds -->
              </div><!-- Bt Row Ends -->
            </div>
          </div><!-- Form Row Ends -->

          <div class="form-row">
            <div class="button-row">
              <div class="col-sm-12">
                <input type="submit" title="OK" (click)="exchangeRateDetail.close()" class="orange-btn-sm" value="OK" />
                <!-- <button class="btn btn-primary close-button" (click)="exchangeRateDetail.close()">{{close}}</button> -->
              </div>
            </div><!-- Buton Row Ends -->
          </div><!-- Form Row Ends -->
        </form>
      </div>
    </div><!-- Form Row Ends -->
  </modal-content>

</modal>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="conformDelete" tabindex="-1" role="dialog"
  aria-labelledby="conformDelete" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">conforme Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>
          <div class="algo-table" style="margin-bottom: 0px; ">
            <h2>Are You Sure to Delete This Payment Voucher ? </h2>
          </div>


        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="orange-btn" data-dismiss="modal">Close</button>
        <button type="button" class="blue-btn" data-dismiss="modal" (click)="delete(f)">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- End pop up-->


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="printPaymentVoucher" tabindex="-1" role="dialog"
  aria-labelledby="conformDelete" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Printing Payment voucher </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>

          <div class="algo-table" id="printPaymentVaoucher" style="margin-bottom: 0px; ">

            <div class="col-xs-12 col-xs-12 col-xs-12">
              <div *ngIf="defaultAddFormPaymentVoucher[0]['readAccess']">
                <div class="row ">
                  <div class="form-row">
                    <div class="col-xs-12">
                      <div class="bt-row">
                        <div class="form-row">
                          <div class="col-xs-4">
                            <label>{{defaultAddFormPaymentVoucher[0]['fieldValue']}}</label>
                          </div>
                          <div class="col-xs-5">
                            <label> {{model.paymentVoucherID}} </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="defaultAddFormPaymentVoucher[1]['readAccess']">
                <div class="row form-row">
                  <div class="col col-xs-4">
                    <div class="label-outer">
                      <label>{{defaultAddFormPaymentVoucher[1]['fieldValue']}}</label>
                    </div>
                  </div>
                  <div class="col col-xs-5">
                    <div class="value-outer">
                      <label>{{activePaymentType[0].text}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="isCheck && defaultAddFormPaymentVoucher[2]['readAccess'] ">
                <div class="row form-row">
                  <div class="col col-xs-4">
                    <div class="label-outer">
                      <label>{{defaultAddFormPaymentVoucher[2]['fieldValue']}} </label>
                    </div>
                  </div>
                  <div class="col col-xs-5">
                    <div class="value-outer">
                      <label>{{activeCheckbook[0].text}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="isCheck && defaultAddFormPaymentVoucher[3]['readAccess']">
                <div class="row form-row">
                  <div class="col col-xs-4">
                    <div class="label-outer">
                      <label>{{defaultAddFormPaymentVoucher[3]['fieldValue']}} </label>
                    </div>
                  </div>
                  <div class="col col-xs-5">
                    <div class="value-outer">
                      <label>{{activeCheckbook[0].text}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="defaultAddFormPaymentVoucher[5]['readAccess']">
                <div class="row form-row">
                  <div class="col col-xs-4">
                    <div class="label-outer">
                      <label>{{defaultAddFormPaymentVoucher[5]['fieldValue']}} </label>
                    </div>
                  </div>
                  <div class="col col-xs-5">
                    <div class="value-outer">
                      <label>{{activeAccountNumber[0].text}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="isCheck && defaultAddFormPaymentVoucher[4]['readAccess']">
                <div class="row form-row">
                  <div class="col col-xs-4">
                    <div class="label-outer">
                      <label>{{defaultAddFormPaymentVoucher[4]['fieldValue']}} </label>
                    </div>
                  </div>
                  <div class="col col-xs-5">
                    <div class="value-outer">
                      <label>{{model.checkNumber}}</label>
                    </div>
                  </div>
                </div>
              </div>




              <div *ngIf="defaultAddFormPaymentVoucher[6]['readAccess']">


                <div class="row form-row">
                  <div class="col col-xs-4">
                    <div class="label-outer">
                      <label>{{defaultAddFormPaymentVoucher[6]['fieldValue']}}</label>
                    </div>
                  </div>
                  <div class="col col-xs-5">
                    <div class="value-outer">
                      <label>{{model.voucherDescription}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="defaultAddFormPaymentVoucher[7]['readAccess']">
                <div class="row form-row">
                  <div class="col col-xs-4">
                    <div class="label-outer">
                      <label>{{defaultAddFormPaymentVoucher[7]['fieldValue']}}</label>
                    </div>
                  </div>
                  <div class="col col-xs-5">
                    <div class="value-outer">
                      <label>{{model.voucherDescriptionArabic}}</label>
                    </div>
                  </div>
                </div>
              </div>


              <div *ngIf="defaultAddFormPaymentVoucher[8]['readAccess']">
                <div class="row form-row">
                  <div class="col col-xs-4">
                    <div class="label-outer">
                      <label>{{defaultAddFormPaymentVoucher[8]['fieldValue']}}</label>
                    </div>
                  </div>
                  <div class="col col-xs-5">
                    <div class="value-outer">
                      <label>{{date}}</label>
                    </div>
                  </div>
                </div>
              </div>


              <div *ngIf="defaultAddFormPaymentVoucher[9]['readAccess']">
                <div class="row form-row">
                  <div class="col col-xs-4">
                    <div class="label-outer">
                      <label>{{defaultAddFormPaymentVoucher[9]['fieldValue']}} </label>
                    </div>
                  </div>
                  <div class="col col-xs-5">
                    <div class="value-outer">
                      <label>{{activeCurrency[0].text}}</label>
                      <!-- Validation error message -->
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="defaultAddFormPaymentVoucher[10]['readAccess']">
                <div class="row form-row">
                  <div class="col col-xs-4">
                    <div class="label-outer">
                      <label>{{defaultAddFormPaymentVoucher[10]['fieldValue']}}</label>
                    </div>
                  </div>
                  <div class="col col-xs-5">
                    <div class="value-outer">
                      <label>{{activeBatchID[0].text}}</label>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="defaultAddFormPaymentVoucher[11]['readAccess']">
                <div class="row form-row">
                  <div class="col col-xs-4">
                    <div class="label-outer">
                      <label>{{defaultAddFormPaymentVoucher[11]['fieldValue']}}</label>
                    </div>
                  </div>
                  <div class="col col-xs-5">
                    <div class="value-outer">
                      <label type="text">{{model.totalPaymentVoucherCredit}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row algo--total-tb" style="margin-top:20px;">
              <div class="col-xs-12">
                <div class="algo-table">
                  <table class="table">
                    <thead class="table">
                      <tr>
                        <th width="20%" *ngIf="!isIntercompany">{{defaultAddFormPaymentVoucher[12]['fieldValue']}} </th>
                        <th width="20%">{{defaultAddFormPaymentVoucher[13]['fieldValue']}}</th>
                        <th width="30%">{{defaultAddFormPaymentVoucher[14]['fieldValue']}}</th>
                        <th width="15%">{{defaultAddFormPaymentVoucher[15]['fieldValue']}}</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let debitVoucher of arrDebitVoucherList ; let i = index">
                        <td *ngIf="!isIntercompany">{{debitVoucher.companyName}}</td>
                        <td>{{debitVoucher.accountNumber}}</td>
                        <td>{{debitVoucher.distributionDescription}}</td>
                        <td>{{debitVoucher.originalDebitAmount}}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </span>



      </div>
      <div class="modal-footer">
        <button type="button" class="orange-btn" data-dismiss="modal">Close</button>
        <button type="button" class="blue-btn" data-dismiss="modal" (click)="printPV()">Print</button>
      </div>
    </div>
  </div>
</div>
<!-- End pop up-->

<!-- Modal -->
<div class="modal fade" id="createNewAccountNumber" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New Account Number</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <span *ngFor="let segment of arrSegment;let i=index; let j=index;">
          <input id="txtfirstSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt"
            name="accountNumber{{j}}_" (blur)="fetchFirstAccountIndexInfo(j)" *ngIf="j==0" style="width:65px" />
          <input id="txtSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
            (blur)="fetchOtherAccountIndexInfo(j)" *ngIf="j > 0" style="width:65px" [disabled]='segment.isReadOnly' />
          <i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus" style="float: left;padding: 3px 0px;"
            *ngIf="j + 1 != arrSegment.length"></i>
        </span>
        <div class="row">
          <div *ngIf="displayEnglishDescription" class="col col-md-12">
            <label for="transactionReversingDate">Account Description</label>
          </div>
          <div *ngIf="displayEnglishDescription" class="col col-md-12">
            <textarea style="resize: none;" class="form-control" disabled
              value="{{arrAccountDescription.join('-')}}"></textarea>

          </div>
          <div *ngIf="dispalyArabicDescriptiopn" class="col col-md-12">
            <label for="transactionReversingDate">وصف رقم الحساب</label>
          </div>
          <div *ngIf="dispalyArabicDescriptiopn" class="col col-md-12">
            <textarea style="resize: none;" class="form-control" disabled
              value="{{arrAccountDescriptionArabic.join('-')}}"></textarea>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="blue-btn-sm" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="orange-btn-sm" (click)='createNewGlAccountNumber()'>Create</button>
      </div>
    </div>
  </div>
</div>


<button type="button" id="createAccountNumberPopup" class="btn btn-primary" style="display:none" data-toggle="modal"
  data-target="#createMainAccount">
</button>

<app-create-main-account-popup (refreshAccountNumber)="refreshAccountNumber($event)"
  class="modal fade bd-example-modal-lg" id="createMainAccount" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">

</app-create-main-account-popup>

<button class="btn btn-primary" style="display:none" id="searchPopupButton" data-toggle="modal"
  data-target="#searchAccountNumber">Click ME</button>

<app-search-popup class="modal fade bd-example-modal-lg" id="searchAccountNumber" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true" (messageEvent)="receiveMessage($event)">
</app-search-popup>