<div class="page-header">
  <div class="page-header-title">
    <span *ngFor="let breadcrumb of breadcrumbs; let last = last"><h3 *ngIf="last">{{ breadcrumb.label }}</h3></span>
  </div>
  <div class="page-header-breadcrumb">

      <i class="ti-settings"></i>

    <!-- <ul class="breadcrumb-title">
      <li class="breadcrumb-item">
        <a [routerLink]="'/'">
          <i class="ti-settings"></i>
        </a>
      </li>
      <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
        <a [ngClass]="breadcrumb.status === false ? 'not-active': ''" [routerLink]="breadcrumb.url">{{breadcrumb.label}}</a>
      </li>
    </ul> -->
  </div>
</div>