<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{HEALTHINSURANCESETUP_CREATE_LABEL['helpMessage']}}">{{HEALTHINSURANCESETUP_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{HEALTHINSURANCESETUP_SEARCH['helpMessage']}}" placeholder="{{HEALTHINSURANCESETUP_SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
      </div>
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="HealthInsuranceSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                </div>
              </div>
              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{HEALTHINSURANCESETUP_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span> {{HEALTHINSURANCESETUP_TABLEVIEW['fieldValue']}}</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option *ngFor="let tv of tableViews" [value]="tv.id">{{tv.name}}</option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{HEALTHINSURANCESETUP_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{HEALTHINSURANCESETUP_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{HEALTHINSURANCESETUP_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && !email.errors?.pattern && CreateHealthInsurance(f, $event)"
              #f="ngForm" novalidate>

              <!-- Location Id field -->
              <div class="form-group">

                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #update>
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="insCompanyId">{{HEALTHINSURANCESETUP_ID['fieldValue']}}</label>
                      <span *ngIf="HEALTHINSURANCESETUP_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="insCompanyId" value="{{insCompanyIdvalue}}" (keyup)="CheckNumber($event)"
                        title="{{HEALTHINSURANCESETUP_ID['helpMessage']}}" [readonly]="HEALTHINSURANCESETUP_ID['readAccess']"
                        maxlength="15" />

                    </div>
                  </div>
                </ng-template>


                <ng-template #create>
                  <div [ngClass]="{ 'has-error': f.submitted && !insCompanyId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="insCompanyId">{{HEALTHINSURANCESETUP_ID['fieldValue']}}</label>
                      <span *ngIf="HEALTHINSURANCESETUP_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="insCompanyId" [(ngModel)]="model.insCompanyId"
                        #insCompanyId="ngModel" title="{{HEALTHINSURANCESETUP_ID['fieldValue']}}" [required]="HEALTHINSURANCESETUP_ID['isMandatory']"
                        maxlength="15" [typeahead]="companyIdList" (typeaheadLoading)="changeTypeaheadLoading($event)" autocomplete="off"
                        (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="insCompanyId" />
                      <div *ngIf="f.submitted && insCompanyId.invalid">
                        <div [hidden]="!insCompanyId.errors.required">
                          {{HEALTHINSURANCESETUP_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>

                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>


              <!-- frmstar Description Field -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !desc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="desc">{{HEALTHINSURANCESETUP_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="HEALTHINSURANCESETUP_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model.desc" #desc="ngModel" title="{{HEALTHINSURANCESETUP_DESCRIPTION['helpMessage']}}"
                      maxlength="31" [required]="HEALTHINSURANCESETUP_DESCRIPTION['isMandatory']" />
                    <div *ngIf="f.submitted && desc.invalid">
                      <div [hidden]="!desc.errors.required">
                        {{HEALTHINSURANCESETUP_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!desc.errors?.maxlength" *ngIf="HEALTHINSURANCESETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{HEALTHINSURANCESETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Arabic Deduction Code description -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !arbicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="arbicDesc">{{HEALTHINSURANCESETUP_ARABIC_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="HEALTHINSURANCESETUP_ARABIC_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="arbicDesc" [(ngModel)]="model.arbicDesc" #arbicDesc="ngModel"
                      title="{{HEALTHINSURANCESETUP_ARABIC_DESCRIPTION['helpMessage']}}" [required]="HEALTHINSURANCESETUP_ARABIC_DESCRIPTION['isMandatory']"
                      maxlength="61" />
                    <div *ngIf="f.submitted && arbicDesc.invalid">
                      <div [hidden]="!arbicDesc.errors.required">
                        {{HEALTHINSURANCESETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!arbicDesc.errors?.maxlength" *ngIf="HEALTHINSURANCESETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{HEALTHINSURANCESETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !address.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="address">{{HEALTHINSURANCESETUP_ADDRESS['fieldValue']}}</label>
                    <span *ngIf="HEALTHINSURANCESETUP_ADDRESS['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="address" [(ngModel)]="model.address" #address="ngModel" title="{{HEALTHINSURANCESETUP_ADDRESS['helpMessage']}}"
                      [required]="HEALTHINSURANCESETUP_ADDRESS['isMandatory']" maxlength="61" />
                    <div *ngIf="f.submitted && address.invalid">
                      <div [hidden]="!address.errors.required">
                        {{HEALTHINSURANCESETUP_ADDRESS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!address.errors?.maxlength" *ngIf="HEALTHINSURANCESETUP_ADDRESS['listDtoFieldValidationMessage'][1]">
                        {{HEALTHINSURANCESETUP_ADDRESS['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Country -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && country.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="country">{{HEALTHINSURANCESETUP_COUNTRY['fieldValue']}}</label>
                    <span *ngIf="HEALTHINSURANCESETUP_COUNTRY['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="country" [(ngModel)]="model.countryId" #country="ngModel"
                      (change)="onCountrySelect($event)" title="{{HEALTHINSURANCESETUP_COUNTRY['helpMessage']}}" [required]="HEALTHINSURANCESETUP_COUNTRY['isMandatory']">
                      <option value="0">-- Select {{HEALTHINSURANCESETUP_COUNTRY['fieldValue']}} --</option>
                      <option *ngFor="let country of countries" value="{{country.countryId}}" [selected]="country.countryId == model.countryId">{{country.countryName}}</option>
                    </select>
                    <div *ngIf="f.submitted && country.value==0">
                      <div [hidden]="!country.value==0">
                        {{HEALTHINSURANCESETUP_COUNTRY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- States -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && state.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="state">{{HEALTHINSURANCESETUP_STATE['fieldValue']}}</label>
                    <span *ngIf="HEALTHINSURANCESETUP_STATE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="state" [(ngModel)]="model.stateId" #state="ngModel"
                      (change)="onStateSelect($event)" title="{{HEALTHINSURANCESETUP_STATE['fieldValue']}}" [required]="HEALTHINSURANCESETUP_STATE['isMandatory']">
                      <option value="0">-- Select {{HEALTHINSURANCESETUP_STATE['fieldValue']}} --</option>
                      <option *ngFor="let state of states" value="{{state.stateId}}">{{state.stateName}}</option>
                    </select>
                    <div *ngIf="f.submitted && state.value==0">
                      <div [hidden]="!state.value==0">
                        {{HEALTHINSURANCESETUP_STATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- City -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && city.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="city">{{HEALTHINSURANCESETUP_CITY['fieldValue']}}</label>
                    <span *ngIf="HEALTHINSURANCESETUP_CITY['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="city" [(ngModel)]="model.cityId" #city="ngModel"
                      title="{{HEALTHINSURANCESETUP_CITY['fieldValue']}}" [required]="HEALTHINSURANCESETUP_CITY['isMandatory']">
                      <option value="0" disabled>-- Select City --</option>
                      <option *ngFor="let city of cities" value="{{city.cityId}}" [selected]="city.cityId == model.cityId">{{city.cityName}}</option>
                    </select>
                    <div *ngIf="f.submitted && city.value==0">
                      <div [hidden]="!city.value==0">
                        {{HEALTHINSURANCESETUP_CITY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !contactPerson.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="contactPerson">{{HEALTHINSURANCESETUP_CONTACT_NAME['fieldValue']}}</label>
                    <span *ngIf="HEALTHINSURANCESETUP_CONTACT_NAME['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="contactPerson" [(ngModel)]="model.contactPerson" #contactPerson="ngModel"
                      title="{{HEALTHINSURANCESETUP_CONTACT_NAME['fieldValue']}}" [required]="HEALTHINSURANCESETUP_CONTACT_NAME['isMandatory']"
                      maxlength="91" />
                    <div *ngIf="f.submitted && contactPerson.invalid">
                      <div [hidden]="!contactPerson.errors.required">
                        {{HEALTHINSURANCESETUP_CONTACT_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!contactPerson.errors?.maxlength" *ngIf="HEALTHINSURANCESETUP_CONTACT_NAME['listDtoFieldValidationMessage'][1]">
                        {{HEALTHINSURANCESETUP_CONTACT_NAME['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !phoneNo.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label">{{HEALTHINSURANCESETUP_PHONE['fieldValue']}}</label>
                    <span *ngIf="HEALTHINSURANCESETUP_PHONE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-6">
                        <input maxlength="15" type="text" [ngClass]="'form-control fm-txt'" name="phoneNo" [(ngModel)]="model.phoneNo" #phoneNo="ngModel"
                          title="{{HEALTHINSURANCESETUP_PHONE['fieldValue']}}" [required]="HEALTHINSURANCESETUP_PHONE['isMandatory']"
                          maxlength="21" PhonenumberFaxDirective="true" [pattern]="phonePattern" />
                        <div *ngIf="f.submitted && phoneNo.invalid">
                          <div [hidden]="!phoneNo.errors.required">
                            {{HEALTHINSURANCESETUP_PHONE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!phoneNo.errors?.maxlength" *ngIf="HEALTHINSURANCESETUP_PHONE['listDtoFieldValidationMessage'][1]">
                            {{HEALTHINSURANCESETUP_PHONE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                          <div *ngIf="phoneNo.dirty && phoneNo.value.length!=0">
                            {{HEALTHINSURANCESETUP_PHONE['listDtoFieldValidationMessage'][2]['validationMessage']}}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">

                          <div class="col-md-2">
                            <label class="control-label" for="contactPerson">{{HEALTHINSURANCESETUP_FAX['fieldValue']}}</label>
                            <span *ngIf="HEALTHINSURANCESETUP_FAX['isMandatory']">*</span>
                          </div>
                          <div class="col-md-10">
                            <input maxlength="15" type="text" [ngClass]="'form-control fm-txt'" name="fax" [(ngModel)]="model.fax" #fax="ngModel" title="{{HEALTHINSURANCESETUP_FAX['helpMessage']}}"
                              [required]="HEALTHINSURANCESETUP_FAX['isMandatory']" maxlength="21" PhonenumberFaxDirective="true"
                              [pattern]="phonePattern" />
                            <div *ngIf="f.submitted && fax.invalid">
                              <div [hidden]="!fax.errors.required">
                                {{HEALTHINSURANCESETUP_FAX['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!fax.errors?.maxlength" *ngIf="HEALTHINSURANCESETUP_FAX['listDtoFieldValidationMessage'][1]">
                                {{HEALTHINSURANCESETUP_FAX['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                              <div *ngIf="fax.dirty && fax.value.length!=0">
                                {{HEALTHINSURANCESETUP_FAX['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div [ngClass]="{'has-error': (f.submitted && !email.valid) || (f.submitted && email.errors?.pattern),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="email">{{HEALTHINSURANCESETUP_EMAIL['fieldValue']}}</label>
                    <span *ngIf="HEALTHINSURANCESETUP_EMAIL['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="email" [(ngModel)]="model.email" #email="ngModel" title="{{HEALTHINSURANCESETUP_EMAIL['helpMessage']}}"
                      [required]="HEALTHINSURANCESETUP_EMAIL['isMandatory']" maxlength="225" email="true" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                    />
                    <div *ngIf="(f.submitted && email.invalid) || (f.submitted && email.errors?.pattern)">
                      <div [hidden]="!email.errors.required">
                        {{HEALTHINSURANCESETUP_EMAIL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div *ngIf="!email.errors?.required && email.errors?.pattern">
                        {{HEALTHINSURANCESETUP_EMAIL['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{HEALTHINSURANCESETUP_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{HEALTHINSURANCESETUP_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{HEALTHINSURANCESETUP_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{HEALTHINSURANCESETUP_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>

          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
