td input {
    padding-left: 10px;
}

#subitems td, #subitems th {
    border: 1px solid #ddd;
    padding: 8px;
}
#subitems th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #144859;
    color: white;
    font-weight: normal;
}
