<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus(editAndSaveArray)' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{EMPLOYEE_SKILLS_CREATE_LABEL['helpMessage']}}">{{EMPLOYEE_SKILLS_CREATE_LABEL['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{EMPLOYEE_SKILLS_SEARCH_LABEL['helpMessage']}}" placeholder="{{EMPLOYEE_SKILLS_SEARCH_LABEL['fieldValue']}} {{moduleName}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                </div>
                <div class="algo-table algo-table-department doNotPrint">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="EmployeeSkillsGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div 
                                            [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>  
                                </div>
                              </div>

                            <!-- Data Grid Action -->
                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="70" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{EMPLOYEE_SKILLS_ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row doNotPrint">
                    <!-- Table View Starts -->
                    <div class="table-view table-view-fix">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Table View Ends -->
                <!-- print Header -->
                <div *ngIf="(isUnderUpdate && doNotPrintHearder)" style="border: 1px solid gray;" [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-3">
                        <label class="control-label" style="padding-top: 6px; font-size: 24px" for="employeeIdvalue">{{EMPLOYEE_SKILLS_EMPLOYEE_ID['fieldValue']}}</label>
                        <span *ngIf="EMPLOYEE_SKILLS_EMPLOYEE_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-2">
                        <input type="text" style="padding-top: 14px; font-size: 21px" [ngClass]="'form-control fm-txt'" name="employeeId" value="{{employeeIdValue}}"
                            title="{{EMPLOYEE_SKILLS_EMPLOYEE_ID['helpMessage']}}" maxlength="15" [required]="EMPLOYEE_SKILLS_EMPLOYEE_ID['isMandatory']" [readonly]="!EMPLOYEE_SKILLS_EMPLOYEE_ID['writeAccess']" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" style="padding-top: 6px; font-size: 24px" for="skillSetIdValue">{{EMPLOYEE_SKILLS_SKILL_SET_ID['fieldValue']}}</label>
                        <span *ngIf="EMPLOYEE_SKILLS_SKILL_SET_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-4">
                        <input type="text" style="padding-top: 14px; font-size: 21px" [ngClass]="'form-control fm-txt'" name="skillSetId" value="{{skillSetIdValue}}"
                            title="{{EMPLOYEE_SKILLS_SKILL_SET_ID['helpMessage']}}" maxlength="15" [required]="EMPLOYEE_SKILLS_SKILL_SET_ID['isMandatory']" [readonly]="!EMPLOYEE_SKILLS_EMPLOYEE_ID['writeAccess']" />
                    </div>
                </div>
                <div class="bottom-view">
                </div>
                <button class="blue-btn" (click)="varifyDelete()">{{EMPLOYEE_SKILLS_DELETE_LABEL['fieldValue']}}</button>

                <!-- Create / Update Form start -->
                <div *ngIf="showCreateForm">
                    <div class="col-md-12 mt-30">
                        <hr>
                    </div>
                    <div class="col-md-12 mb-30 doNotPrint">
                        <h3 *ngIf="!model.id">{{EMPLOYEE_SKILLS_CREATE_FORM_LABEL['fieldValue']}}</h3>
                        <h3 *ngIf="model.id">{{EMPLOYEE_SKILLS_UPDATE_FORM_LABEL['fieldValue']}}</h3>
                    </div>
                    <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="clearfix"></div>

                    <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && !checkEmpValidId && !checkEmpSkillValidId && CreateEmployeeSkills(f, $event,editAndSaveArray)" #f="ngForm"
                        novalidate>


                        <!-- Employee Skill Id field -->


                        <div *ngIf="isUnderUpdate; then update else create"></div>
                        <ng-template #update>
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                    <div class="col-md-4">
                                        <label class="control-label" for="employeeIdvalue">{{EMPLOYEE_SKILLS_EMPLOYEE_ID['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_SKILLS_EMPLOYEE_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="employeeId" value="{{employeeIdValue}}" title="{{EMPLOYEE_SKILLS_EMPLOYEE_ID['helpMessage']}}"
                                            maxlength="15" [required]="EMPLOYEE_SKILLS_EMPLOYEE_ID['isMandatory']" [readonly]="!EMPLOYEE_SKILLS_EMPLOYEE_ID['writeAccess']" />
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #create>
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{ 'has-error': f.submitted && !employeeId.valid || checkEmpValidId,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                    <div class="col-md-4">
                                        <label class="control-label" for="employeeId">{{EMPLOYEE_SKILLS_EMPLOYEE_ID['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_SKILLS_EMPLOYEE_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="employeeId" [(ngModel)]="modelemployeeId" #employeeId="ngModel"
                                            title="{{EMPLOYEE_SKILLS_EMPLOYEE_ID['helpMessage']}}" maxlength="15" [required]="EMPLOYEE_SKILLS_EMPLOYEE_ID['isMandatory']" [typeahead]="employeeIdList"
                                            (typeaheadLoading)="changeTypeaheadLoading($event,'employee')" autocomplete="off"
                                            (typeaheadOnSelect)="typeaheadOnSelect($event,'employee')" typeaheadOptionField="employeeId"
                                            (input)="CheckValidID($event, 'employeeId')"/>
                                        <div *ngIf="f.submitted && employeeId.invalid">
                                            <div [hidden]="!employeeId.errors.required">
                                                {{EMPLOYEE_SKILLS_EMPLOYEE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                        <div *ngIf="checkEmpValidId">
                                            Invalid {{EMPLOYEE_SKILLS_EMPLOYEE_ID['fieldValue']}}.
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <div *ngIf="isUnderUpdate; then updateSid else createSid"></div>
                        <ng-template #updateSid>
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                    <div class="col-md-4">
                                        <label class="control-label" for="skillSetIdValue">{{EMPLOYEE_SKILLS_SKILL_SET_ID['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_SKILLS_SKILL_SET_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="skillSetId" value="{{skillSetIdValue}}" title="{{EMPLOYEE_SKILLS_SKILL_SET_ID['helpMessage']}}"
                                            maxlength="15" [required]="EMPLOYEE_SKILLS_SKILL_SET_ID['isMandatory']" [readonly]="!EMPLOYEE_SKILLS_SKILL_SET_ID['writeAccess']" />
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #createSid>
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'has-error': f.submitted && !skillsetId.valid || checkEmpSkillValidId,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                    <div class="col-md-4">
                                        <label class="control-label" for="skillSetId">{{EMPLOYEE_SKILLS_SKILL_SET_ID['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_SKILLS_SKILL_SET_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="skillSetId" [(ngModel)]="modelskillSetId" #skillsetId="ngModel"
                                            title="{{EMPLOYEE_SKILLS_SKILL_SET_ID['helpMessage']}}" maxlength="15" [typeahead]="skillSetIdList"
                                            (typeaheadLoading)="changeTypeaheadLoading($event,'skillset')" autocomplete="off"
                                            (typeaheadOnSelect)="typeaheadOnSelect($event,'skillset')" typeaheadOptionField="skillset.skillSetId"
                                            (input)="CheckValidID($event, 'empSkillId')" [required]="EMPLOYEE_SKILLS_SKILL_SET_ID['isMandatory']"uired/>
                                        <div *ngIf="f.submitted && skillsetId.invalid">
                                            <div [hidden]="!skillsetId.errors.required">
                                                {{EMPLOYEE_SKILLS_SKILL_SET_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                        <div *ngIf="checkEmpSkillValidId">
                                            Invalid {{EMPLOYEE_SKILLS_SKILL_SET_ID['fieldValue']}}.
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <hr>
                        <div *ngIf="loaderImg" style="margin-left: 40%;height: 6rem;">
                            <img src="assets/img/loader.gif" style="width: 5rem;" alt="Loader">
                        </div>
                        <div>
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <table class="table" id="subitems" re>
                                        <form style="width: auto" #t="ngForm">

                                            <thead *ngIf="editAndSaveArray.length > 0">
                                                <th style="border-top-left-radius: 20px; ">Select</th>
                                                <th style="text-align: center;">{{EMPLOYEE_SKILLS_SKILLS_DESCRIPTION_LABEL['fieldValue']}}</th>
                                                <th style="text-align: center">{{EMPLOYEE_SKILLS_OBTAINED_LABEL['fieldValue']}}</th>
                                                <th style="text-align: center">{{EMPLOYEE_SKILLS_PROFICIENCY_LABEL['fieldValue']}}</th>
                                                <th style="text-align: center">{{EMPLOYEE_SKILLS_DATE_LABEL['fieldValue']}}</th>
                                                <th style="text-align: center">{{EMPLOYEE_SKILLS_REQUIRED_LABEL['fieldValue']}}</th>
                                                <th style="border-top-right-radius:20px; text-align: center;  width: 64px;">{{EMPLOYEE_SKILLS_COMMENT_LABEL['fieldValue']}}</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of editAndSaveArray; let num = index; ">
                                                    <td>
                                                        <input class="fm-txt" type="checkbox" style="margin-left: 11px;" name="selected[{{num}}]" #selected [(ngModel)]="item.selected">
                                                    </td>
                                                    <td>{{item.skillDesc}}</td>
                                                    <td>
                                                        <input class="fm-txt" type="checkbox" style="margin-left: 21px;" name="obtained[{{num}}]" #obtained [(ngModel)]="item.obtained">
                                                    </td>
                                                    <td>
                                                        <input class="fm-txt" type="number" style="width:150px; margin: -7px -7px -8px -7px; padding-left: 10px;" name="proficiency[{{num}}]"
                                                            #proficiency [(ngModel)]="item.proficiency" min="0" max="100" maxlength="3"
                                                            onKeyPress="if(this.value.length==3) return false;">

                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <input class="fm-txt" style="width:100px; margin-left: -9px;" placeholder="Select date" ngx-mydatepicker name="skillExpirationDate[{{num}}]"
                                                                [(ngModel)]="item.skillExpirationDate" [options]="myOptions"
                                                                #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"
                                                                #skillExpirationDate="ngModel" readonly/>
                                                            <div class="input-group-btn">
                                                                <button type="button" class="btn btn-default fm-txt" (click)="dp.clearDate()">
                                                                    <i class="glyphicon glyphicon-remove"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-default fm-txt" (click)="dp.toggleCalendar()">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input class="fm-txt" type="checkbox" style="margin-left: 21px;" name="required[{{num}}]" #required [(ngModel)]="item.required">
                                                    </td>
                                                    <td>
                                                        <input class="fm-txt" style="width:150px; margin: -7px -7px -8px -7px;" type="text" name="skillComment[[{{num}}]]" #skillComment
                                                            [(ngModel)]="item.skillComment" maxlength="31" />
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </form>
                                    </table>
                                </div>

                            </div>

                        </div>
                        <div id="print-section" class="print-tabel">
                            <table class="details" style="width: 100% !important; min-width: 1200px; table-layout: fixed; border-spacing: 0; border-collapse: separate;font-family: 'Open Sans', sans-serif;margin-bottom: 20px;">
                                <tr>
                                   
                                    <td align='left' style=" padding: 0; border: none; border-radius: 10px;font-size: 14px;">
                                        <table style="width: 100% !important;  table-layout: fixed; border-spacing: 0; border-collapse: separate; font-family: 'Open Sans', sans-serif;">
                                            <tr>
                                                <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                                    {{EMPLOYEE_SKILLS_EMPLOYEE_ID['fieldValue']}}</th>
                                                <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                                    {{EMPLOYEE_SKILLS_SKILL_SET_ID['fieldValue']}}</th>
                                                <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                                    {{EMPLOYEE_SKILLS_OBTAINED_LABEL['fieldValue']}}</th>
                                                <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                                    {{EMPLOYEE_SKILLS_PROFICIENCY_LABEL['fieldValue']}}</th>
                                                <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                                    {{EMPLOYEE_SKILLS_REQUIRED_LABEL['fieldValue']}}</th>
                                                
                                            </tr>
                                           <!-- <tr>
                                              <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                                {{model.employeeId}}</td>
                                            <td align="center" style="border: 1px solid #8e8e8e; font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                                {{model.skillSetId}}</td>
                                                   <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                                  {{model.item.obtained}}</td>
                                                <td align="center" style="border: 1px solid #8e8e8e; font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                                  {{model.item.proficiency}}</td>
                                                    <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                                      {{model.item.required}}</td>
                                                  
                                            </tr>  -->
                                        </table>
                                    </td>
                                </tr>
                            </table>
              </div>
                        <!-- Buttons -->
                        <div [ngClass]="'button-row'">
                            <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                <div [ngClass]="'col-xs-12'">
                                    <span class="pull-right">
                                        <button *ngIf="model.id" [ngClass]="'grey-btn'" [disabled]="!afterFirstSave" >{{EMPLOYEE_SKILLS_UPDATE_LABEL['fieldValue']}}</button>
                                        <button *ngIf="!model.id" [ngClass]="'grey-btn'" [disabled]="!afterFirstSave">{{EMPLOYEE_SKILLS_SAVE_LABEL['fieldValue']}}</button>
                                        <button [ngClass]="'grey-btn  '" type="button" (click)="printEmployeeDetails()" *ngIf="model.id">Print</button>
                                        <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f, t)">{{EMPLOYEE_SKILLS_CLEAR_LABEL['fieldValue']}}</button>
                                        <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{EMPLOYEE_SKILLS_CANCEL_LABEL['fieldValue']}}</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </form>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
                <!-- Create Update form ends -->
                <!-- </div> -->
            </div>
        </section>
    </section>
</div>
