<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete(f)' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>

    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div *ngIf="hasMessage" class="content-heading">
          <div [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
        </div>
      <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && !endDateModelInvalid && !checkEmpValidId && !isSelected && CreateBuildChecks(f, $event)" #f="ngForm" novalidate>
        <div class="row">
          <div class="col-md-8">

            <!-- Default ID -->
            <div [ngClass]="'form-group'">
              <div [ngClass]="{ 'has-error': f.submitted && defaultId.invalid || checkEmpValidId,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                <div class="col-md-4" style="top:10px;">
                  <label class="label_normal" for="defaultId">{{BUILD_CHECKS_DEFAULT_ID['fieldValue']}}</label>
                </div>
                <div class="col-md-8">
                  <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="defaultId" [(ngModel)]="defaultID" #defaultId="ngModel"
                    title="{{BUILD_CHECKS_DEFAULT_ID['helpMessage']}}" maxlength="15" required [typeahead]="defaultIdsList"
                    (typeaheadLoading)="changeTypeaheadLoading($event,'defaultId')" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event,'defaultId')"
                    (change)="defChange=true;" typeaheadOptionField="defaultID"  (input)="CheckValidID($event)" />
                  <div *ngIf="f.submitted && defaultId.invalid">
                    <div [hidden]="!defaultId.errors.required">
                      {{BUILD_CHECKS_DEFAULT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                  </div>
                  <div *ngIf="checkEmpValidId">
                      Invalid {{BUILD_CHECKS_DEFAULT_ID['fieldValue']}}.
                    </div>
                </div>
              </div>
            </div>

            <!-- Description Field -->
            <div [ngClass]="'form-group'">
              <div [ngClass]="{'has-error': f.submitted && !desc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                <div class="col-md-4">
                  <label class="label_normal" for="desc">{{BUILD_CHECKS_DESCRIPTION['fieldValue']}}</label>
                </div>
                <div class="col-md-8">
                  <input type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model.description" #desc="ngModel" title="{{BUILD_CHECKS_DESCRIPTION['helpMessage']}}"
                    maxlength="140" required readonly />
                  <div *ngIf="f.submitted && desc.invalid">
                    <div [hidden]="!desc.errors.required">
                      {{BUILD_CHECKS_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pay Run Type Field -->
            <div class="form-group">
              <div [ngClass]="{'has-error': f.submitted && payRunType.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                <div class="col-md-4">
                  <label class="label_normal" for="payRunType">{{BUILD_CHECKS_TYPE_PAY_RUN['fieldValue']}}</label>
                </div>
                <div class="col-md-8">
                  <select [ngClass]="'form-control fm-txt'" name="payRunType" [(ngModel)]="model.typeofPayRun" #payRunType="ngModel" title="{{BUILD_CHECKS_TYPE_PAY_RUN['helpMessage']}}"
                    required [disabled]="disabled">
                    <option value="null" [selected]="model.typeofPayRun == null">-- Type of Pay Run --</option>
                    <option *ngFor='let option of payRunTypes' [value]="option.value" [selected]="option.value == model.typeofPayRun">{{option.type}}</option>
                  </select>
                  <div *ngIf="f.submitted && payRunType.invalid">
                    <div [hidden]="!payRunType.errors.required">
                      {{BUILD_CHECKS_TYPE_PAY_RUN['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Loader -->
        <!-- <div *ngIf="loaderImg" style="margin-left: 40%;height: 6rem;">
          <img src="assets/img/loader.gif" style="width: 5rem;" alt="Loader">
        </div> -->

        <div class="row">
          <div class="col-md-12">
            <fieldset class="fieldsetclass cust-row row form-row" style="border-radius: 0px;min-height:1.5em;">
              <!-- Pay Run Ranges -->
              <div class="cust-row"> {{BUILD_CHECKS_PAY_RUN_RANGE['fieldValue']}}</div>

              <!-- Pay Period Date -->
              <div class="row cust-row">
                <div class="col-md-12">
                  <div class="col-md-2">
                    <label class="label_normal" style="text-align:center;">{{BUILD_CHECKS_PAY_PERIOD_DATE['fieldValue']}}:</label>
                  </div>
                  <div class="col-md-4" [ngClass]="{'has-error': f.submitted && (!startDate.valid || startDateModelInvalid)}">
                    <div class="col-md-3">
                      <label class="label_normal" for="startDate">{{BUILD_CHECKS_FROM_LABEL['fieldValue']}}:</label>
                    </div>
                    <div class="col-md-9">
                      <div class="input-group">
                        <input [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="startDate" title="{{BUILD_CHECKS_FROM_LABEL['fieldValue']}}"
                          [(ngModel)]="startDateModel" [options]="myOptions" #dp0="ngx-mydatepicker" (dateChanged)="onStartDateChanged($event)"
                          #startDate="ngModel" (change)="onStartDateChanged($event.target.value)" readonly required/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" [disabled]="disabled" style="float:none; height: 40px; width: 40px;" (click)="dp0.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                          <button type="button" class="btn btn-default" [disabled]="disabled" style="float:none; height: 40px; width: 40px;" (click)="dp0.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                      </div>
                      <div *ngIf="f.submitted && startDate.invalid">
                        <div [hidden]="!startDate.errors.required">
                          {{BUILD_CHECKS_FROM_LABEL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4" [ngClass]="{'has-error': (f.submitted && !endDate.valid) || endDateModelInvalid}">
                    <div class="col-md-3">
                      <label class="label_normal" for="endDate">{{BUILD_CHECKS_TO_LABEL['fieldValue']}}:</label>
                    </div>
                    <div class="col-md-9">
                      <div class="input-group">
                        <input [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="endDate" title="{{BUILD_CHECKS_TO_LABEL['fieldValue']}}"
                          [(ngModel)]="endDateModel" [options]="myOptions" #dp2="ngx-mydatepicker" (dateChanged)="onEndDateChanged($event)"
                          #endDate="ngModel" (change)="onEndDateChanged($event.target.value)" readonly required/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" [disabled]="disabled" style="float:none; height: 40px; width: 40px;" (click)="dp2.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                          <button type="button" class="btn btn-default" [disabled]="disabled" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                      </div>
                      <div *ngIf="f.submitted && endDate.invalid;else endLarger">
                        <div [hidden]="!endDate.errors.required">
                          {{BUILD_CHECKS_TO_LABEL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                      <ng-template #endLarger>
                        <div *ngIf="endDateModelInvalid">
                          Invalid end date.
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Employee Dept. -->
              <div class="row cust-row">
                <div class="col-md-12">
                  <div class="col-md-2">
                    <label class="label_normal">{{BUILD_CHECKS_EMP_DEPT['fieldValue']}}:</label>
                  </div>
                  <div class="col-md-1">
                    <input style="margin: 0 5px 0 10px;" type="radio" [value]="true" name="allDepartment" title="{{BUILD_CHECKS_ALL_LABEL['helpMessage']}}"
                      [(ngModel)]="model.allDepartment" (change)="DepartmentAll()" #allDepartment="ngModel" [disabled]="disabled"
                      required />&nbsp;&nbsp;{{BUILD_CHECKS_ALL_LABEL['fieldValue']}}
                  </div>
                  <div class="col-md-9">
                    <div>
                      <div class="col-md-4">
                        <input style="margin: 0 5px 0 10px;" type="radio" [value]="false" name="allDepartment" title="{{BUILD_CHECKS_FROM_LABEL['helpMessage']}}"
                          [(ngModel)]="model.allDepartment" (change)="DepartmentFrom()" #allDepartment="ngModel" [disabled]="disabled"
                          required />&nbsp;&nbsp;{{BUILD_CHECKS_SELECTED_EMPLOYEE_LABEL['fieldValue']}}:
                      </div>
                      <div *ngIf="!disabled" [ngClass]="{'has-error':(f.submitted && isSelectedDpt)}" style="margin-top: 6px;" class="col-md-8">
                        <angular2-multiselect 
                          name="selectEmployeeDepartment" 
                          [data]="AllDepartmentList" 
                          [(ngModel)]="showSelectedEmployeeDepartment"
                          [settings]="employeeDepartmentSettings" 
                          (onSelect)="onItemSelect($event, 'employeeDepartment')" 
                          (onDeSelect)="OnItemDeSelect($event, 'employeeDepartment')"
                          (onSelectAll)="onSelectAll($event, 'employeeDepartment')" 
                          (onDeSelectAll)="onDeSelectAll($event, 'employeeDepartment')">
                        </angular2-multiselect>
                        <div *ngIf="(f.submitted && isSelectedDpt)" >
                          {{selectErrorDpt}}
                        </div>
                      </div>
                      
                      <!-- For Processed Data -->
                      <div *ngIf="disabled" [ngClass]="{'has-error':(f.submitted && isSelectedDpt)}"  class="col-md-8">
                        <angular2-multiselect 
                          name="selectEmployeeDepartment" 
                          [data]="AllDepartmentList" 
                          [(ngModel)]="showSelectedEmployeeDepartment"
                          [settings]="departmentSettingForProcessedData" 
                          (onSelect)="onItemSelect($event, 'employeeDepartment')" 
                          (onDeSelect)="OnItemDeSelect($event, 'employeeDepartment')"
                          (onSelectAll)="onSelectAll($event, 'employeeDepartment')" 
                          (onDeSelectAll)="onDeSelectAll($event, 'employeeDepartment')">
                        </angular2-multiselect>
                        <div *ngIf="(f.submitted && isSelectedDpt)" >
                            {{selectErrorDpt}}
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Employee ID -->
              <div class="row cust-row">
                <div class="col-md-12">
                  <div class="col-md-2">
                    <label class="label_normal" style="text-align:center;">{{BUILD_CHECKS_EMP_ID['fieldValue']}}:</label>
                  </div>
                  <div class="col-md-1">
                    <input style="margin: 0 5px 0 10px;" type="radio" [value]="true" name="allEmployees" title="{{BUILD_CHECKS_ALL_LABEL['helpMessage']}}"
                      [(ngModel)]="model.allEmployees" (click)="AllEmployeeId()" #allEmployees="ngModel" [disabled]="disabled"
                      required />&nbsp;&nbsp;{{BUILD_CHECKS_ALL_LABEL['fieldValue']}}
                  </div>
                  <div class="col-md-9">
                    <div>
                      <div class="col-md-4">
                        <input style="margin: 0 5px 0 10px;" type="radio" [value]="false" name="allEmployees" title="{{BUILD_CHECKS_FROM_LABEL['helpMessage']}}"
                          [(ngModel)]="model.allEmployees" (click)="FromEmployeeId()" #allEmployees="ngModel" [disabled]="disabled"
                          required />&nbsp;&nbsp;{{BUILD_CHECKS_EMPEXCLD_LABEL['fieldValue']}}:
                      </div>
                      <div *ngIf="!disabled" [ngClass]="{'has-error':(f.submitted && isSelectedEmp)}"  class="col-md-8">
                        <angular2-multiselect 
                          name="selectEmployeeId" 
                          [data]="employeesOfAllDepartmentList" 
                          [(ngModel)]="showSelectedEmployeeId"
                          [settings]="employeeIdsettings" 
                          (onSelect)="onItemSelect($event, 'employeeId')" 
                          (onDeSelect)="OnItemDeSelect($event, 'employeeId')"
                          (onSelectAll)="onSelectAll($event, 'employeeId')" 
                          (onDeSelectAll)="onDeSelectAll($event, 'employeeId')">
                        </angular2-multiselect>
                        <div *ngIf="(f.submitted && isSelectedEmp)">
                            {{selectErrorEmp}}
                        </div>
                      </div>

                      <!-- For Processed Data -->
                      <div *ngIf="disabled" [ngClass]="{'has-error':(f.submitted && isSelectedEmp)}" class="col-md-8">
                        <angular2-multiselect 
                          name="selectEmployeeId" 
                          [data]="employeesOfAllDepartmentList" 
                          [(ngModel)]="showSelectedEmployeeId"
                          [settings]="EmployeeSettingForProcessedData" 
                          (onSelect)="onItemSelect($event, 'employeeId')" 
                          (onDeSelect)="OnItemDeSelect($event, 'employeeId')"
                          (onSelectAll)="onSelectAll($event, 'employeeId')" 
                          (onDeSelectAll)="onDeSelectAll($event, 'employeeId')">
                        </angular2-multiselect>
                        <div *ngIf="(f.submitted && isSelectedEmp)">
                            {{selectErrorEmp}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <!-- Loader -->
        <div *ngIf="loaderImg" style="margin-left: 40%;height: 6rem;">
            <img src="assets/img/loader.gif" style="width: 5rem;" alt="Loader">
          </div>

        <!-- Include pay periods -->
        <div class="row cust-bottom" style="display: flex;justify-content: center;align-items: center;">
          <div class="col-md-6">
            <fieldset [ngClass]="{'has-error': f.submitted && !(model.weekly || model.biweekly || model.semimonthly|| model.monthly || model.quarterly|| model.semiannually|| model.annually|| model.dailyMisc )}"
              class="fieldsetclass row form-row" style="border-radius: 0px;">
              <div class="cust-row"> Include Pay Periods:</div>

              <div class="col-md-6">
                <div class="dist-row">
                  <input type="checkbox" name="weekly" [checked]="model.weekly" [(ngModel)]="model.weekly" #weekly="ngModel" [disabled]="disabled"
                  />
                  <label class="label_normal" style="text-align:center;vertical-align: bottom;" for="weekly">{{BUILD_CHECKS_EMP_DEPT_TO_LABEL['fieldValue']}}</label>
                </div>
                <div class="dist-row">
                  <input type="checkbox" name="biweekly" [checked]="model.biweekly" [(ngModel)]="model.biweekly" #biweekly="ngModel" [disabled]="disabled"
                  />
                  <label class="label_normal" style="text-align:center;vertical-align: bottom;" for="biweekly">{{BUILD_CHECKS_BIWEEKLY['fieldValue']}}</label>
                </div>
                <div class="dist-row">
                  <input type="checkbox" name="semimonthly" [checked]="model.semimonthly" [(ngModel)]="model.semimonthly" #semimonthly="ngModel"
                    [disabled]="disabled" />
                  <label class="label_normal" style="text-align:center;vertical-align: bottom;" for="semimonthly">{{BUILD_CHECKS_SEMIMONTHLY['fieldValue']}}</label>
                </div>
                <div class="dist-row">
                  <input type="checkbox" name="monthly" [checked]="model.monthly" [(ngModel)]="model.monthly" #monthly="ngModel" [disabled]="disabled"
                  />
                  <label class="label_normal" style="text-align:center;vertical-align: bottom;" for="monthly">{{BUILD_CHECKS_MONTHLY['fieldValue']}}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="dist-row">
                  <input type="checkbox" name="quarterly" [checked]="model.quarterly" [(ngModel)]="model.quarterly" #quarterly="ngModel" [disabled]="disabled"
                  />
                  <label class="label_normal" style="text-align:center;vertical-align: bottom;" for="quarterly">{{BUILD_CHECKS_QUARTERLY['fieldValue']}}</label>
                </div>
                <div class="dist-row">
                  <input type="checkbox" name="semiannually" [checked]="model.semiannually" [(ngModel)]="model.semiannually" #semiannually="ngModel"
                    [disabled]="disabled" />
                  <label class="label_normal" style="text-align:center;vertical-align: bottom;" for="semiannually">{{BUILD_CHECKS_SEMIANNUALLY['fieldValue']}}</label>
                </div>
                <div class="dist-row">
                  <input type="checkbox" name="annually" [checked]="model.annually" [(ngModel)]="model.annually" #annually="ngModel" [disabled]="disabled"
                  />
                  <label class="label_normal" style="text-align:center;vertical-align: bottom;" for="annually">{{BUILD_CHECKS_ANNUALLY['fieldValue']}}</label>
                </div>
                <div class="dist-row">
                  <input type="checkbox" name="dailyMisc" [checked]="model.dailyMisc" [(ngModel)]="model.dailyMisc" #dailyMisc="ngModel" [disabled]="disabled"
                  />
                  <label class="label_normal" style="text-align:center;vertical-align: bottom;" for="dailyMisc">{{BUILD_CHECKS_DAILY_MISC['fieldValue']}}</label>
                </div>
              </div>
              <div *ngIf="f.submitted && !(model.weekly || model.biweekly || model.semimonthly|| model.monthly || model.quarterly|| model.semiannually|| model.annually|| model.dailyMisc )">
                Select at least one pay period.
              </div>
            </fieldset>
          </div>

          <div *ngIf="model.id != null; then update else create"></div>
          <ng-template #create>
            <div>
              <br>
              <br [ngClass]="'dist-row'">
              <br>
              <br [ngClass]="'dist-row'">
              <br>
              <br [ngClass]="'dist-row'">
            </div>
          </ng-template>
          <ng-template #update>
            <div class="col-md-6">
              <br>
              <button type="button" (click)="navigateToPayCodes()" [disabled]="model.typeofPayRun!=2" [ngClass]="'grey-btn dist-row '">{{BUILD_CHECKS_PAY_PERIOD_TO_LABEL['fieldValue']}}</button>
              <br>
              <button type="button" (click)="navigateToDeductions()" [disabled]="clearDisabled" [ngClass]="'grey-btn dist-row'">{{BUILD_CHECKS_INCL_PAY_PERIOD['fieldValue']}}</button>
              <br>
              <button type="button" (click)="navigateToBenefits()" [disabled]="clearDisabled" [ngClass]="'grey-btn dist-row'">{{BUILD_CHECKS_WEEKLY['fieldValue']}}</button>
              <br>
              <button type="button" (click)="navigateToBatches()" [disabled]="clearDisabled" [ngClass]="'grey-btn dist-row'">{{BUILD_CHECKS_SAVE['fieldValue']}}</button>

            </div>
          </ng-template>
        </div>


        <div *ngIf="model.id == null">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-12 com-form">
            <div [ngClass]="'button-row'">
              <div [ngClass]="'col-xs-12'">
                <span class="pull-right">
                  <button [ngClass]="'blue-btn'" [disabled]="disabled || loaderImg">{{BUILD_CHECKS_PAY_PERIOD_FROM_LABEL['fieldValue']}}</button>
                  <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{BUILD_CHECKS_CLEAR['fieldValue']}}</button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="model.id != null" [ngClass]="'row'">
          <div class="col-md-12">&nbsp;</div>
          <div class="col-md-12 com-form">
            <div [ngClass]="'button-row'">
              <div [ngClass]="'col-xs-12'">
                <span class="pull-right">
                  <button [ngClass]="'blue-btn'" [disabled]="clearDisabled">REBUILD</button>
                  <button [ngClass]="'grey-btn'" type="button" [disabled]="clearDisabled" (click)="verifyDelete(f)">REMOVE</button>
                  <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{BUILD_CHECKS_CLEAR['fieldValue']}}</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
      <br>
      <br>
      <br>
      <br>
      </div>
    </section>
  </section>
</div>
