.dist-row{
    margin:5px;
    width: 245px;
}
.cust-row{
    margin:5px;
}
input[type=checkbox]{
    vertical-align: middle;
    min-height:1.5em;
}

/* For DropDown CSS */
.custom-class-example {
    color: #ccc;
}
.custom-class-example .c-token{
    background: #38d574 !important;
}
.custom-class-example .pure-checkbox label::before {
    border-color: #38d574 !important;
}
.custom-class-example .pure-checkbox input[type="checkbox"]:checked + label[_ngcontent-c1]:before {
    background: #38d574 !important;
}
