
<div class="content-wrapper user-view">
    <section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<!--<pre>{{gridDefaultFormValues|json}}</pre>-->
            <section class="inner-content">
			<!--<pre>{{generalSetup|json}}</pre>-->
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
						<form class="search-batch" name="customerMaintenanceOptions" (ngSubmit)="save(customerMaintenanceOptions)" #customerMaintenanceOptions="ngForm" novalidate>
							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': customerMaintenanceOptions.submitted && currentVendorId.length == 0  }">
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
									<input type="text" title="{{defaultFormValues[0]['helpMessage']}}" class="form-control fm-txt" title="{{defaultFormValues[0]['helpMessage']}}" name="currentVendorId" [(ngModel)]="currentVendorId"  readonly>
									<!--<div class="select-outer">-->
										 <!--<select title="{{defaultFormValues[0]['helpMessage']}}" class="form-control {{myHtml}} auto-focus" id="ddl_insClassId" name='customerNumberId' [(ngModel)]="CustomerMaintenance.customerNumberId"  (change)="getNames()" #customerNumberId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let c of customers" [value]="c.customerId">{{c.name}}</option>
										</select>-->
									<!--<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCustomerNumberId" [(ngModel)]="customerNumberId" [ngModelOptions]="{standalone: true}"
                                      [settings]="ddlCustomerNumberIdSetting" 
									 (onSelect)="getCustomerNumberByID($event)" (onDeSelect)="OnCustomerNumberIdDeSelect($event)">
									 </angular2-multiselect>
										<div *ngIf="customerMaintenanceOptions.submitted && customerNumberId.length == 0 ">
											<div class='error-msg'>
												{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
										</div>-->
									<!--</div>-->
								</div>
							</div><!-- Form Row Ends -->
							
							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']">
									<label>{{defaultFormValues[1]['fieldValue']}}</label>
									<input title="{{defaultFormValues[1]['helpMessage']}}" type="text" class="form-control fm-txt" name="simpleName" [(ngModel)]="simpleName" readonly>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultFormValues[2]['readAccess']">
								   <label>{{defaultFormValues[2]['fieldValue']}}</label>
									<input type="text" title="{{defaultFormValues[2]['helpMessage']}}" class="form-control fm-txt" title="{{defaultFormValues[2]['helpMessage']}}" name="arabicName" [(ngModel)]="arabicName" readonly>
								</div>                            
							</div><!-- Form Row Ends -->

							<div class="form-row">

									<div class="col-sm-12">

										<div class="row border-box full-bx-width">

										<div class="col-sm-4">
											<div class="cm-row">
											<label>{{defaultFormValues[3]['fieldValue']}}</label>
											</div>
											<div class="cm-row">
											<label>{{defaultFormValues[6]['fieldValue']}}</label>
											</div>
											<div class="cm-row">
											<label>{{defaultFormValues[10]['fieldValue']}}</label>
											</div>
											<div class="cm-row">
											<label>{{defaultFormValues[14]['fieldValue']}}</label>
											</div>
										</div>

										<div class="col-sm-2">
											<div class="cm-row">
												<span class="choose-opt"><label><input type="radio"  name="balanceType" [(ngModel)]="CustomerMaintenance.balanceType"  value="1" #balanceType="ngModel" title="{{defaultFormValues[4]['helpMessage']}}"> {{defaultFormValues[4]['fieldValue']}}</label></span>
											</div>
											<div class="cm-row">
												<span class="choose-opt"><label><input type="radio" (click)="set('none')" name="financeCharge" [(ngModel)]="CustomerMaintenance.financeCharge"  value="0" #financeCharge="ngModel" title="{{defaultFormValues[7]['helpMessage']}}"> {{defaultFormValues[7]['fieldValue']}}</label></span>
											</div>
											<div class="cm-row">
												<span class="choose-opt"><label><input type="radio" (click)="set1('none')" name="minimumCharge" [(ngModel)]="CustomerMaintenance.minimumCharge"  value="0" #minimumCharge="ngModel" title="{{defaultFormValues[11]['helpMessage']}}">{{defaultFormValues[11]['fieldValue']}}</label></span>
											</div>
											<div class="cm-row">
												<span class="choose-opt"><label><input type="radio" (click)="set2('none')" name="creditLimit" [(ngModel)]="CustomerMaintenance.creditLimit"  value="0" #creditLimit="ngModel"> {{defaultFormValues[15]['fieldValue']}}</label></span>
											</div>
										</div>

										<div class="col-sm-2">
											<div class="cm-row">
												<span class="choose-opt"><label><input type="radio"  name="balanceType" [(ngModel)]="CustomerMaintenance.balanceType" value="2" #balanceType="ngModel">{{defaultFormValues[5]['fieldValue']}}</label></span>
											</div>
											<div class="cm-row">
												<span class="choose-opt"><label><input type="radio" (click)="set('percent')" name="financeCharge" [(ngModel)]="CustomerMaintenance.financeCharge" value="1" #financeCharge="ngModel"> {{defaultFormValues[8]['fieldValue']}}</label></span>
											</div>
											<div class="cm-row">
												<span class="choose-opt"><label><input type="radio" (click)="set1('percent')" name="minimumCharge" [(ngModel)]="CustomerMaintenance.minimumCharge" value="1" #minimumCharge="ngModel">{{defaultFormValues[12]['fieldValue']}}</label></span>
											</div>
											<div class="cm-row">
												<span class="choose-opt"><label><input type="radio" (click)="set2('unlimited')" name="creditLimit" [(ngModel)]="CustomerMaintenance.creditLimit" value="1" #creditLimit="ngModel">{{defaultFormValues[16]['fieldValue']}}</label></span>
											</div>
										</div>

										<div class="col-sm-2">
											<div class="cm-row">
												<label>&nbsp; &nbsp;</label>
											</div>
											<div class="cm-row">
												<span class="choose-opt"><label><input type="radio" (click)="set('amount')" name="financeCharge" [(ngModel)]="CustomerMaintenance.financeCharge" value="2" #financeCharge="ngModel"> {{defaultFormValues[9]['fieldValue']}}</label></span>
											</div>
											<div class="cm-row">
												<span class="choose-opt"><label><input type="radio" (click)="set1('amount')"  name="minimumCharge" [(ngModel)]="CustomerMaintenance.minimumCharge" value="2" #minimumCharge="ngModel"> {{defaultFormValues[13]['fieldValue']}}</label></span>
											</div>
											<div class="cm-row">
												<span class="choose-opt"><label><input type="radio" (click)="set2('amount')" name="creditLimit" [(ngModel)]="CustomerMaintenance.creditLimit" value="2" #creditLimit="ngModel"> {{defaultFormValues[17]['fieldValue']}}</label></span>
											</div>
										</div>

										<div class="col-sm-2">
											<div class="cm-row">
												<label>&nbsp; &nbsp;</label>
											</div>
											
											<input type="text" class="form-control fm-txt" id = "financeChargeAmount" name="financeChargeAmount" [(ngModel)]="CustomerMaintenance.financeChargeAmount" #financeChargeAmount="ngModel" 
											[disabled]="ftextDisabled" (ngModelChange) = "getfinanceChargeAmountValue($event)" (blur)= "formatfinanceChargeAmount()" (focus)='formatfinanceChargeAmountChanged()'>		
														
											<input type="text" class="form-control fm-txt" id = "minimumChargeAmount" name="minimumChargeAmount" [(ngModel)]="CustomerMaintenance.minimumChargeAmount" #minimumChargeAmount="ngModel" 
											[disabled]="mtextDisabled" (ngModelChange) = "getminimumChargeAmountValue($event)" (blur)= "formatminimumChargeAmount()" (focus)='formatminimumChargeAmountChanged()'>		
													
											<input type="text" class="form-control fm-txt" id = "creditLimitAmount" name="creditLimitAmount" [(ngModel)]="CustomerMaintenance.creditLimitAmount" #creditLimitAmount="ngModel" 
											[disabled]="ctextDisabled"(ngModelChange) = "getCreditLimitAmountValue($event)" (blur)= "formatCreditLimitAmount()" (focus)='formatCreditLimitAmountChanged()'>
													
										</div>

										</div>

									</div>
								</div><!-- Form Row Ends -->
							
							
									
							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12">
								  
								  <div class="form-row arabic-mode" *ngIf="defaultFormValues[18]['readAccess']" [ngClass]="{ 'has-error': customerMaintenanceOptions.submitted && !tradeDiscountPercent.valid }">
									<label>{{defaultFormValues[18]['fieldValue']}}</label>
									<input myAutofocus type="text" OnlyNumber="true"  id="tradeDiscountPercent" title="{{defaultFormValues[18]['helpMessage']}}" class="form-control fm-txt" 
									name="tradeDiscountPercent" [(ngModel)]="CustomerMaintenance.tradeDiscountPercent" #tradeDiscountPercent="ngModel" (ngModelChange) = "getTradeDiscountPercent($event)" 
									(blur)= "formatTradeDiscountPercent()" (focus)='formatTradeDiscountPercentChanged()' required>
									<div *ngIf="customerMaintenanceOptions.submitted && tradeDiscountPercent.invalid">
											<div class='error-msg' *ngIf="tradeDiscountPercent.errors.required">
												{{defaultFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
										</div>
								  </div>

								  <div class="form-row" *ngIf="defaultFormValues[19]['readAccess']" [ngClass]="{ 'has-error': customerMaintenanceOptions.submitted && paymentTermId.length == 0  }">
									<label>{{defaultFormValues[19]['fieldValue']}}</label>
									<div class="select-outer">
										 <!--<select class="form-control" title="{{defaultFormValues[19]['helpMessage']}}" name='paymentTermId' [(ngModel)]="CustomerMaintenance.paymentTermId"  #paymentTermId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let payment of payments" [value]="payment.paymentTermId">{{payment.description}}</option>
										</select>-->
										<angular2-multiselect [ngClass]="'form-control fm-txt'" id = "paymentTermId" [data]="ArrPaymentTermId" [(ngModel)]="paymentTermId" [ngModelOptions]="{standalone: true}"
                                        [settings]="ddlPaymentTermIdSetting" 
									 (onSelect)="getPaymentTermByID($event)" (onDeSelect)="OnPaymentTermIdDeSelect($event)">
									 </angular2-multiselect>
									</div> 
									<div *ngIf="customerMaintenanceOptions.submitted && paymentTermId.length == 0 ">
										<div class='error-msg'>
											{{defaultFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									</div>
								</div>

								<div class="form-row" *ngIf="defaultFormValues[20]['readAccess']" [ngClass]="{ 'has-error': customerMaintenanceOptions.submitted && shipmentMethodId.length == 0  }">
									<label>{{defaultFormValues[20]['fieldValue']}}</label>
									<div class="select-outer">
										 <!--<select class="form-control" title="{{defaultFormValues[20]['helpMessage']}}" name='shipmentMethodId' [(ngModel)]="CustomerMaintenance.shipmentMethodId"  #shipmentMethodId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let shipping of shippingMethod" [value]="shipping.shipmentMethodId">{{shipping.shipmentDescription}}</option>
										</select>-->
									<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrShipmentMethodId" id="shipmentMethodId" [(ngModel)]="shipmentMethodId" [ngModelOptions]="{standalone: true}"
										[settings]="ddlShipmentMethodSetting" 
									 (onSelect)="getShipmentMethodByID($event)" (onDeSelect)="OnShipmentMethodIdDeSelect($event)">
									 </angular2-multiselect> 
									</div> 
									<div *ngIf="customerMaintenanceOptions.submitted && shipmentMethodId.length == 0 ">
											<div class='error-msg'>
												{{defaultFormValues[20]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
									</div>
								</div>

								<div class="form-row" *ngIf="defaultFormValues[21]['readAccess']" [ngClass]="{ 'has-error': customerMaintenanceOptions.submitted && vatId.length == 0  }">
									<label>{{defaultFormValues[21]['fieldValue']}}</label>
									<div class="select-outer">
										 <!--<select class="form-control" title="{{defaultFormValues[21]['helpMessage']}}" name='vatId' [(ngModel)]="CustomerMaintenance.vatId"  #vatId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let v of vat" [value]="v.vatScheduleId">{{v.vatDescription}}</option>
										</select>-->
									<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrVatScheduleId" id="vatId" [(ngModel)]="vatId" [ngModelOptions]="{standalone: true}"
									[settings]="ddlVatScheduleSetting" 
									 (onSelect)="getVatScheduleByID($event)" (onDeSelect)="OnVatScheduleIdDeSelect($event)">
									 </angular2-multiselect>
									</div> 
									<div *ngIf="customerMaintenanceOptions.submitted && vatId.length == 0 ">
										<div class='error-msg'>
											{{defaultFormValues[21]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									</div>
								</div>

							<div class="form-row" *ngIf="defaultFormValues[22]['readAccess']" [ngClass]="{ 'has-error': customerMaintenanceOptions.submitted && currencyId.length == 0  }">
                              <label>{{defaultFormValues[22]['fieldValue']}}</label>
                              <div class="select-outer">
                                 <!--<select class="form-control" name='currencyId' title="{{defaultFormValues[22]['helpMessage']}}" [(ngModel)]="CustomerMaintenance.currencyId"  #currencyId="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let c of currency" [value]="c.currencyId">{{c.currencyDescription}}</option>
								  </select>-->
								 <angular2-multiselect [ngClass]="'form-control fm-txt'" id = "currencyId" [data]="ArrCurrencyId" [(ngModel)]="currencyId" [ngModelOptions]="{standalone: true}"
                                        [settings]="ddlCurrencyIdSetting" 
									 (onSelect)="getCurrencyByID($event)" (onDeSelect)="OnCurrencyIdDeSelect($event)">
									 </angular2-multiselect>
                                </div> 
								<div *ngIf="customerMaintenanceOptions.submitted && currencyId.length == 0 ">
									<div class='error-msg'>
										{{defaultFormValues[22]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								  </div>
                            </div>

                            <!-- <div class="form-row" *ngIf="defaultFormValues[23]['readAccess']" [ngClass]="{ 'has-error': customerMaintenanceOptions.submitted && priceLevel.length == 0  }"> -->
							<div class="form-row" *ngIf="defaultFormValues[23]['readAccess']" >
                              <label>{{defaultFormValues[23]['fieldValue']}}</label>
							  <div class="select-outer">
								  <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrPriceLevel" id="priceLevel" [(ngModel)]="priceLevel"
								   [ngModelOptions]="{standalone: true}"
                                      [settings]="ddlPriceLevelSetting" 
									 (onSelect)="getPriceLevelByID($event)" (onDeSelect)="OnPriceLevelIdDeSelect($event)">
									 </angular2-multiselect>
									 </div>
							  <!-- <div *ngIf="customerMaintenanceOptions.submitted && priceLevel.length == 0 ">
								<div class='error-msg'>
									{{defaultFormValues[23]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>										
							  </div> -->
                            </div>


						</div>

						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="form-row" *ngIf="defaultFormValues[24]['readAccess']" [ngClass]="{ 'has-error': customerMaintenanceOptions.submitted && salesmanId.length == 0  }">
                              <label>{{defaultFormValues[24]['fieldValue']}}</label>
                              <div class="select-outer">
                                 <!--<select class="form-control" title="{{defaultFormValues[24]['helpMessage']}}" name='salesmanId' [(ngModel)]="CustomerMaintenance.salesmanId"  #salesmanId="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let sa of salesman" [value]="sa.salesmanId">{{sa.salesmanFirstName}}</option>
								  </select>-->
                                   	<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrSalesmanId" id="salesmanId"[(ngModel)]="salesmanId" [ngModelOptions]="{standalone: true}"
                                      [settings]="ddlSalesmanIdSetting" 
									 (onSelect)="getSalesmanByID($event)" (onDeSelect)="OnSalesmanIdDeSelect($event)">
									 </angular2-multiselect>
                               </div>
								 <div *ngIf="customerMaintenanceOptions.submitted && salesmanId.length == 0 ">
									<div class='error-msg'>
										{{defaultFormValues[24]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								  </div>
                            </div>

                            <div class="form-row" *ngIf="defaultFormValues[25]['readAccess']" [ngClass]="{ 'has-error': customerMaintenanceOptions.submitted && salesTerritoryId.length == 0  }">
                               <label>{{defaultFormValues[25]['fieldValue']}}</label>
								<div class="select-outer">
                                 <!--<select class="form-control" title="{{defaultFormValues[25]['helpMessage']}}" name='salesTerritoryId' [(ngModel)]="CustomerMaintenance.salesTerritoryId"  #salesTerritoryId="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let st of salesTerritory" [value]="st.salesTerritoryId">{{st.descriptionPrimary}}</option>
								  </select>								   -->
									<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrSalesTerritoryId" id="salesTerritoryId" [(ngModel)]="salesTerritoryId" [ngModelOptions]="{standalone: true}"
									[settings]="ddlSalesTerritoryIdSetting" 
									(onSelect)="getSalesTerritoryByID($event)" (onDeSelect)="OnSalesTerritoryIdDeSelect($event)">
									</angular2-multiselect>
                                </div> 
								<div *ngIf="customerMaintenanceOptions.submitted && salesTerritoryId.length == 0 ">
									<div class='error-msg'>
										{{defaultFormValues[25]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								  </div>
                            </div>

							<div class="form-row" *ngIf="defaultFormValues[26]['readAccess']" [ngClass]="{ 'has-error': customerMaintenanceOptions.submitted && checkbookId.length == 0  }">
                              <label>{{defaultFormValues[26]['fieldValue']}}</label>
                              <div class="select-outer">
                                 <!--<select class="form-control" title="{{defaultFormValues[26]['helpMessage']}}" name='checkbookId' [(ngModel)]="CustomerMaintenance.checkbookId"  #checkbookId="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let check of checkbook" [value]="check.checkBookId">{{check.checkbookDescription}}</option>
								  </select>-->
                                  	<angular2-multiselect [ngClass]="'form-control fm-txt'" id = "checkbookId" [data]="ArrCheckBookId" [(ngModel)]="checkbookId" [ngModelOptions]="{standalone: true}"
                                      [settings]="ddlCheckBookIdSetting" 
									 (onSelect)="getCheckBookByID($event)" (onDeSelect)="OnCheckBookIdDeSelect($event)">
									 </angular2-multiselect>
                                </div> 
								<div *ngIf="customerMaintenanceOptions.submitted && checkbookId.length == 0 ">
									<div class='error-msg'>
										{{defaultFormValues[26]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								 </div>
                            </div>

                            <div class="form-row" *ngIf="defaultFormValues[27]['readAccess']" [ngClass]="{ 'has-error': customerMaintenanceOptions.submitted && !customerPriority.valid }">
                              <label>{{defaultFormValues[27]['fieldValue']}}</label>
								<div class="select-outer">
                                <select class="form-control" title="{{defaultFormValues[27]['helpMessage']}}" name='customerPriority' [(ngModel)]="CustomerMaintenance.customerPriority"  #customerPriority="ngModel" required>
									<option value="">--{{select}}--</option>
									<option [value]="1">1</option>
									<option [value]="2">2</option>
									<option [value]="3">3</option>
								  </select>								   
                                </div> 
								<div *ngIf="customerMaintenanceOptions.submitted && customerPriority.invalid">
									<div class='error-msg' *ngIf="customerPriority.errors.required">
										{{defaultFormValues[27]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								  </div>
                            </div>


						</div>
					</div><!-- Form Row Ends -->
							
						
						
						
	

						

						<div class="form-row">
							<div class="col-md-6 col-sm-12 col-xs-12">
								<div class="col-xs-12 border-box">
									<div class="content-heading"><h3>{{defaultFormValues[28]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->                               
									<ul class="check-list">
									<li><label><input type="checkbox" name="openMaintenanceHistoryCalendarYear" [checked]="CustomerMaintenance.openMaintenanceHistoryCalendarYear" [(ngModel)]="CustomerMaintenance.openMaintenanceHistoryCalendarYear" #openMaintenanceHistoryCalendarYear="ngModel"/>{{defaultFormValues[29]['fieldValue']}}</label></li>
									<li><label><input type="checkbox" name="openMaintenanceHistoryTransaction" [checked]="CustomerMaintenance.openMaintenanceHistoryTransaction" [(ngModel)]="CustomerMaintenance.openMaintenanceHistoryTransaction" #openMaintenanceHistoryTransaction="ngModel"/>{{defaultFormValues[31]['fieldValue']}}</label></li>
									<li><label><input type="checkbox" name="openMaintenanceHistoryFiscalYear" [checked]="CustomerMaintenance.openMaintenanceHistoryFiscalYear" [(ngModel)]="CustomerMaintenance.openMaintenanceHistoryFiscalYear" #openMaintenanceHistoryFiscalYear="ngModel"/>{{defaultFormValues[30]['fieldValue']}}</label></li>
									<li><label><input type="checkbox" name="openMaintenanceHistoryDistribution" [checked]="CustomerMaintenance.openMaintenanceHistoryDistribution" [(ngModel)]="CustomerMaintenance.openMaintenanceHistoryDistribution" #openMaintenanceHistoryDistribution="ngModel"/>{{defaultFormValues[32]['fieldValue']}}</label></li>
									</ul>
								</div>
                            </div>
                      </div><!-- Form Row Ends -->
									
						<div class="button-row">
							<input type="submit" class="orange-btn" title="{{defaultFormValues[33]['helpMessage']}}" value="{{defaultFormValues[33]['fieldValue']}}" *ngIf="defaultFormValues[33]['readAccess']" title="{{defaultFormValues[33]['helpMessage']}}">
						
						
								<input type="button" class="blue-btn" style="margin-left:18px" (click)="ClearForm(customerMaintenanceOptions);" title="{{defaultFormValues[34]['helpMessage']}}" value="{{defaultFormValues[34]['fieldValue']}}"/>
							    <input type="button" (click)="redirect1()" class="grey-btn" title="{{btnCancelText}}" value="{{btnCancelText}}"/> 
							<!--<button class="grey-btn">Accounts</button>-->
						</div><!-- Buton Row Ends -->
							
						</form>
					
					<div class="form-row">
							<div class="col-xs-12">
								<!--<div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control" placeholder="search"
											(keyup)='updateFilter($event)' />
									</div>
								</div>-->
							</div>
						</div><!-- Form Row Ends -->
                   </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>