<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{EMPLOYEE_POSITION_HISTORY_CREATE_LABEL['helpMessage']}}">{{EMPLOYEE_POSITION_HISTORY_CREATE_LABEL['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{EMPLOYEE_POSITION_HISTORY_SEARCH['helpMessage']}}" placeholder="{{EMPLOYEE_POSITION_HISTORY_SEARCH['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                </div>
                <!-- Content Heading Ends -->
                <div class="algo-table algo-table-department">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="EmployeepositionHistoryGrid" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="true" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <!-- Data Grid Position Id -->
                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div 
                                            [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>  
                                </div>
                            </div>
                            <!-- <ngx-datatable-column name="employeeMaster" [width]="75" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('employeeMaster')">{{EMPLOYEE_POSITION_HISTORY_EMPLOYEE_ID['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.employeeId}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="position" [width]="75" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('position')">{{EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.positionId}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="position" [width]="100" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('position')">{{EMPLOYEE_POSITION_HISTORY_POSITION_DESCRIPTION_LABEL['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.description}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="positionEffectiveDate" [width]="75" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('positionEffectiveDate')">{{EMPLOYEE_POSITION_HISTORY_DATE_LABEL['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{getEffectiveDate(value) | date:'dd-MM-yyyy'}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="division" [width]="50" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('division')">Division</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.divisionId}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="department" [width]="50" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('department')">{{EMPLOYEE_POSITION_HISTORY_DEPARTMENT_LABEL['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.departmentId}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="location" [width]="50" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('location')">{{EMPLOYEE_POSITION_HISTORY_LOCATION_LABEL['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.locationId}}
                                </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="supervisor" [width]="50" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('supervisor')">{{EMPLOYEE_POSITION_HISTORY_SUPERVISOR_LABEL['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value.superVisionCode}}
                                </ng-template>
                            </ngx-datatable-column> -->

                            <!-- Data Grid Action -->
                            <ngx-datatable-column name="Action" [canAutoResize]="true" [width]="10" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{EMPLOYEE_POSITION_HISTORY_ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view table-view-fix">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>
                    <button class="blue-btn" (click)="varifyDelete()">{{EMPLOYEE_POSITION_HISTORY_DELETE_LABEL['fieldValue']}}</button>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model1.id">{{EMPLOYEE_POSITION_HISTORY_CREATE_FORM_LABEL['fieldValue']}}</h3>
                            <h3 *ngIf="model1.id">{{EMPLOYEE_POSITION_HISTORY_UPDATE_FORM_LABEL['fieldValue']}}</h3>
                        </div>
                        <!-- <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                {{message.text}}
              </div> -->
                        <div class="clearfix"></div>
                        <!-- <form class="form-horizontal" (ngSubmit)="f.form.valid && CreateEmployeePositionHistory(f, $event)" #f="ngForm" novalidate> -->
                                <form class="form-horizontal" (ngSubmit)="(f.form.valid) && (employeeType.value !=0 && positionReason.value !=0) && (this.typeaheadNoResults.length == 0 && this.typeaheadNoResults1.length == 0 && this.typeaheadNoResults2.length == 0 && this.typeaheadNoResults3.length == 0 && this.typeaheadNoResults4.length == 0 && this.typeaheadNoResults5.length == 0) && CreateEmployeePositionHistory(f, $event)" #f="ngForm" novalidate>
                            <!-- employee position ID -->
                            <div [ngClass]="'form-group'">
                                <div *ngIf="isUnderUpdate; then update else create"></div>
                                <ng-template #update>
                                    <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <!-- <div class="col-md-4">
                                    <label hidden class="control-label" for="id">{{EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['fieldValue']}}</label> 
                            </div> -->
                                        <div class="col-md-8">
                                            <input type="text" hidden [ngClass]="'form-control fm-txt'" style="display: none;" name="id" value="{{idvalue}}" title="{{EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['helpMessage']}}"
                                                maxlength="15" [required]="EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['isMandatory']" [readonly]="!EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['writeAccess']" [(ngModel)]="model1.id" #id="ngModel"/>
                                            <!-- <div *ngIf="f.submitted && id.invalid">
                                                <div [hidden]="!id.errors.required">
                                                    {{EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!id.errors?.maxlength">
                                                    {{EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </ng-template>

                                <!-- employee position ID -->
                                <ng-template #create>
                                    <div [ngClass]="{ 'has-error': f.submitted && !id.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <!-- <div class="col-md-4">
                                <label hidden class="control-label" for="id">{{EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['fieldValue']}}</label>
                            </div> -->
                                        <div class="col-md-8">
                                            <input hidden type="text" [ngClass]="'form-control fm-txt'" name="id" style="display: none;" [(ngModel)]="model1.id" #id="ngModel"
                                                title="{{EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['helpMessage']}}" maxlength="15" [required]="EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['isMandatory']" />
                                            <!-- <div *ngIf="f.submitted && id.invalid">
                                                <div [hidden]="!id.errors.required">
                                                    {{EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!id.errors?.maxlength">
                                                    {{EMPLOYEE_POSITION_HISTORY_POSITION_ID_LABEL['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </ng-template>
                            </div>

                            <div class="form-group">
                                <!-- <div [ngClass]="{'has-error': f.submitted && employeeIndexId.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                                        <div [ngClass]="{'has-error': ((f.submitted && employeeIndexId.invalid) || (f.submitted && this.typeaheadNoResults.length >0?true:false)) && (this.clearvalue !=0),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="cont  control-label" for="employeeIndexId">{{EMPLOYEE_POSITION_HISTORY_EMPLOYEE_ID['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_POSITION_HISTORY_EMPLOYEE_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="employeeIndexId" [(ngModel)]="employeeId" #employeeIndexId="ngModel"
                                            title="Select Employee ID" (ngModelChange)="getEmployeeName(model1.employeeMaster.employeeIndexId);"
                                            class="search-id" required [typeahead]="employeeIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                                            (typeaheadOnSelect)="typeaheadOnSelect($event)" autocomplete="off" typeaheadOptionField="employeeId"
                                            [readonly]="model1.id" (typeaheadNoResults)="changeTypeaheadNoResults($event,'EmployeeID')">



                                            <div *ngIf="((f.submitted && employeeIndexId.invalid) || (f.submitted && this.typeaheadNoResults.length >0?true:false)) && (this.clearvalue !=0)">
                                                <div [hidden]="((!f.submitted && !employeeIndexId.invalid) || (!f.submitted && this.typeaheadNoResults.length >0?true:false)) && (this.clearvalue !=0)">
                                                <div *ngIf="(f.submitted && employeeIndexId.invalid) && (this.clearvalue !=0)">{{EMPLOYEE_POSITION_HISTORY_EMPLOYEE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}</div>
                                                <div *ngIf="(f.submitted && this.typeaheadNoResults.length >0?true:false) && (this.clearvalue !=0)">Invalid Employee Id</div>
                                                </div>
                                            </div>

                                        
                                        <!-- <div *ngIf="f.submitted && employeeIndexId.invalid">
                                            <div [hidden]="!f.submitted && !employeeIndexId.invalid">
                                                {{EMPLOYEE_POSITION_HISTORY_EMPLOYEE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="col-md-4" style="background:#eee">
                                        <input type="text" [ngClass]="'form-control fm-txt'" readonly value="{{employeeFirstName}}" />
                                    </div>
                                </div>
                            </div>

                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'has-error': (f.submitted && !positionEffectiveDate.valid) && (this.clearvalue !=0),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="positionEffectiveDate">{{EMPLOYEE_POSITION_HISTORY_EFFECTIVE_DATE['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_POSITION_HISTORY_EFFECTIVE_DATE['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input [ngClass]="'form-control fm-txt'" placeholder="" ngx-mydatepicker name="positionEffectiveDate" [(ngModel)]="model1.positionEffectiveDate"
                                                [options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onEffectiveDateDateChanged($event)"
                                                (change)="onEffectiveDateDateChanged($event.target.value)" #positionEffectiveDate="ngModel"
                                                [required]="EMPLOYEE_POSITION_HISTORY_DEPARTMENT_LABEL['isMandatory']" [readonly]="!EMPLOYEE_POSITION_HISTORY_DEPARTMENT_LABEL['writeAccess']" title="{{EMPLOYEE_POSITION_HISTORY_DEPARTMENT_LABEL['helpMessage']}}" id="positionEffectiveDate"
                                            />
                                            <span class="input-group-btn">
                                                <button type="button" [disabled]="isDeductionCodeFormdisabled" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                                                    (click)="dp1.clearDate()">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                                <button type="button" [disabled]="isDeductionCodeFormdisabled" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                                                    (click)="dp1.toggleCalendar()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div *ngIf="(f.submitted && positionEffectiveDate.invalid && !isDeductionCodeFormdisabled) && (this.clearvalue !=0)">
                                            <div [hidden]="(!positionEffectiveDate.errors.required) && (this.clearvalue !=0)">
                                                {{EMPLOYEE_POSITION_HISTORY_EFFECTIVE_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div [ngClass]="{'has-error': ((f.submitted && divisionid.invalid) || (f.submitted && this.typeaheadNoResults1.length >0?true:false)) && (this.clearvalue !=0),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="divisionid">{{EMPLOYEE_POSITION_HISTORY_DIVISION_ID['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_POSITION_HISTORY_DIVISION_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">

                                        <input type="text" [ngClass]="'form-control fm-txt'" name="divisionid" [(ngModel)]="divisionId" #divisionid="ngModel" title="Select Division ID"
                                            class="search-id" required [typeahead]="divisionIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                                            (typeaheadOnSelect)="typeaheadOnSelectDivisionId($event)" (typeaheadNoResults)="changeTypeaheadNoResults($event,'DivisionID')" autocomplete="off" typeaheadOptionField="divisionId">

                                            <div *ngIf="((f.submitted && divisionid.invalid) || (f.submitted && this.typeaheadNoResults1.length >0?true:false)) && (this.clearvalue !=0)">
                                                <div [hidden]="((!f.submitted && !divisionid.invalid) || (!f.submitted && this.typeaheadNoResults1.length >0?true:false)) && (this.clearvalue !=0)">
                                                <div *ngIf="(f.submitted && divisionid.invalid)  && (this.clearvalue !=0)">{{EMPLOYEE_POSITION_HISTORY_DIVISION_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}</div>
                                                <div *ngIf="(f.submitted && this.typeaheadNoResults1.length >0?true:false)  && (this.clearvalue !=0)">Invalid Division Id</div>
                                                </div>
                                            </div>

                                    </div>
                                    <div class="col-md-4" style="background:#eee">
                                        <input type="text" [ngClass]="'form-control fm-txt'" readonly value="{{divisionDescription}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div [ngClass]="{'has-error': ((f.submitted && departmentId.invalid) || (f.submitted && this.typeaheadNoResults2.length >0?true:false)) && (this.clearvalue !=0),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="departmentId">{{EMPLOYEE_POSITION_HISTORY_DEPARTMENT_ID['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_POSITION_HISTORY_DEPARTMENT_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">

                                        <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="departmentId" [(ngModel)]="DepartmentId" #departmentId="ngModel"
                                            title="Select Department ID" [typeahead]="departmentIdList" typeaheadOptionField="departmentId"
                                            (typeaheadOnSelect)="typeaheadOnSelectDepartmentId($event)" (typeaheadNoResults)="changeTypeaheadNoResults($event,'DepartmentID')" autocomplete="off" required>

                                            <div *ngIf="((f.submitted && departmentId.invalid) || (f.submitted && this.typeaheadNoResults2.length >0?true:false)) && (this.clearvalue !=0)">
                                                <div [hidden]="((!f.submitted && !departmentId.invalid) || (!f.submitted && this.typeaheadNoResults2.length >0?true:false)) && (this.clearvalue !=0)">
                                                <div *ngIf="(f.submitted && departmentId.invalid) && (this.clearvalue !=0)">{{EMPLOYEE_POSITION_HISTORY_DEPARTMENT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}</div>
                                                <div *ngIf="(f.submitted && this.typeaheadNoResults2.length >0?true:false) && (this.clearvalue !=0)">Invalid Department Id</div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-md-4" style="background:#eee">
                                        <input type="text" [ngClass]="'form-control fm-txt'" readonly value="{{departmentDescription}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div [ngClass]="{'has-error': ((f.submitted && positionId.invalid) || (f.submitted && this.typeaheadNoResults3.length >0?true:false)) && (this.clearvalue !=0),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="positionId">{{EMPLOYEE_POSITION_HISTORY_POSITION_ID['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_POSITION_HISTORY_POSITION_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">

                                        <input type="text" [ngClass]="'form-control fm-txt'" name="positionId" [(ngModel)]="PositionId" #positionId="ngModel" title="Select Position ID"
                                            required [typeahead]="positionIdList" class="search-id" autocomplete="off" (typeaheadNoResults)="changeTypeaheadNoResults($event,'Posision')" typeaheadOptionField="positionId"
                                            (typeaheadOnSelect)="typeaheadOnSelectPositionId($event)" >

                                        <!-- <div *ngIf="f.submitted && positionId.invalid">
                                            <div [hidden]="!f.submitted && !positionId.invalid">
                                                {{EMPLOYEE_POSITION_HISTORY_POSITION_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> -->
                                        <div *ngIf="((f.submitted && positionId.invalid) || (f.submitted && this.typeaheadNoResults3.length >0?true:false)) && (this.clearvalue !=0)">
                                            <div [hidden]="((!f.submitted && !positionId.invalid) || (!f.submitted && this.typeaheadNoResults3.length >0?true:false)) && (this.clearvalue !=0)">
                                            <div *ngIf="(f.submitted && positionId.invalid) && (this.clearvalue !=0)">{{EMPLOYEE_POSITION_HISTORY_POSITION_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}</div>
                                            <div *ngIf="(f.submitted && this.typeaheadNoResults3.length >0?true:false) && (this.clearvalue !=0)">Invalid Position Id</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="background:#eee">
                                        <input type="text" [ngClass]="'form-control fm-txt'" readonly value="{{positionDescription1}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div [ngClass]="{'has-error': ((f.submitted && superVisionCode.invalid) || (f.submitted && this.typeaheadNoResults4.length >0?true:false)) && (this.clearvalue !=0),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="superVisionCode">{{EMPLOYEE_POSITION_HISTORY_SUPERVISIOR_ID['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_POSITION_HISTORY_SUPERVISIOR_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">

                                        <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="superVisionCode" [(ngModel)]="supervisiorId"
                                            #superVisionCode="ngModel" title="Select Supervisor ID" [typeahead]="superviserIdList"
                                            typeaheadOptionField="superVisionCode" (typeaheadOnSelect)="typeaheadOnSelectSuperVisionCode($event)"
                                            autocomplete="off" required (typeaheadNoResults)="changeTypeaheadNoResults($event,'Supervisor')">

                                        <!-- <div *ngIf="f.submitted && superVisionCode.invalid">
                                            <div [hidden]="!f.submitted && !superVisionCode.invalid">
                                                {{EMPLOYEE_POSITION_HISTORY_SUPERVISIOR_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> -->
                                        <div *ngIf="((f.submitted && superVisionCode.invalid) || (f.submitted && this.typeaheadNoResults4.length >0?true:false)) && (this.clearvalue !=0)">
                                            <div [hidden]="((!f.submitted && !superVisionCode.invalid) || (!f.submitted && this.typeaheadNoResults4.length >0?true:false)) && (this.clearvalue !=0)">
                                            <div *ngIf="(f.submitted && superVisionCode.invalid) && (this.clearvalue !=0)">{{EMPLOYEE_POSITION_HISTORY_SUPERVISIOR_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}</div>
                                            <div *ngIf="(f.submitted && this.typeaheadNoResults4.length >0?true:false) && (this.clearvalue !=0)">Invalid Supervisor Id</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4" style="background:#eee">
                                        <input type="text" [ngClass]="'form-control fm-txt'" readonly value="{{supervisorDescription}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div [ngClass]="{'has-error': ((f.submitted && locationId.invalid) || (f.submitted && this.typeaheadNoResults5.length >0?true:false)) && (this.clearvalue !=0),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="locationId">{{EMPLOYEE_POSITION_HISTORY_LOCATION_ID['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_POSITION_HISTORY_LOCATION_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">

                                        <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="locationId" [(ngModel)]="LocationId" #locationId="ngModel"
                                            title="Select Location ID" [typeahead]="locationIdList" typeaheadOptionField="locationId"
                                            (typeaheadOnSelect)="typeaheadOnSelectLocationId($event)" autocomplete="off" required (typeaheadNoResults)="changeTypeaheadNoResults($event,'Location')">

                                        <!-- <div *ngIf="f.submitted && locationId.invalid">
                                            <div [hidden]="!f.submitted && !locationId.invalid">
                                                {{EMPLOYEE_POSITION_HISTORY_LOCATION_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> -->

                                        <div *ngIf="((f.submitted && locationId.invalid) || (f.submitted && this.typeaheadNoResults5.length >0?true:false)) && (this.clearvalue !=0)">
                                            <div [hidden]="((!f.submitted && !locationId.invalid) || (!f.submitted && this.typeaheadNoResults5.length >0?true:false)) && (this.clearvalue !=0)">
                                            <div *ngIf="(f.submitted && locationId.invalid) && (this.clearvalue !=0)">{{EMPLOYEE_POSITION_HISTORY_LOCATION_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}</div>
                                            <div *ngIf="(f.submitted && this.typeaheadNoResults5.length >0?true:false) && (this.clearvalue !=0)">Invalid Location Id</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="background:#eee">
                                        <input type="text" [ngClass]="'form-control fm-txt'" readonly value="{{locationDescription}}" />
                                    </div>
                                </div>
                            </div>


                            <div class="form-group" style="margin-top:60px;">
                                <div [ngClass]="{'has-error': (f.submitted && positionReason.value=='0') && (this.clearvalue !=0),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="positionReason">{{EMPLOYEE_POSITION_HISTORY_POSITION_CHANGE_REASON['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_POSITION_HISTORY_POSITION_CHANGE_REASON['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <select [ngClass]="'form-control fm-txt'" name="positionReason" [(ngModel)]="model1.dtoEmployeePositionReason.id" #positionReason="ngModel"
                                            title="Select Change Reason" required (change)="getPositionReason(model1.dtoEmployeePositionReason.id);">
                                            <option value="0" selected>-- Select Change Reason --</option>

                                            <option [value]="1">Promotion</option>
                                            <option [value]="2">Demotion</option>


                                        </select>

                                        <!-- <div *ngIf="f.submitted && positionReason.invalid">
                                            <div [hidden]="!f.submitted && !positionReason.invalid">
                                                {{EMPLOYEE_POSITION_HISTORY_POSITION_CHANGE_REASON['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> -->

                                       
                                        <div *ngIf="(f.submitted && positionReason.value==0) && (this.clearvalue !=0)">
                                            <div [hidden]="(!positionReason.value!=0) && (this.clearvalue !=0)">
                                              {{EMPLOYEE_POSITION_HISTORY_POSITION_CHANGE_REASON['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                          </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div [ngClass]="{'has-error': (f.submitted && employeeType.value=='0') && (this.clearvalue !=0),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="employeeType">{{EMPLOYEE_POSITION_HISTORY_EMPLOYEEMENT_TYPE['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_POSITION_HISTORY_EMPLOYEEMENT_TYPE['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <select [ngClass]="'form-control fm-txt'" name="employeeType" [(ngModel)]="model1.employeeType" #employeeType="ngModel" title="Select Employment ID"
                                            required>
                                            <option value="0" selected>-- Select Employment Type --</option>
                                            <option value="1">Full Time Regular</option>
                                            <option value="2">Full Time Temporary</option>
                                            <option value="3">Part Time Regular</option>
                                            <option value="4">Part Time Temporary</option>
                                            <option value="5">Intern</option>
                                            <option value="6">Other</option>

                                        </select>
                                        <div *ngIf="(f.submitted && employeeType.value=='0') && (this.clearvalue !=0)">
                                            <div [hidden]="(employeeType.value!='0') && (this.clearvalue !=0)">
                                                {{EMPLOYEE_POSITION_HISTORY_EMPLOYEEMENT_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Buttons -->
                            <div [ngClass]="'button-row'" style="margin-top: 30px">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button *ngIf="model1.id" (click)="clearval()" [ngClass]="'grey-btn'">{{EMPLOYEE_POSITION_HISTORY_UPDATE_LABEL['fieldValue']}}</button>
                                            <button *ngIf="!model1.id" (click)="clearval()" [ngClass]="'grey-btn'">{{EMPLOYEE_POSITION_HISTORY_SAVE_LABEL['fieldValue']}}</button>
                                            <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{EMPLOYEE_POSITION_HISTORY_CLEAR_LABEL['fieldValue']}}</button>
                                            <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{EMPLOYEE_POSITION_HISTORY_CANCEL_LABEL['fieldValue']}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Create Update form ends -->
                </div>
            </div>
        </section>
    </section>
</div>
