
<div class="content-wrapper user-view" >
    <section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
            <section class="inner-content">
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
						 <!--<pre>{{exchangeTableRateDetail|json}}</pre>
						 <pre>{{exchangeDate|json}}</pre>
						 <pre>{{exchangeExpireDate|json}}</pre>
						 <pre>{{exchangeTime|json}}</pre>-->
						<form class="search-batch" name="accountCurrencies" (ngSubmit)="!this.isfailureMsg && save(accountCurrencies)" #accountCurrencies="ngForm" novalidate>
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': accountCurrencies.submitted && accountindex.length == 0  }">
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
									<div class="select-outer">
										 <!--<select myAutofocus title="{{defaultFormValues[0]['helpMessage']}}" class="form-control auto-focus" name='accountindex' [(ngModel)]="accountIndex"  #accountindex="ngModel" (change)="getDesc()" required>
											<option value="">--Please Select Account--</option>
											<option *ngFor="let main of mainAccount" [value]="main.actIndx">{{main.mainAccountNumber}}</option>
										</select>-->
										<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrAccountIndex" [(ngModel)]="accountindex" id="accountindex" [ngModelOptions]="{standalone: true}" (change)="getDesc()"
                      [settings]="ddlAccountIndexSetting" 
									 (onSelect)="getAccountIndexByID($event)" (onDeSelect)="OnAccountIndexIdDeSelect($event)">
									 </angular2-multiselect>
									</div> 
									<div *ngIf="accountCurrencies.submitted && accountindex.length == 0 ">
											<div class='error-msg'>
												{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
									</div>
								</div>
								
							</div><!-- Form Row Ends -->
							
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']">
									<label>{{defaultFormValues[1]['fieldValue']}}</label>
									<input type="text" title="{{defaultFormValues[1]['helpMessage']}}" title="{{defaultFormValues[2]['helpMessage']}}" class="form-control fm-txt" name="desc" [(ngModel)]="description" [disabled]="true">
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultFormValues[2]['readAccess']">
									<label>{{defaultFormValues[2]['fieldValue']}}</label>
									<input type="text" title="{{defaultFormValues[2]['helpMessage']}}" class="form-control fm-txt" name="descar" [(ngModel)]="descriptionArabic" [disabled]="true">
								</div>
                            
							</div><!-- Form Row Ends -->
							
							<div class="button-row">
								<div class="col-sm-12">
										<input type="submit" [disabled]="LockScreen(defaultFormValues[7]['writeAccess'])"
										 title="{{defaultFormValues[7]['helpMessage']}}" value="{{defaultFormValues[7]['fieldValue']}}" class="orange-btn">
										<input type="button" style="margin-left:18px" title="{{defaultFormValues[8]['helpMessage']}}" (click)="Clear(accountCurrencies)" class="blue-btn" value="{{defaultFormValues[8]['fieldValue']}}"/>
								</div>
							</div>
							<div class="form-row">
                          <div class="col-xs-12">
                            <div class="algo-table">
								<!--{{arrCurrencylist | json}}-->
                              <div class="table-responsive"> 
                                <table class="table">
                                  <thead>
                                    <tr> 
									  <th width="10%"><input type="checkbox"  [(ngModel)]="isAllChecked" (change)='checkUncheckAll(accountCurrencies)' [ngModelOptions]="{standalone: true}" ></th>
                                      <th width="24%">{{gridDefaultFormValues[0]['fieldValue']}}</th>
                                      <th width="30%"> {{gridDefaultFormValues[1]['fieldValue']}}</th>
                                      <th width="24%">{{gridDefaultFormValues[2]['fieldValue']}}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor ="let currency of arrCurrencylist">
									  <td><input type="checkbox" [(ngModel)]="currency.isCheked"  [ngModelOptions]="{standalone: true}"></td>
                                      <td>{{currency.currencyId}}</td>
                                      <td>{{currency.currencyDescription}}</td>    
                                      <td class="arabic-mode">{{currency.currencyDescriptionArabic}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                                </div>
                              </div>

                        </div>
                        </div>
							<!-- Form Row Ends -->
						</form>
						
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>
<!--<style>
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
</style>-->