tr td{border-bottom:1px solid #ddd; border-right:1px solid #ddd;}
tr td:last-child{border-bottom:1px solid #ddd; border-right:0px solid #ddd;}
input.head{width:100%; padding: 0 2%; height: 100%; background:rgb(3, 72, 94); border:0px; color:#fff;text-align:center;}
input.red{width:100%; padding: 0 2%; height: 100%; background:rgb(3, 72, 94); border: 1px solid #ff0000;}
.white{border-top: none;border-left: none;border-right: none;border-bottom: 1px solid #fff; background:#fff; color:#000;}
input.white.red{width:95%; padding: 0 2%; height: 100%; background:#fff; border: 1px solid #ff0000;}
td.sticky{position: -webkit-sticky;position: sticky;left: 0;border:1px solid #ddd !important;}
button.scroll{ width:35px;height:35px; background:#fff; color:#666;  border: solid 1px #ddd; display: inline-block;}
button.scroll:hover {background-color: #ddd}
button.scroll:active {background-color: #ddd;transform: translateY(4px);}
button.scroll:disabled{pointer-events:none;opacity: 0.3;}
div.no-scroll{overflow-x:hidden;}
ul {list-style: none;margin: 0;vertical-align: middle;display: inline-block;}
li{padding: 0;margin: 0;display: inline-block;list-style: none;}
