<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{SALARY_MATRIX_CREATE_LABEL['helpMessage']}}">{{SALARY_MATRIX_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{SALARY_MATRIX_SEARCH['helpMessage']}}" placeholder="{{SALARY_MATRIX_SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>

        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="SalaryMatrixGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

<!-- Data Grid Columns -->
<div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
  <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
      <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
              <div 
              [draggable]="isConfigure"
              (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
              (drop)="commonService.drop($event,0,i,grid.colOrder)" 
              (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
              (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
          </ng-template>
      </ngx-datatable-column>  
  </div>
</div>
 <!-- Data Column Action -->
 <ngx-datatable-column name="Action" [width]="80" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
    {{SALARY_MATRIX_ACTION['fieldValue']}}
  </ng-template>
  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
  </ng-template>
</ngx-datatable-column>
</ngx-datatable>
</div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{SALARY_MATRIX_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">

              <div class="col-md-12 mb-30">
                <h3 *ngIf="!model.id">{{SALARY_MATRIX_CREATE_FORM_LABEL['fieldValue']}}</h3>
                <h3 *ngIf="model.id">{{SALARY_MATRIX_UPDATE_FORM_LABEL['fieldValue']}}</h3>
              </div>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div *ngIf="isConfirmationModalOpen2" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && CreateSalaryMatrix(f, $event)" #f="ngForm" novalidate>
              <form class="form-horizontal" (ngSubmit)="isNotGeneratedAlert && subf.form.valid && generateSalaryMatrix()" #subf="ngForm"
                novalidate>
                <!-- Salary Matrix Setup Id field -->
                <div class="form-group col-md-6">

                  <div *ngIf="isUnderUpdate; then update else create"></div>
                  <ng-template #update>
                    <div style="min-height: 60px;" [ngClass]="{ 'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                      <div class="col-md-5">
                        <label class="control-label" for="matrixId">{{SALARY_MATRIX_ID['fieldValue']}}</label>
                        <span *ngIf="SALARY_MATRIX_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-7">
                        <input type="text" style="display:table-cell; width:100%" [ngClass]="'form-control fm-txt'" name="matrixId" value="{{salaryMatrixSetupIdvalue}}"
                          tabindex="1" (keyup)="CheckNumber($event)" title="{{SALARY_MATRIX_ID['helpMessage']}}" [readonly]="!SALARY_MATRIX_ID['writeAccess']"
                          [required]="SALARY_MATRIX_ID['isMandatory']" />
                        <div *ngIf="subf.submitted && matrixId.invalid">
                          <div [hidden]="!matrixId.errors?.required">
                            {{SALARY_MATRIX_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!matrixId.errors?.maxlength">
                            {{SALARY_MATRIX_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                  <ng-template #create>
                    <div style="min-height: 60px;" [ngClass]="{ 'has-error': subf.submitted && !matrixId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                      <div class="col-md-5">
                        <label class="control-label" for="matrixId">{{SALARY_MATRIX_ID['fieldValue']}}</label>
                        <span *ngIf="SALARY_MATRIX_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-7">
                        <input type="text" style="min-height: 40px;display:table-cell; width:100%" [ngClass]="'form-control fm-txt'" name="matrixId"
                          [(ngModel)]="model.salaryMatrixId" #matrixId="ngModel" tabindex="1" (keyup)="CheckNumber($event)"
                          title="{{SALARY_MATRIX_ID['helpMessage']}}" [required]="SALARY_MATRIX_ID['isMandatory']"  class="search-id" [typeahead]="matrixIdList"
                          (typeaheadLoading)="changeTypeaheadLoading($event)" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                          typeaheadOptionField="salaryMatrixId" maxlength="15" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        />
                        <div *ngIf="subf.submitted && matrixId.invalid">
                          <div [hidden]="!matrixId.errors?.required">
                            {{SALARY_MATRIX_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!matrixId.errors?.maxlength">
                            {{SALARY_MATRIX_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </div>

                <!-- Total Rows -->
                <div class="form-group col-md-6">
                  <div style="min-height: 60px;" [ngClass]="{'has-error': subf.submitted && !rows.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="rows">{{SALARY_MATRIX_TOTAL_ROW['fieldValue']}}</label>
                      <span *ngIf="SALARY_MATRIX_TOTAL_ROW['isMandatory']">*</span>
                    </div>
                    <div class="col-md-6">
                      <input type="number" [ngClass]="'form-control fm-txt'" name="rows" [(ngModel)]="model.totalRow" #rows="ngModel" title="{{SALARY_MATRIX_TOTAL_ROW['helpMessage']}}"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        (change)="onRVCChange()" tabindex="5" maxlength="2" [customMax]="20" min=1 max=20 pattern="^[^0][0-9]*$"
                        required />
                      <div *ngIf="subf.submitted && rows.invalid">
                        <div [hidden]="!rows.errors?.customMax">
                          {{SALARY_MATRIX_TOTAL_ROW['listDtoFieldValidationMessage'][3]['validationMessage']}}
                        </div>
                        <div [hidden]="!rows.errors?.pattern">
                          {{SALARY_MATRIX_TOTAL_ROW['listDtoFieldValidationMessage'][2]['validationMessage']}}
                        </div>
                        <div [hidden]="!rows.errors?.required">
                          {{SALARY_MATRIX_TOTAL_ROW['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <!-- 
                        <div [hidden]="!rows.errors?.maxlength">
                          {{SALARY_MATRIX_TOTAL_ROW['listDtoFieldValidationMessage'][2]['validationMessage']}}
                        </div> -->
                      </div>
                    </div>
                    <div class="col-md-1"></div>
                  </div>
                </div>

                <!-- Salary Matrix Setup Description Field -->
                <div class="form-group col-md-6">
                  <div style="min-height: 60px;" [ngClass]="{'has-error': subf.submitted && !description.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="description">{{SALARY_MATRIX_DESCRIPTION['fieldValue']}}</label>
                      <span *ngIf="SALARY_MATRIX_DESCRIPTION['isMandatory']">*</span>
                    </div>
                    <div class="col-md-7">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="model.description" #description="ngModel"
                        tabindex="2" title="{{SALARY_MATRIX_DESCRIPTION['helpMessage']}}" required maxlength="31" />
                      <div *ngIf="subf.submitted && description.invalid">
                        <div [hidden]="!description.errors?.required">
                          {{SALARY_MATRIX_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!description.errors?.maxlength">
                          {{SALARY_MATRIX_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Total Row Values -->
                <div class="form-group col-md-6">
                  <div style="min-height: 60px;" [ngClass]="{'has-error': subf.submitted && !totRowVals.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="totRowVals">{{SALARY_MATRIX_TOTAL_ROW_VALUES['fieldValue']}}</label>
                      <span *ngIf="SALARY_MATRIX_TOTAL_ROW_VALUES['isMandatory']">*</span>
                    </div>
                    <div class="col-md-6">
                      <input type="number" [ngClass]="'form-control fm-txt'" name="totRowVals" [(ngModel)]="model.totalRowValues" #totRowVals="ngModel"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        (change)="onRVCChange()" tabindex="6" title="{{SALARY_MATRIX_TOTAL_ROW_VALUES['helpMessage']}}" pattern="^[^0][0-9]*$"
                        maxlength="2" [customMax]="20" min=1 max=20 required />
                      <div *ngIf="subf.submitted && totRowVals.invalid">
                        <div [hidden]="!totRowVals.errors?.customMax">
                          {{SALARY_MATRIX_TOTAL_ROW_VALUES['listDtoFieldValidationMessage'][3]['validationMessage']}}
                        </div>
                        <div [hidden]="!totRowVals.errors?.pattern">
                          {{SALARY_MATRIX_TOTAL_ROW_VALUES['listDtoFieldValidationMessage'][2]['validationMessage']}}
                        </div>
                        <div [hidden]="!totRowVals.errors?.required">
                          {{SALARY_MATRIX_TOTAL_ROW_VALUES['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <!-- 
                        <div [hidden]="!totRowVals.errors?.maxlength">
                          {{SALARY_MATRIX_TOTAL_ROW_VALUES['listDtoFieldValidationMessage'][2]['validationMessage']}}
                        </div> -->
                      </div>
                    </div>
                    <div class="col-md-1"></div>
                  </div>
                </div>

                <!-- Salary Matrix Setup arabic description -->
                <div class="form-group col-md-6">
                  <div style="min-height: 60px;" [ngClass]="{'has-error': subf.submitted && !arabicDescription.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="arabicDescription">{{SALARY_MATRIX_ARABIC_DESCRIPTION['fieldValue']}}</label>
                      <span *ngIf="SALARY_MATRIX_ARABIC_DESCRIPTION['isMandatory']">*</span>
                    </div>
                    <div class="col-md-7 arabic-mode">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDescription" [(ngModel)]="model.arabicSalaryMatrixDescription"
                        tabindex="3" #arabicDescription="ngModel" title="{{SALARY_MATRIX_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61"
                        required />
                      <div *ngIf="subf.submitted && arabicDescription.invalid">
                        <div [hidden]="!arabicDescription.errors?.required">
                          {{SALARY_MATRIX_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!arabicDescription.errors?.maxlength">
                          {{SALARY_MATRIX_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Total Columns -->
                <div class="form-group col-md-6">
                  <div style="min-height: 60px;" [ngClass]="{'has-error': subf.submitted && !cols.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="cols">{{SALARY_MATRIX_TOTAL_COLUMNS['fieldValue']}}</label>
                      <span *ngIf="SALARY_MATRIX_TOTAL_COLUMNS['isMandatory']">*</span>
                    </div>
                    <div class="col-md-6">
                      <input type="number" [ngClass]="'form-control fm-txt'" name="cols" [(ngModel)]="model.totalColumns" #cols="ngModel" title="{{SALARY_MATRIX_TOTAL_COLUMNS['helpMessage']}}"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        (change)="onRVCChange()" tabindex="7" maxlength="2" [customMax]="20" min="1" max="20" pattern="^[^0][0-9]*$"
                        required />
                      <div *ngIf="subf.submitted && cols.invalid">
                        <div [hidden]="!cols.errors?.customMax">
                          {{SALARY_MATRIX_TOTAL_COLUMNS['listDtoFieldValidationMessage'][3]['validationMessage']}}
                        </div>
                        <div [hidden]="!cols.errors?.pattern">
                          {{SALARY_MATRIX_TOTAL_COLUMNS['listDtoFieldValidationMessage'][2]['validationMessage']}}
                        </div>
                        <div [hidden]="!cols.errors?.required">
                          {{SALARY_MATRIX_TOTAL_COLUMNS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <!-- 
                        <div [hidden]="!cols.errors?.maxlength">
                          {{SALARY_MATRIX_TOTAL_COLUMNS['listDtoFieldValidationMessage'][2]['validationMessage']}}
                        </div> -->
                      </div>
                    </div>
                    <div class="col-md-1"></div>
                  </div>
                </div>

                <!-- Pay Unit -->
                <div class="form-group col-md-6">
                  <div style="min-height: 60px;" [ngClass]="{'has-error': subf.submitted && !payUnit.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="payUnit">{{SALARY_MATRIX_ARBIC_PAY_UNIT['fieldValue']}}</label>
                      <span *ngIf="SALARY_MATRIX_ARBIC_PAY_UNIT['isMandatory']">*</span>
                    </div>
                    <div class="col-md-7">
                      <select [ngClass]="'form-control'" name="payUnit" [(ngModel)]="model.payUnit" #payUnit="ngModel" title="{{SALARY_MATRIX_ARBIC_PAY_UNIT['helpMessage']}}"
                        tabindex="4" required>
                        <option [selected]="selected" value="">-- Salary Matrix Pay Unit --</option>
                        <option *ngFor='let option of PayUnitValues' [value]="option.value" [selected]="option.value == model.payUnit">{{option.period}}</option>
                      </select>
                      <div *ngIf="subf.submitted && payUnit.invalid">
                        <div [hidden]="!payUnit.errors?.required">
                          {{SALARY_MATRIX_ARBIC_PAY_UNIT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-5 col-md-offset-7">
                  <!-- Generate Salary Matrix -->
                  <button class="blue-btn">{{SALARY_MATRIX_GENERATE_TABLE['fieldValue']}}</button>
                </div>
              </form>

              <div class="col-md-12 mt-30">
                <hr>
              </div>

              <!-- Salary Matrix -->
              <div *ngIf="model.listSalaryMatrixRow.length">
                <div *ngIf="isUnderMatrixUpdate; then matrix else loader"></div>
                <template #loader>
                  <div class="col-md-12 mt-30" style="display: flex; justify-content: center;height:15vh;">
                    <img src="/assets/img/loader.gif" alt="Loading table..." height="42" width="42">
                  </div>

                </template>
                <template #matrix>
                  <div class="table-responsive table no-scroll" #scrollable>
                    <table id="subItems" class="material" width="auto" style="border: 1px solid #ddd !important;" cellspacing="0" cellpadding="0"
                      align="center">
                      <tr>
                        <td height="35" class="sticky" bgcolor="#03485e">&nbsp;
                          <span *ngIf="model.listSalaryMatrixRow.length==0">Matrix is empty.</span>
                        </td>
                        <td *ngFor="let item of model.listSalaryMatrixColSetup; let num = index" height="35" bgcolor="#03485e">
                          <input [style.border]="submitted && !subDesc.valid?'solid 1px red':'none'" type="text" placeholder="Grade {{num}}" class="form-control form-txt head"
                            name="subDesc{{num}}" [(ngModel)]="item.colSalaryMatrixDescription" #subDesc="ngModel" maxlength="15"
                            required />
                        </td>
                      </tr>

                      <tr *ngFor="let row of model.listSalaryMatrixRow; let rowIdx = index ">
                        <td height="35" align="left" valign="top" class="sticky" bgcolor="#fff" border="1">
                          <input [style.border]="submitted && !rowDesc.valid?'solid 1px red':'none'" style="height:100%;text-align:center;" name="rowDesc{{rowIdx}}"
                            type="text" placeholder="Level {{rowIdx}}" [(ngModel)]="row.desc" class="form-control form-txt"
                            class="white" #rowDesc="ngModel" maxlength="15" required>
                        </td>
                        <td *ngFor="let colNum of rowColCell" height="35" align="left" valign="top" bgcolor="#fff">
                          <table cellspacing="0" cellpadding="0" border="0" style="width:260px; height:auto;">
                            <tr *ngFor="let valNum of rowValCell" valign="bottom" class="white">
                              <td style="border: none;" width="125" bgcolor="#fff">
                                <input [style.border-bottom]="submitted && !subRowDesc.valid?'solid 1px red':'none'" type="text" placeholder="Row Val Desc"
                                  [(title)]="row.listSalaryMatrixRowValue[(colNum*rowValCell.length)+valNum].desc" class="form-control form-txt white"
                                  name="subRowDesc{{rowIdx}}ValAmt{{(colNum*rowValCell.length)+valNum}}" [(ngModel)]="row.listSalaryMatrixRowValue[(colNum*rowValCell.length)+valNum].desc"
                                  #subRowDesc="ngModel" maxlength="31" style="text-align: center;resize: none;" required />
                              </td>
                              <td style="border: none;" bgcolor="#fff">
                                <label class="control-label" for="rowValAmt">$</label>                           
                                <input [style.border-bottom]="submitted && !rowValAmt.valid?'solid 1px red':'none'" style="float:right;width: 125px;text-align: right;"
                                  type="number" class="form-control fm-txt white" name="row{{rowIdx}}ValAmt{{(colNum*rowValCell.length)+valNum}}"
                                  [ngModel]="rowValAmt.modified || rowValAmt.invalid ? row.listSalaryMatrixRowValue[(colNum*rowValCell.length)+valNum].amount : row.listSalaryMatrixRowValue[(colNum*rowValCell.length)+valNum].amount  | number:'1.2-3' |noComma"
                                  (onfocusout)="checkdecimalcell(rowValAmt)" oninput="javascript: this.value=this.value.replace(/^0+/, ''); if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                  (keydown)="$event.key=='Tab'?rowValAmt.modified=false:rowValAmt.modified=true;true" (clickOutside)="rowValAmt.modified=false"
                                  (ngModelChange)="row.listSalaryMatrixRowValue[(colNum*rowValCell.length)+valNum].amount=$event"
                                  onkeypress="return check_digit(event,this,10,3);" min=0 #rowValAmt="ngModel" maxlength="11"
                                  required/>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <!-- <ngb-pagination class="d-flex justify-content-center" [collectionSize]="120" [(page)]="page2" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination> -->
                  </div>
                  <ul class="pager">
                    <li>
                      <button class="scroll" type="button" (click)="onFirstSearchPosition()" [disabled]="first">
                        <i class="datatable-icon-prev"></i>
                      </button>
                    </li>
                    <li>
                      <button class="scroll" type="button" (click)="onPreviousSearchPosition()" [disabled]="first">
                        <i class="datatable-icon-left"></i>
                      </button>
                    </li>
                    <li>
                      <button class="scroll" type="button" (click)="onNextSearchPosition()" [disabled]="last">
                        <i class="datatable-icon-right"></i>
                      </button>
                    </li>
                    <li>
                      <button class="scroll" type="button" (click)="onLastSearchPosition()" [disabled]="last">
                        <i class="datatable-icon-skip"></i>
                      </button>
                    </li>
                  </ul>
                </template>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" (click)="submitted=true" [ngClass]="'grey-btn'">{{SALARY_MATRIX_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.id" (click)="submitted=true" [ngClass]="'grey-btn'">{{SALARY_MATRIX_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f,subf)">{{SALARY_MATRIX_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{SALARY_MATRIX_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
