
<div class="content-wrapper user-view">
    <section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<!--<pre>{{gridDefaultFormValues|json}}</pre>-->
            <section class="inner-content">
			<!--<pre>{{generalSetup|json}}</pre>-->
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
                      
					            <!--<div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control" placeholder="search"
											(keyup)='updateFilter($event)' />
									</div>
							    </div>-->

					  			<div class="form-row">
							<div class="col-xs-12">
								<div class="algo-table">
									<div class="table-responsive"> 
										<ngx-datatable id="abc" class="material" [rows]="rows" [columnMode]="'force'" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
                                               [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="Searchselected" >
											<ngx-datatable-column *ngIf="gridDefaultFormValues[0]['readAccess']" name="companyId" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[0]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											<ngx-datatable-column *ngIf="gridDefaultFormValues[1]['readAccess']" name="companyName" [width]="350" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[1]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											<ngx-datatable-column *ngIf="gridDefaultFormValues[2]['readAccess']" name="vendorId" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[2]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											<ngx-datatable-column *ngIf="gridDefaultFormValues[3]['readAccess']" name="Action" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													{{gridDefaultFormValues[3]['fieldValue']}}
												</ng-template>
												<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
													<a class="edit-ico" (click)="edit(row)" *ngIf="gridDefaultFormValues[5]['readAccess']" title="gridDefaultFormValues[5]['helpMessage']"></a>
												</ng-template>
											</ngx-datatable-column>
										 </ngx-datatable>
									</div>

									<div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
									<!--<button class="blue-btn" (click)="delete()"  title="delete">Delete</button>-->
								</div>
								</div><!-- Algo Table Ends -->
								
							</div>
						</div><!-- Form Row Ends -->

						<form class="search-batch" name="leaseCompanySetup" (ngSubmit)="leaseCompanySetup.form.valid && save(leaseCompanySetup)" #leaseCompanySetup="ngForm" novalidate>
							<div class="form-row">    
								  <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': leaseCompanySetup.submitted && !companyId.valid }">
								  <label>{{defaultFormValues[0]['fieldValue']}}</label>
								  <input myAutofocus type="text" title="{{defaultFormValues[0]['helpMessage']}}" class="form-control fm-txt {{myHtml}} auto-focus" id="ddl_insClassId" name="companyId" [(ngModel)]="leaseCom.companyId" #companyId="ngModel" maxlength="21" [disabled]="disableId" required>
									<div *ngIf="leaseCompanySetup.submitted && companyId.invalid">
										<div class='error-msg' *ngIf="companyId.errors.required">
											{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
							</div><!-- Form Row Ends -->
							<div class="form-row">
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[4]['readAccess']" [ngClass]="{ 'has-error': leaseCompanySetup.submitted && !companyName.valid }">
								  <label>{{defaultFormValues[4]['fieldValue']}}</label>
								  <input type="text" title="{{defaultFormValues[4]['helpMessage']}}" class="form-control fm-txt {{myHtml}} auto-focus" id="ddl_insClassId" name="companyName" [(ngModel)]="leaseCom.companyName" #companyName="ngModel" required >
									<div *ngIf="leaseCompanySetup.submitted && companyName.invalid">
										<div class='error-msg' *ngIf="companyName.errors.required">
											{{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
                                </div><!-- Form Row Ends -->
							<div class="form-row">    
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{ 'has-error': leaseCompanySetup.submitted && vendorId.length == 0 }">
									<label>{{defaultFormValues[1]['fieldValue']}}</label>
									<div class="select-outer">
										 <!--<select class="form-control" title="{{defaultFormValues[1]['helpMessage']}}" name='vendorId' [(ngModel)]="leaseCom.vendorId" #vendorId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let v of vendors" [value]="v.venderId">{{v.venderNamePrimary}}</option>
										</select>-->
										<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrVendorId" [(ngModel)]="vendorId" id= "vendorId"[ngModelOptions]="{standalone: true}"
                                       [settings]="ddlVendorIdSetting" 
									 (onSelect)="getVendorIdByID($event)" (onDeSelect)="OnVendorIdDeSelect($event)"></angular2-multiselect>
									
									 <!--<input type="text" class="form-control fm-txt {{myHtml}}" name='vendorId'[(ngModel)]="leaseCom.vendorId" #vendorId="ngModel" required value=""/>-->
									</div>
									<div *ngIf="leaseCompanySetup.submitted && vendorId.length == 0 ">
											<div class='error-msg'>
												{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
										</div>
								</div>
								<div [ngClass]="{'col-md-6 col-sm-6 col-xs-12':true}">
                               <input type="text" [ngClass]="'form-control fm-txt'" name="venderNamePrimary" [(ngModel)]="venderNamePrimary" readonly />
                             </div>
							</div><!-- Form Row Ends -->
							
							<div class="button-row">
							<input type="submit" [disabled]="LockScreen(defaultFormValues[2]['writeAccess'])"
							 class="orange-btn" *ngIf="defaultFormValues[2]['readAccess']" title="{{defaultFormValues[2]['helpMessage']}}" value="{{defaultFormValues[2]['fieldValue']}}"/>						
								
								<!-- <input type="button" class="blue-btn" style="margin-left:18px" (click)="clearForm(leaseCompanySetup);" title="{{defaultFormValues[3]['helpMessage']}}" value="{{defaultFormValues[3]['fieldValue']}}"/> -->
								
								<input type="button" class="blue-btn" title="{{defaultFormValues[3]['helpMessage']}}" (click)="clearForm(leaseCompanySetup);" value="{{defaultFormValues[3]['fieldValue']}}"/>
								<input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(leaseCompanySetup)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
								<!--<button class="grey-btn">Accounts</button>-->
							</div><!-- Buton Row Ends -->
							
						</form>
					
					<div class="form-row">
							<div class="col-xs-12">
								<!--<div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control" placeholder="search"
											(keyup)='updateFilter($event)' />
									</div>
								</div>-->
							</div>
						</div><!-- Form Row Ends -->
                   </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>