.login_page{
    width: 100%;
}






  button:hover, button:focus {
    /* background-color: #FEFF7F; */
    border: 1px solid rgb(248, 246, 246);
    color:#000000;
    font-weight: bold;
   }

   .add-option{
     background-color: #dddddd;
     font-weight: bold;
     /* color: white; */

   }

   .search-icon-company {
    position: absolute;
    top: 50%;
   
    margin-top: -10px;
    color:black;
    margin-right: 138px;
}




.multi-select{
  border: none !important;
  box-shadow: none !important;
}



.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #2ea89b;}

/* .smtSearchOuter .floating-input {
  position: relative;
  left: 0;
  top: 0;
} */