<!DOCTYPE html>
<!-- 
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 4.7
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Algoras</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="#1 selling multi-purpose bootstrap admin theme sold in themeforest marketplace packed with angularjs, material design, rtl support with over thausands of templates and ui elements and plugins to power any type of web applications including saas and admin dashboards. Preview page of Theme #1 for "
            name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        !-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" /> -->
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <!-- <link href="../assets/pages/css/login-5.min.css" rel="stylesheet" type="text/css" /> -->
        <!-- END PAGE LEVEL STYLES -->
        <!-- <link href="../assets/layouts/layout/css/custom.css" rel="stylesheet" type="text/css" /> -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> 
        <link rel="stylesheet" href="../assets/global/plugins/bootstrap/css/bootstrap-select.css">
        

    </head>
    <!-- END HEAD -->

    <body class="login">
        <!-- BEGIN : LOGIN PAGE 5-2 -->
        <div class="user-login-5 login_page">
            <div class="row bs-reset">
                <div class="col-sm-6 login-container bs-reset">
                          <!-- <div class="nav navbar-nav lang-navbar pull-right">
                        <select   class="form-control auto-focus" name='currentLanguage' [(ngModel)]="currentLanguage"  (change)="ChangeLanguage()">
                        <option *ngFor="let language of arrLanguage" [value]="language.languageId">{{language.languageName}}</option>
                        </select>
                    </div>  -->

                    <div  class="dropdown nav navbar-nav lang-navbar pull-right">
                            <div class="dropbtn  auto-focus"><i class="ti-world"></i>{{currentLanguageName}}</div>
                            <div class="dropdown-content">
                                <a *ngFor="let language of arrLanguage"  (click)="ChangeLanguage(language)">{{language.languageName}}</a>
                            </div>
                            </div>
                           
                            <!-- <ul class="nav navbar-nav lang-navbar pull-right">
                                <li class="dropdown dropdown-user">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="ti-world"></i> English
                                      </a>
                                      
                                    <ul class="dropdown-menu dropdown-menu-default">
                                        <li>
                                            <a href="page_user_profile_1.html">Arabic</a>
                                        </li>
                                        
                                    </ul>
                            </ul> -->
                    <div class="login-content">
                        <div class="login-content-inner">
                        <img class="login-logo login-6" src="../assets/layouts/layout/img/logo-algoras.png" />
                        <h1 class="heading">{{screenName}}</h1>   
                        <!-- <form action="javascript:;" class="login-form" method="post">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                <span>Enter any username and password. </span>
                            </div>
                            <div class="floating-label col-md-12">  
                                <select class="floating-select" onclick="this.setAttribute('value', this.value);" value="" tabindex="5">
                                  <option value=""></option>
                                  <option value="1">BTI</option>
                                  <option value="2">LCI</option>
                                  <option value="3">MAC</option>
                                  <option value="4">OTC</option>
                                 
                                </select>
                                <span class="highlight"></span>
                                <label>Select company</label>
                              </div>
                            <div class="form-actions">
                                    <button type="button" id="back-btn" class="btn orange btn-rounded btn-lg">Cancel</button>
                                    <button class="btn green btn-rounded btn-lg" (click)="proceed()" type="submit">Proceed</button>
                            </div>
                        </form> -->

                        <form name="form" (ngSubmit)="f.form.valid && Proceed()" #f="ngForm" (keydown.enter)="f.form.valid && Proceed()" novalidate>
                            <h3></h3>
                            <div *ngIf="hasMsg"
                                [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                                {{messageText}}
                            </div>
                            <div [ngClass]="'form-row'">	
                                   
                            <div  *ngIf="!hasMsg" class='col-md-12 col-sm-12 col-xs-12'>
                                    <!-- <div ngbDropdown  class="d-inline-block col-md-12 floating-label dropdown-container" autoClose="outside">
                            
                                          
                                            <span class="btn btn-primary" *ngFor="let itm of SelectedCompany">{{itm.itemName}}<i class="icofont icofont-close-line" (click)="remove(itm)"></i></span>
                                            <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                <li class="dropdown-item">+ Add new</li>
                                                
                                                    <li class="dropdown-item" *ngFor="let option of ddl_MultiSelectCompany" (click)="check(option)">
                                                      <span *ngIf="option.checked"><i class="icofont icofont-check"></i></span>{{option.itemName}}
                                                     
                                                    </li>
                                                </ul>
                                          
                                            <input class="floating-input" type="text"   id="" tabindex="1" ngbDropdownToggle>
                                            <span class="highlight"></span>
                                            <label>Select company</label>
                                            <input type="hidden"/><a href="#" class="search-icon">
                                            <i class="fa fa-search"></i>
                                          </a>

                                        
                                          </div>	 -->

                                          <div class="form-group row">
   
                                            <div class="floating-label col-md-12 smtSearchOuter">  
                                                <input auto-complete [(ngModel)]="SelectedCompanyModule"  [ngModelOptions]="{standalone: true}" [source]="ddl_MultiSelectCompany" class="floating-input auto-focus" list-formatter="itemName" 
                                                max-num-list="10" (valueChanged)="onCompanySelect($event)" placeholder="" on-focus="onAutocompleteFocus('countryLabel')" on-focusout="onAutocompleteFocusOut('countryLabel')" tabindex="5"/>
                                                <!-- <select class="floating-select browser-default custom-select" (change)="selectCountry();" [(ngModel)]="selectedCountry"  value="" tabindex="5">
                                                  <option value=""></option>
                                                  <option class="add-option"  value="-1">+ Add new</option>
                                                  <option *ngFor="let item of countryList" value={{item.id}}>{{item.name}}</option>
                                                </select> -->
                                                <span class="highlight"></span>
                                                <label id="countryLabel">Company</label>
                                                <input type="hidden"/>  
                                                <span><i class="fa fa-search smtIcon"></i></span>
                                              </div>
                                          </div>
                                        <!--<label for="companyIds">{{defaultFormValues[12]['fieldValue']}}</label>-->
                                         <!--<label for="companyIds">{{defaultFormValues[12]['fieldValue']}}</label>-->
                                         <!-- <angular2-multiselect [data]="ddl_MultiSelectCompany" [(ngModel)]="SelectedCompany" [ngModelOptions]="{standalone: true}"
                                            [settings]="ddlCompanySetting" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect> -->
                                    </div>
                             </div>
                            <div class="button-row text-center">
                                    <button type="button" id="back-btn" class="btn orange btn-rounded btn-lg" (click)="cancel()">{{defaultFormValues[1]['fieldValue']}}</button>
                                    <button type="submit" class="btn green btn-rounded btn-lg">{{defaultFormValues[0]['fieldValue']}}</button>

                            </div>
                        </form>
                    </div>
                    </div>
                    
                </div>
                <div class="col-sm-6 bs-reset right-col">
                      <div class="content-panel">
                            <h1>Company Proceed</h1>
                            <img src="../assets/layouts/layout/img/company-proceed-icon.png">
                      </div>
                </div>
            </div>
        </div>
        <!-- END : LOGIN PAGE 5-2 -->
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap-select.js"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/pages/scripts/login-5.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
    </body>

</html>
