<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

    </div>
  </div>
</div>

<!-- screen header -->
<div class="page-header">
  <div class="page-header-title">
    <span>
      <h3 *ngIf="!model.id">{{SUPERVISOR_CREATE_FORM_LABEL['fieldValue']}}</h3>
      <h3 *ngIf="model.id">{{SUPERVISOR_UPDATE_FORM_LABEL['fieldValue']}}</h3>
    </span>
  </div>
  <!-- <div class="page-header-breadcrumb">
  <i class="ti-settings"></i>
</div> -->
</div>
<!-- screen header -->

<div class="content-wrapper">
  <section class="content" (keyup)='EscapeModal($event)'>
    <!-- section Heading Starts -->
    <!-- <div class="section-heading">
      <h2></h2>
  </div> -->
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- Content Outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>

        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{message.text}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <!-- <h3> {{screenName}}</h3> -->
          <div *ngIf="showloader" class="loader">
          </div>
        </div>
        <!-- Content Heading Ends -->

        <!--adding form starts-->
        <!-- Basic Form Inputs card start -->
        <app-card [title]="">
          <!-- <h4 class="sub-title">Create company</h4> -->


          <form class="form-horizontal" (ngSubmit)="f.form.valid && CreateSupervisor(f, $event)" #f="ngForm" novalidate>

            <!-- <ng-template> -->
            <div class="form-group row">
              <div class="col-sm-2">
                <div class="floating-label " class="col-md-offset-4">
                  <input auto-complete [source]="rows" class="floating-input" list-formatter="superVisionCode" [readonly]="isUnderUpdate" name="superVisionCode"
                    [(ngModel)]="model.superVisionCode" #superVisionCode="ngModel" [ngModelOptions]="{standalone: true}" 
                    (valueChanged)="getSupervisorData($event)" placeholder="" on-focus="onAutocompleteFocus('lblSupervisorId');supervisorIdFocusIn()"
                     tabindex="1" required/>
                  <div *ngIf="f.submitted && superVisionCode.invalid">
                    <div [hidden]="!superVisionCode.errors.required">
                      {{SUPERVISOR_CODE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div [hidden]="!superVisionCode.errors?.maxlength">
                      {{SUPERVISOR_CODE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                  </div>
                  <span class="highlight"></span>
                  <label id="lblSupervisorId" for="superVisionCode">{{SUPERVISOR_CODE['fieldValue']}}</label>
                  <input type="hidden" />
                  <span class="search-icon">
                    <i [ngClass]="{'ti-angle-down': !isSkillIdOpen, 'ti-angle-up':isSkillIdOpen }"></i>
                  </span>
                </div>
              </div>
            </div>


            <!-- </ng-template> -->

            <div class="form-group row">
              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !description.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="2" name="description" [(ngModel)]="model.description"
                      #description="ngModel" title="{{SUPERVISOR_DESCRIPTION['helpMessage']}}" [required]="SUPERVISOR_DESCRIPTION['isMandatory']"
                      maxlength="31" />
                    <div *ngIf="f.submitted && description.invalid">
                      <div [hidden]="!description.errors.required">
                        {{SUPERVISOR_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!description.errors?.maxlength">
                        {{SUPERVISOR_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="description">{{SUPERVISOR_DESCRIPTION['fieldValue']}}</label>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !arabicDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="3" name="arabicDescription" [(ngModel)]="model.arabicDescription"
                      #arabicDescription="ngModel" title="{{SUPERVISOR_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61"
                      [required]="SUPERVISOR_ARABIC_DESCRIPTION['isMandatory']" dir="rtl" />
                    <div *ngIf="f.submitted && arabicDescription.invalid">
                      <div [hidden]="!arabicDescription.errors.required">
                        {{SUPERVISOR_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!arabicDescription.errors?.maxlength">
                        {{SUPERVISOR_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="arabicDescription">{{SUPERVISOR_ARABIC_DESCRIPTION['fieldValue']}}</label>
                  </div>
                </div>
              </div>







            </div>
            <!-- <div class="sub-title"></div> -->
            <div class="form-group row">

              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !employeeId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input auto-complete [source]="getEmployee" class="floating-input" list-formatter="employeeId" name="employeeId" [(ngModel)]="empolyeId"
                      #employeeId="ngModel" title="{{SUPERVISOR_EMPLOYEE_ID['helpMessage']}}" [ngModelOptions]="{standalone: true}"
                       (valueChanged)="getEmployeeData($event)" placeholder="" on-focus="onAutocompleteFocus('lblEmployee');employeeFocusIn()"
                      on-focusout="employeeFocusout()" tabindex="4" required/>
                    <!-- on-focus="onAutocompleteFocus('countryLabel',selectedCountry);countryFocusIn(countryId)" on-focusout="onAutocompleteFocusOut('countryLabel',selectedCountry);countryFocusout(countryId)" -->
                    <!-- <div *ngIf="f.submitted && frequency.value==0"> -->
                    <div *ngIf="f.submitted && employeeId.invalid">
                      <div [hidden]="!employeeId.errors.required">
                        {{SUPERVISOR_EMPLOYEE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label id="lblEmployee" class="control-label" for="employeeId">{{SUPERVISOR_EMPLOYEE_ID['fieldValue']}}</label>
                    <input type="hidden" />
                    <span class="search-icon">
                      <!-- <i class="ti-angle-down"></i> -->
                      <i [ngClass]="{'ti-angle-down': !isFrequencyOpen, 'ti-angle-up':isFrequencyOpen }"></i>
                    </span>
                  </div>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12" [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" tabindex="6" placeholder=" " [readonly]="SUPERVISOR_EMPLOYEE_NAME['readAccess']"
                      name="employeeName" [(ngModel)]="model.employeeName" #employeeName="ngModel" title="{{SUPERVISOR_EMPLOYEE_NAME['helpMessage']}}"
                      maxlength="150" />
                    <span class="highlight"></span>
                    <label class="control-label" for="employeeName">{{SUPERVISOR_EMPLOYEE_NAME['fieldValue']}}</label>
                  </div>
                </div>
              </div>



            </div>






            <div [ngClass]="'button-row'">
              <div [ngClass]="'col-sm-12'">
                <button *ngIf="model.id" tabindex="7" class="green-btn">{{SUPERVISOR_UPDATE_LABEL['fieldValue']}}</button>
                <button *ngIf="!model.id" tabindex="7" class="green-btn">{{SUPERVISOR_SAVE_LABEL['fieldValue']}}</button>
                <button class="blue-btn" tabindex="8" (click)="goBack()">{{SUPERVISOR_CANCEL_LABEL['fieldValue']}}</button>
                <button [ngClass]="'orange-btn'" tabindex="9" type="button" (click)="Clear(f)">{{SUPERVISOR_CLEAR_LABEL['fieldValue']}}</button>
                <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
              <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
              </div>

            </div>

          </form>


        </app-card>


        <!--adding form ends-->
      </div>
      <!-- Content Outer Ends -->
    </section>
  </section>
</div>