<div class="content-wrapper user-view" >
  <section class="content">
    <div class="section-heading"><h2>{{ACT_STMT_RPT_HEADING['fieldValue']}}</h2></div><!-- section Heading Ends -->
      <section class="inner-content">
        <div class="content-outer com-form">
          <div class="row">
            <div class="form-row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-row">
                  <div class="">
                    <div class="col-md-6 col-sm-6 col-xs-12 dob-row">
									    <label>{{ACT_STMT_RPT_START_DATE['fieldValue']}}</label>
                        <div class="select-dt select-dt-full w100">
                          <input  type="text" class="form-control fm-txt"  readonly 
                            name="startDate" [(ngModel)]="startDate" ngx-mydatepicker #dp="ngx-mydatepicker" [options]="myOptions1" required/>
                            <span class="input-group-btn calender" style="position: absolute;right: 105px;top: 5px;">
                              <button type="button" class="btn btn-default" (click)="clearMaintenanceDate()">
                                <i class="glyphicon glyphicon-remove"></i>
                              </button>
                              <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                <i class="fa fa-calendar"></i>
                              </button>
                            </span>
                        </div>
  								  </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 dob-row">
									    <label>{{ACT_STMT_RPT_END_DATE['fieldValue']}}</label>
                        <div class="select-dt select-dt-full w100">
                          <input  type="text" class="form-control fm-txt"  name="endDate" [(ngModel)]="endDate" ngx-mydatepicker #dp1="ngx-mydatepicker" [options]="myOptions2" required readonly/>
                            <span class="input-group-btn calender" style="position: absolute;right: 105px;top: 5px;">
                              <button type="button" class="btn btn-default" (click)="clearAddedDate()">
                                <i class="glyphicon glyphicon-remove"></i>
                              </button>
                              <button type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
                                <i class="fa fa-calendar"></i>
                              </button>
                            </span>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- Form Row Ends -->

          <div class="button-row">
            <div class="col-xs-12">
              <input type="button" class="blue-btn" value="{{ACT_STMT_RPT_GET_DATA['fieldValue']}}" (click)="GetAccountStatementReport(startDate,endDate)"/>
            </div>
          </div>

          <div class="row">
            <div class="form-row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-row">

                <div class="bt-row">
                  <div class="label-outer">
                      <label for="accountNo">{{ACT_STMT_RPT_ACCOUNT_NUMBER['fieldValue']}}</label>
                  </div><!-- Label Outer Ends -->
                  <div class="value-outer"> 
<!--                     <select *ngIf="masterList" [ngClass]="'form-control '" myAutofocus name="accountNumber" (change)="getAccountStatementDetails($event)"  title="{{ACT_STMT_RPT_ACCOUNT_NUMBER['helpMessage']}}" required>
                        <option  *ngFor="let account of masterList" [value]="account.accountNumber">
                            {{account.accountNumber}}
                        </option>
                    </select> -->
                    <ng-select 
                      *ngIf="accountNumberList" 
                      (data)="getAccountStatmentDetilsNew($event)" 
                      [items]="accountNumberList" 
                      title="{{ACT_STMT_RPT_ACCOUNT_NUMBER['helpMessage']}}"
                      (keyup.enter)="openSearchModal($event)">

                    </ng-select>
                  </div><!-- Value Outer ENds -->  

                </div>
                  <div class="bt-row">
                  </div>

                  <div class="bt-row">
                      <div class="label-outer">
                              <label for="AccountDescription">{{ACT_STMT_RPT_ACCOUNT_DESCRIPTION['fieldValue']}}</label>
                      </div><!-- Label Outer Ends -->
                          <div class="value-outer"> 
                              <input type="text" [ngClass]="'form-control fm-txt'" name="accountDescription" id="accountDescription" maxlength="61" value={{description}} 
                              title="{{ACT_STMT_RPT_ACCOUNT_DESCRIPTION['helpMessage']}}"
                              readonly>
                          </div><!-- Value Outer ENds -->  
                  </div>
                  <div class="bt-row">
                  </div>

                  <div class="bt-row">
                          <div class="label-outer">
                              <label for="AccountCategory">{{ACT_STMT_RPT_ACCOUNT_CATEGORY['fieldValue']}}</label>
                      </div><!-- Label Outer Ends -->
                          <div class="value-outer"> 
                              <input type="text" [ngClass]="'form-control fm-txt'" name="accountCategory" id="accountCategory" maxlength="61" value={{accountCategory}} 
                              title="{{ACT_STMT_RPT_ACCOUNT_CATEGORY['helpMessage']}}"
                              readonly>
                          </div><!-- Value Outer ENds -->  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="button-row">
            <div class="col-xs-12">
                      <div class="label-outer">
                              <label for="beginning Balance">{{ACT_STMT_RPT_BEGINNING_BALANCE['fieldValue']}} : {{beginningBalance | looseCurrency}}</label>
                      </div><!-- Label Outer Ends -->
            </div>
          </div>

          <div class="form-row">
            <div class="col-xs-12">
              <div class="algo-table">
                <div class="table-responsive">          
                  <table class="table">
                    <thead>
                      <tr> 
                          <th width="5%">{{ACT_STMT_RPT_TH_JOURNAL_NO['fieldValue']}}</th>
                          <th width="15%">{{ACT_STMT_RPT_TH_JOURNAL_DATE['fieldValue']}}</th>
                          <th width="35%">{{ACT_STMT_RPT_TH_DIST_REF['fieldValue']}}</th>
                          <th width="15%">{{ACT_STMT_RPT_TH_DEBIT_AMT['fieldValue']}}</th>
                          <th width="15%">{{ACT_STMT_RPT_TH_CREDIT_AMT['fieldValue']}}</th>
                          <th width="15%">{{ACT_STMT_RPT_TH_BALANCE['fieldValue']}}</th>
                      </tr>
                    </thead>
                      <tbody *ngIf="accountStatementRecord">
                        <tr *ngFor="let cArr of accountStatementRecord.accountStatmentDetailRecordList;let i = index">
                          <td>{{cArr.journalNo}}</td>
                          <td>{{cArr.journalDate | date: 'dd/MM/yyyy'}}</td>
                          <td>{{cArr.distributionReference}}</td>
                          <td>{{cArr.debitAmount | looseCurrency}}</td>
                          <td>{{cArr.creditAmount | looseCurrency}}</td>
                          <td>{{cArr.balance | looseCurrency}}</td>
                        </tr>
                        <tr>
                          <td class="text-right" colspan="3"><b>Total</b></td>
                          <td>
                              {{totalDebit | looseCurrency}}
                          </td>
                           <td>
                              {{totalCredit | looseCurrency}}
                          </td>
                          <td>
                              {{totalBalance | looseCurrency}}
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </div>
              </div><!-- Algo Table Ends -->
                      <div class="form-row">
                        <div class="button-row">
                                <div class="col-sm-12">
                                    <input type="button" title="{{ACT_STMT_RPT_BTN_PRINT['helpMessage']}}" class="blue-btn"  value="{{ACT_STMT_RPT_BTN_PRINT['fieldValue']}}" (click)="openModel(AccountStatementReport)"/>
                                </div>
                        </div><!-- Buton Row Ends -->
                    </div><!-- Form Row Ends -->
            </div>
          </div><!-- Form Row Ends -->
        </div>


    </section>
  </section>

      <modal #AccountStatementReport id="AccountStatementReport" [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-lg">
        <modal-header>
           Account Statement Report
        </modal-header>
        <modal-content>
        <div id="AccountStatementReportPrintSection" class="content-outer com-form" *ngIf="masterList">
              <div>
                <table style="border-collapse: collapse; size: 7in 9.25in; margin: 27mm 27mm 27mm 27mm;" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td>
                        <table style="border-collapse: collapse; width: 675px; height: 104px; size: 7in 9.25in; margin: 2mm 2mm 2mm 16mm;" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr style="height: 10px;">
                              <td class="xl63" style="height: 31.5pt; width: 50px; text-align: center;" colspan="5" rowspan="2" >
                                <h1><strong>{{ACT_STMT_RPT_HEADING['fieldValue']}}</strong></h1>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <table style="width: 220px; height: 42px; float: right; border-size: 1px;">
                          <tbody>
                            <tr>
                              <td style="width: 93px;"><label><b>{{ACT_STMT_RPT_LBL_PRINT_DATE['fieldValue']}}: </b> </label></td>
                              <td style="border-color: black; width: 111px;"><label> {{today | date: 'dd/MM/yyyy'}} </label></td>
                            </tr>
                            <tr>
                              <td style="width: 93px;"><label><b>{{ACT_STMT_RPT_LBL_PRINT_TIME['fieldValue']}}: </b></label></td>
                              <td style="border-color: black; width: 111px;"><label>{{today | date: 'h:mm a'}} </label></td>
                            </tr>
                          </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <table style="width: 509px; height: 26px; margin-left: auto; margin-right: auto;">
                          <tbody>
                            <tr>
                              <td style="width: 93px;" >{{ACT_STMT_RPT_START_DATE['fieldValue']}}:</td>
                              <td style="width: 150px;">{{startDate}}</td>
                              <td style="width: 50px;">&nbsp;</td>
                              <td style="width: 84.5px;">{{ACT_STMT_RPT_END_DATE['fieldValue']}}:</td>
                              <td style="width: 198.5px;">{{endDate}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <table style="width: 791px;" *ngIf="selectedMaster">
                          <tbody>
                            <tr>
                              <td style="width: 157px;" ><label><b>{{ACT_STMT_RPT_ACCOUNT_NUMBER['fieldValue']}}</b></label></td>
                              <td><label>{{selectedMaster.accountNumber}} </label></td>
                            </tr>
                            <tr>
                              <td style="width: 157px;"><label><b>{{ACT_STMT_RPT_ACCOUNT_DESCRIPTION['fieldValue']}}</b></label></td>
                              <td><label>{{selectedMaster.description}} </label></td>
                            </tr>
                            <tr>
                              <td style="width: 157px;"><label><b>{{ACT_STMT_RPT_ACCOUNT_CATEGORY['fieldValue']}}</b></label></td>
                              <td><label>{{selectedMaster.accountCategory}} </label></td>
                            </tr>
                          </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <table style="width: 251px; height: 26px; float: right;" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td style="width: 141px; text-align: justify;">{{ACT_STMT_RPT_BEGINNING_BALANCE['fieldValue']}}:</td>
                              <td style="width: 94px;">{{beginningBalance | looseCurrency}}</td>
                            </tr>
                            <tr>
                              <td style="width: 141px; text-align: justify;"></td>
                              <td style="width: 94px;"></td>
                            </tr>
                          </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <table border="1" width="750" cellspacing="0" cellpadding="0">
                          <thead>
                            <tr>
                              <td width="5%" align="center">{{ACT_STMT_RPT_TH_JOURNAL_NO['fieldValue']}}</td>
                              <td colspan="2" width="15%" align="center">{{ACT_STMT_RPT_TH_JOURNAL_DATE['fieldValue']}}</td>
                              <td colspan="4" width="35%" align="center">{{ACT_STMT_RPT_TH_DIST_REF['fieldValue']}}</td>
                              <td colspan="2" width="15%" align="center">{{ACT_STMT_RPT_TH_DEBIT_AMT['fieldValue']}}</td>
                              <td colspan="2" width="15%" align="center">{{ACT_STMT_RPT_TH_CREDIT_AMT['fieldValue']}}</td>
                              <td colspan="2" width="15%" align="center">{{ACT_STMT_RPT_TH_BALANCE['fieldValue']}}</td>
                            </tr>
                            </thead>
                            <tbody *ngIf="accountStatementRecord">
                              <tr *ngFor="let cArr of accountStatementRecord.accountStatmentDetailRecordList;let i = index">
                                <td>{{cArr.journalNo}}</td>
                                <td colspan="2" align="center">{{cArr.journalDate | date : 'dd/MM/yyyy'}}</td>
                                <td colspan="4">{{cArr.distributionReference}}</td>
                                <td colspan="2" align="center">{{cArr.debitAmount | looseCurrency}}</td>
                                <td colspan="2" align="center">{{cArr.creditAmount | looseCurrency}}</td>
                                <td colspan="2" align="center">{{cArr.balance | looseCurrency}}</td>
                              </tr>
                              <tr>
                                <td colspan="7" align="right"><b>{{ACT_STMT_RPT_LBL_TOTAL['fieldValue']}}</b> &nbsp;</td>
                                <td colspan="2" align="center">
                                    {{totalDebit | looseCurrency}}
                                </td>
                                <td colspan="2" align="center">
                                    {{totalCredit | looseCurrency}}
                                </td>
                                <td  colspan="2" align="center">
                                    {{totalBalance | looseCurrency}}
                                </td>
                              </tr>

                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
        </modal-content>
        <modal-footer>
                <input type="button" class="blue-btn" title="{{ACT_STMT_RPT_BTN_PRINT['helpMessage']}}" value="{{ACT_STMT_RPT_BTN_PRINT['fieldValue']}}" (click)="print()"/>
                <input type="button" class="blue-btn" title="{{ACT_STMT_RPT_BTN_CLOSE['helpMessage']}}" value="{{ACT_STMT_RPT_BTN_CLOSE['fieldValue']}}" (click)="closeModal(AccountStatementReport)"/>
            </modal-footer> 
    </modal>    

</div><!-- Content OUter Ends -->

<button class="btn btn-primary" style="display:none" id="searchPopupButton" data-toggle="modal" data-target="#searchAccountNumber">Click ME</button>

<app-search-popup class="modal fade bd-example-modal-lg"
                  id="searchAccountNumber"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                  (messageEvent)="receiveMessage($event)"> 
</app-search-popup>
