<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[11]['helpMessage']}}">{{defaultFormValues[11]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="accrualGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Accrual Description -->
              <ngx-datatable-column name="desc" [width]="170" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort()">{{defaultFormValues[2]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{defaultFormValues[10]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[16]['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{defaultFormValues[17]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">Update Accrual Setup- Accrual By List Setup</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && type.value!=0 && CreateAccural(f, $event)" #f="ngForm" novalidate>

              <div [ngClass]="">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">

                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && !desc.valid,'': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="desc">{{defaultFormValues[2]['fieldValue']}}</label>
                          </div>
                          <div class="col-md-8">
                            <input type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model.desc" #desc="ngModel"
                              title="{{defaultFormValues[2]['helpMessage']}}" maxlength="31" required />

                            <div *ngIf="f.submitted && desc.invalid">
                              <div [hidden]="!desc.errors.required">
                                {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Position Class -->
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && type.value==0,'': currentLanguage == 2}">
                          <div class="col-md-4">
                            <label class="control-label" for="type">{{defaultFormValues[1]['fieldValue']}}</label>
                          </div>
                          <div class="col-md-8">
                            <select [ngClass]="'form-control '" name="type" [(ngModel)]="model.type" #type="ngModel" title="{{defaultFormValues[1]['fieldValue']}}"
                              required>
                              <option value="0">-- Select Accrual Type --</option>
                              <option value="1">One Time</option>
                              <option value="2">Hourly</option>
                              <option value="3">Period</option>
                              <option value="4">Interval</option>
                            </select>
                            <div *ngIf="f.submitted && type.value==0">
                              <div [hidden]="type.value!=0">
                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="button-row">
                        <div class="col-xs-12">
                          <span class="pull-right">
                            <!-- <button disabled [ngClass]="'grey-btn'">Options</button> -->
                            <button *ngIf="model.id" [ngClass]="'orange-btn'">Update</button>
                            <button *ngIf="!model.id" [ngClass]="'orange-btn'">Save</button>
                            <button [ngClass]="'blue-btn'" type="button" (click)="Clear(f)">Clear</button>
                          </span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
