<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
    </div>
    <div class="modal-footer">
           <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
           <button class="orange-btn-sm" (click)='DeleteClearingJournalEntry(f)' *ngIf='isDeleteAction'>{{OkText}}</button>
					 <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper user-view" >
        <section class="content">
            <div class="section-heading"><h2>{{moduleName}}</h2></div><!-- section Heading Ends -->
                <section class="inner-content">
                    <div class="content-outer com-form">
                        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{messageText}}
                        </div>
                        <div class="row">
                            <form (ngSubmit)="!hasMsg" id="FrmClearingEntry" #f="ngForm" novalidate>
                            <div class="form-row" *ngIf="defaultAddFormValues[0]['readAccess']">
                                    <div class="bt-row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                        <!-- <div  [ngClass]="{ 'has-error': f.submitted && activeJournalEntry[0].id == '0','col-md-6 col-sm-6 col-xs-12':true }"> -->
                                         <div class="label-outer">
                                        <label for="journalID">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                      </div>
                                      <div class="value-outer">
                                        <div class="col-md-4 paddiing0">
                                            <!-- <a (click)="getGLNextJournalEntry()">New</a> -->
                                        <input type="text" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    [readonly]="true" [ngClass]="'form-control fm-txt'" myAutofocus 
                                             name="journalID" [(ngModel)]="model.journalID" 
                                            #journalID="ngModel" id="journalID" maxlength="15" title="{{defaultAddFormValues[0]['helpMessage']}}"   >
                                        </div><!-- Half Text Ends -->
                                        <div class="col-md-8 padding0">
                                        <ng-select [allowClear]="false"
                                                    [active]="activeJournalEntry"
                                                    [items]="arrJournalEntry"
                                                    [disabled]="false" title="{{defaultAddFormValues[0]['helpMessage']}}"
                                                    (data)="bindSelectedItem($event,'JournalEntry')"
                                                    placeholder="{{select}}" class="JournalEntry">
                                        </ng-select>
                                            <!-- <div *ngIf="f.submitted && activeJournalEntry[0].id == '0'">
                                                <div class='error-msg'>
                                                    {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div> -->
                                        </div>
                                      </div><!-- Value outer ENds -->
                                    
                                        <!-- <div *ngIf="f.submitted && journalID.invalid">
                                            <div class='error-msg' *ngIf="journalID.errors.required">
                                                {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> -->
                                    </div><!-- Bt row Ends -->
                                </div>
                            </div><!-- Form Row Ends -->
                            
                            <div class="form-row" *ngIf="defaultAddFormValues[1]['readAccess']">
                               <div class="bt-row">
                                        <div  [ngClass]="{ 'has-error': f.submitted && !transactionDescription.valid,'col-md-6 col-sm-6 col-xs-12':true }">
                                         <div class="label-outer">
                                        <label for="transactionDescription">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                      </div>
                                      <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="transactionDescription" [(ngModel)]="model.transactionDescription" [readonly]="!defaultAddFormValues[1]['writeAccess']"
                                                    #transactionDescription="ngModel" id="transactionDescription" title="{{defaultAddFormValues[1]['helpMessage']}}" maxlength="61" required>
                                            <div *ngIf="f.submitted && transactionDescription.invalid">
                                                <div class='error-msg' *ngIf="transactionDescription.errors.required">
                                                    {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                      </div><!-- Value outer ENds -->
                                    </div><!-- Bt row Ends -->
                                </div>
                            </div><!-- Form Row Ends -->
                            <div class="form-row" *ngIf="defaultAddFormValues[2]['readAccess']">
                                <div class="bt-row">
                            <div [ngClass]="{'has-error': f.submitted && !transactionDate.valid,'col-md-6 col-sm-6 col-xs-12 dob-row':true}">
                                
                                        <div class="label-outer">
                                            <label>{{defaultAddFormValues[2]['fieldValue']}}</label>
                                            </div>
                                             <div class="value-outer">
                                             <input type="text" [ngClass]="'form-control fm-txt auto-focus'" name="transactionDate" [(ngModel)]="model.transactionDate" required readonly
                                                (dateChanged)="onDateChanged($event)" ngx-mydatepicker #dp="ngx-mydatepicker" [options]="myOptions" #transactionDate="ngModel" id="transactionDate" title="{{defaultAddFormValues[2]['helpMessage']}}">
                                            <span class="input-group-btn db--date">
                                                <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                                <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                                <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span> 
                                            <div *ngIf="f.submitted && transactionDate.invalid">
                                                <div class='error-msg' *ngIf="transactionDate.errors.required">
                                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>       
                                        </div><!-- Value Outer ENds -->  
                                </div><!-- Bt Row Ends -->
                            </div>
                            </div>
                            <div class="form-row">
                                
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="label-outer">
                                            <label>{{defaultAddFormValues[3]['fieldValue']}}</label>
                                        </div><!-- Label Outer Ends --> 
                                        <div class="value-outer">
                                            <label><input type="radio"  name="balanceType" [(ngModel)]="model.balanceType"  value="0" #balanceType="ngModel" title="{{defaultAddFormValues[4]['helpMessage']}}"><span>{{defaultAddFormValues[4]['fieldValue']}}</span></label>
                                             <label><input type="radio"  name="balanceType" [(ngModel)]="model.balanceType" value="1" #balanceType="ngModel" title="{{defaultAddFormValues[5]['helpMessage']}}"><span>{{defaultAddFormValues[5]['fieldValue']}}</span></label>
                                        </div><!-- Value Outer Ends -->
                                    </div><!-- BT Row Ends -->
                               
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="bt-row" *ngIf="defaultAddFormValues[6]['readAccess']">
                                        <div class="form-row">
                                        </div><!-- Form Row Ends -->
                                         <div  class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="label-outer">
                                                <label for='glBatchId'>{{defaultAddFormValues[6]['fieldValue']}}</label>
                                            </div><!-- Label Outer Ends -->
                                                <div class="value-outer">
                                                    <ng-select [allowClear]="false"
                                                        [active]="activeBatch"
                                                        [items]="arrBatchList"
                                                        [disabled]="false" title="{{defaultAddFormValues[6]['helpMessage']}}"
                                                        (data)="bindSelectedItem($event,'Batch')"
                                                        placeholder="{{select}}">
                                                    </ng-select>
                                              </div><!-- Value Outer Ends -->
                                            </div><!-- Form Row Ends -->
                                        </div>
                                        <div class="form-row" *ngIf="defaultAddFormValues[7]['readAccess']">
                                            <div  [ngClass]="{ 'has-error': f.submitted && activeAuditTrial[0].id == '0','col-md-12 col-sm-12 col-xs-12':true }">
                                            <div class="label-outer">
                                                <label for='sourceDocumentId'>{{defaultAddFormValues[7]['fieldValue']}}</label>
                                            </div><!-- Label Outer Ends -->
                                            <div class="value-outer">
                                                <ng-select [allowClear]="false"
                                                    [active]="activeAuditTrial"
                                                    [items]="arrAuditTrial"
                                                    [disabled]="false" title="{{defaultAddFormValues[7]['helpMessage']}}"
                                                    (data)="bindSelectedItem($event,'AuditTrial')"
                                                    placeholder="{{select}}">
                                                </ng-select>
                                                    <div *ngIf="f.submitted && activeAuditTrial[0].id == '0'">
                                                        <div class='error-msg'>
                                                            {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div>
                                            </div><!-- Value Outer Ends -->
                                        </div><!-- Form Row Ends -->
                                        </div>
                                    </div><!-- BT Row Ends -->
                             
                            </div><!-- Form Row Ends -->
                            <div class="form-row">
                                <div class="col-xs-12">
                                <div class="algo-table">
                                    <table class="table" id="CLEARINGENTRY">
                                      <thead>
                                        <tr> 
                                          <th width="20%">{{defaultAddFormValues[8]['fieldValue']}}</th>
                                          <th width="20%">{{defaultAddFormValues[9]['fieldValue']}}</th>
                                          <th width="30%">{{defaultAddFormValues[10]['fieldValue']}}</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>
                                         <!-- <div class="col-md-11 col-sm-11 col-xs-11"> -->
                                            <div  [ngClass]="{ 'has-error': (f.submitted || IsAddJournalEntryDetails) && (arrjournalEntryDetailsList.length == '0' || IsAddJournalEntryDetails)  && activeAccountNumber[0].id == '0','col-md-11 col-sm-11 col-xs-11':true }">
                                                <ng-select [allowClear]="false"
                                                    [active]="activeAccountNumber"
                                                    [items]="arrAccountNumber"
                                                    [disabled]="false" title="{{defaultAddFormValues[8]['helpMessage']}}"
                                                    (data)="bindSelectedItem($event,'AccountNumber')"
                                                    >
                                                </ng-select>
                                                <div *ngIf="(f.submitted || IsAddJournalEntryDetails) && (arrjournalEntryDetailsList.length == '0' || IsAddJournalEntryDetails)  && activeAccountNumber[0].id == '0'">
                                                        <div class='error-msg'>
                                                            {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                </div>
                                            </div>
                                           <!-- </div> -->
                                            <a (click)="getGlAccountNumberDetail('AccountNumber',ModalAccount)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                          </td>
                                          <td>
                                                <!-- <div class="col-md-11 col-sm-11 col-xs-11"> -->
                                            <div  [ngClass]="{ 'has-error': (f.submitted || IsAddJournalEntryDetails) && (arrjournalEntryDetailsList.length == '0' || IsAddJournalEntryDetails)   && activeAccountNumberOffset[0].id == '0','col-md-11 col-sm-11 col-xs-11':true }">
                                                <ng-select [allowClear]="false"
                                                    [active]="activeAccountNumberOffset"
                                                    [items]="arrAccountNumber"
                                                    [disabled]="false" title="{{defaultAddFormValues[9]['helpMessage']}}"
                                                    (data)="bindSelectedItem($event,'AccountNumberOffset')"
                                                    >
                                                </ng-select>
                                            
                                                <div *ngIf="(f.submitted || IsAddJournalEntryDetails) && (arrjournalEntryDetailsList.length == '0' || IsAddJournalEntryDetails)   && activeAccountNumberOffset[0].id == '0'">
                                                        <div class='error-msg'>
                                                            {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                </div>
                                            </div>
                                            <!-- </div>   -->
                                            <a (click)="getGlAccountNumberDetail('AccountNumberOffset',ModalAccount)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                          </td>
                                          <td>
                                                <!-- <div class="col-md-10 col-sm-10 col-xs-10"> -->
                                                <div  [ngClass]="{ 'has-error': (f.submitted || IsAddJournalEntryDetails)  && (arrjournalEntryDetailsList.length == '0' || IsAddJournalEntryDetails)  &&  !distributionDescription,'col-md-10 col-sm-10 col-xs-10':true }">
                                                    <input type="text" class="form-control"  name="distributionDescription" title="{{defaultAddFormValues[10]['helpMessage']}}" [readonly]="!defaultAddFormValues[10]['writeAccess']"
                                                        [(ngModel)]="distributionDescription">
                                                        <div *ngIf="(f.submitted || IsAddJournalEntryDetails) && (arrjournalEntryDetailsList.length == '0' || IsAddJournalEntryDetails)  && !distributionDescription">
                                                            <div class='error-msg'>
                                                                {{defaultAddFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                            </div>
                                                         </div>
                                                </div>  
                                                
                                                <a  class="add-ico-tb"><i class="fa fa-plus-circle" aria-hidden="true"  (click)="AddJournalEntryDetails()" ></i></a>
                                          </td>
                                        </tr>
                                        <tr *ngFor="let arr of arrjournalEntryDetailsList;let i = index">
                                                <td>
                                                        {{arr.accountNumber}}
                                                </td>
                                                <td>
                                                        {{arr.accountTableRowIndexOffsetValue}}
                                                </td>
                                                <td>
                                                        {{arr.distributionDescription}}
                                                        <a  class="add-ico-tb"><i class="fa fa-minus-circle" aria-hidden="true" (click)="RemoveJournalEntryDetails(i,arr)"></i></a>
                                                </td>
    
                                            </tr>
                                      
                                      </tbody>
                                    </table>
                                  <!-- </div> -->
                                  </div>
                                </div>
                               
                            </div><!-- Form Row Ends -->
                            <div class="form-row">
                                <div class="button-row">
                                    <div class="col-sm-12" *ngIf="!isScreenLock">
                                        <input type="button" class="blue-btn" title="{{defaultAddFormValues[11]['helpMessage']}}" value="{{defaultAddFormValues[11]['fieldValue']}}" (click)="varifyDelete()" [disabled]="!this.isModify"/>
                                        <input type="button" class="grey-btn" title="{{defaultAddFormValues[12]['helpMessage']}}" value="{{defaultAddFormValues[12]['fieldValue']}}"/>
                                        <input type="submit" class="blue-btn" title="{{defaultAddFormValues[13]['helpMessage']}}" value="{{defaultAddFormValues[13]['fieldValue']}}" (click)="PostClearingJournalEntry(f)" [disabled]="btndisabled"/>
                                        <input type="submit" class="orange-btn" title="{{defaultAddFormValues[14]['helpMessage']}}" value="{{defaultAddFormValues[14]['fieldValue']}}" (click)="SaveUpdateClearingJournalEntry(f)" [disabled]="btndisabled"/>
                                        <input type="button" class="blue-btn" title="{{defaultAddFormValues[15]['helpMessage']}}" value="{{defaultAddFormValues[15]['fieldValue']}}" (click)="print()"/>
                                        <input type="button" class="blue-btn" title="{{defaultAddFormValues[16]['helpMessage']}}" value="{{defaultAddFormValues[16]['fieldValue']}}" (click)="clear(f)"/>
                                        <input type="button" class="blue-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                                    </div>
                                </div><!-- Buton Row Ends -->
                            </div><!-- Form Row Ends -->
                            </form>
                        </div>
                    </div><!-- Form Row Ends -->
                </section>
        </section>
    </div><!-- Content OUter Ends -->
    <modal #ModalAccount [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-sm">
            <modal-header>
                    {{accountDescriptionTitle}}
            </modal-header>
            <modal-content>
               {{accountDescription}}
            </modal-content>
            <modal-footer>
                <button class="btn btn-primary close-button" (click)="ModalAccount.close()">{{close}}</button>
            </modal-footer>
        </modal>
    