<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>Loan Package Setup</h2>
      <!-- <button class="orange-btn" (click)="Create()" title="{{MISCELLANEOUS_CREATE_LABEL['helpMessage']}}">{{MISCELLANEOUS_CREATE_LABEL['fieldValue']}}</button> -->
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">

        <div *ngIf="hasMsg"
          [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage"
            [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
        </div>

        <div [ngClass]="'row form-group'">
          <!-- <div
              [ngClass]="{'has-error': f.submitted && !refrenceNum.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
          <div class="col-md-2">
            <label class="control-label" for="selectType">Select Type For Package</label>

          </div>
          <div class="col-md-6">
            <angular2-multiselect [ngClass]="'form-control'" name="selectType" id="smtCustomDropdown1" [data]="typedata"
              [(ngModel)]="model.dtoMultiSelectList" [settings]="typeSettings">
            </angular2-multiselect>

          </div>
        </div>

        <div [ngClass]="'button-row'" style="margin-top: 230px;">
          <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
            <div [ngClass]="'col-xs-12'">
              <span class="pull-right">
                <button [ngClass]="'grey-btn'" (click)="Save()">Save</button>

              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>