<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}
      </p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}
      </p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>Miscellaneous Values List</h2>
      <!-- <button class="orange-btn" (click)="Create()" title="{{MISCELLANEOUS_CREATE_LABEL['helpMessage']}}">{{MISCELLANEOUS_CREATE_LABEL['fieldValue']}}</button> -->
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg"
          [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage"
            [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <!-- <div class="search-top">
            <input type="text" class="search-txt form-control" title="Search" placeholder="Search"
              (keyup)='updateFilter($event)' />
          </div> -->
        </div>
        <!-- Content Heading Ends -->

        <!-- <div  class="setting-btn-wrap">
                  <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                  <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                  <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                  <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
              </div> -->

        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [count]="page.totalElements" [externalPaging]="true" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                [resizeable]="true" [headerCheckboxable]="true" [checkboxable]="true">
              </ngx-datatable-column>

              <ngx-datatable-column [width]="120" name="Code Name" [sortable]="false" prop="codeName">

                <template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </template>
              </ngx-datatable-column>

              <ngx-datatable-column [width]="120" name="Misc. Value Id" [sortable]="false" prop="valueId">

                <template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </template>
              </ngx-datatable-column>

              <ngx-datatable-column [width]="120" name="Description" [sortable]="false" prop="valueDescription">

                <template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </template>
              </ngx-datatable-column>

              <ngx-datatable-column [width]="120" name="Arabic Description" [sortable]="false" prop="valueArabicDescription">

                <template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </template>
              </ngx-datatable-column>



              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false"
                [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  Action
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                  <button class="del-ico" (click)="varifyDelete(row)" title="Delete"></button>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>

          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize"
                #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <!-- <button class="blue-btn" (click)="varifyDelete()">{{MISCELLANEOUS_DELETE_LABEL['fieldValue']}}</button> -->

          <!-- Create / Update Form start -->
          <div>
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">Create Value</h3>
              <h3 *ngIf="model.id">Update Value</h3>
            </div>
            <div *ngIf="duplicateWarning"
              [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>

            <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateMiscellaneousValues(f, $event)" #f="ngForm"
              novalidate>

              <!-- Miscellaneous Id field -->
              <!-- <div *ngIf="isUnderUpdate; then update else create"></div> -->
              <!-- <ng-template #update>
                <div [ngClass]="'form-group'">
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="MiscCodeId">Misc. Value Id</label>
                    </div>
                    <div class="col-md-4">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="MiscCodeId" value="{{MiscIdvalue}}"
                      title="Misc. Value Id" maxlength="15" />
                      <div *ngIf="f.submitted && MiscCodeId.invalid">
                        <div [hidden]="!MiscCodeId.errors.required">
                          This Field is Required
                        </div>
                        <div [hidden]="!MiscCodeId.errors?.maxlength">
                          Minimum 15 characters allowed
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template> -->
              <!-- <ng-template #update>
                <div [ngClass]="'form-group'">
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="MiscCodeId">Misc. Value Id</label>
                    </div>
                    <div class="col-md-4">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="MiscCodeId" value="{{MiscIdvalue}}"
                        title="Misc. Value Id" maxlength="15"/>
                      <div *ngIf="f.submitted && MiscCodeId.invalid">
                        <div [hidden]="!MiscCodeId.errors.required">
                          This Field is Required
                        </div>
                        <div [hidden]="!MiscCodeId.errors?.maxlength">
                          Minimum 15 characters allowed
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template> -->

              <!-- <ng-template> -->
                <div [ngClass]="'form-group'">
                  <div
                    [ngClass]="{ 'has-error': f.submitted && !MiscCodeId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="MiscCodeId">Misc. Value Id</label>
                      <span *ngIf="true">*</span>
                    </div>
                    <div class="col-md-4">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="MiscCodeId"
                        [(ngModel)]="model.valueId" #MiscCodeId="ngModel" autocomplete="off"
                        title="Misc. Value Id" maxlength="15"
                        [required]="true" />
                      <div *ngIf="f.submitted && MiscCodeId.invalid">
                        <div [hidden]="!MiscCodeId.errors.required">
                          This Field is Required
                        </div>
                        <div [hidden]="!MiscCodeId.errors?.maxlength">
                          Minimum 15 characters allowed
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- </ng-template> -->

              <!-- Miscellaneous Values Description Field -->
              <div [ngClass]="'form-group'">
                <div
                  [ngClass]="{'has-error': f.submitted && !description.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="description">Description</label>
                    <span *ngIf="true">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="model.valueDescription"
                      #description="ngModel" title="Description"
                      [required]="true" maxlength="120" />
                    <div *ngIf="f.submitted && description.invalid">
                      <div [hidden]="!description.errors.required">
                        This Field is Required
                      </div>
                      <div [hidden]="!description.errors?.maxlength">
                        Minimum 31 characters allowed
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Arabic Miscellaneous Values description -->
              <div [ngClass]="'form-group'">
                <div
                  [ngClass]="{'has-error': f.submitted && !arabicdescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label"
                      for="arabicdescription">Arabic Description</label>
                    <span *ngIf="true">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="arabicdescription"
                      [(ngModel)]="model.valueArabicDescription" #arabicdescription="ngModel"
                      title="Arabic Description"
                      [required]="true" maxlength="120" />
                    <div *ngIf="f.submitted && arabicdescription.invalid">
                      <div [hidden]="!arabicdescription.errors.required">
                        This Field is Required
                      </div>
                      <div [hidden]="!arabicdescription.errors?.maxlength">
                        Minimum 61 characters allowed
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Dimensions -->
              <!-- <div class="form-group com-form">
                <div class="col-md-10 col-xs-12">
                  <div class="col-md-12">
                    <div class="col-md-1" style="padding-left: 1px;">
                      <input type="checkbox" name="dimensions" [(ngModel)]="model.dimension" #dimensions="ngModel">
                    </div>
                    <div class="col-md-7" style="padding-top: 9px;">
                      <label for="dimensions">
                        {{MISCELLANEOUS_DIMENSIONS_LABEL['fieldValue']}}
                      </label>
                    </div>
                  </div>
                </div>

                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button [ngClass]="'grey-btn'" (click)="goToValuesList();"
                        [attr.disabled]="isValueDisable ? '' : null">{{MISCELLANEOUS_VALUES_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div> -->

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id"
                        [ngClass]="'grey-btn'">Update</button>
                      <button *ngIf="!model.id"
                        [ngClass]="'grey-btn'">Save</button>
                      <button [ngClass]="'orange-btn'" type="button"
                        (click)="Clear(f)">Clear</button>
                        <button [ngClass]="'orange-btn'" type="button"
                        (click)="goToMiscellaneous();">Back</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>