<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span> {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <!--<h2>{{moduleName}}</h2>-->
      <h2>Employee Benefit Maintenance</h2>
      <button class="orange-btn" (click)="Create()" title="{{DEDUCTION_CODE_CREATE_LABEL['fieldValue']}}">{{DEDUCTION_CODE_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="Search Benefit Maintenance" placeholder="Search Benefit Maintenance"
              (keyup)='searchFilter($event)' />
          </div>
        </div>

      <div class="algo-table algo-table-department">
        <!-- Data Grid Starts-->
        <div class="table-responsive">
          <ngx-datatable id="deductionCodeGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'
            [scrollbarH]="true">

            <!-- Data Grid checkbox -->
            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
            </ngx-datatable-column>

            <ngx-datatable-column name="employeeMaster" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sortColumn('employeeMaster.employeeId')">{{defaultFormValues[0]['fieldValue']}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.employeeId}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="benefitCode" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sortColumn('benefitCode.benefitId')">Benefit Code</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.benefitId}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="startDate" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{defaultFormValues[4]['fieldValue']}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date: 'dd-MM-yyyy'}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="endDate" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{defaultFormValues[5]['fieldValue']}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date: 'dd-MM-yyyy'}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="frequency" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{defaultFormValues[6]['fieldValue']}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{frequencyArray[value-1]}}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="benefitMethod" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sort()">{{defaultFormValues[7]['fieldValue']}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{methodArray[value-1]}}
              </ng-template>
            </ngx-datatable-column>

            <!-- Data Grid Action -->
            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="false">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                {{DEDUCTION_CODE_ACTION['fieldValue']}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button class="edit-ico" (click)="edit(row)" title="{{DEDUCTION_CODE_EDIT['fieldValue']}}"></button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
        <!-- Data Grid Ends-->
      </div>

      <div class="button-row">
        <!-- Table View Starts -->
        <div class="table-view table-view-fix">
          <span>{{tableView}}</span>
          <div class="select-outer">
            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize"
              #cityId="ngModel">
              <option value="5">{{tableViewList.first}}</option>
              <option value="15">{{tableViewList.second}}</option>
              <option value="50">{{tableViewList.thied}}</option>
              <option value="100">{{tableViewList.forth}}</option>
            </select>
          </div>
        </div>
        <!-- Table View Ends -->

        <div class="bottom-view">
        </div>
        <button class="blue-btn" (click)="varifyDelete()" title="{{DEDUCTION_CODE_DELETE_LABEL['fieldValue']}}">{{DEDUCTION_CODE_DELETE_LABEL['fieldValue']}}</button>

        <!-- Create / Update Form start -->
        <div *ngIf="showCreateForm">
          <div class="col-md-12 mt-30">
            <hr>
          </div>
          <div class="col-md-12 mb-30">
            <h3 *ngIf="!model.id">Create Employee Benefit Maintenance</h3>
            <h3 *ngIf="model.id">Update Employee Benefit Maintenance</h3>
          </div>
          <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="clearfix"></div>
          <form class="form-horizontal" (ngSubmit)="f.form.valid &&  CreateBenefitCode(f, $event) " #f="ngForm"
            novalidate>
            <!-- !checkPayCodeValidId &&
                        !checkEmpValidId &&
                        !isCompAmount &&
                        !isCompMaxTrxnPp &&
                        !isCompMaxTrxnLt &&
                        !isCompMaxTrxnPp &&
                        islifeTimeValidamountPercent &&
                        islifeTimeValidamount && -->

            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <div *ngIf="isUnderUpdate; then update else create"></div>
                  <!-- form update  -->
                  <ng-template #update>
                    <div [ngClass]="{ 'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                      <div class="col-md-4">
                        <label class="control-label" style="padding-top : 10px" for="employeeDependent">{{EMPDEDUCTION_CODE_ID['fieldValue']}}</label>
                        <span *ngIf="EMPDEDUCTION_CODE_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <div class="row">
                          <!-- Employee ID -->
                          <div class="col-md-6">
                            <input type="text" [ngClass]="'form-control fm-txt'" name="employeeDependent" value="{{employeeIdValue}}"
                              title="{{EMPDEDUCTION_CODE_ID['fieldValue']}}" [readonly]="!EMPDEDUCTION_CODE_ID['writeAccess']"
                              maxlength="15" />
                          </div>
                          <div class="col-md-6">
                            <div class="col-md-1">
                              <input type="checkbox" (click)="checkDeductionCodeForm($event)" name="inactive"
                                [(ngModel)]="model.inactive" #inactive="ngModel">
                            </div>
                            <div class="col-md-5" style="padding-top: 9px;">
                              <label for="Inactive">
                                {{DEDUCTION_CODE_INACTIVE['fieldValue']}}
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                  <!-- form Create -->
                  <ng-template #create>
                    <div [ngClass]="{'has-error': f.submitted && !employeeMaster.valid || checkEmpValidId,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                      <div class="col-md-4">
                        <label for="employeeMaster" class="control-label" style="padding-top : 10px">{{EMPDEDUCTION_CODE_ID['fieldValue']}}</label>
                        <span *ngIf="EMPDEDUCTION_CODE_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <div class="row">
                          <!-- Employee ID -->
                          <div class="col-md-6">
                            <input type="text" [ngClass]="'form-control fm-txt search-id'" name="employeeMaster"
                              [(ngModel)]="modelemployeeId" #employeeMaster="ngModel" title="{{EMPDEDUCTION_CODE_ID['fieldValue']}}"
                              [required]="EMPDEDUCTION_CODE_ID['isMandatory']" maxlength="15" class="search-id"
                              [typeahead]="employeeIDList" autocomplete="off" (typeaheadLoading)="changeTypeaheadLoading($event)"
                              (typeaheadOnSelect)="typeaheadOnSelect($event, 'employeeId');" typeaheadOptionField="employeeId"
                              (input)="CheckValidID($event, 'employeeId')" (typeaheadOnBlur)="CheckValidID($event, 'employeeId')" />
                            <div *ngIf="f.submitted && employeeMaster.invalid">
                              <div [hidden]="!employeeMaster.errors.required">
                                {{EMPDEDUCTION_CODE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                            </div>
                            <div *ngIf="checkEmpValidId">
                              Invalid input.
                            </div>
                          </div>
                          <!-- Inactive -->
                          <div class="col-md-6">
                            <div class="col-md-1">
                              <input type="checkbox" (click)="checkDeductionCodeForm($event)" name="inactive" title="{{DEDUCTION_CODE_INACTIVE['fieldValue']}}"
                                [(ngModel)]="model.inactive" #inactive="ngModel">
                            </div>
                            <div class="col-md-5" style="padding-top: 9px;">
                              <label for="Inactive">
                                {{DEDUCTION_CODE_INACTIVE['fieldValue']}}
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                
                </div>

                <!-- Name -->
                <div class="form-group">
                  <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="employeeFirstName">{{DEDUCTION_CODE_NAME['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="employeeFirstName" value="{{employeeFirstName}}"
                        title="{{DEDUCTION_CODE_NAME['fieldValue']}}" [required]="DEDUCTION_CODE_NAME['isMandatory']"
                        maxlength="31" [readonly]="!DEDUCTION_CODE_NAME['writeAccess']" />
                    </div>
                  </div>
                </div>

                <!-- Deduction Code ID-->
                <div *ngIf="isUnderUpdate; then updateDC else createDC"></div>
                <!-- Form Update Case -->
                <ng-template #updateDC>
                  <div class="form-group">
                    <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="deductionCode">Benefit Code</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="benefitCode" value="{{deductionCodeValue}}"
                          title="Benefit Code" readonly />
                      </div>
                    </div>
                  </div>
                </ng-template>

                <!-- Create Case -->
                <ng-template #createDC>
                  <div class="form-group">
                    <div [ngClass]="{'has-error': f.submitted && !benefitCode.valid || checkPayCodeValidId,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="deductionCode">Benefit Code</label>
                        <span *ngIf="DEDUCTION_CODE_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt search-id'" name="benefitCode" [(ngModel)]="modeldeductionCode"
                          #benefitCode="ngModel" title="Benefit Code" [required]="DEDUCTION_CODE_ID['isMandatory']"
                          autocomplete="off" class="search-id" [typeahead]="deductioncodeIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                          (typeaheadOnSelect)="typeaheadOnSelect($event, 'benefitId');" typeaheadOptionField="benefitId"
                          (input)="CheckValidID2($event, 'deductionId', benefitCode)" (typeaheadOnBlur)="CheckValidID2($event, 'deductionId', benefitCode)" />
                        <div *ngIf="f.submitted && benefitCode.invalid">
                          <div [hidden]="!benefitCode.errors.required">
                            {{DEDUCTION_CODE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                        <div *ngIf="checkPayCodeValidId">
                          Invalid input.
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <!--  Description Field -->
                <div class="form-group">
                  <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="discription">{{DEDUCTION_CODE_DESCRIPTION['fieldValue']}}</label>
                      <span *ngIf="DEDUCTION_CODE_DESCRIPTION['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="discription" value="{{deductionDesc}}"
                        title="{{DEDUCTION_CODE_DESCRIPTION['fieldValue']}}" [required]="DEDUCTION_CODE_DESCRIPTION['isMandatory']"
                        maxlength="31" [readonly]="!DEDUCTION_CODE_DESCRIPTION['writeAccess']" disabled />
                    </div>
                  </div>
                </div>

                <!-- Arabic Deduction Code description -->
                <div class="form-group">
                  <div [ngClass]="{'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="arbicDiscription">{{DEDUCTION_CODE_ARABIC_DESCRIPTION['fieldValue']}}</label>
                      <span *ngIf="DEDUCTION_CODE_ARABIC_DESCRIPTION['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8 arabic-mode">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="arbicDiscription" value="{{deductionArabicDesc}}"
                        title="{{DEDUCTION_CODE_ARABIC_DESCRIPTION['fieldValue']}}" maxlength="61" [required]="DEDUCTION_CODE_ARABIC_DESCRIPTION['isMandatory']"
                        [readonly]="!DEDUCTION_CODE_ARABIC_DESCRIPTION['writeAccess']" disabled />
                    </div>
                  </div>
                </div>

                <!-- Deduction Method -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && benefitMethod.value==0,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="benefitMethod">Benefit Method</label>
                      <span *ngIf="DEDUCTION_CODE_METHOD['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="benefitMethod"
                        [(ngModel)]="model.benefitMethod" oninput="javascript: if(this.value!=0)this.value=this.value.replace(/^0+/, '');"
                        #benefitMethod="ngModel" title="Benefit Method" [required]="DEDUCTION_CODE_METHOD['isMandatory']"
                        (change)="selectedMethod($event.target.selectedIndex)" disabled>
                        <option value="0">-- Select Benefit Method --</option>
                        <option value="1">Fixed Amount</option>
                        <option value="2">Amount Per Unit</option>
                        <option value="3">Percent Of Gross Wages</option>
                        <option value="4">Percent Of Net Wages</option>
                        <option value="5">Base on pay code</option>
                      </select>
                      <div *ngIf="f.submitted && benefitMethod.value==0">
                        <div [hidden]="benefitMethod.value!=0">
                          {{DEDUCTION_CODE_METHOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Based On Paycode Dropdown -->
                <div class="form-group" *ngIf="(model.benefitMethod == 5)">
                  <div class="col-md-10 col-sm-6 col-xs-12">
                    <div class="col-md-4">
                      <label class="control-label" for="benefitMethod">Based On Pay Code</label>
                    </div>
                    <div class="col-md-8">
                      <angular2-multiselect name="selectBasedOnPaycode" [data]="AllBasedOnPayCodeList" [(ngModel)]="showSelectedPaycode"
                        [settings]="payCodeSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                      </angular2-multiselect>
                    </div>
                  </div>
                </div>

                <!-- Paycode Factor -->
                <div class="form-group" *ngIf="(model.benefitMethod == 5)">
                  <div class="col-md-10 col-sm-6 col-xs-12">
                    <div class="col-md-4">
                      <label class="control-label" for="benefitMethod">Pay Factor</label>
                    </div>
                    <div class="col-md-8">
                      <input type="number" [ngClass]="'form-control fm-txt'" name="payFactor" [(ngModel)]="model.payFactor"
                        #Payfactor="ngModel" title="Pay Factor" maxlength="11" min="0" (keypress)="keyPress($event)"
                        onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,3);"
                        (focus)="amountCal()" (input)="totalAmount(model.payFactor)" disabled />
                    </div>
                  </div>
                </div>

                <!-- Amount -->
                <div *ngIf="(model.benefitMethod == 0 ||model.benefitMethod ==  1 || model.benefitMethod == 2 || model.benefitMethod == 5); then normalamount else percent"></div>
                <ng-template #normalamount>
                  <div class="form-group">
                    <div [ngClass]="{'has-error':isCompAmount || !islifeTimeValidamount,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="deductionAmount">Benefit Amount</label>
                        <span *ngIf="DEDUCTION_CODE_AMOUNT['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input type="number" [ngClass]="'form-control fm-txt'" name="benefitAmount" [(ngModel)]="model.benefitAmount"
                          #benefitAmount="ngModel" title="Benefit Amount" [(ngModel)]="model.benefitAmount" maxlength="11"
                          min="0" oninput="javascript: if(this.value!=0)this.value=this.value.replace(/^0+/, '');"
                          (keypress)="keyPress($event)" (keyup)="checkdecimalamount(benefitAmount.value);" onKeyPress="if(this.value.length==10) return false;"
                          max="9999999999" (keyup)="amountComp(benefitAmount.value);" onkeypress="return check_digit(event,this,10,3);"
                          (change)="amountComp(benefitAmount.value);" [disabled]="isBenefitAmount" />
                        <div *ngIf="isCompAmount || !islifeTimeValidamount">
                          <!-- <div [hidden]="!benefitAmount.errors?.required">
                            {{DEDUCTION_CODE_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div> -->
                          <div *ngIf="isCompAmount">
                            {{ errorDeductn }}
                          </div>
                          <div *ngIf="!islifeTimeValidamount">
                            Invalid Input
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <!-- // Deduction Percent -->
                <ng-template #percent>
                  <div class="form-group">
                    <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                      <!-- 'has-error': (f.submitted && !benefitPercent.valid) || (!benefitPercent.errors?.required && benefitPercent.maxlength) || !islifeTimeValidamountPercent, -->
                      <div class="col-md-4">
                        <label class="control-label" for="deductionPercent">Benefit Percent</label>
                        <span *ngIf="DEDUCTION_CODE_PERCENT['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input type="number" [ngClass]="'form-control fm-txt'" name="benefitPercent" [(ngModel)]="model.benefitPercent"
                          #benefitPercent="ngModel" title="Benefit Percent" maxlength="11" min="0" oninput="javascript: if(this.value!=0)this.value=this.value.replace(/^0+/, '');"
                          (keypress)="keyPress($event)" (keyup)="checkdecimalamountPercent(benefitPercent.value)"
                          onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,5);"
                          disabled />
                        <!-- <div *ngIf="(f.submitted && benefitPercent.invalid) || !benefitPercent.errors?.required && benefitPercent.maxlength || !islifeTimeValidamountPercent">
                          <div [hidden]="!benefitPercent.errors?.required">
                            {{DEDUCTION_CODE_PERCENT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div *ngIf="!islifeTimeValidamountPercent && !benefitPercent.errors?.required ">
                            Invalid Input
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </ng-template>

                <!-- Frequency -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && frequency.value==0,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="frequency">{{DEDUCTION_CODE_FREQUENCY['fieldValue']}}</label>
                      <span *ngIf="DEDUCTION_CODE_FREQUENCY['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="frequency"
                        [(ngModel)]="model.frequency" #frequency="ngModel" title="{{DEDUCTION_CODE_FREQUENCY['fieldValue']}}"
                        disabled>
                        <option value="0">-- Select Frequency --</option>
                        <option value="1">Weekly</option>
                        <option value="2">Biweekly</option>
                        <option value="3">Semimonthly</option>
                        <option value="4">Monthly</option>
                        <option value="5">Quarterly</option>
                        <option value="6">Semiannually</option>
                        <option value="7">Annually</option>
                        <option value="8">Daily/Miscellaneous</option>
                      </select>
                      <div *ngIf="f.submitted && frequency.value==0">
                        <div [hidden]="frequency.value!=0">
                          {{DEDUCTION_CODE_FREQUENCY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Second Section Start -->
              <!-- form Second Section "Maximum Deduction"-->
              <div class="col-md-4">

                  <div class="form-group">
                      <div class="col-md-6">
                              <label class="control-label" for="type">Type</label>
                          <select name="type" [ngClass]="'form-control fm-txt'" [disabled]="true" [(ngModel)]="model.benefitTypeId"
                            #type="ngModel">
                            <option value="">-- Select Type --</option>
                            <option *ngFor="let val of typeData" value="{{val.id}}">{{val.value}}</option>
                          </select>
                        </div>

      
                        <div class="col-md-6">
                              <label class="control-label" for="round">Rounding</label>
                              <!-- <span *ngIf="PAYCODE_DESCRIPTION['isMandatory']">*</span> -->
                          <select name="round" [disabled]="true" [ngClass]="'form-control fm-txt'" [(ngModel)]="model.roundOf"
                            #round="ngModel">
                            <option value= "0">0</option>
                            <option value= "1">0.0</option>
                            <option value= "2">0.00</option>
                            <option value= "3">0.000</option>
                            <option value= "4">0.0000</option>
                          </select>
                        </div>
              </div>

                <div class="borderbox">
                  <h4 class="margin-bottom">Maximum Benefit</h4>

                  <!-- Per Period -->
                  <div class="form-group">
                    <div [ngClass]="{'col-xs-12':true, '': currentLanguage == 2}">
                      <div class="col-md-6">
                        <label class="control-label" for="perPeriord">{{DEDUCTION_CODE_PER_PERIOD['fieldValue']}}</label>
                        <span *ngIf="DEDUCTION_CODE_PER_PERIOD['isMandatory']">*</span>
                      </div>
                      <div class="col-md-6">
                        <input type="number" [ngClass]="'form-control fm-txt'" name="perPeriord" [(ngModel)]="model.perPeriord"
                          #perPeriord="ngModel" title="{{DEDUCTION_CODE_PER_PERIOD['fieldValue']}}" disabled />
                        <!-- (keyup)="checkdecimalperperiod(perPeriord.value);"  (keypress)="keyPress($event)"
                            onKeyPress="if(this.value.length==10) return false;" (keyup)="amountTrnsDeductnPp(perPeriord.value); maxAmountCompPp(perPeriord.value);RequiredValidation(perPeriord.value)"
                          (change)="amountTrnsDeductnPp(perPeriord.value); maxAmountCompPp(perPeriord.value);RequiredValidation(perPeriord.value)"
                          max="9999999999" maxlength="11" min="0" oninput="javascript: if(this.value!=0)this.value=this.value.replace(/^0+/, '');"
                          onkeypress="return check_digit(event,this,10,3);"  -->
                        <!-- <div *ngIf="(f.submitted && perPeriord.invalid )">
                          <div [hidden]="!perPeriord.errors?.required">
                            {{DEDUCTION_CODE_PER_PERIOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                        <div *ngIf="isCompMaxTrxnPp">
                          <div>
                            {{ errorMaxPp }}
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>

                  <!-- Per Year -->
                  <div class="form-group">
                    <div [ngClass]="{'col-xs-12':true, '': currentLanguage == 2}">
                      <div class="col-md-6">
                        <label class="control-label" for="perYear">{{DEDUCTION_CODE_PER_YEAR['fieldValue']}}</label>
                        <span *ngIf="DEDUCTION_CODE_PER_YEAR['isMandatory']">*</span>
                      </div>
                      <div class="col-md-6">
                        <input type="number" [ngClass]="'form-control fm-txt'" name="perYear" [(ngModel)]="model.perYear"
                          #perYear="ngModel" title="{{DEDUCTION_CODE_PER_YEAR['fieldValue']}}" min="0" maxlength="11"
                          disabled />
                        <!-- (keypress)="keyPress($event)" (keyup)="checkdecimalperyear(perYear.value);"  oninput="javascript: if(this.value!=0)this.value=this.value.replace(/^0+/, '');"
                          onKeyPress="if(this.value.length==10) return false;"
                          max="9999999999" onkeypress="return check_digit(event,this,10,3);" (keyup)="maxAmountCompPy(perYear.value);maxAmountCompPp(perPeriord.value);RequiredValidation(perYear.value)"
                          (change)="maxAmountCompPy(perYear.value);maxAmountCompPp(perPeriord.value);RequiredValidation(perYear.value)"  -->
                        <!-- <div *ngIf="(f.submitted && perYear.invalid)">
                          <div [hidden]="!perYear.errors?.required">
                            {{DEDUCTION_CODE_PER_YEAR['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                        <div *ngIf="isCompMaxTrxnPy">
                          <div>
                            {{ errorMaxPy }}
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>

                  <!-- Lifetime -->
                  <div class="form-group">
                    <div [ngClass]="{'col-xs-12':true, '': currentLanguage == 2}">
                      <div class="col-md-6">
                        <label class="control-label" for="lifeTime">{{DEDUCTION_CODE_LIFETIME['fieldValue']}}</label>
                        <span *ngIf="DEDUCTION_CODE_LIFETIME['isMandatory']">*</span>
                      </div>
                      <div class="col-md-6">
                        <input type="number" [ngClass]="'form-control fm-txt'" name="lifeTime" [(ngModel)]="model.lifeTime"
                          #lifeTime="ngModel" title="{{DEDUCTION_CODE_LIFETIME['fieldValue']}}" min="0" maxlength="11"
                          disabled />
                        <!-- (keypress)="keyPress($event)" (keyup)="checkdecimal(lifeTime.value);"  oninput="javascript: if(this.value!=0)this.value=this.value.replace(/^0+/, '');"
                          onKeyPress="if(this.value.length==10) return false;"
                          (keyup)="maxAmountCompLt(lifeTime.value); amountTrnsDeductnLt(lifeTime.value)" max="9999999999"
                          onkeypress="return check_digit(event,this,10,3);" (keyup)="maxAmountCompLt(lifeTime.value);maxAmountCompPy(perYear.value);RequiredValidation(lifeTime.value)"
                          (change)="maxAmountCompLt(lifeTime.value);maxAmountCompPy(perYear.value);RequiredValidation(lifeTime.value)"  -->
                        <!-- <div *ngIf="(f.submitted && lifeTime.invalid)">
                          <div [hidden]="!lifeTime.errors?.required">
                            {{DEDUCTION_CODE_LIFETIME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                        <div *ngIf="isCompMaxTrxnLt">
                          <div>
                            {{ errorMaxLt }}
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Date Section Start-->

            <div class="borderbox">
              <div class="row" *ngIf="dateSectionDateDisplay">
                <div class="col-md-6">
                  <!-- Start Date -->
                  <div class="form-group">
                    <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                      <div class="col-md-4">
                        <!-- <input type="radio" name="date" [(ngModel)]="dateSet"> -->
                        <label class="control-label">{{DEDUCTION_CODE_STARTDATE['fieldValue']}}</label>
                        <!-- <span *ngIf="DEDUCTION_CODE_STARTDATE['isMandatory']">*</span> -->
                      </div>
                      <div class="col-md-8">
                        <div class="input-group">
                          <input [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="startDateModel"
                            title="{{DEDUCTION_CODE_STARTDATE['fieldValue']}}" [(ngModel)]="startDateModel" [options]="myOptions"
                            #dp="ngx-mydatepicker" (dateChanged)="onStartDateChanged($event)" #startDate="ngModel"
                            (change)="onStartDateChanged($event.target.value)" [readonly]="!DEDUCTION_CODE_STARTDATE['writeAccess']"
                            [required]="false" disabled />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                              (click)="dp.clearDate()">
                              <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                              (click)="dp.toggleCalendar()">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </div>
                        <!-- <div *ngIf="f.submitted && startDate.invalid">
                          <div [hidden]="!startDate.errors.required">
                            {{DEDUCTION_CODE_STARTDATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- End Date -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error':(error.isError),'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label">{{DEDUCTION_CODE_ENDDATE['fieldValue']}}</label>
                        <!-- <span *ngIf="DEDUCTION_CODE_ENDDATE['isMandatory']">*</span> -->
                      </div>
                      <div class="col-md-8">
                        <div class="input-group">
                          <input [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="endDate"
                            title="{{DEDUCTION_CODE_ENDDATE['fieldValue']}}" [(ngModel)]="endDateModel" [options]="myOptions"
                            #dp1="ngx-mydatepicker" (dateChanged)="onEndDateChanged($event)" #endDate="ngModel"
                            (change)="onEndDateChanged($event.target.value)" [readonly]="!DEDUCTION_CODE_ENDDATE['writeAccess']"
                            [required]="false" disabled />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                              (click)="dp1.clearDate()">
                              <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;"
                              (click)="dp1.toggleCalendar()">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </div>
                        <div *ngIf="error.isError">
                          <!-- <div [hidden]="!endDate.errors?.required || error.isError">
                            {{DEDUCTION_CODE_ENDDATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div> -->
                          <div *ngIf="error.isError" class="r">
                            {{ error.errorMessage }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" *ngIf="dateSectionDayDisplay">
                <div class="col-md-12">
                  <!-- Employee Joining Date -->
                  <div class="form-group">
                    <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                      <div class="col-md-3">
                        <!-- <input type="radio" name="date" [(ngModel)]="daySet" (change)="daySelection($event)"
                                    value="$event.target.checked"> -->
                        <label class="control-label">Employee Joining Date</label>
                        <!-- <span *ngIf="BENEFIT_END_DATE['isMandatory']">*</span> -->
                      </div>
                      <div class="col-md-2" style="margin-left: -32px">
                        <input [ngClass]="'form-control fm-txt'" name="empJoingDate" value="{{employeeJoiningDate | date:'dd-MM-yyyy'}}"
                          [readonly]="true" title="Employee Joining Date" />
                      </div>

                      <!-- Numbers Of days -->
                      <div class="col-md-2" style="padding-left: 21px;">
                        <label class="control-label">Number Of days</label>
                        <!-- <span *ngIf="BENEFIT_END_DATE['isMandatory']">*</span> -->
                      </div>
                      <div class="col-md-2">
                        <input type="number" [ngClass]="'form-control fm-txt'" name="noOfDays" title="Number of Days"
                          maxlength="11" min="0" (keypress)="keyPress($event)" (keyup)="checkdecimalamount(numberOfDays.value)"
                          onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,3);"
                          [(ngModel)]="model.noOfDays" disabled />
                      </div>

                      <!-- End Date after # days -->
                      <div class="col-md-1" style="margin-left: 28px;">
                        <label class="control-label">#days</label>
                        <!-- <span *ngIf="BENEFIT_END_DATE['isMandatory']" style="margin-left: -2px;">*</span> -->
                      </div>
                      <div class="col-md-2">
                        <input type="number" [ngClass]="'form-control fm-txt'" name="endDateDays" title="End Date After Days"
                          maxlength="11" min="0" (keypress)="keyPress($event)" (keyup)="checkdecimalamount(endDateAfterDays)"
                          onKeyPress="if(this.value.length==10) return false;" max="9999999999" onkeypress="return check_digit(event,this,10,3);"
                          [(ngModel)]="model.endDateDays" disabled />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Date Section End -->

            <!-- Transaction Required -->
            <div class="form-group">
              <div class="col-md-10 col-xs-12">
                <div class="col-md-12">
                  <div class="col-md-1" style="padding-left: 1px;">
                    <input type="checkbox" name="transactionRequired" [(ngModel)]="model.transactionRequired"
                      #transactionRequired="ngModel" title="{{DEDUCTION_CODE_TRANSREQ['fieldValue']}}" (click)="checkTranRequed($event)" disabled>
                  </div>
                  <div class="col-md-7" style="padding-top: 9px;">
                    <label for="transactionRequired">
                      {{DEDUCTION_CODE_TRANSREQ['fieldValue']}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div [ngClass]="'button-row'">
              <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12': true, '': currentLanguage == 2}">
                <div [ngClass]="'col-xs-12'">
                  <span class="pull-right">
                    <button *ngIf="model.id" [ngClass]="'grey-btn'">{{DEDUCTION_CODE_UPDATE_LABEL['fieldValue']}}</button>
                    <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{DEDUCTION_CODE_SAVE_LABEL['fieldValue']}}</button>
                    <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f); onEndDateChanged($event.target.value); onStartDateChanged($event.target.value)">{{DEDUCTION_CODE_CLEAR_LABEL['fieldValue']}}</button>
                    <button [ngClass]="'blue-btn'" (click)="Cancel();">{{DEDUCTION_CODE_CANCEL_LABEL['fieldValue']}}</button>
                  </span>
                </div>
              </div>
            </div>
          </form>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
        <!-- Create Update form ends -->
      </div>
      </div>
    </section>
  </section>
</div>
