
<div class="content-wrapper">
  <section class="content">
      <!-- section Heading Starts -->
      <div class="section-heading">         
          <h2>{{!isFamilyLeaveCalender ? moduleName : defaultFormValues[17]['fieldValue']}}</h2>          
      </div>
      <!-- section Heading Ends -->
      <section class="inner-content">
          <!-- content outer Starts -->
          <div class="content-outer com-form">
              <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                  {{messageText}}
              </div>
              
              <div class="button-row">
                 <!-- Create / Update Form start -->
                 <div >
                    
                    <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                   
                    <div class="clearfix"></div>
                    <div *ngIf="!isFamilyLeaveCalender">
                        <form class="form-horizontal" (ngSubmit)="f.form.valid && postEstimatedDate.value!=0 &&  SaveBenefitPreferences(f, $event)" #f="ngForm" novalidate>

                            <div class="form-group col-md-6 mb-30">
                                <h3>{{defaultFormValues[9]['fieldValue']}}</h3>
                            </div>
                            <div class="form-group col-md-6 mb-30">
                                <h3>{{defaultFormValues[10]['fieldValue']}}</h3>
                            </div>
                            <!-- POST_ESTIMATED_RETURN_DATE -->
                            <div class="form-group col-md-6 mb-30">
                                <div [ngClass]="{'has-error': f.submitted && postEstimatedDate.value==0,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-6">
                                        <label class="control-label" for="postEstimatedDate">{{defaultFormValues[1]['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="postEstimatedDate" [(ngModel)]="model.postEstimatedDate" #postEstimatedDate="ngModel"
                                             title="{{defaultFormValues[1]['helpMessage']}}" required>
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option value="1">Never</option>
                                            <option value="2">Always</option>
                                            <option value="3">Ask Each Time</option>
                                        </select>
                                         <div *ngIf="f.submitted && postEstimatedDate.value==0">
                                            <div [hidden]="!postEstimatedDate.value==0">
                                              {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- POST_ELIGIBLITY_DATE -->
                            <div class="form-group col-md-6 mb-30">
                                <div [ngClass]="{'has-error': f.submitted && eligibilityDate.value==0,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-6">
                                        <label class="control-label" for="eligibilityDate">{{defaultFormValues[5]['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="eligibilityDate" [(ngModel)]="model.eligibilityDate" #eligibilityDate="ngModel"
                                            title="{{defaultFormValues[5]['helpMessage']}}" required>
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option value="1">Never</option>
                                            <option value="2">Always</option>
                                            <option value="3">Ask Each Time</option>
                                        </select>
                                         <div *ngIf="f.submitted && eligibilityDate.value==0">
                                            <div [hidden]="!eligibilityDate.value==0">
                                              {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- POST_PAYMENT_DATES -->
                            <div class="form-group col-md-6 mb-30">
                                <div [ngClass]="{'has-error': f.submitted && postPaymentDates.value==0,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-6">
                                        <label class="control-label" for="postPaymentDates">{{defaultFormValues[2]['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="postPaymentDates" [(ngModel)]="model.postPaymentDates" #postPaymentDates="ngModel"
                                            title="{{defaultFormValues[2]['helpMessage']}}" required>
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option value="1">Never</option>
                                            <option value="2">Always</option>
                                            <option value="3">Ask Each Time</option>
                                        </select>
                                         <div *ngIf="f.submitted && postPaymentDates.value==0">
                                            <div [hidden]="!postPaymentDates.value==0">
                                              {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <!-- POST_PAPERWORK_DEADLINES -->
                            <div class="form-group col-md-6 mb-30">
                                <div [ngClass]="{'has-error': f.submitted && paperworkDeadlines.value==0,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-6">
                                        <label class="control-label" for="paperworkDeadlines">{{defaultFormValues[6]['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="paperworkDeadlines" [(ngModel)]="model.paperworkDeadlines" #paperworkDeadlines="ngModel"
                                            title="{{defaultFormValues[6]['helpMessage']}}" required>
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option value="1">Never</option>
                                            <option value="2">Always</option>
                                            <option value="3">Ask Each Time</option>
                                        </select>
                                         <div *ngIf="f.submitted && paperworkDeadlines.value==0">
                                            <div [hidden]="!paperworkDeadlines.value==0">
                                              {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- NUMBER_OF_WORKING_DAYS_IN_A_WEEK -->
                            <div class="form-group col-md-6 mb-30">
                                <div [ngClass]="{'has-error': f.submitted && workingdaysWeek.value==0,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-6">
                                        <label class="control-label" for="workingdaysWeek">{{defaultFormValues[3]['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number"  (keypress)="_keyPress($event);maxLengthAllow($event,1)" [ngClass]="'form-control fm-txt'" name="workingdaysWeek" [(ngModel)]="model.workingdaysWeek" #workingdaysWeek="ngModel"
                                            title="{{defaultFormValues[3]['helpMessage']}}" maxlength="15" required />
                                        <div *ngIf="f.submitted && workingdaysWeek.invalid">
                                            <div [hidden]="!workingdaysWeek.errors.required">
                                                {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!workingdaysWeek.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                                                {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!workingdaysWeek.errors?.pattern" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                                                {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!-- NUMBER_OF_HOURS_IN_A_WORK_DAY -->
                            <div class="form-group col-md-6 mb-30">
                                <div [ngClass]="{'has-error': f.submitted && workingHoursDay.value==0,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-6">
                                        <label class="control-label" for="workingHoursDay">{{defaultFormValues[4]['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="number"  (keypress)="_keyPress($event);maxLengthAllow($event,2)" [ngClass]="'form-control fm-txt'" name="workingHoursDay" [(ngModel)]="model.workingHoursDay" #workingHoursDay="ngModel"
                                            title="{{defaultFormValues[4]['helpMessage']}}" maxlength="15" required />
                                        <div *ngIf="f.submitted && workingHoursDay.invalid">
                                            <div [hidden]="!workingHoursDay.errors.required">
                                                {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!workingHoursDay.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                                                {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button [ngClass]="'orange-btn'" type="button"  (click)="SetFamilyLeavePeriod(f, $event)">{{defaultFormValues[7]['fieldValue']}}</button>
                                            <button  [ngClass]="'blue-btn'" >{{defaultFormValues[8]['fieldValue']}}</button>
                                           
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
    
                        </form>
                    </div>
                    <div *ngIf="isFamilyLeaveCalender">
                        <form class="form-horizontal" (ngSubmit)="f.form.valid && method.value!=0 &&  SaveSettingFamilyLeave(f, $event)" #f="ngForm" novalidate>

                            <div class="form-group col-md-12 mb-30">
                                <h3>{{defaultFormValues[11]['fieldValue']}}:</h3>
                            </div>
                           
                            <!-- METHOD -->
                            <div class="form-group col-md-8 mb-30">
                                <div [ngClass]="{'has-error': f.submitted && method.value==0,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="method">{{defaultFormValues[12]['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="method" [(ngModel)]="modelSetFamily.method" #method="ngModel"
                                             title="{{defaultFormValues[1]['helpMessage']}}" required>
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option value="1">Measure from the calendar year</option>
                                            <option value="2">Measure from an employee previous family leave</option>
                                            <option value="3">Measure from a fixed 12-month period</option>
                                        </select>
                                         <div *ngIf="f.submitted && method.value==0">
                                            <div [hidden]="!method.value==0">
                                              {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- IS_THIS_PERIOD -->
                            <div class="form-group col-md-8 mb-30">
                                <div [ngClass]="{'has-error': f.submitted && isThisPeriod.value==0,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="isThisPeriod" style="text-transform: inherit;">{{defaultFormValues[13]['fieldValue']}}:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="isThisPeriod" [(ngModel)]="modelSetFamily.isThisPeriod" #isThisPeriod="ngModel"
                                             title="{{defaultFormValues[1]['helpMessage']}}" required>
                                            <option value="0" selected="selected">-- Select --</option>
                                            <option value="1">Company-Wide</option>
                                            <option value="2">Employee-Specific</option>
                                        </select>
                                         <div *ngIf="f.submitted && isThisPeriod.value==0">
                                            <div [hidden]="!isThisPeriod.value==0">
                                              {{defaultFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- WHEN_DOES_THIS_PERIOD_START -->
                            <div class="form-group col-md-8 mb-30">
                                <div [ngClass]="{'has-error': f.submitted && isThisPeriod.value==0,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="isThisPeriod" style="text-transform: inherit;">{{defaultFormValues[14]['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-8">

                                        <div class="input-group">
                                            <input [ngClass]="'form-control fm-txt'" placeholder="{{defaultFormValues[14]['helpMessage']}}" ngx-mydatepicker name="periodStart"
                                                [(ngModel)]="frmStartDate" [options]="myOptions" #dp1="ngx-mydatepicker"
                                                (dateChanged)="onStartDateChanged($event)" (change)="onStartDateChanged($event.target.value)"
                                                #periodStart="ngModel" required readonly title="{{defaultFormValues[14]['helpMessage']}}"
                                                id="start_date" />

                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                                <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <div *ngIf="f.submitted && periodStart.invalid">
                                            <div [hidden]="!periodStart.errors.required">
                                                {{defaultFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                        
                                        

                                       
                                    </div>
                                </div>
                            </div>
    
                            
    
                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button [ngClass]="'grey-btn'" >{{defaultFormValues[15]['fieldValue']}}</button>
                                            <button  [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[16]['fieldValue']}}</button>
                                           
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
    
                        </form>
                    </div>
                    
                </div>
                <!-- Create / Update Form Ends -->
                  
              </div>
          </div>
      </section>
  </section>
</div>