<div class="content-wrapper">
	<section class="content">
		<div class="section-heading">
            <h2>{{screenName}}</h2>
        </div>
		
		<section class="inner-content">
			<div class="content-outer com-form">
				<div class="button-row">
					<div>
						<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
						<div id="contentId" style="overflow:auto;">
						</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>			
						