<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction && !isDeleteActionBank'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction || isDeleteActionBank'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction && !isDeleteActionBank'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='deleteBank()' *ngIf='isDeleteActionBank'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{CREATE['helpMessage']}}">{{CREATE['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{SEARCH['helpMessage']}}" placeholder="{{SEARCH['fieldValue']}}"
                        (keyup)='searchFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->

                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                </div>

                <div class="algo-table algo-table-department doNotPrint">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="DepartmentGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <!-- Data Grid Columns -->
                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div
                                                    [draggable]="isConfigure"
                                                    (dragstart)="commonService.drag($event,0,i,grid.colOrder)"
                                                    (drop)="commonService.drop($event,0,i,grid.colOrder)"
                                                    (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)"
                                                    (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                </div>
                            </div>
                            <!-- Data Grid Action -->
                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row doNotPrint">
                    <!-- Table View Starts -->
                    <div class="table-view table-view-fix">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- print Header -->
          <div *ngIf="(isUnderUpdate && doNotPrintHearder)" style="border: 1px solid gray" [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
            <div class="col-md-3">
                <label class="control-label" style="font-size: 24px" for="employeeIdForm">{{EMPLOYEE_ID['fieldValue']}}</label>
            </div>
            <div class="col-md-2">
                <input disabled type="text" style="font-size: 21px" [ngClass]="'form-control fm-txt'" name="employeeIdForm" [(ngModel)]="employeeIndexId" #employeeIdForm="ngModel"
                />
            </div>
            <div class="col-md-2">
              <label class="control-label" for="name" style="font-size: 24px">Name</label>
            </div>
            <div class="col-md-5">
                <input disabled type="text" style="font-size: 21px" [ngClass]="'form-control fm-txt'" name="employeeName" [(ngModel)]="EmployeeName" #employeeName="ngModel"
                />
            </div>
          </div>
                    <button class="blue-btn" (click)="varifyDelete()">{{DELETE['fieldValue']}}</button>
                    <!-- Table View Ends -->
                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30 doNotPrint" style="margin-left: 30px;">
                            <h3 *ngIf="!isUpdateForm">{{CREATE['fieldValue']}} {{commonService.moduleName}}</h3>
                            <h3 *ngIf="isUpdateForm">{{UPDATE['fieldValue']}} {{commonService.moduleName}}</h3>
                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>
                        <!-- {{f.form.valid}}
                        {{employeeId}} -->
                        <form class="form-horizontal" (ngSubmit)="f.form.valid && employeeId != null && islifeTimeValidEmployeepay && islifeTimeValidEmployeepercent && CreateEmployeeDirectDeposit(f, $event)" #f="ngForm"
                            novalidate>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <!-- EMPLOYEE_ID -->
                                    <div class="form-group" *ngIf="!isUpdateForm">
                                        <div [ngClass]="{'has-error': f.submitted && (!employeeIdForm.valid || employeeId == null),'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="employeeIdForm">{{EMPLOYEE_ID['fieldValue']}}</label>
                                                <span *ngIf="EMPLOYEE_ID['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8">

                                                <input type="text" [ngClass]="'form-control fm-txt'" name="employeeIdForm" [(ngModel)]="employeeIndexId" #employeeIdForm="ngModel"
                                                    title="{{EMPLOYEE_ID['helpMessage']}}" [required]="EMPLOYEE_ID['isMandatory']" [typeahead]="employeeIdList"
                                                    autocomplete="off" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                                    typeaheadOptionField="employeeIdForm.employeeId" class="search-id" maxlength="10"
                                                />
                                                <div *ngIf="f.submitted && employeeIdForm.invalid;else addressIdsecond">
                                                    <div [hidden]="!employeeIdForm.errors.required">
                                                        {{EMPLOYEE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>

                                                </div>

                                                <ng-template #addressIdsecond>
                                                    <div *ngIf="f.submitted && employeeId == null">
                                                        Invalid Employee ID.
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="isUpdateForm">
                                        <div [ngClass]="{ 'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="employeeIdForm">{{EMPLOYEE_ID['fieldValue']}}</label>
                                                <span *ngIf="EMPLOYEE_ID['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8">
                                                <input disabled type="text" [ngClass]="'form-control fm-txt'" name="employeeIdForm" [(ngModel)]="employeeIndexId" #employeeIdForm="ngModel"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- employeeName -->
                                    <div class="form-group">
                                        <div [ngClass]="{ 'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="employeeName">{{NAME['fieldValue']}}</label>
                                                <span *ngIf="NAME['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8">
                                                <input disabled type="text" [ngClass]="'form-control fm-txt'" name="employeeName" [(ngModel)]="EmployeeName" #employeeName="ngModel"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <span class="button-row ">
                                    <button class="btn gray-btn pull-right" type="button" (click)="addNewCompanyDetails()" style="margin-left: 10px;" title="{{ADDNEW['helpMessage']}}">{{ADDNEW['fieldValue']}}</button>
                                    <button class="btn gray-btn pull-right" type="button" (click)="moveDown()" title="{{MOVE_DOWN['helpMessage']}}">{{MOVE_DOWN['fieldValue']}}</button>
                                    <button class="btn gray-btn pull-right" type="button" (click)="moveUp()" title="{{MOVE_UP['helpMessage']}}">{{MOVE_UP['fieldValue']}}</button>
                                </span>
                                    <div class="algo-table algo-table-department noPrintTable">
                                        <!-- Data Grid Starts-->
                                        <div class="table-responsive">
                                            <ngx-datatable id="DepartmentGrid1" class="material" [rows]="listEmployeeDirectDeposit" [columnMode]="'force'" [headerHeight]="50"
                                                [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false" [selected]="selectedListEmployeeDirectDeposit"
                                                [selectionType]="'checkbox'" (select)='onSelectListEmployeeDirectDeposit($event)'
                                                [scrollbarH]="false">
    
                                                <!-- Data Grid checkbox -->
                                                <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                                    [checkboxable]="true">
                                                </ngx-datatable-column>

                                                <!-- bankName -->
                                                <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="150" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        {{BANK_NAME['fieldValue']}}
                                                    </ng-template>
                                                    <ng-template let-index="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                                        <div class="form-group" style="margin-right: 0px;  margin-left: 0px; ">
                                                            <div [ngClass]="{'has-error': f.submitted && !bankName.valid}">
                                                                <input type="text" [ngClass]="'form-control fm-txt'" name="bankName-{{row.$$index}}" [(ngModel)]="listEmployeeDirectDeposit[row.$$index].bankName"
                                                                    #bankName="ngModel" title="{{BANK_NAME['helpMessage']}}"
                                                                       [required]="BANK_NAME['isMandatory']" maxlength="21" />
    
                                                                <div *ngIf="f.submitted && bankName.invalid">
                                                                    <div [hidden]="!bankName.errors.required">
                                                                        {{BANK_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <!-- ACCOUNT_NUMBER -->
                                                <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="160" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        {{ACCOUNT_NUMBER['fieldValue']}}
                                                    </ng-template>
                                                    <ng-template let-index="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                                        <div class="form-group" style="margin-right: 0px;  margin-left: 0px; ">
                                                            <div [ngClass]="{'has-error': f.submitted && !accountNumber.valid}">
                                                                <input type="text" [ngClass]="'form-control fm-txt'" name="accountNumber-{{row.$$index}}" [(ngModel)]="listEmployeeDirectDeposit[row.$$index].accountNumber"
                                                                    #accountNumber="ngModel" title="{{ACCOUNT_NUMBER['helpMessage']}}"
                                                                       [required]="ACCOUNT_NUMBER['isMandatory']" maxlength="40" minlength="12" PhonenumberFaxDirective="true"/>
    
                                                                <div *ngIf="f.submitted && accountNumber.invalid">
                                                                    <div [hidden]="!accountNumber.errors.required">
                                                                        {{ACCOUNT_NUMBER['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                    </div>
                                                                    <div [hidden]="!accountNumber.errors?.minlength">
                                                                        Invalid Account Number
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <!-- accountSequence -->
                                                <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="140" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        {{CHK_SVG['fieldValue']}}
                                                    </ng-template>
                                                    <ng-template let-index="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                                        <div class="form-group" style="margin-right: 0px;  margin-left: 0px; ">
                                                            <div [ngClass]="{'has-error': f.submitted && accountSequence.value==0}">
                                                                <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="accountSequence-{{row.$$index}}" [(ngModel)]="listEmployeeDirectDeposit[row.$$index].accountSequence"
                                                                    #accountSequence="ngModel" title="Bank Account Type" [required]="CHK_SVG['isMandatory']">
                                                                    <option value="0" selected>--Select--</option>
                                                                    <option value="1">Checking</option>
                                                                    <option value="2">Savings</option>
                                                                </select>
    
                                                                <div *ngIf="f.submitted && accountSequence.value==0">
                                                                    <div [hidden]="!accountSequence.value==0">
                                                                        {{CHK_SVG['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <!-- amount -->
                                                <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="140" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        {{AMOUNT['fieldValue']}}
                                                    </ng-template>
                                                    <ng-template let-index="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                                        <div class="form-group" style="margin-right: 0px;  margin-left: 0px; ">
                                                            
                                                            <div [ngClass]="{'has-error': f.submitted && !amount.valid || !islifeTimeValidEmployeepay}">
                                                                <input type="number" [ngClass]="'form-control fm-txt'" name="amount-{{row.$$index}}" [(ngModel)]="listEmployeeDirectDeposit[row.$$index].amount"
                                                                    #amount="ngModel" title="{{AMOUNT['helpMessage']}}"
                                                                    [required]="AMOUNT['isMandatory']" maxlength="11" (keyup)="checkdecimalemployeepay(amount.value)"
                                                                    min="1" onKeyPress="if(this.value.length==10) return false;"
                                                                    max="9999999999" onkeypress="return check_digit(event,this,10,3);"/>

                                                                <div *ngIf="f.submitted && amount.invalid || !islifeTimeValidEmployeepay">
                                                                    <div [hidden]="!amount.errors.required">
                                                                        {{AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                    </div>
                                                                    <div *ngIf="!amount.errors?.required && islifeTimeValidEmployeepay">
                                                                        Invalid Input
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <!-- percent -->
                                                <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="100" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        {{PERCENT['fieldValue']}}
                                                    </ng-template>
                                                    <ng-template let-index="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                                        <div class="form-group" style="margin-right: 0px;  margin-left: 0px; ">
                                                            <div [ngClass]="{'has-error': f.submitted && !percent.valid || !islifeTimeValidEmployeepercent}">
                                                                <input type="number" [ngClass]="'form-control fm-txt'" name="percent-{{row.$$index}}" [(ngModel)]="listEmployeeDirectDeposit[row.$$index].percent"
                                                                    #percent="ngModel" title="{{PERCENT['helpMessage']}}"
                                                                    [required]="PERCENT['isMandatory']" maxlength="11" (keyup)="checkdecimalemployeepercent(percent.value)"
                                                                    min="1" onKeyPress="if(this.value.length==10) return false;"
                                                                    max="9999999999" onkeypress="return check_digit(event,this,10,5);"/>

                                                                <div *ngIf="f.submitted && percent.invalid || !islifeTimeValidEmployeepercent">
                                                                    <div [hidden]="!percent.errors.required">
                                                                        {{PERCENT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                    </div>
                                                                    <div *ngIf="!percent.errors?.required && islifeTimeValidEmployeepercent">
                                                                        Invalid Input
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <!-- status -->
                                                <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="140" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        {{STATUS['fieldValue']}}
                                                    </ng-template>
                                                    <ng-template let-index="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
    
                                                        <div class="form-group" style="margin-right: 0px;  margin-left: 0px; ">
                                                            <div [ngClass]="{'has-error': f.submitted && status.value==0}">
                                                                <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="status-{{row.$$index}}" [(ngModel)]="listEmployeeDirectDeposit[row.$$index].status"
                                                                    #status="ngModel" title="{{STATUS['helpMessage']}}"
                                                                    [required]="STATUS['isMandatory']">
                                                                    <option value="0" selected>--Select--</option>
                                                                    <option value="1">Active</option>
                                                                    <option value="2">Inactive</option>
                                                                    <option value="3">Trial</option>
                                                                </select>

                                                                <div *ngIf="f.submitted && status.value==0">
                                                                    <div [hidden]="!status.value==0">
                                                                        {{STATUS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                            <div id="print-section" class="print-tabel">
                                                <table border="0" class="table" style="width: 100% !important; min-width: 1200px;  table-layout: fixed; border-spacing: 0; border-collapse: separate; font-family: 'Open Sans', sans-serif;">
                                                    <thead>
                                                        <tr>
                                                            <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                                                              {{EMPLOYEE_ID['fieldValue']}}
                                                            </th>
                                                            <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                                                              {{NAME['fieldValue']}}
                                                            </th>
                                                            <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                                                              {{BANK_NAME['fieldValue']}}
                                                            </th>
                                                            <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                                                              {{ACCOUNT_NUMBER['fieldValue']}}
                                                            </th>
                                                            <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                                                              {{AMOUNT['fieldValue']}}
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                                                              {{employeeId}}
                                                            </td>
                                                            <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                                                              {{EmployeeName}}
                                                            </td>
                                                            <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                                                              {{listEmployeeDirectDeposit[0].bankName}}
                                                            </td>
                                                            <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                                                                {{listEmployeeDirectDeposit[0].accountNumber}}
                                                            </td>
                                                            <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                                                                {{listEmployeeDirectDeposit[0].amount}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                              </div>

                                        </div>
                                        <!-- Bank Details Ends-->
                                    </div>
                            </div>
                            <!-- Buttons -->
                            <div [ngClass]="'button-row doNotPrint'">
                                <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button type="button" (click)="varifyDeleteBank()" [ngClass]="'grey-btn doNotPrint'">{{REMOVE_BANK['fieldValue']}}</button>
                                            <button [ngClass]="'grey-btn doNotPrint'" *ngIf="!isUpdateForm">{{SAVE['fieldValue']}}</button>
                                            <button [ngClass]="'grey-btn doNotPrint'" *ngIf="isUpdateForm">{{UPDATE['fieldValue']}}</button>
                                            <!-- <button [ngClass]="'orange-btn doNotPrint'" type="button"  (click)="print()">{{PRINT['fieldValue']}}</button> -->
                                            <button [ngClass]="'grey-btn  '" type="button" (click)="printEmployeeDetails()" *ngIf="isUpdateForm">{{PRINT['fieldValue']}}</button>
                                            <button [ngClass]="'orange-btn doNotPrint'" type="button" (click)="Clear(f)">{{CLEAR['fieldValue']}}</button>
                                            <button [ngClass]="'blue-btn doNotPrint'" type="button" (click)="showCreateForm = false;isUpdateForm=false;">{{CANCEL['fieldValue']}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Create Update form ends -->
                <!-- </div> -->
            </div>
        </section>
    </section>
</div>
