<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
      <div class="modal-header">
          <!-- <span class="btnClose" (click)='closeModal()'></span> -->
          <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
          {{confirmationModalTitle}}
      </div>
      <div class="modal-body">
          <p *ngIf='!isDeleteAction'>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
          <p *ngIf='isDeleteAction'>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
      </div>
      <div class="modal-footer">
              <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
              <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
              <button  class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

      </div>
  </div>
</div>

<!-- screen header -->
<div class="page-header">
<div class="page-header-title">
<span>
  <h3 *ngIf="!model.id">{{BENEFIT_CODE_CREATE_FORM_LABEL['fieldValue']}}</h3>
  <h3 *ngIf="model.id">{{BENEFIT_CODE_UPDATE_FORM_LABEL['fieldValue']}}</h3>
</span>
</div>
<!-- <div class="page-header-breadcrumb">
  <i class="ti-settings"></i>
</div> -->
</div>
<!-- screen header -->

<div class="content-wrapper">
<section class="content" (keyup)='EscapeModal($event)'>
  <!-- section Heading Starts -->
  <!-- <div class="section-heading">
      <h2></h2>
  </div> -->
  <!-- section Heading Ends -->
  <section class="inner-content">
      <!-- Content Outer Starts -->
      <div class="content-outer com-form">
          <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{messageText}}
          </div>

          <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                  {{message.text}}
              </div>
          <!-- Content Heading Starts -->
          <div class="content-heading">
              <!-- <h3> {{screenName}}</h3> -->
                 <div *ngIf="showloader" class="loader">
              </div>
          </div>
          <!-- Content Heading Ends -->
          
          <!--adding form starts-->
<!-- Basic Form Inputs card start -->
<app-card [title]="">
<!-- <h4 class="sub-title">Create company</h4> -->

<!-- 
<form class="form-horizontal" (ngSubmit)="f.form.valid && CreateDeductionCode(f, $event)" 
#f="ngForm" novalidate > -->
<form class="form-horizontal" (ngSubmit)="f.form.valid &&  !error.isError && frequency.value!=0 && method.value!=0  && islifeTimeValidperperiod && islifeTimeValidamount && CreateBenefitCode(f, $event) "
#f="ngForm" novalidate>




<!-- <ng-template> -->
     <div class="form-group row">
          <div class="col-sm-3">
                <div class="form-group row">
                        <div class="floating-label" [ngClass]="{ 'has-error': f.submitted && !benefitId.valid,'col-md-9 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                                <!-- <div [ngClass]="{ 'has-error': f.submitted && !benefitId.valid,'col-md-9 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }"> -->
                                <input auto-complete [source]="rows" class="floating-input" list-formatter="benefitId" [readonly]="isUnderUpdate"   
                                [(ngModel)]="selectedBenefit" [ngModelOptions]="{standalone: true}" name="benefitId"  #benefitId="ngModel" 
                                on-focus="onAutocompleteFocus('lblbenefitId');BenefitFocusIn(benefitId)"  on-focusout="BenefitFocusOut(benefitId)"
                                placeholder=""  tabindex="1" [required]="BENEFIT_CODE['isMandatory']"  (valueChanged)="getBenefitData($event)"
                                 (typeaheadLoading)="changeTypeaheadLoading($event)"  (typeaheadOnSelect)="typeaheadOnSelect($event)" autocomplete="off"
                                 #filterInput/> 
                                 
                                 <!-- (valueChanged)="getDeductionData($event)" -->
                                <div *ngIf="f.submitted && benefitId.invalid">
                                        <div class="error-msg" [hidden]="!benefitId.errors.required">
                                            {{BENEFIT_CODE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div class="error-msg" [hidden]="!benefitId.errors?.maxlength" *ngIf="BENEFIT_CODE['listDtoFieldValidationMessage'][1]">
                                            {{BENEFIT_CODE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                    </div>
                                <span class="highlight"></span>
                                <label id="lblbenefitId" for="benefitId">{{BENEFIT_CODE['fieldValue']}}</label>
                                <input type="hidden" />
                                <span class="search-icon">
                                    <i (click)="toggle()" [ngClass]="{'ti-angle-down': !isBenefitOpen, 'ti-angle-up':isBenefitOpen }"></i>   
                                        
                                       
                                </span>
                              
                              </div>
                </div>
             
              </div>

              <div class="col-sm-4">
                <div class="form-group row">
                    <div class="col-md-12" style="margin-top: 33px;" >
                      
                        <span class="datatable-checkbox control-label">
                            <!-- <input type='checkbox' name="inActive" (click)="checkBenefitCodeForm($event)" [(ngModel)]="model.inActive" #inActive="ngModel"
                            title="{{PAYCODE_INACTIVE['helpMessage']}}" [checked]="isSelected" /> -->
                            <input type="checkbox" (click)="checkBenefitCodeForm($event)" tabindex="2"
                            title="{{BENEFIT_INACTIVE['helpMessage']}}" name="inActive" [(ngModel)]="model.inActive" #inActive="ngModel">&nbsp;&nbsp;{{BENEFIT_INACTIVE['fieldValue']}}
                        </span>
                        <span class="highlight"></span>
                        <!-- <label class="control-label" for="inactive">{{BENEFIT_INACTIVE['fieldValue']}}</label> -->
                    </div>
               </div>
            </div>
      </div>
 

    <div class="form-group row">
        <div class="col-sm-6">
            <div class="form-group row">
                <div class="floating-label col-md-12"
                    [ngClass]="{'has-error': f.submitted && !desc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="3" name="desc"
                        [(ngModel)]="model.desc" #desc="ngModel"
                        title="{{BENEFIT_DESCRIPTION['helpMessage']}}" maxlength="31"
                        [required]="BENEFIT_DESCRIPTION['isMandatory']" />
                    <div *ngIf="f.submitted && desc.invalid">
                        <div class="error-msg" [hidden]="!desc.errors.required">
                            {{BENEFIT_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div class="error-msg" [hidden]="!desc.errors?.maxlength"
                            *ngIf="BENEFIT_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                            {{BENEFIT_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="desc">{{BENEFIT_DESCRIPTION['fieldValue']}}</label>
    
                </div>
            </div>
    
            <!-- arabic description -->
    
            <div class="form-group row">
                <div class="floating-label col-md-12"
                    [ngClass]="{'has-error': f.submitted && !arbicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="4" name="arbicDesc"
                        [(ngModel)]="model.arbicDesc" #arbicDesc="ngModel"
                        title="{{BENEFIT_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61"
                        [required]="BENEFIT_ARABIC_DESCRIPTION['isMandatory']" />
                    <div *ngIf="f.submitted && arbicDesc.invalid">
                        <div class="error-msg" [hidden]="!arbicDesc.errors.required">
                            {{BENEFIT_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div class="error-msg" [hidden]="!arbicDesc.errors?.maxlength"
                            *ngIf="BENEFIT_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                            {{BENEFIT_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label"
                        for="arbicDesc">{{BENEFIT_ARABIC_DESCRIPTION['fieldValue']}}</label>
                </div>
            </div>

             <!-- Main account -->
             <div class="form-group row">
                <div class="floating-label col-md-12"
                    [ngClass]="{'has-error': f.submitted && method.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input auto-complete [source]="mainAccList" class="floating-input" list-formatter="value"  on-focus="onAutocompleteFocus('lblmainAccount')"
                        [(ngModel)]="selectedMainAccount" [ngModelOptions]="{standalone: true}" name="mainacc" #mainacc="ngModel"
                         placeholder="" tabindex="5"  required />
                         <!-- #filterInput -->
                    <!-- on-focus="onAutocompleteFocus('methodLabel',selectedmethod);methodFocusIn(methodId)" on-focusout="onAutocompleteFocusOut('methodLabel',selectedmethod);methodFocusout(methodId)" -->
                    <div *ngIf="f.submitted && method.invalid">
                        <div class="error-msg" [hidden]="!method.invalid">
                            This field is required
                        </div>
                    </div>
                    <span class="highlight"></span>
                    <label id="lblmainAccount" class="control-label" for="mainaccount">MAIN ACCOUNT</label>
                    <input type="hidden" />
                    <span class="search-icon">
                        <!-- <i class="ti-angle-down"></i> (click)="toggle()-->
                        <i [ngClass]="{'ti-angle-down': !ismethodOpen, 'ti-angle-up':ismethodOpen }"></i>
                    </span>
                </div>
            </div>
    
            <!-- Method -->
            <div class="form-group row">
                <!-- <div class="floating-label col-md-12"
                    [ngClass]="{'has-error': f.submitted && method.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                    <!-- <div class="floating-label col-md-12"
                    [ngClass]="{'has-error': f.submitted && method.value==0,'col-md-9 col-sm-6 col-xs-12':true, '': currentLanguage == 2}"> -->
                    <div  class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && method.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                        <input auto-complete [source]="methods" class="floating-input" list-formatter="name"  
                        [(ngModel)]="selectedMethodId" [ngModelOptions]="{standalone: true}" name="method" #method="ngModel"
                        (valueChanged)="selectedMethod($event)" placeholder="" tabindex="6" required />
                    <!-- on-focus="onAutocompleteFocus('methodLabel',selectedmethod);methodFocusIn(methodId)" on-focusout="onAutocompleteFocusOut('methodLabel',selectedmethod);methodFocusout(methodId)" -->
                    <!-- <div *ngIf="f.submitted && method.invalid">
                        <div class="error-msg" [hidden]="!method.invalid">
                            {{BENEFIT_METHOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                    </div> -->
                    <div *ngIf="f.submitted && method.value==0">
                        <div class="error-msg" [hidden]="method.value!=0">
                            {{BENEFIT_METHOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div class="error-msg" [hidden]="!method.errors?.maxlength" *ngIf="BENEFIT_METHOD['listDtoFieldValidationMessage'][1]">
                            {{BENEFIT_METHOD['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                    </div>
                    <span class="highlight"></span>
                    <label id="lblmethod" class="control-label" for="method">{{BENEFIT_METHOD['fieldValue']}}</label>
                    <input type="hidden" />
                    <span class="search-icon">
                        <!-- <i class="ti-angle-down"></i> (click)="toggle()-->
                        <i [ngClass]="{'ti-angle-down': !ismethodOpen, 'ti-angle-up':ismethodOpen }"></i>
                    </span>
                </div>
            </div>
           
            <!-- based on paycode -->
            <div class="form-group row" *ngIf="(model.method == 5)">
                <div class="floating-label col-md-12">
                    <!-- [ngClass]="{'has-error': (f.submitted && !Payfactor.valid),'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}" -->
                    <angular4-multiselect [disabled]="true" [data]="AllBasedOnPayCodeList" [(ngModel)]="showSelectedPaycode" on-focus="onAutocompleteFocus('lblBasedonpaycode')"
                        [ngModelOptions]="{standalone: true}" [settings]="payCodeSettings" name="selectBasedOnPaycode"
                        (onSelect)="onItemSelect($event)" tabindex="7" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
    
                    <span class="highlight"></span>
                    <label id="lblBasedonpaycode" class="control-label" for="method">Based On Pay Code</label>
                    <input type="hidden" />
                    <span class="search-icon">
    
                    </span>
                </div>
            </div>
    
            <!-- payfactor -->
            <div class="form-group row" *ngIf="(model.method == 5)">
                <!-- <div class="floating-label col-md-12"
                    [ngClass]="{'has-error': f.submitted && Payfactor.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                    <div class="floating-label col-md-12"
                    [ngClass]="{'has-error': (f.submitted && !Payfactor.valid),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <!-- <div [ngClass]="{'has-error': (f.submitted && !Payfactor.valid),'col-md-9 col-sm-6 col-xs-12':true, '': currentLanguage == 2}"> -->
        
                    <!-- [ngClass]="{'has-error': (f.submitted && !Payfactor.valid),'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}" -->
                    <input type="text" class="floating-input" name="payFactor" [(ngModel)]="model.payFactor" tabindex="8"
                        #Payfactor="ngModel" title="Pay Factor" maxlength="11" min="0" (keypress)="keyPress($event)"
                        onKeyPress="if(this.value.length==10) return false;" max="9999999999" placeholder=" "
                        onkeypress="return check_digit(event,this,10,7);" (keyup)="checkdecimalpayRate(Payfactor.value)"
                        [required]="true" (focus)="amountCal()" (input)="totalAmount(model.payFactor)" />
                    <!-- on-focus="onAutocompleteFocus('methodLabel',selectedmethod);methodFocusIn(methodId)" on-focusout="onAutocompleteFocusOut('methodLabel',selectedmethod);methodFocusout(methodId)" -->
                    <!-- <div *ngIf="f.submitted && Payfactor.invalid">
                <div class="error-msg" [hidden]="!Payfactor.invalid">
                    {{BENEFIT_METHOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
            </div> -->
                    <div class="error-msg" *ngIf="(f.submitted && Payfactor.invalid)">
                        <div [hidden]="!Payfactor.errors?.required">
                            This field is required
                        </div>
                    </div>
                    <span class="highlight"></span>
                    <label  class="control-label" for="payfactor">Pay Factor</label>
                    <input type="hidden" />
                    <span class="search-icon">
                        <!-- <i class="ti-angle-down"></i> -->
                        <!-- <i (click)="toggle()" [ngClass]="{'ti-angle-down': !ismethodOpen, 'ti-angle-up':ismethodOpen }"></i> -->
                    </span>
                </div>
            </div>
            <div *ngIf="(model.method == 0 ||model.method ==  1 || model.method == 2 || model.method == 5); then normalamount else percent"></div>
            <!-- deduction amount -->
            <ng-template #normalamount>
              
                    <div class="form-group row">
                        <!-- <div  class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !amount.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                        <div class="floating-label col-md-12"[ngClass]="{'has-error': (f.submitted && (model.amount== '' || model.amount== null)),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">  
                          <input  class="floating-input" type="number" placeholder=" " tabindex="3" name="amount" [(ngModel)]="model.amount"
                                #Amount="ngModel" title="{{BENEFIT_AMOUNT['helpMessage']}}"  maxlength="11" min="0" (keypress)="keyPress($event)"
                                onKeyPress="if(this.value.length==10) return false;" max="9999999999" [disabled]="model.method == 5" tabindex="9"
                                [required]="BENEFIT_AMOUNT['isMandatory']" />
                                
                            <!-- <div *ngIf="f.submitted && amount.invalid">
                                <div class="error-msg" [hidden]="!amount.errors.required">
                                    {{BENEFIT_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="!amount.errors?.maxlength" *ngIf="BENEFIT_AMOUNT['listDtoFieldValidationMessage'][1]">
                                    {{BENEFIT_AMOUNT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                            </div> -->
                            <div *ngIf="(f.submitted && (model.amount== '' || model.amount== null)) || !islifeTimeValidamount">
                                <div [hidden]="!islifeTimeValidamount && !amount.errors?.required">
                                    {{BENEFIT_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div *ngIf="!islifeTimeValidamount">
                                    {{BENEFIT_AMOUNT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                            </div>

                            <div *ngIf="isCompAmount">
                                <div>
                                    {{ errorDeductn }}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label class="control-label" for="amount">{{BENEFIT_AMOUNT['fieldValue']}}</label>
                        </div>
                    </div>
           
          </ng-template>
            <ng-template #percent>
         
                <div class="form-group row">
                    <!-- <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !percent.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                                                     <!-- <div [ngClass]="{'has-error': (f.submitted && !percent.valid) || !islifeTimeValidamountPercent,'col-md-9 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">   -->
                     <div class="floating-label col-md-12" [ngClass]="{'has-error': (f.submitted && !percent.valid) || !islifeTimeValidamountPercent,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <input  class="floating-input" type="text" placeholder=" " tabindex="10" name="percent" [(ngModel)]="model.percent"
                            #percent="ngModel" title="{{BENEFIT_AMOUNT_PERCENT['helpMessage']}}" maxlength="61"
                            [required]="BENEFIT_AMOUNT_PERCENT['isMandatory']" maxlength="11"
                            min="0" (keypress)="keyPress($event)" (keyup)="checkdecimalamountPercent(percent.value)"
                            onKeyPress="if(this.value.length==10) return false;" max="9999999999"
                            onkeypress="return check_digit(event,this,10,5);"/>
                        <!-- <div *ngIf="f.submitted && percent.invalid">
                            <div class="error-msg" [hidden]="!percent.errors.required">
                                {{BENEFIT_AMOUNT_PERCENT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                            <div class="error-msg" [hidden]="!percent.errors?.maxlength" *ngIf="BENEFIT_AMOUNT_PERCENT['listDtoFieldValidationMessage'][1]">
                                {{BENEFIT_AMOUNT_PERCENT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                            </div>
                        </div> -->
                        <div *ngIf="(f.submitted && percent.invalid) || !islifeTimeValidamountPercent">
                            <div class="error-msg" [hidden]="!percent.errors?.required">
                                {{BENEFIT_AMOUNT_PERCENT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                            <div class="error-msg" *ngIf="!percent.errors?.required && !islifeTimeValidamountPercent">
                                {{BENEFIT_AMOUNT_PERCENT['listDtoFieldValidationMessage'][2]['validationMessage']}}
                            </div>
                        </div>
                        <span class="highlight"></span>
                        <label class="control-label" for="percent">{{BENEFIT_AMOUNT_PERCENT['fieldValue']}}</label>
                    </div>
                </div>
         
          </ng-template>

<!-- frequency -->
          <div class="form-group row">
            <!-- <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && frequency.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                                                <!-- <div [ngClass]="{'has-error': f.submitted && frequency.value==0,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}"> -->
             <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && frequency.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              <input auto-complete [source]="frequencies" class="floating-input" list-formatter="name" [(ngModel)]="selectedFrequency" [ngModelOptions]="{standalone: true}"
                    name="frequency" #frequency="ngModel"   placeholder="" title="{{BENEFIT_FREQUENCY['helpMessage']}}" tabindex="11"
                    tabindex="7"  [required]="BENEFIT_FREQUENCY['isMandatory']" on-focus="onAutocompleteFocus('lblfrequency')"/>
                    <!-- (valueChanged)="getfrequencyData($event)" -->
                    <!-- on-focus="onAutocompleteFocus('frequencyLabel');frequencyFocusIn(frequencyId)" on-focusout="onAutocompleteFocusOut('frequencyLabel');frequencyFocusout(frequencyId)"  -->
                <div *ngIf="f.submitted && frequency.invalid">
                    <div class="error-msg" [hidden]="!frequency.invalid">
                        {{BENEFIT_FREQUENCY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>

                </div>
                <span class="highlight"></span>
                <label id="lblfrequency" class="control-label" for="frequency">{{BENEFIT_FREQUENCY['fieldValue']}}</label>
                <input type="hidden" />
                <span class="search-icon">
                    <!-- <i class="ti-angle-down"></i> -->
                    <i (click)="toggle2()" [ngClass]="{'ti-angle-down': !isfrequencyOpen, 'ti-angle-up':isfrequencyOpen }"></i>
                </span>
            </div>
        </div>
        <!-- is transaction required -->
      
    
        </div>
    
    
    
    
        <div class="col-sm-6">
            <div class="form-group row">
                <!-- type -->
                <div class="floating-label col-md-6">
                    <!-- [ngClass]="{'has-error': f.submitted && !type.valid,'col-md-4 col-sm-3 col-xs-6':true, 'col-md-offset-4': currentLanguage == 2}" -->
                    <input auto-complete [source]="typeData" class="floating-input" list-formatter="value"
                       [(ngModel)]="selectedBenefitTypeId" [ngModelOptions]="{standalone: true}" name="type" #type="ngModel"
                        placeholder=" " (valueChanged)="getTypeData($event)" on-focus="onAutocompleteFocus('lblType')"
                         tabindex="12" required #filterInput6 />
                    <span class="highlight"></span>
                    <label id="lblType" class="control-label" for="type">TYPE</label>
        
                    <input type="hidden" />
                    <span class="search-icon">
                        <i (click)="toggle6()" [ngClass]="{'ti-angle-down': !isTypeOpen, 'ti-angle-up':isTypeOpen }"></i>
                    </span>
                </div>
                <!-- rounding -->
                <div class="floating-label col-md-6">
                    <!-- [ngClass]="{'has-error': f.submitted && !round.valid,'col-md-4 col-sm-3 col-xs-6':true, 'col-md-offset-4': currentLanguage == 2}" -->
        
                    <input auto-complete [source]="roundings" class="floating-input" list-formatter="name" tabindex="13"
                        [(ngModel)]="selectedRoundOf" [ngModelOptions]="{standalone: true}" name="round" #round="ngModel"
                        on-focus="onAutocompleteFocus('lblRound')" placeholder=" " (valueChanged)="getRoundOfData($event)"
                        tabindex="10" required [ngClass]="form-control" #filterInput7 />
        
                    <span class="highlight"></span>
                    <label id="lblRound" class="control-label" for="payperiod">ROUNDING</label>
        
                    <input type="hidden" />
                    <span class="search-icon">
                        <i (click)="toggle7()" [ngClass]="{'ti-angle-down': !isRoundOpen, 'ti-angle-up':isRoundOpen }"></i>
                    </span>
                </div>
        
            </div>
        
        
        
            <!-- deduction box -->
            <div class="borderbox">
                    <h4>{{BENEFIT_CODE_MAXBENEFIT['fieldValue']}}</h4><br/>

                <div class="row com-form">
                    <div class="floating-label col-sm-12" [ngClass]="{'has-error': (f.submitted && !perPeriod.valid) || !islifeTimeValidperperiod || isCompMaxTrxnPp,'col-xs-12':true, '': currentLanguage == 2}">
                        <!-- <div > -->
                        
                        <input class="floating-input" type="text" placeholder=" " tabindex="14" name="perPeriod"
                            [(ngModel)]="model.perPeriod" onKeyPress="if(this.value.length==10) return false;" max="9999999999"
                            maxlength="11" min="0" onkeypress="return check_digit(event,this,10,3);"
                            (keyup)="amountTrnsDeductnPp(perPeriod.value); maxAmountCompPp(perPeriod.value);RequiredValidation(perPeriod.value)"
                            (change)="amountTrnsDeductnPp(perPeriod.value); maxAmountCompPp(perPeriod.value);RequiredValidation(perPeriod.value)"
                            #perPeriod="ngModel" [required]="BENEFIT_PER_PERIOD['isMandatory']"
                            title="{{BENEFIT_PER_PERIOD['helpMessage']}}" maxlength="11"
                            (keydown)="onlyDecimalNumberKey($event)" />
                        <div *ngIf="(f.submitted && perPeriod.invalid) || !islifeTimeValidperperiod">
                            <div class="error-msg" [hidden]="!islifeTimeValidperperiod && !perPeriod.errors?.required">
                                {{BENEFIT_PER_PERIOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                            <div class="error-msg" *ngIf="!islifeTimeValidperperiod">
                                {{BENEFIT_PER_PERIOD['listDtoFieldValidationMessage'][1]['validationMessage']}}
                            </div>
                        </div>
                        <div *ngIf="isCompMaxTrxnPp">
                            <div>
                                {{ errorMaxPp }}
                            </div>
                        </div>

                        <span class="highlight"></span>
                        <label>{{BENEFIT_PER_PERIOD['fieldValue']}}</label>
                    </div>
        
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="floating-label col-md-12">
                                <!-- [ngClass]="{'has-error': f.submitted && !perYear.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}" -->
                                <!-- <div [ngClass]="{'col-xs-12':true, '': currentLanguage == 2}"> -->
                                <input class="floating-input" type="number" name="perYear" tabindex="15"
                                    [(ngModel)]="model.perYear" #perYear="ngModel" placeholder=" "
                                    title="{{BENEFIT_PER_YEAR['helpMessage']}}" maxlength="11" min="0"
                                    onkeypress="return check_digit(event,this,10,3);" />
                                <!-- [ngClass]="'form-control fm-txt'" -->
                                <span class="highlight"></span>
                                <label class="control-label" for="perYear">{{BENEFIT_PER_YEAR['fieldValue']}}</label>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="floating-label col-md-12">
                                <!-- [ngClass]="{'has-error': f.submitted && !perYear.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}" -->
                                <!-- <div [ngClass]="{'col-xs-12':true, '': currentLanguage == 2}"> -->
                                <input type="number" name="lifeTime" class="floating-input" [(ngModel)]="model.lifeTime" tabindex="16"
                                    #lifeTime="ngModel" title="{{BENEFIT_LIFETIME['helpMessage']}}" maxlength="11" placeholder=" "
                                    onkeypress="return check_digit(event,this,10,3);" />
                                <!-- [ngClass]="'form-control fm-txt'" -->
                                <span class="highlight"></span>
                                <label class="control-label" for="lifeTime">{{BENEFIT_LIFETIME['fieldValue']}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
          
        </div>
    
    
    <!-- </div> -->
    </div>
    <div class="form-group row">
    
        <!-- Date selection box -->
        <div class="borderbox">
            <div class="row com-form">
    
                <!-- fromtodate radio -->
       
                <div class="col-sm-3">
                    <div class="col-md-12" style="margin-top: 30px;margin-left: 30px;">
                        <input type="radio" name="date" #date (change)="dateSelection($event)" tabindex="17"
                            [checked]="dateSectionDateDisplay">{{BENEFIT_START_DATE['fieldValue']}}
                        <!-- <label class="control-label">{{BENEFIT_START_DATE['fieldValue']}}</label> -->
                        <!-- <span *ngIf="BENEFIT_START_DATE['isMandatory']">*</span> -->
                    </div>
                </div>

                
    
         
                <!-- fromtodate date selection -->
    
                <div class="col-sm-3">
                    <div class="form-group row">
                        <!-- <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !frmStartDate.valid && isJoiningDateRadioSelected,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                        <!-- from date -->
                        <div class="floating-label col-md-12"
                            [ngClass]="{'has-error': f.submitted && !frmStartDate.valid && isRadioSelected,'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
    
                        
                                <!-- <div class="input-group"> -->
                                <input class="floating-input" placeholder="Select a date" ngx-mydatepicker
                                    name="frmStartDate" [(ngModel)]="modelStartDate" [options]="myOptions"
                                    #dp1="ngx-mydatepicker" (dateChanged)="onStartDateChanged($event)" tabindex="18"
                                    (change)="onStartDateChanged($event.target.value)" #frmStartDate="ngModel"
                                    [required]="isRadioSelected" [readonly]="BENEFIT_START_DATE['readAccess']"
                                    title="{{BENEFIT_START_DATE['helpMessage']}}" id="start_date" />
                                <!-- <input class="floating-input" type="text"   placeholder=" "   [ngClass]="'dob'" ngx-mydatepicker
                                                                                    [options]="myOptions"  #dp1="ngx-mydatepicker"  tabindex="17" id="start_date"
                                                                                      name="dob" [(ngModel)]="selecteddob" #dob="ngModel"  title="{{BENEFIT_START_DATE['helpMessage']}}" required readonly/> -->
                                <span id="datePickerbtn" class="input-group-btn pull-right">
                                    <button type="button" class="btn btn-default" (click)="dp1.clearDate()">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" (click)="dp1.toggleCalendar()"
                                        [disabled]="!isRadioSelected">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
    
    
                                <!-- <span id="datePickerbtn" class="input-group-btn pull-right">
                                                                                        <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                                                                          <i class="fa fa-remove"></i>
                                                                                        </button>
                                                                                        <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                                                                          <i class="fa fa-calendar"></i>
                                                                                        </button>
                                                                                    </span> -->
                                <!-- </div> -->
                                <div class='error-msg' *ngIf="f.submitted && frmStartDate.invalid">
                                    <div [hidden]="!frmStartDate.errors.required">
                                        {{BENEFIT_START_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                           
                        </div>
    
    
                    </div>
                </div>

 




                <!--end date-->
    
                <div class="col-sm-3">
                    <!-- to date -->
                    <div class="floating-label col-md-12"
                        [ngClass]="{'has-error': (f.submitted  && !frmEndDate.valid && isRadioSelected) || ( !frmEndDate.errors?.required && error.isError),'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
    
                    
                            <!-- <div class="input-group"> -->
    
                            <input class="floating-input" placeholder="Select a date" ngx-mydatepicker name="frmEndDate"
                                [(ngModel)]="modelEndDate" [options]="myOptions" #dp2="ngx-mydatepicker"
                                (dateChanged)="onEndDateChanged($event)" #frmEndDate="ngModel" [required]="isRadioSelected"
                                [readonly]="BENEFIT_END_DATE['readAccess']" (change)="compareTwoDates(f)"
                                (change)="onEndDateChanged($event.target.value)"
                                title="{{BENEFIT_END_DATE['helpMessage']}}" id="end_date" />
                            <!-- <input class="floating-input" type="text"   placeholder=" "   [ngClass]="'dob'" ngx-mydatepicker
                                                          [options]="myOptions"  #dp1="ngx-mydatepicker"  tabindex="17" id="start_date"
                                                            name="dob" [(ngModel)]="selecteddob" #dob="ngModel"  title="{{BENEFIT_START_DATE['helpMessage']}}" required readonly/> -->
                            <span id="datePickerbtn" class="input-group-btn pull-right">
                                <button type="button" class="btn btn-default" (click)="dp2.clearDate()">
                                    <i class="fa fa-remove"></i>
                                </button>
                                <button type="button" class="btn btn-default" (click)="dp2.toggleCalendar()"
                                    [disabled]="!isRadioSelected">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
    
    
                            <!-- <span id="datePickerbtn" class="input-group-btn pull-right">
                                                              <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                                                <i class="fa fa-remove"></i>
                                                              </button>
                                                              <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                                                <i class="fa fa-calendar"></i>
                                                              </button>
                                                          </span> -->
                            <!-- </div> -->
    
                            <div class='error-msg' *ngIf="f.submitted && frmEndDate.invalid">
                                <div [hidden]="!frmEndDate.errors.required">
                                    {{BENEFIT_END_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                            <div class='error-msg' *ngIf="!frmEndDate.errors?.required && error.isError" class="r">
                                {{ error.errorMessage }}
                            </div>
                        
                    </div>
                </div>


  <!--end date-->
    
  <div class="col-sm-3">&nbsp;</div> 



    
                <div class="col-sm-3">
                    <div class="col-md-12" style="margin-top: 30px;margin-left: 30px;">
                        <!-- <div [ngClass]="{'has-error': f.submitted && !noOfDays.valid && isJoiningDateRadioSelected,'row':true, '': currentLanguage == 2}"> -->

                        <input type="radio" name="joiningDate" #joiningDate (change)="daySelection($event)"
                            [checked]="dateSectionDayDisplay">Employee Joining Date
                        <!-- <label class="control-label">Employee Joining Date</label> -->
                    </div>
                </div>


           
    
    
    
                <div class="col-sm-3">
                    <div class="form-group row">
                        <div class="floating-label col-md-12"
                            [ngClass]="{'has-error': f.submitted && !noOfDays.valid && isJoiningDateRadioSelected,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <!-- <div [ngClass]="{'has-error': (f.submitted  && !noOfDays.valid && isJoiningDateRadioSelected),'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}"> -->
                            <!-- <input  class="floating-input" type="text" placeholder=" " tabindex="3" name="arabicdescription" [(ngModel)]="model.arbicDescription"
                                          #arabicdescription="ngModel" title="{{PAYCODE_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61"
                                          [required]="PAYCODE_ARABIC_DESCRIPTION['isMandatory']" tabindex="3" /> -->
                            <div class="col-md-12">
    
    
                                <!-- <span>*</span> -->
                            </div>
                            <div class="col-md-12">
                                <input class="floating-input" name="empJoingDate" [readonly]="true"
                                    title="Employee Joining Date" />
                            </div>
                            <span class="highlight"></span>
                            <!-- <label class="control-label">Employee Joining Date</label> -->
                        </div>
                    </div>
                </div>


             
    
                <div class="col-sm-3">
                    <div class="form-group row">
                        <div class="floating-label col-md-12"
                            [ngClass]="{'has-error': f.submitted && !noOfDays.valid && isJoiningDateRadioSelected || ( !noOfDays.errors?.required && error.isError && isJoiningDateRadioSelected),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <!-- Numbers Of days -->
                            <!-- [ngClass]="{'has-error': (f.submitted  && !noOfDays.valid && isJoiningDateRadioSelected) || ( !noOfDays.errors?.required && error.isError && isJoiningDateRadioSelected),'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}" -->
                            <!-- <div [ngClass]="{'has-error': (f.submitted  && !noOfDays.valid && isJoiningDateRadioSelected),'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}"> -->
                         
                            <div class="col-md-12">
                                <input type="number" class="floating-input" name="noOfDays" #noOfDays="ngModel"
                                    [(ngModel)]="model.noOfDays" title="Number of Days" maxlength="11"
                                    (keypress)="keyPress($event)" (keyup)="checkdecimalamount(noOfDays.value)"
                                    onKeyPress="if(this.value.length==10) return false;" max="9999999999" min="0"
                                    [required]="isJoiningDateRadioSelected"
                                    onkeypress="return check_digit(event,this,10,3);" [disabled]="numOfDays" />
                                <div *ngIf="f.submitted && noOfDays.invalid">
                                    <div [hidden]="!noOfDays.errors.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                             <span class="highlight"></span>
                                          <label class="control-label">Number Of days</label>
                        </div>
                    </div>
                </div>
    
                
    
                <div class="col-sm-3">
                    <div class="form-group row">
                        <div class="floating-label col-md-12"
                            [ngClass]="{'has-error': f.submitted && !endDateDays.valid && isJoiningDateRadioSelected || ( !endDateDays.errors?.required && error.isError && isJoiningDateRadioSelected),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <!-- [ngClass]="{'has-error': (f.submitted  && !endDateDays.valid && isJoiningDateRadioSelected) || ( !endDateDays.errors?.required && error.isError && isJoiningDateRadioSelected),'row':true, '': currentLanguage == 2}" -->
                            <!-- <div class="col-md-6"> -->
                         
                            <div class="col-md-12">
                                <input class="floating-input" type="number" name="endDateDays" #endDateDays="ngModel"
                                    [(ngModel)]="model.endDateDays" title="End Date After Days" maxlength="11" min="0"
                                    (keypress)="keyPress($event)" (keyup)="checkdecimalamount(endDateDays.value)"
                                    onKeyPress="if(this.value.length==10) return false;" max="9999999999"
                                    [required]="isJoiningDateRadioSelected"
                                    onkeypress="return check_digit(event,this,10,3);" [disabled]="numDays" />
                                <div *ngIf="f.submitted && endDateDays.invalid">
                                    <div [hidden]="!endDateDays.errors.required">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                           <span class="highlight"></span>
                           <label class="control-label">#days</label>
                        </div>
                    </div>
                </div>
    
            </div>
    
        </div>
    
       
    
    </div>

  

    <div class="form-group row">
            <div class="col-sm-2">
                    <div class="form-group row">
                            <div class="floating-label col-md-12" >
                          
                            <span class="datatable-checkbox control-label">
                                <!-- <input type='checkbox' name="inActive" (click)="checkBenefitCodeForm($event)" [(ngModel)]="model.inActive" #inActive="ngModel"
                                title="{{PAYCODE_INACTIVE['helpMessage']}}" [checked]="isSelected" /> -->
                                <input type="checkbox" name="transction" [(ngModel)]="model.transction"
                                #transction="ngModel">&nbsp;&nbsp; {{BENEFIT_TRANSACTION_REQUIRED['fieldValue']}}
                            </span>
                            <span class="highlight"></span>
                            <!-- <label for="transactionRequired">
                                    {{BENEFIT_TRANSACTION_REQUIRED['fieldValue']}}
                                </label> -->
                        </div>
                   </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group row">
                            <div class="floating-label col-md-12" >
                          
                            <span class="datatable-checkbox control-label">
                                <!-- <input type='checkbox' name="inActive" (click)="checkBenefitCodeForm($event)" [(ngModel)]="model.inActive" #inActive="ngModel"
                                title="{{PAYCODE_INACTIVE['helpMessage']}}" [checked]="isSelected" /> -->
                                <input type="checkbox" name="accumulate" [(ngModel)]="model.isAccumulate"
                                #accumulate="ngModel">&nbsp;&nbsp; IS ACCUMULATE
                            </span>
                            <span class="highlight"></span>
                            <!-- <label for="transactionRequired">
                                    IS 
                                </label> -->
                        </div>
                   </div>
                </div>
    </div>
       
  <!-- <div class="sub-title"></div> -->
 
  
  
  <!-- <div [ngClass]="'button-row'">
          <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
              <div [ngClass]="'col-xs-12'">
                  <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{DIVISION_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{DIVISION_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{DIVISION_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false">{{DIVISION_CANCEL_LABEL['fieldValue']}}</button>
                  </span>
              </div>
          </div>
      </div> -->


      <div [ngClass]="'button-row'">
              <div [ngClass]="'col-sm-12'">
                  <button *ngIf="model.id" class="green-btn">{{BENEFIT_CODE_UPDATE_LABEL['fieldValue']}}</button>
                  <button *ngIf="!model.id" class="green-btn">{{BENEFIT_CODE_SAVE_LABEL['fieldValue']}}</button>
                  <button class="blue-btn" (click)="goBack()">{{BENEFIT_CODE_CANCEL_LABEL['fieldValue']}}</button>
                  <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{BENEFIT_CODE_CLEAR_LABEL['fieldValue']}}</button>
                  <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
                  <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
              </div>
              
          </div>
 
</form>


</app-card>        
         

<!--adding form ends-->
</div>
<!-- Content Outer Ends -->
</section>
</section>
</div>



