<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
    <div class="modal-content" >
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='DeleteArTransactionEntry(f)' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>

<div class="content-wrapper user-view" >
    <section class="content">
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div><!-- section Heading Ends -->
        <section class="inner-content">
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <div class="row">
                    <form (ngSubmit)="!hasMsg && f.form.valid" #f="ngForm" id="ARTransactionEntry" novalidate>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                
                                <!-- <div class="form-row">
                                    <div class="label-outer">
                                        <label for="arTransactionType">{{defaultAddFormValues[0]['fieldValue']}}......</label>
                                    </div>
                                    <div class="value-outer">
                                        <select class="form-control">
                                            <option>option </option>
                                            <option>option </option>
                                            <option>option </option>
                                            <option>option </option>
                                        </select>
                                    </div>
                                </div> -->
                                
                                <div class="form-row" *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !arTransactionType.valid,'':true }">
                                    <div class="label-outer">
                                        <label for="">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer"> 
                                        <select [ngClass]="'form-control'" id="transactionType" name="arTransactionType" [(ngModel)]="model.arTransactionType" (change)="GetTransactionNumberListByTransactionType($event)"
                                        #arTransactionType="ngModel" title="{{defaultAddFormValues[0]['helpMessage']}}"
                                        required>
                                        <option *ngFor="let transactionType of arrTransactionType" [value]="transactionType.typeId">
                                            {{transactionType.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="f.submitted && arTransactionType.invalid">
                                        <div class='error-msg' *ngIf="arTransactionType.errors.required">
                                            {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        
                                    </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                            </div><!-- Form Row Ends -->
                            
                            
                            <div class="form-row" *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !arTransactionNumber.valid,'':true}">
                                <div class="label-outer">
                                    <label for="arTransactionNumber">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                </div>
                                <div class="value-outer">
                                    <div class="hf-txt">
                                        <input type="text" name="arTransactionNumber" [readonly]="true" [ngClass]="'form-control fm-txt'" name="arTransactionNumber" [(ngModel)]="model.arTransactionNumber" 
                                        #arTransactionNumber="ngModel" id="arTransactionNumber" title="{{defaultAddFormValues[1]['helpMessage']}}" required>
                                    </div>
                                    <!-- <select [ngClass]="'form-control'" name="arTransactionNumber" [(ngModel)]="model.arTransactionNumber" (change)="GetTransactionEntryByTransactionNumber($event)"
                                        #arTransactionNumber="ngModel" title="{{defaultAddFormValues[10]['helpMessage']}}"
                                        required>
                                        <option *ngFor="let transactionNumber of arrTransactionNumberList" [value]="transactionNumber">
                                            {{transactionNumber}}
                                        </option>
                                    </select> -->
                                    <div class="hf-txt">
                                        <ng-select [allowClear]="false"
                                        [active]="activeTransactionNumberList"
                                        [items]="arrTransactionNumberList"
                                        [disabled]="false"
                                        (data)="bindSelectedItem($event,'TransactionNumberList')"
                                        placeholder="{{select}}" title="{{defaultAddFormValues[1]['helpMessage']}}">
                                    </ng-select>
                                </div>
                                
                                <div *ngIf="f.submitted && arTransactionNumber.invalid">
                                    <div class='error-msg' *ngIf="arTransactionNumber.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div><!-- Value outer ENds -->
                            
                        </div><!-- Form Row Ends -->
                        
                        
                        <div class="form-row" *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !arTransactionDescription.valid,'':true}">
                            <div class="label-outer">
                                <label for="arTransactionDescription">{{defaultAddFormValues[2]['fieldValue']}}</label>
                            </div>
                            <div class="value-outer">
                                <input type="text" name="arTransactionDescription" [ngClass]="'form-control fm-txt'" name="arTransactionDescription" [(ngModel)]="model.arTransactionDescription" 
                                #arTransactionDescription="ngModel" id="arTransactionDescription" maxlength="61" title="{{defaultAddFormValues[2]['helpMessage']}}" required>
                                <div *ngIf="f.submitted && arTransactionDescription.invalid">
                                    <div class='error-msg' *ngIf="arTransactionDescription.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>      
                            </div><!-- Value outer ENds -->
                            
                        </div><!-- Form Row Ends -->
                        
                        
                        
                        <div class="form-row" *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{'has-error': f.submitted && !arTransactionDate.valid,'dob-row dob--inner':true}">
                            <div class="label-outer">
                                <label for="arTransactionDate">{{defaultAddFormValues[3]['fieldValue']}}</label>
                            </div>
                            <div class="value-outer">
                                <input type="text" [ngClass]="'form-control fm-txt'" name="arTransactionDate" [(ngModel)]="model.arTransactionDate" 
                                (dateChanged)="onDateChanged($event)" ngx-mydatepicker #dp="ngx-mydatepicker" [options]="myOptions" #arTransactionDate="ngModel" id="arTransactionDate" title="{{defaultAddFormValues[3]['helpMessage']}}" required readonly>
                                <span class="input-group-btn db--date">
                                    <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span> 
                                <div *ngIf="f.submitted && arTransactionDate.invalid">
                                    <div class='error-msg' *ngIf="arTransactionDate.errors.required">
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div> 
                            </div><!-- Value outer ENds -->
                            
                        </div><!-- Form Row Ends -->
                        
                        
                        <div class="form-row" *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeCustomer[0].id == '0','':true }">
                            
                            <div class="label-outer">
                                <label for="customerId">{{defaultAddFormValues[4]['fieldValue']}}</label>
                            </div><!-- Label Outer Ends -->
                            <div class="value-outer"> 
                                <div class="col-md-4 col-sm-4 col-xs-4 padding0">
                                    <ng-select [allowClear]="false"
                                    [active]="activeCustomer"
                                    [items]="arrCustomer"
                                    [disabled]="false"
                                    (data)="bindSelectedItem($event,'Customer')"
                                    title="{{defaultAddFormValues[4]['helpMessage']}}">
                                </ng-select>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8 padding-rt-0">
                                <div class="disable-input">
                                    <input type="text" class="form-control" name="customerName" [(ngModel)]="customerName" disabled>
                                </div>
                            </div>
                            <div *ngIf="f.submitted && activeCustomer[0].id == '0'">
                                <div class='error-msg'>
                                    {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                        </div><!-- Value Outer ENds -->    
                        
                    </div><!-- BT Row  Ends -->
                    
                    <div class="form-row" *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeCustomer[0].id == '0','':true }">
                        
                        <div class="label-outer">
                            <label for="salesmanID">{{defaultAddFormValues[5]['fieldValue']}}</label>
                        </div><!-- Label Outer Ends -->
                        <div class="value-outer"> 
                            <div class="col-md-4 col-sm-4 col-xs-4 padding0">
                                <ng-select [allowClear]="false"
                                [active]="activeSalesman"
                                [items]="arrSalesman"
                                [disabled]="false"
                                (data)="bindSelectedItem($event,'Salesman')"
                                title="{{defaultAddFormValues[5]['helpMessage']}}">
                            </ng-select>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 padding-rt-0">
                            <div class="disable-input">
                                <input type="text" class="form-control" name="salesmanName" [(ngModel)]="salesmanName" disabled>
                            </div>
                        </div>
                        <div *ngIf="f.submitted && activeSalesman[0].id == '0'">
                            <div class='error-msg'>
                                {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                        </div>
                    </div><!-- Value Outer ENds -->    
                    
                </div><!-- BT Row  Ends -->
                
                
                <div class="form-row" *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeSalesTerritory[0].id == '0','':true }">
                    <div class="label-outer">
                        <label for="paymentTermId">{{defaultAddFormValues[6]['fieldValue']}}</label>
                    </div><!-- Label Outer Ends -->
                    <div class="value-outer"> 
                        <ng-select [allowClear]="false"
                        [active]="activeSalesTerritory"
                        [items]="arrSalesTerritory"
                        [disabled]="false"
                        (data)="bindSelectedItem($event,'SalesTerritory')"
                        title="{{defaultAddFormValues[6]['helpMessage']}}">
                    </ng-select>
                    <div *ngIf="f.submitted  && activeSalesTerritory[0].id == '0'">
                        <div class='error-msg'>
                            {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                    </div>
                </div><!-- Value Outer ENds -->    
            </div> <!-- BT Row  Ends -->
            
            
            
            <div class="form-row" *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeCurrency[0].id == '0','':true }">
                <div class="bt-row">
                    <div class="label-outer">
                        <label for="currencyID">{{defaultAddFormValues[7]['fieldValue']}}</label>
                    </div>
                    <div class="value-outer">
                        <div class="col-md-11 col-sm-11 col-xs-11 padding-lt-0">
                            <ng-select [allowClear]="false"
                            [active]="activeCurrency"
                            [items]="arrCurrency"
                            [disabled]="false"
                            (data)="bindSelectedItem($event,'Currency')"
                            title="{{defaultAddFormValues[7]['helpMessage']}}">
                        </ng-select>
                        <div *ngIf="f.submitted && activeCurrency[0].id == '0'">
                            <div class='error-msg'>
                                {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                        </div>
                    </div>
                    <a (click)="openModel(exchangeRateDetail,'exchangeRateDetail')"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </div><!-- Value outer ENds -->
            </div><!-- Form Row Ends -->
        </div>
        
        
        <div class="form-row" *ngIf="defaultAddFormValues[8]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activePaymentTerm[0].id == '0','':true }">
            <div class="label-outer">
                <label for="paymentTermId">{{defaultAddFormValues[8]['fieldValue']}}</label>
            </div><!-- Label Outer Ends -->
            <div class="value-outer"> 
                <ng-select [allowClear]="false"
                [active]="activePaymentTerm"
                [items]="arrPaymentTermSetup"
                [disabled]="false"
                (data)="bindSelectedItem($event,'PaymentTerm')"
                title="{{defaultAddFormValues[8]['helpMessage']}}">
            </ng-select>
            <div *ngIf="f.submitted  && activePaymentTerm[0].id == '0'">
                <div class='error-msg'>
                    {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
            </div>
        </div><!-- Value Outer ENds -->    
    </div> <!-- BT Row  Ends -->
    
    
    <div class="form-row" *ngIf="defaultAddFormValues[9]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeShippingMethod[0].id == '0','':true }">
        <div class="label-outer">
            <label for="shippingMethodID">{{defaultAddFormValues[9]['fieldValue']}}</label>
        </div><!-- Label Outer Ends -->
        <div class="value-outer"> 
            <ng-select [allowClear]="false"
            [active]="activeShippingMethod"
            [items]="arrShippingMethod"
            [disabled]="false"
            (data)="bindSelectedItem($event,'ShippingMethod')"
            title="{{defaultAddFormValues[9]['helpMessage']}}">
        </ng-select>
        <div *ngIf="f.submitted  && activeShippingMethod[0].id == '0'">
            <div class='error-msg'>
                {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>
    </div><!-- Value Outer ENds -->    
</div> <!-- BT Row  Ends -->


<div class="form-row" *ngIf="defaultAddFormValues[10]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeVat[0].id == '0','':true }">
    <div class="label-outer">
        <label for="vatScheduleID">{{defaultAddFormValues[10]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer"> 
        <ng-select [allowClear]="false"
        [active]="activeVat"
        [items]="arrVat"
        [disabled]="false"
        (data)="bindSelectedItem($event,'Vat')"
        title="{{defaultAddFormValues[10]['helpMessage']}}">
    </ng-select>
    <div *ngIf="f.submitted  && activeVat[0].id == '0'">
        <div class='error-msg'>
            {{defaultAddFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
        </div>
    </div>
</div><!-- Value Outer ENds -->    
</div> <!-- BT Row  Ends -->


<div class="form-row" *ngIf="defaultAddFormValues[11]['readAccess']">
    <div class="label-outer">
        <label for="glBatchId">{{defaultAddFormValues[11]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer">
        <ng-select [allowClear]="false"
        [active]="activeBatch"
        [items]="arrBatchList"
        [disabled]="false"
        (data)="bindSelectedItem($event,'Batch')"
        title="{{defaultAddFormValues[11]['helpMessage']}}">
    </ng-select>
</div>
</div><!-- Form Row Ends -->

<div class="form-row" *ngIf="defaultAddFormValues[20]['readAccess']"  [ngClass]="{ 'has-error': f.submitted && activeCheckbook[0].id == '0','':true }">
    <div class="label-outer">
        <label for="checkbookID">{{defaultAddFormValues[20]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer"> 
        <ng-select [allowClear]="false"
        [active]="activeCheckbook"
        [items]="arrCheckbook"
        [disabled]="false"
        (data)="bindSelectedItem($event,'Checkbook')"
        title="{{defaultAddFormValues[20]['helpMessage']}}">
    </ng-select>
    <div *ngIf="f.submitted  && activeCheckbook[0].id == '0'">
        <div class='error-msg'>
            {{defaultAddFormValues[20]['listDtoFieldValidationMessage'][0]['validationMessage']}}
        </div>
    </div>
</div><!-- Value Outer ENds -->    
</div> <!-- BT Row  Ends -->


<div class="form-row" *ngIf="defaultAddFormValues[12]['readAccess']" [ngClass]="{'has-error': f.submitted && !arTransactionCost.valid,'':true}">
    <div class="label-outer">
        <label for="arTransactionCost">{{defaultAddFormValues[12]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer"> 
        <input type="text" name="arTransactionCost" [ngClass]="'form-control fm-txt'" name="arTransactionCost" [(ngModel)]="model.arTransactionCost" 
        #arTransactionCost="ngModel" id="arTransactionCost" 
        title="{{defaultAddFormValues[12]['helpMessage']}}" OnlyNumber="true" 
        (blur)="formatCostAmount()"
        (ngModelChange) = "getAmountValue('Cost',$event)" 
        (focus)='formatAmountChanged("Cost")'  
        required>
        <div *ngIf="f.submitted && arTransactionCost.invalid">
            <div class='error-msg' *ngIf="arTransactionCost.errors.required">
                {{defaultAddFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>    
    </div><!-- Value Outer ENds -->    
    
</div> <!--  Row  Ends -->

<div class="form-row" *ngIf="defaultAddFormValues[13]['readAccess']">
    <div class="label-outer">
        <label for="">{{dynamicTransactionTypeLabel}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer" [ngClass]="{'has-error': f.submitted && !arTransactionSalesAmount.valid,'':true}">
        <input type="text" name="arTransactionSalesAmount" 
        [ngClass]="'form-control fm-txt'" name="arTransactionSalesAmount" 
        [(ngModel)]="model.arTransactionSalesAmount" 
        (ngModelChange) = "getAmountValue('SalesAmount',$event)" 
        (focus)='formatAmountChanged("SalesAmount")' 
        #arTransactionSalesAmount="ngModel" OnlyNumber="true"  
        id="arTransactionSalesAmount" title="{{defaultAddFormValues[13]['helpMessage']}}" 
        (blur)="calculateTotalAmount('SalesAmount')" required>
        <div *ngIf="f.submitted && arTransactionSalesAmount.invalid">
            <div class='error-msg' *ngIf="arTransactionSalesAmount.errors.required">
                {{defaultAddFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>   
    </div><!-- Value Outer ENds -->  
    
</div> <!-- BT Row  Ends -->


<div class="form-row" *ngIf="defaultAddFormValues[14]['readAccess']" [ngClass]="{'has-error': f.submitted && !arTransactionTradeDiscount.valid,'':true}">
    <div class="label-outer">
        <label for="arTransactionTradeDiscount">{{defaultAddFormValues[14]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer"> 
        <input type="text" name="arTransactionTradeDiscount" [ngClass]="'form-control fm-txt'" name="arTransactionTradeDiscount" [(ngModel)]="model.arTransactionTradeDiscount" 
        #arTransactionTradeDiscount="ngModel" OnlyNumber="true" 
        id="arTransactionTradeDiscount" 
        (ngModelChange) = "getAmountValue('TradeDiscount',$event)" 
        (focus)='formatAmountChanged("TradeDiscount")' 
        title="{{defaultAddFormValues[14]['helpMessage']}}" 
        (blur)="calculateTotalAmount('TradeDiscount')" required>
        <div *ngIf="f.submitted && arTransactionTradeDiscount.invalid">
            <div class='error-msg' *ngIf="arTransactionTradeDiscount.errors.required">
                {{defaultAddFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>    
    </div><!-- Value Outer ENds -->    
    
</div><!-- Form Row Ends -->


<div class="form-row" *ngIf="defaultAddFormValues[15]['readAccess']" [ngClass]="{'has-error': f.submitted && !arTransactionMiscellaneous.valid,'':true}">
    <div class="label-outer">
        <label for="arTransactionMiscellaneous">{{defaultAddFormValues[15]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer"> 
        <input type="text" name="arTransactionMiscellaneous" [ngClass]="'form-control fm-txt'" name="arTransactionMiscellaneous" [(ngModel)]="model.arTransactionMiscellaneous" 
        #arTransactionMiscellaneous="ngModel" OnlyNumber="true" 
        (ngModelChange) = "getAmountValue('Miscellaneous',$event)" 
        (focus)='formatAmountChanged("Miscellaneous")'
        id="arTransactionMiscellaneous" (blur)="calculateTotalAmount('Miscellaneous')" title="{{defaultAddFormValues[15]['helpMessage']}}" required>
        <div *ngIf="f.submitted && arTransactionMiscellaneous.invalid">
            <div class='error-msg' *ngIf="arTransactionMiscellaneous.errors.required">
                {{defaultAddFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>    
    </div><!-- Value Outer ENds -->    
    
</div><!-- Form Row Ends -->


<div class="form-row" *ngIf="defaultAddFormValues[16]['readAccess']" [ngClass]="{'has-error': f.submitted && !arTransactionFreightAmount.valid,'':true}">
    <div class="label-outer">
        <label for="arTransactionFreightAmount">{{defaultAddFormValues[16]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer"> 
        <input type="text" name="arTransactionFreightAmount" OnlyNumber="true" 
        [ngClass]="'form-control fm-txt'" name="arTransactionFreightAmount"
        [(ngModel)]="model.arTransactionFreightAmount" 
        #arTransactionFreightAmount="ngModel"
        (ngModelChange) = "getAmountValue('FreightAmount',$event)" 
        (focus)='formatAmountChanged("FreightAmount")'
        id="arTransactionFreightAmount" 
        (blur)="calculateTotalAmount('FreightAmount')"
        title="{{defaultAddFormValues[16]['helpMessage']}}"
        required>
        <div *ngIf="f.submitted && arTransactionFreightAmount.invalid">
            <div class='error-msg' *ngIf="arTransactionFreightAmount.errors.required">
                {{defaultAddFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>        
    </div><!-- Value Outer ENds -->    
</div><!-- Form Row Ends -->

<div class="form-row" *ngIf="defaultAddFormValues[17]['readAccess']" [ngClass]="{'has-error': f.submitted && !arTransactionVATAmount.valid,'':true}">
    <div class="label-outer">
        <label for="arTransactionVATAmount">{{defaultAddFormValues[17]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer"> 
        <input type="text" name="arTransactionVATAmount" [ngClass]="'form-control fm-txt'" name="arTransactionVATAmount" [(ngModel)]="model.arTransactionVATAmount" 
        #arTransactionVATAmount="ngModel" OnlyNumber="true" 
        (ngModelChange) = "getAmountValue('VATAmount',$event)" 
        (focus)='formatAmountChanged("VATAmount")'
        id="arTransactionVATAmount" (blur)="calculateTotalAmount('VATAmount')" 
        title="{{defaultAddFormValues[17]['helpMessage']}}" required>
        <div *ngIf="f.submitted && arTransactionVATAmount.invalid">
            <div class='error-msg' *ngIf="arTransactionVATAmount.errors.required">
                {{defaultAddFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>    
    </div><!-- Value Outer ENds -->    
</div><!-- Form Row Ends -->



<div class="form-row" *ngIf="defaultAddFormValues[18]['readAccess']" [ngClass]="{'has-error': f.submitted && !arTransactionTotalAmount.valid,'':true}">
    <div class="label-outer">
        <label for="arTransactionTotalAmount">{{defaultAddFormValues[18]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer"> 
        <input type="text" name="arTransactionTotalAmount" [ngClass]="'form-control fm-txt'"
        [(ngModel)]="model.arTransactionTotalAmount" 
        #arTransactionTotalAmount="ngModel" OnlyNumber="true" 
        (ngModelChange) = "getAmountValue('TotalAmount',$event)" 
        (focus)='formatAmountChanged("TotalAmount")'
        id="arTransactionTotalAmount" title="{{defaultAddFormValues[18]['helpMessage']}}" readonly>
    </div><!-- Value Outer ENds -->    
    
</div><!-- Form Row Ends -->

</div>

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="form-row">
        <!-- tradeDiscountPercent = {{tradeDiscountPercent}} -->
    </div>
    <div class="form-row">
        <!-- miscVatPercent = {{miscVatPercent}} -->
    </div>
    <div class="form-row">
        <!-- freightVatPercent = {{freightVatPercent}} -->
    </div>
    <div class="form-row">
        <!-- vatPercent = {{vatPercent}} -->
    </div>
    <div class="form-row">
    </div>
    <div class="form-row">
    </div>
    <div class="form-row">
    </div>
    <div class="form-row">
    </div>    
    
    <div class="form-row" *ngIf="defaultAddFormValues[19]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !paymentTypeId.valid,'':true }">
        <div class="label-outer">
            <label for="">{{defaultAddFormValues[19]['fieldValue']}}</label>
        </div><!-- Label Outer Ends -->
        
        <div class="value-outer"> 
            <select [ngClass]="'form-control'" id="paymentTypeId" name="paymentTypeId" [(ngModel)]="model.paymentTypeId" (change)="PaymentTypeChange($event)"
            #paymentTypeId="ngModel" title="{{defaultAddFormValues[19]['helpMessage']}}"
            required>
            <option *ngFor="let paymentType of arrPaymentMethod" [value]="paymentType.typeId">
                {{paymentType.name}}
            </option>
        </select>
        <div *ngIf="f.submitted && paymentTypeId.invalid">
            <div class='error-msg' *ngIf="paymentTypeId.errors.required">
                {{defaultAddFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
            
        </div><!-- Value Outer ENds -->  
    </div> <!-- BT Row  Ends -->
</div><!-- Form Row Ends -->


<div class="form-row"  [ngClass]="{'has-error': f.submitted && !checkNumber.valid,'':true}" *ngIf="model.paymentTypeId == 2 && defaultAddFormValues[21]['readAccess']">
    <div class="label-outer">
        <label for="checkNumber">{{defaultAddFormValues[21]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer"> 
        <input type="text" name="checkNumber" [ngClass]="'form-control fm-txt'" name="checkNumber" [(ngModel)]="model.checkNumber" [readonly]="!defaultAddFormValues[21]['writeAccess']"
        #checkNumber="ngModel" id="checkNumber" title="{{defaultAddFormValues[21]['helpMessage']}}" required>
        <div *ngIf="f.submitted && checkNumber.invalid">
            <div class='error-msg' *ngIf="checkNumber.errors.required">
                {{defaultAddFormValues[21]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>    
    </div><!-- Value Outer ENds -->  
</div> <!-- BT Row  Ends -->






<div class="form-row" [ngClass]="{ 'has-error': f.submitted && activeCreditCard[0].id == '0','':true }" *ngIf="model.paymentTypeId == 3 && defaultAddFormValues[22]['readAccess']">
    <div class="label-outer">
        <label for="creditCardID">{{defaultAddFormValues[22]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer">
        <div class="col-md-12 col-sm-12 col-xs-12 padding-lt-0">
            <ng-select [allowClear]="false"
            [active]="activeCreditCard"
            [items]="arrCreditCard"
            [disabled]="false"
            (data)="bindSelectedItem($event,'CreditCard')"
            title="{{defaultAddFormValues[22]['helpMessage']}}">
        </ng-select>
    </div>
    <div *ngIf="f.submitted && activeCreditCard[0].id == '0'">
        <div class='error-msg'>
            {{defaultAddFormValues[22]['listDtoFieldValidationMessage'][0]['validationMessage']}}
        </div>
    </div>
</div><!-- Value Outer ENds -->    

</div><!-- BT Row  Ends -->


<div class="form-row" [ngClass]="{'has-error': f.submitted && !creditCardNumber.valid,'':true}" *ngIf="model.paymentTypeId == 3 && defaultAddFormValues[23]['readAccess']">
    <div class="label-outer">
        <label for="creditCardNumber">{{defaultAddFormValues[23]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer"> 
        <input type="text" name="creditCardNumber" [ngClass]="'form-control fm-txt'" name="creditCardNumber" [(ngModel)]="model.creditCardNumber" 
        #creditCardNumber="ngModel" maxlength="21" id="creditCardNumber" title="{{defaultAddFormValues[23]['helpMessage']}}" required>
        <div *ngIf="f.submitted && creditCardNumber.invalid">
            <div class='error-msg' *ngIf="creditCardNumber.errors.required">
                {{defaultAddFormValues[23]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>    
    </div><!-- Value Outer ENds -->  
</div> <!-- BT Row  Ends -->

<!-- <div class="form-row">
    <div class="label-outer">
        <label>{{defaultAddFormValues[24]['fieldValue']}}..........</label>
    </div>
    <div class="value-outer">
        <div class="hf-txt"><span class="dm">MM...</span> <input class="form-control fm-txt" name="creditCardExpireMonth" type="text"></div>
        <div class="hf-txt"><span class="dm">YY...</span> <input class="form-control fm-txt" name="creditCardExpireYear" type="text"></div>
    </div>
</div> -->


<div class="form-row"  [ngClass]="{ 'has-error': f.submitted && !model.creditCardExpireMonth,'':true }" *ngIf="model.paymentTypeId == 3">
    <div class="bt-row">
        <div class="label-outer">
            <label for="">{{defaultAddFormValues[24]['fieldValue']}}</label>
        </div><!-- Label Outer Ends --> 
        <div class="value-outer">
            
            <div class="col-md-6 col-sm-6 col-xs-12 padding0" *ngIf="defaultAddFormValues[25]['readAccess']">
                <div class="hf-txt Expire-Date-input">
                    <span class="dm">{{defaultAddFormValues[25]['fieldValue']}}</span> 
                    <input type="text" [ngClass]="'form-control fm-txt'" name="creditCardExpireMonth" [(ngModel)]="model.creditCardExpireMonth" maxlength="2" (blur)="checkMonthValue()"
                    #creditCardExpireMonth="ngModel" id="creditCardExpireMonth" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    title="{{defaultAddFormValues[25]['helpMessage']}}" required>
                    <div *ngIf="f.submitted && !model.creditCardExpireMonth">
                        <div class='error-msg'>
                            {{defaultAddFormValues[25]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                    </div>
                </div><!-- Half Text Ends -->
            </div>
            <div *ngIf="defaultAddFormValues[26]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !model.creditCardExpireYear,'col-md-6 col-sm-6 col-xs-12  padding0':true }">
                <div class="hf-txt Expire-Date-input">
                    <span class="dm">{{defaultAddFormValues[26]['fieldValue']}}</span> 
                    <input type="text" [ngClass]="'form-control fm-txt'" name="creditCardExpireYear" [(ngModel)]="model.creditCardExpireYear" maxlength="4"
                    #creditCardExpireYear="ngModel" id="creditCardExpireYear" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    title="{{defaultAddFormValues[26]['helpMessage']}}" required>
                    <div *ngIf="f.submitted && !model.creditCardExpireYear">
                        <div class='error-msg'>
                            {{defaultAddFormValues[26]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                    </div>
                </div><!-- Half Text Ends -->
            </div><!-- BT Row Ends -->
        </div>
    </div>
    
    <!--</div>-->
</div><!-- Form Row Ends -->


<div class="form-row" *ngIf="defaultAddFormValues[27]['readAccess']" [ngClass]="{'has-error': f.submitted && !paymentAmount.valid,'':true}">
    <div class="label-outer">
        <label for="paymentAmount">{{defaultAddFormValues[27]['fieldValue']}}</label>
    </div><!-- Label Outer Ends -->
    <div class="value-outer"> 
        <input type="text"  [ngClass]="'form-control fm-txt'" 
        name="paymentAmount" [(ngModel)]="model.paymentAmount" 
        #paymentAmount="ngModel"
        #arTransactionTotalAmount="ngModel" OnlyNumber="true" 
        (blur)="formatPaymentAmount()"
        (ngModelChange) = "getAmountValue('PaymentAmount',$event)" 
        (focus)='formatAmountChanged("PaymentAmount")'
        id="paymentAmount" OnlyNumber="true"  
        title="{{defaultAddFormValues[27]['helpMessage']}}">
    </div><!-- Value Outer ENds -->    
    
</div><!-- Form Row Ends -->
</div>
<div class="form-row"  *ngIf="!isScreenLock">
    <div class="col-md-6 col-sm-6 col-xs-12">
        
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-row text-right">
            <input type="button" class="blue-btn" title="{{defaultAddFormValues[28]['helpMessage']}}" value="{{defaultAddFormValues[28]['fieldValue']}}" *ngIf="defaultAddFormValues[28]['readAccess']" [readonly]="!defaultAddFormValues[28]['writeAccess']" [disabled]="!this.isModify"/>
            <input type="submit" class="blue-btn" title="{{defaultAddFormValues[29]['helpMessage']}}" 
            value="{{defaultAddFormValues[29]['fieldValue']}}" 
            *ngIf="defaultAddFormValues[29]['readAccess']"
            [readonly]="!defaultAddFormValues[29]['writeAccess']" 
            (click)="openDistribution(f,distributionEntry,exchangeRateDetail)"/>
            <!-- (click)="openModel(distributionEntry,'distributionEntry')" -->
            
        </div><!-- Form Row Ends -->
        
    </div>
</div><!-- Form Row Ends -->

<div class="form-row"  *ngIf="!isScreenLock">
    <div class="button-row">
        <div class="col-sm-12">
            <input type="button" class="blue-btn" title="{{defaultAddFormValues[30]['helpMessage']}}" value="{{defaultAddFormValues[30]['fieldValue']}}" *ngIf="defaultAddFormValues[30]['readAccess']" [readonly]="!defaultAddFormValues[30]['writeAccess']" [disabled]="!this.isModify" (click)="varifyDelete()"/>
            <input type="button" class="blue-btn" title="{{defaultAddFormValues[31]['helpMessage']}}" value="{{defaultAddFormValues[31]['fieldValue']}}" *ngIf="defaultAddFormValues[31]['readAccess']" [readonly]="!defaultAddFormValues[31]['writeAccess']" (click)="PostARTransactionEntry(f,exchangeRateDetail)" [disabled]="btndisabled"/>
            <input type="submit" class="orange-btn" title="{{defaultAddFormValues[32]['helpMessage']}}"
            value="{{defaultAddFormValues[32]['fieldValue']}}"
            *ngIf="defaultAddFormValues[32]['readAccess']"
            [readonly]="!defaultAddFormValues[32]['writeAccess']" 
            (click)="SaveARTransactionEntry(f,exchangeRateDetail)" [disabled]="btndisabled"/>
            <input type="button" class="blue-btn" title="{{defaultAddFormValues[33]['helpMessage']}}" value="{{defaultAddFormValues[33]['fieldValue']}}" *ngIf="defaultAddFormValues[33]['readAccess']" [readonly]="!defaultAddFormValues[33]['writeAccess']" (click)="print()"/>
            <input type="button" class="blue-btn" title="{{defaultAddFormValues[34]['helpMessage']}}" value="{{defaultAddFormValues[34]['fieldValue']}}" *ngIf="defaultAddFormValues[34]['readAccess']" [readonly]="!defaultAddFormValues[34]['writeAccess']" (click)="clear(f)"/>
        </div>
    </div><!-- Buton Row Ends -->
</div><!-- Form Row Ends -->
</div>
</form>

</div><!-- Form Row Ends -->
</div>

</section>
</section>

<modal #distributionEntry id="distributionEntry" [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-lg">
    <modal-header>
        {{distributionScreenModuleName}}
    </modal-header>
    <modal-content style="max-width: 100%">
        <!-- <pre>{{arrARDistributionEntry | json}}</pre> -->
        <div class="content-outer com-form">
            <div class="form-row">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-row" *ngIf="defaultDistributionFormValues[0]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="customerID">{{defaultDistributionFormValues[0]['fieldValue']}}</label>
                                    </div>
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="customerId" [(ngModel)]="arrARDistributionEntry.customerId" 
                                        title="{{defaultDistributionFormValues[0]['helpMessage']}}" readonly>
                                    </div><!-- Value outer ENds -->
                                </div><!-- Bt row Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                        
                        <div class="form-row" *ngIf="defaultDistributionFormValues[1]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="customerName">{{defaultDistributionFormValues[1]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer"> 
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="customerName" [(ngModel)]="arrARDistributionEntry.customerName" 
                                        title="{{defaultDistributionFormValues[1]['helpMessage']}}" readonly>
                                    </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                        <div class="form-row" *ngIf="defaultDistributionFormValues[5]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="functionalAmount">{{defaultDistributionFormValues[5]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer"> 
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="functionalAmount" [(ngModel)]="arrARDistributionEntry.functionalAmount" 
                                        title="{{defaultDistributionFormValues[5]['helpMessage']}}" readonly>
                                    </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                        <div class="form-row" *ngIf="defaultDistributionFormValues[2]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="currencyID">{{defaultDistributionFormValues[2]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer"> 
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="currencyID" [(ngModel)]="arrARDistributionEntry.currencyID" 
                                        title="{{defaultDistributionFormValues[2]['helpMessage']}}" readonly>
                                    </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                        
                    </div><!-- Form Row Ends -->
                    
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-row" *ngIf="defaultDistributionFormValues[6]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label>{{defaultDistributionFormValues[6]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer"> 
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="originalAmount" [(ngModel)]="arrARDistributionEntry.originalAmount" 
                                        title="{{defaultDistributionFormValues[6]['helpMessage']}}" readonly>
                                    </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                        <div class="form-row" *ngIf="defaultDistributionFormValues[3]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="arTransactionNumber">{{defaultDistributionFormValues[3]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer"> 
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="transactionNumber" [(ngModel)]="arrARDistributionEntry.transactionNumber" 
                                        title="{{defaultDistributionFormValues[3]['helpMessage']}}" readonly>
                                    </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                            </div>
                        </div><!-- Form Row Ends -->
                        <div class="form-row" *ngIf="defaultDistributionFormValues[4]['readAccess']">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label for="arTransactionType">{{defaultDistributionFormValues[4]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer"> 
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="transactionType" [(ngModel)]="arrARDistributionEntry.transactionType" 
                                        title="{{defaultDistributionFormValues[4]['helpMessage']}}" readonly>
                                    </div><!-- Value Outer ENds -->  
                                </div> <!-- BT Row  Ends -->
                            </div>
                        </div> 
                    </div>   
                    
                </div><!-- Form Row Ends -->
                <div class="form-row">
                    <div class="col-xs-12">
                        <div class="algo-table">
                            <div class="table-responsive">    
                                <div *ngIf="PopUphasMsg" style="font-weight:normal " [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                                    {{PopUpmessageText}}
                                </div>   
                                <table class="table">
                                    <thead>
                                        <tr> 
                                            <th width="20%">{{defaultDistributionFormValues[7]['fieldValue']}}</th>
                                            <th width="20%">{{defaultDistributionFormValues[8]['fieldValue']}}</th>
                                            <th width="20%">{{defaultDistributionFormValues[9]['fieldValue']}}</th>
                                            <th width="20%">{{defaultDistributionFormValues[10]['fieldValue']}}</th>
                                            <th width="20%">{{defaultDistributionFormValues[11]['fieldValue']}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div  [ngClass]="{ 'has-error': (f.submitted || IsAddDistributionDetails) && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails)  && activeAccountNumber[0].id == '0','col-md-10 col-sm-10 col-xs-10':true }">
                                                    <ng-select [allowClear]="false"
                                                    [active]="activeAccountNumber"
                                                    [items]="arrAccountNumber"
                                                    [disabled]="false"
                                                    (data)="bindSelectedItem($event,'AccountNumber')"
                                                    title="{{defaultDistributionFormValues[7]['helpMessage']}}">
                                                </ng-select>
                                                <div *ngIf="(f.submitted || IsAddDistributionDetails) && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails)  && activeAccountNumber[0].id == '0'">
                                                    <div class='error-msg'>
                                                        {{defaultDistributionFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                </div>
                                            </div>
                                            <a (click)="getGlAccountNumberDetail(ModalAccount)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                        </td>
                                        <td>
                                            <div  [ngClass]="{ 'has-error': (f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  distributionAccountType == '','col-md-12 col-sm-12 col-xs-12':true }">
                                                <select [ngClass]="'form-control'" id="distributionAccountType" name="distributionAccountType" [(ngModel)]="distributionAccountType" (change)="ChangeDistributionAccountType($event)"
                                                title="{{defaultDistributionFormValues[8]['helpMessage']}}"
                                                required>
                                                <option *ngFor="let distccountType of arrDistributionAccountTypes" [value]="distccountType.typeId">
                                                    {{distccountType.typeCode}}
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="(f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) && distributionAccountType == ''">
                                            <div class='error-msg'>
                                                {{defaultDistributionFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div  [ngClass]="{ 'has-error': (f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  !distributionDescription,'col-md-12 col-sm-12 col-xs-12':true }">
                                            <input type="text" class="form-control"  name="distributionDescription" [(ngModel)]="distributionDescription" title="{{defaultDistributionFormValues[9]['helpMessage']}}">
                                            <div *ngIf="(f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) && !distributionDescription">
                                                <div class='error-msg'>
                                                    {{defaultDistributionFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>  
                                    </td>
                                    <td>
                                        <div  [ngClass]="{ 'has-error': (f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  ((debitAmount == '0'  || !debitAmount) && (creditAmount == '0'  || !creditAmount)),'col-md-10 col-sm-10 col-xs-10':true }">
                                            <input type="text" class="form-control"   name="debitAmount" [(ngModel)]="debitAmount" maxlength="14" (blur)="validateAmount('debitAmount',this)" 
                                            OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"     title="{{defaultDistributionFormValues[10]['helpMessage']}}">
                                            <div *ngIf="(f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  ((debitAmount == '0'  || !debitAmount) && (creditAmount == '0'  || !creditAmount))">
                                                <div class='error-msg'>
                                                    {{defaultDistributionFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div> 
                                    </td>   
                                    <td>
                                        <div  [ngClass]="{ 'has-error': (f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  ((debitAmount == '0'  || !debitAmount) && (creditAmount == '0'  || !creditAmount)),'col-md-10 col-sm-10 col-xs-10':true }">
                                            <input type="text" class="form-control"  name="creditAmount" (blur)="validateAmount('creditAmount',this)"  
                                            [(ngModel)]="creditAmount"  OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    title="{{defaultDistributionFormValues[11]['helpMessage']}}" maxlength="14">
                                            <div *ngIf="(f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  ((debitAmount == '0'  || !debitAmount) && (creditAmount == '0'  || !creditAmount))">
                                                <div class='error-msg'>
                                                    {{defaultDistributionFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div> 
                                        <a  class="add-ico-tb">
                                            <i class="fa fa-plus-circle" aria-hidden="true"  (click)="AddDistributionDetails()" ></i></a>
                                        </td>
                                    </tr>
                                    
                                    <tr *ngFor="let arr of arrARDistributionEntry.listDtoARDistributionDetail;let i = index">
                                        <td>
                                            {{arr.accountNumber}}
                                        </td>
                                        <td>
                                            {{arr.type}}
                                        </td>
                                        <td>
                                            {{arr.distributionReference}}
                                        </td>
                                        <td>
                                            {{arr.debitAmount}}
                                        </td>
                                        <td>
                                            {{arr.creditAmount}}
                                            <a  class="add-ico-tb"><i class="fa fa-minus-circle" aria-hidden="true" (click)="RemoveDistributionDetails(i,arr)" ></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- Algo Table Ends -->
                </div>
            </div><!-- Form Row Ends -->
            <div class="form-row">
                <div class="button-row">
                    <div class="col-sm-12">
                        <input type="button" class="orange-btn" [disabled]="!arrARDistributionEntry.customerId || this.arrARDistributionEntry.listDtoARDistributionDetail.length == 0" title="{{defaultDistributionFormValues[12]['helpMessage']}}" *ngIf="defaultAddFormValues[12]['readAccess']" [readonly]="!defaultAddFormValues[12]['writeAccess']" value="{{defaultDistributionFormValues[12]['fieldValue']}}" (click)="SaveDistributionDetail(distributionEntry)"/>
                        <input type="button" class="blue-btn" [disabled]="!arrARDistributionEntry.customerId" title="{{defaultDistributionFormValues[13]['helpMessage']}}" *ngIf="defaultAddFormValues[13]['readAccess']" [readonly]="!defaultAddFormValues[13]['writeAccess']" value="{{defaultDistributionFormValues[13]['fieldValue']}}"  (click)="DeleteArTransactionEntryDistribution(distributionEntry)"/>
                        <!-- <input type="button" class="blue-btn"  [disabled]="!arrARDistributionEntry.customerId" title="{{defaultDistributionFormValues[14]['helpMessage']}}" *ngIf="defaultAddFormValues[14]['readAccess']" [readonly]="!defaultAddFormValues[14]['writeAccess']" value="{{defaultDistributionFormValues[14]['fieldValue']}}" (click)="GetDistributionDetailByTransactionNumber(arrARDistributionEntry.transactionNumber)"/> -->
                        <input type="button" class="blue-btn" [disabled]="!arrARDistributionEntry.customerId"  title="{{defaultDistributionFormValues[14]['helpMessage']}}" *ngIf="defaultAddFormValues[14]['readAccess']" [readonly]="!defaultAddFormValues[14]['writeAccess']" value="{{defaultDistributionFormValues[14]['fieldValue']}}" (click)="GetDefaultDistribution()"/>
                        
                    </div>
                </div><!-- Buton Row Ends -->
            </div><!-- Form Row Ends -->
        </div>
    </div><!-- Form Row Ends -->
</modal-content>
</modal>
<modal #exchangeRateDetail id="exchangeRateDetail" [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-lg">
    <modal-header>
        {{exchangeRateScreenModuleName}}
    </modal-header>
    <modal-content>
        <div class="content-outer com-form">
            <div class="row">
                <form (ngSubmit)="!hasMsg && f4.form.valid && SaveExchangeRateDetail(f4)" id="exchangeRateDetail" #f4="ngForm" novalidate>
                    <div class="form-row" *ngIf="defaultExchangeRateFormValues[1]['readAccess']">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="bt-row">
                                <div class="label-outer">
                                    <label>{{defaultExchangeRateFormValues[1]['fieldValue']}}</label>
                                </div><!-- Label Outer Ends -->
                                <div class="value-outer">
                                    <input type="text"  [readonly]="true" [ngClass]="'form-control fm-txt'" name="currencyID" [(ngModel)]="model.currencyID" 
                                    #currencyID="ngModel"  maxlength="15" title="{{defaultExchangeRateFormValues[1]['helpMessage']}}" >
                                </div><!-- Value Outer ENds -->  
                            </div><!-- Bt Row Ends -->
                        </div>
                    </div>
                    <div class="form-row" *ngIf="defaultExchangeRateFormValues[2]['readAccess']">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="bt-row">
                                <div class="label-outer">
                                    <label>{{defaultExchangeRateFormValues[2]['fieldValue']}}</label>
                                </div><!-- Label Outer Ends -->
                                <div class="value-outer"  [ngClass]="{ 'has-error': f.submitted && activeExchangeDetail[0].id == '0','':true }">
                                    <div >
                                        <ng-select [allowClear]="false"
                                        [active]="activeExchangeDetail"
                                        [items]="arrExchangeDetail"
                                        [disabled]="false"
                                        (data)="bindSelectedItem($event,'ExchangeDetail')"
                                        title="{{defaultExchangeRateFormValues[2]['helpMessage']}}">
                                    </ng-select>
                                </div><!-- Value Outer ENds -->  
                                <div *ngIf="f.submitted && activeExchangeDetail[0].id == '0'">
                                    <div class='error-msg'>
                                        {{defaultExchangeRateFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div><!-- Bt Row Ends -->
                    </div><!-- Form Row Ends -->
                </div>
                <div class="form-row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="bt-row" *ngIf="defaultExchangeRateFormValues[3]['readAccess']">
                            <div class="label-outer">
                                <label>{{defaultExchangeRateFormValues[3]['fieldValue']}}</label>
                            </div><!-- Label Outer Ends -->
                            <div class="value-outer" [ngClass]="{'has-error': f.submitted && !exchangeTableRate.valid,'':true}">
                                <div >
                                    <!-- <input  type="text" class="form-control fm-txt" required title="{{defaultExchangeRateFormValues[3]['helpMessage']}}"/> -->
                                    <input  type="text" class="form-control fm-txt" [readonly]="!defaultExchangeRateFormValues[3]['writeAccess']" 
                                    name="exchangeTableRate" [(ngModel)]="model.exchangeTableRate"
                                    #exchangeTableRate="ngModel" required title="{{defaultExchangeRateFormValues[3]['helpMessage']}}"/>
                                </div><!-- Value Outer ENds -->  
                                <div *ngIf="f.submitted && exchangeTableRate.invalid">
                                    <div class='error-msg' *ngIf="exchangeTableRate.errors.required">
                                        {{defaultExchangeRateFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div><!-- Bt Row Ends -->
                    </div>                                
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="bt-row" *ngIf="defaultExchangeRateFormValues[4]['readAccess']">
                            <div class="label-outer">
                                <label>{{defaultExchangeRateFormValues[4]['fieldValue']}}</label>
                            </div><!-- Label Outer Ends -->
                            <div class="value-outer">
                                <input  type="text" class="form-control fm-txt" readonly 
                                name="exchangeExpirationDate" [(ngModel)]="model.exchangeExpirationDate"
                                #exchangeExpirationDate="ngModel" required title="{{defaultExchangeRateFormValues[4]['helpMessage']}}"/>
                            </div><!-- Value Outer ENds -->  
                        </div><!-- Bt Row Ends -->
                    </div>
                </div><!-- Form Row Ends -->
                
                <div class="form-row">
                    <div class="button-row">
                        <div class="col-sm-12">
                            <input type="submit" title="{{defaultExchangeRateFormValues[5]['helpMessage']}}" (click)="exchangeRateDetail.close()"
                            class="orange-btn-sm" *ngIf="defaultExchangeRateFormValues[5]['readAccess']" [readonly]="!defaultExchangeRateFormValues[5]['writeAccess']"
                            value="{{defaultExchangeRateFormValues[5]['fieldValue']}}"/>
                            <!-- <button class="btn btn-primary close-button" (click)="exchangeRateDetail.close()">{{btnCancelText}}</button> -->
                        </div>
                    </div><!-- Buton Row Ends -->
                </div><!-- Form Row Ends -->
            </form>
        </div>
    </div><!-- Form Row Ends -->
</modal-content>
</modal>
<modal #ModalAccount [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-sm">
    <modal-header>
        {{accountDescriptionTitle}}
    </modal-header>
    <modal-content>
        {{accountDescription}}
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary close-button" (click)="ModalAccount.close()">{{close}}</button>
    </modal-footer>
</modal>
</div><!-- Content OUter Ends -->