<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[5]['helpMessage']}}">{{defaultFormValues[5]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="DepartmentGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                           [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                    [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Department Id -->
              <ngx-datatable-column name="departmentId" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('departmentId')">{{defaultFormValues[1]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Department Description -->
              <ngx-datatable-column name="departmentDescription" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('departmentDescription')">{{defaultFormValues[2]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid  Arabic Department Description -->
              <ngx-datatable-column name="arabicDepartmentDescription" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('arabicDepartmentDescription')">{{defaultFormValues[3]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{defaultFormValues[4]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[10]['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{defaultFormValues[11]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{defaultFormValues[12]['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>

            <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateDepartment(f, $event)" #f="ngForm" novalidate>


              <!-- Department Id field -->
              <div [ngClass]="'form-group'">
                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #update>
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="departmentId">{{defaultFormValues[1]['fieldValue']}}</label>
                      <span *ngIf="availableFormValues[1]['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="departmentId" value="{{departmentIdvalue}}"
                             title="{{defaultFormValues[0]['helpMessage']}}" maxlength="15" readonly [required]="availableFormValues[1]['isMandatory']" />
                      <div *ngIf="f.submitted && departmentId.invalid">
                        <div [hidden]="!departmentId.errors.required">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!departmentId.errors?.maxlength">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template #create>
                  <div [ngClass]="{ 'has-error': f.submitted && !departmentId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label for="departmentId">{{defaultFormValues[1]['fieldValue']}}</label>
                      <span *ngIf="availableFormValues[1]['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="departmentId" [(ngModel)]="model.departmentId" #departmentId="ngModel"
                             title="{{defaultFormValues[1]['helpMessage']}}" maxlength="15" [required]="availableFormValues[1]['isMandatory']" />
                      <div *ngIf="f.submitted && departmentId.invalid">
                        <div [hidden]="!departmentId.errors.required">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!departmentId.errors?.maxlength">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>


              </div>

              <!-- Department Description Field -->
              <div [ngClass]="'form-group'">
                <div [ngClass]="{'has-error': f.submitted && !departmentDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="departmentDescription">{{defaultFormValues[2]['fieldValue']}}</label>
                    <span *ngIf="availableFormValues[2]['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="departmentDescription" [(ngModel)]="model.departmentDescription"
                           #departmentDescription="ngModel" title="{{defaultFormValues[2]['helpMessage']}}"
                           maxlength="31" [required]="availableFormValues[2]['isMandatory']" />
                    <div *ngIf="f.submitted && departmentDescription.invalid">
                      <div [hidden]="!departmentDescription.errors.required">
                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!departmentDescription.errors?.maxlength">
                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Arabic department description -->
              <div [ngClass]="'form-group'">
                <div [ngClass]="{'has-error': f.submitted && !arabicDepartmentDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="arabicDepartmentDescription">{{defaultFormValues[3]['fieldValue']}}</label>
                    <span *ngIf="availableFormValues[3]['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDepartmentDescription" [(ngModel)]="model.arabicDepartmentDescription"
                           #arabicDepartmentDescription="ngModel" title="{{defaultFormValues[3]['helpMessage']}}"
                           maxlength="61" [required]="availableFormValues[3]['isMandatory']" />
                    <div *ngIf="f.submitted && arabicDepartmentDescription.invalid">
                      <div [hidden]="!arabicDepartmentDescription.errors.required">
                        {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!arabicDepartmentDescription.errors?.maxlength">
                        {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                                            <span class="pull-right">
                                                <button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[9]['fieldValue']}}</button>
                                                <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[6]['fieldValue']}}</button>
                                                <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[7]['fieldValue']}}</button>
                                                <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[8]['fieldValue']}}</button>
                                            </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>