<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{EMPLOYEE_NATIONALITY_CREATE_LABEL['helpMessage']}}">{{EMPLOYEE_NATIONALITY_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{EMPLOYEE_NATIONALITY_SEARCH['helpMessage']}}" placeholder="{{EMPLOYEE_NATIONALITY_SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>

        <div class="algo-table algo-table-department" width="70% !important;">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="EmployeeNationalityGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

               <!-- Data Grid Columns -->
              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                  <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                          <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                          <div 
                          [draggable]="isConfigure"
                          (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                          (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                          (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                          (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                      </ng-template>
                  </ngx-datatable-column>  
                </div>
              </div>

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{EMPLOYEE_NATIONALITY_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{EMPLOYEE_NATIONALITY_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.employeeNationalityIndexId">{{EMPLOYEE_NATIONALITY_CREATE_LABEL['fieldValue']}} {{commonService.moduleName}}</h3>
              <h3 *ngIf="model.employeeNationalityIndexId">{{EMPLOYEE_NATIONALITY_UPDATE_LABEL['fieldValue']}} {{commonService.moduleName}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && createEmployeeNationality(f, $event)" #f="ngForm" novalidate>

              <!-- Location Id field -->
              <div class="form-group">
                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #update>
                  <!-- Employee Nationality Id field -->
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="employeeNationalityId">{{EMPLOYEE_NATIONALITY_NATIONALITY_ID['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="employeeNationalityId" value="{{employeeNationalityIdvalue}}" (keyup)="CheckNumber($event)"
                        title="{{EMPLOYEE_NATIONALITY_NATIONALITY_ID['helpMessage']}}" maxlength="5" #employeeNationalityId readonly required/>
                      <div *ngIf="f.submitted && employeeNationalityId.invalid">
                        <div [hidden]="!employeeNationalityId.errors.required">
                          {{EMPLOYEE_NATIONALITY_NATIONALITY_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template #create>
                  <!-- Employee Nationality Id field -->
                  <div [ngClass]="{ 'has-error': f.submitted && !employeeNationalityId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="employeeNationalityId">{{EMPLOYEE_NATIONALITY_NATIONALITY_ID['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_NATIONALITY_NATIONALITY_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'"  style="display:table-cell; width:100%; min-height:40px !important;"
                        class="search-id" 
                        name="employeeNationalityId" [(ngModel)]="model.employeeNationalityId" #employeeNationalityId="ngModel" (keyup)="CheckNumber($event)"
                        title="{{EMPLOYEE_NATIONALITY_NATIONALITY_ID['helpMessage']}}" maxlength="5" [required]="EMPLOYEE_NATIONALITY_NATIONALITY_ID['isMandatory']" [typeahead]="dataSource"
                        (typeaheadLoading)="changeTypeaheadLoading($event)" autocomplete="off" 
                        (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="employeeNationalityId" />
                      <div *ngIf="f.submitted && employeeNationalityId.invalid">
                        <div [hidden]="!employeeNationalityId.errors.required">
                          {{EMPLOYEE_NATIONALITY_NATIONALITY_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>

              <!--Employee Nationality Description Field -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !employeeNationalityDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="employeeNationalityDescription">{{EMPLOYEE_NATIONALITY_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_NATIONALITY_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="employeeNationalityDescription" [(ngModel)]="model.employeeNationalityDescription"
                      #employeeNationalityDescription="ngModel" title="{{EMPLOYEE_NATIONALITY_DESCRIPTION['helpMessage']}}" maxlength="60"
                      [required]="EMPLOYEE_NATIONALITY_DESCRIPTION['isMandatory']" />
                    <div *ngIf="f.submitted && employeeNationalityDescription.invalid">
                      <div [hidden]="!employeeNationalityDescription.errors.required">
                        {{EMPLOYEE_NATIONALITY_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Arabic Employee Nationality description -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !employeeNationalityDescriptionArabic.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="employeeNationalityDescriptionArabic">{{EMPLOYEE_NATIONALITY_ARABIC_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_NATIONALITY_ARABIC_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="employeeNationalityDescriptionArabic" [(ngModel)]="model.employeeNationalityDescriptionArabic"
                      #employeeNationalityDescriptionArabic="ngModel" title="{{EMPLOYEE_NATIONALITY_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="90"
                      [required]="EMPLOYEE_NATIONALITY_ARABIC_DESCRIPTION['isMandatory']" />
                    <div *ngIf="f.submitted && employeeNationalityDescriptionArabic.invalid">
                      <div [hidden]="!employeeNationalityDescriptionArabic.errors.required">
                        {{EMPLOYEE_NATIONALITY_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.employeeNationalityIndexId" [ngClass]="'grey-btn'">{{EMPLOYEE_NATIONALITY_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.employeeNationalityIndexId" [ngClass]="'grey-btn'">{{EMPLOYEE_NATIONALITY_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{EMPLOYEE_NATIONALITY_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{EMPLOYEE_NATIONALITY_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- Create Update form ends -->

      </div>
    </section>
  </section>
</div>
