
<div class="content-wrapper user-view">
	<section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<section class="inner-content">
			<div class="content-outer com-form">
				<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}
				</div>
				<div class="row">
					<div class="form-row">
						<div class="col-xs-12">
							<div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
								</div>
							</div>
							<div class="algo-table">
								<div class="table-responsive">          
									<ngx-datatable id="customerMaintenance" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="Searchselected" (select)='onSelect($event)'>
										<ngx-datatable-column *ngIf="gridDefaultFormValues[0]['readAccess']" name="customerID" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
											<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
												<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[0]['fieldValue']}}</span>
											</ng-template>
											<ng-template let-value="value" ngx-datatable-cell-template>
												{{value}}
											</ng-template>
										</ngx-datatable-column>
										<ngx-datatable-column *ngIf="gridDefaultFormValues[1]['readAccess']" name="name" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
											<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
												<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[1]['fieldValue']}}</span>
											</ng-template>
											<ng-template let-value="value" ngx-datatable-cell-template>
												{{value}}
											</ng-template>
										</ngx-datatable-column>
										
										<ngx-datatable-column *ngIf="gridDefaultFormValues[2]['readAccess']" name="arabicName" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
											<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
												<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[2]['fieldValue']}}</span>
											</ng-template>
											<ng-template let-value="value" ngx-datatable-cell-template>
												{{value}}
											</ng-template>
										</ngx-datatable-column>
										
										<ngx-datatable-column *ngIf="gridDefaultFormValues[3]['readAccess']" name="classId" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
											<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
												<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[3]['fieldValue']}}</span>
											</ng-template>
											<ng-template let-value="value" ngx-datatable-cell-template>
												{{value}}
											</ng-template>
										</ngx-datatable-column>
										<ngx-datatable-column *ngIf="gridDefaultFormValues[3]['readAccess']" name="priority" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
											<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
												<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[4]['fieldValue']}}</span>
											</ng-template>
											<ng-template let-value="value" ngx-datatable-cell-template>
												{{value}}
											</ng-template>
										</ngx-datatable-column>
										
										
										<ngx-datatable-column *ngIf="gridDefaultFormValues[7]['readAccess']" name="Action" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
											<ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
												<span class="sort-btn">{{gridDefaultFormValues[7]['fieldValue']}}</span>
											</ng-template>
											<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
												<button class="edit-ico" (click)="edit(row)" title="{{gridDefaultFormValues[5]['helpMessage']}}" *ngIf="gridDefaultFormValues[5]['readAccess']"></button>
												<!-- <button class="del-ico" (click)="delete(row)" title="Delete"></button> -->
											</ng-template>
										</ngx-datatable-column>
									</ngx-datatable>
								</div>
								
								<div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
										<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control wd55" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" style="width:100%">
												<option value="5">5 {{atATimeText}} </option>
												<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
												<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
												<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
							</div><!-- Algo Table Ends -->
							
						</div>
					</div><!-- Form Row Ends -->
					
					
					<form class="search-batch" name="custmain" (ngSubmit)="custmain.form.valid && save(custmain)" #custmain="ngForm" novalidate>
						<div class="form-row"> 
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="col-sm-5 no-padding">
									<div   *ngIf="defaultFormValues[0]['readAccess']">
										<label class="wd100">{{defaultFormValues[0]['fieldValue']}}</label>
									</div> 
									
								</div>
								<div class="col-sm-7">
									<div class="row">
										<div class="col-sm-5" [ngClass]="{ 'has-error': custmain.submitted && customerID.invalid }">
											<input myAutofocus class="form-control fm-txt wd100 {{myHtml}} auto-focus" myAutofocus id="txtCustomerId" (blur)='IsIdAlreadyExist()' name="customerID" title="{{defaultFormValues[0]['helpMessage']}}" [(ngModel)]="customerMaintenance.customerID" #customerID="ngModel" [disabled]="disableId" required>
										</div>
										<div class="col-sm-7">
											<span class="choose-opt"><label><input title="{{defaultFormValues[1]['helpMessage']}}" type="checkbox" name="active" [checked]="customerMaintenance.active" [(ngModel)]="customerMaintenance.active" #active="ngModel"/>{{defaultFormValues[1]['fieldValue']}}</label></span>
											<span class="choose-opt"><label><input title="{{defaultFormValues[1]['helpMessage']}}" type="checkbox" name="hold" [checked]="customerMaintenance.hold" [(ngModel)]="customerMaintenance.hold" #hold="ngModel"/>{{defaultFormValues[2]['fieldValue']}}</label></span>
										</div>
									</div>
								</div>
								
								<div *ngIf="custmain.submitted && customerID.invalid">
									<div class='error-msg' *ngIf="customerID.errors.required">
										{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
								</div>	
								
							</div>
							
						</div><!-- Form Row Ends -->
						
						<div class="form-row">
							<div class="col-md-6 col-sm-6 col-xs-12" [ngClass]="{ 'has-error': custmain.submitted && !firstName.valid }" *ngIf="defaultFormValues[3]['readAccess']">
								<label>{{defaultFormValues[3]['fieldValue']}}</label>
								<input type="text" class="form-control fm-txt" name="firstName" title="{{defaultFormValues[3]['helpMessage']}}" [(ngModel)]="customerMaintenance.firstName" #firstName="ngModel" maxlength="50" required>
								<div *ngIf="custmain.submitted && firstName.invalid">
									<div class='error-msg' *ngIf="firstName.errors.required">
										{{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="firstName.errors.maxlength">
										{{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
							</div>
							
							<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultFormValues[4]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && !ArabicName.valid }">
								<label>{{defaultFormValues[4]['fieldValue']}}</label>
								<input type="text" class="form-control fm-txt" name="ArabicName" title="{{defaultFormValues[4]['helpMessage']}}" [(ngModel)]="customerMaintenance.ArabicName" #ArabicName="ngModel" maxlength="50" required>
								<div *ngIf="custmain.submitted && ArabicName.invalid">
									<div class='error-msg' *ngIf="ArabicName.errors.required">
										{{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="ArabicName.errors.maxlength">
										{{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
								</div>
							</div> 
						</div><!-- Form Row Ends -->
						
						<div class="form-row">
							
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[5]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && !ShortName.valid }">
								<label>{{defaultFormValues[5]['fieldValue']}}</label>
								<input type="text" class="form-control fm-txt" name="ShortName" title="{{defaultFormValues[5]['helpMessage']}}" [(ngModel)]="customerMaintenance.ShortName" #ShortName="ngModel" maxlength="10" required>
								<div *ngIf="custmain.submitted && ShortName.invalid">
									<div class='error-msg' *ngIf="ShortName.errors.required">
										{{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="ShortName.errors.maxlength">
										{{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
							</div>
							
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[6]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && classId.length == 0  }">
								<label>{{defaultFormValues[6]['fieldValue']}}</label>
								<!--<select class="form-control fm-txt wd55" name='classId' title="{{defaultFormValues[6]['helpMessage']}}" [(ngModel)]="customerMaintenance.classId" #classId="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let c of customerClass" [value]="c.customerClassId">{{c.customerClassId}}</option>
								</select>-->
								<div class="select-outer">
									<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrClassId" [(ngModel)]="classId" ID="classId" [ngModelOptions]="{standalone: true}"
									[settings]="ddlClassIdSetting" 
									(onSelect)="getClassByID($event)" (onDeSelect)="OnClassIdDeSelect($event)"></angular2-multiselect>
									<div *ngIf="custmain.submitted && classId.length == 0 ">
										<div class='error-msg'>
											{{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
							</div>
							
						</div><!-- Form Row Ends -->
						
						<div class="form-row">
							
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[7]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && !StatementName.valid }">
								<label>{{defaultFormValues[7]['fieldValue']}}</label>
								<input type="text" class="form-control fm-txt" name="StatementName" title="{{defaultFormValues[7]['helpMessage']}}" [(ngModel)]="customerMaintenance.StatementName" #StatementName="ngModel" maxlength="50" required>
								<div *ngIf="custmain.submitted && StatementName.invalid">
									<div class='error-msg' *ngIf="StatementName.errors.required">
										{{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="StatementName.errors.maxlength">
										{{defaultFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
							</div>
						</div><!-- Form Row Ends -->
						
						<div class="form-row">
							
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="form-row" *ngIf="defaultFormValues[8]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && !adress1.valid }">
									<label>{{defaultFormValues[8]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="adress1" title="{{defaultFormValues[8]['helpMessage']}}" [(ngModel)]="customerMaintenance.adress1" #adress1="ngModel" required>
									<div *ngIf="custmain.submitted && adress1.invalid">
										<div class='error-msg' *ngIf="adress1.errors.required">
											{{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								<div class="form-row" *ngIf="defaultFormValues[20]['readAccess']">
									<label></label>
									<input type="text" class="form-control fm-txt" name="adress2" title="{{defaultFormValues[20]['helpMessage']}}" [(ngModel)]="customerMaintenance.adress2" #adress2="ngModel">
									
								</div>
								<div class="form-row" *ngIf="defaultFormValues[21]['readAccess']">
									<label></label>
									<input type="text" class="form-control fm-txt" name="adress3" title="{{defaultFormValues[21]['helpMessage']}}" [(ngModel)]="customerMaintenance.adress3" #adress3="ngModel">
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[15]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && !country.valid }">
									<label>{{defaultFormValues[15]['fieldValue']}}</label>
									<select class="form-control fm-txt wd55" name='country' title="{{defaultFormValues[15]['helpMessage']}}" [(ngModel)]="formCountries" (change)="selected($event)" #country="ngModel" required>
										<option value="">--{{select}}--</option>
										<option *ngFor="let c of countries" [value]="c.countryId">{{c.countryName}}</option>
									</select>
									<div *ngIf="custmain.submitted && country.invalid">
										<div class='error-msg' *ngIf="country.errors.required">
											{{defaultFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[16]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && !state.valid }">
									<label>{{defaultFormValues[16]['fieldValue']}}</label>
									<select class="form-control fm-txt wd55" name='state' title="{{defaultFormValues[16]['helpMessage']}}" [(ngModel)]="formStates"  (change)="selectedState($event)" #state="ngModel" required>
										<option value="">--{{select}}--</option>
										<option *ngFor="let s of states" [ngValue]="s.stateId">{{s.stateName}}</option>
									</select>
									
									<div *ngIf="custmain.submitted && state.invalid">
										<div class='error-msg' *ngIf="state.errors.required">
											{{defaultFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
									
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[17]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && !city.valid }">
									<label>{{defaultFormValues[17]['fieldValue']}}</label>
									<select class="form-control fm-txt wd55" name='city' title="{{defaultFormValues[17]['helpMessage']}}" [(ngModel)]="formCities" #city="ngModel" required>
										<option value="">--{{select}}--</option>
										<option *ngFor="let c of cities" [ngValue]="c.cityId">{{c.cityName}}</option>
									</select>
									<div *ngIf="custmain.submitted && city.invalid">
										<div class='error-msg' *ngIf="city.errors.required">
											{{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								
								
								
							</div>
							
							<div class="col-md-6 col-sm-6 col-xs-12" >
								<div class="form-row arabic-mode" *ngIf="defaultFormValues[9]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && !phone1.valid }">
									<label>{{defaultFormValues[9]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt " name="phone1" title="{{defaultFormValues[9]['helpMessage']}}" [(ngModel)]="customerMaintenance.phone1" #phone1="ngModel" maxlength="10" required pattern="[0-9]+" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="custmain.submitted && phone1.invalid">
										<div class='error-msg' *ngIf="phone1.errors.required">
											{{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="phone1.errors.maxlength">
											{{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="phone1.errors.pattern">
											Please enter valid mobile number
										</div>
									</div>
								</div>
								<div class="form-row arabic-mode" *ngIf="defaultFormValues[10]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && !phone2.valid }">
									<label>{{defaultFormValues[10]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="phone2" title="{{defaultFormValues[10]['helpMessage']}}" [(ngModel)]="customerMaintenance.phone2" #phone2="ngModel" maxlength="10" pattern="[0-9]+" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="custmain.submitted && phone2.invalid">
										<!--<div class='error-msg' *ngIf="phone2.errors.required">
											{{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>-->
										<div class='error-msg' *ngIf="phone2.errors.maxlength">
											{{defaultFormValues[10]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="phone2.errors.pattern">
											Please enter valid mobile number
										</div>
									</div>
								</div>
								
								<div class="form-row arabic-mode" *ngIf="defaultFormValues[11]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && !phone3.valid }">
									
									<label>{{defaultFormValues[11]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="phone3" title="{{defaultFormValues[11]['helpMessage']}}" [(ngModel)]="customerMaintenance.phone3" #phone3="ngModel" maxlength="10" pattern="[0-9]+" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="custmain.submitted && phone3.invalid">
										<!--<div class='error-msg' *ngIf="phone3.errors.required">
											{{defaultFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>-->
										<div class='error-msg' *ngIf="phone3.errors.maxlength">
											{{defaultFormValues[11]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="phone3.errors.pattern">
											Please enter valid mobile number
										</div>
									</div>
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[12]['readAccess']" [ngClass]="{ 'has-error': custmain.submitted && !fax.valid }">
									<label>{{defaultFormValues[12]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="fax" 
									OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)" 
									title="{{defaultFormValues[12]['helpMessage']}}" [(ngModel)]="customerMaintenance.fax" 
									#fax="ngModel" maxlength="10" required>
									<div *ngIf="custmain.submitted && fax.invalid">
										<div class='error-msg' *ngIf="fax.errors.required">
											{{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="fax.errors.maxlength">
											{{defaultFormValues[12]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
									</div>
								</div>
								
								<div *ngIf="defaultFormValues[13]['readAccess']" class="form-row">
									<label>{{defaultFormValues[13]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" [readonly]="!defaultFormValues[13]['writeAccess']" name="userDefine1" title="{{defaultFormValues[13]['helpMessage']}}" [(ngModel)]="customerMaintenance.userDefine1" #userDefine1="ngModel">
								</div>
								<div *ngIf="defaultFormValues[14]['readAccess']" class="form-row">
									<label>{{defaultFormValues[14]['fieldValue']}}</label>
									<input type="text" [readonly]="!defaultFormValues[14]['writeAccess']" class="form-control fm-txt" name="userDefine2" title="{{defaultFormValues[14]['helpMessage']}}" [(ngModel)]="customerMaintenance.userDefine2" #userDefine2="ngModel">
									
								</div><!-- Form Row Ends -->
							</div>
						</div><!-- Form Row Ends -->
						<div class="button-row">
							<div class="col-sm-12">
								<input type="submit" value="{{defaultFormValues[18]['fieldValue']}}" 
								class="orange-btn" title="{{defaultFormValues[18]['helpMessage']}}"
								[disabled]="LockScreen(defaultFormValues[18]['writeAccess'])">
								<input type="button" style="margin-left:18px"  class="blue-btn"
								 (click)="clearForm(custmain);" title="{{defaultFormValues[19]['helpMessage']}}" value="{{defaultFormValues[19]['fieldValue']}}"/>
								<input type="button" class="blue-btn" *ngIf="showBtns" 
								(click)="Cancel(custmain)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
								<input type="button"  (click)="redirect1()"
								[disabled]="LockScreen(defaultFormValues[18]['writeAccess'])" class="blue-btn" title="{{defaultFormValues[22]['helpMessage']}}" value="{{defaultFormValues[22]['fieldValue']}}"/>
								<input type="button" (click)="redirect2()"
								[disabled]="LockScreen(defaultFormValues[18]['writeAccess'])"
								 class="blue-btn" title="{{defaultFormValues[23]['helpMessage']}}" value="{{defaultFormValues[23]['fieldValue']}}"/>
								
								<input type="button" (click)="print()"
								[disabled]="LockScreen(defaultFormValues[18]['writeAccess'])"
								 class="blue-btn" title="{{defaultFormValues[23]['helpMessage']}}" value="PRINT"/>
							</div>
						</div><!-- Buton Row Ends -->
					</form>
					
				</div>
			</div><!-- Content OUter Ends -->
		</section>
	</section>
</div>
<style>
	.border-vanish{border:2px solid #d9d9d9;}
</style>