<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
    </div>

  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="button-row">
          <!-- Create / Update Form start -->
          <div>
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
            </div>
            <!-- <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div> -->
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && updateCode(f, $event)" #f="ngForm" novalidate>

              <!-- Code Type -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && codeType1.invalid ,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="codeType">{{PAYROLL_CODE_MODIFIER_CODE_TYPE['fieldValue']}}</label>
                    <span *ngIf="PAYROLL_CODE_MODIFIER_CODE_TYPE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select [ngClass]="'form-control fm-txt'" name="codeType" [(ngModel)]="codeType" #codeType1="ngModel"
                      title="{{PAYROLL_CODE_MODIFIER_CODE_TYPE['helpMessage']}}" [required]="PAYROLL_CODE_MODIFIER_CODE_TYPE['isMandatory']"
                      (ngModelChange)="getCode(codeType)">
                      <option value="">-- Select code type --</option>
                      <option *ngFor="let type of codeTypes" [value]="type.id">{{type.name}}</option>

                    </select>
                    <div *ngIf="f.submitted && codeType1.invalid">
                      <div [hidden]="!codeType1.errors.required">
                        This field is required
                        <!-- {{PAYROLL_CODE_MODIFIER_CODE_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}} -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Old Code -->
              <div class="form-group" *ngIf="codeType">
                <div [ngClass]="{'has-error': f.submitted && model.id==null,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="oldCode">{{PAYROLL_CODE_MODIFIER_OLD_CODE['fieldValue']}}</label>
                    <span *ngIf="PAYROLL_CODE_MODIFIER_OLD_CODE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8" *ngIf="codeType==1">
                    <select [ngClass]="'form-control fm-txt'" name="oldCode" [(ngModel)]="model.id" #oldCode1="ngModel"
                      title="{{PAYROLL_CODE_MODIFIER_OLD_CODE['helpMessage']}}" [required]="PAYROLL_CODE_MODIFIER_OLD_CODE['isMandatory']">
                      <option value="null">-- Select code --</option>
                      <option *ngFor="let code of arrays" [value]="code.id">{{code.payCodeId}}</option>
                    </select>
                    <div *ngIf="f.submitted && oldCode1.invalid">
                        This field is required
                        <!-- {{PAYROLL_CODE_MODIFIER_CODE_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}} -->
                    </div>
                  </div>
                  <div class="col-md-8" *ngIf="codeType==2">
                    <select [ngClass]="'form-control fm-txt'" name="oldCode" [(ngModel)]="model.id" #oldCode1="ngModel"
                      title="{{PAYROLL_CODE_MODIFIER_OLD_CODE['helpMessage']}}" [required]="PAYROLL_CODE_MODIFIER_OLD_CODE['isMandatory']">
                      <option value="null">-- Select code --</option>
                      <option *ngFor="let code of arrays" [value]="code.id">{{code.benefitId}}</option>
                    </select>
                    <div *ngIf="f.submitted && oldCode1.invalid">
                        This field is required
                        <!-- {{PAYROLL_CODE_MODIFIER_CODE_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}} -->
                    </div>
                  </div>
                  <div class="col-md-8" *ngIf="codeType==3">
                    <select [ngClass]="'form-control fm-txt'" name="oldCode" [(ngModel)]="model.id" #oldCode1="ngModel"
                      title="{{PAYROLL_CODE_MODIFIER_OLD_CODE['helpMessage']}}" [required]="PAYROLL_CODE_MODIFIER_OLD_CODE['isMandatory']">
                      <option value="null">-- Select code --</option>
                      <option *ngFor="let code of arrays" [value]="code.id">{{code.diductionId}}</option>
                    </select>
                    <div *ngIf="f.submitted && oldCode1.invalid">
                        This field is required
                        <!-- {{PAYROLL_CODE_MODIFIER_CODE_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}} -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- New Code -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="oldCode">{{PAYROLL_CODE_MODIFIER_NEW_CODE['fieldValue']}}</label>
                    <span *ngIf="PAYROLL_CODE_MODIFIER_NEW_CODE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="newCode" [(ngModel)]="model.newCode"
                      #newCode="ngModel" title="{{PAYROLL_CODE_MODIFIER_NEW_CODE['helpMessage']}}" [required]="PAYROLL_CODE_MODIFIER_NEW_CODE['isMandatory']" />
                    <div *ngIf="f.submitted && newCode.invalid">
                          This field is required
                        <!-- {{PAYROLL_CODE_MODIFIER_NEW_CODE['listDtoFieldValidationMessage'][0]['validationMessage']}} -->
                    </div>
                  </div>
                </div>
              </div>


              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button [ngClass]="'grey-btn'">{{PAYROLL_CODE_MODIFIER_UPDATE['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{PAYROLL_CODE_MODIFIER_CLEAR['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>