
 <div class="content-wrapper user-view" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                         {{messageText}}
                      </div>
                      
					  <div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control"
										(keyup)='updateFilter($event)' />
								</div>
						 </div>
                    <div class="content-outer com-form">
                      <div class="row">
						<div class="form-row">  
                        	<div class="col-xs-12">
		                        <div class="algo-table">
		                        <div class="table-responsive">
						<ngx-datatable id="configurationGrid" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							(select)='onSelect($event)'>
							<ngx-datatable-column *ngIf="defaultManageFormValues[5]['readAccess']"  name="accountTypeId" [width]="150"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[5]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column>  
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="accountTypeName" [width]="320"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="accountTypeNameArabic" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="320" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="Action" [width]="99"  
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[4]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getaccountTypeById(row)" title="{{defaultManageFormValues[3]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
		                    </div>
                            <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
                        </div><!-- Form Row Ends -->

						 <form (ngSubmit)="!hasMsg && f.form.valid && saveaccountType(f)" #f="ngForm" novalidate>
                         <div class="form-row">
                            <div *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !accountTypeName.valid,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="accountTypeName">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                <input myAutofocus type="text" [ngClass]="'form-control fm-txt auto-focus'"  autofocus name="accountTypeName" [(ngModel)]="model.accountTypeName" 
                                #accountTypeName="ngModel" (blur)="IsAccountTypeAlreadyExist()"
                                title="{{defaultAddFormValues[0]['helpMessage']}}"
                                 maxlength="25"   required />
                                <div *ngIf="f.submitted && accountTypeName.invalid">
                                    <div class='error-msg' *ngIf="accountTypeName.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="accountTypeName.errors.maxlength">
                                        {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            
                        </div><!-- Form Row Ends -->

						<div class="form-row">
                                                      
                             <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !accountTypeNameArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true }">
                                <label for="accountTypeNameArabic">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="accountTypeNameArabic" [(ngModel)]="model.accountTypeNameArabic" 
                                #accountTypeNameArabic="ngModel" 
                                title="{{defaultAddFormValues[1]['helpMessage']}}" maxlength="25"   required />
                                <div *ngIf="f.submitted && accountTypeNameArabic.invalid">
                                    <div class='error-msg' *ngIf="accountTypeNameArabic.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="accountTypeNameArabic.errors.maxlength">
                                        {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            
                        </div><!-- Form Row Ends -->
						
                        <div class="button-row">
                      <div class="col-sm-12">
                        <input type="submit" [disabled]="LockScreen(defaultAddFormValues[3]['writeAccess'])" class="orange-btn" title="{{defaultAddFormValues[2]['helpMessage']}}" value="{{defaultAddFormValues[2]['fieldValue']}}"/>
                        <input type="button" class="blue-btn" (click)="resetMe(f)" title="{{defaultAddFormValues[3]['helpMessage']}}" value="{{defaultAddFormValues[3]['fieldValue']}}"/>
                        <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                    </div>

                        </div>
  					</form>
                        
                      </div> <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                     
                  </section>
                </section>
            </div>
