
 <div class="content-wrapper user-view" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                         {{messageText}}
                      </div>
                      
                    <div class="content-outer com-form">
                      <div class="row">
                       <form (ngSubmit)="!hasMsg && f.form.valid && saveInsuranceClassSetup(f)" #f="ngForm" novalidate> 
                            <div class="form-row">
                                   <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !insuranceClassId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="insuranceClassId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                             <!--<div class="select-outer">-->
                                   <input type="text" myAutofocus [ngClass]="'form-control fm-txt'" name="insuranceClassId" [(ngModel)]="model.insuranceClassId" 		
                                        #insuranceClassId="ngModel" 		
                                        title="{{defaultAddFormValues[0]['helpMessage']}}"		
                                         [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>
                                 <!--<select myAutofocus class="form-control fm-txt auto-focus" name="insuranceClassId" [(ngModel)]="model.insuranceClassId" #insuranceClassId="ngModel" 
                                           title="{{defaultAddFormValues[0]['helpMessage']}}" required>
                                          <option *ngFor="let insuranceClass of insuranceclassid"  value="{{insuranceClass.insClassId}}" >
                                            {{insuranceClass.assetId}}
                                        </option>
                            </select>-->
                            <!--<angular2-multiselect  required [ngClass]="'form-control fm-txt'" [data]="ArrInsuranceClassId" [(ngModel)]="insuranceClassId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlInsuranceClassIdSetting" 
									 (onSelect)="getInsuranceClassByID($event)" (onDeSelect)="OnInsuranceClassIdDeSelect($event)"></angular2-multiselect>-->
                             <!--</div>-->
                             <div *ngIf="f.submitted && insuranceClassId.invalid">
                                    <div class='error-msg' *ngIf="insuranceClassId.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                            <div class="form-row">
                                   <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !insuranceDescriptionPrimary.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="insuranceDescriptionPrimary">{{defaultAddFormValues[1]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="insuranceDescriptionPrimary" [(ngModel)]="model.insuranceDescriptionPrimary" 		
                                        #insuranceDescriptionPrimary="ngModel" 		
                                        title="{{defaultAddFormValues[1]['helpMessage']}}"		
                                         [readonly]="!defaultAddFormValues[1]['writeAccess']" required/>
                             <div *ngIf="f.submitted && insuranceDescriptionPrimary.invalid">
                                    <div class='error-msg' *ngIf="insuranceDescriptionPrimary.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !insuranceDescriptionSecondary.valid,'':true}">
                         
                           <label for="insuranceDescriptionSecondary">{{defaultAddFormValues[2]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="insuranceDescriptionSecondary" [(ngModel)]="model.insuranceDescriptionSecondary" 		
                                        #insuranceDescriptionSecondary="ngModel" 		
                                        title="{{defaultAddFormValues[2]['helpMessage']}}"		
                                         [readonly]="!defaultAddFormValues[2]['writeAccess']" required/>
                             <div *ngIf="f.submitted && insuranceDescriptionSecondary.invalid">
                                    <div class='error-msg' *ngIf="insuranceDescriptionSecondary.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                            <div class="form-row">
                                   <div  *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{'has-error ': f.submitted && !inflationPercent.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="inflationPercent">{{defaultAddFormValues[3]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="inflationPercent" [(ngModel)]="model.inflationPercent" 		
                                        #inflationPercent="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   		
                                        title="{{defaultAddFormValues[3]['helpMessage']}}"		
                                         [readonly]="!defaultAddFormValues[3]['writeAccess']" required/>
                             <div *ngIf="f.submitted && inflationPercent.invalid">
                                    <div class='error-msg' *ngIf="inflationPercent.errors.required">
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                            <div class="form-row">
                                   <div  *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{'has-error ': f.submitted && !depriciationRate.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
                         
                           <label for="depriciationRate">{{defaultAddFormValues[4]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="depriciationRate" [(ngModel)]="model.depriciationRate" 		
                                        #depriciationRate="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   		
                                        title="{{defaultAddFormValues[4]['helpMessage']}}"		
                                         [readonly]="!defaultAddFormValues[4]['writeAccess']"/>
                            </div>
                            </div>
                               
                         <div class="button-row">
                      <div class="col-sm-12">
                                        <input type="submit"  [disabled]="LockScreen(defaultAddFormValues[5]['writeAccess'])"  value="{{defaultAddFormValues[5]['fieldValue']}}" class="orange-btn" title="{{defaultAddFormValues[5]['helpMessage']}}">
                                        <input type="button"  class="blue-btn" title="{{defaultAddFormValues[6]['helpMessage']}}" 
                                        (click)="f.resetForm();" value="{{defaultAddFormValues[6]['fieldValue']}}"/>
                        
                        </div>
                        </div>
</form>
					</div>
		          </div>
                  </section>
                      </section>
                        </div>
        