



<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
    </div>
    <div class="modal-footer">
           <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
           <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
           <button  class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

    </div>
  </div>
</div>

<div class="row">
<!-- screen header -->
<div class="page-header">
      <div class="page-header-title">
        <span><h3>{{commonService.moduleName}}</h3></span>
      </div>
      <!-- <div class="page-header-breadcrumb">
          <i class="ti-settings"></i>
      </div> -->
    </div>
    

    <!-- <div  class="setting-btn-wrap">
      <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
      <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
      <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
      <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
  </div> -->

<!-- screen header -->
<div class="col-sm-12">
<app-card [title]="" class="smtResponsiveContent">
  <div class="content-heading">
      <div class="search-top">
              <div class="form-group row nopaddingnopadding">
                      <div class="floating-label col-sm-4">      
                          <input class="floating-input"  (keyup)='updateFilter($event)' [readonly]="!defaultFormValues[0]['writeAccess']" type="text"
                           placeholder=" " *ngIf="defaultFormValues[0]['readAccess']" tabindex="1">
                          <span class="highlight"></span>
                          <label id="countryLabel">{{defaultFormValues[0]['fieldValue']}}</label>
                          <input type="hidden"/><span class="search-icon">
                              <i class="fa fa-search"></i>
                              </span>
                        </div>
                   <div class="col-sm-8 pull-right">
                          <button class="green-btn" *ngIf="defaultFormValues[14]['readAccess']" 
                          title="{{defaultFormValues[14]['helpMessage']}}" 
                          (click)="goToCreate()">{{defaultFormValues[14]['fieldValue']}}</button>
                   </div>
                      
                  </div>

         
          <!-- <input type="text" *ngIf="defaultFormValues[1]['readAccess']" class="search-txt form-control" title="{{defaultFormValues[1]['helpMessage']}}" placeholder="{{defaultFormValues[1]['fieldValue']}}"
              (keyup)='updateFilter($event)' [readonly]="!defaultFormValues[1]['writeAccess']"/> -->
      </div>
  </div>

  
<div class="table-responsive" style="overflow: auto;overflow-y: hidden;">
      <ngx-datatable 
      id="MainGrid" 
      class="material"
      [rows]="rows" 
      [columnMode]="'force'" 
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50" 
      [externalPaging]="true" 
      [count]="page.totalElements" 
      [offset]="page.pageNumber"
      
      [limit]="page.size" 
      (page)='setPage($event)'
      [selected]="selected"
      [selectionType]="'checkbox'"
      (select)='onSelect($event)'
      (activate)="edit($event)"
      
      
      >
      <!-- (activate)="edit($event)"
      [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText,selectedMessage:selectedText}" -->
      <ngx-datatable-column   [width]="70" [sortable]="false"  [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
      [checkboxable]="true"></ngx-datatable-column>


      <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
      <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
          <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="true">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                  <div 
                         [draggable]="isConfigure"
                         (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                         (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                         (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                         (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                  {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                  
              </ng-template>
          </ngx-datatable-column>  
       </div>
  </div>

 
 
</ngx-datatable>



</div>
<div class="button-row" *ngIf="page.totalElements > 0">
  <!-- Table View Starts -->
  <div class="table-view" *ngIf="defaultFormValues[14]['readAccess']" >
      <span>{{defaultFormValues[16]['fieldValue']}}</span>
      <div class="select-outer">
          <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                  <option [disabled]="!defaultFormValues[16]['writeAccess']"value="5">5 {{atATimeText}} </option>
                  <option [disabled]="!defaultFormValues[16]['writeAccess']" value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                  <option [disabled]="!defaultFormValues[16]['writeAccess']" value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                  <option [disabled]="!defaultFormValues[16]['writeAccess']" value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
          </select>
      </div>
  </div>
  <!-- Table View Ends -->
  <div class="bottom-view">
    
  </div>
  <button class="red-btn" *ngIf="!isScreenLock || defaultFormValues[13]['readAccess']" title="{{defaultFormValues[13]['helpMessage']}}"  [disabled]="!defaultFormValues[13]['writeAccess'] || selected.length == 0" (click)="varifyDelete()">{{defaultFormValues[13]['fieldValue']}}</button>
</div>

</app-card>


</div>
</div>