<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{LOCATION_CREATE_LABEL['helpMessage']}}">{{LOCATION_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{LOCATION_SEARCH['helpMessage']}}" placeholder="{{LOCATION_SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>

        <div class="algo-table algo-table-department" width="70% !important;">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="LocationGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="true" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                    </div>
            </div>

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="true" [width]="80" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{LOCATION_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>{{LOCATION_TABLEVIEW['fieldValue']}}</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option *ngFor="let tv of tableViews" [value]="tv.id">{{tv.name}}</option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{LOCATION_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{LOCATION_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{LOCATION_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && country.value!=0 && state.value!=0 && city.value!=0 && CreateLocation(f, $event)"
              #f="ngForm" novalidate>

              <!-- Location Id field -->
              <div class="form-group">

                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #update>
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="locationId">{{LOCATION_ID['fieldValue']}}</label>
                      <span *ngIf="LOCATION_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="locationId" value="{{locationIdvalue}}" title="{{LOCATION_ID['helpMessage']}}"
                        maxlength="15" [readonly]="LOCATION_ID['readAccess']" />

                    </div>
                  </div>
                </ng-template>


                <ng-template #create>
                  <div [ngClass]="{ 'has-error': f.submitted && !locationId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="locationId">{{LOCATION_ID['fieldValue']}}</label>
                      <span *ngIf="LOCATION_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="locationId" [(ngModel)]="model.locationId" #locationId="ngModel"
                        title="{{LOCATION_ID['helpMessage']}}" maxlength="15"  class="search-id" [typeahead]="locationIdList"
                        (typeaheadLoading)="changeTypeaheadLoading($event)" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                        typeaheadOptionField="locationId" [required]="LOCATION_ID['isMandatory']"/>
                      <div *ngIf="f.submitted && locationId.invalid">
                        <div [hidden]="!locationId.errors.required">
                          {{LOCATION_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!locationId.errors?.maxlength">
                          {{LOCATION_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>



              </div>

              <!-- Location Description Field -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !description.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="description">{{LOCATION_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="LOCATION_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="model.description" #description="ngModel"
                      title="{{LOCATION_DESCRIPTION['helpMessage']}}" [required]="LOCATION_DESCRIPTION['isMandatory']" maxlength="31" />
                    <div *ngIf="f.submitted && description.invalid">
                      <div [hidden]="!description.errors.required">
                        {{LOCATION_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!description.errors?.maxlength">
                        {{LOCATION_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Arabic location description -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !arabicDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="arabicDescription">{{LOCATION_ARABIC_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="LOCATION_ARABIC_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDescription" [(ngModel)]="model.arabicDescription" #arabicDescription="ngModel"
                      title="{{LOCATION_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61" [required]="LOCATION_ARABIC_DESCRIPTION['isMandatory']" />
                    <div *ngIf="f.submitted && arabicDescription.invalid">
                      <div [hidden]="!arabicDescription.errors.required">
                        {{LOCATION_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!arabicDescription.errors?.maxlength">
                        {{LOCATION_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Contact Name -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !contactName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="contactName">{{LOCATION_CONTACT_NAME['fieldValue']}}</label>
                    <span *ngIf="LOCATION_CONTACT_NAME['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="contactName" [(ngModel)]="model.contactName" #contactName="ngModel"
                      title="{{LOCATION_CONTACT_NAME['helpMessage']}}" maxlength="80" [required]="LOCATION_CONTACT_NAME['isMandatory']" />
                    <div *ngIf="f.submitted && contactName.invalid">
                      <div [hidden]="!contactName.errors.required">
                        {{LOCATION_CONTACT_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!contactName.errors?.maxlength">
                        {{LOCATION_CONTACT_NAME['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Location Address -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !locationAddress.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="locationAddress">{{LOCATION_ADDRESS['fieldValue']}}</label>
                    <span *ngIf="LOCATION_ADDRESS['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="locationAddress" [(ngModel)]="model.locationAddress" #locationAddress="ngModel"
                      title="{{LOCATION_ADDRESS['helpMessage']}}" maxlength="61" [required]="LOCATION_ADDRESS['isMandatory']" />
                    <div *ngIf="f.submitted && locationAddress.invalid">
                      <div [hidden]="!locationAddress.errors.required">
                        {{LOCATION_ADDRESS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!locationAddress.errors?.maxlength">
                        {{LOCATION_ADDRESS['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Country -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && country.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="country">{{LOCATION_COUNTRY['fieldValue']}}</label>
                    <span *ngIf="LOCATION_COUNTRY['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="country" [(ngModel)]="model.countryId" #country="ngModel"
                      (change)="onCountrySelect($event)" title="{{LOCATION_ADDRESS['helpMessage']}}" [required]="LOCATION_COUNTRY['isMandatory']">
                      <option value="0" disabled>-- Select Country --</option>
                      <option *ngFor="let country of countries" value="{{country.countryId}}" [selected]="country.countryId == model.countryId">{{country.countryName}}</option>
                    </select>
                    <div *ngIf="f.submitted && country.value==0">
                      <div [hidden]="!country.value==0">
                        {{LOCATION_COUNTRY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!country.errors?.maxlength">
                        {{LOCATION_COUNTRY['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- States -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && state.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="state">{{LOCATION_STATE['fieldValue']}}</label>
                    <span *ngIf="LOCATION_STATE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="state" [(ngModel)]="model.stateId" #state="ngModel"
                      (change)="onStateSelect($event)" title="State" [required]="LOCATION_STATE['isMandatory']">
                      <option value="0" disabled>-- Select {{LOCATION_STATE['fieldValue']}} --</option>
                      <option *ngFor="let state of states" value="{{state.stateId}}" [selected]="state.stateId == model.stateId">{{state.stateName}}</option>
                    </select>
                    <div *ngIf="f.submitted && state.value==0">
                      <div [hidden]="!state.value==0">
                        {{LOCATION_STATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- City -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && city.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="city">{{LOCATION_CITY['fieldValue']}}</label>
                    <span *ngIf="LOCATION_CITY['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="city" [(ngModel)]="model.cityId" #city="ngModel"
                      title="{{LOCATION_CITY['fieldValue']}}" [required]="LOCATION_CITY['isMandatory']">
                      <option value="0" disabled>-- Select City --</option>
                      <option *ngFor="let city of cities" value="{{city.cityId}}" [selected]="city.cityId == model.cityId">{{city.cityName}}</option>
                    </select>
                    <div *ngIf="f.submitted && city.value==0">
                      <div [hidden]="!city.value==0">
                        {{LOCATION_CITY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!city.errors?.maxlength">
                        {{LOCATION_CITY['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Phone -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !phone.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="phone">{{LOCATION_PHONE['fieldValue']}}</label>
                    <span *ngIf="LOCATION_PHONE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="phone" [(ngModel)]="model.phone" #phone="ngModel" title="{{LOCATION_PHONE['helpMessage']}}"
                      maxlength="21" [required]="LOCATION_PHONE['isMandatory']" PhonenumberFaxDirective="true" [pattern]="phonePattern" />
                    <div *ngIf="f.submitted && phone.invalid">
                      <div [hidden]="!phone.errors.required">
                        {{LOCATION_PHONE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!phone.errors?.maxlength">
                        {{LOCATION_PHONE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                      <div *ngIf="phone.dirty && phone.value.length!=0">
                        {{LOCATION_PHONE['listDtoFieldValidationMessage'][2]['validationMessage']}}
                      </div>

                    </div>
                  </div>
                </div>
              </div>

              <!-- Fax -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !fax.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="fax">{{LOCATION_FAX['fieldValue']}}</label>
                    <span *ngIf="LOCATION_FAX['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="fax" [(ngModel)]="model.fax" #fax="ngModel" title="{{LOCATION_FAX['helpMessage']}}"
                      maxlength="21" [required]="LOCATION_FAX['isMandatory']" PhonenumberFaxDirective="true" [pattern]="phonePattern" />
                    <div *ngIf="f.submitted && fax.invalid">
                      <div [hidden]="!fax.errors.required">
                        {{LOCATION_FAX['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!fax.errors?.maxlength">
                        {{LOCATION_FAX['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                      <div *ngIf="fax.dirty && fax.value.length!=0">
                       {{LOCATION_FAX['listDtoFieldValidationMessage'][2]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{LOCATION_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{LOCATION_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{LOCATION_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{LOCATION_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
