<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[9]['helpMessage']}}">{{defaultFormValues[13]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[4]['helpMessage']}}" placeholder="{{defaultFormValues[4]['fieldValue']}}"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="PositionSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                           [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                           [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                    [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Column Position Id -->
              <ngx-datatable-column name="terminationId" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('terminationId')">{{defaultFormValues[3]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Position Description -->
              <ngx-datatable-column name="terminationDesc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('terminationDesc')">{{defaultFormValues[2]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Arbic Description -->
              <ngx-datatable-column name="terminationArbicDesc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('terminationArbicDesc')">{{defaultFormValues[1]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Report to Position -->
              <ngx-datatable-column name="orientationPredefinedCheckListItem" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('orientationPredefinedCheckListItem')">{{defaultFormValues[0]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Class Id -->
           <!--    <ngx-datatable-column name="positionClassId" [width]="110" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionClassId')">{{defaultFormValues[5]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column> -->

              <!-- Data Column Action -->
              <ngx-datatable-column name="Action" [width]="80" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{defaultFormValues[5]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #positionSetupId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[8]['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{defaultFormValues[7]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{defaultFormValues[6]['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && predefinecheckListtypeId.value!=0 && CreatePositionSetup(f, $event)" #f="ngForm" novalidate>
                <!-- Position class Id field -->
                <div class="form-group">
                  <div *ngIf="isUnderUpdate; then update else create"></div>
                  <ng-template #update>
                  <div [ngClass]="{ 'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="terminationId">{{defaultFormValues[3]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="terminationId" value="{{positionIdvalue}}"
                             title="{{defaultFormValues[0]['helpMessage']}}" maxlength="15" required readonly/>
                      <div *ngIf="f.submitted && terminationId.invalid">
                        <div [hidden]="!terminationId.errors.required">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!terminationId.errors?.maxlength" *ngIf="defaultFormValues[3]['listDtoFieldValidationMessage'][1]">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                  </ng-template>

                  <ng-template #create>
                  <div [ngClass]="{ 'has-error': f.submitted && !terminationId.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="terminationId">{{defaultFormValues[3]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="terminationId" [(ngModel)]="model.terminationId" #terminationId="ngModel"
                             title="{{defaultFormValues[0]['helpMessage']}}" maxlength="15" required />
                      <div *ngIf="f.submitted && terminationId.invalid">
                        <div [hidden]="!terminationId.errors.required">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!terminationId.errors?.maxlength" *ngIf="defaultFormValues[3]['listDtoFieldValidationMessage'][1]">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                  </ng-template>


                </div>

                <!-- Termination Description Field -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !terminationDesc.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="terminationDesc">{{defaultFormValues[2]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="terminationDesc" [(ngModel)]="model.terminationDesc"
                             #terminationDesc="ngModel" title="{{defaultFormValues[0]['helpMessage']}}"
                             required maxlength="31" />
                      <div *ngIf="f.submitted && terminationDesc.invalid">
                        <div [hidden]="!terminationDesc.errors.required">
                          {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!terminationDesc.errors?.maxlength" *ngIf="defaultFormValues[2]['listDtoFieldValidationMessage'][1]">
                          {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Arabic position class description -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !terminationArbicDesc.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="terminationArbicDesc">{{defaultFormValues[1]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8 arabic-mode">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="terminationArbicDesc" [(ngModel)]="model.terminationArbicDesc"
                             #terminationArbicDesc="ngModel" title="{{defaultFormValues[0]['helpMessage']}}"
                             maxlength="61" required />
                      <div *ngIf="f.submitted && terminationArbicDesc.invalid">
                        <div [hidden]="!terminationArbicDesc.errors.required">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!terminationArbicDesc.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Position Class -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && predefinecheckListtypeId.value==0,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="predefinecheckListtypeId">{{defaultFormValues[27]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <select [ngClass]="'form-control '" name="predefinecheckListtypeId" [(ngModel)]="model.predefinecheckListtypeId" #predefinecheckListtypeId="ngModel" title="{{defaultFormValues[0]['helpMessage']}}"
                            (change)="checklistbyChanged(predefinecheckListtypeId.value)"  required>
                        <option value="0" selected>-- Select Predefined Checklist Item --</option>
                        <option *ngFor="let termination of positionClassOptions " [value]="termination.id">
                          {{termination.preDefineCheckListItemDescription}}
                      </option>
                        <!-- <option *ngFor="let position of positionClassOptions" [value]="position.id">
                          {{position.positionClassId}}
                        </option> -->
                      </select>
                      <div *ngIf="f.submitted && predefinecheckListtypeId.value==0">
                        <div [hidden]="predefinecheckListtypeId.value!=0">
                          {{defaultFormValues[27]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

               <input type="hidden" [(ngModel)]="model.terminationDetailId" name="terminationDetailId" #terminationDetailId="ngModel" value="{{terminationDetailId}}">
				      <h4>Sub Items</h4>
                      <hr>
                      <div>
					  <form>
                          <table class="table" id = "subitems">
                              <tr>
                                <th>Checklist Item</th>
                                <th>Sequence</th>
								<th>Person Responsible</th>
								<th>Date Complete</th>
                                <th>Action</th>
                              </tr>
							 
                             <tr *ngFor="let item of model.subItems; let num = index ">
								
                                <td><input type="text" name="checklistitem[{{num}}]" 
                                  style="width:180px; height:35px; margin: -7px -7px -8px -7px; padding-left: 10px" required  [(ngModel)]="model.subItems[num].checklistitem" [value]="model.subItems[num].checklistitem" #checklistitem="ngModel" readonly></td>
                                <td><input type="text" name="sequence[{{num}}]" 
                                   style="width:180px; height:35px; margin: -7px -7px -8px -7px;" required [(ngModel)]="model.subItems[num].sequence" #sequence="ngModel" [value]="model.subItems[num].sequence"></td>
								 <td><input type="text" name="personResponsible[{{num}}]" 
                                  [value]="model.subItems[num].personResponsible" style="width:180px; height:35px; margin: -7px -7px -8px -7px;" [(ngModel)]="model.subItems[num].personResponsible" #personResponsible="ngModel" required></td>
								  <td><input type="text" name="completeDate[{{num}}]" 
                                   style="width:180px; height:35px; margin: -7px -7px -8px -7px;" [(ngModel)]="model.subItems[num].completeDate" #completeDate="ngModel" required [value]="model.subItems[num].completeDate"></td>
                                <td><button (click) = "varifySubDelete(model.subItems[num])" >Del Row</button> </td>
									
                                <input  type="hidden" [(ngModel)]="model.subItems[num].id" name="id">
								
                              </tr> 
							  
                                    
						
                            </table>
							</form>
                      </div>
                        
                           <!-- <form class="form-horizontal" #subItemData="ngForm" (ngSubmit)="addSubItem(subItemData, subItemData.value)">
                                <div class="form-group" hidden>
                                  <label class="col-md-2 control-label">Checklist Item</label>
                                  <div class="col-md-4">
                                    <input  type="text" class="form-control" name="checklistitem" ngModel />
                                  </div>
                                </div>
                                <div class="form-group" hidden>
                                  <label class="col-md-2 control-label">Sequence</label>
                                  <div class="col-md-4">
                                    <input type="text" class="form-control" name="sequence" ngModel />
                                  </div>
                                </div>
								<div class="form-group" hidden>
                                  <label class="col-md-2 control-label">Person Responsible</label>
                                  <div class="col-md-4">
                                    <input type="text" class="form-control" name="personResponsible" ngModel  />
                                  </div>
                                </div>
								<div class="form-group" hidden>
                                  <label class="col-md-2 control-label">Date Complete</label>
                                  <div class="col-md-4">
                                    <input type="text" class="form-control" name="completeDate" ngModel />
                                  </div>
                                </div>
                              <!--  <div class="form-group">								
                                  <div style="padding-left:110px">
                                    <input type="submit" value="Add Subitem" class="btn btn-primary"/>
                                  </div>
                                </div> -->
                             <!-- </form> -->
                        
                      
                      
                    <hr>
                      <!-- Buttons -->
              

                <!-- Buttons -->
                <div [ngClass]="'button-row'">
                  <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12': true, '': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
                            <span class="pull-right">
                                <button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[9]['fieldValue']}}</button>
                                <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[12]['fieldValue']}}</button>
                                <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[11]['fieldValue']}}</button>
                                <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[10]['fieldValue']}}</button>
                               <!-- <button [ngClass]="'blue-btn'" >{{defaultFormValues[17]['fieldValue']}}</button>
                                <button [ngClass]="'blue-btn'" >{{defaultFormValues[18]['fieldValue']}}</button>-->
                            </span>
                    </div>
                  </div>
                </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>