 
 
<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

    </div>
  </div>
</div>


<!-- screen header -->
<div class="page-header">
<div class="page-header-title">
<span> <h3 *ngIf="!model.id">{{SKILLS_SETUP_CREATE_FORM_LABEL['fieldValue']}}</h3>
  <h3 *ngIf="model.id">{{SKILLS_SETUP_UPDATE_FORM_LABEL['fieldValue']}}</h3></span>
</div>
<!-- <div class="page-header-breadcrumb">
  <i class="ti-settings"></i>
</div> -->
</div>
<!-- screen header -->

<div class="content-wrapper">
<section class="content" (keyup)='EscapeModal($event)'>
  <!-- section Heading Starts -->
  <!-- <div class="section-heading">
      <h2></h2>
  </div> -->
  <!-- section Heading Ends -->
  <section class="inner-content">
      <!-- Content Outer Starts -->
      <div class="content-outer com-form">
          <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{messageText}}
          </div>

          <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                  {{message.text}}
              </div>
          <!-- Content Heading Starts -->
          <div class="content-heading">
              <!-- <h3> {{screenName}}</h3> -->
                 <div *ngIf="showloader" class="loader">
              </div>
          </div>
          <!-- Content Heading Ends -->
          
          <!--adding form starts-->
<!-- Basic Form Inputs card start -->
<app-card [title]="">
<!-- <h4 class="sub-title">Create company</h4> -->


<form class="form-horizontal" (ngSubmit)="f.form.valid && islifeTimeValid  && CreateSkillsSetup(f, $event)" #f="ngForm" novalidate>

<!-- <ng-template> -->
     <div class="form-group row">
        <div class="col-sm-2">
              <div class="floating-label" class="col-md-offset-4">  
                  <input auto-complete [source]="rows" class="floating-input" list-formatter="skillId" [readonly]="isUnderUpdate"   [(ngModel)]="selectedSkill" [ngModelOptions]="{standalone: true}"  name="skillId"  #skillId="ngModel"
                   (valueChanged)="getSkillData($event)" placeholder="" on-focus="onAutocompleteFocus('lblSkillId',selectedDivision);skillIdFocusIn()"  tabindex="1" required/>
                   <div class="error-msg" *ngIf="f.submitted && skillId.invalid">
                    <div [hidden]="!skillId.errors.required">
                      {{SKILLS_SETUP_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div [hidden]="!skillId.errors?.maxlength" *ngIf="SKILLS_SETUP_ID['listDtoFieldValidationMessage'][1]">
                      {{SKILLS_SETUP_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                  </div>
                  <span class="highlight"></span>
                  <label id="lblSkillId" for="skillId">{{SKILLS_SETUP_ID['fieldValue']}}</label>
                  <input type="hidden"/><span  class="search-icon">
                    <i [ngClass]="{'ti-angle-down': !isSkillIdOpen, 'ti-angle-up':isSkillIdOpen }"></i>
                  </span>
                </div>
              </div>
      </div>


<!-- </ng-template> -->

      <div class="form-group row">  
              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !skillDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="2" name="skillDesc" [(ngModel)]="model.skillDesc" #skillDesc="ngModel"
                      title="{{SKILLS_SETUP_DESCRIPTION['helpMessage']}}" [required]="SKILLS_SETUP_DESCRIPTION['isMandatory']" maxlength="31"
                    />
                    <div class="error-msg" *ngIf="f.submitted && skillDesc.invalid">
                      <div [hidden]="!skillDesc.errors.required">
                        {{SKILLS_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!skillDesc.errors?.maxlength" *ngIf="SKILLS_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{SKILLS_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="divisionDescription">{{SKILLS_SETUP_DESCRIPTION['fieldValue']}}</label>
                  </div>
                </div>
              </div>

                          <div class="col-sm-4">
                            <div class="form-group row">
                              <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !arabicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <input class="floating-input" type="text" placeholder=" " tabindex="3" name="arabicDesc" [(ngModel)]="model.arabicDesc" #arabicDesc="ngModel"
                                  title="{{SKILLS_SETUP_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61" [required]="SKILLS_SETUP_ARABIC_DESCRIPTION['isMandatory']"
                                  dir="rtl"   />
                                <div class="error-msg" *ngIf="f.submitted && arabicDesc.invalid">
                                  <div [hidden]="!arabicDesc.errors.required">
                                    {{SKILLS_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                  </div>
                                  <div [hidden]="!arabicDesc.errors?.maxlength" *ngIf="SKILLS_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                    {{SKILLS_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                  </div>
                                </div>
                                <span class="highlight"></span>
                                <label class="control-label" for="arabicDivisionDescription">{{SKILLS_SETUP_ARABIC_DESCRIPTION['fieldValue']}}</label>
                              </div>
                            </div>
                          </div>

           

            

            
             
       </div>
  <!-- <div class="sub-title"></div> -->
  <div class="form-group row">

          <div class="col-sm-4">
            <div class="form-group row">
              <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && frequency.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                <input auto-complete [source]="frequencies" class="floating-input" list-formatter="name" [(ngModel)]="selectedFrequency"
                  [ngModelOptions]="{standalone: true}" name="frequency" #frequency="ngModel"  (valueChanged)="getFrequencyData($event)"
                  placeholder="" on-focus="onAutocompleteFocus('lblFrequency',selectedCountry);frequencyFocusIn()" on-focusout="frequencyFocusout()"
                  tabindex="4" required/>
                <!-- on-focus="onAutocompleteFocus('countryLabel',selectedCountry);countryFocusIn(countryId)" on-focusout="onAutocompleteFocusOut('countryLabel',selectedCountry);countryFocusout(countryId)" -->
                <!-- <div *ngIf="f.submitted && frequency.value==0"> -->
                <div class="error-msg" *ngIf="f.submitted && frequency.value==0">
                    <!-- class="error-msg" [hidden]="!departmentDescription.errors.required" -->
                  <div [hidden]="frequency.value!=0 ">
                    {{SKILLS_SETUP_FREQUENCY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
                <span class="highlight"></span>
                <label id="lblFrequency" class="control-label" for="frequency">{{SKILLS_SETUP_FREQUENCY['fieldValue']}}</label>
                <input type="hidden" />
                <span class="search-icon">
                  <!-- <i class="ti-angle-down"></i> -->
                  <i [ngClass]="{'ti-angle-down': !isFrequencyOpen, 'ti-angle-up':isFrequencyOpen }"></i>
                </span>
              </div>
            </div>
          </div>


          <div class="col-sm-4">
            <div class="form-group row">
                <div class="floating-label col-md-12" [ngClass]="{'has-error': (f.submitted && !compensation.valid) ||  !islifeTimeValid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text"  tabindex="6" placeholder=" " name="compensation" [(ngModel)]="model.compensation" #compensation="ngModel"
                    title="{{SKILLS_SETUP_COMPENSATION['fieldValue']}}" maxlength="11" (keyup)="checkdecimal(compensation.value)"
                    min="1" [required]="SKILLS_SETUP_COMPENSATION['isMandatory']" onkeypress="return check_digit(event,this,10,3);" />
                    <div class="error-msg" *ngIf="(f.submitted && compensation.invalid) ||  !islifeTimeValid ">
                      <div [hidden]="!islifeTimeValid && !compensation.errors?.required">
                        {{SKILLS_SETUP_COMPENSATION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div *ngIf="!islifeTimeValid">
                        {{SKILLS_SETUP_COMPENSATION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="">{{SKILLS_SETUP_COMPENSATION['fieldValue']}}</label>
                </div>
            </div>
    </div>

      
  
  </div>
  
  




      <div [ngClass]="'button-row'">
          <div [ngClass]="'col-sm-12'">
              <button *ngIf="model.id" tabindex="7" class="green-btn">{{SKILLS_SETUP_UPDATE_LABEL['fieldValue']}}</button>
              <button *ngIf="!model.id" tabindex="7" class="green-btn">{{SKILLS_SETUP_SAVE_LABEL['fieldValue']}}</button>
              <button class="blue-btn" tabindex="8" (click)="goBack()">{{SKILLS_SETUP_CANCEL_LABEL['fieldValue']}}</button>
              <button [ngClass]="'orange-btn'" tabindex="9" type="button" (click)="Clear(f)" (click)="islifeTimeValid=true">{{SKILLS_SETUP_CLEAR_LABEL['fieldValue']}}</button>
              <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
              <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
          </div>
          
      </div>
 
</form>


</app-card>        
         

<!--adding form ends-->
</div>
<!-- Content Outer Ends -->
</section>
</section>
</div>


