<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[10]['helpMessage']}}">{{defaultFormValues[10]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="PositionBudgetGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                           [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                           [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!--Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                    [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Column Position Budget Sequence -->
              <ngx-datatable-column name="positionPlanId" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionPlanId')">Plan ID</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Position  Description -->
              <ngx-datatable-column name="description" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('description')">Plan {{defaultFormValues[3]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

                <!-- Data Column Position Budget Description -->
                <ngx-datatable-column name="budgetScheduleStart" [width]="120" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('budgetScheduleStart')">{{defaultFormValues[4]['fieldValue']}}</span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value | date: 'dd-MM-yyyy'}}
                    </ng-template>
                </ngx-datatable-column>

              <!-- Data Column Position Budget End Date -->
              <ngx-datatable-column name="budgetScheduleEnd" [width]="120" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('budgetScheduleEnd')">{{defaultFormValues[5]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'dd-MM-yyyy'}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Budget Amount -->
              <ngx-datatable-column name="budgetAmount" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('budgetAmount')">{{defaultFormValues[6]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

                <!-- Data Column Position Budget Start date -->
                <ngx-datatable-column name="budgetDesc" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        <span (click)="sortColumn('budgetDesc')">{{defaultFormValues[7]['fieldValue']}}</span>
                    </ng-template>
                    <ng-template let-value="value" ngx-datatable-cell-template>
                        {{value}}
                    </ng-template>
                </ngx-datatable-column>

              <!-- Data Column Action -->
              <ngx-datatable-column name="Action" [width]="80" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{defaultFormValues[9]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #positionSetupId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[15]['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{defaultFormValues[16]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{defaultFormValues[17]['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && islifeTimeValidamount &&  CreatePositionBudget(f, $event)" #f="ngForm" novalidate>

                <!-- Position Plan Id -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !positionPlanId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="positionPlanId">{{defaultFormValues[2]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <select (change)="changePosPlan($event)" [ngClass]="'form-control'" name="positionPlanId" [(ngModel)]="model.positionPlanId" #positionPlanId="ngModel" title="{{defaultFormValues[2]['helpMessage']}}"
                              required >
                        <option value="">-- Select Position Plan Id --</option>
                        <option *ngFor="let position of positionPlanOptions" [value]="position.id">
                          {{position.positionPlanId}}
                        </option>
                      </select>
                      <div *ngIf="f.submitted && positionPlanId.invalid">
                        <div [hidden]="!positionPlanId.errors.required">
                          {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- position Plan Description Field -->
                <div class="form-group">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="description">{{defaultFormValues[3]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">


                      <input name="description"  title="{{defaultFormValues[3]['helpMessage']}}" type="text" [ngClass]="'form-control fm-txt'"  [(ngModel)]="model.description" #description="ngModel"
                             readonly />


                    </div>

                  </div>
                </div>

                <!-- Arabic position class description -->
                <div class="form-group">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="budgetArbicDesc">{{defaultFormValues[8]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8 arabic-mode">

                      <input name="budgetArbicDesc" title="{{defaultFormValues[8]['helpMessage']}}" type="text" [ngClass]="'form-control fm-txt'"  [(ngModel)]="model.budgetArbicDesc" #budgetArbicDesc="ngModel"
                             readonly />


                    </div>
                  </div>
                </div>

                <!-- Position Budget Schedule Start Date-->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !budgetScheduleStart.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="budgetScheduleStart">{{defaultFormValues[4]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8 ">

                      <div class="input-group">
                        <input [ngClass]="'form-control fm-txt'" placeholder="Select a date" ngx-mydatepicker name="budgetScheduleStart"
                               [(ngModel)]="startDateModel" [options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onStartDateChanged($event)"
                               #budgetScheduleStart="ngModel" title="{{defaultFormValues[4]['helpMessage']}}" (change)="onStartDateChanged($event.target.value)" readonly required/>

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" (click)="dp1.clearDate()">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                      </div>


                      <div *ngIf="f.submitted && budgetScheduleStart.invalid">
                        <div [hidden]="!budgetScheduleStart.errors.required">
                          {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Position Budget Schedule END Date-->
                <div class="form-group">
                  <div [ngClass]="{'has-error': (f.submitted && !budgetScheduleEnd.valid) ||  ( !budgetScheduleEnd.errors?.required && error.isError),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="budgetScheduleEnd">{{defaultFormValues[5]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8 ">
                      <div class="input-group">
                        <input [ngClass]="'form-control fm-txt'" placeholder="Select a date" ngx-mydatepicker name="budgetScheduleEnd"
                               [(ngModel)]="endDateModel1" [options]="myOptions" #dp2="ngx-mydatepicker" (dateChanged)="onEndDateChanged($event)"
                               #budgetScheduleEnd="ngModel" title="{{defaultFormValues[5]['helpMessage']}}" (change)="onEndDateChanged($event.target.value)" readonly required/>

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" (click)="dp2.clearDate()">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </div>
                      </div>

                      <div *ngIf="(f.submitted && budgetScheduleEnd.invalid) || error.isError">
                        <div [hidden]="!budgetScheduleEnd.errors?.required">
                          {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        
						<div *ngIf="!budgetScheduleEnd.errors?.required && error.isError" class="r">
                              {{ error.errorMessage }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Position Budget Description Field -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !budgetDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="budgetDesc">{{defaultFormValues[7]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="budgetDesc" [(ngModel)]="model.budgetDesc"
                             #budgetDesc="ngModel" title="{{defaultFormValues[7]['helpMessage']}}"
                             required maxlength="31" />
                      <div *ngIf="f.submitted && budgetDesc.invalid">
                        <div [hidden]="!budgetDesc.errors.required">
                          {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <!--<div [hidden]="!budgetDesc.errors?.maxlength">
                          {{defaultFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Position Budget Amount Field -->
                <div class="form-group">
                  <div [ngClass]="{ 'has-error': (f.submitted && !budgetAmount.valid) || !islifeTimeValidamount,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="budgetAmount">{{defaultFormValues[6]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-4">
                      <input type="number"  [ngClass]="'form-control fm-txt'" name="budgetAmount" [(ngModel)]="model.budgetAmount" #budgetAmount="ngModel"
                             title="{{defaultFormValues[6]['helpMessage']}}" (keyup)="checkdecimalamount(budgetAmount.value)" maxlength="11" min="0" required onkeypress="return check_digit(event,this,10,3);" />
                      <div *ngIf="(f.submitted && budgetAmount.invalid) || 	!islifeTimeValidamount">
                        <div [hidden]="!islifeTimeValidamount && !budgetAmount.errors?.required">
                          {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>

                        <div *ngIf="!islifeTimeValidamount">
							Invalid Input
						</div>

                        <!--<div [hidden]="!budgetAmount.errors?.maxlength">
                          {{defaultFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>-->
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Buttons -->
                <div [ngClass]="'button-row'">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
                            <span class="pull-right">
                                <button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[14]['fieldValue']}}</button>
                                <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[11]['fieldValue']}}</button>
                                <button [ngClass]="'orange-btn'" type="button" (click)="onEndDateChanged($event.target.value)" (click)="islifeTimeValidamount=true" (click)="onStartDateChanged($event.target.value)" (click)="Clear(f)">{{defaultFormValues[12]['fieldValue']}}</button>
								<button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[13]['fieldValue']}}</button>
                            </span>
                    </div>
                  </div>
                </div>


            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>