<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction && !isDeleteBatch'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
            <p *ngIf="isDeleteBatch">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()'
                *ngIf='!isDeleteAction && !isDeleteBatch'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='deleteBatch()' *ngIf='isDeleteBatch'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()"
                title="{{TRANSACTION_ENTRY_PAY_PERIOD_TO['helpMessage']}}">{{TRANSACTION_ENTRY_CREATE_LABEL['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg"
                    [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage"
                        [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="Search Transaction Entry"
                            placeholder="Search Transaction Entry" (keyup)='updateFilter($event)' />
                    </div>
                </div>
            </div>

            <div class="setting-btn-wrap">
                <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i
                        class="fa fa-gear"></i></button>
                <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;"
                    title="Show/Hide">Show/Hide</button>
                <button class="setting-btn" *ngIf="isConfigure"
                    (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)"
                    title="Reset">Reset</button>
                <button class="setting-btn" *ngIf="isConfigure"
                    (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)"
                    title="Save"><i class="fa fa-save"></i></button>
            </div>

            <div class="algo-table algo-table-department">
                <!-- Data Grid Starts-->
                <div class="table-responsive">
                    <ngx-datatable id="deductionCodeGrid1" class="material" [rows]="rows" [columnMode]="'force'"
                        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
                        [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                        (page)='setPage($event)' [selected]="selectedBatches" [selectionType]="'checkbox'"
                        (select)='onSelectBatches($event)' [scrollbarH]="true">

                        <!-- Data Grid checkbox -->
                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false"
                            [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
                        </ngx-datatable-column>

                        <div
                            *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                            <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">
                                <ngx-datatable-column *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "
                                    name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false"
                                    [draggable]="true" [resizeable]="false">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"
                                            [checked]="grid.isVisible == 1" name="isVisible"
                                            (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                        <div [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)"
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)"
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)"
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                                    </ng-template>
                                </ngx-datatable-column>
                            </div>
                        </div>

                        <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false"
                            [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                Action
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <!-- Data Grid Ends-->
            </div>
            <!-- Content Heading Ends -->

            <div class="button-row">
                <!-- Table View Starts -->
                <div class="table-view table-view-fix">
                    <span>TABLE VIEW</span>
                    <div class="select-outer">
                        <select class="form-control" (change)="changePageSize($event)" name="ddPageSize"
                            [(ngModel)]="ddPageSize" #cityId="ngModel">
                            <option value="5">5 at a time </option>
                            <option value="15">15 at a time </option>
                            <option value="50">50 at a time </option>
                            <option value="100">100 at a time </option>
                        </select>
                    </div>
                </div>
                <!-- Table View Ends -->

                <div class="bottom-view">
                </div>
                <button class="blue-btn" type="button"
                    (click)="varifyDeleteBatch()">{{TRANSACTION_ENTRY_DELETE_LABEL['fieldValue']}}</button>


                <!-- Create / Update Form start -->
                <div *ngIf="showCreateForm">
                    <div class="col-md-12 mt-30">
                        <hr>
                    </div>
                    <div class="col-md-12 mb-30">
                        <h3>{{TRANSACTION_ENTRY_CREATE_FORM_LABEL['fieldValue']}}</h3>
                        <!-- <h3 *ngIf="model.id">{{TRANSACTION_ENTRY_UPDATE_FORM_LABEL['fieldValue']}}</h3> -->
                    </div>
                    <div *ngIf="duplicateWarning"
                        [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="clearfix"></div>

                    <form [ngClass]="'form-horizontal'" (keydown.enter)="$event.preventDefault()" (ngSubmit)="f.form.valid &&
                    islifeTimeValidamount && islifeTimeValidpayRate &&  CreateTransactionEntry(f, $event)" #f="ngForm"
                        novalidate>


                        <!-- Department Id field -->


                        <div *ngIf="isUnderUpdate; then update else create"></div>
                        <ng-template #update>
                            <div [ngClass]="'form-group'">
                                <div
                                    [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                    <div class="col-md-4">
                                        <label class="control-label"
                                            for="batchId">{{TRANSACTION_ENTRY_BATCH_ID['fieldValue']}}</label>
                                        <span *ngIf="TRANSACTION_ENTRY_BATCH_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="batchId"
                                            value="{{defaultIdvalue}}"
                                            title="{{TRANSACTION_ENTRY_SEARCH['helpMessage']}}" maxlength="15"
                                            [readonly]="!TRANSACTION_ENTRY_BATCH_ID['writeAccess']" />
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <ng-template #create>
                            <div [ngClass]="'form-group'">
                                <div
                                    [ngClass]="{ 'has-error': f.submitted && !BatchId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                    <div class="col-md-4">
                                        <label class="control-label"
                                            for="batchId">{{TRANSACTION_ENTRY_BATCH_ID['fieldValue']}}</label>
                                        <span *ngIf="TRANSACTION_ENTRY_BATCH_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" class="search-id"
                                            name="batchId" [(ngModel)]="batchId" #BatchId="ngModel" autocomplete="off"
                                            title="{{TRANSACTION_ENTRY_BATCH_ID['helpMessage']}}" maxlength="15"
                                            [required]="TRANSACTION_ENTRY_BATCH_ID['isMandatory']"
                                            [typeahead]="batchDropdownList"
                                            (typeaheadLoading)="changeTypeaheadLoading($event)"
                                            (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                            typeaheadOptionField="batchId" [ngModelOptions]="{standalone: false}" />
                                        <div *ngIf="f.submitted && BatchId.invalid">
                                            <div [hidden]="!BatchId.errors.required">
                                                {{TRANSACTION_ENTRY_BATCH_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>

                                        <div *ngIf="BatchTypeValid">
                                            <div>
                                                <span style="color:red">Transaction Exist.</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>




                        <!-- Department Description Field -->
                        <div [ngClass]="'form-group'">
                            <div
                                [ngClass]="{'has-error': f.submitted && !description.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="description">{{TRANSACTION_ENTRY_DESCRIPTION['fieldValue']}}</label>
                                    <span *ngIf="TRANSACTION_ENTRY_DESCRIPTION['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="description"
                                        [(ngModel)]="model.description" #description="ngModel"
                                        title="{{TRANSACTION_ENTRY_DESCRIPTION['helpMessage']}}"
                                        [ngModelOptions]="{standalone: false}"
                                        [required]="TRANSACTION_ENTRY_DESCRIPTION['isMandatory']"
                                        [readonly]="!TRANSACTION_ENTRY_DESCRIPTION['writeAccess']" maxlength="31"
                                        [attr.disabled]="BatchTypeValid ? '' : null" />
                                    <div *ngIf="f.submitted && description.invalid">
                                        <div [hidden]="!description.errors.required">
                                            {{TRANSACTION_ENTRY_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Arabic department description -->
                        <div [ngClass]="'form-group'">
                            <div
                                [ngClass]="{'has-error': f.submitted && !arabicDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="arabicDescription">{{TRANSACTION_ENTRY_ARABIC_DESCRIPTION['fieldValue']}}</label>
                                    <span *ngIf="TRANSACTION_ENTRY_ARABIC_DESCRIPTION['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8 arabic-mode">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDescription"
                                        [(ngModel)]="model.arabicDescription" #arabicDescription="ngModel"
                                        title="{{TRANSACTION_ENTRY_ARABIC_DESCRIPTION['helpMessage']}}"
                                        [ngModelOptions]="{standalone: false}" maxlength="140"
                                        [required]="TRANSACTION_ENTRY_ARABIC_DESCRIPTION['isMandatory']"
                                        [readonly]="!TRANSACTION_ENTRY_ARABIC_DESCRIPTION['writeAccess']"
                                        [attr.disabled]="BatchTypeValid ? '' : null" />
                                    <div *ngIf="f.submitted && arabicDescription.invalid">
                                        <div [hidden]="!arabicDescription.errors.required">
                                            {{TRANSACTION_ENTRY_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div
                                [ngClass]="{'has-error': f.submitted && !fromDate.valid,'col-md-8 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

                                <div class="col-md-4">
                                    <label
                                        class="control-label">{{TRANSACTION_ENTRY_PAY_PERIOD_FROM['fieldValue']}}</label>
                                    <span *ngIf="TRANSACTION_ENTRY_PAY_PERIOD_FROM['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input [ngClass]="'form-control fm-txt'" placeholder="Select a date"
                                            ngx-mydatepicker name="fromDate" [(ngModel)]="modelStartDate"
                                            [options]="myOptions" #dp1="ngx-mydatepicker"
                                            (dateChanged)="onStartDateChanged($event)"
                                            (change)="onStartDateChanged($event.target.value)" #fromDate="ngModel"
                                            [required]="TRANSACTION_ENTRY_PAY_PERIOD_FROM['isMandatory']"
                                            [readonly]="!TRANSACTION_ENTRY_PAY_PERIOD_FROM['writeAccess']" />

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                style="float:none; height: 40px; width: 40px;"
                                                (click)="dp1.clearDate()">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                            <button type="button" class="btn btn-default"
                                                style="float:none; height: 40px; width: 40px;"
                                                (click)="dp1.toggleCalendar()"
                                                [attr.disabled]="BatchTypeValid ? '' : null">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>

                                    </div>
                                    <div *ngIf="f.submitted && fromDate.invalid">
                                        <div [hidden]="!fromDate.errors.required">
                                            {{TRANSACTION_ENTRY_PAY_PERIOD_FROM['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- End Date -->
                        <div class="form-group">

                            <div
                                [ngClass]="{'has-error': (f.submitted  && !toDate.valid) || ( !toDate.errors?.required && error.isError),'col-md-8 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

                                <div class="col-md-4">
                                    <label
                                        class="control-label">{{TRANSACTION_ENTRY_PAY_PERIOD_TO['fieldValue']}}</label>
                                    <span *ngIf="TRANSACTION_ENTRY_PAY_PERIOD_TO['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input [ngClass]="'form-control fm-txt'" placeholder="Select a date"
                                            ngx-mydatepicker name="toDate" [(ngModel)]="modelEndDate"
                                            [options]="myOptions" #dp2="ngx-mydatepicker"
                                            (dateChanged)="onEndDateChanged($event)" #toDate="ngModel"
                                            [required]="TRANSACTION_ENTRY_PAY_PERIOD_TO['isMandatory']"
                                            [readonly]="!TRANSACTION_ENTRY_PAY_PERIOD_TO['writeAccess']"
                                            (change)="compareTwoDates(f)"
                                            (change)="onEndDateChanged($event.target.value)" />

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                style="float:none; height: 40px; width: 40px;"
                                                (click)="error.isError=false" (click)="dp2.clearDate()">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                            <button type="button" class="btn btn-default"
                                                style="float:none; height: 40px; width: 40px;"
                                                (click)="dp2.toggleCalendar()"
                                                [attr.disabled]="BatchTypeValid ? '' : null">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>

                                    </div>
                                    <div *ngIf="f.submitted && toDate.invalid">
                                        <div [hidden]="!toDate.errors.required">
                                            {{TRANSACTION_ENTRY_PAY_PERIOD_TO['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>

                                    </div>
                                    <div *ngIf="!toDate.errors?.required && error.isError" class="r">
                                        {{ error.errorMessage }}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- <div [ngClass]="'form-group'">
                            <div [ngClass]="{ 'has-error': f.submitted && !ProjectId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                <div class="col-md-4">
                                    <label class="control-label" for="{{TRANSACTION_ENTRY_PROJECT_ID['fieldValue']}}">{{TRANSACTION_ENTRY_PROJECT_ID['fieldValue']}}</label>
                                    <span *ngIf="TRANSACTION_ENTRY_PROJECT_ID['isMandatory']">*</span>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="projectId"
                                        [(ngModel)]="projectId" #ProjectId="ngModel" autocomplete="off" title="{{TRANSACTION_ENTRY_PROJECT_ID['fieldValue']}}"
                                        [required]="TRANSACTION_ENTRY_PROJECT_ID['isMandatory']" [typeahead]="projectIdList"
                                        (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadProjectOnSelect($event)"
                                        typeaheadOptionField="dimensionDescription" />
                                    <div *ngIf="f.submitted && ProjectId.invalid">
                                        <div [hidden]="!ProjectId.errors?.required">
                                            {{TRANSACTION_ENTRY_PROJECT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div [ngClass]="'form-group'">
                            <div
                                [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="{{TRANSACTION_ENTRY_EMPLOYEE_ID['fieldValue']}}">{{TRANSACTION_ENTRY_EMPLOYEE_ID['fieldValue']}}</label>
                                    <span *ngIf="TRANSACTION_ENTRY_EMPLOYEE_ID['isMandatory']">*</span>
                                </div>
                                <div class="col-md-4" [ngClass]="{'has-error': f.submitted && !EmployeeId.valid}">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="employeeId"
                                        [(ngModel)]="employeeId" #EmployeeId="ngModel"
                                        title="{{TRANSACTION_ENTRY_EMPLOYEE_ID['helpMessage']}}" class="search-id"
                                        [typeahead]="employeeIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                                        (typeaheadOnSelect)="typeaheadEmployeeOnSelect($event)"
                                        typeaheadOptionField="employeeId" maxlength="61"
                                        [required]="TRANSACTION_ENTRY_EMPLOYEE_ID['isMandatory']" />
                                    <div *ngIf="f.submitted && EmployeeId.invalid">
                                        <div [hidden]="!EmployeeId.errors.required">
                                            {{TRANSACTION_ENTRY_EMPLOYEE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" [ngClass]="'form-control fm-txt'" value="{{emdescription}}"
                                        readonly>
                                </div>
                            </div>
                        </div> -->
                        <div [ngClass]="'form-group'">
                            <div
                                [ngClass]="{'has-error': f.submitted && TransactionType.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="{{TRANSACTION_ENTRY_TRANSACTION_TYPE['fieldValue']}}">{{TRANSACTION_ENTRY_TRANSACTION_TYPE['fieldValue']}}</label>
                                    <span *ngIf="TRANSACTION_ENTRY_TRANSACTION_TYPE['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <select [ngClass]="'form-control fm-txt'" name="transactionType"
                                        [(ngModel)]="model.transactionEntryDetail.transactionType"
                                        #TransactionType="ngModel"
                                        title="{{TRANSACTION_ENTRY_TRANSACTION_TYPE['helpMessage']}}"
                                        (change)="transType($event.target.value)"
                                        [required]="TRANSACTION_ENTRY_TRANSACTION_TYPE['isMandatory']" maxlength="31">
                                        <option value="0">--Select Transaction Type--</option>
                                        <!-- <option value="1">Pay Code</option> -->
                                        <option value="2">Deduction</option>
                                        <option value="3">Benefit</option>
                                    </select>
                                    <!-- <div *ngIf="f.submitted && TransactionType.value==0">
                                        <div [hidden]="TransactionType.value!=0">
                                            {{TRANSACTION_ENTRY_TRANSACTION_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>

                                    </div> -->
                                    <!-- <div *ngIf="f.submitted && TransactionType.invalid">
                                        <div [hidden]="!TransactionType.errors.required">
                                            {{TRANSACTION_ENTRY_TRANSACTION_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>

                                    </div> -->
                                    <div *ngIf="TransactionTypeValid">
                                        <div>
                                            <span style="color:red">Select Transaction Type</span>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div>
                            <div [ngClass]="'form-group'">
                                <div
                                    [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label"
                                            for="{{TRANSACTION_ENTRY_CODE_ID['fieldValue']}}">{{TRANSACTION_ENTRY_CODE_ID['fieldValue']}}</label>
                                        <span *ngIf="TRANSACTION_ENTRY_CODE_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4" [ngClass]="{'has-error': f.submitted && !codeId.valid}">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="codeId"
                                            [(ngModel)]="CodeId" #codeId="ngModel"
                                            title="{{TRANSACTION_ENTRY_CODE_ID['helpMessage']}}" class="search-id"
                                            [typeahead]="transDataList"
                                            (typeaheadLoading)="changeTypeaheadLoading($event)"
                                            (typeaheadOnSelect)="typeaheadPayCodeOnSelect($event)"
                                            typeaheadOptionField="payCodeId" maxlength="61"
                                            [required]="TRANSACTION_ENTRY_CODE_ID['isMandatory']" />
                                        <!-- <div *ngIf="f.submitted && codeId.invalid">
                                            <div [hidden]="!codeId.errors.required">
                                                {{TRANSACTION_ENTRY_CODE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div> -->
                                        <div *ngIf="CodeIdValid">
                                            <div>
                                                <span style="color:red">Select Code Id</span>
                                            </div>
    
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" readonly value="{{modelPayRateofCodeId}}">
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <!-- Pay Factor -->
                        <!-- <div [ngClass]="'form-group'">
                            <div [ngClass]="{'has-error': f.submitted && !amount.valid || !islifeTimeValidamount,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label" for="amount">{{TRANSACTION_ENTRY_AMOUNT['fieldValue']}}</label>
                                    <span *ngIf="TRANSACTION_ENTRY_AMOUNT['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="amount" [(ngModel)]="model.transactionEntryDetail.amount"
                                        #amount="ngModel" title="{{TRANSACTION_ENTRY_AMOUNT['helpMessage']}}" maxlength="11"
                                        onkeypress="return check_digit(event,this,10,3);" onKeyPress="if(this.value.length==10) return false;"
                                        (keyup)="checkdecimalamount(amount.value);calculatePayRate();" />
                                    <div *ngIf="f.submitted && amount.invalid">
                                        <div [hidden]="!amount.errors.required">
                                            {{TRANSACTION_ENTRY_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>

                                    </div>
                                    <div *ngIf="!islifeTimeValidamount">
                                        Invalid Input
                                    </div>

                                </div>
                            </div>
                        </div> -->


                        <!-- Pay Rate -->
                        <!-- <div [ngClass]="'form-group'">
                            <div [ngClass]="{'has-error': f.submitted && !payRate.valid || !islifeTimeValidpayRate,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label" for="{{TRANSACTION_ENTRY_PAY_RATE['fieldValue']}}">{{TRANSACTION_ENTRY_PAY_RATE['fieldValue']}}</label>
                                    <span *ngIf="TRANSACTION_ENTRY_PAY_RATE['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="payRate" [(ngModel)]="model.transactionEntryDetail.payRate"
                                        #payRate="ngModel" title="{{TRANSACTION_ENTRY_PAY_RATE['helpMessage']}}"
                                        maxlength="11" onkeypress="return check_digit(event,this,10,3);" onKeyPress="if(this.value.length==10) return false;"
                                        (keyup)="checkdecimalpayRate(payRate.value);" [readOnly]='true' />
                                    <div *ngIf="f.submitted && payRate.invalid">
                                        <div [hidden]="!payRate.errors.required">
                                            {{TRANSACTION_ENTRY_PAY_RATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>

                                    </div>
                                    <div *ngIf="!islifeTimeValidpayRate">
                                        Invalid Input
                                    </div>

                                </div>
                            </div>
                        </div> -->

                        <!-- HCM New Updated Code -->
                        <div *ngIf="isUnderUpdate">
                                <div class="search-top">
                                        <input type="text" class="search-txt form-control" title="Search"
                                            placeholder="Search..." (keyup)='updateTransactionFilter($event)' />
                                    </div>
                                    <br/>
                            <div class="algo-table">
                                <!-- Data Grid Starts-->

                                <div class="table-responsive">
                                    <ngx-datatable id="customWidthTable" class="material" [rows]="data"
                                        [loadingIndicator]="loadingIndicator" [offset]="page2.pageNumber"
                                        (page)='setPage2($event)' [columnMode]="'force'" [headerHeight]="50"
                                        [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable"
                                        [limit]="page2.size" [externalPaging]="true" [count]="page2.totalElements">
                                        <!-- <ngx-datatable-column *ngFor="let col of columns " name={{col.prop}}  [canAutoResize]="true" [draggable]="false" [resizeable]="true">
         </ngx-datatable-column> -->

                                        <!-- <ngx-datatable-column name="Action" [width]="90"  [canAutoResize]="myScreenBoolean"  [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="edit-ico"    (click)="viewDetails(row)"></button>
          </ng-template>
        </ngx-datatable-column> -->
                                        <ngx-datatable-column name="serialNo" [sortable]="true" [width]="100"
                                            [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template>
                                                <span (click)="sortColumn('transcationNumber')">No.#</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <!-- {{row.$$index + 1}} -->
                                                {{serialNoDisplayArr[row.$$index]}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="EmployeeId" [sortable]="false" prop="EmployeeId">

                                            <template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                <!-- <select name="select" class="form-control" [ngClass]="'custom-'+ row.$$index" (change)='getName($event.target.value,row)' placeholder="Employee Id" >
                        <option *ngFor="let item of employeeIdOption"
                            value="{{item.employeeIndexId}}">{{item.employeeIdInString}}</option>
                    </select> -->

                                                <input auto-complete [source]="employeeIdOption" value="{{value}}"
                                                    class="form-control search-id" [ngClass]="'empCustom-'+ row.$$index"
                                                    list-formatter="employeeIdInString" max-num-list="5"
                                                    (blur)='getName($event.target.value,row)' *ngIf="row.id == 0" />

                                                    <!-- <input value="{{value}}"class="form-control" list-formatter="employeeIdInString"
                                                    max-num-list="5" (blur)='getName($event.target.value,row)' *ngIf="row.id > 0"  disabled/> -->
                                                    <span *ngIf="row.id > 0">{{value}}</span>

                                            </template>

                                    
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="EmployeeName" [sortable]="false"
                                            prop="EmployeeName">

                                            <template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="ProjectId" [sortable]="false" prop="ProjectId">

                                            <template let-value="value" ngx-datatable-cell-template>
                                                <select name="select" class="form-control" placeholder="ProjectId">
                                                    <!-- <option></option> -->
                                                </select>
                                            </template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="CodeId" [sortable]="false" prop="CodeId">

                                            <template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="CodeFactor" [sortable]="false" prop="CodeFactor">

                                            <template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="PayFactor" [sortable]="false" prop="PayFactor">

                                            <template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                <input type="number" class="form-control"
                                                    [ngClass]="'custom-'+ row.$$index" value="{{value}}"
                                                    (keyup)="calculateGridPayRate($event,row.$$index);" />
                                            </template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="PayRate" [sortable]="false" prop="PayRate">

                                            <template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </template>
                                        </ngx-datatable-column>


                                        <ngx-datatable-column name="Action" [width]="90"
                                            [canAutoResize]="myScreenBoolean" [draggable]="false" [resizeable]="false">
                                            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value"
                                                ngx-datatable-cell-template>
                                                <span class="fa fa-plus" (click)="addRow(row);" style="font-size:15px"
                                                    *ngIf="(data.length - 1) == row.$$index"></span>
                                                <span class="del-ico clickable" (click)="cancelRow(row);"></span>
                                                <span class="edit-ico clickable" *ngIf="isUnderUpdate"
                                                    (click)="editRow(row);"></span>

                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>

                                </div>
                                <!-- Data Grid Ends-->
                            </div>

                            <!-- Table View Starts -->
                            <div class="table-view">
                                <span>TABLE VIEW</span>
                                <div class="select-outer">
                                    <select class="form-control" (change)="changePageSize2($event)" name="ddPageSize"
                                        [(ngModel)]="ddPageSize1" #cityId="ngModel">
                                        <option value="5">5 at a time </option>
                                        <option value="10">10 at a time </option>
                                        <option value="15">15 at a time </option>
                                        <option value="50">50 at a time </option>
                                        <option value="100">100 at a time </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Table View Ends -->



                        <!-- HCM New Updated Code -->
                        <div *ngIf="!isUnderUpdate">
                            <div class="algo-table">
                                <!-- Data Grid Starts-->

                                <div class="table-responsive">
                                    <ngx-datatable id="customWidthTable" class="material" [rows]="data"
                                        [loadingIndicator]="loadingIndicator" [offset]="page2.pageNumber"
                                        (page)='setPage2($event)' [columnMode]="'force'" [headerHeight]="50"
                                        [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable"
                                        [limit]="page2.size" [count]="page2.totalElements">
                                        <!-- <ngx-datatable-column *ngFor="let col of columns " name={{col.prop}}  [canAutoResize]="true" [draggable]="false" [resizeable]="true">
                                 </ngx-datatable-column> -->

                                        <!-- <ngx-datatable-column name="Action" [width]="90"  [canAutoResize]="myScreenBoolean"  [draggable]="false" [resizeable]="false">
                                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico"    (click)="viewDetails(row)"></button>
                                  </ng-template>
                                </ngx-datatable-column> -->
                                        <ngx-datatable-column name="serialNo" [sortable]="true" [width]="100"
                                            [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template>
                                                <span (click)="sortColumn('transcationNumber')">No.#</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                {{row.$$index + 1}}

                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="EmployeeId" [sortable]="false" prop="EmployeeId">

                                            <template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                <!-- <select name="select" class="form-control" [ngClass]="'custom-'+ row.$$index" (change)='getName($event.target.value,row)' placeholder="Employee Id" >
                                                <option *ngFor="let item of employeeIdOption"
                                                    value="{{item.employeeIndexId}}">{{item.employeeIdInString}}</option>
                                            </select> -->

                                                <input auto-complete [source]="employeeIdOption" value="{{value}}"
                                                    class="form-control search-id" [ngClass]="'empCustom-'+ row.$$index"
                                                    list-formatter="employeeIdInString" max-num-list="5"
                                                    (blur)='getName($event.target.value,row)' />

                                            </template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="EmployeeName" [sortable]="false"
                                            prop="EmployeeName">

                                            <template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="ProjectId" [sortable]="false" prop="ProjectId">

                                            <template let-value="value" ngx-datatable-cell-template>
                                                <select name="select" class="form-control" placeholder="ProjectId">
                                                    <!-- <option></option> -->
                                                </select>
                                            </template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="CodeId" [sortable]="false" prop="CodeId">

                                            <template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="CodeFactor" [sortable]="false" prop="CodeFactor">

                                            <template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="PayFactor" [sortable]="false" prop="PayFactor">

                                            <template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                <input type="number" class="form-control"
                                                    [ngClass]="'custom-'+ row.$$index" value="{{value}}"
                                                    (keyup)="calculateGridPayRate($event,row.$$index);" />
                                            </template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="PayRate" [sortable]="false" prop="PayRate">

                                            <template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </template>
                                        </ngx-datatable-column>


                                        <ngx-datatable-column name="Action" [width]="90"
                                            [canAutoResize]="myScreenBoolean" [draggable]="false" [resizeable]="false">
                                            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value"
                                                ngx-datatable-cell-template>
                                                <span class="fa fa-plus" (click)="addRow(row);" style="font-size:15px"
                                                    *ngIf="(data.length - 1) == row.$$index"></span>
                                                <span class="del-ico clickable" (click)="cancelRow(row);"></span>
                                                <span class="edit-ico clickable" *ngIf="isUnderUpdate"
                                                    (click)="editRow(row);"></span>

                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>

                                </div>
                                <!-- Data Grid Ends-->
                            </div>

                            <!-- Table View Starts -->
                            <div class="table-view">
                                <span>TABLE VIEW</span>
                                <div class="select-outer">
                                    <select class="form-control" (change)="changePageSize2($event)" name="ddPageSize"
                                        [(ngModel)]="ddPageSize1" #cityId="ngModel">
                                        <option value="5">5 at a time </option>
                                        <option value="10">10 at a time </option>
                                        <option value="15">15 at a time </option>
                                        <option value="50">50 at a time </option>
                                        <option value="100">100 at a time </option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <!-- Table View Ends -->


                        <!-- <div *ngIf="isUnderUpdate" [ngClass]="'form-group'">
                            <div
                                [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <div class="col-md-4">
                                    <label class="control-label"
                                        for="{{TRANSACTION_ENTRY_VIEW_BY['fieldValue']}}">{{TRANSACTION_ENTRY_VIEW_BY['fieldValue']}}</label>
                                    <span *ngIf="TRANSACTION_ENTRY_VIEW_BY['isMandatory']">*</span>
                                </div>
                                <div class="col-md-4">
                                    <select [ngClass]="'form-control fm-txt'" name="viewby" [(ngModel)]="ViewBy"
                                        #viewby="ngModel" title="{{TRANSACTION_ENTRY_VIEW_BY['helpMessage']}}"
                                        (change)="sortBatchResult($event.target.value)" maxlength="31">
                                        <option value="id">--Select View By--</option>
                                        <option [value]="1">Employee ID</option>
                                        <option [value]="2">Department ID</option>
                                        <option [value]="3">Code ID</option>
                                        <option [value]="4">Project ID</option>

                                    </select>

                                </div>

                            </div>
                        </div>
                        <span *ngIf="isUnderUpdate" class="pull-right">
                            <button class="blue-btn" type="button" (click)="varifyDelete()">Delete Row</button>
                            <br>
                            <br>
                        </span> -->
                        <!-- <div *ngIf="isUnderUpdate" class="algo-table algo-table-department"> -->
                        <!-- Data Grid Starts-->
                        <!-- <div class="table-responsive">
                                <ngx-datatable id="DepartmentGrid1" class="material" [rows]="transDetails"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                                    [externalPaging]="true" [count]="page1.totalElements" [offset]="page1.pageNumber"
                                    [limit]="page1.size" (page)='setPage1($event)' [selected]="selected"
                                    [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]='true'> -->

                        <!-- Data Grid checkbox -->
                        <!-- <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false"
                                        [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                        [checkboxable]="true">
                                    </ngx-datatable-column> -->

                        <!-- Data Grid Department Id -->
                        <!-- <ngx-datatable-column name="serialNo" [sortable]="true" [width]="100"
                                        [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                        <ng-template let-column="column" let-sort="sortFn"
                                            ngx-datatable-header-template>
                                            <span (click)="sortColumn('transcationNumber')">No.#</span>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{serialNoDisplayArr[row.$$index]}}
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="employeeId" [sortable]="true" [width]="150"
                                        [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                        <ng-template let-column="column" let-sort="sortFn"
                                            ngx-datatable-header-template>
                                            <span
                                                (click)="sortColumn('employeeId')">{{TRANSACTION_ENTRY_EMPLOYEE_ID['fieldValue']}}</span>
                                        </ng-template>
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column> -->

                        <!-- Data Grid Department Description -->
                        <!-- <ngx-datatable-column name="employeeName" [sortable]="true" [width]="150"
                                        [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                        <ng-template let-column="column" let-sort="sortFn"
                                            ngx-datatable-header-template>
                                            <span (click)="sortColumn('employeeName')">Employee Name</span>
                                        </ng-template>
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column> -->

                        <!-- Data Grid  Arabic Department Description -->
                        <!-- <ngx-datatable-column name="trxType" [sortable]="true" [width]="100"
                                        [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                        <ng-template let-column="column" let-sort="sortFn"
                                            ngx-datatable-header-template>
                                            <span
                                                (click)="sortColumn('trxType')">{{TRANSACTION_ENTRY_TRANSACTION_TYPE['fieldValue']}}</span>
                                        </ng-template>
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="departmentId" [sortable]="true" [width]="100"
                                        [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                        <ng-template let-column="column" let-sort="sortFn"
                                            ngx-datatable-header-template>
                                            <span (click)="sortColumn('departmentId')">Dept. ID</span>
                                        </ng-template>
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="projectId" [sortable]="true" [width]="100"
                                        [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                        <ng-template let-column="column" let-sort="sortFn"
                                            ngx-datatable-header-template>
                                            <span (click)="sortColumn('projectId')">Project ID</span>
                                        </ng-template>
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="codeId" [sortable]="true" [width]="100"
                                        [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                        <ng-template let-column="column" let-sort="sortFn"
                                            ngx-datatable-header-template>
                                            <span
                                                (click)="sortColumn('codeId')">{{TRANSACTION_ENTRY_CODE_ID['fieldValue']}}</span>
                                        </ng-template>
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>


                                    <ngx-datatable-column name="amount" [sortable]="true" [width]="120"
                                        [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                        <ng-template let-column="column" let-sort="sortFn"
                                            ngx-datatable-header-template>
                                            <span
                                                (click)="sortColumn('amount')">{{TRANSACTION_ENTRY_AMOUNT['fieldValue']}}</span>
                                        </ng-template>
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column name="payRate" [sortable]="true" [width]="100"
                                        [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                        <ng-template let-column="column" let-sort="sortFn"
                                            ngx-datatable-header-template>
                                            <span
                                                (click)="sortColumn('payRate')">{{TRANSACTION_ENTRY_PAY_RATE['fieldValue']}}</span>
                                        </ng-template>
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            {{value}}
                                        </ng-template>
                                    </ngx-datatable-column> -->

                        <!-- Data Grid Action -->
                        <!-- <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            {{TRANSACTION_ENTRY_PAY_PERIOD_FROM['fieldValue']}}
                                        </ng-template>
                                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                            <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                        </ng-template>
                                    </ngx-datatable-column> -->
                        <!-- </ngx-datatable>
                            </div> -->
                        <!-- Data Grid Ends-->
                        <!-- </div> -->

                        <!-- Table View Starts -->
                        <!-- <div class="table-view">
                            <span>TABLE VIEW</span>
                            <div class="select-outer">
                                <select class="form-control" (change)="changePageSize1($event)" name="ddPageSize"
                                    [(ngModel)]="ddPageSize1" #cityId="ngModel">
                                    <option value="5">5 at a time </option>
                                    <option value="15">15 at a time </option>
                                    <option value="50">50 at a time </option>
                                    <option value="100">100 at a time </option>
                                </select>
                            </div>
                        </div> -->
                        <!-- Table View Ends -->
                        <!-- <div id="print-section" class="print-tabel">
                            <table class="details"
                                style="width: 100% !important; min-width: 1200px; table-layout: fixed; border-spacing: 0; border-collapse: separate;font-family: 'Open Sans', sans-serif;margin-bottom: 20px;">
                                <tr>

                                    <td align='left'
                                        style=" padding: 0; border: none; border-radius: 10px;font-size: 14px;">
                                        <table
                                            style="width: 100% !important;  table-layout: fixed; border-spacing: 0; border-collapse: separate; font-family: 'Open Sans', sans-serif;">
                                            <tr>
                                                <th
                                                    style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                                    {{TRANSACTION_ENTRY_BATCH_ID['fieldValue']}}</th>
                                                <th
                                                    style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                                    {{TRANSACTION_ENTRY_DESCRIPTION['fieldValue']}}</th>

                                                <th
                                                    style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                                    {{TRANSACTION_ENTRY_ARABIC_DESCRIPTION['fieldValue']}}</th>

                                                <th
                                                    style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                                    {{TRANSACTION_ENTRY_TRANSACTION_TYPE['fieldValue']}}</th>


                                            </tr>
                                            <tr>
                                                <td align="center"
                                                    style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                                    {{batchId}}</td>
                                                <td align="center"
                                                    style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                                    {{model.description}}</td>
                                                <td align="center"
                                                    style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                                    {{model.arabicDescription}}</td>
                                                <td align="center"
                                                    style="border: 1px solid #8e8e8e; font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                                    {{model.transactionEntryDetail.transactionType}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div> -->
                        <!-- Buttons -->
                        <div [ngClass]="'button-row'">
                            <div
                                [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                <div [ngClass]="'col-xs-12'">
                                    <span class="pull-right">
                                        <!-- <button *ngIf="model.id" [ngClass]="'grey-btn'">{{TRANSACTION_ENTRY_UPDATE_LABEL['fieldValue']}}</button> -->
                                        <button [disabled]="saving"
                                            [ngClass]="'grey-btn'">{{TRANSACTION_ENTRY_SAVE_LABEL['fieldValue']}}</button>
                                        <button [ngClass]="'grey-btn  '" type="button" (click)="printEmployeeDetails()"
                                            *ngIf="model.id">{{TRANSACTION_ENTRY_PRINT_LABEL['fieldValue']}}</button>
                                        <!-- <button [ngClass]="'blue-btn'" type="button">{{TRANSACTION_ENTRY_PRINT_LABEL['fieldValue']}}</button> -->
                                        <button [ngClass]="'orange-btn'" type="button"
                                            (click)="Clear(f)">{{TRANSACTION_ENTRY_CLEAR_LABEL['fieldValue']}}</button>
                                        <button [ngClass]="'blue-btn'" type="button" (click)="Cancel()">Cancel</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- Create Update form ends -->
            </div>

        </section>
    </section>
</div>