<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{CREATE['helpMessage']}}">{{CREATE['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{SEARCH['helpMessage']}}" placeholder="{{SEARCH['helpMessage']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                </div>
                <div class="algo-table algo-table-department">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">

                        <ngx-datatable id="TrainingCourseGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">



                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div 
                                            [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>  
                                </div>
                              </div>

                            <!-- Data Grid Action -->
                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view table-view-fix">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <!-- <div class="bottom-view">
                    </div>-->
                    <button class="blue-btn" (click)="varifyDelete()">{{DELETE['fieldValue']}}</button>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                            <div class="col-md-12 mb-30">
                                <h3 *ngIf="!model.id">{{CREATE['fieldValue']}} {{moduleName}}</h3>
                                <h3 *ngIf="model.id">{{UPDATE['fieldValue']}} {{moduleName}}</h3>
                            </div>
                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>

                        <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateTrainingCourse(f, $event)" #f="ngForm" novalidate>


                            <!-- TrainingCourse Id field -->

                            <div class="col-md-12">
                                <div *ngIf="isUnderUpdate; then update else create"></div>
                                <ng-template #update>
                                    <div class="col-md-7 mb-30 form-group">
                                        <div [ngClass]="{ 'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                            <div class="col-md-4" style="margin-left: -15px; ">
                                                <label class="control-label" for="traningId">{{TRAINING_ID['fieldValue']}}</label>
                                                <span *ngIf="TRAINING_ID['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8" style="margin-left: -5px;  width: 66%;">
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="traningId" value="{{model.traningId}}" title="{{TRAINING_ID['helpMessage']}}"
                                                    maxlength="15" [required]="TRAINING_ID['isMandatory']" [readonly]="!TRAINING_ID['writeAccess']" />

                                            </div>
                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template #create>
                                    <div class="col-md-7 mb-30 form-group">
                                        <div [ngClass]="{ 'has-error': f.submitted && !traningId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                            <div class="col-md-4" style="margin-left: -15px; ">
                                                <label class="control-label" for="traningId">{{TRAINING_ID['fieldValue']}}</label>
                                                <span *ngIf="TRAINING_ID['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8" style="margin-left: -5px;  width: 66%;">
                                                <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="traningId" [(ngModel)]="model.traningId" #traningId="ngModel"
                                                    title="{{TRAINING_ID['helpMessage']}}" maxlength="15" [required]="TRAINING_ID['isMandatory']" [typeahead]="traningCourseIdList"
                                                    (typeaheadLoading)="changeTypeaheadLoading($event)" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                                    typeaheadOptionField="traningId" />
                                                <div *ngIf="f.submitted && traningId.invalid">
                                                    <div [hidden]="!traningId.errors.required">
                                                        {{TRAINING_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div [hidden]="!traningId.errors?.maxlength">
                                                        {{TRAINING_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>


                                <!-- courseInCompany Field -->
                                <div class="col-md-5 mb-30 form-group">
                                    <div [ngClass]="{'has-error': f.submitted && !courseInCompany.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">

                                        <div class="col-md-12">
                                            <input type="checkbox" name="courseInCompany" [(ngModel)]="model.courseInCompany" #courseInCompany="ngModel">
                                            <label class="control-label" for="courseInCompany">{{COURSE_IN_COMPANY_OFFICE['fieldValue']}}</label>
                                            <span *ngIf="COURSE_IN_COMPANY_OFFICE['isMandatory']">*</span>
                                            <div *ngIf="f.submitted && courseInCompany.invalid">
                                                <div [hidden]="!courseInCompany.errors.required">
                                                    {{COURSE_IN_COMPANY_OFFICE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>

                            <!-- TrainingCourse Description Field -->
                            <div class="col-md-7 mb-30 form-group">
                                <div [ngClass]="{'has-error': f.submitted && !desc.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="desc">{{DESCRIPTION['fieldValue']}}</label>
                                        <span *ngIf="DESCRIPTION['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8" style="margin-left: -10px;  width: 64%;">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model.desc" #desc="ngModel" title="{{DESCRIPTION['helpMessage']}}"
                                        [required]="DESCRIPTION['isMandatory']" maxlength="31" />
                                        <div *ngIf="f.submitted && desc.invalid">
                                            <div [hidden]="!desc.errors.required">
                                                {{DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- employeeCost Field -->
                            <div class="col-md-5 mb-30 form-group">
                                <div [ngClass]="{'has-error': f.submitted && !employeeCost.valid || !islifeTimeValidEmployeeCost,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="employeeCost">{{EMPLOYEE_COST['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYEE_COST['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" 
                                           [ngClass]="'form-control fm-txt'" 
                                           name="employeeCost" 
                                           [(ngModel)]="model.employeeCost" 
                                           #employeeCost="ngModel"
                                            title="{{EMPLOYEE_COST['helpMessage']}}"                                              
                                            maxlength="11" min="1"
                                            onKeyPress="if(this.value.length==10) return false;"
                                            max="999999999999" 
                                            [required]="EMPLOYEE_COST['isMandatory']"
                                            onkeypress="return check_digit(event,this,10,3);"
                                            (keyup)="checkdecimalemployeepay(employeeCost.value);"
                                            
                                            />
                                        <div *ngIf="(f.submitted && employeeCost.invalid) || !islifeTimeValidEmployeeCost">

                                            <div [hidden]="!employeeCost.errors?.required">
                                                {{EMPLOYEE_COST['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <!--<div *ngIf="!employeePay.errors?.required && employeePay.value==0 && islifeTimeValidEmployeeCost">
                                                Invalid input
                                            </div>-->
                                            <div *ngIf="!employeeCost.errors?.required && !islifeTimeValidEmployeeCost">
                                                Invalid Input
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Arabic  description -->
                            <div class="col-md-7 mb-30 form-group">
                                <div [ngClass]="{'has-error': f.submitted && !arbicDesc.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="arbicDesc">{{ARABIC_DESCRIPTION['fieldValue']}}</label>
                                        <span *ngIf="ARABIC_DESCRIPTION['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8 arabic-mode" style="margin-left: -10px;  width: 64%;">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="arbicDesc" [(ngModel)]="model.arbicDesc" #arbicDesc="ngModel"
                                            title="{{ARABIC_DESCRIPTION['helpMessage']}}" [required]="ARABIC_DESCRIPTION['isMandatory']" maxlength="61" />
                                        <div *ngIf="f.submitted && arbicDesc.invalid">
                                            <div [hidden]="!arbicDesc.errors.required">
                                                {{ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- EMPLOYER_COST Field -->
                            <div class="col-md-5 mb-30 form-group">
                                <div [ngClass]="{'has-error': f.submitted && !employerCost.valid || !islifeTimeValidEmployerCost,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="employerCost">{{EMPLOYER_COST['fieldValue']}}</label>
                                        <span *ngIf="EMPLOYER_COST['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" [ngClass]="'form-control fm-txt'" name="employerCost" [(ngModel)]="model.employerCost" #employerCost="ngModel"
                                            title="{{EMPLOYER_COST['helpMessage']}}" [required]="EMPLOYER_COST['isMandatory']" maxlength="11" min="1"
                                            onKeyPress="if(this.value.length==10) return false;" (keyup)="checkdecimalemployerCost(employerCost.value);"
                                            max="999999999999"  onkeypress="return check_digit(event,this,10,3);"/>
                                        <div *ngIf="(f.submitted && employerCost.invalid) || !islifeTimeValidEmployerCost">

                                            <div [hidden]="!employerCost.errors?.required">
                                                {{EMPLOYER_COST['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <!--<div *ngIf="!employeePay.errors?.required && employeePay.value==0 && islifeTimeValidEmployeeCost">
                                                Invalid input
                                            </div>-->
                                            <div *ngIf="!employerCost.errors?.required && !islifeTimeValidEmployerCost">
                                                Invalid Input
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- location -->
                            <div class="col-md-7 mb-30 form-group">
                                <div [ngClass]="{'has-error': f.submitted && !location.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="location">{{DEFAULT_LOCATION['fieldValue']}}</label>
                                        <span *ngIf="DEFAULT_LOCATION['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8 " style="margin-left: -10px;  width: 64%;">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="location" [(ngModel)]="model.location" #location="ngModel" title="{{DEFAULT_LOCATION['helpMessage']}}"
                                        [required]="DEFAULT_LOCATION['isMandatory']"  maxlength="50" />
                                        <div *ngIf="f.submitted && location.invalid">
                                            <div [hidden]="!location.errors.required">
                                                {{DEFAULT_LOCATION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- supplierCost Field -->
                            <div class="col-md-5 mb-30 form-group">
                                <div [ngClass]="{'has-error': f.submitted && !supplierCost.valid || !islifeTimeValidSupplierCost,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="supplierCost">{{SUPPLIER_COST['fieldValue']}}</label>
                                        <span *ngIf="SUPPLIER_COST['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" [ngClass]="'form-control fm-txt'" name="supplierCost" [(ngModel)]="model.supplierCost" #supplierCost="ngModel"
                                            title="{{SUPPLIER_COST['helpMessage']}}" [required]="SUPPLIER_COST['isMandatory']"  maxlength="11" min="1"
                                            onKeyPress="if(this.value.length==10) return false;"
                                            max="999999999999"  (keyup)="checkdecimalsupplierCost(supplierCost.value);" onkeypress="return check_digit(event,this,10,3);"/>
                                        <div *ngIf="(f.submitted && supplierCost.invalid) || !islifeTimeValidSupplierCost">

                                            <div [hidden]="!supplierCost.errors?.required">
                                                {{SUPPLIER_COST['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <!--<div *ngIf="!employeePay.errors?.required && employeePay.value==0 && islifeTimeValidEmployeeCost">
                                                Invalid input
                                            </div>-->
                                            <div *ngIf="!supplierCost.errors?.required && !islifeTimeValidSupplierCost">
                                                Invalid Input
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- prerequisiteId -->
                            <div class="col-md-7 mb-30 form-group">
                                <div [ngClass]="{'has-error': f.submitted && !prerequisiteId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="prerequisiteId">{{PREREQUISITE_TRANINING_ID['fieldValue']}}</label>
                                        <span *ngIf="PREREQUISITE_TRANINING_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8 " style="margin-left: -10px;  width: 64%;">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="prerequisiteId" [(ngModel)]="model.prerequisiteId" #prerequisiteId="ngModel"
                                            title="{{PREREQUISITE_TRANINING_ID['helpMessage']}}" [required]="PREREQUISITE_TRANINING_ID['isMandatory']" maxlength="15" />
                                        <div *ngIf="f.submitted && prerequisiteId.invalid">
                                            <div [hidden]="!prerequisiteId.errors.required">
                                                {{PREREQUISITE_TRANINING_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- instructorCost Field -->
                            <div class="col-md-5 mb-30 form-group">
                                <div [ngClass]="{'has-error': f.submitted && !instructorCost.valid || !islifeTimeValidInstructorCost,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="instructorCost">{{INSTRUCTOR_COST['fieldValue']}}</label>
                                        <span *ngIf="INSTRUCTOR_COST['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="number" [ngClass]="'form-control fm-txt'" name="instructorCost" [(ngModel)]="model.instructorCost" #instructorCost="ngModel"
                                            title="{{INSTRUCTOR_COST['helpMessage']}}" [required]="INSTRUCTOR_COST['isMandatory']"  maxlength="11" min="1"
                                            onKeyPress="if(this.value.length==10) return false;"
                                            max="999999999999"  (keyup)="checkdecimalinstructorCost(instructorCost.value);" onkeypress="return check_digit(event,this,10,3);"/>
                                        <div *ngIf="(f.submitted && instructorCost.invalid) || !islifeTimeValidInstructorCost">

                                            <div [hidden]="!instructorCost.errors?.required">
                                                {{INSTRUCTOR_COST['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <!--<div *ngIf="!employeePay.errors?.required && employeePay.value==0 && islifeTimeValidEmployeeCost">
                                                Invalid input
                                            </div>-->
                                            <div *ngIf="!instructorCost.errors?.required && !islifeTimeValidInstructorCost">
                                                Invalid Input
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <button *ngIf="model.id " [ngClass]="'grey-btn'" >{{UPDATE['fieldValue']}}</button>
                            <div class="col-md-12 mt-30">
                                    
                                <hr>
                            </div>
                            <div class="col-md-7 mb-30 form-group">
                                <form class="form-horizontal" #subItemData="ngForm" (ngSubmit)="subItemData.form.valid && addSubItem(subItemData, subItemData.value)">
                                    <div class="col-md-12 mb-30 form-group">
                                        <div [ngClass]="{'has-error': subItemData.submitted && !classId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="classId">{{CLASS_ID['fieldValue']}}</label>
                                                <span *ngIf="CLASS_ID['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8 ">
                                                <input  type="text" [ngClass]="'form-control fm-txt'" name="classId" [(ngModel)]="subItemsObj.classId" #classId="ngModel"
                                                    title="{{CLASS_ID['helpMessage']}}" [required]="CLASS_ID['isMandatory']" [readonly]="!CLASS_ID['writeAccess']" maxlength="15"
                                                />
                                                <div *ngIf="subItemData.submitted && classId.invalid">
                                                    <div [hidden]="!classId.errors.required">
                                                        {{CLASS_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30 form-group">
                                        <div [ngClass]="{'has-error': subItemData.submitted && !className.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="className">{{CLASS_NAME['fieldValue']}}</label>
                                                <span *ngIf="CLASS_NAME['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8 ">
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="className" [(ngModel)]="subItemsObj.className" #className="ngModel"
                                                    title="{{CLASS_NAME['helpMessage']}}" [required]="CLASS_NAME['isMandatory']"  maxlength="31"
                                                />
                                                <div *ngIf="subItemData.submitted && className.invalid">
                                                    <div [hidden]="!className.errors.required">
                                                        {{CLASS_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30 form-group">
                                        <div [ngClass]="{'has-error': subItemData.submitted && !frmStartDate.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="startDate">{{START_DATE['fieldValue']}}</label>
                                                <span *ngIf="START_DATE['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8 ">


                                                <div class="input-group">
                                                    <input [ngClass]="'form-control fm-txt'" placeholder="{{START_DATE['helpMessage']}}" ngx-mydatepicker name="frmStartDate"
                                                        [(ngModel)]="modelStartDate" [options]="myOptions" #dp1="ngx-mydatepicker"
                                                        (dateChanged)="onStartDateChanged($event)" (change)="onStartDateChanged($event.target.value)"
                                                        #frmStartDate="ngModel" [required]="START_DATE['isMandatory']" [readonly]="!START_DATE['writeAccess']" title="{{START_DATE['helpMessage']}}"
                                                        id="start_date" />

                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                                <div *ngIf="subItemData.submitted && frmStartDate.invalid">
                                                    <div [hidden]="!frmStartDate.errors.required">
                                                        {{START_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-30 form-group">
                                        <div [ngClass]="{'has-error': subItemData.submitted && !startTime.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="startTime">{{START_TIME['fieldValue']}}</label>
                                                <span *ngIf="START_TIME['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8 ">


                                                <div class="selection dt-picker">
                                                    <div [ngClass]="{'has-error': subItemData.submitted && !startTime.valid,'select-dt-full':true}">
                                                        <div class="select-outer">
                                                            <input title="{{START_TIME['fieldValue']}}" class="picker-input fm-txt" name="startTime" [value]="subItemsObj.startTime"
                                                                (onChange)="formatstartTime($event)" [(ngModel)]="subItemsObj.startTime"
                                                                #startTime="ngModel" dateTimePicker [pickerType]="'time'" [hourTime]="'24'"
                                                                [showSeconds]="false"  [required]="START_TIME['isMandatory']" [readonly]="!START_TIME['writeAccess']">
                                                        </div>
                                                        <div *ngIf="subItemData.submitted && startTime.invalid">
                                                            <div  [hidden]="!startTime.errors.required">
                                                                {{START_TIME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30 form-group">

                                        <div [ngClass]="{'has-error': (subItemData.submitted  && !frmEndDate.valid) || ( !frmEndDate.errors?.required && error.isError),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="endDate">{{END_DATE['fieldValue']}}</label>
                                                <span *ngIf="END_DATE['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8 ">
                                                
                                                <div class="input-group">
                                                    <input [ngClass]="'form-control fm-txt'" placeholder="{{END_DATE['helpMessage']}}" ngx-mydatepicker name="frmEndDate"
                                                        [(ngModel)]="modelEndDate" [options]="myOptions" #dp2="ngx-mydatepicker"
                                                        (dateChanged)="onEndDateChanged($event)" #frmEndDate="ngModel" [required]="END_DATE['isMandatory']" [readonly]="!END_DATE['writeAccess']"
                                                         (change)="onEndDateChanged($event.target.value)" title="{{END_DATE['helpMessage']}}"
                                                        id="end_date" />

                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.clearDate()">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>

                                                </div>
                                                <div *ngIf="subItemData.submitted && frmEndDate.invalid">
                                                    <div [hidden]="!frmEndDate.errors.required">
                                                        {{END_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>

                                                </div>
                                                <div *ngIf="!frmEndDate.errors?.required && error.isError" class="r">
                                                    {{ error.errorMessage }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30 form-group">
                                        <div [ngClass]="{'has-error': subItemData.submitted && !endTime.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="endTime">{{END_TIME['fieldValue']}}</label>
                                                <span *ngIf="END_TIME['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8 ">
                                                <div class="selection dt-picker">
                                                    <div [ngClass]="{'has-error': subItemData.submitted && !endTime.valid,'select-dt-full ':true}">
                                                        <div class="select-outer">
                                                            <input title="{{START_TIME['fieldValue']}}" class="picker-input fm-txt" name="endTime" [value]="subItemsObj.endTime"
                                                                (onChange)="formatendTime($event)" [(ngModel)]="subItemsObj.endTime"
                                                                #endTime="ngModel" dateTimePicker [pickerType]="'time'" [hourTime]="'24'"
                                                                [showSeconds]="false" [required]="END_TIME['isMandatory']" [readonly]="!END_TIME['writeAccess']">
                                                        </div>
                                                        <div *ngIf="subItemData.submitted && endTime.invalid">
                                                            <div  [hidden]="!endTime.errors.required">
                                                                {{START_TIME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30 form-group">

                                        <div [ngClass]="{'has-error': subItemData.submitted && !enrolled.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label"  for="enrolled">{{ENROLLED['fieldValue']}}</label>
                                                <span *ngIf="ENROLLED['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8 ">
                                                <input [readonly]="!ENROLLED['writeAccess']" [disabled]="disabled" (keypress)="_keyPress($event);" type="text" [ngClass]="'form-control fm-txt'" name="enrolled" [(ngModel)]="subItemsObj.enrolled"
                                                    #enrolled="ngModel" title="{{ENROLLED['helpMessage']}}" [required]="ENROLLED['isMandatory']" 
                                                />
                                                <div *ngIf="subItemData.submitted && enrolled.invalid">
                                                    <div [hidden]="!enrolled.errors.required">
                                                        {{ENROLLED['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30 form-group">
                                        <div [ngClass]="{'has-error': subItemData.submitted && !maximum.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="maximum">{{MAXIMUM['fieldValue']}}</label>
                                                <span *ngIf="MAXIMUM['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8 ">
                                                <input type="number" (keypress)="_keyPress($event);" [ngClass]="'form-control fm-txt'" name="maximum" [(ngModel)]="subItemsObj.maximum" #maximum="ngModel"
                                                    title="{{MAXIMUM['helpMessage']}}" [required]="MAXIMUM['isMandatory']"  min="0" />
                                                <div *ngIf="subItemData.submitted && maximum.invalid">
                                                    <div [hidden]="!maximum.errors.required">
                                                        {{MAXIMUM['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30 form-group">
                                        <div [ngClass]="{'has-error': subItemData.submitted && !instructorName.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="instructorName">{{INSTRUCTOR_NAME['fieldValue']}}</label>
                                                <span *ngIf="INSTRUCTOR_NAME['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8 ">
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="instructorName" [(ngModel)]="subItemsObj.instructorName" #instructorName="ngModel"
                                                    title="{{INSTRUCTOR_NAME['helpMessage']}}" [required]="INSTRUCTOR_NAME['isMandatory']"  maxlength="90"
                                                />
                                                <div *ngIf="subItemData.submitted && instructorName.invalid">
                                                    <div [hidden]="!instructorName.errors.required">
                                                        {{INSTRUCTOR_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30 form-group">
                                        <div [ngClass]="{'has-error': subItemData.submitted && !classLocation.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div class="col-md-4">
                                                <label class="control-label" for="classLocation">{{CLASS_LOCATION['fieldValue']}}</label>
                                                <span *ngIf="CLASS_LOCATION['isMandatory']">*</span>
                                            </div>
                                            <div class="col-md-8 ">
                                                <input type="text" [ngClass]="'form-control fm-txt'" name="classLocation" [(ngModel)]="subItemsObj.classLocation" #classLocation="ngModel"
                                                    title="{{CLASS_LOCATION['helpMessage']}}" [required]="CLASS_LOCATION['isMandatory']" maxlength="60"
                                                />
                                                <div *ngIf="subItemData.submitted && classLocation.invalid">
                                                    <div [hidden]="!classLocation.errors.required">
                                                        {{CLASS_LOCATION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div>
                                        

                                            <button type="submit" [ngClass]="'blue-btn'" style="margin-left: 45px; border-radius: 20px;">{{isUnderUpdateClass ? UPDATE['fieldValue'] : ADD_CLASS['fieldValue']}}</button>
                                        </div>
                                    </div>
                                </form>


                            </div>
                            <div class="col-md-5 mb-30">
                                <div class="col-md-12">
                                    <button type="button" [routerLink]="['/hcm/clsenrollment']" [ngClass]="'grey-btn'" style="margin-bottom: 10px;float: right;min-width:230px;">{{CLASS_ENROLLMENT['fieldValue']}}</button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" [routerLink]="['/hcm/trainingBatchSignup']" [ngClass]="'grey-btn'" style="margin-bottom: 10px;float: right;min-width:230px;">{{TRANINING_SIGNUP['fieldValue']}}</button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" [routerLink]="['/hcm/class-skill']" [ngClass]="'grey-btn'" style="margin-bottom: 10px;float: right;min-width:230px;">{{CLASS_SKILLS['fieldValue']}}</button>
                                </div>
                            </div>
                            <!-- SECOND TABLE GRID -->
                            <div class="col-md-12">

                                <div class="algo-table algo-table-department">
                                    <!-- Data Grid Starts-->
                                    <div class="table-responsive" *ngIf="model.subItems.length">

                                        <ngx-datatable id="TrainingCourseGrid1" class="material" [rows]="model.subItems" [columnMode]="'force'" [headerHeight]="50"
                                            [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false" [selected]="selectedClass"
                                            [selectionType]="'checkbox'" (select)='onSelectClass($event)' [scrollbarH]="true">

                                            <!-- Data Grid checkbox -->
                                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                                [checkboxable]="true">
                                            </ngx-datatable-column>

                                            <!-- Data Grid classId -->
                                            <ngx-datatable-column name="classId" [sortable]="true" [width]="80" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('classId')">{{CLASS_ID['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <!-- Data Grid className -->
                                            <ngx-datatable-column name="className" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('className')">{{CLASS_NAME['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <!-- Data Grid startDate -->
                                            <ngx-datatable-column name="startDate" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('startDate')">{{START_DATE['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value | date:'dd-MM-yyyy'}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <!-- Data Grid startTime -->
                                            <ngx-datatable-column name="startTime" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('startTime')">{{START_TIME['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <!-- Data Grid endDate -->
                                            <ngx-datatable-column name="endDate" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('endDate')">{{END_DATE['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value | date:'dd-MM-yyyy'}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <!-- Data Grid endTime -->
                                            <ngx-datatable-column name="endTime" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('endTime')">{{END_TIME['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <!-- Data Grid enrolled -->
                                            <ngx-datatable-column name="enrolled" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('enrolled')">{{ENROLLED['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <!-- Data Grid maximum -->
                                            <ngx-datatable-column name="maximum" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('maximum')">{{MAXIMUM['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <!-- Data Grid instructorName -->
                                            <ngx-datatable-column name="instructorName" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('instructorName')">{{INSTRUCTOR_NAME['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <!-- Data Grid classLocation -->
                                            <ngx-datatable-column name="classLocation" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('classLocation')">{{CLASS_LOCATION['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <!-- Data Grid Action -->
                                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    {{ACTION['fieldValue']}}
                                                </ng-template>
                                                <ng-template let-rowIndex="rowIndex" let-row="row" let-value="value" ngx-datatable-cell-template>
                                                    {{rowIndex}}
                                                    <button class="edit-ico" type="button" (click)="editClass(row)" title="Edit"></button>
                                                </ng-template>
                                            </ngx-datatable-column>


                                        </ngx-datatable>
                                    </div>
                                    <!-- Data Grid Ends-->
                                </div>


                            </div>


                            <!-- Buttons -->
                            <div class="button-row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-xs-12">
                                        <span class="pull-right">
                                          
                                            <button type="button" (click)="deleteClass()" [ngClass]="'grey-btn'">{{DELETE_ROW['fieldValue']}}</button>
                                            <!-- <button *ngIf="model.id " [ngClass]="'grey-btn'" >update{{UPDATE['fieldValue']}}</button> -->
                                            <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{SAVE['fieldValue']}}</button>
                                            <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{CLEAR['fieldValue']}}</button>
                                            <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{CANCEL['fieldValue']}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Create Update form ends -->
                </div>
            </div>
        </section>
    </section>
</div>
