<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction && !isDeleteBatch'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
            <p *ngIf="isDeleteBatch">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()'
 *ngIf='!isDeleteAction && !isDeleteBatch'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='deleteBatch()' *ngIf='isDeleteBatch'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>


<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()"
 title="{{CALCULATE_CHECKS_CREATE_LABEL['helpMessage']}}">{{CALCULATE_CHECKS_CREATE_LABEL['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" 
[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <div *ngIf="showloader" class="loader"  style="margin: auto 40%">
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" 
[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" 
title="{{CALCULATE_CHECKS_SEARCH['helpMessage']}}" 
                            placeholder="{{CALCULATE_CHECKS_SEARCH['fieldValue']}}" (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure"
                        title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;"
                        title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure"
                        (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)"
                        title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure"
                        (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)"
                        title="Save"><i class="fa fa-save"></i></button>
                </div>
                <!-- Grid Starts -->

                <div class="algo-table algo-table-department">
                    <div class="table-responsive">
                        <ngx-datatable id="DepartmentGrid2" class="material" [rows]="processedRows"
                            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                            [externalPaging]="true" (page)='setPageCalChecks($event)' [selected]="selected"
                            [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]='true'
                            [limit]="pgeOne.size" [count]="pgeOne.totalElements" [offset]="pgeOne.pageNumber">

                            <div
                                *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                    <ngx-datatable-column
                                        *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "
                                        name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false"
                                        [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn"
                                            ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"
                                                [checked]="grid.isVisible == 1" name="isVisible"
                                                (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>  
                                </div>
                            </div>

                            <!-- Action -->
                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false"
                                [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span>Action</span>
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
                <!-- Grid End -->

                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view table-view-fix">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize"
                                [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model.id">{{CALCULATE_CHECKS_CREATE_FORM_LABEL['fieldValue']}}</h3>
                            <h3 *ngIf="model.id"> Calculate Checks </h3>
                        </div>
                        <div *ngIf="duplicateWarning"
                            [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>

                        <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && process()" #f="ngForm"
                            novalidate>

                            <div [ngClass]="'form-group'">
                                <div
                                    [ngClass]="{ 'has-error': f.submitted && !DefaultId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                    <div class="col-md-3">
                                        <label class="control-label"
                                            for="DefaultId">{{CALCULATE_CHECKS_DEFAULT_ID['fieldValue']}}</label>
                                        <span *ngIf="CALCULATE_CHECKS_DEFAULT_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" class="search-id"
                                            name="DefaultId" [(ngModel)]="defaultId" #DefaultId="ngModel"
                                            autocomplete="off" title="{{CALCULATE_CHECKS_DEFAULT_ID['helpMessage']}}"
                                            maxlength="15" [typeahead]="defaultIdList"
                                            (typeaheadLoading)="changeTypeaheadLoading($event)"
                                            (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                            typeaheadOptionField="defaultID" [readonly]="isUnderUpdate">

                                        <div *ngIf="f.submitted && DefaultId.invalid">
                                            <div [hidden]="!DefaultId.errors.required">
                                                {{CALCULATE_CHECKS_DEFAULT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div [ngClass]="'form-group'">
                                <div
                                    [ngClass]="{ 'has-error': f.submitted && !Description.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                    <div class="col-md-3">
                                        <label class="control-label"
                                            for="Description">{{CALCULATE_CHECKS_DESCRIPTION['fieldValue']}}</label>
                                        <span *ngIf="CALCULATE_CHECKS_DESCRIPTION['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="Description"
                                            value="{{description}}" #Description autocomplete="off"
                                            title="{{CALCULATE_CHECKS_DESCRIPTION['helpMessage']}}"
                                            [readonly]="!CALCULATE_CHECKS_DESCRIPTION['writeAccess']">

                                        <div *ngIf="f.submitted && Description.invalid">
                                            <div [hidden]="!Description.errors.required">
                                                {{CALCULATE_CHECKS_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div [ngClass]="'form-group'">
                                <div
                                    [ngClass]="{ 'has-error': f.submitted && !Created.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                    <div class="col-md-3">
                                        <label class="control-label"
                                            for="batchId">{{CALCULATE_CHECKS_CREATED_BY['fieldValue']}}</label>
                                        <span *ngIf="CALCULATE_CHECKS_CREATED_BY['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="Created"
                                            value="{{createdby}}" #Created autocomplete="off"
                                            title="{{CALCULATE_CHECKS_CREATED_BY['helpMessage']}}"
                                        [readonly]="!CALCULATE_CHECKS_CREATED_BY['writeAccess']">


                                        <div *ngIf="f.submitted && Created.invalid">
                                            <div [hidden]="!Created.errors.required">
                                                {{CALCULATE_CHECKS_CREATED_BY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div [ngClass]="'form-group'">
                                <div class="col-md-8">
                                    <div
                                        [ngClass]="{ 'has-error': f.submitted && !payrollDate.valid, 'col-md-offset-4': currentLanguage == 2 }">

                                        <div class="col-md-3">
                                            <label class="control-label"
                                                for="payrollDate">{{CALCULATE_CHECKS_PAYROLL_DATE['fieldValue']}}</label>
                                            <span *ngIf="CALCULATE_CHECKS_PAYROLL_DATE['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input [ngClass]="'form-control fm-txt'" ngx-mydatepicker name="payrollDate"
                                                value="{{payrollDate | date: 'dd-MM-yyyy' }}" [options]="myOptions"
                                                #dp1="ngx-mydatepicker"
                                                title="{{CALCULATE_CHECKS_PAYROLL_DATE['helpMessage']}}"
                                                [readonly]="!CALCULATE_CHECKS_PAYROLL_DATE['writeAccess']"/>
                                        </div>

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp.clearDate()">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp.toggleCalendar()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div
                                        [ngClass]="{ 'has-error': f.submitted && !Buildtime.valid, 'col-md-offset-4': currentLanguage == 2 }">

                                        <div class="col-md-4" style="margin-left: -103px;">
                                            <label class="control-label"
                                                for="Buildtime">{{CALCULATE_CHECKS_BUILD_TIME['fieldValue']}}</label>
                                            <span *ngIf="CALCULATE_CHECKS_BUILD_TIME['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="Buildtime"
                                                value="{{buildtime}}" #Buildtime autocomplete="off"
                                                title="{{CALCULATE_CHECKS_BUILD_TIME['helpMessage']}}"
                                                [readonly]="!CALCULATE_CHECKS_BUILD_TIME['writeAccess']">

                                            <div *ngIf="f.submitted && Buildtime.invalid">
                                                <div [hidden]="!Buildtime.errors.required">
                                                    {{CALCULATE_CHECKS_BUILD_TIME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div
                                    [ngClass]="{'has-error':postingDateValidation && !fromDate.valid,'col-md-8 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

                                    <div class="col-md-3">
                                        <label
                                            class="control-label">{{CALCULATE_CHECKS_POSTED_DATE['fieldValue']}}</label>
                                        <span *ngIf="CALCULATE_CHECKS_POSTED_DATE['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <input [ngClass]="'form-control fm-txt'" placeholder="Select a date"
                                                ngx-mydatepicker name="fromDate" [(ngModel)]="modelStartDate"
                                                [options]="myOptions" #dp1="ngx-mydatepicker"
                                                (dateChanged)="onStartDateChanged($event)"
                                                (change)="onStartDateChanged($event.target.value)" #fromDate="ngModel"
                                                required readonly />

                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                    style="float:none; height: 40px; width: 40px;"
                                                    (click)="dp1.clearDate()">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                                <button type="button" class="btn btn-default"
                                                    style="float:none; height: 40px; width: 40px;"
                                                    (click)="dp1.toggleCalendar()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>

                                        </div>
                                        <div *ngIf="postingDateValidation && fromDate.invalid">
                                            <div [hidden]="!fromDate.errors.required">
                                                {{CALCULATE_CHECKS_POSTED_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                </div>
                                </div>
                            </div>
                            <div *ngIf="isUnderUpdate" [ngClass]="'form-group'">
                                <div class="col-md-6">
                                    <div
                                        [ngClass]="{ 'has-error': f.submitted && !BatchId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-3" style="padding-left: 0px;">
                                            <label class="control-label"
                                                for="batchId">{{CALCULATE_CHECKS_VIEW_BY['fieldValue']}}</label>
                                            <span *ngIf="CALCULATE_CHECKS_VIEW_BY['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-4" style="margin-left: 36px;width: 214px;">
                                            <select [ngClass]="'form-control fm-txt'" name="batchId"
                                                [(ngModel)]="batchId" #BatchId="ngModel" autocomplete="off"
                                                title="{{CALCULATE_CHECKS_VIEW_BY['helpMessage']}}" maxlength="15"
                                                (change)="onColumnChange($event.target.value)">
                                                <option [value]='0' selected>--Select Sort--</option>
                                                <option [value]='1'>Employee ID</option>
                                                <option [value]='2'>Department ID</option>
                                                <option [value]='3'>Code ID</option>
                                                <option [value]='4'>Project ID</option>
                                            </select>

                                            <div *ngIf="f.submitted && BatchId.invalid">
                                                <div [hidden]="!BatchId.errors.required">
                                                    {{CALCULATE_CHECKS_VIEW_BY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <!-- Loader -->
                            <div *ngIf="loaderImg" style="margin-left: 40%;height: 6rem;">
                                <img src="assets/img/loader.gif" style="width: 5rem;" alt="Loader">
                            </div>
                            <div class="form-group">
                                <div class="col-md-3" style="margin-top: -35px;padding-left: 31px;">
                                    <input type="radio" name="filter" [(ngModel)]="all" [value]="true"
                                        (click)="getallCalculateChecks()">&nbsp;&nbsp;
                                    {{CALCULATE_CHECKS_RADIO_ALL['fieldValue']}}
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>

                            <div *ngIf="isUnderUpdate || Gridrows.length > 0" class="algo-table algo-table-department">
                                <!-- Data Grid Starts-->
                                <div class="table-responsive">
                                    <ngx-datatable id="DepartmentGrid1" class="material" [rows]="Gridrows"
                                        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                        [rowHeight]="'auto'" [externalPaging]="true" (page)='setPageTransList($event)'
                                        [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'
                                        [scrollbarH]='true' [limit]="pgeTwo.size" [count]="pgeTwo.totalElements"
                                        [offset]="pgeTwo.pageNumber">

                                        <!-- Data Grid checkbox -->
                                        <ngx-datatable-column [width]="70" *ngIf="!isUnderUpdate" [sortable]="false"
                                            [canAutoResize]="false" [draggable]="false" [resizeable]="true"
                                            [headerCheckboxable]="false" [checkboxable]="false">
                                            <ng-template let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template>
                                                <span>Select</span>
                                            </ng-template>
                                            <ng-template ngx-datatable-cell-template let-value="value"
                                                let-rowIndex="rowIndex" let-row="row" let-isSelected="isSelected"
                                                let-onCheckboxChangeFn="onCheckboxChangeFn">
                                                <input type="checkbox" [checked]="isSelected"
                                                    (change)="onCheckboxChangeFn($event)"
                                                    [title]="CALCULATE_CHECKS_STATUS['helpMessage']" />
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid defaultIndx  -->
                                        <ngx-datatable-column name="serialNo" [sortable]="true" [width]="70"
                                            [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template>
                                                <span>{{CALCULATE_CHECKS_NO['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                {{serialNoDisplay[row.$$index]}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="employeeID" [sortable]="true" [width]="150"
                                            [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template>
                                                <span>{{CALCULATE_CHECKS_EMPLOYEE_ID['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>

                                        </ngx-datatable-column>

                                        <!-- Data Grid Department Description -->
                                        <ngx-datatable-column name="employeeName" [sortable]="true" [width]="200"
                                            [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template>
                                                <span>Employee Name</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>

                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <!-- Data Grid  Arabic Department Description -->
                                        <ngx-datatable-column name="departmentId" [sortable]="true" [width]="140"
                                            [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template>
                                                <span>{{CALCULATE_CHECKS_DEPARTMENT_ID['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <!-- <ngx-datatable-column name="projectId" [sortable]="true" [width]="140" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                <span>Project ID</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column> -->
                                        <ngx-datatable-column name="codeType" [sortable]="true" [width]="100"
 [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn"
 ngx-datatable-header-template>
                                                <span>{{CALCULATE_CHECKS_TRX_TYPE['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{codeType[value]}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="codeId" [sortable]="true" [width]="100"
                                            [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template>
                                                <span>{{CALCULATE_CHECKS_CODE_ID['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="totalAmount" [sortable]="true" [width]="100"
                                            [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template>
                                                <span>{{CALCULATE_CHECKS_AMOUNT['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column name="status" [sortable]="true" [width]="100"
                                            [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                            <ng-template let-column="column" let-sort="sortFn"
                                                ngx-datatable-header-template>
                                                <span>{{CALCULATE_CHECKS_STATUS['fieldValue']}}</span>
                                            </ng-template>
                                            <ng-template let-value="value" ngx-datatable-cell-template>
                                                {{value}}
                                            </ng-template>
                                        </ngx-datatable-column>


                                        <!-- Data Grid Action -->
                                        <!-- <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    {{CALCULATE_CHECKS_PAYROLL_DATE['fieldValue']}}
                                                </ng-template>
                                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                                </ng-template>
                                            </ngx-datatable-column> -->
                                    </ngx-datatable>
                                </div>
                                <!-- Data Grid Ends-->
                            </div>
                            <div [ngClass]="'col-xs-12'">
                                <span class="">
                                    <ul>
                                        <li>
    
                                            <div class="row">
                                                <div class="col-md-6 smt-totDetails">
                                                    <label>Total employees :</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="from-control" [ngModelOptions]="{standalone: true}" [disabled]="true"
                                                        [ngModel]="totalEmp">
                                                </div>
                                            </div>
                                           
                                        </li>
                                        <li>
    
                                            <div class="row">
                                                <div class="col-md-6 smt-totDetails">
                                                    <label>Total pay codes :</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="from-control"  [ngModelOptions]="{standalone: true}" [disabled]="true"
                                                        [ngModel]="totalPayCode">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
    
                                            <div class="row">
                                                <div class="col-md-6 smt-totDetails">
                                                    <label>Total deduction :</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="from-control" [ngModelOptions]="{standalone: true}" [disabled]="true"
                                                        [ngModel]="totalDeduction">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
    
                                            <div class="row">
                                                <div class="col-md-6 smt-totDetails">
                                                    <label>Total benefit :</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="from-control" [ngModelOptions]="{standalone: true}" [disabled]="true"
                                                        [ngModel]="totalBenefit">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
    
                                            <div class="row">
                                                <div class="col-md-6 smt-totDetails">
                                                    <label>Total net :</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" class="from-control" [ngModelOptions]="{standalone: true}" [disabled]="true"
                                                        [ngModel]="totalNet">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </span>
                            </div>

                            <!-- Table View Starts -->
                            <div *ngIf="Gridrows.length > 0" style="padding-bottom: 30px;" class="table-view">
                                <span>TABLE VIEW</span>
                                <div class="select-outer">
                                    <select class="form-control" (change)="changePageSize1($event)" name="ddPageSize1"
                                        [(ngModel)]="ddPageSize1" #tableview="ngModel">
                                        <option value="5">5 at a time </option>
                                        <option value="15">15 at a time </option>
                                        <option value="50">50 at a time </option>
                                        <option value="100">100 at a time </option>
                                    </select>
                                </div>
                            </div>
                            <!-- Table View Ends -->
                            <br>
                            <br>
                            <!-- Buttons -->
                            <div [ngClass]="'col-xs-12'">
                                <span class="pull-right">
                                    <button class="grey-btn" type="button" *ngIf="isUnderUpdate"
 (click)="generateAndEmailPayslip()">{{GENERATE_PALSLIP_LABEL['fieldValue']}}</button>
                                    <button class="grey-btn" type="button" *ngIf="isUnderUpdate" 
(click)="generateCSVFile()">{{GENERATE_CSV_LABEL['fieldValue']}}</button>
                                    <button class="grey-btn" type="button"  
(click)="generateExcelReportForPayroll()">Download As Excel</button>
                                    <button class="grey-btn" type="button" *ngIf="!isUnderUpdate"
 [disabled]="selected.length<1" 
(click)="getDistribution()">{{CALCULATE_CHECKS_DISTRIBUTION_LABEL['fieldValue']}}</button>
                                    <button type="button" [ngClass]="'grey-btn'" *ngIf="!isUnderUpdate" 
(click)="process()">{{CALCULATE_CHECKS_PROCESS_LABEL['fieldValue']}}</button>
                                    <!--<button type="button" [ngClass]="'grey-btn'" *ngIf="!isUnderUpdate" &lt;!&ndash;[disabled]="selected.length>0 || processedChecked"&ndash;&gt; (click)="process()">{{CALCULATE_CHECKS_PROCESS_LABEL['fieldValue']}}</button>-->
                                    <button [ngClass]="'grey-btn'" *ngIf="!isUnderUpdate"
 type="button">{{CALCULATE_CHECKS_PRINT_LABEL['fieldValue']}}</button>
                                    <button *ngIf="!isUnderUpdate" [ngClass]="'orange-btn'" type="button"
 (click)="Clear(f)">{{CALCULATE_CHECKS_CLEAR_LABEL['fieldValue']}}</button>
                                    <button [ngClass]="'blue-btn'" type="button" (click)="Cancel()">Cancel</button>

                                </span>
                            </div>
                        </form>

                        <!-- <div [ngClass]="'col-xs-12'">
                            <span class="pull-right">
                                <ul>
                                    <li>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Total employees:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="from-control" [disabled]="true"
                                                    [ngModel]="totalEmp">
                                            </div>
                                        </div>



                                    </li>
                                    <li>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Total Pay Codes:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="from-control" [disabled]="true"
                                                    [ngModel]="totalPayCode">
                                            </div>
                                        </div>



                                    </li>
                                    <li>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Total deduction:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="from-control" [disabled]="true"
                                                    [ngModel]="totalDeduction">
                                            </div>
                                        </div>



                                    </li>
                                    <li>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Total benefit:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="from-control" [disabled]="true"
                                                    [ngModel]="totalBenefit">
                                            </div>
                                        </div>



                                    </li>
                                    <li>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Total net:</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="from-control" [disabled]="true"
                                                    [ngModel]="totalNet">
                                            </div>
                                        </div>



                                    </li>
                                </ul>
                            </span>
                        </div> -->
                    </div>
                    <!-- Create Update form ends -->
                </div>
            </div>
        </section>
    </section>
</div>

<style>
    .smt-totDetails{
        text-align: right;
    }
</style>