<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
      <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
          {{confirmationModalTitle}}
      </div>
      <div class="modal-body">
          <p *ngIf='!isDeleteAction'>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
          <p *ngIf='isDeleteAction'>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
      </div>
      <div class="modal-footer">
              <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
              <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
              <button  class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

      </div>
  </div>
</div>

<!-- screen header -->
<div class="page-header">
<div class="page-header-title">
<span><h3>Create Position class</h3></span>
</div>
<!-- <div class="page-header-breadcrumb">
  <i class="ti-settings"></i>
</div> -->
</div>
<!-- screen header -->

<div class="content-wrapper" (keyup)='EscapeModal($event)'>
<section class="content" (keyup)='EscapeModal($event)'>
  <!-- section Heading Starts -->
  <!-- <div class="section-heading">
      <h2></h2>
  </div> -->
  <!-- section Heading Ends -->
  <section class="inner-content">
      <!-- Content Outer Starts -->
      <div class="content-outer com-form">
          <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{messageText}}
          </div>

          <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                  {{message.text}}
              </div>
          <!-- Content Heading Starts -->
          <div class="content-heading">
              <!-- <h3> {{screenName}}</h3> -->
                 <div *ngIf="showloader" class="loader">
              </div>
          </div>
          <!-- Content Heading Ends -->
          
          <!--adding form starts-->
<!-- Basic Form Inputs card start -->
<app-card [title]="">
<!-- <h4 class="sub-title">Create company</h4> -->


<form class="form-horizontal" (ngSubmit)="f.form.valid && CreatePositionClass(f, $event)"
#f="ngForm" novalidate>





<!-- <ng-template> -->
     <div class="form-group row">
            <div class="col-sm-2">
              <div class="floating-label" class="col-md-offset-4">  
                  <input auto-complete [source]="rows" class="floating-input" list-formatter="positionClassId" [readonly]="isUnderUpdate"   [(ngModel)]="model.positionClassId" [ngModelOptions]="{standalone: true}" name=" #positionClassId"   #positionClassId="ngModel"
                   (valueChanged)="getPositionClassData($event)" placeholder="" on-focus="onAutocompleteFocus('lblPositionClassId');positionClassFocusIn(positionClassId)" 
                   on-focusout="positionClassFocusOut(positionClassId)" tabindex="1" required #filterInput1/>
   
                  <div *ngIf="f.submitted && positionClassId.invalid">
                          <div class="error-msg" [hidden]="!positionClassId.errors.required">
                              {{POSITION_CLASS_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div class="error-msg" [hidden]="!positionClassId.errors?.maxlength" *ngIf="POSITION_CLASS_ID['listDtoFieldValidationMessage'][1]">
                              {{POSITION_CLASS_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                      </div>
                  <span class="highlight"></span>
                  <label id="lblPositionClassId" for="positionClassId">{{POSITION_CLASS_ID['fieldValue']}}</label>
                  <input type="hidden"/><span  class="search-icon">
                  <!-- <i class="ti-angle-down"></i> -->
                  <i (click)="toggle1()" [ngClass]="{'ti-angle-down': !isPositionClassOpen, 'ti-angle-up':isPositionClassOpen }"></i>
                  </span>
                </div>
            </div>
      </div>


 
<!-- </ng-template> -->

      <div class="form-group row">  
              <div class="col-sm-4">
                  <div class="form-group row">
                      <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !positionClassDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <input class="floating-input" type="text" placeholder=" " tabindex="2" name="positionClassDescription" [(ngModel)]="model.positionClassDescription"
                            #positionClassDescription="ngModel" title="{{POSITION_CLASS_DESCRIPTION['helpMessage']}}" maxlength="31" [required]="POSITION_CLASS_DESCRIPTION['isMandatory']"
                          />
                          <div *ngIf="f.submitted && positionClassDescription.invalid">
                              <div class="error-msg" [hidden]="!positionClassDescription.errors.required">
                                  {{POSITION_CLASS_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div class="error-msg" [hidden]="!positionClassDescription.errors?.maxlength" *ngIf="POSITION_CLASS_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                  {{POSITION_CLASS_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                          </div>
                          <span class="highlight"></span>
                          <label class="control-label" for="positionClassDescription">{{POSITION_CLASS_DESCRIPTION['fieldValue']}}</label>
              
                      </div>
                  </div>
              </div>


             
              
                          <div class="col-sm-4">
                                  <div class="form-group row">
                                      <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !arabicPositionClassDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                          <input  class="floating-input" type="text" placeholder=" " tabindex="3" name="arabicPositionClassDescription" [(ngModel)]="model.arabicPositionClassDescription"
                                              #arabicPositionClassDescription="ngModel" title="{{POSITION_CLASS_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61"
                                              [required]="POSITION_CLASS_ARABIC_DESCRIPTION['isMandatory']" />
                                          <div *ngIf="f.submitted && arabicPositionClassDescription.invalid">
                                              <div class="error-msg" [hidden]="!arabicPositionClassDescription.errors.required">
                                                  {{POSITION_CLASS_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                              </div>
                                              <div class="error-msg" [hidden]="!arabicPositionClassDescription.errors?.maxlength" *ngIf="POSITION_CLASS_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                  {{POSITION_CLASS_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                              </div>
                                          </div>
                                          <span class="highlight"></span>
                                          <label class="control-label" for="arabicPositionClassDescription">{{POSITION_CLASS_ARABIC_DESCRIPTION['fieldValue']}}</label>
                                      </div>
                                  </div>
                          </div>
             
            

            
             
       </div>
 


      <div [ngClass]="'button-row'">
              <div [ngClass]="'col-sm-12'">
                  <button *ngIf="model.id" class="green-btn">{{POSITION_CLASS_UPDATE_LABEL['fieldValue']}}</button>
                  <button *ngIf="!model.id" class="green-btn">{{POSITION_CLASS_SAVE_LABEL['fieldValue']}}</button>
                  <button class="blue-btn" (click)="goBack()">{{POSITION_CLASS_CANCEL_LABEL['fieldValue']}}</button>
                  <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{POSITION_CLASS_CLEAR_LABEL['fieldValue']}}</button>
                  <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
                  <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
              </div>
              
      </div>
 
</form>


</app-card>        
         

<!--adding form ends-->
</div>
<!-- Content Outer Ends -->
</section>
</section>
</div>



