
<div class="content-wrapper user-view" >
    <section class="content">
        <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
        <section class="inner-content">
            <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                {{messageText}}
            </div>
            
            <div class="content-outer com-form">
                <div class="row">
                    <div class="content-heading">
                        <div class="search-top">
                            <input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
                        </div>
                    </div>
                    <div class="form-row">  
                        <div class="col-xs-12">
                            <div class="algo-table">
                                <div class="table-responsive">
                                    <ngx-datatable id="mainaccount" class="material" [rows]="rows"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'auto'" [externalPaging]="true"
                                    [count]="page.totalElements" [offset]="page.pageNumber"
                                    [limit]="page.size" (page)='setPage($event)'
                                    [selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
                                    (select)='onSelect($event)'>
                                    <ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="mainAccountNumber" [width]="150"
                                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                    <ng-template let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn"
                                    (click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
                                    let-value="value" ngx-datatable-cell-template>
                                    {{value}} </ng-template> 
                                </ngx-datatable-column> 
                                <ngx-datatable-column name="mainAccountDescription" *ngIf="defaultManageFormValues[1]['readAccess']" 
                                [width]="200" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false"> <ng-template
                                let-column="column" let-sort="sortFn"
                                ngx-datatable-header-template> <span class="sort-btn"
                                (click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
                                let-value="value" ngx-datatable-cell-template>
                                {{value}} </ng-template>
                            </ngx-datatable-column> 
                            <ngx-datatable-column name="mainAccountDescriptionArabic" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="150" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
                            {{value}} 
						</ng-template>
                    </ngx-datatable-column> 
                    <ngx-datatable-column name="accountTypeName" *ngIf="defaultManageFormValues[3]['readAccess']" 
                    [width]="150" [canAutoResize]="false" [draggable]="false"
                    [resizeable]="false"> <ng-template
                    let-column="column" let-sort="sortFn"
                    ngx-datatable-header-template> <span class="sort-btn"
                    (click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
                    let-value="value" ngx-datatable-cell-template>
                    {{value}} 
                </ng-template>
            </ngx-datatable-column> 
            <ngx-datatable-column name="accountCategoryDescription" *ngIf="defaultManageFormValues[4]['readAccess']" 
            [width]="150" [canAutoResize]="false" [draggable]="false"
            [resizeable]="false"> <ng-template
            let-column="column" let-sort="sortFn"
            ngx-datatable-header-template> <span class="sort-btn"
            (click)="sort()">{{defaultManageFormValues[4]['fieldValue']}}</span> </ng-template> <ng-template
            let-value="value" ngx-datatable-cell-template>
            {{value}} 
        </ng-template>
    </ngx-datatable-column> 
    
    <ngx-datatable-column name="Action" [width]="99" *ngIf="defaultManageFormValues[7]['readAccess']" 
    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
    <ng-template let-column="column" let-sort="sortFn"
    ngx-datatable-header-template>
    {{defaultManageFormValues[7]['fieldValue']}} </ng-template> <ng-template let-row="row"
    let-value="value" ngx-datatable-cell-template>
    <a class="edit-ico" (click)="getMainAccountSetupById(row)" title="{{defaultManageFormValues[5]['helpMessage']}}"></a>
</ng-template> 
</ngx-datatable-column> 
</ngx-datatable>
</div>
</div><!-- Algo Table Ends -->
</div>
<div class="button-row" *ngIf="page.totalElements > 0">
    <!-- Table View Starts -->
    <div class="table-view">
        <span>{{tableViewtext}}</span>
        <div class="select-outer">
            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
                <option value="5">5 {{atATimeText}} </option>
                <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                <option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                <option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
            </select>
        </div>
    </div>
    <!-- Table View Ends -->
    <div class="bottom-view">
    </div>
</div>
</div>
<form focus (ngSubmit)="!hasMsg && f.form.valid && saveMainAccountSetup(f)" #f="ngForm" novalidate>
    
    <div class="form-row">
        <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !mainAccountNumber.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode ':true}">
            
            <label class="dirlabel_left" for="mainAccountNumber">{{defaultAddFormValues[0]['fieldValue']}}</label>
            <input myAutofocus type="text" class="form-control fm-txt auto-focus {{myHtml}}" name="mainAccountNumber" [(ngModel)]="model.mainAccountNumber" 		
            #mainAccountNumber="ngModel" 	id="txtmainAccountNumber"	OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   	(blur)="IsIdAlreadyExist()"
            title="{{defaultAddFormValues[0]['helpMessage']}}"	[disabled]="disableId"	
            [readonly]="!defaultAddFormValues[0]['writeAccess']" maxlength="18" required/>
            <div *ngIf="f.submitted && mainAccountNumber.invalid">
                <div class='error-msg' *ngIf="mainAccountNumber.errors.required">
                    {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                
            </div>
        </div>
    </div>
    
    
    
    <div class="form-row">
        <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !mainAccountDescription.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            
            <label for="mainAccountDescription">{{defaultAddFormValues[1]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="mainAccountDescription" [(ngModel)]="model.mainAccountDescription" 		
            #mainAccountDescription="ngModel" 	maxlength="100"	
            title="{{defaultAddFormValues[1]['helpMessage']}}"		
            [readonly]="!defaultAddFormValues[1]['writeAccess']" required/>
            <div *ngIf="f.submitted && mainAccountDescription.invalid">
                <div class='error-msg' *ngIf="mainAccountDescription.errors.required">
                    {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="mainAccountDescription.errors.maxlength">
                    {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        
        <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !mainAccountDescriptionArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
            
            <label for="mainAccountDescriptionArabic">{{defaultAddFormValues[2]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="mainAccountDescriptionArabic" [(ngModel)]="model.mainAccountDescriptionArabic" 		
            #mainAccountDescriptionArabic="ngModel" 	maxlength="100"	
            title="{{defaultAddFormValues[2]['helpMessage']}}"		
            [readonly]="!defaultAddFormValues[2]['writeAccess']" required/>
            <div *ngIf="f.submitted && mainAccountDescriptionArabic.invalid">
                <div class='error-msg' *ngIf="mainAccountDescriptionArabic.errors.required">
                    {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="mainAccountDescriptionArabic.errors.maxlength">
                    {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
            </div>
        </div>
        
    </div><!-- Form Row Ends -->
    
    
    <div [ngClass]="'form-row'">
        <div  *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{'has-error': f.submitted && accountTypeId.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
            
            <label for="accountTypeId">{{defaultAddFormValues[3]['fieldValue']}}</label>
            <div [ngClass]="'select-outer'">
                <!--<select [ngClass]="'form-control '" name="accountTypeId" [(ngModel)]="model.accountTypeId" #accountTypeId="ngModel" 
                    title="{{defaultAddFormValues[3]['helpMessage']}}" required>
                    <option *ngFor="let account of accountoption"  value="{{account.accountTypeId}}" >
                        {{account.accountTypeName}}
                    </option>
                </select>-->
                <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArraccountTypeId" [(ngModel)]="accountTypeId" id="accountTypeId" [ngModelOptions]="{standalone: true}"
                [settings]="ddlaccountTypeIdSetting" 
                (onSelect)="getaccountTypeByID($event)" (onDeSelect)="OnaccountTypeIdDeSelect($event)"></angular2-multiselect>
                
            </div>
            
            <div *ngIf="f.submitted && accountTypeId.length==0">
                <div class='error-msg'>
                    {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                
            </div>
        </div>
        
        
    </div><!-- Form Row Ends -->
    
    <div class="form-row">
        <div  *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{'has-error': f.submitted && accountCategoryId.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
            
            <label for="accountCategoryId">{{defaultAddFormValues[4]['fieldValue']}}</label>
            <div [ngClass]="'select-outer'">
                <!--<select [ngClass]="'form-control '" name="accountCategoryId" [(ngModel)]="model.accountCategoryId" #accountCategoryId="ngModel" 
                    title="{{defaultAddFormValues[4]['helpMessage']}}" required>
                    <option *ngFor="let accountcategory of categoryoption"  value="{{accountcategory.accountCategoryId}}" >
                        {{accountcategory.accountCategoryDescription}}
                    </option>
                </select>-->
                <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArraccountCategoryId" [(ngModel)]="accountCategoryId" id="accountCategoryId" [ngModelOptions]="{standalone: true}"
                [settings]="ddlaccountCategoryIdSetting" 
                (onSelect)="getaccountCategoryByID($event)" (onDeSelect)="OnaccountCategoryIdDeSelect($event)"></angular2-multiselect>
            </div>
            
            <div *ngIf="f.submitted && accountCategoryId.length==0">
                <div class='error-msg'>
                    {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                
            </div>
        </div>         
        
    </div>
    
    <div class="form-row">
        
        <div  *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{'has-error': f.submitted && !tpclblnc.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            <label for="tpclblnc">{{defaultAddFormValues[5]['fieldValue']}}</label>
            <div [ngClass]="'select-outer'">
                <select [ngClass]="'form-control fm-txt'" name="ddtpclblnc" [(ngModel)]="model.tpclblnc" 
                #tpclblnc="ngModel" title="{{defaultAddFormValues[5]['helpMessage']}}" required>
                <option *ngFor="let balanceTypeStatus of ArrBalanceTypeStatus" [value]="balanceTypeStatus.typeId">
                    {{balanceTypeStatus.name}}
                </option>
            </select>
            
        </div>
        <div *ngIf="f.submitted && tpclblnc.invalid">
            <div class='error-msg' [hidden]="!tpclblnc.errors.required">
                {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>
        
    </div>
    
</div><!-- Form Row Ends -->
<div class="form-row">
    
    <div  *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{'has-error': f.submitted && !aliasAccount.valid,'col-md-6 col-sm-6 col-xs-12':true}">
        <label for="aliasAccount">{{defaultAddFormValues[6]['fieldValue']}}</label>
        <input type="text" [ngClass]="'form-control fm-txt'" name="aliasAccount" [(ngModel)]="model.aliasAccount" 		
        #aliasAccount="ngModel" 		
        title="{{defaultAddFormValues[6]['helpMessage']}}"		
        maxlength="25"  [readonly]="!defaultAddFormValues[6]['writeAccess']" required />
        <div *ngIf="f.submitted && aliasAccount.invalid">
            <div class='error-msg' *ngIf="aliasAccount.errors.required">
                {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
            <div class='error-msg' *ngIf="aliasAccount.errors.maxlength">
                {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
            </div>
            
        </div>
    </div>
    
    <div  *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{'has-error': f.submitted && !aliasAccountArabic.valid,'col-md-6 col-sm-6 col-xs-12  arabic-mode':true}">
        <label for="aliasAccountArabic">{{defaultAddFormValues[7]['fieldValue']}}</label>
        <input type="text" [ngClass]="'form-control fm-txt'" name="aliasAccountArabic" [(ngModel)]="model.aliasAccountArabic" 		
        #aliasAccountArabic="ngModel" 		
        title="{{defaultAddFormValues[7]['helpMessage']}}"		
        maxlength="25"  [readonly]="!defaultAddFormValues[7]['writeAccess']" required />
        <div *ngIf="f.submitted && aliasAccountArabic.invalid">
            <div class='error-msg' *ngIf="aliasAccountArabic.errors.required">
                {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
            <div class='error-msg' *ngIf="aliasAccountArabic.errors.maxlength">
                {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
            </div>
            
        </div>
    </div>
    
</div><!-- Form Row Ends -->

<div class="form-row">
    
    <div class="col-md-6 col-sm-12 col-xs-12">
        
        <ul class="check-list wd100" *ngIf="defaultAddFormValues[8]['readAccess']">
            <li><label for="allowAccountTransactionEntry">
                <input type="checkbox" [readonly]="!defaultAddFormValues[8]['writeAccess']" name="allowAccountTransactionEntry" [checked]="model.allowAccountTransactionEntry" [(ngModel)]="model.allowAccountTransactionEntry" #active="ngModel"/>
                
                {{defaultAddFormValues[8]['fieldValue']}}</label></li>
                <li><label for="active">
                    <input type="checkbox" [readonly]="!defaultAddFormValues[8]['writeAccess']" name="active" [checked]="model.active" [(ngModel)]="model.active" #active="ngModel"/>
                    
                    {{defaultAddFormValues[10]['fieldValue']}}</label></li>
                </ul>
            </div>
            
        </div><!-- Form Row Ends -->
        
        <div class="form-row">
            
            <div class="col-md-6 col-sm-6 col-xs-12">
                
                <div  *ngIf="defaultAddFormValues[11]['readAccess']" [ngClass]="{'has-error': f.submitted && !userDef1.valid,'form-row':true}">
                    <label for="userDef1">{{defaultAddFormValues[11]['fieldValue']}}</label>
                    <input type="text" [ngClass]="'form-control fm-txt'" name="userDef1" [(ngModel)]="model.userDef1" 		
                    #userDef1="ngModel" 		
                    title="{{defaultAddFormValues[11]['helpMessage']}}"		
                    [readonly]="!defaultAddFormValues[11]['writeAccess']"  />
                    
                </div>
                
                <div  *ngIf="defaultAddFormValues[12]['readAccess']" [ngClass]="{'has-error': f.submitted && !userDef2.valid,'form-row':true}">
                    <label for="userDef2">{{defaultAddFormValues[12]['fieldValue']}}</label>
                    <input type="text" [ngClass]="'form-control fm-txt'" name="userDef2" [(ngModel)]="model.userDef2" 		
                    #userDef2="ngModel" 		
                    title="{{defaultAddFormValues[12]['helpMessage']}}"		
                    [readonly]="!defaultAddFormValues[12]['writeAccess']"  />
                    
                </div>
                
                <div  *ngIf="defaultAddFormValues[13]['readAccess']" [ngClass]="{'has-error': f.submitted && !userDef3.valid,'form-row':true}">
                    <label for="userDef3">{{defaultAddFormValues[13]['fieldValue']}}</label>
                    <input type="text" [ngClass]="'form-control fm-txt'" name="userDef3" [(ngModel)]="model.userDef3" 		
                    #userDef3="ngModel" 		
                    title="{{defaultAddFormValues[13]['helpMessage']}}"		
                    [readonly]="!defaultAddFormValues[13]['writeAccess']"  />
                    
                </div>
                
                <div  *ngIf="defaultAddFormValues[14]['readAccess']" [ngClass]="{'has-error': f.submitted && !userDef4.valid,'form-row':true}">
                    <label for="userDef4">{{defaultAddFormValues[14]['fieldValue']}}</label>
                    <input type="text" [ngClass]="'form-control fm-txt'" name="userDef4" [(ngModel)]="model.userDef4" 		
                    #userDef4="ngModel" 		
                    title="{{defaultAddFormValues[14]['helpMessage']}}"		
                    [readonly]="!defaultAddFormValues[14]['writeAccess']"  />
                    
                </div>
                
                <div  *ngIf="defaultAddFormValues[15]['readAccess']" [ngClass]="{'has-error': f.submitted && !userDef5.valid,'form-row':true}">
                    <label for="userDef5">{{defaultAddFormValues[15]['fieldValue']}}</label>
                    <input type="text" [ngClass]="'form-control fm-txt'" name="userDef5" [(ngModel)]="model.userDef5" 		
                    #userDef5="ngModel" 		
                    title="{{defaultAddFormValues[15]['helpMessage']}}"		
                    [readonly]="!defaultAddFormValues[15]['writeAccess']"  />
                    
                </div>
                
            </div>
            
        </div><!-- Form Row Ends -->
        <div class="button-row">
            <div class="col-sm-12">
                <input type="submit" [disabled]="LockScreen(defaultAddFormValues[16]['writeAccess'])"
                 value="{{defaultAddFormValues[16]['fieldValue']}}" class="orange-btn" title="{{defaultAddFormValues[16]['helpMessage']}}">
                <input type="button" class="blue-btn" (click)="clearForm(f);" title="{{defaultAddFormValues[17]['helpMessage']}}" value="{{defaultAddFormValues[17]['fieldValue']}}"/>
                <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
            </div>
            
        </div>
    </form>
    
</div> <!-- Row Ends -->
</div><!-- Content OUter Ends -->

</section>
</section>
</div>
