<!-- Modal -->

<div class="modal-dialog  modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Create Main Account</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row clear-padding">
        <div class="col col-md-3">
          <div class="label-outer">
            <label>Main Account</label>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="value-outer">
            <ng-select [active]="activeMainAccountNumber" [items]="mainAccountList"
              (data)="checkMainAccountNumber($event)" *ngIf="flag">
            </ng-select>
          </div>
        </div>
        <div *ngIf="isLTR" class="col col-md-3">
          {{arrAccountDescription[0]}}
        </div>
        <div *ngIf="!isLTR" class="col col-md-3">
          {{arrAccountDescription[0]}}
        </div>
      </div>

      <div class="row clear-padding" *ngFor="let dimentionLabel of dimentionsSetup; let i = index">
        <div class="col col-md-3">
          <div class="label-outer">
            <label> {{dimentionLabel}}</label>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="value-outer">
            <ng-select *ngIf="flag" [items]="dimentionsListsValues[i]" placeholder="--Select--"
              (data)="checkDimentionsValue(i, $event)">

            </ng-select>
          </div>
        </div>
        <div *ngIf="isLTR" class="col col-md-3">
          {{arrAccountDescription[i+1]}}
        </div>
        <div *ngIf="!isLTR" class="col col-md-3">
          {{arrAccountDescriptionArabic[i+1]}}
        </div>
      </div>

      <div class="row clear-padding" [ngClass]="{'has-error': accountAliasetext.invalid && (accountAliasetext.dirty || accountAliasetext.touched) }">
        <div class="col col-md-3">
          Alias
        </div>
        <div class="col col-md-6">
          <input required type="text" class="form-control" #accountAliasetext="ngModel" [(ngModel)]="accountAliase">
          <div *ngIf="accountAliasetext.invalid && (accountAliasetext.dirty || accountAliasetext.touched) ">
            <div class='error-msg'>
                This Field Is Required
            </div>
        </div>
        </div>
      </div>

      <div class="row clear-padding">
        <div class="col col-md-3">
          Arabic Alias
        </div>
        <div class="col col-md-6" [ngClass]="{'has-error':accountAliaseArabictext.invalid && (accountAliaseArabictext.dirty || accountAliaseArabictext.touched) }">
          <input required type="text" class="form-control" #accountAliaseArabictext="ngModel" [(ngModel)]="accountAliaseArabic">
          <div *ngIf="accountAliaseArabictext.invalid && (accountAliaseArabictext.dirty || accountAliaseArabictext.touched) ">
            <div class='error-msg'>
                This Field Is Required
            </div>
        </div>
        </div>
      </div>
      <button type="button" class="orange-btn" (click)="createNewGlAccountNumber(accountAliasetext,accountAliaseArabictext)">Create</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="blue-btn" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>