<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>Restrict IP</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
        
            <!-- Content Outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <h3> Restrict IP</h3>
                </div>
                <!-- Content Heading Ends -->
                
                <!--adding form starts-->
        
                <!--<form (ngSubmit)="f.form.valid && updateIPSetting(f)" #f="ngForm" novalidate>-->
                     <form (ngSubmit)="f.form.valid && UpdateIpSetting(f)" #f="ngForm" novalidate>
                
                <div class="row">
                     <div [ngClass]="'form-row'">
                        <div [ngClass]="{'has-error': f.submitted && SelectedUsers.length == 0,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label >Select User</label>
                                 <angular2-multiselect [data]="ddl_MultiSelectUser" [(ngModel)]="SelectedUsers" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlUserSetting" myAutofocus
                                    (onSelect)="onItemSelect($event)" 
                                    (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                                <div *ngIf="f.submitted && SelectedUsers.length == 0">
                                    <div class='error-msg'>
                                       This field is required.
                                    </div>
                                </div>
                            </div>
                    </div>

                       <div [ngClass]="'form-row'">
                        <!--<div [ngClass]="{'has-error': f.submitted && !ipChecked,'col-md-6 col-sm-6 col-xs-12':true}">
                            <label >Ip Permission: <input type='checkbox' [checked]='ipChecked' (click)='onCheckboxChange()'  required/> </label>
                     </div>-->

                       <div [ngClass]="{ 'has-error': f.submitted && !ipChecked.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                               <label for="ipChecked">Ip Permission: <input type='checkbox'  [checked]='ipChecked' (click)='onCheckboxChange()'  required/> </label>
                                <div *ngIf="f.submitted && ipChecked.invalid">
                                    <div class='error-msg' *ngIf="ipChecked.errors.required">
                                      Required.
                                    </div>
                                  
                                </div>
                            </div>
                       </div>
                 <div class="button-row" *ngIf="!isScreenLock">
                        <div class="col-sm-12">
                        <button [ngClass]="'orange-btn'" [disabled]="btndisabled" title="Update" click="resetform()">Update</button>
                        </div>
                    </div>
                </div>
                 </form>
                 <!--adding form ends-->
            </div>
            <!-- Content Outer Ends -->
        </section>
    </section>
</div>
<!--<footer class="main-footer">
    @ 2017 BIT. All rights reserved.
</footer>-->