<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction && !isDeleteBatch'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
            <p *ngIf="isDeleteBatch"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction && !isDeleteBatch'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='deleteBatch()' *ngIf='isDeleteBatch'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>            
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content" id="calculate-check-section">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <!-- <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div> -->
                </div>
                <!-- Content Heading Ends -->
                
                <div class="button-row">
                    <!-- Table View Starts -->
                    <!-- <div class="table-view">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div> -->
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>
                   

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <!-- <div class="col-md-12 mt-30">
                            <hr>
                        </div> -->
                        <!-- <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model.id">{{defaultFormValues[4]['fieldValue']}} </h3>
                            <h3 *ngIf="model.id">{{defaultFormValues[3]['fieldValue']}} </h3>
                        </div> -->
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>

                        <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateTransactionEntry(f, $event)" #f="ngForm" novalidate>


                                <!-- Department Id field -->
								
                                
                                <div *ngIf="isUnderUpdate; then update else create"></div>
                                    
                                    <!-- <ng-template #update>
									<div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label class="control-label" for="batchId">{{defaultFormValues[1]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'"  name="batchId" value="{{batchIdvalue}}"
                                                title="{{defaultFormValues[0]['helpMessage']}}" maxlength="15" required readonly  />
                                            <div *ngIf="f.submitted && batchId.invalid">
                                                <div [hidden]="!batchId.errors.required">
                                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!batchId.errors?.maxlength">
                                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
									</div>
                                    </ng-template> -->
                                    
                                    
									<div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'has-error': f.submitted && !DefaultId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label class="control-label" for="defaultId">{{defaultFormValues[19]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'" readonly name="defaultId" [(ngModel)]="defaultId" #DefaultId="ngModel" autocomplete="off"
                                                   title="{{defaultFormValues[19]['helpMessage']}}" maxlength="15" required [typeahead]="batchDropdownList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="batchId"  [ngModelOptions]="{standalone: true}" >
                                                   

                                            <div *ngIf="f.submitted && DefaultId.invalid">
                                                <div [hidden]="!DefaultId.errors.required">
                                                    {{defaultFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!DefaultId.errors?.maxlength">
                                                    {{defaultFormValues[19]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
									</div>
                                   
                                    <div [ngClass]="'form-group'">
                                            <div [ngClass]="{ 'has-error': f.submitted && !ChkNum.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                                <div class="col-md-4">
                                                    <label class="control-label" for="chkNum">{{defaultFormValues[18]['fieldValue']}}</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" [ngClass]="'form-control fm-txt'" readonly name="chkNum" [(ngModel)]="chkNum" #ChkNum="ngModel" autocomplete="off"
                                                           title="{{defaultFormValues[18]['helpMessage']}}" maxlength="15" required [typeahead]="batchDropdownList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="batchId"  [ngModelOptions]="{standalone: true}" >
                                                           
        
                                                    <div *ngIf="f.submitted && ChkNum.invalid">
                                                        <div [hidden]="!ChkNum.errors.required">
                                                            {{defaultFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                        <div [hidden]="!ChkNum.errors?.maxlength">
                                                            {{defaultFormValues[18]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            </div>

                                            <div [ngClass]="'form-group'">
                                                    <div [ngClass]="{ 'has-error': f.submitted && !AuditTrNum.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                                        <div class="col-md-4">
                                                            <label class="control-label" for="auditTrNum">{{defaultFormValues[17]['fieldValue']}}</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" [ngClass]="'form-control fm-txt'" readonly name="auditTrNum" [(ngModel)]="auditTrNum" #AuditTrNum="ngModel" autocomplete="off"
                                                                   title="{{defaultFormValues[17]['helpMessage']}}" maxlength="15" required [typeahead]="batchDropdownList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="batchId"  [ngModelOptions]="{standalone: true}" >
                                                                   
                
                                                            <div *ngIf="f.submitted && AuditTrNum.invalid">
                                                                <div [hidden]="!AuditTrNum.errors.required">
                                                                    {{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                </div>
                                                                <div [hidden]="!AuditTrNum.errors?.maxlength">
                                                                    {{defaultFormValues[17]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    </div>

                                                    <div [ngClass]="'form-group'">
                                                            <div [ngClass]="{ 'has-error': f.submitted && !employeeID.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                                                <div class="col-md-4">
                                                                    <label class="control-label" for="employeeID">{{defaultFormValues[11]['fieldValue']}}</label>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <input type="text" [ngClass]="'form-control fm-txt'" readonly name="employeeId" [(ngModel)]="employeeId" #employeeID="ngModel" autocomplete="off"
                                                                           title="{{defaultFormValues[11]['helpMessage']}}" maxlength="15" required [typeahead]="batchDropdownList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="batchId"  [ngModelOptions]="{standalone: true}" >
                                                                           
                        
                                                                    <div *ngIf="f.submitted && employeeID.invalid">
                                                                        <div [hidden]="!employeeID.errors.required">
                                                                            {{defaultFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                        </div>
                                                                        <div [hidden]="!employeeID.errors?.maxlength">
                                                                            {{defaultFormValues[11]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            </div>

                                                            <div [ngClass]="'form-group'">
                                                                    <div [ngClass]="{ 'has-error': f.submitted && !EmpName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                                                        <div class="col-md-4">
                                                                            <label class="control-label" for="empName">{{defaultFormValues[15]['fieldValue']}}</label>
                                                                        </div>
                                                                        <div class="col-md-8">
                                                                            <input type="text" [ngClass]="'form-control fm-txt'" readonly name="empName" [(ngModel)]="empName" #EmpName="ngModel" autocomplete="off"
                                                                                   title="{{defaultFormValues[15]['helpMessage']}}" maxlength="15" required [typeahead]="batchDropdownList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="batchId"  [ngModelOptions]="{standalone: true}" >
                                                                                   
                                
                                                                            <div *ngIf="f.submitted && EmpName.invalid">
                                                                                <div [hidden]="!EmpName.errors.required">
                                                                                    {{defaultFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                                </div>
                                                                                <div [hidden]="!EmpName.errors?.maxlength">
                                                                                    {{defaultFormValues[15]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    </div>

                                    <div [ngClass]="'form-group'">
                                            <div [ngClass]="{ 'has-error': f.submitted && !DepId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                                <div class="col-md-4">
                                                    <label class="control-label" for="depId">{{defaultFormValues[14]['fieldValue']}}</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" [ngClass]="'form-control fm-txt'" readonly name="depId" [(ngModel)]="depId" #DepId="ngModel" autocomplete="off"
                                                           title="{{defaultFormValues[14]['helpMessage']}}" maxlength="15" readonly required [typeahead]="batchDropdownList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="batchId"  [ngModelOptions]="{standalone: true}" >
                                                           
        
                                                    <div *ngIf="f.submitted && DepId.invalid">
                                                        <div [hidden]="!DepId.errors.required">
                                                            {{defaultFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                        <div [hidden]="!DepId.errors?.maxlength">
                                                            {{defaultFormValues[14]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4"><input type="text" [ngClass]="'form-control fm-txt'" [(ngModel)]="depDesc"  name="depDesc" readonly></div>
                                                
                                            </div>
                                            </div>

                                            <div [ngClass]="'form-group'">
                                                    <div [ngClass]="{ 'has-error': f.submitted && !ProjectId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                                        <div class="col-md-4">
                                                            <label class="control-label" for="projectId">{{defaultFormValues[13]['fieldValue']}}</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="text" [ngClass]="'form-control fm-txt'"  name="projectId" [(ngModel)]="projectId" #ProjectId="ngModel" autocomplete="off"
                                                                   title="{{defaultFormValues[13]['helpMessage']}}" maxlength="15" readonly required [typeahead]="batchDropdownList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="batchId"  [ngModelOptions]="{standalone: true}" >
                                                                   
                
                                                            <div *ngIf="f.submitted && ProjectId.invalid">
                                                                <div [hidden]="!ProjectId.errors.required">
                                                                    {{defaultFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                </div>
                                                                <div [hidden]="!ProjectId.errors?.maxlength">
                                                                    {{defaultFormValues[13]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4"><input type="text" [ngClass]="'form-control fm-txt'"  name="projDesc" [(ngModel)]="projDesc" readonly></div>
                                                        
                                                    </div>
                                                    </div>
                                
                                                    <div [ngClass]="'form-group'">
                                                            <div [ngClass]="{ 'has-error': f.submitted && !TrType.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                                                <div class="col-md-4">
                                                                    <label class="control-label" for="trType">{{defaultFormValues[12]['fieldValue']}}</label>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <input type="text" [ngClass]="'form-control fm-txt'" name="trType" [(ngModel)]="trType" #TrType="ngModel" autocomplete="off"
                                                                           title="{{defaultFormValues[12]['helpMessage']}}" maxlength="15" required readonly>
                                                                           
                        
                                                                    <div *ngIf="f.submitted && TrType.invalid">
                                                                        <div [hidden]="!TrType.errors.required">
                                                                            {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                        </div>
                                                                        <div [hidden]="!TrType.errors?.maxlength">
                                                                            {{defaultFormValues[12]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            </div>
                               
                                                            <div [ngClass]="'form-group'">
                                                                    <div [ngClass]="{ 'has-error': f.submitted && !codeID.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                                                        <div class="col-md-4">
                                                                            <label class="control-label" for="codeId">{{defaultFormValues[10]['fieldValue']}}</label>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <input type="text" [ngClass]="'form-control fm-txt'" readonly  name="codeId" [(ngModel)]="codeId" #codeID="ngModel" autocomplete="off"
                                                                                   title="{{defaultFormValues[10]['helpMessage']}}" maxlength="15" readonly required [typeahead]="batchDropdownList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="batchId"  [ngModelOptions]="{standalone: true}" >
                                                                                   
                                
                                                                            <div *ngIf="f.submitted && codeID.invalid">
                                                                                <div [hidden]="!codeID.errors.required">
                                                                                    {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                                </div>
                                                                                <div [hidden]="!codeID.errors?.maxlength">
                                                                                    {{defaultFormValues[10]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4"><input type="text" [ngClass]="'form-control fm-txt'"  name="codeDesc" [(ngModel)]="codeDesc" readonly></div>
                                                                        
                                                                    </div>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                    <fieldset class="fieldsetclass row form-row" style="border-radius: 0px;min-height:1.5em;">
                                                                            <div class="col-md-12">
                                                                              <div class="form-group">
                                                                                <div class="col-md-4">
                                                                                  <label class="control-label" style="text-align:center;" for="include"> {{defaultFormValues[9]['fieldValue']}}:</label>
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                  <input type="radio" name="include" [value]="1" title="{{defaultFormValues[8]['helpMessage']}}" [(ngModel)]="model['include']"
                                                                                    #include="ngModel" required (click)="onOptionChange()"/> {{defaultFormValues[8]['fieldValue']}}
                                                                                </div>
                                                                                <div class="col-md-4">
                                                                                  <input style="margin: 0 0 0 10px;" type="radio" [value]="2" name="include" title="{{defaultFormValues[7]['helpMessage']}}"
                                                                                    [(ngModel)]="model['include']" #include="ngModel" required (click)="onOptionChange()"/> {{defaultFormValues[7]['fieldValue']}}
                                                                                </div>
                                                                                
                                                                              </div>
                                                                            </div>
                                                                          </fieldset>
                                                                        </div>
                                
                                    
                               
                               
                                        
                                           
                                        
                            <div class="col-md-12">                           
                                <div class="algo-table algo-table-department">
                                    <!-- Data Grid Starts-->
                                    <div class="table-responsive">
                                        <ngx-datatable id="DepartmentGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                            [rowHeight]="'auto'" [externalPaging]="false"  [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]='true'>
                
                                            <!-- Data Grid checkbox -->
                                            
                
                                            <!-- Data Grid Department Id -->
                                            <ngx-datatable-column name="accounts" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('accounts')">{{defaultFormValues[24]['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value.mainAccNumber}}
                                                </ng-template>
                                            </ngx-datatable-column>

                                            <ngx-datatable-column name="postingTypes" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        <span (click)="sortColumn('postingTypes ')">{{defaultFormValues[23]['fieldValue']}}</span>
                                                    </ng-template>
                                                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                                        {{postingTypes[row.$$index]}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                
                                            <!-- Data Grid Department Description -->
                                            <ngx-datatable-column name="accounts" [sortable]="true" [width]="250" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('accounts')">{{defaultFormValues[22]['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value.mainAccDescription}}
                                                </ng-template>
                                            </ngx-datatable-column>
                
                                            <!-- Data Grid  Arabic Department Description -->
                                            <ngx-datatable-column name="debitAmount" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    <span (click)="sortColumn('debitAmount')">{{defaultFormValues[21]['fieldValue']}}</span>
                                                </ng-template>
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    {{value}}
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="creditAmount" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        <span (click)="sortColumn('creditAmount')">{{defaultFormValues[20]['fieldValue']}}</span>
                                                    </ng-template>
                                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                                        {{value}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                
                
                                            <!-- Data Grid Action -->
                                            <!-- <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                    {{defaultFormValues[4]['fieldValue']}}
                                                </ng-template>
                                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                                </ng-template>
                                            </ngx-datatable-column> -->
                                        </ngx-datatable>
                                    </div>
                                    <!-- Data Grid Ends-->
                                </div>
                            </div>
                                <!-- Buttons -->
                               
                                    
                                        <div [ngClass]="'col-xs-12'">
                                            <span class="pull-right">
                                                <button class="grey-btn" type="button"(click)="backToCalculateCheck()" >Ok</button>
                                                <!-- <button  type="button" [ngClass]="'grey-btn'">{{defaultFormValues[18]['fieldValue']}}</button>
                                                 
                                                <button [ngClass]="'grey-btn'" type="button">{{defaultFormValues[20]['fieldValue']}}</button> 
                                                <button [ngClass]="'grey-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[21]['fieldValue']}}</button> -->
                                                
                                            </span>
                                        </div>
                                    
                                

                        </form>
                    </div>
                    <!-- Create Update form ends -->
                </div>
            </div>
        </section>
    </section>
</div>