<form id="EmployeeMasterForm" class="form-horizontal" (ngSubmit)="f.form.valid && CreateEmployeeMaster(f, $event)" #f="ngForm"
novalidate>
<div class="col-md-12 col-sm-12 col-xs-12">
   
    <!-- row 1 -->
    <div class="form-group row">

      <!-- idNumber -->
      <div class="col-sm-4">
        <div class="form-group">
          <div class="floating-label col-md-12" [ngClass]="{'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
            <input type="number" class="floating-input" placeholder=" " name="idNumber" [(ngModel)]="model.idNumber" #idNumber="ngModel" title="{{defaultFormValues[34]['helpMessage']}}"
              required min="1" max="99999999999" onKeyPress="if(this.value.length==9) return false;" onkeypress="return check_digit(event,this,11,3);"/>
            <div *ngIf="f.submitted && idNumber.invalid">
              <div [hidden]="!idNumber.errors.required">
                Id Number is required
              </div>
            </div>
            <span class="highlight"></span>
            <label id="idNumberLabel" for="idNumber">Id Number</label>
          </div>
        </div>
      </div>


       <!-- expire -->
      <div class="col-sm-4">
        <div class="form-group">
          <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !frmexpire.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
            <div class="input-group">
              <input class="floating-input" placeholder=" " ngx-mydatepicker name="frmexpire" [(ngModel)]="modelexpire" [options]="myOptions" #dp6="ngx-mydatepicker"
                (dateChanged)="onexpireChangedd($event)" (change)="onexpireChangedd($event.target.value)" #frmexpire="ngModel" readonly
                title="{{defaultFormValues[32]['helpMessage']}}" id="expire_date" />
      
              <span id="datePickerbtn" class="input-group-btn input-btn-group-fix">
                <button type="button" class="btn btn-default  " style="float:none; height: 40px; width: 40px;" (click)="dp6.clearDate()">
                  <i class="fa fa-remove"></i>
                </button>
                <button type="button" class="btn btn-default  " style="float:none; height: 40px; width: 40px;" (click)="dp6.toggleCalendar()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </div>
            <span class="highlight"></span>
            <label id="frmexpireLabel" for="frmexpire">Expire</label>
          </div>
        </div>
      </div>

      
   
      <!-- expire Hijri -->
      <div class="col-sm-4">
        <div class="form-group" >
          <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && ( expireHijri.errors?.inValidDate),'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
            <div class="input-group">
              <input class="floating-input" placeholder=" " name="expireHijri" [(ngModel)]="model.expireHijri" dateValidation (blur)="onexpireHijriChangedd()"
                #expireHijri="ngModel" title="{{defaultFormValues[32]['helpMessage']}}" id="expireHijri" />
                <div *ngIf="f.submitted && ( expireHijri.errors?.inValidDate  ) ">
                  <div [hidden]="!expireHijri.errors?.inValidDate">
                    This Date Is Invalid
                  </div>
                </div>
            </div>
            <span class="highlight"></span>
            <label id="expireHijriLabel" for="expireHijri">{{defaultFormValues[53]['fieldValue']}}</label>
        </div>
      </div>
    </div>


      <!-- passportNumber -->
      <div class="col-sm-4">
        <div class="form-group">
          <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !passportNumber.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
            <input type="number" placeholder=" " class="floating-input" name="passportNumber" [(ngModel)]="model.passportNumber" #passportNumber="ngModel"
              title="{{defaultFormValues[34]['helpMessage']}}" required maxlength="31" />
            <div *ngIf="f.submitted && passportNumber.invalid">
              <div [hidden]="!passportNumber.errors.required">
                Passport Number is required
              </div>
            </div>
            <span class="highlight"></span>
            <label id="passportNumberLabel" for="passportNumber">Passport Number</label>
          </div>
        </div>
      </div>
   
      <!-- expires -->
      <div class="col-sm-4">
        <div class="form-group">
          <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !frmexpires.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
            <div class="input-group">
              <input class="floating-input" placeholder=" " ngx-mydatepicker name="frmexpires" [(ngModel)]="modelexpires" [options]="myOptions"
              #dp7="ngx-mydatepicker" (dateChanged)="onexpiresChangedd($event)" (change)="onexpiresChangedd($event.target.value)"
              #frmexpires="ngModel" readonly title="{{defaultFormValues[32]['helpMessage']}}" id="expires_date" />
  
              <span id="datePickerbtn" class="input-group-btn input-btn-group-fix">
                <button type="button" class="btn btn-default  " style="float:none; height: 40px; width: 40px;" (click)="dp7.clearDate()">
                  <i class="fa fa-remove"></i>
                </button>
                <button type="button" class="btn btn-default  " style="float:none; height: 40px; width: 40px;" (click)="dp7.toggleCalendar()">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </div>
            <span class="highlight"></span>
            <label id="passportexpireLabel" for="frmexpire">Expire</label>
          </div>
        </div>
      </div>
   
      <!-- expires Hijri -->

      <div class="col-sm-4">
        <div class="form-group" >
          <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && ( expiresHijri.errors?.inValidDate),'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
            <div class="input-group">
              <input class="floating-input" placeholder=" " name="expireHijri" [(ngModel)]="model.expireHijri" dateValidation (blur)="onexpireHijriChangedd()"
                #expireHijri="ngModel" title="{{defaultFormValues[32]['helpMessage']}}" id="expireHijri" />
                <div *ngIf="f.submitted && ( expiresHijri.errors?.inValidDate  ) ">
                  <div [hidden]="!expiresHijri.errors?.inValidDate">
                    This Date Is Invalid
                  </div>
                </div>
            </div>
            <span class="highlight"></span>
            <label id="passportexpireHijriLabel" for="expiresHijri">{{defaultFormValues[54]['fieldValue']}}
            </label>
        </div>
      </div>
    </div>
    
    


    </div>
    <div class="form-group row">
    
        <!-- employeeHireDate -->
        <div class="col-sm-4">
          <div class="form-group">
            <div class="floating-label col-md-12" [ngClass]="{'has-error': (f.submitted && !frmEmployeeHireDate.valid || erroremployeeHireDate.isError),'col-md-12 col-sm-12 col-xs-12':true}">
              <div class="input-group">
                <input class="floating-input" placeholder=" " ngx-mydatepicker name="frmEmployeeHireDate" [(ngModel)]="modelEmployeeHireDate" [options]="myOptions"
                  #dp1="ngx-mydatepicker" (dateChanged)="onEmployeeHireDateChanged($event)" (change)="onEmployeeHireDateChanged($event.target.value)"
                  #frmEmployeeHireDate="ngModel" required readonly title="{{defaultFormValues[9]['helpMessage']}}" id="emp_hire_date"
                />
                <span id="datePickerbtn" class="input-group-btn input-btn-group-fix">
                  <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                    <i class="fa fa-remove"></i>
                  </button>
                  <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
                <div *ngIf="f.submitted && frmEmployeeHireDate.invalid">
                  <div [hidden]="!frmEmployeeHireDate.errors.required">
                    {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
                <div *ngIf="!frmEmployeeHireDate.errors?.required && erroremployeeHireDate.isError" class="r">
                  {{ erroremployeeHireDate.errorMessage }}
                </div>
              </div>
              <span class="highlight"></span>
              <label id="frmEmployeeHireDateLabel" for="frmEmployeeHireDate">{{defaultFormValues[9]['fieldValue']}}</label>
            </div>
          </div>
        </div>
     
        <!-- employeeAdjustHireDate -->
        <div class="col-sm-4">
          <div class="form-group">
            <div class="floating-label col-md-12" [ngClass]="{'has-error': (f.submitted && !frmEmployeeAdjustHireDate.valid || erroremployeeAdjustHireDate.isError),'col-md-12 col-sm-12 col-xs-12':true}">
              <div class="input-group">
                <input class="floating-input" placeholder=" " ngx-mydatepicker name="frmEmployeeAdjustHireDate" [(ngModel)]="modelEmployeeAdjustHireDate"
                  [options]="myOptions" #dp2="ngx-mydatepicker" (dateChanged)="onEmployeeAdjustHireDateChanged($event)" (change)="onEmployeeAdjustHireDateChanged($event.target.value)"
                  #frmEmployeeAdjustHireDate="ngModel" required readonly title="{{defaultFormValues[10]['helpMessage']}}" id="emp_adjust_hire_date"/>
        
                <span id="datePickerbtn" class="input-group-btn input-btn-group-fix">
                  <button type="button" class="btn btn-default  " style="float:none; height: 40px; width: 40px;" (click)="dp2.clearDate()">
                    <i class="fa fa-remove"></i>
                  </button>
                  <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
                <div *ngIf="f.submitted && frmEmployeeAdjustHireDate.invalid">
                  <div [hidden]="!frmEmployeeAdjustHireDate.errors.required">
                    {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
                <div *ngIf="!frmEmployeeAdjustHireDate.errors?.required && erroremployeeAdjustHireDate.isError" class="r">
                  {{ erroremployeeAdjustHireDate.errorMessage }}
                </div>
              </div>
              <span class="highlight"></span>
              <label id="frmEmployeeAdjustHireDateLabel" for="frmEmployeeAdjustHireDate">{{defaultFormValues[10]['fieldValue']}}</label>
            </div>
          </div>
        </div>

      
        <!-- EmployeeLastWorkDate -->
        <div class="col-sm-4">
          <div class="form-group">
            <div class="floating-label col-md-12" [ngClass]="{'has-error': ( erroremployeeLastWorkDate.isError),'col-md-12 col-sm-12 col-xs-12':true}">
              <div class="input-group">
                <input class="floating-input" placeholder=" " ngx-mydatepicker name="frmEmployeeLastWorkDate" [(ngModel)]="modelEmployeeLastWorkDate"
                  [options]="myOptions" #dp3="ngx-mydatepicker" (dateChanged)="onEmployeeLastWorkDateChanged($event)" (change)="onEmployeeLastWorkDateChanged($event.target.value)"
                  #frmEmployeeLastWorkDate="ngModel" readonly title="{{defaultFormValues[11]['helpMessage']}}" id="last_work_date"/>
        
                <span id="datePickerbtn" class="input-group-btn input-btn-group-fix">
                  <button type="button" class="btn btn-default  " style="float:none; height: 40px; width: 40px;" (click)="dp3.clearDate()">
                    <i class="fa fa-remove"></i>
                  </button>
                  <button type="button" class="btn btn-default  " style="float:none; height: 40px; width: 40px;" (click)="dp3.toggleCalendar()">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
                <div *ngIf="erroremployeeLastWorkDate.isError" class="r">
                  {{ erroremployeeLastWorkDate.errorMessage }}
                </div>
              </div>
              <span class="highlight"></span>
              <label id="frmEmployeeLastWorkDateLabel" for="frmEmployeeLastWorkDate">{{defaultFormValues[11]['fieldValue']}}</label>
            </div>
          </div>
        </div>

     
        <!-- onEmployeeInactiveDateChangedd -->
        <div class="col-sm-4">
          <div class="form-group">
            <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !frmEmployeeInactiveDate.valid && model.employeeInactive,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              <div class="input-group">
                <input [disabled]="!model.employeeInactive" placeholder=" " class="floating-input" ngx-mydatepicker name="frmEmployeeInactiveDate" [(ngModel)]="modelEmployeeInactiveDate"
                  [options]="myOptions" #dp4="ngx-mydatepicker" (dateChanged)="onEmployeeInactiveDateChangedd($event)" (change)="onEmployeeInactiveDateChangedd($event.target.value)"
                  #frmEmployeeInactiveDate="ngModel" required="{{model.employeeInactive}}" readonly title="{{defaultFormValues[12]['helpMessage']}}"
                  id="emp_inactive_date" />
        
                <span id="datePickerbtn" class="input-group-btn input-btn-group-fix">
                  <button [disabled]="!model.employeeInactive" type="button" class="btn btn-default  " style="float:none; height: 40px; width: 40px;"
                    (click)="dp4.clearDate()">
                    <i class="fa fa-remove"></i>
                  </button>
                  <button [disabled]="!model.employeeInactive" type="button" class="btn btn-default  " style="float:none; height: 40px; width: 40px;"
                    (click)="dp4.toggleCalendar()">
                    <i class="fa fa-calendar"></i>
                  </button>
                </span>
                <div *ngIf="f.submitted && frmEmployeeInactiveDate.invalid && model.employeeInactive">
                  <div [hidden]="!frmEmployeeInactiveDate.errors.required">
                    {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
                <div *ngIf="!frmEmployeeInactiveDate.errors?.required && erroremployeeInactiveDate.isError && model.employeeInactive" class="r">
                  {{ erroremployeeInactiveDate.errorMessage }}
                </div>
              </div>
              <span class="highlight"></span>
              <label id="frmEmployeeInactiveDateLabel" for="frmEmployeeInactiveDate">{{defaultFormValues[12]['fieldValue']}}</label>
            </div>
          </div>
        </div>
   

          <!-- employeeInactiveReason -->
          <div class="col-sm-4">
            <div class="form-group">
              <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !employeeInactiveReason.valid && model.employeeInactive,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                <input [disabled]="!model.employeeInactive" placeholder=" " type="text" class="floating-input" name="employeeInactiveReason" [(ngModel)]="model.employeeInactiveReason"
                  required="{{model.employeeInactive}}" #employeeInactiveReason="ngModel" title="{{defaultFormValues[13]['helpMessage']}}"
                  maxlength="60" />
                <div *ngIf="f.submitted && employeeInactiveReason.invalid && model.employeeInactive">
                  <div [hidden]="!employeeInactiveReason.errors.required">
                    {{defaultFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
                <span class="highlight"></span>
                <label id="employeeInactiveReasonLabel" for="employeeInactiveReason">{{defaultFormValues[13]['fieldValue']}}</label>
              </div>
            </div>
          </div>


            <!-- employeeAddressIndexId -->
      <!-- <div class="col-sm-4">
      
        <div class="form-group">
      
          <div >
            <div class="col-md-4">
              <label class="control-label " for="employeeAddressIndexId">{{defaultFormValues[14]['fieldValue']}}</label>
            </div>
            <div class="col-md-12">
              <input autocorrect="off" type="text" [ngClass]="'form-control fm-txt'" name="employeeAddressIndexId" [(ngModel)]="model.employeeAddressIndexId"
                #employeeAddressIndexId="ngModel" title="{{defaultFormValues[14]['helpMessage']}}" class="search-id" autocomplete="off"
                required maxlength="15" [typeahead]="employeeAddressIndexIdList" (typeaheadOnSelect)="typeaheadOnSelectEmployeeaddressId($event)"
                typeaheadOptionField="addressId" />
              <div *ngIf="f.submitted && employeeAddressIndexId.invalid;else addressIdsecond">
                <div [hidden]="!employeeAddressIndexId.errors.required">
                  {{defaultFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
              </div>
              <ng-template #addressIdsecond>
                <div *ngIf="f.submitted && addressId == null">
                  Invalid Address ID.
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="form-group">
          <div class="floating-label col-md-12" [ngClass]="{ 'has-error': f.submitted && (!employeeAddressIndexId.valid || addressId == null),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
            <input [disabled]="!model.employeeInactive" type="text" [ngClass]="'form-control fm-txt'" name="employeeInactiveReason" [(ngModel)]="model.employeeInactiveReason"
              required="{{model.employeeInactive}}" #employeeInactiveReason="ngModel" title="{{defaultFormValues[13]['helpMessage']}}"
              maxlength="60" />
            <div *ngIf="f.submitted && employeeInactiveReason.invalid && model.employeeInactive">
              <div [hidden]="!employeeInactiveReason.errors.required">
                {{defaultFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
              </div>
            </div>
            <span class="highlight"></span>
            <label id="employeeAddressIndexIdLabel" for="employeeAddressIndexId">{{defaultFormValues[14]['fieldValue']}}</label>
          </div>
        </div>
      </div> -->


    </div>


</div>

 
</form>
