<form id="EmployeeMasterForm" class="form-horizontal" (ngSubmit)="f.form.valid && CreateEmployeeMaster(f, $event)" #f="ngForm"
novalidate>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-group row">
    <!-- divisionId -->
    <div class="col-sm-3">
        <div class="form-group row">
          <div class="floating-label col-md-12 multi-select" [ngClass]="{ 'has-error': f.submitted && (!divisionId.valid || DivisionId == null),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
      
            <angular4-multiselect [data]="empNationalityList" class="floating-input"  [ngModelOptions]="{standalone: true}"
              on-focusin="onAutocompleteFocus('NationalitiesLabel')" name="divisionId" [(ngModel)]="model.divisionId" #divisionId="ngModel" 
              [settings]="{singleSelection: true,text:this.selectUser,enableSearchFilter: true,classes:'myclass custom-class'}" (onSelect)="onItemSelect($event)"
              tabindex="1" (onDeSelect)="getDivisionData($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
              <div *ngIf="f.submitted && divisionId.invalid;else DivisionIdsecond">
                  <div [hidden]="!divisionId.errors.required">
                    {{defaultFormValues[24]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
                <ng-template #DivisionIdsecond>
                  <div *ngIf="f.submitted && DivisionId == null">
                    Invalid Division ID.
                  </div>
                </ng-template>
              </div>
            <span class="highlight"></span>
            <label id="divisionIdLabel" for="divisionId">{{defaultFormValues[24]['fieldValue']}}</label>
          </div>
        </div>
      
        <div class="col-md-3">
          <div class="form-group">
            <div class="floating-label">
              <input class="floating-input" autocorrect="off" type="text"  name="division" [(ngModel)]="divisionDescription"
                #divisionDesc="ngModel" title="{{defaultFormValues[24]['helpMessage']}}" readonly />
            </div>
          </div>
        </div>
    <!-- <div class="col-sm-4">
        <div class="form-group">
          <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !banAccNumber.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
            <input type="number" class="floating-input" placeholder=" " name="banAccNumber" [(ngModel)]="model.bankAccNumber" #banAccNumber="ngModel" 
                required min="1" max="99999999999" onKeyPress="if(this.value.length==9) return false;" onkeypress="return check_digit(event,this,11,3);"
              />
              <div *ngIf="f.submitted && idNumber.invalid">
                <div [hidden]="!banAccNumber.errors.required">
                  Account Number is required
                </div>
              </div>
            <span class="highlight"></span>
            <label id="bankAccNumberLabel" for="bankAccNumber">Acc Number</label>
          </div>
        </div>
      </div> -->
        
 
    <!-- departmentId -->
    <div class="col-sm-3">
        <div class="form-group row">
          <div class="floating-label col-md-12 multi-select" [ngClass]="{ 'has-error': f.submitted && ( !departmentId.valid || DepartmentId == null),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
      
            <angular4-multiselect [data]="empNationalityList" class="floating-input"  [ngModelOptions]="{standalone: true}"
              on-focusin="onAutocompleteFocus('NationalitiesLabel')" name="departmentId" [(ngModel)]="model.departmentId"
              #departmentId="ngModel" title="{{defaultFormValues[25]['helpMessage']}}"
              [settings]="{singleSelection: true,text:this.selectUser,enableSearchFilter: true,classes:'myclass custom-class'}" (onSelect)="onItemSelect($event)"
              tabindex="1" (onDeSelect)="getDivisionData($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
              <div *ngIf="f.submitted && departmentId.invalid;else DepartmentIdsecond">
                  <div [hidden]="!departmentId.errors.required">
                    {{defaultFormValues[25]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
                <ng-template #DepartmentIdsecond>
                  <div *ngIf="f.submitted && DepartmentId == null">
                    Invalid Department ID.
                  </div>
                </ng-template>
              </div>
            <span class="highlight"></span>
            <label id="departmentIdLabel" for="departmentId">{{defaultFormValues[25]['fieldValue']}}</label>
          </div>
        </div>
   
        <div class="col-sm-3">
            <div class="form-group">
              <div class="floating-label">
                  <input autocorrect="off" type="text" class="floating-input" name="department" [(ngModel)]="departmentDescription"
                  #departmentDesc="ngModel" title="{{defaultFormValues[24]['helpMessage']}}" readonly />
              </div>
            </div>
          </div>

    <!-- ProjectId -->
       <div class="col-sm-3">
        <div class="form-group row">
          <div class="floating-label col-md-12 multi-select" [ngClass]="{ 'has-error': f.submitted && ( !departmentId.valid || DepartmentId == null),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
      
            <angular4-multiselect [data]="empNationalityList" class="floating-input"  [ngModelOptions]="{standalone: true}"
              on-focusin="onAutocompleteFocus('NationalitiesLabel')" name="projectId" [(ngModel)]="model.projectId" #projectId="ngModel"
              title="{{defaultFormValues[25]['helpMessage']}}"
              [settings]="{singleSelection: true,text:this.selectUser,enableSearchFilter: true,classes:'myclass custom-class'}" (onSelect)="onItemSelect($event)"
              tabindex="1" (onDeSelect)="getDivisionData($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
              <div *ngIf="f.submitted && projectId.invalid;else ProjectIdsecond">
                  <div [hidden]="!projectId.errors.required">
                    {{defaultFormValues[25]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
                <ng-template #ProjectIdsecond>
                  <div *ngIf="f.submitted && ProjectId == null">
                    Invalid Project ID.
                  </div>
                </ng-template>
              </div>
            <span class="highlight"></span>
            <label id="projectIdLabel" for="projectId">ProjectId
              </label>
          </div>
        </div>
   
        <div class="col-sm-3">
            <div class="form-group">
              <div class="floating-label">
                  <input autocorrect="off" type="text" class="floating-input" name="project" [(ngModel)]="projectDescription" #projectDesc="ngModel"
                  title="ProjectDescription" readonly />
              </div>
            </div>
          </div>
   
    <!-- positionId -->
    <div class="col-sm-4">
        <div class="form-group">
            <div [ngClass]="{ 'has-error': f.submitted && (!positionId.valid || PositionId == null),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
              <div class="col-md-4">
                <label class="control-label " for="positionId">{{defaultFormValues[26]['fieldValue']}}</label>
              </div>
              <div class="col-md-4">
                <input autocorrect="off" type="text" [ngClass]="'form-control fm-txt'" name="positionId" [(ngModel)]="model.positionId" #positionId="ngModel"
                  title="{{defaultFormValues[26]['helpMessage']}}" class="search-id" autocomplete="off" required
                  maxlength="15" [typeahead]="positionIdList" typeaheadOptionField="positionId" (typeaheadOnSelect)="typeaheadOnSelectPositionId($event)"
                />
                <div *ngIf="f.submitted && positionId.invalid;else PositionIdsecond">
                  <div [hidden]="!positionId.errors.required">
                    {{defaultFormValues[26]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
                <ng-template #PositionIdsecond>
                  <div *ngIf="f.submitted && PositionId == null">
                    Invalid Position ID.
                  </div>
                </ng-template>
              </div>
              <div class="col-md-4">
                <input autocorrect="off" type="text" [ngClass]="'form-control fm-txt'" name="position" [(ngModel)]="positionDescription"
                  #positionDesc="ngModel" title="{{defaultFormValues[24]['helpMessage']}}" readonly />
              </div>
            </div>
          </div>
    </div>
  
    <!-- locationId -->
    <div class="col-sm-4"> 
      <div class="form-group">
        <div [ngClass]="{ 'has-error': f.submitted && ( !locationId.valid || LocationId == null),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
          <div class="col-md-4">
            <label class="control-label " for="locationId">{{defaultFormValues[27]['fieldValue']}}</label>
          </div>
          <div class="col-md-4">
            <input autocorrect="off" type="text" [ngClass]="'form-control fm-txt'" name="locationId" [(ngModel)]="model.locationId" #locationId="ngModel"
              title="{{defaultFormValues[27]['helpMessage']}}" class="search-id" required maxlength="15"
              [typeahead]="locationIdList" autocomplete="off" typeaheadOptionField="locationId" (typeaheadOnSelect)="typeaheadOnSelectLocationId($event)"
            />
            <div *ngIf="f.submitted && locationId.invalid;else LocationIdsecond">
              <div [hidden]="!locationId.errors.required">
                {{defaultFormValues[27]['listDtoFieldValidationMessage'][0]['validationMessage']}}
              </div>
            </div>
            <ng-template #LocationIdsecond>
              <div *ngIf="f.submitted && LocationId == null">
                Invalid Location ID.
              </div>
            </ng-template>
          </div>
          <div class="col-md-4">
            <input autocorrect="off" type="text" [ngClass]="'form-control fm-txt'" name="location" [(ngModel)]="locationDescription"
              #locationDesc="ngModel" title="{{defaultFormValues[24]['helpMessage']}}" readonly />
          </div>
        </div>
      </div>
    </div>
   
    <!-- supervisorId -->
    <div class="col-sm-4">
      <div class="form-group">
        <div [ngClass]="{ 'has-error': f.submitted && ( !supervisorId.valid || SuperVisionCode == null),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
          <div class="col-md-4">
            <label class="control-label " for="supervisorId">{{defaultFormValues[28]['fieldValue']}}</label>
          </div>
          <div class="col-md-4">
            <input autocorrect="off" type="text" [ngClass]="'form-control fm-txt'" name="supervisorId" [(ngModel)]="model.supervisorId"
              #supervisorId="ngModel" title="{{defaultFormValues[28]['helpMessage']}}" class="search-id"
              required maxlength="15" [typeahead]="superviserIdList" typeaheadOptionField="supervisorId.superVisionCode"
              autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelectSuperVisionCode($event)" />
            <div *ngIf="f.submitted && supervisorId.invalid;else SuperVisionCodesecond">
              <div [hidden]="!supervisorId.errors.required">
                {{defaultFormValues[28]['listDtoFieldValidationMessage'][0]['validationMessage']}}
              </div>
            </div>
            <ng-template #SuperVisionCodesecond>
              <div *ngIf="f.submitted && SuperVisionCode == null">
                Invalid Supervisor ID.
              </div>
            </ng-template>
          </div>
          <div class="col-md-4">
            <input autocorrect="off" type="text" [ngClass]="'form-control fm-txt'" name="supervisor" [(ngModel)]="supervisorDescription"
              #supervisorDesc="ngModel" title="{{defaultFormValues[24]['helpMessage']}}" readonly />
          </div>
        </div>
      </div></div>
    

    <!-- employeeType -->
    <div class="col-sm-4">
        <div class="form-group">
            <div [ngClass]="{'has-error': f.submitted && employeeType.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              <div class="col-md-4">
                <label class="control-label " for="employeeType">{{defaultFormValues[29]['fieldValue']}}</label>
              </div>
              <div class="col-md-12">
                <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="employeeType" [(ngModel)]="model.employeeType"
                  #employeeType="ngModel" title="{{defaultFormValues[29]['fieldValue']}}" required>
                  <option value="0" selected>--Employee Type--</option>
                  <option value="1">Full Time Regular</option>
                  <option value="2">Full Time Temp</option>
                  <option value="3">Part Time Regular</option>
                  <option value="4">Part Time Temp</option>
                  <option value="5">Inter</option>
                  <option value="6">Other</option>
                </select>
                <div *ngIf="f.submitted && employeeType.value==0">
                  <div [hidden]="!employeeType.value==0">
                    {{defaultFormValues[29]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    <!-- employeeUserIdInSystem -->
    <div class="col-sm-4">
        <div class="form-group">
            <div [ngClass]="{ 'has-error': f.submitted && ( !employeeUserIdInSystem.valid || SystemUserId == null),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
              <div class="col-md-4">
                <label class="control-label " for="employeeUserIdInSystem">{{defaultFormValues[33]['fieldValue']}}</label>
              </div>
              <div class="col-md-4">
                <input autocorrect="off" type="text" [ngClass]="'form-control fm-txt'" name="employeeUserIdInSystem" [(ngModel)]="model.employeeUserIdInSystem"
                  #employeeUserIdInSystem="ngModel" title="{{defaultFormValues[33]['helpMessage']}}" class="search-id"
                  autocomplete="off" required maxlength="15" [typeahead]="employeeUserIdInSystemList" (typeaheadOnSelect)="typeaheadOnSelectSystemUserId($event)"
                  typeaheadOptionField="employeeUserIdInSystem.udId" />
                <div *ngIf="f.submitted && employeeUserIdInSystem.invalid;else SystemUserIdsecond">
                  <div [hidden]="!employeeUserIdInSystem.errors.required">
                    {{defaultFormValues[33]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
                <ng-template #SystemUserIdsecond>
                  <div *ngIf="f.submitted && SystemUserId == null">
                    Invalid System User ID.
                  </div>
                </ng-template>
              </div>
              <div class="col-md-4">
                <input autocorrect="off" type="text" [ngClass]="'form-control fm-txt'" name="employeeUser" [(ngModel)]="employeeUserDescription"
                  #employeeUserDesc="ngModel" title="{{defaultFormValues[24]['helpMessage']}}" readonly />
              </div>
            </div>
          </div>
    </div>
    
    <!-- employeeWorkHourYearly -->
    <div class="col-sm-4">
        <div class="form-group">
            <div [ngClass]="{'has-error': f.submitted && !employeeWorkHourYearly.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              <div class="col-md-4">
                <label class="control-label " for="employeeWorkHourYearly">{{defaultFormValues[34]['fieldValue']}}</label>
              </div>
              <div class="col-md-12">
                <input type="number" [ngClass]="'form-control fm-txt'" name="employeeWorkHourYearly" [(ngModel)]="model.employeeWorkHourYearly"
                  #employeeWorkHourYearly="ngModel" title="{{defaultFormValues[34]['helpMessage']}}" required
                  maxlength="31" />
                <div *ngIf="f.submitted && employeeWorkHourYearly.invalid">
                  <div [hidden]="!employeeWorkHourYearly.errors.required">
                    {{defaultFormValues[34]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

  </div>

<div class="col-md-12 col-sm-12 col-xs-12">
  

   
    <!-- employeeMaritalStatus -->
    <div class="col-sm-4">
        <div class="form-group com-form">

            <div [ngClass]="{'has-error': f.submitted && employeeMaritalStatus.value==='' || erroremployeeMaritalStatus.isError,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              <div [ngClass]="{'col-md-4': printDetails, 'col-md-6': !printDetails,'padd-0':true}">
                <label class="control-label " for="employeeMaritalStatus">{{defaultFormValues[31]['fieldValue']}}</label>
              </div>
              <div [ngClass]="{'col-md-12': printDetails, 'col-md-4': !printDetails}">
                <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="employeeMaritalStatus" [(ngModel)]="model.employeeMaritalStatus"
                  #employeeMaritalStatus="ngModel" title="{{defaultFormValues[31]['fieldValue']}}" (change)="changeEmployeeMaritalStatus($event)"
                  required>
                  <option value="">--Employee Marital Status--</option>
                  <option value="0">N/A</option>
                  <option value="1">Single</option>
                  <option value="2">Married</option>
                  <option value="3">Divorcee</option>
                  <option value="4" *ngIf="model.employeeGender !== '1'">Widow</option>
                </select>
                <div *ngIf="f.submitted && employeeMaritalStatus.value===''">
                  <div [hidden]="!employeeMaritalStatus.value===''">
                    {{defaultFormValues[31]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                  </div>
                  <ng-template #EmployeeNationalityIdsecond>
                    <div *ngIf="f.submitted && EmployeeNationalityId == null">
                      Invalid Employee Nationality ID.
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
    </div>
   
  
  
    <!-- employeeBirthDate Hijri -->
    <div class="col-sm-4">
        <div class="form-group com-form">
            <div [ngClass]="{'has-error': f.submitted && ( employeeBirthDateH.errors?.inValidDate),'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
              <div [ngClass]="{'col-md-4': printDetails, 'col-md-6': !printDetails,'padd-0':true}">
                <label class="control-label " for="frmEmployeeBirthDateH">{{defaultFormValues[52]['fieldValue']}} (H)
                </label>
              </div>
              <div [ngClass]="{'col-md-12': printDetails, 'col-md-4': !printDetails}">
                <div class="input-group">
                  <input [ngClass]="'form-control fm-txt'" name="employeeBirthDateH" [(ngModel)]="model.employeeBirthDateH" dateValidation
                    (blur)="onEmployeeBirthDateHijriChangedd()" #employeeBirthDateH="ngModel" title="{{defaultFormValues[32]['helpMessage']}}"
                    id="emp_birth_date_h" />
                </div>
                <div *ngIf="f.submitted && ( employeeBirthDateH.errors?.inValidDate  ) ">
                  <div [hidden]="!employeeBirthDateH.errors?.inValidDate">
                    This Date Is Invalid
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
   
   
 
   
  
  <!-- <div [ngClass]="{'col-md-6 col-sm-6 col-xs-12'">
    <div class="col-md-12" style="min-height: 40px;">&nbsp;</div>
    <div class="col-md-12" [style.min-height]="printDetails?'70px':'30px'">&nbsp;</div>
    <div class="form-group" style="min-height: 40px;">
      <div class="col-md-12">
        <input type="text" [ngClass]="'form-control fm-txt'" name="NatDescription" [(ngModel)]="NationalityDescription" #NatDescription="ngModel"
          readonly />
      </div>
    </div>
   
  
   
  </div> -->
</div>

</form>
