<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
        <h2>{{moduleName}}</h2>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div id="print-section" [ngClass]="{'doNotPrint':printDetails}" >          
          <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="clearfix"></div>
          <form id="EmployeeMasterForm" class="form-horizontal" (ngSubmit)="f.form.valid && CreateEmployeeMaster(f, $event)" #f="ngForm" novalidate>
            <div class="col-md-12 col-sm-12 col-xs-12">
				<!-- name -->
                <div class="form-group">
                  <div [ngClass]="{ 'has-error': f.submitted && !departmentId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label " for="employeePersonalEmail">Baby Name</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="employeePersonalEmail" [(ngModel)]="AddressDetails.personalEmail"
                        #employeePersonalEmail="ngModel" title="{{defaultFormValues[17]['helpMessage']}}" />
                    </div>
                  </div>
                </div>
                <!-- email -->
                <div class="form-group">
                  <div [ngClass]="{ 'has-error': f.submitted && !departmentId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label " for="employeePersonalEmail">Email ID</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="employeePersonalEmail" [(ngModel)]="AddressDetails.personalEmail"
                        #employeePersonalEmail="ngModel" title="{{defaultFormValues[17]['helpMessage']}}" />
                    </div>
                  </div>
                </div>
                <!-- Phone -->
                <div class="form-group">
                  <div [ngClass]="{ 'has-error': f.submitted && !departmentId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label " for="employeePersonalPhone">Phone Number</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="employeePersonalPhone" [(ngModel)]="AddressDetails.personalPhone"
                        #employeePersonalPhone="ngModel" title="{{defaultFormValues[21]['helpMessage']}}" />
                    </div>
                  </div>
                </div>
              
       
            <!-- Buttons -->
            <div [ngClass]="'button-row  '">
              <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                <div [ngClass]="'col-xs-12'">
                  <span class="pull-right">
                    <button [ngClass]="'grey-btn'">{{defaultFormValues[42]['fieldValue']}}</button>
                    <button [ngClass]="'grey-btn'">{{defaultFormValues[48]['fieldValue']}}</button>
                    <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[44]['fieldValue']}}</button>
                  </span>
                </div>
              </div>
            </div>
			</div>
          </form>
		  </div>
		</div>
    </section>
  </section>
</div>