
<div class="content-wrapper user-view">
    <section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<!--<pre>{{gridDefaultFormValues|json}}</pre>-->
            <section class="inner-content">
			<!--<pre>{{generalSetup|json}}</pre>-->
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
					 				  	<div class="content-heading">
												<div class="search-top">
													<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)'/>
												</div>
								      </div>
						<div class="form-row">
							<div class="col-xs-12">
								<div class="algo-table">
									<div class="table-responsive"> 
										<ngx-datatable id="accountRecievables" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}" [selected]="Searchselected" >
										 <ngx-datatable-column *ngIf="gridDefaultFormValues[0]['readAccess']" name="customerClassId" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[0]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											<ngx-datatable-column *ngIf="gridDefaultFormValues[1]['readAccess']" name="customerClassDescription" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[1]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[2]['readAccess']" name="customeClassDescriptionArabic" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[2]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
								
											<ngx-datatable-column *ngIf="gridDefaultFormValues[3]['readAccess']" name="Action" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
												<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[3]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
													<a class="edit-ico" (click)="edit(row)" *ngIf="gridDefaultFormValues[5]['readAccess']" title="{{gridDefaultFormValues[5]['helpMessage']}}"></a>
												</ng-template>
											</ngx-datatable-column>
										 </ngx-datatable>
									</div>
									
									
									<div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
								</div><!-- Algo Table Ends -->
								 
							</div>
						</div><!-- Form Row Ends -->
					 
					 
					 
						<form class="search-batch" name="accountReceivableClassSetup" (ngSubmit)="accountReceivableClassSetup.form.valid && save(accountReceivableClassSetup)" #accountReceivableClassSetup="ngForm" novalidate>
							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && !customerClassId.valid }">
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
									<input type="text" myAutofocus class="form-control fm-txt {{myHtml}} auto-focus" title="{{defaultFormValues[0]['helpMessage']}}" id="ddl_insClassId" name="customerClassId" [(ngModel)]="accountReceivableClass.customerClassId" #customerClassId="ngModel"(blur)='IsIdAlreadyExist()' maxlength="15" required [disabled]="disableId">
									<div *ngIf="accountReceivableClassSetup.submitted && customerClassId.invalid">
										<div class='error-msg' *ngIf="customerClassId.errors.required">
											{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="customerClassId.errors.maxlength">
											{{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
									</div>
								</div>
							</div><!-- Form Row Ends -->

							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && !customerClassDescription.valid }">
									<label>{{defaultFormValues[1]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" title="{{defaultFormValues[1]['helpMessage']}}" name="customerClassDescription" [(ngModel)]="accountReceivableClass.customerClassDescription" #customerClassDescription="ngModel" maxlength="31" required>
									<div *ngIf="accountReceivableClassSetup.submitted && customerClassDescription.invalid">
										<div class='error-msg' *ngIf="customerClassDescription.errors.required">
											{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="customerClassDescription.errors.maxlength">
											{{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && !customeClassDescriptionArabic.valid }">
								   <label>{{defaultFormValues[2]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" title="{{defaultFormValues[2]['helpMessage']}}" name="customeClassDescriptionArabic" [(ngModel)]="accountReceivableClass.customeClassDescriptionArabic" #customeClassDescriptionArabic="ngModel" maxlength="61" required>
									<div *ngIf="accountReceivableClassSetup.submitted && customeClassDescriptionArabic.invalid">
										<div class='error-msg' *ngIf="customeClassDescriptionArabic.errors.required">
											{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="customeClassDescriptionArabic.errors.maxlength">
											{{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
									</div>
								</div>                            
							</div><!-- Form Row Ends -->

						
							
							
						<div class="form-row">

                          <div class="col-sm-12">

                            <div class="row border-box full-bx-width">

                              <div class="col-sm-4">
                                <div class="cm-row">
                                  <label>{{defaultFormValues[3]['fieldValue']}}</label>
                                </div>
                                <div class="cm-row">
                                  <label>{{defaultFormValues[6]['fieldValue']}}</label>
                                </div>
                                <div class="cm-row">
                                  <label>{{defaultFormValues[10]['fieldValue']}}</label>
                                </div>
								<div class="cm-row">
                                  <label>{{defaultFormValues[14]['fieldValue']}}</label>
                                </div>
                              </div>

                              <div class="col-sm-2">
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio"  name="balanceType" [(ngModel)]="accountReceivableClass.balanceType"  value="1" #balanceType="ngModel" title="{{defaultFormValues[38]['helpMessage']}}"title="{{defaultFormValues[4]['helpMessage']}}"> {{defaultFormValues[4]['fieldValue']}}</label></span>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" (click)="set('none')" name="financeCharge" [(ngModel)]="accountReceivableClass.financeCharge"  value="0" #financeCharge="ngModel" title="{{defaultFormValues[7]['helpMessage']}}"> {{defaultFormValues[7]['fieldValue']}}</label></span>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" (click)="set1('none')" name="minimumCharge" [(ngModel)]="accountReceivableClass.minimumCharge"  value="0" #minimumCharge="ngModel" title="{{defaultFormValues[11]['helpMessage']}}">{{defaultFormValues[11]['fieldValue']}}</label></span>
                                </div>
								<div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" (click)="set2('none')" name="creditLimit" [(ngModel)]="accountReceivableClass.creditLimit"  value="0" #creditLimit="ngModel" title="{{defaultFormValues[15]['helpMessage']}}"> {{defaultFormValues[15]['fieldValue']}}</label></span>
                                </div>
                              </div>

                              <div class="col-sm-2">
                                <div class="cm-row">
                                 <span class="choose-opt"><label><input type="radio"  name="balanceType" [(ngModel)]="accountReceivableClass.balanceType" value="2" #balanceType="ngModel" title="{{defaultFormValues[5]['helpMessage']}}">{{defaultFormValues[5]['fieldValue']}}</label></span>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" (click)="set('percent')" name="financeCharge" [(ngModel)]="accountReceivableClass.financeCharge" value="1" #financeCharge="ngModel" title="{{defaultFormValues[8]['helpMessage']}}"> {{defaultFormValues[8]['fieldValue']}}</label></span>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" (click)="set1('percent')" name="minimumCharge" [(ngModel)]="accountReceivableClass.minimumCharge" value="1" #minimumCharge="ngModel" title="{{defaultFormValues[12]['helpMessage']}}">{{defaultFormValues[12]['fieldValue']}}</label></span>
                                </div>
										<div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" (click)="set2('unlimited')" name="creditLimit" [(ngModel)]="accountReceivableClass.creditLimit" value="1" #creditLimit="ngModel" title="{{defaultFormValues[16]['helpMessage']}}">{{defaultFormValues[16]['fieldValue']}}</label></span>
                                </div>
                              </div>

                              <div class="col-sm-2">
                                <div class="cm-row">
                                  <label>&nbsp;</label>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" (click)="set('amount')" name="financeCharge" [(ngModel)]="accountReceivableClass.financeCharge" value="2" #financeCharge="ngModel" title="{{defaultFormValues[9]['helpMessage']}}"> {{defaultFormValues[9]['fieldValue']}}</label></span>
                                </div>
                                <div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" (click)="set1('amount')"  name="minimumCharge" [(ngModel)]="accountReceivableClass.minimumCharge" value="2" #minimumCharge="ngModel" title="{{defaultFormValues[13]['helpMessage']}}"> {{defaultFormValues[13]['fieldValue']}}</label></span>
                                </div>
								<div class="cm-row">
                                  <span class="choose-opt"><label><input type="radio" (click)="set2('amount')" name="creditLimit" [(ngModel)]="accountReceivableClass.creditLimit" value="2" #creditLimit="ngModel" title="{{defaultFormValues[17]['helpMessage']}}"> {{defaultFormValues[17]['fieldValue']}}</label></span>
                                </div>
                              </div>

                              <div class="col-sm-2 arabic-mode">
								<div class="cm-row">
                                  <label>&nbsp;</label>
																</div>
																<input type="text" id="financeChargeAmount" class="form-control fm-txt arabic-mode" maxlength="10" name="financeChargeAmount"
																 [(ngModel)]="accountReceivableClass.financeChargeAmount" #financeChargeAmount="ngModel"
																	OnlyNumber="true" (ngModelChange) = "getfinanceChargeAmountValue($event)" 
																	(blur)= "formatfinanceChargeAmount()" (focus)='formatfinanceChargeAmountChanged()' [disabled]="ftextDisabled">	
																
																<input type="text" id="minimumChargeAmount" class="form-control fm-txt arabic-mode"
																 maxlength="10" name="minimumChargeAmount" [(ngModel)]="accountReceivableClass.minimumChargeAmount" #minimumChargeAmount="ngModel" OnlyNumber="true" (ngModelChange) = "getminimumChargeAmountValue($event)" (blur)= "formatminimumChargeAmount()" (focus)='formatminimumChargeAmountChanged()' [disabled]="mtextDisabled">		
                                       	
																<input type="text" id="creditLimitAmount" class="form-control fm-txt arabic-mode"
																 maxlength="10" name="creditLimitAmount" [(ngModel)]="accountReceivableClass.creditLimitAmount" #creditLimitAmount="ngModel" OnlyNumber="true" (ngModelChange) = "getCreditLimitAmountValue($event)" (blur)= "formatCreditLimitAmount()" (focus)='formatCreditLimitAmountChanged()'[disabled]="ctextDisabled">
                                       	
                              </div>

                            </div>

                          </div>
                        </div><!-- Form Row Ends -->
						
							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultFormValues[18]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && !tradeDiscountPercent.valid }">
								  <label>{{defaultFormValues[18]['fieldValue']}}</label>
									<input type="text" OnlyNumber="true"  title="{{defaultFormValues[18]['helpMessage']}}" class="form-control fm-txt" id = "tradeDiscountPercent"
									name="tradeDiscountPercent" [(ngModel)]="accountReceivableClass.tradeDiscountPercent" #tradeDiscountPercent="ngModel" (ngModelChange) = "getTradeDiscountPercent($event)" 
									(blur)= "formatTradeDiscountPercent()" (focus)='formatTradeDiscountPercentChanged()'required>
								  <div *ngIf="accountReceivableClassSetup.submitted && tradeDiscountPercent.invalid">
										<div class='error-msg' *ngIf="tradeDiscountPercent.errors.required">
											{{defaultFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									</div>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[24]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && salesmanId.length==0 }">
								  <label>{{defaultFormValues[24]['fieldValue']}}</label>
								  <div class="select-outer">
									 <!--<select class="form-control" name='salesmanId' title="{{defaultFormValues[24]['helpMessage']}}" [(ngModel)]="accountReceivableClass.salesmanId"  #salesmanId="ngModel" required>
										<option value="">--{{select}}--</option>
										<option *ngFor="let sa of salesman" [value]="sa.salesmanId">{{sa.salesmanFirstName}}</option>
									  </select>									  -->
                     <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrSalesmanId" [(ngModel)]="salesmanId" id="salesmanId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlSalesmanIdSetting" 
									 (onSelect)="getSalesmanByID($event)" (onDeSelect)="OnSalesmanIdDeSelect($event)"></angular2-multiselect>  
									</div> 
									<div *ngIf="accountReceivableClassSetup.submitted && salesmanId.length==0 ">
										<div class='error-msg'>
											{{defaultFormValues[24]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									 </div>
								</div>								
							</div><!-- Form Row Ends -->

							<div class="form-row">  
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[19]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && paymentTermId.length==0  }">
									<label>{{defaultFormValues[19]['fieldValue']}}</label>
									<div class="select-outer">
										 <!--<select class="form-control" title="{{defaultFormValues[19]['helpMessage']}}" name='paymentTermId' [(ngModel)]="accountReceivableClass.paymentTermId"  #paymentTermId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let payment of payments" [value]="payment.paymentTermId">{{payment.description}}</option>
										</select>										-->
										 <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrPaymentTermId" [(ngModel)]="paymentTermId" id="paymentTermId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlPaymentTermIdSetting" 
									 (onSelect)="getPaymentTermByID($event)" (onDeSelect)="OnPaymentTermIdDeSelect($event)"></angular2-multiselect>  
									</div> 
									<div *ngIf="accountReceivableClassSetup.submitted && paymentTermId.length==0 ">
										<div class='error-msg'>
											{{defaultFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									</div>
								</div>
								
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[25]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && salesTerritoryId.length==0  }">
                               <label>{{defaultFormValues[25]['fieldValue']}}</label>
								<div class="select-outer">
                                 <!--<select class="form-control" title="{{defaultFormValues[25]['helpMessage']}}" name='salesTerritoryId' [(ngModel)]="accountReceivableClass.salesTerritoryId"  #salesTerritoryId="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let st of salesTerritory" [value]="st.salesTerritoryId">{{st.descriptionPrimary}}</option>
								  </select>								  -->
									 <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrSalesTerritoryId" [(ngModel)]="salesTerritoryId" id="salesTerritoryId"[ngModelOptions]="{standalone: true}"
                                    [settings]="ddlSalesTerritoryIdSetting" 
									 (onSelect)="getSalesTerritoryByID($event)" (onDeSelect)="OnSalesTerritoryIdDeSelect($event)"></angular2-multiselect>  
                                </div> 
								<div *ngIf="accountReceivableClassSetup.submitted && salesTerritoryId.length==0 ">
									<div class='error-msg'>
										{{defaultFormValues[25]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								 </div>
                            </div>
								
							</div><!-- Form Row Ends -->


                        <div class="form-row">    

							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[20]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && shipmentMethodId.length==0  }">
									<label>{{defaultFormValues[20]['fieldValue']}}</label>
									<div class="select-outer">
										 <!--<select title="{{defaultFormValues[20]['helpMessage']}}" class="form-control" name='shipmentMethodId' [(ngModel)]="accountReceivableClass.shipmentMethodId"  #shipmentMethodId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let shipping of shippingMethod" [value]="shipping.shipmentMethodId">{{shipping.shipmentDescription}}</option>
										</select>-->
										 <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrShipmentMethodId" [(ngModel)]="shipmentMethodId" id="shipmentMethodId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlShipmentMethodIdSetting" 
									 (onSelect)="getShipmentMethodByID($event)" (onDeSelect)="OnShipmentMethodIdDeSelect($event)"></angular2-multiselect>  
									</div> 
									<div *ngIf="accountReceivableClassSetup.submitted && shipmentMethodId.length==0 ">
											<div class='error-msg'>
												{{defaultFormValues[20]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
									</div>
								</div>
								
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[26]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && checkbookId.length==0 }">
                              <label>{{defaultFormValues[26]['fieldValue']}}</label>
                              <div class="select-outer">
                                 <!--<select class="form-control" title="{{defaultFormValues[26]['helpMessage']}}" name='checkbookId' [(ngModel)]="accountReceivableClass.checkbookId"  #checkbookId="ngModel" required>
									<option value="">--{{select}}--</option>
									<option *ngFor="let check of checkbook" [value]="check.checkBookId">{{check.checkbookDescription}}</option>
								  </select>-->
									 <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCheckbookId" [(ngModel)]="checkbookId" id="checkbookId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlCheckbookIdSetting" 
									 (onSelect)="getCheckbookByID($event)" (onDeSelect)="OnCheckbookIdDeSelect($event)"></angular2-multiselect>  
								   
                                </div> 
								<div *ngIf="accountReceivableClassSetup.submitted && checkbookId.length==0">
									<div class='error-msg'>
										{{defaultFormValues[26]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								</div>
                            </div>
							
                        </div><!-- Form Row Ends -->

                        <div class="form-row">                            
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[21]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && vatId.length==0 }">
									<label>{{defaultFormValues[21]['fieldValue']}}</label>
									<div class="select-outer">
										 <!--<select class="form-control" title="{{defaultFormValues[21]['helpMessage']}}" name='vatId' [(ngModel)]="accountReceivableClass.vatId"  #vatId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let v of vat" [value]="v.vatScheduleId">{{v.vatDescription}}</option>
										</select>-->
										 <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrVatId" [(ngModel)]="vatId" id="vatId"[ngModelOptions]="{standalone: true}"
                                    [settings]="ddlVatIdSetting" 
									 (onSelect)="getVatByID($event)" (onDeSelect)="OnVatIdDeSelect($event)"></angular2-multiselect>  
									</div> 
									<div *ngIf="accountReceivableClassSetup.submitted && vatId.length==0">
											<div class='error-msg'>
												{{defaultFormValues[21]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
										</div>
								</div>
								
								 <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[27]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && !customerPriority.valid }">
                              <label>{{defaultFormValues[27]['fieldValue']}}</label>
								<div class="select-outer">
                                <select class="form-control" title="{{defaultFormValues[27]['helpMessage']}}" name='customerPriority' [(ngModel)]="accountReceivableClass.customerPriority"  #customerPriority="ngModel" required>
									<option value="">--{{select}}--</option>
									<option [value]="1">1</option>
									<option [value]="2">2</option>
									<option [value]="3">3</option>
								  </select>
								   
                                </div> 
								<div *ngIf="accountReceivableClassSetup.submitted && customerPriority.invalid">
									<div class='error-msg' *ngIf="customerPriority.errors.required">
										{{defaultFormValues[27]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>										
								  </div>
                            </div>

                            
                        </div><!-- Form Row Ends --> 
						
						<div class="form-row">  

							<div class="col-md-6 col-sm-6 col-xs-12">						
                            
								<div class="form-row" *ngIf="defaultFormValues[22]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && currencyId.length==0 }">
								  <label>{{defaultFormValues[22]['fieldValue']}}</label>
								  <div class="select-outer">
									 <!--<select class="form-control" title="{{defaultFormValues[22]['helpMessage']}}" name='currencyId' [(ngModel)]="accountReceivableClass.currencyId"  #currencyId="ngModel" required>
										<option value="">--{{select}}--</option>
										<option *ngFor="let c of currency" [value]="c.currencyId">{{c.currencyDescription}}</option>
									  </select>-->
									   <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCurrencyId" [(ngModel)]="currencyId" id="currencyId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlCurrencyIdSetting" 
									 (onSelect)="getCurrencyByID($event.id)" (onDeSelect)="OnCurrencyIdDeSelect($event)"></angular2-multiselect>  
									</div>
									<div *ngIf="accountReceivableClassSetup.submitted && currencyId.length==0">
										<div class='error-msg'>
											{{defaultFormValues[22]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									  </div>
								</div>
								
								
							<div class="form-row" *ngIf="defaultFormValues[23]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && !priceLevelId.valid }">
                              <label>{{defaultFormValues[23]['fieldValue']}}</label>
                              <input type="text" title="{{defaultFormValues[23]['helpMessage']}}" class="form-control fm-txt" name="priceLevelId" [(ngModel)]="accountReceivableClass.priceLevelId" #priceLevelId="ngModel" required>
							  <div *ngIf="accountReceivableClassSetup.submitted && priceLevelId.invalid">
								<div class='error-msg' *ngIf="priceLevelId.errors.required">
									{{defaultFormValues[23]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>										
							  </div>
                            </div>
							
							
							<div class="form-row" *ngIf="defaultFormValues[33]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && !userDefine1.valid }">
                              <label>{{defaultFormValues[33]['fieldValue']}}</label>
                             <input type="text" title="{{defaultFormValues[33]['helpMessage']}}" class="form-control fm-txt" name="userDefine1" [(ngModel)]="accountReceivableClass.userDefine1" #userDefine1="ngModel" maxlength="21" required>
							 <div *ngIf="accountReceivableClassSetup.submitted && userDefine1.invalid">
								<div class='error-msg' *ngIf="userDefine1.errors.required">
									This field is required
								</div>
								<div class='error-msg' *ngIf="userDefine1.errors.maxlength">
									{{defaultFormValues[33]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div>
                            </div>

                            <div class="form-row" *ngIf="defaultFormValues[34]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && !userDefine2.valid }">
                              <label>{{defaultFormValues[34]['fieldValue']}}</label>
                              <input type="text" title="{{defaultFormValues[34]['helpMessage']}}" class="form-control fm-txt" name="userDefine2" [(ngModel)]="accountReceivableClass.userDefine2" #userDefine2="ngModel" maxlength="21" required>
							  <div *ngIf="accountReceivableClassSetup.submitted && userDefine2.invalid">
								<div class='error-msg' *ngIf="userDefine2.errors.required">
									This field is required
								</div>
								<div class='error-msg' *ngIf="userDefine2.errors.maxlength">
									{{defaultFormValues[34]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div>
                            </div>
							
							<div class="form-row" *ngIf="defaultFormValues[35]['readAccess']" [ngClass]="{ 'has-error': accountReceivableClassSetup.submitted && !userDefine3.valid }">
                              <label>{{defaultFormValues[35]['fieldValue']}}</label>
                              <input type="text" title="{{defaultFormValues[35]['helpMessage']}}" class="form-control fm-txt" name="userDefine3" [(ngModel)]="accountReceivableClass.userDefine3" #userDefine3="ngModel" maxlength="21" required>
							   <div *ngIf="accountReceivableClassSetup.submitted && userDefine3.invalid">
								<div class='error-msg' *ngIf="userDefine3.errors.required">
									This field is required
								</div>
								<div class='error-msg' *ngIf="userDefine3.errors.maxlength">
									{{defaultFormValues[35]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							</div>
                            </div>
							</div>
								
								<div class="col-md-6 col-sm-12 col-xs-12">
								
									

										<div class="form-row border-box">
										<div class="content-heading"><h3>{{defaultFormValues[28]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->
											                        
												<ul class="check-list" *ngIf="defaultFormValues[29]['readAccess']">
												  <li><label><input title="{{defaultFormValues[29]['helpMessage']}}" type="checkbox" name="openMaintenanceHistoryCalendarYear" [checked]="accountReceivableClass.openMaintenanceHistoryCalendarYear" [(ngModel)]="accountReceivableClass.openMaintenanceHistoryCalendarYear" #openMaintenanceHistoryCalendarYear="ngModel"/>{{defaultFormValues[29]['fieldValue']}}</label></li>
												  <li><label><input title="{{defaultFormValues[31]['helpMessage']}}" type="checkbox" name="openMaintenanceHistoryTransaction" [checked]="accountReceivableClass.openMaintenanceHistoryTransaction" [(ngModel)]="accountReceivableClass.openMaintenanceHistoryTransaction" #openMaintenanceHistoryTransaction="ngModel"/>{{defaultFormValues[31]['fieldValue']}}</label></li>
												  <li><label><input title="{{defaultFormValues[30]['helpMessage']}}" type="checkbox" name="openMaintenanceHistoryFiscalYear" [checked]="accountReceivableClass.openMaintenanceHistoryFiscalYear" [(ngModel)]="accountReceivableClass.openMaintenanceHistoryFiscalYear" #openMaintenanceHistoryFiscalYear="ngModel"/>{{defaultFormValues[30]['fieldValue']}}</label></li>
												  <li><label><input title="{{defaultFormValues[32]['helpMessage']}}" type="checkbox" name="openMaintenanceHistoryDistribution" [checked]="accountReceivableClass.openMaintenanceHistoryDistribution" [(ngModel)]="accountReceivableClass.openMaintenanceHistoryDistribution" #openMaintenanceHistoryDistribution="ngModel"/>{{defaultFormValues[32]['fieldValue']}}</label></li>
												</ul>
											
									  </div><!-- Form Row Ends -->
								
								</div>
								
							
                           
                        </div><!-- Form Row Ends --> 



						

						<div class="button-row">
							<div class="col-sm-12">
							
									<input type="submit" [disabled]="LockScreen(defaultFormValues[36]['writeAccess'])" 
									 *ngIf="add" class="orange-btn" title="{{defaultFormValues[36]['helpMessage']}}" value="{{defaultFormValues[36]['fieldValue']}}"/>
							
							
									<input type="submit" [disabled]="LockScreen(defaultFormValues[36]['writeAccess'])"  *ngIf="!add" class="orange-btn" title="{{defaultFormValues[36]['helpMessage']}}" value="{{defaultFormValues[36]['fieldValue']}}"/>
							
							
								<a class="blue-btn" style="margin-left:18px" (click)="clearForm(accountReceivableClassSetup);" title="{{defaultFormValues[37]['helpMessage']}}">{{defaultFormValues[37]['fieldValue']}}</a>
								 <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(accountReceivableClassSetup)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
							 <input type="button" (click)="redirect(currentClassId)" [disabled]="disableButton" class="blue-btn" title="{{defaultFormValues[38]['helpMessage']}}" value="{{defaultFormValues[38]['fieldValue']}}"/>
							<!--<button class="grey-btn">Accounts</button>-->
							</div>
						</div><!-- Buton Row Ends -->
					</form>
					
					
                   </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>