
 <div class="content-wrapper select-wrap-bg user-view vathasview" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                      
                    <div class="content-outer com-form">
                      <div class="row">
                             <form (ngSubmit)="!hasMsg && f.form.valid && saveVATDetail(f)" #f="ngForm" novalidate>
                        <div class="form-row">
                          <div class="col-md-6 col-sm-6 col-xs-12">
                             <div *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !vatScheduleId.valid,'':true }">
                                <label for="vatScheduleId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt auto-focus'" name="vatScheduleId" [(ngModel)]="model.vatScheduleId" OnlyAlphaNumeric="true"
                                #vatScheduleId="ngModel" myAutofocus maxlength="15" [readonly]="isModify" id="vatScheduleIdText" (blur)="IsIdAlreadyExist();"
                                title="{{defaultAddFormValues[0]['helpMessage']}}" 
                                 required />
                                <div *ngIf="f.submitted && vatScheduleId.invalid">
                                    <div class='error-msg' *ngIf="vatScheduleId.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div><!-- Form Row Ends -->

                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !vatDescription.valid,'':true }">
                                <label for="vatDescription">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="vatDescription" [(ngModel)]="model.vatDescription" 
                                #vatDescription="ngModel" 
                                title="{{defaultAddFormValues[1]['helpMessage']}}"
                                  maxlength="31"   required />
                                <div *ngIf="f.submitted && vatDescription.invalid">
                                    <div class='error-msg' *ngIf="vatDescription.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="vatDescription.errors.maxlength">
                                        {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12 arabic-mode">
                               <div *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !vatDescriptionArabic.valid,'':true }">
                                <label for="vatDescriptionArabic">{{defaultAddFormValues[2]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="vatDescriptionArabic" [(ngModel)]="model.vatDescriptionArabic" 
                                #vatDescriptionArabic="ngModel" 
                                title="{{defaultAddFormValues[2]['helpMessage']}}"
                                 maxlength="61" required />
                                <div *ngIf="f.submitted && vatDescriptionArabic.invalid">
                                    <div class='error-msg' *ngIf="vatDescriptionArabic.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="vatDescriptionArabic.errors.maxlength">
                                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                               </div>
                            </div>
                        </div><!-- Form Row Ends -->

                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !vatSeriesType.valid,'':true }">
                                <label for="vatSeriesType">{{defaultAddFormValues[3]['fieldValue']}}</label>
                               <div class="select-outer"> <select [ngClass]="'form-control fm-txt'" name="vatSeriesType" [(ngModel)]="model.vatSeriesType" 
                                 #vatSeriesType="ngModel" title="{{defaultAddFormValues[3]['helpMessage']}}" required>
                                        <option *ngFor="let seriesType of ArraySeriesType" [value]="seriesType.typeId">
                                            {{seriesType.name}}
                                        </option>
                                    </select>
                               </div>
                                <div *ngIf="f.submitted && vatSeriesType.invalid">
                                    <div class='error-msg' *ngIf="vatSeriesType.errors.required">
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div><!-- Form Row Ends -->
                          <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !vatIdNumber.valid}">
                                <label for="vatIdNumber">{{defaultAddFormValues[4]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="vatIdNumber" [(ngModel)]="model.vatIdNumber" 
                                #vatIdNumber="ngModel"  OnlyAlphaNumeric="true"  maxlength="31"     
                                title="{{defaultAddFormValues[4]['helpMessage']}}" required />
                                <div *ngIf="f.submitted && vatIdNumber.invalid">
                                    <div class='error-msg' *ngIf="vatIdNumber.errors.required">
                                        {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="vatIdNumber.errors.maxlength">
                                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div><!-- Form Row Ends -->
                          <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{ 'has-error': f.submitted && accountRowId.length == 0,'':true }">
                                <label for="accountRowId">{{defaultAddFormValues[5]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                             
                                    <angular2-multiselect  [ngClass]="'form-control fm-txt'" [data]="ArraccountRowId" [(ngModel)]="accountRowId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlaccountRowSetting" title="{{defaultAddFormValues[5]['helpMessage']}}"
									 (onSelect)="getaccountRowByID($event)" (onDeSelect)="OnaccountRowDeSelect($event)" >
                                     </angular2-multiselect>
                                    </div>
                                <div *ngIf="f.submitted && accountRowId.length == 0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>
                            <a  class="add-ico-tb">
										  <i class="fa fa-plus-circle" aria-hidden="true" (click)="openAccountWindow()"></i>
									   </a>
                        </div><!-- Form Row Ends -->
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="!model.basperct >0">{{model.basperct}}
                                <div *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !vatBaseOn.valid,'':true }">
                                <label for="vatBaseOn">{{defaultAddFormValues[6]['fieldValue']}}</label>
                                <div class="select-outer"><select [ngClass]="'form-control fm-txt'" name="vatBaseOn" [(ngModel)]="model.vatBaseOn" 
                                     #vatBaseOn="ngModel" title="{{defaultAddFormValues[6]['helpMessage']}}">
                                        <option *ngFor="let seriesType of ArrayBasedOnList" [value]="seriesType.typeId">
                                            {{seriesType.name}}
                                        </option>
                                </select>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="model.basperct >0">
                                <div *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !vatBaseOn.valid,'':true }">
                                <label for="vatBaseOn">{{defaultAddFormValues[6]['fieldValue']}}</label>
                                <div class="select-outer"><select [ngClass]="'form-control fm-txt'" name="vatBaseOn" [(ngModel)]="model.vatBaseOn" 
                                     #vatBaseOn="ngModel" required title="{{defaultAddFormValues[6]['helpMessage']}}">
                                        <option *ngFor="let seriesType of ArrayBasedOnList" [value]="seriesType.typeId">
                                            {{seriesType.name}}
                                        </option>
                                </select>
                                </div> 
                                <div *ngIf="f.submitted && vatBaseOn.invalid">
                                    <div class='error-msg' *ngIf="vatBaseOn.errors.required">
                                        {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="!model.vatBaseOn >0">
                               <div *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !basperct.valid,'arabic-mode':true }">
                                <label for="basperct">{{defaultAddFormValues[7]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="basperct" [(ngModel)]="model.basperct" 
                                #basperct="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   
                                title="{{defaultAddFormValues[7]['helpMessage']}}"/>
                               </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="model.vatBaseOn >0">
                                <div *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !basperct.valid,'arabic-mode':true }">
                                 <label for="basperct">{{defaultAddFormValues[7]['fieldValue']}}</label>
                                 <input type="text" [ngClass]="'form-control fm-txt'" name="basperct" [(ngModel)]="model.basperct" 
                                 #basperct="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)" required  
                                 title="{{defaultAddFormValues[7]['helpMessage']}}"/>
                                 <div *ngIf="f.submitted && basperct.invalid">
                                     <div class='error-msg' *ngIf="basperct.errors.required">
                                         {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                     </div>
                                 
                                 </div>
                                </div>
                             </div>
                        </div><!-- Form Row Ends -->
                          <div class="form-row">
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <label class="wd100">{{defaultAddFormValues[8]['fieldValue']}}</label>
                                
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12 error-mg min-max">
                                <div *ngIf="defaultAddFormValues[9]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !minimumVATAmount.valid,'arabic-mode':true }">
                                
                                <label for="minimumVATAmount">{{defaultAddFormValues[9]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" id = "minimumVATAmount" name="minimumVATAmount" [(ngModel)]="model.minimumVATAmount" 
                                #minimumVATAmount="ngModel" (focus)="onFocus('minimumVATAmount')" (ngModelChange) ="onlyNumber('minimumVATAmount',$event)" title="{{defaultAddFormValues[9]['helpMessage']}}"
                                required />
                                <div *ngIf="f.submitted && minimumVATAmount.invalid">
                                    <div class='error-msg' *ngIf="minimumVATAmount.errors.required">
                                        {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>
                              <div class="col-md-2 col-sm-6 col-xs-12 error-mg min-max">
                               
                                <div *ngIf="defaultAddFormValues[10]['readAccess']"  [ngClass]="{ 'has-error': f.submitted && !maximumVATAmount.valid,'arabic-mode':true }">
                                <label for="maximumVATAmount">{{defaultAddFormValues[10]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" id = "maximumVATAmount" name="maximumVATAmount" [(ngModel)]="model.maximumVATAmount" 
                                #maximumVATAmount="ngModel"  (focus)="onFocus('maximumVATAmount')" (ngModelChange) ="onlyNumber('maximumVATAmount',$event)" 
                                title="{{defaultAddFormValues[10]['helpMessage']}}" required />
                                <div *ngIf="f.submitted && maximumVATAmount.invalid">
                                    <div class='error-msg' *ngIf="maximumVATAmount.errors.required">
                                        {{defaultAddFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>
                             

    
                        </div><!-- Form Row Ends -->



                        <div class="form-row">
                          <div class="col-xs-12">
                            <div class="algo-table">
                              <div class="table-responsive">          
                                <table class="table">
                                  <thead>
                                    <tr> 
                                      <th width="40%">&nbsp; &nbsp; &nbsp;</th>
                                      <th width="30%">{{defaultAddFormValues[13]['fieldValue']}}</th>
                                      <th width="30%">{{defaultAddFormValues[14]['fieldValue']}}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>{{defaultAddFormValues[15]['fieldValue']}}</td>
                                      <td>
                                          <input type="text" [ngClass]="'form-control fm-txt'" name="ytdTotalSalesPurchase" [(ngModel)]="model.ytdTotalSalesPurchase" 
                                           OnlyNumber="true" (keydown)="onlyDecimalNumberKey($event)"   readonly="true" #lytdTotalSalesPurchase="ngModel"/>
                                          </td>
                                      <td>
                                          <input type="text" [ngClass]="'form-control fm-txt'" name="lastYearTotalSalesPurchase" [(ngModel)]="model.lastYearTotalSalesPurchase" 
                                           OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    readonly="true" #lastYearTotalSalesPurchase="ngModel"/>
                                          </td>
                                      
                                    </tr>
                                   <tr>
                                      <td>{{defaultAddFormValues[16]['fieldValue']}}</td>
                                      <td>
                                          <input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="ytdTotalTaxableSalesPurchase" [(ngModel)]="model.ytdTotalTaxableSalesPurchase" 
                                           OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   readonly="true" #ytdTotalTaxableSalesPurchase="ngModel"/>
                                            </td>
                                      <td>
                                          <input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="lastYearTaxableSalesPurchase" [(ngModel)]="model.lastYearTaxableSalesPurchase" 
                                          OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"  readonly="true"  #lastYearTaxableSalesPurchase="ngModel"/>
                                          </td>
                                      
                                    </tr>

                                    <tr>
                                      <td>{{defaultAddFormValues[17]['fieldValue']}}</td>
                                      <td>
                                          <input type="text" [ngClass]="'form-control fm-txt'" name="ytdTotalSalesPurchaseTaxes" [(ngModel)]="model.ytdTotalSalesPurchaseTaxes" 
                                         OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"  readonly="true" #ytdTotalSalesPurchaseTaxes="ngModel"/>
                                          </td>
                                      <td>
                                          <input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="lastYearSalesPurchaseTaxes" [(ngModel)]="model.lastYearSalesPurchaseTaxes" 
                                          OnlyNumber="true" (keydown)="onlyDecimalNumberKey($event)"  readonly="true" #lastYearSalesPurchaseTaxes="ngModel"/>
                                          </td>
                                      
                                    </tr>

                                  </tbody>
                                </table>
                                </div>
                              </div><!-- Algo Table Ends -->
                        </div>
                        </div><!-- Form Row Ends -->


                        <div class="button-row">
                      <div class="col-sm-12">
                        <input type="submit"  [disabled]="LockScreen(defaultAddFormValues[12]['writeAccess'])" class="orange-btn" title="{{defaultAddFormValues[11]['helpMessage']}}" value="{{defaultAddFormValues[11]['fieldValue']}}"/>
                        <input type="button" class="blue-btn" (click)="resetMe(f)" title="{{defaultAddFormValues[12]['helpMessage']}}" value="{{defaultAddFormValues[12]['fieldValue']}}"/>
                        <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                        </div>
                        </div>
                       </form>

                             <div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
								</div>
						 </div>

                        <div class="form-row">  
                        	<div class="col-xs-12">
		                        <div class="algo-table">
		                        <div class="table-responsive">
						<ngx-datatable id="vatDetailGrid" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							(select)='onSelect($event)'> 
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="vatScheduleId" [width]="200"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="vatDescription" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="vatDescriptionArabic" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column>
                        <ngx-datatable-column name="vatSeriesType" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
					<span  *ngIf="value == 1">Sales</span>
                    <span  *ngIf="value == 2">Purchase</span>
                    	 <!--{{value}} -->
						</ng-template>
						 </ngx-datatable-column>
						<ngx-datatable-column name="Action" [width]="150" *ngIf="defaultManageFormValues[6]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[6]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getvatDetailById(row)" title="{{defaultManageFormValues[4]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
		                    </div>
                             <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
                        </div> 
                        <!--Form Row Ends -->
                      </div> <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                      
                  </section>
                </section>
            </div>
<div class="modal"  *ngIf="isModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{accountNumberTitleLabel}}
    </div>
    <div class="modal-body">
      	<span *ngFor="let segment of arrSegment;let i=index; let j=index;">
																<input id="txtfirstSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
																  (blur)="fetchFirstAccountIndexInfo(j)" *ngIf="j==0" style="width:65px" />
																   <input id="txtSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
																  (blur)="fetchOtherAccountIndexInfo(j)" *ngIf="j > 0" style="width:65px"  [disabled]='segment.isReadOnly'/> 
															      <i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus"
																      style="float: left;padding: 3px 0px;" *ngIf="j + 1 != arrSegment.length"></i>	
															</span>
    </div>
    <div class="modal-footer">
           <button class="orange-btn-sm" (click)='createNewGlAccountNumber()'>{{createAccountNumberLabel}}</button>
					 <button class="blue-btn-sm" (click)='closeModal()'>{{btnCancelLabel}}</button>
    </div>
  </div>
</div>