<app-modal-animation  [modalID]="'effect-15'" [modalClass]="'md-effect-15'">
  
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close">x</i></button>
      <app-card [title]="'Add country'">
      
      
            </app-card>   
            <button (click)="closeMyModal($event)" class="green-btn">Close</button>
            <button (click)="closeMyModal($event)" class="blue-btn">Close Me!!</button>
</app-modal-animation>



<!-- <app-modal-animation [modalID]="'effect-13'" [modalClass]="'md-effect-13'">
    <h3 class="f-26">Add Contact</h3>
    <div class="text-center">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Full Name">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Email">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Position">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon4"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Office">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon5"><i class="icofont icofont-user"></i></span>
        <input type="number" class="form-control" placeholder="Age">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon6"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Phone Number">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon7"><i class="icofont icofont-user"></i></span>
        <input id="dropper-default" class="form-control" type="text" placeholder="Select Your Birth Date" readonly="readonly">
      </div>
      <button type="button" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block">Save</button>
      <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
  </app-modal-animation> -->


  <!-- screen header -->
  <div class="page-header">
        <div class="page-header-title">
          <span><h3>{{screenName}}</h3></span>
        </div>
        <!-- <div class="page-header-breadcrumb">
            <i class="ti-settings"></i>
        </div> -->
      </div>
<!-- screen header -->

<div class="content-wrapper">
        <section class="content">
            <!-- section Heading Starts -->
            <!-- <div class="section-heading">
                <h2></h2>
            </div> -->
            <!-- section Heading Ends -->
            <section class="inner-content">
                <!-- Content Outer Starts -->
                <div class="content-outer com-form">
                    <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{messageText}}
                    </div>
                    <!-- Content Heading Starts -->
                    <div class="content-heading">
                        <!-- <h3> {{screenName}}</h3> -->
                           <div *ngIf="showloader" class="loader">
                        </div>
                    </div>
                    <!-- Content Heading Ends -->
                    
                    <!--adding form starts-->
          <!-- Basic Form Inputs card start -->
<app-card [title]="">
        <!-- <h4 class="sub-title">Create company</h4> -->
       
       
        <form (ngSubmit)="f.form.valid && CreateCompany(f)" #f="ngForm"  novalidate>
                <div class="form-group row">  
                        <div class="col-sm-4">
                                <div class="form-group row">
                                        <div class="floating-label col-md-12">      
                                            <input class="floating-input" type="text"  myAutofocus 
                                            name="name" 
                                            placeholder=" "
                                            (blur)="ValidateCompany()" 
                                            [readonly]="isModify" 
                                            [(ngModel)]="model.name" 
                                            #name="ngModel" 
                                            maxlength="25"   
                                            tabindex="1"
                                            required />
                                            <div *ngIf="msgCompanyExist != ''">
                                                    <div class='error-msg'>
                                                        {{msgCompanyExist}}
                                                    </div>
                                                </div>
                                                <div *ngIf="f.submitted && name.invalid">
                                                    <div class='error-msg' *ngIf="name.errors.required">
                                                        {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div class='error-msg' *ngIf="name.errors.maxlength">
                                                        {{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                            <span class="highlight"></span>
                                            <label>Latin Name</label>
                                          </div>
                                        
                                    </div>
        
                                    <div class="form-group row">
           
                                            <div class="floating-label col-md-12">  
                                                <input auto-complete [source]="countryOptions" class="floating-input" list-formatter="countryName"  [(ngModel)]="selectedCountry" [ngModelOptions]="{standalone: true}" name="countryId"  #countryId="ngModel"
                                                (valueChanged)="getCountryData($event)" placeholder="" on-focus="onAutocompleteFocus('countryLabel',selectedCountry);countryFocusIn(countryId)"  #filterInput
                                                 on-focusout="onAutocompleteFocusOut('countryLabel',selectedCountry);getCountryData($event)" tabindex="5" required/>
                                                <!-- <select class="floating-select browser-default custom-select" (change)="selectCountry();" [(ngModel)]="selectedCountry"  value="" tabindex="5">
                                                  <option value=""></option>
                                                  <option class="add-option"  value="-1">+ Add new</option>
                                                  <option *ngFor="let item of countryList" value={{item.id}}>{{item.name}}</option>
                                                </select> -->
                                                <div *ngIf="f.submitted && countryId.invalid">
                                                        <div class='error-msg' [hidden]="!countryId.errors.required">
                                                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div>
                                                <span class="highlight"></span>
                                                <label id="countryLabel">{{defaultFormValues[1]['fieldValue']}}</label>
                                                <input type="hidden"/><span  class="search-icon">
                                                <!-- <i class="fa fa-search"></i> -->
                                                <i (click)="toggle()" [ngClass]="{'ti-angle-down': !isCountryOpen, 'ti-angle-up':isCountryOpen }"></i>
                                                </span>
                                              </div>
                                    </div>
                         </div>
                       
                        <div class="col-sm-4">
                                <div class="form-group row">
                                        <div class="floating-label col-sm-12">      
                                            <input dir="rtl" class="floating-input" name="nameArabic"   [(ngModel)]="model.nameArabic" 
                                            #nameArabic="ngModel"  type="text" placeholder=" " tabindex="2">
                                            <span class="highlight"></span>
                                            <label>Arabic Name</label>
                                          </div>
                                    </div>
        
                                    <div class="form-group row">
                                        <div class="floating-label col-md-12">  
                                            <!-- <select class="floating-select" onclick="this.setAttribute('value', this.value);" value="" tabindex="6"> 
                                              <option value=""></option>
                                              <option value="1">Alabama</option>
                                              <option value="2">Boston</option>
                                              <option value="3">Ohaio</option>
                                              <option value="4">New York</option>
                                              <option value="5">Washington</option>
                                            </select>
                                            <span class="highlight"></span>
                                            <label>Select state</label> -->
    
                                            <input auto-complete  [source]="stateOptions" class="floating-input" list-formatter="stateName" [(ngModel)]="selectedState" [ngModelOptions]="{standalone: true}" name="stateId"  #stateId="ngModel" (valueChanged)="getStateData($event)"
                                            title="{{defaultFormValues[7]['helpMessage']}}" required #filterInput1
                                             placeholder="" tabindex="7" on-focus="onAutocompleteFocus('stateLabel');stateFocusIn(stateId)" on-focusout="onAutocompleteFocusOut('stateLabel')" />
                                            <div *ngIf="f.submitted && stateId.invalid">
                                                    <div class='error-msg' [hidden]="!stateId.errors.required">
                                                        {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                </div>
                                            <span class="highlight"></span>
                                            <label id="stateLabel">{{defaultFormValues[7]['fieldValue']}}</label>
                                            <span  class="search-icon">
                                            <!-- <i class="fa fa-search"></i>fa fa-caret-down -->
                                            <i (click)="toggle1()" [ngClass]="{'ti-angle-down': !isStateOpen, 'ti-angle-up':isStateOpen }"></i>
                                            </span>
    
                                          </div>
                                      </div>
        
                                
                        </div>

                        <div  class="col-sm-4">
                                <label>Company Logo</label>
                                <div class="row">
                                  <div class="col-md-6">
                                      
                                      <input type='file' style="margin-top: 40px;" on-focus="onFileUploadFocus('btnUpload')" (change)="fileChange($event);" tabindex="17" 
                                      id="btnUpload"/>
                                      <!-- <button type="button" style="margin-top: 40px;" (click)="toggleSt($event, toFocus)"tabindex="17"
                                      type='file' style="margin-top: 40px;"on-focus="onFileUploadFocus('btnUpload')" id="btnUpload"
                                       (change)="readURL($event);">Upload file</button>

                                           
                                         <input #toFocus>   -->
                                     
                                      <!-- <input type="file" style="margin-top: 40px;" (change)="handleUpload($event)" tabindex="3"> -->
                                  </div>
                                  <div class="col-md-6">
                                      <img id="blah" [src]="imageSrc || './assets/images/company_logo_4.png'" alt="your image" />
                                      
                                  </div>
                                </div>
                                <!-- <label class="custom-file"  style="margin-top:20px;">
                                      
                                        <input type="file" ng2FileSelect [uploader]="uploader"  class="custom-file-input">
                                        <span class="custom-file-control"></span>
                                      </label> -->
                                      
                              
                                  <!-- <img class="pull-right" src="{{companyLogo}}" alt="Generic placeholder image">
                                  <input type="file" style="margin-top: 40px;" tabindex="3">
                                 -->
                                
                         </div>
                       
                 </div>
            <!-- <div class="sub-title"></div> -->
            <div class="form-group row">
             
              <div class="col-sm-4">
                      
                    <div class="form-group row" >

                           
                        <div class="floating-label col-md-12">  
                            <!-- <select class="floating-select" onclick="this.setAttribute('value', this.value);" value="" tabindex="6"> 
                              <option value=""></option>
                              <option value="1">Alabama</option>
                              <option value="2">Boston</option>
                              <option value="3">Ohaio</option>
                              <option value="4">New York</option>
                              <option value="5">Washington</option>
                            </select>
                            <span class="highlight"></span>
                            <label>Select state</label> -->

                            <input auto-complete [disabled]="!defaultFormValues[8]['writeAccess']"  [source]="cityOptions" class="floating-input" list-formatter="cityName" name="cityId" [(ngModel)]="selectedCity" #cityId="ngModel" (valueChanged)="getCityData($event)"
                            title="{{defaultFormValues[7]['helpMessage']}}" required #filterInput2
                            placeholder="" tabindex="7" on-focus="onAutocompleteFocus('cityLabel');cityFocusIn(cityId)" on-focusout="onAutocompleteFocusOut('cityLabel')" />
                            <div *ngIf="f.submitted && cityId.invalid">  
                                <div class='error-msg' [hidden]="!cityId.errors.required">
                                    {{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label id="cityLabel">{{defaultFormValues[8]['fieldValue']}}</label>
                            <input type="hidden"/><span class="search-icon">
                            <!-- <i class="fa fa-search"></i> -->
                            <i (click)="toggle2()" [ngClass]="{'ti-angle-down': !isCityOpen, 'ti-angle-up':isCityOpen }"></i>
                            </span>

                          </div>
                    </div>
              </div>
              <div class="col-sm-4">
        
                    <div class="form-group row">
                            <div class="floating-label col-sm-12">      
                                <input class="floating-input" type="text" placeholder=" " tabindex="8"  
                                name="zipCode" 
                                [(ngModel)]="model.zipCode"
                                #zipCode="ngModel" 
                                title="{{defaultFormValues[2]['helpMessage']}}"
                                maxlength="10"  
                                OnlyNumber="true"  
                               (keydown)="onlyDecimalNumberKey($event)"   
                                required>
                                <div *ngIf="f.submitted && zipCode.invalid">
                                        <div class='error-msg' *ngIf="zipCode.errors.required">
                                            {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div class='error-msg' *ngIf="zipCode.errors.maxlength">
                                            {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                    </div>
                                <span class="highlight"></span>
                                <label>Postal/zipcode</label>
                              </div>
                          </div>
              </div>
        
              <div class="col-sm-4">
        
                  <div class="form-group row">
        
                      <div class="floating-label col-sm-4" [ngClass]="'short-text'">      
                          <input class="floating-input" type="text" placeholder=" " tabindex="9"  
                          name="countryCode" 
                          [(ngModel)]="model.countryCode" 
                          #countryCode="ngModel"
                          title="{{defaultFormValues[3]['helpMessage']}}" 
                          OnlyNumber="true"  
                          (keydown)="onlyDecimalNumberKey($event)" 
                          maxlength="5" 
                          [readonly]="true">
                          <span class="highlight"></span>
                          <label>{{defaultFormValues[3]['fieldValue']}}</label>
                        </div>
                   
                        <div class="floating-label col-sm-6" [ngClass]="'right-fm-text'">      
                            <input class="floating-input" type="text" placeholder=" " tabindex="10"   
                            minlength="10" 
                            name="phone" 
                            [(ngModel)]="model.phone" 
                            #phone="ngModel" 
                            maxlength="10"
                          
                            (keydown)="onlyDecimalNumberKey($event)"   
                            title="{{defaultFormValues[4]['helpMessage']}}" required/>
                            <div *ngIf="f.submitted && phone.invalid">
                                    <div class='error-msg' *ngIf="phone.errors.required">
                                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="phone.errors.maxlength">
                                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="phone.errors.minlength">
                                        Minimum 10 characters Allowed.
                                    </div>
                                </div>
                            <span class="highlight"></span>
                            <label>{{defaultFormValues[4]['fieldValue']}}</label>
                          </div>
                  </div>
            </div>
        
            </div>
        
            <div class="form-group row">
        
                <div class="col-sm-4">
        
                  
                        <div class="form-group row">
                            <div class="floating-label col-sm-12">      
                                <input class="floating-input" type="text" placeholder=" " tabindex="11"  name="fax" 
                                [(ngModel)]="model.fax"
                                 #fax="ngModel" 
                                 title="{{defaultFormValues[5]['helpMessage']}}"
                                maxlength="15" 
                                minlength="10" 
                                (keydown)="onlyDecimalNumberKey($event)"   
                                required/>
                                <div *ngIf="f.submitted && fax.invalid">
                                        <div class='error-msg' *ngIf="fax.errors.required">
                                            {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div class='error-msg' *ngIf="fax.errors.maxlength">
                                            {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                        <div class='error-msg' *ngIf="fax.errors.minlength">
                                            Minimum 10 characters Allowed.
                                        </div>
                                    </div>
                                <span class="highlight"></span>
                                <label>{{defaultFormValues[5]['fieldValue']}}</label>
                              </div>
                        </div>
                   
                    <div class="form-group row">
                        <div class="floating-label col-sm-12" *ngIf="defaultFormValues[12]['readAccess']">      
                            <input class="floating-input" type="text" placeholder=" " tabindex="12"  name="webAddress" [(ngModel)]="model.webAddress" 		
                            #webAddress="ngModel" id="webAddress" title="{{defaultFormValues[12]['helpMessage']}}"		
                            maxlength="50" (blur)="getLatLong()" [readonly]="!defaultFormValues[12]['writeAccess']"/>
                            <div *ngIf="f.submitted && webAddress.invalid">		
                                <div class='error-msg' *ngIf="webAddress.errors.maxlength">		
                                    {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}		
                                </div>		
                            </div>
                            <div class='error-msg' *ngIf="ShowInvalidWebAddress">		
                                invalid webAddress	
                            </div>	
                            <span class="highlight"></span>
                            <label>{{defaultFormValues[12]['fieldValue']}}</label>
                          </div>
                      </div>
                    <div class="form-group row">
                        <div class="floating-label col-sm-12">      
                            <input class="floating-input" type="text" placeholder=" " tabindex="13"   
                            name="email" 
                            [(ngModel)]="model.email" 
                            #email="ngModel" 
                            title="{{defaultFormValues[6]['helpMessage']}}"
                            maxlength="50"  
                            pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"  
                            required/>
                            <div *ngIf="f.submitted && email.invalid">
                                    <div class='error-msg' *ngIf="email.errors.required">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="email.errors.pattern">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="email.errors.maxlength">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                    </div>
                                </div>
                            <span class="highlight"></span>
                            <label>{{defaultFormValues[6]['fieldValue']}}</label>
                          </div>
                      </div>
        
                
                      
                </div>
                <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label col-sm-12" *ngIf="defaultFormValues[13]['readAccess']">      
                            <input class="floating-input" type="text" placeholder=" " tabindex="14"  name="latitude" [(ngModel)]="model.latitude" 		
                            #latitude="ngModel" 	(keyup)="changeLatitude($event)"	
                            title="{{defaultFormValues[13]['helpMessage']}}"		
                            maxlength="25"  [readonly]="!defaultFormValues[13]['writeAccess']" required/>
                            <div *ngIf="f.submitted && latitude.invalid">		
                                <div class='error-msg' *ngIf="latitude.errors.required">		
                                    {{defaultFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}		
                                </div>		
                                <div class='error-msg' *ngIf="latitude.errors.maxlength">		
                                    {{defaultFormValues[13]['listDtoFieldValidationMessage'][1]['validationMessage']}}		
                                </div>		
                            </div>	
                            <span class="highlight"></span>
                            <label>{{defaultFormValues[13]['fieldValue']}}</label>
                          </div>
                      </div>
          
                      <div class="form-group row">
                          <div class="floating-label col-sm-12" *ngIf="defaultFormValues[14]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !longitude.valid,'':true }">      
                              <input class="floating-input" type="text" placeholder=" " tabindex="15"  name="longitude" [(ngModel)]="model.longitude" 		
                              #longitude="ngModel" 	(keyup)="changeLongitude($event)"	
                              title="{{defaultFormValues[14]['helpMessage']}}"		
                              maxlength="25"  [readonly]="!defaultFormValues[14]['writeAccess']" required/>
                              <div *ngIf="f.submitted && longitude.invalid">		
                                <div class='error-msg' *ngIf="longitude.errors.required">		
                                    {{defaultFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}		
                                </div>		
                                <div class='error-msg' *ngIf="longitude.errors.maxlength">		
                                    {{defaultFormValues[14]['listDtoFieldValidationMessage'][1]['validationMessage']}}		
                                </div>		
                            </div>		
                              <span class="highlight"></span>
                              <label>{{defaultFormValues[14]['fieldValue']}}</label>
                            </div>
                        </div>
          
                        <div class="form-group row">
                            <div class="floating-label col-sm-12">      
                                <textarea class="floating-input floating-textarea" placeholder=" " tabindex="16"  name="address" 
                                   [(ngModel)]="model.address" #address="ngModel" title="{{defaultFormValues[9]['helpMessage']}}"
                                    maxlength="150" pattern="(?!^\d+$)^.+$"  required></textarea>
                                <div *ngIf="f.submitted && address.invalid">
                                    <div class='error-msg' *ngIf="address.errors.required">
                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="address.errors.maxlength">
                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="address.errors.pattern">
                                        Enter Valid Address
                                    </div>
                                </div>
                                <span class="highlight"></span>
                                <label>{{defaultFormValues[9]['fieldValue']}}</label>
                              </div>
                          </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-md-12">
                        <div [ngClass]="'form-row'" [hidden]="hideElement" >
                            <!-- <agm-map  style="height: 171px;" (mapReady)="mapReady($event)">
                                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                            </agm-map> -->

 <agm-map style="height: 171px;"
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)"
  [usePanning]="true">

  <agm-marker 
      [latitude]="lat"
      [longitude]="lng"
      [label]="label"
      [markerDraggable]="draggable"
      (dragEnd)="markerDragEnd(m, $event)">
     
  </agm-marker>
  
  <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle> -->

</agm-map>
                            
                        </div> 
                         
                    </div>
                </div>
        
        
              
            </div>
            <div [ngClass]="'button-row'">
                <div [ngClass]="'col-sm-12'">
                    <button *ngIf="model.id" class="green-btn">{{updateField}}</button>
                    <button *ngIf="!model.id" class="green-btn" [disabled]="LockScreen(defaultFormValues[10]['writeAccess'])" tabindex="18"
                              title="{{defaultFormValues[10]['fieldValue']}}">{{defaultFormValues[10]['helpMessage']}}</button>
                    <button class="blue-btn" (click)="goBack()" tabindex="19">{{btnCancelText}}</button>
                    <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{clearText}}</button>
                   


                    <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
                    <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
                </div>
                
            </div>
           
          </form>
       
       
      </app-card>        
                   
        
        <!--adding form ends-->
    </div>
    <!-- Content Outer Ends -->
    </section>
    </section>
    </div>
<!-- Basic Form Inputs card end -->
