



<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
    </div>
    <div class="modal-footer">
           <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
           <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
           <button  class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

    </div>
  </div>
</div>

<div class="row" >
<!-- screen header -->
<div class="page-header">
      <div class="page-header-title">
        <span><h3>{{commonService.moduleName}}</h3></span>
      </div>
      <!-- <div class="page-header-breadcrumb">
          <i class="ti-settings"></i>
      </div> -->
    </div>
    

    <!-- <div  class="setting-btn-wrap">
      <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
      <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
      <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
      <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
  </div> -->

<!-- screen header -->
<div class="col-sm-12" (keyup)='EscapeModal($event)'>
<app-card [title]="" class="smtResponsiveContent">
  <div class="content-heading">
      <div class="search-top">
              <div class="form-group row nopaddingnopadding">
                      <div class="floating-label col-sm-4">      
                          <input class="floating-input"  (keyup)='updateFilter($event)' [readonly]="!defaultFormValues[49]['writeAccess']" type="text"
                           placeholder=" " *ngIf="defaultFormValues[49]['readAccess']" tabindex="1">
                          <span class="highlight"></span>
                          <label id="countryLabel">{{defaultFormValues[49]['helpMessage']}}</label>
                          <input type="hidden"/><span class="search-icon">
                              <i class="fa fa-search"></i>
                              </span>
                        </div>
                   <div class="col-sm-8 pull-right">
                          <button class="green-btn" *ngIf="defaultFormValues[47]['readAccess']" 
                          title="{{defaultFormValues[47]['helpMessage']}}" 
                          (click)="goToCreate()">{{defaultFormValues[47]['fieldValue']}}</button>
                   </div>
                      
                  </div>

         
          <!-- <input type="text" *ngIf="defaultFormValues[1]['readAccess']" class="search-txt form-control" title="{{defaultFormValues[1]['helpMessage']}}" placeholder="{{defaultFormValues[1]['fieldValue']}}"
              (keyup)='updateFilter($event)' [readonly]="!defaultFormValues[1]['writeAccess']"/> -->
      </div>


  </div>

  <div class="page-header">
    <div class="page-header-title">
      <span>
        <h5>{{totalElements}} Employees</h5>
      </span>
    </div>
  </div>

  
<div class="table-responsive">
      <ngx-datatable 
      id="MainGrid" 
      class="material"
      [rows]="rows" 
      [columnMode]="'force'" 
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50" 
      [externalPaging]="true" 
      [count]="page.totalElements" 
      [offset]="page.pageNumber"
      
      [limit]="page.size" 
      (page)='setPage($event)'
      [selected]="selected"
      [selectionType]="'checkbox'"
      (select)='onSelect($event)'
      (activate)="edit($event)">
      <!-- (activate)="edit($event)"
      [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText,selectedMessage:selectedText}" -->
      <ngx-datatable-column   [width]="70" [sortable]="false"  [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
      [checkboxable]="true"></ngx-datatable-column>

    

        <ngx-datatable-column   name="employeeImage"   [canAutoResize]="false" [draggable]="true"  [resizeable]="true">
          <ng-template let-column="column"  let-sort="sortFn" ngx-datatable-header-template>
              <span  class="sort-btn" (click)="sort()">Employee image</span>
          </ng-template>
          <ng-template let-value="value" id="imgTemplate"  ngx-datatable-cell-template>
            <img id="sdf" src="data:image/jpg;base64,{{value}}" style="width:40px;height:40px;border-radius: 50%;">
                  <!-- <ng-template><span>
                       {{getImageValue(value)}}  <img id="sdf" src={{empImage}}>
                  </span></ng-template> -->
          </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="employeeId" [sortable]="true" [width]="100" [canAutoResize]="false"
      [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[0]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="employeeFirstName" [sortable]="true" [width]="100" [canAutoResize]="false"
      [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[4]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="employeeMiddleName" [sortable]="true" [width]="120" [canAutoResize]="false"
      [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[5]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="employeeLastName" [sortable]="true" [width]="100" [canAutoResize]="false"
      [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[3]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="employeeHireDate" [sortable]="true" [width]="100" [canAutoResize]="false"
      [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[9]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value | date: 'dd-MM-yyyy'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="employeeLastWorkDate" [sortable]="true" [width]="120" [canAutoResize]="false"
      [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[11]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value | date: 'dd-MM-yyyy'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="employeeGender" [sortable]="true" [width]="70" [canAutoResize]="false"
      [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[30]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value ? 'Male' : 'Female'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="employeeMaritalStatus" word-wrap:break-word [sortable]="true" [width]="100"
      [canAutoResize]="false" [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[31]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value ? 'true' : 'false'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="employeeBirthDate" [sortable]="true" [width]="100" [canAutoResize]="false"
      [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[32]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value | date: 'dd-MM-yyyy'}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="employeeWorkHourYearly" [sortable]="true" [width]="130"
      [canAutoResize]="false" [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[34]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="employeeType" [sortable]="true" [width]="140" [canAutoResize]="false"
      [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[29]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="employeeInactive" [sortable]="true" [width]="70" [canAutoResize]="false"
      [draggable]="false" [resizeable]="true">
      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
        <span (click)="sort()">{{defaultFormValues[37]['fieldValue']}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

 
 
</ngx-datatable>



</div>

<div class="button-row">
  <!-- Table View Starts -->
  <div class="table-view table-view-fix">
    <span>TABLE VIEW</span>
    <div class="select-outer">
      <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize"
        #cityId="ngModel">
        <option value="5">5 at a time </option>
        <option value="15">15 at a time </option>
        <option value="50">50 at a time </option>
        <option value="100">100 at a time </option>
      </select>
    </div>
  </div>
  <div class="bottom-view">
    
  </div>
  <button class="red-btn" *ngIf="!isScreenLock || defaultFormValues[41]['readAccess']" title="{{defaultFormValues[41]['helpMessage']}}"  [disabled]="!defaultFormValues[41]['writeAccess'] || selected.length == 0" (click)="varifyDelete()">{{defaultFormValues[41]['fieldValue']}}</button>
</div>




</app-card>


</div>
</div>

