
<div class="content-wrapper user-view vathasview" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                         {{messageText}}
                      </div>
                    <div class="content-outer com-form">
                      <div class="row">
                        <form (ngSubmit)="!hasMsg && f.form.valid && CreateAccountPayables(f)" #f="ngForm" novalidate>
                        

                        <div class="form-row">
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="form-row">
                                <div class="algo-table">
                                
                                    <div class="table-heading">
                                        <h5>{{defaultAddFormValues[0]['fieldValue']}}</h5>
                                       
                                        <span><label *ngFor="let item of ageingByOptions">
                                            {{item.name}}
                                            <input title="{{defaultAddFormValues[0]['helpMessage']}}" myAutofocus type="radio" name="options" (click)="model.ageingBy = item.typeId" 
                                            [checked]="item.typeId === model.ageingBy" required>
                                            {{item.typeValue}}
                                        </label>
                                        </span>
                                    </div>
                                    <div  class='error-msg' *ngIf="f.submitted && !model.ageingBy">
                                            {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                   
                                <div class="table-responsive">
                                    <table class="table">
                                    <thead>
                                        <tr> 
                                        <th width="30%">Current </th>
                                        <th width="15%">From</th>
                                        <th width="20%">0</th>
                                        <th width="15%">To</th>
                                        <th width="20%">0</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        <td><input type="text" id="txtminRange"  [ngClass]="'form-control fm-smalltxt'" OnlyNumber="true"  
                                            (keydown)="onlyDecimalNumberKey($event)"   name="minRange" [(ngModel)]="minRange" maxlength="3" (blur)="validateRange('minRange')"/>
                                        <i class="fa fa-minus" aria-hidden="true" style="float: left;padding: 3px 0px;"></i>	
                                        <input type="text" id="txtmaxRange"  [ngClass]="'form-control fm-smalltxt'" name="maxRange" OnlyNumber="true"  
                                        (keydown)="onlyDecimalNumberKey($event)"  [(ngModel)]="maxRange" maxlength="3" (blur)="validateRange('maxRange')"/> Days
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>
                                            <input type="text" id="txtcurrentFrom"  [ngClass]="'form-control fm-smalltxt wd100'" name="currentFrom" OnlyNumber="true" 
                                            (keydown)="onlyDecimalNumberKey($event)"  [(ngModel)]="currentFrom" maxlength="3" (blur)="validateRange('currentFrom')"/> 	
                                        </td>    
                                        <td>&nbsp;</td>
                                        <td>
                                            <input type="text" id="txtcurrentTo"  [ngClass]="'form-control fm-smalltxt wd100'" name="currentTo" OnlyNumber="true" 
                                            (keydown)="onlyDecimalNumberKey($event)"   [(ngModel)]="currentTo" maxlength="3" (blur)="validateRange('currentTo')"/> 	
                                            <a (click)="UpdateAgingPeriod()" *ngIf="isEdit"> 
                                                    <i class="fa fa-check" style="font-size:20px;color:rgb(37, 228, 11)"></i>
                                            </a>
                                            <a (click)="CancelAgingPeriod()" *ngIf="isEdit"> 
                                            <i class="fa fa-close" style="font-size: 20px;color: red;"></i>
                                            </a>
                                        </td> 
                                        </tr>
                                        <tr *ngFor="let period of pmPeriodSetupsList;let i = index" >
                                        <td>{{period.periodDescription }} Days</td>    
                                        <td>&nbsp;</td>
                                        <td>{{period.periodNoofDays }} </td>
                                        <td>&nbsp;</td>
                                        <td>{{period.periodEnd }}
                                        <a (click)="ModifyAgingPeriod(i,period)"> <i class="fa fa-edit"></i></a>
                                        <a  class="add-ico-tb" *ngIf="!isEdit"><i class="fa fa-minus-circle" aria-hidden="true" (click)="RemoveArrValue(i)"></i></a>
                                         </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                    </div>
                                </div><!-- Algo Table Ends -->
                            </div>


                        <div class="form-row" *ngIf="defaultAddFormValues[22]['readAccess']">

                        <div class="form-row border-box">

                          <div class="content-heading"><h3>{{defaultAddFormValues[22]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->
                               
                                <ul class="check-list wd100">
                                  <li>
                                    <label><input type="checkbox" title="{{defaultAddFormValues[23]['helpMessage']}}" 
                                    name="printHistoricalAgedTrialBalance" [checked]="model.printHistoricalAgedTrialBalance" [(ngModel)]="model.printHistoricalAgedTrialBalance" #printHistoricalAgedTrialBalance="ngModel" title="{{defaultAddFormValues[23]['helpMessage']}}"/>{{defaultAddFormValues[23]['fieldValue']}}</label>
                                   
                                    </li>
                                  <li>
                                     <label><input type="checkbox" title="{{defaultAddFormValues[24]['helpMessage']}}"
                                      name="overrideVoucherNumberTransactionEntry" [checked]="model.overrideVoucherNumberTransactionEntry" [(ngModel)]="model.overrideVoucherNumberTransactionEntry" #overrideVoucherNumberTransactionEntry="ngModel" title="{{defaultAddFormValues[24]['helpMessage']}}"/>{{defaultAddFormValues[24]['fieldValue']}}</label>
                                    
                                    </li>
                                  <li>
                                     <label><input type="checkbox" title="{{defaultAddFormValues[25]['helpMessage']}}"
                                      name="deleteUnpostedPrintedDocuments" [checked]="model.deleteUnpostedPrintedDocuments" [(ngModel)]="model.deleteUnpostedPrintedDocuments" #deleteUnpostedPrintedDocuments="ngModel" title="{{defaultAddFormValues[25]['helpMessage']}}" />{{defaultAddFormValues[25]['fieldValue']}}</label>
                                   
                                    </li>
                                  <li>
                                     <label><input type="checkbox" title="{{defaultAddFormValues[26]['helpMessage']}}"
                                      name="apTrackingDiscountAvailable" [checked]="model.apTrackingDiscountAvailable" [(ngModel)]="model.apTrackingDiscountAvailable" #apTrackingDiscountAvailable="ngModel" title="{{defaultAddFormValues[26]['helpMessage']}}"/>{{defaultAddFormValues[26]['fieldValue']}}</label>
                                    
                                    </li>
                                  <li>
                                     <label><input type="checkbox" name="ageUnappliedCreditAmounts" 
                                     [checked]="model.ageUnappliedCreditAmounts" [(ngModel)]="model.ageUnappliedCreditAmounts" #ageUnappliedCreditAmounts="ngModel" title="{{defaultAddFormValues[27]['helpMessage']}}"/>{{defaultAddFormValues[27]['fieldValue']}}</label>
                                    
                                    </li>
                                </ul>
                            </div>
                      </div><!-- Form Row Ends -->

                      

                      <div class="form-row border-box">
                          <div class="content-heading"><h3>{{defaultAddFormValues[28]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->
                             <div class="form-row">
                                <div *ngIf="defaultAddFormValues[29]['readAccess']" [ngClass]="{ 'has-error': f.submitted && purchaseVatScheduleId.length==0,'':true }">
                                <label for="purchaseVatScheduleId">{{defaultAddFormValues[29]['fieldValue']}}</label>
                                   <div class="select-outer"> 
                                      <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="arrVatDetailId" [(ngModel)]="purchaseVatScheduleId" id="purchaseVatScheduleId" [ngModelOptions]="{standalone: true}"
                                       [settings]="ddlCheckBookIdSetting" 
									   (onSelect)="getPurchaseVatDetailByID($event)" (onDeSelect)="OnPurchaseVatDetailDeSelect($event)"></angular2-multiselect>  
                                   </div>
                             <div *ngIf="f.submitted && purchaseVatScheduleId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[29]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                               <div class="form-row">
                                <div *ngIf="defaultAddFormValues[30]['readAccess']" [ngClass]="{ 'has-error': f.submitted && freightVatScheduleId.length==0,'':true }">
                                   
                                <label for="freightVatScheduleId">{{defaultAddFormValues[30]['fieldValue']}}</label>
                                   <div class="select-outer"> 
                                      <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="arrVatDetailId" [(ngModel)]="freightVatScheduleId" id="freightVatScheduleId" [ngModelOptions]="{standalone: true}"
                                       [settings]="ddlCheckBookIdSetting" 
									   (onSelect)="onSelectFreightVatScheduleId($event)" (onDeSelect)="OnDeSelectFreightVatScheduleId($event)"></angular2-multiselect>  
                                   </div>
                             <div *ngIf="f.submitted && freightVatScheduleId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[30]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="form-row">
                                <div *ngIf="defaultAddFormValues[31]['readAccess']" [ngClass]="{ 'has-error': f.submitted && miscVatScheduleId.length==0,'':true }">
                                   
                                <label for="miscVatScheduleId">{{defaultAddFormValues[31]['fieldValue']}}</label>
                                   <div class="select-outer"> 
                                      <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="arrVatDetailId" [(ngModel)]="miscVatScheduleId" id="miscVatScheduleId" [ngModelOptions]="{standalone: true}"
                                       [settings]="ddlCheckBookIdSetting" 
									   (onSelect)="onSelectMiscVatScheduleId($event)" (onDeSelect)="OnDeSelectMiscVatScheduleId($event)"></angular2-multiselect>  
                                   </div>
                             <div *ngIf="f.submitted && miscVatScheduleId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[31]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                             <!--<div class="form-row">
                                <div *ngIf="defaultAddFormValues[30]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !freightVatScheduleId.valid,'':true }">
                                <label for="freightVatScheduleId">{{defaultAddFormValues[30]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="freightVatScheduleId" [(ngModel)]="model.freightVatScheduleId" 
                                #freightVatScheduleId="ngModel"
                                title="{{defaultAddFormValues[30]['helpMessage']}}"
                                 maxlength="50" required >
                                <div *ngIf="f.submitted && freightVatScheduleId.invalid">
                                    <div class='error-msg' *ngIf="freightVatScheduleId.errors.required">
                                        {{defaultAddFormValues[30]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="form-row">
                              
                                <div *ngIf="defaultAddFormValues[31]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !miscVatScheduleId.valid,'':true }">
                                <label for="miscVatScheduleId">{{defaultAddFormValues[31]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="miscVatScheduleId" [(ngModel)]="model.miscVatScheduleId" 
                                #miscVatScheduleId="ngModel"
                                title="{{defaultAddFormValues[31]['helpMessage']}}"
                                 maxlength="50" required >
                                <div *ngIf="f.submitted && miscVatScheduleId.invalid">
                                    <div class='error-msg' *ngIf="miscVatScheduleId.errors.required">
                                        {{defaultAddFormValues[31]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            
                      </div>-->
                      <!-- Form Row Ends -->

                      </div><!-- Form Row Ends -->

                      

                        </div>

                                <div class="col-md-6 col-sm-6 col-xs-12">

                                    <div class="form-row">
                                    
                                <div class="form-row border-box">
                                    <div class="form-row">
                                        <div class="content-heading"><div class="col-xs-12"><h3>{{defaultAddFormValues[9]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->
                                        <div *ngIf="defaultAddFormValues[10]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !removeVendorHoldPassword.valid,'arabic-mode':true }">
                                        <label for="removeVendorHoldPassword">{{defaultAddFormValues[10]['fieldValue']}}</label>
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="removeVendorHoldPassword" [(ngModel)]="model.removeVendorHoldPassword" 
                                        #removeVendorHoldPassword="ngModel"
                                        title="{{defaultAddFormValues[10]['helpMessage']}}"
                                        maxlength="21" required >
                                        <div *ngIf="f.submitted && removeVendorHoldPassword.invalid">
                                            <div class='error-msg' *ngIf="removeVendorHoldPassword.errors.required">
                                                {{defaultAddFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <!--<div class='error-msg' *ngIf="removeVendorHoldPassword.errors.maxlength">
                                                {{defaultFormValues[10]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>-->
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div *ngIf="defaultAddFormValues[11]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !exceedMaximumInvoiceAmount.valid,'arabic-mode':true }">
                                    <label for="exceedMaximumInvoiceAmount">{{defaultAddFormValues[11]['fieldValue']}}</label>
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="exceedMaximumInvoiceAmount" [(ngModel)]="model.exceedMaximumInvoiceAmount" 
                                    #exceedMaximumInvoiceAmount="ngModel"
                                    title="{{defaultAddFormValues[11]['helpMessage']}}"
                                    maxlength="21" required >
                                    <div *ngIf="f.submitted && exceedMaximumInvoiceAmount.invalid">
                                        <div class='error-msg' *ngIf="exceedMaximumInvoiceAmount.errors.required">
                                            {{defaultAddFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <!--<div class='error-msg' *ngIf="exceedMaximumInvoiceAmount.errors.maxlength">
                                            {{defaultFormValues[11]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>-->
                                    </div>
                                     </div>
                                </div>

                                 <div class="form-row">
                                        <div *ngIf="defaultAddFormValues[12]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !exceedMaximumWriteoffAmount.valid,'arabic-mode':true }">
                                        <label for="exceedMaximumWriteoffAmount">{{defaultAddFormValues[12]['fieldValue']}}</label>
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="exceedMaximumWriteoffAmount" [(ngModel)]="model.exceedMaximumWriteoffAmount" 
                                        #exceedMaximumWriteoffAmount="ngModel"
                                        title="{{defaultAddFormValues[12]['helpMessage']}}"
                                        maxlength="21" required >
                                        <div *ngIf="f.submitted && exceedMaximumWriteoffAmount.invalid">
                                            <div class='error-msg' *ngIf="exceedMaximumWriteoffAmount.errors.required">
                                                {{defaultAddFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <!--<div class='error-msg' *ngIf="exceedMaximumWriteoffAmount.errors.maxlength">
                                                {{defaultFormValues[12]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>-->
                                        </div>
                                    </div>
                            </div>
                         </div>

                            <div class="form-row">

                                <div class="form-row border-box">

                                <div class="content-heading"><h3>{{defaultAddFormValues[13]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->
                                    <div class="form-row">
                                    <span class="choose-opt"  *ngFor = "let applyByArray of ArrApplyByOption" >
                                        <label>
                                    <input type="radio" name="applyByDefault" [(ngModel)]="model.applyByDefault" 		
                                        [value]="applyByArray.typeId" title="{{defaultAddFormValues[13]['helpMessage']}}" required>{{applyByArray.typeValue}}
                                        </label>
                                         
                                        </span>
                                         <div  class='error-msg' *ngIf="f.submitted && !model.applyByDefault">
                                            {{defaultAddFormValues[29]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="form-row border-box">
                                    <div class="content-heading"><h3>{{defaultAddFormValues[16]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->
                                    <span class="choose-opt"><label><input title="{{defaultAddFormValues[17]['helpMessage']}}" type="radio" name="allowDuplicateInvoicePerVendor"  [(ngModel)]="model.allowDuplicateInvoicePerVendor"   [value]="0">{{defaultAddFormValues[17]['fieldValue']}}</label></span>
                                    <span class="choose-opt"><label><input title="{{defaultAddFormValues[17]['helpMessage']}}"  type="radio" name="allowDuplicateInvoicePerVendor"  [(ngModel)]="model.allowDuplicateInvoicePerVendor"  [value]="1">{{defaultAddFormValues[18]['fieldValue']}}</label></span>
                                    <span class="choose-opt"><label><input title="{{defaultAddFormValues[19]['helpMessage']}}"  type="radio" name="allowDuplicateInvoicePerVendor"  [(ngModel)]="model.allowDuplicateInvoicePerVendor"  [value]="2">{{defaultAddFormValues[19]['fieldValue']}}</label></span>
                                </div>

                            </div>

                            <div class="form-row">
                            
                            <div class="form-row">
                                <div *ngIf="defaultAddFormValues[20]['readAccess']" [ngClass]="{ 'has-error': f.submitted && checkbookId.length == 0,'':true }">
                                   
                                <label for="checkbookId">{{defaultAddFormValues[20]['fieldValue']}}</label>
                                    <div class="select-outer">
                                        <!--<select [ngClass]="'form-control fm-txt'" title="{{defaultAddFormValues[20]['helpMessage']}}" name="checkbookId" [(ngModel)]="model.checkbookId" #checkbookId="ngModel" 
                                           required>
                                          <option *ngFor="let checkbook of checkbookoptions"  value="{{checkbook.checkBookId}}" >
                                            {{checkbook.checkbookDescription}}
                                        </option>
                                    </select>-->
                                    <angular2-multiselect  required [ngClass]="'form-control fm-txt'" [data]="ArrCheckbookId" [(ngModel)]="checkbookId" id="checkbookId" [ngModelOptions]="{standalone: true}"
                                        [settings]="ddlCheckbookIdSetting" 
									    (onSelect)="getCheckbookByID($event)" (onDeSelect)="OnCheckbookIdDeSelect($event)">
                                    </angular2-multiselect>
                                    </div>
                             <div *ngIf="f.submitted && checkbookId.length == 0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[20]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="form-row">
                                <div *ngIf="defaultAddFormValues[21]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !checkFormat.valid,'':true }">
                                   
                                <label for="checkFormat">{{defaultAddFormValues[21]['fieldValue']}}</label>
                                  <div class="select-outer">
                                    <select [ngClass]="'form-control fm-txt'" title="{{defaultAddFormValues[21]['helpMessage']}}" name="checkFormat" [(ngModel)]="model.checkFormat" #checkFormat="ngModel" 
                                            required>
                                            <option value="">--Select--</option>
                                          <option *ngFor="let checkFormat of ArrCheckFormatType"  value="{{checkFormat.typeId}}" >
                                            {{checkFormat.name}}
                                        </option>
                                    </select>
                                  </div>
                             <div *ngIf="f.submitted && checkFormat.invalid">
                                    <div class='error-msg' *ngIf="checkFormat.errors.required">
                                        {{defaultAddFormValues[21]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                        </div><!-- Form Row Ends -->

                    <div class="form-row">

                      <div class="form-row border-box">
                          <div class="content-heading"><h3>{{defaultAddFormValues[32]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->
                               
                             <div class="form-row">
                                <div *ngIf="defaultAddFormValues[33]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !userDefine1.valid,'':true }">
                                <label for="userDefine1">{{defaultAddFormValues[33]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="userDefine1" [(ngModel)]="model.userDefine1" 
                                #userDefine1="ngModel"
                                title="{{defaultAddFormValues[33]['helpMessage']}}">
                            </div>
                            </div>

                              <div class="form-row">
                                <div *ngIf="defaultAddFormValues[34]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !userDefine2.valid,'':true }">
                                <label for="userDefine2">{{defaultAddFormValues[34]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="userDefine2" [(ngModel)]="model.userDefine2" 
                                #userDefine2="ngModel"
                                title="{{defaultAddFormValues[34]['helpMessage']}}">
                            </div>
                            </div>

                            <div class="form-row">
                           
                                <div *ngIf="defaultAddFormValues[35]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !userDefine3.valid,'':true }">
                                <label for="userDefine3">{{defaultAddFormValues[35]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="userDefine3" [(ngModel)]="model.userDefine3" 
                                #userDefine3="ngModel"
                                title="{{defaultAddFormValues[35]['helpMessage']}}">
                            </div>
                           
                      </div><!-- Form Row Ends -->

                      </div><!-- Form Row Ends -->

                      

                    </div>


                </div>

            </div>

                        
                        
             </div><!-- Form Row Ends -->
                   <div class="button-row">
                      <div class="col-sm-12">
                                        <input type="submit" [disabled]="LockScreen(defaultAddFormValues[36]['writeAccess'])" 
                                        class="orange-btn" title="{{defaultAddFormValues[36]['helpMessage']}}" value="{{defaultAddFormValues[36]['fieldValue']}}"/>
                          <input type="button" class="blue-btn" (click)="Clear(f)" title="{{defaultAddFormValues[37]['helpMessage']}}" value="{{defaultAddFormValues[37]['fieldValue']}}"/>
                           <a class="blue-btn" title="{{defaultAddFormValues[22]['helpMessage']}}" (click)="redirect()">{{defaultAddFormValues[22]['fieldValue']}}</a>
                        </div>

                    </div><!-- Buton Row Ends -->

                         </form>
                        </div>
                    </div><!-- Content OUter Ends -->
                  </section>
                </section>
            </div>

        