<!-- The Modal -->
<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
    </div>
    <div class="modal-footer">
           <button class="orange-btn-sm" (click)='updateStatus()'>{{OkText}}</button>
					 <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
 
 <div class="content-wrapper user-view" >
     <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <div *ngIf="showloader" class="loader">
                    </div>
                  <section class="inner-content">
                        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                          {{messageText}}
                        </div>
                       <!--<span id='sp_4'>hi</span>-->
                    <div class="content-outer com-form">
                      <div class="row">
                        <form (ngSubmit)="!hasMsg && f.form.valid && saveLanguageSetup(f)" #f="ngForm" novalidate>
              <fieldset [disabled]="isScreenLock">
                       <div [ngClass]="'form-row'">
                              <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !languageName.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="languageName">{{defaultAddFormValues[0]['fieldValue']}}</label>
                             <input type="text" myAutofocus [ngClass]="'form-control fm-txt auto-focus'" name="languageName" [(ngModel)]="model.languageName" 		
                                        #languageName="ngModel" class="{{myHtml}}"	id="txtlanguageName"
                                        title="{{defaultAddFormValues[0]['helpMessage']}}"		
                                          [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>
                             <div *ngIf="f.submitted && languageName.invalid">
                                    <div class='error-msg' *ngIf="languageName.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div><!-- Form Row Ends -->
                   
                           <div class="form-row">
                         <div class="col-md-6 col-sm-12 col-xs-12">
							<div class="row">
							 <div class="col-md-5">
								 <label class="wd100">{{defaultAddFormValues[1]['fieldValue']}}</label>
							</div>	 
							 <div class="col-md-7">
								 <span class="choose-opt"  *ngFor = "let Orientation of arrlanguageOrientation" ><label>
                                  <input type="radio" name="languageOrientation" [(ngModel)]="model.languageOrientation" 		
                                    [value]="Orientation.id" title="{{Orientation.name}}" required>{{Orientation.name}}</label></span>
							 </div>
							  <div  class='error-msg' *ngIf="f.submitted && !model.languageOrientation">
                                            {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
							</div>
                              
               </div>
                            
                        </div><!-- Form Row Ends -->
                        <div class="form-row">
                         <div class="col-md-6 col-sm-12 col-xs-12">
							<div class="row">
							 <div class="col-md-5">
								 <label class="wd100">{{defaultAddFormValues[8]['fieldValue']}}</label>
							</div>	 
							 <div class="col-md-7">
								     <input id='UpdImport' type="file" (change)="selectFile($event)"  title="{{defaultAddFormValues[4]['helpMessage']}}"		
                                          [readonly]="!defaultAddFormValues[8]['writeAccess']">
                                          
               </div>
               <!-- {{file | json}} -->
               <div  class='error-msg' *ngIf="f.submitted && !this.file && !isModify">
                  {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
          </div>
               
              </div>
            </div>
            
           </div>
           <div class="form-row">
                         <div class="col-md-6 col-sm-12 col-xs-12">
							<div class="row">
							 <div class="col-md-5">
								 <label class="wd100">{{defaultAddFormValues[9]['fieldValue']}}</label>
							</div>	 
							 <div class="col-md-7">
                  <input id='UpdFMImport' type="file" (change)="selectFinancialFile($event)"  title="{{defaultAddFormValues[4]['helpMessage']}}"		
                  [readonly]="!defaultAddFormValues[9]['writeAccess']">
                                          
               </div>
               <!-- {{FinancialFile | json}} -->
               <div  class='error-msg' *ngIf="f.submitted && !this.FinancialFile && !isModify">
                  {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
          </div>
              </div>
            </div>
            
           </div>
             
                        <!-- <div class="form-row" *ngIf="!isModify"> -->
                            <div class="form-row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-5">
                                        <!-- <label class="wd100">Export File</label> -->
                                     </div>	
                                     <div class="col-md-7">
                                            <i class="far fa-file-excel"></i>
                                            <a title="{{defaultAddFormValues[6]['fieldValue']}}" class="greenbtn"  
                                            (click)="ExportUserMasterData()"><i class="fa fa-file-excel-o"></i>
                                           &nbsp; {{defaultAddFormValues[6]['fieldValue']}}</a>
                                           <p></p>
                                            <a title="{{defaultAddFormValues[7]['fieldValue']}}" class="greenbtn"  
                                            (click)="ExportFinancialMasterData()" style="margin:5px 0px;float:left "><i class="fa fa-file-excel-o"></i>
                                            &nbsp; {{defaultAddFormValues[7]['fieldValue']}}</a>
                                     </div>
                                  </div>
                                  </div>
                        
                         </div>
                         <div class="form-row" *ngIf="!isModify">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-5">
                              <label class="wd100">{{defaultAddFormValues[5]['fieldValue']}}</label>
                           </div>	 
                            <div class="col-md-7" >
                               <div [ngClass]="{'has-error': f.submitted && SelectedCompany.length == 0 && !isModify,'col-md-12 col-sm-12 col-xs-12':true}" style="padding:0">
                                <angular2-multiselect [data]="ddl_MultiSelectCompany" [(ngModel)]="SelectedCompany" [ngModelOptions]="{standalone: true}"
                                [settings]="ddlCompanySetting" 
                                (onSelect)="onItemSelect($event)" 
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>      
                              </div>

                            </div>
                            <div  class='error-msg' *ngIf="f.submitted && SelectedCompany.length == 0 && !isModify">
                                {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                           </div>  
                           </div>
                         </div>
                                  </div><!-- Form Row Ends -->
              </fieldset>
                        <div class="button-row">
                    <div [ngClass]="'col-sm-12'" >
                    <input type="submit"  [ngClass]="'orange-btn'"  title="{{defaultAddFormValues[2]['fieldValue']}}" 
                    value="{{defaultAddFormValues[2]['helpMessage']}}" [disabled]="LockScreen(defaultAddFormValues[2]['writeAccess'])" />
                    <input type="button" [ngClass]="'blue-btn'" title="{{defaultAddFormValues[3]['fieldValue']}}"
                     *ngIf="defaultAddFormValues[3]['readAccess']" (click)="clearForm();" value="{{defaultAddFormValues[3]['helpMessage']}}"/>
                                <input type="button" class="blue-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                            </div>


                        </div>
						</form>
						  <!--<div class="form-row">
                          <div class="col-xs-12">
                            <div class="algo-table">
                              <div class="table-responsive">          
                                <table class="table">
                                  <thead>
                                    <tr > 
                                      <th width="24%">{{defaultManageFormValues[2]['fieldValue']}}</th>
                                      <th width="30%"> {{defaultManageFormValues[0]['fieldValue']}}</th>
                                       <th width="24%">{{defaultManageFormValues[1]['fieldValue']}}</th>
                                      <th width="10%">{{defaultManageFormValues[3]['fieldValue']}}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor = "let Language of arrLanguage">
                                        <td>{{Language.languageId}}</td>
                                      <td>{{Language.languageName}}</td>    
                                      <td class="arabic-mode">{{Language.languageOrientation}}</td>
                                    
                                      <td> 
                                        <a class="edit-ico" title="{{defaultManageFormValues[4]['helpMessage']}}" (click)="getLanguageById(Language)"></a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                </div>
                              </div>

                        </div>
                        </div>-->
                        <!-- Form Row Ends -->
                    
                        <div class="form-row">  
				<div class="col-xs-12">
				<div class="algo-table">
				<div class="table-responsive">
						<ngx-datatable id="languageSetupGrd" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='getLanguageList($event)'
							[selected]="selected" (select)='onSelect($event)' [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"> 
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="languageName" [width]="200"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="languageOrientation" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="250" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="languageId" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="250" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="Action" [width]="150" *ngIf="defaultManageFormValues[3]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[3]['fieldValue']}} </ng-template>
						 <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
              <button class="edit-ico" (click)="getLanguageById(row)"  [disabled]="LockScreen(defaultManageFormValues[3]['writeAccess'])" ></button>
              <button  class="access-btn" (click)="varifyOperation(row)" [disabled]="LockScreen(defaultManageFormValues[3]['writeAccess'])" title="{{row.languageStatus}}"  >
                     <img src="../assets/img/Enable{{row.isActive}}.png">
              </button>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
		                    </div>
							<div class="button-row" *ngIf="page.totalElements > 0">
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<div class="bottom-view">
									</div>
								</div>
                        </div><!-- Form Row Ends -->

               

                        
                    

                      </div> <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                       
                  </section>
                </section>
            </div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>