
 <div class="content-wrapper user-view" >
 <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                         {{messageText}}
                      </div>
                      
                    <div class="content-outer com-form">
                      <div class="row">
                        
                      <div class="content-heading">
							<div class="search-top">
								<input type="text" class="search-txt form-control"  (keyup)='updateFilter($event)' />
							</div>
					  </div>

                    <div class="form-row">  
                     <div class="col-xs-12">
                       <div class="algo-table">
                         <div class="table-responsive">
						<ngx-datatable id="booksetup" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							(select)='onSelect($event)'>
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="bookId" [width]="150"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="bookDescription" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="150" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="bookDescriptionArabic" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="150" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column> 
                         <ngx-datatable-column name="currentYear" *ngIf="defaultManageFormValues[3]['readAccess']" 
							[width]="150" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column>
                            <ngx-datatable-column name="depreciationPeriodValue" *ngIf="defaultManageFormValues[4]['readAccess']" 
							[width]="150" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[4]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column>
						<ngx-datatable-column name="Action" [width]="150" *ngIf="defaultManageFormValues[7]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[7]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getBookSetupById(row)" title="{{defaultManageFormValues[5]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
                    <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
		                          </div><!-- Algo Table Ends -->
                                  
		          </div>
                        </div>

                       <form (ngSubmit)="!hasMsg && f.form.valid && savebookSetup(f)" #f="ngForm" novalidate> 
                            <div class="form-row" >
                                   <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !bookId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="bookId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                             <input type="text" class="form-control fm-txt {{myHtml}} auto-focus" myAutofocus name="bookId" [(ngModel)]="model.bookId" 		
                                        #bookId="ngModel" [disabled]="disableId"	id="txtBookId" (blur)="IsIdAlreadyExist()"
                                        title="{{defaultAddFormValues[0]['helpMessage']}}"		
                                         [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>
                             <div *ngIf="f.submitted && bookId.invalid">
                                    <div class='error-msg' *ngIf="bookId.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                               <div class="form-row">
                        <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !bookDescription.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
                         
                           <label for="bookDescription">{{defaultAddFormValues[1]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="bookDescription" [(ngModel)]="model.bookDescription" 		
                                        #bookDescription="ngModel" 	
                                        title="{{defaultAddFormValues[1]['helpMessage']}}"		
                                        maxlength="31"  [readonly]="!defaultAddFormValues[1]['writeAccess']" required/>
                             <div *ngIf="f.submitted && bookDescription.invalid">
                                    <div class='error-msg' *ngIf="bookDescription.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="bookDescription.errors.maxlength">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                                <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !bookDescriptionArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                            <label for="bookDescriptionArabic">{{defaultAddFormValues[2]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="bookDescriptionArabic" [(ngModel)]="model.bookDescriptionArabic" 		
                                        #bookDescriptionArabic="ngModel" 		
                                        title="{{defaultAddFormValues[2]['helpMessage']}}"		
                                        maxlength="61"  [readonly]="!defaultAddFormValues[2]['writeAccess']" required/>
                             <div *ngIf="f.submitted && bookDescriptionArabic.invalid">
                                    <div class='error-msg' *ngIf="bookDescriptionArabic.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="bookDescriptionArabic.errors.maxlength">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
     
                        </div>
                        <div class="form-row">
                                   <div  *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{'has-error': f.submitted && !faCalendarSetupIndexId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="faCalendarSetupIndexId">{{defaultAddFormValues[3]['fieldValue']}}</label>
                          
                                      <div [ngClass]="'select-outer'">
                              <select class="form-control fm-txt" title="{{defaultAddFormValues[3]['helpMessage']}}" name='faCalendarSetupIndexId' [(ngModel)]="model.faCalendarSetupIndexId" #faCalendarSetupIndexId="ngModel" required>
									<option *ngFor="let c of temp" [ngValue]="c.calendarIndex">{{c.calendarId}}</option>
									</select>
                                    
                                </div>
									<!--<input class="form-control fm-txt" name='faCalendarSetupIndexId' type="text" [resultFormatter]="formatter" [inputFormatter]="nameInputFormatter" [(ngModel)]="model.faCalendarSetupIndexId" [ngbTypeahead]="search" required>
                                    -->
                               
                             <div *ngIf="f.submitted && faCalendarSetupIndexId.invalid">
                                    <div class='error-msg' *ngIf="faCalendarSetupIndexId.errors.required">
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                </div>
                            </div>
                            </div>

                             <div class="form-row">
                                   <div  *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{'has-error': f.submitted && !currentYear.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                       
                           <label for="currentYear">{{defaultAddFormValues[4]['fieldValue']}}</label>
                            <div class="select-outer">
                         <select [ngClass]="'form-control fm-txt'" name="currentYear" [(ngModel)]="model.currentYear" 
                                 #currentYear="ngModel" title="{{defaultAddFormValues[4]['helpMessage']}}" required>
                                 <option value="">--{{select}}--</option>
                                 <option *ngFor="let y of years" [value]="y">{{y}}</option>
                                    </select>
                            </div> 
                             <!--<input type="text" [ngClass]="'form-control fm-txt'" name="currentYear" [(ngModel)]="model.currentYear" 		
                                        #currentYear="ngModel" 		
                                        title="{{defaultAddFormValues[4]['helpMessage']}}"		
                                         [readonly]="!defaultAddFormValues[4]['writeAccess']" required/>-->
                             <div *ngIf="f.submitted && currentYear.invalid">
                                    <div class='error-msg' *ngIf="currentYear.errors.required">
                                        {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                                 <div class="form-row">
                                   <div  *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{'has-error': f.submitted && !depreciationPeriodId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="depreciationPeriodId">{{defaultAddFormValues[5]['fieldValue']}}</label>
                              <div [ngClass]="'select-outer'">
                             <select [ngClass]="'form-control fm-txt'" name="ddlcurrencyType" [(ngModel)]="model.depreciationPeriodId" 
                                 #depreciationPeriodId="ngModel" title="{{defaultAddFormValues[5]['helpMessage']}}" required>
                                        <option *ngFor="let depreciationPeriodType of ArrDepreciationPeriodTypes" [value]="depreciationPeriodType.typeId">
                                            {{depreciationPeriodType.typeValue}}
                                        </option>
                                    </select>
                                    
                                </div>
                                   <div *ngIf="f.submitted && depreciationPeriodId.invalid">
                                    <div class='error-msg' *ngIf="depreciationPeriodId.errors.required">
                                        {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                </div>
                            </div>
                            </div>

                         <div class="button-row">
                      <div class="col-sm-12">
        <input type="submit" [disabled]="LockScreen(defaultAddFormValues[7]['writeAccess'])" class="orange-btn" title="{{defaultAddFormValues[6]['helpMessage']}}" value="{{defaultAddFormValues[6]['fieldValue']}}">
                        <input type="button" class="blue-btn" title="{{defaultAddFormValues[7]['helpMessage']}}" (click)="resetMe(f)" value="{{defaultAddFormValues[7]['fieldValue']}}"/>
                        <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                        </div>
                        </div>
                    </form>      
                      </div> 
                      <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                  </section>
                </section>
            </div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>