
 <div class="content-wrapper user-view" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                     </div>
                      
                    <div class="content-outer com-form">
                      <div class="row">
                        <div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control"
										(keyup)='updateFilter($event)' />
								</div>
						    </div>
                        <div class="form-row">  
                        	<div class="col-xs-12">
		                        <div class="algo-table">
		                        <div class="table-responsive">
						<ngx-datatable id="configurationGrid" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							(select)='onSelect($event)'> 
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="dimensionName" [width]="200"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="dimensionValue" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
                         <ngx-datatable-column name="dimensionDescription" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column>
                         <ngx-datatable-column name="dimensionDescriptionArabic" *ngIf="defaultManageFormValues[3]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column>  
                         
						<ngx-datatable-column name="Action" [width]="99" *ngIf="defaultManageFormValues[6]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[6]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico"  (click)="getFinancialDimentionsValueById(row)" title="{{defaultManageFormValues[4]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
		                    </div>
                            <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
                        </div>


                           <form (ngSubmit)="!hasMsg && f.form.valid && saveFinancialDimentionsValue(f)" #f="ngForm" novalidate>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{ 'has-error': f.submitted && dimInxd.length == 0 ,'form-row':true }">
                                <label for="dimInxd">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                   <div class="select-outer">
                                       <!--<select myAutofocus class="form-control fm-txt auto-focus" name="dimInxd" [(ngModel)]="model.dimInxd" 
                                 #dimInxd="ngModel" title="{{defaultAddFormValues[0]['helpMessage']}}"
                                            required>
                                        <option *ngFor="let arrlst of ArrFinancialDimenionsLst" [value]="arrlst.dimInxd">
                                            {{arrlst.dimensionName}}
                                        </option>
                                    </select>-->
                                    <angular2-multiselect [ngClass]="'form-control fm-txt'" id="dimInxd" [data]="ArrClassId" [(ngModel)]="dimInxd" [ngModelOptions]="{standalone: true}"
                                       [settings]="ddlClassIdSetting" 
									 (onSelect)="getClassByID($event)" (onDeSelect)="OnClassIdDeSelect($event)"></angular2-multiselect>
                                    </div>
                                     <div *ngIf="f.submitted && dimInxd.length == 0 ">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                           
                             <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !dimensionValue.valid,'form-row':true }">
                                <label for="dimensionValue">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"  name="dimensionValue" [(ngModel)]="model.dimensionValue" 
                                #dimensionValue="ngModel" 
                                title="{{defaultAddFormValues[1]['helpMessage']}}"
                                 maxlength="10"   required />
                                <div *ngIf="f.submitted && dimensionValue.invalid">
                                    <div class='error-msg' *ngIf="dimensionValue.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="dimensionValue.errors.maxlength">
                                           {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>

                            
                            <div *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !dimensionDescription.valid,'form-row':true }">
                                <label for="dimensionDescription">{{defaultAddFormValues[2]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"  name="dimensionDescription" [(ngModel)]="model.dimensionDescription" 
                                #dimensionDescription="ngModel" 
                                title="{{defaultAddFormValues[2]['helpMessage']}}"
                                 maxlength="31"   required />
                                <div *ngIf="f.submitted && dimensionDescription.invalid">
                                    <div class='error-msg' *ngIf="dimensionDescription.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="dimensionDescription.errors.maxlength">
                                           {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                           
                             <div *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !dimensionDescriptionArabic.valid,'form-row arabic-mode':true }">
                                <label for="dimensionDescriptionArabic">{{defaultAddFormValues[3]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"  name="dimensionDescriptionArabic" [(ngModel)]="model.dimensionDescriptionArabic" 
                                #dimensionDescriptionArabic="ngModel" 
                                title="{{defaultAddFormValues[3]['helpMessage']}}"
                                 maxlength="61"   required />
                                <div *ngIf="f.submitted && dimensionDescriptionArabic.invalid">
                                    <div class='error-msg' *ngIf="dimensionDescriptionArabic.errors.required">
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="dimensionDescriptionArabic.errors.maxlength">
                                           {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            
                       
                            
                        </div><!-- Form Row Ends -->
                        
                        
                        <div class="button-row">
                      <div class="col-sm-12">
                        <input type="submit" [disabled]="LockScreen(defaultAddFormValues[4]['writeAccess'])" 
                         value="{{defaultAddFormValues[4]['fieldValue']}}" class="orange-btn" title="{{defaultAddFormValues[4]['helpMessage']}}">
                        <input type="button"  class="blue-btn" title="{{defaultAddFormValues[4]['helpMessage']}}"  (click)="resetMe(f)" value="{{defaultAddFormValues[5]['fieldValue']}}"/>
                        <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                        </div>

                        </div>
                        </form>

                        
                      </div> <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                       
                  </section>
                </section>
            </div>
