<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{PAYCODE_CREATE_LABEL['helpMessage']}}">{{PAYCODE_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{PAYCODE_SEARCH['helpMessage']}}" placeholder="{{PAYCODE_SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>

        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="PayCodeGrid" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="true" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Columns -->
              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                    </div>
              </div>

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="true" [width]="80" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{PAYCODE_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>{{PAYCODE_TABLEVIEW['fieldValue']}}</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option *ngFor="let tv of tableViews" [value]="tv.id">{{tv.name}}</option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{PAYCODE_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{PAYCODE_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{PAYCODE_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && CreatePayCode(f, $event)" #f="ngForm" novalidate>

              <!-- Location Id field -->
              <div class="form-group">
                <div *ngIf="isUnderUpdate; then update else create"></div>

                        <ng-template #create>
                            <div [ngClass]="{ 'has-error': f.submitted && !payCodeId.valid,'col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                          
                              <div class="col-md-4">
                                <label class="control-label" for="payCodeId">{{PAY_CODE['fieldValue']}}</label>
                                <span *ngIf="PAY_CODE['isMandatory']">*</span>
                              </div>
                              <div class="col-md-8">
                                <input type="text" [ngClass]="'form-control fm-txt'" name="payCodeId" [(ngModel)]="model.payCodeId" #payCodeId="ngModel"
                                  title="{{PAY_CODE['helpMessage']}}" #fieldName1 [required]="PAY_CODE['isMandatory']" maxlength="15" class="search-id" [typeahead]="paycodeIdList"
                                  (typeaheadLoading)="changeTypeaheadLoading($event)" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect1($event)"
                                  typeaheadOptionField="payCodeId" />
                                <div *ngIf="f.submitted && payCodeId.invalid">
                                  <div [hidden]="!payCodeId.errors.required">
                                    {{PAY_CODE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                  </div>
                                </div>
                              <!-- </div>
                              <div class="col-md-2">
                                <input type="checkbox" name="inActive" (click)="checkPaycodeForm($event)" [(ngModel)]="model.inActive" #inActive="ngModel"
                                  title="{{PAYCODE_INACTIVE['helpMessage']}}" [checked]="isSelected" />
                                <label for="Inactive">{{PAYCODE_INACTIVE['fieldValue']}}</label>
                                <span *ngIf="PAYCODE_INACTIVE['isMandatory']">*</span>
                              </div> -->                         
                            </div>
                          </div>
                        </ng-template>

                          <ng-template #update>
                            <div [ngClass]="{ 'col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                              <div class="col-md-4">
                                <label class="control-label" for="payCodeId">{{PAY_CODE['fieldValue']}}</label>
                              </div>
                              <div class="col-md-8">
                                <input type="text" [ngClass]="'form-control fm-txt'" name="payCodeId" value="{{payCodeIdvalue}}" title="{{PAY_CODE['helpMessage']}}"
                                  [readonly]="PAY_CODE['readAccess']" maxlength="15" />
                              </div>
                            </div>
                          </ng-template>

                          <div class="col-md-2" style="margin-top: -30px;">
                              <label class="control-label" for="type">Type</label>
                              <!-- <span *ngIf="PAYCODE_DESCRIPTION['isMandatory']">*</span> -->

                              <select name="type" [ngClass]="'form-control fm-txt'" [(ngModel)]="model.payTypeId"
                                #type="ngModel">
                                <option value= "0">-- Select Type --</option>
                                <option *ngFor="let val of typeData" value="{{val.id}}">{{val.value}}</option>
                              </select>
                          </div>

                          <div class="col-md-2" style="margin-top: -30px;">
                              <label class="control-label" for="round">Rounding</label>
                              <!-- <span *ngIf="PAYCODE_DESCRIPTION['isMandatory']">*</span> -->
                            <select name="round" [ngClass]="'form-control fm-txt'" [(ngModel)]="model.roundOf"
                              #round="ngModel">
                              <option value= "0">0</option>
                              <option value= "1">0.0</option>
                              <option value= "2">0.00</option>
                              <option value= "3">0.000</option>
                              <option value= "4">0.0000</option>
                            </select>
                          </div>

                          <div class="col-md-2">
                            <input type="checkbox" name="inActive" (click)="checkPaycodeForm($event)" [(ngModel)]="model.inActive" #inActive="ngModel"
                              title="{{PAYCODE_INACTIVE['helpMessage']}}" [checked]="isSelected" />
                            <label for="Inactive">{{PAYCODE_INACTIVE['fieldValue']}}</label>
                            <span *ngIf="PAYCODE_INACTIVE['isMandatory']">*</span>
                          </div>
                 
              </div>

              <!-- PAYCODE Description Field -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !description.valid,'col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="description">{{PAYCODE_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="PAYCODE_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="model.description" #description="ngModel"
                      title="{{PAYCODE_DESCRIPTION['helpMessage']}}" [required]="PAYCODE_DESCRIPTION['isMandatory']" maxlength="31" />
                      <div *ngIf="f.submitted && description.invalid">
                      <div [hidden]="!description.errors.required">
                        {{PAYCODE_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Arabic location description -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !arbicDescription.valid,'col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="arbicDescription">{{PAYCODE_ARABIC_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="PAYCODE_ARABIC_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="arbicDescription" [(ngModel)]="model.arbicDescription" #arbicDescription="ngModel"
                      title="{{PAYCODE_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61" [required]="PAYCODE_ARABIC_DESCRIPTION['isMandatory']" />
                    <div *ngIf="f.submitted && arbicDescription.invalid">
                      <div [hidden]="!arbicDescription.errors.required">
                        {{PAYCODE_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- payCodeType -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && payCodeTypeId.value=='','col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="payCodeTypeId">{{PAYCODE_PAY_TYPE['fieldValue']}}</label>
                    <span *ngIf="PAYCODE_PAY_TYPE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 pay-type-div">
                    <select [ngClass]="'form-control fm-txt'" name="payCodeTypeId" [(ngModel)]="model.payCodeTypeId" #payCodeTypeId="ngModel"
                      title="{{PAYCODE_PAY_TYPE['helpMessage']}}" [required]="PAYCODE_PAY_TYPE['isMandatory']">
                      <option value="">-- Select Pay Type --</option>
                      <option *ngFor="let payTypeApi of PayTypeDropdownList" value="{{payTypeApi.id}}">{{payTypeApi.desc}}</option>

                    </select>
                    <div *ngIf="f.submitted && payCodeTypeId.value==''">
                      <div [hidden]="!payCodeTypeId.value==''">
                        {{PAYCODE_PAY_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                  <div *ngIf="loaderImg">
                    <img src="assets/img/loader.gif" alt="Loader">
                  </div>
                </div>
              </div>

              <!-- baseOnPayCode -->
              <div class="form-group">
                <div [ngClass]="{ 'col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                  <div class="col-md-4">
                    <label class="control-label" for="baseOnPayCode">{{PAYCODE_BASE_ON_PAYCODE['fieldValue']}}</label>
                    <span *ngIf="PAYCODE_BASE_ON_PAYCODE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-4">
                    <input type="text" [ngClass]="'form-control fm-txt search-id'" name="baseOnPayCode" #baseOnPayCode="ngModel" [(ngModel)]="model.baseOnPayCode"
                      autocomplete="off" value="{{payCodeIdvalue}}" title="{{PAYCODE_BASE_ON_PAYCODE['helpMessage']}}" maxlength="15"
                      [typeahead]="dataSource" 
                      (typeaheadLoading)= "clearPrefixedData()"
                      (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                      typeaheadOptionField="payCodeId" />
                  </div>
                  <div class="col-md-4" style="background:#eee">
                    <div [ngClass]="{'has-error': f.submitted && !baseOnPayCodeAmount.valid,'':true, 'col-md-offset-4': currentLanguage == 2}">
                      <input [readonly]="model.baseOnPayCode == ''" 
                        name="baseOnPayCodeAmount" 
                        (change)="calculatePayRate($event);"
                        (input)="calculatePayRate($event);" 
                        #baseOnPayCodeAmount="ngModel"
                        [(ngModel)]="model.baseOnPayCodeAmount" 
                        type="number" 
                        min='0' 
                        [ngClass]="'form-control fm-txt'" />
                      <div *ngIf="f.submitted && baseOnPayCodeAmount.invalid">
                        <div [hidden]="!baseOnPayCodeAmount.errors.required">
                          {{PAYCODE_BASE_ON_PAYCODE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- payFactor -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !payFactor.valid || !decimalValue,'col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="payFactor">{{PAYCODE_PAY_FACTOR['fieldValue']}}</label>
                    <span *ngIf="PAYCODE_PAY_FACTOR['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [readonly]="model.baseOnPayCode == ''" [pattern]="pattern" [ngClass]="'form-control fm-txt'" name="payFactor" [(ngModel)]="model.payFactor"
                      #payFactor="ngModel" title="{{PAYCODE_PAY_FACTOR['helpMessage']}}" maxlength="150" (change)="calculatePayRate($event);"
                      onKeyPress="if(this.value.length==10) return false;" max="9999999999"
                    />
                    <div *ngIf="f.submitted && payFactor.invalid">
                      <div [hidden]="!payFactor.errors.required">
                        {{PAYCODE_PAY_FACTOR['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                    <div *ngIf="!decimalValue">  
                      <div *ngIf="payFactor.dirty && payFactor.value.length!=0 || !decimalValue">
                        {{PAYCODE_PAY_FACTOR['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- payRate -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !payRate.valid,'col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="payRate">{{PAYCODE_PAY_RATE['fieldValue']}}</label>
                    <span *ngIf="PAYCODE_PAY_RATE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="number" [readonly]="model.baseOnPayCode != ''" [pattern]="pattern" [ngClass]="'form-control fm-txt'" name="payRate" [(ngModel)]="model.payRate"
                      #payRate="ngModel" title="{{PAYCODE_PAY_RATE['helpMessage']}}" maxlength="150" [required]="PAYCODE_PAY_RATE['isMandatory']" onKeyPress="if(this.value.length==10) return false;"
                      max="9999999999" />
                    <div *ngIf="f.submitted && payRate.invalid">
                      <div [hidden]="!payRate.errors.required">
                        {{PAYCODE_PAY_RATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div *ngIf="payRate.dirty && payRate.value.length!=0">
                        {{PAYCODE_PAY_RATE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- unitofPay -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !unitofPay.valid,'col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="unitofPay">{{PAYCODE_UNIT_OF_PAY['fieldValue']}}</label>
                    <span *ngIf="PAYCODE_UNIT_OF_PAY['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select [ngClass]="'form-control fm-txt'" name="unitofPay" [(ngModel)]="model.unitofPay" #unitofPay="ngModel" title="{{PAYCODE_UNIT_OF_PAY['helpMessage']}}"
                    [required]="PAYCODE_UNIT_OF_PAY['isMandatory']">
                      <option value="">-- Select Unit of Pay --</option>
                      <option *ngFor="let unitofPay of unitofPays" [value]="unitofPay.id">{{unitofPay.name}}</option>

                    </select>
                    <div *ngIf="f.submitted && unitofPay.invalid">
                      <div [hidden]="!unitofPay.errors.required">
                        {{PAYCODE_UNIT_OF_PAY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- payperiod -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !payperiod.valid && payperiod.value== '','col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="payperiod">{{PAYCODE_PAY_PERIOD['fieldValue']}}</label>
                    <span *ngIf="PAYCODE_PAY_PERIOD['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select [ngClass]="'form-control fm-txt'" name="payperiod" [(ngModel)]="model.payperiod" #payperiod="ngModel" title="{{PAYCODE_PAY_PERIOD['helpMessage']}}"
                      [required]="PAYCODE_PAY_PERIOD['isMandatory']">
                      <option value="">-- Select Pay Period --</option>
                      <option *ngFor="let payperiod of payperiods" [value]="payperiod.id">{{payperiod.name}}</option>

                    </select>
                    <div *ngIf="f.submitted && payperiod.invalid">
                      <div [hidden]="!payperiod.errors.required">
                        {{PAYCODE_PAY_PERIOD['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-6 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{PAYCODE_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{PAYCODE_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{PAYCODE_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{PAYCODE_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>