<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
        {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

    </div>
  </div>
</div>

<!-- screen header -->
<div class="page-header">
  <div class="page-header-title">
    <span>
      <h3 *ngIf="!model.id">{{SKILL_SET_SETUP_CREATE_FORM_LABEL['fieldValue']}}</h3>
      <h3 *ngIf="model.id">{{SKILL_SET_SETUP_UPDATE_FORM_LABEL['fieldValue']}}</h3>
    </span>
  </div>
  <!-- <div class="page-header-breadcrumb">
  <i class="ti-settings"></i>
</div> -->
</div>
<!-- screen header -->

<div class="content-wrapper">
  <section class="content" (keyup)='EscapeModal($event)'>
    <!-- section Heading Starts -->
    <!-- <div class="section-heading">
      <h2></h2>
  </div> -->
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- Content Outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>

        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{message.text}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <!-- <h3> {{screenName}}</h3> -->
          <div *ngIf="showloader" class="loader">
          </div>
        </div>
        <!-- Content Heading Ends -->

        <!--adding form starts-->
        <!-- Basic Form Inputs card start -->
        <app-card [title]="">
          <!-- <h4 class="sub-title">Create company</h4> -->


          <form class="form-horizontal" (ngSubmit)="f.form.valid && islifeTimeValid && skillSetId!=0 && CreateSkillsSetup(f, $event)"
            #f="ngForm" novalidate>

            <!-- <ng-template> -->
            <div class="form-group row">
              <div class="col-sm-2">
                <div class="floating-label" class="col-md-offset-4"> 
                  <input auto-complete [source]="rows" class="floating-input" list-formatter="skillSetId" [readonly]="isUnderUpdate" name="skillSetId"
                    [(ngModel)]="selectedSkillSet" #skillSetId="ngModel" [ngModelOptions]="{standalone: true}" 
                    (valueChanged)="getSkillsetData($event)" placeholder="" on-focus="onAutocompleteFocus('lblSkillSetId');skillSetIdFocusIn()"
                    tabindex="1"
                    required/>
                  <div class="error-msg" *ngIf="f.submitted && skillSetId.invalid">
                    <div [hidden]="!skillSetId.errors.required">
                      {{SKILL_SET_SETUP_SET_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div [hidden]="!skillSetId.errors?.maxlength" *ngIf="SKILL_SET_SETUP_SET_ID['listDtoFieldValidationMessage'][1]">
                      {{SKILL_SET_SETUP_SET_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                  </div>
                  <span class="highlight"></span>
                  <label id="lblSkillSetId" for="skillSetId">{{SKILL_SET_SETUP_SET_ID['fieldValue']}}</label>
                  <input type="hidden" />
                  <span class="search-icon">
                    <i [ngClass]="{'ti-angle-down': !isSkillIdOpen, 'ti-angle-up':isSkillIdOpen }"></i>
                  </span>
                </div>
              </div>
            </div>


            <!-- </ng-template> -->

            <div class="form-group row">
              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !skillSetDiscription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="2" name="skillSetDiscription" [(ngModel)]="model.skillSetDesc"
                      #skillSetDiscription="ngModel" title="{{SKILL_SET_SETUP_DESCRIPTION['helpMessage']}}" [required]="SKILL_SET_SETUP_DESCRIPTION['isMandatory']"
                      maxlength="31" />
                    <div class="error-msg" *ngIf="f.submitted && skillSetDiscription.invalid">
                      <div [hidden]="!skillSetDiscription.errors.required">
                        {{SKILL_SET_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!skillSetDiscription.errors?.maxlength" *ngIf="SKILL_SET_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{SKILL_SET_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="skillSetDiscription">{{SKILL_SET_SETUP_DESCRIPTION['fieldValue']}}</label>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !arabicDiscription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="3" name="arabicDiscription" [(ngModel)]="model.skillSetArbicDesc"
                      #arabicDiscription="ngModel" title="{{SKILL_SET_SETUP_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61"
                      [required]="SKILL_SET_SETUP_ARABIC_DESCRIPTION['isMandatory']" dir="rtl" />
                    <div class="error-msg" *ngIf="f.submitted && arabicDiscription.invalid">
                      <div [hidden]="!arabicDiscription.errors.required">
                        {{SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!arabicDiscription.errors?.maxlength" *ngIf="SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="arabicDiscription">{{SKILL_SET_SETUP_ARABIC_DESCRIPTION['fieldValue']}}</label>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group row">

              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && SelectedSkill.length==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <!-- <select [ngClass]="'form-control fm-txt'" name="skillSetIndexId" [(ngModel)]="skillSetsetId" #listSkillSteup="ngModel" title="Select Skill ID"
                      [required]="SKILL_SET_SETUP_SKILL_ID['isMandatory']" (change)="checkFrequency($event);" multiple>
                      <option *ngFor="let skill of skillSetIdOptions" [value]="skill.id">
                        {{skill.skillId}}
                      </option>
                    </select> -->


                    <angular4-multiselect [data]="ddl_skillSetIdOptions"  [(ngModel)]="SelectedSkill" [ngModelOptions]="{standalone: true}"
                    on-focusin="onAutocompleteFocus('lblskills')"
                    [settings]="ddlCompanySetting" 
                    (onSelect)="onItemSelect($event)"  tabindex="4"
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>



                    <div class="error-msg" *ngIf="f.submitted && SelectedSkill.length==0">
                      <div [hidden]="SelectedSkill.length!=0">
                        {{SKILL_SET_SETUP_SKILL_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label id="lblskills" for="skillSetIndexId">{{SKILL_SET_SETUP_SKILL_ID['fieldValue']}}</label>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">

                <div class="form-group row">
                  <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && SelectedSkill.length==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <textarea tabindex="5" [ngClass]="'form-control fm-txt'" [readonly]="SKILL_SET_SETUP_SKILL_ID['readAccess']" rows="3" cols="30" name="skillsetiddesc"
                      [value]="skillsetupindexdesc">{{skillsetupindexdesc}}</textarea>


                    <span class="highlight"></span>
                    <label for="skillSetIndexId"></label>
                  </div>
                </div>




              </div>

            </div>

            <div class="form-group row">


              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !comment.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="6" name="comment" [(ngModel)]="model.comment" #comment="ngModel"
                      title="{{SKILL_SET_SETUP_COMMENT['helpMessage']}}" maxlength="31" [required]="SKILL_SET_SETUP_COMMENT['isMandatory']"
                    />
                    <div class="error-msg" *ngIf="f.submitted && comment.invalid">
                      <div [hidden]="!comment.errors.required">
                        {{SKILL_SET_SETUP_COMMENT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!comment.errors?.maxlength" *ngIf="SKILL_SET_SETUP_COMMENT['listDtoFieldValidationMessage'][1]">
                        {{SKILL_SET_SETUP_COMMENT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="comment">{{SKILL_SET_SETUP_COMMENT['fieldValue']}}</label>
                  </div>
                </div>
              </div>




              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !skillSetSeqn.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="7" name="skillSetSeqn" [(ngModel)]="model.skillSetSeqn"
                      #skillSetSeqn="ngModel" title="{{SKILL_SET_SETUP_SEQUENCE['helpMessage']}}" maxlength="5" [required]="SKILL_SET_SETUP_SEQUENCE['isMandatory']"
                      min="0" max="99999" onkeypress="return check_digit(event,this,5,3);" />
                    <div class="error-msg" *ngIf="f.submitted && skillSetSeqn.invalid">
                      <div [hidden]="!skillSetSeqn.errors.required">
                        {{SKILL_SET_SETUP_SEQUENCE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!skillSetSeqn.errors?.maxlength" *ngIf="SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{SKILL_SET_SETUP_SEQUENCE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label" for="skillSetSeqn">{{SKILL_SET_SETUP_SEQUENCE['fieldValue']}}</label>
                  </div>
                </div>
              </div>


            </div>

            <div class="form-group row">
              <div class="col-sm-4">
               
                  <div [ngClass]="{'text-left': currentLanguage=='1', 'text-right':currentLanguage=='2' }" class="col-xs-6">
                    <span class="datatable-checkbox">
                      <input tabindex="8" type="checkbox" name="skillRequired" [(ngModel)]="model.skillRequired" #skillRequired="ngModel"> {{SKILL_SET_SETUP_SKILL_REQUIRED['fieldValue']}}
            
                    </span>
                  </div>
              
              </div>
            </div>

            <div [ngClass]="'button-row'">
              <div [ngClass]="'col-sm-12'">
                <button tabindex="9" *ngIf="model.id" class="green-btn">{{SKILL_SET_SETUP_UPDATE_LABEL['fieldValue']}}</button>
                <button tabindex="9" *ngIf="!model.id" class="green-btn">{{SKILL_SET_SETUP_SAVE_LABEL['fieldValue']}}</button>
                <button tabindex="10" class="blue-btn" (click)="goBack()">{{SKILL_SET_SETUP_CANCEL_LABEL['fieldValue']}}</button>
                <button tabindex="11" [ngClass]="'orange-btn'" type="button" (click)="Clear(f)" (click)="islifeTimeValid=true">{{SKILL_SET_SETUP_CLEAR_LABEL['fieldValue']}}</button>
                <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
              <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
              </div>

            </div>

          </form>


        </app-card>


        <!--adding form ends-->
      </div>
      <!-- Content Outer Ends -->
    </section>
  </section>
</div>