<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{POSITION_SETUP_CREATE_LABEL['helpMessage']}}">{{POSITION_SETUP_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{POSITION_SETUP_SEARCH['helpMessage']}}" placeholder="{{POSITION_SETUP_SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>

        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="PositionSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                </div>
              </div>

              <!-- Data Column Action -->
              <ngx-datatable-column name="Action" [width]="80" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{POSITION_SETUP_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #positionSetupId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{POSITION_SETUP_DELETE_LABEL['fieldValue']}}</button>

          <!--TODO:ADDED Button-->
          <!--<button class="blue-btn" (click)="navToTraining()">{{POSITION_SETUP_TRAINING_FORM_LABEL['fieldValue']}}</button>
          <button class="blue-btn" (click)="navToPlanSetup()">{{POSITION_SETUP_PLAN_FORM_LABEL['fieldValue']}}</button>-->

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{POSITION_SETUP_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{POSITION_SETUP_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <form class="form-horizontal" (ngSubmit)="isReporttopositionValid && CreatePositionSetup(f, $event)" #f="ngForm" novalidate>
              <!-- Position class Id field -->
              <div class="form-group">
                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #update>
                  <div [ngClass]="{ 'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="positionId">{{POSITION_SETUP_ID['fieldValue']}}</label>
                      <span *ngIf="POSITION_SETUP_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="positionId" value="{{positionIdvalue}}" title="{{POSITION_SETUP_ID['helpMessage']}}"
                        maxlength="15" [required]="POSITION_SETUP_ID['isMandatory']" [readonly]="isUnderUpdate"/>
                      <div *ngIf="isAttached && positionId.invalid">
                        <div [hidden]="!positionId.errors.required">
                          {{POSITION_SETUP_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!positionId.errors?.maxlength">
                          {{POSITION_SETUP_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <ng-template #create>
                  <div [ngClass]="{ 'has-error': isAttached && !positionId.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="positionId">{{POSITION_SETUP_ID['fieldValue']}}</label>
                      <span *ngIf="POSITION_SETUP_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="positionId" [(ngModel)]="model.positionId" #positionId="ngModel"
                        title="{{POSITION_SETUP_ID['helpMessage']}}" maxlength="15" [required]="POSITION_SETUP_ID['isMandatory']" [typeahead]="positionIdList"
                        (typeaheadLoading)="changeTypeaheadLoading($event)" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                        typeaheadOptionField="positionId" class="search-id" />
                      <div *ngIf="isAttached && positionId.invalid">
                        <div [hidden]="!positionId.errors.required">
                          {{POSITION_SETUP_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!positionId.errors?.maxlength">
                          {{POSITION_SETUP_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

              </div>

              <!-- positionClass Description Field -->
              <div class="form-group">
                <div [ngClass]="{'has-error': isAttached && !description.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="description">{{POSITION_SETUP_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="POSITION_SETUP_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="model.description" #description="ngModel"
                      title="{{POSITION_SETUP_DESCRIPTION['helpMessage']}}" [required]="POSITION_SETUP_DESCRIPTION['isMandatory']" maxlength="31" />
                    <div *ngIf="isAttached && description.invalid">
                      <div [hidden]="!description.errors.required">
                        {{POSITION_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!description.errors?.maxlength">
                        {{POSITION_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Arabic position class description -->
              <div class="form-group">
                <div [ngClass]="{'has-error': isAttached && !arabicDescription.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="arabicDescription">{{POSITION_SETUP_ARABIC_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="POSITION_SETUP_ARABIC_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDescription" [(ngModel)]="model.arabicDescription" #arabicDescription="ngModel"
                      title="{{POSITION_SETUP_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61" [required]="POSITION_SETUP_ARABIC_DESCRIPTION['isMandatory']" />
                    <div *ngIf="isAttached && arabicDescription.invalid">
                      <div [hidden]="!arabicDescription.errors.required">
                        {{POSITION_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!arabicDescription.errors?.maxlength">
                        {{POSITION_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Position Class -->
              <div class="form-group">
                <div [ngClass]="{'has-error': isAttached && !positionClassId.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="positionClassId">{{POSITION_CLASS['fieldValue']}}</label>
                    <span *ngIf="POSITION_CLASS['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select [ngClass]="'form-control fm-txt '" name="positionClassId" [(ngModel)]="model.positionClassPrimaryId" #positionClassId="ngModel"
                      title="{{POSITION_CLASS['helpMessage']}}" [required]="POSITION_CLASS['isMandatory']">
                      <option value="null">-- Select Position Class --</option>
                      <option *ngFor="let position of positionClassOptions" [value]="position.id">
                        {{position.positionClassId}}
                      </option>
                    </select>
                    <div *ngIf="isAttached && positionClassId.invalid">
                      <div [hidden]="!positionClassId.errors.required">
                        {{POSITION_SETUP_REPORT_TO_POSITION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!--Report to Position -->
              <div class="form-group">
                <div [ngClass]="{'has-error':  !isReporttopositionValid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="reportToPosition">{{POSITION_SETUP_REPORT_TO_POSITION['fieldValue']}}</label>
                    <span *ngIf="POSITION_SETUP_REPORT_TO_POSITION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="reportToPosition" [(ngModel)]="model.reportToPostion" #reportToPosition="ngModel"
                      title="{{POSITION_SETUP_REPORT_TO_POSITION['helpMessage']}}" maxlength="15" [typeahead]="dataSource" (typeaheadLoading)="changeTypeaheadLoading($event)"
                      autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelectReportToPosition($event)" typeaheadOptionField="positionId" (input)="CheckValidID($event)"
                      class="search-id" />
                      
                         
                          <div *ngIf=" !isReporttopositionValid">
                            Invalid Input
                          </div>
                        
                  </div>
                </div>
              </div>

              <!-- Default Skill set ID -->
              <div class="form-group">
                <div [ngClass]="{'has-error': isAttached && !skillSetId.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="skillSetId">{{POSITION_SETUP_DEFAULT_SKILL_ID['fieldValue']}}</label>
                    <span *ngIf="POSITION_SETUP_DEFAULT_SKILL_ID['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <select [ngClass]="'form-control fm-txt'" name="skillSetId" [(ngModel)]="model.skillsetPrimaryId" #skillSetId="ngModel" title="{{POSITION_SETUP_DEFAULT_SKILL_ID['helpMessage']}}"
                    [required]="POSITION_SETUP_DEFAULT_SKILL_ID['isMandatory']">
                      <option value="null">-- Select Skill Set --</option>
                      <option *ngFor="let skill of skillSetIdOptions" [value]="skill.id">
                        {{skill.skillSetId}}
                      </option>
                    </select>
                    <div *ngIf="isAttached && skillSetId.invalid">
                      <div [hidden]="!skillSetId.errors.required">
                        {{POSITION_SETUP_DEFAULT_SKILL_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>

                  </div>

                  <!-- <div class="col-md-4">
                              <input type="text" style="width:243px; background-color: rgb(228, 227, 226)" name="skillSetUp" placeholder="{{model.skillSetId}}" class=" input-group-text fm-txt" readonly>
                            </div> -->

                </div>
              </div>

              <!--Position Long Description -->
              <div class="form-group">
                <div [ngClass]="{'has-error': isAttached && !postionLongDesc.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="postionLongDesc">{{POSITION_SETUP_LONG_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="POSITION_SETUP_LONG_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">


                    <div class="input-group">
                      <textarea [ngClass]="'form-control  fm-txt'" name="postionLongDesc" [(ngModel)]="model.postionLongDesc" #postionLongDesc="ngModel"
                        title="{{POSITION_SETUP_LONG_DESCRIPTION['helpMessage']}}" maxlength="255" [required]="POSITION_SETUP_LONG_DESCRIPTION['isMandatory']"></textarea>
                      <div class="input-group-btn" [ngClass]="{'isObsolete':!isUnderUpdate}">
                        <a class="btn btn-default fm-txt" (click)="navToAttachment(f)" style="min-height: 85px; font-size: 48px;">
                          <i class="fa fa-paperclip"></i>
                        </a>
                      </div>
                      <!-- <div class="input-group-btn" *ngIf="!model.id">
                          <a class="btn btn-default fm-txt" (click)="attachMsg()" style="min-height: 85px; font-size: 48px;">
                            <i class="fa fa-paperclip"></i>
                          </a>
                        </div> -->
                    </div>


                    <div *ngIf="isAttached && postionLongDesc.invalid">
                      <div [hidden]="!postionLongDesc.errors?.maxlength">
                        {{POSITION_SETUP_LONG_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12': true, '': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{POSITION_SETUP_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{POSITION_SETUP_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{POSITION_SETUP_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false; isAttached = false;">{{POSITION_SETUP_CANCEL_LABEL['fieldValue']}}</button>
                      <!-- <button [ngClass]="'blue-btn'" >{{POSITION_SETUP_TRAINING_FORM_LABEL['fieldValue']}}</button>
                                <button [ngClass]="'blue-btn'" >{{POSITION_SETUP_PLAN_FORM_LABEL['fieldValue']}}</button>-->
                    </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
