
<div class="content-wrapper user-view" >
  <section class="content">
    <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
    <section class="inner-content">
      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
        {{messageText}}
      </div>
      
      <div class="content-outer com-form">
        <div class="row">
          <div class="content-heading">
            <div class="search-top">
              <input type="text" class="search-txt form-control"
              (keyup)='updateFilter($event)' />
            </div>
          </div>
          <div class="form-row">  
            <div class="col-xs-12">
              <div class="algo-table">
                <div class="table-responsive">
                  <ngx-datatable id="cardId" class="material" [rows]="rows"
                  [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                  [rowHeight]="'auto'" [externalPaging]="true"
                  [count]="page.totalElements" [offset]="page.pageNumber"
                  [limit]="page.size" (page)='setPage($event)'
                  [selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
                  (select)='onSelect($event)'>
                  <ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="custNumber" [width]="300"
                  [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                  <ng-template let-column="column" let-sort="sortFn"
                  ngx-datatable-header-template> <span class="sort-btn"
                  (click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
                  let-value="value" ngx-datatable-cell-template>
                  {{value}} </ng-template> 
                </ngx-datatable-column> 
                <ngx-datatable-column name="custNamePrimary" *ngIf="defaultManageFormValues[1]['readAccess']" 
                [width]="220" [canAutoResize]="false" [draggable]="false"
                [resizeable]="false"> <ng-template
                let-column="column" let-sort="sortFn"
                ngx-datatable-header-template> <span class="sort-btn"
                (click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
                let-value="value" ngx-datatable-cell-template>
                {{value}} </ng-template>
              </ngx-datatable-column> 
              <ngx-datatable-column name="custNameSecondary" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="300" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
              {{value}} 
						</ng-template>
          </ngx-datatable-column> 
          <ngx-datatable-column name="Action" [width]="100" *ngIf="defaultManageFormValues[4]['readAccess']" 
          [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template let-column="column" let-sort="sortFn"
          ngx-datatable-header-template>
          {{defaultManageFormValues[4]['fieldValue']}} </ng-template> <ng-template let-row="row"
          let-value="value" ngx-datatable-cell-template>
          <a class="edit-ico" (click)="getNationalAccountMaintenanceById(row)" title="{{defaultManageFormValues[4]['helpMessage']}}"></a>
        </ng-template> 
      </ngx-datatable-column> 
    </ngx-datatable>
  </div>
  <div class="button-row" *ngIf="page.totalElements > 0">
    <!-- Table View Starts -->
    <div class="table-view">
      <span>{{tableViewtext}}</span>
      <div class="select-outer">
        <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
          <option value="5">5 {{atATimeText}} </option>
          <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
          <option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
          <option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
        </select>
      </div>
    </div>
    <!-- Table View Ends -->
    <div class="bottom-view">
    </div>
  </div>
</div><!-- Algo Table Ends -->

</div>
</div>
<form (ngSubmit)="!hasMsg && f.form.valid && saveNationalAccountMaintenance(f)" #f="ngForm" novalidate> 
  <div class="form-row" >
    <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && custNumber.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
      
      <label for="custNumber">{{defaultAddFormValues[0]['fieldValue']}}</label>
      <!--<input type="text" myAutofocus  class="form-control fm-txt {{myHtml}} auto-focus" name="custNumber" [(ngModel)]="model.custNumber" 		
        #custNumber="ngModel"  [disabled]="disableId"		id="custNumberText"
        title="{{defaultAddFormValues[0]['helpMessage']}}"	(blur)='IsIdAlreadyExist()'
        maxlength="15"  [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>-->
        <div class="select-outer">
          <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCustNumber" [(ngModel)]="custNumber" id="custNumber"  [ngModelOptions]="{standalone: true}"
          [settings]="ddlCustNumberSetting" 
          (onSelect)="getCustNumberByID($event)" (onDeSelect)="OnCustNumberDeSelect($event)">
        </angular2-multiselect>
      </div>
      <div *ngIf="f.submitted && custNumber.length==0">
        <div class='error-msg'>
          {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
        </div>
        <!--<div class='error-msg' *ngIf="custNumber.errors.maxlength">
          {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
        </div>-->
      </div>
    </div>
  </div>
  <div class="form-row" >
    <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !custNamePrimary.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
      
      <label for="custNamePrimary">{{defaultAddFormValues[1]['fieldValue']}}</label>
      <input type="text" [ngClass]="'form-control fm-txt'" name="custNamePrimary" [(ngModel)]="model.custNamePrimary" 		
      #custNamePrimary="ngModel" 		
      title="{{defaultAddFormValues[1]['helpMessage']}}"		
      maxlength="31"  required readonly/>
      <div *ngIf="f.submitted && custNamePrimary.invalid">
        <div class='error-msg' *ngIf="custNamePrimary.errors.required">
          {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
        </div>
        <div class='error-msg' *ngIf="custNamePrimary.errors.maxlength">
          {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
        </div>
      </div>
    </div>
    <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !custNameSecondary.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
      
      <label for="custNameSecondary">{{defaultAddFormValues[2]['fieldValue']}}</label>
      <input type="text" [ngClass]="'form-control fm-txt'" name="custNameSecondary" [(ngModel)]="model.custNameSecondary" 		
      #custNameSecondary="ngModel" 		
      title="{{defaultAddFormValues[2]['helpMessage']}}"		
      maxlength="25"  required readonly/>
      <div *ngIf="f.submitted && custNameSecondary.invalid">
        <div class='error-msg' *ngIf="custNameSecondary.errors.required">
          {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
        </div>
        <div class='error-msg' *ngIf="custNameSecondary.errors.maxlength">
          {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
        </div>
      </div>
    </div>
    
  </div>
  
  
  <div class="form-row">
    
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="col-xs-12 border-box">
        <div class="content-heading"><div class="col-xs-12"><h3>{{defaultAddFormValues[3]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->
        <ul class="check-list wd100">
          <li><label><input type="checkbox" name="allowReceiptEntry" [checked]="model.openMaintenanceHistoryCalendarYear" [(ngModel)]="model.allowReceiptEntry" #allowReceiptEntry="ngModel"/>{{defaultAddFormValues[4]['fieldValue']}}</label></li>
          <li><label><input type="checkbox" name="applyStatus" [checked]="model.applyStatus" [(ngModel)]="model.applyStatus" #applyStatus="ngModel"/>{{defaultAddFormValues[5]['fieldValue']}}</label></li>
          <li><label><input type="checkbox" name="baseCreditCheck" [checked]="model.baseCreditCheck" [(ngModel)]="model.baseCreditCheck" #baseCreditCheck="ngModel"/>{{defaultAddFormValues[6]['fieldValue']}}</label></li>
          <li><label><input type="checkbox" name="baseFinanceCharge" [checked]="model.baseFinanceCharge" [(ngModel)]="model.baseFinanceCharge" #baseFinanceCharge="ngModel"/>{{defaultAddFormValues[7]['fieldValue']}}</label></li>
          
        </ul>
      </div>
    </div>
    
  </div><!-- Form Row Ends -->    
  <div class="form-row">
    <div class="col-xs-12">
      <div class="algo-table">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr> 
                <th width="25%">{{defaultAddFormValues[8]['fieldValue']}}</th>
                <th width="25%">{{defaultAddFormValues[9]['fieldValue']}}</th>
                <th width="25%">{{defaultAddFormValues[10]['fieldValue']}}</th>
                <th width="25%">{{defaultAddFormValues[11]['fieldValue']}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="select-outer">
                    <select class="form-control" (change)="getdetail($event)"  name="childCustId" [(ngModel)]="childCustId">
                      <option value="">--{{select}}--</option>
                      <option *ngFor="let c of getCustomerId" [value]="c.customerId">{{c.customerId}}</option>
                    </select>
                  </div>
                </td>
                <td> <input type="text" [ngClass]="'form-control fm-txt'" name="childCustNamePrimary" 
                  title=""			[(ngModel)]="childCustNamePrimary" readonly
                  /></td>
                  <td><input type="text" [ngClass]="'form-control fm-txt'" name="chilsCustNameSecondary" 
                    title=""			[(ngModel)]="chilsCustNameSecondary" readonly
                    /></td>
                    <td><input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="custChildBalance" 	[(ngModel)]="custChildBalance" 
                      OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    
                      
                      />   <a  class="add-ico-tb"><i class="fa fa-plus-circle" aria-hidden="true" (click)="generateAccountArray()"></i></a>
                      
                    </td>
                  </tr>
                  <tr  *ngFor="let acct of model.accountMaintenanceDetail;let i = index">
                    <td>
                      {{acct.childCustId}}
                    </td>
                    <td>
                      {{acct.childCustNamePrimary}}
                    </td>
                    <td>
                      {{acct.chilsCustNameSecondary}}
                    </td>
                    <td>
                      {{acct.custChildBalance}} 
                      <a  class="add-ico-tb"><i class="fa fa-minus-circle" aria-hidden="true" (click)="RemoveArrValue(i)"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div><!-- Algo Table Ends -->
        </div>
      </div><!-- Form Row Ends -->
      <div class="button-row">
        <div class="col-sm-12">
          <input type="submit" class="orange-btn" value="{{defaultAddFormValues[12]['fieldValue']}}"
           title="{{defaultAddFormValues[12]['helpMessage']}}"
            [disabled]="LockScreen(defaultAddFormValues[12]['writeAccess'])">
          <input type="button" class="blue-btn" title="{{defaultAddFormValues[13]['helpMessage']}}" (click)="clearForm();" value="{{defaultAddFormValues[13]['fieldValue']}}"/>
          <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
        </div>
        
      </div>
    </form>
    
    
    
  </div> 
  <!-- Row Ends -->
</div><!-- Content OUter Ends -->
</section>
</section>
</div>
<style>
  .border-vanish{border:2px solid #d9d9d9;}
</style>