<div class="content-wrapper user-view" >
  <section class="content">
    <div class="section-heading"><h2>{{fld_header['fieldValue']}}</h2></div><!-- section Heading Ends -->
      <section class="inner-content">
        <div class="content-outer com-form">
          <div class="row">
            <div class="form-row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-row">
                  <div class="">
                    <div class="col-md-6 col-sm-6 col-xs-12 dob-row">
                          <label>From Account: </label>
                          <div class="select-dt select-dt-full w100">
                            <input  type="text" class="form-control fm-txt"  name="from_acct" [(ngModel)]="from_acct" title="from Account"/>
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 dob-row">
                            <label>To Account: </label>
                            <div class="select-dt select-dt-full w100">
                              <input  type="text" class="form-control fm-txt"  name="to_acct" [(ngModel)]="to_acct" title="To Account"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

    
                <div class="row">
                  <div class="form-row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <div class="form-row">
                        <div class="">
                          <div class="col-md-6 col-sm-6 col-xs-12 dob-row">
                            <label class="wd100">Posted / Unposted</label>
                        </div>
                      </div>	 
                    </div>
                    <div class="row">
                      <div class="form-row">
                        <div class="">
                          <div class="col-md-6 col-sm-6 col-xs-12 dob-row">
                            <label>
                                  <input type="radio" name="posted_flag" [(ngModel)]="posted_flag" [value]="1" title="Posted" >Posted
                              </label>
                              <label>
                                  <input type="radio" selected name="posted_flag" [(ngModel)]="posted_flag" [value]="0" title="Un Posted" >Un Posted
                              </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- Form Row Ends -->
              </div>
           
              <div class="row">
                <div class="form-row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="row">
                    <div class="form-row">
                      <div class="">
                        <div class="col-md-6 col-sm-6 col-xs-12 dob-row">
                          <label>
                                <input type="radio" name="date_flag" [(ngModel)]="date_flag" [value]="false" title="Without Date" selected onchange="toggleDateFields()">Without Date
                            </label>
                            <label>
                                <input type="radio" name="date_flag" [(ngModel)]="date_flag" [value]="true" title="With Date" onchange="toggleDateFields()">With Date
                            </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- Form Row Ends -->
            </div>

            <div class="row">
            <div class="form-row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-row">
                  <div class="">
                    <div class="col-md-6 col-sm-6 col-xs-12 dob-row">
									    <label>{{fld_startDate['fieldValue']}}</label>
									  <div class="select-dt select-dt-full w100">
									    <input  type="text" class="form-control fm-txt"  readonly 
                        name="startDate" [(ngModel)]="startDate" ngx-mydatepicker #dp="ngx-mydatepicker" [options]="myOptions1" 
                        title="{{fld_startDate['helpMessage']}}"
                        required/>
										<span class="input-group-btn calender" style="position: absolute;right: 105px;top: 5px;">
											<button type="button" class="btn btn-default" (click)="clearMaintenanceDate()">
											   <i class="glyphicon glyphicon-remove"></i>
											</button>
											<button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
											   <i class="fa fa-calendar"></i>
											</button>
                    </span>
									  </div>
								</div>
                    <div class="col-md-6 col-sm-6 col-xs-12 dob-row">
									    <label>{{fld_endDate['fieldValue']}}</label>
									  <div class="select-dt select-dt-full w100">
									    <input  type="text" class="form-control fm-txt"  name="endDate" [(ngModel)]="endDate" ngx-mydatepicker #dp1="ngx-mydatepicker" [options]="myOptions2" required readonly/>
										<span class="input-group-btn calender" style="position: absolute;right: 105px;top: 5px;">
											<button type="button" class="btn btn-default" (click)="clearAddedDate()">
											   <i class="glyphicon glyphicon-remove"></i>
											</button>
											<button type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
											   <i class="fa fa-calendar"></i>
											</button>
                    </span>
									</div>
								</div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- Form Row Ends -->


          <div class="button-row">
            <div class="col-xs-12">
              <input type="button" class="blue-btn" value="Open Report" title="Open Report" (click)="openTrialBalanceReport()"/>
            </div>
          </div>
      </div>
    </section>
  </section>
   
</div><!-- Content OUter Ends -->