<div class="content-wrapper user-view" >
  <section class="content">
    <div class="section-heading"><h2>{{fld_header['fieldValue']}}</h2></div><!-- section Heading Ends -->
      <section class="inner-content">
        <div class="content-outer com-form">
          <div class="row">
            <div class="form-row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-row">
                  <div class="">
                    <div class="col-md-6 col-sm-6 col-xs-12 dob-row">
									    <label>{{fld_startDate['fieldValue']}}</label>
									  <div class="select-dt select-dt-full w100">
									    <input  type="text" class="form-control fm-txt"  readonly 
                        name="startDate" [(ngModel)]="startDate" ngx-mydatepicker #dp="ngx-mydatepicker" [options]="myOptions1" 
                        title="{{fld_startDate['helpMessage']}}"
                        required/>
										<span class="input-group-btn calender" style="position: absolute;right: 105px;top: 5px;">
											<button type="button" class="btn btn-default" (click)="clearMaintenanceDate()">
											   <i class="glyphicon glyphicon-remove"></i>
											</button>
											<button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
											   <i class="fa fa-calendar"></i>
											</button>
                    </span>
									  </div>
                    <!--<div *ngIf="informationMaintenance.submitted && lastMaintenanceDate.invalid">
                      <div class='error-msg' *ngIf="lastMaintenanceDate.errors.required">
                        {{defaultFormValues[21]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>-->
								</div>
                    <div class="col-md-6 col-sm-6 col-xs-12 dob-row">
									    <label>{{fld_endDate['fieldValue']}}</label>
									  <div class="select-dt select-dt-full w100">
									    <input  type="text" class="form-control fm-txt"  name="endDate" [(ngModel)]="endDate" ngx-mydatepicker #dp1="ngx-mydatepicker" [options]="myOptions2" required readonly/>
										<span class="input-group-btn calender" style="position: absolute;right: 105px;top: 5px;">
											<button type="button" class="btn btn-default" (click)="clearAddedDate()">
											   <i class="glyphicon glyphicon-remove"></i>
											</button>
											<button type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
											   <i class="fa fa-calendar"></i>
											</button>
                    </span>
									</div>
									<!--<div *ngIf="informationMaintenance.submitted && addedDate.invalid">
										<div class='error-msg' *ngIf="addedDate.errors.required">
											{{defaultFormValues[22]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>-->
								</div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- Form Row Ends -->
          <div class="button-row">
            <div class="col-xs-12">
              <input type="button" class="blue-btn" value="{{fld_getData['fieldValue']}}" title="{{fld_getData['helpMessage']}}" (click)="GetTrialBalanceReport(startDate,endDate)"/>
            </div>
          </div>

          <div class="form-row">
            <div class="col-xs-12">
              <div class="algo-table">
                <div class="table-responsive">          
                  <table class="table">
                    <thead>
                      <tr> 
                          <th width="15%">{{fld_accountNumber['fieldValue']}}</th>
                          <th width="20%">{{fld_accountDescription['fieldValue']}}</th>
                          <th width="15%">{{fld_beginningBalance['fieldValue']}}</th>
                          <th width="10%">{{fld_debit['fieldValue']}}</th>
                          <th width="10%">{{fld_credit['fieldValue']}}</th>
                          <th width="15%">{{fld_netChange['fieldValue']}}</th>
                          <th width="15%">{{fld_endingBalance['fieldValue']}}</th>
                      </tr>
                    </thead>
                      <tbody>
                        <tr *ngFor="let arr of arrTrialBalanceReport.trailBalanceReportList;let i = index">
                          <td>{{arr.accountNumber}}</td>
                          <td>{{arr.accountDescriptionArabic}}<br>{{arr.accountDescription}}</td>
                          <td>{{arr.beginningBalance | looseCurrency}}</td>
                          <td>{{arr.debit | looseCurrency}}</td>
                          <td>{{arr.credit | looseCurrency}}</td>
                          <td>{{arr.netChange | looseCurrency}}</td>
                          <td>{{arr.endingBalance | looseCurrency}}</td>
                        </tr>
                        <tr>
                          <td class="text-right" colspan="1"><b>{{fld_total['fieldValue']}}</b></td>
                          <td>
                              <h5><b>{{fld_accounts['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalAccounts}}
                          </td>
                           <td>
                              <h5><b>{{fld_beginningBalance['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalBeginningBalance | looseCurrency}}
                          </td>
                          <td>
                              <h5><b>{{fld_debit['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalDebit | looseCurrency}}
                          </td>
                          <td>
                              <h5><b>{{fld_credit['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalCredit | looseCurrency}}
                          </td>
                          <td>
                              <h5><b>{{fld_netChange['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalNetChange | looseCurrency}}
                          </td>
                          <td>
                              <h5><b>{{fld_endingBalance['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalEndingBalance | looseCurrency}}
                          </td>
                        </tr>
                      </tbody>
                  </table>
                </div>
              </div><!-- Algo Table Ends -->
                    <div class="form-row">
                        <div class="button-row">
                                <div class="col-sm-12">
                                    <input type="button" title="{{fld_print['fieldValue']}}" class="blue-btn"  value="{{fld_print['helpMessage']}}" (click)="openModel(TrialBalanceReport)"/>
                                </div>
                        </div><!-- Buton Row Ends -->
                    </div><!-- Form Row Ends -->

            </div>
          </div><!-- Form Row Ends -->
        </div>
    </section>
  </section>
      <modal #TrialBalanceReport id="TrialBalanceReport" [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-lg">
        <modal-header>
           Trial Balance Report
        </modal-header>
        <modal-content>
                        
        <div class="row">
          <div class="col col-lg-4 col-lg-push-5">
              <input type="radio" id="Landscape" name="state" (change)="changeWidth($event)" />
              <label for="scales" >Landscape</label>
              <input type="radio" id="Portrait" name="state" (change)="changeWidth($event)" />
              <label for="scales" >Portrait</label>
          </div>
        </div>
        <div id="TrialBalanceReportPrintSection" class="content-outer com-form">

            <div class="row" >
              <div [ngClass]="{'col  col-lg-12 ': check, 'col  col-lg-8 col-lg-push-2': !check }" class="col col-lg-12">
                  <div class="row " style="text-align: center">
                        <div class="col col-lg-12 " > 
                            <h1><strong>{{fld_header['fieldValue']}}</strong></h1>
                        </div>
                  </div>
        
                  <div class="row clearfix" style="overflow: hidden;">
                      <div  class="col col-lg-4 float-left" >
                          <table >
                  <tbody>
                                <tr  style="width: 400px; height: 42px; margin-left: auto; margin-right: auto; " >
                                  <td style="width: 93px;" >{{fld_startDate['fieldValue']}}:</td>
                                  <td style="width: 120px;">{{startDate}}</td>
                                  <td style="width: 84.5px;">{{fld_endDate['fieldValue']}}:</td>
                                  <td style="width: 158.5px;">{{endDate}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div   class="col col-lg-3 float-right" style="width: 220px; height: 42px; float: right; border-size: 1px;">
                          <table >
                          <tbody>
                            <tr>
                              <td style="width: 93px;"><label><b>{{fld_printDate['fieldValue']}}: </b> </label></td>
                              <td style="border-color: black; width: 111px;"><label> {{today | date: 'dd/MM/yyyy'}} </label></td>
                            </tr>
                            <tr>
                              <td style="width: 93px;"><label><b>Print Time: </b></label></td>
                              <td style="border-color: black; width: 111px;"><label>{{today | date: 'h:mm a'}} </label></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
        
                    <div class="row ">
                        <div class="col col-lg-12">
                            <table border="1"  cellspacing="1" cellpadding="1">
                    <thead>
                      <tr> 
                          <th width="15%" align="center">{{fld_accountNumber['fieldValue']}}</th>
                          <th width="20%" align="center">{{fld_accountDescription['fieldValue']}}</th>
                          <th width="15%" align="center">{{fld_beginningBalance['fieldValue']}}</th>
                          <th width="10%" align="center">{{fld_debit['fieldValue']}}</th>
                          <th width="10%" align="center">{{fld_credit['fieldValue']}}</th>
                          <th width="15%" align="center">{{fld_netChange['fieldValue']}}</th>
                          <th width="15%" align="center">{{fld_endingBalance['fieldValue']}}</th>
                      </tr>
                    </thead>
                      <tbody>
                        <tr *ngFor="let arr of arrTrialBalanceReport.trailBalanceReportList;let i = index">
                          <td>{{arr.accountNumber}}</td>
                          <td>{{arr.accountDescriptionArabic}}<br>{{arr.accountDescription}}</td>
                          <td align="center">{{arr.beginningBalance | looseCurrency}}</td>
                          <td align="center">{{arr.debit | looseCurrency}}</td>
                          <td align="center">{{arr.credit | looseCurrency}}</td>
                          <td align="center">{{arr.netChange | looseCurrency}}</td>
                          <td align="center">{{arr.endingBalance | looseCurrency}}</td>
                        </tr>
                        <tr>
                          <td class="text-right" colspan="1"><b>{{fld_total['fieldValue']}}</b></td>
                          <td  align="center">
                              <h5><b>{{fld_accounts['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalAccounts}}
                          </td>
                           <td align="center">
                              <h5><b>{{fld_beginningBalance['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalBeginningBalance | looseCurrency}}ng 
                          </td>
                          <td align="center">
                              <h5><b>{{fld_debit['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalDebit | looseCurrency}}
                          </td>
                          <td align="center">
                              <h5><b>{{fld_credit['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalCredit | looseCurrency}}
                          </td>
                          <td align="center">
                              <h5><b>{{fld_netChange['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalNetChange | looseCurrency}}
                          </td>
                          <td align="center">
                              <h5><b>{{fld_endingBalance['fieldValue']}}</b></h5>
                              {{arrTrialBalanceReport.totalEndingBalance | looseCurrency}}
                          </td>
                        </tr>
                      </tbody>
                  </table>
                        </div>
                    </div>
              </div>
            </div>
  

              </div>
        </modal-content>
        <modal-footer>
                <input type="button" class="blue-btn" title="{{fld_print['helpMessage']}}" value="{{fld_print['fieldValue']}}" (click)="print()"/>
                <input type="button" class="blue-btn" title="{{fld_close['helpMessage']}}" value="{{fld_close['fieldValue']}}" (click)="closeModal(TrialBalanceReport)"/>
            </modal-footer> 
    </modal>    
  
</div><!-- Content OUter Ends -->