<!-- The Modal -->
<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
    </div>
    <div class="modal-footer">
           <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
           <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
					 <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2> <button class="orange-btn" *ngIf="defaultFormValues[0]['readAccess']" 
            title="{{defaultFormValues[0]['helpMessage']}}" [disabled]="LockScreen(defaultFormValues[0]['writeAccess'])"
            [routerLink]="['/company/createcompany']">{{defaultFormValues[0]['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div class="search-top">
                        <input type="text" *ngIf="defaultFormValues[1]['readAccess']" class="search-txt form-control" title="{{defaultFormValues[1]['helpMessage']}}" placeholder="{{defaultFormValues[1]['fieldValue']}}"
                            (keyup)='updateFilter($event)' [readonly]="!defaultFormValues[1]['writeAccess']"/>
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <div class="algo-table">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="MainGrid" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText,selectedMessage:selectedText}"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>
                            <ngx-datatable-column [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf="defaultFormValues[2]['readAccess']" name="CompanyCode"  [width]="125" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[2]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf="defaultFormValues[3]['readAccess']" name="Name" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[3]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf="defaultFormValues[4]['readAccess']" name="Country" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[4]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf="defaultFormValues[5]['readAccess']" name="CountryCode" [width]="125" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[5]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf="defaultFormValues[6]['readAccess']"  name="Phone" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[6]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf="defaultFormValues[7]['readAccess']" name="Fax" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[7]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Email" *ngIf="defaultFormValues[8]['readAccess']" [width]="300" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[8]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Address" *ngIf="defaultFormValues[9]['readAccess']"  [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[9]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="State" [width]="130" *ngIf="defaultFormValues[10]['readAccess']"  [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[10]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="City" *ngIf="defaultFormValues[11]['readAccess']"  [width]="130" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[11]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Action" *ngIf="defaultFormValues[12]['readAccess']" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{defaultFormValues[12]['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" *ngIf="defaultFormValues[22]['readAccess']" [disabled]="LockScreen(defaultFormValues[22]['writeAccess'])" title="{{defaultFormValues[22]['helpMessage']}}" (click)="edit(row)"></button>
                                    <button [disabled]="LockScreen(defaultFormValues[15]['writeAccess'])" class="access-btn" (click)="varifyOperation(row)" title="{{defaultFormValues[15]['helpMessage']}}"   *ngIf="row.isActive && defaultFormValues[15]['readAccess']" >
                                        <img src="../assets/img/Enable{{row.isActive}}.png">
                                    </button>
                                     <button  [disabled]="LockScreen(defaultFormValues[16]['writeAccess'])" class="access-btn" (click)="varifyOperation(row)" title="{{defaultFormValues[16]['helpMessage']}}"   *ngIf="!row.isActive && defaultFormValues[16]['readAccess']" >
                                        <img src="../assets/img/Enable{{row.isActive}}.png">
                                     </button>
                                      </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row" *ngIf="page.totalElements > 0">
                    <!-- Table View Starts -->
                    <div class="table-view" *ngIf="defaultFormValues[14]['readAccess']" >
                        <span>{{defaultFormValues[14]['fieldValue']}}</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                    <option [disabled]="!defaultFormValues[14]['writeAccess']"value="5">5 {{atATimeText}} </option>
                                    <option [disabled]="!defaultFormValues[14]['writeAccess']" value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                                    <option [disabled]="!defaultFormValues[14]['writeAccess']" value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                                    <option [disabled]="!defaultFormValues[14]['writeAccess']" value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->
                    <div class="bottom-view">
                    </div>
                    <button class="blue-btn" *ngIf="!isScreenLock || defaultFormValues[13]['readAccess']" title="{{defaultFormValues[13]['helpMessage']}}"  [disabled]="!defaultFormValues[13]['writeAccess'] || selected.length == 0" (click)="varifyDelete()">{{defaultFormValues[13]['fieldValue']}}</button>
                </div>
            </div>
        </section>
    </section>
</div>
<!--<footer class="main-footer">@ 2017 BIT. All rights reserved.
</footer>-->
