<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- Content Outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <h3> {{screenName}}</h3>    <div *ngIf="showloader" class="loader">
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <!--adding form starts-->
                <form (ngSubmit)="f.form.valid && CreateCompany(f)" #f="ngForm" novalidate>
                    <div [ngClass]="'row'">
                        <fieldset [disabled]="isScreenLock">
                            <div [ngClass]="'form-row'">
                                <div [ngClass]="{ 'has-error': f.submitted && !name.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                                    <label for="name">{{defaultFormValues[0]['fieldValue']}}</label>
                                    <input type="text" myAutofocus [ngClass]="'form-control fm-txt'" name="name" 
                                    (blur)="ValidateCompany()" [readonly]="isModify" [(ngModel)]="model.name" 
                                    #name="ngModel" 
                                    title="{{defaultFormValues[0]['helpMessage']}}"
                                    maxlength="25"   required />
                                    <div *ngIf="msgCompanyExist != ''">
                                        <div class='error-msg'>
                                            {{msgCompanyExist}}
                                        </div>
                                    </div>
                                    <div *ngIf="f.submitted && name.invalid">
                                        <div class='error-msg' *ngIf="name.errors.required">
                                            {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div class='error-msg' *ngIf="name.errors.maxlength">
                                            {{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>
                                <div [ngClass]="{'has-error': f.submitted && !nameArabic.valid, 'col-md-4 col-sm-6 col-xs-12': true }">
                                    <label for="nameArabic">Arabic Name:</label>
                                    <input type="text" id="nameArabic" [(ngModel)]="model.nameArabic" class="form-control fm-txt" name="nameArabic" 
                                    #nameArabic="ngModel" title="Arabic Name" required maxlength="50" />
                                    <div *ngIf="f.submitted && nameArabic.invalid">
                                        <div class="error-msg" *ngIf="nameArabic.errors.required">
                                            This Field Is Required
                                        </div>
                                        <div class="error-msg" *ngIf="nameArabic.errors.maxlength">
                                            This Value Exceed The Maxlenght
                                        </div>
                                    </div>
                                </div>
                                
                                <div [ngClass]="{ 'has-error': f.submitted && !countryId.valid, 'col-md-4 col-sm-6 col-xs-12':true }">
                                    <label for="countryId">{{defaultFormValues[1]['fieldValue']}}</label>
                                    <div [ngClass]="'select-outer text-fn '">
                                        <select [ngClass]="'form-control '" name="countryId" [(ngModel)]="model.countryId" #countryId="ngModel" (change)="getCountryData($event)"
                                        title="{{defaultFormValues[1]['helpMessage']}}" required>
                                        <option *ngFor="let country of countryOptions" [value]="country.countryId">
                                            {{country.countryName}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="f.submitted && countryId.invalid">
                                    <div class='error-msg' [hidden]="!countryId.errors.required">
                                        {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{ 'has-error': f.submitted && !zipCode.valid, 'col-md-4 col-sm-6 col-xs-12':true  }">
                                <label for="zipCode">{{defaultFormValues[2]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="zipCode" [(ngModel)]="model.zipCode" #zipCode="ngModel" title="{{defaultFormValues[2]['helpMessage']}}"
                                maxlength="10"  OnlyNumber="true"  
                                (keydown)="onlyDecimalNumberKey($event)"    required />
                                <div *ngIf="f.submitted && zipCode.invalid">
                                    <div class='error-msg' *ngIf="zipCode.errors.required">
                                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="zipCode.errors.maxlength">
                                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="'form-row'">
                            <div [ngClass]="{ 'has-error': f.submitted && !phone.valid, 'col-md-4 col-sm-12 col-xs-12':true }">
                                <div [ngClass]="'short-text'">
                                    <label for="countryCode">{{defaultFormValues[3]['fieldValue']}}</label>
                                    <input type="text" [ngClass]="'form-control fm-txt'" name="countryCode" [(ngModel)]="model.countryCode" #countryCode="ngModel"
                                    title="{{defaultFormValues[3]['helpMessage']}}" OnlyNumber="true"  
                                    (keydown)="onlyDecimalNumberKey($event)" 
                                    maxlength="5" [readonly]="true"/>
                                </div>
                                <div [ngClass]="'right-fm-text'">
                                    <label for="phone">{{defaultFormValues[4]['fieldValue']}}</label>
                                    <input type="text" [ngClass]="'form-control fm-txt'" minlength="10" name="phone" [(ngModel)]="model.phone" #phone="ngModel" maxlength="10"
                                    OnlyNumber="true"   (keydown)="onlyDecimalNumberKey($event)"   title="{{defaultFormValues[4]['helpMessage']}}" required />
                                </div>
                                <div *ngIf="f.submitted && phone.invalid">
                                    <div class='error-msg' *ngIf="phone.errors.required">
                                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="phone.errors.maxlength">
                                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="phone.errors.minlength">
                                        Minimum 10 characters Allowed.
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'has-error': f.submitted && !fax.valid,'col-md-4 col-sm-6 col-xs-12':true}">
                                <label for="fax">{{defaultFormValues[5]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="fax" [(ngModel)]="model.fax" #fax="ngModel" title="{{defaultFormValues[5]['helpMessage']}}"
                                maxlength="15" minlength="10" OnlyNumber="true"  
                                (keydown)="onlyDecimalNumberKey($event)"   required />
                                <div *ngIf="f.submitted && fax.invalid">
                                    <div class='error-msg' *ngIf="fax.errors.required">
                                        {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="fax.errors.maxlength">
                                        {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="fax.errors.minlength">
                                        Minimum 10 characters Allowed.
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'has-error': f.submitted && !email.valid,'col-md-4 col-sm-6 col-xs-12':true}">
                                <label for="email">{{defaultFormValues[6]['fieldValue']}}</label>
                                <input type="email" [ngClass]="'form-control fm-txt'" name="email" [(ngModel)]="model.email" #email="ngModel" title="{{defaultFormValues[6]['helpMessage']}}"
                                maxlength="50"  pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"  required />
                                <div *ngIf="f.submitted && email.invalid">
                                    <div class='error-msg' *ngIf="email.errors.required">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="email.errors.pattern">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="email.errors.maxlength">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="'form-row'">
                            <div [ngClass]="{'has-error': f.submitted && !stateId.valid,'col-md-4 col-sm-6 col-xs-12':true}">
                                <label for="state">{{defaultFormValues[7]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                    <select [ngClass]="'form-control '" name="stateId" [(ngModel)]="model.stateId" #stateId="ngModel" (change)="getStateData($event)"
                                    title="{{defaultFormValues[7]['helpMessage']}}" required>
                                    <option *ngFor="let state of stateOptions" [value]="state.stateId">
                                        {{state.stateName}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="f.submitted && stateId.invalid">
                                <div class='error-msg' [hidden]="!stateId.errors.required">
                                    {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="defaultFormValues[8]['readAccess']" [ngClass]="{'has-error': f.submitted && !cityId.valid,'col-md-4 col-sm-6 col-xs-12':true}">
                            <label for="city">{{defaultFormValues[8]['fieldValue']}}</label>
                            <div [ngClass]="'select-outer'">
                                <select [ngClass]="'form-control '" name="cityId" [(ngModel)]="model.cityId" #cityId="ngModel" title="{{defaultFormValues[8]['helpMessage']}}"
                                required>
                                <option [disabled]="!defaultFormValues[8]['writeAccess']" *ngFor="let city of cityOptions" [value]="city.cityId">
                                    {{city.cityName}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="f.submitted && cityId.invalid">
                            <div class='error-msg' [hidden]="!cityId.errors.required">
                                {{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                        </div>
                    </div>
                </div>
                <div [ngClass]="'form-row'">
                    <div *ngIf="defaultFormValues[12]['readAccess']" [ngClass]="{ 'has-error': f.submitted && (!webAddress.valid || ShowInvalidWebAddress),'col-md-4 col-sm-6 col-xs-12':true }">
                        <div [ngClass]="'form-row'">		
                            <label for="webAddress">{{defaultFormValues[12]['fieldValue']}}</label>		
                            <input type="text" [ngClass]="'form-control fm-txt'" name="webAddress" [(ngModel)]="model.webAddress" 		
                            #webAddress="ngModel" id="webAddress" title="{{defaultFormValues[12]['helpMessage']}}"		
                            maxlength="50" (blur)="getLatLong()" [readonly]="!defaultFormValues[12]['writeAccess']" />		
                            
                            <div *ngIf="f.submitted && webAddress.invalid">		
                                <div class='error-msg' *ngIf="webAddress.errors.maxlength">		
                                    {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}		
                                </div>		
                            </div>
                            <div class='error-msg' *ngIf="ShowInvalidWebAddress">		
                                invalid webAddress	
                            </div>	
                        </div>
                        
                        <div [ngClass]="'form-row'">
                            <div *ngIf="defaultFormValues[13]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !latitude.valid,'':true }">		
                                <label for="latitude">{{defaultFormValues[13]['fieldValue']}}</label>		
                                <input type="text" [ngClass]="'form-control fm-txt'" name="latitude" [(ngModel)]="model.latitude" 		
                                #latitude="ngModel" 		
                                title="{{defaultFormValues[13]['helpMessage']}}"		
                                maxlength="25"  [readonly]="!defaultFormValues[13]['writeAccess']" required />		
                                <div *ngIf="f.submitted && latitude.invalid">		
                                    <div class='error-msg' *ngIf="latitude.errors.required">		
                                        {{defaultFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}		
                                    </div>		
                                    <div class='error-msg' *ngIf="latitude.errors.maxlength">		
                                        {{defaultFormValues[13]['listDtoFieldValidationMessage'][1]['validationMessage']}}		
                                    </div>		
                                </div>		
                            </div>           
                        </div>
                        
                        <div [ngClass]="'form-row'">
                            <div *ngIf="defaultFormValues[14]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !longitude.valid,'':true }">		
                                <label for="longitude">{{defaultFormValues[14]['fieldValue']}}</label>		
                                <input type="text" [ngClass]="'form-control fm-txt'" name="longitude" [(ngModel)]="model.longitude" 		
                                #longitude="ngModel" 		
                                title="{{defaultFormValues[14]['helpMessage']}}"		
                                maxlength="25"  [readonly]="!defaultFormValues[14]['writeAccess']" required />		
                                <div *ngIf="f.submitted && longitude.invalid">		
                                    <div class='error-msg' *ngIf="longitude.errors.required">		
                                        {{defaultFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}		
                                    </div>		
                                    <div class='error-msg' *ngIf="longitude.errors.maxlength">		
                                        {{defaultFormValues[14]['listDtoFieldValidationMessage'][1]['validationMessage']}}		
                                    </div>		
                                </div>		
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div [ngClass]="'form-row'" [hidden]="hideElement">
                            <agm-map [latitude]="lat" [longitude]="lng">
                                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                            </agm-map>
                        </div>  
                    </div>
                </div> 
                <div [ngClass]="'form-row'">
                    <div [ngClass]="{'has-error': f.submitted && !address.valid,'col-sm-12 col-md-8 col-xs-12':true}">
                        <label for="address">{{defaultFormValues[9]['fieldValue']}}</label>
                        <textarea [ngClass]="'form-control fm-txt'" name="address" [(ngModel)]="model.address" #address="ngModel" title="{{defaultFormValues[9]['helpMessage']}}"
                        maxlength="150" pattern="(?!^\d+$)^.+$"  required></textarea>
                        <div *ngIf="f.submitted && address.invalid">
                            <div class='error-msg' *ngIf="address.errors.required">
                                {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
                            <div class='error-msg' *ngIf="address.errors.maxlength">
                                {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                            </div>
                            <div class='error-msg' *ngIf="address.errors.pattern">
                                Enter Valid Address
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <label>Logo</label>
                    <img width="200px"
                    height="200px"  [src]="image ? image : '/assets/img/no-profile-pic-tiny.png' " />
                    <input type="file" (change)="uploadImage($event)" [hidden]="'true'" #file />
                    <button type="button" class="blue-btn" (click)="file.click()">Upload Logo</button>
                </div>
            </fieldset>
            <div [ngClass]="'button-row'">
                <div [ngClass]="'col-sm-12'">
                    <button [ngClass]="'orange-btn'" [disabled]="LockScreen(defaultFormValues[10]['writeAccess'])" title="{{defaultFormValues[10]['fieldValue']}}">{{defaultFormValues[10]['helpMessage']}}</button>
                    <button [ngClass]="'blue-btn'" [routerLink]="['/company']">{{defaultFormValues[11]['helpMessage']}}</button>
                </div>
                
            </div>
        </div>
    </form>
    
    
    <!--adding form ends-->
</div>
<!-- Content Outer Ends -->
</section>
</section>
</div>

