<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{REPORT_MANAGEMENT_CREATE_BUTTON_LABEL['helpMessage']}}">{{REPORT_MANAGEMENT_CREATE_BUTTON_LABEL['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{REPORT_MANAGEMENT_REPORT_SEARCH['helpMessage']}}" placeholder="{{REPORT_MANAGEMENT_REPORT_SEARCH['fieldValue']}}"
                               (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                </div>

                <div class="algo-table algo-table-department">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="ReportGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                       [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                                  [checkboxable]="true">
                            </ngx-datatable-column>

                            <!-- Data Grid Columns -->
                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div
                                                    [draggable]="isConfigure"
                                                    (dragstart)="commonService.drag($event,0,i,grid.colOrder)"
                                                    (drop)="commonService.drop($event,0,i,grid.colOrder)"
                                                    (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)"
                                                    (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                </div>
                            </div>

                            <!-- Data Grid Action -->
                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{REPORT_MANAGEMENT_ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>
                    <button class="blue-btn" (click)="varifyDelete()">{{REPORT_MANAGEMENT_DELETE_BUTTON_LABEL['fieldValue']}}</button>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model.id">{{REPORT_MANAGEMENT_CREATE_FORM_LABEL['fieldValue']}}</h3>
                            <h3 *ngIf="model.id">{{REPORT_MANAGEMENT_UPDATE_FORM_LABEL['fieldValue']}}</h3>
                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>

                        <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateReportMaster(f, $event)" #f="ngForm" novalidate>

                            <!-- Report Id field -->
                            <div *ngIf="isUnderUpdate; then update else create"></div>
                            <ng-template #update>
                                <div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label class="control-label" for="reportId">{{REPORT_MANAGEMENT_REPORT_ID['fieldValue']}}</label>
                                            <span *ngIf="REPORT_MANAGEMENT_REPORT_ID['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'"  name="reportId" value="{{reportIdvalue}}"
                                                   title="{{REPORT_MANAGEMENT_REPORT_ID['helpMessage']}}" maxlength="15" [readonly]="!REPORT_MANAGEMENT_REPORT_ID['writeAccess']" [required]="REPORT_MANAGEMENT_REPORT_ID['isMandatory']"  />
                                            <div *ngIf="f.submitted && reportId.invalid">
                                                <div [hidden]="!reportId.errors.required">
                                                    {{REPORT_MANAGEMENT_REPORT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!reportId.errors?.maxlength">
                                                    {{REPORT_MANAGEMENT_REPORT_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template #create>
                                <div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'has-error': f.submitted && !reportId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label class="control-label" for="reportId">{{REPORT_MANAGEMENT_REPORT_ID['fieldValue']}}</label>
                                            <span *ngIf="REPORT_MANAGEMENT_REPORT_ID['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="reportId" [(ngModel)]="model.reportId" #reportId="ngModel" autocomplete="off"
                                                   title="{{REPORT_MANAGEMENT_REPORT_ID['helpMessage']}}" maxlength="15" [required]="REPORT_MANAGEMENT_REPORT_ID['isMandatory']" [typeahead]="reportIdList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="reportId" />
                                            <div *ngIf="f.submitted && reportId.invalid">
                                                <div [hidden]="!reportId.errors.required">
                                                    {{REPORT_MANAGEMENT_REPORT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!reportId.errors?.maxlength">
                                                    {{REPORT_MANAGEMENT_REPORT_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <!-- Report Name Field -->
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'has-error': f.submitted && !reportName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="reportName">{{REPORT_MANAGEMENT_REPORT_NAME['fieldValue']}}</label>
                                        <span *ngIf="REPORT_MANAGEMENT_REPORT_NAME['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="reportName" [(ngModel)]="model.reportName"
                                               #reportName="ngModel" title="{{REPORT_MANAGEMENT_REPORT_NAME['helpMessage']}}"
                                               [required]="REPORT_MANAGEMENT_REPORT_NAME['isMandatory']" maxlength="51" />
                                        <div *ngIf="f.submitted && reportName.invalid">
                                            <div [hidden]="!reportName.errors.required">
                                                {{REPORT_MANAGEMENT_REPORT_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!reportId.errors?.maxlength">
                                                {{REPORT_MANAGEMENT_REPORT_NAME['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Report Link Field -->
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'has-error': f.submitted && !reportLink.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="reportLink">{{REPORT_MANAGEMENT_REPORT_LINK['fieldValue']}}</label>
                                        <span *ngIf="REPORT_MANAGEMENT_REPORT_LINK['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="reportLink" [(ngModel)]="model.reportLink"
                                               #reportLink="ngModel" title="{{REPORT_MANAGEMENT_REPORT_LINK['helpMessage']}}" [required]="REPORT_MANAGEMENT_REPORT_LINK['isMandatory']"
                                               maxlength="61" />
                                        <div *ngIf="f.submitted && reportLink.invalid">
                                            <div [hidden]="!reportLink.errors.required">
                                                {{REPORT_MANAGEMENT_REPORT_LINK['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!reportId.errors?.maxlength">
                                                {{REPORT_MANAGEMENT_REPORT_LINK['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Report Description Field -->
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'has-error': f.submitted && !reportDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="reportDescription">{{REPORT_MANAGEMENT_REPORT_DESCRIPTION['fieldValue']}}</label>
                                        <span *ngIf="REPORT_MANAGEMENT_REPORT_DESCRIPTION['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="reportDescription" [(ngModel)]="model.reportDescription"
                                               #reportDescription="ngModel" title="{{REPORT_MANAGEMENT_REPORT_DESCRIPTION['helpMessage']}}" [required]="REPORT_MANAGEMENT_REPORT_DESCRIPTION['isMandatory']"
                                               maxlength="61" />
                                        <div *ngIf="f.submitted && reportDescription.invalid">
                                            <div [hidden]="!reportDescription.errors.required">
                                                {{REPORT_MANAGEMENT_REPORT_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!reportId.errors?.maxlength">
                                                {{REPORT_MANAGEMENT_REPORT_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Report Object Id -->
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'has-error': f.submitted && !objectId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="objectId">{{REPORT_MANAGEMENT_REPORT_OBJECT_ID['fieldValue']}}</label>
                                        <span *ngIf="REPORT_MANAGEMENT_REPORT_OBJECT_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="objectId" [(ngModel)]="model.objectId"
                                               #objectId="ngModel" title="{{REPORT_MANAGEMENT_REPORT_OBJECT_ID['helpMessage']}}" [required]="REPORT_MANAGEMENT_REPORT_OBJECT_ID['isMandatory']"
                                               maxlength="51" />
                                        <div *ngIf="f.submitted && objectId.invalid">
                                            <div [hidden]="!objectId.errors.required">
                                                {{REPORT_MANAGEMENT_REPORT_OBJECT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!reportId.errors?.maxlength">
                                                {{REPORT_MANAGEMENT_REPORT_OBJECT_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Report Container Id -->
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'has-error': f.submitted && !containerId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="containerId">{{REPORT_MANAGEMENT_REPORT_CONTAINER_ID['fieldValue']}}</label>
                                        <span *ngIf="REPORT_MANAGEMENT_REPORT_CONTAINER_ID['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="containerId" [(ngModel)]="model.containerId"
                                               #containerId="ngModel" title="{{REPORT_MANAGEMENT_REPORT_CONTAINER_ID['helpMessage']}}" [required]="REPORT_MANAGEMENT_REPORT_CONTAINER_ID['isMandatory']"
                                               maxlength="51" />
                                        <div *ngIf="f.submitted && containerId.invalid">
                                            <div [hidden]="!containerId.errors.required">
                                                {{REPORT_MANAGEMENT_REPORT_CONTAINER_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!reportId.errors?.maxlength">
                                                {{REPORT_MANAGEMENT_REPORT_CONTAINER_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Module Name Drop Down Field -->
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'has-error': f.submitted && !module.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="moduleId">{{REPORT_MANAGEMENT_MODULE_LABEL['fieldValue']}}</label>
                                        <span *ngIf="REPORT_MANAGEMENT_MODULE_LABEL['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <select [ngClass]="'form-control '"  placeholder="Select User"
                                                name="module" [(ngModel)]="model.moduleId"
                                                #module="ngModel" title="{{REPORT_MANAGEMENT_MODULE_LABEL['helpMessage']}}"
                                                (change)="onChange(module.value)" myAutofocus [required]="REPORT_MANAGEMENT_MODULE_LABEL['isMandatory']">
                                            <option *ngFor="let module of getModuleList" [value]="module.moduleId">
                                                {{module.moduleName}}
                                            </option>
                                        </select>
                                        <div *ngIf="f.submitted && module.invalid">
                                            <div [hidden]="!module.errors.required">
                                                {{REPORT_MANAGEMENT_MODULE_LABEL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!module.errors?.maxlength">
                                                {{REPORT_MANAGEMENT_MODULE_LABEL['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Buttons -->
                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                            <span class="pull-right">
                                                <button *ngIf="model.id" [ngClass]="'grey-btn'">{{REPORT_MANAGEMENT_UPDATE_BUTTON_LABEL['fieldValue']}}</button>
                                                <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{REPORT_MANAGEMENT_SAVE_BUTTON_LABEL['fieldValue']}}</button>
                                                <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{REPORT_MANAGEMENT_CLEAR_BUTTON_LABEL['fieldValue']}}</button>
                                                <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{REPORT_MANAGEMENT_CANCEL_BUTTON_LABEL['fieldValue']}}</button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Create Update form ends -->
                </div>
            </div>
        </section>
    </section>
</div>