<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="create(f)" title="{{DIVISION_CREATE_LABEL['helpMessage']}}">{{DIVISION_CREATE_LABEL['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <!--<div *ngIf="hasMessage" style="margin-bottom:10px;color:red;">
                        {{message.text}}
                    </div>-->
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{DIVISION_SEARCH['helpMessage']}}" placeholder="{{DIVISION_SEARCH['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->

                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                </div>

                <div class="algo-table">

                    <!-- Data Grid checkbox -->
                    <ngx-datatable-column [width]="5" [sortable]="false" [canAutoResize]="true" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                        [checkboxable]="true">
                    </ngx-datatable-column>

                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="DivisionGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                           <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div 
                                            [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>  
                                    </div>
                            </div>

                            <!-- Data Column Action -->
                            <ngx-datatable-column name="Action" [width]="80" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{DIVISION_ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view table-view-fix">
                        <span>{{DIVISION_TABLEVIEW['fieldValue']}}</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option *ngFor="let tv of tableViews" [value] ="tv.id" >{{tv.name}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>
                    <button class="blue-btn " (click)="varifyDelete()">{{DIVISION_DELETE_LABEL['fieldValue']}}</button>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model.id">{{DIVISION_CREATE_FORM_LABEL['fieldValue']}}</h3>
                            <h3 *ngIf="model.id">{{DIVISION_UPDATE_FORM_LABEL['fieldValue']}}</h3>
                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>
                        <form class="form-horizontal" (ngSubmit)="f.form.valid && country.value!=0 && state.value!=0 && city.value!=0 && CreateDivision(f, $event)"
                            #f="ngForm" novalidate>

                            <div class="form-group">
                                <div *ngIf="isUnderUpdate; then update else create"></div>
                                <ng-template #update>
                                    <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label class="control-label" for="divisionId">{{DIVISION_ID['fieldValue']}}</label>
                                            <span *ngIf="DIVISION_ID['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="divisionId" value="{{divisionIdvalue}}" title="{{DIVISION_ID['helpMessage']}}"
                                                maxlength="15" [readonly]="DIVISION_ID['readAccess']" />
                                        </div>
                                    </div>
                                </ng-template>


                                <ng-template #create>
                                    <div [ngClass]="{ 'has-error': f.submitted && !divisionId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label for="divisionId">{{DIVISION_ID['fieldValue']}}</label>
                                            <span *ngIf="DIVISION_ID['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="divisionId" [(ngModel)]="model.divisionId" #divisionId="ngModel"
                                                title="{{DIVISION_ID['helpMessage']}}" maxlength="15" [required]="DIVISION_ID['isMandatory']"
                                                [typeahead]="dataSource" autocomplete="off" (typeaheadLoading)="changeTypeaheadLoading($event)"
                                                (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="divisionId"
                                            />
                                            <div *ngIf="f.submitted && divisionId.invalid">
                                                <div [hidden]="!divisionId.errors.required">
                                                    {{DIVISION_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!divisionId.errors?.maxlength" *ngIf="DIVISION_ID['listDtoFieldValidationMessage'][1]">
                                                    {{DIVISION_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>








                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && !divisionDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="divisionDescription">{{DIVISION_DESCRIPTION['fieldValue']}}</label>
                                        <span *ngIf="DIVISION_DESCRIPTION['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="divisionDescription" [(ngModel)]="model.divisionDescription" #divisionDescription="ngModel"
                                            title="{{DIVISION_DESCRIPTION['helpMessage']}}" maxlength="31" [required]="DIVISION_DESCRIPTION['isMandatory']"
                                        />
                                        <div *ngIf="f.submitted && divisionDescription.invalid">
                                            <div [hidden]="!divisionDescription.errors.required">
                                                {{DIVISION_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!divisionDescription.errors?.maxlength" *ngIf="DIVISION_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                {{DIVISION_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && !arabicDivisionDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="arabicDivisionDescription">{{DIVISION_ARABIC_DESCRIPTION['fieldValue']}}</label>
                                        <span *ngIf="DIVISION_ARABIC_DESCRIPTION['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8 arabic-mode">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDivisionDescription" [(ngModel)]="model.arabicDivisionDescription"
                                            #arabicDivisionDescription="ngModel" title="{{DIVISION_ARABIC_DESCRIPTION['helpMessage']}}"
                                            maxlength="61" [required]="DIVISION_ARABIC_DESCRIPTION['isMandatory']" />
                                        <div *ngIf="f.submitted && arabicDivisionDescription.invalid">
                                            <div [hidden]="!arabicDivisionDescription.errors.required">
                                                {{DIVISION_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!arabicDivisionDescription.errors?.maxlength" *ngIf="DIVISION_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                {{DIVISION_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && !divisionAddress.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="divisionAddress">{{DIVISION_ADDRESS['fieldValue']}}</label>
                                        <span *ngIf="DIVISION_ADDRESS['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="divisionAddress" [(ngModel)]="model.divisionAddress" #divisionAddress="ngModel"
                                            title="{{DIVISION_ADDRESS['helpMessage']}}" maxlength="61" [required]="DIVISION_ADDRESS['isMandatory']"
                                        />
                                        <div *ngIf="f.submitted && divisionAddress.invalid">
                                            <div [hidden]="!divisionAddress.errors.required">
                                                {{DIVISION_ADDRESS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!divisionAddress.errors?.maxlength" *ngIf="DIVISION_ADDRESS['listDtoFieldValidationMessage'][1]">
                                                {{DIVISION_ADDRESS['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- Country -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && country.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="country">{{DIVISION_COUNTRY['fieldValue']}}</label>
                                        <span *ngIf="DIVISION_COUNTRY['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="country" [(ngModel)]="model.countryId" #country="ngModel"
                                            (change)="onCountrySelect($event)" title="Country" [required]="DIVISION_COUNTRY['isMandatory']">
                                            <option value="0" disabled>-- Select Country --</option>
                                            <option *ngFor="let country of countries" value="{{country.countryId}}">{{country.countryName}}</option>
                                        </select>
                                        <div *ngIf="f.submitted && country.value==0">
                                            <div [hidden]="!country.value==0">
                                                {{DIVISION_COUNTRY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- States -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && state.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="state">{{DIVISION_STATE['fieldValue']}}</label>
                                        <span *ngIf="DIVISION_STATE['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="state" [(ngModel)]="model.stateId" #state="ngModel"
                                            (change)="onStateSelect($event)" title="State" [required]="DIVISION_STATE['isMandatory']">
                                            <option value="0" disabled>-- Select State --</option>
                                            <option *ngFor="let state of states" value="{{state.stateId}}" [selected]="state.stateId == model.stateId">{{state.stateName}}</option>
                                        </select>
                                        <div *ngIf="f.submitted && state.value==0">
                                            <div [hidden]="!state.value==0">
                                                {{DIVISION_STATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- City -->
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && city.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="city">{{DIVISION_CITY['fieldValue']}}</label>
                                        <span *ngIf="DIVISION_CITY['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="city" [(ngModel)]="model.cityId" #city="ngModel"
                                            title="City" [required]="DIVISION_CITY['isMandatory']">
                                            <option value="0" disabled>-- Select City --</option>
                                            <option *ngFor="let city of cities" value="{{city.cityId}}" [selected]="city.cityId == model.cityId">{{city.cityName}}</option>
                                        </select>
                                        <div *ngIf="f.submitted && city.value==0">
                                            <div [hidden]="!city.value==0">
                                                {{DIVISION_CITY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && !phoneNumber.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="">{{DIVISION_PHONE['fieldValue']}}</label>
                                        <span *ngIf="DIVISION_PHONE['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="phoneNumber" [(ngModel)]="model.phoneNumber" #phoneNumber="ngModel"
                                            PhonenumberFaxDirective="true" [pattern]="phonePattern" title="{{DIVISION_PHONE['helpMessage']}}"
                                            maxlength="21" [required]="DIVISION_PHONE['isMandatory']" />
                                        <div *ngIf="f.submitted && phoneNumber.invalid">
                                            <div [hidden]="!phoneNumber.errors.required">
                                                {{DIVISION_PHONE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!phoneNumber.errors?.maxlength" *ngIf="DIVISION_PHONE['listDtoFieldValidationMessage'][1]">
                                                {{DIVISION_PHONE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                            <div *ngIf="phoneNumber.dirty && phoneNumber.value.length!=0">
                                                {{DIVISION_PHONE['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && !fax.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="fax">{{DIVISION_FAX['fieldValue']}}</label>
                                        <span *ngIf="DIVISION_FAX['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="fax" [(ngModel)]="model.fax" #fax="ngModel" title="{{DIVISION_FAX['helpMessage']}}"
                                            PhonenumberFaxDirective="true" maxlength="21" [pattern]="phonePattern" [required]="DIVISION_FAX['isMandatory']"
                                        />
                                        <div *ngIf="f.submitted && fax.invalid">
                                            <div [hidden]="!fax.errors.required">
                                                {{DIVISION_FAX['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="!fax.errors?.maxlength" *ngIf="DIVISION_FAX['listDtoFieldValidationMessage'][1]">
                                                {{DIVISION_FAX['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                            <div *ngIf="fax.dirty && fax.value.length!=0">
                                                {{DIVISION_FAX['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div [ngClass]="{'has-error': f.submitted && !email.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-4">
                                        <label class="control-label" for="email">{{DIVISION_EMAIL['fieldValue']}}</label>
                                        <span *ngIf="DIVISION_EMAIL['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="email" [pattern]="emailPattern" [(ngModel)]="model.email" #email="ngModel"
                                            title="{{DIVISION_EMAIL['helpMessage']}}" maxlength="150" [required]="DIVISION_EMAIL['isMandatory']"
                                            email="true" />
                                        <div *ngIf="f.submitted && email.invalid">

                                            <div [hidden]="!email.errors?.required">
                                                {{DIVISION_EMAIL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div [hidden]="email.errors?.required && email.errors?.email">
                                                {{DIVISION_EMAIL['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button *ngIf="model.id" [ngClass]="'grey-btn'">{{DIVISION_UPDATE_LABEL['fieldValue']}}</button>
                                            <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{DIVISION_SAVE_LABEL['fieldValue']}}</button>
                                            <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{DIVISION_CLEAR_LABEL['fieldValue']}}</button>
                                            <button [ngClass]="'blue-btn'" (click)="showCreateForm = false">{{DIVISION_CANCEL_LABEL['fieldValue']}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Create / Update Form Ends -->
                </div>
            </div>
        </section>
    </section>
</div>