<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
			<button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                </div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-12">
									<!-- Content Heading Ends -->
									<!-- Data Grid Starts-->
									<div class="algo-table algo-table-department">
										<div [ngClass]="table-responsive">
											<ngx-datatable 
											id="AttendanceSetupOptionsGrid1" 
											class="material" 
											[rows]="rows" 
											[columnMode]="'force'" 
											[headerHeight]="50" 
											[footerHeight]="50"
											[rowHeight]="'auto'" 
											[externalPaging]="true" 
											[count]="page.totalElements" 
											[offset]="page.pageNumber"
											[limit]="page.size" 
											(page)='setPage($event)' 
											[selected]="selectedOptn" 
											[selectionType]="'checkbox'"
											(select)='onSelect($event)'>

												<!-- Data Grid checkbox -->
												<ngx-datatable-column 
												[width]="40" 
												[sortable]="false" 
												[canAutoResize]="false" 
												[draggable]="false" 
												[resizeable]="false" 
												[headerCheckboxable]="true"
												[checkboxable]="true" 
												>
												</ngx-datatable-column>

												<!-- Data Grid Reason Id -->
												<ngx-datatable-column name="reasonIndx" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
													<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
														<span (click)="sort()">{{defaultFormValues[1]['fieldValue']}}</span>
													</ng-template>
													<ng-template let-value="value" ngx-datatable-cell-template>
														{{value}}
													</ng-template>
												</ngx-datatable-column>

												<!-- Data Grid Reason Description -->
												<ngx-datatable-column name="reasonDesc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
													<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
														<span (click)="sort()">{{defaultFormValues[2]['fieldValue']}}</span>
													</ng-template>
													<ng-template let-value="value" ngx-datatable-cell-template>
														{{value}}
													</ng-template>
												</ngx-datatable-column>
											</ngx-datatable>
										</div>
									</div>
									<!-- Data Grid Ends-->								
								</div>
							</div>
						</div>						
						<form class="form-horizontal" (ngSubmit)="f.form.valid && CreateAttendanceOptionsSetup(f, $event)" #f="ngForm" novalidate>
							<div [ngClass]="'row'">
								<div class="col-md-12" >
								   <!--<div>Reason Description</div>
								   <fieldset class="fieldsetclass">			-->							
									 <div>	
									   <div [ngClass]="{'has-error': f.submitted && !reasonDesc.valid,'col-md-offset-12': currentLanguage == 2}">
										 <div class="col-md-4">
										   <label class="control-label" for="reasonDesc">Reason Description</label>
										 </div>
										   <div class="col-md-8">
											 <input type="text" [ngClass]="'form-control fm-txt'" name="reasonDesc" [(ngModel)]="model.reasonDesc" #reasonDesc="ngModel"
													title="{{defaultFormValues[0]['helpMessage']}}" required  maxlength="31"/>	
													<div *ngIf="(f.submitted && !reasonDesc.valid)">
															This field is required.
													</div>										 
										   </div>
										   
									   </div>
									</div>          
								    <!--</fieldset>-->
								</div>        
							</div>
							<div [ngClass]="'row'">						
							  <div class="col-md-12">
								<div [ngClass]="'button-row'">
								  <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
									<div [ngClass]="'col-xs-12'">
										<span class="pull-right"><br/>
											<button class='grey-btn'>Insert</button>
											<button class='blue-btn' type="button" (click)="verifyDelete()" title="Remove">Remove</button>
										</span>
									</div>
								  </div>
								</div>
							  </div>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-12">
									<div class="algo-table algo-table-department">
										<div class="table-responsive">
											<ngx-datatable 
											id="AttendanceSetupOptionsGrid2" 
											class="material" 
											[rows]="dataGridType" 
											[columnMode]="'force'" 
											[headerHeight]="50" 
											[footerHeight]="50"
											[rowHeight]="'auto'" 
											[externalPaging]="true" 
											[count]="pageType.totalElements" 
											[offset]="pageType.pageNumber"
											[limit]="pageType.size" 
											(page)='setPageType($event)' 
											[selected]="selectedType" 
											[selectionType]="'checkbox'"
											(select)='onSelectType($event)'>
											
												<!-- Data Grid checkbox -->
												<ngx-datatable-column 
												[width]="40" 
												[sortable]="false" 
												[canAutoResize]="false" 
												[draggable]="false" 
												[resizeable]="false" 
												[headerCheckboxable]="true"
												[checkboxable]="true">
												</ngx-datatable-column>

												<!-- Data Grid Reason Id -->
												<ngx-datatable-column name="atteandanceTypeIndx" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
													<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
														<span (click)="sort()">{{defaultFormValues[3]['fieldValue']}}</span>
													</ng-template>
													<ng-template let-value="value" ngx-datatable-cell-template>
														{{value}}
													</ng-template>
												</ngx-datatable-column>

												<!-- Data Grid Reason Description -->
												<ngx-datatable-column name="atteandanceTypeDesc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
													<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
														<span (click)="sort()">{{defaultFormValues[4]['fieldValue']}}</span>
													</ng-template>
													<ng-template let-value="value" ngx-datatable-cell-template>
														{{value}}
													</ng-template>
												</ngx-datatable-column>
											</ngx-datatable>
										</div>
									</div>
									<!-- Data Grid Ends-->
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal" (ngSubmit)="tf.form.valid && createAttendanceSetupOptionType(tf, $event)" #tf="ngForm" novalidate>
									<div [ngClass]="'row'">
										<div class="col-md-12" >
										   <!--<div>Reason Description</div>
										   <fieldset class="fieldsetclass">			-->							
											 <div>	
											   <div [ngClass]="{'has-error': tf.submitted && !atteandanceTypeDesc.valid,'col-md-offset-12': currentLanguage == 2}">
												 <div class="col-md-4">
												   <label class="control-label" for="atteandanceTypeDesc">Type Description</label>
												 </div>
												   <div class="col-md-8">
													 <input type="text" [ngClass]="'form-control fm-txt'" name="atteandanceTypeDesc" [(ngModel)]="model.atteandanceTypeDesc" #atteandanceTypeDesc="ngModel"
															title="{{defaultFormValues[0]['helpMessage']}}" required  maxlength="31"/>
															<div *ngIf="(tf.submitted && !atteandanceTypeDesc.valid)">
																	This field is required.
															</div>											 
												   </div>
												
											   </div>
											</div>          
											<!--</fieldset>-->
										</div>        
									</div>
									<div [ngClass]="'row'">						
									  <div class="col-md-12">
										<div [ngClass]="'button-row'">
										  <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
											<div [ngClass]="'col-xs-12'">
												<span class="pull-right"><br/>
													<button class='grey-btn'>Insert</button>
													<button class='blue-btn' type="button" (click)="verifyDeleteType()" title="Remove">Remove</button>
												</span>
											</div>
										  </div>
										</div>
									  </div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12">
							<span class="pull-right"> 
								<button class="grey-btn" [routerLink]="['/hcm/attendanceSetup']">Ok</button>
							</span>
						</div>
					</div>
				</div> 
            </div>
        </section>
    </section>
</div>