<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[5]['helpMessage']}}">{{defaultFormValues[5]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department" width="70% !important;">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="RequisitionGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                           [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                           [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                    [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Location Id -->
              <ngx-datatable-column name="stats" [width]="120" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('stats')">{{defaultFormValues[9]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid Location Description -->
              <ngx-datatable-column name="internalPostDate" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('internalPostDate')">{{defaultFormValues[10]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid  Arabic Location Description -->
              <ngx-datatable-column name="internalCloseDate" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('internalCloseDate')">{{defaultFormValues[11]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid  City -->
              <ngx-datatable-column name="openingDate" [width]="110" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('openingDate')">{{defaultFormValues[12]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{frequencyArray[value-1]}}
                </ng-template>
              </ngx-datatable-column>


              <!-- Data Grid  phone -->
              <ngx-datatable-column name="positionsAvailable" [width]="160" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionsAvailable')">{{defaultFormValues[24]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{timeTypeArray[value-1]}}
                </ng-template>
              </ngx-datatable-column>




              <!-- Data Grid  Contact Name -->
              <ngx-datatable-column name="positionsFilled" [width]="140" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionsFilled')">{{defaultFormValues[25]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>
			  
			  <!-- Data Grid  Contact Name -->
              <ngx-datatable-column name="applicantsApplied" [width]="160" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('applicantsApplied')">{{defaultFormValues[26]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

			   <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{defaultFormValues[4]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
			  
              
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[2]['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <!--<div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{defaultFormValues[30]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{defaultFormValues[31]['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>-->
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && CreateRequisitionsSetup(f, $event)" #f="ngForm" novalidate>

                <!-- TIME CODE field -->
                <div class="form-group">

                  <!--<div *ngIf="isUnderUpdate; then update else create"></div>-->
                  <ng-template #update>
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="id">{{defaultFormValues[8]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-8">
                          <input type="text" [ngClass]="'form-control fm-txt'" name="id" value="{{id}}"
                          title="{{defaultFormValues[8]['fieldValue']}}"  readonly required maxlength="15" />
                          <div *ngIf="f.submitted && id.invalid">
                          <div [hidden]="!id.errors.required">
                            {{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!id.errors?.maxlength" *ngIf="defaultFormValues[8]['listDtoFieldValidationMessage'][1]">
                            {{defaultFormValues[8]['listDtoFieldValidationMessage'][8]['validationMessage']}}
                          </div>
                          </div>
                        </div>                       
                      </div>
                    </div>
                  </div>
                  </ng-template>


                  <ng-template #create>
                  <!--<div [ngClass]="{ 'has-error': f.submitted && !timeCodeId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label for="timeCodeId" class="control-label">{{defaultFormValues[1]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                        <div class="col-md-8">
                          <input type="text" [ngClass]="'form-control fm-txt'" name="timeCodeId" [(ngModel)]="model.timeCodeId" #timeCodeId="ngModel"
                            title="{{defaultFormValues[1]['fieldValue']}}"  required maxlength="15" />
                          <div *ngIf="f.submitted && timeCodeId.invalid">
                          <div [hidden]="!timeCodeId.errors.required">
                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!timeCodeId.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="checkbox">
                            <label><input type="checkbox"  name="inActive" [(ngModel)]="model.inActive" #inActive="ngModel"> Inactive</label>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>-->
                  </ng-template>

                </div>
				
				<div class="col-md-12">
					<div class="col-md-6">
						<div class="form-group">
							<div [ngClass]="{'has-error': f.submitted && !requisitionNo.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-4">
								  <label class="control-label" for="requisitionNo">{{defaultFormValues[8]['fieldValue']}}</label>
								</div>
								<div class="col-md-8">
								  <div class="row">
									<div class="col-md-8">
									  <input type="text" [ngClass]="'form-control fm-txt'" name="requisitionNo"
									  title="{{defaultFormValues[8]['fieldValue']}}" required maxlength="15" [(ngModel)]="model.requisitionNo" #requisitionNo="ngModel"/>
									  <div *ngIf="f.submitted && requisitionNo.invalid">
									  <div [hidden]="!requisitionNo.errors.required">
										{{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									  </div>
									  <div [hidden]="!requisitionNo.errors?.maxlength" *ngIf="defaultFormValues[8]['listDtoFieldValidationMessage'][1]">
										{{defaultFormValues[8]['listDtoFieldValidationMessage'][8]['validationMessage']}}
									  </div>
									  </div>
									</div>                       
								  </div>
								</div>
							 </div>
						</div>
						<div class="form-group">
						  <div [ngClass]="{'has-error': f.submitted && !stats.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
							<div class="col-md-4">
							  <label class="control-label" for="stats">{{defaultFormValues[9]['fieldValue']}}</label>
							</div>
							<div class="col-md-8">
							  <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="stats" [(ngModel)]="model.stats" #stats="ngModel"
							  title="{{defaultFormValues[9]['fieldValue']}}" required>
								<option value="0" selected="selected">-- Select status --</option>
								<option value="1">Open</option>
								<option value="2">Close</option>
								<option value="3">On Hold</option>
								<option value="4">Immediate</option>
							  </select>    
							  <div *ngIf="f.submitted && stats.invalid">
								<div [hidden]="!stats.errors.required">
								  {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
								<div [hidden]="!stats.errors?.maxlength" *ngIf="defaultFormValues[9]['listDtoFieldValidationMessage'][1]">
								  {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
								</div>
							  </div>
							</div>
						  </div>
						</div>
						
						 <div class="form-group">
							<div [ngClass]="{'has-error': f.submitted && !internalPostDate.valid,'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

								<div class="col-md-4">
									<label class="control-label">{{defaultFormValues[10]['fieldValue']}}</label>
								</div>
								<div class="col-md-8">
									<div class="input-group">
										<input [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="internalPostDate" [(ngModel)]="modelInternalPostDate"
											[options]="myOptions" #dp1="ngx-mydatepicker" #internalPostDate="ngModel" required  readonly title="{{defaultFormValues[10]['helpMessage']}}" id="internalPostDate"/>

										<span class="input-group-btn">
											<button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
												<i class="glyphicon glyphicon-remove"></i>
											</button>
											<button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>

									</div>
									<div *ngIf="f.submitted && internalPostDate.invalid">
										<div [hidden]="!internalPostDate.errors.required">
										  {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>

									  </div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div [ngClass]="{'has-error': f.submitted && !internalCloseDate.valid,'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

								<div class="col-md-4">
									<label class="control-label">{{defaultFormValues[11]['fieldValue']}}</label>
								</div>
								<div class="col-md-8">
									<div class="input-group">
										<input [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="internalCloseDate" [(ngModel)]="modelInternalCloseDate"
											[options]="myOptions" #dp2="ngx-mydatepicker" #internalCloseDate="ngModel" required  readonly title="{{defaultFormValues[11]['helpMessage']}}" id="internalCloseDate"/>

										<span class="input-group-btn">
											<button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.clearDate()">
												<i class="glyphicon glyphicon-remove"></i>
											</button>
											<button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>

									</div>
									<div *ngIf="f.submitted && internalCloseDate.invalid">
										<div [hidden]="!internalCloseDate.errors.required">
										  {{defaultFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>

									  </div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div [ngClass]="{'has-error': f.submitted && !openingDate.valid,'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

								<div class="col-md-4">
									<label class="control-label">{{defaultFormValues[12]['fieldValue']}}</label>
								</div>
								<div class="col-md-8">
									<div class="input-group">
										<input [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="openingDate" [(ngModel)]="modelOpeningDate"
											[options]="myOptions" #dp3="ngx-mydatepicker" #openingDate="ngModel" required  readonly title="{{defaultFormValues[12]['helpMessage']}}" id="openingDate"/>

										<span class="input-group-btn">
											<button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp3.clearDate()">
												<i class="glyphicon glyphicon-remove"></i>
											</button>
											<button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp3.toggleCalendar()">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>

									</div>
									<div *ngIf="f.submitted && openingDate.invalid">
										<div [hidden]="!openingDate.errors.required">
										  {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>

									  </div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
						  <div [ngClass]="{'has-error': f.submitted && !recruiterName.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
							<div class="col-md-4">
							  <label class="control-label" for="recruiterName">{{defaultFormValues[13]['fieldValue']}}</label>
							</div>
							<div class="col-md-8">
							  <input type="text" [ngClass]="'form-control fm-txt'" name="recruiterName" [(ngModel)]="model.recruiterName"
									 #recruiterName="ngModel" title="{{defaultFormValues[13]['fieldValue']}}"
									 required maxlength="31" />
							  <div *ngIf="f.submitted && recruiterName.invalid">
								<div [hidden]="!recruiterName.errors.required">
								  {{defaultFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
								<div [hidden]="!recruiterName.errors?.maxlength" *ngIf="defaultFormValues[13]['listDtoFieldValidationMessage'][1]">
								  {{defaultFormValues[13]['listDtoFieldValidationMessage'][1]['validationMessage']}}
								</div>
							  </div>
							</div>
						  </div>
						</div>
						
						
						<div class="form-group">
							<div [ngClass]="{'col-md-12 col-xs-12':true, '': currentLanguage == 2}">
								<div class="col-md-12">
									<label class="control-label" for="jobPosting">{{defaultFormValues[14]['fieldValue']}}</label>
								</div>
								<div class="col-md-3">
									
									<input type="radio" [ngClass]="''" name="jobPosting" [(ngModel)]="model.jobPosting" #jobPosting="ngModel"
										title="{{defaultFormValues[14]['helpMessage']}}"   [value]="1"  />
									
									
									<label class="control-label" for="jobPosting">{{defaultFormValues[15]['fieldValue']}}</label>
								</div>
								<div class="col-md-3">
									
									<input type="radio" [ngClass]="''" name="jobPosting" [(ngModel)]="model.jobPosting" #jobPosting="ngModel"
										title="{{defaultFormValues[14]['helpMessage']}}" [value]="2"  />
								   
									
									<label class="control-label" for="jobPosting">{{defaultFormValues[16]['fieldValue']}}</label>
								</div>
							</div>
						</div> 
						
						<div class="form-group">
							<div [ngClass]="{'has-error': f.submitted && !advertisingField1.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-12">
								  <label class="control-label" for="advertisingField1">{{defaultFormValues[17]['fieldValue']}}</label>
								</div>
								<div class="col-md-12" style="margin-top:10px;">
								  <input type="text" [ngClass]="'form-control fm-txt'" name="advertisingField1" [(ngModel)]="model.advertisingField1"
										 #advertisingField1="ngModel" title="{{defaultFormValues[17]['fieldValue']}}"
										 required maxlength="31" />
								  <div *ngIf="f.submitted && advertisingField1.invalid">
									<div [hidden]="!advertisingField1.errors.required">
									  {{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div [hidden]="!advertisingField1.errors?.maxlength" *ngIf="defaultFormValues[17]['listDtoFieldValidationMessage'][1]">
									  {{defaultFormValues[17]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								  </div>
								</div>
							</div>
							<div [ngClass]="{'has-error': f.submitted && !advertisingField2.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-12" style="margin-top:10px;">
								  <input type="text" [ngClass]="'form-control fm-txt'" name="advertisingField2" [(ngModel)]="model.advertisingField2"
										 #advertisingField2="ngModel" title="{{defaultFormValues[17]['fieldValue']}}"
										 required maxlength="31" />
								  <div *ngIf="f.submitted && advertisingField2.invalid">
									<div [hidden]="!advertisingField2.errors.required">
									  {{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div [hidden]="!advertisingField2.errors?.maxlength" *ngIf="defaultFormValues[17]['listDtoFieldValidationMessage'][1]">
									  {{defaultFormValues[17]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								  </div>
								</div>
							</div>
							<div [ngClass]="{'has-error': f.submitted && !advertisingField3.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-12" style="margin-top:10px;">
								  <input type="text" [ngClass]="'form-control fm-txt'" name="advertisingField3" [(ngModel)]="model.advertisingField3"
										 #advertisingField3="ngModel" title="{{defaultFormValues[17]['fieldValue']}}"
										 required maxlength="31" />
								  <div *ngIf="f.submitted && advertisingField3.invalid">
									<div [hidden]="!advertisingField3.errors.required">
									  {{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div [hidden]="!advertisingField3.errors?.maxlength" *ngIf="defaultFormValues[17]['listDtoFieldValidationMessage'][1]">
									  {{defaultFormValues[17]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								  </div>
								</div>
							</div>
							<div [ngClass]="{'has-error': f.submitted && !advertisingField4.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-12" style="margin-top:10px;">
								  <input type="text" [ngClass]="'form-control fm-txt'" name="advertisingField4" [(ngModel)]="model.advertisingField4"
										 #advertisingField4="ngModel" title="{{defaultFormValues[17]['fieldValue']}}"
										 required maxlength="31" />
								  <div *ngIf="f.submitted && advertisingField4.invalid">
									<div [hidden]="!advertisingField4.errors.required">
									  {{defaultFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div [hidden]="!advertisingField4.errors?.maxlength" *ngIf="defaultFormValues[17]['listDtoFieldValidationMessage'][1]">
									  {{defaultFormValues[17]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								  </div>
								</div>
							</div>			
						</div>												
					</div>
						<div class="col-md-6">					
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !companyId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-3">
									<label class="control-label" for="companyId">{{defaultFormValues[18]['fieldValue']}}</label>
								</div>
								<div class="col-md-3 requi-descript">
								<input type="text" [ngClass]="'form-control fm-txt'" name="companyId" [(ngModel)]="modelCompanyId"
										#companyId="ngModel" title="{{defaultFormValues[18]['fieldValue']}}"
										required maxlength="31"
										[typeahead]="dataSource"
										(typeaheadLoading)="changeTypeaheadLoading($event)"
										autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event,'company')"							
										typeaheadOptionField="companyId"/>
										<i id="filtersubmit" class="fa fa-search"></i>

										<div *ngIf="typeaheadLoading">Loading</div>
									<div *ngIf="f.submitted && companyId.invalid">
									<div [hidden]="!companyId.errors.required">
										{{defaultFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div [hidden]="!companyId.errors?.maxlength" *ngIf="defaultFormValues[18]['listDtoFieldValidationMessage'][1]">
										{{defaultFormValues[18]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
									</div>
								</div>
								<div class="col-md-6 requi-description">
									<input type="text" class="form-control fm-txt" readonly> 
								</div>
								</div>
							</div>
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !divisionId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-3">
									<label class="control-label" for="divisionId">{{defaultFormValues[19]['fieldValue']}}</label>
								</div>
								<div class="col-md-3 requi-descript">
								<input type="text" [ngClass]="'form-control fm-txt'" name="divisionId" [(ngModel)]="modelDivisionId"
										#divisionId="ngModel" title="{{defaultFormValues[19]['fieldValue']}}"
										required maxlength="31"
										[typeahead]="divisionSource"
										(typeaheadLoading)="changeTypeaheadLoading($event)"
										autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event,'division')"							
										typeaheadOptionField="divisionId"/>
										<i id="filtersubmit" class="fa fa-search"></i>
										<div *ngIf="typeaheadLoading">Loading</div>
									<div *ngIf="f.submitted && divisionId.invalid">
									<div [hidden]="!divisionId.errors.required">
										{{defaultFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div [hidden]="!divisionId.errors?.maxlength" *ngIf="defaultFormValues[19]['listDtoFieldValidationMessage'][1]">
										{{defaultFormValues[19]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
									</div>								
								</div>
								<div class="col-md-6 requi-description">
										<input type="text" class="form-control fm-txt" readonly name="divisionDescription" [(ngModel)]="divisionDescription"> 
								</div>
								</div>
							</div>
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !departmentId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-3">
									<label class="control-label" for="departmentId">{{defaultFormValues[20]['fieldValue']}}</label>
								</div>
								<div class="col-md-3 requi-descript">
								<input type="text" [ngClass]="'form-control fm-txt'" name="departmentId" [(ngModel)]="modelDepartmentId"
										#departmentId="ngModel" title="{{defaultFormValues[20]['fieldValue']}}"
										required maxlength="31"
										[typeahead]="departmentSource"
										(typeaheadLoading)="changeTypeaheadLoading($event)"
										autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event,'department')"							
										typeaheadOptionField="departmentId"/>
										<i id="filtersubmit" class="fa fa-search"></i>

										<div *ngIf="typeaheadLoading">Loading</div>
									<div *ngIf="f.submitted && departmentId.invalid">
									<div [hidden]="!departmentId.errors.required">
										{{defaultFormValues[20]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div [hidden]="!departmentId.errors?.maxlength" *ngIf="defaultFormValues[20]['listDtoFieldValidationMessage'][1]">
										{{defaultFormValues[20]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
									</div>
								</div>
								<div class="col-md-6 requi-description">
										<input type="text" class="form-control fm-txt" readonly name="departmentDescription" [(ngModel)]="departmentDescription"> 
								</div>
								</div>
							</div>
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !positionId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
									<div class="col-md-3">
										<label class="control-label" for="positionId">{{defaultFormValues[21]['fieldValue']}}</label>
									</div>
									<div class="col-md-3 requi-descript">
										<input type="text" [ngClass]="'form-control fm-txt'" name="positionId" [(ngModel)]="modelPositionId"
												#positionId="ngModel" title="{{defaultFormValues[21]['fieldValue']}}"
												required maxlength="31"
												[typeahead]="positionSource"
												(typeaheadLoading)="changeTypeaheadLoading($event)"
												autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event,'position')"							
												typeaheadOptionField="positionId"/>
											<i id="filtersubmit" class="fa fa-search"></i>
											<div *ngIf="typeaheadLoading">Loading</div>
										<div *ngIf="f.submitted && positionId.invalid">
										<div [hidden]="!positionId.errors.required">
											{{defaultFormValues[21]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div [hidden]="!positionId.errors?.maxlength" *ngIf="defaultFormValues[21]['listDtoFieldValidationMessage'][1]">
											{{defaultFormValues[21]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										</div>
									</div>
									<div class="col-md-6 requi-description">
										<input type="text" class="form-control fm-txt" readonly name="positionDescription" [(ngModel)]="positionDescription"> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !supervisorId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
									<div class="col-md-3">
										<label class="control-label" for="supervisorId">{{defaultFormValues[22]['fieldValue']}}</label>
									</div>
									<div class="col-md-3 requi-descript">
										<input type="text" [ngClass]="'form-control fm-txt'" name="supervisorId" [(ngModel)]="modelSupervisorId"
											#supervisorId="ngModel" title="{{defaultFormValues[22]['fieldValue']}}"
											required maxlength="31"
											[typeahead]="supervisorSource"
											(typeaheadLoading)="changeTypeaheadLoading($event)"
											autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event,'supervisor')"							
											typeaheadOptionField="superVisionCode"/>
											<i id="filtersubmit" class="fa fa-search"></i>
											<div *ngIf="typeaheadLoading">Loading</div>
										<div *ngIf="f.submitted && supervisorId.invalid">
										<div [hidden]="!supervisorId.errors.required">
											{{defaultFormValues[22]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div [hidden]="!supervisorId.errors?.maxlength" *ngIf="defaultFormValues[21]['listDtoFieldValidationMessage'][1]">
											{{defaultFormValues[22]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										</div>
									</div>
									<div class="col-md-6 requi-description">
										<input type="text" class="form-control fm-txt" readonly name="supervisorDescription" [(ngModel)]="supervisorDescription"> 
									</div>
								</div>
							</div>
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !managerName.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
									<div class="col-md-3">
										<label class="control-label" for="managerName">{{defaultFormValues[23]['fieldValue']}}</label>
									</div>
									<div class="col-md-9">
										<input type="text" [ngClass]="'form-control fm-txt'" name="managerName" [(ngModel)]="model.managerName"
											#managerName="ngModel" title="{{defaultFormValues[23]['fieldValue']}}"
											required maxlength="31" />
										<div *ngIf="f.submitted && managerName.invalid">
										<div [hidden]="!managerName.errors.required">
											{{defaultFormValues[23]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div [hidden]="!managerName.errors?.maxlength" *ngIf="defaultFormValues[23]['listDtoFieldValidationMessage'][1]">
											{{defaultFormValues[23]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										</div>
									</div>									
								</div>
							</div>
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !positionsAvailable.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
									<div class="col-md-6">
										<label class="control-label" for="positionsAvailable">{{defaultFormValues[24]['fieldValue']}}</label>
									</div>
									<div class="col-md-4">
										<input type="text" [ngClass]="'form-control fm-txt'" name="positionsAvailable" [(ngModel)]="model.positionsAvailable"
											#positionsAvailable="ngModel" title="{{defaultFormValues[24]['fieldValue']}}"
											required maxlength="31" />
										<div *ngIf="f.submitted && positionsAvailable.invalid">
										<div [hidden]="!positionsAvailable.errors.required">
											{{defaultFormValues[24]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div [hidden]="!positionsAvailable.errors?.maxlength" *ngIf="defaultFormValues[24]['listDtoFieldValidationMessage'][1]">
											{{defaultFormValues[24]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										</div>
									</div>
									<div class="col-md-2"></div>
								</div>
							</div>
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !positionsFilled.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
									<div class="col-md-6">
										<label class="control-label" for="positionsFilled">{{defaultFormValues[25]['fieldValue']}}</label>
									</div>
									<div class="col-md-4">
										<input type="text" [ngClass]="'form-control fm-txt'" name="positionsFilled" [(ngModel)]="model.positionsFilled"
											#positionsFilled="ngModel" title="{{defaultFormValues[25]['fieldValue']}}"
											required maxlength="31" />
										<div *ngIf="f.submitted && positionsFilled.invalid">
										<div [hidden]="!positionsFilled.errors.required">
											{{defaultFormValues[25]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div [hidden]="!positionsFilled.errors?.maxlength" *ngIf="defaultFormValues[25]['listDtoFieldValidationMessage'][1]">
											{{defaultFormValues[25]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
										</div>
									</div>
									<div class="col-md-2"></div>
								</div>
							</div>
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !applicantsApplied.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-6">
									<label class="control-label" for="applicantsApplied">{{defaultFormValues[26]['fieldValue']}}</label>
								</div>
								<div class="col-md-4">
									<input type="text" [ngClass]="'form-control fm-txt'" name="applicantsApplied" [(ngModel)]="model.applicantsApplied"
										#applicantsApplied="ngModel" title="{{defaultFormValues[26]['fieldValue']}}"
										required maxlength="31" />
									<div *ngIf="f.submitted && applicantsApplied.invalid">
									<div [hidden]="!applicantsApplied.errors.required">
										{{defaultFormValues[26]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div [hidden]="!applicantsApplied.errors?.maxlength" *ngIf="defaultFormValues[26]['listDtoFieldValidationMessage'][1]">
										{{defaultFormValues[26]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
									</div>
								</div>
								<div class="col-md-2"></div>
								</div>
							</div>
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !applicantsInterviewed.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-6">
									<label class="control-label" for="applicantsInterviewed">{{defaultFormValues[27]['fieldValue']}}</label>
								</div>
								<div class="col-md-4">
									<input type="text" [ngClass]="'form-control fm-txt'" name="applicantsInterviewed" [(ngModel)]="model.applicantsInterviewed"
										#applicantsInterviewed="ngModel" title="{{defaultFormValues[27]['fieldValue']}}"
										required maxlength="31" />
									<div *ngIf="f.submitted && applicantsInterviewed.invalid">
									<div [hidden]="!applicantsInterviewed.errors.required">
										{{defaultFormValues[27]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div [hidden]="!applicantsInterviewed.errors?.maxlength" *ngIf="defaultFormValues[27]['listDtoFieldValidationMessage'][1]">
										{{defaultFormValues[27]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
									</div>
								</div>
								<div class="col-md-2"></div>
								</div>
							</div>
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !costadvirs.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-6">
									<label class="control-label" for="costadvirs">{{defaultFormValues[28]['fieldValue']}}</label>
								</div>
								<div class="col-md-4">
									<input type="text" [ngClass]="'form-control fm-txt'" name="costadvirs" [(ngModel)]="model.costadvirs"
										#costadvirs="ngModel" title="{{defaultFormValues[28]['fieldValue']}}"
										required maxlength="31" />
									<div *ngIf="f.submitted && costadvirs.invalid">
									<div [hidden]="!costadvirs.errors.required">
										{{defaultFormValues[28]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div [hidden]="!costadvirs.errors?.maxlength" *ngIf="defaultFormValues[28]['listDtoFieldValidationMessage'][1]">
										{{defaultFormValues[28]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
									</div>
								</div>
								<div class="col-md-2"></div>
								</div>
							</div>
							<div class="form-group">
								<div [ngClass]="{'has-error': f.submitted && !costrecri.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
								<div class="col-md-6">
									<label class="control-label" for="costrecri">{{defaultFormValues[29]['fieldValue']}}</label>
								</div>
								<div class="col-md-4">
									<input type="text" [ngClass]="'form-control fm-txt'" name="costrecri" [(ngModel)]="model.costrecri"
										#costrecri="ngModel" title="{{defaultFormValues[29]['fieldValue']}}"
										required maxlength="31" />
									<div *ngIf="f.submitted && costrecri.invalid">
									<div [hidden]="!costrecri.errors.required">
										{{defaultFormValues[29]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div [hidden]="!costrecri.errors?.maxlength" *ngIf="defaultFormValues[29]['listDtoFieldValidationMessage'][1]">
										{{defaultFormValues[29]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
									</div>
								</div>
								<div class="col-md-2"></div>
								</div>
							</div>
						</div>
					</div>
                <!-- DESCRIPTION Field -->
                <!-- Buttons -->
				<div [ngClass]="'button-row'">
					<div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
						<div [ngClass]="'col-xs-12'">
						<span class="pull-right">
							<button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[1]['fieldValue']}}</button>
							<button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[6]['fieldValue']}}</button>
							<button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[2]['fieldValue']}}</button>
							<button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[3]['fieldValue']}}</button>
							<button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[7]['fieldValue']}}</button>	
						</span>
						</div>
					</div>
				</div>
            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>