<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{EMPLOYEE_EDUCATION_CREATE_LABEL['helpMessage']}}">{{EMPLOYEE_EDUCATION_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{EMPLOYEE_EDUCATION_SEARCH['helpMessage']}}" placeholder="{{EMPLOYEE_EDUCATION_SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department doNotPrint">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="EmployeeEducationGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selectedFirst" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Employee Education ID -->
              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                </div>
            </div>
              <!-- <ngx-datatable-column name="employeeId" [width]="110" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('employeeId')">{{EMPLOYEE_EDUCATION_EMPLOYEE_ID['fieldValue']}}</span>
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.employeeMaster == null ? "" : row.employeeMaster.employeeId }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="schoolName" [width]="125" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('schoolName')">{{EMPLOYEE_EDUCATION_SCHOOL_NAME['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="major" [width]="125" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('major')">{{EMPLOYEE_EDUCATION_MAJOR['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="startYear" [width]="90" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('startYear')">{{EMPLOYEE_EDUCATION_START_YEAR['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="endYear" [width]="90" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('endYear')">{{EMPLOYEE_EDUCATION_END_YEAR['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="degree" [width]="150" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('degree')">{{EMPLOYEE_EDUCATION_DEGREE['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="gpa" [width]="110" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('gpa')">{{EMPLOYEE_EDUCATION_GPA['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="comments" [width]="150" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort('comments')">{{EMPLOYEE_EDUCATION_COMMENTS['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column> -->

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="60" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{EMPLOYEE_EDUCATION_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>

        <div class="button-row" doNotPrint>
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #employeeEducationId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
        </div>
          <!-- Table View Ends -->
          <!-- print Header -->
          <div *ngIf="(isUnderUpdate && doNotPrintHearder)" style="border: 1px solid gray" [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
            <div class="col-md-3">
              <label class="control-label" for="employeeId" style="font-size: 24px">{{EMPLOYEE_EDUCATION_EMPLOYEE_ID['fieldValue']}}</label>
              <span *ngIf="EMPLOYEE_EDUCATION_EMPLOYEE_ID['isMandatory']">*</span>
            </div>
            <div class="col-md-2">
              <input type="text" [ngClass]="'form-control fm-txt'" style="font-size: 24px" name="employeeId" value="{{employeeIdvalue}}" title="{{EMPLOYEE_EDUCATION_EMPLOYEE_ID['helpMessage']}}"
                maxlength="10" [readonly]="!EMPLOYEE_EDUCATION_EMPLOYEE_ID['writeAccess']" [required]="EMPLOYEE_EDUCATION_EMPLOYEE_ID['isMandatory']" />
            </div>
            <div class="col-md-2">
              <label class="control-label" for="name" style="font-size: 24px">Name</label>
            </div>
            <div class="col-md-5">
              <input type="text" [ngClass]="'form-control fm-txt'" style="font-size: 24px" name="employeeName" [value]="model1.employeeMaster==null?'':model1.employeeMaster.employeeFirstName.concat(' ', model1.employeeMaster.employeeMiddleName, ' ', model1.employeeMaster.employeeLastName)"
                readonly />
            </div>
          </div>

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{EMPLOYEE_EDUCATION_DELETE_LABEL['fieldValue']}}</button>


          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30 doNotPrint">
              <h3 *ngIf="!model1.id">{{EMPLOYEE_EDUCATION_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model1.id">{{EMPLOYEE_EDUCATION_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div *ngIf="Warning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="gpaValid && CreateEmployeeEducation(f, $event)" #f="ngForm" novalidate>
              
              
              <!-- schedule Id field -->
              <div class="form-group">

                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #update>
                  <div *ngIf="isUnderUpdate" [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-3">
                      <label class="control-label" for="employeeId">{{EMPLOYEE_EDUCATION_EMPLOYEE_ID['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_EDUCATION_EMPLOYEE_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-3">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="employeeId" value="{{employeeIdvalue}}" title="{{EMPLOYEE_EDUCATION_EMPLOYEE_ID['helpMessage']}}"
                        maxlength="10" [readonly]="!EMPLOYEE_EDUCATION_EMPLOYEE_ID['writeAccess']" [required]="EMPLOYEE_EDUCATION_EMPLOYEE_ID['isMandatory']" />
                    </div>
                    <div class="col-md-6">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="employeeName" [value]="model1.employeeMaster.employeeFirstName.concat(' ', model1.employeeMaster.employeeMiddleName, ' ', model1.employeeMaster.employeeLastName)"
                        readonly />
                    </div>
                  </div>
                </ng-template>


                <ng-template #create>
                  <div *ngIf="!isUnderUpdate" [ngClass]="{ 'has-error': addSubmitted && (!employeeId.valid || employeeName.value=='  '),'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-3">
                      <label for="employeeId">{{EMPLOYEE_EDUCATION_EMPLOYEE_ID['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_EDUCATION_EMPLOYEE_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-3">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="employeeId" [(ngModel)]="model1.employeeMaster.employeeId" #employeeId="ngModel"
                        title="{{EMPLOYEE_EDUCATION_EMPLOYEE_ID['helpMessage']}}" [typeahead]="employeeIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                        (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="employeeId" class="search-id"
                        autocomplete="off" maxlength="10" [readonly]="addSubmittedOnce" [ngModelOptions]="{standalone: true}"
                        [required]="EMPLOYEE_EDUCATION_EMPLOYEE_ID['isMandatory']" />
                    </div>
                    <div class="col-md-6">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="employeeName" [value]="model1.employeeMaster ==null || model1.employeeMaster.employeeFirstName == null? '  ' :model1.employeeMaster.employeeFirstName.concat(' ', model1.employeeMaster.employeeMiddleName, ' ', model1.employeeMaster.employeeLastName)"
                        #employeeName readonly />
                    </div>

                    <div class="col-md-9 col-md-offset-3">
                      <div *ngIf="addSubmitted && employeeId.invalid">
                        <div [hidden]="!employeeId.errors.required">
                          {{EMPLOYEE_EDUCATION_EMPLOYEE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!employeeId.errors?.maxlength">
                          {{EMPLOYEE_EDUCATION_EMPLOYEE_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

              </div>

              <!-- Employee Education School Name Field -->
              <div class="form-group">
                <div [ngClass]="{'has-error': addSubmitted && !schoolName.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-3">
                    <label class="control-label" for="schoolName">{{EMPLOYEE_EDUCATION_SCHOOL_NAME['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_EDUCATION_SCHOOL_NAME['isMandatory']">*</span>
                  </div>
                  <div class="col-md-6">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="schoolName" [(ngModel)]="model1.schoolName" #schoolName="ngModel"
                      title="{{EMPLOYEE_EDUCATION_SCHOOL_NAME['helpMessage']}}" [required]="EMPLOYEE_EDUCATION_SCHOOL_NAME['isMandatory']" maxlength="90" />
                    <div *ngIf="addSubmitted && schoolName.invalid">
                      <div [hidden]="!schoolName.errors.required">
                        {{EMPLOYEE_EDUCATION_SCHOOL_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!schoolName.errors?.maxlength">
                        {{EMPLOYEE_EDUCATION_SCHOOL_NAME['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Employee Education Major -->
              <div class="form-group">
                <div [ngClass]="{'has-error': addSubmitted && !major.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-3">
                    <label class="control-label" for="major">{{EMPLOYEE_EDUCATION_MAJOR['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_EDUCATION_MAJOR['isMandatory']">*</span>
                  </div>
                  <div class="col-md-6">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="major" [(ngModel)]="model1.major" #major="ngModel" title="{{EMPLOYEE_EDUCATION_MAJOR['helpMessage']}}"
                      maxlength="90" required />
                    <div *ngIf="addSubmitted && major.invalid">
                      <div [hidden]="!major.errors.required">
                        {{EMPLOYEE_EDUCATION_MAJOR['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!major.errors?.maxlength">
                        {{EMPLOYEE_EDUCATION_MAJOR['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Start Date -->
              <div class="form-group">
                <div [ngClass]="{'has-error': addSubmitted && !startYear.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-3">
                    <label class="control-label" for="startYear">{{EMPLOYEE_EDUCATION_START_YEAR['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_EDUCATION_START_YEAR['isMandatory']">*</span>
                  </div>
                  <div class="col-md-3">
                    <select [ngClass]="'form-control fm-txt'" name="startYear" [(ngModel)]="model1.startYear" #startYear="ngModel" title="{{EMPLOYEE_EDUCATION_START_YEAR['helpMessage']}}"
                    [required]="EMPLOYEE_EDUCATION_START_YEAR['isMandatory']" onmousedown="if(this.options.length>5){this.size=5;}" onchange="this.blur()" onblur="this.size=0;">
                      <option value="">-- Start Year --</option>
                      <option *ngFor='let year of years' [value]="year" [selected]="year == model1.startYear">{{year}}</option>
                    </select>
                    <div *ngIf="addSubmitted && startYear.invalid">
                      <div [hidden]="!startYear.errors.required">
                        {{EMPLOYEE_EDUCATION_START_YEAR['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!startYear.errors?.maxlength">
                        {{EMPLOYEE_EDUCATION_START_YEAR['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- End Date -->
              <div class="form-group">
                <div [ngClass]="{'has-error': addSubmitted && !endYear.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-3">
                    <label class="control-label" for="endYear">{{EMPLOYEE_EDUCATION_END_YEAR['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_EDUCATION_END_YEAR['isMandatory']">*</span>
                  </div>
                  <div class="col-md-3">
                    <select [ngClass]="'form-control fm-txt'" name="endYear" [(ngModel)]="model1.endYear" #endYear="ngModel" title="{{EMPLOYEE_EDUCATION_END_YEAR['helpMessage']}}"
                    [required]="EMPLOYEE_EDUCATION_END_YEAR['isMandatory']" onmousedown="if(this.options.length>5){this.size=5;}" onchange="this.blur()" onblur="this.size=0;">
                      <option value="">-- End Year --</option>
                      <ng-container *ngFor='let year of years'>
                        <option *ngIf="year >= model1.startYear" [value]="year" [selected]="year == model1.endYear">{{year}}</option>
                      </ng-container>
                    </select>
                    <div *ngIf="addSubmitted && endYear.invalid">
                      <div [hidden]="!endYear.errors.required">
                        {{EMPLOYEE_EDUCATION_END_YEAR['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!endYear.errors?.maxlength">
                        {{EMPLOYEE_EDUCATION_END_YEAR['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Employee Education Degree -->
              <div class="form-group">
                <div [ngClass]="{'has-error': addSubmitted && !degree.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-3">
                    <label class="control-label" for="degree">{{EMPLOYEE_EDUCATION_DEGREE['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_EDUCATION_DEGREE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-3">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="degree" [(ngModel)]="model1.degree" #degree="ngModel" title="{{EMPLOYEE_EDUCATION_DEGREE['helpMessage']}}"
                      maxlength="30" [required]="EMPLOYEE_EDUCATION_DEGREE['isMandatory']" />
                    <div *ngIf="addSubmitted && degree.invalid">
                      <div [hidden]="!degree.errors.required">
                        {{EMPLOYEE_EDUCATION_DEGREE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!degree.errors?.maxlength">
                        {{EMPLOYEE_EDUCATION_DEGREE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Employee Education gpa -->
              <div class="form-group">
                <div [ngClass]="{'has-error': (addSubmitted && !gpa.valid) || !gpaValid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-3">
                    <label class="control-label" for="gpa">{{EMPLOYEE_EDUCATION_GPA['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_EDUCATION_GPA['isMandatory']">*</span>
                  </div>
                  <div class="col-md-3">
                    <!-- <input type="number" [ngClass]="'form-control fm-txt'" name="gpa" [(ngModel)]="model1.gpa" #gpa="ngModel" title="{{EMPLOYEE_EDUCATION_GPA['helpMessage']}}"
                      maxlength="5" min=0 (keypress)="_keyPress($event)" oninput="javascript: this.value=this.value.replace(/^0+/, ''); if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" required />
                     -->
                    <input type="number" [ngClass]="'form-control fm-txt'" name="gpa" [(ngModel)]="model1.gpa" #gpa="ngModel" title="{{EMPLOYEE_EDUCATION_GPA['helpMessage']}}"
                      (keyup)="checkdecimalgpa(gpa.value)" oninput="javascript: this.value=this.value.replace(/^0+/, ''); if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      maxlength="9" min=0 [required]="EMPLOYEE_EDUCATION_GPA['isMandatory']" />
                    <div *ngIf="(addSubmitted && gpa.invalid) || !gpaValid">
                      <div *ngIf="addSubmitted && gpa.invalid">
                        <div [hidden]="!gpa.errors.required">
                          {{EMPLOYEE_EDUCATION_GPA['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                      <div [hidden]="gpaValid">
                        Invalid input
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Employee Education Comment -->
              <div class="form-group">
                <div [ngClass]="{'has-error': addSubmitted && !comments.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-3">
                    <label class="control-label" for="comments">{{EMPLOYEE_EDUCATION_COMMENTS['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_EDUCATION_COMMENTS['isMandatory']">*</span>
                  </div>
                  <div class="col-md-9">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="comments" [(ngModel)]="model1.comments" #comments="ngModel" title="{{EMPLOYEE_EDUCATION_COMMENTS['helpMessage']}}"
                      maxlength="150" />
                    <div *ngIf="addSubmitted && comments.invalid">
                      <div [hidden]="!comments.errors.required">
                        {{EMPLOYEE_EDUCATION_COMMENTS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!comments.errors?.maxlength">
                        {{EMPLOYEE_EDUCATION_COMMENTS['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- SUB TABLE STARTS HERE -->
              <div *ngIf="isUnderCreate && !isUnderUpdate">
                <div class="col-md-12 mt-30">
                  <hr>
                </div>
                <div class="algo-table algo-table-department">
                  <!-- Data Grid Starts-->
                  <div class="table-responsive" style="display: flex;
                  justify-content: center;
                  align-items: center; ">

                    <div class="col-md-11 mt-30">
                      <ngx-datatable id="EmployeeEducationGrid2" class="material" [rows]="rows2" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="'auto'" [selected]="selectedSecond" [selectionType]="'checkbox'" (select)='onSelect2($event)'>

                        <!-- Data Grid checkbox -->
                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                          [checkboxable]="true">
                        </ngx-datatable-column>

                        <!-- Data Grid Employee Education School Name -->
                        <ngx-datatable-column name="schoolName" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort('schoolName')">{{EMPLOYEE_EDUCATION_SCHOOL_NAME['fieldValue']}}</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid Employee Education Major -->
                        <ngx-datatable-column name="major" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort('major')">{{EMPLOYEE_EDUCATION_MAJOR['fieldValue']}}</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid Employee Education End Year -->
                        <ngx-datatable-column name="endYear" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort('endYear')">{{EMPLOYEE_EDUCATION_END_YEAR['fieldValue']}}</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid Employee Education Degree -->
                        <ngx-datatable-column name="degree" [width]="865" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort('degree')">{{EMPLOYEE_EDUCATION_DEGREE['fieldValue']}}</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid Employee Education gpa -->
                        <ngx-datatable-column name="gpa" [width]="90" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort('gpa')">{{EMPLOYEE_EDUCATION_GPA['fieldValue']}}</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>

                      </ngx-datatable>
                      <!-- Data Grid Ends-->
                    </div>
                    <div class="col-md-1 mt-30" style="margin-top: -42px;">
                      <button type="button" style="font-size: 25px;margin: 2px;" class="fa fa-long-arrow-left" (mouseup)="addSubmitted = true" (click)="f.valid && gpaValid && addToList(f)"></button>
                      <br>
                      <button type="button" style="font-size: 25px;margin: 2px;" class="fa fa-long-arrow-right" [disabled]="rows2 == null || rows2.length == 0" (click)="removeFromList()"></button>
                      <!-- Table View Ends -->
                    </div>

                  </div>
                </div>
              </div>
              <div id="print-section" class="print-tabel">
                <table class="details" style="width: 100% !important; min-width: 1200px; table-layout: fixed; border-spacing: 0; border-collapse: separate;font-family: 'Open Sans', sans-serif;margin-bottom: 20px;">
                    <tr>
                       
                        <td align='left' style=" padding: 0; border: none; border-radius: 10px;font-size: 14px;">
                            <table style="width: 100% !important;  table-layout: fixed; border-spacing: 0; border-collapse: separate; font-family: 'Open Sans', sans-serif;">
                                <tr>
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{EMPLOYEE_EDUCATION_EMPLOYEE_ID['fieldValue']}}</th>
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{EMPLOYEE_EDUCATION_SCHOOL_NAME['fieldValue']}}</th>
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{EMPLOYEE_EDUCATION_START_YEAR['fieldValue']}}</th>
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{EMPLOYEE_EDUCATION_END_YEAR['fieldValue']}}</th>
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{EMPLOYEE_EDUCATION_DEGREE['fieldValue']}}</th>
                                      <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                        {{EMPLOYEE_EDUCATION_GPA['fieldValue']}}</th>
                                    
                                </tr>
                                <tr>
                                  <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                    {{model1.employeeMaster.employeeId}}</td>
                                <td align="center" style="border: 1px solid #8e8e8e; font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                    {{model1.schoolName}}</td>
                                       <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                      {{model1.startYear}}</td>
                                    <td align="center" style="border: 1px solid #8e8e8e; font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                      {{model1.endYear}}</td>
                                        <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                          {{model1.degree}}</td>
                                          <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                            {{model1.gpa}}</td>
                                      
                                </tr>  
                            </table>
                        </td>
                    </tr>
                </table>
  </div>
              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model1.id" (click)="addSubmitted = true;" [ngClass]="'grey-btn'">{{EMPLOYEE_EDUCATION_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model1.id" [ngClass]="'grey-btn'">{{EMPLOYEE_EDUCATION_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'grey-btn  '" type="button" (click)="printEmployeeDetails()" *ngIf="model1.id">Print</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{EMPLOYEE_EDUCATION_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{EMPLOYEE_EDUCATION_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
        <!-- Create Update form ends -->
      <!-- </div> -->


    </section>
  </section>

</div>
