 <div class="content-wrapper" >
                <section class="content">
                  <div class="section-heading"><h2>{{moduleName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                    <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                          {{messageText}}
                    </div>
                       <div class="col-sm-12"><hr></div>
                       <div class="content-heading"><h3>{{screenName}}</h3> </div>
                    <div class="content-outer com-form">
                      <div class="row">
						  <form (ngSubmit)="!hasMsg && f.form.valid && saveAccountType(f)" #f="ngForm" novalidate>
                         <div class="form-row">
                        <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultAddFormValues[0]['readAccess']">
                            <div [ngClass]="{ 'has-error': f.submitted && !accountTypeName.valid,'':true }">
                                <label for="accountTypeName">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                <input myAutofocus type="text" [ngClass]="'form-control fm-txt'" autofocus name="accountTypeName" [(ngModel)]="model.accountTypeName" 
                                #accountTypeName="ngModel" 
                                title="{{defaultAddFormValues[0]['helpMessage']}}"
                                 maxlength="25"   required />
                                <div *ngIf="f.submitted && accountTypeName.invalid">
                                    <div class='error-msg' *ngIf="accountTypeName.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="accountTypeName.errors.maxlength">
                                        {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div><!-- Form Row Ends -->
                            <div class="form-row">
                         <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultAddFormValues[1]['readAccess']">
                            <div [ngClass]="{ 'has-error': f.submitted && !accountTypeNameArabic.valid,'':true }">
                                <label for="accountTypeNameArabic">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="accountTypeNameArabic" [(ngModel)]="model.accountTypeNameArabic" 
                                #accountTypeNameArabic="ngModel" 
                                title="{{defaultAddFormValues[1]['helpMessage']}}"
                                 maxlength="25"   required />
                                <div *ngIf="f.submitted && accountTypeNameArabic.invalid">
                                    <div class='error-msg' *ngIf="accountTypeNameArabic.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="accountTypeNameArabic.errors.maxlength">
                                        {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div><!-- Form Row Ends -->
                    <div class="button-row">
                      <div class="col-sm-12">
                        <button class="orange-btn" title="{{defaultAddFormValues[2]['helpMessage']}}">{{defaultAddFormValues[2]['fieldValue']}}</button>
                        <input type="button" class="blue-btn" title="{{defaultAddFormValues[3]['helpMessage']}}" (click)="f.resetForm();" value="{{defaultAddFormValues[3]['fieldValue']}}"/>
                        </div>

                    </div>
</form>
<div class="form-row">  
                        	<div class="col-xs-12">
		                        <div class="algo-table">
		                        <div class="table-responsive">
						<ngx-datatable id="configurationGrid" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected"
							(select)='onSelect($event)'> 
                        <ngx-datatable-column  name="accountTypeId" [width]="320"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">Account </span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column  name="accountTypeName" [width]="320"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="accountTypeNameArabic" 
							[width]="320" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="Action" [width]="180" *ngIf="defaultManageFormValues[3]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[4]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getaccountTypeById(row)" title="{{defaultManageFormValues[3]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
		                    </div>
                            <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>Table View</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
                        </div><!-- Form Row Ends -->
                      </div>
                    </div>
                  </section>
                  </section>
                  </div>
