

.ngxmdp{
    position: initial !important;
}


.selector .selectorarrow .selectorarrowleft{
    width: 252px; 
    height: 232px; 
    top: 42px; 
    left: 60px;
    
}


#datePickerbtn .input-group-btn {position: absolute;right: 0px; top: 30px;}