<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{DEPARTMENT_CREATE_LABEL['helpMessage']}}">{{DEPARTMENT_CREATE_LABEL['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{DEPARTMENT_SEARCH['helpMessage']}}" placeholder="{{DEPARTMENT_SEARCH['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->

                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                </div>

                <div class="algo-table algo-table-department">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="DepartmentGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>
                          
                            <!-- Data Grid Columns -->
                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div 
                                            [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>  
                                </div>
                            </div>
                           
                            <!-- Data Grid Action -->
                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{DEPARTMENT_ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view table-view-fix">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>
                    <button class="blue-btn" (click)="varifyDelete()">{{DEPARTMENT_DELETE_LABEL['fieldValue']}}</button>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model.id">{{DEPARTMENT_CREATE_FORM_LABEL['fieldValue']}}</h3>
                            <h3 *ngIf="model.id">{{DEPARTMENT_UPDATE_FORM_LABEL['fieldValue']}}</h3>
                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>

                        <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateDepartment(f, $event)" #f="ngForm" novalidate>

                                <!-- Department Id field -->    
                                <div *ngIf="isUnderUpdate; then update else create"></div>
                                    <ng-template #update>
									<div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label class="control-label" for="departmentId">{{DEPARTMENT_ID['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'"  name="departmentId" value="{{departmentIdvalue}}"
                                                title="{{DEPARTMENT_ID['helpMessage']}}" maxlength="15" [readonly]="!DEPARTMENT_ID['writeAccess']" [required]="DEPARTMENT_ID['isMandatory']"/>
                                            <div *ngIf="f.submitted && departmentId.invalid">
                                                <div [hidden]="!departmentId.errors.required">
                                                    {{DEPARTMENT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!departmentId.errors?.maxlength">
                                                    {{DEPARTMENT_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									</div>
                                    </ng-template>

                                    <ng-template #create>
									<div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'has-error': f.submitted && !departmentId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-4">
                                            <label class="control-label" for="departmentId">{{DEPARTMENT_ID['fieldValue']}}</label>
											<span *ngIf="DEPARTMENT_ID['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="departmentId" [(ngModel)]="model.departmentId" #departmentId="ngModel" autocomplete="off"
                                                   title="{{DEPARTMENT_ID['helpMessage']}}" maxlength="15" [required]="DEPARTMENT_ID['isMandatory']" [typeahead]="departmentIdList" (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="departmentId" />
                                            <div *ngIf="f.submitted && departmentId.invalid">
                                                <div [hidden]="!departmentId.errors.required">
                                                    {{DEPARTMENT_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!departmentId.errors?.maxlength">
                                                    {{DEPARTMENT_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									</div>
                                    </ng-template>

                                <!-- Department Description Field -->
                                <div [ngClass]="'form-group'">
                                    <div [ngClass]="{'has-error': f.submitted && !departmentDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="departmentDescription">{{DEPARTMENT_DESCRIPTION['fieldValue']}}</label>
											<span *ngIf="DEPARTMENT_DESCRIPTION['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="departmentDescription" [(ngModel)]="model.departmentDescription"
                                                #departmentDescription="ngModel" title="{{DEPARTMENT_DESCRIPTION['helpMessage']}}"
                                                [readonly]="!DEPARTMENT_DESCRIPTION['writeAccess']" [required]="DEPARTMENT_DESCRIPTION['isMandatory']" maxlength="31" />
                                            <div *ngIf="f.submitted && departmentDescription.invalid">
                                                <div [hidden]="!departmentDescription.errors.required">
                                                    {{DEPARTMENT_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!departmentDescription.errors?.maxlength">
                                                    {{DEPARTMENT_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Arabic department description -->
                                <div [ngClass]="'form-group'">
                                    <div [ngClass]="{'has-error': f.submitted && !arabicDepartmentDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="arabicDepartmentDescription">{{DEPARTMENT_ARABIC_DESCRIPTION['fieldValue']}}</label>
											<span *ngIf="DEPARTMENT_ARABIC_DESCRIPTION['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-8 arabic-mode">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDepartmentDescription" [(ngModel)]="model.arabicDepartmentDescription"
                                                #arabicDepartmentDescription="ngModel" title="{{DEPARTMENT_ARABIC_DESCRIPTION['helpMessage']}}" [readonly]="!DEPARTMENT_ARABIC_DESCRIPTION['writeAccess']" [required]="DEPARTMENT_ARABIC_DESCRIPTION['isMandatory']"
                                                maxlength="61" />
                                            <div *ngIf="f.submitted && arabicDepartmentDescription.invalid">
                                                <div [hidden]="!arabicDepartmentDescription.errors.required">
                                                    {{DEPARTMENT_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!arabicDepartmentDescription.errors?.maxlength">
                                                    {{DEPARTMENT_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div [ngClass]="'button-row'">
                                    <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                        <div [ngClass]="'col-xs-12'">
                                            <span class="pull-right">
                                                <button *ngIf="model.id" [ngClass]="'grey-btn'">{{DEPARTMENT_UPDATE_LABEL['fieldValue']}}</button>
                                                <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{DEPARTMENT_SAVE_LABEL['fieldValue']}}</button>
                                                <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{DEPARTMENT_CLEAR_LABEL['fieldValue']}}</button>
                                                <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{DEPARTMENT_CANCEL_LABEL['fieldValue']}}</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <!-- Create Update form ends -->
                </div>
            </div>
        </section>
    </section>
</div>