<app-modal-animation  [modalID]="'effect-15'" [modalClass]="'md-effect-15'">
  
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close">x</i></button>


      <app-card [title]="'Add country'">
      
      
            </app-card>   
            <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
            <button (click)="closeMyModal($event)" class="btn btn-primary md-close">Close Me!!</button>
</app-modal-animation>



<!-- <app-modal-animation [modalID]="'effect-13'" [modalClass]="'md-effect-13'">
    <h3 class="f-26">Add Contact</h3>
    <div class="text-center">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Full Name">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Email">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Position">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon4"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Office">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon5"><i class="icofont icofont-user"></i></span>
        <input type="number" class="form-control" placeholder="Age">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon6"><i class="icofont icofont-user"></i></span>
        <input type="text" class="form-control" placeholder="Phone Number">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon7"><i class="icofont icofont-user"></i></span>
        <input id="dropper-default" class="form-control" type="text" placeholder="Select Your Birth Date" readonly="readonly">
      </div>
      <button type="button" class="btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block">Save</button>
      <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
    </div>
    <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
  </app-modal-animation> -->


  <!-- screen header -->
  <div class="page-header">
        <div class="page-header-title">
          <span><h3>{{screenName}}</h3></span>
        </div>
        <!-- <div class="page-header-breadcrumb">
            <i class="ti-settings"></i>
        </div> -->
      </div>
<!-- screen header -->

<div class="content-wrapper">
        <section class="content">
            <!-- section Heading Starts -->
            <!-- <div class="section-heading">
                <h2></h2>
            </div> -->
            <!-- section Heading Ends -->
            <section class="inner-content">
                <!-- Content Outer Starts -->
                <div class="content-outer com-form">
                    <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{messageText}}
                    </div>
                    <!-- Content Heading Starts -->
                    <div class="content-heading">
                        <!-- <h3> {{screenName}}</h3> -->
                           <div *ngIf="showloader" class="loader">
                        </div>
                    </div>
                    <!-- Content Heading Ends -->
                    
                    <!--adding form starts-->
          <!-- Basic Form Inputs card start -->
          <app-card [title]="" [blockClass]="'accordion-block scale-accordion'">
              <div class="row">
                <div class="col-lg-12 col-xl-12">
                  <!-- <div class="sub-title">Default</div> -->
                    <ngb-tabset>
                      <ngb-tab title="{{defaultFormValues[0]['fieldValue']}}">
                        <ng-template ngbTabContent>
                          <div [@fadeInOutTranslate] class="m-t-15">
                            <!--form starts-->
                            <form (ngSubmit)="f.form.valid && CreateRole(f)" #f="ngForm" (keydown.enter)="f.form.valid && CreateRole(f)" novalidate>
                                <fieldset [disabled]="isScreenLock">
                                   
                                      <br/>
                                          <div class="form-group row">
                                              <div class="floating-label col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[4]['readAccess']"  [ngClass]="{ 'has-error': f.submitted && !roleName.valid }">      
                                                  <input class="floating-input" type="text"   placeholder=" " tabindex="1" 
                                                  name="roleName" 
                                                  title="{{defaultFormValues[4]['helpMessage']}}"
                                                [(ngModel)]="model.roleName" 
                                                [readonly]="!defaultFormValues[4]['writeAccess']" 
                                                #roleName="ngModel"
                                                  myAutofocus
                                                  maxlength="25" 
                                                  required  />
                                                  <div *ngIf="f.submitted && roleName.invalid">
                                                      <div class='error-msg' *ngIf="roleName.errors.required">
                                                          {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                      </div>
                                                      <div class='error-msg' *ngIf="roleName.errors.maxlength">
                                                          {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                      </div>
                                                  </div>
                                                  <span class="highlight"></span>
                                                  <label>{{defaultFormValues[4]['fieldValue']}}</label>
                                                </div>
                                              
                                          </div>
                                     
                                   
                             

                                <div class="form-group row">
                                    <div class="floating-label col-md-6 col-sm-6 col-xs-12">      
                                        <textarea class="floating-input floating-textarea" placeholder=" " tabindex="2" [ngClass]="'fm-txt'" name="roleDescription" [(ngModel)]="model.roleDescription" #roleDescription="ngModel" title="{{defaultFormValues[5]['helpMessage']}}"
                                        [readonly]="!defaultFormValues[5]['writeAccess']"  maxlength="250"  required></textarea>
                                        <div *ngIf="f.submitted && roleDescription.invalid">
                                            <div class='error-msg' *ngIf="roleDescription.errors.maxlength">
                                                {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                        <span class="highlight"></span>
                                        <label>{{defaultFormValues[5]['fieldValue']}}</label>
                                      </div>
                                  </div>

                            </fieldset>
                            <div class="row">
                                <div class="button-row">
                                    <div class="col-sm-12">
                                        <button *ngIf="model.id" class="green-btn">{{updateField}}</button>
                                        <button class="green-btn" tabindex="3"  *ngIf="!model.id"  title="{{defaultFormValues[6]['helpMessage']}}">{{defaultFormValues[6]['fieldValue']}}</button>
                                    <!-- <button class="orange-btn" *ngIf="defaultFormValues[6]['readAccess']" [disabled]="LockScreen(defaultFormValues[6]['writeAccess'])" title="{{defaultFormValues[6]['helpMessage']}}">{{defaultFormValues[6]['fieldValue']}}</button> -->
                                    <button class="blue-btn" tabindex="4"  *ngIf="defaultFormValues[7]['readAccess']" title="{{defaultFormValues[7]['helpMessage']}}" [routerLink]="['/role']">{{defaultFormValues[7]['fieldValue']}}</button>
                                    &nbsp; <input type="button" value="{{clearText}}" [ngClass]="'orange-btn'"  (click)="Clear(f)">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--form ends-->
                          </div>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab title="{{defaultFormValues[1]['fieldValue']}}" *ngIf="model.accessRoleId">
                           
                        <ng-template ngbTabContent>

                               
                          <div [@fadeInOutTranslate] class="m-t-15">
                              
                               
                             <!--<pre>  {{LstScreenModule | json}}</pre>-->
                          <div class="accord-heading">
                                <div  class="loader" *ngIf="showloader2"></div>
                             
                             
                              <h3>{{defaultFormValues[1]['fieldValue']}}</h3>
                             
                            
                              <ul class="permission-list">
                                  <li>{{defaultFormValues[8]['fieldValue']}}</li>
                                  <li>{{defaultFormValues[9]['fieldValue']}}</li>
                                  <li>{{defaultFormValues[10]['fieldValue']}}</li>
                                 
                              </ul>

                             
                          </div>
                          
                          
                                     <ul class="cd-accordion-menu smt-accordion"> 
                                           
                                               <!--orignal code<div *ngIf="showloader2" class="loader">
                                              </div>-->
                                                <li class="has-children" *ngFor="let module of LstScreenModule;let i = index">
                                                    <input type="checkbox" name="group-{{module.moduleId}}" id="group-{{module.moduleId}}">
                                                    <div class="permission-list">
                                                        <span><input type="checkbox" [checked]="module.readAccess" [(ngModel)]="module.readAccess" (change)="SelectModule(module.moduleId,'Read',$event)"/></span>
                                                        <span><input type="checkbox" [checked]="module.writeAccess"  [(ngModel)]="module.writeAccess" (change)="SelectModule(module.moduleId,'Write',$event)" /></span>
                                                        <span><input type="checkbox" [checked]="module.deleteAccess" [(ngModel)]="module.deleteAccess" (change)="SelectModule(module.moduleId,'Delete',$event)" /></span>
                                                    </div>
                                                    <span  (click)="showHideGroup(module.moduleId,'Level1','Module')"><b>{{module.moduleName}}</b></span>
                                                    <ul id='ul_{{module.moduleId}}'>
                                                        
                                                        <li class="has-children" *ngFor="let Screen of module.screensList;let j = index">
                                                            <input type="checkbox" name="sub-group-{{Screen.screenId}}" id="sub-group-{{Screen.screenId}}">
                                                            <div class="permission-list">
                                                                <span><input type="checkbox"  [checked]="Screen.readAccess" [(ngModel)]="Screen.readAccess" (change)="SelectScreen(Screen.screenId,'Read',$event)" /></span>
                                                                <span><input type="checkbox"  [checked]="Screen.writeAccess" [(ngModel)]="Screen.writeAccess" (change)="SelectScreen(Screen.screenId,'Write',$event)" /></span>
                                                                <span><input type="checkbox"  [checked]="Screen.deleteAccess" [(ngModel)]="Screen.deleteAccess" (change)="SelectScreen(Screen.screenId,'Delete',$event)" /></span>
                                                            </div>
                                                            <span   (click)="showHideGroup(Screen.screenId,'Level2','Module')"><b>{{Screen.screenName}}</b> </span>
                                                            <ul id='ulsubgroup_{{Screen.screenId}}'>
                                                                <li  *ngFor="let field of Screen.fieldList">
                                                                    <input  type="checkbox" name="sub-group-level-{{field.fieldId}}" id="sub-group-level-{{field.fieldId}}">
                                                                    <div class="permission-list">
                                                                        <span><input type="checkbox" [checked]="field.readAccess" [(ngModel)]="field.readAccess" /></span>
                                                                        <span><input type="checkbox" [checked]="field.writeAccess" [(ngModel)]="field.writeAccess" /></span>
                                                                        <span><input type="checkbox" [checked]="field.deleteAccess" [(ngModel)]="field.deleteAccess" /></span>
                                                                    </div>
                                                                    <span class="childrenField">{{field.fieldName}}</span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul> 
                                  <!-- </squeezebox> -->
                                <!-- </app-card>
                              </div> -->

                          <!-- <ul class="cd-accordion-menu">
                            <div *ngIf="showloader2" class="loader">
                            </div>
                            <li class="has-children" *ngFor="let module of LstScreenModule;let i = index">
                                <input type="checkbox" name="group-{{module.moduleId}}" id="group-{{module.moduleId}}">
                                <div class="permission-list">
                                    <span><input type="checkbox" [checked]="module.readAccess" [(ngModel)]="module.readAccess" (change)="SelectModule(module.moduleId,'Read',$event)"/></span>
                                    <span><input type="checkbox" [checked]="module.writeAccess"  [(ngModel)]="module.writeAccess" (change)="SelectModule(module.moduleId,'Write',$event)" /></span>
                                    <span><input type="checkbox" [checked]="module.deleteAccess" [(ngModel)]="module.deleteAccess" (change)="SelectModule(module.moduleId,'Delete',$event)" /></span>
                                </div>
                                <label for="group-{{module.moduleId}}" (click)="showHideGroup(module.moduleId,'Level1','Module')"><b>{{module.moduleName}}</b></label>
                                <ul id='ul_{{module.moduleId}}'>
                                    
                                    <li class="has-children" *ngFor="let Screen of module.screensList;let j = index">
                                        <input type="checkbox" name="sub-group-{{Screen.screenId}}" id="sub-group-{{Screen.screenId}}">
                                        <div class="permission-list">
                                            <span><input type="checkbox"  [checked]="Screen.readAccess" [(ngModel)]="Screen.readAccess" (change)="SelectScreen(Screen.screenId,'Read',$event)" /></span>
                                            <span><input type="checkbox"  [checked]="Screen.writeAccess" [(ngModel)]="Screen.writeAccess" (change)="SelectScreen(Screen.screenId,'Write',$event)" /></span>
                                            <span><input type="checkbox"  [checked]="Screen.deleteAccess" [(ngModel)]="Screen.deleteAccess" (change)="SelectScreen(Screen.screenId,'Delete',$event)" /></span>
                                        </div>
                                        <label  for="sub-group-{{Screen.screenId}}" (click)="showHideGroup(Screen.screenId,'Level2','Module')"><b>{{Screen.screenName}}</b> </label>
                                        <ul id='ulsubgroup_{{Screen.screenId}}'>
                                            <li  *ngFor="let field of Screen.fieldList">
                                                <input  type="checkbox" name="sub-group-level-{{field.fieldId}}" id="sub-group-level-{{field.fieldId}}">
                                                <div class="permission-list">
                                                    <span><input type="checkbox" [checked]="field.readAccess" [(ngModel)]="field.readAccess" /></span>
                                                    <span><input type="checkbox" [checked]="field.writeAccess" [(ngModel)]="field.writeAccess" /></span>
                                                    <span><input type="checkbox" [checked]="field.deleteAccess" [(ngModel)]="field.deleteAccess" /></span>
                                                </div>
                                                <label class="childrenField" for="sub-group-level-{{field.fieldId}}">{{field.fieldName}}</label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul> -->
                       
                          

                        

                     


                          <div class="row" style="margin-top: 30px;">
                              <div class="button-row">
                                  <div class="col-sm-12">
                                      <button class="green-btn" title="{{defaultFormValues[6]['helpMessage']}}"  [disabled]="LockScreen(defaultFormValues[6]['writeAccess'])" (click)="SaveorUpdateAccessRoleScreenAccess()">{{defaultFormValues[6]['fieldValue']}}</button>
                                      <button class="blue-btn" title="{{defaultFormValues[7]['helpMessage']}}" [routerLink]="['/role']">{{defaultFormValues[7]['fieldValue']}}</button>
                                  </div>
                              </div>
                          </div>
                          </div>
                        </ng-template>

                      

                      </ngb-tab>
                      <!-- <ngb-tab title="Transactions">
                        <ng-template ngbTabContent>
                          <div [@fadeInOutTranslate] class="m-t-15">
                              <div class="tb-heading">
                                  <h3>{{defaultFormValues[2]['fieldValue']}}</h3>
                                  <ul class="permission-list">
                                      <li>{{defaultFormValues[11]['fieldValue']}}</li>
                                      <li>{{defaultFormValues[12]['fieldValue']}}</li>
                                      <li>{{defaultFormValues[10]['fieldValue']}}</li>
                                  </ul>
                              </div>
                              <ul class="cd-accordion-menu animated">
                                  <li class="has-children" *ngFor="let module of LstTransactionModule;let i = index">
                                      <input type="checkbox" name="Transactiongroup-{{module.moduleId}}"
                                      id="Transactiongroup-{{module.moduleId}}">
                                      <div class="permission-list">
                                          <span><input type="checkbox" [checked]="module.viewAccess" [(ngModel)]="module.viewAccess"  /></span>
                                          <span><input type="checkbox" [checked]="module.postAccess" [(ngModel)]="module.postAccess" /></span>
                                          <span><input type="checkbox" [checked]="module.deleteAccess" [(ngModel)]="module.deleteAccess"  /></span>
                                      </div>
                                      <label for="Transactiongroup-{{module.moduleId}}" (click)="showHideGroup(module.moduleId,'Level1','Transaction')"><b>{{module.moduleName}}</b></label>
                                      <ul id='TR_{{module.moduleId}}'>
                                          <li class="has-children" *ngFor="let transactionType of module.transactionTypeList;let j = index">
                                              <input type="checkbox" name="sub-transactiongroup-{{transactionType.transactionTypeId}}"
                                              id="sub-transactiongroup-{{transactionType.transactionTypeId}}">
                                              <div class="permission-list">
                                                  <span><input type="checkbox" [checked]="transactionType.viewAccess" [(ngModel)]="transactionType.viewAccess" /></span>
                                                  <span><input type="checkbox" [checked]="transactionType.postAccess" [(ngModel)]="transactionType.postAccess" /></span>
                                                  <span><input type="checkbox" [checked]="transactionType.deleteAccess" [(ngModel)]="transactionType.deleteAccess"  /></span>
                                              </div>
                                              <label for="sub-transactiongroup-{{transactionType.transactionTypeId}}" (click)="showHideGroup(transactionType.transactionTypeId,'Level2','Transaction')"><b>{{transactionType.transactionTypeName}}</b> </label>
                                              <ul id='TRSubGroup_{{transactionType.transactionTypeId}}'>
                                                  <li class="has-children" *ngFor="let list of transactionType.transactionsList">
                                                      <input type="checkbox" name="sub-transactionsListgroup-level-{{list.transactionId}}"
                                                      id="sub-transactionsListgroup-level-{{list.transactionId}}">
                                                      <div class="permission-list">
                                                          <span><input type="checkbox" [checked]="list.viewAccess" [(ngModel)]="list.viewAccess" /></span>
                                                          <span><input type="checkbox" [checked]="list.postAccess" [(ngModel)]="list.postAccess" /></span>
                                                          <span><input type="checkbox" [checked]="list.deleteAccess" [(ngModel)]="list.deleteAccess"  /></span>
                                                      </div>
                                                      <label for="sub-transactionsListgroup-level-{{list.transactionId}}">{{list.transactionName}}</label>
                                                  </li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                              </ul>
                              <div class="row">
                                  <div class="button-row">
                                      <div class="col-sm-12">
                                          <button class="orange-btn" title="{{defaultFormValues[5]['helpMessage']}}" [disabled]="LockScreen(defaultFormValues[6]['writeAccess'])" (click)="SaveorUpdateAccessTransactionScreenAccess()">{{defaultFormValues[6]['fieldValue']}}</button>
                                          <button class="blue-btn" title="{{defaultFormValues[7]['helpMessage']}}" [routerLink]="['/role']">{{defaultFormValues[7]['fieldValue']}}</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab title="report">
                        <ng-template ngbTabContent>
                          <div [@fadeInOutTranslate] class="m-t-15">
                              <div class="tb-heading">
                                  <h3>{{defaultFormValues[3]['fieldValue']}}</h3>
                                  <ul class="permission-list">
                                      <li>{{defaultFormValues[11]['fieldValue']}}</li>
                                      <li>{{defaultFormValues[13]['fieldValue']}}</li>
                                      <li>{{defaultFormValues[14]['fieldValue']}}</li>
                                  </ul>
                              </div>
                              <ul class="cd-accordion-menu animated">
                                  <li class="has-children" *ngFor="let module of LstReportModule;let i = index">
                                      <input type="checkbox" name="reportgroup-{{module.moduleId}}"
                                      id="reportgroup-{{module.moduleId}}">
                                      <div class="permission-list">
                                          <span><input type="checkbox" [checked]="module.viewAccess" [(ngModel)]="module.viewAccess" /></span>
                                          <span><input type="checkbox" [checked]="module.exportAccess" [(ngModel)]="module.exportAccess" /></span>
                                          <span><input type="checkbox" [checked]="module.emailAccess" [(ngModel)]="module.emailAccess"  /></span>
                                      </div>
                                      <label for="reportgroup-{{module.moduleId}}" (click)="showHideGroup(module.moduleId,'Level1','Report')"><b>{{module.moduleName}} </b></label>
                                      <ul id='Rpt_{{module.moduleId}}'>
                                          <li class="has-children" *ngFor="let reportType of module.reportCategoryList;let j = index">
                                              <input type="checkbox" name="sub-reportgroup-{{reportType.reportCategoryId}}"
                                              id="sub-reportgroup-{{reportType.reportTypeId}}">
                                              <div class="permission-list">
                                                  <span><input type="checkbox" [checked]="reportType.viewAccess" [(ngModel)]="reportType.viewAccess" /></span>
                                                  <span><input type="checkbox" [checked]="reportType.exportAccess" [(ngModel)]="reportType.exportAccess" /></span>
                                                  <span><input type="checkbox" [checked]="reportType.emailAccess" [(ngModel)]="reportType.emailAccess"  /></span>
                                              </div>
                                              <label for="sub-reportgroup-{{reportType.reportTypeId}}" (click)="showHideGroup(reportType.reportTypeId,'Level2','Report')"><b>{{reportType.reportCategoryName}} -  {{reportType.reportList.length}}</b> </label>
                                              <ul id='RptSubGroup_{{reportType.reportTypeId}}}'>
                                                  <li class="has-children" *ngFor="let list of reportType.reportList">
                                                      <input type="checkbox" name="sub-reportListgroup-level-{{list.reportId}}"
                                                      id="sub-reportListgroup-level-{{list.reportId}}">
                                                      <div class="permission-list">
                                                          <span><input type="checkbox" [checked]="list.viewAccess" [(ngModel)]="list.viewAccess" /></span>
                                                          <span><input type="checkbox" [checked]="list.exportAccess" [(ngModel)]="list.exportAccess" /></span>
                                                          <span><input type="checkbox" [checked]="list.emailAccess" [(ngModel)]="list.emailAccess"  /></span>
                                                      </div>
                                                      <label for="sub-reportgroup-level-{{list.reportId}}">{{list.reportName}} </label>
                                                  </li>
                                              </ul>
                                          </li>
                                      </ul>
                                  </li>
                              </ul> 
                              <div class="row">
                                  <div class="button-row">
                                      <div class="col-sm-12">
                                          <button class="orange-btn" title="{{defaultFormValues[6]['helpMessage']}}" [disabled]="LockScreen(defaultFormValues[6]['writeAccess'])" (click)="SaveorUpdateAccessReportScreenAccess()">{{defaultFormValues[6]['fieldValue']}}</button>
                                          <button class="blue-btn" title="{{defaultFormValues[7]['helpMessage']}}" [routerLink]="['/role']">{{defaultFormValues[7]['fieldValue']}}</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </ng-template>
                      </ngb-tab> -->
                    </ngb-tabset>
                </div>
               
              </div>
            </app-card>
    
                   
        
        <!--adding form ends-->
    </div>
    <!-- Content Outer Ends -->
    </section>
    </section>
    </div>
<!-- Basic Form Inputs card end -->
