@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');


/* new floating */

.floating-form {
    width:320px;
  }
  
  /****  floating-Lable style start ****/
  .floating-label { 
    position:relative; 
    margin-bottom:20px; 
  }
  .floating-input , .floating-select, .floating-span {
    font-size:14px;
    padding:4px 4px;
    display:block;
    width:100%;
    height:30px;
    background-color: transparent;
    border:none;
    border-bottom:1px solid #757575;
    box-shadow: none;
  }
  
  .floating-input:focus , .floating-select:focus,.floating-span {
       outline:none;
       border-bottom:2px solid #5264AE; 
  }

  /* .floating-autocomplete:focus {
    outline:none;
    border-bottom:2px solid #5264AE; 
} */
  
  label {
    color:#999; 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:20px;
    top:5px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  .floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
    top:-18px;
    font-size:14px;
    color:#5264AE;
    font-weight: bold;
  }

  /* .floating-span:focus ~ label, .floating-span:not(:placeholder-shown) ~ label {
    top:-18px;
    font-size:14px;
    color:#5264AE;
    font-weight: bold;
  } */
  
  .floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
    top:-18px;
    font-size:14px;
    color:#5264AE;
    font-weight: bold;
  }

  
  
  /* active state */
  .floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after, .floating-span:focus ~ .bar:before, .floating-span:focus ~ .bar:after {
    width:50%;
  }
  
  *, *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .floating-textarea {
     min-height: 30px;
     max-height: 260px; 
     overflow:hidden;
    overflow-x: hidden; 
  }
  
  /* highlighter */
  .highlight {
    position:absolute;
    height:50%; 
    width:100%; 
    top:15%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  /* active state */
  .floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  /* animation */
  @-webkit-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
      from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  
  .cd-accordion-menu span, .cd-accordion-menu a {
   
    font-size: 1.2rem;
}

.permission-list span {
  float: left;
  float: left;
  border-left: 1px solid #d5d5d5 !important;
  padding: 6px 0px;
  min-width: 75px;
  text-align: center;
}
.smt-accordion .permission-list span:before {
  display: none !important;

}

.smt-accordion span b{
  font-size: 14px !important;
  
}

.smt-accordion .childrenField{
  font-size: 14px !important;
}

b, strong {
  font-weight: normal !important;
}

.cd-accordion-menu[_ngcontent-c2] span[_ngcontent-c2], .cd-accordion-menu[_ngcontent-c2] a[_ngcontent-c2] {
  font-size: 1.0rem;
  font-family: 'Open Sans';
}

span.childrenField {
  font-size: 1.0rem !important;
  font-family: 'Open Sans' !important;
  text-transform: inherit;
}