<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

    </div>
  </div>
</div>



<!-- screen header -->
<div class="page-header">
  <div class="page-header-title">
    <span>
      <h3 *ngIf="!model.id">{{TICKETPRICE_CREATE_FORM_LABEL['fieldValue']}}</h3>
      <h3 *ngIf="model.id">{{TICKETPRICE_UPDATE_FORM_LABEL['fieldValue']}}</h3>
    </span>
  </div>

</div>
<!-- screen header -->

<div class="content-wrapper">
  <section class="content" (keyup)='EscapeModal($event)'>
    <!-- section Heading Starts -->

    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- Content Outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg"
          [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>

        <div *ngIf="duplicateWarning"
          [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{message.text}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <!-- <h3> {{screenName}}</h3> -->
          <div *ngIf="showloader" class="loader">
          </div>
        </div>
        <!-- Content Heading Ends -->

        <!--adding form starts-->
        <!-- Basic Form Inputs card start -->
        <app-card [title]="">

            <form (ngSubmit)="f.form.valid && CreateTicketPrice(f,$event)" #f="ngForm"  novalidate>

              
                <div class="form-group row">
                    <div class="col-sm-4">
                    <div class="floating-label col-md-12 multi-select" [ngClass]="{'has-error': f.submitted && RouteIdLabel.length==0,'col-md-6 col-sm-6 col-xs-12':true}">      
                    
                        <angular4-multiselect [data]="RouteData" class="floating-input"  [(ngModel)]="modelRouteId" [ngModelOptions]="{standalone: true}"
                        on-focusin="onAutocompleteFocus('RouteIdLabel')" name="RouteIdLabel"  #RouteIdLabel="ngModel" (valueChanged)="getCountryData($event)"
                        [settings]="{singleSelection: true,text:this.selectUser,disabled : !defaultFormValues[1]['writeAccess'],selectAllText: this.selectAll,unSelectAllText: this.unselectAll,enableSearchFilter: true,classes:'myclass custom-class'}" 
                        (onSelect)="onItemSelect($event)"  tabindex="2"
                        (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
                        <div *ngIf="f.submitted && RouteIdLabel.invalid">
                                <!-- <div class='error-msg' [hidden]="!countryId.errors.required">
                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div> -->
                            </div>
                        <span class="highlight"></span>
                        <label id="RouteIdLabel" for="RouteIdLabel">{{defaultFormValues[0]['fieldValue']}}</label>
                    </div>
                    </div>
                    </div>
              
            <div class="form-group row">
                <div class="col-sm-4">
                <div class="floating-label col-md-12 multi-select" [ngClass]="{'has-error': f.submitted && ClassIdLabel.length==0,'col-md-6 col-sm-6 col-xs-12':true}">      
                
                    <angular4-multiselect [data]="ClassData" class="floating-input"  [(ngModel)]="modelClassId" [ngModelOptions]="{standalone: true}"
                    on-focusin="onAutocompleteFocus('ClassIdLabel')" name="ClassIdLabel"  #ClassIdLabel="ngModel" (valueChanged)="getCountryData($event)"
                    [settings]="{singleSelection: true,text:this.selectUser,disabled : !defaultFormValues[0]['writeAccess'],selectAllText: this.selectAll,unSelectAllText: this.unselectAll,enableSearchFilter: true,classes:'myclass custom-class'}" 
                    (onSelect)="onItemSelect($event)"  tabindex="2"
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
                    <div *ngIf="f.submitted && ClassIdLabel.invalid">
                            <!-- <div class='error-msg' [hidden]="!countryId.errors.required">
                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div> -->
                        </div>
                    <span class="highlight"></span>
                    <label id="ClassIdLabel" for="ClassIdLabel">{{defaultFormValues[1]['fieldValue']}}</label>
                </div>
                </div>
                </div>


                    <div class="form-group row">
                    <div class="borderbox" style="margin-left: 30px;margin-bottom: 30px;">
                        <h6>{{defaultFormValues[15]['fieldValue']}}</h6>

                      <table id="subItems" class="table smtTablePrice" width="auto" style="border: 1px solid #ddd !important;" cellspacing="0"
            cellpadding="0" align="center">
            <tr>
              <td bgcolor="#674c22" height="8" width="150">
                <span>{{defaultFormValues[3]['fieldValue']}}</span>
              </td>
              <td>
                <input type="text" [(ngModel)]="model.adultTckRate" [ngModelOptions]="{standalone: true}" [ngClass]="'form-control'">
              </td>
            </tr>
            <tr>
              <td bgcolor="#674c22" height="8" width="150">
                <span>{{defaultFormValues[4]['fieldValue']}}</span>
              </td>
              <td>
                <input type="text" [(ngModel)]="model.childTckRate" [ngModelOptions]="{standalone: true}" [ngClass]="'form-control'">
              </td>
            </tr>

            <tr>
                <td bgcolor="#674c22" height="8" width="150">
                  <span>{{defaultFormValues[5]['fieldValue']}}</span>
                </td>
                <td>
                  <input type="text" [(ngModel)]="model.infacntTckRate" [ngModelOptions]="{standalone: true}" [ngClass]="'form-control'">
                </td>
              </tr>
            </table>
                    </div>
                  </div>

                    <div [ngClass]="'button-row'">
                      <div [ngClass]="'col-sm-12'">
                          <button *ngIf="model.id" class="green-btn">{{TICKETPRICE_UPDATE_LABEL['fieldValue']}}</button>
                          <button *ngIf="!model.id" class="green-btn">{{TICKETPRICE_SAVE_LABEL['fieldValue']}}</button>
                          <button class="blue-btn" type="button" (click)="goBack()">{{TICKETPRICE_CANCEL_LABEL['fieldValue']}}</button>
                          <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{TICKETPRICE_CLEAR_LABEL['fieldValue']}}</button>
                      </div>
                      
              </div>
         </form>

        </app-card>
      </div>
    </section>
  </section>
</div>