<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2> {{moduleName}}</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- Content Outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <h3>{{screenName}}</h3>
                </div>
                <!-- Content Heading Ends -->
                
                <!--adding form starts-->
                <form (ngSubmit)="f.form.valid && CreateWhiteListIP(f)" #f="ngForm" novalidate>
                    <div [ngClass]="'row'">
                        <fieldset [disabled]="isScreenLock">
                            <div [ngClass]="'form-row'">
                                <div *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !ipAddress.valid,'col-sm-12 col-md-8 col-xs-12':true}">
                                    <label for="ipAddress">{{defaultFormValues[0]['fieldValue']}}</label>
                                    <input [readonly]="!defaultFormValues[0]['writeAccess']" myAutofocus type="text" 
                                    [ngClass]="'form-control fm-txt'" name="ipAddress" [(ngModel)]="model.ipAddress" 
                                    #ipAddress="ngModel" title="{{defaultFormValues[0]['helpMessage']}}" required />
                                    
                                    <div *ngIf="f.submitted && ipAddress.invalid">
                                        <div *ngIf="f.submitted && ipAddress.invalid">
                                            <div class='error-msg' *ngIf="ipAddress.errors.required">
                                                {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div class='error-msg' *ngIf="ipAddress.errors.maxlength">
                                                {{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                            <div class='error-msg' *ngIf="ipAddress.errors.pattern">
                                                {{defaultFormValues[0]['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="'form-row'">
                                <div *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !description.valid,'col-sm-12 col-md-8 col-xs-12':true}">
                                    <label for="description">{{defaultFormValues[1]['fieldValue']}}</label>
                                    <textarea [readonly]="!defaultFormValues[1]['writeAccess']" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="model.description" #description="ngModel" title="{{defaultFormValues[1]['helpMessage']}}" minlength="5" maxlength="150"></textarea>
                                    <div *ngIf="f.submitted && description.invalid">
                                        <div class='error-msg' *ngIf="description.errors.maxlength">
                                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        <div class='error-msg' *ngIf="description.errors.minlength">
                                            Minlength required is 5
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div [ngClass]="'button-row'">
                            <div [ngClass]="'col-sm-12'">
                                <button *ngIf="defaultFormValues[2]['readAccess']" [disabled]="LockScreen(defaultFormValues[2]['writeAccess'])" [ngClass]="'orange-btn'" title="{{defaultFormValues[2]['helpMessage']}}">{{defaultFormValues[2]['fieldValue']}}</button>
                                <button *ngIf="defaultFormValues[3]['readAccess']" [ngClass]="'blue-btn'" title="{{defaultFormValues[3]['fieldValue']}}" [routerLink]="['/whiteListIP']">{{defaultFormValues[3]['fieldValue']}}</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!--adding form ends-->
            </div>
            <!-- Content Outer Ends -->
        </section>
    </section>
</div>
