<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
    </div>
    <div class="modal-footer">
           <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
           <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
					 <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper"> 
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2> {{moduleName}}</h2>
            <button class="orange-btn" title="{{defaultFormValues[0]['helpMessage']}}" 
            [disabled]="LockScreen(defaultFormValues[0]['writeAccess'])" [routerLink]="['/whiteListIP/addNewIP']" >{{defaultFormValues[0]['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{defaultFormValues[1]['helpMessage']}}" placeholder="{{defaultFormValues[1]['fieldValue']}}" (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <div class="algo-table">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="whiteListGrid" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                            [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText,selectedMessage:selectedText}"
                            (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>
                            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf="defaultFormValues[2]['readAccess']" name="IP Address" [width]="250" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[2]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf="defaultFormValues[3]['readAccess']" name="Description" [width]="550" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span class="sort-btn" (click)="sort()">{{defaultFormValues[3]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngIf="defaultFormValues[4]['readAccess']" name="Is Active" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span  class="sort-btn" (click)="sort()">{{defaultFormValues[4]['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Action" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{defaultFormValues[5]['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico"  [disabled]="LockScreen(defaultFormValues[8]['writeAccess'])" title=" {{defaultFormValues[8]['helpMessage']}}" (click)="edit(row)"></button>
                                       <button class="access-btn" (click)="varifyOperation(row)"  [disabled]="LockScreen(defaultFormValues[7]['writeAccess'])"  title="{{defaultFormValues[7]['helpMessage']}}"  *ngIf="row.isActive" >
                                        <img src="../assets/img/Enable{{row.isActive}}.png">
                                       </button>
                                     <button class="access-btn" (click)="varifyOperation(row)"  [disabled]="LockScreen(defaultFormValues[8]['writeAccess'])" title="{{defaultFormValues[8]['helpMessage']}}"  *ngIf="!row.isActive" >
                                        <img src="../assets/img/Enable{{row.isActive}}.png">
                                     </button>
                                </ng-template>
                                
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div> 
                <div class="button-row" *ngIf="page.totalElements > 0">
                    <!-- Table View Starts -->
                    <div class="table-view">
                        <span>{{defaultFormValues[10]['fieldValue']}}</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                            <option value="5">5 {{atATimeText}} </option>
                                            <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                                            <option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                                            <option value="100" *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->
                    <div class="bottom-view">
                    </div>
                    <button class="blue-btn" *ngIf="!isScreenLock"  [disabled]="!defaultFormValues[9]['writeAccess'] || selected.length == 0"  title="{{defaultFormValues[9]['fieldValue']}}" (click)="varifyDelete()">  {{defaultFormValues[9]['fieldValue']}} </button>
                </div>
            </div>
        </section>
    </section>
</div>
<!--<footer class="main-footer">@ 2017 BIT. All rights reserved.
</footer>-->