
 
 <div class="content-wrapper user-view">
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                         {{messageText}}
                      </div>
                    <div class="content-outer com-form">
                      <div class="row">
                       <form (ngSubmit)="!hasMsg && f.form.valid && saveCreditCardSetUp(f)" #f="ngForm" novalidate> 
                            <div class="form-row">
                                   <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !creditCardName.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="creditCardName">{{defaultAddFormValues[0]['fieldValue']}}</label>
                             <input type="text" myAutofocus [ngClass]="'form-control fm-txt'" name="creditCardName" [(ngModel)]="model.creditCardName" 		
                                        #creditCardName="ngModel" [readonly]="isModify"	 	
                                        title="{{defaultAddFormValues[0]['helpMessage']}}"	
                                        maxlength="25"  [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>
                             <div *ngIf="f.submitted && creditCardName.invalid">
                                    <div class='error-msg' *ngIf="creditCardName.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="creditCardName.errors.maxlength">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                                   <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !creditCardNameArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="creditCardNameArabic">{{defaultAddFormValues[1]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="creditCardNameArabic" [(ngModel)]="model.creditCardNameArabic" 		
                                        #creditCardNameArabic="ngModel" 		
                                        title="{{defaultAddFormValues[1]['helpMessage']}}"		
                                        maxlength="25"  [readonly]="!defaultAddFormValues[1]['writeAccess']" required/>
                             <div *ngIf="f.submitted && creditCardNameArabic.invalid">
                                    <div class='error-msg' *ngIf="creditCardNameArabic.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="creditCardNameArabic.errors.maxlength">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
     
                        </div>
                        <!--<div class="form-row" style="min-height: 0px;">
                    <div class="col-md-3 col-sm-12 col-xs-12 col-md-offset-3" >
                              
                            </div>
                    
                 </div>-->
                        <div class="form-row" >
                            <div  *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{'col-md-6 col-sm-6 col-xs-12 credit-row':true}">
                            <label for="checkBookId">{{defaultAddFormValues[3]['fieldValue']}}</label>
                         
                            <div class="c-option"><span class="choose-opt"  *ngFor = "let cards of cardTypeStatus" >
                                <label>
                                
                                    <input type="radio" name="cardType" [(ngModel)]="model.cardType"  #cardType="ngModel" 			
                                    [value]="cards.typeId" title="{{defaultAddFormValues[2]['helpMessage']}}" > {{cards.name}}</label>
                                     </span>
                                     </div>
                                      
                                        <!--<select [ngClass]="'form-control fm-txt'" name="checkBookId" [(ngModel)]="model.checkBookId" #checkBookId="ngModel" 
                                           title="{{defaultAddFormValues[3]['helpMessage']}}" required>
                                          <option *ngFor="let checkBookIdArray of checkBookIdOptions"  value="{{checkBookIdArray.checkBookId}}" >
                                            {{checkBookIdArray.checkBookId}}
                                        </option>
                                    </select> -->
                                   <div class="select-outer"> 
                                        <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCheckBookId" [(ngModel)]="checkBookId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlCheckBookIdSetting" title="{{defaultAddFormValues[3]['helpMessage']}}"
									 (onSelect)="getCheckBookByID($event)" (onDeSelect)="OnCheckBookIdDeSelect($event)">
                                     </angular2-multiselect>
                                     </div>
                                     <div  class='error-msg ct-msg' *ngIf="f.submitted && !model.cardType">
                                            <!--{{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}-->
                                            Card Type required
                                    </div>
                           
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12 credit-row"  *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{'has-error': f.submitted && SelectedAccount.length == 0,'':true}">
                         
                           <label class="accountTableRowIndex" for="accountTableRowIndex">{{defaultAddFormValues[5]['fieldValue']}}</label>
                             <div class="select-outer" [ngClass]="{'has-error': f.submitted && SelectedAccount.length==0,'':true}">
                                 <angular2-multiselect [data]="ddl_MultiSelectAccount" id = "SelectedAccount" [(ngModel)]="SelectedAccount" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlAccountSetting" title="{{defaultAddFormValues[5]['helpMessage']}}"
                                    (onSelect)="onItemSelect($event)" 
                                    (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                                
                            </div>
                            <div *ngIf="f.submitted && SelectedAccount.length == 0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            	<a  class="add-ico-tb">
										  <i class="fa fa-plus-circle" aria-hidden="true" (click)="openAccountWindow()"></i>
									   </a>
                            </div>
                         <div class="button-row">
                      <div class="col-sm-12">
                        <input type="submit" class="orange-btn" [disabled]="LockScreen(defaultAddFormValues[7]['writeAccess'])"  title="{{defaultAddFormValues[6]['helpMessage']}}" value="{{defaultAddFormValues[6]['fieldValue']}}"/>
                        <input type="button" class="blue-btn" title="{{defaultAddFormValues[7]['helpMessage']}}" (click)="resetMe(f)" value="{{defaultAddFormValues[7]['fieldValue']}}"/>
                        <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                        </div>

                        </div>
                   </form>
                         <div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
								</div>
						 </div>

                       <div class="form-row">  
                        <div class="col-xs-12">
                        <div class="algo-table">
                        <div class="table-responsive">
						<ngx-datatable id="cardId" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}" 
							(select)='onSelect($event)'>
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="creditCardName" [width]="250"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="creditCardNameArabic" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="220" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="checkBookId" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="250" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column> 
                         	<ngx-datatable-column name="accountNumber" *ngIf="defaultManageFormValues[3]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="Action" [width]="99" *ngIf="defaultManageFormValues[5]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[6]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getCreditCardDrtailsSetupById(row)" title="{{defaultManageFormValues[4]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
                                  <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
		          </div>
                        </div>

                      
                      </div> 
                      <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                  </section>
                </section>
            </div>
<div class="modal"  *ngIf="isModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{accountNumberTitleLabel}}
    </div>
    <div class="modal-body">
      	<span *ngFor="let segment of arrSegment;let i=index; let j=index;">
																<input id="txtfirstSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
																  (blur)="fetchFirstAccountIndexInfo(j)" *ngIf="j==0" style="width:65px" />
																   <input id="txtSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
																  (blur)="fetchOtherAccountIndexInfo(j)" *ngIf="j > 0" style="width:65px"  [disabled]='segment.isReadOnly'/> 
															      <i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus"
																      style="float: left;padding: 3px 0px;" *ngIf="j + 1 != arrSegment.length"></i>	
															</span>
    </div>
    <div class="modal-footer">
           <button class="orange-btn-sm" (click)='createNewGlAccountNumber()'>{{createAccountNumberLabel}}</button>
					 <button class="blue-btn-sm" (click)='closeModal()'>{{btnCancelLabel}}</button>
    </div>
  </div>
</div>