<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='CreateBuildPayrollCheckBatches(f,$event)' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" [disabled]="disabled" title="{{defaultFormValues[7]['helpMessage']}}" placeholder="{{defaultFormValues[7]['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Loader -->
                <div *ngIf="loaderImg" style="margin-left: 40%;height: 6rem;">
                    <img src="assets/img/loader.gif" style="width: 5rem;" alt="Loader">
                </div>
                <form class="form-horizontal" (ngSubmit)="CreateBuildPayrollCheckBatches(f, $event)" #f="ngForm" novalidate>
                    <div [ngClass]="'button-row'">
                        <div [ngClass]="{'col-md-8 col-sm-8 col-xs-14':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-8 col-md-offset-4" style="padding: 0px;">
                                <div class="col-md-5" style="padding: 10px;text-align: right;">
                                    <button type="button" [disabled]="disabled" (click)="markAll()" [ngClass]="'grey-btn'">{{defaultFormValues[0]['fieldValue']}}</button>
                                </div>
                                <div class="col-md-6" style="padding: 10px;">
                                    <button type="button" [disabled]="disabled" (click)="unmarkAll()" [ngClass]="'grey-btn'">{{defaultFormValues[1]['fieldValue']}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content Heading Ends -->                    
                    <div class="algo-table algo-table-build-payroll-check-batches">
                        <!-- Data Grid Starts-->
                        <div class="table-responsive">
                                <ngx-datatable
                                class="material"
                                [rows]="rows"
                                [columnMode]="'force'"
                                [externalPaging]="true"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [rowHeight]="'auto'"
                                [selected]="selected"
                                [selectionType]="'checkbox'"
                                (select)='onSelect($event)'
                                [limit]="page.size" 
                                [count]="page.totalElements" 
                                [offset]="page.pageNumber"
                                (page)='initTables($event)'
                                >
                            <!-- <ngx-datatable id="BuildPayrollCheckBatchesGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                                [footerHeight]="50" [rowHeight]="'auto'" [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'> -->

                                <!-- Data Grid checkbox -->

                                <ngx-datatable-column [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                                        <!-- <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" /> -->
                                        <span>Select</span>
                                    </ng-template>
                                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                                        <input type="checkbox" [disabled]="checkedDisabled[row.$$index]" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                                    </ng-template>
                                </ngx-datatable-column>

                                <!-- <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="false"
                                [checkboxable]="true" >
                                </ngx-datatable-column> -->
                                <!-- <ngx-datatable-column name="statusCheck" [width]="65" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <span (click)="sortColumn('')">{{defaultFormValues[8]['fieldValue']}}</span>
                                    </ng-template>
                                    <ng-template let-value="value" style="padding-left: 23px !important;" let-row="row" ngx-datatable-cell-template>
                                        <input type="checkbox" [checked]="row.include" (click)="changeSelection2(row, row.$$index)"/>
                                    </ng-template>
                                </ngx-datatable-column> -->
                                <!-- (click)="changeSelection2(row, $event, row.$$index)" -->
                                <!-- Data Grid batchId Id -->
                                <ngx-datatable-column name="batchId" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <span (click)="sort()">{{defaultFormValues[2]['fieldValue']}}</span>
                                    </ng-template>
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <!-- Data Grid Batch Description -->
                                <ngx-datatable-column name="description" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <span (click)="sort()">{{defaultFormValues[3]['fieldValue']}}</span>
                                    </ng-template>
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <!-- Data Grid status date -->
                                <ngx-datatable-column name="status" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <span (click)="sort()">{{defaultFormValues[4]['fieldValue']}}</span>
                                    </ng-template>
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        {{ statusArr[value]}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <!-- Data Grid userID Id -->
                                <ngx-datatable-column name="userID" [sortable]="true" prop='userID' [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        <span (click)="sort()">{{defaultFormValues[5]['fieldValue']}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{matchUserId[row.userID]}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <!-- Data Grid Action -->
                                <!--<ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                        {{defaultFormValues[15]['fieldValue']}}
                                    </ng-template>
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                        <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                    </ng-template>
                                </ngx-datatable-column>-->
                            </ngx-datatable>
                        </div>
                        <!-- Data Grid Ends-->
                    </div>
                    <div class="button-row">
                        <!-- Table View Starts -->
                        <div class="table-view">
                            <span>TABLE VIEW</span>
                            <div class="select-outer">
                                <select class="form-control" (change)="changePageSize($event)" name="Batches" [disabled]="disabled" [(ngModel)]="ddPageSize" #batches="ngModel">
                                    <option value="5">5 at a time </option>
                                    <option value="15">15 at a time </option>
                                    <option value="50">50 at a time </option>
                                    <option value="100">100 at a time </option>
                                </select>
                            </div>
                        </div>
                        <!-- Table View Ends -->

                        <div class="bottom-view">
                        </div>
                        <div [ngClass]="'button-row'">
                            <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                <div [ngClass]="'col-xs-12'">
                                    <span class="pull-right">
                                        <button [disabled]="disabled" class="grey-btn">{{defaultFormValues[6]['fieldValue']}}</button>
                                        <button [ngClass]="'blue-btn'" (click)="Cancel()">Cancel</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </section>
</div>