
<div class="content-wrapper user-view">
    <section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
            <section class="inner-content">
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
						 <form (ngSubmit)="!hasMsg && f.form.valid  && saveAccountMaintenance(f)" #f="ngForm" novalidate> 
							 <div class="form-row">   
								 <div [ngClass]="{'col-md-6 col-sm-6 col-xs-12':true}">                         
									<label>{{defaultAddFormValues[0]['fieldValue']}}</label>
						           <input type="text" [ngClass]="'form-control fm-txt'" name="customerId" [(ngModel)]="model.customerId" title="{{defaultAddFormValues[0]['helpMessage']}}" readonly />  
								</div>
							</div>	
								
							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12">
									<label>{{defaultAddFormValues[1]['fieldValue']}}</label>
									 <input type="text" [ngClass]="'form-control fm-txt'" name="customerName" [(ngModel)]="customerName"
                                           title="{{defaultAddFormValues[1]['helpMessage']}}" readonly />
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode">
								   <label>{{defaultAddFormValues[2]['fieldValue']}}</label>
								<input type="text" [ngClass]="'form-control fm-txt'" name="customerArabicName" [(ngModel)]="customerArabicName"
                                           title="{{defaultAddFormValues[2]['helpMessage']}}" readonly />
								</div>                            
							</div><!-- Form Row Ends -->
							<div class="form-row">
								<div class="col-xs-12">
									<div class="algo-table">
										<div class="table-responsive">          
											<table class="table">
												<thead>
													<tr> 
													  <th width="20%">{{defaultAddFormValues[3]['fieldValue']}}</th>
													  <th width="30%">{{defaultAddFormValues[4]['fieldValue']}}</th>
													  <th width="30%">{{defaultAddFormValues[5]['fieldValue']}}</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let item of accountNumberList; let i=index;">
														<td>{{item.typeValue}}</td>
														<td>
															<span *ngFor="let segment of arrSegment; let j=index;">
																<input id="txtfirstSegment_{{i}}{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_{{i}}"
																  (blur)="fetchFirstAccountIndexInfo(i,j)" *ngIf="j==0" style="width:65px" />
																   <input id="txtSegment_{{i}}{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_{{i}}"
																  (blur)="fetchOtherAccountIndexInfo(i,j)" *ngIf="j > 0" style="width:65px"  [disabled]='segment.isReadOnly'/> 
															      <i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus"
																      style="float: left;padding: 3px 0px;" *ngIf="j + 1 != arrSegment.length"></i>	
															</span>
															<!--<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber1_{{i}}" [(ngModel)]="item.accountNumber1" (blur)="fetchRecordForFirstText(i)" /> 
															<i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus" style="float: left;padding: 3px 0px;"></i>	
															<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber2_{{i}}" [(ngModel)]="item.accountNumber2" (blur)="fetchRecordForSecondText(i)" [disabled]="item.disabled2"/> 
															<i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus" style="float: left;padding: 3px 0px;"></i>	
															<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber3_{{i}}" [(ngModel)]="item.accountNumber3" (blur)="fetchRecordForThirdText(i)" [disabled]="item.disabled3"/>
															<i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus" style="float: left;padding: 3px 0px;"></i>	
															<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber4_{{i}}" [(ngModel)]="item.accountNumber4" (blur)="fetchRecordForFourthText(i)" [disabled]="item.disabled4"/> -->
														</td>
													  <td>
															<!--{{item.accountDescription}}-->
																<span *ngFor="let desc of item.accountDescription;">
																  <span *ngIf="desc != 0">
																		{{desc}}	
																  </span>
															</span>
															</td>													  
													</tr>
                                  
												</tbody>
											</table>
										</div>
									</div><!-- Algo Table Ends -->
								</div>
							</div><!-- Form Row Ends -->
							
							<div class="button-row">
								<div class="col-sm-12">
									<input type="submit" value="{{defaultAddFormValues[6]['fieldValue']}}" class="orange-btn" title="{{defaultAddFormValues[6]['fieldValue']}}">
									<input type="button" (click)="ClearForm(f);" class="blue-btn" title="{{defaultAddFormValues[7]['fieldValue']}}" value="{{defaultAddFormValues[7]['fieldValue']}}"/>
									<input type="button" (click)="redirect1()" class="grey-btn" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
								</div>
							</div>
							
						</form>
						<!--<pre>{{accountNumberList  | json}}</pre>-->
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
	.user-view .algo-table .acc-txt{border:1px solid #d5d5d5; width:19%;}
</style>
<!--<style>
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
</style>-->