<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
    <div class="modal-content" >
      <div class="modal-header">
        <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
        {{confirmationModalTitle}}
      </div>
      <div class="modal-body">
        <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      </div>
      <div class="modal-footer">
             <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
             <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
             <button  class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

      </div>
    </div>
  </div>

<div class="row" (keyup)='EscapeModal($event)'>
  <!-- screen header -->
  <div class="page-header">
        <div class="page-header-title">
          <span><h3>{{screenName}}</h3></span>
        </div>
        <!-- <div class="page-header-breadcrumb">
            <i class="ti-settings"></i>
        </div> -->
      </div>
<!-- screen header -->
<div class="col-sm-12">
<app-card [title]="" class="smtResponsiveContent">
    <div class="content-heading">
        <div class="search-top">
                <div class="form-group row nopaddingnopadding">
                        <div class="floating-label col-sm-4">      
                            <input class="floating-input"  (keyup)='updateFilter($event)' [readonly]="!defaultFormValues[1]['writeAccess']" type="text" placeholder=" " *ngIf="defaultFormValues[1]['readAccess']" tabindex="1">
                            <span class="highlight"></span>
                            <label id="countryLabel">{{defaultFormValues[1]['fieldValue']}}</label>
                            <input type="hidden"/><span class="search-icon">
                                <i class="fa fa-search"></i>
                                </span>
                          </div>
                     <div class="col-sm-8">
                            <button class="green-btn" *ngIf="defaultFormValues[0]['readAccess']" 
                            title="{{defaultFormValues[0]['helpMessage']}}" [disabled]="LockScreen(defaultFormValues[0]['writeAccess'])"
                            (click)="goToCreate()">{{CreatebtnText}}</button>
                     </div>
                        
                    </div>

           
            <!-- <input type="text" *ngIf="defaultFormValues[1]['readAccess']" class="search-txt form-control" title="{{defaultFormValues[1]['helpMessage']}}" placeholder="{{defaultFormValues[1]['fieldValue']}}"
                (keyup)='updateFilter($event)' [readonly]="!defaultFormValues[1]['writeAccess']"/> -->
        </div>
    </div>

    
  <div class="table-responsive">
    <ngx-datatable id="MainGrid" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"  [rowHeight]="50"
    [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText,selectedMessage:selectedText}"
    (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' (activate)="edit($event)">
    <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
        [checkboxable]="true">
    </ngx-datatable-column>

   
    <ngx-datatable-column name="Action" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            {{defaultFormValues[5]['fieldValue']}}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
           
               <button class="access-btn" (click)="varifyOperation(row)"  [disabled]="LockScreen(defaultFormValues[7]['writeAccess'])"  title="{{defaultFormValues[7]['helpMessage']}}"  *ngIf="row.isActive" >
                <img src="../assets/img/Enable{{row.isActive}}.png">
               </button>
             <button class="access-btn" (click)="varifyOperation(row)"  [disabled]="LockScreen(defaultFormValues[8]['writeAccess'])" title="{{defaultFormValues[8]['helpMessage']}}"  *ngIf="!row.isActive" >
                <img src="../assets/img/Enable{{row.isActive}}.png">
             </button>
        </ng-template>
        
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="defaultFormValues[4]['readAccess']" name="Is Active" [width]="100"  [canAutoResize]="false" [draggable]="true"  [resizeable]="true">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span  class="sort-btn" (click)="sort()">{{defaultFormValues[4]['fieldValue']}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="defaultFormValues[2]['readAccess']" name="IP Address" [width]="200"  [canAutoResize]="false" [draggable]="true"  [resizeable]="true">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="sort-btn" (click)="sort()">{{defaultFormValues[2]['fieldValue']}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="defaultFormValues[3]['readAccess']" name="Description" [width]="200"  [canAutoResize]="false" [draggable]="true"  [resizeable]="true">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
            <span class="sort-btn" (click)="sort()">{{defaultFormValues[3]['fieldValue']}}</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
        </ng-template>
    </ngx-datatable-column>
   
</ngx-datatable>
 
  </div>
  <div class="button-row" *ngIf="page.totalElements > 0">
    <!-- Table View Starts -->
    <div class="table-view" *ngIf="defaultFormValues[10]['readAccess']" >
        <span>{{defaultFormValues[10]['fieldValue']}}</span>
        <div class="select-outer">
            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                    <option value="5">5 {{atATimeText}} </option>
                    <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                    <option  value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                    <option  value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
            </select>
        </div>
    </div>
    <!-- Table View Ends -->
    <div class="bottom-view">
    </div>
    <button class="red-btn" *ngIf="!isScreenLock || defaultFormValues[9]['readAccess']" title="{{defaultFormValues[9]['helpMessage']}}"  [disabled]="!defaultFormValues[9]['writeAccess'] || selected.length == 0" (click)="varifyDelete()">{{defaultFormValues[9]['fieldValue']}}</button>
</div>
</app-card>


</div>
</div>
