
<div class="content-wrapper user-view">
    <section class="content">
        <div class="section-heading"><h2>{{screenName}}</h2> </div><!-- section Heading Ends -->
        <section class="inner-content">
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- <pre>{{model.dtoFiscalFinancialPeriodSetupDetail | json}}</pre> -->
                <div class="row">
                    <form  #f="ngForm" novalidate>
                        <div class="form-row">
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="row">
                                    <div class="form-row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div [ngClass]="{'has-error': f.submitted && !year.valid,'':true}">
                                                <label>{{defaultAddFormValues[0]['fieldValue']}}</label>
                                                <div class="select-outer wd54">
                                                    <select myAutofocus class=  "form-control auto-focus" id="ddlYear" name="year" [(ngModel)]="model.year" 		
                                                    title="{{defaultAddFormValues[0]['helpMessage']}}"  (change)="getFiscalFinancePeriodSetup(f)" 
                                                    #year="ngModel" [ngModelOptions]="{standalone: true}" required>
                                                    <option *ngFor="let arryear of arrYears">
                                                        {{arryear.year}}
                                                    </option>  
                                                </select>
                                                
                                            </div>
                                            <div *ngIf="f.submitted && year.invalid">
                                                <div class='error-msg' *ngIf="year.errors.required">
                                                    {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    
                                    <div class="selection">
                                        <div class="form-row">
                                            <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !firstDay.valid,'':true}">
                                                <div class="select-dt wd100">
                                                    <label>{{defaultAddFormValues[1]['fieldValue']}}</label>
                                                    <div class="period-outer tb-top">
                                                        <input  type="text" class="fm-txt dob form-control ngx-mydatepicker" title="{{defaultAddFormValues[1]['helpMessage']}}"
                                                        name="firstDay" [(ngModel)]="model.firstDay" #firstDay="ngModel"   [ngModelOptions]="{standalone: true}"
                                                        ngx-mydatepicker   [options]="DateBalanceOptions"
                                                        #dp1="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" readonly  required/>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" (click)="this.model.firstDay=''">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                            <button  type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <div *ngIf="f.submitted && firstDay.invalid">
                                                        <div class='error-msg' *ngIf="firstDay.errors.required">
                                                            {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">   
                                            <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !lastDay.valid,'':true}">
                                                <div class="select-dt wd100">
                                                    <label>{{defaultAddFormValues[2]['fieldValue']}}</label>
                                                    <div class="period-outer">  <input  type="text" class="fm-txt dob form-control ngx-mydatepicker" title="{{defaultAddFormValues[2]['helpMessage']}}" 
                                                        name="lastDay" [(ngModel)]="model.lastDay" #lastDay="ngModel"   ngx-mydatepicker   [options]="DateBalanceOptions"
                                                        #dp2="ngx-mydatepicker" (dateChanged)="onlastDateChanged($event)"  readonly required/>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" (click)="this.model.lastDay=''">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </button>
                                                            <button  type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <div *ngIf="f.submitted && lastDay.invalid">
                                                        <div class='error-msg' *ngIf="lastDay.errors.required">
                                                            {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-3 col-xs-12">
                            <label><input type="checkbox" [(ngModel)]="model.historicalYear" 		
                                #historicalYear="ngModel" title="{{defaultAddFormValues[3]['helpMessage']}}" [ngModelOptions]="{standalone: true}" /> {{defaultAddFormValues[3]['fieldValue']}}</label>
                                
                            </div>
                        </div><!-- Form Row Ends -->
                        
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultAddFormValues[4]['readAccess']">
                                <div [ngClass]="{'has-error': f.submitted && !numberOfPeriods.valid,'arabic-mode':true}">
                                    <label>{{defaultAddFormValues[4]['fieldValue']}}</label>
                                    <input type="text" class="form-control fm-txt-sm" name="numberOfPeriods"
                                    [(ngModel)]="model.numberOfPeriods" 	required	
                                    title="{{defaultAddFormValues[4]['helpMessage']}}"   OnlyNumber="true"
                                    (keydown)="onlyDecimalNumberKey($event)" (blur)="ValidateNumberOfDay()"
                                    #numberOfPeriods="ngModel"   [ngModelOptions]="{standalone: true}" >
                                    <div *ngIf="f.submitted && numberOfPeriods.invalid">
                                        <div class='error-msg' *ngIf="numberOfPeriods.errors.required">
                                            {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Form Row Ends -->
                        
                        <div class="form-row">
                            <div class="col-xs-12">
                                
                                <div class="algo-table">
                                    <div class="content-heading text-right">
                                        <a class="blue-btn"  (click)="checkedAll()" title="{{defaultAddFormValues[5]['helpMessage']}}" >{{defaultAddFormValues[5]['fieldValue']}}</a>
                                        <a class="grey-btn" (click)="unCheckedAll()" title="{{defaultAddFormValues[6]['helpMessage']}}" >{{defaultAddFormValues[6]['fieldValue']}}</a>
                                        <div class="series-module-hdr"><h4>{{defaultAddFormValues[7]['fieldValue']}}</h4></div>
                                    </div>
                                    <div class="table-responsive fs--period">
                                        <table class="table" id="tblFiscalPeriod">
                                            <thead>
                                                <tr>
                                                    <th width="5%">{{defaultAddFormValues[8]['fieldValue']}}</th>
                                                    <th width="20%">{{defaultAddFormValues[9]['fieldValue']}}</th>
                                                    <th width="25%">{{defaultAddFormValues[10]['fieldValue']}}</th>
                                                    <th width="10%">{{defaultAddFormValues[11]['fieldValue']}}</th>
                                                    <th width="10%">{{defaultAddFormValues[12]['fieldValue']}}</th>
                                                    <th width="10%">{{defaultAddFormValues[13]['fieldValue']}}</th>
                                                    <th width="10%">{{defaultAddFormValues[14]['fieldValue']}}</th>
                                                    <th width="10%">{{defaultAddFormValues[15]['fieldValue']}}</th>
                                                    <th width="10%">{{defaultAddFormValues[16]['fieldValue']}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr  *ngFor="let period of model.dtoFiscalFinancialPeriodSetupDetail;let i = index">
                                                    <td>{{period.periodId}}</td>
                                                    <td>
                                                        <input type="text" [(ngModel)]="period.periodNamePrimary" value="{{period.periodNamePrimary}}" 
                                                        [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        
                                                        <!-- <input type="text" [(ngModel)]="period.startPeriodDate" value="{{period.startPeriodDate}}" 
                                                            (blur)="UpdatePeriodDate(period.startPeriodDate,i)" [ngModelOptions]="{standalone: true}"> -->
                                                            
                                                            <input type="text" [(ngModel)]="period.startPeriodDate" value="{{period.startPeriodDate}}" 
                                                            (blur)="ValidateDateFormat(period.startPeriodDate,i)" [ngModelOptions]="{standalone: true}">
                                                            
                                                            
                                                            
                                                            <!-- <div class="period-outer"> 
                                                                <input id="txtstartPeriodDate{{i}}"  type="text" class="fm-txt dob form-control ngx-mydatepicker"
                                                                (dateChanged)="ValidateTwoDate($event,i)" 
                                                                title="{{defaultAddFormValues[2]['helpMessage']}}" 
                                                                [(ngModel)]="period.startPeriodDate"  [ngModelOptions]="{standalone: true}"
                                                                ngx-mydatepicker   [options]="DateBalanceOptions" 
                                                                #dp2="ngx-mydatepicker" style="width: 100px;" readonly required/>
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default" (click)="period.startPeriodDate=''">
                                                                        <i class="glyphicon glyphicon-remove"></i>
                                                                    </button>
                                                                    <button  type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                    </button>
                                                                </span>
                                                            </div> -->
                                                            <!-- <br> -->
                                                            <!-- endPeriodDate = {{period.endPeriodDate}} -->
                                                        </td>
                                                        <td><input type="checkbox" [(ngModel)]="period.periodSeriesFinancial" (change)="updateFinancialSetUpArray(i,$event,'periodSeriesFinancial')" [ngModelOptions]="{standalone: true}"/></td>
                                                        <td><input type="checkbox" [(ngModel)]="period.periodSeriesSales" [ngModelOptions]="{standalone: true}"  (change)="updateFinancialSetUpArray(i,$event,'periodSeriesFinancial')"/></td>
                                                        <td><input type="checkbox" [(ngModel)]="period.periodSeriesPurchase" [ngModelOptions]="{standalone: true}" (change)="updateFinancialSetUpArray(i,$event,'periodSeriesPurchase')"/></td>
                                                        <td><input type="checkbox" [(ngModel)]="period.periodSeriesInventory" [ngModelOptions]="{standalone: true}" (change)="updateFinancialSetUpArray(i,$event,'periodSeriesInventory')"/></td>
                                                        <td><input type="checkbox" [(ngModel)]="period.periodSeriesProject" [ngModelOptions]="{standalone: true}" (change)="updateFinancialSetUpArray(i,$event,'periodSeriesProject')"/></td>
                                                        <td><input type="checkbox" [(ngModel)]="period.periodSeriesPayroll" [ngModelOptions]="{standalone: true}" (change)="updateFinancialSetUpArray(i,$event,'periodSeriesPayroll')"/></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- Algo Table Ends -->
                                </div>
                            </div>
                            
                            <div class="button-row">
                                <input type="submit" [disabled]="LockScreen(defaultAddFormValues[17]['writeAccess'])" class="orange-btn"  title="{{defaultAddFormValues[17]['helpMessage']}}" value="{{defaultAddFormValues[17]['fieldValue']}}" (click)="SavefiscalfinanceperiodSetup(f)"/>
                                <input type="submit"  class="blue-btn" (click)="getSeriesDetail(f)" title="{{defaultAddFormValues[18]['helpMessage']}}" value="{{defaultAddFormValues[18]['fieldValue']}}" >
                                <input type="button" class="blue-btn" (click)="ReDisplay()" title="{{defaultAddFormValues[19]['helpMessage']}}" value="{{defaultAddFormValues[19]['fieldValue']}}" >
                                <input type="button" class="blue-btn"  title="{{defaultAddFormValues[20]['helpMessage']}}" value="{{defaultAddFormValues[20]['fieldValue']}}" (click)="redirect1()" >
                                <!-- <input type="button" id="testbtn"  title="{{defaultAddFormValues[20]['helpMessage']}}" value="{{defaultAddFormValues[20]['fieldValue']}}" (click)="redirect1()" > -->
                            </div>
                            
                        </form>
                    </div>
                    
                </div>
            </section>
        </section>
        <!-- <modal #ModalCalendar [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-sm">
            <modal-header>
            </modal-header>
            <modal-content>
                
            </modal-content>
            <modal-footer>
                <button class="btn btn-primary close-button" (click)="ModalCalendar.close()">{{close}}</button>
            </modal-footer>
        </modal> -->
    </div><!-- Content OUter Ends -->