<aside class="main-sidebar">
    <section class="sidebar">
        <a href="javascript:;" data-toggle="offcanvas" role="button" class="sidebar-toggle">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="row">
            <div class="col-md-12 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
                <div class="list-group panel">
                    <div *ngFor = "let screenCategory of screenCategoryList">
                        <a href="#menu{{screenCategory.screenCategoryCode}}" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">{{screenCategory.screenCategoryName}}</span> </a>
                        <div class="collapse" id="menu{{screenCategory.screenCategoryCode}}">
                            <ul class="sidebar-menu">
                                <li *ngFor="let sidebar of screenCategory.sideMenuList" class="pageLink list-group-item1" data-parent="#menu{{screenCategory.screenCategoryCode}}" routerLink="/{{sidebar.sideMenuURL}}" [ngClass]="getClass(sidebar.sideMenuURL)">
                                    <a href="javascript:;" id="{{sidebar.sideMenuURL}}" (click)="redirectTo(sidebar.sideMenuURL)"
                                       title="{{defaultFormValues[9]['helpMessage']}}">
                                        <i class="side-icon manage-company"> </i>
                                        <span class="page">{{sidebar.sideMenuName}} </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>
<router-outlet></router-outlet>