<form id="EmployeeMasterForm" class="form-horizontal" (ngSubmit)="f.form.valid && CreateEmployeeMaster(f, $event)" #f="ngForm"
novalidate>

<div class="col-md-12 col-sm-12 col-xs-12">

  <!-- Employee Bank -->
  <div class="col-sm-4">
    <div class="form-group">
      <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !banAccNumber.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
        <input type="text" class="floating-input" name="bankName" placeholder=" " [(ngModel)]="model.bankName" #bankName="ngModel" 
            required />
          <div *ngIf="f.submitted && idNumber.invalid">
            <div [hidden]="!banAccNumber.errors.required">
              Account Number is required
            </div>
          </div>
        <span class="highlight"></span>
        <label id="bankAccNumberLabel" for="bankAccNumber">Bank</label>
      </div>
    </div>
  </div>

   <!-- Employee Bank Acc No. -->
   <div class="col-sm-4">
    <div class="form-group">
      <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !banAccNumber.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
        <input type="number" class="floating-input" placeholder=" " name="banAccNumber" [(ngModel)]="model.bankAccNumber" #banAccNumber="ngModel" 
            required min="1" max="99999999999" onKeyPress="if(this.value.length==9) return false;" onkeypress="return check_digit(event,this,11,3);"
          />
          <div *ngIf="f.submitted && idNumber.invalid">
            <div [hidden]="!banAccNumber.errors.required">
              Account Number is required
            </div>
          </div>
        <span class="highlight"></span>
        <label id="bankAccNumberLabel" for="bankAccNumber">Acc Number</label>
      </div>
    </div>
  </div>

  

</div>

</form>
