<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
        <div class="modal-content">
            <div class="modal-header">
                <span class="btnClose" (click)='closeModal()'></span> {{confirmationModalTitle}}
            </div>
            <div class="modal-body">
                <p *ngIf='!isDeleteAction'>
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
                <p *ngIf='isDeleteAction'>
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <section class="content">
            <!-- section Heading Starts -->
            <div class="section-heading">
                <h2>{{ASSIGN_REPORT_TO_COMPANY_FORM_LABEL['fieldValue']}}</h2>
            </div>
            <!-- section Heading Ends -->
            <section class="inner-content">
                <!-- content outer Starts -->
                <div class="content-outer com-form">
                    <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{messageText}}
                    </div>
                    <!-- Content Heading Starts -->
                    <div class="content-heading">
                        <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                    </div>
                </div>
                
                    <div *ngIf="showForm">
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>
                        <form class="form-horizontal" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div *ngIf="COMPANY_REPORT_MANAGEMENT_COMPANY_NAME['readAccess']" [ngClass]="{'has-error': f.submitted && !companyId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                            <label for="companyId">{{COMPANY_REPORT_MANAGEMENT_COMPANY_NAME['fieldValue']}}</label>
                                            <div [ngClass]="'select-outer'">
                                                <select [disabled]="!COMPANY_REPORT_MANAGEMENT_COMPANY_NAME['writeAccess']" 
                                                [ngClass]="'form-control '"  placeholder="Select Company"  
                                                name="company" [(ngModel)]="model.companyId" (change)="onChange(company.value)"
                                                 #company="ngModel" title="{{COMPANY_REPORT_MANAGEMENT_COMPANY_NAME['helpMessage']}}" 
                                                 myAutofocus [required]="COMPANY_REPORT_MANAGEMENT_COMPANY_NAME['isMandatory']">
                                                    <option *ngFor="let company of CompanyList" [value]="company.id">
                                                        {{company.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="f.submitted && companyId.invalid">
                                                   <div class='error-msg' *ngIf="companyId.errors.required">
                                                    {{COMPANY_REPORT_MANAGEMENT_COMPANY_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                    <div class="col-md-5">
                                        <div class="algo-table">
                                            <div class="table-responsive">
                                                <ngx-datatable id="TrainingCourseGrid1" class="material" [rows]="AllReportIds" [columnMode]="'force'" [headerHeight]="50"
                                                               [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false" [selected]="selectedAllReportIds"
                                                               [selectionType]="'checkbox'" (select)='onSelectAllReportIds($event)' [scrollbarH]="true">

                                                    <!-- Data Grid checkbox -->
                                                    <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                                                          [checkboxable]="true">
                                                    </ngx-datatable-column>

                                                    <!-- Data Grid Serial NUmber -->
                                                    <ngx-datatable-column name="reportId" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                            <span (click)="sortColumn('reportId')">{{COMPANY_REPORT_MANAGEMENT_REPORT_ID['fieldValue']}}</span>
                                                        </ng-template>
                                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                                            {{value}}
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <!-- Data Grid Bin -->
                                                    <ngx-datatable-column name="reportName" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                            <span (click)="sortColumn('reportName')">{{COMPANY_REPORT_MANAGEMENT_REPORT_NAME['fieldValue']}}</span>
                                                        </ng-template>
                                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                                            {{value}}
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                </ngx-datatable>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="height: 100%; text-align: center;margin-top:50px;">
                                        <button type="button" (click)="moveToSelected()" style="font-size: 25px;margin: 2px;">
                                            <i class="fa fa-long-arrow-right"></i>
                                        </button>
                                        <div class="clearfix"></div>
                                        <button type="button" (click)="moveToAllReportIds()" style="font-size: 25px;margin: 2px;">
                                            <i class="fa fa-long-arrow-left"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="algo-table">
                                            <div class="table-responsive">
                                                <ngx-datatable id="TrainingCourseGrid1" class="material" [rows]="SelectedReportIds" [columnMode]="'force'" [headerHeight]="50"
                                                               [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false"
                                                               [selectionType]="'checkbox'"
                                                               [scrollbarH]="true">

                                                    <!-- Data Grid checkbox -->
                                                    <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                                                          [checkboxable]="true">
                                                    </ngx-datatable-column>

                                                    <!-- Data Grid Serial Number -->
                                                    <ngx-datatable-column name="reportId" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                            <span (click)="sortColumn('reportId')">{{COMPANY_REPORT_MANAGEMENT_REPORT_ID['fieldValue']}}</span>
                                                        </ng-template>
                                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                                            {{value}}
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                    <!-- Data Grid Bin -->
                                                    <ngx-datatable-column name="reportName" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                            <span (click)="sortColumn('reportName')">{{COMPANY_REPORT_MANAGEMENT_REPORT_NAME['fieldValue']}}</span>
                                                        </ng-template>
                                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                                            {{value}}
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                                </ngx-datatable>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div [ngClass]="'button-row'">
                                        <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                            <div [ngClass]="'col-xs-12'">
                                            <span class="pull-right">
                                                <button [ngClass]="'grey-btn'" (click)="assignReportToCompany(f, $event)">{{SUBMIT_BUTTON['fieldValue']}}</button>
                                                <button [ngClass]="'blue-btn'" type="button" (click)="Cancel()">{{CANCEL_BUTTON['fieldValue']}}</button>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </div>