
<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
    <div class="modal-content" >
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{confirmationModalBody}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='delete()'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{COMPANY_WISE_REPORT_LIST_LABEL['fieldValue']}}</h2>
            <button class="orange-btn" *ngIf="ASSIGN_REPORT_TO_COMPANY_FORM_LABEL['readAccess']" title="{{ASSIGN_REPORT_TO_COMPANY_FORM_LABEL['helpMessage']}}" [disabled]="!ASSIGN_REPORT_TO_COMPANY_FORM_LABEL['writeAccess']" [routerLink]="['/companyReportManagement/assignReportToCompany']">{{ASSIGN_REPORT_TO_COMPANY_FORM_LABEL['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <div class="algo-table">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="TrainingCourseGrid1" class="material" [rows]="companyWiseReportList" [columnMode]="'force'" [headerHeight]="50"
                                       [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false"
                                       [selectionType]="'checkbox'" [scrollbarH]="true">

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                                  [checkboxable]="true">
                            </ngx-datatable-column>

                            <!-- Data Grid Serial NUmber -->
                            <ngx-datatable-column name="companyName" [sortable]="true" [width]="250" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('companyName')">{{COMPANY_REPORT_MANAGEMENT_COMPANY_NAME['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <!-- Data Grid Bin -->
                            <ngx-datatable-column name="reportId" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('reportId')">{{COMPANY_REPORT_MANAGEMENT_REPORT_ID['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="reportName" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('reportName')">{{COMPANY_REPORT_MANAGEMENT_REPORT_NAME['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="reportDescription" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span (click)="sortColumn('reportDescription')">{{COMPANY_REPORT_MANAGEMENT_REPORT_DESCRIPTION['fieldValue']}}</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
            </div>
        </section>
    </section>
</div>

