<!-- screen header -->
<div class="page-header">
    <div class="page-header-title">
      <span><h3>{{screenName}}</h3></span>
    </div>
    <!-- <div class="page-header-breadcrumb">
        <i class="ti-settings"></i>
    </div> -->
  </div>
<!-- screen header -->
  <div class="content-wrapper">
          <section class="content">
              <!-- section Heading Starts -->
              <!-- <div class="section-heading">
                  <h2></h2>
              </div> -->
              <!-- section Heading Ends -->
              <section class="inner-content">
                  <!-- Content Outer Starts -->
                  <div class="content-outer com-form">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                          {{messageText}}
                      </div>
                      <!-- Content Heading Starts -->
                      <div class="content-heading">
                          <!-- <h3> {{screenName}}</h3> -->
                             <div *ngIf="showloader" class="loader">
                          </div>
                      </div>
                      <!-- Content Heading Ends -->
                      
                      <!--adding form starts-->
            <!-- Basic Form Inputs card start -->
            <app-card [title]="" >
                <div class="row">
                  <div class="col-lg-12 col-xl-12">
               
                              <!--form starts-->
                              
            <form (ngSubmit)="f.form.valid && CreateAuthSetting(f)" #f="ngForm" (keydown.enter)="f.form.valid && CreateAuthSetting(f)" novalidate>
                
                    <div class="row">
                        <!-- <fieldset [disabled]="isScreenLock"> -->
                            <div class="form-row col-md-12">
                             <!-- <div class="floating-label col-md-6"> -->
                                    <div class="col-sm-6">
                                            <div class="form-group row">
                                               <div class="floating-label col-md-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !companyId.valid,'col-md-6 col-sm-6 col-xs-12':true}"> 

                                  <!-- <div class="floating-label col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !companyId.valid,'col-md-6 col-sm-6 col-xs-12':true}">       -->
                                    <input auto-complete [source]="LstCompany" class="floating-input" list-formatter="name"  [(ngModel)]="selectedCompany" [ngModelOptions]="{standalone: true}"  name="companyId"   #companyId="ngModel" title="{{defaultFormValues[0]['helpMessage']}}" 
                                       (valueChanged)="changeCompany($event)" placeholder="" on-focus="onAutocompleteFocus('companyLabel');companyFocusIn()" on-focusout="onAutocompleteFocusOut('companyLabel');companyFocusOut(companyId)" tabindex="1"   
                                       #filterInput required/>
                                        
                                       <!-- <div class="ngb-dp-day ngb-dp-today"> -->
                                        <!-- day cell content omitted -->
                                    <!-- </div> -->
                                    <!-- <span class="highlight"></span> -->
                                    
                                        <div *ngIf="f.submitted && companyId.invalid">
                                            <div class='error-msg' *ngIf="companyId.errors.required">
                                                {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                <span class="highlight"></span>
                                <!-- <input type="hidden"/><span class="search-icon"><i class="ti-angle-down"></i></span> -->
                                <label id="companyLabel" for="companyId">{{defaultFormValues[0]['fieldValue']}}</label>
                                <input type="hidden"/><span class="search-icon">
                                    <!-- <i class="ti-angle-down"></i> -->
                                    <i (click)="toggle()" [ngClass]="{'ti-angle-down': !isCompanyOpen,'ti-angle-up':isCompanyOpen}"></i>
                                </span>
                                <!-- <span class="highlight"></span>
                               <label id="stateLabel">{{defaultFormValues[7]['fieldValue']}}</label>   -->

                                   

                               <!-- <span class="highlight"></span>
                                                <label id="stateLabel">{{defaultFormValues[7]['fieldValue']}}</label>
                                                <input type="hidden"/><span class="search-icon">
                                                
                                                <i class="ti-angle-down"></i>
                                                </span> -->
                                               </div>            
                                      </div>               
                               </div>
                            <!-- </div> -->

                            <!-- <div class="form-group row col-md-6"> -->
                                    <div class="col-sm-6">
                                            <div class="form-group row">
                                               <div class="floating-label col-md-12" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !authorizedUserGroupId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                              <!-- <div class="floating-label col-md-6 col-sm-6 col-xs-12"  *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !authorizedUserGroupId.valid,'col-md-6 col-sm-6 col-xs-12':true}">       -->
                                 <input auto-complete [source]="LstGroup" class="floating-input" list-formatter="groupName"  [(ngModel)]="selectedGroup" [ngModelOptions]="{standalone: true}"  name="authorizedUserGroupId"    #authorizedUserGroupId="ngModel"   (valueChanged)="changeUserGroup()" 
                                   placeholder="" on-focus="onAutocompleteFocus('UsergroupLabel');authFocusIn()" on-focusout="onAutocompleteFocusOut('UsergroupLabel');authFocusOut(authorizedUserGroupId)" tabindex="2" 
                                  #filterInput1 required/>
                                
                                   <div *ngIf="f.submitted && authorizedUserGroupId.invalid">
                                        <div class='error-msg' [hidden]="!authorizedUserGroupId.errors.required">
                                            {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                         </div>
                                    </div>
                                   <span class="highlight"></span>
                                    <label id="UsergroupLabel">{{defaultFormValues[1]['fieldValue']}}</label>
                                       <input type="hidden"/>
                                         <span class="search-icon">
                                             <!-- <i class="ti-angle-down"></i> -->
                                             <i (click)="toggle1()" [ngClass]="{'ti-angle-down': !isAuthtoOpen, 'ti-angle-up':isAuthtoOpen }"></i>
                                         </span>
                              </div>
                              <!-- </div> -->
                            </div>
                            </div>
                        </div>
                        <div class="form-row col-md-12">


                            <!-- <div *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !authorizedUserGroupId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label>{{defaultFormValues[1]['fieldValue']}}</label>
                                <div class="select-outer">
                                    <select [disabled]="!defaultFormValues[1]['writeAccess']" title="{{defaultFormValues[1]['helpMessage']}}" [ngClass]="'form-control '" placeholder="Select User Group"  name="authorizedUserGroupId" [(ngModel)]="model.authorizedUserGroupId" 
                                    #authorizedUserGroupId="ngModel"   (ngModelChange)="changeUserGroup()" required>
                                    <option *ngFor="let userGroup of LstGroup" [value]="userGroup.id">
                                        {{userGroup.groupName}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="f.submitted && authorizedUserGroupId.invalid">
                                <div class='error-msg' [hidden]="!authorizedUserGroupId.errors.required">
                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                                <div class="form-group row">
                                   <div class="floating-label col-md-12" *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && SelectedUsers.length == 0,'col-md-6 col-sm-6 col-xs-12':true}">
                        <!-- <div class="floating-label col-md-12" *ngIf="defaultFormValues[2]['readAccess']"  [ngClass]="{'has-error': f.submitted && SelectedUsers.length == 0,'col-md-6 col-sm-6 col-xs-12':true}"> -->
                            <!-- <label >{{defaultFormValues[2]['fieldValue']}}</label> -->
                            <angular4-multiselect [disabled]="true" [data]="ddl_MultiSelectUser" [(ngModel)]="SelectedUsers" [ngModelOptions]="{standalone: true}" on-focusin="onAutocompleteFocus('userLabel')"
                            [settings]="{singleSelection: false,text:this.selectUser,disabled : !defaultFormValues[2]['writeAccess'],selectAllText: this.selectAll,unSelectAllText: this.unselectAll,enableSearchFilter: true,classes:'myclass custom-class'}" 
                            (onSelect)="onItemSelect($event)" tabindex="3"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
                            <div *ngIf="f.submitted && SelectedUsers.length == 0">
                                <div class='error-msg'>
                                    {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label id="userLabel">{{defaultFormValues[2]['fieldValue']}}</label>
                        </div>
                        </div>
                        </div>

                        <div class="col-sm-6">
                                <div class="form-group row">
                        <div class="floating-label col-sm-12" *ngIf="defaultFormValues[3]['readAccess']"  [ngClass]="{'has-error': f.submitted && selectedDays.length==0,'col-md-6 col-sm-6 col-xs-12':true}">
                                <!-- <label >{{defaultFormValues[3]['fieldValue']}}</label> -->
                                <angular4-multiselect [disabled]="true" [data]="ddl_Days" [(ngModel)]="selectedDays" [ngModelOptions]="{standalone: true}" on-focusin="onAutocompleteFocus('daysLabel')" 
                                [settings]="{singleSelection: false,text:this.selectUser,disabled : !defaultFormValues[3]['writeAccess'],selectAllText: this.selectAll,unSelectAllText: this.unselectAll,enableSearchFilter: true,classes:'myclass custom-class'}" 
                                (onSelect)="onItemSelect($event)" tabindex="4"
                                (onDeSelect)="OnItemDeSelect($event)" 
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)"></angular4-multiselect>
                                <div *ngIf="f.submitted && selectedDays.length == 0">
                                        <div class='error-msg'>
                                            {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>
                                <span class="highlight"></span>
                                <label id="daysLabel">{{defaultFormValues[3]['fieldValue']}}</label>
                            </div>
                                </div>
                                </div>
                           

                        <!-- <div class="floating-label col-sm-12" *ngIf="defaultFormValues[3]['readAccess']" [ngClass]="{'has-error': f.submitted && !dayIds.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                            <div class="select-outer multiselect-dd selected-list">
                                 
                                        <ss-multiselect-dropdown [disabled]="!defaultFormValues[3]['writeAccess']" id='ddlDays' [options]="ddOptions" [settings]="ddSettings" [texts]="ddDaysTexts" [(ngModel)]="model.dayIds"
                                        #dayIds="ngModel" name="dayIds"   title="{{defaultFormValues[3]['helpMessage']}}" required>
                                    </ss-multiselect-dropdown>
                                   
                                </div>
                                <div *ngIf="f.submitted && dayIds.invalid">
                                    <div class='error-msg' [hidden]="!dayIds.errors.required">
                                        {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                        <span class="highlight"></span>
                      
                    </div> -->

                        
                    </div>
                           
                  



                    <div class="form-row date-time">
                        <div class="col-md-6">
                                <label  *ngIf="defaultFormValues[4]['readAccess']">{{defaultFormValues[4]['fieldValue']}}</label>
                        </div>
                        <div class="col-md-6">
                                <label *ngIf="defaultFormValues[6]['readAccess']">{{defaultFormValues[6]['fieldValue']}}</label>
                        </div>
                    </div>

                    <div class="form-row">
                  


                                <div *ngIf="defaultFormValues[6]['readAccess']" class="select-dt-full user-md-select col-md-6 col-sm-6 col-xs-6">
                                        <!--<div [ngClass]="{'has-error': f.submitted && !startTime.valid,'col-md-6 col-sm-6 col-xs-12':true}">-->
                                          
                                            <div class="floating-label col-sm-12 selection dt-picker">
                                                    <div  *ngIf="defaultFormValues[4]['readAccess']" [ngClass]="{'has-error': f.submitted && !startDate.valid,'select-dt-full user-md-select':true}">
                                                              <input class="fm-txt ngx-mydatepicker floating-input"  type="text" placeholder=" "  [ngClass]="'startDate'" ngx-mydatepicker
                                                              [options]="myOptions"  #dp1="ngx-mydatepicker" (dateChanged)="onDateChanged($event)" tabindex="5"
                                                              name="startDate"  [(ngModel)]="model.startDate"  #startDate="ngModel"  title="{{defaultFormValues[4]['helpMessage']}}"  required
                                                              readonly/>
                        
                                                           <span id="datePickerbtn" class="input-group-btn">
                                                                <button type="button" tabindex="6" class="btn btn-default" (click)="clearStartDate()">
                                                                    <i class="fa fa-remove"></i>
                                                                </button>
                                                                <button tabindex="7" [disabled]="!defaultFormValues[4]['writeAccess']" type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                                                           
                        
                                                            <div *ngIf="f.submitted && startDate.invalid">
                                                                <div class='error-msg' [hidden]="!startDate.errors.maxlength">
                                                                    {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                </div>
                                                            </div>
                                                         
                                                            
                                                        </div>


                                                        
                                                        <span *ngIf="defaultFormValues[5]['readAccess']" class="small-seprator">{{defaultFormValues[5]['fieldValue']}}</span>
                                                        <div *ngIf="defaultFormValues[5]['readAccess']" [ngClass]="{'has-error': f.submitted && !endDate.valid,'select-dt-full user-md-select':true}">
                                
                                                                <input  type="text" class="fm-txt ngx-mydatepicker floating-input" title="{{defaultFormValues[5]['helpMessage']}}"
                                                                    name="endDate" [(ngModel)]="model.endDate" #endDate="ngModel" ngx-mydatepicker tabindex="8" #dp2="ngx-mydatepicker"
                                                                    (dateChanged)="onDateChanged2($event)" [options]="getCopyOfOptions()" required/>
                                                                <span id="datePickerbtn" class="input-group-btn">
                                                                    <button type="button" tabindex="6" class="btn btn-default" (click)="clearEndDate()">
                                                                        <i class="fa fa-remove"></i>
                                                                    </button>
                                                                    <button tabindex="7" [disabled]="!defaultFormValues[4]['writeAccess']" type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </button>
                                                                </span>
                                                        
                                                                <div *ngIf="f.submitted && endDate.invalid">
                                                                    <div class='error-msg' [hidden]="!endDate.errors.maxlength">
                                                                        {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                
                                            </div>
                                        </div>


                        
                        <div *ngIf="defaultFormValues[6]['readAccess']" class="select-dt-full user-md-select col-md-6 col-sm-6 col-xs-6">
                            <!--<div [ngClass]="{'has-error': f.submitted && !startTime.valid,'col-md-6 col-sm-6 col-xs-12':true}">-->
                              
                                <div class="floating-label col-sm-12 selection dt-picker">
                                    <div *ngIf="defaultFormValues[6]['readAccess']" [ngClass]="{'has-error': f.submitted && !startTime.valid,'select-dt-full user-md-select':true}">
                                        <div class="select-outer">
                                            <input title="{{defaultFormValues[6]['fieldValue']}}" [disabled]="!defaultFormValues[7]['writeAccess']" class="floating-input picker-input fm-txt"
                                                name="startTime" [value]="model.startTime" (onChange)="formatstartTime($event)" placeholder="" on-focusout="onAutocompleteFocusOut('timePickerLabel')"
                                                [(ngModel)]="model.startTime" #startTime="ngModel" dateTimePicker [pickerType]="'time'" [hourTime]="'24'" [showSeconds]="false"
                                                required readonly="defaultFormValues[6]['writeAccess']" tabindex="11">
                                
                                            <div *ngIf="f.submitted && startTime.invalid">
                                                <div class='error-msg' [hidden]="!startTime.errors.required">
                                                    {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                            <span class="highlight"></span>
                                           
                                        </div>
                                    </div>
                                    <span *ngIf="defaultFormValues[7]['readAccess']"  class="small-seprator">{{defaultFormValues[7]['fieldValue']}}</span>
                                    <div *ngIf="defaultFormValues[7]['readAccess']" [ngClass]="{'has-error': f.submitted && !endTime.valid,'select-dt-full user-md-select':true}">                               
                                        <div class="floating-label select-outer">
                                            <input  title="{{defaultFormValues[7]['fieldValue']}}" [disabled]="!defaultFormValues[7]['writeAccess']" class="floating-input picker-input fm-txt" 
                                            name="endTime" [value]="model.endTime" (onChange)="formatendTime($event)" placeholder=""
                                            [(ngModel)]="model.endTime"  #endTime="ngModel" dateTimePicker
                                            [pickerType]="'time'" [hourTime]="'24'" [showSeconds]="false" 
                                            required readonly="defaultFormValues[7]['writeAccess']" tabindex="12"> 
                                        </div>
                                        <div *ngIf="f.submitted && endTime.invalid">
                                            <div class='error-msg' [hidden]="!endTime.errors.required">
                                                {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </fieldset> -->
                    <div class="button-row">
                        <div class="col-sm-12">
                            <button *ngIf="isUnderupdate" class="green-btn">{{updateField}}</button>
                            <button *ngIf="!isUnderupdate" tabindex="13" [disabled]="LockScreen(defaultFormValues[8]['writeAccess'])" class="green-btn" title="{{defaultFormValues[8]['helpMessage']}}">{{defaultFormValues[8]['fieldValue']}}</button>
                            <button *ngIf="defaultFormValues[9]['readAccess']" tabindex="14" class="blue-btn" title="{{defaultFormValues[9]['helpMessage']}}" [routerLink]="['/authSetting']" >{{defaultFormValues[9]['fieldValue']}}</button>
                            <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{clearText}}</button>
                        </div>
                    </div>
                </div>
            </form>
                          <!--form ends-->
                           
                    
                    
                  </div>
                 
                </div>
              </app-card>
      
                     
          
          <!--adding form ends-->
      </div>
      <!-- Content Outer Ends -->
      </section>
      </section>
      </div>
  <!-- Basic Form Inputs card end -->

<!--<footer class="main-footer">
@ 2017 BIT. All rights reserved.
</footer>-->

<style>
    #pcoded[theme-layout="vertical"][vertical-placement="right"] .selected-list .c-angle-down, 
    #pcoded[theme-layout="vertical"][vertical-placement="right"] .selected-list .c-angle-up {
        left: 10px !important;
        right: unset !important;
    } 
</style>