<div *ngIf="message && isVisible" style="text-align:center" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 
'alert-danger': message.type === 'error'}">
    <div *ngIf="message.type === 'error'">
        <ul *ngFor="let msg of messageArray">
            <li>{{msg}}</li>
        </ul>
        <div></div>
    </div>
    <div *ngIf="message.type === 'success'">
        {{messageObject}}
    </div>
</div>

<style>
.custom-alertWrapper{ height: auto !important; min-height: 0px !important; }
.custom-alertWrapper .content{ height: auto !important; min-height: 0px !important; }
</style>
<div class="content-wrapper custom-alertWrapper">
    <div class="content">
        <div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable">
            {{alert.message}}
            <a class="close" (click)="removeAlert(alert)">&times;</a>
        </div>
    </div>
</div>

<!-- <style>
 #note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}</style>

<div id="note">
    <div *ngFor="let alert of alerts">
        {{alert.message}}
        <a class="close" (click)="removeAlert(alert)">&times;</a>
    </div>
</div>  -->
