<aside class="main-sidebar">
    <section class="sidebar">
<!-- <pre>{{sidebarValues | json}}</pre> -->
        <a href="javascript:;" data-toggle="offcanvas" role="button" class="sidebar-toggle"><span class="sr-only">Toggle navigation</span></a>
        <!-- <span  *ngFor="let sidebar of sidebarValues.sideMenuList">
            {{sidebar.sideMenuName}}<br>
        </span> -->
        <ul class="sidebar-menu" *ngIf="sidebarValues.moduleId == 13 || sidebarValues.moduleId == 1">
          
           <li class="pageLink"  routerLink="/{{sidebar.sideMenuURL}}" *ngFor="let sidebar of sidebarValues.sideMenuList">
                <a href="javascript:;" id="{{sidebar.sideMenuURL}}" (click)="redirectTo(sidebar.sideMenuURL)"
                 *ngIf="currentUrl == sidebar.sideMenuURL && (sidebar.sideMenuURL=='settings' && loggedInUserRole !='USER')"
                 class="active" title="{{defaultFormValues[9]['helpMessage']}}">
                  <i class="side-icon manage-ip"> </i> 
                  <span class="page">{{sidebar.sideMenuName}} </span>
                </a>
                 <!-- <a href="javascript:;" id="{{sidebar.sideMenuURL}}" (click)="redirectTo(sidebar.sideMenuURL)"
                  *ngIf="currentUrl != sidebar.sideMenuURL && (sidebar.sideMenuURL !='settings' && loggedInUserRole =='USER')"
                 class="" title="{{defaultFormValues[9]['helpMessage']}}">
                  <i class="side-icon manage-ip"> </i> 
                  <span class="page">{{sidebar.sideMenuName}}</span>
                </a> -->
                <a href="javascript:;" id="{{sidebar.sideMenuURL}}" (click)="redirectTo(sidebar.sideMenuURL)"
                *ngIf="sidebar.sideMenuURL !='settings' && loggedInUserRole =='USER'"
               class="" title="{{defaultFormValues[9]['helpMessage']}}">
                <i class="side-icon manage-ip"> </i> 
                <span class="page">{{sidebar.sideMenuName}}</span>
              </a>
                <a href="javascript:;" id="{{sidebar.sideMenuURL}}" (click)="redirectTo(sidebar.sideMenuURL)" 
                *ngIf="currentUrl != sidebar.sideMenuURL && loggedInUserRole =='SUPERADMIN'"
                 class="" title="{{defaultFormValues[9]['helpMessage']}}">
                  <i class="side-icon manage-ip"> </i> 
                  <span class="page">{{sidebar.sideMenuName}}</span>
                </a>
               
                
            </li> 
                <li class="pageLink" routerLink="/killSession"  *ngIf="loggedInUserRole =='SUPERADMIN'">
                  <a href="javascript:;" id="killSession" 
                  class="" title="{{defaultFormValues[9]['helpMessage']}}">
                   <i class="side-icon manage-ip"> </i> 
                   <span class="page">Kill Session</span>
                 </a>
                </li>
        </ul>
       
        
         <ul class="sidebar-menu" *ngIf="(sidebarValues.moduleId == 12 || sidebarValues.moduleId == '14') && currentLanguage == '1'">
                      <li class="pageLink">
                        <a href="javascript:;" class=""><i class="side-icon manage-user"> </i> 
                        <span class="page">Dashboard</span>
                        <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                        </a>
                        <ul class="treeview-menu"> 
                          <li><a  id="S-PLD-1025" (click)="redirectMe('S-PLD-1025','report/dashboardreport')">Profit & Loss Dashboard</a></li> 
                        </ul>
                      </li>
                      <li class="pageLink">
                          <a href="javascript:;" class=""><i class="side-icon manage-user"> </i> 
                          <span class="page">Company Setup</span>
                          <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                            <li><a  id="S-1036" (click)="redirectMe('S-1036','companysetup/paymentTermSetup')"> Payment Terms Setup</a></li> 
                            <li><a  id="S-1074" (click)="redirectMe('S-1074','companysetup/creditcardsetup')"> Credit Card Setup</a></li> 
                            <li><a  id="S-1034" (click)="redirectMe('S-1034','companysetup/banksetup')" >Bank Setup</a></li> 
                            <li><a id="S-1035" (click)="redirectMe('S-1035','companysetup/configurationsetup')" > Module Configuration</a></li> 
                            <li><a id="S-1089" (click)="redirectMe('S-1089','companysetup/shippingmethod')" > Shipping Method Setup</a></li> 
                            <li><a id="S-1097" (click)="redirectMe('S-1097','companysetup/vatdetailsetup')" >VAT Details Setup</a></li> 
                          </ul>
                        </li>
                        
                      <li class="treeview" >
                          <a href="javascript:;">
                            <i class="side-icon manage-company"> </i> <span class="page">General Ledger Setup</span> 
                            <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                            <!--<li><a id="S-1031" (click)="redirectMe('S-1031','postingaccountsetup')" > Posting Accounts Setup</a></li> -->
                            <li><a id="S-1173" (click)="redirectMe('S-1173','generalledgersetup/generalledgersetup')" > General Ledger Setup</a></li> 

                              <li class="pageLink">
                          <a href="javascript:;" class="">
                           <span >General Ledger Configuration Setup</span>
                          <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                            <li><a id="S-1060" (click)="redirectMe('S-1060','generalledgersetup/accountcategory')" >Account Category</a></li> 
                            <li><a id="S-1062" (click)="redirectMe('S-1062','generalledgersetup/accounttype')" > Account Type</a></li> 
                            <li><a id="S-1074" (click)="redirectMe('S-1074','generalledgersetup/audittrial')" >Audit Trial</a></li> 
                          </ul>
                        </li>
                         <li><a id="S-1117" (click)="redirectMe('S-1117','generalledgersetup/fiscalfinanceperiodsetup')" > Fiscal Finance Period Setup</a></li> 
                            <!--<li><a id="S-1117" (click)="redirectMe('S-1117','0')" > Mass Close Fiscal Financial Period Setup</a></li> -->
                            <li><a id="S-1047" (click)="redirectMe('S-1047','generalledgersetup/currencysetup')" >Currency Setup</a></li> 
                            <li><a id="S-1071" (click)="redirectMe('S-1071','generalledgersetup/exchangetablesetup')" >Exchange Table Setup</a></li> 
                            <li><a id="S-1085" (click)="redirectMe('S-1085','generalledgersetup/exchangeratedetail')" >Exchange table rate – details</a></li> 
                            <li><a id="S-1209" (click)="redirectMe('S-1209','generalledgersetup/accountstructure')" >Account Structure Setup</a></li> 
                            <li><a id="S-1218" (click)="redirectMe('S-1218','generalledgersetup/massclosefiscalfinanceperiod')" >Mass Close Fiscal Finance Period Setup</a></li>
                          </ul>
                        </li>

                         <li class="pageLink">
                          <a href="javascript:;" class=""><i class="side-icon manage-user"> </i> 
                          <span class="page">Accounts Receivables</span>
                          <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                            <li><a id="S-1149" (click)="redirectMe('S-1149','accountreceivablesetup')" > Accounts Receivables Setup</a></li> 
                            <li><a id="S-1157" (click)="redirectMe('S-1157','accountreceivablesetup/accountreceivableclasssetup')" > Account Receivables Class Setup</a></li> 
                            <li><a id="S-1182" (click)="redirectMe('S-1182','accountreceivablesetup/accountreceivableoptionsetup')" > Account Receivables Options Setup</a></li> 
                            <li><a id="S-1219" (click)="redirectMe('S-1219','accountreceivablesetup/accountreceivableclassglsetup')" > Account Receivables Class GL Setup</a></li> 
                          </ul>
                        </li>
						
						<li class="pageLink">
                          <a href="javascript:;" class=""><i class="side-icon manage-user"> </i> 
                          <span class="page">Accounts Payables</span>
                          <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                            <li><a id="S-1153" (click)="redirectMe('S-1153','accountpayablesetup')" >Accounts Payables Setup</a></li> 
                            <li><a id="S-1161" (click)="redirectMe('S-1161','accountpayablesetup/accountpayablesclasssetup')" >Accounts Payables Class Setup</a></li> 
                            <li><a id="S-1181" (click)="redirectMe('S-1181','accountpayablesetup/accountpayablesoptionsetup')" >Account Payables Options Setup</a></li> 
                            <li><a id="S-1211" (click)="redirectMe('S-1211','accountpayablesetup/accountpayablesclassaccountsetup')" >Account Payable Class Account Setup</a></li> 
                          </ul>
                        </li>
						
						<li class="pageLink">
                          <a href="javascript:;" class=""><i class="side-icon manage-user"> </i> 
                          <span class="page">Fixed Assets</span>
                          <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                            <li><a id="S-1213" (click)="redirectMe('S-1213','fixedasset/accountgroupsetup')" >Account Group Setup</a></li> 
                            <li><a id="S-1121" (click)="redirectMe('S-1121','fixedasset/booksetup')" >Book Setup</a></li> 
                            <li><a id="S-1201" (click)="redirectMe('S-1201','fixedasset/bookclasssetup')" >Book Class Setup</a></li> 
                            <li><a id="S-1101" (click)="redirectMe('S-1101','fixedasset/facalendarsetup')" >Fixed Asset Calendar Setup</a></li> 
                            <li><a id="S-1105" (click)="redirectMe('S-1105','fixedasset/calendarquartersetup')" >Calendar Quarter Setup</a></li> 
                            <li><a id="S-1198" (click)="redirectMe('S-1198','fixedasset/classsetup')" >Class Setup</a></li> 
                            <li><a id="S-1110" (click)="redirectMe('S-1110','fixedasset/facompanysetup')" >Fixed Asset Company Setup</a></li> 
                            <li><a id="S-1185" (click)="redirectMe('S-1185','fixedasset/insuranceclasssetup')" >Insurance Class Setup</a></li> 
                            <li><a id="S-1175" (click)="redirectMe('S-1175','fixedasset/leasecompanysetup')" >Lease Company Setup</a></li> 
                            <li><a id="S-1142" (click)="redirectMe('S-1142','fixedasset/locationsetup')" >Location Setup</a></li> 
                            <li><a id="S-1146" (click)="redirectMe('S-1146','fixedasset/physicallocationsetup')" >Physical Location Setup</a></li> 
                            <li><a id="S-1214" (click)="redirectMe('S-1214','fixedasset/purchasingpostingsetup')" >FA Purchasing Posting Setup</a></li> 
                            <li><a id="S-1113" (click)="redirectMe('S-1113','fixedasset/retirementsetup')" >Retirement Setup</a></li> 
                            <li><a id="S-1125" (click)="redirectMe('S-1125','fixedasset/structuresetup')" >Structure Setup</a></li> 
                          </ul>
                        </li>
						<!-- here -->
						 <li class="treeview">
                          <a href="javascript:;">
                            <i class="side-icon manage-company"> </i> <span class="page">Master Data</span> 
                            <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                                
							<ul class="treeview-menu">
                              <li class="pageLink">
								<a href="javascript:;" class="">
									<span>General Ledger</span>
									<span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
								</a>
								<ul class="treeview-menu">
									<li><a id="S-1129" (click)="redirectMe('S-1129','masterdata/checkbookmaintenance')" >Checkbook Maintenance</a></li> 
									<li><a id="S-1031" (click)="redirectMe('S-1031','masterdata/postingaccountsetup')" >Posting Accounts Setup</a></li> 
									<li><a id="S-1210" (click)="redirectMe('S-1210','masterdata/accountCurrencies')" >Account Currencies</a></li> 
									<li><a id="S-1093" (click)="redirectMe('S-1093','masterdata/mainaccountsetup')" >Main Account Setup</a></li> 
									<li><a id="S-1054" (click)="redirectMe('S-1054','masterdata/financialdimensionsetup')" >Financial Dimensions Setup</a></li> 
									<li><a id="S-1081" (click)="redirectMe('S-1081','masterdata/financialdimensionvalue')" >Financial Dimension Value Setup</a></li> 
									<li><a id="S-1217" (click)="redirectMe('S-1217','masterdata/fixedallocationaccount')" >Fixed Allocation Accounts</a></li> 
								</ul>
							</li>                        
                        
						  
						                  
              <li class="pageLink">
								<a href="javascript:;" class="">
									<span>Accounts Receivables</span>
									<span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
								</a>
								<ul class="treeview-menu">
									<li><a id="S-1051" (click)="redirectMe('S-1051','masterdata/customermaintenance')" >Customers Maintenance</a></li> 
									<li><a id="S-1165" (click)="redirectMe('S-1165','masterdata/nationalaccount')" >National Account Maintenance</a></li> 
									<li><a id="S-1133" (click)="redirectMe('S-1133','masterdata/salespersonmaintenance')" >Salesperson Maintenance</a></li> 
									<li><a id="S-1137" (click)="redirectMe('S-1137','masterdata/salesterritorysetup')" >Sales Territory Setup</a></li>  
								</ul>
							</li>                        
                              <li class="pageLink">
								<a href="javascript:;" class="">
									<span>Accounts Payables</span>
									<span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
								</a>
								<ul class="treeview-menu">
									<li><a id="S-1067" (click)="redirectMe('S-1067','masterdata/vendormaintenance')" >Vendor Maintenance</a></li> 
								</ul>
							</li>                        
              <li class="pageLink">
								<a href="javascript:;" class="">
									<span>Fixed Assets</span>
									<span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
								</a>
								<ul class="treeview-menu">
									<li><a id="S-1170" (click)="redirectMe('S-1170','masterdata/fainformationmaintenance')" >FA Information Maintenance</a></li> 
									<li><a id="S-1216" (click)="redirectMe('S-1216','masterdata/faaccountmaintenance')" >FA Account Maintenance</a></li> 
									<li><a id="S-1178" (click)="redirectMe('S-1178','masterdata/fabookmaintenance')" >FA Book Maintenance</a></li> 
									<li><a id="S-1190" (click)="redirectMe('S-1190','masterdata/fainsurancemaintenance')" >FA Insurance Maintenance</a></li> 
									<li><a id="S-1194" (click)="redirectMe('S-1194','masterdata/faleasemaintenance')" >FA Lease Maintenance</a></li> 
								</ul>
							</li>                        
              </ul>
                        </li>

                <li class="treeview">
                    <a href="javascript:;">
                        <i class="side-icon manage-company"> </i> <span class="page">Transaction Module</span> 
                        <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                    </a>
                                  
                <ul class="treeview-menu">
                    <li class="pageLink">
                  <a href="javascript:;" class="">
                    <span>General Ledger</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                  </a>
                  <ul class="treeview-menu">
                      <li><a id="S-1229" (click)="redirectMe('S-1229','transaction/journalentrySetup')" >Journal Ledger</a></li>
                      <li><a id="S-1232" (click)="redirectMe('S-1232','transaction/clearingentry')" >Clearing Entry</a></li>
                      <li><a id="S-1233" (click)="redirectMe('S-1233','transaction/cashreceipt')" >Cash Receipt Entry</a></li>
                      <li><a id="S-1240" (click)="redirectMe('S-1240','transaction/banktransferentry')" >Bank Transfer Entry</a></li>
                      <li><a id="S-1235" (click)="redirectMe('S-1235','transaction/batchsetup')" >GL Batches</a></li>
                      <li><a id="S-1267" (click)="redirectMe('S-1267','transaction/paymentvaoucher')" >Payment Vaoucher</a></li>
                      <li><a id="S-12352" routerLink="/angularsession" style="display:none"  >Angular Session</a></li>
                  </ul>
                </li>                        
                                
                <li class="pageLink">
                  <a href="javascript:;" class="">
                    <span>Accounts Receivables</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                  </a>
                  <ul class="treeview-menu">
                      <li><a id="S-1246" (click)="redirectMe('S-1246','transaction/accountreceivablestransaction')">Transaction Entry</a></li>
                      <li><a id="S-1247" (click)="redirectMe('S-1247','transaction/arcashreceipt')">Cash Receipt Entry</a></li>
                      <li><a id="S-1249" (click)="redirectMe('S-1249','transaction/arbatchsetup')">AR Batches</a></li>
                      <li><a id="S-1252" (click)="redirectMe('S-1252','transaction/applyartransaction')">Apply AR Transaction</a></li>
                  </ul>
                </li>                        
                <li class="pageLink">
                  <a href="javascript:;" class="">
                    <span>Accounts Payables</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                  </a>
                  <ul class="treeview-menu">
                      <li><a id="S-1253" (click)="redirectMe('S-1253','transaction/accountpayablestransaction')">Transaction Entry</a></li>
                      <li><a id="S-1257" (click)="redirectMe('S-1257','transaction/accountpayablesbatch')">AP Batches</a></li>
                      <li><a id="S-1255" (click)="redirectMe('S-1255','transaction/manualpaymententry')">Manual Entry</a></li>
                      <li><a id="S-1260" (click)="redirectMe('S-1260','transaction/applyaptransaction')">Apply AP Transaction</a></li>
                  </ul>
                </li>                        
                </ul>
                 </li>

                <li class="treeview">
                    <a href="javascript:;">
                      <i class="side-icon manage-company"> </i> <span class="page">Reports</span> 
                      <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu"> 
                      <!-- li><a routerLink="/report" > Trial Balance Report</a></li --> 
                      <li><a id="S-1261" (click)="redirectMe('S-1261','report/trialbalance')" >Trial Balance Report</a></li> 
                      <li><a id="S-1253" (click)="redirectMe('S-1253','report/trialbalance_new')" >Trial Balance Report New</a></li> 
                      <li><a id="S-1262" (click)="redirectMe('S-1262','report/accountstatementreport')" >Account Statement Report</a></li> 
                      <li><a id="S-4003" (click)="redirectMe('S-4003','report/profitandlossreport')" >Profit And Loss Report</a></li> 
                      <li><a id="S-4004" (click)="redirectMe('S-4004','report/BalancesheetReport')" >Balancesheet Report</a></li> 
                    </ul>
                  </li>
                    </ul>
                
      <ul class="sidebar-menu" *ngIf="sidebarValues.moduleId == '14' && currentLanguage == '2'">
                        <li class="pageLink">
                          <a href="javascript:;" class=""><i class="side-icon manage-user"> </i> 
                          <span class="page">إعداد الشركة</span>
                          <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                            <li><a  id="S-1036" (click)="redirectMe('S-1036','companysetup/paymentTermSetup')"> إعداد شروط الدفع</a></li> 
                            <li><a  id="S-10740" (click)="redirectMe('S-1074','companysetup/creditcardsetup')"> إعداد بطاقة الائتمان</a></li> 
                            <li><a  id="S-1034" (click)="redirectMe('S-1034','companysetup/banksetup')" >إعداد البنك</a></li> 
                            <li><a id="S-1035" (click)="redirectMe('S-1035','companysetup/configurationsetup')" > تكوين الوحدة</a></li> 
                            <li><a id="S-1089" (click)="redirectMe('S-1089','companysetup/shippingmethod')" > طريقة إعداد الشحن</a></li> 
                            <li><a id="S-1097" (click)="redirectMe('S-1097','companysetup/vatdetailsetup')" >إعداد تفاصيل ضريبة القيمة المضافة</a></li> 
                          </ul>
                        </li>
                        
                      <li class="treeview" >
                          <a href="javascript:;">
                            <i class="side-icon manage-company"> </i> <span class="page">إعداد دفتر الأستاذ العام</span> 
                            <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                             <!--<li><a id="S-1031" (click)="redirectMe('S-1031','postingaccountsetup')" > إعداد إعداد الحسابات</a></li> -->
                            <li><a id="S-1173" (click)="redirectMe('S-1173','generalledgersetup')" > إعداد دفتر الأستاذ العام</a></li> 

                              <li class="pageLink">
                          <a href="javascript:;" class="">
                           <span >إعداد إعداد دفتر الأستاذ العام</span>
                          <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                            <li><a id="S-1060" (click)="redirectMe('S-1060','generalledgersetup/accountcategory')" >فئة الحساب</a></li> 
                            <li><a id="S-1062" (click)="redirectMe('S-1062','generalledgersetup/accounttype')" > نوع الحساب</a></li> 
                            <li><a id="S-1074" (click)="redirectMe('S-1074','generalledgersetup/audittrial')" >التدقيق تريل</a></li> 
                          </ul>
                        </li>
                         <li><a id="S-1117" (click)="redirectMe('S-1117','generalledgersetup/fiscalfinanceperiodsetup')" > إعداد فترة المالية المالية</a></li> 
                            <!--<li><a id="S-1117" (click)="redirectMe('S-1117','0')" > إغلاق الكتلة المالية إعداد الفترة المالية</a></li> -->
                            <li><a id="S-1047" (click)="redirectMe('S-1047','generalledgersetup/currencysetup')" >إعداد العملة</a></li> 
                            <li><a id="S-1071" (click)="redirectMe('S-1071','generalledgersetup/exchangetablesetup')" >إعداد جدول إكسهانج</a></li> 
                            <li><a id="S-1085" (click)="redirectMe('S-1085','generalledgersetup/exchangeratedetail')" >سعر جدول الصرف - التفاصيل</a></li> 
                            <li><a id="S-1209" (click)="redirectMe('S-1209','generalledgersetup/accountstructure')" >إعداد بنية الحساب</a></li> 
                            <li><a id="S-1218" (click)="redirectMe('S-1218','generalledgersetup/massclosefiscalfinanceperiod')" >إغلاق الشامل المالية الإعداد الفترة المالية</a></li>
                            
                          </ul>
                        </li>

                         <li class="pageLink">
                          <a href="javascript:;" class=""><i class="side-icon manage-user"> </i> 
                          <span class="page">حسابات الذمم المدينة</span>
                          <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                            <li><a id="S-1149" (click)="redirectMe('S-1149','accountreceivablesetup')" > إعداد حسابات المدينين</a></li> 
                            <li><a id="S-1157" (click)="redirectMe('S-1157','accountreceivablesetup/accountreceivableclasssetup')" > إعداد حسابات الذمم المدينة</a></li> 
                            <li><a id="S-1182" (click)="redirectMe('S-1182','accountreceivablesetup/accountreceivableoptionsetup')" > إعداد خيارات حسابات القبض</a></li> 
                            <li><a id="S-1219" (click)="redirectMe('S-1219','accountreceivablesetup/accountreceivableclassglsetup')" > إعداد حسابات الذمم المدينة غل</a></li> 
                          </ul>
                        </li>
						
						<li class="pageLink">
                          <a href="javascript:;" class=""><i class="side-icon manage-user"> </i> 
                          <span class="page">الحسابات الدائنة</span>
                          <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                            <li><a id="S-1153" (click)="redirectMe('S-1153','accountpayablesetup')" >إعداد الحسابات الدائنة</a></li> 
                            <li><a id="S-1161" (click)="redirectMe('S-1161','accountpayablesetup/accountpayablesclasssetup')" >إعداد الحسابات الدائنة الفئة</a></li> 
                            <li><a id="S-1181" (click)="redirectMe('S-1181','accountpayablesetup/accountpayablesoptionsetup')" >إعداد الحسابات الدائنة خيارات</a></li> 
                            <li><a id="S-1211" (click)="redirectMe('S-1211','accountpayablesetup/accountpayablesclassaccountsetup')" >إعداد حساب فئة الدفع الدائنة</a></li> 
                          </ul>
                        </li>
						
						<li class="pageLink">
                          <a href="javascript:;" class=""><i class="side-icon manage-user"> </i> 
                          <span class="page">أصول ثابتة</span>
                          <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                            <li><a id="S-1213" (click)="redirectMe('S-1213','fixedasset/accountgroupsetup')" >إعداد مجموعة الحساب</a></li> 
                            <li><a id="S-1121" (click)="redirectMe('S-1121','fixedasset/booksetup')" >إعداد الكتاب</a></li> 
                            <li><a id="S-1201" (click)="redirectMe('S-1201','fixedasset/bookclasssetup')" >إعداد فئة الكتاب</a></li> 
                            <li><a id="S-1101" (click)="redirectMe('S-1101','fixedasset/facalendarsetup')" >إعداد تقويم الأصول الثابتة</a></li> 
                            <li><a id="S-1105" (click)="redirectMe('S-1105','fixedasset/calendarquartersetup')" >إعداد ربع السنة</a></li> 
                            <li><a id="S-1198" (click)="redirectMe('S-1198','fixedasset/classsetup')" >إعداد الفئة</a></li> 
                            <li><a id="S-1110" (click)="redirectMe('S-1110','fixedasset/facompanysetup')" >إعداد شركة الأصول الثابتة</a></li> 
                            <li><a id="S-1185" (click)="redirectMe('S-1185','fixedasset/insuranceclasssetup')" >التأمين فئة الإعداد</a></li> 
                            <li><a id="S-1175" (click)="redirectMe('S-1175','fixedasset/leasecompanysetup')" >إعداد شركة التأجير</a></li> 
                            <li><a id="S-1142" (click)="redirectMe('S-1142','fixedasset/locationsetup')" >إعداد الموقع</a></li> 
                            <li><a id="S-1146" (click)="redirectMe('S-1146','fixedasset/physicallocationsetup')" >إعداد الموقع الفعلي</a></li> 
                            <li><a id="S-1214" (click)="redirectMe('S-1214','fixedasset/purchasingpostingsetup')" >الأصول الثابتة شراء إعداد الإعداد</a></li> 
                            <li><a id="S-1113" (click)="redirectMe('S-1113','fixedasset/retirementsetup')" >إعداد التقاعد</a></li> 
                            <li><a id="S-1125" (click)="redirectMe('S-1125','fixedasset/structuresetup')" >إعداد الهيكل</a></li> 
                          </ul>
                        </li>
						
						<!-- here -->
						 <li class="treeview">
                          <a href="javascript:;">
                            <i class="side-icon manage-company"> </i> <span class="page">البيانات الرئيسية</span> 
                            <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                                
							<ul class="treeview-menu">
                              <li class="pageLink">
								<a href="javascript:;" class="">
									<span>دفتر الأستاذ العام</span>
									<span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
								</a>
								<ul class="treeview-menu">
									<li><a id="S-1129" (click)="redirectMe('S-1129','masterdata/checkbookmaintenance')" >صيانة دفتر الشيكات</a></li> 
									<li><a id="S-1031" (click)="redirectMe('S-1031','masterdata/postingaccountsetup')" >إعداد إعداد الحسابات</a></li> 
									<li><a id="S-1210" (click)="redirectMe('S-1210','masterdata/accountCurrencies')" >عملات الحساب</a></li> 
									<li><a id="S-1093" (click)="redirectMe('S-1093','masterdata/mainaccountsetup')" >إعداد الحساب الرئيسي</a></li> 
									<li><a id="S-1054" (click)="redirectMe('S-1054','masterdata/financialdimensionsetup')" >إعداد الأبعاد المالية</a></li> 
                  <li><a id="S-1081" (click)="redirectMe('S-1081','masterdata/financialdimensionvalue')" >إعداد قيمة البعد المالي</a></li> 
									<li><a id="S-1217" (click)="redirectMe('S-1217','masterdata/fixedallocationaccount')" >حسابات التخصيص الثابتة</a></li> 
								</ul>
							</li>                        
                        
						  
						                  
                              <li class="pageLink">
								<a href="javascript:;" class="">
									<span>حسابات الذمم المدينة</span>
									<span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
								</a>
								<ul class="treeview-menu">
									<li><a id="S-1051" (click)="redirectMe('S-1051','masterdata/customermaintenance')" >صيانة العملاء</a></li> 
									<li><a id="S-1165" (click)="redirectMe('S-1165','masterdata/nationalaccount')" >صيانة الحسابات القومية</a></li> 
									<li><a id="S-1133" (click)="redirectMe('S-1133','masterdata/salespersonmaintenance')" >صيانة مندوب المبيعات</a></li> 
									<li><a id="S-1137" (click)="redirectMe('S-1137','masterdata/salesterritorysetup')" >مبيعات إعداد الإقليم</a></li>  
								</ul>
							</li>                        
              <li class="pageLink">
								<a href="javascript:;" class="">
									<span>الحسابات الدائنة</span>
									<span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
								</a>
								<ul class="treeview-menu">
									<li><a id="S-1067" (click)="redirectMe('S-1067','masterdata/vendormaintenance')" >صيانة المورد</a></li> 
								</ul>
							</li>                        
              <li class="pageLink">
								<a href="javascript:;" class="">
									<span>أصول ثابتة</span>
									<span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
								</a>
								<ul class="treeview-menu">
									<li><a id="S-1170" (click)="redirectMe('S-1170','masterdata/fainformationmaintenance')" >الأصول الثابتة معلومات الصيانة</a></li> 
									<li><a id="S-1216" (click)="redirectMe('S-1216','masterdata/faaccountmaintenance')" >الأصول الثابتة صيانة الحساب</a></li> 
									<li><a id="S-1178" (click)="redirectMe('S-1178','masterdata/fabookmaintenance')" >الأصول الثابتة كتاب الصيانة</a></li> 
									<li><a id="S-1190" (click)="redirectMe('S-1190','masterdata/fainsurancemaintenance')" >الأصول الثابتة التأمين التأمين</a></li> 
									<li><a id="S-1194" (click)="redirectMe('S-1194','masterdata/faleasemaintenance')" >الأصول الثابتة الإيجار الصيانة</a></li> 
								</ul>
							</li>                        
                       </ul>
                        </li>
                        <li class="treeview">
                            <a href="javascript:;">
                                <i class="side-icon manage-company"> </i> <span class="page">وحدة المعاملات</span> 
                                <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                            </a>
                                          
                        <ul class="treeview-menu">
                            <li class="pageLink">
                          <a href="javascript:;" class="">
                            <span>دفتر الأستاذ العام</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                              <li><a id="S-1229" (click)="redirectMe('S-1229','transaction/journalentrySetup')" >مجلة دفتر الأستاذ</a></li>
                              <li><a id="S-1232" (click)="redirectMe('S-1232','transaction/clearingentry')" >مدخل المقاصة</a></li>
                              <li><a id="S-1233" (click)="redirectMe('S-1233','transaction/cashreceipt')" >دخول الاستلام النقدي</a></li>
                              <li><a id="S-1240" (click)="redirectMe('S-1240','transaction/banktransferentry')" >تحويل المصرفي الدخول</a></li>
                              <li><a id="S-1235" (click)="redirectMe('S-1235','transaction/batchsetup')" >غل دفعات</a></li>
                              <li><a id="S-1267" (click)="redirectMe('S-1267','transaction/paymentvaoucher')" >سند صرف</a></li>
                          </ul>
                        </li>                        
                                        
                        <li class="pageLink">
                          <a href="javascript:;" class="">
                            <span>حسابات الذمم المدينة</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                              <li><a id="S-1246" (click)="redirectMe('S-1246','transaction/accountreceivablestransaction')">دخول الصفقة</a></li>
                              <li><a id="S-1247" (click)="redirectMe('S-1247','transaction/arcashreceipt')">دخول الاستلام النقدي</a></li>
                              <li><a id="S-1249" (click)="redirectMe('S-1249','transaction/arbatchsetup')">أر دفعات</a></li>
                              <li><a id="S-1252" (click)="redirectMe('S-1252','transaction/applyartransaction')">تطبيق معاملة أر</a></li>
                          </ul>
                        </li>                        
                        <li class="pageLink">
                          <a href="javascript:;" class="">
                            <span>الحسابات الدائنة</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                          </a>
                          <ul class="treeview-menu">
                              <li><a id="S-1253" (click)="redirectMe('S-1253','transaction/accountpayablestransaction')">دخول الصفقة</a></li>
                              <li><a id="S-1257" (click)="redirectMe('S-1257','transaction/accountpayablesbatch')">دفعات أب</a></li>
                              <li><a id="S-1255" (click)="redirectMe('S-1255','transaction/manualpaymententry')">الإدخال اليدوي</a></li>
                              <li><a id="S-1260" (click)="redirectMe('S-1260','transaction/applyaptransaction')">تطبيق معاملة أب</a></li>
                          </ul>
                        </li>                        
                        </ul>
                         </li>
                <li class="treeview">
                    <a href="javascript:;">
                      <i class="side-icon manage-company"> </i> <span class="page">*Reports*تقارير</span> 
                      <span class="pull-right-container"><i class="fa fa-angle-left fa-fw pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu"> 
                      <li><a id="S-1261" (click)="redirectMe('S-1261','report/trialbalance')" >*Trial Balance Report*تقرير ميزان المراجعة</a></li> 
                      <li><a id="S-1262" (click)="redirectMe('S-1262','report/accountstatementreport')" >*Account Statement Report*تقرير كشف الحساب</a></li> 
                      <li><a id="S-4003" (click)="redirectMe('S-4003','report/profitandlossreport')" >*profit and loss Report*تقرير ارباح وخسائر</a></li> 
                      <li><a id="S-4004" (click)="redirectMe('S-4004','report/BalancesheetReport')" >*Balance sheet Report*تقرير ميزانية</a></li> 
                    </ul>
                  </li>
                    </ul>
<!-- HCM -->
<!--
        <ul class="sidebar-menu" *ngIf="(sidebarValues.moduleId == '2' || sidebarValues.moduleId == '21')">
           <li class="pageLink"  routerLink="/{{sidebar.sideMenuURL}}" *ngFor="let sidebar of sidebarValues.sideMenuList">
                <a href="javascript:;" id="{{sidebar.sideMenuURL}}" (click)="redirectTo(sidebar.sideMenuURL)" *ngIf="currentUrl == sidebar.sideMenuURL && (sidebar.sideMenuURL=='settings' && loggedInUserRole !='USER')"
                 class="active" title="{{defaultFormValues[9]['helpMessage']}}">
                  <i class="side-icon manage-ip"> </i> 
                  <span class="page">{{sidebar.sideMenuName}} </span>
                </a>
                 <a href="javascript:;" id="{{sidebar.sideMenuURL}}" (click)="redirectTo(sidebar.sideMenuURL)" *ngIf="currentUrl != sidebar.sideMenuURL && (sidebar.sideMenuURL !='settings' && loggedInUserRole =='USER')"
                 class="" title="{{defaultFormValues[9]['helpMessage']}}">
                  <i class="side-icon manage-ip"> </i> 
                  <span class="page">{{sidebar.sideMenuName}}</span>
                </a>
            </li> 
        </ul>
--> 
<!-- HCM English -->

 		<!--div class="row" *ngIf="sidebarValues.moduleId == '2' && currentLanguage == '1'">
       		<div class="row">
			<div class="col-md-12 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
				<div class="list-group panel">
					<a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Setups</span> </a>
					<div class="collapse" id="menu1">
					<ul class="sidebar-menu">

						<li class="pageLink list-group-item1" data-parent="#menu1" (click)="setPath('/hcm/division')" [routerLink]="['/hcm/division']" [ngClass]="getClass('/hcm/division')">
							<a href="javascript:;" title="">
								<i class="side-icon manage-company"> </i>
									<span class="page">Division Setup</span>
							</a>
						</li>

						<li class="pageLink list-group-item1" data-parent="#menu1" [routerLink]="['/hcm/department']" [ngClass]="getClass('/hcm/department')">
							<a href="javascript:;" class="" title="">
								<i class="side-icon manage-company"> </i>
								<span class="page">Department Setup</span>
							</a>
						</li>

						<li class="pageLink list-group-item1" data-parent="#menu1" [routerLink]="['/hcm/positionSetup']" [ngClass]="getClass('/hcm/positionSetup')">
							<a href="javascript:;" title="">
								<i class="side-icon manage-company"> </i>
								<span class="page">Position Setup</span>
							</a>
						</li>

					</ul>
					</div>
				
					<a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Masters</span> </a>
					<div class="collapse" id="menu2">
					<ul class="sidebar-menu">
						<li class="pageLink list-group-item1" data-parent="#menu2" [routerLink]="['/hcm/employeeNationality']" [ngClass]="getClass('/hcm/employeeNationality')">
							<a href="javascript:;" title="">
								<i class="side-icon manage-company"> </i>
								<span class="page">Employee Nationality</span>
							</a>
						</li>
			
					</ul>
					</div>
				</div>
			</div>
		</div>

		</div-->


<!-- HCM Arabic -->


                  </section>
  

                </aside>
