<header class="main-header">
    <span class="logo-mini"><a href="/dashboard"><img src="assets/img/logo.png" alt="Logo" class="img-responsive center-block logo"></a></span>

    <nav role="navigation" class="navbar navbar-static-top">

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="user user-menu">
                    <!--<a href="/dashboard"><span class="user-image"><img src="assets/img/user.jpg" alt="User Image"></span> <span class="hidden-xs">Hi Ahmed Tijani</span>
                                </a>-->
                    <button id="btnLogout" class="orange-btn" (click)="Logout()">{{defaultFormValues[7]['fieldValue']}}</button>
                    <button id="workflow" class="orange-btn" (click)="workflow()">Workflow</button>
                    <button (click)="UserLogOut(modalLogOut)" id="btnSessionOut" style="display:none"></button>
                </li>
                <li class="highlight"><a (click)="dashboard()"><img src="assets/img/home-ico.png" alt=""></a></li>
                <li class="highlight"  *ngIf="loggedInUserRole =='SUPERADMIN'"><a (click)="settings()"><img src="assets/img/gear-ico.png" alt=""></a></li>   
            </ul>
        </div>
        <div class="language-dp dropdown pull-right">
        	<div class="select-outer">
										<select   class="form-control auto-focus" 
                                                name='currentLanguage' [(ngModel)]="currentLanguage"  (change)="ChangeLanguage()">
											<option *ngFor="let language of arrLanguage" [value]="language.languageId">
                                                {{language.languageName}}
                                            </option>
										</select>
									</div> 
                                    	</div> 
        	  <!--<div class="language-dp dropdown pull-right">
                
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                          Select Language
					  <span class="caret"></span></button>
					  <ul class="dropdown-menu">
						<li><a href="#">Arabic</a></li>
					  </ul>
					</div>-->
        <!--<ul class="language-check">
            <li [ngClass]="{'active':isActive==1}"><a href="#" data-langid="1" (click)="ChangeLanguage($event)">Eng</a></li>
            <li [ngClass]="{'active':isActive==2}"><a href="#" data-langid="2" (click)="ChangeLanguage($event)">Arabic</a></li>
        </ul>-->
    </nav>

    <div class="top-header-nav">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav"  *ngIf="loggedInUserRole !='SUPERADMIN'" >
                        <li *ngFor="let header of headerValues;" 
                        (click)="setCurrentHeader($event,header.moduleId)">
                                <a href="">{{header.headerName}}</a>
                        </li> 
                    </ul>
                    <ul class="nav navbar-nav" *ngIf="loggedInUserRole =='SUPERADMIN'" >
                        <li *ngIf="headerValues" (click)="setCurrentHeader($event,headerValues[0].moduleId)">
                            <a href="">{{headerValues[0].headerName}}</a>
                        </li> 
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!-- Top Header Ends -->
</header>

<modal id="modalLogOut" #modalLogOut [closeOnEscape]="false" [closeOnOutsideClick]="false"
[hideCloseButton]="true" modalClass="modal-sm">
<modal-header>

</modal-header>
<modal-content>
   <span id="forbiddenMsg">{{forbiddenMsg}}</span>
</modal-content>
<modal-footer>
    <button class="btn btn-primary close-button" routerLink="/login">{{Close}}</button>
</modal-footer>
</modal>