
 <div class="content-wrapper user-view" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{messageText}}
                        </div>
                      
                    <div class="content-outer com-form">
                      <div class="row">
                        <div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
								</div>
						    </div>
						<div class="form-row">  
                        	<div class="col-xs-12">
		                        <div class="algo-table">
		                        <div class="table-responsive">
						<ngx-datatable id="dimensionGrid" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							(select)='onSelect($event)'> 
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="dimensionName" [width]="340"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="dimensionMask" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="340" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="Action" [width]="150" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[4]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getFinancialDimentionsById(row)" title="{{defaultManageFormValues[2]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
		                    </div>

                            <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
                        </div><!-- Form Row Ends -->

						   <form (ngSubmit)="!hasMsg && f.form.valid && saveFinancialDimentions(f)" #f="ngForm" novalidate>
                         <div class="form-row">
                            <div *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !dimensionName.valid,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="dimensionName">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                <input myAutofocus type="text" class="form-control fm-txt auto-focus" name="dimensionName" [(ngModel)]="model.dimensionName" 
                                #dimensionName="ngModel" 
                                title="{{defaultAddFormValues[0]['helpMessage']}}"
                                 maxlength="15"   required />
                                <div *ngIf="f.submitted && dimensionName.invalid">
                                    <div class='error-msg' *ngIf="dimensionName.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
									<div class='error-msg' *ngIf="dimensionName.errors.maxlength">
                                           {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                           
                             
                            
                        </div><!-- Form Row Ends -->

						<div class="form-row">
                            
                           
                             <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !dimensionMask.valid,'col-md-6 col-sm-6 col-xs-12 ':true }">
                                <label for="dimensionMask">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'"  name="dimensionMask" [(ngModel)]="model.dimensionMask" 
                                #dimensionMask="ngModel" 
                                title="{{defaultAddFormValues[1]['helpMessage']}}"
                                 maxlength="15"   required />
                                <div *ngIf="f.submitted && dimensionMask.invalid">
                                    <div class='error-msg' *ngIf="dimensionMask.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
									<div class='error-msg' *ngIf="dimensionMask.errors.maxlength">
                                         {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            
                        </div><!-- Form Row Ends -->
						
                        <div class="button-row">
                      <div class="col-sm-12">
						<input type="submit" [disabled]="LockScreen(defaultAddFormValues[2]['writeAccess'])" 
						 value="{{defaultAddFormValues[2]['fieldValue']}}" class="orange-btn" title="{{defaultAddFormValues[2]['helpMessage']}}">
                        <input type="button" class="blue-btn" (click)="resetMe(f)" title="{{defaultAddFormValues[3]['helpMessage']}}" value="{{defaultAddFormValues[3]['fieldValue']}}" />
                        <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                        </div>

                        </div>
</form>
                        

                      </div> <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                       
                  </section>
                </section>
            </div>
