<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{SKILL_SET_SETUP_CREATE_LABEL['fieldValue']}}">{{SKILL_SET_SETUP_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{SKILL_SET_SETUP_SEARCH_LABEL['helpMessage']}}" placeholder="{{SKILL_SET_SETUP_SEARCH_LABEL['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>

        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="SkillsSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">
              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Columns -->
                <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                  <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                      <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                              <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)" >
                              <div 
                              [draggable]="isConfigure"
                              (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                              (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                              (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                              (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                          </ng-template>
                          <ng-template let-row="row" ngx-datatable-cell-template>
                              {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                          </ng-template>
                      </ngx-datatable-column>  
                      </div>
              </div>


              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{SKILL_SET_SETUP_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>{{SKILL_SET_SETUP_TABLEVIEW['fieldValue']}}</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option *ngFor="let tv of tableViews" [value]="tv.id">{{tv.name}}</option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{SKILL_SET_SETUP_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
              <h3 *ngIf="!model.id">{{SKILL_SET_SETUP_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{SKILL_SET_SETUP_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div class="col-md-12 mt-30"></div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && islifeTimeValid && skillSetId.value!=0 && CreateSkillsSetup(f, $event)"
              #f="ngForm" novalidate>

              <!-- SkillsSteup Id field -->
              <div class="form-group">

                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #update>
                  <input type="hidden" name="skillSetDescId" [(ngModel)]="model.skillSetDescId" #skillSetDescId="ngModel" value="{{skillSetDescId}}">
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="skillSetId">{{SKILL_SET_SETUP_SET_ID['fieldValue']}}</label>
                      <span *ngIf="SKILL_SET_SETUP_SET_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="skillSetId" value="{{skillIdvalue}}" (keyup)="CheckNumber($event)"
                        title="{{SKILL_SET_SETUP_SET_ID['helpMessage']}}" [readonly]="SKILL_SET_SETUP_SET_ID['readAccess']" />

                    </div>
                  </div>
                </ng-template>


                <ng-template #create>
                  <div [ngClass]="{ 'has-error': f.submitted && !skillSetId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="skillSetId">{{SKILL_SET_SETUP_SET_ID['fieldValue']}}</label>
                      <span *ngIf="SKILL_SET_SETUP_SET_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="skillSetId" [(ngModel)]="model.skillSetId" #skillSetId="ngModel"
                        title="{{SKILL_SET_SETUP_SET_ID['helpMessage']}}" maxlength="15" [required]="SKILL_SET_SETUP_SET_ID['isMandatory']" [typeahead]="setIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                        autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="model.skillSetId"
                        class="search-id" />
                      <div *ngIf="f.submitted && skillSetId.invalid">
                        <div [hidden]="!skillSetId.errors.required">
                          {{SKILL_SET_SETUP_SET_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!skillSetId.errors?.maxlength" *ngIf="SKILL_SET_SETUP_SET_ID['listDtoFieldValidationMessage'][1]">
                          {{SKILL_SET_SETUP_SET_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>

              <!-- SkillsSteup Description Field -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !skillSetDiscription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="skillSetDiscription">{{SKILL_SET_SETUP_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="SKILL_SET_SETUP_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="skillSetDiscription" [(ngModel)]="model.skillSetDesc" #skillSetDiscription="ngModel"
                      title="{{SKILL_SET_SETUP_DESCRIPTION['helpMessage']}}" [required]="SKILL_SET_SETUP_DESCRIPTION['isMandatory']" maxlength="31" />
                    <div *ngIf="f.submitted && skillSetDiscription.invalid">
                      <div [hidden]="!skillSetDiscription.errors.required">
                        {{SKILL_SET_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!skillSetDiscription.errors?.maxlength" *ngIf="SKILL_SET_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{SKILL_SET_SETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Arabic location description -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !arabicDiscription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="arabicDiscription">{{SKILL_SET_SETUP_ARABIC_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="SKILL_SET_SETUP_ARABIC_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDiscription" [(ngModel)]="model.skillSetArbicDesc" #arabicDiscription="ngModel"
                      title="{{SKILL_SET_SETUP_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61" [required]="SKILL_SET_SETUP_ARABIC_DESCRIPTION['isMandatory']" />
                    <div *ngIf="f.submitted && arabicDiscription.invalid">
                      <div [hidden]="!arabicDiscription.errors.required">
                        {{SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!arabicDiscription.errors?.maxlength" *ngIf="SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Arabic location description -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && listSkillSteup.value=='','col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="skillSetIndexId">{{SKILL_SET_SETUP_SKILL_ID['fieldValue']}}</label>
                    <span *ngIf="SKILL_SET_SETUP_SKILL_ID['isMandatory']">*</span>
                  </div>
                  <div class="col-md-4">
                    <select [ngClass]="'form-control fm-txt'" name="skillSetIndexId" [(ngModel)]="skillSetsetId" #listSkillSteup="ngModel" title="Select Skill ID"
                    [required]="SKILL_SET_SETUP_SKILL_ID['isMandatory']" (change)="checkFrequency($event);" multiple>
                      <option *ngFor="let skill of skillSetIdOptions" [value]="skill.id">
                        {{skill.skillId}}
                      </option>
                    </select>
                    <div *ngIf="f.submitted && listSkillSteup.value==0">
                      <div [hidden]="listSkillSteup.value!=0">
                        {{SKILL_SET_SETUP_SKILL_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4" style="background:#eee">
                    <textarea [ngClass]="'form-control fm-txt'" [readonly]="SKILL_SET_SETUP_SKILL_ID['readAccess']" rows="3" cols="30" name="skillsetiddesc" [value]="skillsetupindexdesc">{{skillsetupindexdesc}}</textarea>
                  </div>


                </div>

              </div>

              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !comment.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="comment">{{SKILL_SET_SETUP_COMMENT['fieldValue']}}</label>
                    <span *ngIf="SKILL_SET_SETUP_COMMENT['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="comment" [(ngModel)]="model.comment" #comment="ngModel" title="{{SKILL_SET_SETUP_COMMENT['helpMessage']}}"
                      maxlength="31" [required]="SKILL_SET_SETUP_COMMENT['isMandatory']" />
                    <div *ngIf="f.submitted && comment.invalid">
                      <div [hidden]="!comment.errors.required">
                        {{SKILL_SET_SETUP_COMMENT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!comment.errors?.maxlength" *ngIf="SKILL_SET_SETUP_COMMENT['listDtoFieldValidationMessage'][1]">
                        {{SKILL_SET_SETUP_COMMENT['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !skillSetSeqn.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="skillSetSeqn">{{SKILL_SET_SETUP_SEQUENCE['fieldValue']}}</label>
                    <span *ngIf="SKILL_SET_SETUP_SEQUENCE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="number" [ngClass]="'form-control fm-txt'" name="skillSetSeqn" [(ngModel)]="model.skillSetSeqn" #skillSetSeqn="ngModel"
                      title="{{SKILL_SET_SETUP_SEQUENCE['helpMessage']}}" maxlength="5" [required]="SKILL_SET_SETUP_SEQUENCE['isMandatory']" min="0" max="99999" onkeypress="return check_digit(event,this,5,3);"
                    />
                    <div *ngIf="f.submitted && skillSetSeqn.invalid">
                      <div [hidden]="!skillSetSeqn.errors.required">
                        {{SKILL_SET_SETUP_SEQUENCE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!skillSetSeqn.errors?.maxlength" *ngIf="SKILL_SET_SETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{SKILL_SET_SETUP_SEQUENCE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-10 col-xs-12">

                  <div class="col-md-8">
                    <div class="col-md-1" style="padding-left: 0px">
                      <input type="checkbox" name="skillRequired" [(ngModel)]="model.skillRequired" #skillRequired="ngModel">
                    </div>
                    <div class="col-md-7" style="padding-top: 9px;padding-left: 1px;margin-left: -15px;">
                      {{SKILL_SET_SETUP_SKILL_REQUIRED['fieldValue']}}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{SKILL_SET_SETUP_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{SKILL_SET_SETUP_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)" (click)="islifeTimeValid=true">{{SKILL_SET_SETUP_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="islifeTimeValid=true" (click)="showCreateForm = false;">{{SKILL_SET_SETUP_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
