
 <div class="content-wrapper user-view" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                         {{messageText}}
                      </div>
                      
                    <div class="content-outer com-form">
                      <div class="row">
                       <form (ngSubmit)="!hasMsg && f.form.valid && saveRetirementSetUp(f)" #f="ngForm" novalidate> 
                            <div class="form-row">
                                   <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !faRetirementId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="faRetirementId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                             <input myAutofocus type="text" class="form-control fm-txt auto-focus" name="faRetirementId" [(ngModel)]="model.faRetirementId" 		
                                        #faRetirementId="ngModel" [readonly]="isModify"	id="faRetirementIdText" (blur)="IsIdAlreadyExist()" 
                                        title="{{defaultAddFormValues[0]['helpMessage']}}"		
                                         [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>
                             <div *ngIf="f.submitted && faRetirementId.invalid">
                                    <div class='error-msg' *ngIf="faRetirementId.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                </div>
                            </div>
                            </div>
                               <div class="form-row">
                        <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !descriptionPrimary.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
                         
                           <label for="descriptionPrimary">{{defaultAddFormValues[1]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="descriptionPrimary" [(ngModel)]="model.descriptionPrimary" 		
                                        #descriptionPrimary="ngModel" 		
                                        title="{{defaultAddFormValues[1]['helpMessage']}}"		
                                        maxlength="31"  [readonly]="!defaultAddFormValues[1]['writeAccess']" required/>
                             <div *ngIf="f.submitted && descriptionPrimary.invalid">
                                    <div class='error-msg' *ngIf="descriptionPrimary.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="descriptionPrimary.errors.maxlength">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                                <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !descriptionSecondary.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                            <label for="descriptionSecondary">{{defaultAddFormValues[2]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="checkBookId" [(ngModel)]="model.descriptionSecondary" 		
                                        #descriptionSecondary="ngModel" 		
                                        title="{{defaultAddFormValues[2]['helpMessage']}}"		
                                        maxlength="61"  [readonly]="!defaultAddFormValues[2]['writeAccess']" required/>
                             <div *ngIf="f.submitted && descriptionSecondary.invalid">
                                    <div class='error-msg' *ngIf="descriptionSecondary.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="descriptionSecondary.errors.maxlength">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
     
                        </div>
                         <div class="button-row">
                      <div class="col-sm-12">
                        <input type="submit" [disabled]="LockScreen(defaultAddFormValues[3]['writeAccess'])" 
                         class="orange-btn" value="{{defaultAddFormValues[3]['fieldValue']}}" title="{{defaultAddFormValues[3]['helpMessage']}}">
                        <input type="button" class="blue-btn" title="{{defaultAddFormValues[4]['helpMessage']}}" (click)="resetMe(f)" value="{{defaultAddFormValues[4]['fieldValue']}}"/>
                        <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                        </div>

                        </div>
                </form>
                 
                               <div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
									</div>
							    </div>

                       <div class="form-row">  
                        <div class="col-xs-12">
                        <div class="algo-table">
                        <div class="table-responsive">
						<ngx-datatable id="structureIndex" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							(select)='onSelect($event)'>
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="faRetirementId" [width]="300"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="descriptionPrimary" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="220" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="descriptionSecondary" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="300" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="Action" [width]="100" *ngIf="defaultManageFormValues[3]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[5]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getRetirementSetupById(row)" title="{{defaultManageFormValues[3]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
                                  <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
		          </div>
                        </div>

                      
                      </div> 
                      <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                  </section>
                </section>
            </div>
