
<div class="content-wrapper user-view">
    <section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
            <section class="inner-content">
                <div class="content-outer com-form">
								<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
								     {{messageText}}
										 </div>
                     <div class="row">
						 <form class="search-batch" name="physicalLocationSetup" (ngSubmit)="physicalLocationSetup.form.valid && save(physicalLocationSetup)" #physicalLocationSetup="ngForm" novalidate>
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" [ngClass]="{ 'has-error': physicalLocationSetup.submitted && !physicalLocationId.valid }" *ngIf="defaultFormValues[0]['readAccess']">
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
									<input myAutofocus type="text" class="form-control fm-txt {{myHtml}} auto-focus" id="ddl_insClassId" name="physicalLocationId" title="{{defaultFormValues[0]['helpMessage']}}" (blur)='IsIdAlreadyExist()' [(ngModel)]="physicalLocation.physicalLocationId" #physicalLocationId="ngModel" [disabled]="disableId" required OnlyNumber="true" 
									(keydown)="onlyDecimalNumberKey($event)"  >
									<div *ngIf="physicalLocationSetup.submitted && physicalLocationId.invalid">
										<div class='error-msg' *ngIf="physicalLocationId.errors.required">
											{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
							</div><!-- Form Row Ends -->
							
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" [ngClass]="{ 'has-error': physicalLocationSetup.submitted && !descriptionPrimary.valid }" *ngIf="defaultFormValues[1]['readAccess']">
								  <label>{{defaultFormValues[1]['fieldValue']}}</label>
								 <input type="text" class="form-control fm-txt" name="descriptionPrimary" title="{{defaultFormValues[1]['helpMessage']}}" [(ngModel)]="physicalLocation.descriptionPrimary" #descriptionPrimary="ngModel" maxlength="31" required>
								  <div *ngIf="physicalLocationSetup.submitted && descriptionPrimary.invalid">
									<div class='error-msg' *ngIf="descriptionPrimary.errors.required">
										{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="descriptionPrimary.errors.maxlength">
										{{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{ 'has-error': physicalLocationSetup.submitted && !descriptionSecondary.valid }">
								  <label>{{defaultFormValues[2]['fieldValue']}}</label>
								 <input type="text" class="form-control fm-txt" name="descriptionSecondary" title="{{defaultFormValues[2]['helpMessage']}}" [(ngModel)]="physicalLocation.descriptionSecondary" #descriptionSecondary="ngModel" maxlength="61" required>
								   <div *ngIf="physicalLocationSetup.submitted && descriptionSecondary.invalid">
									<div class='error-msg' *ngIf="descriptionSecondary.errors.required">
										{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="descriptionSecondary.errors.maxlength">
										{{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
								</div> 
							</div><!-- Form Row Ends -->
							
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[3]['readAccess']" [ngClass]="{ 'has-error': physicalLocationSetup.submitted && locationId.length == 0 }">
									  <label>{{defaultFormValues[3]['fieldValue']}}</label>
									  <div class="select-outer">
										<!--<select class="form-control fm-txt" name='locationId' title="{{defaultFormValues[3]['helpMessage']}}" [(ngModel)]="physicalLocation.locationId" #locationId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let loc of locations" [ngValue]="loc.locationIndex">{{loc.locationId}}</option>
										</select>-->
										<angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrLocationId" [(ngModel)]="locationId" id="locationId"[ngModelOptions]="{standalone: true}"
										[settings]="ddlLocationIdSetting" 
										(onSelect)="getLocationByID($event)" (onDeSelect)="OnLocationIdDeSelect($event)"></angular2-multiselect>
									</div>
									  <div *ngIf="physicalLocationSetup.submitted && locationId.length == 0 ">
										<div class='error-msg'>
											{{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
							</div>
							
							<div class="button-row">
								<div class="col-sm-12">
									
									
								<input type="submit" value="{{defaultFormValues[4]['fieldValue']}}" 
								*ngIf="defaultFormValues[4]['readAccess']" class="orange-btn"
								 title="{{defaultFormValues[4]['helpMessage']}}" [disabled]="LockScreen(defaultFormValues[4]['writeAccess'])">
								
										<input type="button" class="blue-btn" style="margin-left:18px" (click)="ClearForm(physicalLocationSetup);" title="{{defaultFormValues[5]['helpMessage']}}" value="{{defaultFormValues[5]['fieldValue']}}"/>
							            <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(physicalLocationSetup)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
									<!--<div class="c" style="margin-top: 10px" *ngIf="defaultFormValues[5]['readAccess']">
										<a class="blue-btn" style="margin-left:18px" (click)="ClearForm(physicalLocationSetup);" title="{{defaultFormValues[5]['helpMessage']}}">{{defaultFormValues[5]['fieldValue']}}</a>
									</div>-->
								</div>
							</div><!-- Buton Row Ends -->	
						</form>
						 <div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control"  (keyup)='updateFilter($event)' />
									</div>
								</div>
						<div class="form-row">
							<div class="col-xs-12">
								<!--<div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control" placeholder="search"
											(keyup)='updateFilter($event)' />
									</div>
								</div>-->
								<div class="algo-table" *ngIf="rows.length>0">
									<div class="table-responsive">          
										<ngx-datatable id="physicallocationSetup" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="Searchselected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}" (select)='onSelect($event)'>
										 <ngx-datatable-column *ngIf="gridDefaultFormValues[0]['readAccess']" name="physicalLocationId" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[0]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[1]['readAccess']" name="descriptionPrimary" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[1]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[2]['readAccess']" name="descriptionSecondary" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[2]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[3]['readAccess']" name="locationIndex" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[3]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											
											 <ngx-datatable-column *ngIf="gridDefaultFormValues[4]['readAccess']" name="Action" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													Action
												</ng-template>
												<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
													<button class="edit-ico" (click)="edit(row)" title="{{gridDefaultFormValues[6]['helpMessage']}}" *ngIf="gridDefaultFormValues[6]['readAccess']"></button>
													<!--<button class="del-ico" (click)="delete(row)" title="Delete"></button>-->
												</ng-template>
											</ngx-datatable-column>
										 </ngx-datatable>
									</div>
								</div><!-- Algo Table Ends -->
								 <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
							</div>
						</div><!-- Form Row Ends -->
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>
<!--<style>
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
</style>-->