
 <div class="content-wrapper user-view" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                         {{messageText}}
                      </div>
                      <!-- <pre>{{model | json}}</pre> -->
                    <div class="content-outer com-form">
                     

                      <div class="row">
                         <form (ngSubmit)="!hasMsg && f.form.valid && saveBookClassSetup(f)" #f="ngForm" novalidate> 
                        <!-- Form Row Ends -->
                             <div class="form-row">
                            <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && bookId.length == 0,'col-md-6 col-sm-6 col-xs-12':true}">
                            <label for="bookId">{{defaultAddFormValues[0]['fieldValue']}}</label> 
                                <div class="select-outer">
                                     <!--<select autofocus="true" class="form-control fm-txt auto-focus" myAutofocus name="bookId" [(ngModel)]="model.bookId" #bookId="ngModel"
                                           title="{{defaultAddFormValues[0]['helpMessage']}}" (change)='GetbookSetupInfo($event)' required>
                                          <option *ngFor="let bookID of bookIDoptions"  value="{{bookID.bookIndexId}}" >
                                            {{bookID.bookDescription}}
                                        </option>
                                    </select>-->
                                    <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrBookId" [(ngModel)]="bookId" id="bookId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlBookIdSetting" 
									 (onSelect)="getBookByID($event)" (onDeSelect)="OnBookIdDeSelect($event)"></angular2-multiselect>
                                       </div>
                                  <div *ngIf="f.submitted && bookId.length == 0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                
                                </div> 
                            </div>
                             <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                               <label>{{defaultAddFormValues[2]['fieldValue']}}</label>
                               <input type="text" title="{{defaultAddFormValues[2]['helpMessage']}}" [ngClass]="'form-control fm-txt'" name="bookDescription" [(ngModel)]="bookDescription" readonly />
                             </div>
                        </div><!-- Form Row Ends -->

                        <div class="form-row">
                          <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && classId.length == 0,'col-md-6 col-sm-6 col-xs-12':true}">
                            <label for="classId">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                <div class="select-outer"> 
                                    <!--<select [ngClass]="'form-control fm-txt'" name="classId" [(ngModel)]="model.classId" #classId="ngModel" 
                                           title="{{defaultAddFormValues[1]['helpMessage']}}" (change)='GetclassSetupInfo($event)' required>
                                          <option *ngFor="let classID of classIDoptions"  value="{{classID.classId}}" >
                                            {{classID.description}}
                                        </option>
                                    </select>   -->
                                     <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrClassId" [(ngModel)]="classId" id="classId" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlClassIdSetting" 
									 (onSelect)="getClassByID($event)" (onDeSelect)="OnClassIdDeSelect($event)"></angular2-multiselect>
                                </div>     
                             <div *ngIf="f.submitted && classId.length == 0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                               <label>{{defaultAddFormValues[3]['fieldValue']}}</label>
                               <input type="text" title="{{defaultAddFormValues[3]['helpMessage']}}" [ngClass]="'form-control fm-txt'" name="descriptionArabic" [(ngModel)]="descriptionArabic" readonly />
                             </div>
                          
                        </div><!-- Form Row Ends -->


                        <div class="form-row">
                            <div  *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{'has-error': f.submitted && !depreciationMethodId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                            <label for="depreciationMethodId">{{defaultAddFormValues[4]['fieldValue']}}</label>
                               <div class="select-outer"> <select class="form-control" title="{{defaultAddFormValues[4]['helpMessage']}}" name='depreciationMethodId' [(ngModel)]="model.depreciationMethodId"  #depreciationMethodId="ngModel" required>
											<option *ngFor="let d of dep" [value]="d.typeId">{{d.name}}</option>
										</select>
                               </div>
                               <div *ngIf="f.submitted && depreciationMethodId.invalid">
                                    <div class='error-msg' *ngIf="depreciationMethodId.errors.required">
                                        {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                                 </div>
                            <div  *ngIf="defaultAddFormValues[9]['readAccess']" [ngClass]="{'has-error': f.submitted && !amortizationCode.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                            <label for="amortizationCode">{{defaultAddFormValues[9]['fieldValue']}}</label>
                                <div class="select-outer"> <select class="form-control" title="{{defaultAddFormValues[9]['helpMessage']}}" name='amortizationCode' [(ngModel)]="model.amortizationCode"  #amortizationCode="ngModel" required>
											
											<option *ngFor="let a of am" [value]="a.typeId">{{a.name}}</option>
										</select> 
                                </div>
                               <div *ngIf="f.submitted && amortizationCode.invalid">
                                    <div class='error-msg' *ngIf="amortizationCode.errors.required">
                                        {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                                 </div>
                            
                        </div><!-- Form Row Ends -->

                        <div class="form-row">
                            
                            <div  *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{'has-error': f.submitted && !averagingConvention.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                            <label for="averagingConvention">{{defaultAddFormValues[5]['fieldValue']}}</label>
                                  <div class="select-outer"><select class="form-control" title="{{defaultAddFormValues[5]['helpMessage']}}" name='averagingConvention' [(ngModel)]="model.averagingConvention"  #averagingConvention="ngModel" required>
											<option *ngFor="let c of convention" [value]="c.typeId">{{c.name}}</option>
										</select>
                                    </div>
                               <div *ngIf="f.submitted && averagingConvention.invalid">
                                    <div class='error-msg' *ngIf="averagingConvention.errors.required">
                                        {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                                 </div>

                            <div  *ngIf="defaultAddFormValues[10]['readAccess']" [ngClass]="{'has-error': f.submitted && !amortizationAmountAllowance.valid,'col-md-6 col-sm-6 col-xs-12 lg-headings':true}">
                            <label for="amortizationAmount">{{defaultAddFormValues[10]['fieldValue']}}</label>

                                <div class="select-outer">
                                    <div class="row">
                                        <div class="col-xs-6 error-mg">
                                    <select [ngClass]="'form-control fm-txt col-sm-3'" name="amortizationAmountAllowance" [(ngModel)]="model.amortizationAmountAllowance" 
                                          #amortizationAmountAllowance="ngModel" title="{{defaultAddFormValues[10]['helpMessage']}}" (change)="ChangeAmountAllowance()" required>
                                    <option  value="percentage">{{PercentageText}}</option>
                                    <option  value="amount">{{AmountText}}</option>
                                    </select>
                              
                                          
                                <div *ngIf="f.submitted && amortizationAmountAllowance.invalid">
                                    <div class='error-msg' *ngIf="amortizationAmountAllowance.errors.required">
                                        {{defaultAddFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                                        </div>
                                        <div [ngClass]="'col-md-6 col-sm-12 col-xs-12 '">
                                             <input  type="text" *ngIf ="model.amortizationAmountAllowance && model.amortizationAmountAllowance == 'percentage'" class="form-control fm-txt  wd100" title="{{defaultAddFormValues[10]['helpMessage']}}" name="amortizationPercentage" [(ngModel)]="model.amortizationPercentage" #amortizationPercentage="ngModel" required>
                                             <input *ngIf="model.amortizationAmountAllowance && model.amortizationAmountAllowance == 'amount'" type="text" class="form-control fm-txt  wd100 arabic-mode" title="{{defaultAddFormValues[10]['helpMessage']}}" name="amortizationAmount" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   [(ngModel)]="model.amortizationAmount" #amortizationAmount="ngModel" required> 
                                    </div>
                                    </div>
                                </div> 
                                 </div>
                            
                        </div><!-- Form Row Ends -->

                        <div class="form-row">
                            
                            <div  *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{'has-error': f.submitted && !swtch.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                            <label for="swtch">{{defaultAddFormValues[6]['fieldValue']}}</label>
                                <div class="select-outer"> <select class="form-control" title="{{defaultAddFormValues[6]['helpMessage']}}" name='swtch' [(ngModel)]="model.swtch"  #swtch="ngModel" required>
											<option *ngFor="let s of sw" [value]="s.typeId">{{s.name}}</option>
										</select>
                                </div>
                               <div *ngIf="f.submitted && swtch.invalid">
                                    <div class='error-msg' *ngIf="swtch.errors.required">
                                        {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                                 </div>

                            <div  *ngIf="defaultAddFormValues[11]['readAccess']" [ngClass]="{'has-error': f.submitted && !initialAllowancePercentage.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                            <label for="initialAllowancePercentage">{{defaultAddFormValues[11]['fieldValue']}}</label>
                                 <input type="text" class="form-control fm-txt" title="{{defaultAddFormValues[11]['helpMessage']}}" OnlyNumber="true" maxlength="3" (keydown)="onlyDecimalNumberKey($event)"    name="initialAllowancePercentage" [(ngModel)]="model.initialAllowancePercentage" #initialAllowancePercentage="ngModel" required>
                               <div *ngIf="f.submitted && initialAllowancePercentage.invalid">
                                    <div class='error-msg' *ngIf="initialAllowancePercentage.errors.required">
                                        {{defaultAddFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                                 </div>
                            
                        </div><!-- Form Row Ends -->


                        <div class="form-row lg-headings">
	                        <div  *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{'has-error': f.submitted && !origLifeYears.valid,'col-md-6 col-sm-12 col-xs-12 arabic-mode':true}">
                            <label>{{defaultAddFormValues[7]['fieldValue']}}</label>
                                <div class="select-outer">
                                    <div class="row">
                                    <div class="col-xs-6 error-mg">
                                        <input type="text" maxlength="4" title="{{defaultAddFormValues[7]['helpMessage']}}" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    class="form-control fm-txt wd100" name="origLifeYears" [(ngModel)]="model.origLifeYears" #origLifeYears="ngModel" required>
                                        <div *ngIf="f.submitted && origLifeYears.invalid">
                                            <div class='error-msg' *ngIf="origLifeYears.errors.required">
                                                {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                     
                                    <div [ngClass]="{'has-error': f.submitted && !origLifeDays.valid,'col-xs-6 error-mg arabic-mode':true}">
                                        <input type="text" title="{{defaultAddFormValues[7]['helpMessage']}}" class="form-control fm-txt wd100" OnlyNumber="true" ng-pattern ="/\s/" (keydown)="onlyDecimalNumberKey($event)"  maxlength="2"  name="origLifeDays" [(ngModel)]="model.origLifeDays" #origLifeDays="ngModel" required>
                                        <div *ngIf="f.submitted && origLifeDays.invalid">
                                            <div class='error-msg' *ngIf="origLifeDays.errors.required">
                                                {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div> 
                                    
                                    </div>
                                </div>
                                </div> 
	                        </div><!-- Form Row Ends -->

	                        <div class="form-row lg-headings">

	                        <div  *ngIf="defaultAddFormValues[8]['readAccess']" [ngClass]="{'has-error': f.submitted && !specialDepreciationAllowance.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                            <label>{{defaultAddFormValues[8]['fieldValue']}}</label>
                                <div class="select-outer">
                                    <div class="row">
                                        <div class="col-xs-6 error-mg">
                                   <select [ngClass]="'form-control fm-txt'" name="specialDepreciationAllowance" [(ngModel)]="model.specialDepreciationAllowance" 
                                 #specialDepreciationAllowance="ngModel" title="{{defaultAddFormValues[8]['helpMessage']}}" (change)="checkSelected($event)" required>
                                            <option  value="yes">{{YesText}}</option>
                                          <option  value="no">{{NoText}}</option>
                                         
                                    </select>
                                            <!--<input [ngClass]="'form-control fm-txt wd100'" title="{{defaultAddFormValues[8]['helpMessage']}}" name="specialDepreciationAllowance" [(ngModel)]="model.specialDepreciationAllowance" 		
                                            #specialDepreciationAllowance="ngModel" required/>-->
                                            <div *ngIf="f.submitted && specialDepreciationAllowance.invalid">
                                                <div class='error-msg' *ngIf="specialDepreciationAllowance.errors.required">
                                                    {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                         
                                        </div>
                                        <div [ngClass]="'col-md-6 col-sm-12 col-xs-12 arabic-mode'">
                                              <input type="text" title="{{defaultAddFormValues[8]['helpMessage']}}" class="form-control fm-txt wd100 arabic-mode" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   name="specialDepreciationAllowancePercent" [(ngModel)]="model.specialDepreciationAllowancePercent" #specialDepreciationAllowancePercent="ngModel" [disabled]="checkIfOthersAreSelected" />
                                           
                                    </div>
                                    </div>
                                </div>
	                          </div>

                              <div class="col-md-6 col-sm-6 col-xs-12 arabic-mode">
                                        <label><input type="checkbox" name="salvageEstimatecheck" [checked]="model.salvageEstimate" title="{{defaultAddFormValues[12]['helpMessage']}}" [(ngModel)]="model.salvageEstimatecheck" #salvageEstimatecheck="ngModel"/>{{defaultAddFormValues[12]['fieldValue']}}</label>
                                          <input type="text" *ngIf="model.salvageEstimatecheck" title="{{defaultAddFormValues[12]['helpMessage']}}" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"  class="form-control fm-txt arabic-mode" title="{{defaultAddFormValues[12]['helpMessage']}}" name="salvageEstimate" [(ngModel)]="model.salvageEstimate" #salvageEstimate="ngModel" required>
                              </div>

                             

                                    
	                        </div><!-- Form Row Ends -->


                    <div class="button-row">
                      <div class="col-sm-12">
            <input type="submit" [disabled]="LockScreen(defaultAddFormValues[13]['writeAccess'])"  value="{{defaultAddFormValues[13]['fieldValue']}}" class="orange-btn" title="{{defaultAddFormValues[13]['helpMessage']}}">
                        <input type="button" class="blue-btn" title="{{defaultAddFormValues[14]['helpMessage']}}" (click)="resetMe(f)" value="{{defaultAddFormValues[14]['fieldValue']}}"/>
                        <input type="button" class="grey-btn" *ngIf="isModify" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>

                        </div>

                    </div><!-- Buton Row Ends -->
                          </form>

                          <div class="content-heading">
							<div class="search-top">
								<input type="text" class="search-txt form-control"  (keyup)='updateFilter($event)'/>
							</div>
					      </div>

                     <div class="form-row">  
                        	<div class="col-xs-12">
		                        <div class="algo-table">
		                        <div class="table-responsive">
						<ngx-datatable id="configurationGrid" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							(select)='onSelect($event)'> 
                             
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="bookId" [width]="250"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="classId" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="250" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="depreciationMethod" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="350" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="Action" [width]="100" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[5]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getClassSetupById(row)" title="{{defaultManageFormValues[4]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
		                          </div><!-- Algo Table Ends -->
		                    </div>
                             <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
                        </div><!-- Form Row Ends -->
                     
                    </div><!-- Content OUter Ends -->
                    </div>
                  </section>
                </section>
            </div>

                   
