<div class="content-wrapper user-view">
    <section class="content">
		<!--<pre>{{defaultAddFormValues|json}}</pre>-->
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<!--<pre>{{gridDefaultFormValues|json}}</pre>-->
            <section class="inner-content">
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
						 <form (ngSubmit)="!hasMsg && f.form.valid && saveAccountReceivableClassGLSetup(f)" #f="ngForm" novalidate> 
							 <div class="form-row">   
								 <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && selectedCustomer.length == 0}">                         
									<label>{{defaultAddFormValues[0]['fieldValue']}}</label>
									<div class="select-outer">
										  <!--<select myAutofocus [ngClass]="'form-control auto-focus'" name="customerClassId" [(ngModel)]="model.customerClassId" #customerClassId="ngModel" (change)="getAccountRecievableClassSetupByClassIdById($event)" 
                                        title="{{defaultAddFormValues[0]['helpMessage']}}" required>
                                    <option *ngFor="let class of classOptions" [value]="class.customerClassId">
                                        {{class.customerClassDescription}}
                                    </option>
                        		  </select>-->
								  <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCustomer" [(ngModel)]="selectedCustomer" id="selectedCustomer" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlCustomerSetting" myAutofocus
									 (onSelect)="getCustomerByID($event)" (onDeSelect)="OnCustomerDeSelect($event)" >
									 </angular2-multiselect>
									</div>  
									 <div *ngIf="f.submitted && selectedCustomer.length == 0">
                                       <div class='error-msg'>
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div> 
								</div>
							</div><!-- Form Row Ends -->	
								
							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12">
									<label>{{defaultAddFormValues[1]['fieldValue']}}</label>
									 <input type="text" [ngClass]="'form-control fm-txt'" name="customerClassDescription" [(ngModel)]="customerClassDescription"
                                           title="{{defaultAddFormValues[1]['helpMessage']}}" readonly />
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode">
								   <label>{{defaultAddFormValues[2]['fieldValue']}}</label>
								<input type="text" [ngClass]="'form-control fm-txt'" name="customeClassDescriptionArabic" [(ngModel)]="customeClassDescriptionArabic"
                                           title="{{defaultAddFormValues[2]['helpMessage']}}" readonly />
								</div>                            
							</div><!-- Form Row Ends -->
							<!-- <pre>{{accountNumberList | json}}</pre> -->
							<div class="form-row">
								<div class="col-xs-12">
									<div class="algo-table">
										<div class="table-responsive">          
											<table class="table">
												<thead>
													<tr> 
													  <th width="20%">{{defaultAddFormValues[3]['fieldValue']}}</th>
													  <th width="50%">{{defaultAddFormValues[4]['fieldValue']}}</th>
													  <th width="30%">{{defaultAddFormValues[5]['fieldValue']}}</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let item of accountNumberList; let i=index;">
														<td>{{item.typeValue}}</td>
														<td>
															
     														<span *ngFor="let segment of arrSegment; let j=index;">
																<input id="txtfirstSegment_{{i}}{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_{{i}}"
																  (blur)="fetchFirstAccountIndexInfo(i,j)" *ngIf="j==0" style="width:65px" />
																   <input id="txtSegment_{{i}}{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_{{i}}"
																  (blur)="fetchOtherAccountIndexInfo(i,j)" *ngIf="j > 0" style="width:65px"  [disabled]='segment.isReadOnly'/> 
															      <i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus"
																      style="float: left;padding: 3px 0px;" *ngIf="j + 1 != arrSegment.length"></i>	
															</span>
														</td>
													  <td>
														<!--<p>accountDescription =  {{item.accountDescription | json}} </p>-->
														  	<span *ngFor="let desc of item.accountDescription;">
																  <span *ngIf="desc != 0">
																		{{desc}}	
																  </span>
															</span>
															<!--<p>	accountNumberIndex = {{item.accountNumberIndex | json}} </p>-->
															<!-- <span *ngFor="let desc1 of item.accountNumberIndex;">
																   <span *ngIf="desc1 != 0">
																		{{desc1}}	
																  </span>
															</span> -->
													   </td>													  
													</tr>
                                  
												</tbody>
											</table>
										</div>
									</div><!-- Algo Table Ends -->
								</div>
							</div><!-- Form Row Ends -->
							
							<div class="button-row">
								<div class="col-sm-12">
								<input type="submit" [disabled]="LockScreen(defaultAddFormValues[6]['writeAccess'])" class="orange-btn" title="{{defaultAddFormValues[6]['fieldValue']}}" value="{{defaultAddFormValues[6]['fieldValue']}}"/>
									<button class="blue-btn" (click)="Clear()" title="{{defaultAddFormValues[7]['fieldValue']}}">{{defaultAddFormValues[7]['fieldValue']}}</button>
									<!--<a class="blue-btn" title="{{defaultAddFormValues[7]['fieldValue']}}" (click)="clearForm();">{{defaultAddFormValues[7]['fieldValue']}}</a>-->
								</div>
							</div>
							
						</form>
						<!--<pre>{{accountNumberList  | json}}</pre>-->
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
	.user-view .algo-table .acc-txt{border:1px solid #d5d5d5; width:19%;}
</style>
<!--<style>
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
</style>-->