
<div class="content-wrapper user-view">
	<section class="content">
		<!-- <pre>{{defaultFormValues|json}}</pre> -->
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<!--<pre>{{gridDefaultFormValues|json}}</pre>-->
		<section class="inner-content">
			<div class="content-outer com-form">
				<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
					<div class="row">
						<form class="search-batch" name="generalLedgerSetup" (ngSubmit)="save(generalLedgerSetup)" #generalLedgerSetup="ngForm" novalidate>
							<div class="form-row">
								<div class="col-xs-12">
									<div class="form-row border-box">
										<div class="form-row">
											<div class="content-heading">
												<div class="col-xs-12">
													<h3>
														{{defaultFormValues[27]['fieldValue']}}
													</h3>
												</div>
											</div>
											<div class="col-xs-12">
												<label><input type="radio" [disabled]="generalSetup.sequenceType != 0" value="1" name="sequenceType" #sequenceType="ngModel" [(ngModel)]="generalSetup.sequenceType" /> {{defaultFormValues[28]['fieldValue']}}</label>
												<label><input type="radio" [disabled]="generalSetup.sequenceType != 0" value="2" name="sequenceType"  #sequenceType="ngModel" [(ngModel)]="generalSetup.sequenceType" />{{defaultFormValues[29]['fieldValue']}}</label>
											</div>
											<div *ngIf="generalSetup.sequenceType === '1' " class="form-row up-padding">
												<div class="col-xs-6">
													<div class="form-row" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': generalLedgerSetup.submitted && !nextJournalEntry.valid }">
														<label>{{defaultFormValues[0]['fieldValue']}}</label>
														<input myAutofocus type="text" [disabled]="generalSetup.sequenceType != 0"  title="{{defaultFormValues[0]['helpMessage']}}" maxlength="10" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"  class="form-control fm-txt auto-focus" name="nextJournalEntry" [(ngModel)]="generalSetup.nextJournalEntry" #nextJournalEntry="ngModel"  required>
														<div *ngIf="generalLedgerSetup.submitted && nextJournalEntry.invalid">
															<div class='error-msg' *ngIf="nextJournalEntry.errors.required">
																{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="form-row up-padding">
												<div class="col-xs-6">
													<label>
														<input [checked]="generalSetup.includeDate" [disabled]="generalSetup.sequenceType != 0" [(ngModel)]="generalSetup.includeDate" type="checkbox"  name="includeDate" />{{defaultFormValues[30]['fieldValue']}}
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="form-row">
								<div class="col-xs-12">
										<div class="form-row border-box">
												<div class="content-heading">
													<div class="col-xs-12">
														<h3>
															{{defaultFormValues[31]['fieldValue']}}
														</h3>
													</div>
												</div>
												<div class="col-xs-9 center-column">
														<div class="algo-table">
																<table class="table">
																	<thead>
																		<tr>
																			<th width="5%">{{defaultFormValues[32]['fieldValue']}}</th>
																			<th width="20%">{{defaultFormValues[33]['fieldValue']}}</th>
																			<th width="20%">{{defaultFormValues[34]['fieldValue']}}</th>
																		</tr>	
																	</thead>
																	<tbody>
																		<tr>
																			<td>{{defaultFormValues[35]['fieldValue']}}</td>
																			<td>
																				<ng-select [active]="activeCashPayment"
																					[items]="arrCashPayment" 
																					title=""
																					[disabled]="activeCashPayment[0].id != 0"
																					(data)="onSelectcashPayment($event)">
																				</ng-select>
																			</td>
																			<td>
																				<ng-select  [active]="activeCashReceipt"
																					[items]="arrCashReceipt" 
																					[disabled]="activeCashReceipt[0].id != 0"
																					title="" (data)="onSelectcashReceipt($event)">
																				</ng-select>
																			</td>
																		</tr>
							
																		<tr>
																			<td>{{defaultFormValues[36]['fieldValue']}}</td>
																			<td>
																				<ng-select  [active]="activeCheckPayment"
																					[items]="arrCheckPayment" 
																					[disabled]="activeCheckPayment[0].id != 0"
																					title="" (data)="onSelectcheckPayment($event)">
																				</ng-select>
																			</td>
																			<td>
																				<ng-select [active]="activeCheckReceipt"
																					[items]="arrCheckReceipt" 
																					[disabled]="activeCheckReceipt[0].id != 0"
																					title="" (data)="onSelectcheckReceipt($event)">
																				</ng-select>
																			</td>
																			</tr>
																			<tr>
																				<td>{{defaultFormValues[37]['fieldValue']}}</td>
																				<td>
																					<ng-select  [active]="activeTransferPayment"
																						[items]="arrTransferPayment" 
																						[disabled]="activeTransferPayment[0].id != 0"
																						title="" (data)="onSelecttransferPayment($event)">
																					</ng-select>
																				</td>
																				<td>
																					<ng-select  [active]="activeTransferReceipt"
																						[items]="arrTransferReceipt" 
																						[disabled]="activeTransferReceipt[0].id != 0"
																						title="" (data)="onSelecttransferReceipt($event)">
																					</ng-select>
																				</td>
																			</tr>
																			<tr>
																				<td>{{defaultFormValues[38]['fieldValue']}}</td>
																				<td>
																					<ng-select [active]="activeCreditPayment"
																						[items]="arrCreditPayment" 
																						[disabled]="activeCreditPayment[0].id != 0"
																						title="" (data)="onSelectcreditPayment($event)">
																					</ng-select>
																				</td>
																				<td>
																					<ng-select  [active]="activeCreditReceipt"
																						[items]="arrCreditReceipt" 
																						[disabled]="activeCreditReceipt[0].id != 0"
																						title="" (data)="onSelectcreditReceipt($event)">
																					</ng-select>
																				</td>
																			</tr>
																	</tbody>
																</table>
															</div>
												</div>
				
										</div>
								</div>
							</div>
							
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12">									
									<div class="form-row" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{ 'has-error': generalLedgerSetup.submitted && !nextBudgetJournalEntry.valid }">
										<label>{{defaultFormValues[1]['fieldValue']}}</label>
										<input type="text" title="{{defaultFormValues[1]['helpMessage']}}"  maxlength="10" class="form-control fm-txt" OnlyNumber="true" 
										(keydown)="onlyDecimalNumberKey($event)"  name="nextBudgetJournalEntry" [(ngModel)]="generalSetup.nextBudgetJournalEntry" #nextBudgetJournalEntry="ngModel" required>
										<div *ngIf="generalLedgerSetup.submitted && nextBudgetJournalEntry.invalid">
											<div class='error-msg' *ngIf="nextBudgetJournalEntry.errors.required">
												{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>
										</div>
									</div>
									
									<div class="form-row" *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{ 'has-error': generalLedgerSetup.submitted && !nextReconciliation.valid }">
										<label>{{defaultFormValues[2]['fieldValue']}}</label>
										<input type="text" title="{{defaultFormValues[2]['helpMessage']}}"  maxlength="10" OnlyNumber="true" 
										(keydown)="onlyDecimalNumberKey($event)"   class="form-control fm-txt" name="nextReconciliation" [(ngModel)]="generalSetup.nextReconciliation" #nextReconciliation="ngModel" required>
										<div *ngIf="generalLedgerSetup.submitted && nextReconciliation.invalid">
											<div class='error-msg' *ngIf="nextReconciliation.errors.required">
												{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>
										</div>
									</div>
									
								</div>
								
								<div class="col-md-6 col-sm-6 col-xs-12">
									<div class="col-xs-12 border-box">
										<div class="content-heading"><div class="col-xs-12"><h3>{{defaultFormValues[3]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->
										
										<span class="display-sign-opt"><label><input type="radio"  name="displayNCorPB" [(ngModel)]="generalSetup.displayNCorPB"  value="2" #displayNCorPB="ngModel" title="{{defaultFormValues[4]['helpMessage']}}"> {{defaultFormValues[4]['fieldValue']}}</label></span>
										<span class="display-sign-opt"><label><input type="radio"  name="displayNCorPB" [(ngModel)]="generalSetup.displayNCorPB" value="1" #displayNCorPB="ngModel" title="{{defaultFormValues[5]['helpMessage']}}"> {{defaultFormValues[5]['fieldValue']}}</label></span>
									</div>
								</div>
							</div><!-- Form Row Ends -->
							
							<div class="form-row">
								<div class="col-xs-12">
									<div class="form-row border-box">
										<div class="form-row">
											<div class="content-heading"><div class="col-xs-12"><h3>{{defaultFormValues[6]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->
											<div class="col-md-6 col-sm-12 col-xs-12">                             
												<label><input title="{{defaultFormValues[7]['helpMessage']}}" type="checkbox" name="retainedEraningsCheckBox" 
													[checked]="generalSetup.retainedEraningsCheckBox" [(ngModel)]="generalSetup.retainedEraningsCheckBox"  
													#retainedEraningsCheckBox="ngModel" (change)="set($event)"/>{{defaultFormValues[7]['fieldValue']}}</label>
													
													<!-- <div [ngClass]="{'has-error': generalLedgerSetup.submitted && SelectedAccount.length==0,'select-outer':true}"> -->
														<div class="select-outer">
															<angular2-multiselect [data]="ddl_MultiSelectAccount" id = "SelectedAccount" [(ngModel)]="SelectedAccount" [ngModelOptions]="{standalone: true}"
															[settings]="ddlAccountSetting" 
															(onSelect)="onItemSelect($event)" 
															(onDeSelect)="OnItemDeSelect($event)"
															(onSelectAll)="onSelectAll($event)"
															(onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
														</div>
														<!-- <div *ngIf="generalLedgerSetup.submitted && SelectedAccount.length == 0">
															<div class='error-msg'>
																{{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
															</div>
														</div> -->
													</div>
													<!--<a  class="add-ico-tb" *ngIf="generalSetup.retainedEraningsCheckBox">
														<i class="fa fa-plus-circle" aria-hidden="true" (click)="openAccountWindow()"></i>
													</a>-->
												</div>
											</div>
										</div>
										
										<div class="form-row">
											<!-- <div  *ngIf="defaultFormValues[7]['readAccess']" [ngClass]="{'has-error': generalLedgerSetup.submitted && SelectedAccount.length == 0,'col-md-6 col-sm-6 col-xs-12 credit-row':true}"> -->
												
												<!-- <label class="accountTableRowIndex" for="accountTableRowIndex">{{defaultFormValues[7]['fieldValue']}}</label> -->
												
												
												<div class="form-row">
													<div class="col-md-6 col-sm-12 col-xs-12" *ngIf="defaultFormValues[8]['readAccess']" [ngClass]="{ 'has-error': generalLedgerSetup.submitted  && mainAccount1.length==0 }">
														<label>{{defaultFormValues[8]['fieldValue']}}</label>
														<div class="select-outer"> 
															<angular2-multiselect [ngClass]="'form-control fm-txt'" id  = "mainAccount1"  [data]="arrMainAccount" [(ngModel)]="mainAccount1" [ngModelOptions]="{standalone: true}"
															[settings]="SearchableDDLSetting" 
															(onSelect)="onSelectMainAccount1($event)" (onDeSelect)="OnDeSelectMainAccount1($event)"></angular2-multiselect>  
														</div>
														<div *ngIf="generalLedgerSetup.submitted && mainAccount1.length==0">
															<div class='error-msg'>
																{{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
															</div>
														</div>
													</div>
													<div class="col-md-6 col-sm-12 col-xs-12" *ngIf="defaultFormValues[9]['readAccess']" [ngClass]="{ 'has-error': generalLedgerSetup.submitted  && mainAccount2.length==0 }">
														<label>{{defaultFormValues[9]['fieldValue']}}</label>
														<!--<input type="text" title="{{defaultFormValues[9]['helpMessage']}}" class="form-control fm-txt" name="mainAccount2" [(ngModel)]="generalSetup.mainAccount2" #mainAccount2="ngModel" required>
															<div *ngIf="generalLedgerSetup.submitted && mainAccount2.invalid">
																<div class='error-msg' *ngIf="mainAccount2.errors.required">
																	{{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
																</div>
															</div>-->
															<div class="select-outer"> 
																<angular2-multiselect [ngClass]="'form-control fm-txt'" id = "mainAccount2" [data]="arrMainAccount" [(ngModel)]="mainAccount2" [ngModelOptions]="{standalone: true}"
																[settings]="SearchableDDLSetting" 
																(onSelect)="onSelectMainAccount2($event)" (onDeSelect)="OnDeSelectMainAccount2($event)"></angular2-multiselect>  
															</div>
															<div *ngIf="generalLedgerSetup.submitted && mainAccount2.length==0">
																<div class='error-msg'>
																	{{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
																</div>
															</div>
														</div> 
														<!-- </div> -->
													</div>
												</div>
											</div><!-- Form Row Ends -->
											
											<div class="form-row">
												
												<div class="col-md-6 col-sm-12 col-xs-12">
													<div class="form-row border-box">
														<div class="content-heading"><div class="col-xs-12"><h3>{{defaultFormValues[10]['fieldValue']}}</h3> </div></div>
														
														<ul class="check-list wd100">
															<li><label><input type="checkbox" name="maintainHistoryAccounts" [checked]="generalSetup.maintainHistoryAccounts" [(ngModel)]="generalSetup.maintainHistoryAccounts" #maintainHistoryAccounts="ngModel" title="{{defaultFormValues[11]['helpMessage']}}"/> {{defaultFormValues[11]['fieldValue']}}</label></li>
															<li><label><input type="checkbox" name="maintainHistoryTransactions" [checked]="generalSetup.maintainHistoryTransactions" [(ngModel)]="generalSetup.maintainHistoryTransactions" #maintainHistoryTransactions="ngModel" title="{{defaultFormValues[12]['helpMessage']}}"/>{{defaultFormValues[12]['fieldValue']}}</label></li>
															<li><label><input type="checkbox" name="maintainHistoryBudgetTransactions" [checked]="generalSetup.maintainHistoryBudgetTransactions" [(ngModel)]="generalSetup.maintainHistoryBudgetTransactions" #maintainHistoryBudgetTransactions="ngModel" title="{{defaultFormValues[13]['helpMessage']}}"/> {{defaultFormValues[13]['fieldValue']}}</label></li>
														</ul>
													</div>
												</div>
												
												<div class="col-md-6 col-sm-12 col-xs-12">
													<div class="form-row border-box">
														<div class="content-heading"><div class="col-xs-12"><h3>{{defaultFormValues[14]['fieldValue']}}</h3> </div></div>
														
														<ul class="check-list wd100">
															<li><label><input type="checkbox" name="allowPostingToHistory" [checked]="generalSetup.allowPostingToHistory" [(ngModel)]="generalSetup.allowPostingToHistory" #allowPostingToHistory="ngModel" title="{{defaultFormValues[15]['helpMessage']}}"/> {{defaultFormValues[15]['fieldValue']}}</label></li>
															<li><label><input type="checkbox" name="allowDeletionOfSavedTrans" [checked]="generalSetup.allowDeletionOfSavedTrans" [(ngModel)]="generalSetup.allowDeletionOfSavedTrans" #allowDeletionOfSavedTrans="ngModel" title="{{defaultFormValues[16]['helpMessage']}}"/>{{defaultFormValues[16]['fieldValue']}}</label></li>
															<li><label><input type="checkbox" name="allowvoidingCorrectingSubTrans" [checked]="generalSetup.allowvoidingCorrectingSubTrans" [(ngModel)]="generalSetup.allowvoidingCorrectingSubTrans" #allowvoidingCorrectingSubTrans="ngModel" title="{{defaultFormValues[17]['helpMessage']}}"/> {{defaultFormValues[17]['fieldValue']}}</label></li>
														</ul>
													</div>
												</div>
												
											</div><!-- Form Row Ends -->
											
											
											
											<div class="form-row">
												<div class="col-xs-12">
													<div class="form-row border-box">
														<div class="content-heading"><div class="col-xs-12"><h3>{{defaultFormValues[18]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->
														
														<div class="col-md-6 col-sm-12 col-xs-12">
															
															<div class="form-row" *ngIf="defaultFormValues[19]['readAccess']" [ngClass]="{ 'has-error': generalLedgerSetup.submitted && !userDefine1.valid }">
																<label>{{defaultFormValues[19]['fieldValue']}}</label>
																<input title="{{defaultFormValues[19]['helpMessage']}}"  type="text" class="form-control fm-txt" name="userDefine1" [(ngModel)]="generalSetup.userDefine1" #userDefine1="ngModel" maxlength="50">
																<div *ngIf="generalLedgerSetup.submitted && userDefine1.invalid">
																	<!--<div class='error-msg' *ngIf="userDefine1.errors.required">
																		This field is required
																	</div>-->
																	<div class='error-msg' *ngIf="userDefine1.errors.maxlength">
																		{{defaultFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
																	</div>
																</div>
															</div>
															
															<div class="form-row" *ngIf="defaultFormValues[20]['readAccess']" [ngClass]="{ 'has-error': generalLedgerSetup.submitted && !userDefine2.valid }">
																<label>{{defaultFormValues[20]['fieldValue']}}</label>
																<input title="{{defaultFormValues[20]['helpMessage']}}"  type="text" class="form-control fm-txt" name="userDefine2" [(ngModel)]="generalSetup.userDefine2" #userDefine2="ngModel" maxlength="50">
																<div *ngIf="generalLedgerSetup.submitted && userDefine2.invalid">
																	<!--<div class='error-msg' *ngIf="userDefine2.errors.required">
																		This field is required
																	</div>-->
																	<div class='error-msg' *ngIf="userDefine2.errors.maxlength">
																		{{defaultFormValues[20]['listDtoFieldValidationMessage'][0]['validationMessage']}}
																	</div>
																</div>
															</div>
															
															<div class="form-row" *ngIf="defaultFormValues[21]['readAccess']" [ngClass]="{ 'has-error': generalLedgerSetup.submitted && !userDefine3.valid }">
																<label>{{defaultFormValues[21]['fieldValue']}}</label>
																<input title="{{defaultFormValues[21]['helpMessage']}}" type="text"  class="form-control fm-txt" name="userDefine3" [(ngModel)]="generalSetup.userDefine3" #userDefine3="ngModel" maxlength="50">
																<div *ngIf="generalLedgerSetup.submitted && userDefine3.invalid">
																	<!--<div class='error-msg' *ngIf="userDefine3.errors.required">
																		This field is required
																	</div>-->
																	<div class='error-msg' *ngIf="userDefine3.errors.maxlength">
																		{{defaultFormValues[21]['listDtoFieldValidationMessage'][0]['validationMessage']}}
																	</div>
																</div>
																
															</div>
															
														</div>
														
														<div class="col-md-6 col-sm-12 col-xs-12" >
															
															<div class="form-row" *ngIf="defaultFormValues[22]['readAccess']" [ngClass]="{ 'has-error': generalLedgerSetup.submitted && !userDefine4.valid }">
																<label>{{defaultFormValues[22]['fieldValue']}}</label>
																<input title="{{defaultFormValues[22]['helpMessage']}}"  type="text" class="form-control fm-txt" name="userDefine4" [(ngModel)]="generalSetup.userDefine4" #userDefine4="ngModel" maxlength="50">
																<div *ngIf="generalLedgerSetup.submitted && userDefine4.invalid">
																	<!--<div class='error-msg' *ngIf="userDefine4.errors.required">
																		This field is required
																	</div>-->
																	<div class='error-msg' *ngIf="userDefine4.errors.maxlength">
																		{{defaultFormValues[22]['listDtoFieldValidationMessage'][0]['validationMessage']}}
																	</div>
																</div>
															</div>
															
															<div class="form-row" *ngIf="defaultFormValues[23]['readAccess']" [ngClass]="{ 'has-error': generalLedgerSetup.submitted && !userDefine5.valid }">
																<label>{{defaultFormValues[23]['fieldValue']}}</label>
																<input  title="{{defaultFormValues[23]['helpMessage']}}" type="text" class="form-control fm-txt" name="userDefine5" [(ngModel)]="generalSetup.userDefine5" #userDefine5="ngModel" maxlength="50">
																<div *ngIf="generalLedgerSetup.submitted && userDefine5.invalid">
																	<!--<div class='error-msg' *ngIf="userDefine5.errors.required">
																		This field is required
																	</div>-->
																	<div class='error-msg' *ngIf="userDefine5.errors.maxlength">
																		{{defaultFormValues[23]['listDtoFieldValidationMessage'][0]['validationMessage']}}
																	</div>
																</div>
																
															</div>
															
														</div>
														
														
														
														
													</div>
												</div>
												
												
												
											</div><!-- Form Row Ends -->
											
											
											
											<div class="button-row">
												<div class="col-sm-12">
													<input type="submit" title="{{defaultFormValues[24]['helpMessage']}}" class="orange-btn"
													 *ngIf="defaultFormValues[24]['readAccess']" value="{{defaultFormValues[24]['fieldValue']}}" 
													 [disabled]="LockScreen(defaultFormValues[24]['writeAccess'])"/>
													
													<input type="button" title="{{defaultFormValues[25]['helpMessage']}}" class="blue-btn" style="margin-left:18px" (click)="Clear(generalLedgerSetup)" title="{{defaultFormValues[25]['helpMessage']}}" value="{{defaultFormValues[25]['fieldValue']}}"/>
													
													<a class="grey-btn" (click)="print();" title="{{defaultFormValues[26]['helpMessage']}}">{{defaultFormValues[26]['fieldValue']}}</a>
												</div>
												
											</div>
										</form>
									</div>
								</div><!-- Content OUter Ends -->
							</section>
						</section>
					</div>
					
					<!--<div class="modal"  *ngIf="isModalOpen" style="display:block !important" >
						<div class="modal-content" >
							<div class="modal-header">
								<span class="btnClose" (click)='closeModal()'></span>
								{{accountNumberTitleLabel}}
							</div>
							<div class="modal-body">
								<span *ngFor="let segment of arrSegment;let i=index; let j=index;">
									<input id="txtfirstSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
									(blur)="fetchFirstAccountIndexInfo(j)" *ngIf="j==0" style="width:65px" />
									<input id="txtSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
									(blur)="fetchOtherAccountIndexInfo(j)" *ngIf="j > 0" style="width:65px"  [disabled]='segment.isReadOnly'/> 
									<i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus"
									style="float: left;padding: 3px 0px;" *ngIf="j + 1 != arrSegment.length"></i>	
								</span>
							</div>
							<div class="modal-footer">
								<button class="orange-btn-sm" (click)='createNewGlAccountNumber()'>{{createAccountNumberLabel}}</button>
								<button class="blue-btn-sm" (click)='closeModal()'>{{btnCancelLabel}}</button>
							</div>
						</div>
					</div>-->
					