<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <span class="btnClose" (click)='closeModal()'></span> -->
                <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
                {{confirmationModalTitle}}
            </div>
            <div class="modal-body">
                <p *ngIf='!isDeleteAction'>
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
                <p *ngIf='isDeleteAction'>
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
            </div>
            <div class="modal-footer">
                    <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
                    <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
                    <button  class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>
   
            </div>
        </div>
    </div>
  
  <!-- screen header -->
  <div class="page-header">
    <div class="page-header-title">
      <span><h3>Division Setup</h3></span>
    </div>
    <!-- <div class="page-header-breadcrumb">
        <i class="ti-settings"></i>
    </div> -->
  </div>
<!-- screen header -->

<div class="content-wrapper">
    <section class="content" (keyup)='EscapeModal($event)'>
        <!-- section Heading Starts -->
        <!-- <div class="section-heading">
            <h2></h2>
        </div> -->
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- Content Outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>

                <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <!-- <h3> {{screenName}}</h3> -->
                       <div *ngIf="showloader" class="loader">
                    </div>
                </div>
                <!-- Content Heading Ends -->
                
                <!--adding form starts-->
      <!-- Basic Form Inputs card start -->
<app-card [title]="">
    <!-- <h4 class="sub-title">Create company</h4> -->
   
   
    <form class="form-horizontal" (ngSubmit)="f.form.valid && CreateDivision(f, $event)" 
    #f="ngForm" novalidate >
    <!-- <form [formGroup]="myForm" (ngSubmit)="saveLead(myForm.value)"></form> -->
    <!-- [formGroup]="registerForm" (ngSubmit)="onSubmit()" -->


    <!-- <div *ngIf="isUnderUpdate; then update else create"></div>
    <ng-template #update>
        <div class="floating-label" [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
            <div class="col-md-4">
                <label class="control-label" for="divisionId">{{DIVISION_ID['fieldValue']}}</label>
                <span *ngIf="DIVISION_ID['isMandatory']">*</span>
            </div>
            <div class="col-md-8">
                <input type="text" class="floating-input" name="divisionId" value="{{divisionIdvalue}}" title="{{DIVISION_ID['helpMessage']}}"
                    maxlength="15" [readonly]="DIVISION_ID['readAccess']" />
            </div>
        </div>
    </ng-template> -->


    <!-- <ng-template> -->
           <div class="form-group row">
                <div class="col-sm-2">
                    <div class="floating-label" class="col-md-offset-4">
                            <!-- [ngClass]="{'has-error':!divisionId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}" -->
                        <input auto-complete [source]="rows" class="floating-input" list-formatter="divisionId" [readonly]="isUnderUpdate"   
                        [(ngModel)]="selectedDivision" [ngModelOptions]="{standalone: true}" name="divisionId"  #divisionId="ngModel"
                         (valueChanged)="getDivisionData($event)" placeholder="" on-focus="onAutocompleteFocus('lblDivisionId');divisionFocusIn(divisionId)"
                         on-focusout="divisionFocusOut(divisionId)" tabindex="1" required title="{{DIVISION_ID['fieldValue']}}"
                         #filterInput3/>                                                        
                        <div *ngIf="f.submitted && divisionId.invalid">
                                <div class="error-msg" [hidden]="!divisionId.errors.required">
                                    {{DIVISION_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="!divisionId.errors?.maxlength" *ngIf="DIVISION_ID['listDtoFieldValidationMessage'][1]">
                                    {{DIVISION_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                       </div>
                        <span class="highlight"></span>
                        <label id="lblDivisionId" for="divisionId">{{DIVISION_ID['fieldValue']}}</label>
                        <input type="hidden" />
                        <span class="search-icon">
                            <i (click)="toggle3()" [ngClass]="{'ti-angle-down': !isDivisionOpen, 'ti-angle-up':isDivisionOpen }"></i>                        
                        </span>
                      
                      </div>
                    </div>
            </div>
       
            <div class="form-group row">  
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !divisionDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <input class="floating-input" type="text" placeholder=" " tabindex="2" name="divisionDescription" [(ngModel)]="model.divisionDescription"
                                    #divisionDescription="ngModel" title="{{DIVISION_DESCRIPTION['helpMessage']}}" maxlength="31" [required]="DIVISION_DESCRIPTION['isMandatory']"
                                />
                                <div *ngIf="f.submitted && divisionDescription.invalid">
                                    <div class="error-msg" [hidden]="!divisionDescription.errors.required">
                                        {{DIVISION_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class="error-msg" [hidden]="!divisionDescription.errors?.maxlength" *ngIf="DIVISION_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                        {{DIVISION_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                                <span class="highlight"></span>
                                <label class="control-label" for="divisionDescription">{{DIVISION_DESCRIPTION['fieldValue']}}</label>
                    
                            </div>
                        </div>
                    </div>


                   
                    
                                <div class="col-sm-4">
                                        <div class="form-group row">
                                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !arabicDivisionDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                                <input  class="floating-input" type="text" placeholder=" " tabindex="3" name="arabicDivisionDescription" [(ngModel)]="model.arabicDivisionDescription"
                                                    #arabicDivisionDescription="ngModel" title="{{DIVISION_ARABIC_DESCRIPTION['helpMessage']}}" maxlength="61"
                                                    [required]="DIVISION_ARABIC_DESCRIPTION['isMandatory']" />
                                                <div *ngIf="f.submitted && arabicDivisionDescription.invalid">
                                                    <div class="error-msg" [hidden]="!arabicDivisionDescription.errors.required">
                                                        {{DIVISION_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                    <div class="error-msg" [hidden]="!arabicDivisionDescription.errors?.maxlength" *ngIf="DIVISION_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                                        {{DIVISION_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                    </div>
                                                </div>
                                                <span class="highlight"></span>
                                                <label class="control-label" for="arabicDivisionDescription">{{DIVISION_ARABIC_DESCRIPTION['fieldValue']}}</label>
                                            </div>
                                        </div>
                                </div>
                   
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !divisionAddress.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <input  class="floating-input" type="text" placeholder=" " tabindex="4" name="divisionAddress" [(ngModel)]="model.divisionAddress"
                                    #divisionAddress="ngModel" title="{{DIVISION_ADDRESS['helpMessage']}}" maxlength="61" [required]="DIVISION_ADDRESS['isMandatory']"
                                />
                                <div *ngIf="f.submitted && divisionAddress.invalid">
                                    <div class="error-msg" [hidden]="!divisionAddress.errors.required">
                                        {{DIVISION_ADDRESS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class="error-msg" [hidden]="!divisionAddress.errors?.maxlength" *ngIf="DIVISION_ADDRESS['listDtoFieldValidationMessage'][1]">
                                        {{DIVISION_ADDRESS['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                                <span class="highlight"></span>
                                <label class="control-label" for="divisionAddress">{{DIVISION_ADDRESS['fieldValue']}}</label>
                            </div>
                        </div>
                    </div>

                  

                  
                   
             </div>
        <!-- <div class="sub-title"></div> -->
        <div class="form-group row">

                <div class="col-sm-4">
                        <div class="form-group row">
                            <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && country.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                <input auto-complete [source]="countries" class="floating-input" list-formatter="countryName" [(ngModel)]="selectedCountry"
                                    [ngModelOptions]="{standalone: true}" name="country" #country="ngModel"  (valueChanged)="getCountryData($event)"
                                    placeholder="" on-focus="onAutocompleteFocus('lblCountry',selectedCountry);countryFocusIn(country)" 
                                    tabindex="5"  #filterInput required/>
                                    <!-- on-focus="onAutocompleteFocus('countryLabel',selectedCountry);countryFocusIn(countryId)" on-focusout="onAutocompleteFocusOut('countryLabel',selectedCountry);countryFocusout(countryId)" -->
                                <div *ngIf="f.submitted && country.invalid">
                                    <div class="error-msg" [hidden]="!country.invalid">
                                        {{DIVISION_COUNTRY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                                <span class="highlight"></span>
                                <label id="lblCountry" class="control-label" for="country">{{DIVISION_COUNTRY['fieldValue']}}</label>
                                <input type="hidden" />
                                <span class="search-icon">
                                    <!-- <i class="ti-angle-down"></i> -->
                                    <i (click)="toggle()" [ngClass]="{'ti-angle-down': !isCountryOpen, 'ti-angle-up':isCountryOpen }"></i>
                                </span>
                            </div>
                        </div>
                    
                    
                    </div>

            <div class="col-sm-4">
                <div class="form-group row">
                    <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && state.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                        <input auto-complete [source]="states" class="floating-input" list-formatter="stateName" [(ngModel)]="selectedState" [ngModelOptions]="{standalone: true}"
                            name="state" #state="ngModel"  (valueChanged)="getStateData($event)" placeholder="" on-focus="onAutocompleteFocus('lblState',selectedCountry);stateFocusIn(state)"
                             tabindex="6" #filterInput1 required/>

                            <!-- on-focus="onAutocompleteFocus('stateLabel');stateFocusIn(stateId)" on-focusout="onAutocompleteFocusOut('stateLabel');stateFocusout(stateId)" -->
                        <div *ngIf="f.submitted && state.invalid">
                            <div class="error-msg" [hidden]="!state.invalid">
                                {{DIVISION_STATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
        
                        </div>
                        <span class="highlight"></span>
                        <label id="lblState" class="control-label" for="state">{{DIVISION_STATE['fieldValue']}}</label>
                        <input type="hidden" />
                        <span class="search-icon">
                            <i (click)="toggle1()" [ngClass]="{'ti-angle-down': !isStateOpen, 'ti-angle-up':isStateOpen }"></i>
                        </span>
                    </div>
        
        
        
        
        
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group row">
                    <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && city.invalid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                        <input auto-complete [source]="cityOptions" class="floating-input" list-formatter="cityName" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}"
                            name="city" #city="ngModel"  (valueChanged)="getCityData($event)" placeholder="" on-focus="onAutocompleteFocus('lblCity',selectedCountry);cityFocusIn(city)"
                            tabindex="7" #filterInput2 required/>


                            <!-- on-focus="onAutocompleteFocus('cityLabel');cityFocusIn(cityId)" on-focusout="onAutocompleteFocusOut('cityLabel');cityFocusout(cityId)"  -->
                        <div *ngIf="f.submitted && city.invalid">
                            <div class="error-msg" [hidden]="!city.invalid">
                                {{DIVISION_CITY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                            </div>
        
                        </div>
                        <span class="highlight"></span>
                        <label id="lblCity" class="control-label" for="city">{{DIVISION_CITY['fieldValue']}}</label>
                        <input type="hidden" />
                        <span class="search-icon">
                            <!-- <i class="ti-angle-down"></i> -->
                            <i (click)="toggle2()" [ngClass]="{'ti-angle-down': !isCityOpen, 'ti-angle-up':isCityOpen }"></i>
                        </span>
                    </div>
                </div>
            </div>
        
           
        
        </div>
        
        <div class="form-group row">

                <div class="col-sm-4">
                        <div class="form-group row">
                                <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !phoneNumber.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                        <input class="floating-input" type="text" placeholder=" " tabindex="8" name="phoneNumber" [(ngModel)]="model.phoneNumber" (keydown)="onlyDecimalNumberKey($event)"
                                            #phoneNumber="ngModel" PhonenumberFaxDirective="true" [pattern]="phonePattern" title="{{DIVISION_PHONE['helpMessage']}}"
                                            maxlength="21" [required]="DIVISION_PHONE['isMandatory']" />
                                        <div *ngIf="f.submitted && phoneNumber.invalid">
                                            <div class="error-msg" [hidden]="!phoneNumber.errors.required">
                                                {{DIVISION_PHONE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div class="error-msg" [hidden]="!phoneNumber.errors?.maxlength" *ngIf="DIVISION_PHONE['listDtoFieldValidationMessage'][1]">
                                                {{DIVISION_PHONE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                            <div class="error-msg" *ngIf="phoneNumber.dirty && phoneNumber.value.length!=0">
                                                {{DIVISION_PHONE['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                            </div>
                                        </div>
                                        <span class="highlight"></span>
                                        <label class="control-label" for="">{{DIVISION_PHONE['fieldValue']}}</label>
                                    </div>
                        </div>
                </div>
        
            <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !fax.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <input  class="floating-input" type="text" placeholder=" " tabindex="9" name="fax" [(ngModel)]="model.fax" #fax="ngModel" (keydown)="onlyDecimalNumberKey($event)"
                                title="{{DIVISION_FAX['helpMessage']}}" PhonenumberFaxDirective="true" maxlength="21" 
                                [required]="DIVISION_FAX['isMandatory']" />
                            <div *ngIf="f.submitted && fax.invalid">
                                <div class="error-msg" [hidden]="!fax.errors.required">
                                    {{DIVISION_FAX['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="!fax.errors?.maxlength" *ngIf="DIVISION_FAX['listDtoFieldValidationMessage'][1]">
                                    {{DIVISION_FAX['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                                <div class="error-msg" *ngIf="fax.dirty && fax.value.length!=0">
                                    {{DIVISION_FAX['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label class="control-label" for="fax">{{DIVISION_FAX['fieldValue']}}</label>
                        </div>
                    </div>
            </div>
            <div class="col-sm-4">
                    <div class="form-group row">
                        <div class="floating-label col-md-12" [ngClass]="{'has-error': f.submitted && !email.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <input  class="floating-input" type="text" placeholder=" " tabindex="10" name="email" [pattern]="emailPattern" [(ngModel)]="model.email"
                                #email="ngModel" title="{{DIVISION_EMAIL['helpMessage']}}" maxlength="150" [required]="DIVISION_EMAIL['isMandatory']"
                                email="true" />
                            <div *ngIf="f.submitted && email.invalid">
        
                                <div class="error-msg" [hidden]="!email.errors?.required">
                                    {{DIVISION_EMAIL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div class="error-msg" [hidden]="email.errors?.required && email.errors?.email">
                                    {{DIVISION_EMAIL['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                </div>
                            </div>
                            <span class="highlight"></span>
                            <label class="control-label" for="email">{{DIVISION_EMAIL['fieldValue']}}</label>
                        </div>
                    </div>
            </div>
          
           
          
        </div>
        <!-- <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
                        <span class="pull-right">
                            <button *ngIf="model.id" [ngClass]="'grey-btn'">{{DIVISION_UPDATE_LABEL['fieldValue']}}</button>
                            <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{DIVISION_SAVE_LABEL['fieldValue']}}</button>
                            <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{DIVISION_CLEAR_LABEL['fieldValue']}}</button>
                            <button [ngClass]="'blue-btn'" (click)="showCreateForm = false">{{DIVISION_CANCEL_LABEL['fieldValue']}}</button>
                        </span>
                    </div>
                </div>
            </div> -->


            <div [ngClass]="'button-row'">
                    <div [ngClass]="'col-sm-12'">
                        <button *ngIf="model.id" class="green-btn">{{DIVISION_UPDATE_LABEL['fieldValue']}}</button>
                        <button *ngIf="!model.id" class="green-btn">{{DIVISION_SAVE_LABEL['fieldValue']}}</button>
                        <button class="blue-btn" (click)="goBack()">{{DIVISION_CANCEL_LABEL['fieldValue']}}</button>
                        <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{DIVISION_CLEAR_LABEL['fieldValue']}}</button>
                        <!-- <button class="btn btn-danger btn-round" tabindex="18">Cancel</button>
                        <button class="btn btn-primary btn-round" (click)="Create_Company()" tabindex="17">Save</button> -->
                    </div>
                    
                </div>
       
      </form>
   
   
  </app-card>        
               
    
    <!--adding form ends-->
</div>
<!-- Content Outer Ends -->
</section>
</section>
</div>



