<div class="content-wrapper">
	<section class="content">
		<!-- Section Heading Starts -->
		<div class="section-heading">
			<h2>{{moduleName}}</h2>
		</div>
		<!-- section Heading Ends -->
		<section class="inner-content">
			<!-- Content Outer Starts -->
			<div class="content-outer com-form">
				<div *ngIf="hasMsg"
					[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
				<div class="content-heading">
					<h3>{{screenName}}</h3>
				</div>
				<form (ngSubmit)="f.form.valid && CreateGroup(f)" #f="ngForm"
					novalidate>
					<!-- Row Starts -->
					<div class="row">
						<!-- Form Row Starts -->
						<fieldset [disabled]="isScreenLock">
						<div class="form-row">
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']"
								[ngClass]="{ 'has-error': f.submitted && !groupName.valid }">
								<label for="groupName">{{defaultFormValues[0]['fieldValue']}}</label>
								<input type="text" class="form-control fm-txt" name="groupName"
									[(ngModel)]="model.groupName" #groupName="ngModel" [readonly]="!defaultFormValues[0]['writeAccess']"
									title="{{defaultFormValues[0]['helpMessage']}}"  myAutofocus maxlength="25"
									required />
								<div *ngIf="f.submitted && groupName.invalid">
									<div class='error-msg' *ngIf="groupName.errors.required">
										{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="groupName.errors.maxlength">
										{{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
							</div>
								<div class="col-md-6 col-sm-6 col-xs-12"
								[ngClass]="{ 'has-error': f.submitted && !roleGroupList.valid }">
								<label for="roleGroup">{{defaultFormValues[1]['fieldValue']}}</label>
								<div class="select-outer multiselect-dd selected-list">
								<ss-multiselect-dropdown [options]="ddOptions" [settings]="ddSettings" [texts]="ddTexts" [(ngModel)]="model.roleGroupList"
                                        #roleGroupList="ngModel" name="roleGroupList"   title="{{defaultFormValues[1]['helpMessage']}}" required>
                                  </ss-multiselect-dropdown>


									
								</div>
								<div *ngIf="f.submitted && roleGroupList.invalid">
									<div class='error-msg'
										[hidden]="!roleGroupList.errors.required">
										{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
								</div>
							</div>

						</div>
						<!-- Form Row Ends -->
						<!-- Form Row Starts-->
						<div class="form-row">
							<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[2]['readAccess']"
								[ngClass]="{ 'has-error': f.submitted && !groupDesc.valid }">
								<label for="groupDesc">{{defaultFormValues[2]['fieldValue']}}</label>
								<textarea class="form-control fm-txt" name="groupDesc"
									[(ngModel)]="model.groupDesc" #groupDesc="ngModel" [readonly]="!defaultFormValues[2]['writeAccess']"
									title="{{defaultFormValues[2]['helpMessage']}}" maxlength="150"></textarea>
								<div *ngIf="f.submitted && groupDesc.invalid">
									<div class='error-msg' [hidden]="!groupDesc.errors.maxlength">
										{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
								</div>
							</div>

						</div>
					</fieldset>
						<!-- Form Row Ends -->

						<div class="button-row">
							<div class="col-sm-12">
								<button class="orange-btn" *ngIf="defaultFormValues[3]['readAccess']" 
								[disabled]="LockScreen(defaultFormValues[3]['writeAccess'])"
									title="{{defaultFormValues[3]['helpMessage']}}">{{defaultFormValues[3]['fieldValue']}}</button>
								<button [ngClass]="'blue-btn'" *ngIf="defaultFormValues[3]['readAccess']" [disabled]="!defaultFormValues[4]['writeAccess']" [routerLink]="['/usergroup']"
									title="{{defaultFormValues[4]['helpMessage']}}">{{defaultFormValues[4]['fieldValue']}}</button>
							</div>

						</div>

					</div>
					<!-- Row Ends -->
				</form>
			</div>
			<!-- Content Outer Ends -->
		</section>
	</section>
</div>

<!--<footer class="main-footer">@ 2017 BIT. All rights reserved. </footer>-->