<app-card [title]="'Modules'">

    <div class="row">
        <div class="col-sm-4" *ngFor="let header of headerValues;">

            <div class="features-box clickable" (click)="setCurrentHeader(header.moduleId,header)">
                <div class="circle-icon" >
                    <span *ngIf="header.moduleId==1 || header.moduleId==13" ><img src="../assets\images\user.png" style="height: 48px;width: 48px"
                            alt="User Management Module"></span>
                            <span *ngIf="header.moduleId==12" ><img src="../assets/layouts/layout/img/financial-module-icon.png" style="height: 48px;width: 48px"
                                alt="User Management Module"></span>
                                <span *ngIf="header.moduleId==2 || header.moduleId==21" ><img src="../assets/layouts/layout/img/HCM-module-icon.png" style="height: 48px;width: 48px"
                                    alt="User Management Module"></span>
                                    <span *ngIf="header.moduleId==101" ><img src="../assets/layouts/layout/img/CRM-module-icon.png" style="height: 48px;width: 48px"
                                        alt="User Management Module"></span>
                </div>
                <h3>{{header.headerName}}</h3>
            </div>
        </div>
        <!-- <div class="col-sm-4">
            <div class="features-box clickable">
                <div class="circle-icon">
                    <span><img src="../assets/layouts/layout/img/financial-module-icon.png"
                            alt="Financial Module"></span>
                </div>
                <h3>Financial Module</h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="features-box clickable">
                <div class="circle-icon">
                    <span><img src="../assets/layouts/layout/img/HCM-module-icon.png" alt="Financial Module"></span>
                </div>
                <h3>HCM Module</h3>
            </div>
        </div> -->

    </div>
    <!-- <div class="row">
        <div class="col-sm-4">
            <div class="features-box clickable">
                <div class="circle-icon">
                    <span><img src="../assets/layouts/layout/img/inventory-module-icon.png"
                            alt="Financial Module"></span>
                </div>
                <h3>Inventory Module</h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="features-box clickable" (click)="setCurrentHeader('crmModule')">
                <div class="circle-icon">
                    <span><img src="../assets/layouts/layout/img/CRM-module-icon.png" alt="Financial Module"></span>
                </div>
                <h3>CRM Module</h3>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="features-box clickable">
                <div class="circle-icon">
                    <span><img src="../assets/layouts/layout/img/SCM-module-icon.png" alt="Financial Module"></span>
                </div>
                <h3>SCM Module</h3>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <div class="features-box clickable">
                <div class="circle-icon">
                    <span><img src="../assets/layouts/layout/img/financial-module-icon1.png"
                            alt="Financial Module"></span>
                </div>
                <h3>Financial Module</h3>
            </div>
        </div>
    </div> -->

</app-card>