
<div class="content-wrapper user-view">
    <section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
            <section class="inner-content">
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">

                        	<div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control"  (keyup)='updateFilter($event)' />
									</div>
							</div>

						<div class="form-row">
							<div class="col-xs-12">
								<div class="algo-table">
									<div class="table-responsive"> 
										<ngx-datatable id="abc" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" 
											[messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="Searchselected" >
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[0]['readAccess']" name="classId" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[0]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="gridDefaultFormValues[1]['readAccess']" name="description" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[1]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											<ngx-datatable-column *ngIf="gridDefaultFormValues[2]['readAccess']" name="descriptionArabic" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[2]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											<ngx-datatable-column *ngIf="gridDefaultFormValues[3]['readAccess']" name="faAccountGroupId" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[3]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											<ngx-datatable-column *ngIf="gridDefaultFormValues[4]['readAccess']" name="faInsuranceClassIndexId" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[4]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											<ngx-datatable-column *ngIf="gridDefaultFormValues[5]['readAccess']" name="Action" [width]="99" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													{{gridDefaultFormValues[5]['fieldValue']}}
												</ng-template>
												<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
													<a class="edit-ico" (click)="edit(row)" *ngIf="gridDefaultFormValues[7]['readAccess']" title="gridDefaultFormValues[7]['helpMessage']"></a>
												</ng-template>
											</ngx-datatable-column>
										 </ngx-datatable>
									</div>

									<div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
									<!--<button class="blue-btn" (click)="delete()"  title="delete">Delete</button>-->
								</div>
								</div><!-- Algo Table Ends -->
								
							</div>
						</div><!-- Form Row Ends -->


						<form class="search-batch" name="classSetup" (ngSubmit)="classSetup.form.valid && save(classSetup)" #classSetup="ngForm" novalidate>
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': classSetup.submitted && !classId.valid }">
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
									<input type="text" title="{{gridDefaultFormValues[0]['helpMessage']}}" myAutofocus class="form-control fm-txt {{myHtml}} auto-focus" id="ddl_insClassId" name="classId" [(ngModel)]="classSetupObject.classId" 
									(blur)='IsIdAlreadyExist()' #classId="ngModel" required [disabled]="disableId">
									<div *ngIf="classSetup.submitted && classId.invalid">
										<div class='error-msg' *ngIf="classId.errors.required">
											{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div> 
								</div>
							</div><!-- Form Row Ends -->
							
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" [ngClass]="{ 'has-error': classSetup.submitted && !description.valid }" *ngIf="defaultFormValues[1]['readAccess']">
								  <label>{{defaultFormValues[1]['fieldValue']}}</label>
								 <input type="text" class="form-control fm-txt" name="description" title="{{defaultFormValues[1]['helpMessage']}}" [(ngModel)]="classSetupObject.description" #description="ngModel" maxlength="31" required>
								  <div *ngIf="classSetup.submitted && description.invalid">
									<div class='error-msg' *ngIf="description.errors.required">
										{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="description.errors.maxlength">
										{{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
								</div>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{ 'has-error': classSetup.submitted && !descriptionArabic.valid }">
								  <label>{{defaultFormValues[2]['fieldValue']}}</label>
								 <input type="text" class="form-control fm-txt" name="descriptionArabic" title="{{defaultFormValues[2]['helpMessage']}}" [(ngModel)]="classSetupObject.descriptionArabic" #descriptionArabic="ngModel" maxlength="50" required>
								   <div *ngIf="classSetup.submitted && descriptionArabic.invalid">
									<div class='error-msg' *ngIf="descriptionArabic.errors.required">
										{{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
									</div>
									<div class='error-msg' *ngIf="descriptionArabic.errors.maxlength">
										{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
									</div>
								</div>
								</div> 
							</div><!-- Form Row Ends -->
							
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" [ngClass]="{ 'has-error': classSetup.submitted && faAccountGroupId.length == 0 }" *ngIf="defaultFormValues[3]['readAccess']">
								  <label>{{defaultFormValues[3]['fieldValue']}}</label>
									<div class="select-outer">
										 <!--<select class="form-control" title="{{gridDefaultFormValues[3]['helpMessage']}}" name='faAccountGroupId' [(ngModel)]="classSetupObject.faAccountGroupId"  #faAccountGroupId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let account of accountGroup" [value]="account.accountGroupId">{{account.description}}</option>
										</select>-->
										<angular2-multiselect [data]="ArrAccountGroupId"  [(ngModel)]="faAccountGroupId" id="faAccountGroupId" [ngModelOptions]="{standalone: true}"
										[settings]="ddlAccountGroupIdSetting" 
										(onSelect)="getAccountGroupByID($event)" (onDeSelect)="OnAccountGroupIdDeSelect($event)" >
										</angular2-multiselect>										
									</div> 
									<div *ngIf="classSetup.submitted && faAccountGroupId.length == 0">
										<div class='error-msg'>
											{{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									</div>
								</div>
							</div><!-- Form Row Ends -->

							<div class="form-row">
								
								
								<div class="col-md-6 col-sm-6 col-xs-12" [ngClass]="{ 'has-error': classSetup.submitted && faInsuranceClassIndexId.length == 0  }" *ngIf="defaultFormValues[4]['readAccess']">
								  <label>{{defaultFormValues[4]['fieldValue']}}</label>
									<div class="select-outer">
										 <!--<select class="form-control" title="{{gridDefaultFormValues[4]['helpMessage']}}" name='faInsuranceClassIndexId' [(ngModel)]="classSetupObject.faInsuranceClassIndexId"  #faInsuranceClassIndexId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let main of insuranceClass" [value]="main.insuranceClassIndex">{{main.insuranceDescriptionPrimary}}</option>
										</select>										-->
										<angular2-multiselect [data]="ArrInsuranceClass"  [(ngModel)]="faInsuranceClassIndexId" id="faInsuranceClassIndexId" [ngModelOptions]="{standalone: true}"
										[settings]="ddlInsuranceClassSetting" 
										(onSelect)="getInsuranceClassByID($event)" (onDeSelect)="OnInsuranceClassDeSelect($event)" >
										</angular2-multiselect>
									</div> 
									<div *ngIf="classSetup.submitted && faInsuranceClassIndexId.length == 0 ">
										<div class='error-msg'>
											{{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>										
									</div>
								</div>

							
							</div><!-- Form Row Ends -->
							
							<div class="button-row">
								<div class="col-sm-12">
									
										<input type="submit" [disabled]="LockScreen(defaultFormValues[5]['writeAccess'])" title="{{gridDefaultFormValues[5]['helpMessage']}}" value="{{defaultFormValues[5]['fieldValue']}}" *ngIf="add && defaultFormValues[5]['readAccess']" class="orange-btn">
										<button *ngIf="!add && defaultFormValues[5]['readAccess']" class="orange-btn">{{defaultFormValues[5]['fieldValue']}}</button>
								
									<input type="button" title="{{gridDefaultFormValues[6]['helpMessage']}}" style="margin-left:18px" *ngIf="defaultFormValues[6]['readAccess']" (click)="ClearForm(classSetup);" class="blue-btn" value="{{defaultFormValues[6]['fieldValue']}}">
									<input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(classSetup)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
								</div>
							</div>
						</form>
						
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>
<!--<style>
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
</style>-->