/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-accordion-menu {
    width: 100%;
    background: none;
    margin: 0 auto;
    padding:0;
    clear:both;
  }
  .cd-accordion-menu ul {
    /* by default hide all sub menus */
    display: none;padding:0;
  }
  .cd-accordion-menu li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
  }
  .cd-accordion-menu > li{
    padding:0 15px 0 0; 
   }
  .cd-accordion-menu input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
  }
  .cd-accordion-menu span, .cd-accordion-menu a {
    position: relative;
    display: block;
    padding: 18px 18px 18px 36px;
    border-bottom:1px solid #d5d5d5;
    color: #404040;
    font-size: 1.6rem;
    margin:0;
  }
  .no-touch .cd-accordion-menu span:hover, .no-touch .cd-accordion-menu a:hover {
    background: #fff;
  }
  .cd-accordion-menu span::before{
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-accordion-menu span {
    cursor: pointer;
  }
  .cd-accordion-menu span::before, .cd-accordion-menu span::after {
    background-image: url(../img/cd-icons.svg);
    background-repeat: no-repeat;
  }
  .cd-accordion-menu span::before {
    /* arrow icon */
    left: 18px;
    color:#404040;
    background-position: 0 0;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
  }
  .cd-accordion-menu span::after {
    /* folder icons */
    left: 41px;
    background-position: -16px 0;
  }
  .cd-accordion-menu a::after {
    /* image icon */
    left: 36px;
    background: url(../img/cd-icons.svg) no-repeat -48px 0;
  }
  .cd-accordion-menu input[type=checkbox]:checked + .permission-list + span::before {
    /* rotate arrow */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-accordion-menu input[type=checkbox]:checked + span::after {
    /* show open folder icon if item is checked */
    background-position: -32px 0;
  }
  .cd-accordion-menu input[type=checkbox]:checked + span + ul,
  .cd-accordion-menu input[type=checkbox]:checked + span:nth-of-type(n) + ul {
    /* use span:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
    display: block;
    padding:0;
  }
  .cd-accordion-menu ul span,
  .cd-accordion-menu ul a {
   
    border-bottom:1px solid #d5d5d5;
    padding-left: 82px;
  }
  .no-touch .cd-accordion-menu ul span:hover, .no-touch
  .cd-accordion-menu ul a:hover {
    background: #fff;
  }
  .cd-accordion-menu > li:last-of-type > span,
  .cd-accordion-menu > li:last-of-type > a,
  .cd-accordion-menu > li > ul > li:last-of-type span,
  .cd-accordion-menu > li > ul > li:last-of-type a {
    box-shadow: none;
  }
  .cd-accordion-menu ul span::before {
    left: 36px;
  }
  .cd-accordion-menu ul span::after,
  .cd-accordion-menu ul a::after {
    left: 59px;
  }
  .cd-accordion-menu ul ul span,
  .cd-accordion-menu ul ul a {
    padding-left: 100px;
  }
  .cd-accordion-menu ul ul span::before {
    left: 54px;
  }
  .cd-accordion-menu ul ul span::after,
  .cd-accordion-menu ul ul a::after {
    left: 77px;
  }
  .cd-accordion-menu ul ul ul span,
  .cd-accordion-menu ul ul ul a {
    padding-left: 118px;
  }
  .cd-accordion-menu ul ul ul span::before {
    left: 72px;
  }
  .cd-accordion-menu ul ul ul span::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 95px;
  }
  @media only screen and (min-width: 600px) {
    .cd-accordion-menu span, .cd-accordion-menu a {
      padding: 11px 10px 11px 36px;
      font-size: 1.9rem;
    }
    .cd-accordion-menu span::before {
      left: 14px;
    }
    .cd-accordion-menu span::after {
      left: 53px;
    }
    .cd-accordion-menu ul span,
    .cd-accordion-menu ul a {
      padding-left: 56px;
    }
    .cd-accordion-menu ul span::before {
      left: 38px;
    }
    .cd-accordion-menu ul span::after,
    .cd-accordion-menu ul a::after {
      left: 77px;
    }
    .cd-accordion-menu ul ul span,
    .cd-accordion-menu ul ul a {
      padding-left: 100px;
    }
    .cd-accordion-menu ul ul span::before {
      left: 78px;
    }
    .cd-accordion-menu ul ul span::after,
    .cd-accordion-menu ul ul a::after {
      left: 101px;
    }
    .cd-accordion-menu ul ul ul span,
    .cd-accordion-menu ul ul ul a {
      padding-left: 154px;
    }
    .cd-accordion-menu ul ul ul span::before {
      left: 96px;
    }
    .cd-accordion-menu ul ul ul span::after,
    .cd-accordion-menu ul ul ul a::after {
      left: 125px;
    }
  }
  .cd-accordion-menu.animated span::before {
    /* this class is used if you're using jquery to animate the accordion */
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .permission-list{position:relative; z-index:999;}
  .permission-list input[type="checkbox"]{ opacity:1 !important; position:static;}
  /* .permission-list span{float:left; float: left;border-left: 1px solid #d5d5d5; padding: 6px 0px;    */
    .permission-list span{float:left; float: left; padding: 6px 0px;border-left:none;  
   min-width: 75px; text-align: center;}
  
  
   /* Loader */
  
   .cssload-loader {
      width: 206px;
      height: 206px;
      line-height: 206px;
      margin: 69px auto;
      position: relative;
      box-sizing: border-box;
      text-align: center;
      z-index: 0;
      text-transform: uppercase;
          -o-text-transform: uppercase;
          -ms-text-transform: uppercase;
          -webkit-text-transform: uppercase;
          -moz-text-transform: uppercase;
  }
  
  .cssload-loader:before,
  .cssload-loader:after {
      opacity: 0;
      box-sizing: border-box;
          -o-box-sizing: border-box;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
      content: "\0020";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 138px;
      border: 7px solid rgb(0,0,0);
      box-shadow: 0 0 69px rgb(255,255,255), inset 0 0 69px rgb(0,0,0);
          -o-box-shadow: 0 0 69px rgb(255,255,255), inset 0 0 69px rgb(0,0,0);
          -ms-box-shadow: 0 0 69px rgb(255,255,255), inset 0 0 69px rgb(0,0,0);
          -webkit-box-shadow: 0 0 69px rgb(255,255,255), inset 0 0 69px rgb(0,0,0);
          -moz-box-shadow: 0 0 69px rgb(255,255,255), inset 0 0 69px rgb(0,0,0);
  }
  
  .cssload-loader:after {
      z-index: 1;
      animation: cssload-gogoloader 1.7s infinite 0.85s;
          -o-animation: cssload-gogoloader 1.7s infinite 0.85s;
          -ms-animation: cssload-gogoloader 1.7s infinite 0.85s;
          -webkit-animation: cssload-gogoloader 1.7s infinite 0.85s;
          -moz-animation: cssload-gogoloader 1.7s infinite 0.85s;
  }
  
  .cssload-loader:before {
      z-index: 2;
      animation: cssload-gogoloader 1.7s infinite;
          -o-animation: cssload-gogoloader 1.7s infinite;
          -ms-animation: cssload-gogoloader 1.7s infinite;
          -webkit-animation: cssload-gogoloader 1.7s infinite;
          -moz-animation: cssload-gogoloader 1.7s infinite;
  }
  
  
  
  @keyframes cssload-gogoloader {
      0% {
          transform: scale(0);
          opacity: 0;
      }
      50% {
          opacity: 1;
      }
      100% {
          transform: scale(1);
          opacity: 0;
      }
  }
  
  @-o-keyframes cssload-gogoloader {
      0% {
          -o-transform: scale(0);
          opacity: 0;
      }
      50% {
          opacity: 1;
      }
      100% {
          -o-transform: scale(1);
          opacity: 0;
      }
  }
  
  @-ms-keyframes cssload-gogoloader {
      0% {
          -ms-transform: scale(0);
          opacity: 0;
      }
      50% {
          opacity: 1;
      }
      100% {
          -ms-transform: scale(1);
          opacity: 0;
      }
  }
  
  @-webkit-keyframes cssload-gogoloader {
      0% {
          -webkit-transform: scale(0);
          opacity: 0;
      }
      50% {
          opacity: 1;
      }
      100% {
          -webkit-transform: scale(1);
          opacity: 0;
      }
  }
  
  @-moz-keyframes cssload-gogoloader {
      0% {
          -moz-transform: scale(0);
          opacity: 0;
      }
      50% {
          opacity: 1;
      }
      100% {
          -moz-transform: scale(1);
          opacity: 0;
      }
  }