<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>Actiivity Log</h2>
            
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    
                </div>
                 <div class="content-heading">
                    <div class="col-md-2">
                        <label class="control-label" for="fromDate">From Date Time</label>
                    </div>
                    <div class="col-md-1">
                        <input [ngClass]="'form-control fm-txt'" placeholder="Select a date" ngx-mydatepicker name="fromDate"/>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" for="fromDate">To Date Time</label>
                    </div>
                    <div class="col-md-2">
                        <input [ngClass]="'form-control fm-txt'" placeholder="Select a date" ngx-mydatepicker name="fromDate"/>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary"> Submit</button>
                    </div>
                    <div class="col-md-1">
                        <label class="control-label" for="fromDate">Search</label>
                    </div>
                    <div class="col-md-2">
                        <input [ngClass]="'form-control fm-txt'" placeholder="Search Key Word" ngx-mydatepicker name="fromDate"/>
                    </div>
                    <div class="col-md-2">
                        <select [ngClass]="'form-control '" name="ExcenSheet" 
                                         required>
                                        <option disabled selected  value="">
                                            Export As    
                                        </option>
                                        <option value="1">
                                            Excel
                                        </option>
                                        <option value="2">
                                            CSV
                                        </option>
                                    </select>
                           
                    </div>
                              
                    
                </div> 

                <!-- Content Heading Ends -->
                <div class="algo-table algo-table-department">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="DepartmentGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <!-- Data Grid Department Id -->
                            <!-- <ngx-datatable-column name="Id" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >Id</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column> -->

                            <!-- <ngx-datatable-column name="userId" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >userId</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column> -->
                            <ngx-datatable-column name="userName" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >userName</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="services" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >services</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="method" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >method</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="moduleName" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >moduleName</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="activity" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >activity</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <!-- <ngx-datatable-column name="fieldOldValue" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >fieldOldValue</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column> -->
                            <!-- <ngx-datatable-column name="fieldNewValue" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >fieldNewValue</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column> -->
                            <ngx-datatable-column name="companyName" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >companyName</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="screenName" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >screenName</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="createdDate" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    <span >createdDate</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value | date : 'dd/MM/yyyy' }}
                                </ng-template>
                            </ngx-datatable-column>
                            


                            <!-- Data Grid Department Description -->
                            
                            <!-- Data Grid Action -->
                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                   Action
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <!-- <div class="table-view">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div> -->
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>
                 
                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                         </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>

                      
                    </div>
                    <!-- Create Update form ends -->
                </div>
            </div>
        </section>
    </section>
</div>