<!-- screen header -->
<div class="page-header">
  <div class="page-header-title">
    <span>
      <h3 *ngIf="!model.employeeIndexId">{{defaultFormValues[47]['fieldValue']}} {{moduleName}}</h3>
      <h3 *ngIf="model.employeeIndexId">{{defaultFormValues[48]['fieldValue']}} {{moduleName}}</h3>
    </span>
  </div>
  <!-- <div class="page-header-breadcrumb">
        <i class="ti-settings"></i>
    </div> -->
</div>
<!-- screen header -->

<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <!-- <div class="section-heading">
            <h2></h2>
        </div> -->
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- Content Outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <!-- <h3> {{screenName}}</h3> -->
          <div *ngIf="showloader" class="loader">
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div>
          <div class="form-group row">
            <!-- Employee Image -->
            <div class="col-md-1">
              <div class="col-md-12 col-sm-6 col-xs-12" style="text-align: left;">
                <img id="passportImg" src="{{url ? url : '/assets/img/no-profile-pic-tiny.png'}}" style="width:100px;height:100px;border-radius:50%;"/>
              </div>
              <div class="col-md-12 col-sm-6 col-xs-12 doNotPrint" style="text-align: left; margin-top: 15px;">
                <div *ngIf="errorUpload.isError" class="r">
                  {{ errorUpload.errorMessage }}
                </div>
                <input type="file" name="employeeImage" (change)="onUploadBtn($event)" #file class="hide">
                <!-- <button [ngClass]="'grey-btn'" type="button" (click)="file.click()">{{defaultFormValues[45]['fieldValue']}}</button>
                <button [ngClass]="'orange-btn'" type="button" (click)="DeleteImage(f)">{{defaultFormValues[41]['fieldValue']}}</button> -->
              </div>
            </div>
            <div class="col-md-4">
                <h5>3105,REYNALDO GEROQUIA PAUSAL</h5>
                <div><i class="fa fa-map-marker"></i>Al-sammar showroom</div> <div><i class="fa fa-phone"></i>05524101</div> <div><i class="fa fa-envelope"></i>abc@dmail.com</div>

                
              </div>

              <div class="col-md-7" style="text-align: right;margin-top: 47px;">
                 <button [ngClass]="'grey-btn'" type="button" (click)="file.click()">{{defaultFormValues[45]['fieldValue']}}</button>
                <button [ngClass]="'orange-btn'" type="button" (click)="DeleteImage(f)">{{defaultFormValues[41]['fieldValue']}}</button>
                  
                </div>
          </div>
        
         
        
        </div>
        <!--adding form starts-->
        <!-- Basic Form Inputs card start -->
        <app-card [title]="" [blockClass]="'accordion-block scale-accordion'">
          <div class="row">
            <div class="col-lg-12 col-xl-12">
              <!-- <div class="sub-title">Default</div> -->
              <ngb-tabset>
                <ngb-tab title="Personal">
                  <ng-template ngbTabContent>
                    <div [@fadeInOutTranslate] class="m-t-15">
                      <!--form starts-->
                    <app-employee-personal-info></app-employee-personal-info>
                      <!--form ends-->
                    </div>
                  </ng-template>
                </ngb-tab>

                <!-- IDENTIFICATION TAB -->

                <ngb-tab title="Identification">

                  <ng-template ngbTabContent>
                    <div [@fadeInOutTranslate] class="m-t-15">
                      <!-- <p>identification </p> -->
                      <app-employee-identification-info></app-employee-identification-info>
                    </div>
                  </ng-template>



                </ngb-tab>

             
                <!-- BANK TAB -->
                <ngb-tab title="Bank">
                  <ng-template ngbTabContent>
                      <div [@fadeInOutTranslate] class="m-t-15">
                         <!-- Bank infocomponent -->
                         <app-employee-bank-info></app-employee-bank-info>
                      </div>
                  </ng-template>
               
              </ngb-tab>

                <!-- ORGANIZATION TAB -->
                <ngb-tab title="Organization">
                  <ng-template ngbTabContent>
                      <div [@fadeInOutTranslate] class="m-t-15">
                        <!-- Organization Info -->
                        <app-employee-organization-info></app-employee-organization-info>
                      </div>
                  </ng-template>
               
              </ngb-tab>
                
              </ngb-tabset>
            </div>

          </div>
        </app-card>



        <!--adding form ends-->
      </div>
      <!-- Content Outer Ends -->
    </section>
  </section>
</div>
<!-- Basic Form Inputs card end -->