<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{CREATE['fieldValue']}}">{{CREATE['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{EMPLOYEE_DEPENDENTS_SEARCH['helpMessage']}}" placeholder="{{EMPLOYEE_DEPENDENTS_SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department doNotPrint">
          <!-- Data Grid Starts-->
          <div class="table-responsive" >
            <ngx-datatable id="SkillsSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">
              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid SkillsSteup Id -->
              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                </div>
              </div>

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{EMPLOYEE_DEPENDENTS_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId1="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
        </div>
        <!-- Table View Ends -->
        <!-- print Header -->
        <div *ngIf="(isUnderUpdate && doNotPrintHearder)" style="border: 1px solid gray" [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
          <div class="col-md-3">
            <label class="control-label" style="font-size: 24px" for="empId">{{EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['fieldValue']}}</label>
            <span *ngIf="EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['isMandatory']">*</span>
          </div>
          <div class="col-md-2">
            <input type="text" [ngClass]="'form-control fm-txt'"  style="font-size: 21px" name="empId" value="{{employeeId}}" (keyup)="CheckNumber($event)" title="{{EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['helpMessage']}}"
            [readonly]="!EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['writeAccess']" [required]="EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['isMandatory']" />
          </div>
          <div class="col-md-2">
            <label class="control-label" for="name" style="font-size: 24px">Name</label>
          </div>
          <div class="col-md-5">
            <input type="text" [ngClass]="'form-control fm-txt'" style="font-size: 21px" name="empfirstname" [(ngModel)]="empFirstName" #empfirstname="ngModel"
                        title="{{EMPLOYEE_DEPENDENTS_FIRST_NAME['helpMessage']}}" maxlength="31" [required]="EMPLOYEE_DEPENDENTS_FIRST_NAME['isMandatory']" />
          </div>
        </div>
        <div class="bottom-view">
        </div>
        <button class="blue-btn" (click)="varifyDelete()">{{EMPLOYEE_DEPENDENTS_DELETE['fieldValue']}}</button>

        <!-- Create / Update Form start -->
        <div *ngIf="showCreateForm"  [ngClass]="{'doNotPrint':printDetails}">
          <div class="col-md-12 mt-30 doNotPrint">
            <hr>
            <h3 *ngIf="model.listEmployeeDependent.length == 0 || !model.listEmployeeDependent[0].id">{{EMPLOYEE_DEPENDENTS_CREATE_FORM_LEBEL['fieldValue']}}</h3>
            <h3 *ngIf="model.listEmployeeDependent.length > 0 && model.listEmployeeDependent[0].id">{{EMPLOYEE_DEPENDENTS_UPDATE_FORM_LEBEL['fieldValue']}}</h3>
          </div>
          <div class="col-md-12 mt-30"></div>
          <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="clearfix"></div>
          <form class="form-horizontal" #f="ngForm" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">

                  <div *ngIf="isUnderUpdate; then update else create"></div>
                  <ng-template #update>
                    <div [ngClass]="{ 'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                      <div class="col-md-5">
                        <label class="control-label" for="empId">{{EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['fieldValue']}}</label>
                        <span *ngIf="EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-7">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="empId" value="{{employeeId}}" (keyup)="CheckNumber($event)" title="{{EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['helpMessage']}}"
                        [readonly]="!EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['writeAccess']" [required]="EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['isMandatory']" />
                      </div>
                    </div>
                  </ng-template>


                  <ng-template #create>

                    <div [ngClass]="{ 'has-error': (submitted && !empId.valid) || (submitted && employyeIdValid==false),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                      <div class="col-md-5">
                        <label class="control-label" for="empId">{{EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['fieldValue']}}</label>
                        <span *ngIf="EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-7">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="empId" [(ngModel)]="employeeId" #empId="ngModel" title="{{EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['helpMessage']}}"
                          maxlength="15" autocomplete="off" [required]="EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['isMandatory']" [typeahead]="setIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                          (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="employeeId" (input)="checkValid1($event)"
                          class="search-id" />
                        <div *ngIf="submitted && empId.invalid || (submitted && employyeIdValid==false)">
                          <div [hidden]="!empId.errors?.required">
                            {{EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div [hidden]="!empId.errors?.maxlength" *ngIf="EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['listDtoFieldValidationMessage'][1]">
                            {{EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                          </div>
                          <div *ngIf="!empId.errors?.required && employyeIdValid==false">Invalid EmployeeId</div>
                        </div>
                      </div>
                    </div>
                  </ng-template>



                </div>

                <!-- SkillsSteup Description Field -->
                <div class="form-group">
                  <div [ngClass]="{'has-error':submitted && !emplastname.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="emplastname">{{EMPLOYEE_DEPENDENTS_LAST_NAME['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_DEPENDENTS_LAST_NAME['isMandatory']">*</span>
                    </div>
                    <div class="col-md-7">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="emplastname" [(ngModel)]="empLastName" #emplastname="ngModel"
                        title="{{EMPLOYEE_DEPENDENTS_LAST_NAME['helpMessage']}}" [required]="EMPLOYEE_DEPENDENTS_LAST_NAME['isMandatory']" maxlength="31" />
                      <div *ngIf="submitted && emplastname.invalid">
                        <div [hidden]="!emplastname.errors.required">
                          {{EMPLOYEE_DEPENDENTS_LAST_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!emplastname.errors?.maxlength" *ngIf="EMPLOYEE_DEPENDENTS_LAST_NAME['listDtoFieldValidationMessage'][1]">
                          {{EMPLOYEE_DEPENDENTS_LAST_NAME['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Arabic location description -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': submitted && !empfirstname.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="arabicDiscription">{{EMPLOYEE_DEPENDENTS_FIRST_NAME['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_DEPENDENTS_FIRST_NAME['isMandatory']">*</span>
                    </div>
                    <div class="col-md-7">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="empfirstname" [(ngModel)]="empFirstName" #empfirstname="ngModel"
                        title="{{EMPLOYEE_DEPENDENTS_FIRST_NAME['helpMessage']}}" maxlength="31" [required]="EMPLOYEE_DEPENDENTS_FIRST_NAME['isMandatory']" />
                      <div *ngIf="submitted && emplastname.invalid">
                        <div [hidden]="!emplastname.errors.required">
                          {{EMPLOYEE_DEPENDENTS_FIRST_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!emplastname.errors?.maxlength" *ngIf="EMPLOYEE_DEPENDENTS_FIRST_NAME['listDtoFieldValidationMessage'][1]">
                          {{EMPLOYEE_DEPENDENTS_FIRST_NAME['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Arabic location description -->
                <div class="form-group">
                  <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="empmiddlename">{{EMPLOYEE_DEPENDENTS_MIDDLE_NAME['fieldValue']}}</label>
                      <!-- <span *ngIf="EMPLOYEE_DEPENDENTS_MIDDLE_NAME['isMandatory']">*</span> -->
                    </div>
                    <div class="col-md-7">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="empmiddlename" [(ngModel)]="empMidleName" #empmiddlename="ngModel"
                        title="{{EMPLOYEE_DEPENDENTS_MIDDLE_NAME['helpMessage']}}" maxlength="31">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div [ngClass]="{'has-error': submitted && dependentid.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="comment">{{EMPLOYEE_DEPENDENTS_RELATIONSHIP['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_DEPENDENTS_RELATIONSHIP['isMandatory']">*</span>
                    </div>
                    <div class="col-md-7">
                      <select [ngClass]="'form-control fm-txt'" name="dependentid" [(ngModel)]="employeeDependentsId" #dependentid="ngModel" title="{{EMPLOYEE_DEPENDENTS_RELATIONSHIP['helpMessage']}}"
                        maxlength="31">
                        <option value="0">--Select Relationship--</option>
                        <option *ngFor="let data of relationship" [value]="data.id">{{data.desc}}</option>
                      </select>
                      <div *ngIf="submitted && dependentid.value==0">
                        <div [hidden]="!dependentid.value==0">
                          {{EMPLOYEE_DEPENDENTS_RELATIONSHIP['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!dependentid.errors?.maxlength" *ngIf="EMPLOYEE_DEPENDENTS_RELATIONSHIP['listDtoFieldValidationMessage'][1]">
                          {{EMPLOYEE_DEPENDENTS_RELATIONSHIP['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <div [ngClass]="{'has-error':submitted && !add.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="address">{{EMPLOYEE_DEPENDENTS_ADDRESS['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_DEPENDENTS_ADDRESS['isMandatory']">*</span>
                    </div>
                    <div class="col-md-7">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="add" [(ngModel)]="address" #add="ngModel" title="{{EMPLOYEE_DEPENDENTS_ADDRESS['helpMessage']}}"
                        maxlength="120" [required]="EMPLOYEE_DEPENDENTS_ADDRESS['isMandatory']" />
                      <div *ngIf="submitted && add.invalid">
                        <div [hidden]="!add.errors.required">
                          {{EMPLOYEE_DEPENDENTS_ADDRESS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!add.errors?.maxlength" *ngIf="EMPLOYEE_DEPENDENTS_ADDRESS['listDtoFieldValidationMessage'][1]">
                          {{EMPLOYEE_DEPENDENTS_ADDRESS['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div [ngClass]="{'has-error': submitted && !phoneno.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="phoneno">{{EMPLOYEE_DEPENDENTS_PHONE_NUMBER['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_DEPENDENTS_PHONE_NUMBER['isMandatory']">*</span>
                    </div>
                    <div class="col-md-7">
                        <input id="personalPhone" type="text"   [ngClass]="'form-control fm-txt'" name="personalPhone" [(ngModel)]="phoneNumber"
                        #phoneno="ngModel" title="{{EMPLOYEE_DEPENDENTS_PHONE_NUMBER['helpMessage']}}"
                        maxlength="21" [required]="EMPLOYEE_DEPENDENTS_PHONE_NUMBER['isMandatory']"  PhonenumberFaxDirective="true" [pattern]="phonePattern"/>
                      <div *ngIf="submitted && phoneno.invalid">
                        <div [hidden]="!phoneno.errors.required">
                          {{EMPLOYEE_DEPENDENTS_PHONE_NUMBER['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!phoneno.errors?.maxlength" *ngIf="EMPLOYEE_DEPENDENTS_PHONE_NUMBER['listDtoFieldValidationMessage'][1]">
                          {{EMPLOYEE_DEPENDENTS_PHONE_NUMBER['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                        <div *ngIf="phoneno.dirty && phoneno.value.length!=0">
                          Invalid Phone number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div [ngClass]="{'has-error': submitted && !workno.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="workno">{{EMPLOYEE_DEPENDENTS_WORK_NUMBER['fieldValue']}}</label>
                      <!-- <span *ngIf="EMPLOYEE_DEPENDENTS_WORK_NUMBER['isMandatory']">*</span> -->
                    </div>
                    <div class="col-md-7">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="workno" [(ngModel)]="workNumber" #workno="ngModel" title="{{EMPLOYEE_DEPENDENTS_WORK_NUMBER['helpMessage']}}"
                        maxlength="21" [pattern]="phonePattern" />
                      <div *ngIf="submitted && workno.invalid">
                        <div *ngIf="workno.dirty && workno.value.length!=0">
                          Invalid Work number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Country -->
                <div class="form-group">
                  <div [ngClass]="{'has-error':submitted && country.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="country">Country</label>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="country" [(ngModel)]="countryId" #country="ngModel"
                        (change)="onCountrySelect($event)" title="Country" required>
                        <option value="0" disabled>-- Select Country --</option>
                        <option *ngFor="let country of countries" value="{{country.countryId}}">{{country.countryName}}</option>
                      </select>
                      <div *ngIf="submitted && country.value==0">
                        <div [hidden]="!country.value==0">
                          {{EMPLOYEE_DEPENDENTS_CITY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!country.errors?.maxlength">
                          {{EMPLOYEE_DEPENDENTS_CITY['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- States -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': submitted && state.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="state">State</label>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="state" [(ngModel)]="stateId" #state="ngModel"
                        (change)="onStateSelect($event)" title="State" required>
                        <option value="0" disabled>-- Select State --</option>
                        <option *ngFor="let state of states" value="{{state.stateId}}">{{state.stateName}}</option>
                      </select>
                      <div *ngIf="submitted && state.value==0">
                        <div [hidden]="!state.value==0">
                          {{EMPLOYEE_DEPENDENTS_CITY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- City -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': submitted && city.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="city">{{EMPLOYEE_DEPENDENTS_CITY['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_DEPENDENTS_CITY['isMandatory']">*</span>
                    </div>
                    <div class="col-md-7">
                      <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="city" [(ngModel)]="cityId" #city="ngModel" title="{{EMPLOYEE_DEPENDENTS_CITY['fieldValue']}}"
                      [required]="EMPLOYEE_DEPENDENTS_CITY['isMandatory']">
                        <option value="0" disabled>-- Select City --</option>
                        <option *ngFor="let city of cities" value="{{city.cityId}}">{{city.cityName}}</option>
                      </select>
                      <div *ngIf="submitted && city.value==0">
                        <div [hidden]="!city.value==0">
                          {{EMPLOYEE_DEPENDENTS_CITY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!city.errors?.maxlength">
                          {{EMPLOYEE_DEPENDENTS_CITY['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="completename" [(ngModel)]="emcmname" title="{{EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['helpMessage']}}"
                      [readonly]="!EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['writeAccess']"/>

                  </div>
                </div>
                <div class="form-group">
                  <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="skillSetDiscription">{{EMPLOYEE_DEPENDENTS_COMMENT['fieldValue']}}</label>
                      <!-- <span *ngIf="EMPLOYEE_DEPENDENTS_COMMENT['isMandatory']">*</span> -->
                    </div>
                    <div class="col-md-7">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="comment" [(ngModel)]="comments" #comment="ngModel" title="{{EMPLOYEE_DEPENDENTS_COMMENT['helpMessage']}}"
                         maxlength="120" />
                    </div>

                  </div>
                </div>

                <div class="form-group">
                  <div [ngClass]="{'has-error': submitted && gen.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-5">
                      <label class="control-label" for="comment">{{EMPLOYEE_DEPENDENTS_GENDER['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_DEPENDENTS_GENDER['isMandatory']">*</span>
                    </div>
                    <div class="col-md-7">
                      <select [ngClass]="'form-control fm-txt'" name="gen" [(ngModel)]="gender" #gen="ngModel" title="{{EMPLOYEE_DEPENDENTS_GENDER['helpMessage']}}"
                        maxlength="31">
                        <option value="0">--Select Gender--</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                      </select>
                      <div *ngIf="submitted && gen.value==0">
                        <div [hidden]="!gen.value==0">
                          {{EMPLOYEE_DEPENDENTS_GENDER['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div [ngClass]="{'has-error': (submitted && frmStartDate.invalid) || (submitted && !agevalid),'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

                    <div class="col-md-5">
                      <label class="control-label">{{EMPLOYEE_DEPENDENTS_DATE_OG_BIRTH['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_DEPENDENTS_DATE_OG_BIRTH['isMandatory']">*</span>
                    </div>
                    <div class="col-md-7">
                      <div class="input-group">
                        <input [ngClass]="'form-control fm-txt'" placeholder="Select a date" ngx-mydatepicker name="frmStartDate" [(ngModel)]="dateofBirth"
                          [options]="myOptions" #dp1="ngx-mydatepicker" style="padding: 10px;" (dateChanged)="onStartDateChanged($event)"
                          (change)="onStartDateChanged($event.target.value)" #frmStartDate="ngModel" [required]="EMPLOYEE_DEPENDENTS_DATE_OG_BIRTH['isMandatory']" [readonly]="!EMPLOYEE_DEPENDENTS_DATE_OG_BIRTH['writeAccess']" title="{{EMPLOYEE_DEPENDENTS_DATE_OG_BIRTH['helpMessage']}}"
                          id="start_date" />

                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </button>
                          <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>

                      </div>
                      <div *ngIf="(submitted && frmStartDate.invalid) || (submitted && !agevalid)">
                        <div [hidden]="!frmStartDate.errors?.required">
                          {{EMPLOYEE_DEPENDENTS_DATE_OG_BIRTH['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div *ngIf="!frmStartDate.errors?.required && !agevalid">
                          Minimum age sholud be equal or greater than 15 years
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isUnderUpdate; then showgrid else hidegrid"></div>
            <ng-template #hidegrid>
              <div class="col-md-12">
                <div class="col-md-10">
                  <div class="algo-table algo-table-department">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                      <ngx-datatable id="SkillsSetupGrid1" class="material" [rows]="empDependent" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="'auto'" [externalPaging]="false" [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'
                        [scrollbarH]="true">
                        <!-- Data Grid checkbox -->
                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                          [checkboxable]="true">
                        </ngx-datatable-column>

                        <!-- Data Grid SkillsSteup Id -->
                        <ngx-datatable-column name="employeeDependents" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sortColumn('employeeDependents')">Relationship</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value.desc}}
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid SkillsSteup Description -->
                        <ngx-datatable-column name="completeName" [width]="170" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sortColumn('completeName')">Complete Name</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid  Arabic SkillsSteup Description -->
                        <ngx-datatable-column name="age" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sortColumn('age')">Age</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="gender" [width]="120" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sortColumn('gender')">Gender</span>
                          </ng-template>
                          <ng-template let-value="value" ngx-datatable-cell-template>
                            {{genderArry[value]}}
                          </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column name="cityName" [width]="120" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sortColumn('city')">City</span>
                          </ng-template>
                          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="phoneNumber" [width]="120" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sortColumn('phoneNumber')">Phone Number</span>
                          </ng-template>
                          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{value}}
                          </ng-template>
                        </ngx-datatable-column>
                      </ngx-datatable>
                    </div>

                  </div>

                </div>

                <div class="col-md-2" style="height: 100%; text-align: center;margin-top:50px;">
                  <button type="button" (click)="submitted=true" (click)="f.valid && agevalid && employyeIdValid && moveToAllEmployee()" style="font-size: 25px;margin: 2px;">
                    <i class="fa fa-long-arrow-left"></i>
                  </button>
                  <div class="clearfix"></div>
                  <button type="button" (click)="moveToSelected()" style="font-size: 25px;margin: 2px;">
                    <i class="fa fa-long-arrow-right"></i>
                  </button>


                </div>

                <!-- Data Grid Ends-->
              </div>
            </ng-template>
            <!-- Buttons -->
            <div [ngClass]="'button-row'">
              <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                <div [ngClass]="'col-xs-12'">
                  <span class="pull-right">
                    <button [ngClass]="'grey-btn  '" type="button" (click)="printEmployeeDetails()" *ngIf="model.listEmployeeDependent.length > 0 && model.listEmployeeDependent[0].id">Print</button>
                    <button *ngIf="model.listEmployeeDependent.length > 0 && model.listEmployeeDependent[0].id" [ngClass]="'grey-btn'"  (click)="submitted=true" [disabled]="!agevalid"
                      (click)="f.valid && CreateSkillsSetup(f, $event)">{{UPDATE['fieldValue']}}</button>
                    <button *ngIf="model.listEmployeeDependent.length == 0 || !model.listEmployeeDependent[0].id" [ngClass]="'grey-btn'" (click)="CreateSkillsSetup(f, $event)">{{EMPLOYEE_DEPENDENTS_SAVE['fieldValue']}}</button>
                    <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)" (click)="islifeTimeValid=true">{{EMPLOYEE_DEPENDENTS_CLEAR_LABEL['fieldValue']}}</button>
                    <button [ngClass]="'blue-btn'" (click)="islifeTimeValid=true" (click)="showCreateForm = false;agevalid=true;">{{EMPLOYEE_DEPENDENTS_CANCEL_LABEL['fieldValue']}}</button>
                  </span>
                </div>
              </div>
            </div>

          </form>
        </div>
        <!-- Create Update form ends -->
      </div>
    </section>
  </section>
</div>
<div id="print-section" class="print-tabel">
  <table border="0" class="table" style="width: 100% !important; min-width: 1200px;  table-layout: fixed; border-spacing: 0; border-collapse: separate; font-family: 'Open Sans', sans-serif;">
      <thead>
          <tr>
              <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                {{EMPLOYEE_DEPENDENTS_EMPLOYEE_ID['fieldValue']}}
              </th>
              <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                {{EMPLOYEE_DEPENDENTS_LAST_NAME['fieldValue']}}
              </th>
              <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                {{EMPLOYEE_DEPENDENTS_FIRST_NAME['fieldValue']}}
              </th>
              <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                {{EMPLOYEE_DEPENDENTS_GENDER['fieldValue']}}
              </th>
              <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                {{EMPLOYEE_DEPENDENTS_CITY['fieldValue']}}
              </th>
              <th style="background-color: #144859; color: #FFF; font-weight: 500; padding: 8px; border-top-left-radius:15px;border-radius: 10px;font-size: 14px;">
                {{EMPLOYEE_DEPENDENTS_PHONE_NUMBER['fieldValue']}}
              </th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                {{employeeId}}
              </td>
              <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                {{empLastName}}
              </td>
              <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                {{empFirstName}}
              </td>
              <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                {{gender == 1 ? 'Male':'Female'}}
              </td>
              <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                {{cityName}}
              </td>
              <td style="border: 1px solid #8e8e8e; padding: 8px; border-radius: 10px;font-size: 14px;">
                {{phoneNumber}}
              </td>
          </tr>
      </tbody>
  </table>
</div>
