<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'>
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{commonService.moduleName}}</h2>
            <button class="orange-btn" (click)="Create()" title="{{BATCHES_CREATE_LABEL['helpMessage']}}">{{BATCHES_CREATE_LABEL['fieldValue']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{BATCHES_SEARCH['helpMessage']}}" placeholder="{{BATCHES_SEARCH['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
                <!-- Content Heading Ends -->
                <div  class="setting-btn-wrap">
                    <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                    <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
                  </div>
                <div class="algo-table algo-table-department">
                    <!-- Data Grid Starts-->
                    <div class="table-responsive">
                        <ngx-datatable id="BatchGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                            [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                            <!-- Data Grid checkbox -->
                            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                [checkboxable]="true">
                            </ngx-datatable-column>

                            <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                                            <div 
                                            [draggable]="isConfigure"
                                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                                        </ng-template>
                                    </ngx-datatable-column>  
                                </div>
                              </div>

                            <!-- Data Grid Action -->
                            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="false">
                                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                    {{BATCHES_ACTION['fieldValue']}}
                                </ng-template>
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <!-- Data Grid Ends-->
                </div>
                <div class="button-row">
                    <!-- Table View Starts -->
                    <div class="table-view table-view-fix">
                        <span>TABLE VIEW</span>
                        <div class="select-outer">
                            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                <option value="5">5 at a time </option>
                                <option value="15">15 at a time </option>
                                <option value="50">50 at a time </option>
                                <option value="100">100 at a time </option>
                            </select>
                        </div>
                    </div>
                    <!-- Table View Ends -->

                    <div class="bottom-view">
                    </div>
                    <button class="blue-btn" (click)="varifyDelete()">{{BATCHES_DELETE_LABEL['fieldValue']}}</button>

                    <!-- Create / Update Form start -->
                    <div *ngIf="showCreateForm">
                        <div class="col-md-12 mt-30">
                            <hr>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h3 *ngIf="!model.id">{{BATCHES_CREATE_TITLE['fieldValue']}}</h3>
                            <h3 *ngIf="model.id">{{BATCHES_UPDATE_BATCH_LABEL['fieldValue']}}</h3>
                        </div>
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>

                        <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && CreateBatch(f, $event)" #f="ngForm" novalidate>


                            <!-- Department Id field -->


                            <div *ngIf="isUnderUpdate; then update else create"></div>
                            <ng-template #update>
                                <div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-2">
                                            <label class="control-label" for="batchId">{{BATCHES_BATCH_ID['fieldValue']}}</label>
                                            <span *ngIf="BATCHES_BATCH_ID['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="batchId" value="{{model.batchId}}" title="{{BATCHES_BATCH_ID['helpMessage']}}"
                                                maxlength="15" [required]="BATCHES_BATCH_ID['isMandatory']" [readonly]="!BATCHES_BATCH_ID['writeAccess']" />
                                            <div *ngIf="f.submitted && batchId.invalid">
                                                <div [hidden]="!batchId.errors.required">
                                                    {{BATCHES_BATCH_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template #create>
                                <div [ngClass]="'form-group'">
                                    <div [ngClass]="{ 'has-error': f.submitted && !batchId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                        <div class="col-md-2">
                                            <label class="control-label" for="batchId">{{BATCHES_BATCH_ID['fieldValue']}}</label>
                                            <span *ngIf="BATCHES_BATCH_ID['isMandatory']">*</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="batchId" [(ngModel)]="model.batchId" #batchId="ngModel"
                                                title="{{BATCHES_BATCH_ID['helpMessage']}}" maxlength="15" [required]="BATCHES_BATCH_ID['isMandatory']"/>
                                            <div *ngIf="f.submitted && batchId.invalid">
                                                <div [hidden]="!batchId.errors.required">
                                                    {{BATCHES_BATCH_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <!-- Batch Description Field -->
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'has-error': f.submitted && !description.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-2">
                                        <label class="control-label" for="description">{{BATCHES_DESCRIPTION_LABEL['fieldValue']}}</label>
                                        <span *ngIf="BATCHES_DESCRIPTION_LABEL['isMandatory']">*</span>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="model.description" #description="ngModel"
                                            title="{{BATCHES_DESCRIPTION_LABEL['helpMessage']}}" [required]="BATCHES_DESCRIPTION_LABEL['isMandatory']" maxlength="61" />
                                        <div *ngIf="f.submitted && description.invalid">
                                            <div [hidden]="!description.errors.required">
                                                {{BATCHES_DESCRIPTION_LABEL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <!-- <div [hidden]="!description.errors?.maxlength">
                                                {{BATCHES_DESCRIPTION_LABEL['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div> -->
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Batch Arabic Description Field -->
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'has-error': f.submitted && !arabicDescription.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-2">
                                        <label class="control-label" for="arabicDescription">Arabic Description</label>
                                        <span>*</span>
                                    </div>
                                    <div class="col-md-4 arabic-mode">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="arabicDescription" [(ngModel)]="model.arabicDescription" #arabicDescription="ngModel"
                                            title="{{BATCHES_DESCRIPTION_LABEL['helpMessage']}}" [required]="BATCHES_DESCRIPTION_LABEL['isMandatory']" maxlength="140" />
                                        <div *ngIf="f.submitted && arabicDescription.invalid">
                                            <div [hidden]="!arabicDescription.errors.required">
                                                This field is required.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12':true}">
                                    <div [ngClass]="{'has-error': f.submitted && !transactionType.valid}">
                                        <div class="col-md-2">
                                            <label class="control-label" for="transactionType">{{BATCHES_TRANSACTION_TYPE_LABEL['fieldValue']}}</label>
                                            <span *ngIf="BATCHES_TRANSACTION_TYPE_LABEL['isMandatory']">*</span>
                                        </div>

                                        <div class="col-md-4">

                                            <select [ngClass]="'form-control fm-txt'" name="transactionType" [(ngModel)]="model.transactionType" #transactionType="ngModel"
                                                title="{{BATCHES_TRANSACTION_TYPE_LABEL['helpMessage']}}" [required]="BATCHES_TRANSACTION_TYPE_LABEL['isMandatory']">
                                                <option value="">---Select Transaction Type---</option>
                                                <option value="1">Payroll Checks</option>
                                                <option value="2">Manual Checks</option>
                                            </select>
                                            <div *ngIf="f.submitted && transactionType.invalid">
                                                <div [hidden]="!transactionType.errors.required">
                                                    {{BATCHES_TRANSACTION_TYPE_LABEL['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="isUnderUpdate" class="col-md-2" style="padding-left: 80px;">
                                        <label class="control-label" for="transactionType">Posting Date</label>
                                    </div>
                                    <div *ngIf="isUnderUpdate"  class="col-md-4">
                                        <!-- <input type="text" [ngClass]="'form-control fm-txt'" name="postingDate" [(ngModel)]="postingDate" #PostingDate="ngModel"
                                                title="Posting Date" 
                                                /> -->
                                        <div class="input-group">
                                            <input  [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="postingDate" [(ngModel)]="modelStartDate"
                                                [options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onStartDateChanged($event)"
                                                (change)="onStartDateChanged($event.target.value)" #frmStartDate="ngModel" readonly
                                                id="start_date" title="Posting Date" />

                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" [disabled]="false" (click)="dp1.clearDate()">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                                <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" [disabled]="false" (click)="dp1.toggleCalendar()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-2">
                                        <label class="control-label" for="totalTransactions">{{BATCHES_TOTAL_TRANSACTIONS_LABEL['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="totalTransactions" title="{{BATCHES_TOTAL_TRANSACTIONS_LABEL['helpMessage']}}"
                                            value="{{model.quantityTotal}}" [readonly]="!BATCHES_TOTAL_TRANSACTIONS_LABEL['writeAccess']"/>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-2">
                                        <label class="control-label" for="quantityTotal">{{BATCHES_QUANTITY_TOTAL_LABEL['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="quantityTotal" title="{{BATCHES_QUANTITY_TOTAL_LABEL['helpMessage']}}"
                                            value="{{model.totalTransactions}}" [readonly]="!BATCHES_QUANTITY_TOTAL_LABEL['writeAccess']"/>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div class="col-md-8">
                                        <input type="checkbox" name="approved" title="{{BATCHES_APPROVED_LABEL['helpMessage']}}" #approved="ngModel" [(ngModel)]="model.approved"
                                            value="{{model.approved}}" [disabled]="disableApprove" />
                                        <label class="control-label" for="approved">{{BATCHES_APPROVED_LABEL['fieldValue']}}</label>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="'form-group'">
                                <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">

                                    <div class="col-md-2">
                                        <label class="control-label" for="userId">{{BATCHES_USER_ID_LABEL['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="userId" title="{{BATCHES_USER_ID_LABEL['helpMessage']}}" value="{{username}}"
                                        [readonly]="!BATCHES_USER_ID_LABEL['writeAccess']"/>
                                    </div>

                                    <div class="col-md-2" style="padding-left: 80px;">
                                        <label class="control-label" for="approvedDate">{{BATCHES_APPROVED_DATE['fieldValue']}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="approvedDate" title="{{BATCHES_APPROVED_DATE['helpMessage']}}"
                                            value="{{approvedDate | date:'dd-MM-yyyy'}}" [readonly]="!BATCHES_APPROVED_DATE['writeAccess']"/>
                                    </div>
                                </div>
                            </div>
                            <!-- Buttons -->
                            <div [ngClass]="'button-row'">
                                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                                    <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button *ngIf="model.id" [ngClass]="'grey-btn'">{{BATCHES_UPDATE_LABEL['fieldValue']}}</button> 
                                            <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{BATCHES_SAVE_LABEL['fieldValue']}}</button>
                                            <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{BATCHES_CLEAR_LABEL['fieldValue']}}</button>
                                            <button [ngClass]="'blue-btn'" *ngIf="model.id" [disabled]="modelStartDate == null">Post</button>
                                            <button [ngClass]="'blue-btn'" type="button" (click)="Cancel(f)">{{BATCHES_CANCEL_LABEL['fieldValue']}}</button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- Create Update form ends -->
                </div>
            </div>
        </section>
    </section>
</div>
