<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{POSITION_CLASS_CREATE_LABEL['helpMessage']}}">{{POSITION_CLASS_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{POSITION_CLASS_SEARCH['helpMessage']}}" placeholder="{{POSITION_CLASS_SEARCH['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>

        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="PositionClassGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Columns -->
              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{grid.gridFieldName ? row[grid.gridFieldName] : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                    </div>
            </div>

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{POSITION_CLASS_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>{{POSITION_CLASS_TABLEVIEW['fieldValue']}}</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option *ngFor="let tv of tableViews" [value]="tv.id">{{tv.name}}</option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{POSITION_CLASS_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{POSITION_CLASS_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{POSITION_CLASS_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && CreatePositionClass(f, $event)" #f="ngForm" novalidate>

              <!-- Position class Id field -->
              <div class="form-group">
                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #update>
                  <div [ngClass]="{ 'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="positionClassId">{{POSITION_CLASS_ID['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="positionClassId" value="{{positionClassIdvalue}}" title="{{POSITION_CLASS_ID['helpMessage']}}"
                        maxlength="15" [readonly]="POSITION_CLASS_ID['readAccess']" />
                    </div>
                  </div>
                </ng-template>

                <ng-template #create>
                  <div [ngClass]="{ 'has-error': f.submitted && !positionClassId.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label for="positionClassId">{{POSITION_CLASS_ID['fieldValue']}}</label>
                      <span *ngIf="POSITION_CLASS_ID['isMandatory']">*</span>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="positionClassId" [(ngModel)]="model.positionClassId" #positionClassId="ngModel"
                        title="{{POSITION_CLASS_ID['helpMessage']}}" maxlength="7" [required]="POSITION_CLASS_ID['isMandatory']"
                        class="search-id" [typeahead]="positionclassIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                        autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="positionClassId"
                      />
                      <div *ngIf="f.submitted && positionClassId.invalid">
                        <div [hidden]="!positionClassId.errors.required">
                          {{POSITION_CLASS_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!positionClassId.errors?.maxlength">
                          {{POSITION_CLASS_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>


              </div>

              <!-- positionClass Description Field -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !positionClassDescription.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="positionClassDescription">{{POSITION_CLASS_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="POSITION_CLASS_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="positionClassDescription" [(ngModel)]="model.positionClassDescription"
                      #positionClassDescription="ngModel" title="{{POSITION_CLASS_DESCRIPTION['helpMessage']}}" [required]="POSITION_CLASS_DESCRIPTION['isMandatory']"
                      maxlength="15" />
                    <div *ngIf="f.submitted && positionClassDescription.invalid">
                      <div [hidden]="!positionClassDescription.errors.required">
                        {{POSITION_CLASS_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!positionClassDescription.errors?.maxlength">
                        {{POSITION_CLASS_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>


              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !arabicPositionClassDescription.valid,'col-md-10 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="arabicPositionClassDescription">{{POSITION_CLASS_ARABIC_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="POSITION_CLASS_ARABIC_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8 arabic-mode">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="arabicPositionClassDescription" [(ngModel)]="model.arabicPositionClassDescription"
                      #arabicPositionClassDescription="ngModel" title="{{POSITION_CLASS_ARABIC_DESCRIPTION['helpMessage']}}"
                      maxlength="31" [required]="POSITION_CLASS_ARABIC_DESCRIPTION['isMandatory']" />
                    <div *ngIf="f.submitted && arabicPositionClassDescription.invalid">
                      <div [hidden]="!arabicPositionClassDescription.errors.required">
                        {{POSITION_CLASS_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!arabicPositionClassDescription.errors?.maxlength" *ngIf="POSITION_CLASS_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                        {{POSITION_CLASS_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12': true, '': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                    <span class="pull-right">
                      <button *ngIf="model.id" [ngClass]="'grey-btn'">{{POSITION_CLASS_UPDATE_LABEL['fieldValue']}}</button>
                      <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{POSITION_CLASS_SAVE_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{POSITION_CLASS_CLEAR_LABEL['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{POSITION_CLASS_CANCEL_LABEL['fieldValue']}}</button>
                    </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
