<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[16]['helpMessage']}}">{{defaultFormValues[16]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
              (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="LifeInsuranceSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Life Insurance Plan Id -->

              <ngx-datatable-column name="lifeInsuraceId" [sortable]="true" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sortColumn('lifeInsuraceId')">{{defaultFormValues[1]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

              <!-- Data Grid Life Insurance Plan Description -->
              <ngx-datatable-column name="lifeInsuraceDescription" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('lifeInsuraceDescription')">{{defaultFormValues[2]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid  Arabic Life Insurance Plan Description -->
              <ngx-datatable-column name="lifeInsuraceDescriptionArabic" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('lifeInsuraceDescriptionArabic')">{{defaultFormValues[3]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Grid  Coverage Type -->
              <ngx-datatable-column name="insuranceType" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sortColumn('insuranceType')">{{defaultFormValues[26]['fieldValue']}}</span>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{insuranceTypes[value - 1].name}}
                  </ng-template>
                </ngx-datatable-column>

                <!-- Data Grid  Group Number -->
              <ngx-datatable-column name="healthInsuranceGroupNumber" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sortColumn('healthInsuranceGroupNumber')">{{defaultFormValues[6]['fieldValue']}}</span>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>

                <!-- Data Grid  Employer Amt -->
              <ngx-datatable-column name="amount" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span (click)="sortColumn('amount')">{{defaultFormValues[25]['fieldValue']}}</span>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
  

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="70" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>{{defaultFormValues[15]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[21]['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{defaultFormValues[22]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{defaultFormValues[23]['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-lg-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
              <!-- <form class="form-horizontal"> -->
                  <form [ngClass]="'form-horizontal'" (ngSubmit)="f.form.valid && employeePay.value!=0 && amount.value!=0  && healthInsuranceId.value!=0 
                  && insuranceType.value!=0 && coverageTotalAmount.value!=0  && islifeTimeValidamount && isAmount && isEmperMTP
                   && coverageTotalAmountPattern && employeePayAmountPattern && CreateLifeInsurance(f, $event) " #f="ngForm" novalidate>
                      <div [ngClass]="'row'">
                        <div class="col-lg-6" >
                        <!--  Life Insurance Plan ID -->
                       <div class="form-group">
                        
                        <div *ngIf="isUnderUpdate; then update else create"></div>
                        <ng-template #update>
                          <div [ngClass]="{ 'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                            <div class="col-md-5">
                              <label class="control-label" for="lifeInsuranceIdvalue">{{defaultFormValues[1]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-7">
                              <input type="text" [ngClass]="'form-control fm-txt'" name="lifeInsuranceIdvalue"  value ="{{lifeInsuranceIdvalue}}" (keyup)="CheckNumber($event)"
                                title="{{defaultFormValues[1]['helpMessage']}}" readonly required maxlength="15" />
                              <div *ngIf="f.submitted && lifeInsuranceIdvalue.invalid">
                                <div [hidden]="!lifeInsuranceIdvalue.errors.required">
                                  {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="!lifeInsuranceIdvalue.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
        
                              </div>
                            </div>
                          </div>
                        </ng-template>
        
                        
                        <ng-template #create>
                          <div [ngClass]="{ 'has-error': f.submitted && !lifeInsuraceId.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                            <div class="col-md-5">
                              <label class="control-label" for="lifeInsuraceId">{{defaultFormValues[1]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-7">
                              <input type="text" [ngClass]="'form-control fm-txt'" name="lifeInsuraceId" [(ngModel)]="model.lifeInsuraceId" #lifeInsuraceId="ngModel"
                                      title="{{defaultFormValues[1]['fieldValue']}}"  maxlength="15" required/>
                              <div *ngIf="f.submitted && lifeInsuraceId.invalid">
                                <div [hidden]="!lifeInsuraceId.errors.required">
                                  {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
        
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </div>
        
        
                      <!--  Description Field -->
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && !lifeInsuraceDescription.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-5">
                            <label class="control-label" for="lifeInsuraceDescription">{{defaultFormValues[24]['fieldValue']}}</label>
                          </div>
                          <div class="col-md-7">
                            <input type="text" [ngClass]="'form-control fm-txt'" name="lifeInsuraceDescription" [(ngModel)]="model.lifeInsuraceDescription" #lifeInsuraceDescription="ngModel" title="{{defaultFormValues[24]['helpMessage']}}"
                              maxlength="31" required />
                            <div *ngIf="f.submitted && lifeInsuraceDescription.invalid">
                              <div [hidden]="!lifeInsuraceDescription.errors.required">
                                {{defaultFormValues[24]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!lifeInsuraceDescription.errors?.maxlength" *ngIf="defaultFormValues[2]['listDtoFieldValidationMessage'][1]">
                                {{defaultFormValues[24]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
        
        
                      <!-- Arabic description -->
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && !lifeInsuraceDescriptionArabic.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-5">
                            <label class="control-label" for="lifeInsuraceDescriptionArabic">{{defaultFormValues[3]['fieldValue']}}</label>
                          </div>
                          <div class="col-md-7 arabic-mode">
                            <input type="text" [ngClass]="'form-control fm-txt'" name="lifeInsuraceDescriptionArabic" [(ngModel)]="model.lifeInsuraceDescriptionArabic" #lifeInsuraceDescriptionArabic="ngModel" title="{{defaultFormValues[3]['helpMessage']}}" 
                             maxlength="61" required/>
                            <div *ngIf="f.submitted && lifeInsuraceDescriptionArabic.invalid">
                              <div [hidden]="!lifeInsuraceDescriptionArabic.errors.required">
                                {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="!lifeInsuraceDescriptionArabic.errors?.maxlength" *ngIf="defaultFormValues[3]['listDtoFieldValidationMessage'][1]">
                                {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
        
        
                      <!-- Frequency -->

                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && lifeInsuranceFrequency.value==0,'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                            <div class="col-md-5">
                                <label class="control-label" for="lifeInsuranceFrequency">{{defaultFormValues[4]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-7">
                                <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="lifeInsuranceFrequency" [(ngModel)]="model.lifeInsuranceFrequency" #lifeInsuranceFrequency="ngModel"
                                    title="{{defaultFormValues[4]['helpMessage']}}">
									<option value="0">--Select Frequency--</option>
                                    <option *ngFor="let frequency of lifeInsuranceFrequencys" [value] ="frequency.id" >{{frequency.name}}</option>
                                </select>
                                <div *ngIf="f.submitted && lifeInsuranceFrequency.value==0">
                                    <div [hidden]="lifeInsuranceFrequency.value!=0">
                                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div [hidden]="!lifeInsuranceFrequency.errors?.maxlength" *ngIf="defaultFormValues[4]['listDtoFieldValidationMessage'][1]">
                                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      
        
                      <!-- Company Insurance -->
                      
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && healthInsuranceId.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-5">
                            <label class="control-label" for="healthInsuranceId">{{defaultFormValues[5]['fieldValue']}}</label>
                          </div>
                          <div class="col-md-7">
                              <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="healthInsuranceId" [(ngModel)]="model.healthInsuranceId" #healthInsuranceId="ngModel"
                                title="{{defaultFormValues[5]['helpMessage']}}">
                                <option value="0">--Select Company Insurance--</option>
                                <option *ngFor="let compIns of compInsurances" [value] = "compIns.id" >{{compIns.desc}}</option>
                              </select>
							 <div *ngIf="f.submitted && healthInsuranceId.value==0">
                                    <div [hidden]="healthInsuranceId.value!=0">
                                        {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                   
                                </div>
                          </div>
                        </div>
                      </div>

                      <!-- Group Number -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && !healthInsuranceGroupNumber.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-5">
                              <label class="control-label" for="healthInsuranceGroupNumber">{{defaultFormValues[6]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-7">
                              <input type="text" [ngClass]="'form-control fm-txt'" name="healthInsuranceGroupNumber" [(ngModel)]="model.healthInsuranceGroupNumber" #healthInsuranceGroupNumber="ngModel" title="{{defaultFormValues[6]['helpMessage']}}"
                                required maxlength="31" />
                              <div *ngIf="f.submitted && healthInsuranceGroupNumber.invalid">
                                <div [hidden]="!healthInsuranceGroupNumber.errors.required">
                                  {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="!healthInsuranceGroupNumber.errors?.maxlength" *ngIf="defaultFormValues[6]['listDtoFieldValidationMessage'][1]">
                                  {{defaultFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Life Insurance Plan Start Date-->
                        <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && !startDate.valid,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-5">
                              <label class="control-label" for="startDate">{{defaultFormValues[7]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-7 ">
        
                              <div class="input-group">
                                <input [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="startDate" title="{{defaultFormValues[7]['helpMessage']}}"
                                       [(ngModel)]="startDateModel" [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onStartDateChanged($event)"
                                       #startDate="ngModel" readonly (change)="onStartDateChanged($event.target.value)" required/>
        
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" (click)="dp.clearDate()" style="width:40px; height: 40px;">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()" style="width:40px; height: 40px;">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </div>
                              </div>
        
        
                              <div *ngIf="f.submitted && startDate.invalid">
                                <div [hidden]="!startDate.errors.required">
                                  {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>

                          <!-- Life Insurance Plan End Date-->
                          <div class="form-group">
                            <div [ngClass]="{'has-error': (f.submitted && !endDate.valid) || ( !endDate.errors?.required && error.isError),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                              <div class="col-md-5">
                                <label class="control-label" for="endDate"> {{defaultFormValues[8]['fieldValue']}}</label>
                              </div>
                              <div class="col-md-7 ">
                                <div class="input-group">
                                  <input [ngClass]="'form-control fm-txt'" placeholder="Select date" ngx-mydatepicker name="endDate" title="{{defaultFormValues[8]['helpMessage']}}"
                                        [(ngModel)]="endDateModel" [options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onEndDateChanged($event)"
                                        #endDate="ngModel" (change)="onEndDateChanged($event.target.value)" readonly required/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                                                <i class="glyphicon glyphicon-remove" style="size: 5px;"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                 
                                </div>
          
                                <div *ngIf="(f.submitted && endDate.invalid) || error.isError">
                                  <div [hidden]="!endDate.errors?.required || error.isError">
                                    {{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                  </div>
                                  
								  <div *ngIf="!endDate.errors?.required && error.isError" class="r">
									{{ error.errorMessage }}
								  </div>
                                </div>
                              </div>
                            </div>
                          </div>
        
                        </div>
                      <div class="col-lg-6" >
                      <!-- Employee Amount -->

                      <div class="form-group">
                          <div [ngClass]="{'has-error': (f.submitted && !amount.valid) || (!amount.errors?.required && amount.value==0) || !islifeTimeValidamount,'col-md-12 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                              <div class="col-md-7">
                                  <label class="control-label" for="amount">{{defaultFormValues[9]['fieldValue']}}</label>
                              </div>
                              <div class="col-md-5">
                                  <input   
                                  type="number" 
                                  [ngClass]="'form-control fm-txt'" 
                                  name="amount" 
                                  [(ngModel)]="model.amount" 
                                  #amount="ngModel" 
                                  title="{{defaultFormValues[9]['helpMessage']}}" 
                                  required   
                                  maxlength="11" 
                                  max="9999999999" 
                                  amount ="true"  
                                  (keypress)="keyPress($event)"   
                                  min="1" 
                                  onKeyPress="if(this.value.length==10) return false;" 
                                  (keyup)="checkdecimalamount(amount.value)" 
                                  onkeypress="return check_digit(event,this,10,3);" 
                                  (change)="onChangeAmount(amount.value)"  
                                  (keyup)="onChangeAmount(amount.value)"/>
                                  <div *ngIf="(f.submitted && amount.invalid) || (!amount.errors?.required && amount.value==0) || !islifeTimeValidamount">
                                      <div [hidden]="!amount.errors?.required">
                                          {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                      </div>
                                      <div [hidden]="amount.errors?.required && amount.errors?.amount" *ngIf="defaultFormValues[9]['listDtoFieldValidationMessage'][1]">
                                          {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                      </div>
                                      <div *ngIf="!amount.errors?.required && amount.value==0 && islifeTimeValidamount">
                                          Invalid input
                                        </div>
                                        <div *ngIf="!amount.errors?.required && !islifeTimeValidamount">
                                          Invalid Input
                                        </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Employee Spouse Amount -->
                      <div class="form-group">
                        <!-- <div [ngClass]="{'has-error': (f.submitted && !spouseAmount.valid) || (!spouseAmount.errors?.required && spouseAmount.value==0) || !amountPattern,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                            <div [ngClass]="{'has-error': !amountPattern ,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-7">
                            <label class="control-label" for="spouseAmount">{{defaultFormValues[10]['fieldValue']}}</label>
                          </div>
                          <div class="col-md-5">
                            <input type="number" [ngClass]="'form-control fm-txt'" name="spouseAmount" [(ngModel)]="model.spouseAmount" #spouseAmount="ngModel" title="{{defaultFormValues[10]['helpMessage']}}"
                              maxlength="11" max="9999999999"  spouseAmount="true" (keypress)="keyPress($event)"  (keyup)="checkdecimalspouseAmount(spouseAmount.value, 'amountPattern')" min="0" onKeyPress="if(this.value.length==10) return false;" onkeypress="return check_digit(event,this,10,3);" />
                              <!-- <div *ngIf="(f.submitted && spouseAmount.invalid ) ||(!spouseAmount.errors?.required && spouseAmount.value==0) || !amountPattern">
                              <div [hidden]="!spouseAmount.errors?.required">
                                {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                              </div>
                              <div [hidden]="spouseAmount.errors?.required && spouseAmount.errors?.spouseAmount" *ngIf="defaultFormValues[10]['listDtoFieldValidationMessage'][1]">
                                {{defaultFormValues[10]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                              </div>
                              <div *ngIf="!spouseAmount.errors?.required && spouseAmount.value==0 && amountPattern">
                                Invalid input
                            </div>
                            <div *ngIf="!spouseAmount.errors?.required && !amountPattern">
                                Invalid Input
                            </div>
                            </div> -->
                            
                              
                          </div>
                        </div>
                      </div>

                      <!-- Employee Children Amount -->
                      <div class="form-group">
                          <!-- <div [ngClass]="{'has-error': (f.submitted && !childAmount.valid) || (!childAmount.errors?.required && childAmount.value==0) || !childAmountAmountPattern,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}"> -->
                              <div [ngClass]="{'has-error': !childAmountAmountPattern ,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-7">
                              <label class="control-label" for="childAmount">{{defaultFormValues[11]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-5">
                              <input type="number" [ngClass]="'form-control fm-txt'" name="childAmount" [(ngModel)]="model.childAmount" #childAmount="ngModel" title="{{defaultFormValues[11]['helpMessage']}}"
                                maxlength="11" max="9999999999" (keypress)="keyPress($event)" (keyup)="checkdecimalchildAmount(childAmount.value, 'childAmountAmountPattern')" min="0"  
                                childAmount="true" onKeyPress="if(this.value.length==10) return false;" onkeypress="return check_digit(event,this,10,3);" />
                              <!-- <div *ngIf="(f.submitted && childAmount.invalid) ||(!childAmount.errors?.required && childAmount.value==0) || !childAmountAmountPattern">
                                <div [hidden]="!childAmount.errors?.required">
                                  {{defaultFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="childAmount.errors?.required && childAmount.errors?.childAmount" *ngIf="defaultFormValues[11]['listDtoFieldValidationMessage'][1]">
                                  {{defaultFormValues[11]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                                <div *ngIf="!childAmount.errors?.required && childAmount.value==0 && childAmountAmountPattern">
                                  Invalid input
                                </div>
                                <div *ngIf="!childAmount.errors?.required && !childAmountAmountPattern">
                                  Invalid Input
                                </div>
                              </div> -->
                            </div>
                          </div>
                        </div>

                        <!-- Life Insurance Coverage Type -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && insuranceType.value==0,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-7">
                              <label class="control-label" for="insuranceType">{{defaultFormValues[12]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-5">
                              <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="insuranceType" [(ngModel)]="model.insuranceType" #insuranceType="ngModel"
                              title="{{defaultFormValues[12]['helpMessage']}}">
							  <option value="0">--Select Coverage Type--</option>
                              <option *ngFor="let covtyp of insuranceTypes" [value] ="covtyp.id" >{{covtyp.name}}</option>
                              </select>
                              <div *ngIf="f.submitted && insuranceType.value==0">
                                <div [hidden]="insuranceType.value!=0">
                                  {{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                               
								
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Coverage Total Amount -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': (f.submitted && !coverageTotalAmount.valid) ||(!coverageTotalAmount.errors?.required && coverageTotalAmount.value==0) || !isAmount || !coverageTotalAmountPattern,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-7">
                              <label class="control-label" for="coverageTotalAmount">{{defaultFormValues[13]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-5">
                              <input type="number" [ngClass]="'form-control fm-txt'" name="coverageTotalAmount" [(ngModel)]="model.coverageTotalAmount" #coverageTotalAmount="ngModel" title="{{defaultFormValues[13]['helpMessage']}}"
                                required maxlength="11" max="9999999999" coverageTotalAmount="true" min="1" (keypress)="keyPress($event)" (keyup)="checkdecimalcoverageTotalAmount(coverageTotalAmount.value, 'coverageTotalAmountPattern')" 
                                onKeyPress="if(this.value.length==10) return false;" onkeypress="return check_digit(event,this,10,3);" (change)="onChangeAmountCov(coverageTotalAmount.value)" (keyup)="onChangeAmountCov(coverageTotalAmount.value)" />
                              <div *ngIf="(f.submitted && coverageTotalAmount.invalid) ||(!coverageTotalAmount.errors?.required && coverageTotalAmount.value==0) || !coverageTotalAmountPattern || !isAmount">
                                <div [hidden]="!coverageTotalAmount.errors?.required">
                                  {{defaultFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="coverageTotalAmount.errors?.required && coverageTotalAmount.errors?.coverageTotalAmount" *ngIf="defaultFormValues[13]['listDtoFieldValidationMessage'][1]">
                                  {{defaultFormValues[13]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
								<div *ngIf="!coverageTotalAmount.errors?.required && coverageTotalAmount.value==0 && coverageTotalAmountPattern">
									Invalid input
								</div>
								<div *ngIf="!coverageTotalAmount.errors?.required && !coverageTotalAmountPattern">
									Invalid Input
                </div>
                <div *ngIf="!coverageTotalAmount.errors?.required && !isAmount">
                   This must be greater than Employee Amount
                  </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Employer must to Pay -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': (f.submitted && !employeePay.valid) || (!employeePay.errors?.required && employeePay.value==0) || !isEmperMTP || !employeePayAmountPattern,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-7">
                              <label class="control-label" for="employeePay">{{defaultFormValues[14]['fieldValue']}}</label>
                            </div>
                            <div class="col-md-5">
                              <input type="number" [ngClass]="'form-control fm-txt'" name="employeePay" [(ngModel)]="model.employeePay" #employeePay="ngModel" title="{{defaultFormValues[14]['helpMessage']}}"
                                required maxlength="11" max="9999999999" (keypress)="keyPress($event)" (change) = "onChangeEmperMTPAmount(employeePay.value)" (keyup) = "onChangeEmperMTPAmount(employeePay.value)" employeePay="true" (keyup)="checkdecimalemployeePay(employeePay.value, 'employeePayAmountPattern' )" min="1" onKeyPress="if(this.value.length==10) return false;" onkeypress="return check_digit(event,this,10,3);" />
                              <div *ngIf="(f.submitted && employeePay.invalid) ||(!employeePay.errors?.required && employeePay.value==0) || !employeePayAmountPattern || !isEmperMTP">
                                <div [hidden]="!employeePay.errors?.required">
                                  {{defaultFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="employeePay.errors?.required && employeePay.errors?.employeePay" *ngIf="defaultFormValues[14]['listDtoFieldValidationMessage'][1]">
                                  {{defaultFormValues[14]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
								<div *ngIf="!employeePay.errors?.required && employeePay.value==0 && employeePayAmountPattern">
									Invalid input
								</div>
								<div *ngIf="!employeePay.errors?.required && !employeePayAmountPattern">
									Invalid Input
                </div>
                <div *ngIf="!employeePay.errors?.required && !isEmperMTP">
                    This must be smaller than Employee Amount.
                   </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                       
                      </div>
                    </div>
                    <br>
                    <br>
                      <div [ngClass]="'button-row'">
                        <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                          <div [ngClass]="'col-xs-12'">
                            <span class="pull-right">
                              <button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[20]['fieldValue']}}</button>
                              <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[17]['fieldValue']}}</button>
                              <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[18]['fieldValue']}}</button>
                              <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[19]['fieldValue']}}</button>
                            </span>
                          </div>
                        </div>
                      </div>
                      
                      

                    </form>

                    <br>
                    <br>
                    <br>
                    <br>
        
          <!-- Create Update form ends -->
        </div>
        
      </div>
    </div>
    </section>
  </section>
</div>