
<div class="content-wrapper user-view vathasview" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                         {{messageText}}
                      </div>
                    <div class="content-outer com-form">
                      <div class="row">
                        <form (ngSubmit)="!hasMsg && f.form.valid && CreateAccountReceivable(f)" #f="ngForm" novalidate>
 
                           
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="form-row">
                                    <div class="algo-table">

                                        <div class="table-heading" *ngIf="defaultAddFormValues[29]['readAccess']">
                                            <h5>{{defaultAddFormValues[29]['fieldValue']}}</h5>
                                            <span><label *ngFor="let item of ageingByOptions">
                                            {{item.name}}
                                            <input type="radio" name="options" (click)="model.ageingBy = item.typeId" 
                                            [checked]="item.typeId === model.ageingBy" required>
                                            {{item.typeValue}}
                                        </label>
                                        <div  class='error-msg' *ngIf="f.submitted && !model.ageingBy">
                                            {{defaultAddFormValues[29]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                        </span>
                                        </div>
                                        
                                        
                                    <div class="table-responsive">
                                        <table class="table">
                                        <thead>
                                            <tr> 
                                            <th width="30%">Current </th>
                                            <th width="15%">From</th>
                                            <th width="20%">0</th>
                                            <th width="15%">To</th>
                                            <th width="20%">0</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <td><input type="text" id="txtminRange"  [ngClass]="'form-control fm-smalltxt arabic-mode'" OnlyNumber="true"  
                                                (keydown)="onlyDecimalNumberKey($event)"    name="minRange" 
                                                [(ngModel)]="minRange" maxlength="3" (blur)="validateRange('minRange')"/>
                                            <i class="fa fa-minus" aria-hidden="true" style="float: left;padding: 3px 0px;"></i>
                                            	
                                            <input type="text" id="txtmaxRange"  [ngClass]="'form-control fm-smalltxt arabic-mode'" name="maxRange" OnlyNumber="true"  
                                            (keydown)="onlyDecimalNumberKey($event)"    [(ngModel)]="maxRange" maxlength="3" (blur)="validateRange('maxRange')"/> Days
                                            </td>
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" id="txtcurrentFrom"  [ngClass]="'form-control fm-smalltxt wd100 arabic-mode'" name="currentFrom" OnlyNumber="true"  
                                                (keydown)="onlyDecimalNumberKey($event)"   [(ngModel)]="currentFrom" maxlength="3" (blur)="validateRange('currentFrom')"/> 	
                                            </td>    
                                            <td>&nbsp;</td>
                                            <td>
                                                <input type="text" id="txtcurrentTo"  [ngClass]="'form-control fm-smalltxt wd100 arabic-mode'" name="currentTo" OnlyNumber="true" 
                                                (keydown)="onlyDecimalNumberKey($event)"    [(ngModel)]="currentTo" maxlength="3" (blur)="validateRange('currentTo')"/> 	
                                                <a (click)="UpdateAgingPeriod()" *ngIf="isEdit"> 
                                                        <i class="fa fa-check" style="font-size:20px;color:rgb(37, 228, 11)"></i>
                                                </a>
                                                <a (click)="CancelAgingPeriod()" *ngIf="isEdit"> 
                                                <i class="fa fa-close" style="font-size: 20px;color: red;"></i>
                                                </a>
                                            </td> 
                                            </tr>
                                            <tr *ngFor="let period of dtoRMPeriodSetupsList;let i = index" >
                                            <td>{{period.periodDescription }} Days</td>    
                                            <td>&nbsp;</td>
                                            <td>{{period.periodNoofDays }} </td>
                                            <td>&nbsp;</td>
                                            <td>{{period.periodEnd }}
                                            <a (click)="ModifyAgingPeriod(i,period)"> <i class="fa fa-edit"></i></a>
                                            <a  class="add-ico-tb" *ngIf="!isEdit" ><i class="fa fa-minus-circle" aria-hidden="true" (click)="RemoveArrValue(i)"></i></a>
                                            </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                        </div>
                                    </div><!-- Algo Table Ends -->
                                </div>

                                <div class="form-row" *ngIf="defaultAddFormValues[10]['readAccess']">
                                    <div class="form-row border-box">

                                        <div class="content-heading"><h3>{{defaultAddFormValues[10]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->
                                
                                    <ul class="check-list wd100">
                                    <li>
                                        <label><input type="checkbox" name="printHistoricalAgedTrialBalance" [checked]="printHistoricalAgedTrialBalance" [(ngModel)]="printHistoricalAgedTrialBalance" />{{defaultAddFormValues[11]['fieldValue']}}</label>
                                    
                                        </li>
                                    <li>
                                        <label><input type="checkbox" name="compoundFinanceCharge" [checked]="compoundFinanceCharge" [(ngModel)]="compoundFinanceCharge" />{{defaultAddFormValues[12]['fieldValue']}}</label>
                                        </li>
                                    <li>
                                        <label><input type="checkbox" name="deleteUnpostedPrintedDocuments" [checked]="deleteUnpostedPrintedDocuments" [(ngModel)]="deleteUnpostedPrintedDocuments"/>{{defaultAddFormValues[13]['fieldValue']}}</label>
                                    
                                        </li>
                                    <li>
                                        <label><input type="checkbox" name="arTrackingDiscountAvailable" [checked]="arTrackingDiscountAvailable" [(ngModel)]="arTrackingDiscountAvailable" />{{defaultAddFormValues[14]['fieldValue']}}</label>
                                        
                                        </li>
                                    <li>
                                        <label><input type="checkbox" name="arPayCommissionsInvoicePay" [checked]="arPayCommissionsInvoicePay" [(ngModel)]="arPayCommissionsInvoicePay" />{{defaultAddFormValues[15]['fieldValue']}}</label>
                                        
                                        </li>
                                    </ul>
                                </div>
                            </div>


                    <div class="form-row">
                         

                      <div class="form-row border-box">
                            <div class="content-heading"><h3>{{defaultAddFormValues[16]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->   
                            <!--<div class="form-row">
                                <div *ngIf="defaultAddFormValues[17]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !salesVatScheduleId.valid,'':true }">
                                <label for="salesVatScheduleId">{{defaultAddFormValues[17]['fieldValue']}}</label>
                                <input type="text" myAutofocus [ngClass]="'form-control fm-txt auto-focus'" name="salesVatScheduleId" [(ngModel)]="model.salesVatScheduleId" 
                                #salesVatScheduleId="ngModel"
                                title="{{defaultAddFormValues[17]['helpMessage']}}"
                                 maxlength="50" required >
                                <div *ngIf="f.submitted && salesVatScheduleId.invalid">
                                    <div class='error-msg' *ngIf="salesVatScheduleId.errors.required">
                                        {{defaultAddFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                  
                                </div>
                            </div>
                            </div>-->

                             <div class="form-row">
                                <div *ngIf="defaultAddFormValues[17]['readAccess']" [ngClass]="{ 'has-error': f.submitted && salesVatScheduleId.length==0,'':true }">
                                   
                                <label for="salesVatScheduleId">{{defaultAddFormValues[17]['fieldValue']}}</label>
                                   <div class="select-outer"> 
                                      <angular2-multiselect [ngClass]="'form-control fm-txt'" id="salesVatScheduleId" [data]="arrVatDetailId" [(ngModel)]="salesVatScheduleId" [ngModelOptions]="{standalone: true}"
                                       [settings]="ddlCheckBookIdSetting" 
									   (onSelect)="getSaleVatDetailByID($event)" (onDeSelect)="OnSaleVatDetailDeSelect($event)"></angular2-multiselect>  
                                   </div>
                             <div *ngIf="f.submitted && salesVatScheduleId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="form-row">
                                <div *ngIf="defaultAddFormValues[18]['readAccess']" [ngClass]="{ 'has-error': f.submitted && freightVatScheduleId.length==0,'':true }">
                                   
                                <label for="freightVatScheduleId">{{defaultAddFormValues[18]['fieldValue']}}</label>
                                   <div class="select-outer"> 
                                      <angular2-multiselect [ngClass]="'form-control fm-txt'" id="freightVatScheduleId" [data]="arrVatDetailId" [(ngModel)]="freightVatScheduleId" [ngModelOptions]="{standalone: true}"
                                       [settings]="ddlCheckBookIdSetting" 
									   (onSelect)="onSelectFreightVatScheduleId($event)" (onDeSelect)="OnDeSelectFreightVatScheduleId($event)"></angular2-multiselect>  
                                   </div>
                             <div *ngIf="f.submitted && freightVatScheduleId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="form-row">
                                <div *ngIf="defaultAddFormValues[19]['readAccess']" [ngClass]="{ 'has-error': f.submitted && miscVatScheduleId.length==0,'':true }">
                                   
                                <label for="miscVatScheduleId">{{defaultAddFormValues[19]['fieldValue']}}</label>
                                   <div class="select-outer"> 
                                      <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="arrVatDetailId" id="miscVatScheduleId" [(ngModel)]="miscVatScheduleId" [ngModelOptions]="{standalone: true}"
                                       [settings]="ddlCheckBookIdSetting" 
									   (onSelect)="onSelectMiscVatScheduleId($event)" (onDeSelect)="OnDeSelectMiscVatScheduleId($event)"></angular2-multiselect>  
                                   </div>
                             <div *ngIf="f.submitted && miscVatScheduleId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <!--<div class="form-row">
                                <div *ngIf="defaultAddFormValues[18]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !freightVatScheduleId.valid,'':true }">
                                <label for="freightVatScheduleId">{{defaultAddFormValues[18]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="freightVatScheduleId" [(ngModel)]="model.freightVatScheduleId" 
                                #freightVatScheduleId="ngModel"
                                title="{{defaultAddFormValues[18]['helpMessage']}}"
                                 maxlength="50" required >
                                <div *ngIf="f.submitted && freightVatScheduleId.invalid">
                                    <div class='error-msg' *ngIf="freightVatScheduleId.errors.required">
                                        {{defaultAddFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>-->

                            <!--<div class="form-row">
                              
                                <div *ngIf="defaultAddFormValues[19]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !miscVatScheduleId.valid,'':true }">
                                <label for="miscVatScheduleId">{{defaultAddFormValues[19]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="miscVatScheduleId" [(ngModel)]="model.miscVatScheduleId" 
                                #miscVatScheduleId="ngModel"
                                title="{{defaultAddFormValues[19]['helpMessage']}}"
                                 maxlength="50" required >
                                <div *ngIf="f.submitted && miscVatScheduleId.invalid">
                                    <div class='error-msg' *ngIf="miscVatScheduleId.errors.required">
                                        {{defaultAddFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            
                            </div>
                      </div>-->
                      <!-- Form Row Ends -->

                      </div><!-- Form Row Ends -->

                      
                    </div>


                </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">

                        
                            <div class="form-row">
                                <div *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{ 'has-error': f.submitted && checkbookId.length==0,'':true }">
                                   
                                <label for="checkbookId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                   <div class="select-outer"> 
                                      <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrCheckBookId" [(ngModel)]="checkbookId" id="checkbookId" [ngModelOptions]="{standalone: true}"
                                       [settings]="ddlCheckBookIdSetting" 
									   (onSelect)="getCheckBookByID($event)" (onDeSelect)="OnCheckBookIdDeSelect($event)"></angular2-multiselect>  
                                   </div>
                             <div *ngIf="f.submitted && checkbookId.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="form-row">
                                <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !priceLevel.valid,'':true }">
                                <label for="priceLevel">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="priceLevel" [(ngModel)]="model.priceLevel" 
                                #priceLevel="ngModel"
                                title="{{defaultAddFormValues[1]['helpMessage']}}"
                                 maxlength="50" required >
                                <div *ngIf="f.submitted && priceLevel.invalid">
                                    <div class='error-msg' *ngIf="priceLevel.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <!--<div class='error-msg' *ngIf="priceLevel.errors.maxlength">
                                        {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>-->
                                </div>
                            </div>
                            </div>

                        <div class="form-row">

                            <div class="form-row border-box">
                        
                            <div class="content-heading"><h3>{{defaultAddFormValues[2]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->
                            <div class="form-row">
                                <div *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !creditLimitPassword.valid,'arabic-mode':true }">
                                <label for="creditLimitPassword">{{defaultAddFormValues[3]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="creditLimitPassword" [(ngModel)]="model.creditLimitPassword" 
                                #creditLimitPassword="ngModel" OnlyNumber="true" 
                                (keydown)="onlyDecimalNumberKey($event)" 
                                title="{{defaultAddFormValues[3]['helpMessage']}}"
                                 maxlength="21" required >
                                <div *ngIf="f.submitted && creditLimitPassword.invalid">
                                    <div class='error-msg' *ngIf="creditLimitPassword.errors.required">
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>
                   
                            <div class="form-row">
                                <div *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !customerHoldPassword.valid,'arabic-mode':true }">
                                <label for="customerHoldPassword">{{defaultAddFormValues[4]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="customerHoldPassword" [(ngModel)]="model.customerHoldPassword" 
                                #customerHoldPassword="ngModel" OnlyNumber="true"  
                                (keydown)="onlyDecimalNumberKey($event)" 
                                title="{{defaultAddFormValues[4]['helpMessage']}}"
                                 maxlength="21" required >
                                <div *ngIf="f.submitted && customerHoldPassword.invalid">
                                    <div class='error-msg' *ngIf="customerHoldPassword.errors.required">
                                        {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                             <div class="form-row">
                                <div *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !waivedFinanceChargePassword.valid,'arabic-mode':true }">
                                <label for="waivedFinanceChargePassword">{{defaultAddFormValues[5]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" OnlyNumber="true" 
                                (keydown)="onlyDecimalNumberKey($event)"    name="waivedFinanceChargePassword" [(ngModel)]="model.waivedFinanceChargePassword" 
                                #waivedFinanceChargePassword="ngModel"
                                title="{{defaultAddFormValues[5]['helpMessage']}}"
                                 maxlength="21" required >
                                <div *ngIf="f.submitted && waivedFinanceChargePassword.invalid">
                                    <div class='error-msg' *ngIf="waivedFinanceChargePassword.errors.required">
                                        {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="form-row">
                                <div *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !writeoffPassword.valid,'arabic-mode':true }">
                                <label for="writeoffPassword">{{defaultAddFormValues[6]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" OnlyNumber="true"  
                                (keydown)="onlyDecimalNumberKey($event)"    name="writeoffPassword" [(ngModel)]="model.writeoffPassword" 
                                #writeoffPassword="ngModel"
                                title="{{defaultAddFormValues[6]['helpMessage']}}"
                                 maxlength="21" required >
                                <div *ngIf="f.submitted && writeoffPassword.invalid">
                                    <div class='error-msg' *ngIf="writeoffPassword.errors.required">
                                        {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            </div>
                             </div>
                        </div><!-- Form Row Ends -->

                        <div class="form-row">
                          <div class="form-row border-box">
                              <div class="content-heading"><div class="col-xs-12"><h3>{{defaultAddFormValues[7]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->

                            <div class="form-row">
                                  <span class="choose-opt"  *ngFor = "let applyByArray of ArrApplyByOption" >
                                    <label>
                                  <input type="radio" name="applyByDefault" [(ngModel)]="model.applyByDefault" 		
                                    [value]="applyByArray.typeId" title="{{defaultAddFormValues[7]['helpMessage']}}" required>{{applyByArray.typeValue}}</label>
                                    </span>
                                  
                                </div>
                                    <div  class='error-msg' *ngIf="f.submitted && !model.applyByDefault">
                                            {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                            </div>
                      </div><!-- Form Row Ends -->


                      <div class="form-row">
                       

                      <div class="form-row border-box lg-headings">
                         <div class="content-heading"><h3>{{defaultAddFormValues[20]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->
                             <div class="form-row dob-row acc-rece">
                                 <div *ngIf="defaultAddFormValues[24]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !lastDateBalanceForwardAge.valid,'cl_calnRtlpos':true }">
                              <label>{{defaultAddFormValues[24]['fieldValue']}}</label>
                             
                                     <input  type="text" class="fm-txt dob form-control ngx-mydatepicker"  title="{{defaultAddFormValues[24]['helpMessage']}}"
                                     name="lastDateBalanceForwardAge" [(ngModel)]="model.lastDateBalanceForwardAge" #lastDateBalanceForwardAge="ngModel"   ngx-mydatepicker   [options]="DateBalanceOptions"
                                     #dp1="ngx-mydatepicker" (dateChanged)="onlastDateBalanceForwardAgeChanged($event)" readonly  required/>
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" (click)="this.model.lastDateBalanceForwardAge=''">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                       <button  type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
                                           <i class="glyphicon glyphicon-calendar"></i>
                                       </button>
                                      </span>
                                      <div *ngIf="f.submitted && lastDateBalanceForwardAge.invalid">
                                    <div class='error-msg' *ngIf="lastDateBalanceForwardAge.errors.required">
                                        {{defaultAddFormValues[24]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                   
                                </div>
                               </div>
                            </div> 
                             <div class="form-row dob-row acc-rece">
                                 <div *ngIf="defaultAddFormValues[23]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !deleteUnpostedPrintedDocumentDate.valid,'cl_calnRtlpos':true }">
                              <label>{{defaultAddFormValues[23]['fieldValue']}}</label>
                             
                                     <input  type="text" class="fm-txt dob form-control ngx-mydatepicker"  title="{{defaultAddFormValues[23]['helpMessage']}}"
                                     name="deleteUnpostedPrintedDocumentDate" [(ngModel)]="model.deleteUnpostedPrintedDocumentDate" #deleteUnpostedPrintedDocumentDate="ngModel" readonly  ngx-mydatepicker   [options]="deleteUnpostedPrintedDocumentDateOptions"
                                     #dp2="ngx-mydatepicker" (dateChanged)="ondeleteUnpostedPrintedDocumentDateChanged($event)"   required/>
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" (click)="this.model.deleteUnpostedPrintedDocumentDate=''">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                       <button  type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
                                           <i class="glyphicon glyphicon-calendar"></i>
                                       </button>
                                      </span>
                                   <div *ngIf="f.submitted && deleteUnpostedPrintedDocumentDate.invalid">
                                    <div class='error-msg' *ngIf="deleteUnpostedPrintedDocumentDate.errors.required">
                                        {{defaultAddFormValues[23]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                   </div>
                                </div>
                            </div>

                                <div class="form-row dob-row acc-rece">
                                    <div *ngIf="defaultAddFormValues[22]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !lastDateStatementPrinted.valid,'cl_calnRtlpos':true }">
                              <label>{{defaultAddFormValues[22]['fieldValue']}}</label>
                             
                                     <input  type="text" class="fm-txt dob form-control ngx-mydatepicker"  readonly
                                     name="lastDateStatementPrinted" [(ngModel)]="model.lastDateStatementPrinted" #lastDateStatementPrinted="ngModel"   ngx-mydatepicker 
                                       [options]="lastDateStatementPrintedOptions" title="{{defaultAddFormValues[22]['helpMessage']}}"
                                     #dp3="ngx-mydatepicker" (dateChanged)="onlastDateStatementPrintedChanged($event)"   required/>
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" (click)="this.model.lastDateStatementPrinted=''">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                       <button  type="button" class="btn btn-default" (click)="dp3.toggleCalendar()">
                                           <i class="glyphicon glyphicon-calendar"></i>
                                       </button>
                                      </span>
                                   <div *ngIf="f.submitted && lastDateStatementPrinted.invalid">
                                    <div class='error-msg' *ngIf="lastDateStatementPrinted.errors.required">
                                        {{defaultAddFormValues[22]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                   </div>
                                </div>
                            </div>

                             <div class="form-row dob-row acc-rece">
                                 <div *ngIf="defaultAddFormValues[21]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !lastFinanceChargeDate.valid,'cl_calnRtlpos':true }">
                              <label>{{defaultAddFormValues[21]['fieldValue']}}</label> 
                             
                                     <input  type="text" class="fm-txt dob form-control ngx-mydatepicker" readonly 
                                     name="lastFinanceChargeDate" [(ngModel)]="model.lastFinanceChargeDate" #lastFinanceChargeDate="ngModel"   ngx-mydatepicker   [options]="lastFinanceChargeDateOptions"
                                     #dp4="ngx-mydatepicker" (dateChanged)="onlastFinanceChargeDateChanged($event)" title="{{defaultAddFormValues[21]['helpMessage']}}"  required/>
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" (click)="this.model.lastFinanceChargeDate=''">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                       <button  type="button" class="btn btn-default" (click)="dp4.toggleCalendar()">
                                           <i class="glyphicon glyphicon-calendar"></i>
                                       </button>
                                      </span>
                                   <div *ngIf="f.submitted && lastFinanceChargeDate.invalid">
                                    <div class='error-msg' *ngIf="lastFinanceChargeDate.errors.required">
                                        {{defaultAddFormValues[21]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                   </div>
                                </div>
                            </div>

                     
                      </div>
                      </div>
                        
                      <div class="form-row">

                                

                            <div class="form-row border-box">
                                    <div class="content-heading"><h3>{{defaultAddFormValues[25]['fieldValue']}}</h3> </div><!-- Content Heading Ends -->
                                    <div class="form-row">
                                        <div *ngIf="defaultAddFormValues[26]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !userDefine1.valid,'':true }">
                                        <label for="userDefine1">{{defaultAddFormValues[26]['fieldValue']}}</label>
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="userDefine1" [(ngModel)]="model.userDefine1" 
                                        #userDefine1="ngModel"
                                        title="{{defaultAddFormValues[26]['helpMessage']}}">
                                        
                                    </div>
                                    </div>
                                    <div class="form-row">
                                        <div *ngIf="defaultAddFormValues[27]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !userDefine2.valid,'':true }">
                                        <label for="userDefine2">{{defaultAddFormValues[27]['fieldValue']}}</label>
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="userDefine2" [(ngModel)]="model.userDefine2" 
                                        #userDefine2="ngModel"
                                        title="{{defaultAddFormValues[27]['helpMessage']}}" >
                                    </div>
                                    </div>

                                    <div class="form-row">
                                            <div *ngIf="defaultAddFormValues[28]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !userDefine3.valid,'':true }">
                                            <label for="userDefine3">{{defaultAddFormValues[28]['fieldValue']}}</label>
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="userDefine3" [(ngModel)]="model.userDefine3" 
                                            #userDefine3="ngModel"
                                            title="{{defaultAddFormValues[28]['helpMessage']}}">
                                        </div>
                                    
                                </div><!-- Form Row Ends -->
                      </div><!-- Form Row Ends -->
                            </div>
                    </div>

                </div><!-- Form Row Ends -->
                    <div class="button-row">
                      <div class="col-sm-12">
                                <input type="submit" [disabled]="LockScreen(defaultAddFormValues[38]['writeAccess'])" class="orange-btn" title="{{defaultAddFormValues[38]['helpMessage']}}" value="{{defaultAddFormValues[38]['fieldValue']}}"/>
                          <a class="blue-btn" (click)="Clear(f)" title="{{defaultAddFormValues[39]['helpMessage']}}">{{defaultAddFormValues[39]['fieldValue']}}</a>
                          <a class="blue-btn" title="{{defaultAddFormValues[10]['helpMessage']}}" (click)="redirect()" >{{defaultAddFormValues[10]['fieldValue']}}</a>
                        </div>

                    </div><!-- Buton Row Ends -->
                         </form>
                        </div>
                    </div><!-- Content OUter Ends -->
                  </section>
                </section>
            </div>
