 
<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
    <div class="modal-content" >
      <div class="modal-header">
        <span class="btnClose" (click)='closeModal()'></span>
        {{confirmationModalTitle}}
      </div>
      <div class="modal-body">
        <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{confirmationModalBody}}</p>
      </div>
      <div class="modal-footer">
             <button class="orange-btn-sm" (click)='delete()'>{{OkText}}</button>
         <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
      <section class="content">
          <!-- section Heading Starts -->
          <div class="section-heading">
              <h2> {{screenName}}</h2> <button class="orange-btn" [disabled]="LockScreen(defaultFormValues[10]['writeAccess'])" title="{{defaultFormValues[10]['helpMessage']}}" [routerLink]="['/authSetting/createauthSetting']">{{defaultFormValues[10]['fieldValue']}}</button>
          </div>
          <!-- section Heading Ends -->
          <section class="inner-content">
              <div class="content-outer com-form">
                  <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                      {{messageText}}
                  </div>
                  <div class="algo-table">
                      <!-- Data Grid Starts-->
                      <div class="table-responsive">
                          <ngx-datatable id="AuthGrid" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"  [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText,selectedMessage:selectedText}"
                              [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>
                              <ngx-datatable-column [width]="70" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                  [checkboxable]="true">
                              </ngx-datatable-column>
                               <ngx-datatable-column *ngIf="defaultFormValues[14]['readAccess']" name="authSettingId" [width]="125" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                      <span class="sort-btn" (click)="sort()">{{defaultFormValues[14]['fieldValue']}}</span>
                                  </ng-template>
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                      {{value}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column *ngIf="defaultFormValues[0]['readAccess']" name="companyName" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                      <span class="sort-btn" (click)="sort()">{{defaultFormValues[0]['fieldValue']}}</span>
                                  </ng-template>
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                      {{value}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column *ngIf="defaultFormValues[1]['readAccess']" name="authorizedGroupName" [width]="300" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                      <span class="sort-btn" (click)="sort()">{{defaultFormValues[1]['fieldValue']}}</span>
                                  </ng-template>
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                      {{value}}
                                  </ng-template>
                              </ngx-datatable-column>
                              
                              <ngx-datatable-column *ngIf="defaultFormValues[3]['readAccess']" name="daysList" [width]="300" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                      <span class="sort-btn" (click)="sort()">{{defaultFormValues[3]['fieldValue']}}</span>
                                  </ng-template>
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                      {{value}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column *ngIf="defaultFormValues[4]['readAccess']" name="startDate" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                      <span class="sort-btn" (click)="sort()">{{defaultFormValues[4]['fieldValue']}}</span>
                                  </ng-template>
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                      {{value}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column *ngIf="defaultFormValues[5]['readAccess']" name="endDate" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                      <span class="sort-btn" (click)="sort()">{{defaultFormValues[5]['fieldValue']}}</span>
                                  </ng-template>
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                      {{value}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column *ngIf="defaultFormValues[6]['readAccess']" name="startTime" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                      <span class="sort-btn" (click)="sort()">{{defaultFormValues[6]['fieldValue']}}</span>
                                  </ng-template>
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                      {{value}}
                                  </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column *ngIf="defaultFormValues[7]['readAccess']" name="endTime" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                      <span class="sort-btn" (click)="sort()">{{defaultFormValues[7]['fieldValue']}}</span>
                                  </ng-template>
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                      {{value}}
                                  </ng-template>
                              </ngx-datatable-column>
                             
                              <ngx-datatable-column name="Action" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                      {{defaultFormValues[13]['fieldValue']}}
                                  </ng-template>
                                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                      <button class="edit-ico" [disabled]="LockScreen(defaultFormValues[9]['writeAccess'])"
                                       title="{{defaultFormValues[9]['helpMessage']}}"(click)="edit(row)"></button>
                                        </ng-template>
                              </ngx-datatable-column>
                          </ngx-datatable>
                      </div>
                      <!-- Data Grid Ends-->
                  </div>
                  <div class="button-row" *ngIf="page.totalElements > 0">
                      <!-- Table View Starts -->
                      <div class="table-view">
                          <span>{{defaultFormValues[12]['fieldValue']}}</span>
                          <div class="select-outer">
                              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                                      <option value="5">5 {{atATimeText}} </option>
                                      <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                                      <option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                                      <option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
                              </select>
                          </div>
                      </div>
                      <!-- Table View Ends -->
                      <div class="bottom-view">
                      </div>
                      <button class="blue-btn" *ngIf="!isScreenLock" [disabled]="!defaultFormValues[9]['writeAccess'] || selected.length == 0" title="{{defaultFormValues[9]['helpMessage']}}" (click)="varifyDelete()">{{defaultFormValues[9]['fieldValue']}}</button>
                  </div>
              </div>
          </section>
      </section>
  </div>
  <!-- Modal -->
  <div id="myModal" class="modal fade bti-modal" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete.</p>
        </div>
        <div class="modal-footer">
              <button class="orange-btn" (click)="delete()" ng-reflect-ng-class="orange-btn" title="Save">Save</button>
              <button tabindex="0" class="blue-btn" ng-reflect-ng-class="blue-btn" ng-reflect-router-link="/authSetting" title="Cancel">Cancel</button>
           <div class="container">
            <button class="btn btn-default" (click)=showConfirm()>Show confirm</button>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <!--<footer class="main-footer">@ 2017 BIT. All rights reserved.
  </footer>-->
  