
<div class="content-wrapper">
    
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- Content Outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <h3> {{screenName}}</h3>
                </div>
                <!-- Content Heading Ends -->
                
                <!--adding form starts-->
                
                <form (ngSubmit)="f.form.valid && CreateAuthSetting(f)" #f="ngForm" novalidate>
                    
                    <div class="row">
                        <fieldset [disabled]="isScreenLock">
                            <div [ngClass]="'form-row'">
                                <div *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !companyId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                    <label for="companyId">{{defaultFormValues[0]['fieldValue']}}</label>
                                    <div [ngClass]="'select-outer'">
                                        <select [disabled]="!defaultFormValues[0]['writeAccess']" 
                                        [ngClass]="'form-control '"  placeholder="Select Company"  
                                        name="companyId" [(ngModel)]="model.companyId"
                                        #companyId="ngModel" title="{{defaultFormValues[0]['helpMessage']}}" 
                                        (change)="changeCompany()" myAutofocus required>
                                        <option *ngFor="let company of LstCompany" [value]="company.id">
                                            {{company.name}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="f.submitted && companyId.invalid">
                                    <div class='error-msg' *ngIf="companyId.errors.required">
                                        {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div [ngClass]="'form-row'">
                            <div *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !authorizedUserGroupId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                <label>{{defaultFormValues[1]['fieldValue']}}</label>
                                <div class="select-outer">
                                    <select [disabled]="!defaultFormValues[1]['writeAccess']" title="{{defaultFormValues[1]['helpMessage']}}" [ngClass]="'form-control '" placeholder="Select User Group"  name="authorizedUserGroupId" [(ngModel)]="model.authorizedUserGroupId" 
                                    #authorizedUserGroupId="ngModel"   (ngModelChange)="changeUserGroup()" required>
                                    <option *ngFor="let userGroup of LstGroup" [value]="userGroup.id">
                                        {{userGroup.groupName}}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="f.submitted && authorizedUserGroupId.invalid">
                                <div class='error-msg' [hidden]="!authorizedUserGroupId.errors.required">
                                    {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && SelectedUsers.length == 0,'col-md-6 col-sm-6 col-xs-12':true}">
                            <label >{{defaultFormValues[2]['fieldValue']}}</label>
                            <angular2-multiselect [disabled]="true" [data]="ddl_MultiSelectUser" [(ngModel)]="SelectedUsers" [ngModelOptions]="{standalone: true}"
                            [settings]="{singleSelection: false,text:this.selectUser,disabled : !defaultFormValues[2]['writeAccess'],selectAllText: this.selectAll,unSelectAllText: this.unselectAll,enableSearchFilter: true,classes:'myclass custom-class'}" 
                            (onSelect)="onItemSelect($event)" 
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                            <div *ngIf="f.submitted && SelectedUsers.length == 0">
                                <div class='error-msg'>
                                    {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="form-row">
                        <div *ngIf="defaultFormValues[3]['readAccess']" [ngClass]="{'has-error': f.submitted && !dayIds.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                            <label>{{defaultFormValues[3]['fieldValue']}}</label>
                            <div class="select-outer multiselect-dd selected-list">
                                <!-- <div class="button-group formbtn-group form-control"> -->
                                    <ss-multiselect-dropdown [disabled]="!defaultFormValues[3]['writeAccess']" id='ddlDays' [options]="ddOptions" [settings]="ddSettings" [texts]="ddDaysTexts" [(ngModel)]="model.dayIds"
                                    #dayIds="ngModel" name="dayIds"   title="{{defaultFormValues[3]['helpMessage']}}" required>
                                </ss-multiselect-dropdown>
                                <!-- </div> -->
                            </div>
                            <div *ngIf="f.submitted && dayIds.invalid">
                                <div class='error-msg' [hidden]="!dayIds.errors.required">
                                    {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label *ngIf="defaultFormValues[4]['readAccess']" for="startDate">{{defaultFormValues[4]['fieldValue']}}</label>
                            <div class="selection">
                                <div *ngIf="defaultFormValues[4]['readAccess']" [ngClass]="{'has-error': f.submitted && !startDate.valid,'select-dt-full user-md-select':true}">
                                    <input [readonly]="!defaultFormValues[4]['writeAccess']" type="text" class="fm-txt form-control" title="{{defaultFormValues[4]['helpMessage']}}"
                                    name="startDate" [(ngModel)]="model.startDate" #startDate="ngModel" ngx-mydatepicker [options]="myOptions"
                                    #dp1="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"  required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" (click)="clearStartDate()">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                        <button [disabled]="!defaultFormValues[4]['writeAccess']" type="button" class="btn btn-default" (click)="dp1.toggleCalendar()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    <div *ngIf="f.submitted && startDate.invalid">
                                        <div class='error-msg' [hidden]="!startDate.errors.maxlength">
                                            {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>
                                <span *ngIf="defaultFormValues[5]['readAccess']" class="small-seprator">{{defaultFormValues[5]['fieldValue']}}</span>
                                <div *ngIf="defaultFormValues[5]['readAccess']" [ngClass]="{'has-error': f.submitted && !endDate.valid,'select-dt-full user-md-select':true}">
                                    
                                    <input [readonly]="!defaultFormValues[5]['writeAccess']" type="text" class="fm-txt form-control ngx-mydatepicker"  title="{{defaultFormValues[5]['helpMessage']}}"
                                    name="endDate" [(ngModel)]="model.endDate" #endDate="ngModel"   ngx-mydatepicker 
                                    #dp2="ngx-mydatepicker" (dateChanged)="onDateChanged2($event)"   [options]="getCopyOfOptions()" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" (click)="clearEndDate()">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                        <button [disabled]="!defaultFormValues[5]['writeAccess']" type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    <div *ngIf="f.submitted && endDate.invalid">
                                        <div class='error-msg' [hidden]="!endDate.errors.maxlength">
                                            {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div *ngIf="defaultFormValues[6]['readAccess']" class="select-dt-full user-md-select">
                            <!--<div [ngClass]="{'has-error': f.submitted && !startTime.valid,'col-md-6 col-sm-6 col-xs-12':true}">-->
                                <label *ngIf="defaultFormValues[6]['readAccess']">{{defaultFormValues[6]['fieldValue']}}</label>
                                <div class="selection dt-picker" >
                                    <div *ngIf="defaultFormValues[6]['readAccess']" [ngClass]="{'has-error': f.submitted && !startTime.valid,'select-dt-full user-md-select':true}">                               
                                        <div class="select-outer">
                                            <input  title="{{defaultFormValues[6]['fieldValue']}}" [disabled]="!defaultFormValues[7]['writeAccess']" class="picker-input fm-txt" 
                                            name="startTime" [value]="model.startTime" (onChange)="formatstartTime($event)"
                                            [(ngModel)]="model.startTime"  #startTime="ngModel" dateTimePicker
                                            [pickerType]="'time'" [hourTime]="'24'" [showSeconds]="false" 
                                            required readonly="defaultFormValues[6]['writeAccess']">
                                        </div>
                                        <div *ngIf="f.submitted && startTime.invalid">
                                            <div class='error-msg' [hidden]="!startTime.errors.required">
                                                {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                    <span *ngIf="defaultFormValues[7]['readAccess']"  class="small-seprator">{{defaultFormValues[7]['fieldValue']}}</span>
                                    <div *ngIf="defaultFormValues[7]['readAccess']" [ngClass]="{'has-error': f.submitted && !endTime.valid,'select-dt-full user-md-select':true}">                               
                                        <div class="select-outer">
                                            <input  title="{{defaultFormValues[7]['fieldValue']}}" [disabled]="!defaultFormValues[7]['writeAccess']" class="picker-input fm-txt" 
                                            name="endTime" [value]="model.endTime" (onChange)="formatendTime($event)"
                                            [(ngModel)]="model.endTime"  #endTime="ngModel" dateTimePicker
                                            [pickerType]="'time'" [hourTime]="'24'" [showSeconds]="false" 
                                            required readonly="defaultFormValues[7]['writeAccess']">
                                        </div>
                                        <div *ngIf="f.submitted && endTime.invalid">
                                            <div class='error-msg' [hidden]="!endTime.errors.required">
                                                {{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="button-row">
                        <div class="col-sm-12">
							<button *ngIf="defaultFormValues[8]['readAccess']" [disabled]="LockScreen(defaultFormValues[8]['writeAccess'])" class="orange-btn" title="{{defaultFormValues[8]['helpMessage']}}">{{defaultFormValues[8]['fieldValue']}}</button>
							<button *ngIf="defaultFormValues[9]['readAccess']" class="blue-btn" title="{{defaultFormValues[9]['helpMessage']}}" [routerLink]="['/authSetting']" >{{defaultFormValues[9]['fieldValue']}}</button>
						</div>
                    </div>
                </div>
            </form>
            <!--adding form ends-->
        </div>
        <!-- Content Outer Ends -->
    </section>
</section>
</div>
<!--<footer class="main-footer">
    @ 2017 BIT. All rights reserved.
</footer>-->