
<div class="content-wrapper user-view">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div>

        
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- Content Outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!--adding form starts-->
                 
                      <div class="content-outer com-form">
                        <div class="row">
                        <!-- Form Row Starts -->  
                         <form (ngSubmit)="!hasMsg && f.form.valid && CreateBankSetup(f)" #f="ngForm" novalidate>  
                             <div class="form-row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div *ngIf="ADD_BANK_SETUP_BANK_ID['readAccess']" [ngClass]="{ 'has-error': f.submitted && !bankId.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                     <label for="bankId">{{ADD_BANK_SETUP_BANK_ID['fieldValue']}}
                                         <span *ngIf = "ADD_BANK_SETUP_BANK_ID['isMandatory']">*</span>
                                     </label>
                                      
                                      <input type="text" [ngClass]="'form-control fm-txt auto-focus'" myAutofocus name="bankId" [(ngModel)]="model.bankId" 
                                      #bankId="ngModel" [readonly]="isModify"  id="bankTextId" title="{{ADD_BANK_SETUP_BANK_ID['helpMessage']}}" (blur)='IsIdAlreadyExist()' 
                                      [readonly]="!ADD_BANK_SETUP_BANK_ID['writeAccess']" [required]="ADD_BANK_SETUP_BANK_ID['isMandatory']" >
                                        <div *ngIf="f.submitted && bankId.invalid">
                                            <div class='error-msg' *ngIf="bankId.errors.required">
                                                {{ADD_BANK_SETUP_BANK_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- Form Row Ends -->

                        <!-- Form Row Starts -->
                            <div class="form-row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div *ngIf="ADD_BANK_SETUP_DESC['readAccess']" [ngClass]="{ 'has-error': f.submitted && !bankDescription.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                    <label for="bankDescription">{{ADD_BANK_SETUP_DESC['fieldValue']}}
                                        <span *ngIf = "ADD_BANK_SETUP_DESC['isMandatory']">*</span>
                                    </label>
                                    <input type="text" [ngClass]="'form-control fm-txt'"  name="bankDescription" [(ngModel)]="model.bankDescription" 
                                      #bankDescription="ngModel" title="{{ADD_BANK_SETUP_DESC['helpMessage']}}" 
                                       maxlength="31"  [readonly]="!ADD_BANK_SETUP_DESC['writeAccess']" [required]="ADD_BANK_SETUP_DESC['isMandatory']" />
                                       
                                    <div *ngIf="f.submitted && bankDescription.invalid">
                                            <div class='error-msg' *ngIf="bankDescription.errors.required">
                                                {{ADD_BANK_SETUP_DESC['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                            <div class='error-msg' *ngIf="bankDescription.errors.maxlength">
                                                {{ADD_BANK_SETUP_DESC['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 arabic-mode">
                                    <div *ngIf="ADD_BANK_SETUP_DESC_ARABIC['readAccess']" [ngClass]="{ 'has-error': f.submitted && !bankArabicDescription.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                    <label for="bankArabicDescription">{{ADD_BANK_SETUP_DESC_ARABIC['fieldValue']}}
                                        <span *ngIf = "ADD_BANK_SETUP_DESC_ARABIC['isMandatory']">*</span>
                                    </label>
                                    <input type="text" [ngClass]="'form-control fm-txt'"  name="bankArabicDescription" [(ngModel)]="model.bankArabicDescription" 
                                      #bankArabicDescription="ngModel" title="{{ADD_BANK_SETUP_DESC_ARABIC['helpMessage']}}" maxlength="61"
                                      [readonly]="!ADD_BANK_SETUP_DESC_ARABIC['writeAccess']" [required]="ADD_BANK_SETUP_DESC_ARABIC['isMandatory']" />
                                      
                                    <div *ngIf="f.submitted && bankArabicDescription.invalid">
                                            <div class='error-msg' *ngIf="bankArabicDescription.errors.required">
                                                {{ADD_BANK_SETUP_DESC_ARABIC['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                            </div>
                                            <div class='error-msg' *ngIf="bankArabicDescription.errors.maxlength">
                                                {{ADD_BANK_SETUP_DESC_ARABIC['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <!-- Form Row Ends -->
                        <!-- Form Row Starts -->  
                            <div class="form-row">
                                
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div *ngIf="ADD_BANK_SETUP_ADDRESS1['readAccess']" [ngClass]="{ 'has-error': f.submitted && !address1.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                    <label for="address1">{{ADD_BANK_SETUP_ADDRESS1['fieldValue']}}
                                        <span *ngIf = "ADD_BANK_SETUP_ADDRESS1['isMandatory']">*</span>
                                    </label>
                                    <input type="text" [ngClass]="'form-control fm-txt'"  name="address1" [(ngModel)]="model.address1" 
                                      #address1="ngModel" title="{{ADD_BANK_SETUP_ADDRESS1['helpMessage']}}"
                                      [readonly]="!ADD_BANK_SETUP_ADDRESS1['writeAccess']" [required]="ADD_BANK_SETUP_ADDRESS1['isMandatory']" >
                                      
                                    <div *ngIf="f.submitted && address1.invalid">
                                            <div class='error-msg' *ngIf="address1.errors.required">
                                                {{ADD_BANK_SETUP_ADDRESS1['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div *ngIf="ADD_BANK_SETUP_PHONE1['readAccess']" [ngClass]="{ 'has-error': f.submitted && !phone1.valid,'col-md-12 col-sm-12 col-xs-12 arabic-mode':true }">
                                    <label for="phone1">{{ADD_BANK_SETUP_PHONE1['fieldValue']}}
                                        <span *ngIf = "ADD_BANK_SETUP_PHONE1['isMandatory']">*</span>
                                    </label>
                                    <input type="text" [ngClass]="'form-control fm-txt'"  name="phone1" [(ngModel)]="model.phone1" 
                                      #phone1="ngModel" title="{{ADD_BANK_SETUP_PHONE1['helpMessage']}}" 
                                      [readonly]="!ADD_BANK_SETUP_PHONE1['writeAccess']" [required]="ADD_BANK_SETUP_PHONE1['isMandatory']"
                                       maxlength="10" OnlyNumber="true" 
                                      (keydown)="onlyDecimalNumberKey($event)"  >
                                    <div *ngIf="f.submitted && phone1.invalid">
                                            <div class='error-msg' *ngIf="phone1.errors.required">
                                                {{ADD_BANK_SETUP_PHONE1['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <!-- Form Row Ends -->
                        <!-- Form Row Starts -->
                            <div class="form-row">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div *ngIf="ADD_BANK_SETUP_ADDRESS2['readAccess']" [ngClass]="{ 'has-error': f.submitted && !address2.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                   <label for="address2"><!--{{ADD_BANK_SETUP_ADDRESS2['fieldValue']}}--> &nbsp;
                                    <span *ngIf = "ADD_BANK_SETUP_ADDRESS2['isMandatory']">*</span>
                                    </label>
                                   <input type="text" [ngClass]="'form-control fm-txt'"  name="address2" [(ngModel)]="model.address2"  
                                      #address2="ngModel" title="{{ADD_BANK_SETUP_ADDRESS2['helpMessage']}}" 
                                      [readonly]="!ADD_BANK_SETUP_ADDRESS2['writeAccess']" [required]="ADD_BANK_SETUP_ADDRESS2['isMandatory']" >
                                      
                                   
                                </div>
                                </div>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div *ngIf="ADD_BANK_SETUP_PHONE2['readAccess']" [ngClass]="{ 'has-error': f.submitted && !phone2.valid,'col-md-12 col-sm-12 col-xs-12 arabic-mode':true }">
                                    <label for="phone2">{{ADD_BANK_SETUP_PHONE2['fieldValue']}}
                                        <span *ngIf = "ADD_BANK_SETUP_PHONE2['isMandatory']">*</span>
                                    </label>
                                    <input type="text" [ngClass]="'form-control fm-txt'"  name="phone2" [(ngModel)]="model.phone2" 
                                      #phone2="ngModel" title="{{ADD_BANK_SETUP_PHONE2['helpMessage']}}"  maxlength="10" OnlyNumber="true" 
                                      (keydown)="onlyDecimalNumberKey($event)" 
                                      [readonly]="!ADD_BANK_SETUP_PHONE2['writeAccess']" [required]="ADD_BANK_SETUP_PHONE2['isMandatory']" >
                                </div>
                                </div>
                               
                            </div>
                        <!-- Form Row Ends -->
                        <!-- Form Row Starts -->
                            <div class="form-row">
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div *ngIf="ADD_BANK_SETUP_ADDRESS3['readAccess']" [ngClass]="{ 'has-error': f.submitted && !address3.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                   <label for="address3"><!--{{ADD_BANK_SETUP_ADDRESS3['fieldValue']}}--> &nbsp;
                                    <span *ngIf = "ADD_BANK_SETUP_ADDRESS3['isMandatory']">*</span>
                                   </label>
                                   <input type="text" [ngClass]="'form-control fm-txt'"  name="address3" [(ngModel)]="model.address3" 
                                      #address3="ngModel" title="{{ADD_BANK_SETUP_ADDRESS3['helpMessage']}}" 
                                      [readonly]="!ADD_BANK_SETUP_ADDRESS3['writeAccess']" [required]="ADD_BANK_SETUP_ADDRESS3['isMandatory']" >
                                      
                                  
                                </div>
                                </div>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div *ngIf="ADD_BANK_SETUP_PHONE3['readAccess']" [ngClass]="{ 'has-error': f.submitted && !phone3.valid,'col-md-12 col-sm-12 col-xs-12 arabic-mode':true }">
                                   <label for="phone3">{{ADD_BANK_SETUP_PHONE3['fieldValue']}}
                                       <span *ngIf = "ADD_BANK_SETUP_PHONE3['isMandatory']">*</span>
                                   </label>
                                   <input type="text" [ngClass]="'form-control fm-txt'"  name="phone3" [(ngModel)]="model.phone3" 
                                      #phone3="ngModel" title="{{ADD_BANK_SETUP_PHONE3['helpMessage']}}"  maxlength="10" OnlyNumber="true" 
                                      (keydown)="onlyDecimalNumberKey($event)" 
                                      [readonly]="!ADD_BANK_SETUP_PHONE3['writeAccess']" [required]="ADD_BANK_SETUP_PHONE3['isMandatory']" >
                                      
                                 
                                </div>
                                </div>
                               
                            </div>
                        <!-- Form Row Ends -->
                        <!-- Form Row Starts -->
                            <div class="form-row">

                   

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                      <div *ngIf="ADD_BANK_SETUP_COUNTRY['readAccess']" [ngClass]="{ 'has-error': f.submitted && !countryId.valid, 'col-xs-12':true }">
                                          
                                <label for="countryId">{{ADD_BANK_SETUP_COUNTRY['fieldValue']}}
                                    <span *ngIf = "ADD_BANK_SETUP_COUNTRY['isMandatory']">*</span>
                                </label>
                                    <div class="select-outer"><select [ngClass]="'form-control fm-txt'" name="countryId" [(ngModel)]="model.countryId" #countryId="ngModel" (change)="getCountryData($event)"
                                            title="{{ADD_BANK_SETUP_COUNTRY['helpMessage']}}" [disabled]="!ADD_BANK_SETUP_COUNTRY['writeAccess']" [required]="ADD_BANK_SETUP_COUNTRY['isMandatory']">
                                        <option *ngFor="let country of countryOptions" [value]="country.countryId">
                                            {{country.countryName}}
                                        </option>
                                    </select>
                                    
                                    </div>
                                <div *ngIf="f.submitted && countryId.invalid">
                                    <div class='error-msg' *ngIf="countryId.errors.required">
                                        {{ADD_BANK_SETUP_COUNTRY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                             
                             </div>

                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div *ngIf="ADD_BANK_SETUP_FAX['readAccess']" [ngClass]="{ 'has-error': f.submitted && !fax.valid,'col-md-12 col-sm-12 col-xs-12':true }">
                                   <label for="fax">{{ADD_BANK_SETUP_FAX['fieldValue']}}
                                       <span *ngIf = "ADD_BANK_SETUP_FAX['isMandatory']">*</span>
                                   </label>
                                   <input type="text" [ngClass]="'form-control fm-txt'"  name="fax" [(ngModel)]="model.fax" 
                                      #fax="ngModel" OnlyNumber="true" 
                                      (keydown)="onlyDecimalNumberKey($event)"   title="{{ADD_BANK_SETUP_FAX['helpMessage']}}"  maxlength="10"
                                      [readonly]="!ADD_BANK_SETUP_FAX['writeAccess']" [required]="ADD_BANK_SETUP_FAX['isMandatory']">
                                      
                                 
                                </div>
                                </div>
                                 
                            </div>

                            <div class="form-row">
                                
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div *ngIf="ADD_BANK_SETUP_STATE['readAccess']" [ngClass]="{'has-error': f.submitted && !stateId.valid,'col-xs-12':true}">
                                <label for="stateId">{{ADD_BANK_SETUP_STATE['fieldValue']}}
                                    <span *ngIf = "ADD_BANK_SETUP_STATE['isMandatory']">*</span>
                                </label>
                                   <div class="select-outer">
                                    <select [ngClass]="'form-control fm-txt'" name="stateId" [(ngModel)]="model.stateId" #stateId="ngModel" (change)="getStateData($event)"
                                        title="{{ADD_BANK_SETUP_STATE['helpMessage']}}" [disabled]="!ADD_BANK_SETUP_STATE['writeAccess']" [required]="ADD_BANK_SETUP_STATE['isMandatory']">
                                    <option *ngFor="let state of stateOptions" [value]="state.stateId">
                                        {{state.stateName}}
                                    </option>
                                    </select>
                                    
                                    </div>
                                <div *ngIf="f.submitted && stateId.invalid">
                                       <div class='error-msg' *ngIf="stateId.errors.required">
                                        {{ADD_BANK_SETUP_STATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                                </div>

                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                      <div *ngIf="ADD_BANK_SETUP_CITY['readAccess']" [ngClass]="{'has-error': f.submitted && !cityId.valid,'col-xs-12':true}">
                                <label for="cityId">{{ADD_BANK_SETUP_CITY['fieldValue']}}
                                    <span *ngIf = "ADD_BANK_SETUP_CITY['isMandatory']">*</span>
                                </label>
                                <div [ngClass]="'select-outer'">
                                    <select [ngClass]="'form-control '" name="cityId" [(ngModel)]="model.cityId" #cityId="ngModel" title="{{ADD_BANK_SETUP_CITY['helpMessage']}}"
                                        [disabled]="!ADD_BANK_SETUP_CITY['writeAccess']" [required]="ADD_BANK_SETUP_CITY['isMandatory']">
                                    <option *ngFor="let city of cityOptions" [value]="city.cityId">
                                        {{city.cityName}}
                                    </option>
                                    </select>
                                
                                </div>
                                <div *ngIf="f.submitted && cityId.invalid">
                                   <div class='error-msg' *ngIf="cityId.errors.required">
                                        {{ADD_BANK_SETUP_CITY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                               
                                </div>   
                            
                         </div>
                        <!-- Form Row Ends -->
                        <div class="button-row">
                            <div class="col-sm-12">
                                <input *ngIf="ADD_BANK_SETUP_SAVE['readAccess']" type="submit"  class="orange-btn" title="{{ADD_BANK_SETUP_SAVE['helpMessage']}}" value="{{ADD_BANK_SETUP_SAVE['fieldValue']}}" [disabled]="btndisabled || !ADD_BANK_SETUP_SAVE['writeAccess']"/>
                                <input *ngIf="ADD_BANK_SETUP_CLEAR['readAccess']" type="button"  class="blue-btn" (click)="resetMe(f)" title="{{ADD_BANK_SETUP_CLEAR['helpMessage']}}" value="{{ADD_BANK_SETUP_CLEAR['fieldValue']}}" [disabled]="!ADD_BANK_SETUP_CLEAR['writeAccess']"/>
                                <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                            </div>
                        </div>
                        </form>

                         <div class="content-heading">
								<div class="search-top">
									<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
								</div>
						 </div>
                       
                <div class="form-row">  
                    <div class="col-xs-12">
		                <div class="algo-table">
		                    <div class="table-responsive">
						        <ngx-datatable id="configurationGrid" class="material" [rows]="rows"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'auto'" [externalPaging]="true"
                                    [count]="page.totalElements" [offset]="page.pageNumber"
                                    [limit]="page.size" (page)='setPage($event)'
                                    [selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
                                    (select)='onSelect($event)'>
						        <ngx-datatable-column 
                                    *ngIf="MANAGE_BANK_SETUP_BANK_ID['readAccess']"  name="bankId" [width]="150"
                                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
						        <ng-template 
                                    let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn" (click)="sort()">
                                    {{MANAGE_BANK_SETUP_BANK_ID['fieldValue']}}</span> 
                                </ng-template>
                                <ng-template
                                    let-value="value" ngx-datatable-cell-template>
                                    {{value}} 
                                </ng-template> 
						        </ngx-datatable-column> 
						        <ngx-datatable-column 
                                    name="bankDescription" *ngIf="MANAGE_BANK_SETUP_DESC['readAccess']" 
                                    [width]="250" [canAutoResize]="false" [draggable]="false"
                                    [resizeable]="false"> 
                                <ng-template
                                    let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn"
                                    (click)="sort()">{{MANAGE_BANK_SETUP_DESC['fieldValue']}}</span>
                                </ng-template> 
                                <ng-template
                                    let-value="value" ngx-datatable-cell-template>
                                    {{value}} 
                                </ng-template>
                                </ngx-datatable-column> 
						        <ngx-datatable-column 
                                    name="bankArabicDescription" *ngIf="MANAGE_BANK_SETUP_DESC_ARABIC['readAccess']" 
                                    [width]="250" [canAutoResize]="false" [draggable]="false"
                                    [resizeable]="false"> <ng-template
                                    let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn"
                                    (click)="sort()">{{MANAGE_BANK_SETUP_DESC_ARABIC['fieldValue']}}</span> </ng-template> <ng-template
                                    let-value="value" ngx-datatable-cell-template>
						            {{value}} 
                                </ng-template>
                                </ngx-datatable-column> 
						        <ngx-datatable-column 
                                    name="Action" [width]="200" *ngIf="MANAGE_BANK_SETUP_EDIT['readAccess']" 
                                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
						        <ng-template let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template>
                                    {{ACTION['fieldValue']}} </ng-template> <ng-template let-row="row"
                                    let-value="value" ngx-datatable-cell-template>
                                    <div *ngIf="MANAGE_BANK_SETUP_EDIT['writeAccess']">
                                        <a class="edit-ico" (click)="getBankDetailsById(row)" title="{{MANAGE_BANK_SETUP_EDIT['helpMessage']}}" ></a>
                                    </div>
						        </ng-template> 
						        </ngx-datatable-column> 
						        </ngx-datatable>
					        </div>
		                </div><!-- Algo Table Ends -->
		            </div>

                        <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
									<!--<button class="blue-btn" (click)="delete()"  title="delete">Delete</button>-->
								</div>

                </div>
                <!-- Form Row Ends -->
                      </div>
                       <!-- Row Ends -->
                    </div>
                    <!-- Content OUter Ends -->
             
                <!--adding form ends-->
            </div>
            <!-- Content Outer Ends -->
        </section>
    </section>
</div>
