<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Account Number Searchs</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="content-heading">
        <div class="row">
          <div class="col col-md-12">
            <div class="search-top">
              <label>Search Key</label>
              <input type="text" title="Search Account Number " [(ngModel)]="accountSearchWord" id="SearchAccountNumber" class="search-txt" placeholder="Search Account Number"
                (keyup)='saerchAccountNumber($event)'>
            </div>
          </div>
        </div>
      </div>

      <div class="algo-table">
        <ngx-datatable (activate)="func1($event)" class=" ngx-datatable material" [rows]="data" [limit]="page.size" [offset]="page.pageNumber" [count]="page.totalElements"
         [columns]="columns" (page)='pagination($event)'  [rowHeight]="'auto'" [headerHeight]="50"
          [footerHeight]="50"  [rowClass]="rowClass" (dblclick)="func2($event)">
        

          
          <ngx-datatable-column name="accountNumber" [width]="450"  editable="true" >
            <ng-template let-column="column"  ngx-datatable-header-template>
              <span class="sort-btn">Account Description </span>

            </ng-template>
            <ng-template  ngx-datatable-cell-template let-column="column" let-rowIndex="rowIndex" let-value="value" let-row="row"  ngx-datatable-cell-template>
              <span class="sort-btn">{{value}}</span>

            </ng-template>
          
          
          </ngx-datatable-column>
        
          <ngx-datatable-column [width]="450" name="accountDescription">
            <ng-template let-column="column"  ngx-datatable-header-template>
              <span class="sort-btn">Account Description </span>

            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span class="sort-btn">{{value}}</span>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column [width]="450" name="accountDescriptionArabic">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span class="sort-btn">Account Description Arabic</span>

            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <span class="sort-btn">{{value}}</span>
            </ng-template>
          </ngx-datatable-column>
        
        </ngx-datatable>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" #closeBtn class="orange-btn-sm" data-dismiss="modal">Close</button>
      <button type="button" data-dismiss="modal" (click)="ok()" class="blue-btn-sm">Ok</button>
    </div>
  </div>
</div>
<!-- End pop up-->