
<div class="content-wrapper user-view" >
    <section class="content">
        <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
        <section class="inner-content">
            <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                {{messageText}}
            </div>
            
            
            <div class="content-outer com-form">
                <div class="row">
                    <form (ngSubmit)="!hasMsg && f.form.valid && savePaymentTerm(f)" #f="ngForm" novalidate>
                        <div class="form-row">
                            <div *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{ 'has-error': f.submitted && seriesNumber.length==0,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="postingId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">
                                    <angular2-multiselect [ngClass]="'form-control fm-txt'" [data]="ArrPostingId" [(ngModel)]="seriesNumber" id="seriesNumber" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlPostingIdSetting" 
                                    (onSelect)="getPostingIdByID($event)" (onDeSelect)="OnPostingIdDeSelect($event)"></angular2-multiselect>
                                </div>    
                                <!--<select [ngClass]="'form-control fm-txt'" name="postingId" [(ngModel)]="model.postingId" 
                                    #postingId="ngModel" title="{{defaultAddFormValues[0]['helpMessage']}}" required>
                                    <option *ngFor="let postingAccountSeries of postingAccountSeriesList" [value]="postingAccountSeries.seriesId">
                                        {{postingAccountSeries.seriesId}}
                                    </option>
                                </select>-->
                                <div *ngIf="f.submitted && seriesNumber.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <!--<div class='error-msg' *ngIf="postingId.errors.maxlength">
                                        {{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>-->
                                </div>
                            </div>
						</div>	
                        <div class="form-row">
                            <div *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !descriptionPrimary.valid,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="descriptionPrimary">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="descriptionPrimary" [(ngModel)]="model.descriptionPrimary" 
                                #descriptionPrimary="ngModel" 
                                title="{{defaultAddFormValues[1]['helpMessage']}}"
                                maxlength="31"   required />
                                <div *ngIf="f.submitted && descriptionPrimary.invalid">
                                    <div class='error-msg' *ngIf="descriptionPrimary.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="descriptionPrimary.errors.maxlength">
                                        {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
						</div>	
                        
						<div class="form-row">
                            
                            
                            <div *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !descriptionSecondary.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true }">
                                <label for="descriptionSecondary">{{defaultAddFormValues[2]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="descriptionSecondary" [(ngModel)]="model.descriptionSecondary" 
                                #descriptionSecondary="ngModel" 
                                title="{{defaultAddFormValues[2]['helpMessage']}}"
                                maxlength="61"   required />
                                <div *ngIf="f.submitted && descriptionSecondary.invalid">
                                    <div class='error-msg' *ngIf="descriptionSecondary.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="descriptionSecondary.errors.maxlength">
                                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            
                        </div><!-- Form Row Ends -->
						<div class="form-row">
                            <div *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{ 'has-error': f.submitted && accountTableRowIndex.length == 0,'col-md-6 col-sm-6 col-xs-12':true }">
                                <label for="accountNumber">{{defaultAddFormValues[3]['fieldValue']}}</label>
                                <div [ngClass]="'select-outer'">					   
                                    <angular2-multiselect  required [ngClass]="'form-control fm-txt'" [data]="ArrAccNo" [(ngModel)]="accountTableRowIndex" id="accountTableRowIndex" [ngModelOptions]="{standalone: true}"
                                    [settings]="ddlAccNoSetting" 
                                    (onSelect)="getAccNoByID($event)" (onDeSelect)="OnAccNoDeSelect($event)"></angular2-multiselect>
									
                                </div>
                                <div *ngIf="f.submitted && accountTableRowIndex.length==0">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <a  class="add-ico-tb">
                                <i class="fa fa-plus-circle" aria-hidden="true" (click)="openAccountWindow()"></i>
                            </a>  
                        </div>
                        <div class="button-row">
                            <div class="col-sm-12">
                                <input type="submit" [disabled]="LockScreen(defaultAddFormValues[5]['writeAccess'])"  class="orange-btn" title="{{defaultAddFormValues[4]['helpMessage']}}" value="{{defaultAddFormValues[4]['fieldValue']}}" />
                                <input type="button" class="blue-btn" title="{{defaultAddFormValues[5]['helpMessage']}}" (click)="clearForm()" value="{{defaultAddFormValues[5]['fieldValue']}}"/>
                                <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
                            </div>
                        </div>
                    </form>
                    <div class="content-heading">
                        <div class="search-top">
                            <input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
                        </div>
                    </div>
                    <div class="form-row">  
                        <div class="col-xs-12">
                            <div class="algo-table">
                                <div class="table-responsive">
                                    <ngx-datatable id="configurationGrid" class="material" [rows]="rows"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'auto'" [externalPaging]="true"
                                    [count]="page.totalElements" [offset]="page.pageNumber"
                                    [limit]="page.size" (page)='setPage($event)'
                                    [selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
                                    (select)='onSelect($event)'> 
                                    <ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="descriptionPrimary" [width]="300"
                                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                    <ng-template let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn"
                                    (click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
                                    let-value="value" ngx-datatable-cell-template>
                                    {{value}} </ng-template> 
                                </ngx-datatable-column> 
                                <ngx-datatable-column name="descriptionSecondary" *ngIf="defaultManageFormValues[1]['readAccess']" 
                                [width]="300" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false"> <ng-template
                                let-column="column" let-sort="sortFn"
                                ngx-datatable-header-template> <span class="sort-btn"
                                (click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
                                let-value="value" ngx-datatable-cell-template>
                                {{value}} </ng-template>
                            </ngx-datatable-column> 
                            <ngx-datatable-column name="accountNumber" 
							[width]="250" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
                            {{value}} </ng-template>
                        </ngx-datatable-column>
						<ngx-datatable-column name="Action" [width]="150" *ngIf="defaultManageFormValues[4]['readAccess']" 
                        [canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
                        ngx-datatable-header-template>
						{{defaultManageFormValues[5]['fieldValue']}} </ng-template> <ng-template let-row="row"
                        let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getpaymentTermById(row)" title="{{defaultManageFormValues[3]['helpMessage']}}"></a>
                    </ng-template> 
                </ngx-datatable-column> 
            </ngx-datatable>
        </div>
    </div><!-- Algo Table Ends -->
</div>
<div class="button-row" *ngIf="page.totalElements > 0">
    <!-- Table View Starts -->
    <div class="table-view">
        <span>{{tableViewtext}}</span>
        <div class="select-outer">
            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
                <option value="5">5 {{atATimeText}} </option>
                <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                <option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                <option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
            </select>
        </div>
    </div>
    <!-- Table View Ends -->
    <div class="bottom-view">
    </div>
</div>
</div><!-- Form Row Ends -->
</div> <!-- Row Ends -->
</div><!-- Content OUter Ends -->

</section>
</section>
</div>
<div class="modal"  *ngIf="isModalOpen" style="display:block !important" >
    <div class="modal-content" >
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{accountNumberTitleLabel}}
        </div>
        <div class="modal-body">
            <span *ngFor="let segment of arrSegment;let i=index; let j=index;">
                <input id="txtfirstSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
                (blur)="fetchFirstAccountIndexInfo(j)" *ngIf="j==0" style="width:65px" />
                <input id="txtSegment_{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_"
                (blur)="fetchOtherAccountIndexInfo(j)" *ngIf="j > 0" style="width:65px"  [disabled]='segment.isReadOnly'/> 
                <i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus"
                style="float: left;padding: 3px 0px;" *ngIf="j + 1 != arrSegment.length"></i>	
            </span>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='createNewGlAccountNumber()'>{{createAccountNumberLabel}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{btnCancelLabel}}</button>
        </div>
    </div>
</div>