<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[9]['helpMessage']}}">{{defaultFormValues[9]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="PositionPlanSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

               <!--Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true" [checkboxable]="true"></ngx-datatable-column>

              <!-- Data Column Position Id -->
              <ngx-datatable-column name="positionPlanId" [width]="180" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionPlanId')">{{defaultFormValues[2]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Position Description -->
              <ngx-datatable-column name="positionPlanDesc" [width]="150" [canAutoResize]="true" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionPlanDesc')">{{defaultFormValues[3]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column City -->
              <ngx-datatable-column name="positionPlanArbicDesc" [width]="150" [canAutoResize]="true" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionPlanArbicDesc')">{{defaultFormValues[4]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Phone Number -->
              <ngx-datatable-column name="positionPlanStart" [width]="110" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionPlanStart')">{{defaultFormValues[5]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value  | date: 'dd-MM-yyyy'}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Email -->
              <ngx-datatable-column name="positionPlanEnd" [width]="150" [canAutoResize]="true" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionPlanEnd')">{{defaultFormValues[6]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'dd-MM-yyyy'}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data check box  -->
              <ngx-datatable-column name="inactive" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('inactive')">{{defaultFormValues[7]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <input type="checkbox" [checked]="value" />
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Action -->
              <ngx-datatable-column name="Action" [width]="50" [canAutoResize]="true" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{defaultFormValues[8]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #positionSetupId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[14]['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{defaultFormValues[15]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{defaultFormValues[16]['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form (ngSubmit)="f.form.valid && !error.isError && CreatePositionPlanSetup(f, $event)" #f="ngForm" novalidate class="form-horizontal col-md-12">
              <div [ngClass]="'row'">

                  <!-- Position  Id field -->
                  <div class="form-group">
                      <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                          <div class="col-md-4">
                              <label for="positionId">{{defaultFormValues[1]['fieldValue']}}</label>
                          </div>
                          <div class="col-md-8">
<!--
                              <input type="text" [ngClass]="'form-control fm-txt'" name="positionId" [(ngModel)]="model.positionId"  #positionId="ngModel"
                                     title="{{defaultFormValues[0]['helpMessage']}}" maxlength="15" value="check" required />-->

                            <input type="text" [ngClass]="'form-control fm-txt'" name="positionId"  value={{positionId}}
                                   title="{{defaultFormValues[1]['helpMessage']}}"  readonly/>

                              <div *ngIf="f.submitted && positionId.invalid">
                                  <div [hidden]="!positionId.errors.required">
                                      {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                <!-- Position Plan Id field -->
                <div class="form-group">
                  <div [ngClass]="{ 'has-error': f.submitted && !positionPlanId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label for="positionPlanId">{{defaultFormValues[2]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <div class="row">
                    <div class="col-md-6">
                      <input type="text"   [ngClass]="'form-control fm-txt'" name="positionPlanId" [(ngModel)]="model.positionPlanId" #positionPlanId="ngModel"
                             title="{{defaultFormValues[2]['helpMessage']}}" maxlength="15" required [readonly]="model.id" />
                      <div *ngIf="f.submitted && positionPlanId.invalid">
                        <div [hidden]="!positionPlanId.errors.required">
                          {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        
                        <div [hidden]="!positionPlanId.errors?.maxlength">
                          {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      
                          
                            <label for="inactive">{{defaultFormValues[7]['fieldValue']}}</label>
                          
                          
                            <input  type="checkbox" style="float: left;margin-right: 5px;" (click)="checkpositionplanform($event)"   name="inactive"  [(ngModel)]="model.inactive" #inactive="ngModel"
                                   title="{{defaultFormValues[0]['helpMessage']}}" />
      
                          
                        
						
                        </div>
						<div class="clearfix"></div>
                        </div>
                    </div>
                  </div>
                

                  <!-- position Plan inActive Field -->
                  <!--<div [ngClass]="{'col-md-4 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-2">
                      <label for="inactive">{{defaultFormValues[7]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-2">
                      <input type="checkbox"   name="inactive"  [(ngModel)]="model.inactive" #inactive="ngModel"
                             title="{{defaultFormValues[0]['helpMessage']}}"   [checked]="isSelected" />

                    </div>
                  </div>-->

                </div>


                <!-- position Plan Description Field -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !positionPlanDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label for="positionPlanDesc">{{defaultFormValues[3]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="model.positionPlanDesc"
                             #positionPlanDesc="ngModel" title="{{defaultFormValues[3]['helpMessage']}}"
                             required  maxlength="31" />
                      <div *ngIf="f.submitted && positionPlanDesc.invalid">
                        <div [hidden]="!positionPlanDesc.errors.required">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!positionPlanDesc.errors?.maxlength">
                          {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- Arabic position class description -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !positionPlanArbicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label for="positionPlanArbicDesc">{{defaultFormValues[4]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8 arabic-mode">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="positionPlanArbicDesc" [(ngModel)]="model.positionPlanArbicDesc"
                             #positionPlanArbicDesc="ngModel" title="{{defaultFormValues[4]['helpMessage']}}"
                             maxlength="61" required  />
                      <div *ngIf="f.submitted && positionPlanArbicDesc.invalid">
                        <div [hidden]="!positionPlanArbicDesc.errors.required">
                          {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!positionPlanArbicDesc.errors?.maxlength">
                          {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- position Plan Start Date-->
				<div class="form-group">
					<div [ngClass]="{'has-error': f.submitted && !positionPlanStart.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">

						<div class="col-md-4">
							<label class="control-label">{{defaultFormValues[5]['fieldValue']}}</label>
						</div>
						<div class="col-md-8">
							<div class="input-group">
								<input [ngClass]="'form-control fm-txt'" placeholder="Select a date" ngx-mydatepicker name="positionPlanStart" [(ngModel)]="modelStartDate"
									[options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onStartDateChanged($event)" (change)="onStartDateChanged($event.target.value)" 
									#positionPlanStart="ngModel" required  readonly title="{{defaultFormValues[5]['helpMessage']}}" id="start_date"/>

								<span class="input-group-btn">
									<button type="button"  class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
										<i class="glyphicon glyphicon-remove"></i>
									</button>
									<button type="button"  class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>

							</div>
							<div *ngIf="f.submitted && positionPlanStart.invalid">
								<div [hidden]="!positionPlanStart.errors.required">
								  {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							   
							  </div>
						</div>
					</div>
				</div>
				
                


                <!-- position Plan END Date-->
				<div class="form-group">

					<div [ngClass]="{'has-error': (f.submitted && !positionPlanEnd.valid) || ( !positionPlanEnd.errors?.required && error.isError) ,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">

						<div class="col-md-4">
							<label class="control-label">{{defaultFormValues[6]['fieldValue']}}</label>
						</div>
						<div class="col-md-8">
							<div class="input-group">
								<input [ngClass]="'form-control fm-txt'" placeholder="Select a date" ngx-mydatepicker name="positionPlanEnd" [(ngModel)]="modelEndDate"
									[options]="myOptions" #dp2="ngx-mydatepicker" (dateChanged)="onEndDateChanged($event)" 
									#positionPlanEnd="ngModel" required  readonly (change)="compareTwoDates(f)" (change)="onEndDateChanged($event.target.value)" title="{{defaultFormValues[6]['helpMessage']}}" id="end_date"/>

								<span class="input-group-btn">
									<button type="button"  class="btn btn-default" style="float:none; height: 40px; width: 40px;"  (click)="dp2.clearDate()">
										<i class="glyphicon glyphicon-remove"></i>
									</button>
									<button type="button"  class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
								
							</div>
							<div *ngIf="f.submitted && positionPlanEnd.invalid">
								<div [hidden]="!positionPlanEnd.errors.required">
								 {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
								</div>
							   
							  </div>
							<div *ngIf="!positionPlanEnd.errors?.required && error.isError" class="r">
								{{ error.errorMessage }}
							</div>
						</div>
						
					</div>
				</div>
								
               

                <div class="clearfix"></div>
                <!-- Buttons -->
                <div [ngClass]="'button-row'">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
                            <span class="pull-right">
                                <button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[13]['fieldValue']}}</button>
                                <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[10]['fieldValue']}}</button>
                                <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[11]['fieldValue']}}</button>
                                <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[12]['fieldValue']}}</button>
                            </span>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            <br>
            <br>
            <br>
            <br>
            </form>
            
           
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>