
<div class="content-wrapper user-view" >
  <section class="content">
    <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
      <section class="inner-content">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
          <div class="content-outer com-form">
            <div class="row">
              <div class="form-row">
                <div class="col-xs-12">
                  <div class="algo-table">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr> 
                            <th width="10%">{{defaultAddFormValues[3]['fieldValue']}} </th>
                            <th width="20%">{{defaultAddFormValues[4]['fieldValue']}}</th>
                            <th width="10%">{{defaultAddFormValues[5]['fieldValue']}}</th>
                            <th width="20%">{{defaultAddFormValues[0]['fieldValue']}}</th>
                          </tr>
                        </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <input type="text" id="txtdocumentType" myAutofocus title="{{defaultAddFormValues[3]['helpMessage']}}" [ngClass]="'form-control fm-txt auto-focus'" name="documentType" [(ngModel)]="documentType" maxlength="30" (blur)="validateArrValue('documentType')"/> 	
                                </td>
                                <td>
                                  <input type="text" id="txtdocumentTypeDescription"  title="{{defaultAddFormValues[4]['helpMessage']}}" [ngClass]="'form-control fm-txt'" name="documentTypeDescription" [(ngModel)]="documentTypeDescription" maxlength="30" (blur)="validateArrValue('documentTypeDescription')"/> 	
                                </td>
                                <td>
                                  <input type="text" id="txtdocumentCode"  title="{{defaultAddFormValues[5]['helpMessage']}}" [ngClass]="'form-control fm-txt'" name="documentCode" [(ngModel)]="documentCode" maxlength="30" (blur)="validateArrValue('documentCode')" /> 	
                                </td> 
                                <td>
                                  <input type="text" id="txtdocumentNumberLastNumber"  title="{{defaultAddFormValues[0]['helpMessage']}}" [ngClass]="'form-control fm-txt'" name="documentNumberLastNumber" [(ngModel)]="documentNumberLastNumber" maxlength="30" OnlyNumber="true" (keydown)="onlyDecimalNumberKey($event)" [readonly]="isLatNumberDisable"/> 	
                                    <a  class="add-ico-tb"><i class="fa fa-plus-circle" aria-hidden="true"  (click)="validateArrValue('documentNumberLastNumber')" ></i></a>
                                </td> 
                              </tr>
                              <tr *ngFor="let doc of rmDocumentTypeList;let i = index" >
                                <td>{{doc.documentType }} </td>
                                <td>{{doc.documentTypeDescription }} </td>
                                <td>{{doc.documentCode }} </td>
                                <td>{{doc.documentNumberLastNumber }} 
                                  <a  class="add-ico-tb"><i class="fa fa-minus-circle" aria-hidden="true"  (click)="RemoveArrValue(i)" ></i></a>
                                </td>
                              </tr>
                            </tbody>
                      </table>
                    </div>
                  </div><!-- Algo Table Ends -->
                </div>
              </div><!-- Form Row Ends -->
                <div class="button-row">
                  <div class="col-sm-12">
                    <button class="orange-btn" [disabled]="LockScreen(defaultAddFormValues[1]['writeAccess'])" 
                    title="{{defaultAddFormValues[1]['helpMessage']}}" (click)="CreateAccountPayable()">{{defaultAddFormValues[1]['fieldValue']}}</button>
                      <input type="button" class="blue-btn" title="{{defaultAddFormValues[2]['helpMessage']}}" (click)="clear()" value="{{defaultAddFormValues[2]['fieldValue']}}"/>
                          <!--<input type="button" class="blue-btn" title="{{defaultAddFormValues[2]['helpMessage']}}" (click)="this.rmDocumentTypeList=[];" value="{{defaultAddFormValues[2]['fieldValue']}}"/>-->
                  </div>
                </div><!-- Buton Row Ends -->
            </div>
          </div><!-- Content OUter Ends -->
      </section>
  </section>
</div>
