<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
        <div class="modal-content">
            <div class="modal-header">
                <span class="btnClose" (click)='closeModal()'></span> {{confirmationModalTitle}}
            </div>
            <div class="modal-body">
                <p *ngIf='!isDeleteAction'>
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
                <p *ngIf='isDeleteAction'>
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
            </div>
            <div class="modal-footer">
                <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
                <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
                <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <section class="content">
            <!-- section Heading Starts -->
            <div class="section-heading">
                <h2>{{moduleName}}</h2>
                <button class="orange-btn" title="{{USER_WISE_REPORTS_SHOW_LIST_LABEL['helpMessage']}}" [routerLink]="['/userReportManagement/userWiseReports']">{{USER_WISE_REPORTS_SHOW_LIST_LABEL['fieldValue']}}</button>
            </div>
            <!-- section Heading Ends -->
            <section class="inner-content">
                <!-- content outer Starts -->
                <div class="content-outer com-form">
                    <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{messageText}}
                    </div>
                    <!-- Content Heading Starts -->
                    <div class="content-heading">
                        <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                    </div>
                </div>
                
                    <div *ngIf="showForm">
                        <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                            {{message.text}}
                        </div>
                        <div class="clearfix"></div>
                        <form class="form-horizontal" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div *ngIf="USER_REPORT_MANAGEMENT_USER_NAME['readAccess']" [ngClass]="{'has-error': f.submitted && !userId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                                            <label for="userId">{{USER_REPORT_MANAGEMENT_USER_NAME['fieldValue']}}</label>
                                            <div [ngClass]="'select-outer'">
                                                <select [disabled]="!USER_REPORT_MANAGEMENT_USER_NAME['writeAccess']"
                                                [ngClass]="'form-control '"  placeholder="Select User"
                                                name="user" [(ngModel)]="model.userId"
                                                 #user="ngModel" title="{{USER_REPORT_MANAGEMENT_USER_NAME['helpMessage']}}"
                                                (change)="onChange(user.value)" myAutofocus [required]="USER_REPORT_MANAGEMENT_USER_NAME['isMandatory']">
                                                    <option *ngFor="let user of UserList" [value]="user.id">
                                                        {{user.userName}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="f.submitted && userId.invalid">
                                                   <div class='error-msg' *ngIf="userId.errors.required">
                                                    {{USER_REPORT_MANAGEMENT_USER_NAME['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="algo-table" *ngIf="model.userId && model.userId > 0">
                                        <div class="table-responsive">
                                            <ngx-datatable id="TrainingCourseGrid1" class="material" [rows]="reportList" [columnMode]="'force'" [headerHeight]="50"
                                                           [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="false"
                                                           [selectionType]="'checkbox'" [scrollbarH]="true">

                                                <!-- Data Grid checkbox -->
                                                <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                                                                      [checkboxable]="true">
                                                </ngx-datatable-column>

                                                <!-- Data Grid Serial NUmber -->
                                                <ngx-datatable-column name="reportId" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        <span (click)="sortColumn('reportId')">{{USER_REPORT_MANAGEMENT_REPORT_ID['fieldValue']}}</span>
                                                    </ng-template>
                                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                                        {{value}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <!-- Data Grid Bin -->
                                                <ngx-datatable-column name="reportName" [sortable]="true" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        <span (click)="sortColumn('reportName')">{{USER_REPORT_MANAGEMENT_REPORT_NAME['fieldValue']}}</span>
                                                    </ng-template>
                                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                                        {{value}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                                <!-- Data Grid Bin -->
                                                <ngx-datatable-column name="reportLink" [sortable]="true" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="true">
                                                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                                        <span (click)="sortColumn('reportLink')">{{USER_REPORT_MANAGEMENT_REPORT_LINK['fieldValue']}}</span>
                                                    </ng-template>
                                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                                        {{value}}
                                                    </ng-template>
                                                </ngx-datatable-column>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                <div>
                                </div>                                        
                            </div>
                        </div>
                    </form>
                </div>                
            </section>
        </section>
    </div>