<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
      <div class="modal-header">
        <span class="btnClose" (click)='closeModal()'></span>
        {{confirmationModalTitle}}
      </div>
      <div class="modal-body">
        <p *ngIf='!isDeleteAction'>
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
        <p *ngIf='isDeleteAction'>
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
      </div>
      <div class="modal-footer">
        <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
        <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
        <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <section class="content">
      <!-- section Heading Starts -->
      <div class="section-heading">
        <h2>{{commonService.moduleName}}</h2>
        <button class="orange-btn" (click)="Create()" title="{{HEALTHINSSETUP_CREATE_LABEL['helpMessage']}}">{{HEALTHINSSETUP_CREATE_LABEL['fieldValue']}}</button>
      </div>
      <!-- section Heading Ends -->
      <section class="inner-content">
        <!-- content outer Starts -->
        <div class="content-outer com-form">
          <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{messageText}}
          </div>
          <!-- Content Heading Starts -->
          <div class="content-heading">
            <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="search-top">
              <input type="text" class="search-txt form-control" title="{{HEALTHINSSETUP_SEARCH['helpMessage']}}" placeholder="{{HEALTHINSSETUP_SEARCH['fieldValue']}}"
                (keyup)='updateFilter($event)' />
            </div>
          </div>
 <!-- Content Heading Ends -->

            <div  class="setting-btn-wrap">
                <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
                <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
                <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
                <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
            </div>

          <!-- Content Heading Ends -->
          <div class="algo-table algo-table-department">
            <!-- Data Grid Starts-->
            <div class="table-responsive">
              <ngx-datatable id="HealthInsuranceSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">
  
                <!-- Data Grid checkbox -->
                <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                  [checkboxable]="true">
                </ngx-datatable-column>
  
                <!-- Data Grid Columns -->
                <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                  <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                      <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                              <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                              <div 
                              [draggable]="isConfigure"
                              (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                              (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                              (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                              (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                          </ng-template>
                          <ng-template let-row="row" ngx-datatable-cell-template>
                              {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                          </ng-template>
                      </ngx-datatable-column>  
                      </div>
              </div>
                <!-- Data Grid Action -->
                <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>{{HEALTHINSSETUP_ACTION['fieldValue']}}</ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
            <!-- Data Grid Ends-->
          </div>
          <div class="button-row">
            <!-- Table View Starts -->
            <div class="table-view table-view-fix">
              <span>{{HEALTHINSSETUP_TABLEVIEW['fieldValue']}}</span>
              <div class="select-outer">
                <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                  <option *ngFor="let tv of tableViews" [value]="tv.id">{{tv.name}}</option>
                </select>
              </div>
            </div>
            <!-- Table View Ends -->
  
            <div class="bottom-view">
            </div>
            <button class="blue-btn" (click)="varifyDelete()">{{HEALTHINSSETUP_DELETE_LABEL['fieldValue']}}</button>
  
            <!-- Create / Update Form start -->
            <div *ngIf="showCreateForm">
              <div class="col-md-12 mt-30">
                <hr>
              </div>
              <div class="col-md-12 mb-30">
                <h3 *ngIf="!model.id">{{HEALTHINSSETUP_CREATE_FORM_LABEL['fieldValue']}}</h3>
                <h3 *ngIf="model.id">{{HEALTHINSSETUP_UPDATE_FORM_LABEL['fieldValue']}}</h3>
              </div>
              <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                {{message.text}}
              </div>
              <div class="clearfix"></div>
              <!-- <form class="form-horizontal"> -->
                  <form class="form-horizontal" (ngSubmit)="f.form.valid && employeePay.value!=0 && employerPay.value!=0 && expenses.value!=0 && maxCoverage.value!=0 
                  && islifeTimeValidEmployeepay && islifeTimeValidEmployerpay && islifeTimeValidExpenses && islifeTimeValidMaxcoverage 
                  && isAddExpEmpMTP && isMaxCov && isEmperAmount && CreateHealthIns(f,$event)" #f="ngForm" novalidate>
                    <!--  Health Insurance  ID -->  
                    <div class="form-group">
                        
                          <div *ngIf="isUnderUpdate; then update else create"></div>
                          
                          <ng-template #update>
                              <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                                <div class="col-md-4">
                                  <label class="control-label" for="healthInsValue">{{HEALTHINSSETUP_ID['fieldValue']}}</label>
                                  <span *ngIf="HEALTHINSSETUP_ID['isMandatory']">*</span>
                                </div>
                                <div class="col-md-8">
                                  <input type="text" [ngClass]="'form-control fm-txt'" name="helthInsuranceId"  value="{{healthInsValue}}"
                                    title="{{HEALTHINSSETUP_ID['helpMessage']}}" [readonly]="HEALTHINSSETUP_ID['readAccess']" maxlength="15" />

                                </div>
                              </div>
                            </ng-template>
          
                          
                          <ng-template #create>
                            <div [ngClass]="{ 'has-error': f.submitted && !helthInsuranceId.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                              <div class="col-md-4">
                                <label class="control-label" for="helthInsuranceId">{{HEALTHINSSETUP_ID['fieldValue']}}</label>
                                <span *ngIf="HEALTHINSSETUP_ID['isMandatory']">*</span>
                              </div>
                              <div class="col-md-8">
                                <input type="text" [ngClass]="'form-control fm-txt'" class="search-id" name="helthInsuranceId" [(ngModel)]="model.helthInsuranceId" #helthInsuranceId="ngModel"
                                        title="{{HEALTHINSSETUP_ID['fieldValue']}}"  maxlength="15" [required]="HEALTHINSSETUP_ID['isMandatory']" [typeahead]="dataSource" 
                                        (typeaheadLoading)="changeTypeaheadLoading($event)"
                                        autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                        typeaheadOptionField="helthInsuranceId"/>
                                <div *ngIf="f.submitted && helthInsuranceId.invalid">
                                  <div [hidden]="!helthInsuranceId.errors.required">
                                    {{HEALTHINSSETUP_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                  </div>
          
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </div>
                      <!--  Description Field -->   
                      <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && !desc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="desc">{{HEALTHINSSETUP_DESCRIPTION['fieldValue']}}</label>
                              <span *ngIf="HEALTHINSSETUP_DESCRIPTION['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                              <input type="text" [ngClass]="'form-control fm-txt'" name="desc" [(ngModel)]="model.desc" #desc="ngModel" title="{{HEALTHINSSETUP_DESCRIPTION['helpMessage']}}"
                                maxlength="31" [required]="HEALTHINSSETUP_DESCRIPTION['isMandatory']" />
                              <div *ngIf="f.submitted && desc.invalid">
                                <div [hidden]="!desc.errors.required">
                                  {{HEALTHINSSETUP_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="!desc.errors?.maxlength" *ngIf="HEALTHINSSETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                  {{HEALTHINSSETUP_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      <!-- Arabic description -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && !arbicDesc.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="arbicDesc">{{HEALTHINSSETUP_ARABIC_DESCRIPTION['fieldValue']}}</label>
                              <span *ngIf="HEALTHINSSETUP_ARABIC_DESCRIPTION['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8 arabic-mode">
                              <input type="text" [ngClass]="'form-control fm-txt'" name="arbicDesc" [(ngModel)]="model.arbicDesc" #arbicDesc="ngModel" title="{{HEALTHINSSETUP_ARABIC_DESCRIPTION['helpMessage']}}" 
                               maxlength="61" [required]="HEALTHINSSETUP_ARABIC_DESCRIPTION['isMandatory']"/>
                              <div *ngIf="f.submitted && arbicDesc.invalid">
                                <div [hidden]="!arbicDesc.errors.required">
                                  {{HEALTHINSSETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="!arbicDesc.errors?.maxlength" *ngIf="HEALTHINSSETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]">
                                  {{HEALTHINSSETUP_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      <!-- Frequency -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && frequency.value==0,'col-md-8 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                            <div class="col-md-4">
                                <label class="control-label" for="frequency">{{HEALTHINSSETUP_FREQUENCY['fieldValue']}}</label>
                                <span *ngIf="HEALTHINSSETUP_FREQUENCY['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="frequency" [(ngModel)]="model.frequency" #frequency="ngModel"
                                title="{{HEALTHINSSETUP_FREQUENCY['helpMessage']}}" >
                                <option value="0">-- Select Frequency --</option>
                                <option *ngFor="let frequency of healthInsFrequencys" [value]="frequency.id">{{frequency.name}}</option>
                                
                               </select>
                               <div *ngIf="f.submitted && frequency.value==0">
                                  <div [hidden]="!frequency.value==0">
                                      {{HEALTHINSSETUP_FREQUENCY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      <!-- Type of Coverage -->
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && helthInsurancePrimaryId.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                          <div class="col-md-4">
                              <label class="control-label" for="helthCoverageTypeId">{{HEALTHINSSETUP_COVERAGE_TYPE['fieldValue']}}</label>
                              <span *ngIf="HEALTHINSSETUP_COVERAGE_TYPE['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                              <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="helthInsurancePrimaryId" [(ngModel)]="model.helthInsurancePrimaryId" #helthInsurancePrimaryId="ngModel"
                              title="{{HEALTHINSSETUP_COVERAGE_TYPE['helpMessage']}}">
							                <option value="0">-- Select {{HEALTHINSSETUP_COVERAGE_TYPE['fieldValue']}} --</option>
                              <option *ngFor="let covTyp of healthCovTypes" value="{{covTyp.id}}">{{covTyp.desc}}</option>
                             </select>
                             <div *ngIf="f.submitted && helthInsurancePrimaryId.value==0">
                                <div [hidden]="!helthInsurancePrimaryId.value==0">
                                    {{HEALTHINSSETUP_COVERAGE_TYPE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="!helthInsurancePrimaryId.errors?.maxlength" *ngIf="HEALTHINSSETUP_COMPANY_INSURANCE['listDtoFieldValidationMessage'][1]">
                                    {{HEALTHINSSETUP_COVERAGE_TYPE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Company Insurance -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && compnayInsurancePrimaryId.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="compnayInsuranceId">{{HEALTHINSSETUP_COMPANY_INSURANCE['fieldValue']}}</label>
                              <span *ngIf="HEALTHINSSETUP_COMPANY_INSURANCE['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="compnayInsurancePrimaryId" [(ngModel)]="model.compnayInsurancePrimaryId" #compnayInsurancePrimaryId="ngModel"
                                   title="{{HEALTHINSSETUP_COMPANY_INSURANCE['helpMessage']}}" [required]="HEALTHINSSETUP_COMPANY_INSURANCE['isMandatory']">
                                  <option value="0" selected>-- Select {{HEALTHINSSETUP_COMPANY_INSURANCE['fieldValue']}} --</option>
                                  <option *ngFor="let compInsurance of compInsurances" value="{{compInsurance.id}}">{{compInsurance.desc}}</option>
                              </select>
                              <div *ngIf="f.submitted && compnayInsurancePrimaryId.value==0">
                                <div [hidden]="!compnayInsurancePrimaryId.value==0">
                                  {{HEALTHINSSETUP_COMPANY_INSURANCE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>									
                              </div>
                            </div>
                          </div>
                        </div>

                      <!-- Group Number -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': f.submitted && !groupNumber.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="groupNumber">{{HEALTHINSSETUP_GROUP_NUMBER['fieldValue']}}</label>
                              <span *ngIf="HEALTHINSSETUP_GROUP_NUMBER['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                              <input type="text" [ngClass]="'form-control fm-txt'" name="groupNumber" [(ngModel)]="model.groupNumber" #groupNumber="ngModel" title="{{HEALTHINSSETUP_GROUP_NUMBER['helpMessage']}}"
                              [required]="HEALTHINSSETUP_GROUP_NUMBER['isMandatory']" maxlength="31" />
                              <div *ngIf="f.submitted && groupNumber.invalid">
                                <div [hidden]="!groupNumber.errors.required">
                                  {{HEALTHINSSETUP_GROUP_NUMBER['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                                <div [hidden]="!groupNumber.errors?.maxlength" *ngIf="HEALTHINSSETUP_GROUP_NUMBER['listDtoFieldValidationMessage'][1]">
                                  {{HEALTHINSSETUP_GROUP_NUMBER['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      <!-- Maximum Age -->
                      <div class="form-group">
                        <div [ngClass]="{'has-error': f.submitted && !maxAge.valid && !minAge.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                        
                          <div class="col-md-4">
                            <label class="control-label" for="">{{HEALTHINSSETUP_MAXIMUM_AGE['fieldValue']}}</label>
                            <span *ngIf="HEALTHINSSETUP_MAXIMUM_AGE['isMandatory']">*</span>
                          </div>
                          <div class="col-md-8">
                             <div class="row">
                               <div class="col-md-6">
                                 <div class="row">
                                 <div class="col-md-6">
                              <label class="control-label" for="maxAge">{{HEALTHINSSETUP_EMPLOYEE_AGE['fieldValue']}}</label>
                              <span *ngIf="HEALTHINSSETUP_EMPLOYEE_AGE['isMandatory']">*</span>
                              </div>
                              <div class="col-md-6">
                                  <input type="number" id="date1" [ngClass]="'form-control fm-txt'"
                                  name="maxAge" [(ngModel)]="model.maxAge" #maxAge="ngModel" 
                                  title="{{HEALTHINSSETUP_EMPLOYEE_AGE['helpMessage']}}"
                                  min="18" max="75"[required]="HEALTHINSSETUP_EMPLOYEE_AGE['isMandatory']" (blur)="checkAgeRange1($event)" onKeyPress="if(this.value.length==2) return false;"/>
                                  <div *ngIf="f.submitted && maxAge.invalid">
                                      <div [hidden]="!maxAge.errors.required">
                                        {{HEALTHINSSETUP_EMPLOYEE_AGE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                      </div>
                                      
                                    </div>
                              </div>
                                </div>
                               </div>
                               <div class="col-md-6">
                                 <div class="row">
                                 <div class="col-md-6">
                              <label class="control-label" for="minAge">{{HEALTHINSSETUP_DEPARTMENT_AGE['fieldValue']}}</label>
                              <span *ngIf="HEALTHINSSETUP_DEPARTMENT_AGE['isMandatory']">*</span>
                              </div>
                              <div class="col-md-6">
                                  <input type="number" id="date2" [ngClass]="'form-control fm-txt'" name="minAge" [(ngModel)]="model.minAge" #minAge="ngModel" title="{{HEALTHINSSETUP_DEPARTMENT_AGE['helpMessage']}}"
                                  [required]="HEALTHINSSETUP_DEPARTMENT_AGE['isMandatory']" min="18" max="75" (blur)="checkAgeRange2($event)" onKeyPress="if(this.value.length==2) return false;"/>
                                  <div *ngIf="f.submitted && minAge.invalid">
                                      <div [hidden]="!minAge.errors.required">
                                        {{HEALTHINSSETUP_DEPARTMENT_AGE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                      </div>
                                      <div *ngIf="!minAge.errors?.required && mminAge.value==0">
                                        {{HEALTHINSSETUP_DEPARTMENT_AGE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                      </div>
                                    </div>
                              </div>
                                </div>
                               </div>
                             </div>
                            
                          </div>
                        
                        </div>
                      </div>

                      <!-- Employee Pay -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': (f.submitted && !employeePay.valid) || (!employeePay.errors?.required && employeePay.value==0) ||!islifeTimeValidEmployeepay,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="employeePay">{{HEALTHINSSETUP_EMPLOYEE_PAY['fieldValue']}}</label>
                              <span *ngIf="HEALTHINSSETUP_EMPLOYEE_PAY['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                              <input 
                              type="number" 
                              [ngClass]="'form-control fm-txt'" 
                              name="employeePay" 
                              [(ngModel)]="model.employeePay" 
                              #employeePay="ngModel" 
                              title="{{HEALTHINSSETUP_EMPLOYEE_PAY['fieldValue']}}" 
                              (keyup)="checkdecimalemployeepay(employeePay.value);" 
                              maxlength="11" min="1" 
                              onKeyPress="if(this.value.length==10) return false;" 
                              max="9999999999" 
                              [required]="HEALTHINSSETUP_EMPLOYEE_PAY['isMandatory']" 
                              onkeypress="return check_digit(event,this,10,3);" 
                              (keyup)="onChangeEmpleeAmount(employeePay.value);" 
                              (change)= "onChangeEmpleeAmount(employeePay.value);" />
                                <div *ngIf="(f.submitted && employeePay.invalid) || (!employeePay.errors?.required && employeePay.value==0) || !islifeTimeValidEmployeepay">

                                    <div [hidden]="!employeePay.errors?.required">
                                        {{HEALTHINSSETUP_EMPLOYEE_PAY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div *ngIf="!employeePay.errors?.required && employeePay.value==0 && islifeTimeValidEmployeepay">
                                        {{HEALTHINSSETUP_EMPLOYEE_PAY['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div *ngIf="!employeePay.errors?.required && !islifeTimeValidEmployeepay">
                                        {{HEALTHINSSETUP_EMPLOYEE_PAY['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>

                      <!-- Employer Pay -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': (f.submitted && !employerPay.valid) || (!employerPay.errors?.required && employerPay.value==0) || !isEmperAmount || !islifeTimeValidEmployerpay,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="employerPay">{{HEALTHINSSETUP_EMPLOYER_PAY['fieldValue']}}</label>
                              <span *ngIf="HEALTHINSSETUP_EMPLOYER_PAY['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                              <input 
                              type="number"  
                              [ngClass]="'form-control fm-txt'" 
                              maxlength="11" 
                              name="employerPay" 
                              [(ngModel)]="model.employerPay" 
                              #employerPay="ngModel" 
                              title="{{HEALTHINSSETUP_EMPLOYER_PAY['helpMessage']}}" 
                              [required]="HEALTHINSSETUP_EMPLOYER_PAY['isMandatory']" 
                              (keyup)="checkdecimalemployerpay(employerPay.value)" 
                              min="1" 
                              max="9999999999" 
                              onKeyPress="if(this.value.length==10) return false;" 
                              onkeypress="return check_digit(event,this,10,3);"  
                              (keyup)= "onChangeEmplerAmount(employerPay.value);" 
                              (change)="onChangeEmplerAmount(employerPay.value);" />
                                <div *ngIf="(f.submitted && employerPay.invalid) || (!employerPay.errors?.required && employerPay.value==0) || !islifeTimeValidEmployerpay || !isEmperAmount">
                                    <div [hidden]="!employerPay.errors?.required">
                                        {{HEALTHINSSETUP_EMPLOYER_PAY['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div *ngIf="!employerPay.errors?.required && employerPay.value==0 && islifeTimeValidEmployerpay">
                                        {{HEALTHINSSETUP_EMPLOYER_PAY['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div *ngIf="!employerPay.errors?.required && !islifeTimeValidEmployerpay">
                                        {{HEALTHINSSETUP_EMPLOYER_PAY['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                    </div>
                                    <div *ngIf="!employerPay.errors?.required && !isEmperAmount" >
                                      {{HEALTHINSSETUP_EMPLOYER_PAY['listDtoFieldValidationMessage'][3]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>

                      <!-- Additional Expenses Employee Must To Pay  -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': (f.submitted && !expenses.valid) || (!expenses.errors?.required && expenses.value==0) || !isAddExpEmpMTP || !islifeTimeValidExpenses,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="expenses">{{HEALTHINSSETUP_ADD_EXP['fieldValue']}}</label>
                              <span *ngIf="HEALTHINSSETUP_ADD_EXP['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                              <input 
                              type="number" 
                              [ngClass]="'form-control fm-txt'"  
                              maxlength="11" 
                              name="expenses" 
                              [(ngModel)]="model.expenses" 
                              #expenses="ngModel" 
                              title="{{HEALTHINSSETUP_ADD_EXP['helpMessage']}}" 
                              [required]="HEALTHINSSETUP_ADD_EXP['isMandatory']" 
                              (keyup)="checkdecimalexpenses(expenses.value)" 
                              min="1" 
                              max="9999999999" 
                              onKeyPress="if(this.value.length==10) return false;" 
                              onkeypress="return check_digit(event,this,10,3);"
                              
                              (keyup)="onChangeEmperMTPAmount(expenses.value)"
                              (change)="onChangeEmperMTPAmount(expenses.value)"/>
                                <div *ngIf="(f.submitted && expenses.invalid) || (!expenses.errors?.required && expenses.value==0) || !isAddExpEmpMTP || !islifeTimeValidExpenses">
                                    <div [hidden]="!expenses.errors?.required">
                                        {{HEALTHINSSETUP_ADD_EXP['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div *ngIf="!expenses.errors?.required && expenses.value==0 && islifeTimeValidExpenses">
                                        {{HEALTHINSSETUP_ADD_EXP['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                    </div>
                                    <div *ngIf="!expenses.errors?.required && !islifeTimeValidExpenses">
                                        {{HEALTHINSSETUP_ADD_EXP['listDtoFieldValidationMessage'][3]['validationMessage']}}
                                    </div>
                                    <div *ngIf="!expenses.errors?.required && !isAddExpEmpMTP">
                                      {{HEALTHINSSETUP_ADD_EXP['listDtoFieldValidationMessage'][4]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>

                      <!-- Maximum Coverage -->
                      <div class="form-group">
                          <div [ngClass]="{'has-error': (f.submitted && !maxCoverage.valid) || (!maxCoverage.errors?.required && maxCoverage.value==0) || !isMaxCov || !islifeTimeValidMaxcoverage,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                            <div class="col-md-4">
                              <label class="control-label" for="maxCoverage">{{HEALTHINSSETUP_COVERAGE_MAXIMUM['fieldValue']}}</label>
                              <span *ngIf="HEALTHINSSETUP_COVERAGE_MAXIMUM['isMandatory']">*</span>
                            </div>
                            <div class="col-md-8">
                              <input 
                              type="number" 
                              [ngClass]="'form-control fm-txt'" 
                              name="maxCoverage" 
                              [(ngModel)]="model.maxCoverage" 
                              #maxCoverage="ngModel" 
                              title="{{HEALTHINSSETUP_COVERAGE_MAXIMUM['helpMessage']}}" 
                              [required]="HEALTHINSSETUP_COVERAGE_MAXIMUM['isMandatory']"  
                              maxCoverage="true" 
                              maxlength="11" 
                              (keyup)="checkdecimalcoverage(maxCoverage.value)" 
                              min="1" 
                              max="9999999999" 
                              onKeyPress="if(this.value.length==10) return false;" 
                              onkeypress="return check_digit(event,this,10,3);" 
                              (keyup)="onChangeMaxCov(maxCoverage.value)"
                              (change)="onChangeMaxCov(maxCoverage.value)" />

                                <div *ngIf="(f.submitted && maxCoverage.invalid) || (!maxCoverage.errors?.required && maxCoverage.value==0) || !islifeTimeValidMaxcoverage || !isMaxCov">
                                    <div [hidden]="!maxCoverage.errors?.required">
                                        {{HEALTHINSSETUP_COVERAGE_MAXIMUM['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div *ngIf="!maxCoverage.errors?.required && maxCoverage.value==0 && islifeTimeValidMaxcoverage">
                                        {{HEALTHINSSETUP_COVERAGE_MAXIMUM['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div *ngIf="!maxCoverage.errors?.required && !islifeTimeValidMaxcoverage">
                                        {{HEALTHINSSETUP_COVERAGE_MAXIMUM['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                    </div>
                                    <div *ngIf="!maxCoverage.errors?.required && !isMaxCov">
                                      {{HEALTHINSSETUP_COVERAGE_MAXIMUM['listDtoFieldValidationMessage'][3]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                      
                      <!-- Buttons -->
                      <div class="button-row">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                          <div class="col-xs-12"> <span class="pull-right"> 
                              <button *ngIf="model.id" [ngClass]="'grey-btn'">{{HEALTHINSSETUP_UPDATE_LABEL['fieldValue']}}</button>
                              <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{HEALTHINSSETUP_SAVE_LABEL['fieldValue']}}</button>
                              <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{HEALTHINSSETUP_CLEAR_LABEL['fieldValue']}}</button>
                              <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{HEALTHINSSETUP_CANCEL_LABEL['fieldValue']}}</button>
                            </span> </div>
                        </div>
                      </div>
                    </form>     
              <!-- Create Update form ends -->
          </div>
        </div>
      </div>
      </section>
    </section>
  </div>
