<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span> {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{PAY_CODE_CREATE_LABEL['fieldValue']}}">{{PAY_CODE_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{PAY_CODE_SEARCH_LABEL['fieldValue']}}" placeholder="{{PAY_CODE_SEARCH_LABEL['fieldValue']}}"
              (keyup)='searchFilter($event)' />
          </div>
        </div>

        <div class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i
                  class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)"
                  title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)"
                  title="Save"><i class="fa fa-save"></i></button>
        </div>

      <div class="algo-table algo-table-department">
        <!-- Data Grid Starts-->
        <div class="table-responsive">
          <ngx-datatable id="deductionCodeGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
            [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'
            [scrollbarH]="true">

            <!-- Data Grid checkbox -->
            <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
            </ngx-datatable-column>

            <!-- Data Grid Employee   Id -->
            <ngx-datatable-column name="employeeMaster" [width]="110" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sortColumn('employeeMaster')">{{PAY_CODE_EMPLOYEE_ID['fieldValue']}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.employeeId}}
              </ng-template>
            </ngx-datatable-column>

            <!-- Data Grid Emp Pay Code  -->
            <ngx-datatable-column name="payCode" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sortColumn('payCode')">{{PAY_CODE_ID['fieldValue']}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.payCodeId}}
              </ng-template>
            </ngx-datatable-column>

            <!-- Data Grid  Pay Type -->
            <ngx-datatable-column name="payCodeType" [width]="120" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sortColumn('payCodeType')">{{PAY_CODE_PAY_TYPE['fieldValue']}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value.desc}}
              </ng-template>
            </ngx-datatable-column>

            <!-- Data Grid  Pay Factor -->
            <ngx-datatable-column name="payFactory" [width]="120" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sortColumn('payFactory')">{{PAY_CODE_PAY_FACTOR['fieldValue']}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value}}
              </ng-template>
            </ngx-datatable-column>

            <!-- Data Grid  Unit of Pay  -->
            <ngx-datatable-column name="unitOfPay" [width]="110" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sortColumn('unitOfPay')">{{PAY_CODE_UNIT_OF_PAY['fieldValue']}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{frequencyArray[value]}}
              </ng-template>
            </ngx-datatable-column>

            <!-- Data Grid Pay Period  -->
            <ngx-datatable-column name="payPeriod" [canAutoResize]="false" [width]="110" [draggable]="false"
              [resizeable]="false">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span (click)="sortColumn('payPeriod')">{{PAY_CODE_PAY_PERIOD['fieldValue']}}</span>
              </ng-template>
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{frequencyArray[value]}}
              </ng-template>
            </ngx-datatable-column>

            <!-- Data Grid Action -->
            <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="false">
              <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                {{PAY_CODE_ACTION['fieldValue']}}
              </ng-template>
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
        <!-- Data Grid Ends-->
      </div>

      <div class="button-row">
        <!-- Table View Starts -->
        <div class="table-view table-view-fix">
          <span>TABLE VIEW</span>
          <div class="select-outer">
            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize"
              #cityId="ngModel">
              <option value="5">5 at a time </option>
              <option value="15">15 at a time </option>
              <option value="50">50 at a time </option>
              <option value="100">100 at a time </option>
            </select>
          </div>
        </div>
        <!-- Table View Ends -->

        <div class="bottom-view">
        </div>
        <button class="blue-btn" (click)="varifyDelete()">{{PAY_CODE_DELETE_LABEL['fieldValue']}}</button>

        <!-- Create / Update Form start -->
        <div *ngIf="showCreateForm">
          <div class="col-md-12 mt-30">
            <hr>
          </div>
          <div class="col-md-12 mb-30">
            <h3 *ngIf="!model.id">{{PAY_CODE_CREATE_FORM_LABEL['fieldValue']}}</h3>
            <h3 *ngIf="model.id">{{PAY_CODE_UPDATE_FORM_LABEL['fieldValue']}}</h3>
          </div>
          <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="clearfix"></div>
          <form class="form-horizontal" (ngSubmit)="f.form.valid && !checkPayCodeValidId && !checkEmpValidId && amount != 0 && payPeriod!= 0 && unitOfPay.value!=0 && payPeriod.value!=0 && decimalValue && CreateDeductionCode(f, $event) "
            #f="ngForm" novalidate>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <div *ngIf="isUnderUpdate; then update else create"></div>
                  <!-- form update  -->
                  <ng-template #update>
                    <div [ngClass]="{ 'col-md-6 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                      <div class="col-md-4">
                        <label class="control-label" for="employeeDependent">{{PAY_CODE_EMPLOYEE_ID['fieldValue']}}</label>
                      </div>
                      <div class="col-md-8">
                        <div class="row">
                          <!-- Employee ID -->
                          <div class="col-md-12">
                            <input type="text" [ngClass]="'form-control fm-txt'" name="employeeDependent" value="{{employeeIdValue}}"
                              title="{{PAY_CODE_EMPLOYEE_ID['fieldValue']}}" [readonly]="!PAY_CODE_EMPLOYEE_ID['writeAccess']" maxlength="15" />
                          </div>
                          <!-- <div class="col-md-6">
                            <div class="col-md-1">
                              <input type="checkbox" (click)="checkDeductionCodeForm($event)" name="inactive"
                                [(ngModel)]="model.inactive" #inactive="ngModel">
                            </div>
                            <div class="col-md-5" style="padding-top: 9px;">
                              <label for="Inactive">
                                {{PAY_CODE_INACTIVE['fieldValue']}}
                              </label>
                            </div>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </ng-template>

                  <!-- form Create -->
                  <ng-template #create>
                    <div [ngClass]="{'has-error': f.submitted && !employeeMaster.valid || checkEmpValidId,'col-md-6 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                      <div class="col-md-4">
                        <label class="control-label" for="employeeMaster">{{PAY_CODE_EMPLOYEE_ID['fieldValue']}}</label>
                      </div>
                      <div class="col-md-8">
                        <div class="row">
                          <!-- Employee ID -->
                          <div class="col-md-12">
                            <input type="text" [ngClass]="'form-control fm-txt search-id'" name="employeeMaster"
                              [(ngModel)]="modelemployeeId" #employeeMaster="ngModel" title="{{PAY_CODE_EMPLOYEE_ID['fieldValue']}}" [required]="PAY_CODE_EMPLOYEE_ID['isMandatory']"
                              maxlength="15" class="search-id" autocomplete="off" [typeahead]="employeeIDList"
                              (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event, 'employeeId'); CheckValidID($event, 'employeeId')"
                              typeaheadOptionField="employeeId" (keyup)="CheckValidID($event, 'employeeId')" />
                            <div *ngIf="f.submitted && employeeMaster.invalid">
                              <div [hidden]="!employeeMaster.errors.required">
                                This field is required
                              </div>
                            </div>
                            <div *ngIf="checkEmpValidId">
                              Invalid input.
                            </div>
                          </div>
                          <!-- Inactive -->
                      </div>
                    </div>
                  </div>
                  </ng-template>

                  <div class="col-md-2" style="margin-top: -30px;">
                      <label class="control-label" for="type">Type</label>
                    <select name="type" [ngClass]="'form-control fm-txt'" (click)="checkPaycodeForm($event)" [disabled]="true" [(ngModel)]="model.payTypeId"
                      #type="ngModel">
                      <option value="">-- Select Type --</option>
                      <option *ngFor="let val of typeData" value="{{val.id}}">{{val.value}}</option>
                    </select>
                  </div>

                  <div class="col-md-2" style="margin-top: -30px;">
                      <label class="control-label" for="round">Rounding</label>
                      <!-- <span *ngIf="PAYCODE_DESCRIPTION['isMandatory']">*</span> -->
                    <select name="round" [disabled]="true" [ngClass]="'form-control fm-txt'" [(ngModel)]="model.roundOf"
                      #round="ngModel">
                      <option value= "0">0</option>
                      <option value= "1">0.0</option>
                      <option value= "2">0.00</option>
                      <option value= "3">0.000</option>
                      <option value= "4">0.0000</option>
                    </select>
                  </div>

                  <div class="col-md-2">
                      <input type="checkbox" (click)="checkDeductionCodeForm($event)" name="inactive"
                        [(ngModel)]="model.inactive" #inactive="ngModel">
                      <label for="Inactive">
                        {{PAY_CODE_INACTIVE['fieldValue']}}
                      </label>
                  </div>
                </div>

                <!-- Name -->
                <div class="form-group">
                  <div [ngClass]="{'col-md-6 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="employeeFirstName">{{PAY_CODE_EMPLOYEE_NAME['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="employeeFirstName" value="{{employeeFirstName}}"
                        title="{{PAY_CODE_EMPLOYEE_NAME['fieldValue']}}" [required]="PAY_CODE_EMPLOYEE_NAME['isMandatory']" maxlength="31" [readonly]="!PAY_CODE_EMPLOYEE_NAME['writeAccess']" />
                    </div>
                  </div>
                </div>

                <!-- Pay Code ID-->
                <div *ngIf="isUnderUpdate; then updatePC else createPC"></div>
                <!-- Form Update Case -->
                <ng-template #updatePC>
                  <div class="form-group">
                    <div [ngClass]="{'col-md-6 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="payCode">{{PAY_CODE_ID['fieldValue']}}</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="payCode" value="{{payCodeValue}}"
                          title="{{PAY_CODE_ID['fieldValue']}}" [readonly]="!PAY_CODE_ID['writeAccess']" />
                      </div>
                    </div>
                  </div>
                </ng-template>

                <!-- Create Case -->
                <ng-template #createPC>
                  <div class="form-group">
                    <div [ngClass]="{'has-error': f.submitted && !payCode.valid || checkPayCodeValidId,'col-md-6 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="payCode">{{PAY_CODE_ID['fieldValue']}}</label>
                      </div>
                      <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt search-id'" name="payCode" [(ngModel)]="modelPayCodeId"
                          #payCode="ngModel" title="{{PAY_CODE_ID['fieldValue']}}" [required]="PAY_CODE_ID['isMandatory']" class="search-id" [typeahead]="payCodeIdList"
                          (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event, 'payCodeId'); CheckValidID($event, 'payCodeId')"
                          autocomplete="off" typeaheadOptionField="payCodeId" (keyup)="CheckValidID($event, 'payCodeId')" />
                        <div *ngIf="f.submitted && payCode.invalid">
                          <div [hidden]="!payCode.errors.required">
                            This field is required
                          </div>
                        </div>
                        <div *ngIf="checkPayCodeValidId">
                          Invalid input.
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>

                <!--  Description Field -->
                <div class="form-group">
                  <div [ngClass]="{'col-md-6 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="discription">{{PAY_CODE_DESCRIPTION['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="discription" value="{{payCodeDesc}}"
                        title="{{PAY_CODE_DESCRIPTION['fieldValue']}}" [required]="PAY_CODE_DESCRIPTION['isMandatory']" maxlength="31" [readonly]="!PAY_CODE_DESCRIPTION['writeAccess']" />
                    </div>
                  </div>
                </div>

                <!-- Arabic Deduction Code description -->
                <div class="form-group">
                  <div [ngClass]="{'col-md-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="arbicDiscription">{{PAY_CODE_ARABIC_DESCRIPTION['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8 arabic-mode">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="arbicDiscription" value="{{payCodeArabicDesc}}"
                        title="{{PAY_CODE_ARABIC_DESCRIPTION['fieldValue']}}" maxlength="61" [required]="PAY_CODE_ARABIC_DESCRIPTION['isMandatory']" [readonly]="!PAY_CODE_ARABIC_DESCRIPTION['writeAccess']" />
                    </div>
                  </div>
                </div>

                <!-- Pay Code Type -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !payCodeType.valid,'col-md-6 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="payCodeType">{{PAY_CODE_PAY_TYPE['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt search-id'" name="payCodeType" [(ngModel)]="modelPayCodeTypeId"
                        #payCodeType="ngModel" title="{{PAY_CODE_PAY_TYPE['fieldValue']}}" [required]="PAY_CODE_PAY_TYPE['isMandatory']" class="search-id" [typeahead]="payCodeTypeIdList"
                        (typeaheadLoading)="changeTypeaheadLoading($event)" (typeaheadOnSelect)="typeaheadOnSelect($event, 'payCodeType')"
                        autocomplete="off" typeaheadOptionField="desc"  [readonly]="true"/>
                      <div *ngIf="f.submitted && payCodeType.invalid">
                        <div [hidden]="!payCodeType.errors.required">
                          This field is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Based On Pay Code -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && !baseOnPayCode.valid, 'col-md-6 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="baseOnPayCode">{{PAY_CODE_BASE_ON_PAY_CODE['fieldValue']}}</label>
                    </div>
                    <div class="col-md-4">
                      <input type="text" [ngClass]="'form-control fm-txt search-id'" name="baseOnPayCode"
                        #baseOnPayCode="ngModel" [(ngModel)]="model.baseOnPayCode" title="{{PAY_CODE_BASE_ON_PAY_CODE['fieldValue']}}" maxlength="15"
                        [typeahead]="basedOnPayCodeIdList" (typeaheadLoading)="clearPrefixedData()" (typeaheadLoading)="changeTypeaheadLoading($event)"
                        (typeaheadOnSelect)="typeaheadOnSelect($event, 'basedOnPayCode')" autocomplete="off" disabled
                        typeaheadOptionField="dtoPayCode.payCodeId" />
                      <div *ngIf="f.submitted && baseOnPayCode.invalid">
                        <div [hidden]="!baseOnPayCode.errors.required">
                          This field is required
                        </div>
                      </div>
                    </div>
                    <!-- Base on Paycode Amount -->
                    <div class="col-md-4" style="background:#eee">
                      <div [ngClass]="{'has-error': (f.submitted && !amount.valid),'col-md-offset-4': currentLanguage == 2}">
                        <input [required]="false" [required]="PAY_CODE_AMOUNT['isMandatory']" name="amount" #amount="ngModel" [readonly]="true" [(ngModel)]="model.amount"
                          type="number" min='0' (keyup)="calculatePayRate(amount.value);" (change)="calculatePayRate(amount.value);"
                          [ngClass]="'form-control fm-txt'" />
                        <!-- <div *ngIf="f.submitted && !amount.valid">
                            <div [hidden]="!amount.errors.required">
                              This field is required
                            </div>
                          </div> -->
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Pay Factor -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': (f.submitted && payFactory.invalid) || islifeTimeValidEmployerpay || !decimalValue,'col-md-6 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="payFactory">{{PAY_CODE_PAY_FACTOR['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="payFactory"
                        [(ngModel)]="model.payFactory" #payFactory="ngModel" title="{{PAY_CODE_PAY_FACTOR['fieldValue']}}" maxlength="11" min="0"
                        (keyup)="calculatePayRate(payFactory.value);" (keyup)="checkdecimalpayRate(payFactory.value)"
                        (change)="calculatePayRate(payFactory.value);" onKeyPress="if(this.value.length==10) return false;"
                        max="9999999999" onkeypress="return check_digit(event,this,10,3);" [required]="model.baseOnPayCode != ''" disabled/>
                      <div *ngIf="f.submitted && payFactory.invalid">
                        <div [hidden]="!payFactory.errors.required">
                          This field is required
                        </div>
                      </div>
                      <div *ngIf="islifeTimeValidEmployerpay">
                        Invalid Input
                      </div>
                      <div *ngIf="!decimalValue">
                        <div *ngIf="payFactor.dirty && payFactor.value.length!=0 || !decimalValue">
                          Invalid Pay Fector
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Pay Rate -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': (f.submitted && !payRate.valid) || islifeTimeValidEmployerpay,'col-md-6 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="payRate">{{PAY_CODE_PAY_RATE['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <input type="number" [ngClass]="'form-control fm-txt'" name="payRate" [(ngModel)]="model.payRate"
                        #payRate="ngModel" title="{{PAY_CODE_PAY_RATE['fieldValue']}}" min='0' [required]="model.baseOnPayCode == ''" [readonly]="isPayRateReadOnly" />
                      <div *ngIf="f.submitted && !payRate.valid">
                        <div [hidden]="!payRate.errors.required">
                          This field is required
                        </div>
                      </div>
                      <div *ngIf="!payRate.errors?.required && islifeTimeValidEmployerpay">
                        Invalid Input
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Unit of Pay -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && unitOfPay.value==0,'col-md-6 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="unitOfPay">{{PAY_CODE_UNIT_OF_PAY['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="unitOfPay"
                        [(ngModel)]="model.unitOfPay" #unitOfPay="ngModel" title="{{PAY_CODE_UNIT_OF_PAY['fieldValue']}}" disabled [required]="PAY_CODE_UNIT_OF_PAY['isMandatory']">
                        <option value="0">-- Select Unit Of Pay --</option>
                        <option value="1">Weekly</option>
                        <option value="2">Biweekly</option>
                        <option value="3">Semimonthly</option>
                        <option value="4">Monthly</option>
                        <option value="5">Quarterly</option>
                        <option value="6">Semiannually</option>
                        <option value="7">Annually</option>
                        <option value="8">Daily/Miscellaneous</option>
                      </select>
                      <div *ngIf="f.submitted && unitOfPay.value==0">
                        <div [hidden]="unitOfPay.value!=0">
                          This field is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Pay Period -->
                <div class="form-group">
                  <div [ngClass]="{'has-error': f.submitted && payPeriod.value==0,'col-md-6 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label class="control-label" for="payPeriod">{{PAY_CODE_PAY_PERIOD['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                      <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="payPeriod"
                        [(ngModel)]="model.payPeriod" #payPeriod="ngModel" title="{{PAY_CODE_PAY_PERIOD['fieldValue']}}" disabled [required]="PAY_CODE_PAY_PERIOD['isMandatory']">
                        <option value="0">-- Select Per Periord --</option>
                        <option value="1">Weekly</option>
                        <option value="2">Biweekly</option>
                        <option value="3">Semimonthly</option>
                        <option value="4">Monthly</option>
                        <option value="5">Quarterly</option>
                        <option value="6">Semiannually</option>
                        <option value="7">Annually</option>
                        <option value="8">Daily/Miscellaneous</option>
                      </select>
                      <div *ngIf="f.submitted && payPeriod.value==0">
                        <div [hidden]="payPeriod.value!=0">
                          This field is required
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div [ngClass]="'button-row'">
                  <div [ngClass]="{'col-md-10 col-sm-6 col-xs-12': true, '': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
                      <span class="pull-right">
                        <button *ngIf="model.id" [ngClass]="'grey-btn'">{{PAY_CODE_UPDATE_LABEL['fieldValue']}}</button>
                        <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{PAY_CODE_SAVE_LABEL['fieldValue']}}</button>
                        <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{PAY_CODE_CLEAR_LABEL['fieldValue']}}</button>
                        <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{PAY_CODE_CANCEL_LABEL['fieldValue']}}</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
        <!-- Create Update form ends -->
      </div>
      </div>
    </section>
  </section>
</div>
