<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
      <div class="modal-header">
          <span class="btnClose" (click)='closeModal()'></span>
          {{confirmationModalTitle}}
      </div>
      <div class="modal-body">
          <p *ngIf='!isDeleteAction'>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
          <p *ngIf='isDeleteAction'>
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
      </div>
      <div class="modal-footer">
          <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
          <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
          <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
      </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{CREATE['helpMessage']}}">{{CREATE['fieldValue']}}</button>

    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
              <input type="text" class="search-txt form-control" title="{{SEARCH['helpMessage']}}" placeholder="{{SEARCH['fieldValue']}}"
                  (keyup)='updateFilter($event)' />
          </div>

        </div>
        <!-- Content Heading Ends -->

        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>

        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="DepartmentGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
              (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="true" [headerCheckboxable]="true"
                [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Column one Id -->
              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">
                  <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                      <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                      <div
                              [draggable]="isConfigure"
                              (dragstart)="commonService.drag($event,0,i,grid.colOrder)"
                              (drop)="commonService.drop($event,0,i,grid.colOrder)"
                              (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)"
                              (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                    </ng-template>
                  </ngx-datatable-column>
                </div>
              </div>
              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="true">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>

        <div class="button-row">
            <!-- Table View Starts -->
            <div class="table-view table-view-fix">
                <span>TABLE VIEW</span>
                <div class="select-outer">
                  <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                    <option value="5">5 at a time </option>
                    <option value="15">15 at a time </option>
                    <option value="50">50 at a time </option>
                    <option value="100">100 at a time </option>
                  </select>
                </div>
              </div>
              <button class="blue-btn" (click)="varifyDelete()">{{DELETE['fieldValue']}}</button>
              <!-- Table View Ends -->
          <!-- Create / Update Form start -->
          <div id="print-section-form" *ngIf="showCreateForm">
              <div class="col-md-12 mt-30">
                  <hr>
                </div>
            <div class="col-md-12 mb-30" style="margin-left: 30px;">
              <h3 *ngIf="!model.id">{{CREATE['fieldValue']}} {{moduleName}}</h3>
              <h3 *ngIf="model.id">{{UPDATE['fieldValue']}} {{moduleName}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && employeeIndexId != null &&  HelthInsuranceId != null && CreateHealthInsuranceEnrollment(f, $event)" #f="ngForm" novalidate>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <!-- EMPLOYEE_ID -->
                  <div class="form-group"  *ngIf="!model.id">
                    <div [ngClass]="{'has-error': f.submitted && ( !employeeMaster.valid || employeeIndexId == null),'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="employeeMaster">{{EMPLOYEE_ID['fieldValue']}}</label>
                        <span *ngIf="EMPLOYEE_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="employeeMaster" [(ngModel)]="model.employeeMaster.employeeId" #employeeMaster="ngModel"
                          title="{{EMPLOYEE_ID['helpMessage']}}" [required]="EMPLOYEE_ID['isMandatory']" [typeahead]="employeeIdList" (typeaheadLoading)="changeTypeaheadLoading($event)"
                          autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect($event)" typeaheadOptionField="employeeMaster.employeeId" class="search-id"
                          maxlength="10" />
                        
                        <div *ngIf="f.submitted && employeeMaster.invalid;else employeeMastersecond">
                          <div [hidden]="!employeeMaster.errors.required">
                            {{EMPLOYEE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                        <ng-template #employeeMastersecond>
                          <div *ngIf="f.submitted && employeeIndexId == null">
                            Invalid Employee ID.
                          </div>
                        </ng-template>

                      </div>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="model.id">
                    <div [ngClass]="{ 'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="employeeName">{{EMPLOYEE_ID['fieldValue']}}</label>
                        <span *ngIf="EMPLOYEE_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input  disabled type="text" [ngClass]="'form-control fm-txt'" name="employeeMaster" [(ngModel)]="employeeId" #employeeMaster="ngModel"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- employeeName -->
                  <div class="form-group">
                    <div [ngClass]="{ 'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="employeeName">{{NAME['fieldValue']}}</label>
                        <span *ngIf="NAME['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input disabled type="text" [ngClass]="'form-control fm-txt'" name="employeeName" [(ngModel)]="EmployeeName" #employeeName="ngModel"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- helthInsurance -->
                  <div class="form-group" *ngIf="!model.id">
                    <div [ngClass]="{ 'has-error': f.submitted && (!helthInsurance.valid || HelthInsuranceId == null),'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                      <div class="col-md-4">
                        <label class="control-label" for="helthInsurance">{{HEALTH_INSURANCE_ID['fieldValue']}}</label>
                        <span *ngIf="HEALTH_INSURANCE_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="helthInsurance" [(ngModel)]="helthInsuranceIdValue" #helthInsurance="ngModel"
                          title="{{HEALTH_INSURANCE_ID['helpMessage']}}" class="search-id" [required]="HEALTH_INSURANCE_ID['isMandatory']" maxlength="15" [typeahead]="healthInsuranceIdList"
                          typeaheadOptionField="helthInsurance.helthInsuranceId" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelectHelthInsurance($event)" />

                        <div *ngIf="f.submitted && helthInsurance.invalid;else helthInsuranceecond">
                          <div [hidden]="!helthInsurance.errors.required">
                            {{HEALTH_INSURANCE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                        <ng-template #helthInsuranceecond>
                          <div *ngIf="f.submitted && HelthInsuranceId == null">
                            Invalid HelthInsurance ID.
                          </div>
                        </ng-template>

                      </div>
                    </div>
                  </div>
                  <div class="form-group" *ngIf="model.id">
                    <div [ngClass]="{ 'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="employeeName">{{HEALTH_INSURANCE_ID['fieldValue']}}</label>
                        <span *ngIf="HEALTH_INSURANCE_ID['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input *ngIf="model.id" disabled type="text" [ngClass]="'form-control fm-txt'" name="helthInsurance" [(ngModel)]="helthInsuranceIdValue" #helthInsurance="ngModel"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- DESCRIPTION -->
                  <div class="form-group">
                    <div [ngClass]="{ 'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="description">{{DESCRIPTION['fieldValue']}}</label>
                        <span *ngIf="DESCRIPTION['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input disabled type="text" [ngClass]="'form-control fm-txt'" name="description" [(ngModel)]="Description" #description="ngModel"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- STATUS -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': f.submitted && status.value==null,'col-md-12 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="status">{{STATUS['fieldValue']}}</label>
                        <span *ngIf="STATUS['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <select class="form-control fm-txt" [ngClass]="'form-control fm-txt'" name="status" [(ngModel)]="model.status" #status="ngModel"
                          title="status" required>
                          <option value=null>--Select--</option>
                          <option value="1">Active</option>
                          <option value="2">Inactive</option>
                          <option value="3">Waived</option>
                          <option value="4">Ineligible</option>
                          <option value="5">Terminated</option>
                          <option value="6">Family Leave</option>
                          <option value="7">Pending</option>
                        </select>
                        <div *ngIf="f.submitted && status.value==null">
                          <div [hidden]="!status.value==null">
                            {{STATUS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- eligibilityDate -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': (f.submitted && !frmEligibilityDate.valid || errorbenefitEligibilityDate.isError),'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="frmEligibilityDate">{{ELIGIBILITY_DATE['fieldValue']}}</label>
                        <span *ngIf="ELIGIBILITY_DATE['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <div class="input-group">
                          <input [ngClass]="'form-control fm-txt'" ngx-mydatepicker name="frmEligibilityDate" [(ngModel)]="modelEligibilityDate" [options]="myOptions"
                            #dp1="ngx-mydatepicker" (dateChanged)="onEligibilityDateChanged($event)" (change)="onEligibilityDateChanged($event.target.value)"
                            #frmEligibilityDate="ngModel" [required]="ELIGIBILITY_DATE['isMandatory']" [readonly]="!ELIGIBILITY_DATE['writeAccess']" title="{{ELIGIBILITY_DATE['helpMessage']}}"
                            id="start_date" />

                          <span class="input-group-btn doNotPrintt">
                            <button type="button" class="btn btn-default doNotPrintt" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                              <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default doNotPrint" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </div>
                        <div *ngIf="f.submitted && frmEligibilityDate.invalid">
                          <div [hidden]="!frmEligibilityDate.errors.required">
                            {{ELIGIBILITY_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                        <div *ngIf="!frmEligibilityDate.errors?.required && errorbenefitEligibilityDate.isError" class="r">
                          {{ errorbenefitEligibilityDate.errorMessage }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <!-- benefitStartDate -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': (f.submitted && !frmBenefitStartDate.valid || errorbenefitStartDate.isError) ,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="frmBenefitStartDate">{{BENEFIR_START_DATE['fieldValue']}}</label>
                        <span *ngIf="BENEFIR_START_DATE['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <div class="input-group">
                          <input [ngClass]="'form-control fm-txt'" ngx-mydatepicker name="frmBenefitStartDate" [(ngModel)]="modelBenefitStartDate"
                            [options]="myOptions" #dp2="ngx-mydatepicker" (dateChanged)="onBenefitStartDateChanged($event)"
                            (change)="onBenefitStartDateChanged($event.target.value)" #frmBenefitStartDate="ngModel" [required]="BENEFIR_START_DATE['isMandatory']" [readonly]="!BENEFIR_START_DATE['writeAccess']"
                            title="{{BENEFIR_START_DATE['helpMessage']}}" id="BenefitStartDate" />

                          <span class="input-group-btn doNotPrintt">
                            <button type="button" class="btn btn-default doNotPrint" style="float:none; height: 40px; width: 40px;" (click)="dp2.clearDate()">
                              <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp2.toggleCalendar()">
                              <i class="glyphicon glyphicon-calendar doNotPrint"></i>
                            </button>
                          </span>
                        </div>
                        <div *ngIf="f.submitted && frmBenefitStartDate.invalid">
                          <div [hidden]="!frmBenefitStartDate.errors.required">
                            {{BENEFIR_START_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                        <div *ngIf="!frmBenefitStartDate.errors?.required && errorbenefitStartDate.isError" class="r">
                          {{ errorbenefitStartDate.errorMessage }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- BenefitEndDate -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': (f.submitted && !frmBenefitEndDate.valid || errorbenefitEndDate.isError),'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="frmBenefitEndDate">{{BENEFIT_END_DATE['fieldValue']}}</label>
                        <span *ngIf="BENEFIT_END_DATE['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <div class="input-group">
                          <input [ngClass]="'form-control fm-txt'" ngx-mydatepicker name="frmBenefitEndDate" [(ngModel)]="modelBenefitEndDate" [options]="myOptions"
                            #dp3="ngx-mydatepicker" (dateChanged)="onBenefitEndDateChanged($event)" (change)="onBenefitEndDateChanged($event.target.value)"
                            #frmBenefitEndDate="ngModel" [required]="BENEFIT_END_DATE['isMandatory']" [readonly]="!BENEFIT_END_DATE['writeAccess']" title="{{BENEFIT_END_DATE['helpMessage']}}"
                            id="start_date" />

                          <span class="input-group-btn doNotPrintt">
                            <button type="button" class="btn btn-default doNotPrint" style="float:none; height: 40px; width: 40px;" (click)="dp3.clearDate()">
                              <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default doNotPrint" style="float:none; height: 40px; width: 40px;" (click)="dp3.toggleCalendar()">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </div>
                        <div *ngIf="f.submitted && frmBenefitEndDate.invalid">
                          <div [hidden]="!frmBenefitEndDate.errors.required">
                            {{BENEFIT_END_DATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                        <div *ngIf="!frmBenefitEndDate.errors?.required && errorbenefitEndDate.isError" class="r">
                            {{ errorbenefitEndDate.errorMessage }}
                          </div>
                      </div>
                    </div>
                  </div>

                  <!-- TYPEOF_COVERAGE -->
                  <div class="form-group">
                    <div [ngClass]="{ 'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="typeofcoverage">{{TYPEOF_COVERAGE['fieldValue']}}</label>
                        <span *ngIf="TYPEOF_COVERAGE['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input disabled type="text" [ngClass]="'form-control fm-txt'" name="typeofcoverage" [(ngModel)]="typeOfCoverage" #typeofcoverage="ngModel"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- GROUP_NUMBER -->
                  <div class="form-group">
                    <div [ngClass]="{ 'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="grouopnumber">{{GROUP_NUMBER['fieldValue']}}</label>
                        <span *ngIf="GROUP_NUMBER['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input disabled type="text" [ngClass]="'form-control fm-txt'" name="grouopnumber" [(ngModel)]="groupNumber" #grouopnumber="ngModel"
                        />
                      </div>
                    </div>
                  </div>

                  <!-- PLOICY_NUMBER -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': f.submitted && !policyNumber.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="policyNumber">{{PLOICY_NUMBER['fieldValue']}}</label>
                        <span *ngIf="PLOICY_NUMBER['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="policyNumber" [(ngModel)]="model.policyNumber" #policyNumber="ngModel"
                          title="{{PLOICY_NUMBER['helpMessage']}}" [required]="PLOICY_NUMBER['isMandatory']" [readonly]="!PLOICY_NUMBER['writeAccess']" maxlength="31" />
                        <div *ngIf="f.submitted && policyNumber.invalid">
                          <div [hidden]="!policyNumber.errors.required">
                            {{PLOICY_NUMBER['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <!-- overrideCost -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': f.submitted && !overrideCost.valid,'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label>
                          <input title="{{OVERRIDE_COST['helpMessage']}}" type="checkbox" name="overrideCost" [checked]="model.overrideCost"
                            [(ngModel)]="model.overrideCost" #overrideCost="ngModel" (change)="AmountPersistance(model.overrideCost)"/>&nbsp;&nbsp;{{OVERRIDE_COST['fieldValue']}}</label>
                      </div>
                    </div>
                  </div>

                  <!-- INSURED_AMOUNT -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': (f.submitted && !insuredAmount.valid && model.overrideCost) || (!insuredAmount.errors?.required && !insuredAmountPattern && model.overrideCost),'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="insuredAmount">{{INSURED_AMOUNT['fieldValue']}}</label>
                        <span *ngIf="INSURED_AMOUNT['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input type="number" 
                          [ngClass]="'form-control fm-txt'" 
                          name="insuredAmount" 
                          [(ngModel)]="model.insuredAmount" 
                          #insuredAmount="ngModel"
                          title="{{INSURED_AMOUNT['helpMessage']}}"
                          [disabled]="!model.overrideCost"
                          maxlength="13" min="1" [required]="model.overrideCost"
                          onKeyPress="if(this.value.length==10) return false;"
                          max="999999999999" 
                          onkeypress="return check_digit(event,this,10,3);"
                          (keyup)="checkdecimalamount(insuredAmount.value,'insuredAmountPattern')"
                          />
                         <div *ngIf="(f.submitted && insuredAmount.invalid && model.overrideCost) || (model.overrideCost && !insuredAmountPattern)">
                          <div [hidden]="!insuredAmount.errors?.required && !insuredAmountPattern && model.overrideCost">
                            {{INSURED_AMOUNT['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                           <div *ngIf="!insuredAmount.errors?.required && !insuredAmountPattern && model.overrideCost">
                             Invalid Input
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- costToEmployee -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': (f.submitted && !costToEmployee.valid && model.overrideCost) || (!costToEmployee.errors?.required && !costToEmployeeAmountPattern && model.overrideCost),'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="costToEmployee">{{COST_TO_EMPLOYEE['fieldValue']}}</label>
                        <span *ngIf="COST_TO_EMPLOYEE['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input  [disabled]="!model.overrideCost" type="number" [ngClass]="'form-control fm-txt'" name="costToEmployee" [(ngModel)]="model.costToEmployee" #costToEmployee="ngModel"
                          title="{{COST_TO_EMPLOYEE['helpMessage']}}"
                          maxlength="13" min="1"
                          onKeyPress="if(this.value.length==10) return false;"
                          max="999999999999" [required]="model.overrideCost"
                          onkeypress="return check_digit(event,this,10,3);"
                                (keyup)="checkdecimalamount(costToEmployee.value,'costToEmployeeAmountPattern')"/>
                        <div *ngIf="(f.submitted && costToEmployee.invalid && model.overrideCost) || (model.overrideCost && !costToEmployeeAmountPattern)">
                          <div [hidden]="!costToEmployee.errors?.required && !costToEmployeeAmountPattern && model.overrideCost">
                            {{COST_TO_EMPLOYEE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div *ngIf="!costToEmployee.errors?.required && !costToEmployeeAmountPattern && model.overrideCost">
                            Invalid Input
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- costToEmployer -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': (f.submitted && !costToEmployer.valid && model.overrideCost) || (!costToEmployer.errors?.required && !costToEmployerAmountPattern && model.overrideCost),'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="costToEmployer">{{COST_TO_EMPLOYER['fieldValue']}}</label>
                        <span *ngIf="COST_TO_EMPLOYER['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input  [disabled]="!model.overrideCost" type="number" [ngClass]="'form-control fm-txt'" name="costToEmployer" [(ngModel)]="model.costToEmployeer" #costToEmployer="ngModel"
                          title="{{COST_TO_EMPLOYER['helpMessage']}}"
                          maxlength="13" min="1"
                          onKeyPress="if(this.value.length==10) return false;"
                          max="999999999999" [required]="model.overrideCost"
                          onkeypress="return check_digit(event,this,10,3);"
                                (keyup)="checkdecimalamount(costToEmployer.value,'costToEmployerAmountPattern')"/>
                        <div *ngIf="(f.submitted && costToEmployer.invalid && model.overrideCost) || (model.overrideCost && !costToEmployerAmountPattern)">
                          <div [hidden]="!costToEmployer.errors?.required && !costToEmployerAmountPattern && model.overrideCost">
                            {{COST_TO_EMPLOYER['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div *ngIf="!costToEmployer.errors?.required && !costToEmployerAmountPattern && model.overrideCost">
                            Invalid Input
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- additionalCost -->
                  <div class="form-group">
                    <div [ngClass]="{'has-error': (f.submitted && !additionalCost.valid && model.overrideCost) || (!additionalCost.errors?.required && !additionalCostAmountPattern && model.overrideCost),'col-md-12 col-sm-12 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                      <div class="col-md-4">
                        <label class="control-label" for="additionalCost">{{ADDITIONAL_COST['fieldValue']}}</label>
                          <span *ngIf="ADDITIONAL_COST['isMandatory']">*</span>
                      </div>
                      <div class="col-md-8">
                        <input type="number" [disabled]="!model.overrideCost"  [ngClass]="'form-control fm-txt'" name="additionalCost" [(ngModel)]="model.additionalCost" #additionalCost="ngModel"
                          title="{{ADDITIONAL_COST['helpMessage']}}"
                          maxlength="13" min="1"
                          onKeyPress="if(this.value.length==10) return false;"
                          max="999999999999"
                               [required]="model.overrideCost"
                          onkeypress="return check_digit(event,this,10,3);"
                               (keyup)="checkdecimalamount(additionalCost.value,'additionalCostAmountPattern')"/>
                        <div *ngIf="(f.submitted && additionalCost.invalid && model.overrideCost) || (model.overrideCost && !additionalCostAmountPattern)">
                          <div [hidden]="!additionalCost.errors?.required && !additionalCostAmountPattern && model.overrideCost">
                            {{ADDITIONAL_COST['listDtoFieldValidationMessage'][0]['validationMessage']}}
                          </div>
                          <div *ngIf="!additionalCost.errors?.required && !additionalCostAmountPattern && model.overrideCost">
                            Invalid Input
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="print-section" class="print-tabel">
                <table class="details" style="width: 100% !important; min-width: 1200px; table-layout: fixed; border-spacing: 0; border-collapse: separate;font-family: 'Open Sans', sans-serif;margin-bottom: 20px;">
                    <tr>
                       
                        <td align='left' style=" padding: 0; border: none; border-radius: 10px;font-size: 14px;">
                            <table style="width: 100% !important;  table-layout: fixed; border-spacing: 0; border-collapse: separate; font-family: 'Open Sans', sans-serif;">
                                <tr>
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{EMPLOYEE_ID['fieldValue']}}</th>
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{HEALTH_INSURANCE_ID['fieldValue']}}</th>
                                    
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{INSURED_AMOUNT['fieldValue']}}</th>
                                    <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                      {{PLOICY_NUMBER['fieldValue']}}</th>
                                      <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                        {{NAME['fieldValue']}}</th>
                                        <th style="border: 1px solid #8e8e8e;font-weight: 500; color:#FFF; padding: 8px; background-color: #144859; border-radius: 10px;font-size: 14px;">
                                          {{ELIGIBILITY_DATE['fieldValue']}}</th>
                                    
                                </tr>
                                <tr>
                                    <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                        {{employeeId}}</td>
                                        <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                            {{helthInsuranceIdValue}}</td>
                                  <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                      {{model.insuredAmount}}</td>
                                <td align="center" style="border: 1px solid #8e8e8e; font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                    {{model.policyNumber}}</td>
                                       
                                    <td align="center" style="border: 1px solid #8e8e8e; font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                      {{EmployeeName}}</td>
                                        <td align="center" style="border: 1px solid #8e8e8e;font-weight: 500; padding: 8px; border: 1px solid #8e8e8e;padding: 10px;	border-radius: 8px;vertical-align: top; border-radius: 10px;font-size: 14px;">
                                          {{modelEligibilityDate}}</td>
                                      
                                </tr> 
                            </table>
                        </td>
                    </tr>
                </table>
  </div>
              <!-- Buttons -->
              <div [ngClass]="'button-row doNotPrint'">
                <div  [ngClass]="{'col-md-12 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'" style="text-align: center;margin-top: 20px;">
                      <!-- <button [ngClass]="'grey-btn doNotPrint'" type="button" (click)="varifyDelete()">{{defaultFormValues[12]['fieldValue']}}</button> -->
                      <button [ngClass]="'grey-btn doNotPrint'" *ngIf="model.id">{{UPDATE['fieldValue']}}</button>
                      <button [ngClass]="'grey-btn doNotPrint'" *ngIf="!model.id">{{SAVE['fieldValue']}}</button>
                      <button [ngClass]="'grey-btn  '" type="button" (click)="printEmployeeDetails()" *ngIf="model.id">Print</button>
                      <!-- <button [ngClass]="'orange-btn doNotPrint'" type="button" (click)="print()">{{defaultFormValues[14]['fieldValue']}}</button> -->
                      <button [ngClass]="'orange-btn doNotPrint'" type="button" (click)="Clear(f)">{{CLEAR['fieldValue']}}</button>
                      <button [ngClass]="'blue-btn doNotPrint'" type="button" (click)="showCreateForm = false">{{CANCEL['fieldValue']}}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>
