<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
  <div class="modal-content" >
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
     {{moduleName}}
    </div>
    <div class="modal-body">
      <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!--adding form starts-->
                <form (ngSubmit)="f.form.valid && CreateSettings(f)" #f="ngForm" novalidate>
                    <div [ngClass]="'row'">
                        <div [ngClass]="'form-row'">
                            <div [ngClass]="{ 'has-error': f.submitted && !firstName.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                                <label for="firstName">{{defaultFormValues[0]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="firstName" [(ngModel)]="model.firstName" 
                                #firstName="ngModel" autofocus onlyAlphabet="true"
                                title="{{defaultFormValues[0]['helpMessage']}}"
                                 maxlength="25"   required />
                                <div *ngIf="f.submitted && firstName.invalid">
                                    <div class='error-msg' *ngIf="firstName.errors.required">
                                        {{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="firstName.errors.maxlength">
                                        {{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{ 'has-error': f.submitted && !middleName.valid, 'col-md-4 col-sm-6 col-xs-12':true  }">
                                <label for="middleName">{{defaultFormValues[1]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="middleName" [(ngModel)]="model.middleName" #middleName="ngModel" title="{{defaultFormValues[1]['helpMessage']}}"
                                 maxlength="20" onlyAlphabet="true"  required />
                                <div *ngIf="f.submitted && middleName.invalid">
                                    <div class='error-msg' *ngIf="middleName.errors.required">
                                        {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="middleName.errors.maxlength">
                                        {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{ 'has-error': f.submitted && !lastName.valid, 'col-md-4 col-sm-6 col-xs-12':true  }">
                                <label for="lastName">{{defaultFormValues[2]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt'" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" title="{{defaultFormValues[2]['helpMessage']}}"
                                 maxlength="20" onlyAlphabet="true"  required />
                                <div *ngIf="f.submitted && lastName.invalid">
                                    <div class='error-msg' *ngIf="lastName.errors.required">
                                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="lastName.errors.maxlength">
                                        {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="'form-row'">
                            <div [ngClass]="{ 'has-error': f.submitted && !secondaryFirstName.valid,'col-md-4 col-sm-6 col-xs-12':true }">
                                <label for="secondaryFirstName">{{defaultFormValues[3]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="arabicfirstname" [(ngModel)]="model.secondaryFirstName" 
                                #secondaryFirstName="ngModel" 
                                title="{{defaultFormValues[3]['helpMessage']}}"
                                 maxlength="25"   required />
                                <div *ngIf="f.submitted && secondaryFirstName.invalid">
                                    <div class='error-msg' *ngIf="secondaryFirstName.errors.required">
                                        {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="secondaryFirstName.errors.maxlength">
                                        {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{ 'has-error': f.submitted && !secondaryMiddleName.valid, 'col-md-4 col-sm-6 col-xs-12':true  }">
                                <label for="secondaryMiddleName">{{defaultFormValues[4]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="secondaryMiddleName" [(ngModel)]="model.secondaryMiddleName" #secondaryMiddleName="ngModel" title="{{defaultFormValues[4]['helpMessage']}}"
                                 maxlength="20"   required />
                                <div *ngIf="f.submitted && secondaryMiddleName.invalid">
                                    <div class='error-msg' *ngIf="secondaryMiddleName.errors.required">
                                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="secondaryMiddleName.errors.maxlength">
                                        {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{ 'has-error': f.submitted && !secondaryLastName.valid, 'col-md-4 col-sm-6 col-xs-12':true  }">
                                <label for="secondaryLastName">{{defaultFormValues[5]['fieldValue']}}</label>
                                <input type="text" [ngClass]="'form-control fm-txt arabic-mode'" name="secondaryLastName" [(ngModel)]="model.secondaryLastName" #secondaryLastName="ngModel" title="{{defaultFormValues[5]['helpMessage']}}"
                                 maxlength="20"   required />
                                <div *ngIf="f.submitted && secondaryLastName.invalid">
                                    <div class='error-msg' *ngIf="secondaryLastName.errors.required">
                                        {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="secondaryLastName.errors.maxlength">
                                        {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="'form-row'">
                        <div [ngClass]="{'has-error': f.submitted && !email.valid,'col-md-4 col-sm-6 col-xs-12':true}">
                                <label for="email">{{defaultFormValues[6]['fieldValue']}}</label>
                                <input type="email"  [ngClass]="'form-control fm-txt'" name="email" maxlength="50" [(ngModel)]="model.email" #email="ngModel" title="{{defaultFormValues[6]['helpMessage']}}"
                                 pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"  required readonly/>
                                <div *ngIf="f.submitted && email.invalid">
                                    <div class='error-msg' *ngIf="email.errors.required">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="email.errors.pattern">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="email.errors.maxlength">
                                        {{defaultFormValues[6]['listDtoFieldValidationMessage'][2]['validationMessage']}}
                                    </div>
                                </div>
                        </div>
                        </div>
                        <div [ngClass]="'button-row'">
                            <div [ngClass]="'col-sm-12'">
                                 <button [ngClass]="'grey-btn'" title="{{defaultFormValues[7]['fieldValue']}}" (click)="changePassword($event)">{{defaultFormValues[7]['helpMessage']}}</button>
                            </div>
                        </div>
                        <div [ngClass]="'form-row'"  *ngIf="isVisible" >
                            <div [ngClass]="{ 'has-error': f.submitted && !oldpassword.valid, 'col-md-4 col-sm-6 col-xs-12':true  }">
                                <label for="oldpassword">{{defaultFormValues[8]['fieldValue']}}</label>
                                <input type="password" [ngClass]="'form-control fm-txt'" name="oldpassword" [(ngModel)]="model.oldpassword" #oldpassword="ngModel" title="{{defaultFormValues[8]['helpMessage']}}"
                                 maxlength="20" (blur)="onBlurMethod()" required/>
                                <div *ngIf="f.submitted && oldpassword.invalid">
                                    <div class='error-msg' *ngIf="oldpassword.errors.required">
                                        {{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="oldpassword.errors.maxlength">
                                        {{defaultFormValues[8]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="'form-row'" *ngIf="isVisible">
                            <div [ngClass]="{ 'has-error': f.submitted && !password.valid, 'col-md-4 col-sm-6 col-xs-12':true  }">
                                <label for="password">{{defaultFormValues[9]['fieldValue']}}</label>
                                <input type="password" [ngClass]="'form-control fm-txt'" name="password" [(ngModel)]="model.password" #password="ngModel" title="{{defaultFormValues[9]['helpMessage']}}"
                                 maxlength="20" validateEqualTo="confirmpassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"  required />
                                <div *ngIf="f.submitted && password.invalid">
                                    <div class='error-msg' *ngIf="password.errors.required">
                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="password.errors.maxlength">
                                        {{defaultFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="password.errors.pattern">
                                        <h6>Pattern do not match</h6>
                                    </div>
                                    <div class='error-msg' *ngIf="confirmpassword.errors.validateEqualTo">
                                        <h6>Passwords don't match</h6>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{ 'has-error': f.submitted && !confirmpassword.valid, 'col-md-4 col-sm-6 col-xs-12':true  }">
                                <label for="confirmpassword">{{defaultFormValues[10]['fieldValue']}}</label>
                                <input type="password" [ngClass]="'form-control fm-txt'" name="confirmpassword" [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" title="{{defaultFormValues[10]['helpMessage']}}"
                                 maxlength="20"   required />
                                 
                                <div *ngIf="f.submitted && confirmpassword.invalid">
                                    <div class='error-msg' *ngIf="confirmpassword.errors.required">
                                        {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    <div class='error-msg' *ngIf="confirmpassword.errors.maxlength">
                                        {{defaultFormValues[10]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="'button-row'">
                            <div [ngClass]="'col-sm-12'">
                                <button [ngClass]="'orange-btn'" title="{{defaultFormValues[11]['fieldValue']}}">{{defaultFormValues[11]['helpMessage']}}</button>
                                <button [ngClass]="'blue-btn'" title="{{defaultFormValues[12]['fieldValue']}}" [routerLink]="['/dashboard']">{{defaultFormValues[12]['helpMessage']}}</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!--adding form ends-->
            </div>
            <!-- Content OUter Ends -->
        </section>
    </section>
</div>
