
<div class="content-wrapper user-view" >
    <section class="content">
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
            <section class="inner-content">
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
						<form class="search-batch" name="BookMaintenance" (ngSubmit)="BookMaintenance.form.valid && save(BookMaintenance)" #BookMaintenance="ngForm" novalidate>
							<div class="form-row">
								<div class="col-md-6 col-sm-6 col-xs-12" >
									
									<div class="form-row" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': BookMaintenance.submitted && assetId.length==0 }">
										<label>{{defaultFormValues[0]['fieldValue']}}</label>
										<div class="select-outer">
											<!--<select myAutofocus class="form-control {{myHtml}} auto-focus" title="{{defaultFormValues[0]['helpMessage']}}" name='assetId' id="ddl_insClassId" [(ngModel)]="bookMaintenance.assetId"  #assetId="ngModel" required [disabled]="disableId">
												<option value="">--{{select}}--</option>
												<option *ngFor="let a of assets" [value]="a.assetId">{{a.faDescription}}</option>
											</select>-->
										     <angular2-multiselect myAutofocus [ngClass]="'form-control fm-txt'" [data]="ArrAssetId" [(ngModel)]="assetId" id="assetId" [ngModelOptions]="{standalone: true}"
											[settings]="ddlAssetIdSetting" 
											(onSelect)="getAssetByID($event)" (onDeSelect)="OnAssetIdDeSelect($event)"></angular2-multiselect>
										</div>
										<div *ngIf="BookMaintenance.submitted && assetId.length==0">
											<div class='error-msg'>
												{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
										</div>
									</div>

									<div class="form-row" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{ 'has-error': BookMaintenance.submitted && bookId.length==0 }">
										<label>{{defaultFormValues[1]['fieldValue']}}</label>
										<div class="select-outer">
											<!--<select class="form-control" title="{{defaultFormValues[1]['helpMessage']}}" name='bookId' [(ngModel)]="bookMaintenance.bookId"  #bookId="ngModel" required>
												<option value="">--{{select}}--</option>
												<option *ngFor="let b of books" [value]="b.bookId">{{b.bookDescription}}</option>
											</select>-->
											 <angular2-multiselect myAutofocus [ngClass]="'form-control fm-txt'" [data]="ArrBookId" [(ngModel)]="bookId" id="bookId"  [ngModelOptions]="{standalone: true}"
											[settings]="ddlBookIdSetting" 
											(onSelect)="getBookByID($event)" (onDeSelect)="OnBookIdDeSelect($event)"></angular2-multiselect>
										</div> 
										<div *ngIf="BookMaintenance.submitted && bookId.length==0">
											<div class='error-msg'>
												{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
										</div>
									</div>

							<div class="form-row dob-row acc-rece" *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{'has-error': BookMaintenance.submitted && !placedServiceDate.valid }">								
								
									<label>{{defaultFormValues[2]['fieldValue']}}</label>
									<div class="select-dt select-dt-full">
									  <input type="text"  readonly title="{{defaultFormValues[2]['helpMessage']}}" class="fm-txt form-control" name="placedServiceDate" [(ngModel)]="placedInServiceDate" #placedServiceDate="ngModel" ngx-mydatepicker [options]="myOptions" #dp="ngx-mydatepicker" required>
										<span class="input-group-btn calender" style="position: absolute;right: 105px;top: 5px;">
											<button type="button" class="btn btn-default" (click)="clearPlacedServiceDate()">
											   <i class="glyphicon glyphicon-remove"></i>
											</button>
											<button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
											   <i class="fa fa-calendar"></i>
											</button>
                                      </span>
										
									</div>
									<div *ngIf="BookMaintenance	.submitted && placedServiceDate.invalid">
										<div class='error-msg' *ngIf="placedServiceDate.errors.required">
											{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								
								<div class="form-row dob-row acc-rece" *ngIf="defaultFormValues[3]['readAccess']" [ngClass]="{'has-error': BookMaintenance.submitted && !depreciateddate.valid }">
									<label>{{defaultFormValues[3]['fieldValue']}}</label>
									<div class="select-dt select-dt-full">
									  <input type="text" title="{{defaultFormValues[3]['helpMessage']}}" class="fm-txt form-control" name="depreciateddate" [(ngModel)]="depreciatedDate" #depreciateddate="ngModel" ngx-mydatepicker [options]="myOptions1" #dp2="ngx-mydatepicker"  readonly required>
										<span class="input-group-btn calender" style="position: absolute;right: 105px;top: 5px;">
											<button type="button" class="btn btn-default" (click)="cleardepDate()">
											   <i class="glyphicon glyphicon-remove"></i>
											</button>
											<button type="button" class="btn btn-default" (click)="dp2.toggleCalendar()">
											   <i class="fa fa-calendar"></i>
											</button>
                                      </span>
									
									</div>
									<div *ngIf="BookMaintenance	.submitted && depreciateddate.invalid">
										<div class='error-msg' *ngIf="depreciateddate.errors.required">
											{{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>


																
								<div class="form-row" *ngIf="defaultFormValues[4]['readAccess']" [ngClass]="{ 'has-error arabic-mode': BookMaintenance.submitted && !beginYearCost.valid }">
									<label>{{defaultFormValues[4]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" title="{{defaultFormValues[4]['helpMessage']}}" name="beginYearCost" [(ngModel)]="bookMaintenance.beginYearCost" #beginYearCost="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="BookMaintenance.submitted && beginYearCost.invalid">
										<div class='error-msg' *ngIf="beginYearCost.errors.required">
											{{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[5]['readAccess']" [ngClass]="{ 'has-error arabic-mode': BookMaintenance.submitted && !costBasis.valid }">
									<label>{{defaultFormValues[5]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" name="costBasis" title="{{defaultFormValues[5]['helpMessage']}}" [(ngModel)]="bookMaintenance.costBasis" #costBasis="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="BookMaintenance.submitted && costBasis.invalid">
										<div class='error-msg' *ngIf="costBasis.errors.required">
											{{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>

															
								<div class="form-row" *ngIf="defaultFormValues[6]['readAccess']" [ngClass]="{ 'has-error arabic-mode': BookMaintenance.submitted && !salvageAmount.valid }">
									<label>{{defaultFormValues[6]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" title="{{defaultFormValues[6]['helpMessage']}}" name="salvageAmount" [(ngModel)]="bookMaintenance.salvageAmount" #salvageAmount="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="BookMaintenance.submitted && salvageAmount.invalid">
										<div class='error-msg' *ngIf="salvageAmount.errors.required">
											{{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[7]['readAccess']" [ngClass]="{ 'has-error arabic-mode': BookMaintenance.submitted && !yearlyDepreciatedRate.valid }">
									<label>{{defaultFormValues[7]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" title="{{defaultFormValues[7]['helpMessage']}}" name="yearlyDepreciatedRate" [(ngModel)]="bookMaintenance.yearlyDepreciatedRate" #yearlyDepreciatedRate="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="BookMaintenance.submitted && yearlyDepreciatedRate.invalid">
										<div class='error-msg' *ngIf="yearlyDepreciatedRate.errors.required">
											{{defaultFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>


														
								<div class="form-row" *ngIf="defaultFormValues[8]['readAccess']" [ngClass]="{ 'has-error arabic-mode': BookMaintenance.submitted && !currentDepreciation.valid }">
									<label>{{defaultFormValues[8]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" title="{{defaultFormValues[8]['helpMessage']}}" name="currentDepreciation" [(ngModel)]="bookMaintenance.currentDepreciation" #currentDepreciation="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="BookMaintenance.submitted && currentDepreciation.invalid">
										<div class='error-msg' *ngIf="currentDepreciation.errors.required">
											{{defaultFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[9]['readAccess']" [ngClass]="{ 'has-error arabic-mode': BookMaintenance.submitted && !yearToDateDepreciation.valid }">
									<label>{{defaultFormValues[9]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" title="{{defaultFormValues[9]['helpMessage']}}" name="yearToDateDepreciation" [(ngModel)]="bookMaintenance.yearToDateDepreciation" #yearToDateDepreciation="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="BookMaintenance.submitted && yearToDateDepreciation.invalid">
										<div class='error-msg' *ngIf="yearToDateDepreciation.errors.required">
											{{defaultFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
							
							
							
													
								<div class="form-row" *ngIf="defaultFormValues[10]['readAccess']" [ngClass]="{ 'has-error arabic-mode': BookMaintenance.submitted && !lifeToDateDepreciation.valid }">
									<label>{{defaultFormValues[10]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" title="{{defaultFormValues[10]['helpMessage']}}" name="lifeToDateDepreciation" [(ngModel)]="bookMaintenance.lifeToDateDepreciation" #lifeToDateDepreciation="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="BookMaintenance.submitted && lifeToDateDepreciation.invalid">
										<div class='error-msg' *ngIf="lifeToDateDepreciation.errors.required">
											{{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[11]['readAccess']" [ngClass]="{ 'has-error': BookMaintenance.submitted && !netFAValue.valid }">
									<label>{{defaultFormValues[11]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" title="{{defaultFormValues[11]['helpMessage']}}"name="netFAValue" [(ngModel)]="bookMaintenance.netFAValue" #netFAValue="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="BookMaintenance.submitted && netFAValue.invalid">
										<div class='error-msg' *ngIf="netFAValue.errors.required">
											{{defaultFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>

								<div class="form-row" *ngIf="defaultFormValues[12]['readAccess']" [ngClass]="{ 'has-error': BookMaintenance.submitted && !depreciationMethodId.valid }">
									<label>{{defaultFormValues[12]['fieldValue']}}</label>
									<div class="select-outer">
										 <select class="form-control" name='depreciationMethodId' title="{{defaultFormValues[12]['helpMessage']}}" [(ngModel)]="bookMaintenance.depreciationMethodId"  #depreciationMethodId="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let d of dep" [value]="d.typeId">{{d.name}}</option>
										</select>										
									</div> 
									<div *ngIf="BookMaintenance.submitted && depreciationMethodId.invalid">
											<div class='error-msg' *ngIf="depreciationMethodId.errors.required">
												{{defaultFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
									</div>
								</div>
							
									<div class="form-row" *ngIf="defaultFormValues[13]['readAccess']" [ngClass]="{ 'has-error': BookMaintenance.submitted && !averagingConvention.valid }">
										<label>{{defaultFormValues[13]['fieldValue']}}</label>
										<div class="select-outer">
											<select class="form-control" title="{{defaultFormValues[13]['helpMessage']}}" name='averagingConvention' [(ngModel)]="bookMaintenance.averagingConvention"  #averagingConvention="ngModel" required>
												<option value="">--{{select}}--</option>
												<option *ngFor="let c of convention" [value]="c.typeId">{{c.name}}</option>
											</select>											
										</div> 
										<div *ngIf="BookMaintenance.submitted && averagingConvention.invalid">
												<div class='error-msg' *ngIf="averagingConvention.errors.required">
													{{defaultFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
												</div>										
										</div>		
									</div>

									<div class="form-row" *ngIf="defaultFormValues[14]['readAccess']" [ngClass]="{ 'has-error': BookMaintenance.submitted && !switchOver.valid }">
									<label>{{defaultFormValues[14]['fieldValue']}}</label>
									<div class="select-outer">
										 <select class="form-control" title="{{defaultFormValues[14]['helpMessage']}}" name='switchOver' [(ngModel)]="bookMaintenance.switchOver"  #switchOver="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let s of sw" [value]="s.typeId">{{s.name}}</option>
										</select>										
									</div>
									<div *ngIf="BookMaintenance.submitted && switchOver.invalid">
											<div class='error-msg' *ngIf="switchOver.errors.required">
												{{defaultFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
										</div>
								</div>

								</div>
								
								<div class="col-md-6 col-sm-6 col-xs-12">
								
									<div class="form-row" *ngIf="defaultFormValues[15]['readAccess']" [ngClass]="{ 'has-error': BookMaintenance.submitted && !status.valid }">
											<label>{{defaultFormValues[15]['fieldValue']}}</label>
											<input type="text" class="form-control fm-txt" title="{{defaultFormValues[15]['helpMessage']}}" name="status" [(ngModel)]="bookMaintenance.status" #status="ngModel" required readonly>
											<div *ngIf="BookMaintenance.submitted && status.invalid">
												<div class='error-msg' *ngIf="status.errors.required">	
													{{defaultFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
												</div>
											</div>
									</div>

									<div class="form-row">
									<table cellpadding="0" cellspacing="0" class="small-table">
										<tr>
											<td border="1"><label class="wd100">{{defaultFormValues[16]['fieldValue']}}</label></td>
											<td border="1"><input type="text" class="form-control fm-txt"
												 name="originalLifeDay" [(ngModel)]="bookMaintenance.originalLifeDay"
												  #originalLifeDay="ngModel" OnlyNumber="true" 
												   (keydown)="onlyDecimalNumberKey($event)" (blur)="getLifeDayDynamicByFABook()"  ></td>
											<td border="1"><input type="text" class="form-control fm-txt" name="originalLifeYear"
												 [(ngModel)]="bookMaintenance.originalLifeYear" #originalLifeYear="ngModel"
												  OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)" (blur)="getLifeDayDynamicByFABook()"  ></td>
										</tr>
										<tr>
											<td border="1"><label class="wd100">{{defaultFormValues[17]['fieldValue']}}</label></td>
											<td border="1"><input type="text" class="form-control fm-txt" name="remainingLifeDay" 
												[(ngModel)]="bookMaintenance.remainingLifeDay" #remainingLifeDay="ngModel" OnlyNumber="true"  readonly (keydown)="onlyDecimalNumberKey($event)"   ></td>
											<td border="1"><input type="text" class="form-control fm-txt" 
												name="remainingLifeYear" [(ngModel)]="bookMaintenance.remainingLifeYear" readonly #remainingLifeYear="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   ></td>
										</tr>
									</table>
								</div>

								<div class="form-row" *ngIf="defaultFormValues[18]['readAccess']" [ngClass]="{ 'has-error': BookMaintenance.submitted && !amortizationCode.valid }">
									<label>{{defaultFormValues[18]['fieldValue']}}</label>
									<div class="select-outer">
										 <select class="form-control" name='amortizationCode' title="{{defaultFormValues[18]['helpMessage']}}" [(ngModel)]="bookMaintenance.amortizationCode"  #amortizationCode="ngModel" required>
											<option value="">--{{select}}--</option>
											<option *ngFor="let a of am" [value]="a.typeId">{{a.name}}</option>
										</select>										
									</div> 
									<div *ngIf="BookMaintenance.submitted && amortizationCode.invalid">
											<div class='error-msg' *ngIf="amortizationCode.errors.required">
												{{defaultFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
											</div>										
										</div>
								</div>
								
								<div class="form-row" *ngIf="defaultFormValues[19]['readAccess']" [ngClass]="{ 'has-error': BookMaintenance.submitted && !amortizationAmount.valid }">
									<label>{{defaultFormValues[19]['fieldValue']}}</label>
									<input type="text" class="form-control fm-txt" title="{{defaultFormValues[19]['helpMessage']}}" name="amortizationAmount" [(ngModel)]="bookMaintenance.amortizationAmount" #amortizationAmount="ngModel" required OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   >
									<div *ngIf="BookMaintenance.submitted && amortizationAmount.invalid">
										<div class='error-msg' *ngIf="amortizationAmount.errors.required">
											{{defaultFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
									</div>
								</div>
									
							    </div>
							</div><!-- Form Row Ends -->
							
							<div class="button-row">
								<div class="col-sm-12">
										<input type="submit" value="{{defaultFormValues[20]['fieldValue']}}" 
										 title="{{defaultFormValues[20]['helpMessage']}}" *ngIf="add" 
										 class="orange-btn" [disabled]="LockScreen(defaultFormValues[20]['writeAccess'])">
										<button *ngIf="!add" title="defaultFormValues[20]['helpMessage']" 
										class="orange-btn" [disabled]="LockScreen(defaultFormValues[20]['writeAccess'])">{{defaultFormValues[20]['fieldValue']}}</button>
									    <input type="button" style="margin-left:18px" (click)="ClearForm(BookMaintenance);" class="blue-btn" title="{{defaultFormValues[21]['helpMessage']}}" value="{{defaultFormValues[21]['fieldValue']}}">
                                        <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(BookMaintenance)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
								</div>
							</div>
						</form>
							<div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
									</div>
								</div>
						<div class="form-row">
							<div class="col-xs-12">
								<div class="algo-table">
									<div class="table-responsive"> 
										<ngx-datatable id="vendorMaintenance" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="Searchselected" (select)='onSelect($event)' [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}">
											 <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
											 </ngx-datatable-column>
											 
											<ngx-datatable-column *ngIf="defaultFormValues[0]['readAccess']" name="assetId" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{defaultFormValues[0]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="defaultFormValues[1]['readAccess']" name="depreciationMethodId" [width]="120" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{defaultFormValues[1]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											<ngx-datatable-column *ngIf="defaultFormValues[2]['readAccess']" name="placedInServiceDate" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{defaultFormValues[2]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="defaultFormValues[2]['readAccess']" name="depreciatedDate" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{defaultFormValues[3]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
											
											<ngx-datatable-column *ngIf="defaultFormValues[5]['readAccess']" name="Action" [width]="220" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													Action
												</ng-template>
												<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
													<a class="edit-ico" (click)="edit(row)" *ngIf="gridDefaultFormValues[7]['readAccess']" title="{{gridDefaultFormValues[7]['helpMessage']}}"></a>
												</ng-template>
											</ngx-datatable-column>
										 </ngx-datatable>
									</div>
								</div><!-- Algo Table Ends -->
								<div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
									<!--<button class="blue-btn" (click)="delete()"  title="delete">Delete</button>-->
								</div>
							</div>
						</div><!-- Form Row Ends -->
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
table.small-table {
	border:none;
    width: 100%;
}
table.small-table td {
    background: #fff;
    border:1px solid #d5d5d5;
    padding: 7px;
}
table.small-table td:first-child label,table.small-table td:first-child{color:#fff !important; background:#03485e;}
</style>