
 <div class="content-wrapper user-view" >
     <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                          {{messageText}}
                        </div>
                      
                    <div class="content-outer com-form">
                      <div class="row">
                        <div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
									</div>
								</div>
                        <div class="form-row">  
                            <div class="col-xs-12">
                            <div class="algo-table" *ngIf="rows.length>0">
                            <div class="table-responsive">
						<ngx-datatable id="salesTerritoryId" class="material" [rows]="rows"
							[columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
							[rowHeight]="'auto'" [externalPaging]="true"
							[count]="page.totalElements" [offset]="page.pageNumber"
							[limit]="page.size" (page)='setPage($event)'
							[selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
							(select)='onSelect($event)'> 
						<ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="salesTerritoryId" [width]="200"
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template> 
						</ngx-datatable-column> 
						<ngx-datatable-column name="descriptionPrimary" *ngIf="defaultManageFormValues[1]['readAccess']" 
							[width]="220" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} </ng-template>
						 </ngx-datatable-column> 
						<ngx-datatable-column name="descriptionSecondary" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="220" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column> 
                         	<ngx-datatable-column name="managerFirstNamePrimary" *ngIf="defaultManageFormValues[3]['readAccess']" 
							[width]="150" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
						{{value}} 
						</ng-template>
						 </ngx-datatable-column> 
					
						<ngx-datatable-column name="Action" [width]="150" *ngIf="defaultManageFormValues[4]['readAccess']" 
							[canAutoResize]="false" [draggable]="false" [resizeable]="false">
						<ng-template let-column="column" let-sort="sortFn"
							ngx-datatable-header-template>
						{{defaultManageFormValues[4]['fieldValue']}} </ng-template> <ng-template let-row="row"
							let-value="value" ngx-datatable-cell-template>
						<a class="edit-ico" (click)="getSalesTerritoryById(row)" title="{{defaultManageFormValues[4]['helpMessage']}}"></a>
						</ng-template> 
						</ngx-datatable-column> 
						</ngx-datatable>
					</div>
                    <div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
								</div>
		                          </div><!-- Algo Table Ends -->
		                    </div>
                            
                        </div>

                          <form (ngSubmit)="!hasMsg && f.form.valid && saveSalesTerritorySetup(f)" #f="ngForm" novalidate>
                            <div class="form-row">
                              <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !salesTerritoryId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="salesTerritoryId">{{defaultAddFormValues[0]['fieldValue']}}</label>
                             <input myAutofocus type="text" [ngClass]="'form-control fm-txt'" name="salesTerritoryId" [(ngModel)]="model.salesTerritoryId" 		
                                        #salesTerritoryId="ngModel" 	id="salesTerritoryIdText"	(blur)="IsIdAlreadyExist()"
                                        title="{{defaultAddFormValues[0]['helpMessage']}}"	class="{{myHtml}} auto-focus" [disabled]="disableId"		
                                        [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>
                             <div *ngIf="f.submitted && salesTerritoryId.invalid">
                                    <div class='error-msg' *ngIf="salesTerritoryId.errors.required">
                                        {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                    
                                </div>
                            </div>
                            
     
                        </div>
                        
                        
                        
                        <!-- Form Row Ends -->
                       <div [ngClass]="'form-row'">
                            
                              <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !descriptionPrimary.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                         
                           <label for="descriptionPrimary">{{defaultAddFormValues[1]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="descriptionPrimary" [(ngModel)]="model.descriptionPrimary" 		
                                        #descriptionPrimary="ngModel" 		
                                        title="{{defaultAddFormValues[1]['helpMessage']}}"		
                                        maxlength="31"  [readonly]="!defaultAddFormValues[1]['writeAccess']" required/>
                             <div *ngIf="f.submitted && descriptionPrimary.invalid">
                                    <div class='error-msg' *ngIf="descriptionPrimary.errors.required">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="descriptionPrimary.errors.maxlength">
                                        {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>

                              <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !descriptionSecondary.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="descriptionSecondary">{{defaultAddFormValues[2]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="descriptionSecondary" [(ngModel)]="model.descriptionSecondary" 		
                                        #descriptionSecondary="ngModel" 		
                                        title="{{defaultAddFormValues[2]['helpMessage']}}"		
                                        maxlength="50"  [readonly]="!defaultAddFormValues[2]['writeAccess']" required/>
                             <div *ngIf="f.submitted && descriptionSecondary.invalid">
                                    <div class='error-msg' *ngIf="descriptionSecondary.errors.required">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="descriptionSecondary.errors.maxlength">
                                        {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            
                        </div><!-- Form Row Ends -->
                        
                         <div [ngClass]="'form-row'">
                               <div  *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{'has-error arabic-mode': f.submitted && !phone1.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="phone1">{{defaultAddFormValues[3]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt '" name="phone1" [(ngModel)]="model.phone1" 		
                                        #phone1="ngModel" 	OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   
                                        title="{{defaultAddFormValues[3]['helpMessage']}}"		
                                        maxlength="10"  [readonly]="!defaultAddFormValues[3]['writeAccess']" required/>
                             <div *ngIf="f.submitted && phone1.invalid">
                                    <div class='error-msg' *ngIf="phone1.errors.required">
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="phone1.errors.maxlength">
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                           </div>
                        <!-- Form Row Ends -->
                              <div [ngClass]="'form-row'">
                            
                              <div  *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{'has-error arabic-mode': f.submitted && !phone2.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="phone2">{{defaultAddFormValues[4]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt '" name="phone2" [(ngModel)]="model.phone2" 		
                                        #phone2="ngModel" 	OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   	
                                        title="{{defaultAddFormValues[4]['helpMessage']}}"		
                                        maxlength="10"  [readonly]="!defaultAddFormValues[4]['writeAccess']" />
                             <div *ngIf="f.submitted && phone2.invalid">
                                    
                                       <div class='error-msg' *ngIf="phone2.errors.maxlength">
                                        {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                              </div>
 
 <div class="form-row">
  <div class="content-heading">
                            <div class="col-sm-12"><h3>{{defaultAddFormValues[18]['fieldValue']}}</h3></div> 
                        </div>
                           <div  *ngIf="defaultAddFormValues[5]['readAccess']" [ngClass]="{'has-error': f.submitted && !managerFirstNamePrimary.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
                         
                           <label for="managerFirstNamePrimary">{{defaultAddFormValues[5]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="managerFirstNamePrimary" [(ngModel)]="model.managerFirstNamePrimary" 		
                                        #managerFirstNamePrimary="ngModel" 		
                                        title="{{defaultAddFormValues[5]['helpMessage']}}"		
                                        maxlength="21"  [readonly]="!defaultAddFormValues[5]['writeAccess']" required/>
                             <div *ngIf="f.submitted && managerFirstNamePrimary.invalid">
                                    <div class='error-msg' *ngIf="managerFirstNamePrimary.errors.required">
                                        {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="managerFirstNamePrimary.errors.maxlength">
                                        {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            <div  *ngIf="defaultAddFormValues[8]['readAccess']" [ngClass]="{'has-error': f.submitted && !managerFirstNameSecondary.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="managerFirstNameSecondary">{{defaultAddFormValues[8]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="managerFirstNameSecondary" [(ngModel)]="model.managerFirstNameSecondary" 		
                                        #managerFirstNameSecondary="ngModel" 		
                                        title="{{defaultAddFormValues[8]['helpMessage']}}"		
                                        maxlength="21"  [readonly]="!defaultAddFormValues[8]['writeAccess']" required/>
                             <div *ngIf="f.submitted && managerFirstNameSecondary.invalid">
                                    <div class='error-msg' *ngIf="managerFirstNameSecondary.errors.required">
                                        {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="managerFirstNameSecondary.errors.maxlength">
                                        {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div><!-- Form Row Ends -->
                 
                   <div class="form-row">

                          <div  *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{'has-error': f.submitted && !managerMidNamePrimary.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
                         
                           <label for="managerMidNamePrimary">{{defaultAddFormValues[6]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="managerMidNamePrimary" [(ngModel)]="model.managerMidNamePrimary" 		
                                        #managerMidNamePrimary="ngModel" 		
                                        title="{{defaultAddFormValues[6]['helpMessage']}}"		
                                        maxlength="21"  [readonly]="!defaultAddFormValues[6]['writeAccess']" />
                             <div *ngIf="f.submitted && managerMidNamePrimary.invalid">
                                 
                                       <div class='error-msg' *ngIf="managerMidNamePrimary.errors.maxlength">
                                        {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                               <div  *ngIf="defaultAddFormValues[9]['readAccess']" [ngClass]="{'has-error': f.submitted && !managerMidNameSecondary.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="managerMidNameSecondary">{{defaultAddFormValues[9]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="managerMidNameSecondary" [(ngModel)]="model.managerMidNameSecondary" 		
                                        #managerMidNameSecondary="ngModel" 		
                                        title="{{defaultAddFormValues[9]['helpMessage']}}"		
                                        maxlength="21"  [readonly]="!defaultAddFormValues[9]['writeAccess']" />
                             <div *ngIf="f.submitted && managerMidNameSecondary.invalid">
                                    
                                       <div class='error-msg' *ngIf="managerMidNameSecondary.errors.maxlength">
                                        {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>

                            
                        </div><!-- Form Row Ends -->
                            <div class="form-row">

                              <div  *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{'has-error': f.submitted && !managerLastNamePrimary.valid,'col-md-6 col-sm-6 col-xs-12 ':true}">
                         
                           <label for="managerLastNamePrimary">{{defaultAddFormValues[7]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="managerLastNamePrimary" [(ngModel)]="model.managerLastNamePrimary" 		
                                        #managerLastNamePrimary="ngModel" 		
                                        title="{{defaultAddFormValues[7]['helpMessage']}}"		
                                        maxlength="21"  [readonly]="!defaultAddFormValues[7]['writeAccess']" required/>
                             <div *ngIf="f.submitted && managerLastNamePrimary.invalid">
                                    <div class='error-msg' *ngIf="managerLastNamePrimary.errors.required">
                                        {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="managerLastNamePrimary.errors.maxlength">
                                        {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>

                             <div  *ngIf="defaultAddFormValues[10]['readAccess']" [ngClass]="{'has-error': f.submitted && !managerLastNameSecondary.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                         
                           <label for="managerLastNameSecondary">{{defaultAddFormValues[10]['fieldValue']}}</label>
                             <input type="text" [ngClass]="'form-control fm-txt'" name="managerLastNameSecondary" [(ngModel)]="model.managerLastNameSecondary" 		
                                        #managerLastNameSecondary="ngModel" 		
                                        title="{{defaultAddFormValues[10]['helpMessage']}}"		
                                        maxlength="21"  [readonly]="!defaultAddFormValues[10]['writeAccess']" required/>
                             <div *ngIf="f.submitted && managerLastNameSecondary.invalid">
                                    <div class='error-msg' *ngIf="managerLastNameSecondary.errors.required">
                                        {{defaultAddFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                       <div class='error-msg' *ngIf="managerLastNameSecondary.errors.maxlength">
                                        {{defaultAddFormValues[10]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                            
                        </div><!-- Form Row Ends -->
  <div class="form-row" *ngIf="defaultAddFormValues[14]['readAccess']">
                          <div class="col-xs-12">
                            <div class="algo-table">
                              <div class="table-responsive arabic-mode">          
                                <table class="table">
                                  <thead>
                                    <tr> 
                                      <th width="40%">&nbsp; &nbsp; &nbsp;</th>
                                      <th width="30%">{{defaultAddFormValues[14]['fieldValue']}}</th>
                                      <th width="30%">{{defaultAddFormValues[15]['fieldValue']}}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>{{defaultAddFormValues[11]['fieldValue']}}</td>
                                      <td> <div [ngClass]="{'has-error': f.submitted && !totalCommissionsYTD.valid,'':true}">
                                        <input type="text" [ngClass]="'form-control fm-txt '" name="totalCommissionsYTD" [(ngModel)]="model.totalCommissionsYTD" 		
                                        #totalCommissionsYTD ="ngModel" 	OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    required
                                        />
                                        <div *ngIf="f.submitted && totalCommissionsYTD.invalid">
                                            <div class='error-msg' *ngIf="totalCommissionsYTD.errors.required">
                                              {{requiredValid}}
                                            </div>
                                            
                                        </div></div> </td>
                                      <td><div [ngClass]="{'has-error': f.submitted && !totalCommissionsLY.valid,'':true}"><input type="text" [ngClass]="'form-control fm-txt '" name="totalCommissionsLY" [(ngModel)]="model.totalCommissionsLY" 		
                                        #totalCommissionsLY ="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    	required maxlength="8"
                                        /> <div *ngIf="f.submitted && totalCommissionsLY.invalid">
                                            <div class='error-msg' *ngIf="totalCommissionsLY.errors.required">
                                              {{requiredValid}}
                                            </div>
                                            
                                        </div></div></td>
                                      
                                    </tr>
                                   <tr>
                                      <td>{{defaultAddFormValues[13]['fieldValue']}}</td>
                                      <td><div [ngClass]="{'has-error': f.submitted && !commissionsSalesYTD.valid,'':true}"><input type="text" [ngClass]="'form-control fm-txt '" name="commissionsSalesYTD" [(ngModel)]="model.commissionsSalesYTD" 		
                                        #commissionsSalesYTD ="ngModel" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   	maxlength="8" required
                                        /><div *ngIf="f.submitted && commissionsSalesYTD.invalid">
                                            <div class='error-msg' *ngIf="commissionsSalesYTD.errors.required">
                                              {{requiredValid}}
                                            </div>
                                            
                                        </div></div></td>
                                      <td><div [ngClass]="{'has-error': f.submitted && !commissionsSalesLY.valid,'':true}"><input type="text" [ngClass]="'form-control fm-txt '" name="commissionsSalesLY" [(ngModel)]="model.commissionsSalesLY" 		
                                        #commissionsSalesLY ="ngModel" 	OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    required maxlength="8"
                                        /><div *ngIf="f.submitted && commissionsSalesLY.invalid">
                                            <div class='error-msg' *ngIf="commissionsSalesLY.errors.required">
                                              {{requiredValid}}
                                            </div>
                                            
                                        </div></div></td>
                                      
                                    </tr>

                                    <tr>
                                      <td>{{defaultAddFormValues[12]['fieldValue']}}</td>
                                      <td><div [ngClass]="{'has-error': f.submitted && !costOfSalesYTD.valid,'':true}"><input type="text" [ngClass]="'form-control fm-txt'" name="costOfSalesYTD" [(ngModel)]="model.costOfSalesYTD" 		
                                        #costOfSalesYTD ="ngModel" 		OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   	required max="8"
                                        /><div *ngIf="f.submitted && costOfSalesYTD.invalid">
                                            <div class='error-msg' *ngIf="costOfSalesYTD.errors.required">
                                              {{requiredValid}}
                                            </div>
                                            
                                        </div></div></td>
                                      <td><div [ngClass]="{'has-error': f.submitted && !costOfSalesLY.valid,'':true}"><input type="text" [ngClass]="'form-control fm-txt'" name="costOfSalesLY" [(ngModel)]="model.costOfSalesLY" 		
                                        #costOfSalesLY ="ngModel" 	OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"   	maxlength="8"	required
                                        /><div *ngIf="f.submitted && costOfSalesLY.invalid">
                                            <div class='error-msg' *ngIf="costOfSalesLY.errors.required">
                                              {{requiredValid}}
                                            </div>
                                            
                                        </div></div></td>
                                      
                                    </tr>

                                  </tbody>
                                </table>
                                </div>
                              </div><!-- Algo Table Ends -->
                        </div>
                        </div><!-- Form Row Ends -->
                         <div class="button-row">
                      <div class="col-sm-12">
                        <input type="submit" [disabled]="LockScreen(defaultAddFormValues[16]['writeAccess'])"
                         class="orange-btn" value="{{defaultAddFormValues[16]['fieldValue']}}" title="{{defaultAddFormValues[16]['helpMessage']}}">
                        <input type="button" class="blue-btn" title="{{defaultAddFormValues[17]['helpMessage']}}" (click)="clearForm();" value="{{defaultAddFormValues[17]['fieldValue']}}"/>
                        <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>

                        </div>

                        </div>
                      </form>
                          
                      </div> <!-- Row Ends -->
                    </div><!-- Content OUter Ends -->
                      
                  </section>
                </section>
            </div>
<style>
.border-vanish{border:2px solid #d9d9d9;}
</style>