<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span> {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
            <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <section class="content">
        <!-- section Heading Starts -->
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
            <button class="orange-btn"  (click)="Create()"   title="{{defaultFormValues[18]['helpMessage']}}">{{defaultFormValues[18]['helpMessage']}}</button>
        </div>
        <!-- section Heading Ends -->
        <section class="inner-content">
            <!-- content outer Starts -->
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <!-- Content Heading Starts -->
                <div class="content-heading">
                    <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="search-top">
                        <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                            (keyup)='updateFilter($event)' />
                    </div>
                </div>
            </div>
            <div class="algo-table algo-table-department">
                <!-- Data Grid Starts-->
                <div class="table-responsive">
                    <ngx-datatable id="deductionCodeGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                        [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber"
                        [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

                        <!-- Data Grid checkbox -->
                        <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true"
                            [checkboxable]="true">
                        </ngx-datatable-column>

                        <!-- Data Grid Deduction Code Id -->
                        <ngx-datatable-column name="retirementPlanId" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('retirementPlanId')">{{defaultFormValues[34]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid Deduction Code Description -->
                        <ngx-datatable-column name="retirementPlanDescription" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('retirementPlanDescription')">{{defaultFormValues[33]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid  Arabic Deduction Code Description -->
                        <ngx-datatable-column name="retirementPlanArbicDescription" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('retirementPlanArbicDescription')">{{defaultFormValues[3]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value}}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid  City -->
                        <ngx-datatable-column name="retirementFrequency" [width]="120" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('retirementFrequency')">{{defaultFormValues[16]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{frequencyArray[value-1]}}
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- Data Grid  phone -->
                        <ngx-datatable-column name="retirementPlanAccountNumber" [width]="110" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('retirementPlanAccountNumber')">{{defaultFormValues[31]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value }}
                            </ng-template>
                        </ngx-datatable-column>


                        <ngx-datatable-column name="insCompanyId" [width]="110" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                                <span (click)="sortColumn('insCompanyId')">{{defaultFormValues[32]['fieldValue']}}</span>
                            </ng-template>
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value }}
                            </ng-template>
                        </ngx-datatable-column>

                        					
						
                        <!-- Data Grid Action -->
                        
						
						
						
                        <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="false">
                            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                              {{defaultFormValues[17]['fieldValue']}}
                            </ng-template>
                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                              <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                            </ng-template>
                          </ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <!-- Data Grid Ends-->
            </div>

            <div class="button-row">
                <!-- Table View Starts -->
                <div class="table-view">
                    <span>TABLE VIEW</span>
                    <div class="select-outer">
                        <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                            <option value="5">5 at a time </option>
                            <option value="15">15 at a time </option>
                            <option value="50">50 at a time </option>
                            <option value="100">100 at a time </option>
                        </select>
                    </div>
                </div>
                <!-- Table View Ends -->

                <div class="bottom-view">
                </div>
                <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[23]['helpMessage']}}</button>

                <!-- Create / Update Form start -->
                <div *ngIf="showCreateForm">
                    <div class="col-md-12 mt-30">
                        <hr>
                    </div>
                    <div class="col-md-12 mb-30">
                        <h3 *ngIf="!model.id">Create {{moduleName}}</h3>
                        <h3 *ngIf="model.id">Update {{moduleName}}</h3>
                    </div>
                    <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                        {{message.text}}
                    </div>
                    <div class="clearfix"></div>
                    <form class="form-horizontal" (ngSubmit)="f.form.valid && islifeTimeValid && islifeTimeValidperyear && islifeTimepercent && islifeTimeMaxpercent && islifeTimeValidEmployerpay && retirementFrequency.value!=0 && helthInsuranceId.value!=0 && CreateDeductionCode(f, $event) " #f="ngForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- frmstar Id field -->
                                <div class="form-group">
                                    <div *ngIf="isUnderUpdate; then update else create"></div>
                                    <ng-template #update>
                                        <div [ngClass]="{ 'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                                            <div class="col-md-4">
                                                <label class="control-label" for="retirementPlanId">{{defaultFormValues[1]['fieldValue']}}</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="text" [ngClass]="'form-control fm-txt'" name="retirementPlanId" value="{{retirementPlanId}}" 
                                                            title="{{defaultFormValues[1]['helpMessage']}}" readonly required maxlength="15"
                                                        />
                                                        <div *ngIf="f.submitted && retirementPlanId.invalid">
                                                            <div [hidden]="!retirementPlanId.errors.required">
                                                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                            </div>
                                                            <div [hidden]="!retirementPlanId.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]" >
                                                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>


                                    <ng-template #create>
                                        <div [ngClass]="{ 'has-error': f.submitted && !retirementPlanId.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2 }">
                                            <div class="col-md-4">
                                                <label for="retirementPlanId">{{defaultFormValues[1]['fieldValue']}}</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <input type="text" [ngClass]="'form-control fm-txt'" name="retirementPlanId" [(ngModel)]="model.retirementPlanId" #retirementPlanId="ngModel"
                                                             title="{{defaultFormValues[1]['helpMessage']}}"
                                                            required  maxlength="15" />
                                                        <div *ngIf="f.submitted && retirementPlanId.invalid">
                                                            <div [hidden]="!retirementPlanId.errors.required">
                                                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                            </div>
                                                            <div [hidden]="!retirementPlanId.errors?.maxlength" *ngIf="defaultFormValues[1]['listDtoFieldValidationMessage'][1]">
                                                                {{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <!-- frmstar Description Field -->
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && !retirementPlanDescription.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="retirementPlanDescription">{{defaultFormValues[2]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="retirementPlanDescription" [(ngModel)]="model.retirementPlanDescription" #retirementPlanDescription="ngModel"
                                                title="{{defaultFormValues[2]['helpMessage']}}" required maxlength="31" />
                                            <div *ngIf="f.submitted && retirementPlanDescription.invalid">
                                                <div [hidden]="!retirementPlanDescription.errors.required">
                                                    {{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!retirementPlanDescription.errors?.maxlength" *ngIf="defaultFormValues[2]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Arabic Deduction Code description -->
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && !retirementPlanArbicDescription.valid,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="retirementPlanArbicDescription">{{defaultFormValues[3]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8 arabic-mode">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="retirementPlanArbicDescription" [(ngModel)]="model.retirementPlanArbicDescription" #retirementPlanArbicDescription="ngModel"
                                                title="{{defaultFormValues[3]['helpMessage']}}" maxlength="61" required />
                                            <div *ngIf="f.submitted && retirementPlanArbicDescription.invalid">
                                                <div [hidden]="!retirementPlanArbicDescription.errors.required">
                                                    {{defaultFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!retirementPlanArbicDescription.errors?.maxlength" *ngIf="defaultFormValues[3]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && retirementFrequency.value==0,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="retirementFrequency">{{defaultFormValues[16]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select [ngClass]="'form-control fm-txt'" name="retirementFrequency" [(ngModel)]="model.retirementFrequency"  #retirementFrequency="ngModel"
                                                title="{{defaultFormValues[16]['helpMessage']}}"  required >
												<option value="0">--Select Frequency--</option>
                                                <option value="1">Weekly</option>
                                                <option value="2">Biweekly</option>
                                                <option value="3">Semimonthly</option>
                                                <option value="4">Monthly</option>
                                                <option value="5">Quarterly</option>
                                                <option value="6">Semiannually</option>
                                                <option value="7">Annually</option>
											</select>
                                            <div *ngIf="f.submitted && retirementFrequency.value==0">
                                                <div [hidden]="retirementFrequency.value!=0">
                                                    {{defaultFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!retirementFrequency.errors?.maxlength" *ngIf="defaultFormValues[16]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[16]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && helthInsuranceId.value==0,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="helthInsuranceId">{{defaultFormValues[26]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select [ngClass]="'form-control fm-txt'" name="helthInsuranceId" [(ngModel)]="model.helthInsuranceId"  #helthInsuranceId="ngModel"
                                                title="{{defaultFormValues[26]['helpMessage']}}"  required >
												<option value="0">--Select Company Insurance--</option>
												<option *ngFor="let company of companyinsuranceoption" [value]="company.id">{{company.desc}}</option>
											</select>
                                            <div *ngIf="f.submitted && helthInsuranceId.value==0">
                                                <div [hidden]="helthInsuranceId.value!=0">
                                                    {{defaultFormValues[26]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!helthInsuranceId.errors?.maxlength" *ngIf="defaultFormValues[26]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[26]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && !retirementPlanAccountNumber.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="retirementPlanAccountNumber">{{defaultFormValues[4]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="retirementPlanAccountNumber" [(ngModel)]="model.retirementPlanAccountNumber" #retirementPlanAccountNumber="ngModel"
                                                title="{{defaultFormValues[4]['helpMessage']}}"  required  maxlength="31"/>
                                            <div *ngIf="f.submitted && retirementPlanAccountNumber.invalid">
                                                <div [hidden]="!retirementPlanAccountNumber.errors.required">
                                                    {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!retirementPlanAccountNumber.errors?.maxlength" *ngIf="defaultFormValues[4]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[4]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="form-group">
                                    <div [ngClass]="{'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="watingMethod">{{defaultFormValues[12]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-4">
											
                                            <input type="radio" [ngClass]="''" name="watingMethod" [(ngModel)]="model.watingMethod" #watingMethod="ngModel"
                                                title="{{defaultFormValues[13]['helpMessage']}}"   [value]="1"  />
                                            
											
											<label class="control-label" for="watingMethod">{{defaultFormValues[13]['fieldValue']}}</label>
                                        </div>
										<div class="col-md-4">
											
                                            <input type="radio" [ngClass]="''" name="watingMethod" [(ngModel)]="model.watingMethod" #watingMethod="ngModel"
                                                title="{{defaultFormValues[14]['helpMessage']}}" [value]="2"  />
                                           
											
											<label class="control-label" for="watingMethod">{{defaultFormValues[14]['fieldValue']}}</label>
                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': (f.submitted && !retirementPlanAmount.valid) || !islifeTimeValid,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="retirementPlanAmount">{{defaultFormValues[15]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" [ngClass]="'form-control fm-txt'" name="retirementPlanAmount" [(ngModel)]="model.retirementPlanAmount" #retirementPlanAmount="ngModel" onkeypress="return check_digit(event,this,10,3);" min="1"
                                                title="{{defaultFormValues[15]['helpMessage']}}" (keyup)="checkdecimal(retirementPlanAmount.value)"  required />
                                            <div *ngIf="(f.submitted && retirementPlanAmount.invalid) || !islifeTimeValid">
                                                <div [hidden]="!retirementPlanAmount.errors?.required">
                                                    {{defaultFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!retirementPlanAmount.errors?.maxlength" *ngIf="defaultFormValues[15]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[15]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
												<div *ngIf="!retirementPlanAmount.errors?.required && !islifeTimeValid">
													Invalid Input
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <div [ngClass]="{'has-error': (f.submitted && !retirementContribution.valid) || !islifeTimeValidperyear,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="retirementContribution">{{defaultFormValues[11]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" [ngClass]="'form-control fm-txt'" name="retirementContribution" [(ngModel)]="model.retirementContribution" #retirementContribution="ngModel" min="1"
                                                title="{{defaultFormValues[11]['helpMessage']}}"  required  (keyup)="checkdecimalperyear(retirementContribution.value)" onkeypress="return check_digit(event,this,10,3);" />
                                            <div *ngIf="(f.submitted && retirementContribution.invalid) || (!retirementContribution.errors?.required && !islifeTimeValidperyear)">
                                                <div [hidden]="!retirementContribution.errors?.required">
                                                    {{defaultFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!retirementContribution.errors?.maxlength" *ngIf="defaultFormValues[11]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[11]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
												<div *ngIf="!islifeTimeValidperyear && !retirementContribution.errors?.required">
													Invalid input
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && !retirementEntranceDate.valid,'col-md-10 col-sm-6 col-xs-12':true, '': currentLanguage == 2}">

                                        <div class="col-md-4">
                                            <label class="control-label">{{defaultFormValues[30]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input [ngClass]="'form-control fm-txt'" placeholder="Select a date" ngx-mydatepicker name="retirementEntranceDate" [(ngModel)]="model.retirementEntranceDate"
                                                       [options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onEndDateChangedEntrance($event)"
                                                       #retirementEntranceDate="ngModel" required  readonly title="{{defaultFormValues[30]['helpMessage']}}" id="start_date"/>

                                                <span class="input-group-btn">
                                                    <button type="button"  class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </button>
                                                    <button type="button"  class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>

                                            </div>
                                            <div *ngIf="f.submitted && retirementEntranceDate.invalid">
                                                <div [hidden]="!retirementEntranceDate.errors.required">
                                                    {{defaultFormValues[30]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
							<div class="col-md-6">
								<div class="form-group">
                                    <div [ngClass]="{'has-error': (f.submitted && !retirementPlanMatchPercent.valid) || !islifeTimepercent,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="retirementPlanMatchPercent">{{defaultFormValues[5]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" [ngClass]="'form-control fm-txt'" name="retirementPlanMatchPercent" [(ngModel)]="model.retirementPlanMatchPercent" #retirementPlanMatchPercent="ngModel" min="1"
                                                title="{{defaultFormValues[5]['helpMessage']}}" onkeypress="return check_digit(event,this,10,5);" (keyup)="checkdecimalpercent(retirementPlanMatchPercent.value)" required />
                                            <div *ngIf="(f.submitted && retirementPlanMatchPercent.invalid) || !islifeTimepercent">
                                                <div [hidden]="!retirementPlanMatchPercent.errors?.required">
                                                    {{defaultFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!retirementPlanMatchPercent.errors?.maxlength" *ngIf="defaultFormValues[5]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[5]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
												<div *ngIf="!islifeTimepercent && !retirementPlanMatchPercent.errors?.required">
													Invalid input
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								
                                <div class="form-group">
                                    <div [ngClass]="{'has-error': (f.submitted && !retirementPlanMaxPercent.valid) || !islifeTimeMaxpercent,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="retirementPlanMaxPercent">{{defaultFormValues[6]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" [ngClass]="'form-control fm-txt'" name="retirementPlanMaxPercent" [(ngModel)]="model.retirementPlanMaxPercent" #retirementPlanMaxPercent="ngModel"
                                                title="{{defaultFormValues[6]['helpMessage']}}" min="1" (keyup)="checkdecimalmaximumpercent(retirementPlanMaxPercent.value)" onkeypress="return check_digit(event,this,10,5);" required />
                                            <div *ngIf="(f.submitted && retirementPlanMaxPercent.invalid) || !islifeTimeMaxpercent">
                                                <div [hidden]="!retirementPlanMaxPercent.errors?.required">
                                                    {{defaultFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!retirementPlanMaxPercent.errors?.maxlength" *ngIf="defaultFormValues[6]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[6]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
												<div *ngIf="!islifeTimeMaxpercent && !retirementPlanMaxPercent.errors?.required">
													Invalid input
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                              <div class="form-group">
                                    <div [ngClass]="{'has-error': (f.submitted && !retirementPlanMaxAmount.valid) || !islifeTimeValidEmployerpay,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="retirementPlanMaxAmount">{{defaultFormValues[28]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" [ngClass]="'form-control fm-txt'" name="retirementPlanMaxAmount" [(ngModel)]="model.retirementPlanMaxAmount" #retirementPlanMaxAmount="ngModel"
                                                title="{{defaultFormValues[28]['helpMessage']}}" onkeypress="return check_digit(event,this,10,3);"  (keyup)="checkdecimalemployeepay(retirementPlanMaxAmount.value)" min="1" required />
                                            <div *ngIf="(f.submitted && retirementPlanMaxAmount.invalid) || (!retirementPlanMaxAmount.errors?.required && !islifeTimeValidEmployerpay)">
                                                <div [hidden]="!retirementPlanMaxAmount.errors?.required">
                                                    {{defaultFormValues[28]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!retirementPlanMaxAmount.errors?.maxlength" *ngIf="defaultFormValues[28]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[28]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
												<div *ngIf="(!retirementPlanMaxAmount.errors?.required && !islifeTimeValidEmployerpay)">                                                    
                                                        Invalid input                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && !retirementAge.valid,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="retirementAge">{{defaultFormValues[10]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="retirementAge" [(ngModel)]="model.retirementAge" #retirementAge="ngModel"
                                                title="{{defaultFormValues[10]['helpMessage']}}"  required />
                                            <div *ngIf="f.submitted && retirementAge.invalid">
                                                <div [hidden]="!retirementAge.errors.required">
                                                    {{defaultFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!retirementAge.errors?.maxlength" *ngIf="defaultFormValues[10]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[10]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
							   <div class="form-group">
                                    <div [ngClass]="{'has-error': f.submitted && !watingPeriods.valid,'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        <div class="col-md-4">
                                            <label class="control-label" for="watingPeriods">{{defaultFormValues[29]['fieldValue']}}</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="watingPeriods" [(ngModel)]="model.watingPeriods" #watingPeriods="ngModel"
                                                title="{{defaultFormValues[29]['helpMessage']}}"  required />
                                            <div *ngIf="f.submitted && watingPeriods.invalid">
                                                <div [hidden]="!watingPeriods.errors.required">
                                                    {{defaultFormValues[29]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                                <div [hidden]="!watingPeriods.errors?.maxlength" *ngIf="defaultFormValues[29]['listDtoFieldValidationMessage'][1]">
                                                    {{defaultFormValues[29]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								
								 <div class="form-group">
                                    <div [ngClass]="{'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        
                                        <div class="col-md-6">
                                            <input type="checkbox" [ngClass]="''" name="loans" [(ngModel)]="model.loans" #loans="ngModel"
                                                title="{{defaultFormValues[8]['helpMessage']}}"  value="true" />
                                                <label class="control-label" for="loans">{{defaultFormValues[8]['fieldValue']}}</label>                                            
                                        </div>
                                    </div>
                                </div>
								
								<div class="form-group">
                                    <div [ngClass]="{'col-md-10 col-xs-12':true, '': currentLanguage == 2}">
                                        
                                       <div class="col-md-6">
                                            <input type="checkbox" [ngClass]="''" name="bonus" [(ngModel)]="model.bonus" #bonus="ngModel"
                                                title="{{defaultFormValues[9]['helpMessage']}}"  value="true" />
                                                <label class="control-label" for="bonus">{{defaultFormValues[9]['fieldValue']}}</label>                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                           

                        </div>
                        <hr>
                        <div class="clearfix"></div>
                        <!--<div class="col-md-6">
                            <button class="orange-btn"  (click)="Create()"   title="{{defaultFormValues[18]['helpMessage']}}">{{defaultFormValues[18]['helpMessage']}}</button>
                        </div>
                        <div class="col-md-6">
                            <button class="blue-btn"  (click)="Create()"   title="{{defaultFormValues[18]['helpMessage']}}">{{defaultFormValues[18]['helpMessage']}}</button>
                        </div>-->
                        <div [ngClass]="'button-row'">
                            <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12': true, '': currentLanguage == 2}">
                                <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button [ngClass]="'orange-btn'" type="button" (click)="addFundsRow($event)"  >Add Fund</button>
                                            <button [ngClass]="'blue-btn'" type="button" (click)="removeFundsRow()">Delete Fund</button>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="fundsArray.length!=0">
                           <div class="col-md-4"></div>
                            <div class="col-md-8 algo-table">
                                <table style="float: right;width: 65%" class="table-responsive">
                                    <thead>
                                    <tr>
                                    <th>Select</th>
                                    <th>Fund ID</th>
                                    <th>Fund Name</th>
                                    <th>Active</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="fundclass" *ngFor="let fund of fundsArray; let i = index" id="{{i}}">
                                    <td width="10%"><input (click)="checkUncheck($event,i)" type="checkbox"/></td>
                                    <td [ngClass]="{'has-error': f.submitted,'': currentLanguage == 2}"><input type="text" [(ngModel)]="model.subItems[i].fundID" #fundID="ngModel" name="fundID[{{i}}]" required class="form-control"/></td>
                                    <td [ngClass]="{'has-error': f.submitted,'': currentLanguage == 2}"><input type="text" [(ngModel)]="model.subItems[i].fundName" #fundName="ngModel" name="fundName[{{i}}]" name="fundName[{{i}}]" required class="form-control"/></td>
                                    <td width="10%"><input type="checkbox" [(ngModel)]="model.subItems[i].active" #active="ngModel" name="active[{{i}}]"/></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div [ngClass]="'button-row'">
                            <div [ngClass]="{'col-md-12 col-sm-6 col-xs-12': true, '': currentLanguage == 2}">
                                <div [ngClass]="'col-xs-12'">
                                        <span class="pull-right">
                                            <button *ngIf="model.id" [ngClass]="'grey-btn'">Update</button>
                                            <button *ngIf="!model.id" [ngClass]="'grey-btn'">Save</button>
                                            <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)"  >Clear</button>
                                            <button [ngClass]="'blue-btn'"  (click)="showCreateForm = false;">Cancel</button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Create Update form ends -->
            </div>
        </section>
    </section>
</div>