<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{commonService.moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{EMPLOYEE_POST_DATE_CREATE_LABEL['helpMessage']}}">{{EMPLOYEE_POST_DATE_CREATE_LABEL['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{EMPLOYEE_POST_DATE_SEARCH['helpMessage']}}" placeholder="{{EMPLOYEE_POST_DATE_SEARCH['fieldValue']}}"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <div  class="setting-btn-wrap">
          <button class="setting-btn" *ngIf="!isConfigure" (click)="isConfigure = !isConfigure" title="Edit"><i class="fa fa-gear"></i></button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isShowHideGrid = !isShowHideGrid;" title="Show/Hide">Show/Hide</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.resetGrid(0, moduleCode, screenCode, defaultFormValues)" title="Reset">Reset</button>
          <button class="setting-btn" *ngIf="isConfigure" (click)="isConfigure = !isConfigure;commonService.saveConfiguration(0, moduleCode, screenCode, defaultFormValues)" title="Save"><i class="fa fa-save"></i></button>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department doNotPrint">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="LocationGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' [scrollbarH]="true">

              <!-- Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Grid Location Id -->
              <div *ngIf="commonService.gridLists && commonService.gridLists[0] && commonService.gridLists[0]['fieldDetailList'].length">
                <div *ngFor="let grid of commonService.gridLists[0]['fieldDetailList']; let i=index;">                            
                    <ngx-datatable-column  *ngIf="grid.isVisible == 1 || (isConfigure && isShowHideGrid) "  name="{{grid.fieldName}}" width="{{grid.fieldWidth}}" [canAutoResize]="false" [draggable]="true" [resizeable]="false">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <input type="checkbox" class="daynamic-position" *ngIf="isConfigure"  [checked]="grid.isVisible == 1" name="isVisible" (change)="commonService.markAsHideShow(0,i, $event.target.checked)">
                            <div 
                            [draggable]="isConfigure"
                            (dragstart)="commonService.drag($event,0,i,grid.colOrder)" 
                            (drop)="commonService.drop($event,0,i,grid.colOrder)" 
                            (dragover)="commonService.allowDrop($event,0,i,grid.colOrder)" 
                            (click)="sortColumn(grid.fieldName)">{{grid['fieldValue']}}</div>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{grid.gridFieldName ? getRowValue(row,grid.gridFieldName) : ''}}
                        </ng-template>
                    </ngx-datatable-column>  
                </div>
              </div>
              <!-- <ngx-datatable-column name="employeeMaster" [width]="110" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('employeeMaster.employeeId')">{{EMPLOYEE_POST_DATE_EMP_ID['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value.employeeId}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="employeeMaster" [width]="120" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('employeeMaster.employeeFirstName')">{{EMPLOYEE_POST_DATE_NAME['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value.employeeFirstName}}
                </ng-template>
              </ngx-datatable-column>


              <ngx-datatable-column name="payCode" [width]="120" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('payCode.payCodeId')">{{EMPLOYEE_POST_DATE_PAYCODE_ID['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value.payCodeId}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="payCode" [width]="120" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('payCode.description')">{{EMPLOYEE_POST_DATE_DESCRIPTION['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value.description}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="currentPayRate" [width]="140" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('currentPayRate')">{{EMPLOYEE_POST_DATE_CURRENT_RATE['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="newPayRate" [width]="130" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('newPayRate')">New Pay Rate</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="effectiveDate" [width]="130" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('effectiveDate')">Effective Date</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value | date: 'dd-MM-yyyy'}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="reasonforChange" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('reasonforChange')">Reason for Change</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column> -->

              <!-- Data Grid Action -->
              <ngx-datatable-column name="Action" [canAutoResize]="false" [width]="80" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{EMPLOYEE_POST_DATE_ACTION['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row doNotPrint">
          <!-- Table View Starts -->
          <div class="table-view table-view-fix">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #cityId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
        </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{EMPLOYEE_POST_DATE_DELETE_LABEL['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30 doNotPrint">
              <h3 *ngIf="!model.id">{{EMPLOYEE_POST_DATE_CREATE_FORM_LABEL['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{EMPLOYEE_POST_DATE_UPDATE_FORM_LABEL['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <div class="clearfix"></div>
            <form class="form-horizontal" (ngSubmit)="f.form.valid && CreatePostDated(f, $event)" #f="ngForm" novalidate>

              <!-- Location Id field -->
              <div class="form-group">
                <div *ngIf="isUnderUpdate; then update else create"></div>
                <ng-template #create>
                  <div [ngClass]="{ 'has-error': f.submitted && !employeeMaster.valid || !isEmployeeIdExist,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="superVisionCode">{{EMPLOYEE_POST_DATE_EMP_ID['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_POST_DATE_EMP_ID['isMandatory']">*</span>
                    </div>


                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="employeeMaster['employeeId']" [(ngModel)]="employeeMaster1['employeeId']" #employeeMaster="ngModel"
                             title="{{EMPLOYEE_POST_DATE_EMP_ID['helpMessage']}}" class="search-id"  [required]="EMPLOYEE_POST_DATE_EMP_ID['isMandatory']" maxlength="15" (typeaheadOnBlur)="typeaheadOnSelect1($event)" [typeahead]="employeeIdList" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect1($event)" (input)="checkValid1($event)" typeaheadOptionField="employeeId"/>
                      <div *ngIf="f.submitted && employeeMaster.invalid">
                        <div [hidden]="!employeeMaster.errors.required">
                          {{EMPLOYEE_POST_DATE_EMP_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                        <div [hidden]="!employeeMaster.errors?.maxlength">
                          {{EMPLOYEE_POST_DATE_EMP_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                        </div>
                      </div>
                      <div [hidden]="isEmployeeIdExist">
                        Invalid Employee ID
                      </div>
                    </div>

                  </div>
                </ng-template>


                <ng-template #update>
                  <div [ngClass]="{ 'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label class="control-label" for="superVisionCode">{{EMPLOYEE_POST_DATE_EMP_ID['fieldValue']}}</label>
                      <span *ngIf="EMPLOYEE_POST_DATE_EMP_ID['isMandatory']">*</span>
                    </div>

                    <div class="col-md-8">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="superVisionCode" value="{{tempemployeeId}}"
                             title="{{EMPLOYEE_POST_DATE_EMP_ID['helpMessage']}}" [readonly]="!EMPLOYEE_POST_DATE_EMP_ID['writeAccess']" [required]="EMPLOYEE_POST_DATE_EMP_ID['isMandatory']" maxlength="15"/>
                    </div>
                  </div>
                </ng-template>
              </div>

              <!-- Location Description Field -->
              <div class="form-group">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="description">{{EMPLOYEE_POST_DATE_NAME['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_POST_DATE_NAME['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                  <input type="text" [ngClass]="'form-control fm-txt'" name="empdesc" value="{{employeeDesc}}"
                        title="{{EMPLOYEE_POST_DATE_NAME['helpMessage']}}" disabled maxlength="31" />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !payCodeMaster.valid || !isBenefitIdExist,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="description">{{EMPLOYEE_POST_DATE_PAYCODE_ID['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_POST_DATE_PAYCODE_ID['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="payCodeMaster['payCodeId']" [(ngModel)]="payCodeMaster1['payCodeId']"
                           #payCodeMaster="ngModel" title="{{EMPLOYEE_POST_DATE_PAYCODE_ID['helpMessage']}}"
                           [required]="EMPLOYEE_POST_DATE_PAYCODE_ID['isMandatory']" maxlength="31"
                           [typeahead]="paycodeIdList" autocomplete="off" (typeaheadOnSelect)="typeaheadOnSelect2($event)" (typeaheadOnBlur)="typeaheadOnSelect2($event)" (input)="checkValid2($event)" typeaheadOptionField="payCodeId" class="search-id"/>
                    <div *ngIf="f.submitted && payCodeMaster.invalid">
                      <div [hidden]="!payCodeMaster.errors.required">
                        {{EMPLOYEE_POST_DATE_PAYCODE_ID['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!payCodeMaster.errors?.maxlength">
                        {{EMPLOYEE_POST_DATE_PAYCODE_ID['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                    <div [hidden]="isBenefitIdExist">
                      Invalid Pay Code ID
                    </div>
                  </div>

                </div>
              </div>


              <div class="form-group">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="description">{{EMPLOYEE_POST_DATE_DESCRIPTION['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_POST_DATE_DESCRIPTION['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="paydesc"
                            title="{{EMPLOYEE_POST_DATE_DESCRIPTION['helpMessage']}}" value="{{payCodeDesc}}"
                           disabled maxlength="31" />

                  </div>

                </div>
              </div>



              <!-- Location Address -->
              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !currentPayRate.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="description">{{EMPLOYEE_POST_DATE_CURRENT_RATE['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_POST_DATE_CURRENT_RATE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="currentPayRate" [(ngModel)]="model.currentPayRate"
                           #currentPayRate="ngModel" title="{{EMPLOYEE_POST_DATE_CURRENT_RATE['helpMessage']}}"
                           [required]="EMPLOYEE_POST_DATE_CURRENT_RATE['isMandatory']" [readonly]="!EMPLOYEE_POST_DATE_CURRENT_RATE['writeAccess']" maxlength="31" />
                    <div *ngIf="f.submitted && currentPayRate.invalid">
                      <div [hidden]="!currentPayRate.errors.required">
                        {{EMPLOYEE_POST_DATE_CURRENT_RATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!currentPayRate.errors?.maxlength">
                        {{EMPLOYEE_POST_DATE_CURRENT_RATE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Contact Name -->
              <div class="form-group">
                <div [ngClass]="{'has-error': (f.submitted && !newPayRate.valid) || (!newPayRate.errors?.required && newPayRate.value==0) || !isValidNewPayRate,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="description">{{EMPLOYEE_POST_DATE_NEW_RATE['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_POST_DATE_NEW_RATE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="number" [ngClass]="'form-control fm-txt'" name="newPayRate" [(ngModel)]="model.newPayRate"
                           #newPayRate="ngModel" title="{{EMPLOYEE_POST_DATE_NEW_RATE['helpMessage']}}"
                           [required]="EMPLOYEE_POST_DATE_NEW_RATE['isMandatory']" maxlength="31" onkeypress="return check_digit(event,this,10,3);"
                           onKeyPress="if(this.value.length==10) return false;" max="9999999999"
                           (keyup)="checkNewPayRate(newPayRate.value);"/>
                    <div *ngIf="(f.submitted && newPayRate.invalid) || (!newPayRate.errors?.required && newPayRate.value==0) || !isValidNewPayRate">
                      <div [hidden]="!newPayRate.errors?.required">
                        {{EMPLOYEE_POST_DATE_NEW_RATE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div *ngIf="!newPayRate.errors?.required && newPayRate.value==0 && isValidNewPayRate">
                        Invalid input
                      </div>
                      <div *ngIf="!newPayRate.errors?.required && !isValidNewPayRate">
                        Invalid Input
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !effectiveDate.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="lastDayAccrued">{{EMPLOYEE_POST_DATE_EFFECTIVE['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_POST_DATE_EFFECTIVE['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <div class="input-group">
                      <input [ngClass]="'form-control fm-txt'" style="float:none;" placeholder="Select a date" ngx-mydatepicker name="startDateModel"
                             [(ngModel)]="startDateModel" [options]="myOptions" #dp1="ngx-mydatepicker" (dateChanged)="onEndDateChanged($event)" (change)="onEndDateChanged($event)"
                             #effectiveDate="ngModel" required readonly/>

                      <span class="input-group-btn">
                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.clearDate()">
                                <i class="glyphicon glyphicon-remove"></i>
                            </button>
                            <button type="button" class="btn btn-default" style="float:none; height: 40px; width: 40px;" (click)="dp1.toggleCalendar()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </div>

                    <div *ngIf="f.submitted && effectiveDate.invalid">
                      <div [hidden]="!effectiveDate.errors.required">
                        {{EMPLOYEE_POST_DATE_EFFECTIVE['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <!--<div [hidden]="!latDayAcuurate.errors?.maxlength">
                        {{EMPLOYEE_POST_DATE_CURRENT_RATE['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>-->
                    </div>
                  </div>

                </div>
              </div>

              <div class="form-group">
                <div [ngClass]="{'has-error': f.submitted && !reasonforChange.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                  <div class="col-md-4">
                    <label class="control-label" for="description">{{EMPLOYEE_POST_DATE_REASON['fieldValue']}}</label>
                    <span *ngIf="EMPLOYEE_POST_DATE_REASON['isMandatory']">*</span>
                  </div>
                  <div class="col-md-8">
                    <input type="text" [ngClass]="'form-control fm-txt'" name="reasonforChange" [(ngModel)]="model.reasonforChange"
                           #reasonforChange="ngModel" title="{{EMPLOYEE_POST_DATE_NAME['helpMessage']}}"
                           [required]="EMPLOYEE_POST_DATE_NAME['isMandatory']" maxlength="31" />
                    <div *ngIf="f.submitted && reasonforChange.invalid">
                      <div [hidden]="!reasonforChange.errors.required">
                        {{EMPLOYEE_POST_DATE_REASON['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      <div [hidden]="!reasonforChange.errors?.maxlength">
                        {{EMPLOYEE_POST_DATE_REASON['listDtoFieldValidationMessage'][1]['validationMessage']}}
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <!-- Buttons -->
              <div [ngClass]="'button-row'">
                <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                  <div [ngClass]="'col-xs-12'">
                                            <span class="pull-right">
                                                <button *ngIf="model.id" [ngClass]="'grey-btn'">{{EMPLOYEE_POST_DATE_UPDATE_LABEL['fieldValue']}}</button>
                                                <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{EMPLOYEE_POST_DATE_SAVE_LABEL['fieldValue']}}</button>
                                                <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{EMPLOYEE_POST_DATE_CLEAR_LABEL['fieldValue']}}</button>
                                                <button [ngClass]="'grey-btn  '" type="button" (click)="printEmployeeDetails()" *ngIf="model.id">Print</button>
                                                <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{EMPLOYEE_POST_DATE_CANCEL_LABEL['fieldValue']}}</button>
                                            </span>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <!-- Create Update form ends -->
        <!-- </div> -->
      </div>
    </section>
  </section>
</div>

