<div class="modal"  *ngIf="isConfirmationModalOpen" style="display:block !important" >
    <div class="modal-content" >
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='DeleteArCashReciept(f)' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>

<div class="content-wrapper user-view" >
    <section class="content">
        <div class="section-heading">
            <h2>{{moduleName}}</h2>{{listDtoARDistributionDetail||json}}
        </div><!-- section Heading Ends -->
        <section class="inner-content">
            <div class="content-outer com-form">
                <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <div class="row">
                    <form (ngSubmit)="!hasMsg && f.form.valid" #f="ngForm" id="CashReceiptEntry" novalidate>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="bt-row">
                                    <div class="form-row" *ngIf="defaultAddFormValues[0]['readAccess']">
                                        <div class="label-outer">
                                            <label for="cashReceiptNumber">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                        </div>
                                        <div class="value-outer">
                                            <div  [ngClass]="{ 'has-error': f.submitted && (!cashReceiptNumber.valid || cashReceiptNumber == 0) ,'col-md-6 col-sm-6 col-xs-12 padding0':true }">
                                                <div class="hf-txt receiptNumber-input">
                                                    <input type="text"  [ngClass]="'form-control fm-txt'" myAutofocus name="cashReceiptNumber"  [readonly]="true"
                                                    [(ngModel)]="model.cashReceiptNumber" 
                                                    #cashReceiptNumber="ngModel" id="cashReceiptNumber" maxlength="10" title="{{defaultAddFormValues[0]['helpMessage']}}" required>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 padding-rt-0">
                                                <ng-select [allowClear]="false"
                                                [active]="activeCashReceiptNumber"
                                                [items]="arrCashReceiptNumber"
                                                [disabled]="false"
                                                (data)="bindSelectedItem($event,'CashReceiptNumber')"
                                                placeholder="{{select}}" 
                                                title="{{defaultAddFormValues[0]['helpMessage']}}">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="f.submitted && (cashReceiptNumber.invalid || cashReceiptNumber == 0)">
                                            <div class='error-msg' *ngIf="cashReceiptNumber.errors.required">
                                                {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-row" *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !cashReceiptDescription.valid,'':true}">
                                    <div class="label-outer">
                                        <label for="cashReceiptDescription">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                    </div>
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="cashReceiptDescription" [(ngModel)]="model.cashReceiptDescription" maxlength="61"
                                        #cashReceiptDescription="ngModel" id="cashReceiptDescription" [readonly]="!defaultAddFormValues[1]['writeAccess']" title="{{defaultAddFormValues[1]['helpMessage']}}" required>
                                        <div *ngIf="f.submitted && cashReceiptDescription.invalid">
                                            <div class='error-msg' *ngIf="cashReceiptDescription.errors.required">
                                                {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value outer ENds -->
                                    
                                </div><!-- Form Row Ends -->
                                
                                
                                <div class="form-row" *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !cashReceiptCreateDate.valid,'dob-row dob--inner':true}">
                                    <div class="label-outer">
                                        <label for="cashReceiptCreateDate">{{defaultAddFormValues[2]['fieldValue']}}</label>
                                    </div>
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="cashReceiptCreateDate" [(ngModel)]="model.cashReceiptCreateDate" 
                                        (dateChanged)="onDateChanged($event)" ngx-mydatepicker #dp="ngx-mydatepicker" [options]="myOptions" #cashReceiptCreateDate="ngModel" id="cashReceiptCreateDate" title="{{defaultAddFormValues[2]['helpMessage']}}" required readonly>
                                        <span class="input-group-btn db--date">
                                            <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span> 
                                        <div *ngIf="f.submitted && cashReceiptCreateDate.invalid">
                                            <div class='error-msg' *ngIf="cashReceiptCreateDate.errors.required">
                                                {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> 
                                    </div><!-- Value outer ENds -->
                                    
                                </div><!-- Form Row Ends -->
                                
                            </div><!-- Bt row Ends -->
                        </div>
                    </div><!-- Form Row Ends -->
                    <div class="form-row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            
                            <div class="form-row" *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeCustomer[0].id == '0','':true }">
                                <div class="label-outer">
                                    <label for="customerNumber">{{defaultAddFormValues[3]['fieldValue']}}</label>
                                </div><!-- Label Outer Ends -->
                                <div class="value-outer">
                                    <div class="col-md-6 col-sm-6 col-xs-6 padding0">
                                        <ng-select [allowClear]="false"
                                        [active]="activeCustomer"
                                        [items]="arrCustomer"
                                        [disabled]="false"
                                        (data)="bindSelectedItem($event,'Customer')"
                                        title="{{defaultAddFormValues[3]['helpMessage']}}">
                                    </ng-select>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 padding-rt-0">
                                    <div class="disable-input">
                                        <input type="text" class="form-control" [readonly]="!defaultAddFormValues[3]['writeAccess']" name="customerName" [(ngModel)]="customerName" disabled>
                                    </div>
                                </div>
                                <div *ngIf="f.submitted && activeCustomer[0].id == '0'">
                                    <div class='error-msg'>
                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div><!-- Value Outer ENds -->    
                            
                        </div><!-- BT Row  Ends -->
                        
                        <div class="form-row" *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeCurrency[0].id == '0','':true }">
                            <div class="bt-row">
                                <div class="label-outer">
                                    <label for="currencyID">{{defaultAddFormValues[4]['fieldValue']}}</label>
                                </div>
                                <div class="value-outer">
                                    <div class="col-md-11 col-sm-11 col-xs-11 padding-lt-0">
                                        <ng-select [allowClear]="false"
                                        [active]="activeCurrency"
                                        [items]="arrCurrency"
                                        [disabled]="false"
                                        (data)="bindSelectedItem($event,'Currency')"
                                        title="{{defaultAddFormValues[4]['helpMessage']}}">
                                    </ng-select>
                                    <div *ngIf="f.submitted && activeCurrency[0].id == '0'">
                                        <div class='error-msg'>
                                            {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div>
                                </div>
                                <a (click)="openModel(exchangeRateDetail,'exchangeRateDetail')"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div><!-- Value outer ENds -->
                        </div><!-- Form Row Ends -->
                    </div>
                    
                    <div class="form-row" *ngIf="defaultAddFormValues[5]['readAccess']">
                        <!--<div *ngIf="!isPostEvt" [ngClass]="{ 'has-error': f.submitted && activeBatch[0].id == '0','':true }">
                            <div class="label-outer">
                                <label for="batchID">{{defaultAddFormValues[5]['fieldValue']}}</label>
                            </div>
                            <div class="value-outer">
                                <ng-select [allowClear]="false"
                                [active]="activeBatch"
                                [items]="arrBatchList"
                                [disabled]="false"
                                (data)="bindSelectedItem($event,'Batch')"
                                title="{{defaultAddFormValues[5]['helpMessage']}}">
                            </ng-select>
                            <div *ngIf="f.submitted && activeBatch[0].id == '0' && !isPostEvt">
                                <div class='error-msg'>
                                    {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div> 
                        </div>
                    </div>-->
                    <div class="label-outer">
                        <label for="batchID">{{defaultAddFormValues[5]['fieldValue']}}</label>
                    </div>
                    <div class="value-outer">
                        <ng-select [allowClear]="false"
                        [active]="activeBatch"
                        [items]="arrBatchList"
                        [disabled]="false"
                        (data)="bindSelectedItem($event,'Batch')"
                        title="{{defaultAddFormValues[5]['helpMessage']}}">
                    </ng-select>        
                </div>
                
            </div><!-- Form Row Ends -->
            
            <div class="form-row" *ngIf="defaultAddFormValues[6]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeCheckbook[0].id == '0','':true }">
                <div class="label-outer">
                    <label for="checkBookId">{{defaultAddFormValues[6]['fieldValue']}}</label>
                </div>
                <div class="value-outer">
                    
                    <ng-select [allowClear]="false"
                    [active]="activeCheckbook"
                    [items]="arrCheckbook"
                    [disabled]="false"
                    (data)="bindSelectedItem($event,'Checkbook')"
                    title="{{defaultAddFormValues[6]['helpMessage']}}">
                </ng-select>
                
                <div *ngIf="f.submitted && activeCheckbook[0].id == '0'">
                    <div class='error-msg'>
                        {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    
                </div><!-- Value outer ENds -->
            </div><!-- Form Row Ends -->
        </div>
        <div class="form-row" *ngIf="defaultAddFormValues[7]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !cashReceiptType.valid,'':true}">
            <div class="label-outer">
                <label for="cashReceiptType">{{defaultAddFormValues[7]['fieldValue']}}</label>
            </div><!-- Label Outer Ends -->
            <div class="value-outer"> 
                <select [ngClass]="'form-control'" name="cashReceiptType" [(ngModel)]="model.cashReceiptType" 
                #cashReceiptType="ngModel" title="{{defaultAddFormValues[7]['helpMessage']}}" required>
                <option *ngFor="let cashReceiptType of arrReceiptType" [value]="cashReceiptType.typeId">
                    {{cashReceiptType.name}}
                </option>
            </select>
            <div *ngIf="f.submitted && cashReceiptType.invalid">
                <div class='error-msg' *ngIf="cashReceiptType.errors.required">
                    {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
            </div>
        </div><!-- Value Outer ENds -->  
        
    </div><!-- Row  Ends -->
    <div *ngIf = "model.cashReceiptType == 2">
        <div class="form-row" *ngIf="defaultAddFormValues[8]['readAccess']" [ngClass]="{'has-error': f.submitted && !checkNumber.valid,'':true}">
            <div class="label-outer">
                <label for="checkNumber">{{defaultAddFormValues[8]['fieldValue']}}</label>
            </div><!-- Label Outer Ends -->
            <div class="value-outer"> 
                <input type="text" [ngClass]="'form-control fm-txt'" name="checkNumber" [(ngModel)]="model.checkNumber" [readonly]="!defaultAddFormValues[8]['writeAccess']"
                #checkNumber="ngModel" id="checkNumber" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    title="{{defaultAddFormValues[8]['helpMessage']}}" required>
                <div *ngIf="f.submitted && checkNumber.invalid">
                    <div class='error-msg' *ngIf="checkNumber.errors.required">
                        {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                </div>
            </div><!-- Value Outer ENds -->
            
        </div> <!-- BT Row  Ends -->
    </div>
    <div  *ngIf = "model.cashReceiptType == 3">
        <div class="form-row" *ngIf="defaultAddFormValues[9]['readAccess']" [ngClass]="{ 'has-error': f.submitted && activeCreditCard[0].id == '0','':true }">
            <div class="label-outer">
                <label for="creditCardID">{{defaultAddFormValues[9]['fieldValue']}}</label>
            </div><!-- Label Outer Ends -->
            <div class="value-outer">
                <ng-select [allowClear]="false"
                [active]="activeCreditCard"
                [items]="arrCreditCard"
                [disabled]="false"
                (data)="bindSelectedItem($event,'CreditCard')"
                title="{{defaultAddFormValues[9]['helpMessage']}}">
            </ng-select>
            
            <div *ngIf="f.submitted && activeCreditCard[0].id == '0'">
                <div class='error-msg'>
                    {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
            </div>
        </div><!-- Value Outer ENds -->    
        
    </div><!-- BT Row  Ends -->
    <div class="form-row" *ngIf="defaultAddFormValues[10]['readAccess']" [ngClass]="{'has-error': f.submitted && !creditCardNumber.valid,'':true}">
        <div class="label-outer">
            <label for="creditCardNumber">{{defaultAddFormValues[10]['fieldValue']}}</label>
        </div><!-- Label Outer Ends -->
        <div class="value-outer"> 
            <input type="text" [ngClass]="'form-control fm-txt'" name="creditCardNumber" [(ngModel)]="model.creditCardNumber" [readonly]="!defaultAddFormValues[10]['writeAccess']"
            #creditCardNumber="ngModel" id="creditCardNumber" title="{{defaultAddFormValues[10]['helpMessage']}}" maxlength="21" required>
            <div *ngIf="f.submitted && creditCardNumber.invalid">
                <div class='error-msg' *ngIf="creditCardNumber.errors.required">
                    {{defaultAddFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
            </div>  
        </div><!-- Value Outer ENds -->  
        
    </div> <!-- BT Row  Ends -->
    <div class="form-row">
        <div class="label-outer" *ngIf="defaultAddFormValues[11]['readAccess']">
            <label>{{defaultAddFormValues[11]['fieldValue']}}</label>
        </div><!-- Label Outer Ends -->
        <div class="value-outer">
            <div *ngIf="defaultAddFormValues[12]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !creditCardExpireMonth.valid,'col-md-6 col-sm-6 col-xs-12  padding0':true }">
                <div class="hf-txt Expire-Date-input">
                    <span class="dm">{{defaultAddFormValues[12]['fieldValue']}}</span> 
                    <input type="text" [ngClass]="'form-control fm-txt'" name="creditCardExpireMonth" [(ngModel)]="model.creditCardExpireMonth" [readonly]="!defaultAddFormValues[12]['writeAccess']" (blur)="checkMonthValue()"
                    #creditCardExpireMonth="ngModel" maxlength="2" id="creditCardExpireMonth" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    title="{{defaultAddFormValues[12]['helpMessage']}}" required>
                    <div *ngIf="f.submitted && creditCardExpireMonth.invalid">
                        <div class='error-msg' *ngIf="creditCardExpireMonth.errors.required">
                            {{defaultAddFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                    </div>
                </div><!-- Half Text Ends -->
            </div>
            <div *ngIf="defaultAddFormValues[13]['readAccess']" [ngClass]="{ 'has-error': f.submitted && !creditCardExpireYear.valid,'col-md-6 col-sm-6 col-xs-12  padding0':true }">
                <div class="hf-txt Expire-Date-input">
                    <span class="dm">{{defaultAddFormValues[13]['fieldValue']}}</span> 
                    <input type="text" [ngClass]="'form-control fm-txt'" maxlength="4" name="creditCardExpireYear" [(ngModel)]="model.creditCardExpireYear" [readonly]="!defaultAddFormValues[13]['writeAccess']"
                    #creditCardExpireYear="ngModel" id="creditCardExpireYear" OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    title="{{defaultAddFormValues[13]['helpMessage']}}" required>
                    <div *ngIf="f.submitted && creditCardExpireYear.invalid">
                        <div class='error-msg' *ngIf="creditCardExpireYear.errors.required">
                            {{defaultAddFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                    </div>
                </div><!-- Half Text Ends -->
            </div><!-- BT Row Ends -->
        </div>
    </div><!-- BT Row Ends -->
</div>
</div>
</div><!-- Form Row Ends -->
<div class="form-row">
    <div class="col-md-6 col-sm-6 col-xs-12"  *ngIf="defaultAddFormValues[14]['readAccess']">
        
        <div class="bt-row" [ngClass]="{'has-error': f.submitted && !cashReceiptAmount.valid,'':true}">
            <div class="label-outer">
                <label for="cashReceiptAmount">{{defaultAddFormValues[14]['fieldValue']}}</label>
            </div><!-- Label Outer Ends -->
            <div class="value-outer"> 
                <input type="text" [ngClass]="'form-control fm-txt'" name="cashReceiptAmount" [(ngModel)]="model.cashReceiptAmount" [readonly]="!defaultAddFormValues[14]['writeAccess']"
                #cashReceiptAmount="ngModel" id="cashReceiptAmount" OnlyNumber="true"  
                (blur)="formatreceiptAmount()"
                (ngModelChange) = "getreceiptAmountValue($event)" 
                (focus)='formatreceiptAmountChanged()' 
                title="{{defaultAddFormValues[14]['helpMessage']}}" required>
                <div *ngIf="f.submitted && cashReceiptAmount.invalid">
                    <div class='error-msg' *ngIf="cashReceiptAmount.errors.required">
                        {{defaultAddFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    
                </div><!-- Value Outer ENds -->  
            </div> <!-- BT Row  Ends -->
        </div>
    </div>
    
    <div class="col-md-6 col-sm-6 col-xs-12"  *ngIf="!isScreenLock">
        <div class="button-row" >
            <div class="col-sm-12">
                <input type="button" class="blue-btn" value="{{defaultAddFormValues[15]['fieldValue']}}" title="{{defaultAddFormValues[15]['helpMessage']}}" *ngIf="defaultAddFormValues[15]['readAccess']" [readonly]="!defaultAddFormValues[15]['writeAccess']"
                 (click)="GetManualPaymentDistribution(f,exchangeRateDetail,arCashReceiptEntryDistribution)"/>
            </div>
        </div><!-- Buton Row Ends -->
    </div>
</div><!-- Form Row Ends -->
<div class="form-row"  *ngIf="!isScreenLock">
    <div class="button-row">
        <div class="col-sm-12">
            <input type="button" class="blue-btn" value="{{defaultAddFormValues[16]['fieldValue']}}" title="{{defaultAddFormValues[16]['helpMessage']}}" *ngIf="defaultAddFormValues[16]['readAccess']" [readonly]="!defaultAddFormValues[16]['writeAccess']" (click)="varifyDelete()" [disabled]="!this.isModify"/>
            <input type="button" class="blue-btn" value="{{defaultAddFormValues[18]['fieldValue']}}" title="{{defaultAddFormValues[18]['helpMessage']}}" *ngIf="defaultAddFormValues[17]['readAccess']" [readonly]="!defaultAddFormValues[17]['writeAccess']" (click)="PostArCashReceipt(f,exchangeRateDetail)"/>
            <input type="submit" class="orange-btn" value="{{defaultAddFormValues[17]['fieldValue']}}" title="{{defaultAddFormValues[17]['helpMessage']}}" *ngIf="defaultAddFormValues[18]['readAccess']" [readonly]="!defaultAddFormValues[18]['writeAccess']" (click)="CashReceiptEntry(f,exchangeRateDetail)" [disabled]="btndisabled"/>
            <input type="button" class="blue-btn" value="{{defaultAddFormValues[19]['fieldValue']}}" title="{{defaultAddFormValues[19]['helpMessage']}}" *ngIf="defaultAddFormValues[19]['readAccess']" [readonly]="!defaultAddFormValues[19]['writeAccess']" (click)="print()"/>
            <input type="button" class="blue-btn" value="{{defaultAddFormValues[20]['fieldValue']}}" title="{{defaultAddFormValues[20]['helpMessage']}}" *ngIf="defaultAddFormValues[20]['readAccess']" [readonly]="!defaultAddFormValues[20]['writeAccess']" (click)="clear(f)"/>
            <input type="button" class="blue-btn" *ngIf="showBtns" (click)="Cancel(f)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
        </div>
    </div><!-- Buton Row Ends -->
</div><!-- Form Row Ends -->
</form>
</div>
</div><!-- Form Row Ends -->
</section>
</section>
<modal #arCashReceiptEntryDistribution id="arCashReceiptEntryDistribution" [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-lg">
    <modal-header>
        {{distributionScreenModuleName}}
    </modal-header>
    <modal-content>
        <div class="content-outer com-form">
            <div class="row">
                <div class="form-row" *ngIf="defaultDistributionFormValues[0]['readAccess']">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="bt-row">
                            <div class="label-outer">
                                <label for="customerId">{{defaultDistributionFormValues[0]['fieldValue']}}</label>
                            </div>
                            <div class="value-outer">
                                <input type="text" [ngClass]="'form-control fm-txt'" name="customerNumber" [(ngModel)]="model.customerNumber" 
                                title="{{defaultDistributionFormValues[0]['helpMessage']}}" required readonly>
                            </div><!-- Value outer ENds -->
                        </div><!-- Bt row Ends -->
                    </div>
                </div><!-- Form Row Ends -->
                <div class="form-row">
                    <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultDistributionFormValues[1]['readAccess']">
                        <div class="bt-row">
                            <div class="label-outer">
                                <label for="customerName">{{defaultDistributionFormValues[1]['fieldValue']}}</label>
                            </div><!-- Label Outer Ends -->
                            <div class="value-outer"> 
                                <input type="text" [ngClass]="'form-control fm-txt'" name="customerName" [(ngModel)]="arrARDistributionEntry.customerName" 
                                title="{{defaultDistributionFormValues[1]['helpMessage']}}" required readonly>
                            </div><!-- Value Outer ENds -->  
                        </div> <!-- BT Row  Ends -->
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultDistributionFormValues[5]['readAccess']">
                        <div class="bt-row">
                            <div class="label-outer">
                                <label for="functionalAmount">{{defaultDistributionFormValues[5]['fieldValue']}}</label>
                            </div><!-- Label Outer Ends -->
                            <div class="value-outer"> 
                                <input type="text" [ngClass]="'form-control fm-txt'" name="functionalAmount" [(ngModel)]="arrARDistributionEntry.functionalAmount" 
                                title="{{defaultDistributionFormValues[5]['helpMessage']}}" required readonly>
                            </div><!-- Value Outer ENds -->  
                        </div> <!-- BT Row  Ends -->
                    </div>
                </div><!-- Form Row Ends -->
                <div class="form-row">
                    <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultDistributionFormValues[2]['readAccess']">
                        <div class="bt-row">
                            <div class="label-outer">
                                <label for="currencyID">{{defaultDistributionFormValues[2]['fieldValue']}}</label>
                            </div><!-- Label Outer Ends -->
                            <div class="value-outer"> 
                                <input type="text" [ngClass]="'form-control fm-txt'" name="currencyID" [(ngModel)]="arrARDistributionEntry.currencyID" 
                                title="{{defaultDistributionFormValues[2]['helpMessage']}}" required readonly>
                            </div><!-- Value Outer ENds -->  
                        </div> <!-- BT Row  Ends -->
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultDistributionFormValues[6]['readAccess']">
                        <div class="bt-row">
                            <div class="label-outer">
                                <label for="originalAmount">{{defaultDistributionFormValues[6]['fieldValue']}}</label>
                            </div><!-- Label Outer Ends -->
                            <div class="value-outer"> 
                                <input type="text" [ngClass]="'form-control fm-txt'" name="originalAmount" [(ngModel)]="arrARDistributionEntry.originalAmount" 
                                title="{{defaultDistributionFormValues[6]['helpMessage']}}" required readonly>
                            </div><!-- Value Outer ENds -->  
                        </div> <!-- BT Row  Ends -->
                    </div>
                </div><!-- Form Row Ends -->
                <div class="form-row" *ngIf="defaultDistributionFormValues[3]['readAccess']">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="bt-row">
                            <div class="label-outer">
                                <label for="cashReceiptNumber">{{defaultDistributionFormValues[3]['fieldValue']}}</label>
                            </div><!-- Label Outer Ends -->
                            <div class="value-outer"> 
                                <input type="text" [ngClass]="'form-control fm-txt'" name="cashReceiptNumber" [(ngModel)]="arrARDistributionEntry.cashReceiptNumber" 
                                title="{{defaultDistributionFormValues[3]['helpMessage']}}" required readonly>
                            </div><!-- Value Outer ENds -->  
                        </div> <!-- BT Row  Ends -->
                    </div>
                </div><!-- Form Row Ends -->
                <div class="form-row" *ngIf="defaultDistributionFormValues[4]['readAccess']">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="bt-row">
                            <div class="label-outer">
                                <label for="transactionType">{{defaultDistributionFormValues[4]['fieldValue']}}</label>
                            </div><!-- Label Outer Ends -->
                            <div class="value-outer"> 
                                <input type="text" [ngClass]="'form-control fm-txt'" name="transactionType" [(ngModel)]="arrARDistributionEntry.transactionType" 
                                title="{{defaultDistributionFormValues[4]['helpMessage']}}" required readonly>
                            </div><!-- Value Outer ENds -->  
                        </div> <!-- BT Row  Ends -->
                    </div>
                </div><!-- Form Row Ends -->
                <div class="form-row">
                    <div class="col-xs-12">
                        <div class="algo-table">
                            <div class="table-responsive">   
                                <div *ngIf="PopUphasMsg" style="font-weight:normal " [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                                    {{PopUpmessageText}}
                                </div>          
                                <table class="table">
                                    <thead>
                                        <tr> 
                                            <th width="20%">{{defaultDistributionFormValues[7]['fieldValue']}}</th>
                                            <th width="20%">{{defaultDistributionFormValues[8]['fieldValue']}}</th>
                                            <th width="30%">{{defaultDistributionFormValues[9]['fieldValue']}}</th>
                                            <th width="15%">{{defaultDistributionFormValues[10]['fieldValue']}}</th>
                                            <th width="15%">{{defaultDistributionFormValues[11]['fieldValue']}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div  [ngClass]="{ 'has-error': (f.submitted || IsAddDistributionDetails) && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails)  && activeAccountNumber[0].id == '0','col-md-10 col-sm-10 col-xs-10':true }">
                                                    <ng-select [allowClear]="false"
                                                    [active]="activeAccountNumber"
                                                    [items]="arrAccountNumber"
                                                    [disabled]="false"
                                                    (data)="bindSelectedItem($event,'AccountNumber')"
                                                    title="{{defaultDistributionFormValues[7]['helpMessage']}}">
                                                </ng-select>
                                                <div *ngIf="(f.submitted || IsAddDistributionDetails) && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails)  && activeAccountNumber[0].id == '0'">
                                                    <div class='error-msg'>
                                                        {{defaultDistributionFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                </div>
                                            </div>
                                            <a (click)="getGlAccountNumberDetail(ModalAccount)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                        </td>
                                        <td>
                                            <div  [ngClass]="{ 'has-error': (f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  distributionAccountType == '','col-md-12 col-sm-12 col-xs-12':true }">
                                                <select [ngClass]="'form-control'" id="distributionAccountType" name="distributionAccountType" [(ngModel)]="distributionAccountType" (change)="ChangeDistributionAccountType($event)"
                                                title="{{defaultDistributionFormValues[8]['helpMessage']}}"
                                                required>
                                                <option *ngFor="let distccountType of arrDistributionAccountTypes" [value]="distccountType.typeId">
                                                    {{distccountType.typeCode}}
                                                </option>
                                            </select>
                                        </div>
                                        <div *ngIf="(f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) && distributionAccountType == ''">
                                            <div class='error-msg'>
                                                {{defaultDistributionFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div  [ngClass]="{ 'has-error': (f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  !distributionDescription,'col-md-12 col-sm-12 col-xs-12':true }">
                                            <input type="text" class="form-control"  name="distributionDescription" [(ngModel)]="distributionDescription" title="{{defaultDistributionFormValues[9]['helpMessage']}}">
                                            <div *ngIf="(f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) && !distributionDescription">
                                                <div class='error-msg'>
                                                    {{defaultDistributionFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div>  
                                    </td>
                                    <td>
                                        <div  [ngClass]="{ 'has-error': (f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  ((debitAmount == '0'  || !debitAmount) && (creditAmount == '0'  || !creditAmount)),'col-md-10 col-sm-10 col-xs-10':true }">
                                            <input type="text" class="form-control"   name="debitAmount" [(ngModel)]="debitAmount" maxlength="14" (blur)="validateAmount('debitAmount',this)" 
                                            OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"     title="{{defaultDistributionFormValues[10]['helpMessage']}}">
                                            <div *ngIf="(f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  ((debitAmount == '0'  || !debitAmount) && (creditAmount == '0'  || !creditAmount))">
                                                <div class='error-msg'>
                                                    {{defaultDistributionFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div> 
                                    </td>   
                                    <td>
                                        <div  [ngClass]="{ 'has-error': (f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  ((debitAmount == '0'  || !debitAmount) && (creditAmount == '0'  || !creditAmount)),'col-md-9 col-sm-9 col-xs-9':true }">
                                            <input type="text" class="form-control"  name="creditAmount" (blur)="validateAmount('creditAmount',this)"  
                                            [(ngModel)]="creditAmount"  OnlyNumber="true"  (keydown)="onlyDecimalNumberKey($event)"    title="{{defaultDistributionFormValues[11]['helpMessage']}}" maxlength="14">
                                            <div *ngIf="(f.submitted || IsAddDistributionDetails)  && (arrARDistributionEntry.listDtoARDistributionDetail.length == '0' || IsAddDistributionDetails) &&  ((debitAmount == '0'  || !debitAmount) && (creditAmount == '0'  || !creditAmount))">
                                                <div class='error-msg'>
                                                    {{defaultDistributionFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div> 
                                        <a  class="add-ico-tb">
                                            <i class="fa fa-plus-circle" aria-hidden="true"  (click)="AddDistributionDetails()" ></i></a>
                                        </td>
                                        <!-- <td>{{arrARDistributionEntry.listDtoARDistributionDetail.distributionReference}}</td>
                                            <td>{{arrARDistributionEntry.listDtoARDistributionDetail.debitAmount}}</td>
                                            <td></td> -->
                                        </tr>
                                        <tr *ngFor="let arr of arrARDistributionEntry.listDtoARDistributionDetail;let i = index">
                                            
                                            <td>
                                                {{arr.accountNumber}}
                                            </td>
                                            <td>
                                                {{arr.type}}
                                            </td>
                                            <td>
                                                {{arr.distributionReference}}
                                            </td>
                                            <td>
                                                {{arr.debitAmount}}
                                            </td>
                                            <td>
                                                {{arr.creditAmount}}
                                                <a  class="add-ico-tb"><i class="fa fa-minus-circle" aria-hidden="true" (click)="RemoveDistributionDetails(i,arr)" ></i></a>
                                            </td>
                                            
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- Algo Table Ends -->
                    </div>
                </div><!-- Form Row Ends -->
                <div class="form-row">
                    <div class="button-row">
                        <div class="col-sm-12">
                            <input type="submit" class="orange-btn-sm" title="{{defaultDistributionFormValues[12]['helpMessage']}}" *ngIf="defaultDistributionFormValues[12]['readAccess']" [readonly]="!defaultDistributionFormValues[12]['writeAccess']" value="{{defaultDistributionFormValues[12]['fieldValue']}}" (click)="ARDistributionEntrySetup(arCashReceiptEntryDistribution);" [disabled]="!model.customerNumber" />
                            <input type="button" class="blue-btn-sm" title="{{defaultDistributionFormValues[13]['helpMessage']}}" value="{{defaultDistributionFormValues[13]['fieldValue']}}" *ngIf="defaultDistributionFormValues[13]['readAccess']" [readonly]="!defaultDistributionFormValues[13]['writeAccess']" (click)="DeleteArCashRecieptDistribution(arCashReceiptEntryDistribution)" [disabled]="!model.customerNumber" />
                            <input type="button" class="blue-btn-sm" title="{{defaultDistributionFormValues[14]['helpMessage']}}" value="{{defaultDistributionFormValues[14]['fieldValue']}}" *ngIf="defaultDistributionFormValues[14]['readAccess']" [readonly]="!defaultDistributionFormValues[14]['writeAccess']" (click)="GetDefaultDistribution()" [disabled]="!model.customerNumber" />                                 
                        </div>
                    </div><!-- Buton Row Ends -->
                </div><!-- Form Row Ends -->
            </div>
        </div><!-- Form Row Ends -->
    </modal-content>
</modal> 
<modal #exchangeRateDetail id="exchangeRateDetail" [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-lg">
    <modal-header>
        {{exchangeRateScreenModuleName}}
    </modal-header>
    <modal-content>
        <div class="content-outer com-form">
            <div class="row">
                <form (ngSubmit)="!hasMsg && f4.form.valid && SaveExchangeRateDetail(f4)" id="exchangeRateDetail" #f4="ngForm" novalidate>
                    <div class="form-row" *ngIf="defaultExchangeRateFormValues[1]['readAccess']">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="bt-row">
                                <div class="label-outer">
                                    <label>{{defaultExchangeRateFormValues[1]['fieldValue']}}</label>
                                </div><!-- Label Outer Ends -->
                                <div class="value-outer">
                                    <input type="text"  [readonly]="true" [ngClass]="'form-control fm-txt'" name="currencyID" [(ngModel)]="model.currencyID" 
                                    #currencyID="ngModel"  maxlength="15" title="{{defaultExchangeRateFormValues[1]['helpMessage']}}" >
                                </div><!-- Value Outer ENds -->  
                            </div><!-- Bt Row Ends -->
                        </div>
                    </div>
                    <div class="form-row" *ngIf="defaultExchangeRateFormValues[2]['readAccess']">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="bt-row">
                                <div class="label-outer">
                                    <label>{{defaultExchangeRateFormValues[2]['fieldValue']}}</label>
                                </div><!-- Label Outer Ends -->
                                <div class="value-outer" [ngClass]="{ 'has-error': f.submitted && activeExchangeDetail[0].id == '0','':true }">
                                    
                                    <ng-select [allowClear]="false"
                                    [active]="activeExchangeDetail"
                                    [items]="arrExchangeDetail"
                                    [disabled]="false"
                                    (data)="bindSelectedItem($event,'ExchangeDetail')"
                                    title="{{defaultExchangeRateFormValues[2]['helpMessage']}}">
                                </ng-select>
                            </div>
                            <div *ngIf="f.submitted && activeExchangeDetail[0].id == '0'">
                                <div class='error-msg'>
                                    {{defaultExchangeRateFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                </div>
                            </div>
                        </div><!-- Bt Row Ends -->
                    </div><!-- Form Row Ends -->
                </div>
                <div class="form-row">
                    <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultExchangeRateFormValues[3]['readAccess']">
                        <div class="bt-row">
                            <div class="label-outer">
                                <label>{{defaultExchangeRateFormValues[3]['fieldValue']}}</label>
                            </div><!-- Label Outer Ends -->
                            <div class="value-outer" [ngClass]="{'has-error': f.submitted && !exchangeTableRate.valid,'':true}">
                                <input  type="text" class="form-control fm-txt" [readonly]="!defaultExchangeRateFormValues[3]['writeAccess']" 
                                name="exchangeTableRate" [(ngModel)]="model.exchangeTableRate"
                                #exchangeTableRate="ngModel" required title="{{defaultExchangeRateFormValues[3]['helpMessage']}}"/>
                                <div *ngIf="f.submitted && exchangeTableRate.invalid">
                                    <div class='error-msg' *ngIf="exchangeTableRate.errors.required">
                                        {{defaultExchangeRateFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                    </div>
                                </div>
                            </div>
                        </div><!-- Bt Row Ends -->
                    </div>                                
                    <div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultExchangeRateFormValues[4]['readAccess']">
                        <div class="bt-row">
                            <div class="label-outer">
                                <label>{{defaultExchangeRateFormValues[4]['fieldValue']}}</label>
                            </div><!-- Label Outer Ends -->
                            <div class="value-outer">
                                <input  type="text" class="form-control fm-txt" readonly 
                                name="exchangeExpirationDate" [(ngModel)]="model.exchangeExpirationDate"
                                #exchangeExpirationDate="ngModel" required title="{{defaultExchangeRateFormValues[4]['helpMessage']}}"/>
                            </div><!-- Value Outer ENds -->  
                        </div><!-- Bt Row Ends -->
                    </div>
                </div><!-- Form Row Ends -->
                <div class="form-row">
                    <div class="button-row">
                        <div class="col-sm-12">
                            <input type="submit" title="{{defaultExchangeRateFormValues[5]['helpMessage']}}" (click)="exchangeRateDetail.close()"
                            class="orange-btn-sm" *ngIf="defaultExchangeRateFormValues[5]['readAccess']" [readonly]="!defaultExchangeRateFormValues[5]['writeAccess']" 
                            value="{{defaultExchangeRateFormValues[5]['fieldValue']}}"/>
                        </div>
                    </div><!-- Buton Row Ends -->
                </div><!-- Form Row Ends -->
            </form>
        </div>
    </div><!-- Form Row Ends -->
</modal-content>
</modal>

<modal #ModalAccount [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-sm">
    <modal-header>
        {{accountDescriptionTitle}}
    </modal-header>
    <modal-content>
        {{accountDescription}}
    </modal-content>
    <modal-footer>
        <button class="btn btn-primary close-button" (click)="ModalAccount.close()">{{close}}</button>
    </modal-footer>
</modal>
</div><!-- Content OUter Ends -->