<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <span class="btnClose" (click)='closeModal()'></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="orange-btn-sm" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <section class="content">
    <!-- section Heading Starts -->
    <div class="section-heading">
      <h2>{{moduleName}}</h2>
      <button class="orange-btn" (click)="Create()" title="{{defaultFormValues[7]['helpMessage']}}">{{defaultFormValues[7]['fieldValue']}}</button>
    </div>
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- content outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <div *ngIf="hasMessage" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
            {{message.text}}
          </div>
          <div class="search-top">
            <input type="text" class="search-txt form-control" title="{{defaultFormValues[0]['helpMessage']}}" placeholder="{{defaultFormValues[0]['fieldValue']}}"
                   (keyup)='updateFilter($event)' />
          </div>
        </div>
        <!-- Content Heading Ends -->
        <div class="algo-table algo-table-department">
          <!-- Data Grid Starts-->
          <div class="table-responsive">
            <ngx-datatable id="PositionPlanSetupGrid1" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)'>

              <!--Data Grid checkbox -->
              <ngx-datatable-column [width]="40" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
              </ngx-datatable-column>

              <!-- Data Column Position Id -->
              <ngx-datatable-column name="positionId" [width]="110" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionId')">{{defaultFormValues[1]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Position Training Description -->
              <ngx-datatable-column name="positionTrainingDesc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionTrainingDesc')">{{defaultFormValues[2]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column position Training Arbic Desc -->
              <ngx-datatable-column name="positionTrainingArbicDesc" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('positionTrainingArbicDesc')">{{defaultFormValues[3]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column traning CourseId -->
              <ngx-datatable-column name="traningClassName" [width]="100" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('traningClassName')">{{defaultFormValues[4]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column course Desc -->
              <ngx-datatable-column name="traningCourseIdName" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sortColumn('traningCourseIdName')">{{defaultFormValues[5]['fieldValue']}}</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}
                </ng-template>
              </ngx-datatable-column>

              <!-- Data Column Action -->
              <ngx-datatable-column name="Action" [width]="80" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  {{defaultFormValues[6]['fieldValue']}}
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button class="edit-ico" (click)="edit(row)" title="Edit"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- Data Grid Ends-->
        </div>
        <div class="button-row">
          <!-- Table View Starts -->
          <div class="table-view">
            <span>TABLE VIEW</span>
            <div class="select-outer">
              <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize" #positionSetupId="ngModel">
                <option value="5">5 at a time </option>
                <option value="15">15 at a time </option>
                <option value="50">50 at a time </option>
                <option value="100">100 at a time </option>
              </select>
            </div>
          </div>
          <!-- Table View Ends -->

          <div class="bottom-view">
          </div>
          <button class="blue-btn" (click)="varifyDelete()">{{defaultFormValues[12]['fieldValue']}}</button>

          <!-- Create / Update Form start -->
          <div *ngIf="showCreateForm">
            <div class="col-md-12 mt-30">
              <hr>
            </div>
            <div class="col-md-12 mb-30">
              <h3 *ngIf="!model.id">{{defaultFormValues[13]['fieldValue']}}</h3>
              <h3 *ngIf="model.id">{{defaultFormValues[14]['fieldValue']}}</h3>
            </div>
            <div *ngIf="duplicateWarning" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
              {{message.text}}
            </div>
            <form (ngSubmit)="f.form.valid && traningCourseId.value!=0 && traningClassId.value!=0 && CreatePositionTraining(f, $event)" #f="ngForm" novalidate>
              <div [ngClass]="'row'">

                <!-- Position  Id field -->
                <div [ngClass]="'form-row cust-bottom'">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2 }">
                    <div class="col-md-4">
                      <label for="positionId">{{defaultFormValues[1]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">

                      <input type="text" [ngClass]="'form-control fm-txt'" name="positionId"  value={{positionId}}
                             title="{{defaultFormValues[0]['helpMessage']}}"   readonly/>

                      <div *ngIf="f.submitted && positionId.invalid">
                        <div [hidden]="!positionId.errors.required">
                          {{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- position Plan Description Field -->
                <div [ngClass]="'form-row cust-bottom'">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label for="positionTrainingDesc">{{defaultFormValues[2]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="description"  value={{positionTrainingDesc}}
                               title="{{defaultFormValues[0]['helpMessage']}}" [(ngModel)]="positionTrainingDesc" readonly/>
                    </div>

                  </div>
                </div>

                <!-- Arabic position class description -->
                <div [ngClass]="'form-row cust-bottom'">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label for="positionTrainingArbicDesc">{{defaultFormValues[3]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-8 arabic-mode">
                        <input type="text" [ngClass]="'form-control fm-txt'" name="positionPlanArbicDesc" [(ngModel)]="positionTrainingArbicDesc"  value={{positionTrainingArbicDesc}}
                               title="{{defaultFormValues[0]['helpMessage']}}"  readonly/>
                    </div>
                  </div>
                </div>

                <!-- Position Course ID DropDown-->
                <div [ngClass]="'form-row cust-bottom'">
                  <div [ngClass]="{'has-error': f.submitted && traningCourseId.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label for="traningCourseId">{{defaultFormValues[4]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-4">
                      <select [ngClass]="'form-control '" name="traningCourseId" [(ngModel)]="model.traningCourseId" #traningCourseId="ngModel" title="{{defaultFormValues[0]['helpMessage']}}" required>
                        <option value="0">-- Select Course ID --</option>
                         <option *ngFor="let position of positionCourseDropDown" [value]="position.id">
                          {{position.traningId}}
                        </option>
                      </select>
                      <div *ngIf="f.submitted && traningCourseId.value==0">
                        <div [hidden]="traningCourseId.value!=0">
                          {{defaultFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>


                    <!--Position Course Description-->
                    <div class="col-md-4">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="courseDesc" [(ngModel)]="model.courseDesc" #courseDesc="ngModel" title="{{defaultFormValues[0]['helpMessage']}}" readonly />
                    </div>

                  </div>
                </div>

                <!-- Position Class ID Drop Down -->
                <div [ngClass]="'form-row cust-bottom'">
                  <div [ngClass]="{'has-error': f.submitted && traningClassId.value==0,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <div class="col-md-4">
                      <label for="traningClassId">{{defaultFormValues[5]['fieldValue']}}</label>
                    </div>
                    <div class="col-md-4">
                      <select [ngClass]="'form-control '" name="traningClassId" [(ngModel)]="model.traningClassId" #traningClassId="ngModel" title="{{defaultFormValues[0]['helpMessage']}}" required>
                        <option value="0">-- Select Class ID--</option>
                        <option *ngFor="let position of positionTrainingDropDown" [value]="position.id">
                          {{position.className}}
                        </option>
                      </select>
                      <div *ngIf="f.submitted && traningClassId.value==0">
                        <div [hidden]="traningClassId.value!=0">
                          {{defaultFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                        </div>
                      </div>
                    </div>


                    <!--Position Course Description-->
                    <div class="col-md-4">
                      <input type="text" [ngClass]="'form-control fm-txt'" name="classDesc" [(ngModel)]="model.classDesc"
                             #classDesc="ngModel" title="{{defaultFormValues[0]['helpMessage']}}"
                             readonly />

                    </div>
                  </div>
                </div>

                <!-- Buttons -->
                <div [ngClass]="'button-row'">
                  <div [ngClass]="{'col-md-8 col-sm-6 col-xs-12': true, 'col-md-offset-4': currentLanguage == 2}">
                    <div [ngClass]="'col-xs-12'">
                            <span class="pull-right">
                                <button *ngIf="model.id" [ngClass]="'grey-btn'">{{defaultFormValues[11]['fieldValue']}}</button>
                                <button *ngIf="!model.id" [ngClass]="'grey-btn'">{{defaultFormValues[8]['fieldValue']}}</button>
                                <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{defaultFormValues[9]['fieldValue']}}</button>
                                <button [ngClass]="'blue-btn'" (click)="showCreateForm = false;">{{defaultFormValues[10]['fieldValue']}}</button>
                            </span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- Create Update form ends -->
        </div>
      </div>
    </section>
  </section>
</div>