<div class="content-wrapper user-view" >
    <section class="content">
        <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
        <section class="inner-content">
            <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                {{messageText}}
            </div>
            
            <div class="content-outer com-form">
                <div class="row">
                    
                    <div class="content-heading">
                        <div class="search-top">
                            <input type="text" class="search-txt form-control" (keyup)='updateFilter($event)' />
                        </div>
                    </div>
                    
                    <div class="form-row">  
                        <div class="col-xs-12">
                            <div class="algo-table">
                                <div class="table-responsive">
                                    <ngx-datatable id="currencyId" class="material" [rows]="rows"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                    [rowHeight]="'auto'" [externalPaging]="true"
                                    [count]="page.totalElements" [offset]="page.pageNumber"
                                    [limit]="page.size" (page)='setPage($event)'
                                    [selected]="selected" [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}"
                                    (select)='onSelect($event)'> 
                                    <ngx-datatable-column *ngIf="defaultManageFormValues[0]['readAccess']"  name="currencyId" [width]="150"
                                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                                    <ng-template let-column="column" let-sort="sortFn"
                                    ngx-datatable-header-template> <span class="sort-btn"
                                    (click)="sort()">{{defaultManageFormValues[0]['fieldValue']}}</span> </ng-template> <ng-template
                                    let-value="value" ngx-datatable-cell-template>
                                    {{value}} </ng-template> 
                                </ngx-datatable-column> 
                                <ngx-datatable-column name="currencyDescription" *ngIf="defaultManageFormValues[1]['readAccess']" 
                                [width]="200" [canAutoResize]="false" [draggable]="false"
                                [resizeable]="false"> <ng-template
                                let-column="column" let-sort="sortFn"
                                ngx-datatable-header-template> <span class="sort-btn"
                                (click)="sort()">{{defaultManageFormValues[1]['fieldValue']}}</span> </ng-template> <ng-template
                                let-value="value" ngx-datatable-cell-template>
                                {{value}} </ng-template>
                            </ngx-datatable-column> 
                            <ngx-datatable-column name="currencyDescriptionArabic" *ngIf="defaultManageFormValues[2]['readAccess']" 
							[width]="200" [canAutoResize]="false" [draggable]="false"
							[resizeable]="false"> <ng-template
							let-column="column" let-sort="sortFn"
							ngx-datatable-header-template> <span class="sort-btn"
							(click)="sort()">{{defaultManageFormValues[2]['fieldValue']}}</span> </ng-template> <ng-template
							let-value="value" ngx-datatable-cell-template>
                            {{value}} 
						</ng-template>
                    </ngx-datatable-column> 
                    <ngx-datatable-column name="currencySymbol" [width]="150" *ngIf="defaultManageFormValues[3]['readAccess']" 
                    [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template let-column="column" let-sort="sortFn"
                    ngx-datatable-header-template> <span class="sort-btn"
                    (click)="sort()">{{defaultManageFormValues[3]['fieldValue']}}</span> </ng-template> <ng-template
                    let-value="value" ngx-datatable-cell-template>
                    {{value}} </ng-template> 
                </ngx-datatable-column>
                <ngx-datatable-column name="Action" [width]="99" *ngIf="defaultManageFormValues[5]['readAccess']" 
                [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template let-column="column" let-sort="sortFn"
                ngx-datatable-header-template>
                {{defaultManageFormValues[6]['fieldValue']}} </ng-template> <ng-template let-row="row"
                let-value="value" ngx-datatable-cell-template>
                <a class="edit-ico" (click)="getCurrencySetUpDetailsById(row)" title="{{defaultManageFormValues[4]['helpMessage']}}"></a>
            </ng-template> 
        </ngx-datatable-column> 
    </ngx-datatable>
</div>

<div class="button-row" *ngIf="page.totalElements > 0">
    <!-- Table View Starts -->
    <div class="table-view">
        <span>Table View</span>
        <div class="select-outer">
            <select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
                <option value="5">5 {{atATimeText}} </option>
                <option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
                <option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
                <option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
            </select>
        </div>
    </div>
    <!-- Table View Ends -->
    <div class="bottom-view">
    </div>
</div>
</div><!-- Algo Table Ends -->
</div>

</div><!-- Form Row Ends -->



<form (ngSubmit)="!hasMsg && f.form.valid && saveCurrencySetup(f)" #f="ngForm" novalidate>
    <div [ngClass]="'form-row'">
        <div  *ngIf="defaultAddFormValues[0]['readAccess']" [ngClass]="{'has-error': f.submitted && !currencyId.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            
            <label for="currencyId">{{defaultAddFormValues[0]['fieldValue']}}</label>
            <input myAutofocus type="text" id="txtId" [ngClass]="'form-control fm-txt auto-focus'" name="currencyId" [(ngModel)]="model.currencyId" 		
            #currencyId="ngModel" 	[disabled]="disableId"	class="{{myHtml}}" 
            title="{{defaultAddFormValues[0]['helpMessage']}}" (blur)="IsIdAlreadyExist()"		
            [readonly]="!defaultAddFormValues[0]['writeAccess']" required/>
            <div *ngIf="f.submitted && currencyId.invalid">
                <div class='error-msg' *ngIf="currencyId.errors.required">
                    {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
            </div>
        </div>
    </div><!-- Form Row Ends -->
    <div [ngClass]="'form-row'">
        <div  *ngIf="defaultAddFormValues[1]['readAccess']" [ngClass]="{'has-error': f.submitted && !currencyDescription.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            <label for="currencyDescription">{{defaultAddFormValues[1]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="currencyDescription" [(ngModel)]="model.currencyDescription" 		
            #currencyDescription="ngModel"  		
            title="{{defaultAddFormValues[1]['helpMessage']}}"		
            maxlength="31"  [readonly]="!defaultAddFormValues[1]['writeAccess']" required />
            <div *ngIf="f.submitted && currencyDescription.invalid">
                <div class='error-msg' *ngIf="currencyDescription.errors.required">
                    {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="currencyDescription.errors.maxlength">
                    {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
                
            </div>
        </div>
        
        <div  *ngIf="defaultAddFormValues[2]['readAccess']" [ngClass]="{'has-error': f.submitted && !currencyDescriptionArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
            
            <label for="currencyDescriptionArabic">{{defaultAddFormValues[2]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="currencyDescriptionArabic" [(ngModel)]="model.currencyDescriptionArabic" 		
            #currencyDescriptionArabic="ngModel" 		
            title="{{defaultAddFormValues[2]['helpMessage']}}"		
            maxlength="61"  [readonly]="!defaultAddFormValues[2]['writeAccess']" required />
            
            <div *ngIf="f.submitted && currencyDescriptionArabic.invalid">
                <div class='error-msg' *ngIf="currencyDescriptionArabic.errors.required">
                    {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="currencyDescriptionArabic.errors.maxlength">
                    {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                
            </div>
        </div>
        
    </div><!-- Form Row Ends -->
    
    <div [ngClass]="'form-row'">
        <div  *ngIf="defaultAddFormValues[3]['readAccess']" [ngClass]="{'has-error': f.submitted && !currencySymbol.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            <label for="currencySymbol">{{defaultAddFormValues[3]['fieldValue']}}</label>
            <input type="text" [ngClass]="'form-control fm-txt'" name="currencySymbol" [(ngModel)]="model.currencySymbol" 		
            #currencySymbol="ngModel" onlyAlphabet="true"
            (keydown)="onlyAlphabets($event)" 	
            title="{{defaultAddFormValues[3]['helpMessage']}}"		
            maxlength="3"  [readonly]="!defaultAddFormValues[3]['writeAccess']" required />
            <div *ngIf="f.submitted && currencySymbol.invalid">
                <div class='error-msg' *ngIf="currencySymbol.errors.required">
                    {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                </div>
                <div class='error-msg' *ngIf="currencySymbol.errors.maxlength">
                    {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                </div>
                
            </div>
        </div>
        
        
        
    </div><!-- Form Row Ends -->
    
    <div [ngClass]="'form-row'">
        
        
        <div  *ngIf="defaultAddFormValues[4]['readAccess']" [ngClass]="{'has-error': f.submitted && !negativeSymbol.valid,'col-md-6 col-sm-6 col-xs-12':true}">
            <label for="negativeSymbol">{{defaultAddFormValues[4]['fieldValue']}}</label>
            <div [ngClass]="'select-outer'">
                <select [ngClass]="'form-control fm-txt'" name="ddlcurrencyType" [(ngModel)]="model.negativeSymbol" 
                #negativeSymbol="ngModel" title="{{defaultAddFormValues[4]['helpMessage']}}" required>
                <option *ngFor="let negativeSymbol of ArrNegativeSymbol"  [value]="negativeSymbol.typeId">
                    {{negativeSymbol.typeValue}}
                </option>
            </select>
            
        </div>
        <div *ngIf="f.submitted && negativeSymbol.invalid">
            <div class='error-msg' [hidden]="!negativeSymbol.errors.required">
                {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
            </div>
        </div>
        
    </div>
    
</div><!-- Form Row Ends -->


<div class="form-row" >
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="col-xs-12 border-box">
            <div class="content-heading"><div class="col-xs-12"><h3>{{defaultAddFormValues[5]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->
            <span class="choose-opt"><label for="includeSpaceAfterCurrencySymbol">
                <input type="radio" name="beforeamount" id="rdbeforeamount" [(ngModel)]="abc" value="0" [checked]="beforeAmount" >{{defaultAddFormValues[6]['fieldValue']}}</label></span>
                
                <span class="choose-opt"><label for="afteramount"><input type="radio"  value="1" [checked]="afterAmount" id="rdafteramount"  
                    [(ngModel)]="abc" name="beforeamount" > {{defaultAddFormValues[7]['fieldValue']}}</label></span>
                    <span class="choose-opt"><label for="includeSpaceAfterCurrencySymbol">
                        <input type="checkbox" id="chkIncludeSpaceAfterCurrencySymbol" 
                        name="includeSpaceAfterCurrencySymbol" [checked]="isIncludeSpace"
                        [(ngModel)]="isIncludeSpace" (ngModelChange)='onDisplaySymbolChange()' > {{defaultAddFormValues[8]['fieldValue']}}</label></span>
                        <!--<label for="ipChecked">Ip Permission: <input type='checkbox'  [checked]='includeSpaceAfterCurrencySymbol' (click)='onCheckboxChange()'  required/> </label>-->
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12 sm-selects">
                    <div class="content-heading">
                        <div class="col-xs-12"><h3>{{defaultAddFormValues[9]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->
                        
                        <div  *ngIf="defaultAddFormValues[10]['readAccess']" [ngClass]="'col-md-6 col-sm-6 col-xs-12'">
                            
                            <label for="separatorsDecimal">{{defaultAddFormValues[10]['fieldValue']}}</label>
                            <div [ngClass]="'select-outer'">
                                <select [ngClass]="'form-control fm-txt'" name="ddldecimalType" [(ngModel)]="model.separatorsDecimal" 
                                #separatorsDecimal="ngModel" title="{{defaultAddFormValues[10]['helpMessage']}}" required>
                                <option *ngFor="let decimalType of ArrDecimalType" [value]="decimalType.typeId">
                                    {{decimalType.typeValue}}
                                </option>
                            </select>
                        </div>
                        
                        
                    </div>
                    
                    <div  *ngIf="defaultAddFormValues[11]['readAccess']" [ngClass]="'col-md-6 col-sm-6 col-xs-12'">
                        <label for="separatorsThousands">{{defaultAddFormValues[11]['fieldValue']}}</label>
                        <div [ngClass]="'select-outer'">
                            <select [ngClass]="'form-control fm-txt'" name="ddlThousandsType" [(ngModel)]="model.separatorsThousands" 
                            #separatorsThousands="ngModel" title="{{defaultAddFormValues[11]['helpMessage']}}" required>
                            <option *ngFor="let thousandType of ArrThousandType" [value]="thousandType.typeId">
                                {{thousandType.typeValue}}
                            </option>
                        </select>
                    </div>
                    
                </div>
                
            </div>
            
        </div><!-- Form Row Ends -->
        
        
        
        <div class="form-row">
            
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="col-xs-12 border-box">
                    <div class="content-heading"><div class="col-xs-12"><h3>{{defaultAddFormValues[13]['fieldValue']}}</h3> </div></div><!-- Content Heading Ends -->
                    <!--<span class="choose-opt"  *ngFor = "let displayNegativeType of ArrNegativeSumbol" ><label><input type="radio" name="displayNegativeSymbolSign" [(ngModel)]="model.displayNegativeSymbolSign" 		
                        [value]="displayNegativeType.typeId" title="{{defaultAddFormValues[13]['helpMessage']}}"> {{displayNegativeType.typeValue}}</label>
                    </span>-->
                    <span class="choose-opt" *ngFor = "let displayNegativeType of ArrNegativeSumbol;">
                        <input  type="radio" name="displayNegativeSymbolSign" [(ngModel)]="model.displayNegativeSymbolSign" 		
                        value="{{displayNegativeType.typeId}}" title="{{defaultAddFormValues[13]['helpMessage']}}" 
                        #displayNegativeSymbolSign="ngModel" required> {{displayNegativeType.typeValue}}
                    </span>
                </div>
            </div>
        </div><!-- Form Row Ends -->
        
        
        <div class="form-row">
            <div  *ngIf="defaultAddFormValues[15]['readAccess']" [ngClass]="{'has-error': f.submitted && !currencyUnit.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                <label for="currencyUnit">{{defaultAddFormValues[15]['fieldValue']}}</label>
                <input type="text" [ngClass]="'form-control fm-txt'" name="currencyUnit" [(ngModel)]="model.currencyUnit" 		
                #currencyUnit="ngModel" 		
                title="{{defaultAddFormValues[15]['helpMessage']}}"		
                maxlength="50"  [readonly]="!defaultAddFormValues[15]['writeAccess']" required />
                <div *ngIf="f.submitted && currencyUnit.invalid">
                    <div class='error-msg' *ngIf="currencyUnit.errors.required">
                        {{defaultAddFormValues[15]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div class='error-msg' *ngIf="currencyUnit.errors.maxlength">
                        {{defaultAddFormValues[15]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                    
                </div>
            </div>
            
            <div *ngIf="defaultAddFormValues[16]['readAccess']" [ngClass]="{'has-error': f.submitted && !currencyUnitArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                
                <label for="currencyUnitArabic">{{defaultAddFormValues[16]['fieldValue']}}</label>
                <input type="text" [ngClass]="'form-control fm-txt'" name="currencyUnitArabic" [(ngModel)]="model.currencyUnitArabic" 		
                #currencyUnitArabic="ngModel" [readonly]="!defaultAddFormValues[16]['writeAccess']"		
                title="{{defaultAddFormValues[16]['helpMessage']}}"		
                maxlength="10" required />
                <div *ngIf="f.submitted && currencyUnitArabic.invalid">
                    <div class='error-msg' *ngIf="currencyUnitArabic.errors.required">
                        {{defaultAddFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div class='error-msg' *ngIf="currencyUnitArabic.errors.maxlength">
                        {{defaultAddFormValues[16]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                </div>
            </div>
            
        </div><!-- Form Row Ends -->
        <div class="form-row">
            
            <div *ngIf="defaultAddFormValues[17]['readAccess']" [ngClass]="{'has-error': f.submitted && !unitSubunitConnector.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                <label for="unitSubunitConnector">{{defaultAddFormValues[17]['fieldValue']}}</label>
                <input type="text" [ngClass]="'form-control fm-txt'" name="unitSubunitConnector" [(ngModel)]="model.unitSubunitConnector" 		
                #unitSubunitConnector="ngModel" [readonly]="!defaultAddFormValues[17]['writeAccess']" 		
                title="{{defaultAddFormValues[17]['helpMessage']}}"		
                maxlength="10" required />
                <div *ngIf="f.submitted && unitSubunitConnector.invalid">
                    <div class='error-msg' *ngIf="unitSubunitConnector.errors.required">
                        {{defaultAddFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div class='error-msg' *ngIf="unitSubunitConnector.errors.maxlength">
                        {{defaultAddFormValues[17]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                    
                </div>
            </div>
            <div *ngIf="defaultAddFormValues[18]['readAccess']" [ngClass]="{'has-error': f.submitted && !unitSubunitConnectorArabic.valid,'col-md-6 col-sm-6 col-xs-12 arabic-mode':true}">
                
                <label for="unitSubunitConnectorArabic">{{defaultAddFormValues[18]['fieldValue']}}</label>
                <input type="text" [ngClass]="'form-control fm-txt'" name="unitSubunitConnectorArabic" [(ngModel)]="model.unitSubunitConnectorArabic" 		
                #unitSubunitConnectorArabic="ngModel" [readonly]="!defaultAddFormValues[18]['writeAccess']"		
                title="{{defaultAddFormValues[18]['helpMessage']}}"		
                maxlength="10"  required />
                <div *ngIf="f.submitted && unitSubunitConnectorArabic.invalid">
                    <div class='error-msg' *ngIf="unitSubunitConnectorArabic.errors.required">
                        {{defaultAddFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div class='error-msg' *ngIf="unitSubunitConnectorArabic.errors.maxlength">
                        {{defaultAddFormValues[18]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                </div>
            </div>
            
        </div><!-- Form Row Ends -->
        <div class="form-row">
            
            <div *ngIf="defaultAddFormValues[19]['readAccess']" [ngClass]="{'has-error': f.submitted && !currencySubunit.valid,'col-md-6 col-sm-6 col-xs-12':true}">
                <label for="currencySubunit">{{defaultAddFormValues[19]['fieldValue']}}</label>
                <input type="text" [ngClass]="'form-control fm-txt'" name="currencySubunit" [(ngModel)]="model.currencySubunit" 		
                #currencySubunit="ngModel" 	[readonly]="!defaultAddFormValues[19]['writeAccess']"	
                title="{{defaultAddFormValues[19]['helpMessage']}}"		
                maxlength="10"  required />
                <div *ngIf="f.submitted && currencySubunit.invalid">
                    <div class='error-msg' *ngIf="currencySubunit.errors.required">
                        {{defaultAddFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div class='error-msg' *ngIf="currencySubunit.errors.maxlength">
                        {{defaultAddFormValues[19]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                </div>
            </div>
            <div *ngIf="defaultAddFormValues[20]['readAccess']" [ngClass]="{'has-error': f.submitted && !currencySubunitArabic.valid,'col-md-6 col-sm-6 col-xs-12  arabic-mode':true}">
                <label for="currencySubunitArabic">{{defaultAddFormValues[20]['fieldValue']}}</label>
                <input type="text" [ngClass]="'form-control fm-txt'" name="currencySubunitArabic" [(ngModel)]="model.currencySubunitArabic" 		
                #currencySubunitArabic="ngModel" [readonly]="!defaultAddFormValues[20]['writeAccess']"		
                title="{{defaultAddFormValues[20]['helpMessage']}}"		
                maxlength="10"  required />
                <div *ngIf="f.submitted && currencySubunitArabic.invalid">
                    <div class='error-msg' *ngIf="currencySubunitArabic.errors.required">
                        {{defaultAddFormValues[20]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                    <div class='error-msg' *ngIf="currencySubunitArabic.errors.maxlength">
                        {{defaultAddFormValues[20]['listDtoFieldValidationMessage'][1]['validationMessage']}}
                    </div>
                </div>
            </div>
            
            
            
        </div><!-- Form Row Ends -->
        
        <div class="button-row">
            <div [ngClass]="'col-sm-12'" >
                <button [ngClass]="'orange-btn'" *ngIf="defaultAddFormValues[21]['readAccess']" title="{{defaultAddFormValues[21]['fieldValue']}}" 
                [disabled]="LockScreen(defaultAddFormValues[21]['writeAccess'])">{{defaultAddFormValues[21]['helpMessage']}}</button>
                <a [ngClass]="'blue-btn'" title="{{defaultAddFormValues[22]['fieldValue']}}" (click)="clearForm();">{{defaultAddFormValues[22]['helpMessage']}}</a>
                <input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel()" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
            </div>
        </div>
    </form>
</div> <!-- Row Ends -->
</div><!-- Content OUter Ends -->

</section>
</section>
</div>
