<!-- <div class="modal-dialog bd-example-modal-lg" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Create New Account Number</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body card-body">
      <form>
        <div *ngFor="let  segmentNumber of segmentNumbers ; let i=index;trackBy:trackByFn">
          <input id="segmentNumber_{{i}}" *ngIf="i==0" (blur)="fetchIndexInformation(i,segmentNumber)" [(ngModel)]="segmentNumbers[i]"
            #segmentNumber_{{i}}="ngModel" [disabled]="false" name="segmentNumber_{{i}}" type="text" class="form-control fm-smalltxt acc-txt"
            style="width:65px" />

          <input id="segmentNumber_{{i}}" *ngIf="i>0" (blur)="fetchIndexInformation(i,segmentNumber)" [(ngModel)]="segmentNumber"
            #segmentNumber_{{i}}="ngModel" [disabled]="DimensionsFieldsStatus" name="segmentNumber_{{i}}" type="text" class="form-control fm-smalltxt acc-txt"
             style="width:65px" />

             <i  aria-hidden="true" class="fa fa-minus" style="float: left;padding: 3px 0px;"
             *ngIf="i + 1 != segmentNumbers.length"></i>
        </div>
      </form>

      <div class="row" style="margin-top:20px;">
        <div class="col-md-6"><label>Account Decription: </label></div>
        <div class="col-md-12"><input class="form-control" disabled="true" /></div>
        <div class="col-md-6"><label>Account Description Arabic: </label></div>
        <div class="col-md-12"><input class="form-control" disabled="true" /></div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="blue-btn-sm">Submit</button>
      <button class="orange-btn-sm">Clear</button>
      <button class="blue-btn-sm" (click)="resetFields()">Reset</button>
    </div>
  </div>
</div> -->