<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
  <div class="modal-content">
    <div class="modal-header">
      <!-- <span class="btnClose" (click)='closeModal()'></span> -->
      <span class="btnClose" (click)='closeModal()'><i class="fa fa-close"></i></span>
      {{confirmationModalTitle}}
    </div>
    <div class="modal-body">
      <p *ngIf='!isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
      <p *ngIf='isDeleteAction'>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{deleteConfirmationText}}</p>
    </div>
    <div class="modal-footer">
      <button class="green-btn" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
      <button class="green-btn" (click)='delete()' *ngIf='isDeleteAction'>{{OkText}}</button>
      <button class="blue-btn" (click)='closeModal()'>{{CancelText}}</button>

    </div>
  </div>
</div>



<!-- screen header -->
<div class="page-header">
  <div class="page-header-title">
    <span>
      <h3 *ngIf="!model.id">{{VACATIONTYPE_CREATE_FORM_LABEL['fieldValue']}}</h3>
      <h3 *ngIf="model.id">{{VACATIONTYPE_UPDATE_FORM_LABEL['fieldValue']}}</h3>
    </span>
  </div>
  <!-- <div class="page-header-breadcrumb">
  <i class="ti-settings"></i>
</div> -->
</div>
<!-- screen header -->

<div class="content-wrapper">
  <section class="content" (keyup)='EscapeModal($event)'>
    <!-- section Heading Starts -->
    <!-- <div class="section-heading">
      <h2></h2>
  </div> -->
    <!-- section Heading Ends -->
    <section class="inner-content">
      <!-- Content Outer Starts -->
      <div class="content-outer com-form">
        <div *ngIf="hasMsg"
          [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{messageText}}
        </div>

        <div *ngIf="duplicateWarning"
          [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
          {{message.text}}
        </div>
        <!-- Content Heading Starts -->
        <div class="content-heading">
          <!-- <h3> {{screenName}}</h3> -->
          <div *ngIf="showloader" class="loader">
          </div>
        </div>
        <!-- Content Heading Ends -->

        <!--adding form starts-->
        <!-- Basic Form Inputs card start -->
        <app-card [title]="">
          <!-- <h4 class="sub-title">Create company</h4> -->


          <form class="form-horizontal" (ngSubmit)="f.form.valid && CreateVacationType(f, $event)" #f="ngForm" novalidate>

            <!-- <ng-template> -->
            <div class="form-group row">
              <div class="col-sm-2">
                <div class="floating-label">
                  <input auto-complete [source]="rows" class="floating-input" list-formatter="codeId"
                    [readonly]="isUnderUpdate" [(ngModel)]="model.codeId" [ngModelOptions]="{standalone: true}"
                    name="vacationCodeId" #vacationCodeId="ngModel" (valueChanged)="getVacationSetupData($event)"
                    placeholder="" #filterInput
                    on-focus="onAutocompleteFocus('lblVacationTypeId',selectedDepartmentSetup)"
                    tabindex="1" required />

                  <div *ngIf="f.submitted && vacationCodeId.invalid">
                    <div class="error-msg" [hidden]="!vacationCodeId.errors.required">
                      {{VACATIONTYPE_CodeId['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>

                  </div>

                  <span class="highlight"></span>
                  <label id="lblVacationTypeId" for="vacationCodeId">{{VACATIONTYPE_CodeId['fieldValue']}}</label>
                  <input type="hidden" /><span class="search-icon">
                    <!-- <i class="ti-angle-down"></i> -->
                    <i (click)="toggle()"
                      [ngClass]="{'ti-angle-down': !isDepartmentOpen, 'ti-angle-up':isDepartmentOpen }"></i>
                  </span>
                </div>
              </div>

            </div>


            <!-- </ng-template> -->

            <div class="form-group row">
              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12"
                    [ngClass]="{'has-error': f.submitted && !vacationDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="2" name="vacationDescription"
                      [(ngModel)]="model.descr" #vacationDescription="ngModel"
                      title="{{VACATIONTYPE_DESCRIPTION['helpMessage']}}" maxlength="31"
                      [required]="VACATIONTYPE_DESCRIPTION['isMandatory']" />

                    <div *ngIf="f.submitted && vacationDescription.invalid">
                      <div class="error-msg" [hidden]="!vacationDescription.errors.required">
                        {{VACATIONTYPE_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
 
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label"
                      for="vacationDescription">{{VACATIONTYPE_DESCRIPTION['fieldValue']}}</label>

                  </div>
                </div>
              </div>




              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12"
                    [ngClass]="{'has-error': f.submitted && !arabicVacationDescription.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="3"
                      name="arabicVacationDescription" [(ngModel)]="model.arabicDescr"
                      #arabicVacationDescription="ngModel" title="{{VACATIONTYPE_ARABIC_DESCRIPTION['helpMessage']}}"
                      maxlength="61" [required]="VACATIONTYPE_ARABIC_DESCRIPTION['isMandatory']" />

                    <div *ngIf="f.submitted && arabicVacationDescription.invalid">
                      <!-- <div class="error-msg" [hidden]="!arabicVacationDescription.errors.required">
                        {{VACATIONTYPE_ARABIC_DESCRIPTION['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div> -->
                      
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label"
                      for="arabicVacationDescription">{{VACATIONTYPE_ARABIC_DESCRIPTION['fieldValue']}}</label>
                  </div>
                </div>
              </div>


              <div class="col-sm-4">
                <div class="form-group row">
                  <div class="floating-label col-md-12"
                    [ngClass]="{'has-error': f.submitted && !vacationDays.valid,'col-md-8 col-sm-6 col-xs-12':true, 'col-md-offset-4': currentLanguage == 2}">
                    <input class="floating-input" type="text" placeholder=" " tabindex="3"
                      name="vacationDays" [(ngModel)]="model.days"
                      #vacationDays="ngModel" title="{{VACATIONTYPE_DAYS['helpMessage']}}"
                      maxlength="61" [required]="VACATIONTYPE_DAYS['isMandatory']" />

                    <div *ngIf="f.submitted && vacationDays.invalid">
                      <div class="error-msg" [hidden]="!vacationDays.errors.required">
                        {{VACATIONTYPE_DAYS['listDtoFieldValidationMessage'][0]['validationMessage']}}
                      </div>
                      
                    </div>
                    <span class="highlight"></span>
                    <label class="control-label"
                      for="vacationDays">{{VACATIONTYPE_DAYS['fieldValue']}}</label>
                  </div>
                </div>
              </div>

            </div>

            <div [ngClass]="'button-row'">
              <div [ngClass]="'col-sm-12'">
                  <button *ngIf="model.id" class="green-btn">{{VACATIONTYPE_UPDATE_LABEL['fieldValue']}}</button>
                  <button *ngIf="!model.id" class="green-btn">{{VACATIONTYPE_SAVE_LABEL['fieldValue']}}</button>
                  <button class="blue-btn" (click)="goBack()">{{VACATIONTYPE_CANCEL_LABEL['fieldValue']}}</button>
                  <button [ngClass]="'orange-btn'" type="button" (click)="Clear(f)">{{VACATIONTYPE_CLEAR_LABEL['fieldValue']}}</button>
              </div>
              
      </div>

          </form>


        </app-card>


        <!--adding form ends-->
      </div>
      <!-- Content Outer Ends -->
    </section>
  </section>
</div>