
<div class="content-wrapper user-view">
<!--<pre>{{accountGroup|json}}</pre>-->
    <section class="content">
		<!--<pre>{{defaultFormValues|json}}</pre>-->
		<div class="section-heading"><h2>{{moduleName}}</h2></div>
		<!--<pre>{{gridDefaultFormValues|json}}</pre>-->
            <section class="inner-content">
                <div class="content-outer com-form">
					<div *ngIf="hasMsg"	[ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
					{{messageText}}</div>
                     <div class="row">
						 <div class="form-row">
							<div class="col-xs-12">
								<div class="content-heading">
									<div class="search-top">
										<input type="text" class="search-txt form-control"  (keyup)='updateFilter($event)' />
									</div>
								</div>
								<div class="algo-table">
									<div class="table-responsive"> 
										<ngx-datatable id="AccountGroupSetup" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [messages]="{emptyMessage:EmptyMessage,totalMessage:totalText}" [selected]="Searchselected">
										
											<ngx-datatable-column *ngIf="gridDefaultFormValues[0]['readAccess']" name="accountGroupId" [width]="200" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[0]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>		
											<ngx-datatable-column *ngIf="gridDefaultFormValues[1]['readAccess']" name="description" [width]="250" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[1]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
																				
											<ngx-datatable-column *ngIf="gridDefaultFormValues[2]['readAccess']" name="descriptionArabic" [width]="250" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn" (click)="sort()">{{gridDefaultFormValues[2]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-value="value" ngx-datatable-cell-template>
													{{value}}
												</ng-template>
											</ngx-datatable-column>
										
											<ngx-datatable-column *ngIf="gridDefaultFormValues[3]['readAccess']" name="Action" [width]="150" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
												<ng-template  let-column="column" let-sort="sortFn" ngx-datatable-header-template>
													<span class="sort-btn">{{gridDefaultFormValues[3]['fieldValue']}}</span>
												</ng-template>
												<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
													<a class="edit-ico" (click)="edit(row)" *ngIf="gridDefaultFormValues[4]['readAccess']" title="gridDefaultFormValues[4]['helpMessage']"></a>
												</ng-template>
											</ngx-datatable-column>
										 </ngx-datatable>
									</div>
								</div><!-- Algo Table Ends -->
								<div class="button-row" *ngIf="page.totalElements > 0">
									<!-- Table View Starts -->
									<div class="table-view">
									<span>{{tableViewtext}}</span>
										<div class="select-outer">
											<select class="form-control" (change)="changePageSize($event)" name="ddPageSize" [(ngModel)]="ddPageSize">
														<option value="5">5 {{atATimeText}} </option>
														<option value="15" *ngIf="page.totalElements > 5">15 {{atATimeText}} </option>
														<option value="50" *ngIf="page.totalElements > 15">50 {{atATimeText}} </option>
														<option value="100"  *ngIf="page.totalElements > 50">100 {{atATimeText}} </option>
											</select>
										</div>
									</div>
									<!-- Table View Ends -->
									<div class="bottom-view">
									</div>
									<!--<button class="blue-btn" (click)="delete()"  title="delete">Delete</button>-->
								</div>
							</div>
						</div><!-- Form Row Ends -->

						<form class="search-batch" name="accountGroupSetup" (ngSubmit)="accountGroupSetup.form.valid && save(accountGroupSetup)" #accountGroupSetup="ngForm" novalidate>
							 <div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[0]['readAccess']" [ngClass]="{ 'has-error': accountGroupSetup.submitted && !accountGroupId.valid }">
									<label>{{defaultFormValues[0]['fieldValue']}}</label>
									<input type="text" myAutofocus title="{{defaultFormValues[0]['helpMessage']}}" class="form-control fm-txt auto-focus" name="accountGroupId" [(ngModel)]="accountGroup.accountGroupId" #accountGroupId="ngModel" maxlength="15" required [disabled]="disableId">
									<div *ngIf="accountGroupSetup.submitted && accountGroupId.invalid">
										<div class='error-msg' *ngIf="accountGroupId.errors.required">
											{{defaultFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="accountGroupId.errors.maxlength">
											{{defaultFormValues[0]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
									</div>									
								</div>
							</div><!-- Form Row Ends -->	
								
							<div class="form-row">                            
								<div class="col-md-6 col-sm-6 col-xs-12" *ngIf="defaultFormValues[1]['readAccess']" [ngClass]="{ 'has-error': accountGroupSetup.submitted && !description.valid }">
									<label>{{defaultFormValues[1]['fieldValue']}}</label>
									<input type="text" title="{{defaultFormValues[1]['helpMessage']}}" class="form-control fm-txt" name="description" [(ngModel)]="accountGroup.description" #description="ngModel" maxlength="31" required>
									<div *ngIf="accountGroupSetup.submitted && description.invalid">
										<div class='error-msg' *ngIf="description.errors.required">
											{{defaultFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="description.errors.maxlength">
											{{defaultFormValues[1]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-12 arabic-mode" *ngIf="defaultFormValues[2]['readAccess']" [ngClass]="{ 'has-error': accountGroupSetup.submitted && !descriptionArabic.valid }">
								   <label>{{defaultFormValues[2]['fieldValue']}}</label>
									<input type="text" title="{{defaultFormValues[2]['helpMessage']}}" class="form-control fm-txt" name="descriptionArabic" [(ngModel)]="accountGroup.descriptionArabic" #descriptionArabic="ngModel" maxlength="61" required>
									<div *ngIf="accountGroupSetup.submitted && descriptionArabic.invalid">
										<div class='error-msg' *ngIf="descriptionArabic.errors.required">
											{{defaultFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
										</div>
										<div class='error-msg' *ngIf="descriptionArabic.errors.maxlength">
											{{defaultFormValues[2]['listDtoFieldValidationMessage'][1]['validationMessage']}}
										</div>
									</div>
								</div>                            
							</div><!-- Form Row Ends -->
							
							<div class="form-row">
								<div class="col-xs-12">
									<div class="algo-table">
										<div class="table-responsive">          
											<table class="table">
												<thead>
													<tr> 
													  <th width="20%">{{defaultFormValues[3]['fieldValue']}}</th>
													  <th width="50%">{{defaultFormValues[4]['fieldValue']}}</th>
													  <th width="30%">{{defaultFormValues[5]['fieldValue']}}</th>
													</tr>
												</thead>
												<tbody>
													<tr *ngFor="let item of accountNumberList; let i=index;">
														<td>{{item.typeValue}}</td>
														<td>
															<!--<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber1_{{i}}" [(ngModel)]="item.accountNumber1" (blur)="fetchRecordForFirstText(i)" /> 
															<i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus" style="float: left;padding: 3px 0px;"></i>	
															<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber2_{{i}}" [(ngModel)]="item.accountNumber2" (blur)="fetchRecordForSecondText(i)" [disabled]="item.disabled2"/> 
															<i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus" style="float: left;padding: 3px 0px;"></i>	
															<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber3_{{i}}" [(ngModel)]="item.accountNumber3" (blur)="fetchRecordForThirdText(i)" [disabled]="item.disabled3"/>
															<i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus" style="float: left;padding: 3px 0px;"></i>	
															<input type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber4_{{i}}" [(ngModel)]="item.accountNumber4" (blur)="fetchRecordForFourthText(i)" [disabled]="item.disabled4"/> -->
															<span *ngFor="let segment of arrSegment; let j=index;">
																<input id="txtfirstSegment_{{i}}{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_{{i}}"
																  (blur)="fetchFirstAccountIndexInfo(i,j)" *ngIf="j==0" style="width:65px" />
																   <input id="txtSegment_{{i}}{{j}}" type="text" class="form-control fm-smalltxt acc-txt" name="accountNumber{{j}}_{{i}}"
																  (blur)="fetchOtherAccountIndexInfo(i,j)" *ngIf="j > 0" style="width:65px"  [disabled]='segment.isReadOnly'/> 
															      <i _ngcontent-c21="" aria-hidden="true" class="fa fa-minus"
																      style="float: left;padding: 3px 0px;" *ngIf="j + 1 != arrSegment.length"></i>	
															</span>
														</td>
														  <td>
														<!-- <p>accountDescription =  {{item.accountDescription | json}} </p> -->
														  	<span *ngFor="let desc of item.accountDescription;">
																  <span *ngIf="desc != 0">
																		{{desc}}	
																  </span>
															</span>
															<!-- <p>	accountNumberIndex = {{item.accountNumberIndex | json}} </p> -->
															<!-- <span *ngFor="let desc1 of item.accountNumberIndex;">
																   <span *ngIf="desc1 != 0">
																		{{desc1}}	
																  </span>
															</span> -->
														</td>
													  <!--<td>{{item.accountDescription}}</td>													  -->
													</tr>
                                  
												</tbody>
											</table>
										</div>
									</div><!-- Algo Table Ends -->
								</div>
							</div><!-- Form Row Ends -->
							
							<div class="button-row">
								<div class="col-sm-12">
										<input type="submit" [disabled]="LockScreen(defaultFormValues[6]['writeAccess'])"  title="{{defaultFormValues[6]['helpMessage']}}" class="orange-btn" *ngIf="defaultFormValues[6]['readAccess']" value="{{defaultFormValues[6]['fieldValue']}}">
									<input type="button" class="blue-btn" title="{{defaultFormValues[7]['helpMessage']}}" (click)="ClearForm(accountGroupSetup);" *ngIf="defaultFormValues[7]['readAccess']" value="{{defaultFormValues[7]['fieldValue']}}"/>
									<input type="button" class="grey-btn" *ngIf="showBtns" (click)="Cancel(accountGroupSetup)" title="{{btnCancelText}}" value="{{btnCancelText}}"/>
								</div>
							</div>
							
						</form>
						<!--<pre>{{accountNumberList|json}}</pre>-->
                    </div>
				</div><!-- Content OUter Ends -->
        </section>
    </section>
</div>
<style>
	.user-view .algo-table .acc-txt{border:1px solid #d5d5d5; width:19%;}
</style>
<!--<style>
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}
</style>-->