<div class="modal" *ngIf="isConfirmationModalOpen" style="display:block !important">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btnClose" (click)='closeModal()'></span>
            {{confirmationModalTitle}}
        </div>
        <div class="modal-body">
            <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{confirmationModalBody}}</p>
        </div>
        <div class="modal-footer">
            <button class="orange-btn-sm" (click)='updateStatus()' *ngIf='!isDeleteAction'>{{OkText}}</button>
            <button class="orange-btn-sm" (click)='DeleteCashReciept(f)' *ngIf='isDeleteAction'>{{OkText}}</button>
            <button class="blue-btn-sm" (click)='closeModal()'>{{CancelText}}</button>
        </div>
    </div>
</div>

<div class="content-wrapper user-view">
    <section class="content">
        <div class="section-heading">
            <h2>{{moduleName}}</h2>
        </div><!-- section Heading Ends -->
        <section class="inner-content">
            <div class="content-outer com-form">
                <div *ngIf="hasMsg"
                    [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                    {{messageText}}
                </div>
                <div class="row">
                    <!-- <pre>{{defaultAddFormValues | json}}</pre> -->
                    <form id="CashReceipt" (ngSubmit)="!hasMsg && f.form.valid" #f="ngForm" novalidate>
                        <div class="form-row">
                            <div class='col-md-6 col-sm-6 col-xs-12'>
                                <div class="form-row">
                                    <div class="label-outer">
                                        <label for="receiptNumber">{{defaultAddFormValues[0]['fieldValue']}}</label>
                                    </div>
                                    <div class="value-outer">
                                        <div
                                            [ngClass]="{ 'has-error': f.submitted && (!receiptNumber.valid || receiptNumber == 0) ,'col-md-6 col-sm-6 col-xs-12 padding0':true }">
                                            <div class="hf-txt receiptNumber-input">
                                                <input type="text" [ngClass]="'form-control fm-txt'" myAutofocus
                                                    name="receiptNumber" [readonly]="true"
                                                    [(ngModel)]="model.receiptNumber" #receiptNumber="ngModel"
                                                    id="receiptNumber" maxlength="10"
                                                    title="{{defaultAddFormValues[0]['helpMessage']}}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 padding-rt-0">
                                            <ng-select [allowClear]="false" [active]="activeReceiptNumber"
                                                [items]="arrReceiptNumber" [disabled]="false"
                                                (data)="bindSelectedItem($event,'ReceiptNumber')"
                                                placeholder="{{select}}"
                                                title="{{defaultAddFormValues[0]['helpMessage']}}">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="f.submitted && (receiptNumber.invalid || receiptNumber == 0)">
                                            <div class='error-msg' *ngIf="receiptNumber.errors.required">
                                                {{defaultAddFormValues[0]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value outer ENds -->

                                </div><!-- form row Ends -->

                                <div *ngIf="defaultAddFormValues[1]['readAccess']"
                                    [ngClass]="{ 'has-error': f.submitted && !receiptDescription.valid,'form-row':true }">
                                    <div class="label-outer">
                                        <label
                                            for="receiptDescription">{{defaultAddFormValues[1]['fieldValue']}}</label>
                                    </div>
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="receiptDescription"
                                            [(ngModel)]="model.receiptDescription"
                                            [readonly]="!defaultAddFormValues[1]['writeAccess']"
                                            #receiptDescription="ngModel" id="receiptDescription"
                                            title="{{defaultAddFormValues[1]['helpMessage']}}" maxlength="61" required>
                                        <div *ngIf="f.submitted && receiptDescription.invalid">
                                            <div class='error-msg' *ngIf="receiptDescription.errors.required">
                                                {{defaultAddFormValues[1]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value outer ENds -->
                                </div><!-- Form Row Ends -->

                                <div class="form-row">
                                    <div *ngIf="defaultAddFormValues[10]['readAccess']"
                                        [ngClass]="{ 'has-error form-row': f.submitted && !paymentMethod.valid,'':true }">
                                        <div class="label-outer">
                                            <label for="">{{defaultAddFormValues[10]['fieldValue']}}</label>
                                        </div><!-- Label Outer Ends -->
                                        <div class="value-outer">
                                            <select [ngClass]="'form-control'" id="paymentMethod" name="paymentMethod"
                                                [(ngModel)]="model.paymentMethod" #paymentMethod="ngModel"
                                                title="{{defaultAddFormValues[10]['helpMessage']}}" required (change)="changePaymentMethod(paymentMethod)">
                                                <option *ngFor="let paymentMethod of arrPaymentMethod"
                                                    [value]="paymentMethod.typeId">
                                                    {{paymentMethod.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="f.submitted && paymentMethod.invalid">
                                                <div class='error-msg' *ngIf="paymentMethod.errors.required">
                                                    {{defaultAddFormValues[10]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>

                                            </div><!-- Value Outer ENds -->
                                        </div> <!-- BT Row  End -->
                                    </div><!-- Form Row Ends -->
                                </div>

                                <div class="form-row">
                                    <div>
                                        <div class="label-outer">
                                            <label for="">Audit Trial</label>
                                        </div><!-- Label Outer Ends -->
                                        <div class="value-outer" >
                                            <input class="form-control" disabled="true" name="audtiTrial" [(ngModel)]="audtiTrial" />
                                        </div> <!-- BT Row  End -->
                                    </div><!-- Form Row Ends -->
                                </div>
                                
                                <div class="form-row" *ngIf="defaultAddFormValues[28]['readAccess']">
                                    <div class="label-outer">
                                        <label for="glBatchId">{{defaultAddFormValues[28]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <ng-select [allowClear]="false" [active]="activeBatch" [items]="arrBatchList"
                                            [disabled]="false" (data)="bindSelectedItem($event,'Batch')"
                                            title="{{defaultAddFormValues[28]['helpMessage']}}">
                                        </ng-select>

                                    </div><!-- Value Outer Ends -->
                                </div>

                                <div *ngIf="defaultAddFormValues[3]['readAccess']"
                                    [ngClass]="{ 'has-error': f.submitted && activeCurrency[0].id == '0','form-row':true }">
                                    <div class="bt-row">
                                        <div class="label-outer">
                                            <label for="currencyID">{{defaultAddFormValues[3]['fieldValue']}}</label>
                                        </div>
                                        <div class="value-outer">
                                            <div class="col-md-11 col-sm-11 col-xs-11 padding-lt-0">
                                                <ng-select [allowClear]="false" [active]="activeCurrency"
                                                    [items]="arrCurrency" [disabled]="false"
                                                    (data)="bindSelectedItem($event,'Currency')"
                                                    title="{{defaultAddFormValues[3]['helpMessage']}}">
                                                </ng-select>
                                                <div *ngIf="f.submitted && activeCurrency[0].id == '0'">
                                                    <div class='error-msg'>
                                                        {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                    </div>
                                                </div>
                                            </div>
                                            <a (click)="openModel(exchangeRateDetail,'exchangeRateDetail')"><i
                                                    class="fa fa-arrow-right" aria-hidden="true"></i></a>

                                            <!-- <input type="text" [ngClass]="'form-control fm-txt'" name="currencyID" [(ngModel)]="model.currencyID" 
                                    #currencyID="ngModel" id="currencyID" title="{{defaultAddFormValues[3]['helpMessage']}}" required>
                                    <div *ngIf="f.submitted && currencyID.invalid">
                                        <div class='error-msg' *ngIf="currencyID.errors.required">
                                            {{defaultAddFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                        </div>
                                    </div> -->
                                        </div><!-- Value outer ENds -->
                                    </div><!-- Form Row Ends -->
                                </div>



                                <div *ngIf="defaultAddFormValues[4]['readAccess']"
                                    [ngClass]="{'has-error': f.submitted && !receiptDate.valid,'dob-row  dob--inner form-row':true}">
                                    <div class="label-outer">
                                        <label>{{defaultAddFormValues[4]['fieldValue']}}</label>
                                    </div>
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="receiptDate"
                                            [(ngModel)]="model.receiptDate" (dateChanged)="onDateChanged($event)"
                                            ngx-mydatepicker #dp="ngx-mydatepicker" [options]="myOptions"
                                            #receiptDate="ngModel" id="receiptDate"
                                            title="{{defaultAddFormValues[4]['helpMessage']}}" required readonly>
                                        <span class="input-group-btn db--date">
                                            <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                                                <i class="glyphicon glyphicon-remove"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                        <div *ngIf="f.submitted && receiptDate.invalid">
                                            <div class='error-msg' *ngIf="receiptDate.errors.required">
                                                {{defaultAddFormValues[4]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div>


<!--                                 <div class="form-row">
                                    <div *ngIf="defaultAddFormValues[5]['readAccess']"
                                        [ngClass]="{ 'has-error form-row': f.submitted && !receiptType.valid,' ':true }">

                                        <div class="label-outer">
                                            <label for="">{{defaultAddFormValues[5]['fieldValue']}}</label>
                                        </div> Label Outer Ends 
                                        <div class="value-outer">
                                            <select [ngClass]="'form-control'" name="receiptType"
                                                [(ngModel)]="model.receiptType" #receiptType="ngModel"
                                                title="{{defaultAddFormValues[5]['helpMessage']}}" required>
                                                <option *ngFor="let receiptType of arrReceiptType"
                                                    [value]="receiptType.typeId">
                                                    {{receiptType.name}}
                                                </option>
                                            </select>
                                            <div *ngIf="f.submitted && receiptType.invalid">
                                                <div class='error-msg' *ngIf="receiptType.errors.required">
                                                    {{defaultAddFormValues[5]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div>
                                        </div> Value Outer ENds 

                                    </div> Row  Ends 
                                </div> -->

                                <div *ngIf="defaultAddFormValues[6]['readAccess']"
                                    [ngClass]="{ 'has-error': f.submitted && !depositorName.valid,'form-row':true }">

                                    <div class="label-outer">
                                        <label for="depositorName">{{defaultAddFormValues[6]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="depositorName"
                                            [(ngModel)]="model.depositorName"
                                            [readonly]="!defaultAddFormValues[6]['writeAccess']"
                                            #depositorName="ngModel" id="depositorName"
                                            title="{{defaultAddFormValues[6]['helpMessage']}}" required>
                                        <div *ngIf="f.submitted && depositorName.invalid">
                                            <div class='error-msg' *ngIf="depositorName.errors.required">
                                                {{defaultAddFormValues[6]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value Outer ENds -->

                                </div><!-- Form Row  Ends -->


                                <div *ngIf="model.receiptType == '' || model.receiptType == 1"
                                    [ngClass]="{ 'has-error': f.submitted && activeCustomer[0].id == '0','form-row':true }">

                                    <div class="label-outer">
                                        <label for="customerId">{{defaultAddFormValues[7]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <div class="col-md-4 col-sm-4 col-xs-4 padding0">
                                            <ng-select [allowClear]="false" [active]="activeCustomer"
                                                [items]="arrCustomer" [disabled]="false"
                                                (data)="bindSelectedItem($event,'Customer')"
                                                title="{{defaultAddFormValues[7]['helpMessage']}}">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 padding-rt-0">
                                            <div class="disable-input">
                                                <input type="text" class="form-control" name="customerName"
                                                    [(ngModel)]="customerName"
                                                    [readonly]="!defaultAddFormValues[7]['writeAccess']" disabled>
                                            </div>
                                        </div>
                                        <div *ngIf="f.submitted && activeCustomer[0].id == '0'">
                                            <div class='error-msg'>
                                                {{defaultAddFormValues[7]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value Outer ENds -->

                                </div><!-- BT Row  Ends -->

                                <div *ngIf="model.receiptType == 2"
                                    [ngClass]="{ 'has-error': f.submitted && activeVendor[0].id == '0','form-row':true }">
                                    <div class="label-outer">
                                        <label for="vendorId">{{defaultAddFormValues[29]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <div class="col-md-4 col-sm-4 col-xs-4 padding0">
                                            <ng-select [allowClear]="false" [active]="activeVendor" [items]="arrVendor"
                                                [disabled]="false" (data)="bindSelectedItem($event,'Vendor')"
                                                title="{{defaultAddFormValues[29]['helpMessage']}}">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 padding-rt-0">
                                            <div class="disable-input">
                                                <input type="text" class="form-control" name="vendorName"
                                                    [(ngModel)]="vendorName"
                                                    [readonly]="!defaultAddFormValues[29]['writeAccess']" disabled>
                                            </div>
                                        </div>
                                        <div *ngIf="f.submitted && activeVendor[0].id == '0'">
                                            <div class='error-msg'>
                                                {{defaultAddFormValues[29]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value Outer ENds -->

                                </div><!-- BT Row  Ends -->

                                <div *ngIf="model.receiptType== '1' || model.receiptType== '2'"
                                    [ngClass]="{'form-row':true }">

                                    <div class="label-outer">
                                        <label for="accountNumber">{{defaultAddFormValues[8]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <div class="col-md-4 col-sm-4 col-xs-4 padding0">
                                            <ng-select [allowClear]="false" [active]="activeAccountNumber"
                                                [items]="arrAccountNumber"  [disabled]="false" (keyup.enter)="openSearchModal($event)"
                                                (data)="bindSelectedItem($event,'AccountNumber')"
                                                title="{{defaultAddFormValues[8]['helpMessage']}}">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 padding-rt-0">
                                            <div class="disable-input">
                                                <input type="text" class="form-control" [(ngModel)]="accountDescription"
                                                    [readonly]="!defaultAddFormValues[8]['writeAccess']"
                                                    name="accountDescription"  disabled>
                                            </div>
                                        </div>
                                        <!-- <div *ngIf="f.submitted  && activeAccountNumber[0].id == '0' && model.receiptType== '3'">
                    <div class='error-msg'>
                        {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                    </div>
                </div> -->
                                    </div><!-- Value Outer ENds -->
                                </div> <!-- BT Row  Ends -->
                                <div *ngIf="model.receiptType== '3' || model.receiptType== ''"
                                    [ngClass]="{ 'has-error': f.submitted && activeAccountNumber[0].id == '0'  && model.receiptType== '3','form-row':true }">

                                    <div class="label-outer">
                                        <label for="accountNumber">{{defaultAddFormValues[8]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <div class="col-md-4 col-sm-4 col-xs-4 padding0">
                                            <ng-select [allowClear]="false" [active]="activeAccountNumber"
                                                [items]="arrAccountNumber" [disabled]="false" id="accountNumber" (keyup.enter)="openSearchModal($event)"
                                                (data)="bindSelectedItem($event,'AccountNumber')"
                                                title="{{defaultAddFormValues[8]['helpMessage']}}">
                                            </ng-select>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-8 padding-rt-0">
                                            <div class="disable-input">
                                                <input type="text" class="form-control" [(ngModel)]="accountDescription"
                                                    [readonly]="!defaultAddFormValues[8]['writeAccess']"
                                                    name="accountDescription" disabled>
                                            </div>
                                        </div>
                                        <div
                                            *ngIf="f.submitted  && activeAccountNumber[0].id == '0' && model.receiptType== '3'">
                                            <div class='error-msg'>
                                                {{defaultAddFormValues[8]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value Outer ENds -->
                                </div> <!-- BT Row  Ends -->

<!--                                 <div *ngIf="defaultAddFormValues[9]['readAccess']"
                                    [ngClass]="{ 'has-error': f.submitted && activeVat[0].id == '0','form-row':true }">

                                    <div class="label-outer">
                                        <label for="vatScheduleID">{{defaultAddFormValues[9]['fieldValue']}}</label>
                                    </div> Label Outer Ends
                                    <div class="value-outer">
                                        <ng-select [allowClear]="false" [active]="activeVat" [items]="arrVat"
                                            [disabled]="false" (data)="bindSelectedItem($event,'Vat')"
                                            title="{{defaultAddFormValues[9]['helpMessage']}}">
                                        </ng-select>
                                        <div *ngIf="f.submitted  && activeVat[0].id == '0'">
                                            <div class='error-msg'>
                                                {{defaultAddFormValues[9]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value Outer ENds
                                </div> <!-- BT Row  Ends -->



                                <div *ngIf="defaultAddFormValues[18]['readAccess']"
                                    [ngClass]="{ 'has-error': f.submitted && !receiptAmount.valid,'form-row':true }">

                                    <div class="label-outer">
                                        <label for="receiptAmount">{{defaultAddFormValues[18]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="receiptAmount"
                                            [(ngModel)]="model.receiptAmount" #receiptAmount="ngModel"
                                            id="receiptAmount" [readonly]="!defaultAddFormValues[18]['writeAccess']"
                                            title="{{defaultAddFormValues[18]['helpMessage']}}" OnlyNumber="true"
                                            (ngModelChange)="getreceiptAmountValue($event)"
                                            (focus)='formatreceiptAmountChanged()'
                                            (blur)="CalculateTaxAmount('ReceiptAmount'); formatreceiptAmount()"
                                            required>
                                        <div *ngIf="f.submitted && receiptAmount.invalid">
                                            <div class='error-msg' *ngIf="receiptAmount.errors.required">
                                                {{defaultAddFormValues[18]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value Outer ENds -->

                                </div><!-- Form Row Ends -->



<!--                                 <div *ngIf="defaultAddFormValues[19]['readAccess']"
                                    [ngClass]="{ 'has-error': f.submitted && !vatAmount.valid,'form-row':true }">

                                    <div class="label-outer">
                                        <label for="vatAmount">{{defaultAddFormValues[19]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends 
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="vatAmount"
                                            [(ngModel)]="model.vatAmount"
                                            [readonly]="!defaultAddFormValues[19]['writeAccess']" #vatAmount="ngModel"
                                            id="vatAmount" (blur)="CalculateTaxAmount('TaxAmount'); formatVatAmount()"
                                            title="{{defaultAddFormValues[19]['helpMessage']}}" OnlyNumber="true"
                                            (keydown)="onlyDecimalNumberKey($event)"
                                            (ngModelChange)="getvatAmountValue($event)"
                                            (focus)='formatvatAmountChanged()' required>
                                        <div *ngIf="f.submitted && vatAmount.invalid">
                                            <div class='error-msg' *ngIf="vatAmount.errors.required">
                                                {{defaultAddFormValues[19]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> 
                                    </div><!-- Value Outer ENds 

                                </div><!-- Form Row Ends -->

                                <div class="form-row" *ngIf="defaultAddFormValues[20]['readAccess']">
                                    <div class="form-row">
                                        <div class="label-outer">
                                            <label>{{defaultAddFormValues[20]['fieldValue']}}</label>
                                        </div><!-- Label Outer Ends -->
                                        <div class="value-outer">
                                            <input type="text" [ngClass]="'form-control fm-txt'" name="totalReceipt"
                                                [(ngModel)]="totalReceipt" id="totalReceipt"
                                                title="{{defaultAddFormValues[20]['helpMessage']}}" OnlyNumber="true"
                                                (keydown)="onlyDecimalNumberKey($event)" readonly>
                                        </div><!-- Value Outer ENds -->
                                    </div><!-- Form Row Ends -->
                                </div><!-- Form Row Ends -->


                            </div>

                            <div class='col-md-6 col-sm-6 col-xs-12'>

                                <div class="form-row">
                                </div>
                                <div class="form-row">
                                </div>
                                <div class="form-row">
                                </div>
                                <div [ngClass]="{ 'has-error': f.submitted && activeAccountNumberDebit[0].id == '0','form-row':true }"
                                    *ngIf="model.paymentMethod == 1">
                                    <div class="label-outer">
                                        <label for="accountNumberDebit">{{defaultAddFormValues[8]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <div class="col-md-12 col-sm-12 col-xs-12 padding0">
                                            <ng-select [allowClear]="false" [active]="activeAccountNumberDebit"
                                                [items]="arrAccountNumberDebit" id="accountNumberDebit" [disabled]="false" (keyup.enter)="openSearchModal($event)"
                                                (data)="bindSelectedItem($event,'accountNumberDebit')"
                                                title="{{defaultAddFormValues[8]['fieldValue']}}">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="f.submitted && activeAccountNumberDebit[0].id == '0'">
                                            <div class='error-msg'>
                                                {{defaultAddFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value Outer ENds -->
                                    <input type="text" class="form-control" [(ngModel)]="accountDebitDescription"
                                    [readonly]="!defaultAddFormValues[8]['writeAccess']"
                                    name="accountDebitDescription" disabled>
                                </div><!-- BT Row  Ends -->
                                <div [ngClass]="{ 'has-error': f.submitted && !checkNumber.valid,'form-row':true }"
                                    *ngIf="model.paymentMethod == 2">
                                    <div class="label-outer">
                                        <label for="checkNumber">{{defaultAddFormValues[11]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="checkNumber"
                                            [(ngModel)]="model.checkNumber" #checkNumber="ngModel" id="checkNumber"
                                            title="{{defaultAddFormValues[11]['helpMessage']}}" required>
                                        <div *ngIf="f.submitted && checkNumber.invalid">
                                            <div class='error-msg' *ngIf="checkNumber.errors.required">
                                                {{defaultAddFormValues[11]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div><!-- Value Outer ENds -->
                                    </div> <!-- BT Row  Ends -->
                                </div><!-- Form Row Ends -->



                                <div [ngClass]="{ 'has-error': f.submitted && !bankName.valid,'form-row':true }"
                                    *ngIf="model.paymentMethod == 2 || model.paymentMethod == 4 ">
                                    <div class="label-outer">
                                        <label for="bankName">{{defaultAddFormValues[12]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="bankName"
                                            [(ngModel)]="model.bankName" #bankName="ngModel" id="bankName"
                                            title="{{defaultAddFormValues[12]['helpMessage']}}" required>
                                        <div *ngIf="f.submitted && bankName.invalid">
                                            <div class='error-msg' *ngIf="bankName.errors.required">
                                                {{defaultAddFormValues[12]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>

                                        </div><!-- Value Outer ENds -->
                                    </div> <!-- BT Row  Ends -->
                                </div><!-- Form Row Ends -->


                                <div [ngClass]="{ 'has-error': f.submitted && activeCreditCard[0].id == '0','form-row':true }"
                                    *ngIf="model.paymentMethod == 3">
                                    <div class="label-outer">
                                        <label for="creditCardID">{{defaultAddFormValues[13]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <div class="col-md-12 col-sm-12 col-xs-12 padding0">
                                            <ng-select [allowClear]="false" [active]="activeCreditCard"
                                                [items]="arrCreditCard" [disabled]="false"
                                                (data)="bindSelectedItem($event,'CreditCard')"
                                                title="{{defaultAddFormValues[13]['helpMessage']}}">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="f.submitted && activeCreditCard[0].id == '0'">
                                            <div class='error-msg'>
                                                {{defaultAddFormValues[13]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value Outer ENds -->

                                </div><!-- BT Row  Ends -->


                                <div [ngClass]="{ 'has-error': f.submitted && !creditCardNumber.valid,'form-row':true }"
                                    *ngIf="model.paymentMethod == 3">
                                    <div class="label-outer">
                                        <label for="creditCardNumber">{{defaultAddFormValues[14]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <input type="text" [ngClass]="'form-control fm-txt'" name="creditCardNumber"
                                            [(ngModel)]="model.creditCardNumber" maxlength="21"
                                            #creditCardNumber="ngModel" id="creditCardNumber"
                                            title="{{defaultAddFormValues[14]['helpMessage']}}" required>
                                        <div *ngIf="f.submitted && creditCardNumber.invalid">
                                            <div class='error-msg' *ngIf="creditCardNumber.errors.required">
                                                {{defaultAddFormValues[14]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div><!-- Value Outer ENds -->


                                </div><!-- Form Row Ends -->


                                <div>
                                    <div *ngIf="model.paymentMethod == 2 || model.paymentMethod == 4 "
                                        [ngClass]="{ 'has-error': f.submitted && activeCheckbook[0].id == '0','form-row':true }">
                                        <div class="label-outer">
                                            <label for="checkBookId">{{defaultAddFormValues[2]['fieldValue']}}</label>
                                        </div>
                                        <div class="value-outer">
                                            <!-- <input type="text" [ngClass]="'form-control fm-txt'" name="checkBookId" [(ngModel)]="model.checkBookId" 
                                        #checkBookId="ngModel" id="checkBookId" title="{{defaultAddFormValues[2]['helpMessage']}}" required>
                                        <div *ngIf="f.submitted && checkBookId.invalid">
                                            <div class='error-msg' *ngIf="checkBookId.errors.required">
                                                {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div> -->
                                            <div class="col-md-4 col-sm-4 col-xs-4 padding0">
                                                <ng-select [allowClear]="false" [active]="activeCheckbook"
                                                    [items]="arrCheckbook" [disabled]="false"
                                                    (data)="bindSelectedItem($event,'Checkbook')"
                                                    title="{{defaultAddFormValues[2]['helpMessage']}}">
                                                </ng-select>
                                            </div>
                                            <div class="col-md-8 col-sm-8 col-xs-8 padding-rt-0">
                                                <div class="disable-input">
                                                    <input type="text" class="form-control"
                                                        [readonly]="!defaultAddFormValues[2]['writeAccess']"
                                                        name="checkBookDescription" [(ngModel)]="checkBookDescription"
                                                        disabled>
                                                </div>
                                            </div>

                                            <div *ngIf="f.submitted && activeCheckbook[0].id == '0'">
                                                <div class='error-msg'>
                                                    {{defaultAddFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                </div>
                                            </div><!-- Value outer ENds -->
                                        </div><!-- Form Row Ends -->
                                    </div>
                                    <div [ngClass]="{ 'has-error': f.submitted && !creditCardExpireMonth.valid,'form-row':true }"
                                        *ngIf="model.paymentMethod == 3">
                                        <div class="bt-row">
                                            <div class="label-outer">
                                                <label for="">{{defaultAddFormValues[15]['fieldValue']}}</label>
                                            </div><!-- Label Outer Ends -->
                                            <div class="value-outer">

                                                <div class="col-md-6 col-sm-6 col-xs-12 padding0">
                                                    <div class="hf-txt Expire-Date-input">
                                                        <span
                                                            class="dm">{{defaultAddFormValues[16]['fieldValue']}}</span>
                                                        <input type="text" [ngClass]="'form-control fm-txt'"
                                                            name="creditCardExpireMonth"
                                                            [(ngModel)]="model.creditCardExpireMonth"
                                                            (blur)="checkMonthValue()" #creditCardExpireMonth="ngModel"
                                                            id="creditCardExpireMonth" maxlength="2" OnlyNumber="true"
                                                            (keydown)="onlyDecimalNumberKey($event)"
                                                            title="{{defaultAddFormValues[16]['helpMessage']}}"
                                                            required>
                                                        <div *ngIf="f.submitted && creditCardExpireMonth.invalid">
                                                            <div class='error-msg'
                                                                *ngIf="creditCardExpireMonth.errors.required">
                                                                {{defaultAddFormValues[16]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                            </div>
                                                        </div>
                                                    </div><!-- Half Text Ends -->
                                                </div>
                                                <div [ngClass]="{ 'has-error': f.submitted && !creditCardExpireYear.valid,'col-md-6 col-sm-6 col-xs-12  padding0':true }"
                                                    *ngIf="model.paymentMethod == 3">
                                                    <div class="hf-txt Expire-Date-input">
                                                        <span
                                                            class="dm">{{defaultAddFormValues[17]['fieldValue']}}</span>
                                                        <input type="text" [ngClass]="'form-control fm-txt'"
                                                            name="creditCardExpireYear"
                                                            [(ngModel)]="model.creditCardExpireYear" maxlength="4"
                                                            #creditCardExpireYear="ngModel" id="creditCardExpireYear"
                                                            OnlyNumber="true" (keydown)="onlyDecimalNumberKey($event)"
                                                            title="{{defaultAddFormValues[17]['helpMessage']}}"
                                                            required>
                                                        <div *ngIf="f.submitted && creditCardExpireYear.invalid">
                                                            <div class='error-msg'
                                                                *ngIf="creditCardExpireYear.errors.required">
                                                                {{defaultAddFormValues[17]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                                            </div>
                                                        </div>
                                                    </div><!-- Half Text Ends -->
                                                </div><!-- BT Row Ends -->
                                            </div>
                                        </div>
                                    </div>
                                    <!--</div>-->
                                </div><!-- Form Row Ends -->

                                <div class="form-row">
                                </div>

                                <div class="form-row">
                                </div>

                                <div class="form-row">
                                </div>

                                <div class="form-row">
                                </div>

                                <div class="form-row">
                                </div>
                            </div>

                            <div class="form-row" *ngIf="!isScreenLock">
                                <div class="button-row">
                                    <div class="col-sm-12">
                                        <input type="button" class="blue-btn"
                                            title="{{defaultAddFormValues[21]['helpMessage']}}"
                                            value="{{defaultAddFormValues[21]['fieldValue']}}"
                                            (click)="openModel(cashReceiptEntryDistribution,'cashReceiptEntryDistribution')" />
                                    </div>
                                </div><!-- Buton Row Ends -->
                            </div><!-- Form Row Ends -->

                            <div class="form-row">
                                <div class="button-row">
                                    <div class="col-sm-12" *ngIf="!isScreenLock">
                                        <input type="button" class="blue-btn"
                                            title="{{defaultAddFormValues[22]['helpMessage']}}"
                                            value="{{defaultAddFormValues[22]['fieldValue']}}" (click)="varifyDelete()"
                                            [disabled]="!this.isModify" />
                                        <input type="submit" class="blue-btn"
                                            title="{{defaultAddFormValues[24]['helpMessage']}}"
                                            value="{{defaultAddFormValues[24]['fieldValue']}}"
                                            (click)="PostCashReceipt(f,exchangeRateDetail)" [disabled]="btndisabled" />
                                        <input type="submit" class="orange-btn"
                                            title="{{defaultAddFormValues[25]['helpMessage']}}"
                                            value="{{defaultAddFormValues[25]['fieldValue']}}"
                                            (click)="SaveUpdateCashReceipt(f,exchangeRateDetail)"
                                            [disabled]="btndisabled" />
                                        <input type="button" class="blue-btn"
                                            title="{{defaultAddFormValues[26]['helpMessage']}}"
                                            value="{{defaultAddFormValues[26]['fieldValue']}}" (click)="print()" />
                                        <input type="button" class="blue-btn"
                                            title="{{defaultAddFormValues[27]['helpMessage']}}"
                                            value="{{defaultAddFormValues[27]['fieldValue']}}" (click)="clear(f)" />
                                        <input type="button" class="blue-btn" *ngIf="showBtns" (click)="Cancel(f)"
                                            title="{{btnCancelText}}" value="{{btnCancelText}}" />
                                    </div>
                                </div><!-- Buton Row Ends -->
                            </div><!-- Form Row Ends -->

                        </div><!-- Form Row Ends -->
                    </form>
                </div>
            </div><!-- Form Row Ends -->
        </section>
    </section>

    <modal #cashReceiptEntryDistribution id="cashReceiptEntryDistribution" [closeOnEscape]="false"
        [closeOnOutsideClick]="false" [hideCloseButton]="false" modalClass="modal-lg">
        <modal-header>
            {{distributionScreenModuleName}}
        </modal-header>
        <modal-content>
            <div class="content-outer com-form">
                <div class="row">
                    <!-- <form name="distributionEntry" (ngSubmit)="!hasMsg && arrDistributionEntry.form.valid && SaveCashReceiptEntryDistribution(distributionEntry)" #distributionEntry="ngForm" novalidate> -->
                    <!--<div class="content-wrapper user-view" >-->
                    <!-- {{arrDistributionEntry | json}} -->
                    <section class="content">
                        <section class="inner-content">
                            <div class="content-outer com-form">
                                <div class="row">
                                    <div class="form-row" *ngIf="defaultDistributionFormValues[0]['readAccess']">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="bt-row">
                                                <div class="label-outer">
                                                    <label>{{defaultDistributionFormValues[0]['fieldValue']}}</label>
                                                </div>
                                                <div class="value-outer">
                                                    <input type="text" [readonly]="true"
                                                        [ngClass]="'form-control fm-txt'" name="receiptNumber"
                                                        [(ngModel)]="arrDistributionEntry.receiptNumber"
                                                        title="{{defaultDistributionFormValues[0]['helpMessage']}}">
                                                </div><!-- Value outer ENds -->
                                            </div><!-- Bt row Ends -->
                                        </div>
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row" *ngIf="defaultDistributionFormValues[1]['readAccess']">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="bt-row">
                                                <div class="label-outer">
                                                    <label>{{defaultDistributionFormValues[1]['fieldValue']}}</label>
                                                </div><!-- Label Outer Ends -->
                                                <div class="value-outer">
                                                    <input type="text" [readonly]="true"
                                                        [ngClass]="'form-control fm-txt'" name="transactionType2"
                                                        [(ngModel)]="arrDistributionEntry.transactionType"
                                                        title="{{defaultDistributionFormValues[1]['helpMessage']}}">
                                                </div><!-- Value Outer ENds -->
                                            </div> <!-- BT Row  Ends -->
                                        </div>
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row" *ngIf="defaultDistributionFormValues[2]['readAccess']">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="bt-row">
                                                <div class="label-outer">
                                                    <label>{{defaultDistributionFormValues[2]['fieldValue']}}</label>
                                                </div><!-- Label Outer Ends -->
                                                <div class="value-outer">
                                                    <input type="text" [readonly]="true"
                                                        [ngClass]="'form-control fm-txt'"
                                                        name="arrDistributionEntry.depositorName"
                                                        [(ngModel)]="arrDistributionEntry.depositorName"
                                                        title="{{defaultDistributionFormValues[2]['helpMessage']}}">
                                                </div><!-- Value Outer ENds -->
                                            </div> <!-- BT Row  Ends -->
                                        </div>
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row" *ngIf="defaultDistributionFormValues[3]['readAccess']">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="bt-row">
                                                <div class="label-outer">
                                                    <label>{{defaultDistributionFormValues[3]['fieldValue']}}</label>
                                                </div><!-- Label Outer Ends -->
                                                <div class="value-outer">
                                                    <input type="text" [readonly]="true"
                                                        [ngClass]="'form-control fm-txt'" name="checkBookId2"
                                                        [(ngModel)]="arrDistributionEntry.checkBookId"
                                                        title="{{defaultDistributionFormValues[3]['helpMessage']}}">
                                                </div><!-- Value Outer ENds -->
                                            </div> <!-- BT Row  Ends -->
                                        </div>
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row">
                                        <div class="col-xs-12">
                                            <div class="algo-table">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th width="25%">
                                                                    {{defaultDistributionFormValues[4]['fieldValue']}}
                                                                </th>
                                                                <th width="25%">
                                                                    {{defaultDistributionFormValues[5]['fieldValue']}}
                                                                </th>
                                                                <th width="25%">
                                                                    {{defaultDistributionFormValues[6]['fieldValue']}}
                                                                </th>
                                                                <th width="25%">
                                                                        {{defaultDistributionFormValues[7]['fieldValue']}}
                                                                    </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>{{arrDistributionEntry.accountDetailDebit.accountNumber}}
                                                                </td>
                                                                <td>{{arrDistributionEntry.accountDetailDebit.accountDescription}}
                                                                </td>
                                                                <td>{{arrDistributionEntry.accountDetailDebit.debitAmount}}</td>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>{{arrDistributionEntry.accountDetailCredit.accountNumber}}
                                                                </td>
                                                                <td>{{arrDistributionEntry.accountDetailCredit.accountDescription}}
                                                                </td>
                                                                <td>
                                                                </td>
                                                                <td>{{arrDistributionEntry.accountDetailCredit.creditAmount}}</td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div><!-- Algo Table Ends -->
                                        </div>
                                    </div><!-- Form Row Ends -->
                                    <div class="form-row">
                                        <div class="button-row">
                                            <div class="col-sm-12" *ngIf="!isScreenLock">
                                                <input type="button" class="orange-btn"
                                                    value="{{defaultDistributionFormValues[8]['fieldValue']}}"
                                                    title="{{defaultDistributionFormValues[8]['helpMessage']}}"
                                                    [disabled]="!arrDistributionEntry.receiptNumber"
                                                    (click)="SaveCashReceiptEntryDistribution(cashReceiptEntryDistribution);" />
                                            </div>
                                        </div><!-- Buton Row Ends -->
                                    </div><!-- Form Row Ends -->
                                </div>
                            </div><!-- Form Row Ends -->
                        </section>
                    </section>
                    <!--</div>-->
                    <!-- Content OUter Ends -->
                    <!-- </form> -->
                </div>
            </div><!-- Form Row Ends -->
        </modal-content>
    </modal>
    <modal #exchangeRateDetail id="exchangeRateDetail" [closeOnEscape]="false" [closeOnOutsideClick]="false"
        [hideCloseButton]="false" modalClass="modal-lg">
        <modal-header>
            {{exchangeRateScreenModuleName}}
        </modal-header>
        <modal-content>
            <div class="content-outer com-form">
                <div class="row">
                    <form (ngSubmit)="!hasMsg && f4.form.valid && SaveExchangeRateDetail(f4)" id="exchangeRateDetail"
                        #f4="ngForm" novalidate>
                        <div class="form-row" *ngIf="defaultExchangeRateFormValues[1]['readAccess']">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label>{{defaultExchangeRateFormValues[1]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <input type="text" [readonly]="true" [ngClass]="'form-control fm-txt'"
                                            name="currencyID" [(ngModel)]="model.currencyID" #currencyID="ngModel"
                                            maxlength="15" title="{{defaultExchangeRateFormValues[1]['helpMessage']}}">
                                    </div><!-- Value Outer ENds -->
                                </div><!-- Bt Row Ends -->
                            </div>
                        </div>
                        <div class="form-row" *ngIf="defaultExchangeRateFormValues[2]['readAccess']">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="bt-row">
                                    <div class="label-outer">
                                        <label>{{defaultExchangeRateFormValues[2]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer"
                                        [ngClass]="{ 'has-error': f.submitted && activeExchangeDetail[0].id == '0','':true }">

                                        <ng-select [allowClear]="false" [active]="activeExchangeDetail"
                                            [items]="arrExchangeDetail" [disabled]="false"
                                            (data)="bindSelectedItem($event,'ExchangeDetail')"
                                            title="{{defaultExchangeRateFormValues[2]['helpMessage']}}">
                                        </ng-select>

                                        <div *ngIf="f.submitted && activeExchangeDetail[0].id == '0'">
                                            <div class='error-msg'>
                                                {{defaultExchangeRateFormValues[2]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Bt Row Ends -->
                            </div><!-- Form Row Ends -->
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="bt-row" *ngIf="defaultExchangeRateFormValues[3]['readAccess']">
                                    <div class="label-outer">
                                        <label>{{defaultExchangeRateFormValues[3]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer"
                                        [ngClass]="{'has-error': f.submitted && !exchangeRate.valid,'':true}">

                                        <!-- <input  type="text" class="form-control fm-txt" required title="{{defaultExchangeRateFormValues[3]['helpMessage']}}"/> -->
                                        <input type="text" class="form-control fm-txt" name="exchangeRate"
                                            [(ngModel)]="model.exchangeRate"
                                            [readonly]="!defaultExchangeRateFormValues[3]['writeAccess']"
                                            #exchangeRate="ngModel" required
                                            title="{{defaultExchangeRateFormValues[3]['helpMessage']}}" />

                                        <div *ngIf="f.submitted && exchangeRate.invalid">
                                            <div class='error-msg' *ngIf="exchangeRate.errors.required">
                                                {{defaultExchangeRateFormValues[3]['listDtoFieldValidationMessage'][0]['validationMessage']}}
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- Bt Row Ends -->
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="bt-row" *ngIf="defaultExchangeRateFormValues[4]['readAccess']">
                                    <div class="label-outer">
                                        <label>{{defaultExchangeRateFormValues[4]['fieldValue']}}</label>
                                    </div><!-- Label Outer Ends -->
                                    <div class="value-outer">
                                        <input type="text" class="form-control fm-txt" readonly
                                            name="exchangeExpirationDate" [(ngModel)]="model.exchangeExpirationDate"
                                            #exchangeExpirationDate="ngModel" required
                                            title="{{defaultExchangeRateFormValues[4]['helpMessage']}}" />
                                    </div><!-- Value Outer ENds -->
                                </div><!-- Bt Row Ends -->
                            </div>
                        </div><!-- Form Row Ends -->

                        <div class="form-row">
                            <div class="button-row">
                                <div class="col-sm-12">
                                    <input type="submit" title="{{defaultExchangeRateFormValues[5]['helpMessage']}}"
                                        (click)="exchangeRateDetail.close()" class="orange-btn-sm"
                                        *ngIf="defaultExchangeRateFormValues[5]['readAccess']"
                                        value="{{defaultExchangeRateFormValues[5]['fieldValue']}}" />
                                    <!-- <button class="btn btn-primary close-button" (click)="exchangeRateDetail.close()">{{btnCancelText}}</button> -->
                                </div>
                            </div><!-- Buton Row Ends -->
                        </div><!-- Form Row Ends -->
                    </form>
                </div>
            </div><!-- Form Row Ends -->
        </modal-content>

    </modal>
</div><!-- Content OUter Ends -->

<button class="btn btn-primary" style="display:none" id="searchPopupButton" data-toggle="modal" data-target="#searchAccountNumber">Click ME</button>
<app-search-popup class="modal fade bd-example-modal-lg"
                  id="searchAccountNumber"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                  (messageEvent)="receiveMessage($event)"> 
</app-search-popup>