
<div class="content-wrapper user-view" >
                <section class="content">
                  <div class="section-heading"><h2>{{screenName}}</h2></div><!-- section Heading Ends -->
                  <section class="inner-content">
                      <div *ngIf="hasMsg" [ngClass]="{'col-md-12':true,'alert':true,'alert-success':isSuccessMsg,'alert-danger':isfailureMsg,'btiMsg':true,'showAlert':showMsg}">
                         {{messageText}}
                      </div>
                    <div class="content-outer com-form">
                      <div class="row">
                            <div class="form-row">
                          <div class="col-xs-12">
                            <div class="algo-table">
                                 <label *ngFor="let item of ageingByOptions">
                                     {{item.name}}
                                    <input type="radio" myAutofocus name="options" class="auto-focus" (click)="model.ageingBy = item.typeId" 
                                    [checked]="item.typeId === model.ageingBy">
                                    {{item.typeValue}}
                                </label>
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                    <tr> 
                                      <th width="30%">{{defaultAddFormValues[0]['fieldValue']}}</th>
                                      <th width="30%">{{defaultAddFormValues[1]['fieldValue']}}</th>
                                      <!--<th width="20%"> {{defaultAddFormValues[1]['fieldValue']}}</th>-->
                                      <th width="10%">{{defaultAddFormValues[2]['fieldValue']}}</th>
                                      <th width="10%">{{defaultAddFormValues[3]['fieldValue']}}</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                          <input type="text" myAutofocus id="txtdocType" title="{{defaultAddFormValues[0]['helpMessage']}}"  [ngClass]="'form-control fm-txt auto-focus'"  name="docType" [(ngModel)]="docType" maxlength="30" (blur)="validateArrValue('docType')" />
                                      </td>
                                      <td>
                                         <input type="text" id="txtdocumentTypeDescription" title="{{defaultAddFormValues[1]['helpMessage']}}"  [ngClass]="'form-control fm-txt'" name="documentTypeDescription" [(ngModel)]="documentTypeDescription" maxlength="30" (blur)="validateArrValue('documentTypeDescription')" /> 	
                                      </td>    
                                      <!--<td>
                                         <input type="text" id="txtArabicDescription"  [ngClass]="'form-control fm-txt'" name="documentTypeDescriptionArabic" [(ngModel)]="documentTypeDescriptionArabic" maxlength="30" (blur)="validateArrValue('documentTypeDescriptionArabic')"/> 	
                                      </td>    -->
                                       <td>
                                         <input type="text" id="txtdocumentCode" title="{{defaultAddFormValues[2]['helpMessage']}}"  [ngClass]="'form-control fm-txt'" name="documentCode" [(ngModel)]="documentCode" maxlength="30" (blur)="validateArrValue('documentCode')"  /> 	
                                      </td> 
                                       <td>
                                         <input type="text" id="txtdocumentNumber" title="{{defaultAddFormValues[3]['helpMessage']}}"  [ngClass]="'form-control fm-txt arabic-mode'" name="documentNumber" [(ngModel)]="documentNumber" maxlength="30" OnlyNumber="true"
                                         (keydown)="onlyDecimalNumberKey($event)"  [readonly]="isLatNumberDisable"/> 	
                                      <a  class="add-ico-tb"><i class="fa fa-plus-circle" aria-hidden="true"  (click)="validateArrValue('documentNumber')" ></i></a>
                                     </td> 
                                    </tr>
                                    <tr *ngFor="let doc of rmDocumentTypeList;let i = index" >
                                      <td>{{doc.docType }} </td>    
                                      <td>{{doc.documentTypeDescription }} </td>
                                      <!--<td>{{doc.documentTypeDescriptionArabic }} </td>-->
                                      <td>{{doc.documentCode }} </td>
                                      <td>{{doc.documentNumber }}
                                        <a  class="add-ico-tb"><i class="fa fa-minus-circle" aria-hidden="true"  (click)="RemoveArrValue(i)" ></i></a>
                                         </td>
                                    </tr>
                                  </tbody>
                                </table>
                                </div>
                              </div><!-- Algo Table Ends -->
                        </div>
                        </div><!-- Form Row Ends -->
                    <div class="button-row">
                      <div class="col-sm-12">
              <input type="submit" [disabled]="LockScreen(defaultAddFormValues[4]['writeAccess'])" class="orange-btn" (click)="CreateAccountReceivable()" title="{{defaultAddFormValues[4]['helpMessage']}}" value="{{defaultAddFormValues[4]['fieldValue']}}"/>
                          <input type="button" class="blue-btn" (click)="Clear()" title="{{defaultAddFormValues[5]['helpMessage']}}" value="{{defaultAddFormValues[5]['fieldValue']}}"/>
                        </div>

                    </div><!-- Buton Row Ends -->
                        </div>
                    </div><!-- Content OUter Ends -->
                  </section>
                </section>
            </div>
